{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2023-07-26",
    "endpointPrefix":"bedrock-agent-runtime",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Agents for Amazon Bedrock Runtime",
    "serviceId":"Bedrock Agent Runtime",
    "signatureVersion":"v4",
    "signingName":"bedrock",
    "uid":"bedrock-agent-runtime-2023-07-26",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "DeleteAgentMemory":{
      "name":"DeleteAgentMemory",
      "http":{
        "method":"DELETE",
        "requestUri":"/agents/{agentId}/agentAliases/{agentAliasId}/memories",
        "responseCode":202
      },
      "input":{"shape":"DeleteAgentMemoryRequest"},
      "output":{"shape":"DeleteAgentMemoryResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Deletes memory from the specified memory identifier.</p>",
      "idempotent":true
    },
    "GenerateQuery":{
      "name":"GenerateQuery",
      "http":{
        "method":"POST",
        "requestUri":"/generateQuery",
        "responseCode":200
      },
      "input":{"shape":"GenerateQueryRequest"},
      "output":{"shape":"GenerateQueryResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Generates an SQL query from a natural language query. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/knowledge-base-generate-query.html\">Generate a query for structured data</a> in the Amazon Bedrock User Guide.</p>"
    },
    "GetAgentMemory":{
      "name":"GetAgentMemory",
      "http":{
        "method":"GET",
        "requestUri":"/agents/{agentId}/agentAliases/{agentAliasId}/memories",
        "responseCode":200
      },
      "input":{"shape":"GetAgentMemoryRequest"},
      "output":{"shape":"GetAgentMemoryResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Gets the sessions stored in the memory of the agent.</p>"
    },
    "InvokeAgent":{
      "name":"InvokeAgent",
      "http":{
        "method":"POST",
        "requestUri":"/agents/{agentId}/agentAliases/{agentAliasId}/sessions/{sessionId}/text",
        "responseCode":200
      },
      "input":{"shape":"InvokeAgentRequest"},
      "output":{"shape":"InvokeAgentResponse"},
      "errors":[
        {"shape":"ModelNotReadyException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<note> <p>The CLI doesn't support streaming operations in Amazon Bedrock, including <code>InvokeAgent</code>.</p> </note> <p>Sends a prompt for the agent to process and respond to. Note the following fields for the request:</p> <ul> <li> <p>To continue the same conversation with an agent, use the same <code>sessionId</code> value in the request.</p> </li> <li> <p>To activate trace enablement, turn <code>enableTrace</code> to <code>true</code>. Trace enablement helps you follow the agent's reasoning process that led it to the information it processed, the actions it took, and the final result it yielded. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-test.html#trace-events\">Trace enablement</a>.</p> </li> <li> <p>To stream agent responses, make sure that only orchestration prompt is enabled. Agent streaming is not supported for the following steps: </p> <ul> <li> <p> <code>Pre-processing</code> </p> </li> <li> <p> <code>Post-processing</code> </p> </li> <li> <p>Agent with 1 Knowledge base and <code>User Input</code> not enabled</p> </li> </ul> </li> <li> <p>End a conversation by setting <code>endSession</code> to <code>true</code>.</p> </li> <li> <p>In the <code>sessionState</code> object, you can include attributes for the session or prompt or, if you configured an action group to return control, results from invocation of the action group.</p> </li> </ul> <p>The response is returned in the <code>bytes</code> field of the <code>chunk</code> object.</p> <ul> <li> <p>The <code>attribution</code> object contains citations for parts of the response.</p> </li> <li> <p>If you set <code>enableTrace</code> to <code>true</code> in the request, you can trace the agent's steps and reasoning process that led it to the response.</p> </li> <li> <p>If the action predicted was configured to return control, the response returns parameters for the action, elicited from the user, in the <code>returnControl</code> field.</p> </li> <li> <p>Errors are also surfaced in the response.</p> </li> </ul>"
    },
    "InvokeFlow":{
      "name":"InvokeFlow",
      "http":{
        "method":"POST",
        "requestUri":"/flows/{flowIdentifier}/aliases/{flowAliasIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"InvokeFlowRequest"},
      "output":{"shape":"InvokeFlowResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Invokes an alias of a flow to run the inputs that you specify and return the output of each node as a stream. If there's an error, the error is returned. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-test.html\">Test a flow in Amazon Bedrock</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p> <note> <p>The CLI doesn't support streaming operations in Amazon Bedrock, including <code>InvokeFlow</code>.</p> </note>"
    },
    "InvokeInlineAgent":{
      "name":"InvokeInlineAgent",
      "http":{
        "method":"POST",
        "requestUri":"/agents/{sessionId}",
        "responseCode":200
      },
      "input":{"shape":"InvokeInlineAgentRequest"},
      "output":{"shape":"InvokeInlineAgentResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p> Invokes an inline Amazon Bedrock agent using the configurations you provide with the request. </p> <ul> <li> <p>Specify the following fields for security purposes.</p> <ul> <li> <p>(Optional) <code>customerEncryptionKeyArn</code> – The Amazon Resource Name (ARN) of a KMS key to encrypt the creation of the agent.</p> </li> <li> <p>(Optional) <code>idleSessionTTLinSeconds</code> – Specify the number of seconds for which the agent should maintain session information. After this time expires, the subsequent <code>InvokeInlineAgent</code> request begins a new session.</p> </li> </ul> </li> <li> <p>To override the default prompt behavior for agent orchestration and to use advanced prompts, include a <code>promptOverrideConfiguration</code> object. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/advanced-prompts.html\">Advanced prompts</a>.</p> </li> <li> <p>The agent instructions will not be honored if your agent has only one knowledge base, uses default prompts, has no action group, and user input is disabled.</p> </li> </ul> <note> <p>The CLI doesn't support streaming operations in Amazon Bedrock, including <code>InvokeInlineAgent</code>.</p> </note>"
    },
    "OptimizePrompt":{
      "name":"OptimizePrompt",
      "http":{
        "method":"POST",
        "requestUri":"/optimize-prompt",
        "responseCode":200
      },
      "input":{"shape":"OptimizePromptRequest"},
      "output":{"shape":"OptimizePromptResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Optimizes a prompt for the task that you specify. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prompt-management-optimize.html\">Optimize a prompt</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
    },
    "Rerank":{
      "name":"Rerank",
      "http":{
        "method":"POST",
        "requestUri":"/rerank",
        "responseCode":200
      },
      "input":{"shape":"RerankRequest"},
      "output":{"shape":"RerankResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Reranks the relevance of sources based on queries. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/rerank.html\">Improve the relevance of query responses with a reranker model</a>.</p>"
    },
    "Retrieve":{
      "name":"Retrieve",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/retrieve",
        "responseCode":200
      },
      "input":{"shape":"RetrieveRequest"},
      "output":{"shape":"RetrieveResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Queries a knowledge base and retrieves information from it.</p>"
    },
    "RetrieveAndGenerate":{
      "name":"RetrieveAndGenerate",
      "http":{
        "method":"POST",
        "requestUri":"/retrieveAndGenerate",
        "responseCode":200
      },
      "input":{"shape":"RetrieveAndGenerateRequest"},
      "output":{"shape":"RetrieveAndGenerateResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Queries a knowledge base and generates responses based on the retrieved results and using the specified foundation model or <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/cross-region-inference.html\">inference profile</a>. The response only cites sources that are relevant to the query.</p>"
    },
    "RetrieveAndGenerateStream":{
      "name":"RetrieveAndGenerateStream",
      "http":{
        "method":"POST",
        "requestUri":"/retrieveAndGenerateStream",
        "responseCode":200
      },
      "input":{"shape":"RetrieveAndGenerateStreamRequest"},
      "output":{"shape":"RetrieveAndGenerateStreamResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Queries a knowledge base and generates responses based on the retrieved results, with output in streaming format.</p> <note> <p>The CLI doesn't support streaming operations in Amazon Bedrock, including <code>InvokeModelWithResponseStream</code>.</p> </note>"
    }
  },
  "shapes":{
    "APISchema":{
      "type":"structure",
      "members":{
        "payload":{
          "shape":"Payload",
          "documentation":"<p> The JSON or YAML-formatted payload defining the OpenAPI schema for the action group. </p>"
        },
        "s3":{
          "shape":"S3Identifier",
          "documentation":"<p> Contains details about the S3 object containing the OpenAPI schema for the action group. </p>"
        }
      },
      "documentation":"<p> Contains details about the OpenAPI schema for the action group. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-api-schema.html\">Action group OpenAPI schemas</a>. You can either include the schema directly in the payload field or you can upload it to an S3 bucket and specify the S3 bucket location in the s3 field. </p>",
      "union":true
    },
    "AWSResourceARN":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"^arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:agent/[0-9a-zA-Z]{10}$"
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>The request is denied because of missing access permissions. Check your permissions and retry your request.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "ActionGroupExecutor":{
      "type":"structure",
      "members":{
        "customControl":{
          "shape":"CustomControlMethod",
          "documentation":"<p> To return the action group invocation results directly in the <code>InvokeInlineAgent</code> response, specify <code>RETURN_CONTROL</code>. </p>"
        },
        "lambda":{
          "shape":"LambdaResourceArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the Lambda function containing the business logic that is carried out upon invoking the action. </p>"
        }
      },
      "documentation":"<p> Contains details about the Lambda function containing the business logic that is carried out upon invoking the action or the custom control method for handling the information elicited from the user. </p>",
      "union":true
    },
    "ActionGroupInvocationInput":{
      "type":"structure",
      "members":{
        "actionGroupName":{
          "shape":"ActionGroupName",
          "documentation":"<p>The name of the action group.</p>"
        },
        "apiPath":{
          "shape":"ApiPath",
          "documentation":"<p>The path to the API to call, based off the action group.</p>"
        },
        "executionType":{
          "shape":"ExecutionType",
          "documentation":"<p>How fulfillment of the action is handled. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/action-handle.html\">Handling fulfillment of the action</a>.</p>"
        },
        "function":{
          "shape":"Function",
          "documentation":"<p>The function in the action group to call.</p>"
        },
        "invocationId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the invocation. Only returned if the <code>executionType</code> is <code>RETURN_CONTROL</code>.</p>"
        },
        "parameters":{
          "shape":"Parameters",
          "documentation":"<p>The parameters in the Lambda input event.</p>"
        },
        "requestBody":{
          "shape":"RequestBody",
          "documentation":"<p>The parameters in the request body for the Lambda input event.</p>"
        },
        "verb":{
          "shape":"Verb",
          "documentation":"<p>The API method being used, based off the action group.</p>"
        }
      },
      "documentation":"<p>Contains information about the action group being invoked. For more information about the possible structures, see the InvocationInput tab in <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/trace-orchestration.html\">OrchestrationTrace</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
    },
    "ActionGroupInvocationOutput":{
      "type":"structure",
      "members":{
        "text":{
          "shape":"ActionGroupOutputString",
          "documentation":"<p>The JSON-formatted string returned by the API invoked by the action group.</p>"
        }
      },
      "documentation":"<p>Contains the JSON-formatted string returned by the API invoked by the action group.</p>"
    },
    "ActionGroupName":{
      "type":"string",
      "sensitive":true
    },
    "ActionGroupOutputString":{
      "type":"string",
      "sensitive":true
    },
    "ActionGroupSignature":{
      "type":"string",
      "enum":[
        "AMAZON.UserInput",
        "AMAZON.CodeInterpreter"
      ]
    },
    "ActionInvocationType":{
      "type":"string",
      "enum":[
        "RESULT",
        "USER_CONFIRMATION",
        "USER_CONFIRMATION_AND_RESULT"
      ]
    },
    "AdditionalModelRequestFields":{
      "type":"map",
      "key":{"shape":"AdditionalModelRequestFieldsKey"},
      "value":{"shape":"AdditionalModelRequestFieldsValue"}
    },
    "AdditionalModelRequestFieldsKey":{
      "type":"string",
      "max":100,
      "min":1
    },
    "AdditionalModelRequestFieldsValue":{
      "type":"structure",
      "members":{
      },
      "document":true
    },
    "AgentActionGroup":{
      "type":"structure",
      "required":["actionGroupName"],
      "members":{
        "actionGroupExecutor":{
          "shape":"ActionGroupExecutor",
          "documentation":"<p> The Amazon Resource Name (ARN) of the Lambda function containing the business logic that is carried out upon invoking the action or the custom control method for handling the information elicited from the user. </p>"
        },
        "actionGroupName":{
          "shape":"ResourceName",
          "documentation":"<p> The name of the action group. </p>"
        },
        "apiSchema":{
          "shape":"APISchema",
          "documentation":"<p> Contains either details about the S3 object containing the OpenAPI schema for the action group or the JSON or YAML-formatted payload defining the schema. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-api-schema.html\">Action group OpenAPI schemas</a>. </p>"
        },
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p> A description of the action group. </p>"
        },
        "functionSchema":{
          "shape":"FunctionSchema",
          "documentation":"<p> Contains details about the function schema for the action group or the JSON or YAML-formatted payload defining the schema. </p>"
        },
        "parentActionGroupSignature":{
          "shape":"ActionGroupSignature",
          "documentation":"<p> To allow your agent to request the user for additional information when trying to complete a task, set this field to <code>AMAZON.UserInput</code>. You must leave the <code>description</code>, <code>apiSchema</code>, and <code>actionGroupExecutor</code> fields blank for this action group. </p> <p>To allow your agent to generate, run, and troubleshoot code when trying to complete a task, set this field to <code>AMAZON.CodeInterpreter</code>. You must leave the <code>description</code>, <code>apiSchema</code>, and <code>actionGroupExecutor</code> fields blank for this action group.</p> <p>During orchestration, if your agent determines that it needs to invoke an API in an action group, but doesn't have enough information to complete the API request, it will invoke this action group instead and return an <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_Observation.html\">Observation</a> reprompting the user for more information.</p>"
        }
      },
      "documentation":"<p> Contains details of the inline agent's action group. </p>"
    },
    "AgentActionGroups":{
      "type":"list",
      "member":{"shape":"AgentActionGroup"}
    },
    "AgentAliasArn":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"^arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:agent-alias/[0-9a-zA-Z]{10}/[0-9a-zA-Z]{10}$"
    },
    "AgentAliasId":{
      "type":"string",
      "max":10,
      "min":0,
      "pattern":"^[0-9a-zA-Z]+$"
    },
    "AgentCollaboratorInputPayload":{
      "type":"structure",
      "members":{
        "returnControlResults":{
          "shape":"ReturnControlResults",
          "documentation":"<p>An action invocation result.</p>"
        },
        "text":{
          "shape":"AgentCollaboratorPayloadString",
          "documentation":"<p>Input text.</p>"
        },
        "type":{
          "shape":"PayloadType",
          "documentation":"<p>The input type.</p>"
        }
      },
      "documentation":"<p>Input for an agent collaborator. The input can be text or an action invocation result.</p>"
    },
    "AgentCollaboratorInvocationInput":{
      "type":"structure",
      "members":{
        "agentCollaboratorAliasArn":{
          "shape":"AgentAliasArn",
          "documentation":"<p>The collaborator's alias ARN.</p>"
        },
        "agentCollaboratorName":{
          "shape":"String",
          "documentation":"<p>The collaborator's name.</p>"
        },
        "input":{
          "shape":"AgentCollaboratorInputPayload",
          "documentation":"<p>Text or action invocation result input for the collaborator.</p>"
        }
      },
      "documentation":"<p>An agent collaborator invocation input.</p>"
    },
    "AgentCollaboratorInvocationOutput":{
      "type":"structure",
      "members":{
        "agentCollaboratorAliasArn":{
          "shape":"AgentAliasArn",
          "documentation":"<p>The output's agent collaborator alias ARN.</p>"
        },
        "agentCollaboratorName":{
          "shape":"String",
          "documentation":"<p>The output's agent collaborator name.</p>"
        },
        "output":{
          "shape":"AgentCollaboratorOutputPayload",
          "documentation":"<p>The output's output.</p>"
        }
      },
      "documentation":"<p>Output from an agent collaborator.</p>"
    },
    "AgentCollaboratorOutputPayload":{
      "type":"structure",
      "members":{
        "returnControlPayload":{
          "shape":"ReturnControlPayload",
          "documentation":"<p>An action invocation result.</p>"
        },
        "text":{
          "shape":"AgentCollaboratorPayloadString",
          "documentation":"<p>Text output.</p>"
        },
        "type":{
          "shape":"PayloadType",
          "documentation":"<p>The type of output.</p>"
        }
      },
      "documentation":"<p>Output from an agent collaborator. The output can be text or an action invocation result.</p>"
    },
    "AgentCollaboratorPayloadString":{
      "type":"string",
      "sensitive":true
    },
    "AgentId":{
      "type":"string",
      "max":10,
      "min":0,
      "pattern":"^[0-9a-zA-Z]+$"
    },
    "AgentVersion":{
      "type":"string",
      "max":5,
      "min":1,
      "pattern":"^(DRAFT|[0-9]{0,4}[1-9][0-9]{0,4})$"
    },
    "AnalyzePromptEvent":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>A message describing the analysis of the prompt.</p>"
        }
      },
      "documentation":"<p>An event in which the prompt was analyzed in preparation for optimization.</p>",
      "event":true,
      "sensitive":true
    },
    "ApiContentMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"PropertyParameters"}
    },
    "ApiInvocationInput":{
      "type":"structure",
      "required":["actionGroup"],
      "members":{
        "actionGroup":{
          "shape":"String",
          "documentation":"<p>The action group that the API operation belongs to.</p>"
        },
        "actionInvocationType":{
          "shape":"ActionInvocationType",
          "documentation":"<p>Contains information about the API operation to invoke.</p>"
        },
        "agentId":{
          "shape":"String",
          "documentation":"<p>The agent's ID.</p>"
        },
        "apiPath":{
          "shape":"ApiPath",
          "documentation":"<p>The path to the API operation.</p>"
        },
        "collaboratorName":{
          "shape":"Name",
          "documentation":"<p>The agent collaborator's name.</p>"
        },
        "httpMethod":{
          "shape":"String",
          "documentation":"<p>The HTTP method of the API operation.</p>"
        },
        "parameters":{
          "shape":"ApiParameters",
          "documentation":"<p>The parameters to provide for the API request, as the agent elicited from the user.</p>"
        },
        "requestBody":{
          "shape":"ApiRequestBody",
          "documentation":"<p>The request body to provide for the API request, as the agent elicited from the user.</p>"
        }
      },
      "documentation":"<p>Contains information about the API operation that the agent predicts should be called.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p>In the <code>returnControl</code> field of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a> </p> </li> </ul>"
    },
    "ApiParameter":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the parameter.</p>"
        },
        "type":{
          "shape":"String",
          "documentation":"<p>The data type for the parameter.</p>"
        },
        "value":{
          "shape":"String",
          "documentation":"<p>The value of the parameter.</p>"
        }
      },
      "documentation":"<p>Information about a parameter to provide to the API request.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a> </p> </li> </ul>"
    },
    "ApiParameters":{
      "type":"list",
      "member":{"shape":"ApiParameter"}
    },
    "ApiPath":{
      "type":"string",
      "sensitive":true
    },
    "ApiRequestBody":{
      "type":"structure",
      "members":{
        "content":{
          "shape":"ApiContentMap",
          "documentation":"<p>The content of the request body. The key of the object in this field is a media type defining the format of the request body.</p>"
        }
      },
      "documentation":"<p>The request body to provide for the API request, as the agent elicited from the user.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a> </p> </li> </ul>"
    },
    "ApiResult":{
      "type":"structure",
      "required":["actionGroup"],
      "members":{
        "actionGroup":{
          "shape":"String",
          "documentation":"<p>The action group that the API operation belongs to.</p>"
        },
        "agentId":{
          "shape":"String",
          "documentation":"<p>The agent's ID.</p>"
        },
        "apiPath":{
          "shape":"ApiPath",
          "documentation":"<p>The path to the API operation.</p>"
        },
        "confirmationState":{
          "shape":"ConfirmationState",
          "documentation":"<p>Controls the API operations or functions to invoke based on the user confirmation.</p>"
        },
        "httpMethod":{
          "shape":"String",
          "documentation":"<p>The HTTP method for the API operation.</p>"
        },
        "httpStatusCode":{
          "shape":"Integer",
          "documentation":"<p>http status code from API execution response (for example: 200, 400, 500).</p>"
        },
        "responseBody":{
          "shape":"ResponseBody",
          "documentation":"<p>The response body from the API operation. The key of the object is the content type (currently, only <code>TEXT</code> is supported). The response may be returned directly or from the Lambda function.</p>"
        },
        "responseState":{
          "shape":"ResponseState",
          "documentation":"<p>Controls the final response state returned to end user when API/Function execution failed. When this state is FAILURE, the request would fail with dependency failure exception. When this state is REPROMPT, the API/function response will be sent to model for re-prompt</p>"
        }
      },
      "documentation":"<p>Contains information about the API operation that was called from the action group and the response body that was returned.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p>In the <code>returnControlInvocationResults</code> of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_RequestSyntax\">InvokeAgent request</a> </p> </li> </ul>"
    },
    "AttributeType":{
      "type":"string",
      "enum":[
        "STRING",
        "NUMBER",
        "BOOLEAN",
        "STRING_LIST"
      ]
    },
    "Attribution":{
      "type":"structure",
      "members":{
        "citations":{
          "shape":"Citations",
          "documentation":"<p>A list of citations and related information for a part of an agent response.</p>"
        }
      },
      "documentation":"<p>Contains citations for a part of an agent response.</p>"
    },
    "BadGatewayException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"},
        "resourceName":{
          "shape":"NonBlankString",
          "documentation":"<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>"
        }
      },
      "documentation":"<p>There was an issue with a dependency due to a server issue. Retry your request.</p>",
      "error":{"httpStatusCode":502},
      "exception":true,
      "fault":true
    },
    "BasePromptTemplate":{
      "type":"string",
      "max":100000,
      "min":1,
      "sensitive":true
    },
    "BedrockModelArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"^(arn:aws(-[^:]+)?:(bedrock|sagemaker):[a-z0-9-]{1,20}:([0-9]{12})?:([a-z-]+/)?)?([a-z0-9.-]{1,63}){0,2}(([:][a-z0-9-]{1,63}){0,2})?(/[a-z0-9]{1,12})?$"
    },
    "BedrockModelConfigurations":{
      "type":"structure",
      "members":{
        "performanceConfig":{
          "shape":"PerformanceConfiguration",
          "documentation":"<p>The performance configuration for the model.</p>"
        }
      },
      "documentation":"<p>Settings for a model called with <a>InvokeAgent</a>.</p>"
    },
    "BedrockRerankingConfiguration":{
      "type":"structure",
      "required":["modelConfiguration"],
      "members":{
        "modelConfiguration":{
          "shape":"BedrockRerankingModelConfiguration",
          "documentation":"<p>Contains configurations for a reranker model.</p>"
        },
        "numberOfResults":{
          "shape":"BedrockRerankingConfigurationNumberOfResultsInteger",
          "documentation":"<p>The number of results to return after reranking.</p>"
        }
      },
      "documentation":"<p>Contains configurations for an Amazon Bedrock reranker model.</p>"
    },
    "BedrockRerankingConfigurationNumberOfResultsInteger":{
      "type":"integer",
      "box":true,
      "max":1000,
      "min":1
    },
    "BedrockRerankingModelArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"^(arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}::foundation-model/(.*))?$"
    },
    "BedrockRerankingModelConfiguration":{
      "type":"structure",
      "required":["modelArn"],
      "members":{
        "additionalModelRequestFields":{
          "shape":"AdditionalModelRequestFields",
          "documentation":"<p>A JSON object whose keys are request fields for the model and whose values are values for those fields.</p>"
        },
        "modelArn":{
          "shape":"BedrockModelArn",
          "documentation":"<p>The ARN of the reranker model.</p>"
        }
      },
      "documentation":"<p>Contains configurations for a reranker model.</p>"
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "ByteContentBlob":{
      "type":"blob",
      "max":10485760,
      "min":1,
      "sensitive":true
    },
    "ByteContentDoc":{
      "type":"structure",
      "required":[
        "contentType",
        "data",
        "identifier"
      ],
      "members":{
        "contentType":{
          "shape":"ContentType",
          "documentation":"<p>The MIME type of the document contained in the wrapper object.</p>"
        },
        "data":{
          "shape":"ByteContentBlob",
          "documentation":"<p>The byte value of the file to upload, encoded as a Base-64 string.</p>"
        },
        "identifier":{
          "shape":"Identifier",
          "documentation":"<p>The file name of the document contained in the wrapper object.</p>"
        }
      },
      "documentation":"<p>This property contains the document to chat with, along with its attributes.</p>"
    },
    "ByteContentFile":{
      "type":"structure",
      "required":[
        "data",
        "mediaType"
      ],
      "members":{
        "data":{
          "shape":"ByteContentBlob",
          "documentation":"<p>The raw bytes of the file to attach. The maximum size of all files that is attached is 10MB. You can attach a maximum of 5 files. </p>"
        },
        "mediaType":{
          "shape":"MimeType",
          "documentation":"<p>The MIME type of data contained in the file used for chat.</p>"
        }
      },
      "documentation":"<p>The property contains the file to chat with, along with its attributes.</p>"
    },
    "Caller":{
      "type":"structure",
      "members":{
        "agentAliasArn":{
          "shape":"AgentAliasArn",
          "documentation":"<p>The caller's agent alias ARN.</p>"
        }
      },
      "documentation":"<p>Details about a caller.</p>",
      "union":true
    },
    "CallerChain":{
      "type":"list",
      "member":{"shape":"Caller"}
    },
    "Citation":{
      "type":"structure",
      "members":{
        "generatedResponsePart":{
          "shape":"GeneratedResponsePart",
          "documentation":"<p>Contains the generated response and metadata </p>"
        },
        "retrievedReferences":{
          "shape":"RetrievedReferences",
          "documentation":"<p>Contains metadata about the sources cited for the generated response.</p>"
        }
      },
      "documentation":"<p>An object containing a segment of the generated response that is based on a source in the knowledge base, alongside information about the source.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a> – in the <code>citations</code> field</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_ResponseSyntax\">RetrieveAndGenerate response</a> – in the <code>citations</code> field</p> </li> </ul>"
    },
    "CitationEvent":{
      "type":"structure",
      "members":{
        "citation":{
          "shape":"Citation",
          "documentation":"<p>The citation.</p>"
        }
      },
      "documentation":"<p>A citation event.</p>",
      "event":true
    },
    "Citations":{
      "type":"list",
      "member":{"shape":"Citation"}
    },
    "CodeInterpreterInvocationInput":{
      "type":"structure",
      "members":{
        "code":{
          "shape":"String",
          "documentation":"<p>The code for the code interpreter to use.</p>"
        },
        "files":{
          "shape":"Files",
          "documentation":"<p>Files that are uploaded for code interpreter to use.</p>"
        }
      },
      "documentation":"<p>Contains information about the code interpreter being invoked.</p>"
    },
    "CodeInterpreterInvocationOutput":{
      "type":"structure",
      "members":{
        "executionError":{
          "shape":"String",
          "documentation":"<p>Contains the error returned from code execution.</p>"
        },
        "executionOutput":{
          "shape":"String",
          "documentation":"<p>Contains the successful output returned from code execution</p>"
        },
        "executionTimeout":{
          "shape":"Boolean",
          "documentation":"<p>Indicates if the execution of the code timed out.</p>"
        },
        "files":{
          "shape":"Files",
          "documentation":"<p>Contains output files, if generated by code execution.</p>"
        }
      },
      "documentation":"<p>Contains the JSON-formatted string returned by the API invoked by the code interpreter.</p>"
    },
    "ConfirmationState":{
      "type":"string",
      "enum":[
        "CONFIRM",
        "DENY"
      ]
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>There was a conflict performing an operation. Resolve the conflict and retry your request.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ContentBlock":{
      "type":"structure",
      "members":{
        "text":{
          "shape":"String",
          "documentation":"<p>The block's text.</p>"
        }
      },
      "documentation":"<p>A content block.</p>",
      "sensitive":true,
      "union":true
    },
    "ContentBlocks":{
      "type":"list",
      "member":{"shape":"ContentBlock"}
    },
    "ContentBody":{
      "type":"structure",
      "members":{
        "body":{
          "shape":"String",
          "documentation":"<p>The body of the API response.</p>"
        }
      },
      "documentation":"<p>Contains the body of the API response.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p>In the <code>returnControlInvocationResults</code> field of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_RequestSyntax\">InvokeAgent request</a> </p> </li> </ul>"
    },
    "ContentMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"Parameters"}
    },
    "ContentType":{
      "type":"string",
      "pattern":"[a-z]{1,20}/.{1,20}"
    },
    "ConversationHistory":{
      "type":"structure",
      "members":{
        "messages":{
          "shape":"Messages",
          "documentation":"<p>The conversation's messages.</p>"
        }
      },
      "documentation":"<p>A conversation history.</p>"
    },
    "ConversationRole":{
      "type":"string",
      "enum":[
        "user",
        "assistant"
      ]
    },
    "CreationMode":{
      "type":"string",
      "enum":[
        "DEFAULT",
        "OVERRIDDEN"
      ]
    },
    "CustomControlMethod":{
      "type":"string",
      "enum":["RETURN_CONTROL"]
    },
    "CustomOrchestrationTrace":{
      "type":"structure",
      "members":{
        "event":{
          "shape":"CustomOrchestrationTraceEvent",
          "documentation":"<p> The event details used with the custom orchestration. </p>"
        },
        "traceId":{
          "shape":"TraceId",
          "documentation":"<p> The unique identifier of the trace. </p>"
        }
      },
      "documentation":"<p> The trace behavior for the custom orchestration. </p>",
      "sensitive":true
    },
    "CustomOrchestrationTraceEvent":{
      "type":"structure",
      "members":{
        "text":{
          "shape":"String",
          "documentation":"<p> The text that prompted the event at this step. </p>"
        }
      },
      "documentation":"<p> The event in the custom orchestration sequence. Events are the responses which the custom orchestration Lambda function sends as response to the agent. </p>",
      "sensitive":true
    },
    "DateTimestamp":{
      "type":"timestamp",
      "documentation":"<p>Time Stamp.</p>",
      "timestampFormat":"iso8601"
    },
    "DeleteAgentMemoryRequest":{
      "type":"structure",
      "required":[
        "agentAliasId",
        "agentId"
      ],
      "members":{
        "agentAliasId":{
          "shape":"AgentAliasId",
          "documentation":"<p>The unique identifier of an alias of an agent.</p>",
          "location":"uri",
          "locationName":"agentAliasId"
        },
        "agentId":{
          "shape":"AgentId",
          "documentation":"<p>The unique identifier of the agent to which the alias belongs.</p>",
          "location":"uri",
          "locationName":"agentId"
        },
        "memoryId":{
          "shape":"MemoryId",
          "documentation":"<p>The unique identifier of the memory.</p>",
          "location":"querystring",
          "locationName":"memoryId"
        },
        "sessionId":{
          "shape":"SessionId",
          "documentation":"<p>The unique session identifier of the memory.</p>",
          "location":"querystring",
          "locationName":"sessionId"
        }
      }
    },
    "DeleteAgentMemoryResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DependencyFailedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"},
        "resourceName":{
          "shape":"NonBlankString",
          "documentation":"<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>"
        }
      },
      "documentation":"<p>There was an issue with a dependency. Check the resource configurations and retry the request.</p>",
      "error":{
        "httpStatusCode":424,
        "senderFault":true
      },
      "exception":true
    },
    "Document":{
      "type":"structure",
      "members":{
      },
      "document":true
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "ExecutionType":{
      "type":"string",
      "enum":[
        "LAMBDA",
        "RETURN_CONTROL"
      ]
    },
    "ExternalSource":{
      "type":"structure",
      "required":["sourceType"],
      "members":{
        "byteContent":{
          "shape":"ByteContentDoc",
          "documentation":"<p>The identifier, contentType, and data of the external source wrapper object.</p>"
        },
        "s3Location":{
          "shape":"S3ObjectDoc",
          "documentation":"<p>The S3 location of the external source wrapper object.</p>"
        },
        "sourceType":{
          "shape":"ExternalSourceType",
          "documentation":"<p>The source type of the external source wrapper object.</p>"
        }
      },
      "documentation":"<p>The unique external source of the content contained in the wrapper object.</p>"
    },
    "ExternalSourceType":{
      "type":"string",
      "enum":[
        "S3",
        "BYTE_CONTENT"
      ]
    },
    "ExternalSources":{
      "type":"list",
      "member":{"shape":"ExternalSource"},
      "max":1,
      "min":1
    },
    "ExternalSourcesGenerationConfiguration":{
      "type":"structure",
      "members":{
        "additionalModelRequestFields":{
          "shape":"AdditionalModelRequestFields",
          "documentation":"<p> Additional model parameters and their corresponding values not included in the textInferenceConfig structure for an external source. Takes in custom model parameters specific to the language model being used. </p>"
        },
        "guardrailConfiguration":{
          "shape":"GuardrailConfiguration",
          "documentation":"<p>The configuration details for the guardrail.</p>"
        },
        "inferenceConfig":{
          "shape":"InferenceConfig",
          "documentation":"<p> Configuration settings for inference when using RetrieveAndGenerate to generate responses while using an external source.</p>"
        },
        "performanceConfig":{
          "shape":"PerformanceConfiguration",
          "documentation":"<p>The latency configuration for the model.</p>"
        },
        "promptTemplate":{
          "shape":"PromptTemplate",
          "documentation":"<p>Contain the textPromptTemplate string for the external source wrapper object.</p>"
        }
      },
      "documentation":"<p>Contains the generation configuration of the external source wrapper object.</p>"
    },
    "ExternalSourcesRetrieveAndGenerateConfiguration":{
      "type":"structure",
      "required":[
        "modelArn",
        "sources"
      ],
      "members":{
        "generationConfiguration":{
          "shape":"ExternalSourcesGenerationConfiguration",
          "documentation":"<p>The prompt used with the external source wrapper object with the <code>retrieveAndGenerate</code> function.</p>"
        },
        "modelArn":{
          "shape":"BedrockModelArn",
          "documentation":"<p>The model Amazon Resource Name (ARN) for the external source wrapper object in the <code>retrieveAndGenerate</code> function.</p>"
        },
        "sources":{
          "shape":"ExternalSources",
          "documentation":"<p>The document for the external source wrapper object in the <code>retrieveAndGenerate</code> function.</p>"
        }
      },
      "documentation":"<p>The configurations of the external source wrapper object in the <code>retrieveAndGenerate</code> function.</p>"
    },
    "FailureReasonString":{
      "type":"string",
      "sensitive":true
    },
    "FailureTrace":{
      "type":"structure",
      "members":{
        "failureReason":{
          "shape":"FailureReasonString",
          "documentation":"<p>The reason the interaction failed.</p>"
        },
        "traceId":{
          "shape":"TraceId",
          "documentation":"<p>The unique identifier of the trace.</p>"
        }
      },
      "documentation":"<p>Contains information about the failure of the interaction.</p>",
      "sensitive":true
    },
    "FieldForReranking":{
      "type":"structure",
      "required":["fieldName"],
      "members":{
        "fieldName":{
          "shape":"FieldForRerankingFieldNameString",
          "documentation":"<p>The name of a metadata field to include in or exclude from consideration when reranking.</p>"
        }
      },
      "documentation":"<p>Contains information for a metadata field to include in or exclude from consideration when reranking.</p>"
    },
    "FieldForRerankingFieldNameString":{
      "type":"string",
      "max":2000,
      "min":1
    },
    "FieldsForReranking":{
      "type":"list",
      "member":{"shape":"FieldForReranking"},
      "max":100,
      "min":1,
      "sensitive":true
    },
    "FileBody":{
      "type":"blob",
      "max":1000000,
      "min":0,
      "sensitive":true
    },
    "FilePart":{
      "type":"structure",
      "members":{
        "files":{
          "shape":"OutputFiles",
          "documentation":"<p>Files containing intermediate response for the user.</p>"
        }
      },
      "documentation":"<p>Contains intermediate response for code interpreter if any files have been generated.</p>",
      "event":true
    },
    "FileSource":{
      "type":"structure",
      "required":["sourceType"],
      "members":{
        "byteContent":{
          "shape":"ByteContentFile",
          "documentation":"<p>The data and the text of the attached files.</p>"
        },
        "s3Location":{
          "shape":"S3ObjectFile",
          "documentation":"<p>The s3 location of the files to attach.</p>"
        },
        "sourceType":{
          "shape":"FileSourceType",
          "documentation":"<p>The source type of the files to attach.</p>"
        }
      },
      "documentation":"<p>The source file of the content contained in the wrapper object.</p>"
    },
    "FileSourceType":{
      "type":"string",
      "enum":[
        "S3",
        "BYTE_CONTENT"
      ]
    },
    "FileUseCase":{
      "type":"string",
      "enum":[
        "CODE_INTERPRETER",
        "CHAT"
      ]
    },
    "Files":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "FilterAttribute":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{
          "shape":"FilterKey",
          "documentation":"<p>The name that the metadata attribute must match.</p>"
        },
        "value":{
          "shape":"FilterValue",
          "documentation":"<p>The value to whcih to compare the value of the metadata attribute.</p>"
        }
      },
      "documentation":"<p>Specifies the name that the metadata attribute must match and the value to which to compare the value of the metadata attribute. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/kb-test-config.html\">Query configurations</a>.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_RequestSyntax\">RetrieveAndGenerate request</a> </p> </li> </ul>"
    },
    "FilterKey":{
      "type":"string",
      "max":100,
      "min":1
    },
    "FilterValue":{
      "type":"structure",
      "members":{
      },
      "document":true
    },
    "FinalResponse":{
      "type":"structure",
      "members":{
        "text":{
          "shape":"FinalResponseString",
          "documentation":"<p>The text in the response to the user.</p>"
        }
      },
      "documentation":"<p>Contains details about the response to the user.</p>"
    },
    "FinalResponseString":{
      "type":"string",
      "sensitive":true
    },
    "Float":{
      "type":"float",
      "box":true
    },
    "FlowAliasIdentifier":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"^(arn:aws:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:flow/[0-9a-zA-Z]{10}/alias/[0-9a-zA-Z]{10})|(\\bTSTALIASID\\b|[0-9a-zA-Z]+)$"
    },
    "FlowCompletionEvent":{
      "type":"structure",
      "required":["completionReason"],
      "members":{
        "completionReason":{
          "shape":"FlowCompletionReason",
          "documentation":"<p>The reason that the flow completed.</p>"
        }
      },
      "documentation":"<p>Contains information about why a flow completed.</p>",
      "event":true,
      "sensitive":true
    },
    "FlowCompletionReason":{
      "type":"string",
      "enum":["SUCCESS"]
    },
    "FlowIdentifier":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"^(arn:aws:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:flow/[0-9a-zA-Z]{10})|([0-9a-zA-Z]{10})$"
    },
    "FlowInput":{
      "type":"structure",
      "required":[
        "content",
        "nodeName",
        "nodeOutputName"
      ],
      "members":{
        "content":{
          "shape":"FlowInputContent",
          "documentation":"<p>Contains information about an input into the prompt flow.</p>"
        },
        "nodeName":{
          "shape":"NodeName",
          "documentation":"<p>The name of the flow input node that begins the prompt flow.</p>"
        },
        "nodeOutputName":{
          "shape":"NodeOutputName",
          "documentation":"<p>The name of the output from the flow input node that begins the prompt flow.</p>"
        }
      },
      "documentation":"<p>Contains information about an input into the prompt flow and where to send it.</p>"
    },
    "FlowInputContent":{
      "type":"structure",
      "members":{
        "document":{
          "shape":"Document",
          "documentation":"<p>The input to send to the prompt flow input node.</p>"
        }
      },
      "documentation":"<p>Contains information about an input into the flow.</p>",
      "sensitive":true,
      "union":true
    },
    "FlowInputs":{
      "type":"list",
      "member":{"shape":"FlowInput"},
      "max":1,
      "min":1
    },
    "FlowOutputContent":{
      "type":"structure",
      "members":{
        "document":{
          "shape":"Document",
          "documentation":"<p>The content in the output.</p>"
        }
      },
      "documentation":"<p>Contains information about the content in an output from prompt flow invocation.</p>",
      "union":true
    },
    "FlowOutputEvent":{
      "type":"structure",
      "required":[
        "content",
        "nodeName",
        "nodeType"
      ],
      "members":{
        "content":{
          "shape":"FlowOutputContent",
          "documentation":"<p>The content in the output.</p>"
        },
        "nodeName":{
          "shape":"NodeName",
          "documentation":"<p>The name of the flow output node that the output is from.</p>"
        },
        "nodeType":{
          "shape":"NodeType",
          "documentation":"<p>The type of the node that the output is from.</p>"
        }
      },
      "documentation":"<p>Contains information about an output from prompt flow invoction.</p>",
      "event":true,
      "sensitive":true
    },
    "FlowResponseStream":{
      "type":"structure",
      "members":{
        "accessDeniedException":{
          "shape":"AccessDeniedException",
          "documentation":"<p>The request is denied because of missing access permissions. Check your permissions and retry your request.</p>"
        },
        "badGatewayException":{
          "shape":"BadGatewayException",
          "documentation":"<p>There was an issue with a dependency due to a server issue. Retry your request.</p>"
        },
        "conflictException":{
          "shape":"ConflictException",
          "documentation":"<p>There was a conflict performing an operation. Resolve the conflict and retry your request.</p>"
        },
        "dependencyFailedException":{
          "shape":"DependencyFailedException",
          "documentation":"<p>There was an issue with a dependency. Check the resource configurations and retry the request.</p>"
        },
        "flowCompletionEvent":{
          "shape":"FlowCompletionEvent",
          "documentation":"<p>Contains information about why the flow completed.</p>"
        },
        "flowOutputEvent":{
          "shape":"FlowOutputEvent",
          "documentation":"<p>Contains information about an output from flow invocation.</p>"
        },
        "flowTraceEvent":{
          "shape":"FlowTraceEvent",
          "documentation":"<p>Contains information about a trace, which tracks an input or output for a node in the flow.</p>"
        },
        "internalServerException":{
          "shape":"InternalServerException",
          "documentation":"<p>An internal server error occurred. Retry your request.</p>"
        },
        "resourceNotFoundException":{
          "shape":"ResourceNotFoundException",
          "documentation":"<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>"
        },
        "serviceQuotaExceededException":{
          "shape":"ServiceQuotaExceededException",
          "documentation":"<p>The number of requests exceeds the service quota. Resubmit your request later.</p>"
        },
        "throttlingException":{
          "shape":"ThrottlingException",
          "documentation":"<p>The number of requests exceeds the limit. Resubmit your request later.</p>"
        },
        "validationException":{
          "shape":"ValidationException",
          "documentation":"<p>Input validation failed. Check your request parameters and retry the request.</p>"
        }
      },
      "documentation":"<p>The output of the flow.</p>",
      "eventstream":true
    },
    "FlowTrace":{
      "type":"structure",
      "members":{
        "conditionNodeResultTrace":{
          "shape":"FlowTraceConditionNodeResultEvent",
          "documentation":"<p>Contains information about an output from a condition node.</p>"
        },
        "nodeInputTrace":{
          "shape":"FlowTraceNodeInputEvent",
          "documentation":"<p>Contains information about the input into a node.</p>"
        },
        "nodeOutputTrace":{
          "shape":"FlowTraceNodeOutputEvent",
          "documentation":"<p>Contains information about the output from a node.</p>"
        }
      },
      "documentation":"<p>Contains information about an input or output for a node in the flow. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-trace.html\">Track each step in your prompt flow by viewing its trace in Amazon Bedrock</a>.</p>",
      "sensitive":true,
      "union":true
    },
    "FlowTraceCondition":{
      "type":"structure",
      "required":["conditionName"],
      "members":{
        "conditionName":{
          "shape":"String",
          "documentation":"<p>The name of the condition.</p>"
        }
      },
      "documentation":"<p>Contains information about a condition that was satisfied. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-trace.html\">Track each step in your prompt flow by viewing its trace in Amazon Bedrock</a>.</p>",
      "sensitive":true
    },
    "FlowTraceConditionNodeResultEvent":{
      "type":"structure",
      "required":[
        "nodeName",
        "satisfiedConditions",
        "timestamp"
      ],
      "members":{
        "nodeName":{
          "shape":"NodeName",
          "documentation":"<p>The name of the condition node.</p>"
        },
        "satisfiedConditions":{
          "shape":"FlowTraceConditions",
          "documentation":"<p>An array of objects containing information about the conditions that were satisfied.</p>"
        },
        "timestamp":{
          "shape":"DateTimestamp",
          "documentation":"<p>The date and time that the trace was returned.</p>"
        }
      },
      "documentation":"<p>Contains information about an output from a condition node. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-trace.html\">Track each step in your prompt flow by viewing its trace in Amazon Bedrock</a>.</p>",
      "sensitive":true
    },
    "FlowTraceConditions":{
      "type":"list",
      "member":{"shape":"FlowTraceCondition"},
      "max":5,
      "min":1
    },
    "FlowTraceEvent":{
      "type":"structure",
      "required":["trace"],
      "members":{
        "trace":{
          "shape":"FlowTrace",
          "documentation":"<p>The trace object containing information about an input or output for a node in the flow.</p>"
        }
      },
      "documentation":"<p>Contains information about a trace, which tracks an input or output for a node in the flow. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-trace.html\">Track each step in your prompt flow by viewing its trace in Amazon Bedrock</a>.</p>",
      "event":true
    },
    "FlowTraceNodeInputContent":{
      "type":"structure",
      "members":{
        "document":{
          "shape":"Document",
          "documentation":"<p>The content of the node input.</p>"
        }
      },
      "documentation":"<p>Contains the content of the node input. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-trace.html\">Track each step in your prompt flow by viewing its trace in Amazon Bedrock</a>.</p>",
      "sensitive":true,
      "union":true
    },
    "FlowTraceNodeInputEvent":{
      "type":"structure",
      "required":[
        "fields",
        "nodeName",
        "timestamp"
      ],
      "members":{
        "fields":{
          "shape":"FlowTraceNodeInputFields",
          "documentation":"<p>An array of objects containing information about each field in the input.</p>"
        },
        "nodeName":{
          "shape":"NodeName",
          "documentation":"<p>The name of the node that received the input.</p>"
        },
        "timestamp":{
          "shape":"DateTimestamp",
          "documentation":"<p>The date and time that the trace was returned.</p>"
        }
      },
      "documentation":"<p>Contains information about the input into a node. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-trace.html\">Track each step in your prompt flow by viewing its trace in Amazon Bedrock</a>.</p>",
      "sensitive":true
    },
    "FlowTraceNodeInputField":{
      "type":"structure",
      "required":[
        "content",
        "nodeInputName"
      ],
      "members":{
        "content":{
          "shape":"FlowTraceNodeInputContent",
          "documentation":"<p>The content of the node input.</p>"
        },
        "nodeInputName":{
          "shape":"NodeInputName",
          "documentation":"<p>The name of the node input.</p>"
        }
      },
      "documentation":"<p>Contains information about a field in the input into a node. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-trace.html\">Track each step in your prompt flow by viewing its trace in Amazon Bedrock</a>.</p>",
      "sensitive":true
    },
    "FlowTraceNodeInputFields":{
      "type":"list",
      "member":{"shape":"FlowTraceNodeInputField"},
      "max":5,
      "min":1
    },
    "FlowTraceNodeOutputContent":{
      "type":"structure",
      "members":{
        "document":{
          "shape":"Document",
          "documentation":"<p>The content of the node output.</p>"
        }
      },
      "documentation":"<p>Contains the content of the node output. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-trace.html\">Track each step in your prompt flow by viewing its trace in Amazon Bedrock</a>.</p>",
      "union":true
    },
    "FlowTraceNodeOutputEvent":{
      "type":"structure",
      "required":[
        "fields",
        "nodeName",
        "timestamp"
      ],
      "members":{
        "fields":{
          "shape":"FlowTraceNodeOutputFields",
          "documentation":"<p>An array of objects containing information about each field in the output.</p>"
        },
        "nodeName":{
          "shape":"NodeName",
          "documentation":"<p>The name of the node that yielded the output.</p>"
        },
        "timestamp":{
          "shape":"DateTimestamp",
          "documentation":"<p>The date and time that the trace was returned.</p>"
        }
      },
      "documentation":"<p>Contains information about the output from a node. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-trace.html\">Track each step in your prompt flow by viewing its trace in Amazon Bedrock</a>.</p>",
      "sensitive":true
    },
    "FlowTraceNodeOutputField":{
      "type":"structure",
      "required":[
        "content",
        "nodeOutputName"
      ],
      "members":{
        "content":{
          "shape":"FlowTraceNodeOutputContent",
          "documentation":"<p>The content of the node output.</p>"
        },
        "nodeOutputName":{
          "shape":"NodeOutputName",
          "documentation":"<p>The name of the node output.</p>"
        }
      },
      "documentation":"<p>Contains information about a field in the output from a node. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-trace.html\">Track each step in your prompt flow by viewing its trace in Amazon Bedrock</a>.</p>",
      "sensitive":true
    },
    "FlowTraceNodeOutputFields":{
      "type":"list",
      "member":{"shape":"FlowTraceNodeOutputField"},
      "max":2,
      "min":1
    },
    "Function":{
      "type":"string",
      "sensitive":true
    },
    "FunctionDefinition":{
      "type":"structure",
      "required":["name"],
      "members":{
        "description":{
          "shape":"FunctionDescription",
          "documentation":"<p> A description of the function and its purpose. </p>"
        },
        "name":{
          "shape":"ResourceName",
          "documentation":"<p> A name for the function. </p>"
        },
        "parameters":{
          "shape":"ParameterMap",
          "documentation":"<p> The parameters that the agent elicits from the user to fulfill the function. </p>"
        },
        "requireConfirmation":{
          "shape":"RequireConfirmation",
          "documentation":"<p> Contains information if user confirmation is required to invoke the function. </p>"
        }
      },
      "documentation":"<p> Defines parameters that the agent needs to invoke from the user to complete the function. Corresponds to an action in an action group. </p>"
    },
    "FunctionDescription":{
      "type":"string",
      "max":1200,
      "min":1
    },
    "FunctionInvocationInput":{
      "type":"structure",
      "required":["actionGroup"],
      "members":{
        "actionGroup":{
          "shape":"String",
          "documentation":"<p>The action group that the function belongs to.</p>"
        },
        "actionInvocationType":{
          "shape":"ActionInvocationType",
          "documentation":"<p>Contains information about the function to invoke,</p>"
        },
        "agentId":{
          "shape":"String",
          "documentation":"<p>The agent's ID.</p>"
        },
        "collaboratorName":{
          "shape":"Name",
          "documentation":"<p>The collaborator's name.</p>"
        },
        "function":{
          "shape":"String",
          "documentation":"<p>The name of the function.</p>"
        },
        "parameters":{
          "shape":"FunctionParameters",
          "documentation":"<p>A list of parameters of the function.</p>"
        }
      },
      "documentation":"<p>Contains information about the function that the agent predicts should be called.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p>In the <code>returnControl</code> field of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a> </p> </li> </ul>"
    },
    "FunctionParameter":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the parameter.</p>"
        },
        "type":{
          "shape":"String",
          "documentation":"<p>The data type of the parameter.</p>"
        },
        "value":{
          "shape":"String",
          "documentation":"<p>The value of the parameter.</p>"
        }
      },
      "documentation":"<p>Contains information about a parameter of the function.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p>In the <code>returnControl</code> field of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a> </p> </li> </ul>"
    },
    "FunctionParameters":{
      "type":"list",
      "member":{"shape":"FunctionParameter"}
    },
    "FunctionResult":{
      "type":"structure",
      "required":["actionGroup"],
      "members":{
        "actionGroup":{
          "shape":"String",
          "documentation":"<p>The action group that the function belongs to.</p>"
        },
        "agentId":{
          "shape":"String",
          "documentation":"<p>The agent's ID.</p>"
        },
        "confirmationState":{
          "shape":"ConfirmationState",
          "documentation":"<p>Contains the user confirmation information about the function that was called.</p>"
        },
        "function":{
          "shape":"String",
          "documentation":"<p>The name of the function that was called.</p>"
        },
        "responseBody":{
          "shape":"ResponseBody",
          "documentation":"<p>The response from the function call using the parameters. The key of the object is the content type (currently, only <code>TEXT</code> is supported). The response may be returned directly or from the Lambda function.</p>"
        },
        "responseState":{
          "shape":"ResponseState",
          "documentation":"<p>Controls the final response state returned to end user when API/Function execution failed. When this state is FAILURE, the request would fail with dependency failure exception. When this state is REPROMPT, the API/function response will be sent to model for re-prompt</p>"
        }
      },
      "documentation":"<p>Contains information about the function that was called from the action group and the response that was returned.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p>In the <code>returnControlInvocationResults</code> of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_RequestSyntax\">InvokeAgent request</a> </p> </li> </ul>"
    },
    "FunctionSchema":{
      "type":"structure",
      "members":{
        "functions":{
          "shape":"Functions",
          "documentation":"<p> A list of functions that each define an action in the action group. </p>"
        }
      },
      "documentation":"<p> Contains details about the function schema for the action group or the JSON or YAML-formatted payload defining the schema. </p>",
      "union":true
    },
    "Functions":{
      "type":"list",
      "member":{"shape":"FunctionDefinition"}
    },
    "GenerateQueryRequest":{
      "type":"structure",
      "required":[
        "queryGenerationInput",
        "transformationConfiguration"
      ],
      "members":{
        "queryGenerationInput":{
          "shape":"QueryGenerationInput",
          "documentation":"<p>Specifies information about a natural language query to transform into SQL.</p>"
        },
        "transformationConfiguration":{
          "shape":"TransformationConfiguration",
          "documentation":"<p>Specifies configurations for transforming the natural language query into SQL.</p>"
        }
      }
    },
    "GenerateQueryResponse":{
      "type":"structure",
      "members":{
        "queries":{
          "shape":"GeneratedQueries",
          "documentation":"<p>A list of objects, each of which defines a generated query that can correspond to the natural language queries.</p>"
        }
      }
    },
    "GeneratedQueries":{
      "type":"list",
      "member":{"shape":"GeneratedQuery"},
      "min":0
    },
    "GeneratedQuery":{
      "type":"structure",
      "members":{
        "sql":{
          "shape":"String",
          "documentation":"<p>An SQL query that corresponds to the natural language query.</p>"
        },
        "type":{
          "shape":"GeneratedQueryType",
          "documentation":"<p>The type of transformed query.</p>"
        }
      },
      "documentation":"<p>Contains information about a query generated for a natural language query.</p>",
      "sensitive":true
    },
    "GeneratedQueryType":{
      "type":"string",
      "enum":["REDSHIFT_SQL"]
    },
    "GeneratedResponsePart":{
      "type":"structure",
      "members":{
        "textResponsePart":{
          "shape":"TextResponsePart",
          "documentation":"<p>Contains metadata about a textual part of the generated response that is accompanied by a citation.</p>"
        }
      },
      "documentation":"<p>Contains metadata about a part of the generated response that is accompanied by a citation.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a> – in the <code>generatedResponsePart</code> field</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_ResponseSyntax\">RetrieveAndGenerate response</a> – in the <code>generatedResponsePart</code> field</p> </li> </ul>"
    },
    "GenerationConfiguration":{
      "type":"structure",
      "members":{
        "additionalModelRequestFields":{
          "shape":"AdditionalModelRequestFields",
          "documentation":"<p> Additional model parameters and corresponding values not included in the textInferenceConfig structure for a knowledge base. This allows users to provide custom model parameters specific to the language model being used. </p>"
        },
        "guardrailConfiguration":{
          "shape":"GuardrailConfiguration",
          "documentation":"<p>The configuration details for the guardrail.</p>"
        },
        "inferenceConfig":{
          "shape":"InferenceConfig",
          "documentation":"<p> Configuration settings for inference when using RetrieveAndGenerate to generate responses while using a knowledge base as a source. </p>"
        },
        "performanceConfig":{
          "shape":"PerformanceConfiguration",
          "documentation":"<p>The latency configuration for the model.</p>"
        },
        "promptTemplate":{
          "shape":"PromptTemplate",
          "documentation":"<p>Contains the template for the prompt that's sent to the model for response generation. Generation prompts must include the <code>$search_results$</code> variable. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prompt-placeholders.html\">Use placeholder variables</a> in the user guide.</p>"
        }
      },
      "documentation":"<p>Contains configurations for response generation based on the knowledge base query results.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_RequestSyntax\">RetrieveAndGenerate request</a> </p> </li> </ul>"
    },
    "GetAgentMemoryRequest":{
      "type":"structure",
      "required":[
        "agentAliasId",
        "agentId",
        "memoryId",
        "memoryType"
      ],
      "members":{
        "agentAliasId":{
          "shape":"AgentAliasId",
          "documentation":"<p>The unique identifier of an alias of an agent.</p>",
          "location":"uri",
          "locationName":"agentAliasId"
        },
        "agentId":{
          "shape":"AgentId",
          "documentation":"<p>The unique identifier of the agent to which the alias belongs.</p>",
          "location":"uri",
          "locationName":"agentId"
        },
        "maxItems":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of items to return in the response. If the total number of results is greater than this value, use the token returned in the response in the <code>nextToken</code> field when making another request to return the next batch of results.</p>",
          "location":"querystring",
          "locationName":"maxItems"
        },
        "memoryId":{
          "shape":"MemoryId",
          "documentation":"<p>The unique identifier of the memory. </p>",
          "location":"querystring",
          "locationName":"memoryId"
        },
        "memoryType":{
          "shape":"MemoryType",
          "documentation":"<p>The type of memory.</p>",
          "location":"querystring",
          "locationName":"memoryType"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the total number of results is greater than the maxItems value provided in the request, enter the token returned in the <code>nextToken</code> field in the response in this field to return the next batch of results.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "GetAgentMemoryResponse":{
      "type":"structure",
      "members":{
        "memoryContents":{
          "shape":"Memories",
          "documentation":"<p>Contains details of the sessions stored in the memory</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the total number of results is greater than the maxItems value provided in the request, use this token when making another request in the <code>nextToken</code> field to return the next batch of results.</p>"
        }
      }
    },
    "GuadrailAction":{
      "type":"string",
      "enum":[
        "INTERVENED",
        "NONE"
      ]
    },
    "GuardrailAction":{
      "type":"string",
      "enum":[
        "INTERVENED",
        "NONE"
      ]
    },
    "GuardrailAssessment":{
      "type":"structure",
      "members":{
        "contentPolicy":{
          "shape":"GuardrailContentPolicyAssessment",
          "documentation":"<p>Content policy details of the Guardrail.</p>"
        },
        "sensitiveInformationPolicy":{
          "shape":"GuardrailSensitiveInformationPolicyAssessment",
          "documentation":"<p>Sensitive Information policy details of Guardrail.</p>"
        },
        "topicPolicy":{
          "shape":"GuardrailTopicPolicyAssessment",
          "documentation":"<p>Topic policy details of the Guardrail.</p>"
        },
        "wordPolicy":{
          "shape":"GuardrailWordPolicyAssessment",
          "documentation":"<p>Word policy details of the Guardrail.</p>"
        }
      },
      "documentation":"<p>Assessment details of the content analyzed by Guardrails.</p>",
      "sensitive":true
    },
    "GuardrailAssessmentList":{
      "type":"list",
      "member":{"shape":"GuardrailAssessment"}
    },
    "GuardrailConfiguration":{
      "type":"structure",
      "required":[
        "guardrailId",
        "guardrailVersion"
      ],
      "members":{
        "guardrailId":{
          "shape":"GuardrailConfigurationGuardrailIdString",
          "documentation":"<p>The unique identifier for the guardrail.</p>"
        },
        "guardrailVersion":{
          "shape":"GuardrailConfigurationGuardrailVersionString",
          "documentation":"<p>The version of the guardrail.</p>"
        }
      },
      "documentation":"<p>The configuration details for the guardrail.</p>"
    },
    "GuardrailConfigurationGuardrailIdString":{
      "type":"string",
      "max":64,
      "min":0,
      "pattern":"^[a-z0-9]+$"
    },
    "GuardrailConfigurationGuardrailVersionString":{
      "type":"string",
      "max":5,
      "min":1,
      "pattern":"^(([1-9][0-9]{0,7})|(DRAFT))$"
    },
    "GuardrailConfigurationWithArn":{
      "type":"structure",
      "required":[
        "guardrailIdentifier",
        "guardrailVersion"
      ],
      "members":{
        "guardrailIdentifier":{
          "shape":"GuardrailIdentifierWithArn",
          "documentation":"<p> The unique identifier for the guardrail. </p>"
        },
        "guardrailVersion":{
          "shape":"GuardrailVersion",
          "documentation":"<p> The version of the guardrail. </p>"
        }
      },
      "documentation":"<p> The configuration details for the guardrail. </p>"
    },
    "GuardrailContentFilter":{
      "type":"structure",
      "members":{
        "action":{
          "shape":"GuardrailContentPolicyAction",
          "documentation":"<p>The action placed on the content by the Guardrail filter.</p>"
        },
        "confidence":{
          "shape":"GuardrailContentFilterConfidence",
          "documentation":"<p>The confidence level regarding the content detected in the filter by the Guardrail.</p>"
        },
        "type":{
          "shape":"GuardrailContentFilterType",
          "documentation":"<p>The type of content detected in the filter by the Guardrail.</p>"
        }
      },
      "documentation":"<p>Details of the content filter used in the Guardrail.</p>",
      "sensitive":true
    },
    "GuardrailContentFilterConfidence":{
      "type":"string",
      "enum":[
        "NONE",
        "LOW",
        "MEDIUM",
        "HIGH"
      ]
    },
    "GuardrailContentFilterList":{
      "type":"list",
      "member":{"shape":"GuardrailContentFilter"},
      "sensitive":true
    },
    "GuardrailContentFilterType":{
      "type":"string",
      "enum":[
        "INSULTS",
        "HATE",
        "SEXUAL",
        "VIOLENCE",
        "MISCONDUCT",
        "PROMPT_ATTACK"
      ]
    },
    "GuardrailContentPolicyAction":{
      "type":"string",
      "enum":["BLOCKED"]
    },
    "GuardrailContentPolicyAssessment":{
      "type":"structure",
      "members":{
        "filters":{
          "shape":"GuardrailContentFilterList",
          "documentation":"<p>The filter details of the policy assessment used in the Guardrails filter.</p>"
        }
      },
      "documentation":"<p>The details of the policy assessment in the Guardrails filter.</p>",
      "sensitive":true
    },
    "GuardrailCustomWord":{
      "type":"structure",
      "members":{
        "action":{
          "shape":"GuardrailWordPolicyAction",
          "documentation":"<p>The action details for the custom word filter in the Guardrail.</p>"
        },
        "match":{
          "shape":"String",
          "documentation":"<p>The match details for the custom word filter in the Guardrail.</p>"
        }
      },
      "documentation":"<p>The custom word details for the filter in the Guardrail.</p>",
      "sensitive":true
    },
    "GuardrailCustomWordList":{
      "type":"list",
      "member":{"shape":"GuardrailCustomWord"},
      "sensitive":true
    },
    "GuardrailEvent":{
      "type":"structure",
      "members":{
        "action":{
          "shape":"GuadrailAction",
          "documentation":"<p>The guardrail action.</p>"
        }
      },
      "documentation":"<p>A guardrail event.</p>",
      "event":true
    },
    "GuardrailIdentifierWithArn":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"^(([a-z0-9]+)|(arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:guardrail/[a-z0-9]+))$"
    },
    "GuardrailManagedWord":{
      "type":"structure",
      "members":{
        "action":{
          "shape":"GuardrailWordPolicyAction",
          "documentation":"<p>The action details for the managed word filter in the Guardrail.</p>"
        },
        "match":{
          "shape":"String",
          "documentation":"<p>The match details for the managed word filter in the Guardrail.</p>"
        },
        "type":{
          "shape":"GuardrailManagedWordType",
          "documentation":"<p>The type details for the managed word filter in the Guardrail.</p>"
        }
      },
      "documentation":"<p>The managed word details for the filter in the Guardrail.</p>",
      "sensitive":true
    },
    "GuardrailManagedWordList":{
      "type":"list",
      "member":{"shape":"GuardrailManagedWord"},
      "sensitive":true
    },
    "GuardrailManagedWordType":{
      "type":"string",
      "enum":["PROFANITY"]
    },
    "GuardrailPiiEntityFilter":{
      "type":"structure",
      "members":{
        "action":{
          "shape":"GuardrailSensitiveInformationPolicyAction",
          "documentation":"<p>The action of the Guardrail filter to identify and remove PII.</p>"
        },
        "match":{
          "shape":"String",
          "documentation":"<p>The match to settings in the Guardrail filter to identify and remove PII.</p>"
        },
        "type":{
          "shape":"GuardrailPiiEntityType",
          "documentation":"<p>The type of PII the Guardrail filter has identified and removed.</p>"
        }
      },
      "documentation":"<p>The Guardrail filter to identify and remove personally identifiable information (PII).</p>",
      "sensitive":true
    },
    "GuardrailPiiEntityFilterList":{
      "type":"list",
      "member":{"shape":"GuardrailPiiEntityFilter"},
      "sensitive":true
    },
    "GuardrailPiiEntityType":{
      "type":"string",
      "enum":[
        "ADDRESS",
        "AGE",
        "AWS_ACCESS_KEY",
        "AWS_SECRET_KEY",
        "CA_HEALTH_NUMBER",
        "CA_SOCIAL_INSURANCE_NUMBER",
        "CREDIT_DEBIT_CARD_CVV",
        "CREDIT_DEBIT_CARD_EXPIRY",
        "CREDIT_DEBIT_CARD_NUMBER",
        "DRIVER_ID",
        "EMAIL",
        "INTERNATIONAL_BANK_ACCOUNT_NUMBER",
        "IP_ADDRESS",
        "LICENSE_PLATE",
        "MAC_ADDRESS",
        "NAME",
        "PASSWORD",
        "PHONE",
        "PIN",
        "SWIFT_CODE",
        "UK_NATIONAL_HEALTH_SERVICE_NUMBER",
        "UK_NATIONAL_INSURANCE_NUMBER",
        "UK_UNIQUE_TAXPAYER_REFERENCE_NUMBER",
        "URL",
        "USERNAME",
        "US_BANK_ACCOUNT_NUMBER",
        "US_BANK_ROUTING_NUMBER",
        "US_INDIVIDUAL_TAX_IDENTIFICATION_NUMBER",
        "US_PASSPORT_NUMBER",
        "US_SOCIAL_SECURITY_NUMBER",
        "VEHICLE_IDENTIFICATION_NUMBER"
      ]
    },
    "GuardrailRegexFilter":{
      "type":"structure",
      "members":{
        "action":{
          "shape":"GuardrailSensitiveInformationPolicyAction",
          "documentation":"<p>The action details for the regex filter used in the Guardrail.</p>"
        },
        "match":{
          "shape":"String",
          "documentation":"<p>The match details for the regex filter used in the Guardrail.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The name details for the regex filter used in the Guardrail.</p>"
        },
        "regex":{
          "shape":"String",
          "documentation":"<p>The regex details for the regex filter used in the Guardrail.</p>"
        }
      },
      "documentation":"<p>The details for the regex filter used in the Guardrail.</p>",
      "sensitive":true
    },
    "GuardrailRegexFilterList":{
      "type":"list",
      "member":{"shape":"GuardrailRegexFilter"},
      "sensitive":true
    },
    "GuardrailSensitiveInformationPolicyAction":{
      "type":"string",
      "enum":[
        "BLOCKED",
        "ANONYMIZED"
      ]
    },
    "GuardrailSensitiveInformationPolicyAssessment":{
      "type":"structure",
      "members":{
        "piiEntities":{
          "shape":"GuardrailPiiEntityFilterList",
          "documentation":"<p>The details of the PII entities used in the sensitive policy assessment for the Guardrail.</p>"
        },
        "regexes":{
          "shape":"GuardrailRegexFilterList",
          "documentation":"<p>The details of the regexes used in the sensitive policy assessment for the Guardrail.</p>"
        }
      },
      "documentation":"<p>The details of the sensitive policy assessment used in the Guardrail.</p>",
      "sensitive":true
    },
    "GuardrailTopic":{
      "type":"structure",
      "members":{
        "action":{
          "shape":"GuardrailTopicPolicyAction",
          "documentation":"<p>The action details on a specific topic in the Guardrail.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The name details on a specific topic in the Guardrail.</p>"
        },
        "type":{
          "shape":"GuardrailTopicType",
          "documentation":"<p>The type details on a specific topic in the Guardrail.</p>"
        }
      },
      "documentation":"<p>The details for a specific topic defined in the Guardrail.</p>",
      "sensitive":true
    },
    "GuardrailTopicList":{
      "type":"list",
      "member":{"shape":"GuardrailTopic"},
      "sensitive":true
    },
    "GuardrailTopicPolicyAction":{
      "type":"string",
      "enum":["BLOCKED"]
    },
    "GuardrailTopicPolicyAssessment":{
      "type":"structure",
      "members":{
        "topics":{
          "shape":"GuardrailTopicList",
          "documentation":"<p>The topic details of the policy assessment used in the Guardrail.</p>"
        }
      },
      "documentation":"<p>The details of the policy assessment used in the Guardrail.</p>",
      "sensitive":true
    },
    "GuardrailTopicType":{
      "type":"string",
      "enum":["DENY"]
    },
    "GuardrailTrace":{
      "type":"structure",
      "members":{
        "action":{
          "shape":"GuardrailAction",
          "documentation":"<p>The trace action details used with the Guardrail.</p>"
        },
        "inputAssessments":{
          "shape":"GuardrailAssessmentList",
          "documentation":"<p>The details of the input assessments used in the Guardrail Trace.</p>"
        },
        "outputAssessments":{
          "shape":"GuardrailAssessmentList",
          "documentation":"<p>The details of the output assessments used in the Guardrail Trace.</p>"
        },
        "traceId":{
          "shape":"TraceId",
          "documentation":"<p>The details of the trace Id used in the Guardrail Trace.</p>"
        }
      },
      "documentation":"<p>The trace details used in the Guardrail.</p>",
      "sensitive":true
    },
    "GuardrailVersion":{
      "type":"string",
      "max":5,
      "min":1,
      "pattern":"^(([1-9][0-9]{0,7})|(DRAFT))$"
    },
    "GuardrailWordPolicyAction":{
      "type":"string",
      "enum":["BLOCKED"]
    },
    "GuardrailWordPolicyAssessment":{
      "type":"structure",
      "members":{
        "customWords":{
          "shape":"GuardrailCustomWordList",
          "documentation":"<p>The custom word details for words defined in the Guardrail filter.</p>"
        },
        "managedWordLists":{
          "shape":"GuardrailManagedWordList",
          "documentation":"<p>The managed word lists for words defined in the Guardrail filter.</p>"
        }
      },
      "documentation":"<p>The assessment details for words defined in the Guardrail filter.</p>",
      "sensitive":true
    },
    "Identifier":{
      "type":"string",
      "max":1024,
      "min":1,
      "sensitive":true
    },
    "ImplicitFilterConfiguration":{
      "type":"structure",
      "required":[
        "metadataAttributes",
        "modelArn"
      ],
      "members":{
        "metadataAttributes":{
          "shape":"MetadataAttributeSchemaList",
          "documentation":"<p>Metadata that can be used in a filter.</p>"
        },
        "modelArn":{
          "shape":"BedrockModelArn",
          "documentation":"<p>The model that generates the filter.</p>"
        }
      },
      "documentation":"<p>Settings for implicit filtering, where a model generates a metadata filter based on the prompt.</p>"
    },
    "InferenceConfig":{
      "type":"structure",
      "members":{
        "textInferenceConfig":{
          "shape":"TextInferenceConfig",
          "documentation":"<p> Configuration settings specific to text generation while generating responses using RetrieveAndGenerate. </p>"
        }
      },
      "documentation":"<p> The configuration for inference settings when generating responses using RetrieveAndGenerate. </p>"
    },
    "InferenceConfiguration":{
      "type":"structure",
      "members":{
        "maximumLength":{
          "shape":"MaximumLength",
          "documentation":"<p>The maximum number of tokens allowed in the generated response.</p>"
        },
        "stopSequences":{
          "shape":"StopSequences",
          "documentation":"<p>A list of stop sequences. A stop sequence is a sequence of characters that causes the model to stop generating the response.</p>"
        },
        "temperature":{
          "shape":"Temperature",
          "documentation":"<p>The likelihood of the model selecting higher-probability options while generating a response. A lower value makes the model more likely to choose higher-probability options, while a higher value makes the model more likely to choose lower-probability options.</p>"
        },
        "topK":{
          "shape":"TopK",
          "documentation":"<p>While generating a response, the model determines the probability of the following token at each point of generation. The value that you set for <code>topK</code> is the number of most-likely candidates from which the model chooses the next token in the sequence. For example, if you set <code>topK</code> to 50, the model selects the next token from among the top 50 most likely choices.</p>"
        },
        "topP":{
          "shape":"TopP",
          "documentation":"<p>While generating a response, the model determines the probability of the following token at each point of generation. The value that you set for <code>Top P</code> determines the number of most-likely candidates from which the model chooses the next token in the sequence. For example, if you set <code>topP</code> to 0.8, the model only selects the next token from the top 80% of the probability distribution of next tokens.</p>"
        }
      },
      "documentation":"<p>Specifications about the inference parameters that were provided alongside the prompt. These are specified in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent_PromptOverrideConfiguration.html\">PromptOverrideConfiguration</a> object that was set when the agent was created or updated. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-parameters.html\">Inference parameters for foundation models</a>.</p>"
    },
    "InlineAgentFilePart":{
      "type":"structure",
      "members":{
        "files":{
          "shape":"OutputFiles",
          "documentation":"<p>Files containing intermediate response for the user.</p>"
        }
      },
      "documentation":"<p>Contains intermediate response for code interpreter if any files have been generated.</p>",
      "event":true
    },
    "InlineAgentPayloadPart":{
      "type":"structure",
      "members":{
        "attribution":{
          "shape":"Attribution",
          "documentation":"<p>Contains citations for a part of an agent response.</p>"
        },
        "bytes":{
          "shape":"PartBody",
          "documentation":"<p>A part of the agent response in bytes.</p>"
        }
      },
      "documentation":"<p>Contains a part of an agent response and citations for it. </p>",
      "event":true,
      "sensitive":true
    },
    "InlineAgentResponseStream":{
      "type":"structure",
      "members":{
        "accessDeniedException":{
          "shape":"AccessDeniedException",
          "documentation":"<p>The request is denied because of missing access permissions. Check your permissions and retry your request.</p>"
        },
        "badGatewayException":{
          "shape":"BadGatewayException",
          "documentation":"<p>There was an issue with a dependency due to a server issue. Retry your request. </p>"
        },
        "chunk":{
          "shape":"InlineAgentPayloadPart",
          "documentation":"<p>Contains a part of an agent response and citations for it.</p>"
        },
        "conflictException":{
          "shape":"ConflictException",
          "documentation":"<p>There was a conflict performing an operation. Resolve the conflict and retry your request. </p>"
        },
        "dependencyFailedException":{
          "shape":"DependencyFailedException",
          "documentation":"<p>There was an issue with a dependency. Check the resource configurations and retry the request.</p>"
        },
        "files":{
          "shape":"InlineAgentFilePart",
          "documentation":"<p>Contains intermediate response for code interpreter if any files have been generated.</p>"
        },
        "internalServerException":{
          "shape":"InternalServerException",
          "documentation":"<p>An internal server error occurred. Retry your request.</p>"
        },
        "resourceNotFoundException":{
          "shape":"ResourceNotFoundException",
          "documentation":"<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again. </p>"
        },
        "returnControl":{
          "shape":"InlineAgentReturnControlPayload",
          "documentation":"<p>Contains the parameters and information that the agent elicited from the customer to carry out an action. This information is returned to the system and can be used in your own setup for fulfilling the action.</p>"
        },
        "serviceQuotaExceededException":{
          "shape":"ServiceQuotaExceededException",
          "documentation":"<p>The number of requests exceeds the service quota. Resubmit your request later.</p>"
        },
        "throttlingException":{
          "shape":"ThrottlingException",
          "documentation":"<p>The number of requests exceeds the limit. Resubmit your request later.</p>"
        },
        "trace":{
          "shape":"InlineAgentTracePart",
          "documentation":"<p>Contains information about the agent and session, alongside the agent's reasoning process and results from calling actions and querying knowledge bases and metadata about the trace. You can use the trace to understand how the agent arrived at the response it provided the customer. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/trace-events.html\">Trace events</a>. </p>"
        },
        "validationException":{
          "shape":"ValidationException",
          "documentation":"<p>Input validation failed. Check your request parameters and retry the request.</p>"
        }
      },
      "documentation":"<p>The response from invoking the agent and associated citations and trace information.</p>",
      "eventstream":true
    },
    "InlineAgentReturnControlPayload":{
      "type":"structure",
      "members":{
        "invocationId":{
          "shape":"String",
          "documentation":"<p>The identifier of the action group invocation. </p>"
        },
        "invocationInputs":{
          "shape":"InvocationInputs",
[...]
