{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2024-04-15",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"application-signals",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Amazon CloudWatch Application Signals",
    "serviceId":"Application Signals",
    "signatureVersion":"v4",
    "signingName":"application-signals",
    "uid":"application-signals-2024-04-15"
  },
  "operations":{
    "BatchDeleteInstrumentationConfigurations":{
      "name":"BatchDeleteInstrumentationConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/batch-delete-instrumentation-configurations",
        "responseCode":200
      },
      "input":{"shape":"BatchDeleteInstrumentationConfigurationsRequest"},
      "output":{"shape":"BatchDeleteInstrumentationConfigurationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes multiple instrumentation configurations in a single request. Supports two mutually exclusive selection methods:</p> <ul> <li>By scope: Delete all configurations matching a Service + Environment + InstrumentationType</li> <li>By ARN list: Delete specific configurations by providing a list of resource ARNs</li> </ul>"
    },
    "BatchGetServiceLevelObjectiveBudgetReport":{
      "name":"BatchGetServiceLevelObjectiveBudgetReport",
      "http":{
        "method":"POST",
        "requestUri":"/budget-report",
        "responseCode":200
      },
      "input":{"shape":"BatchGetServiceLevelObjectiveBudgetReportInput"},
      "output":{"shape":"BatchGetServiceLevelObjectiveBudgetReportOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Use this operation to retrieve one or more <i>service level objective (SLO) budget reports</i>.</p> <p>An <i>error budget</i> is the amount of time or requests in an unhealthy state that your service can accumulate during an interval before your overall SLO budget health is breached and the SLO is considered to be unmet. For example, an SLO with a threshold of 99.95% and a monthly interval translates to an error budget of 21.9 minutes of downtime in a 30-day month.</p> <p>Budget reports include a health indicator, the attainment value, and remaining budget.</p> <p>For more information about SLO error budgets, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-ServiceLevelObjectives.html#CloudWatch-ServiceLevelObjectives-concepts\"> SLO concepts</a>.</p>"
    },
    "BatchUpdateExclusionWindows":{
      "name":"BatchUpdateExclusionWindows",
      "http":{
        "method":"PATCH",
        "requestUri":"/exclusion-windows",
        "responseCode":200
      },
      "input":{"shape":"BatchUpdateExclusionWindowsInput"},
      "output":{"shape":"BatchUpdateExclusionWindowsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Add or remove time window exclusions for one or more Service Level Objectives (SLOs).</p>"
    },
    "CreateInstrumentationConfiguration":{
      "name":"CreateInstrumentationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/create-instrumentation-configuration",
        "responseCode":200
      },
      "input":{"shape":"CreateInstrumentationConfigurationRequest"},
      "output":{"shape":"CreateInstrumentationConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a dynamic instrumentation configuration for a specific code or endpoint location within a service and environment. Configurations are immutable after creation.</p> <p>For <code>BREAKPOINT</code> type configurations, they expire after 24 hours unless a shorter expiration is provided. For <code>PROBE</code> type configurations, they persist until explicitly deleted; an expiration cannot be set for <code>PROBE</code> configurations.</p> <p>If a configuration already exists for the same service, environment, signal type, and location, this operation returns a conflict instead of overwriting it. Use attribute filters and capture settings to control where the instrumentation runs and which data is collected.</p>"
    },
    "CreateServiceLevelObjective":{
      "name":"CreateServiceLevelObjective",
      "http":{
        "method":"POST",
        "requestUri":"/slo",
        "responseCode":200
      },
      "input":{"shape":"CreateServiceLevelObjectiveInput"},
      "output":{"shape":"CreateServiceLevelObjectiveOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a service level objective (SLO), which can help you ensure that your critical business operations are meeting customer expectations. Use SLOs to set and track specific target levels for the reliability and availability of your applications and services. SLOs use service level indicators (SLIs) to calculate whether the application is performing at the level that you want.</p> <p>Create an SLO to set a target for a service or operation’s availability or latency. CloudWatch measures this target frequently you can find whether it has been breached. </p> <p>The target performance quality that is defined for an SLO is the <i>attainment goal</i>.</p> <p>You can set SLO targets for your applications that are discovered by Application Signals, using critical metrics such as latency and availability. You can also set SLOs against any CloudWatch metric or math expression that produces a time series.</p> <note> <p>You can't create an SLO for a service operation that was discovered by Application Signals until after that operation has reported standard metrics to Application Signals.</p> </note> <p>When you create an SLO, you specify whether it is a <i>period-based SLO</i> or a <i>request-based SLO</i>. Each type of SLO has a different way of evaluating your application's performance against its attainment goal.</p> <ul> <li> <p>A <i>period-based SLO</i> uses defined <i>periods</i> of time within a specified total time interval. For each period of time, Application Signals determines whether the application met its goal. The attainment rate is calculated as the <code>number of good periods/number of total periods</code>.</p> <p>For example, for a period-based SLO, meeting an attainment goal of 99.9% means that within your interval, your application must meet its performance goal during at least 99.9% of the time periods.</p> </li> <li> <p>A <i>request-based SLO</i> doesn't use pre-defined periods of time. Instead, the SLO measures <code>number of good requests/number of total requests</code> during the interval. At any time, you can find the ratio of good requests to total requests for the interval up to the time stamp that you specify, and measure that ratio against the goal set in your SLO.</p> </li> </ul> <p>After you have created an SLO, you can retrieve error budget reports for it. An <i>error budget</i> is the amount of time or amount of requests that your application can be non-compliant with the SLO's goal, and still have your application meet the goal.</p> <ul> <li> <p>For a period-based SLO, the error budget starts at a number defined by the highest number of periods that can fail to meet the threshold, while still meeting the overall goal. The <i>remaining error budget</i> decreases with every failed period that is recorded. The error budget within one interval can never increase.</p> <p>For example, an SLO with a threshold that 99.95% of requests must be completed under 2000ms every month translates to an error budget of 21.9 minutes of downtime per month.</p> </li> <li> <p>For a request-based SLO, the remaining error budget is dynamic and can increase or decrease, depending on the ratio of good requests to total requests.</p> </li> </ul> <p>For more information about SLOs, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-ServiceLevelObjectives.html\"> Service level objectives (SLOs)</a>. </p> <p>When you perform a <code>CreateServiceLevelObjective</code> operation, Application Signals creates the <i>AWSServiceRoleForCloudWatchApplicationSignals</i> service-linked role, if it doesn't already exist in your account. This service- linked role has the following permissions:</p> <ul> <li> <p> <code>xray:GetServiceGraph</code> </p> </li> <li> <p> <code>logs:StartQuery</code> </p> </li> <li> <p> <code>logs:GetQueryResults</code> </p> </li> <li> <p> <code>cloudwatch:GetMetricData</code> </p> </li> <li> <p> <code>cloudwatch:ListMetrics</code> </p> </li> <li> <p> <code>tag:GetResources</code> </p> </li> <li> <p> <code>autoscaling:DescribeAutoScalingGroups</code> </p> </li> </ul>"
    },
    "DeleteGroupingConfiguration":{
      "name":"DeleteGroupingConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/grouping-configuration",
        "responseCode":200
      },
      "output":{"shape":"DeleteGroupingConfigurationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes the grouping configuration for this account. This removes all custom grouping attribute definitions that were previously configured.</p>",
      "idempotent":true
    },
    "DeleteInstrumentationConfiguration":{
      "name":"DeleteInstrumentationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/delete-instrumentation-configuration",
        "responseCode":200
      },
      "input":{"shape":"DeleteInstrumentationConfigurationRequest"},
      "output":{"shape":"DeleteInstrumentationConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the specified instrumentation configuration. SDKs remove the instrumentation during their next sync after the configuration is deleted or expires.</p>"
    },
    "DeleteServiceLevelObjective":{
      "name":"DeleteServiceLevelObjective",
      "http":{
        "method":"DELETE",
        "requestUri":"/slo/{Id}",
        "responseCode":200
      },
      "input":{"shape":"DeleteServiceLevelObjectiveInput"},
      "output":{"shape":"DeleteServiceLevelObjectiveOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes the specified service level objective.</p>",
      "idempotent":true
    },
    "GetInstrumentationConfiguration":{
      "name":"GetInstrumentationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/get-instrumentation-configuration",
        "responseCode":200
      },
      "input":{"shape":"GetInstrumentationConfigurationRequest"},
      "output":{"shape":"GetInstrumentationConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns the details of a single instrumentation configuration identified by service, environment, signal type, and location. Use this to audit or display configuration details.</p>"
    },
    "GetInstrumentationConfigurationStatus":{
      "name":"GetInstrumentationConfigurationStatus",
      "http":{
        "method":"POST",
        "requestUri":"/get-instrumentation-configuration-status",
        "responseCode":200
      },
      "input":{"shape":"GetInstrumentationConfigurationStatusRequest"},
      "output":{"shape":"GetInstrumentationConfigurationStatusResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the status history for a single instrumentation configuration during a specified time range. The response lists when the configuration was ACTIVE, READY, ERROR, or DISABLED.</p> <p>If no status or time window is provided, the operation defaults to ACTIVE events from the last hour.</p>",
      "readonly":true
    },
    "GetService":{
      "name":"GetService",
      "http":{
        "method":"POST",
        "requestUri":"/service",
        "responseCode":200
      },
      "input":{"shape":"GetServiceInput"},
      "output":{"shape":"GetServiceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns information about a service discovered by Application Signals.</p>",
      "readonly":true
    },
    "GetServiceLevelObjective":{
      "name":"GetServiceLevelObjective",
      "http":{
        "method":"GET",
        "requestUri":"/slo/{Id}",
        "responseCode":200
      },
      "input":{"shape":"GetServiceLevelObjectiveInput"},
      "output":{"shape":"GetServiceLevelObjectiveOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns information about one SLO created in the account. </p>",
      "readonly":true
    },
    "ListAuditFindings":{
      "name":"ListAuditFindings",
      "http":{
        "method":"POST",
        "requestUri":"/auditFindings",
        "responseCode":200
      },
      "input":{"shape":"ListAuditFindingsInput"},
      "output":{"shape":"ListAuditFindingsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of audit findings that provide automated analysis of service behavior and root cause analysis. These findings help identify the most significant observations about your services, including performance issues, anomalies, and potential problems. The findings are generated using heuristic algorithms based on established troubleshooting patterns.</p>",
      "readonly":true
    },
    "ListEntityEvents":{
      "name":"ListEntityEvents",
      "http":{
        "method":"POST",
        "requestUri":"/events",
        "responseCode":200
      },
      "input":{"shape":"ListEntityEventsInput"},
      "output":{"shape":"ListEntityEventsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of change events for a specific entity, such as deployments, configuration changes, or other state-changing activities. This operation helps track the history of changes that may have affected service performance.</p>",
      "readonly":true
    },
    "ListGroupingAttributeDefinitions":{
      "name":"ListGroupingAttributeDefinitions",
      "http":{
        "method":"POST",
        "requestUri":"/grouping-attribute-definitions",
        "responseCode":200
      },
      "input":{"shape":"ListGroupingAttributeDefinitionsInput"},
      "output":{"shape":"ListGroupingAttributeDefinitionsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns the current grouping configuration for this account, including all custom grouping attribute definitions that have been configured. These definitions determine how services are logically grouped based on telemetry attributes, Amazon Web Services tags, or predefined mappings.</p>",
      "readonly":true
    },
    "ListInstrumentationConfigurations":{
      "name":"ListInstrumentationConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/list-instrumentation-configurations",
        "responseCode":200
      },
      "input":{"shape":"ListInstrumentationConfigurationsRequest"},
      "output":{"shape":"InstrumentationConfigurationsPage"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns all active instrumentation configurations for a service and environment. SDKs use this operation to sync configurations and apply client-side filters locally.</p> <p>Include the previous <code>SyncedAt</code> value to perform incremental syncs. When no changes are detected, the response sets <code>Changed</code> to <code>false</code> and omits configuration details.</p>"
    },
    "ListServiceDependencies":{
      "name":"ListServiceDependencies",
      "http":{
        "method":"POST",
        "requestUri":"/service-dependencies",
        "responseCode":200
      },
      "input":{"shape":"ListServiceDependenciesInput"},
      "output":{"shape":"ListServiceDependenciesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of service dependencies of the service that you specify. A dependency is an infrastructure component that an operation of this service connects with. Dependencies can include Amazon Web Services services, Amazon Web Services resources, and third-party services. </p>",
      "readonly":true
    },
    "ListServiceDependents":{
      "name":"ListServiceDependents",
      "http":{
        "method":"POST",
        "requestUri":"/service-dependents",
        "responseCode":200
      },
      "input":{"shape":"ListServiceDependentsInput"},
      "output":{"shape":"ListServiceDependentsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns the list of dependents that invoked the specified service during the provided time range. Dependents include other services, CloudWatch Synthetics canaries, and clients that are instrumented with CloudWatch RUM app monitors.</p>",
      "readonly":true
    },
    "ListServiceLevelObjectiveExclusionWindows":{
      "name":"ListServiceLevelObjectiveExclusionWindows",
      "http":{
        "method":"GET",
        "requestUri":"/slo/{Id}/exclusion-windows",
        "responseCode":200
      },
      "input":{"shape":"ListServiceLevelObjectiveExclusionWindowsInput"},
      "output":{"shape":"ListServiceLevelObjectiveExclusionWindowsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves all exclusion windows configured for a specific SLO.</p>",
      "readonly":true
    },
    "ListServiceLevelObjectives":{
      "name":"ListServiceLevelObjectives",
      "http":{
        "method":"POST",
        "requestUri":"/slos",
        "responseCode":200
      },
      "input":{"shape":"ListServiceLevelObjectivesInput"},
      "output":{"shape":"ListServiceLevelObjectivesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of SLOs created in this account.</p>",
      "readonly":true
    },
    "ListServiceOperations":{
      "name":"ListServiceOperations",
      "http":{
        "method":"POST",
        "requestUri":"/service-operations",
        "responseCode":200
      },
      "input":{"shape":"ListServiceOperationsInput"},
      "output":{"shape":"ListServiceOperationsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of the <i>operations</i> of this service that have been discovered by Application Signals. Only the operations that were invoked during the specified time range are returned.</p>",
      "readonly":true
    },
    "ListServiceStates":{
      "name":"ListServiceStates",
      "http":{
        "method":"POST",
        "requestUri":"/service/states",
        "responseCode":200
      },
      "input":{"shape":"ListServiceStatesInput"},
      "output":{"shape":"ListServiceStatesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns information about the last deployment and other change states of services. This API provides visibility into recent changes that may have affected service performance, helping with troubleshooting and change correlation.</p>"
    },
    "ListServices":{
      "name":"ListServices",
      "http":{
        "method":"GET",
        "requestUri":"/services",
        "responseCode":200
      },
      "input":{"shape":"ListServicesInput"},
      "output":{"shape":"ListServicesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of services that have been discovered by Application Signals. A service represents a minimum logical and transactional unit that completes a business function. Services are discovered through Application Signals instrumentation.</p>",
      "readonly":true
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Displays the tags associated with a CloudWatch resource. Tags can be assigned to service level objectives.</p>",
      "readonly":true
    },
    "PutGroupingConfiguration":{
      "name":"PutGroupingConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/grouping-configuration",
        "responseCode":200
      },
      "input":{"shape":"PutGroupingConfigurationInput"},
      "output":{"shape":"PutGroupingConfigurationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates or updates the grouping configuration for this account. This operation allows you to define custom grouping attributes that determine how services are logically grouped based on telemetry attributes, Amazon Web Services tags, or predefined mappings. These grouping attributes can then be used to organize and filter services in the Application Signals console and APIs.</p>",
      "idempotent":true
    },
    "ReportInstrumentationConfigurationStatus":{
      "name":"ReportInstrumentationConfigurationStatus",
      "http":{
        "method":"POST",
        "requestUri":"/report-instrumentation-configuration-status",
        "responseCode":200
      },
      "input":{"shape":"ReportInstrumentationConfigurationStatusRequest"},
      "output":{"shape":"ReportInstrumentationConfigurationStatusResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Reports the status of one or more instrumentation configurations from SDK instances. Use this to record when configurations become ready, hit errors, become active, or are disabled by limits.</p> <p>Report <code>READY</code>, <code>ERROR</code>, and <code>DISABLED</code> when the status changes. Report <code>ACTIVE</code> periodically (for example, every minute) while instrumentation is running.</p>",
      "idempotent":true
    },
    "StartDiscovery":{
      "name":"StartDiscovery",
      "http":{
        "method":"POST",
        "requestUri":"/start-discovery",
        "responseCode":200
      },
      "input":{"shape":"StartDiscoveryInput"},
      "output":{"shape":"StartDiscoveryOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Enables this Amazon Web Services account to be able to use CloudWatch Application Signals by creating the <i>AWSServiceRoleForCloudWatchApplicationSignals</i> service-linked role. This service- linked role has the following permissions:</p> <ul> <li> <p> <code>xray:GetServiceGraph</code> </p> </li> <li> <p> <code>logs:StartQuery</code> </p> </li> <li> <p> <code>logs:GetQueryResults</code> </p> </li> <li> <p> <code>cloudwatch:GetMetricData</code> </p> </li> <li> <p> <code>cloudwatch:ListMetrics</code> </p> </li> <li> <p> <code>tag:GetResources</code> </p> </li> <li> <p> <code>autoscaling:DescribeAutoScalingGroups</code> </p> </li> </ul> <p>A service-linked CloudTrail event channel is created to process CloudTrail events and return change event information. This includes last deployment time, userName, eventName, and other event metadata.</p> <p>After completing this step, you still need to instrument your Java and Python applications to send data to Application Signals. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-Application-Signals-Enable.html\"> Enabling Application Signals</a>.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tag-resource",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Assigns one or more tags (key-value pairs) to the specified CloudWatch resource, such as a service level objective.</p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions by granting a user permission to access or change only resources with certain tag values.</p> <p>Tags don't have any semantic meaning to Amazon Web Services and are interpreted strictly as strings of characters.</p> <p>You can use the <code>TagResource</code> action with an alarm that already has tags. If you specify a new tag key for the alarm, this tag is appended to the list of tags associated with the alarm. If you specify a tag key that is already associated with the alarm, the new tag value that you specify replaces the previous value for that tag.</p> <p>You can associate as many as 50 tags with a CloudWatch resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/untag-resource",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Removes one or more tags from the specified resource.</p>"
    },
    "UpdateServiceLevelObjective":{
      "name":"UpdateServiceLevelObjective",
      "http":{
        "method":"PATCH",
        "requestUri":"/slo/{Id}",
        "responseCode":200
      },
      "input":{"shape":"UpdateServiceLevelObjectiveInput"},
      "output":{"shape":"UpdateServiceLevelObjectiveOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates an existing service level objective (SLO). If you omit parameters, the previous values of those parameters are retained. </p> <p>You cannot change from a period-based SLO to a request-based SLO, or change from a request-based SLO to a period-based SLO.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ServiceErrorMessage"}
      },
      "documentation":"<p>You don't have sufficient permissions to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccountId":{
      "type":"string",
      "max":255,
      "min":1
    },
    "AmazonResourceName":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "Attainment":{
      "type":"double",
      "box":true
    },
    "AttainmentGoal":{
      "type":"double",
      "box":true
    },
    "AttributeFilter":{
      "type":"structure",
      "required":[
        "AttributeFilterName",
        "AttributeFilterValues"
      ],
      "members":{
        "AttributeFilterName":{
          "shape":"AttributeFilterName",
          "documentation":"<p>The name of the attribute to filter by, such as <code>Platform</code>, <code>Environment</code>, or <code>BusinessUnit</code>.</p>"
        },
        "AttributeFilterValues":{
          "shape":"AttributeFilterValues",
          "documentation":"<p>An array of values to match for the specified attribute. Services that have any of these values for the attribute will be included in the results.</p>"
        }
      },
      "documentation":"<p>A structure that defines a filter for narrowing down results based on specific attribute values. This can be used to filter services by platform, environment, or other service characteristics.</p>"
    },
    "AttributeFilterName":{
      "type":"string",
      "pattern":"[A-Za-z0-9 :/-]+"
    },
    "AttributeFilterValue":{
      "type":"string",
      "pattern":"[A-Za-z0-9 :/-]+"
    },
    "AttributeFilterValues":{
      "type":"list",
      "member":{"shape":"AttributeFilterValue"},
      "max":20,
      "min":0
    },
    "AttributeFilters":{
      "type":"list",
      "member":{"shape":"AttributeFilter"},
      "max":20,
      "min":0
    },
    "AttributeMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "AttributeMaps":{
      "type":"list",
      "member":{"shape":"AttributeMap"}
    },
    "Attributes":{
      "type":"map",
      "key":{"shape":"KeyAttributeName"},
      "value":{"shape":"KeyAttributeValue"},
      "max":4,
      "min":1
    },
    "AuditFinding":{
      "type":"structure",
      "required":["KeyAttributes"],
      "members":{
        "KeyAttributes":{
          "shape":"Attributes",
          "documentation":"<p>The key attributes that identify the service or entity this audit finding relates to. This is a string-to-string map that includes fields like Type, Name, and Environment.</p>"
        },
        "AuditorResults":{
          "shape":"AuditorResults",
          "documentation":"<p>An array of auditor results that contain the specific findings, descriptions, and severity levels identified by different auditing algorithms.</p>"
        },
        "Operation":{
          "shape":"String",
          "documentation":"<p>The name of the operation associated with this audit finding, if the finding is specific to a particular service operation.</p>"
        },
        "MetricGraph":{
          "shape":"MetricGraph",
          "documentation":"<p>A structure containing metric data queries and time range information that provides context for the audit finding through relevant performance metrics.</p>"
        },
        "DependencyGraph":{
          "shape":"DependencyGraph",
          "documentation":"<p>A structure containing nodes and edges that represent the dependency relationships relevant to this audit finding, helping to understand the context and potential impact.</p>"
        },
        "Type":{
          "shape":"String",
          "documentation":"<p>The type of audit finding.</p>"
        }
      },
      "documentation":"<p>A structure that contains information about an audit finding, which represents an automated analysis result about service behavior, performance issues, or potential problems identified through heuristic algorithms.</p>"
    },
    "AuditFindings":{
      "type":"list",
      "member":{"shape":"AuditFinding"},
      "max":10,
      "min":0
    },
    "AuditTarget":{
      "type":"structure",
      "required":[
        "Type",
        "Data"
      ],
      "members":{
        "Type":{
          "shape":"String",
          "documentation":"<p>The type of entity being audited, such as <code>service</code>, <code>SLO</code>, <code>service_operation</code>, or <code>canary</code>. </p>"
        },
        "Data":{
          "shape":"AuditTargetEntity",
          "documentation":"<p>The specific data identifying the audit target entity.</p>"
        }
      },
      "documentation":"<p>A structure that specifies the target entity for audit analysis, such as a <code>service</code>, <code>SLO</code>, <code>service_operation</code>, or <code>canary</code>.</p>"
    },
    "AuditTargetEntity":{
      "type":"structure",
      "members":{
        "Service":{
          "shape":"ServiceEntity",
          "documentation":"<p>Service entity information when the audit target is a service.</p>"
        },
        "Slo":{
          "shape":"ServiceLevelObjectiveEntity",
          "documentation":"<p>SLO entity information when the audit target is a service level objective.</p>"
        },
        "ServiceOperation":{
          "shape":"ServiceOperationEntity",
          "documentation":"<p>Service operation entity information when the audit target is a specific service operation.</p>"
        },
        "Canary":{
          "shape":"CanaryEntity",
          "documentation":"<p>Canary entity information when the audit target is a CloudWatch Synthetics canary.</p>"
        }
      },
      "documentation":"<p>A union structure that contains the specific entity information for different types of audit targets.</p>",
      "union":true
    },
    "AuditTargets":{
      "type":"list",
      "member":{"shape":"AuditTarget"},
      "max":10,
      "min":1
    },
    "AuditorResult":{
      "type":"structure",
      "members":{
        "Auditor":{
          "shape":"String",
          "documentation":"<p>The name of the auditor algorithm that generated this result.</p>"
        },
        "Description":{
          "shape":"AuditorResultDescriptionString",
          "documentation":"<p>A detailed description of the audit finding, explaining what was observed and potential implications.</p>"
        },
        "Data":{
          "shape":"DataMap",
          "documentation":"<p>This is a string-to-string map. It contains additional data about the result of an automated audit analysis.</p>"
        },
        "Severity":{
          "shape":"Severity",
          "documentation":"<p>The severity level of this audit finding, indicating the importance and potential impact of the issue.</p>"
        }
      },
      "documentation":"<p>A structure that contains the result of an automated audit analysis, including the auditor name, description of findings, additional data, and severity level.</p>"
    },
    "AuditorResultDescriptionString":{
      "type":"string",
      "max":10240,
      "min":0
    },
    "AuditorResults":{
      "type":"list",
      "member":{"shape":"AuditorResult"},
      "max":5,
      "min":0
    },
    "Auditors":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "AwsAccountId":{
      "type":"string",
      "pattern":"[0-9]{12}"
    },
    "BatchDeleteByResourceArns":{
      "type":"structure",
      "required":[
        "ResourceArns",
        "InstrumentationType"
      ],
      "members":{
        "ResourceArns":{
          "shape":"BatchDeleteByResourceArnsResourceArnsList",
          "documentation":"<p>List of resource ARNs to delete.</p>"
        },
        "InstrumentationType":{
          "shape":"InstrumentationType",
          "documentation":"<p>Instrumentation type: BREAKPOINT or PROBE.</p>"
        }
      },
      "documentation":"<p>Parameters for targeted delete by ARN list.</p>"
    },
    "BatchDeleteByResourceArnsResourceArnsList":{
      "type":"list",
      "member":{"shape":"BatchDeleteByResourceArnsResourceArnsListMemberString"},
      "documentation":"<p>List of resource ARNs for batch delete by ARN list. Maximum 50 ARNs per request.</p>",
      "max":50,
      "min":1
    },
    "BatchDeleteByResourceArnsResourceArnsListMemberString":{
      "type":"string",
      "max":2048,
      "min":20
    },
    "BatchDeleteDeletionTarget":{
      "type":"structure",
      "members":{
        "Scope":{
          "shape":"BatchDeleteScope",
          "documentation":"<p>Delete all configurations matching the specified scope.</p>"
        },
        "ResourceArns":{
          "shape":"BatchDeleteByResourceArns",
          "documentation":"<p>Delete specific configurations by ARN list.</p>"
        }
      },
      "documentation":"<p>Union type for batch delete target selection. Exactly one of the two modes must be specified.</p>",
      "union":true
    },
    "BatchDeleteError":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "Code",
        "Message"
      ],
      "members":{
        "ResourceArn":{
          "shape":"String",
          "documentation":"<p>ARN of the configuration that failed to delete.</p>"
        },
        "Code":{
          "shape":"BatchDeleteErrorCode",
          "documentation":"<p>Error code indicating the type of failure.</p>"
        },
        "Message":{
          "shape":"String",
          "documentation":"<p>Descriptive error message.</p>"
        }
      },
      "documentation":"<p>Represents an error that occurred when attempting to delete a configuration.</p>"
    },
    "BatchDeleteErrorCode":{
      "type":"string",
      "documentation":"<p>Error codes for batch delete item-level failures.</p>",
      "enum":[
        "ResourceNotFoundException",
        "AccessDeniedException",
        "InternalServiceException"
      ]
    },
    "BatchDeleteErrorList":{
      "type":"list",
      "member":{"shape":"BatchDeleteError"},
      "documentation":"<p>List of errors in batch delete response.</p>"
    },
    "BatchDeleteInstrumentationConfigurationsRequest":{
      "type":"structure",
      "required":["DeletionTarget"],
      "members":{
        "DeletionTarget":{
          "shape":"BatchDeleteDeletionTarget",
          "documentation":"<p>The deletion target - either bulk by scope or targeted by ARN list.</p>"
        }
      }
    },
    "BatchDeleteInstrumentationConfigurationsResponse":{
      "type":"structure",
      "required":[
        "DeletedCount",
        "SuccessfulDeletions",
        "Errors"
      ],
      "members":{
        "DeletedCount":{
          "shape":"Integer",
          "documentation":"<p>Number of configurations successfully deleted. When deleting by scope, this is the total count of deleted items. When deleting by ARN list, this equals the length of SuccessfulDeletions.</p>"
        },
        "SuccessfulDeletions":{
          "shape":"BatchDeleteSuccessfulDeletionList",
          "documentation":"<p>List of successfully deleted configurations. Deleting by scope populates SignalType and LocationHash per item. Deleting by ARN list populates ResourceArn per item.</p>"
        },
        "Errors":{
          "shape":"BatchDeleteErrorList",
          "documentation":"<p>List of configurations that failed to delete.</p>"
        }
      }
    },
    "BatchDeleteScope":{
      "type":"structure",
      "required":[
        "Service",
        "Environment",
        "InstrumentationType"
      ],
      "members":{
        "Service":{
          "shape":"BatchDeleteScopeServiceString",
          "documentation":"<p>Service name for the instrumentation configurations.</p>"
        },
        "Environment":{
          "shape":"BatchDeleteScopeEnvironmentString",
          "documentation":"<p>Environment identifier for the instrumentation configurations.</p>"
        },
        "InstrumentationType":{
          "shape":"InstrumentationType",
          "documentation":"<p>Instrumentation type: BREAKPOINT or PROBE.</p>"
        }
      },
      "documentation":"<p>Scope parameters for bulk delete by scope.</p>"
    },
    "BatchDeleteScopeEnvironmentString":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[A-Za-z0-9:/+=,.@_-]+"
    },
    "BatchDeleteScopeServiceString":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[A-Za-z0-9:/+=,.@_-]+"
    },
    "BatchDeleteSuccessfulDeletion":{
      "type":"structure",
      "members":{
        "ResourceArn":{
          "shape":"String",
          "documentation":"<p>ARN of the deleted configuration (populated only when deleting by ARN list).</p>"
        },
        "SignalType":{
          "shape":"String",
          "documentation":"<p>Signal type of the deleted configuration (populated only when deleting by scope).</p>"
        },
        "LocationHash":{
          "shape":"String",
          "documentation":"<p>Location hash of the deleted configuration (populated only when deleting by scope).</p>"
        }
      },
      "documentation":"<p>Represents a successfully deleted instrumentation configuration.</p>"
    },
    "BatchDeleteSuccessfulDeletionList":{
      "type":"list",
      "member":{"shape":"BatchDeleteSuccessfulDeletion"},
      "documentation":"<p>List of successful deletions in batch delete response.</p>"
    },
    "BatchGetServiceLevelObjectiveBudgetReportInput":{
      "type":"structure",
      "required":[
        "Timestamp",
        "SloIds"
      ],
      "members":{
        "Timestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that you want the report to be for. It is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.</p>"
        },
        "SloIds":{
          "shape":"ServiceLevelObjectiveIds",
          "documentation":"<p>An array containing the IDs of the service level objectives that you want to include in the report.</p>"
        }
      }
    },
    "BatchGetServiceLevelObjectiveBudgetReportOutput":{
      "type":"structure",
      "required":[
        "Timestamp",
        "Reports",
        "Errors"
      ],
      "members":{
        "Timestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the report is for. It is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.</p>"
        },
        "Reports":{
          "shape":"ServiceLevelObjectiveBudgetReports",
          "documentation":"<p>An array of structures, where each structure is one budget report.</p>"
        },
        "Errors":{
          "shape":"ServiceLevelObjectiveBudgetReportErrors",
          "documentation":"<p>An array of structures, where each structure includes an error indicating that one of the requests in the array was not valid.</p>"
        }
      }
    },
    "BatchUpdateExclusionWindowsError":{
      "type":"structure",
      "required":[
        "SloId",
        "ErrorCode",
        "ErrorMessage"
      ],
      "members":{
        "SloId":{
          "shape":"ServiceLevelObjectiveId",
          "documentation":"<p>The SLO ID in the error.</p>"
        },
        "ErrorCode":{
          "shape":"ExclusionWindowErrorCode",
          "documentation":"<p>The error code.</p>"
        },
        "ErrorMessage":{
          "shape":"ExclusionWindowErrorMessage",
          "documentation":"<p>The error message.</p>"
        }
      },
      "documentation":"<p>An array of structures, where each structure includes an error indicating that one of the requests in the array was not valid.</p>"
    },
    "BatchUpdateExclusionWindowsErrors":{
      "type":"list",
      "member":{"shape":"BatchUpdateExclusionWindowsError"},
      "max":10,
      "min":0
    },
    "BatchUpdateExclusionWindowsInput":{
      "type":"structure",
      "required":["SloIds"],
      "members":{
        "SloIds":{
          "shape":"ServiceLevelObjectiveIds",
          "documentation":"<p>The list of SLO IDs to add or remove exclusion windows from.</p>"
        },
        "AddExclusionWindows":{
          "shape":"ExclusionWindows",
          "documentation":"<p>A list of exclusion windows to add to the specified SLOs. You can add up to 10 exclusion windows per SLO.</p>"
        },
        "RemoveExclusionWindows":{
          "shape":"ExclusionWindows",
          "documentation":"<p>A list of exclusion windows to remove from the specified SLOs. The window configuration must match an existing exclusion window.</p>"
        }
      }
    },
    "BatchUpdateExclusionWindowsOutput":{
      "type":"structure",
      "required":[
        "SloIds",
        "Errors"
      ],
      "members":{
        "SloIds":{
          "shape":"ServiceLevelObjectiveIds",
          "documentation":"<p>The list of SLO IDs that were successfully processed.</p>"
        },
        "Errors":{
          "shape":"BatchUpdateExclusionWindowsErrors",
          "documentation":"<p>A list of errors that occurred while processing the request.</p>"
        }
      }
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "BudgetRequestsRemaining":{
      "type":"integer",
      "box":true
    },
    "BudgetSecondsRemaining":{
      "type":"integer",
      "box":true
    },
    "BurnRateConfiguration":{
      "type":"structure",
      "required":["LookBackWindowMinutes"],
      "members":{
        "LookBackWindowMinutes":{
          "shape":"BurnRateLookBackWindowMinutes",
          "documentation":"<p>The number of minutes to use as the look-back window.</p>"
        }
      },
      "documentation":"<p>This object defines the length of the look-back window used to calculate one burn rate metric for this SLO. The burn rate measures how fast the service is consuming the error budget, relative to the attainment goal of the SLO. A burn rate of exactly 1 indicates that the SLO goal will be met exactly.</p> <p>For example, if you specify 60 as the number of minutes in the look-back window, the burn rate is calculated as the following:</p> <p> <i>burn rate = error rate over the look-back window / (100% - attainment goal percentage)</i> </p> <p>For more information about burn rates, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-ServiceLevelObjectives.html#CloudWatch-ServiceLevelObjectives-burn\">Calculate burn rates</a>.</p>"
    },
    "BurnRateConfigurations":{
      "type":"list",
      "member":{"shape":"BurnRateConfiguration"},
      "max":10,
      "min":0
    },
    "BurnRateLookBackWindowMinutes":{
      "type":"integer",
      "box":true,
      "max":10080,
      "min":1
    },
    "CalendarInterval":{
      "type":"structure",
      "required":[
        "StartTime",
        "DurationUnit",
        "Duration"
      ],
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time when you want the first interval to start. Be sure to choose a time that configures the intervals the way that you want. For example, if you want weekly intervals starting on Mondays at 6 a.m., be sure to specify a start time that is a Monday at 6 a.m.</p> <p>When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>As soon as one calendar interval ends, another automatically begins.</p>"
        },
        "DurationUnit":{
          "shape":"DurationUnit",
          "documentation":"<p>Specifies the calendar interval unit.</p>"
        },
        "Duration":{
          "shape":"CalendarIntervalDuration",
          "documentation":"<p>Specifies the duration of each calendar interval. For example, if <code>Duration</code> is <code>1</code> and <code>DurationUnit</code> is <code>MONTH</code>, each interval is one month, aligned with the calendar.</p>"
        }
      },
      "documentation":"<p>If the interval for this service level objective is a calendar interval, this structure contains the interval specifications.</p>"
    },
    "CalendarIntervalDuration":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "CanaryEntity":{
      "type":"structure",
      "required":["CanaryName"],
      "members":{
        "CanaryName":{
          "shape":"String",
          "documentation":"<p>The name of the CloudWatch Synthetics canary.</p>"
        }
      },
      "documentation":"<p>A structure that contains identifying information for a CloudWatch Synthetics canary entity used in audit targeting.</p>"
    },
    "CaptureConfiguration":{
      "type":"structure",
      "members":{
        "CodeCapture":{
          "shape":"CodeCaptureConfiguration",
          "documentation":"<p>Capture settings for code-level instrumentation, including arguments, return values, stack traces, local variables, and safety limits.</p>"
        }
      },
      "documentation":"<p>A union that defines what data to capture when the instrumentation point is hit. Specify <code>CodeCapture</code> for code-level capture settings.</p>",
      "union":true
    },
    "CaptureLimitsConfig":{
      "type":"structure",
      "members":{
        "MaxHits":{
          "shape":"CaptureLimitsConfigMaxHitsInteger",
          "documentation":"<p>The maximum number of times the instrumentation point can be hit before it is automatically disabled. Defaults to 100.</p>"
        },
        "MaxStringLength":{
          "shape":"CaptureLimitsConfigMaxStringLengthInteger",
          "documentation":"<p>The maximum length of captured string values in characters. Strings longer than this are truncated. Defaults to 128.</p>"
        },
        "MaxCollectionWidth":{
          "shape":"CaptureLimitsConfigMaxCollectionWidthInteger",
          "documentation":"<p>The maximum number of items to capture from any collection to prevent large payloads. Defaults to 10.</p>"
        },
        "MaxCollectionDepth":{
          "shape":"CaptureLimitsConfigMaxCollectionDepthInteger",
          "documentation":"<p>The maximum nesting depth to traverse inside collections. Defaults to 3.</p>"
        },
        "MaxStackFrames":{
          "shape":"CaptureLimitsConfigMaxStackFramesInteger",
          "documentation":"<p>The maximum number of stack frames to capture in stack traces. Defaults to 2.</p>"
        },
        "MaxStackTraceSize":{
          "shape":"CaptureLimitsConfigMaxStackTraceSizeInteger",
          "documentation":"<p>The maximum total size, in bytes, of a captured stack trace. Defaults to 1000.</p>"
        },
        "MaxObjectDepth":{
          "shape":"CaptureLimitsConfigMaxObjectDepthInteger",
          "documentation":"<p>The maximum depth for nested object traversal when capturing structured data. Defaults to 3.</p>"
        },
        "MaxFieldsPerObject":{
          "shape":"CaptureLimitsConfigMaxFieldsPerObjectInteger",
          "documentation":"<p>The maximum number of fields to capture for any object. Defaults to 10.</p>"
        }
      },
      "documentation":"<p>Guardrails that prevent instrumentation from impacting application performance by limiting how much data is captured.</p>"
    },
    "CaptureLimitsConfigMaxCollectionDepthInteger":{
      "type":"integer",
      "box":true,
      "max":5,
      "min":1
    },
    "CaptureLimitsConfigMaxCollectionWidthInteger":{
      "type":"integer",
      "box":true,
      "max":20,
      "min":1
    },
    "CaptureLimitsConfigMaxFieldsPerObjectInteger":{
      "type":"integer",
      "box":true,
      "max":20,
      "min":1
    },
    "CaptureLimitsConfigMaxHitsInteger":{
      "type":"integer",
      "box":true,
      "max":1000,
      "min":1
    },
    "CaptureLimitsConfigMaxObjectDepthInteger":{
      "type":"integer",
      "box":true,
      "max":5,
      "min":1
    },
    "CaptureLimitsConfigMaxStackFramesInteger":{
      "type":"integer",
      "box":true,
      "max":20,
      "min":1
    },
    "CaptureLimitsConfigMaxStackTraceSizeInteger":{
      "type":"integer",
      "box":true,
      "max":1000,
      "min":1
    },
    "CaptureLimitsConfigMaxStringLengthInteger":{
      "type":"integer",
      "box":true,
      "max":255,
      "min":1
    },
    "ChangeEvent":{
      "type":"structure",
      "required":[
        "Timestamp",
        "AccountId",
        "Region",
        "Entity",
        "ChangeEventType",
        "EventId"
      ],
      "members":{
        "Timestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when this change event occurred. When used in a raw HTTP Query API, it is formatted as epoch time in seconds.</p>"
        },
        "AccountId":{
          "shape":"AwsAccountId",
          "documentation":"<p>The Amazon Web Services account ID where this change event occurred.</p>"
        },
        "Region":{
          "shape":"String",
          "documentation":"<p>The Amazon Web Services region where this change event occurred.</p>"
        },
        "Entity":{
          "shape":"Attributes",
          "documentation":"<p>The entity (service or resource) that was affected by this change event, including its key attributes.</p> <p>This is a string-to-string map. It can include the following fields.</p> <ul> <li> <p> <code>Type</code> designates the type of object this is.</p> </li> <li> <p> <code>ResourceType</code> specifies the type of the resource. This field is used only when the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Name</code> specifies the name of the object. This is used only if the value of the <code>Type</code> field is <code>Service</code>, <code>RemoteService</code>, or <code>AWS::Service</code>.</p> </li> <li> <p> <code>Identifier</code> identifies the resource objects of this resource. This is used only if the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Environment</code> specifies the location where this object is hosted, or what it belongs to.</p> </li> <li> <p> <code>AwsAccountId</code> specifies the account where this object is in.</p> </li> </ul> <p>Below is an example of a service.</p> <p> <code>{ \"Type\": \"Service\", \"Name\": \"visits-service\", \"Environment\": \"petclinic-test\" }</code> </p> <p>Below is an example of a resource.</p> <p> <code>{ \"Type\": \"AWS::Resource\", \"ResourceType\": \"AWS::DynamoDB::Table\", \"Identifier\": \"Customers\" }</code> </p>"
        },
        "ChangeEventType":{
          "shape":"ChangeEventType",
          "documentation":"<p>The type of change event that occurred, such as <code>DEPLOYMENT</code>.</p>"
        },
        "EventId":{
          "shape":"String",
          "documentation":"<p>A unique identifier for this change event. For CloudTrail-based events, this is the CloudTrail event id. For other events, this will be <code>Unknown</code>.</p>"
        },
        "UserName":{
          "shape":"String",
          "documentation":"<p>The name of the user who initiated this change event, if available.</p>"
        },
        "EventName":{
          "shape":"String",
          "documentation":"<p>The name or description of this change event.</p>"
        }
      },
      "documentation":"<p>A structure that contains information about a change event that occurred for a service, such as a deployment or configuration change.</p>"
    },
    "ChangeEventType":{
      "type":"string",
      "enum":[
        "DEPLOYMENT",
        "CONFIGURATION"
      ]
    },
    "ChangeEvents":{
      "type":"list",
      "member":{"shape":"ChangeEvent"},
      "max":250,
      "min":0
    },
    "CodeCaptureConfiguration":{
      "type":"structure",
      "required":["CaptureLimits"],
      "members":{
        "CaptureArguments":{
          "shape":"CodeCaptureConfigurationCaptureArgumentsList",
          "documentation":"<p>The function arguments to capture. Omit to capture defaults, use an empty list to capture none, use <code>[\"*\"]</code> to capture all arguments, or specify argument names to capture selectively (up to 10 entries).</p>"
        },
        "CaptureReturn":{
          "shape":"Boolean",
          "documentation":"<p>Whether to capture the return value. Defaults to false.</p>"
        },
        "CaptureStackTrace":{
          "shape":"Boolean",
          "documentation":"<p>Whether to capture a stack trace when the instrumentation point is hit. Defaults to true.</p>"
        },
        "CaptureLocals":{
          "shape":"CodeCaptureConfigurationCaptureLocalsList",
          "documentation":"<p>The local variables to capture by name. Omit or pass an empty list to capture none. You can specify up to 20 names.</p>"
        },
        "CaptureLimits":{
          "shape":"CaptureLimitsConfig",
          "documentation":"<p>Safety limits that bound what is captured, including hit counts, string length, collection depth, and stack trace size.</p>"
        }
      },
      "documentation":"<p>Defines what data to capture for code-level instrumentation, including arguments, return values, stack traces, local variables, and safety limits.</p>"
    },
    "CodeCaptureConfigurationCaptureArgumentsList":{
      "type":"list",
      "member":{"shape":"CodeCaptureConfigurationCaptureArgumentsListMemberString"},
      "max":10,
      "min":0
    },
    "CodeCaptureConfigurationCaptureArgumentsListMemberString":{
      "type":"string",
      "max":80,
      "min":1
    },
    "CodeCaptureConfigurationCaptureLocalsList":{
      "type":"list",
      "member":{"shape":"CodeCaptureConfigurationCaptureLocalsListMemberString"},
      "max":20,
      "min":0
    },
    "CodeCaptureConfigurationCaptureLocalsListMemberString":{
      "type":"string",
      "max":80,
      "min":1
    },
    "CodeLocation":{
      "type":"structure",
      "required":[
        "Language",
        "FilePath"
      ],
      "members":{
        "Language":{
          "shape":"ProgrammingLanguage",
          "documentation":"<p>The programming language for this instrumentation point, such as Java, Python, or JavaScript.</p>"
        },
        "CodeUnit":{
          "shape":"CodeLocationCodeUnitString",
          "documentation":"<p>The package, module, or namespace that contains the target code, for example <code>com.amazon.payment</code> or <code>payment_service</code>.</p>"
        },
        "ClassName":{
          "shape":"CodeLocationClassNameString",
          "documentation":"<p>The class or type name that contains the method. This is required for Java and optional for Python module-level functions.</p>"
        },
        "MethodName":{
          "shape":"CodeLocationMethodNameString",
          "documentation":"<p>The method or function name to instrument, such as <code>validateCreditCard</code> or <code>__init__</code>.</p>"
        },
        "FilePath":{
          "shape":"CodeLocationFilePathString",
          "documentation":"<p>The source file path relative to the project or source root, such as <code>src/payment/PaymentProcessor.java</code> or <code>src/payment/PaymentProcessor.py</code>.</p>"
        },
        "LineNumber":{
          "shape":"CodeLocationLineNumberInteger",
          "documentation":"<p>The line number to instrument. Provide this to disambiguate overloaded methods and to target a specific line when needed.</p>"
        }
      },
      "documentation":"<p>Identifies a code location to instrument, including the programming language, code unit, class, method, file path, and optional line number.</p>"
    },
    "CodeLocationClassNameString":{
      "type":"string",
      "max":128,
      "min":1
    },
    "CodeLocationCodeUnitString":{
      "type":"string",
      "max":128,
      "min":1
    },
    "CodeLocationFilePathString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "CodeLocationLineNumberInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "CodeLocationMethodNameString":{
      "type":"string",
      "max":80,
      "min":1
    },
    "CompositeSliComponent":{
      "type":"structure",
      "members":{
        "OperationName":{
          "shape":"OperationName",
          "documentation":"<p>The name of the operation to include in the composite SLI.</p>"
        }
      },
      "documentation":"<p>Identifies a single operation to include in a composite SLI for a service-level SLO. Used as an element of the <code>Components</code> list in <code>CompositeSliConfig</code>.</p>",
      "union":true
    },
    "CompositeSliComponents":{
      "type":"list",
      "member":{"shape":"CompositeSliComponent"},
      "documentation":"<p>A list of operations that form a composite SLI for a service-level SLO. Each element is a <code>CompositeSliComponent</code> that identifies a single operation. Used in the <code>Components</code> field of <code>CompositeSliConfig</code>.</p>",
      "max":20,
      "min":2
    },
    "CompositeSliConfig":{
      "type":"structure",
      "required":["SelectionConfig"],
      "members":{
        "SelectionConfig":{
          "shape":"SelectionConfig",
          "documentation":"<p>Specifies how operations are selected for this service-level SLO. Operations can be selected explicitly by listing them, by specifying a prefix to match operation names, or by providing a regular expression pattern.</p>"
        },
        "Components":{
          "shape":"CompositeSliComponents",
          "documentation":"<p>The list of operations included in this composite SLI. You must specify between 2 and 20 components. Each component is a <code>CompositeSliComponent</code> that identifies a single operation by its <code>OperationName</code>.</p>"
        }
      },
      "documentation":"<p>This structure contains the configuration for a composite service level indicator (SLI) that aggregates metrics across multiple operations of a service for service-level SLOs.</p>"
    },
    "ConflictException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>This operation attempted to create a resource that already exists.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ConnectionType":{
      "type":"string",
      "enum":[
        "INDIRECT",
        "DIRECT"
      ]
    },
    "CreateInstrumentationConfigurationRequest":{
      "type":"structure",
      "required":[
        "InstrumentationType",
        "Service",
        "Environment",
        "SignalType",
        "Location",
        "CaptureConfiguration"
      ],
      "members":{
        "InstrumentationType":{
          "shape":"InstrumentationType",
          "documentation":"<p>Type of instrumentation: BREAKPOINT (temporary) or PROBE (permanent)</p>"
        },
        "Service":{
          "shape":"CreateInstrumentationConfigurationRequestServiceString",
          "documentation":"<p>The name of the service to instrument. This should match the <code>service.name</code> resource attribute reported by the application.</p>"
        },
        "Environment":{
          "shape":"CreateInstrumentationConfigurationRequestEnvironmentString",
          "documentation":"<p>The environment that the service is running in, such as <code>eks:cluster-prod/namespace</code> or <code>ec2:production</code>.</p>"
        },
        "SignalType":{
          "shape":"DynamicInstrumentationSignalType",
          "documentation":"<p>The telemetry signal type to emit for this instrumentation. The supported value is <code>SNAPSHOT</code>.</p>"
        },
        "Location":{
          "shape":"Location",
          "documentation":"<p>The location where instrumentation should be applied. Specify a <code>CodeLocation</code> for code-level instrumentation.</p>"
        },
        "Description":{
          "shape":"CreateInstrumentationConfigurationRequestDescriptionString",
          "documentation":"<p>An optional short description (up to 50 characters) that explains the purpose of this instrumentation.</p>"
        },
        "ExpiresAt":{
          "shape":"Timestamp",
          "documentation":"<p>For BREAKPOINT: optional, defaults to 24 hours, must be between 5 min and 24 hours. For PROBE: not supported. PROBE configurations are permanent and persist until explicitly deleted.</p>"
        },
        "AttributeFilters":{
          "shape":"DynamicInstrumentationAttributeFilters",
          "documentation":"<p>Client-side filters that target specific instances. Each object in the array is AND-matched on its keys, and multiple objects are OR-matched to decide where to apply the instrumentation.</p>"
        },
        "CaptureConfiguration":{
          "shape":"CaptureConfiguration",
          "documentation":"<p>Specifies what to capture when the instrumentation point is hit. Specify <code>CodeCapture</code> for code-level capture settings.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>An optional list of key-value pairs to associate with the instrumentation configuration. Tags can help you organize and categorize your resources.</p>"
        }
      }
    },
    "CreateInstrumentationConfigurationRequestDescriptionString":{
      "type":"string",
      "max":50,
      "min":1
    },
    "CreateInstrumentationConfigurationRequestEnvironmentString":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[A-Za-z0-9:/+=,.@_-]+"
    },
    "CreateInstrumentationConfigurationRequestServiceString":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[A-Za-z0-9:/+=,.@_-]+"
    },
    "CreateInstrumentationConfigurationResponse":{
      "type":"structure",
      "required":[
        "InstrumentationType",
        "Service",
        "Environment",
        "SignalType",
        "Location",
        "LocationHash",
        "CaptureConfiguration",
        "CreatedAt",
        "ARN"
      ],
      "members":{
        "InstrumentationType":{
          "shape":"InstrumentationType",
          "documentation":"<p>The type of instrumentation that was created, echoed from the request.</p>"
        },
        "Service":{
          "shape":"CreateInstrumentationConfigurationResponseServiceString",
          "documentation":"<p>The service name for the instrumentation configuration, echoed from the request.</p>"
        },
        "Environment":{
          "shape":"CreateInstrumentationConfigurationResponseEnvironmentString",
          "documentation":"<p>The environment for the instrumentation configuration, echoed from the request.</p>"
        },
        "SignalType":{
          "shape":"DynamicInstrumentationSignalType",
          "documentation":"<p>The telemetry signal type for the instrumentation configuration, echoed from the request.</p>"
        },
        "Location":{
          "shape":"Location",
          "documentation":"<p>The location where instrumentation is applied, echoed from the request.</p>"
        },
        "LocationHash":{
          "shape":"CreateInstrumentationConfigurationResponseLocationHashString",
          "documentation":"<p>A stable hash computed from the location that uniquely identifies this instrumentation point within the service, environment, and signal type.</p>"
        },
        "Description":{
          "shape":"String",
          "documentation":"<p>The optional description that was stored with the instrumentation configuration.</p>"
        },
        "ExpiresAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp after which this configuration is no longer served to clients. Present only for <code>BREAKPOINT</code> configurations; <code>PROBE</code> configurations do not expire.</p>"
        },
        "AttributeFilters":{
          "shape":"DynamicInstrumentationAttributeFilters",
          "documentation":"<p>The attribute filters returned with the configuration so SDKs can perform client-side targeting.</p>"
        },
        "CaptureConfiguration":{
          "shape":"CaptureConfiguration",
          "documentation":"<p>The capture settings that were stored for this instrumentation configuration.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The server-generated creation timestamp for this instrumentation configuration.</p>"
        },
        "ARN":{
          "shape":"InstrumentationConfigurationArn",
          "documentation":"<p>ARN for the created instrumentation configuration</p>"
        }
      }
    },
    "CreateInstrumentationConfigurationResponseEnvironmentString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "CreateInstrumentationConfigurationResponseLocationHashString":{
      "type":"string",
      "max":16,
      "min":16
    },
    "CreateInstrumentationConfigurationResponseServiceString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "CreateServiceLevelObjectiveInput":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"ServiceLevelObjectiveName",
          "documentation":"<p>A name for this SLO.</p>"
        },
        "Description":{
          "shape":"ServiceLevelObjectiveDescription",
          "documentation":"<p>An optional description for this SLO.</p>"
        },
        "SliConfig":{
          "shape":"ServiceLevelIndicatorConfig",
          "documentation":"<p>If this SLO is a period-based SLO, this structure defines the information about what performance metric this SLO will monitor.</p> <p>You can't specify both <code>RequestBasedSliConfig</code> and <code>SliConfig</code> in the same operation.</p>"
        },
        "RequestBasedSliConfig":{
          "shape":"RequestBasedServiceLevelIndicatorConfig",
          "documentation":"<p>If this SLO is a request-based SLO, this structure defines the information about what performance metric this SLO will monitor.</p> <p>You can't specify both <code>RequestBasedSliConfig</code> and <code>SliConfig</code> in the same operation.</p>"
        },
        "Goal":{
          "shape":"Goal",
          "documentation":"<p>This structure contains the attributes that determine the goal of the SLO.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of key-value pairs to associate with the SLO. You can associate as many as 50 tags with an SLO. To be able to associate tags with the SLO when you create the SLO, you must have the <code>cloudwatch:TagResource</code> permission.</p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions by granting a user permission to access or change only resources with certain tag values.</p>"
        },
        "BurnRateConfigurations":{
          "shape":"BurnRateConfigurations",
          "documentation":"<p>Use this array to create <i>burn rates</i> for this SLO. Each burn rate is a metric that indicates how fast the service is consuming the error budget, relative to the attainment goal of the SLO.</p>"
        },
        "CreateRecommendedSlo":{
          "shape":"Boolean",
          "documentation":"<p>Set this to <code>true</code> to create a recommended SLO out of the box. When set to <code>true</code>, you don't need to specify the <code>MetricThreshold</code> or <code>ComparisonOperator</code> in the <code>SliConfig</code> or <code>RequestBasedSliConfig</code>. The default value is <code>false</code>.</p> <p>This is supported for SLOs on a service, service operation, or a dependency.</p>"
        },
        "AutoInvestigationEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether DevOps Agent will automatically investigate this SLO when it is breached</p>"
        }
      }
    },
    "CreateServiceLevelObjectiveOutput":{
      "type":"structure",
      "required":["Slo"],
      "members":{
        "Slo":{
          "shape":"ServiceLevelObjective",
          "documentation":"<p>A structure that contains information about the SLO that you just created.</p>"
        }
      }
    },
    "DataMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "DeleteGroupingConfigurationOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteInstrumentationConfigurationRequest":{
      "type":"structure",
      "required":[
        "InstrumentationType",
        "Service",
        "Environment",
        "SignalType",
        "LocationIdentifier"
      ],
      "members":{
        "InstrumentationType":{
          "shape":"InstrumentationType",
          "documentation":"<p>Type of instrumentation configuration (BREAKPOINT or PROBE). Required to identify the configuration to delete.</p>"
        },
        "Service":{
          "shape":"DeleteInstrumentationConfigurationRequestServiceString",
          "documentation":"<p>Service name for the instrumentation configuration.</p>"
        },
        "Environment":{
          "shape":"DeleteInstrumentationConfigurationRequestEnvironmentString",
          "documentation":"<p>Environment name for the instrumentation configuration.</p>"
        },
        "SignalType":{
          "shape":"DynamicInstrumentationSignalType",
          "documentation":"<p>Signal type for the instrumentation configuration.</p>"
        },
        "LocationIdentifier":{
          "shape":"LocationIdentifier",
          "documentation":"<p>Location identifier - either full code location or a pre-computed hash.</p>"
        }
      }
    },
    "DeleteInstrumentationConfigurationRequestEnvironmentString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "DeleteInstrumentationConfigurationRequestServiceString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "DeleteInstrumentationConfigurationResponse":{
      "type":"structure",
      "required":["DeletionStatus"],
      "members":{
        "DeletionStatus":{
          "shape":"DynamicInstrumentationDeletionStatus",
          "documentation":"<p>The result of the delete request. The value is <code>DELETED</code> when the configuration has been removed.</p>"
        }
      }
    },
    "DeleteServiceLevelObjectiveInput":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"ServiceLevelObjectiveId",
          "documentation":"<p>The ARN or name of the service level objective to delete.</p>",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "DeleteServiceLevelObjectiveOutput":{
      "type":"structure",
      "members":{}
    },
    "DependencyConfig":{
      "type":"structure",
      "required":[
        "DependencyKeyAttributes",
        "DependencyOperationName"
      ],
      "members":{
        "DependencyKeyAttributes":{
          "shape":"Attributes",
          "documentation":"<p>This is a string-to-string map. It can include the following fields.</p> <ul> <li> <p> <code>Type</code> designates the type of object this is.</p> </li> <li> <p> <code>ResourceType</code> specifies the type of the resource. This field is used only when the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Name</code> specifies the name of the object. This is used only if the value of the <code>Type</code> field is <code>Service</code>, <code>RemoteService</code>, or <code>AWS::Service</code>.</p> </li> <li> <p> <code>Identifier</code> identifies the resource objects of this resource. This is used only if the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Environment</code> specifies the location where this object is hosted, or what it belongs to.</p> </li> </ul>"
        },
        "DependencyOperationName":{
          "shape":"OperationName",
          "documentation":"<p>The name of the called operation in the dependency.</p>"
        }
      },
      "documentation":"<p>Identifies the dependency using the <code>DependencyKeyAttributes</code> and <code>DependencyOperationName</code>.</p> <p>When creating a service dependency SLO, you must specify the <code>KeyAttributes</code> of the service, and the <code>DependencyConfig</code> for the dependency. You can specify the <code>OperationName</code> of the service, from which it calls the dependency. Alternatively, you can exclude <code>OperationName</code> and the SLO will monitor all of the service's operations that call the dependency.</p>"
    },
    "DependencyGraph":{
      "type":"structure",
      "members":{
        "Nodes":{
          "shape":"Nodes",
          "documentation":"<p>An array of nodes representing the services, resources, or other entities in the dependency graph.</p>"
        },
        "Edges":{
          "shape":"Edges",
          "documentation":"<p>An array of edges representing the connections and relationships between the nodes in the dependency graph.</p>"
        }
      },
      "documentation":"<p>A structure that represents the dependency relationships relevant to an audit finding, containing nodes and edges that show how services and resources are connected.</p>"
    },
    "DetailLevel":{
      "type":"string",
      "enum":[
        "BRIEF",
        "DETAILED"
      ]
    },
    "Dimension":{
      "type":"structure",
      "required":[
        "Name",
        "Value"
      ],
      "members":{
        "Name":{
          "shape":"DimensionName",
          "documentation":"<p>The name of the dimension. Dimension names must contain only ASCII characters, must include at least one non-whitespace character, and cannot start with a colon (<code>:</code>). ASCII control characters are not supported as part of dimension names.</p>"
        },
        "Value":{
          "shape":"DimensionValue",
          "documentation":"<p>The value of the dimension. Dimension values must contain only ASCII characters and must include at least one non-whitespace character. ASCII control characters are not supported as part of dimension values.</p>"
        }
      },
      "documentation":"<p>A dimension is a name/value pair that is part of the identity of a metric. Because dimensions are part of the unique identifier for a metric, whenever you add a unique name/value pair to one of your metrics, you are creating a new variation of that metric. For example, many Amazon EC2 metrics publish <code>InstanceId</code> as a dimension name, and the actual instance ID as the value for that dimension.</p> <p>You can assign up to 30 dimensions to a metric.</p>"
    },
    "DimensionName":{
      "type":"string",
      "max":255,
      "min":1
    },
    "DimensionValue":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "Dimensions":{
      "type":"list",
      "member":{"shape":"Dimension"},
      "max":30,
      "min":0
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "DurationUnit":{
      "type":"string",
      "enum":[
        "MINUTE",
        "HOUR",
        "DAY",
        "MONTH"
      ]
    },
    "DynamicInstrumentationAttributeFilterGroup":{
      "type":"map",
      "key":{"shape":"DynamicInstrumentationAttributeFilterGroupKeyString"},
      "value":{"shape":"DynamicInstrumentationAttributeFilterGroupValueString"},
      "documentation":"<p>A string-to-string map of OpenTelemetry resource attributes and values that must all match for the instrumentation to run on an instance.</p>"
    },
    "DynamicInstrumentationAttributeFilterGroupKeyString":{
      "type":"string",
      "max":50,
      "min":1
    },
    "DynamicInstrumentationAttributeFilterGroupValueString":{
      "type":"string",
      "max":100,
      "min":1
    },
    "DynamicInstrumentationAttributeFilters":{
      "type":"list",
      "member":{"shape":"DynamicInstrumentationAttributeFilterGroup"},
      "documentation":"<p>An array of attribute filter groups used to target specific instances. Each filter group must match all of its keys (AND), and multiple groups are OR-matched to decide whether an instance applies the instrumentation. Filters are evaluated client-side by the SDK.</p>",
      "max":10,
      "min":1
    },
    "DynamicInstrumentationDeletionStatus":{
      "type":"string",
      "documentation":"<p>The status of a delete request for an instrumentation configuration. The value is <code>DELETED</code> after a successful deletion.</p>",
      "enum":["DELETED"]
    },
    "DynamicInstrumentationSignalType":{
      "type":"string",
      "documentation":"<p>The telemetry signal type for instrumentation.</p> <ul> <li> <p> <code>SNAPSHOT</code> - Captures a snapshot of the instrumentation point.</p> </li> </ul>",
      "enum":["SNAPSHOT"]
    },
    "Edge":{
      "type":"structure",
      "members":{
        "SourceNodeId":{
          "shape":"String",
          "documentation":"<p>The identifier of the source node in this edge connection.</p>"
        },
        "DestinationNodeId":{
          "shape":"String",
          "documentation":"<p>The identifier of the destination node in this edge connection.</p>"
        },
        "Duration":{
          "shape":"Double",
          "documentation":"<p>The duration or latency associated with this connection, if applicable.</p>"
        },
        "ConnectionType":{
          "shape":"ConnectionType",
          "documentation":"<p>The type of connection between the nodes, indicating the nature of the relationship.</p>"
        }
      },
      "documentation":"<p>A structure that represents a connection between two nodes in a dependency graph, showing the relationship and characteristics of the connection.</p>"
    },
    "Edges":{
      "type":"list",
      "member":{"shape":"Edge"}
    },
    "EvaluationType":{
      "type":"string",
      "enum":[
        "PeriodBased",
        "RequestBased"
      ]
    },
    "ExclusionDuration":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "ExclusionReason":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "ExclusionWindow":{
      "type":"structure",
      "required":["Window"],
      "members":{
        "Window":{
          "shape":"Window",
          "documentation":"<p>The SLO time window exclusion .</p>"
        },
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start of the SLO time window exclusion. Defaults to current time if not specified.</p>"
        },
        "RecurrenceRule":{
          "shape":"RecurrenceRule",
          "documentation":"<p>The recurrence rule for the SLO time window exclusion. Supports both cron and rate expressions.</p>"
        },
        "Reason":{
          "shape":"ExclusionReason",
          "documentation":"<p>A description explaining why this time period should be excluded from SLO calculations.</p>"
        }
      },
      "documentation":"<p>The core SLO time window exclusion object that includes Window, StartTime, RecurrenceRule, and Reason.</p>"
    },
    "ExclusionWindowErrorCode":{"type":"string"},
    "ExclusionWindowErrorMessage":{"type":"string"},
    "ExclusionWindows":{
      "type":"list",
      "member":{"shape":"ExclusionWindow"},
      "max":10,
      "min":0
    },
    "Expression":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "FaultDescription":{"type":"string"},
    "GetInstrumentationConfigurationRequest":{
      "type":"structure",
      "required":[
        "InstrumentationType",
        "Service",
        "Environment",
        "SignalType",
        "LocationIdentifier"
      ],
      "members":{
        "InstrumentationType":{
          "shape":"InstrumentationType",
          "documentation":"<p>Type of instrumentation configuration (BREAKPOINT or PROBE). Required to identify the configuration to retrieve.</p>"
        },
        "Service":{
          "shape":"GetInstrumentationConfigurationRequestServiceString",
          "documentation":"<p>Service name for the instrumentation configuration.</p>"
        },
        "Environment":{
          "shape":"GetInstrumentationConfigurationRequestEnvironmentString",
          "documentation":"<p>Environment name for the instrumentation configuration.</p>"
        },
        "SignalType":{
          "shape":"DynamicInstrumentationSignalType",
          "documentation":"<p>Signal type for the instrumentation configuration.</p>"
        },
        "LocationIdentifier":{
          "shape":"LocationIdentifier",
          "documentation":"<p>Location identifier - either full code location or a pre-computed hash.</p>"
        }
      }
    },
    "GetInstrumentationConfigurationRequestEnvironmentString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "GetInstrumentationConfigurationRequestServiceString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "GetInstrumentationConfigurationResponse":{
      "type":"structure",
      "required":["Configuration"],
      "members":{
        "Configuration":{
          "shape":"InstrumentationConfiguration",
          "documentation":"<p>The complete instrumentation configuration, including its location hash, capture settings, filters, expiration, and creation time.</p>"
        }
      }
    },
    "GetInstrumentationConfigurationStatusRequest":{
      "type":"structure",
      "required":[
        "InstrumentationType",
        "Service",
        "Environment",
        "SignalType",
        "LocationIdentifier"
      ],
      "members":{
        "InstrumentationType":{
          "shape":"InstrumentationType",
          "documentation":"<p>Type of instrumentation configuration (BREAKPOINT or PROBE). Required to identify the configuration to retrieve.</p>"
        },
        "Service":{
          "shape":"GetInstrumentationConfigurationStatusRequestServiceString",
          "documentation":"<p>Service name for the instrumentation configuration.</p>"
        },
        "Environment":{
          "shape":"GetInstrumentationConfigurationStatusRequestEnvironmentString",
          "documentation":"<p>Environment name for the instrumentation configuration.</p>"
        },
        "SignalType":{
          "shape":"DynamicInstrumentationSignalType",
          "documentation":"<p>Signal type for the instrumentation configuration.</p>"
        },
        "LocationIdentifier":{
          "shape":"LocationIdentifier",
          "documentation":"<p>Location identifier - either full code location or a pre-computed hash.</p>"
        },
        "Status":{
          "shape":"InstrumentationConfigurationStatus",
          "documentation":"<p>The single status to query for. If omitted, only <code>ACTIVE</code> status events are returned.</p>"
        },
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start of the time range to retrieve status events for. <code>StartTime</code> and <code>EndTime</code> must both be provided together or both be omitted. When both are omitted, the time range defaults to the last hour.</p>"
        },
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end of the time range to retrieve status events for. <code>StartTime</code> and <code>EndTime</code> must both be provided together or both be omitted. When both are omitted, the time range defaults to the last hour.</p>"
        },
        "MaxResults":{
          "shape":"GetInstrumentationConfigurationStatusRequestMaxResultsInteger",
          "documentation":"<p>The maximum number of status events to return in one call. The default is 60.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>Use the token returned by a previous call to retrieve the next page of status events.</p>"
        }
      }
    },
    "GetInstrumentationConfigurationStatusRequestEnvironmentString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "GetInstrumentationConfigurationStatusRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "GetInstrumentationConfigurationStatusRequestServiceString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "GetInstrumentationConfigurationStatusResponse":{
      "type":"structure",
      "required":[
        "Service",
        "Environment",
        "SignalType",
        "Location",
        "Status",
        "Events"
      ],
      "members":{
        "Service":{
          "shape":"GetInstrumentationConfigurationStatusResponseServiceString",
          "documentation":"<p>The service name echoed from the request.</p>"
        },
        "Environment":{
          "shape":"GetInstrumentationConfigurationStatusResponseEnvironmentString",
          "documentation":"<p>The environment echoed from the request.</p>"
        },
        "SignalType":{
          "shape":"DynamicInstrumentationSignalType",
          "documentation":"<p>The telemetry signal type echoed from the request.</p>"
        },
        "Location":{
          "shape":"Location",
          "documentation":"<p>The code location echoed from the request.</p>"
        },
        "Status":{
          "shape":"InstrumentationConfigurationStatus",
          "documentation":"<p>The status that was queried. If not specified in the request, this is <code>ACTIVE</code>.</p>"
        },
        "Events":{
          "shape":"InstrumentationStatusEventList",
          "documentation":"<p>The list of status events within the requested time window, sorted with the most recent first. Error events include an error cause.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>Pagination token to continue retrieving status events.</p>"
        }
      }
    },
    "GetInstrumentationConfigurationStatusResponseEnvironmentString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "GetInstrumentationConfigurationStatusResponseServiceString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "GetServiceInput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime",
        "KeyAttributes"
      ],
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start of the time period to retrieve information about. When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>Your requested start time will be rounded to the nearest hour.</p>",
          "location":"querystring",
          "locationName":"StartTime"
        },
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end of the time period to retrieve information about. When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>Your requested start time will be rounded to the nearest hour.</p>",
          "location":"querystring",
          "locationName":"EndTime"
        },
        "KeyAttributes":{
          "shape":"Attributes",
          "documentation":"<p>Use this field to specify which service you want to retrieve information for. You must specify at least the <code>Type</code>, <code>Name</code>, and <code>Environment</code> attributes.</p> <p>This is a string-to-string map. It can include the following fields.</p> <ul> <li> <p> <code>Type</code> designates the type of object this is.</p> </li> <li> <p> <code>ResourceType</code> specifies the type of the resource. This field is used only when the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Name</code> specifies the name of the object. This is used only if the value of the <code>Type</code> field is <code>Service</code>, <code>RemoteService</code>, or <code>AWS::Service</code>.</p> </li> <li> <p> <code>Identifier</code> identifies the resource objects of this resource. This is used only if the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Environment</code> specifies the location where this object is hosted, or what it belongs to.</p> </li> </ul>"
        }
      }
    },
    "GetServiceLevelObjectiveInput":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"ServiceLevelObjectiveId",
          "documentation":"<p>The ARN or name of the SLO that you want to retrieve information about. You can find the ARNs of SLOs by using the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_ListServiceLevelObjectives.html\">ListServiceLevelObjectives</a> operation.</p>",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetServiceLevelObjectiveOutput":{
      "type":"structure",
      "required":["Slo"],
      "members":{
        "Slo":{
          "shape":"ServiceLevelObjective",
          "documentation":"<p>A structure containing the information about the SLO.</p>"
        }
      }
    },
    "GetServiceOutput":{
      "type":"structure",
      "required":[
        "Service",
        "StartTime",
        "EndTime"
      ],
      "members":{
        "Service":{
          "shape":"Service",
          "documentation":"<p>A structure containing information about the service.</p>"
        },
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start time of the data included in the response. In a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code>.</p> <p>This displays the time that Application Signals used for the request. It might not match your request exactly, because it was rounded to the nearest hour.</p>"
        },
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end time of the data included in the response. In a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code>.</p> <p>This displays the time that Application Signals used for the request. It might not match your request exactly, because it was rounded to the nearest hour.</p>"
        },
        "LogGroupReferences":{
          "shape":"LogGroupReferences",
          "documentation":"<p>An array of string-to-string maps that each contain information about one log group associated with this service. Each string-to-string map includes the following fields:</p> <ul> <li> <p> <code>\"Type\": \"AWS::Resource\"</code> </p> </li> <li> <p> <code>\"ResourceType\": \"AWS::Logs::LogGroup\"</code> </p> </li> <li> <p> <code>\"Identifier\": \"<i>name-of-log-group</i>\"</code> </p> </li> </ul>"
        }
      }
    },
    "Goal":{
      "type":"structure",
      "members":{
        "Interval":{
          "shape":"Interval",
          "documentation":"<p>The time period used to evaluate the SLO. It can be either a calendar interval or rolling interval.</p> <p>If you omit this parameter, a rolling interval of 7 days is used.</p>"
        },
        "AttainmentGoal":{
          "shape":"AttainmentGoal",
          "documentation":"<p>The threshold that determines if the goal is being met.</p> <p>If this is a period-based SLO, the attainment goal is the percentage of good periods that meet the threshold requirements to the total periods within the interval. For example, an attainment goal of 99.9% means that within your interval, you are targeting 99.9% of the periods to be in healthy state.</p> <p>If this is a request-based SLO, the attainment goal is the percentage of requests that must be successful to meet the attainment goal.</p> <p>If you omit this parameter, 99 is used to represent 99% as the attainment goal.</p>"
        },
        "WarningThreshold":{
          "shape":"WarningThreshold",
          "documentation":"<p>The percentage of remaining budget over total budget that you want to get warnings for. If you omit this parameter, the default of 50.0 is used. </p>"
        }
      },
      "documentation":"<p>This structure contains the attributes that determine the goal of an SLO. This includes the time period for evaluation and the attainment threshold.</p>"
    },
    "GroupIdentifier":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "GroupName":{
      "type":"string",
      "max":255,
      "min":1
    },
    "GroupSource":{
      "type":"string",
      "max":255,
      "min":1
    },
    "GroupValue":{
      "type":"string",
      "max":255,
      "min":1
    },
    "GroupingAttributeDefinition":{
      "type":"structure",
      "required":["GroupingName"],
      "members":{
        "GroupingName":{
          "shape":"GroupingString",
          "documentation":"<p>The friendly name for this grouping attribute, such as <code>BusinessUnit</code> or <code>Environment</code>. This name is used to identify the grouping in the console and APIs.</p>"
        },
        "GroupingSourceKeys":{
          "shape":"GroupingSourceKeyStringList",
          "documentation":"<p>An array of source keys used to derive the grouping attribute value from telemetry data, Amazon Web Services tags, or other sources. For example, [\"business_unit\", \"team\"] would look for values in those fields.</p>"
        },
        "DefaultGroupingValue":{
          "shape":"GroupingString",
          "documentation":"<p>The default value to use for this grouping attribute when no value can be derived from the source keys. This ensures all services have a grouping value even if the source data is missing.</p>"
        }
      },
      "documentation":"<p>A structure that defines how services should be grouped based on specific attributes. This includes the friendly name for the grouping, the source keys to derive values from, and an optional default value.</p>"
    },
    "GroupingAttributeDefinitions":{
      "type":"list",
      "member":{"shape":"GroupingAttributeDefinition"}
    },
    "GroupingConfiguration":{
      "type":"structure",
      "required":[
        "GroupingAttributeDefinitions",
        "UpdatedAt"
      ],
      "members":{
        "GroupingAttributeDefinitions":{
          "shape":"GroupingAttributeDefinitions",
          "documentation":"<p>An array of grouping attribute definitions that specify how services should be grouped based on various attributes and source keys.</p>"
        },
        "UpdatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when this grouping configuration was last updated. When used in a raw HTTP Query API, it is formatted as epoch time in seconds.</p>"
        }
      },
      "documentation":"<p>A structure that contains the complete grouping configuration for an account, including all defined grouping attributes and metadata about when it was last updated.</p>"
    },
    "GroupingSourceKeyStringList":{
      "type":"list",
      "member":{"shape":"GroupingString"}
    },
    "GroupingString":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9\\s+\\-=\\._:/@]*"
    },
    "InstrumentationConfiguration":{
      "type":"structure",
      "required":[
        "InstrumentationType",
        "Service",
        "Environment",
        "SignalType",
        "Location",
        "LocationHash",
        "CaptureConfiguration",
        "CreatedAt",
        "ARN"
      ],
      "members":{
        "InstrumentationType":{
          "shape":"InstrumentationType",
[...]
