{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-05-27",
    "endpointPrefix":"sagemaker-geospatial",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"Amazon SageMaker geospatial capabilities",
    "serviceId":"SageMaker Geospatial",
    "signatureVersion":"v4",
    "signingName":"sagemaker-geospatial",
    "uid":"sagemaker-geospatial-2020-05-27"
  },
  "operations":{
    "DeleteEarthObservationJob":{
      "name":"DeleteEarthObservationJob",
      "http":{
        "method":"DELETE",
        "requestUri":"/earth-observation-jobs/{Arn}",
        "responseCode":200
      },
      "input":{"shape":"DeleteEarthObservationJobInput"},
      "output":{"shape":"DeleteEarthObservationJobOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Use this operation to delete an Earth Observation job.</p>",
      "idempotent":true
    },
    "DeleteVectorEnrichmentJob":{
      "name":"DeleteVectorEnrichmentJob",
      "http":{
        "method":"DELETE",
        "requestUri":"/vector-enrichment-jobs/{Arn}",
        "responseCode":200
      },
      "input":{"shape":"DeleteVectorEnrichmentJobInput"},
      "output":{"shape":"DeleteVectorEnrichmentJobOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Use this operation to delete a Vector Enrichment job.</p>",
      "idempotent":true
    },
    "ExportEarthObservationJob":{
      "name":"ExportEarthObservationJob",
      "http":{
        "method":"POST",
        "requestUri":"/export-earth-observation-job",
        "responseCode":200
      },
      "input":{"shape":"ExportEarthObservationJobInput"},
      "output":{"shape":"ExportEarthObservationJobOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Use this operation to export results of an Earth Observation job and optionally source images used as input to the EOJ to an S3 location.</p>"
    },
    "ExportVectorEnrichmentJob":{
      "name":"ExportVectorEnrichmentJob",
      "http":{
        "method":"POST",
        "requestUri":"/export-vector-enrichment-jobs",
        "responseCode":200
      },
      "input":{"shape":"ExportVectorEnrichmentJobInput"},
      "output":{"shape":"ExportVectorEnrichmentJobOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Use this operation to copy results of a Vector Enrichment job to an S3 location.</p>"
    },
    "GetEarthObservationJob":{
      "name":"GetEarthObservationJob",
      "http":{
        "method":"GET",
        "requestUri":"/earth-observation-jobs/{Arn}",
        "responseCode":200
      },
      "input":{"shape":"GetEarthObservationJobInput"},
      "output":{"shape":"GetEarthObservationJobOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Get the details for a previously initiated Earth Observation job.</p>"
    },
    "GetRasterDataCollection":{
      "name":"GetRasterDataCollection",
      "http":{
        "method":"GET",
        "requestUri":"/raster-data-collection/{Arn}",
        "responseCode":200
      },
      "input":{"shape":"GetRasterDataCollectionInput"},
      "output":{"shape":"GetRasterDataCollectionOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Use this operation to get details of a specific raster data collection.</p>"
    },
    "GetTile":{
      "name":"GetTile",
      "http":{
        "method":"GET",
        "requestUri":"/tile/{z}/{x}/{y}",
        "responseCode":200
      },
      "input":{"shape":"GetTileInput"},
      "output":{"shape":"GetTileOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets a web mercator tile for the given Earth Observation job.</p>"
    },
    "GetVectorEnrichmentJob":{
      "name":"GetVectorEnrichmentJob",
      "http":{
        "method":"GET",
        "requestUri":"/vector-enrichment-jobs/{Arn}",
        "responseCode":200
      },
      "input":{"shape":"GetVectorEnrichmentJobInput"},
      "output":{"shape":"GetVectorEnrichmentJobOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves details of a Vector Enrichment Job for a given job Amazon Resource Name (ARN).</p>"
    },
    "ListEarthObservationJobs":{
      "name":"ListEarthObservationJobs",
      "http":{
        "method":"POST",
        "requestUri":"/list-earth-observation-jobs",
        "responseCode":200
      },
      "input":{"shape":"ListEarthObservationJobInput"},
      "output":{"shape":"ListEarthObservationJobOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Use this operation to get a list of the Earth Observation jobs associated with the calling Amazon Web Services account.</p>"
    },
    "ListRasterDataCollections":{
      "name":"ListRasterDataCollections",
      "http":{
        "method":"GET",
        "requestUri":"/raster-data-collections",
        "responseCode":200
      },
      "input":{"shape":"ListRasterDataCollectionsInput"},
      "output":{"shape":"ListRasterDataCollectionsOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Use this operation to get raster data collections.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the tags attached to the resource.</p>"
    },
    "ListVectorEnrichmentJobs":{
      "name":"ListVectorEnrichmentJobs",
      "http":{
        "method":"POST",
        "requestUri":"/list-vector-enrichment-jobs",
        "responseCode":200
      },
      "input":{"shape":"ListVectorEnrichmentJobInput"},
      "output":{"shape":"ListVectorEnrichmentJobOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a list of vector enrichment jobs.</p>"
    },
    "SearchRasterDataCollection":{
      "name":"SearchRasterDataCollection",
      "http":{
        "method":"POST",
        "requestUri":"/search-raster-data-collection",
        "responseCode":200
      },
      "input":{"shape":"SearchRasterDataCollectionInput"},
      "output":{"shape":"SearchRasterDataCollectionOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Allows you run image query on a specific raster data collection to get a list of the satellite imagery matching the selected filters.</p>"
    },
    "StartEarthObservationJob":{
      "name":"StartEarthObservationJob",
      "http":{
        "method":"POST",
        "requestUri":"/earth-observation-jobs",
        "responseCode":200
      },
      "input":{"shape":"StartEarthObservationJobInput"},
      "output":{"shape":"StartEarthObservationJobOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Use this operation to create an Earth observation job.</p>",
      "idempotent":true
    },
    "StartVectorEnrichmentJob":{
      "name":"StartVectorEnrichmentJob",
      "http":{
        "method":"POST",
        "requestUri":"/vector-enrichment-jobs",
        "responseCode":200
      },
      "input":{"shape":"StartVectorEnrichmentJobInput"},
      "output":{"shape":"StartVectorEnrichmentJobOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a Vector Enrichment job for the supplied job type. Currently, there are two supported job types: reverse geocoding and map matching.</p>",
      "idempotent":true
    },
    "StopEarthObservationJob":{
      "name":"StopEarthObservationJob",
      "http":{
        "method":"POST",
        "requestUri":"/earth-observation-jobs/stop",
        "responseCode":200
      },
      "input":{"shape":"StopEarthObservationJobInput"},
      "output":{"shape":"StopEarthObservationJobOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Use this operation to stop an existing earth observation job.</p>"
    },
    "StopVectorEnrichmentJob":{
      "name":"StopVectorEnrichmentJob",
      "http":{
        "method":"POST",
        "requestUri":"/vector-enrichment-jobs/stop",
        "responseCode":200
      },
      "input":{"shape":"StopVectorEnrichmentJobInput"},
      "output":{"shape":"StopVectorEnrichmentJobOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Stops the Vector Enrichment job for a given job ARN.</p>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"PUT",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>The resource you want to tag.</p>",
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>The resource you want to untag.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>You do not have sufficient access to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AlgorithmNameCloudRemoval":{
      "type":"string",
      "enum":["INTERPOLATION"]
    },
    "AlgorithmNameGeoMosaic":{
      "type":"string",
      "enum":[
        "NEAR",
        "BILINEAR",
        "CUBIC",
        "CUBICSPLINE",
        "LANCZOS",
        "AVERAGE",
        "RMS",
        "MODE",
        "MAX",
        "MIN",
        "MED",
        "Q1",
        "Q3",
        "SUM"
      ]
    },
    "AlgorithmNameResampling":{
      "type":"string",
      "enum":[
        "NEAR",
        "BILINEAR",
        "CUBIC",
        "CUBICSPLINE",
        "LANCZOS",
        "AVERAGE",
        "RMS",
        "MODE",
        "MAX",
        "MIN",
        "MED",
        "Q1",
        "Q3",
        "SUM"
      ]
    },
    "AreaOfInterest":{
      "type":"structure",
      "members":{
        "AreaOfInterestGeometry":{
          "shape":"AreaOfInterestGeometry",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>",
      "union":true
    },
    "AreaOfInterestGeometry":{
      "type":"structure",
      "members":{
        "MultiPolygonGeometry":{
          "shape":"MultiPolygonGeometryInput",
          "documentation":"<p/>"
        },
        "PolygonGeometry":{
          "shape":"PolygonGeometryInput",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>",
      "union":true
    },
    "Arn":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "AssetValue":{
      "type":"structure",
      "members":{
        "Href":{
          "shape":"String",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "AssetsMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"AssetValue"}
    },
    "BandMathConfigInput":{
      "type":"structure",
      "members":{
        "CustomIndices":{
          "shape":"CustomIndicesInput",
          "documentation":"<p/>"
        },
        "PredefinedIndices":{
          "shape":"StringListInput",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "BinaryFile":{
      "type":"blob",
      "streaming":true
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "CloudMaskingConfigInput":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p/>"
    },
    "CloudRemovalConfigInput":{
      "type":"structure",
      "members":{
        "AlgorithmName":{
          "shape":"AlgorithmNameCloudRemoval",
          "documentation":"<p>The name of the algorithm used for cloud removal.</p>"
        },
        "InterpolationValue":{
          "shape":"String",
          "documentation":"<p>The interpolation value you provide for cloud removal.</p>"
        },
        "TargetBands":{
          "shape":"StringListInput",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "ComparisonOperator":{
      "type":"string",
      "enum":[
        "EQUALS",
        "NOT_EQUALS",
        "STARTS_WITH"
      ]
    },
    "ConflictException":{
      "type":"structure",
      "required":[
        "Message",
        "ResourceId"
      ],
      "members":{
        "Message":{"shape":"String"},
        "ResourceId":{
          "shape":"String",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CustomIndicesInput":{
      "type":"structure",
      "members":{
        "Operations":{
          "shape":"OperationsListInput",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "DataCollectionArn":{
      "type":"string",
      "pattern":"^arn:aws[a-z-]{0,12}:sagemaker-geospatial:[a-z0-9-]{1,25}:[0-9]{12}:raster-data-collection/(public|premium|user)/[a-z0-9]{12,}$"
    },
    "DataCollectionType":{
      "type":"string",
      "enum":[
        "PUBLIC",
        "PREMIUM",
        "USER"
      ]
    },
    "DataCollectionsList":{
      "type":"list",
      "member":{"shape":"RasterDataCollectionMetadata"}
    },
    "DeleteEarthObservationJobInput":{
      "type":"structure",
      "required":["Arn"],
      "members":{
        "Arn":{
          "shape":"EarthObservationJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Earth Observation job being deleted.</p>",
          "location":"uri",
          "locationName":"Arn"
        }
      }
    },
    "DeleteEarthObservationJobOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteVectorEnrichmentJobInput":{
      "type":"structure",
      "required":["Arn"],
      "members":{
        "Arn":{
          "shape":"VectorEnrichmentJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Vector Enrichment job being deleted.</p>",
          "location":"uri",
          "locationName":"Arn"
        }
      }
    },
    "DeleteVectorEnrichmentJobOutput":{
      "type":"structure",
      "members":{
      }
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "EarthObservationJobArn":{
      "type":"string",
      "pattern":"^arn:aws[a-z-]{0,12}:sagemaker-geospatial:[a-z0-9-]{1,25}:[0-9]{12}:earth-observation-job/[a-z0-9]{12,}$"
    },
    "EarthObservationJobErrorDetails":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"String",
          "documentation":"<p/>"
        },
        "Type":{
          "shape":"EarthObservationJobErrorType",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>The structure representing the errors in an EarthObservationJob.</p>"
    },
    "EarthObservationJobErrorType":{
      "type":"string",
      "enum":[
        "CLIENT_ERROR",
        "SERVER_ERROR"
      ]
    },
    "EarthObservationJobExportStatus":{
      "type":"string",
      "enum":[
        "IN_PROGRESS",
        "SUCCEEDED",
        "FAILED"
      ]
    },
    "EarthObservationJobList":{
      "type":"list",
      "member":{"shape":"ListEarthObservationJobOutputConfig"}
    },
    "EarthObservationJobOutputBands":{
      "type":"list",
      "member":{"shape":"OutputBand"}
    },
    "EarthObservationJobStatus":{
      "type":"string",
      "enum":[
        "INITIALIZING",
        "IN_PROGRESS",
        "STOPPING",
        "COMPLETED",
        "STOPPED",
        "FAILED",
        "DELETING",
        "DELETED"
      ]
    },
    "EoCloudCoverInput":{
      "type":"structure",
      "required":[
        "LowerBound",
        "UpperBound"
      ],
      "members":{
        "LowerBound":{
          "shape":"Float",
          "documentation":"<p/>"
        },
        "UpperBound":{
          "shape":"Float",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "EojDataSourceConfigInput":{
      "type":"structure",
      "members":{
        "S3Data":{
          "shape":"S3DataInput",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>",
      "union":true
    },
    "ExportEarthObservationJobInput":{
      "type":"structure",
      "required":[
        "Arn",
        "ExecutionRoleArn",
        "OutputConfig"
      ],
      "members":{
        "Arn":{
          "shape":"EarthObservationJobArn",
          "documentation":"<p>The input Amazon Resource Name (ARN) of the Earth Observation job being exported.</p>"
        },
        "ExecutionRoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that you specified for the job.</p>"
        },
        "ExportSourceImages":{
          "shape":"Boolean",
          "documentation":"<p>The source images provided to the Earth Observation job being exported.</p>"
        },
        "OutputConfig":{
          "shape":"OutputConfigInput",
          "documentation":"<p>An object containing information about the output file.</p>"
        }
      }
    },
    "ExportEarthObservationJobOutput":{
      "type":"structure",
      "required":[
        "Arn",
        "CreationTime",
        "ExecutionRoleArn",
        "ExportStatus",
        "OutputConfig"
      ],
      "members":{
        "Arn":{
          "shape":"EarthObservationJobArn",
          "documentation":"<p>The output Amazon Resource Name (ARN) of the Earth Observation job being exported.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The creation time.</p>"
        },
        "ExecutionRoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that you specified for the job.</p>"
        },
        "ExportSourceImages":{
          "shape":"Boolean",
          "documentation":"<p>The source images provided to the Earth Observation job being exported.</p>"
        },
        "ExportStatus":{
          "shape":"EarthObservationJobExportStatus",
          "documentation":"<p>The status of the results of the Earth Observation job being exported.</p>"
        },
        "OutputConfig":{
          "shape":"OutputConfigInput",
          "documentation":"<p>An object containing information about the output file.</p>"
        }
      }
    },
    "ExportErrorDetails":{
      "type":"structure",
      "members":{
        "ExportResults":{
          "shape":"ExportErrorDetailsOutput",
          "documentation":"<p/>"
        },
        "ExportSourceImages":{
          "shape":"ExportErrorDetailsOutput",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>The structure for returning the export error details in a GetEarthObservationJob.</p>"
    },
    "ExportErrorDetailsOutput":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"String",
          "documentation":"<p/>"
        },
        "Type":{
          "shape":"ExportErrorType",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "ExportErrorType":{
      "type":"string",
      "enum":[
        "CLIENT_ERROR",
        "SERVER_ERROR"
      ]
    },
    "ExportS3DataInput":{
      "type":"structure",
      "required":["S3Uri"],
      "members":{
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>The Amazon Key Management Service (KMS) key ID for server-side encryption.</p>"
        },
        "S3Uri":{
          "shape":"String",
          "documentation":"<p>The URL to the Amazon S3 data input.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "ExportVectorEnrichmentJobInput":{
      "type":"structure",
      "required":[
        "Arn",
        "ExecutionRoleArn",
        "OutputConfig"
      ],
      "members":{
        "Arn":{
          "shape":"VectorEnrichmentJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Vector Enrichment job.</p>"
        },
        "ExecutionRoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM rolewith permission to upload to the location in OutputConfig.</p>"
        },
        "OutputConfig":{
          "shape":"ExportVectorEnrichmentJobOutputConfig",
          "documentation":"<p>Output location information for exporting Vector Enrichment Job results. </p>"
        }
      }
    },
    "ExportVectorEnrichmentJobOutput":{
      "type":"structure",
      "required":[
        "Arn",
        "CreationTime",
        "ExecutionRoleArn",
        "ExportStatus",
        "OutputConfig"
      ],
      "members":{
        "Arn":{
          "shape":"VectorEnrichmentJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Vector Enrichment job being exported.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The creation time.</p>"
        },
        "ExecutionRoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role with permission to upload to the location in OutputConfig.</p>"
        },
        "ExportStatus":{
          "shape":"VectorEnrichmentJobExportStatus",
          "documentation":"<p>The status of the results the Vector Enrichment job being exported.</p>"
        },
        "OutputConfig":{
          "shape":"ExportVectorEnrichmentJobOutputConfig",
          "documentation":"<p>Output location information for exporting Vector Enrichment Job results. </p>"
        }
      }
    },
    "ExportVectorEnrichmentJobOutputConfig":{
      "type":"structure",
      "required":["S3Data"],
      "members":{
        "S3Data":{
          "shape":"VectorEnrichmentJobS3Data",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>An object containing information about the output file.</p>"
    },
    "Filter":{
      "type":"structure",
      "required":[
        "Name",
        "Type"
      ],
      "members":{
        "Maximum":{
          "shape":"Float",
          "documentation":"<p>The maximum value of the filter.</p>"
        },
        "Minimum":{
          "shape":"Float",
          "documentation":"<p>The minimum value of the filter.</p>"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the filter.</p>"
        },
        "Type":{
          "shape":"String",
          "documentation":"<p>The type of the filter being used.</p>"
        }
      },
      "documentation":"<p>The structure representing the filters supported by a RasterDataCollection.</p>"
    },
    "FilterList":{
      "type":"list",
      "member":{"shape":"Filter"}
    },
    "Float":{
      "type":"float",
      "box":true
    },
    "GeoMosaicConfigInput":{
      "type":"structure",
      "members":{
        "AlgorithmName":{
          "shape":"AlgorithmNameGeoMosaic",
          "documentation":"<p>The name of the algorithm being used for geomosaic.</p>"
        },
        "TargetBands":{
          "shape":"StringListInput",
          "documentation":"<p>The target bands for geomosaic.</p>"
        }
      },
      "documentation":"<p>Input configuration information for the geomosaic.</p>"
    },
    "Geometry":{
      "type":"structure",
      "required":[
        "Coordinates",
        "Type"
      ],
      "members":{
        "Coordinates":{
          "shape":"LinearRings",
          "documentation":"<p/>"
        },
        "Type":{
          "shape":"String",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "GetEarthObservationJobInput":{
      "type":"structure",
      "required":["Arn"],
      "members":{
        "Arn":{
          "shape":"EarthObservationJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Earth Observation job.</p>",
          "location":"uri",
          "locationName":"Arn"
        }
      }
    },
    "GetEarthObservationJobOutput":{
      "type":"structure",
      "required":[
        "Arn",
        "CreationTime",
        "DurationInSeconds",
        "InputConfig",
        "JobConfig",
        "Name",
        "Status"
      ],
      "members":{
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Earth Observation job.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The creation time of the initiated Earth Observation job.</p>"
        },
        "DurationInSeconds":{
          "shape":"Integer",
          "documentation":"<p>The duration of Earth Observation job, in seconds.</p>"
        },
        "ErrorDetails":{
          "shape":"EarthObservationJobErrorDetails",
          "documentation":"<p>Details about the errors generated during the Earth Observation job.</p>"
        },
        "ExecutionRoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that you specified for the job.</p>"
        },
        "ExportErrorDetails":{
          "shape":"ExportErrorDetails",
          "documentation":"<p>Details about the errors generated during ExportEarthObservationJob.</p>"
        },
        "ExportStatus":{
          "shape":"EarthObservationJobExportStatus",
          "documentation":"<p>The status of the Earth Observation job.</p>"
        },
        "InputConfig":{
          "shape":"InputConfigOutput",
          "documentation":"<p>Input data for the Earth Observation job.</p>"
        },
        "JobConfig":{
          "shape":"JobConfigInput",
          "documentation":"<p>An object containing information about the job configuration.</p>"
        },
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>The Amazon Key Management Service (KMS) key ID for server-side encryption.</p>"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the Earth Observation job.</p>"
        },
        "OutputBands":{
          "shape":"EarthObservationJobOutputBands",
          "documentation":"<p/>"
        },
        "Status":{
          "shape":"EarthObservationJobStatus",
          "documentation":"<p>The status of a previously initiated Earth Observation job.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Each tag consists of a key and a value.</p>"
        }
      }
    },
    "GetRasterDataCollectionInput":{
      "type":"structure",
      "required":["Arn"],
      "members":{
        "Arn":{
          "shape":"DataCollectionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the raster data collection.</p>",
          "location":"uri",
          "locationName":"Arn"
        }
      }
    },
    "GetRasterDataCollectionOutput":{
      "type":"structure",
      "required":[
        "Arn",
        "Description",
        "DescriptionPageUrl",
        "ImageSourceBands",
        "Name",
        "SupportedFilters",
        "Type"
      ],
      "members":{
        "Arn":{
          "shape":"DataCollectionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the raster data collection.</p>"
        },
        "Description":{
          "shape":"String",
          "documentation":"<p>A description of the raster data collection.</p>"
        },
        "DescriptionPageUrl":{
          "shape":"String",
          "documentation":"<p>The URL of the description page.</p>"
        },
        "ImageSourceBands":{
          "shape":"ImageSourceBandList",
          "documentation":"<p/>"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the raster data collection.</p>"
        },
        "SupportedFilters":{
          "shape":"FilterList",
          "documentation":"<p>The filters supported by the raster data collection.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Each tag consists of a key and a value.</p>"
        },
        "Type":{
          "shape":"DataCollectionType",
          "documentation":"<p>The raster data collection type.</p>"
        }
      }
    },
    "GetTileInput":{
      "type":"structure",
      "required":[
        "Arn",
        "ImageAssets",
        "Target",
        "x",
        "y",
        "z"
      ],
      "members":{
        "Arn":{
          "shape":"EarthObservationJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the tile operation.</p>",
          "location":"querystring",
          "locationName":"Arn"
        },
        "ImageAssets":{
          "shape":"StringListInput",
          "documentation":"<p>The particular assets or bands to tile.</p>",
          "location":"querystring",
          "locationName":"ImageAssets"
        },
        "ImageMask":{
          "shape":"Boolean",
          "documentation":"<p>Determines whether or not to return a valid data mask.</p>",
          "location":"querystring",
          "locationName":"ImageMask"
        },
        "OutputDataType":{
          "shape":"OutputType",
          "documentation":"<p>The output data type of the tile operation.</p>",
          "location":"querystring",
          "locationName":"OutputDataType"
        },
        "OutputFormat":{
          "shape":"String",
          "documentation":"<p>The data format of the output tile. The formats include .npy, .png and .jpg.</p>",
          "location":"querystring",
          "locationName":"OutputFormat"
        },
        "PropertyFilters":{
          "shape":"String",
          "documentation":"<p>Property filters for the imagery to tile.</p>",
          "location":"querystring",
          "locationName":"PropertyFilters"
        },
        "Target":{
          "shape":"TargetOptions",
          "documentation":"<p>Determines what part of the Earth Observation job to tile. 'INPUT' or 'OUTPUT' are the valid options.</p>",
          "location":"querystring",
          "locationName":"Target"
        },
        "TimeRangeFilter":{
          "shape":"String",
          "documentation":"<p>Time range filter applied to imagery to find the images to tile.</p>",
          "location":"querystring",
          "locationName":"TimeRangeFilter"
        },
        "x":{
          "shape":"Integer",
          "documentation":"<p>The x coordinate of the tile input.</p>",
          "location":"uri",
          "locationName":"x"
        },
        "y":{
          "shape":"Integer",
          "documentation":"<p>The y coordinate of the tile input.</p>",
          "location":"uri",
          "locationName":"y"
        },
        "z":{
          "shape":"Integer",
          "documentation":"<p>The z coordinate of the tile input.</p>",
          "location":"uri",
          "locationName":"z"
        }
      }
    },
    "GetTileOutput":{
      "type":"structure",
      "members":{
        "BinaryFile":{
          "shape":"BinaryFile",
          "documentation":"<p>The output binary file.</p>"
        }
      },
      "payload":"BinaryFile"
    },
    "GetVectorEnrichmentJobInput":{
      "type":"structure",
      "required":["Arn"],
      "members":{
        "Arn":{
          "shape":"VectorEnrichmentJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Vector Enrichment job.</p>",
          "location":"uri",
          "locationName":"Arn"
        }
      }
    },
    "GetVectorEnrichmentJobOutput":{
      "type":"structure",
      "required":[
        "Arn",
        "CreationTime",
        "DurationInSeconds",
        "ExecutionRoleArn",
        "InputConfig",
        "JobConfig",
        "Name",
        "Status",
        "Type"
      ],
      "members":{
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Vector Enrichment job.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The creation time.</p>"
        },
        "DurationInSeconds":{
          "shape":"Integer",
          "documentation":"<p>The duration of the Vector Enrichment job, in seconds.</p>"
        },
        "ErrorDetails":{
          "shape":"VectorEnrichmentJobErrorDetails",
          "documentation":"<p>Details about the errors generated during the Vector Enrichment job.</p>"
        },
        "ExecutionRoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that you specified for the job.</p>"
        },
        "ExportErrorDetails":{
          "shape":"VectorEnrichmentJobExportErrorDetails",
          "documentation":"<p>Details about the errors generated during the ExportVectorEnrichmentJob.</p>"
        },
        "ExportStatus":{
          "shape":"VectorEnrichmentJobExportStatus",
          "documentation":"<p>The export status of the Vector Enrichment job being initiated.</p>"
        },
        "InputConfig":{
          "shape":"VectorEnrichmentJobInputConfig",
          "documentation":"<p>Input configuration information for the Vector Enrichment job.</p>"
        },
        "JobConfig":{
          "shape":"VectorEnrichmentJobConfig",
          "documentation":"<p>An object containing information about the job configuration.</p>"
        },
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>The Amazon Key Management Service (KMS) key ID for server-side encryption.</p>"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the Vector Enrichment job.</p>"
        },
        "Status":{
          "shape":"VectorEnrichmentJobStatus",
          "documentation":"<p>The status of the initiated Vector Enrichment job.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Each tag consists of a key and a value.</p>"
        },
        "Type":{
          "shape":"VectorEnrichmentJobType",
          "documentation":"<p>The type of the Vector Enrichment job being initiated.</p>"
        }
      }
    },
    "GroupBy":{
      "type":"string",
      "enum":[
        "ALL",
        "YEARLY"
      ]
    },
    "ImageSourceBandList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "InputConfigInput":{
      "type":"structure",
      "members":{
        "DataSourceConfig":{
          "shape":"EojDataSourceConfigInput",
          "documentation":"<p>The location of the input data.&gt;</p>"
        },
        "PreviousEarthObservationJobArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the previous Earth Observation job.</p>"
        },
        "RasterDataCollectionQuery":{
          "shape":"RasterDataCollectionQueryInput",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>Input configuration information.</p>"
    },
    "InputConfigOutput":{
      "type":"structure",
      "members":{
        "DataSourceConfig":{
          "shape":"EojDataSourceConfigInput",
          "documentation":"<p>The location of the input data.</p>"
        },
        "PreviousEarthObservationJobArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the previous Earth Observation job.</p>"
        },
        "RasterDataCollectionQuery":{
          "shape":"RasterDataCollectionQueryOutput",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>The InputConfig for an EarthObservationJob response.</p>"
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerException":{
      "type":"structure",
      "required":[
        "Message",
        "ResourceId"
      ],
      "members":{
        "Message":{"shape":"String"},
        "ResourceId":{
          "shape":"String",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "ItemSource":{
      "type":"structure",
      "required":[
        "DateTime",
        "Geometry",
        "Id"
      ],
      "members":{
        "Assets":{
          "shape":"AssetsMap",
          "documentation":"<p/>"
        },
        "DateTime":{
          "shape":"Timestamp",
          "documentation":"<p/>"
        },
        "Geometry":{
          "shape":"Geometry",
          "documentation":"<p/>"
        },
        "Id":{
          "shape":"String",
          "documentation":"<p>A unique Id for the source item.</p>"
        },
        "Properties":{
          "shape":"Properties",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>Structure representing the items in the response for SearchRasterDataCollection.</p>"
    },
    "ItemSourceList":{
      "type":"list",
      "member":{"shape":"ItemSource"}
    },
    "JobConfigInput":{
      "type":"structure",
      "members":{
        "BandMathConfig":{
          "shape":"BandMathConfigInput",
          "documentation":"<p/>"
        },
        "CloudMaskingConfig":{
          "shape":"CloudMaskingConfigInput",
          "documentation":"<p>An object containing information about the job configuration for cloud masking.</p>"
        },
        "CloudRemovalConfig":{
          "shape":"CloudRemovalConfigInput",
          "documentation":"<p>An object containing information about the job configuration for cloud removal.</p>"
        },
        "GeoMosaicConfig":{
          "shape":"GeoMosaicConfigInput",
          "documentation":"<p>An object containing information about the job configuration for geomosaic.</p>"
        },
        "LandCoverSegmentationConfig":{
          "shape":"LandCoverSegmentationConfigInput",
          "documentation":"<p>An object containing information about the job configuration for land cover segmentation.</p>"
        },
        "ResamplingConfig":{
          "shape":"ResamplingConfigInput",
          "documentation":"<p>An object containing information about the job configuration for resampling.</p>"
        },
        "StackConfig":{
          "shape":"StackConfigInput",
          "documentation":"<p/>"
        },
        "TemporalStatisticsConfig":{
          "shape":"TemporalStatisticsConfigInput",
          "documentation":"<p>An object containing information about the job configuration for temporal statistics.</p>"
        },
        "ZonalStatisticsConfig":{
          "shape":"ZonalStatisticsConfigInput",
          "documentation":"<p>An object containing information about the job configuration for zonal statistics.</p>"
        }
      },
      "documentation":"<p>The input structure for the JobConfig in an EarthObservationJob.</p>",
      "union":true
    },
    "LandCoverSegmentationConfigInput":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p/>"
    },
    "LandsatCloudCoverLandInput":{
      "type":"structure",
      "required":[
        "LowerBound",
        "UpperBound"
      ],
      "members":{
        "LowerBound":{
          "shape":"Float",
          "documentation":"<p/>"
        },
        "UpperBound":{
          "shape":"Float",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "LinearRing":{
      "type":"list",
      "member":{"shape":"Position"},
      "min":4
    },
    "LinearRings":{
      "type":"list",
      "member":{"shape":"LinearRing"},
      "min":1
    },
    "LinearRingsList":{
      "type":"list",
      "member":{"shape":"LinearRings"}
    },
    "ListEarthObservationJobInput":{
      "type":"structure",
      "members":{
        "MaxResults":{
          "shape":"ListEarthObservationJobInputMaxResultsInteger",
          "documentation":"<p>The total number of items to return.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the previous response was truncated, you receive this token. Use it in your next request to receive the next set of results.</p>"
        },
        "SortBy":{
          "shape":"String",
          "documentation":"<p>The parameter by which to sort the results.</p>"
        },
        "SortOrder":{
          "shape":"SortOrder",
          "documentation":"<p>An optional value that specifies whether you want the results sorted in <code>Ascending</code> or <code>Descending</code> order.</p>"
        },
        "StatusEquals":{
          "shape":"EarthObservationJobStatus",
          "documentation":"<p>A filter that retrieves only jobs with a specific status.</p>"
        }
      }
    },
    "ListEarthObservationJobInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":20,
      "min":1
    },
    "ListEarthObservationJobOutput":{
      "type":"structure",
      "required":["EarthObservationJobSummaries"],
      "members":{
        "EarthObservationJobSummaries":{
          "shape":"EarthObservationJobList",
          "documentation":"<p>Contains summary information about the Earth Observation jobs.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the previous response was truncated, you receive this token. Use it in your next request to receive the next set of results.</p>"
        }
      }
    },
    "ListEarthObservationJobOutputConfig":{
      "type":"structure",
      "required":[
        "Arn",
        "CreationTime",
        "DurationInSeconds",
        "Name",
        "OperationType",
        "Status"
      ],
      "members":{
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the list of the Earth Observation jobs.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The creation time.</p>"
        },
        "DurationInSeconds":{
          "shape":"Integer",
          "documentation":"<p>The duration of the session, in seconds.</p>"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p>The names of the Earth Observation jobs in the list.</p>"
        },
        "OperationType":{
          "shape":"String",
          "documentation":"<p/>"
        },
        "Status":{
          "shape":"EarthObservationJobStatus",
          "documentation":"<p>The status of the list of the Earth Observation jobs.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Each tag consists of a key and a value.</p>"
        }
      },
      "documentation":"<p>An object containing information about the output file.</p>"
    },
    "ListRasterDataCollectionsInput":{
      "type":"structure",
      "members":{
        "MaxResults":{
          "shape":"ListRasterDataCollectionsInputMaxResultsInteger",
          "documentation":"<p>The total number of items to return.</p>",
          "location":"querystring",
          "locationName":"MaxResults"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the previous response was truncated, you receive this token. Use it in your next request to receive the next set of results.</p>",
          "location":"querystring",
          "locationName":"NextToken"
        }
      }
    },
    "ListRasterDataCollectionsInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":20,
      "min":1
    },
    "ListRasterDataCollectionsOutput":{
      "type":"structure",
      "required":["RasterDataCollectionSummaries"],
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the previous response was truncated, you receive this token. Use it in your next request to receive the next set of results.</p>"
        },
        "RasterDataCollectionSummaries":{
          "shape":"DataCollectionsList",
          "documentation":"<p>Contains summary information about the raster data collection.</p>"
        }
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource you want to tag.</p>",
          "location":"uri",
          "locationName":"ResourceArn"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Each tag consists of a key and a value.</p>"
        }
      }
    },
    "ListVectorEnrichmentJobInput":{
      "type":"structure",
      "members":{
        "MaxResults":{
          "shape":"ListVectorEnrichmentJobInputMaxResultsInteger",
          "documentation":"<p>The maximum number of items to return.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the previous response was truncated, you receive this token. Use it in your next request to receive the next set of results.</p>"
        },
        "SortBy":{
          "shape":"String",
          "documentation":"<p>The parameter by which to sort the results.</p>"
        },
        "SortOrder":{
          "shape":"SortOrder",
          "documentation":"<p>An optional value that specifies whether you want the results sorted in <code>Ascending</code> or <code>Descending</code> order.</p>"
        },
        "StatusEquals":{
          "shape":"String",
          "documentation":"<p>A filter that retrieves only jobs with a specific status.</p>"
        }
      }
    },
    "ListVectorEnrichmentJobInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":20,
      "min":1
    },
    "ListVectorEnrichmentJobOutput":{
      "type":"structure",
      "required":["VectorEnrichmentJobSummaries"],
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the previous response was truncated, you receive this token. Use it in your next request to receive the next set of results.</p>"
        },
        "VectorEnrichmentJobSummaries":{
          "shape":"VectorEnrichmentJobList",
          "documentation":"<p>Contains summary information about the Vector Enrichment jobs.</p>"
        }
      }
    },
    "ListVectorEnrichmentJobOutputConfig":{
      "type":"structure",
      "required":[
        "Arn",
        "CreationTime",
        "DurationInSeconds",
        "Name",
        "Status",
        "Type"
      ],
      "members":{
        "Arn":{
          "shape":"VectorEnrichmentJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the list of the Vector Enrichment jobs.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The creation time.</p>"
        },
        "DurationInSeconds":{
          "shape":"Integer",
          "documentation":"<p>The duration of the session, in seconds.</p>"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p>The names of the Vector Enrichment jobs in the list.</p>"
        },
        "Status":{
          "shape":"VectorEnrichmentJobStatus",
          "documentation":"<p>The status of the Vector Enrichment jobs list. </p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Each tag consists of a key and a value.</p>"
        },
        "Type":{
          "shape":"VectorEnrichmentJobType",
          "documentation":"<p>The type of the list of Vector Enrichment jobs.</p>"
        }
      },
      "documentation":"<p>An object containing information about the output file.</p>"
    },
    "LogicalOperator":{
      "type":"string",
      "enum":["AND"]
    },
    "MapMatchingConfig":{
      "type":"structure",
      "required":[
        "IdAttributeName",
        "TimestampAttributeName",
        "XAttributeName",
        "YAttributeName"
      ],
      "members":{
        "IdAttributeName":{
          "shape":"String",
          "documentation":"<p/>"
        },
        "TimestampAttributeName":{
          "shape":"String",
          "documentation":"<p>The name of the timestamp attribute.</p>"
        },
        "XAttributeName":{
          "shape":"String",
          "documentation":"<p>The name of the X-attribute</p>"
        },
        "YAttributeName":{
          "shape":"String",
          "documentation":"<p>The name of the Y-attribute</p>"
        }
      },
      "documentation":"<p/>"
    },
    "MetadataProvider":{
      "type":"string",
      "enum":["PLANET_ORDER"]
    },
    "MultiPolygonGeometryInput":{
      "type":"structure",
      "required":["Coordinates"],
      "members":{
        "Coordinates":{
          "shape":"LinearRingsList",
          "documentation":"<p>The coordinates of the multipolygon geometry.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "NextToken":{
      "type":"string",
      "max":8192,
      "min":0,
      "sensitive":true
    },
    "Operation":{
      "type":"structure",
      "required":[
        "Equation",
        "Name"
      ],
      "members":{
        "Equation":{
          "shape":"String",
          "documentation":"<p/>"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the operation.</p>"
        },
        "OutputType":{
          "shape":"OutputType",
          "documentation":"<p>The type of the operation.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "OperationsListInput":{
      "type":"list",
      "member":{"shape":"Operation"},
      "min":1
    },
    "OutputBand":{
      "type":"structure",
      "required":[
        "BandName",
        "OutputDataType"
      ],
      "members":{
        "BandName":{
          "shape":"String",
          "documentation":"<p>The name of the band.</p>"
        },
        "OutputDataType":{
          "shape":"OutputType",
          "documentation":"<p>The datatype of the output band.</p>"
        }
      },
      "documentation":"<p>A single EarthObservationJob output band.</p>"
    },
    "OutputConfigInput":{
      "type":"structure",
      "required":["S3Data"],
      "members":{
        "S3Data":{
          "shape":"ExportS3DataInput",
          "documentation":"<p>Path to Amazon S3 storage location for the output configuration file.</p>"
        }
      },
      "documentation":"<p>The response structure for an OutputConfig returned by an ExportEarthObservationJob.</p>"
    },
    "OutputResolutionResamplingInput":{
      "type":"structure",
      "required":["UserDefined"],
      "members":{
        "UserDefined":{
          "shape":"UserDefined",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "OutputResolutionStackInput":{
      "type":"structure",
      "members":{
        "Predefined":{
          "shape":"PredefinedResolution",
          "documentation":"<p/>"
        },
        "UserDefined":{
          "shape":"UserDefined",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "OutputType":{
      "type":"string",
      "enum":[
        "INT32",
        "FLOAT32",
        "INT16",
        "FLOAT64",
        "UINT16"
      ]
    },
    "PlatformInput":{
      "type":"structure",
      "required":["Value"],
      "members":{
        "ComparisonOperator":{
          "shape":"ComparisonOperator",
          "documentation":"<p/>"
        },
        "Value":{
          "shape":"String",
          "documentation":"<p>The value of the platform.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "PolygonGeometryInput":{
      "type":"structure",
      "required":["Coordinates"],
      "members":{
        "Coordinates":{
          "shape":"LinearRings",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "Position":{
      "type":"list",
      "member":{"shape":"Double"},
      "max":2,
      "min":2,
      "sensitive":true
    },
    "PredefinedResolution":{
      "type":"string",
      "enum":[
        "HIGHEST",
        "LOWEST",
        "AVERAGE"
      ]
    },
    "Properties":{
      "type":"structure",
      "members":{
        "EoCloudCover":{
          "shape":"Float",
          "documentation":"<p/>"
        },
        "LandsatCloudCoverLand":{
          "shape":"Float",
          "documentation":"<p/>"
        },
        "Platform":{
          "shape":"String",
          "documentation":"<p/>"
        },
        "ViewOffNadir":{
          "shape":"Float",
          "documentation":"<p/>"
        },
        "ViewSunAzimuth":{
          "shape":"Float",
          "documentation":"<p/>"
        },
        "ViewSunElevation":{
          "shape":"Float",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "Property":{
      "type":"structure",
      "members":{
        "EoCloudCover":{
          "shape":"EoCloudCoverInput",
          "documentation":"<p/>"
        },
        "LandsatCloudCoverLand":{
          "shape":"LandsatCloudCoverLandInput",
          "documentation":"<p/>"
        },
        "Platform":{
          "shape":"PlatformInput",
          "documentation":"<p/>"
        },
        "ViewOffNadir":{
          "shape":"ViewOffNadirInput",
          "documentation":"<p/>"
        },
        "ViewSunAzimuth":{
          "shape":"ViewSunAzimuthInput",
          "documentation":"<p/>"
        },
        "ViewSunElevation":{
          "shape":"ViewSunElevationInput",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>",
      "union":true
    },
    "PropertyFilter":{
      "type":"structure",
      "required":["Property"],
      "members":{
        "Property":{
          "shape":"Property",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "PropertyFilters":{
      "type":"structure",
      "members":{
        "LogicalOperator":{
          "shape":"LogicalOperator",
          "documentation":"<p/>"
        },
        "Properties":{
          "shape":"PropertyFiltersList",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "PropertyFiltersList":{
      "type":"list",
      "member":{"shape":"PropertyFilter"}
    },
    "RasterDataCollectionMetadata":{
      "type":"structure",
      "required":[
        "Arn",
        "Description",
        "Name",
        "SupportedFilters",
        "Type"
      ],
      "members":{
        "Arn":{
          "shape":"DataCollectionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the raster data collection.</p>"
        },
        "Description":{
          "shape":"String",
          "documentation":"<p>A description of the raster data collection.</p>"
        },
        "DescriptionPageUrl":{
          "shape":"String",
          "documentation":"<p>The description URL of the raster data collection.</p>"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the raster data collection.</p>"
        },
        "SupportedFilters":{
          "shape":"FilterList",
          "documentation":"<p/>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Each tag consists of a key and a value.</p>"
        },
        "Type":{
          "shape":"DataCollectionType",
          "documentation":"<p>The type of raster data collection.</p>"
        }
      },
      "documentation":"<p>Response object containing details for a specific RasterDataCollection.</p>"
    },
    "RasterDataCollectionQueryInput":{
      "type":"structure",
      "required":[
        "RasterDataCollectionArn",
        "TimeRangeFilter"
      ],
      "members":{
        "AreaOfInterest":{
          "shape":"AreaOfInterest",
          "documentation":"<p>The area of interest being queried for the raster data collection.</p>"
        },
        "PropertyFilters":{
          "shape":"PropertyFilters",
          "documentation":"<p/>"
        },
        "RasterDataCollectionArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the raster data collection.</p>"
        },
        "TimeRangeFilter":{
          "shape":"TimeRangeFilterInput",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "RasterDataCollectionQueryOutput":{
      "type":"structure",
      "required":[
        "RasterDataCollectionArn",
        "RasterDataCollectionName",
        "TimeRangeFilter"
      ],
      "members":{
        "AreaOfInterest":{
          "shape":"AreaOfInterest",
          "documentation":"<p/>"
        },
        "PropertyFilters":{
          "shape":"PropertyFilters",
          "documentation":"<p/>"
        },
        "RasterDataCollectionArn":{
          "shape":"String",
          "documentation":"<p/>"
        },
        "RasterDataCollectionName":{
          "shape":"String",
          "documentation":"<p>The name of the raster data collection.</p>"
        },
        "TimeRangeFilter":{
          "shape":"TimeRangeFilterInput",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "RasterDataCollectionQueryWithBandFilterInput":{
      "type":"structure",
      "required":["TimeRangeFilter"],
      "members":{
        "AreaOfInterest":{
          "shape":"AreaOfInterest",
          "documentation":"<p/>"
        },
        "BandFilter":{
          "shape":"StringListInput",
          "documentation":"<p/>"
        },
        "PropertyFilters":{
          "shape":"PropertyFilters",
          "documentation":"<p/>"
        },
        "TimeRangeFilter":{
          "shape":"TimeRangeFilterInput",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>This is a RasterDataCollectionQueryInput containing AreaOfInterest, Time Range filter and Property filters.</p>"
    },
    "ResamplingConfigInput":{
      "type":"structure",
      "required":["OutputResolution"],
      "members":{
        "AlgorithmName":{
          "shape":"AlgorithmNameResampling",
          "documentation":"<p>The name of the algorithm used for resampling.</p>"
        },
        "OutputResolution":{
          "shape":"OutputResolutionResamplingInput",
          "documentation":"<p/>"
        },
        "TargetBands":{
          "shape":"StringListInput",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":[
        "Message",
        "ResourceId"
      ],
      "members":{
        "Message":{"shape":"String"},
        "ResourceId":{
          "shape":"String",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>",
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ReverseGeocodingConfig":{
      "type":"structure",
      "required":[
        "XAttributeName",
        "YAttributeName"
      ],
      "members":{
        "XAttributeName":{
          "shape":"String",
          "documentation":"<p/>"
        },
        "YAttributeName":{
          "shape":"String",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "S3DataInput":{
      "type":"structure",
      "required":[
        "MetadataProvider",
        "S3Uri"
      ],
      "members":{
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>The Amazon Key Management Service (KMS) key ID for server-side encryption.</p>"
        },
        "MetadataProvider":{
          "shape":"MetadataProvider",
          "documentation":"<p/>"
        },
        "S3Uri":{
          "shape":"String",
          "documentation":"<p>The URL to the Amazon S3 input.</p>"
        }
      },
      "documentation":"<p>Path to Amazon S3 storage location for input data.</p>"
    },
    "SearchRasterDataCollectionInput":{
      "type":"structure",
      "required":[
        "Arn",
        "RasterDataCollectionQuery"
      ],
      "members":{
        "Arn":{
          "shape":"DataCollectionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the raster data collection.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the previous response was truncated, you receive this token. Use it in your next request to receive the next set of results.</p>"
        },
        "RasterDataCollectionQuery":{
          "shape":"RasterDataCollectionQueryWithBandFilterInput",
          "documentation":"<p/>"
        }
      }
    },
    "SearchRasterDataCollectionOutput":{
      "type":"structure",
      "required":["ApproximateResultCount"],
      "members":{
        "ApproximateResultCount":{
          "shape":"Integer",
          "documentation":"<p/>"
        },
        "Items":{
          "shape":"ItemSourceList",
          "documentation":"<p/>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the previous response was truncated, you receive this token. Use it in your next request to receive the next set of results.</p>"
        }
      }
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "required":[
        "Message",
        "ResourceId"
      ],
      "members":{
        "Message":{"shape":"String"},
        "ResourceId":{
          "shape":"String",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>You have exceeded the service quota.</p>",
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "SortOrder":{
      "type":"string",
      "enum":[
        "ASCENDING",
        "DESCENDING"
      ]
    },
    "StackConfigInput":{
      "type":"structure",
      "members":{
        "OutputResolution":{
          "shape":"OutputResolutionStackInput",
          "documentation":"<p/>"
        },
        "TargetBands":{
          "shape":"StringListInput",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "StartEarthObservationJobInput":{
      "type":"structure",
      "required":[
        "InputConfig",
        "JobConfig",
        "Name"
      ],
      "members":{
        "ClientToken":{
          "shape":"String",
          "documentation":"<p>A unique token that guarantees that the call to this API is idempotent.</p>",
          "idempotencyToken":true
        },
        "ExecutionRoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that you specified for the job.</p>"
        },
        "InputConfig":{
          "shape":"InputConfigInput",
          "documentation":"<p>Input configuration information for the Earth Observation job.</p>"
        },
        "JobConfig":{
          "shape":"JobConfigInput",
          "documentation":"<p>An object containing information about the job configuration.</p>"
        },
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>The Amazon Key Management Service (KMS) key ID for server-side encryption.</p>"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the Earth Observation job.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Each tag consists of a key and a value.</p>"
        }
      }
    },
    "StartEarthObservationJobOutput":{
      "type":"structure",
      "required":[
        "Arn",
        "CreationTime",
        "DurationInSeconds",
        "JobConfig",
        "Name",
        "Status"
      ],
      "members":{
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Earth Observation job.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The creation time.</p>"
        },
        "DurationInSeconds":{
          "shape":"Integer",
          "documentation":"<p>The duration of the session, in seconds.</p>"
        },
        "ExecutionRoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that you specified for the job.</p>"
        },
        "InputConfig":{
          "shape":"InputConfigOutput",
          "documentation":"<p>Input configuration information for the Earth Observation job.</p>"
        },
        "JobConfig":{
          "shape":"JobConfigInput",
          "documentation":"<p>An object containing information about the job configuration.</p>"
        },
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>The Amazon Key Management Service (KMS) key ID for server-side encryption.</p>"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the Earth Observation job.</p>"
        },
        "Status":{
          "shape":"EarthObservationJobStatus",
          "documentation":"<p>The status of the Earth Observation job.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Each tag consists of a key and a value.</p>"
        }
      }
    },
    "StartVectorEnrichmentJobInput":{
      "type":"structure",
      "required":[
        "ExecutionRoleArn",
        "InputConfig",
        "JobConfig",
        "Name"
      ],
      "members":{
        "ClientToken":{
          "shape":"String",
          "documentation":"<p>A unique token that guarantees that the call to this API is idempotent.</p>",
          "idempotencyToken":true
        },
        "ExecutionRoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that you specified for the job.</p>"
        },
        "InputConfig":{
          "shape":"VectorEnrichmentJobInputConfig",
          "documentation":"<p>Input configuration information for the Vector Enrichment job.</p>"
        },
        "JobConfig":{
          "shape":"VectorEnrichmentJobConfig",
          "documentation":"<p>An object containing information about the job configuration.</p>"
        },
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>The Amazon Key Management Service (KMS) key ID for server-side encryption.</p>"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the Vector Enrichment job.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Each tag consists of a key and a value.</p>"
        }
      }
    },
    "StartVectorEnrichmentJobOutput":{
      "type":"structure",
      "required":[
        "Arn",
        "CreationTime",
        "DurationInSeconds",
        "ExecutionRoleArn",
        "InputConfig",
        "JobConfig",
        "Name",
        "Status",
        "Type"
      ],
      "members":{
        "Arn":{
          "shape":"VectorEnrichmentJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Vector Enrichment job.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The creation time.</p>"
        },
        "DurationInSeconds":{
          "shape":"Integer",
          "documentation":"<p>The duration of the Vector Enrichment job, in seconds.</p>"
        },
        "ExecutionRoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that you specified for the job.</p>"
        },
        "InputConfig":{
          "shape":"VectorEnrichmentJobInputConfig",
          "documentation":"<p>Input configuration information for starting the Vector Enrichment job.</p>"
        },
        "JobConfig":{
          "shape":"VectorEnrichmentJobConfig",
          "documentation":"<p>An object containing information about the job configuration.</p>"
        },
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>The Amazon Key Management Service (KMS) key ID for server-side encryption.</p>"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the Vector Enrichment job.</p>"
        },
        "Status":{
          "shape":"VectorEnrichmentJobStatus",
          "documentation":"<p>The status of the Vector Enrichment job being started.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Each tag consists of a key and a value.</p>"
        },
        "Type":{
          "shape":"VectorEnrichmentJobType",
          "documentation":"<p>The type of the Vector Enrichment job.</p>"
        }
      }
    },
    "StopEarthObservationJobInput":{
      "type":"structure",
      "required":["Arn"],
      "members":{
        "Arn":{
          "shape":"EarthObservationJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Earth Observation job being stopped.</p>"
        }
      }
    },
    "StopEarthObservationJobOutput":{
      "type":"structure",
      "members":{
      }
    },
    "StopVectorEnrichmentJobInput":{
      "type":"structure",
      "required":["Arn"],
      "members":{
        "Arn":{
          "shape":"VectorEnrichmentJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Vector Enrichment job.</p>"
        }
      }
    },
    "StopVectorEnrichmentJobOutput":{
      "type":"structure",
      "members":{
      }
    },
    "String":{"type":"string"},
    "StringListInput":{
      "type":"list",
      "member":{"shape":"String"},
      "min":1
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"String"},
      "max":50,
      "min":1
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "Tags"
      ],
      "members":{
        "ResourceArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource you want to tag.</p>",
          "location":"uri",
          "locationName":"ResourceArn"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Each tag consists of a key and a value.</p>"
        }
      }
    },
    "TagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "Tags":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "TargetOptions":{
      "type":"string",
      "enum":[
        "INPUT",
        "OUTPUT"
      ]
    },
    "TemporalStatistics":{
      "type":"string",
      "enum":[
        "MEAN",
        "MEDIAN",
        "STANDARD_DEVIATION"
      ]
    },
    "TemporalStatisticsConfigInput":{
      "type":"structure",
      "required":["Statistics"],
      "members":{
        "GroupBy":{
          "shape":"GroupBy",
          "documentation":"<p/>"
        },
        "Statistics":{
          "shape":"TemporalStatisticsListInput",
          "documentation":"<p/>"
        },
        "TargetBands":{
          "shape":"StringListInput",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "TemporalStatisticsListInput":{
      "type":"list",
      "member":{"shape":"TemporalStatistics"},
      "min":1
    },
    "ThrottlingException":{
      "type":"structure",
      "required":[
        "Message",
        "ResourceId"
      ],
      "members":{
        "Message":{"shape":"String"},
        "ResourceId":{
          "shape":"String",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>The request was denied due to request throttling.</p>",
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true
    },
    "TimeRangeFilterInput":{
      "type":"structure",
      "required":[
        "EndTime",
        "StartTime"
      ],
      "members":{
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end time for the time-range filter.</p>"
        },
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start time for the time-range filter.</p>"
        }
      },
      "documentation":"<p>The input for the time-range filter.</p>",
      "sensitive":true
    },
    "Timestamp":{"type":"timestamp"},
    "Unit":{
      "type":"string",
      "enum":["METERS"]
    },
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "TagKeys"
      ],
      "members":{
        "ResourceArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource you want to untag.</p>",
          "location":"uri",
          "locationName":"ResourceArn"
        },
        "TagKeys":{
          "shape":"TagKeyList",
          "documentation":"<p>Keys of the tags you want to remove.</p>",
          "location":"querystring",
          "locationName":"tagKeys"
        }
      }
    },
    "UntagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "UserDefined":{
      "type":"structure",
      "required":[
        "Unit",
        "Value"
      ],
      "members":{
        "Unit":{
          "shape":"Unit",
          "documentation":"<p/>"
        },
        "Value":{
          "shape":"Float",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "ValidationException":{
      "type":"structure",
      "required":[
        "Message",
        "ResourceId"
      ],
      "members":{
        "Message":{"shape":"String"},
        "ResourceId":{
          "shape":"String",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "VectorEnrichmentJobArn":{
      "type":"string",
      "pattern":"^arn:aws[a-z-]{0,12}:sagemaker-geospatial:[a-z0-9-]{1,25}:[0-9]{12}:vector-enrichment-job/[a-z0-9]{12,}$"
    },
    "VectorEnrichmentJobConfig":{
      "type":"structure",
      "members":{
        "MapMatchingConfig":{
          "shape":"MapMatchingConfig",
          "documentation":"<p/>"
        },
        "ReverseGeocodingConfig":{
          "shape":"ReverseGeocodingConfig",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>It contains configs such as ReverseGeocodingConfig and MapMatchingConfig.</p>",
      "union":true
    },
    "VectorEnrichmentJobDataSourceConfigInput":{
      "type":"structure",
      "members":{
        "S3Data":{
          "shape":"VectorEnrichmentJobS3Data",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>",
      "union":true
    },
    "VectorEnrichmentJobDocumentType":{
      "type":"string",
      "enum":["CSV"]
    },
    "VectorEnrichmentJobErrorDetails":{
      "type":"structure",
      "members":{
        "ErrorMessage":{
          "shape":"String",
          "documentation":"<p>A message that you define and then is processed and rendered by the Vector Enrichment job when the error occurs.</p>"
        },
        "ErrorType":{
          "shape":"VectorEnrichmentJobErrorType",
          "documentation":"<p>The type of error generated during the Vector Enrichment job.</p>"
        }
      },
      "documentation":"<p>VectorEnrichmentJob error details in response from GetVectorEnrichmentJob.</p>"
    },
    "VectorEnrichmentJobErrorType":{
      "type":"string",
      "enum":[
        "CLIENT_ERROR",
        "SERVER_ERROR"
      ]
    },
    "VectorEnrichmentJobExportErrorDetails":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"String",
          "documentation":"<p>The message providing details about the errors generated during the Vector Enrichment job.</p>"
        },
        "Type":{
          "shape":"VectorEnrichmentJobExportErrorType",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>VectorEnrichmentJob export error details in response from GetVectorEnrichmentJob.</p>"
    },
    "VectorEnrichmentJobExportErrorType":{
      "type":"string",
      "enum":[
        "CLIENT_ERROR",
        "SERVER_ERROR"
      ]
    },
    "VectorEnrichmentJobExportStatus":{
      "type":"string",
      "enum":[
        "IN_PROGRESS",
        "SUCCEEDED",
        "FAILED"
      ]
    },
    "VectorEnrichmentJobInputConfig":{
      "type":"structure",
      "required":[
        "DataSourceConfig",
        "DocumentType"
      ],
      "members":{
        "DataSourceConfig":{
          "shape":"VectorEnrichmentJobDataSourceConfigInput",
          "documentation":"<p/>"
        },
        "DocumentType":{
          "shape":"VectorEnrichmentJobDocumentType",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>The input structure for the InputConfig in a VectorEnrichmentJob.</p>"
    },
    "VectorEnrichmentJobList":{
      "type":"list",
      "member":{"shape":"ListVectorEnrichmentJobOutputConfig"}
    },
    "VectorEnrichmentJobS3Data":{
      "type":"structure",
      "required":["S3Uri"],
      "members":{
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>The Amazon Key Management Service (KMS) key ID for server-side encryption.</p>"
        },
        "S3Uri":{
          "shape":"String",
          "documentation":"<p>The URL to the Amazon S3 data for the Vector Enrichment job.</p>"
        }
      },
      "documentation":"<p>The Amazon S3 data for the Vector Enrichment job.</p>"
    },
    "VectorEnrichmentJobStatus":{
      "type":"string",
      "enum":[
        "INITIALIZING",
        "IN_PROGRESS",
        "STOPPING",
        "STOPPED",
        "COMPLETED",
        "FAILED",
        "DELETING",
        "DELETED"
      ]
    },
    "VectorEnrichmentJobType":{
      "type":"string",
      "enum":[
        "REVERSE_GEOCODING",
        "MAP_MATCHING"
      ]
    },
    "ViewOffNadirInput":{
      "type":"structure",
      "required":[
        "LowerBound",
        "UpperBound"
      ],
      "members":{
        "LowerBound":{
          "shape":"Float",
          "documentation":"<p/>"
        },
        "UpperBound":{
          "shape":"Float",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "ViewSunAzimuthInput":{
      "type":"structure",
      "required":[
        "LowerBound",
        "UpperBound"
      ],
      "members":{
        "LowerBound":{
          "shape":"Float",
          "documentation":"<p/>"
        },
        "UpperBound":{
          "shape":"Float",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "ViewSunElevationInput":{
      "type":"structure",
      "required":[
        "LowerBound",
        "UpperBound"
      ],
      "members":{
        "LowerBound":{
          "shape":"Float",
          "documentation":"<p>The lower bound to view the sun elevation.</p>"
        },
        "UpperBound":{
          "shape":"Float",
          "documentation":"<p>The upper bound to view the sun elevation.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "ZonalStatistics":{
      "type":"string",
      "enum":[
        "MEAN",
        "MEDIAN",
        "STANDARD_DEVIATION",
        "MAX",
        "MIN",
        "SUM"
      ]
    },
    "ZonalStatisticsConfigInput":{
      "type":"structure",
      "required":[
        "Statistics",
        "ZoneS3Path"
      ],
      "members":{
        "Statistics":{
          "shape":"ZonalStatisticsListInput",
          "documentation":"<p/>"
        },
        "TargetBands":{
          "shape":"StringListInput",
          "documentation":"<p/>"
        },
        "ZoneS3Path":{
          "shape":"String",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "ZonalStatisticsListInput":{
      "type":"list",
      "member":{"shape":"ZonalStatistics"},
      "min":1
    }
  },
  "documentation":"<p>Provides APIs for creating and managing SageMaker geospatial resources.</p>"
}
