{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-08-08",
    "endpointPrefix":"connect",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceAbbreviation":"Amazon Connect",
    "serviceFullName":"Amazon Connect Service",
    "serviceId":"Connect",
    "signatureVersion":"v4",
    "signingName":"connect",
    "uid":"connect-2017-08-08"
  },
  "operations":{
    "AssociateApprovedOrigin":{
      "name":"AssociateApprovedOrigin",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/approved-origin"
      },
      "input":{"shape":"AssociateApprovedOriginRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Associates an approved origin to an Amazon Connect instance.</p>"
    },
    "AssociateBot":{
      "name":"AssociateBot",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/bot"
      },
      "input":{"shape":"AssociateBotRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Allows the specified Amazon Connect instance to access the specified Amazon Lex or Amazon Lex V2 bot.</p>"
    },
    "AssociateInstanceStorageConfig":{
      "name":"AssociateInstanceStorageConfig",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/storage-config"
      },
      "input":{"shape":"AssociateInstanceStorageConfigRequest"},
      "output":{"shape":"AssociateInstanceStorageConfigResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Associates a storage resource type for the first time. You can only associate one type of storage configuration in a single call. This means, for example, that you can't define an instance with multiple S3 buckets for storing chat transcripts.</p> <p>This API does not create a resource that doesn't exist. It only associates it to the instance. Ensure that the resource being specified in the storage configuration, like an S3 bucket, exists when being used for association.</p>"
    },
    "AssociateLambdaFunction":{
      "name":"AssociateLambdaFunction",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/lambda-function"
      },
      "input":{"shape":"AssociateLambdaFunctionRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Allows the specified Amazon Connect instance to access the specified Lambda function.</p>"
    },
    "AssociateLexBot":{
      "name":"AssociateLexBot",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/lex-bot"
      },
      "input":{"shape":"AssociateLexBotRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Allows the specified Amazon Connect instance to access the specified Amazon Lex bot.</p>"
    },
    "AssociateQueueQuickConnects":{
      "name":"AssociateQueueQuickConnects",
      "http":{
        "method":"POST",
        "requestUri":"/queues/{InstanceId}/{QueueId}/associate-quick-connects"
      },
      "input":{"shape":"AssociateQueueQuickConnectsRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Associates a set of quick connects with a queue.</p>"
    },
    "AssociateRoutingProfileQueues":{
      "name":"AssociateRoutingProfileQueues",
      "http":{
        "method":"POST",
        "requestUri":"/routing-profiles/{InstanceId}/{RoutingProfileId}/associate-queues"
      },
      "input":{"shape":"AssociateRoutingProfileQueuesRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Associates a set of queues with a routing profile.</p>"
    },
    "AssociateSecurityKey":{
      "name":"AssociateSecurityKey",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/security-key"
      },
      "input":{"shape":"AssociateSecurityKeyRequest"},
      "output":{"shape":"AssociateSecurityKeyResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Associates a security key to the instance.</p>"
    },
    "CreateAgentStatus":{
      "name":"CreateAgentStatus",
      "http":{
        "method":"PUT",
        "requestUri":"/agent-status/{InstanceId}"
      },
      "input":{"shape":"CreateAgentStatusRequest"},
      "output":{"shape":"CreateAgentStatusResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Creates an agent status for the specified Amazon Connect instance.</p>"
    },
    "CreateContactFlow":{
      "name":"CreateContactFlow",
      "http":{
        "method":"PUT",
        "requestUri":"/contact-flows/{InstanceId}"
      },
      "input":{"shape":"CreateContactFlowRequest"},
      "output":{"shape":"CreateContactFlowResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidContactFlowException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a contact flow for the specified Amazon Connect instance.</p> <p>You can also create and update contact flows using the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/flow-language.html\">Amazon Connect Flow language</a>.</p>"
    },
    "CreateContactFlowModule":{
      "name":"CreateContactFlowModule",
      "http":{
        "method":"PUT",
        "requestUri":"/contact-flow-modules/{InstanceId}"
      },
      "input":{"shape":"CreateContactFlowModuleRequest"},
      "output":{"shape":"CreateContactFlowModuleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidContactFlowModuleException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"IdempotencyException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a contact flow module for the specified Amazon Connect instance. </p>"
    },
    "CreateHoursOfOperation":{
      "name":"CreateHoursOfOperation",
      "http":{
        "method":"PUT",
        "requestUri":"/hours-of-operations/{InstanceId}"
      },
      "input":{"shape":"CreateHoursOfOperationRequest"},
      "output":{"shape":"CreateHoursOfOperationResponse"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Creates hours of operation. </p>"
    },
    "CreateInstance":{
      "name":"CreateInstance",
      "http":{
        "method":"PUT",
        "requestUri":"/instance"
      },
      "input":{"shape":"CreateInstanceRequest"},
      "output":{"shape":"CreateInstanceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Initiates an Amazon Connect instance with all the supported channels enabled. It does not attach any storage, such as Amazon Simple Storage Service (Amazon S3) or Amazon Kinesis. It also does not allow for any configurations on features, such as Contact Lens for Amazon Connect. </p> <p>Amazon Connect enforces a limit on the total number of instances that you can create or delete in 30 days. If you exceed this limit, you will get an error message indicating there has been an excessive number of attempts at creating or deleting instances. You must wait 30 days before you can restart creating and deleting instances in your account.</p>"
    },
    "CreateIntegrationAssociation":{
      "name":"CreateIntegrationAssociation",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/integration-associations"
      },
      "input":{"shape":"CreateIntegrationAssociationRequest"},
      "output":{"shape":"CreateIntegrationAssociationResponse"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates an AWS resource association with an Amazon Connect instance.</p>"
    },
    "CreateQueue":{
      "name":"CreateQueue",
      "http":{
        "method":"PUT",
        "requestUri":"/queues/{InstanceId}"
      },
      "input":{"shape":"CreateQueueRequest"},
      "output":{"shape":"CreateQueueResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Creates a new queue for the specified Amazon Connect instance.</p>"
    },
    "CreateQuickConnect":{
      "name":"CreateQuickConnect",
      "http":{
        "method":"PUT",
        "requestUri":"/quick-connects/{InstanceId}"
      },
      "input":{"shape":"CreateQuickConnectRequest"},
      "output":{"shape":"CreateQuickConnectResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a quick connect for the specified Amazon Connect instance.</p>"
    },
    "CreateRoutingProfile":{
      "name":"CreateRoutingProfile",
      "http":{
        "method":"PUT",
        "requestUri":"/routing-profiles/{InstanceId}"
      },
      "input":{"shape":"CreateRoutingProfileRequest"},
      "output":{"shape":"CreateRoutingProfileResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a new routing profile.</p>"
    },
    "CreateSecurityProfile":{
      "name":"CreateSecurityProfile",
      "http":{
        "method":"PUT",
        "requestUri":"/security-profiles/{InstanceId}"
      },
      "input":{"shape":"CreateSecurityProfileRequest"},
      "output":{"shape":"CreateSecurityProfileResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"LimitExceededException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Creates a security profile.</p>"
    },
    "CreateUseCase":{
      "name":"CreateUseCase",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/integration-associations/{IntegrationAssociationId}/use-cases"
      },
      "input":{"shape":"CreateUseCaseRequest"},
      "output":{"shape":"CreateUseCaseResponse"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a use case for an integration association.</p>"
    },
    "CreateUser":{
      "name":"CreateUser",
      "http":{
        "method":"PUT",
        "requestUri":"/users/{InstanceId}"
      },
      "input":{"shape":"CreateUserRequest"},
      "output":{"shape":"CreateUserResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"LimitExceededException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a user account for the specified Amazon Connect instance.</p> <p>For information about how to create user accounts using the Amazon Connect console, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/user-management.html\">Add Users</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "CreateUserHierarchyGroup":{
      "name":"CreateUserHierarchyGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/user-hierarchy-groups/{InstanceId}"
      },
      "input":{"shape":"CreateUserHierarchyGroupRequest"},
      "output":{"shape":"CreateUserHierarchyGroupResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a new user hierarchy group.</p>"
    },
    "DeleteContactFlow":{
      "name":"DeleteContactFlow",
      "http":{
        "method":"DELETE",
        "requestUri":"/contact-flows/{InstanceId}/{ContactFlowId}"
      },
      "input":{"shape":"DeleteContactFlowRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a contact flow for the specified Amazon Connect instance.</p>"
    },
    "DeleteContactFlowModule":{
      "name":"DeleteContactFlowModule",
      "http":{
        "method":"DELETE",
        "requestUri":"/contact-flow-modules/{InstanceId}/{ContactFlowModuleId}"
      },
      "input":{"shape":"DeleteContactFlowModuleRequest"},
      "output":{"shape":"DeleteContactFlowModuleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes the specified contact flow module.</p>"
    },
    "DeleteHoursOfOperation":{
      "name":"DeleteHoursOfOperation",
      "http":{
        "method":"DELETE",
        "requestUri":"/hours-of-operations/{InstanceId}/{HoursOfOperationId}"
      },
      "input":{"shape":"DeleteHoursOfOperationRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Deletes an hours of operation.</p>"
    },
    "DeleteInstance":{
      "name":"DeleteInstance",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}"
      },
      "input":{"shape":"DeleteInstanceRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Deletes the Amazon Connect instance.</p> <p>Amazon Connect enforces a limit on the total number of instances that you can create or delete in 30 days. If you exceed this limit, you will get an error message indicating there has been an excessive number of attempts at creating or deleting instances. You must wait 30 days before you can restart creating and deleting instances in your account.</p>"
    },
    "DeleteIntegrationAssociation":{
      "name":"DeleteIntegrationAssociation",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/integration-associations/{IntegrationAssociationId}"
      },
      "input":{"shape":"DeleteIntegrationAssociationRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes an AWS resource association from an Amazon Connect instance. The association must not have any use cases associated with it.</p>"
    },
    "DeleteQuickConnect":{
      "name":"DeleteQuickConnect",
      "http":{
        "method":"DELETE",
        "requestUri":"/quick-connects/{InstanceId}/{QuickConnectId}"
      },
      "input":{"shape":"DeleteQuickConnectRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes a quick connect.</p>"
    },
    "DeleteSecurityProfile":{
      "name":"DeleteSecurityProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/security-profiles/{InstanceId}/{SecurityProfileId}"
      },
      "input":{"shape":"DeleteSecurityProfileRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Deletes a security profile.</p>"
    },
    "DeleteUseCase":{
      "name":"DeleteUseCase",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/integration-associations/{IntegrationAssociationId}/use-cases/{UseCaseId}"
      },
      "input":{"shape":"DeleteUseCaseRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a use case from an integration association.</p>"
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"DELETE",
        "requestUri":"/users/{InstanceId}/{UserId}"
      },
      "input":{"shape":"DeleteUserRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes a user account from the specified Amazon Connect instance.</p> <p>For information about what happens to a user's data when their account is deleted, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/delete-users.html\">Delete Users from Your Amazon Connect Instance</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "DeleteUserHierarchyGroup":{
      "name":"DeleteUserHierarchyGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/user-hierarchy-groups/{InstanceId}/{HierarchyGroupId}"
      },
      "input":{"shape":"DeleteUserHierarchyGroupRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes an existing user hierarchy group. It must not be associated with any agents or have any active child groups.</p>"
    },
    "DescribeAgentStatus":{
      "name":"DescribeAgentStatus",
      "http":{
        "method":"GET",
        "requestUri":"/agent-status/{InstanceId}/{AgentStatusId}"
      },
      "input":{"shape":"DescribeAgentStatusRequest"},
      "output":{"shape":"DescribeAgentStatusResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Describes an agent status.</p>"
    },
    "DescribeContact":{
      "name":"DescribeContact",
      "http":{
        "method":"GET",
        "requestUri":"/contacts/{InstanceId}/{ContactId}"
      },
      "input":{"shape":"DescribeContactRequest"},
      "output":{"shape":"DescribeContactResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Describes the specified contact. </p> <important> <p>Contact information remains available in Amazon Connect for 24 months, and then it is deleted.</p> </important>"
    },
    "DescribeContactFlow":{
      "name":"DescribeContactFlow",
      "http":{
        "method":"GET",
        "requestUri":"/contact-flows/{InstanceId}/{ContactFlowId}"
      },
      "input":{"shape":"DescribeContactFlowRequest"},
      "output":{"shape":"DescribeContactFlowResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ContactFlowNotPublishedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the specified contact flow.</p> <p>You can also create and update contact flows using the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/flow-language.html\">Amazon Connect Flow language</a>.</p>"
    },
    "DescribeContactFlowModule":{
      "name":"DescribeContactFlowModule",
      "http":{
        "method":"GET",
        "requestUri":"/contact-flow-modules/{InstanceId}/{ContactFlowModuleId}"
      },
      "input":{"shape":"DescribeContactFlowModuleRequest"},
      "output":{"shape":"DescribeContactFlowModuleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the specified contact flow module.</p>"
    },
    "DescribeHoursOfOperation":{
      "name":"DescribeHoursOfOperation",
      "http":{
        "method":"GET",
        "requestUri":"/hours-of-operations/{InstanceId}/{HoursOfOperationId}"
      },
      "input":{"shape":"DescribeHoursOfOperationRequest"},
      "output":{"shape":"DescribeHoursOfOperationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Describes the hours of operation.</p>"
    },
    "DescribeInstance":{
      "name":"DescribeInstance",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}"
      },
      "input":{"shape":"DescribeInstanceRequest"},
      "output":{"shape":"DescribeInstanceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Returns the current state of the specified instance identifier. It tracks the instance while it is being created and returns an error status, if applicable. </p> <p>If an instance is not created successfully, the instance status reason field returns details relevant to the reason. The instance in a failed state is returned only for 24 hours after the CreateInstance API was invoked.</p>"
    },
    "DescribeInstanceAttribute":{
      "name":"DescribeInstanceAttribute",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/attribute/{AttributeType}"
      },
      "input":{"shape":"DescribeInstanceAttributeRequest"},
      "output":{"shape":"DescribeInstanceAttributeResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Describes the specified instance attribute.</p>"
    },
    "DescribeInstanceStorageConfig":{
      "name":"DescribeInstanceStorageConfig",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/storage-config/{AssociationId}"
      },
      "input":{"shape":"DescribeInstanceStorageConfigRequest"},
      "output":{"shape":"DescribeInstanceStorageConfigResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Retrieves the current storage configurations for the specified resource type, association ID, and instance ID.</p>"
    },
    "DescribeQueue":{
      "name":"DescribeQueue",
      "http":{
        "method":"GET",
        "requestUri":"/queues/{InstanceId}/{QueueId}"
      },
      "input":{"shape":"DescribeQueueRequest"},
      "output":{"shape":"DescribeQueueResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Describes the specified queue.</p>"
    },
    "DescribeQuickConnect":{
      "name":"DescribeQuickConnect",
      "http":{
        "method":"GET",
        "requestUri":"/quick-connects/{InstanceId}/{QuickConnectId}"
      },
      "input":{"shape":"DescribeQuickConnectRequest"},
      "output":{"shape":"DescribeQuickConnectResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the quick connect.</p>"
    },
    "DescribeRoutingProfile":{
      "name":"DescribeRoutingProfile",
      "http":{
        "method":"GET",
        "requestUri":"/routing-profiles/{InstanceId}/{RoutingProfileId}"
      },
      "input":{"shape":"DescribeRoutingProfileRequest"},
      "output":{"shape":"DescribeRoutingProfileResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the specified routing profile.</p>"
    },
    "DescribeSecurityProfile":{
      "name":"DescribeSecurityProfile",
      "http":{
        "method":"GET",
        "requestUri":"/security-profiles/{InstanceId}/{SecurityProfileId}"
      },
      "input":{"shape":"DescribeSecurityProfileRequest"},
      "output":{"shape":"DescribeSecurityProfileResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Gets basic information about the security profle.</p>"
    },
    "DescribeUser":{
      "name":"DescribeUser",
      "http":{
        "method":"GET",
        "requestUri":"/users/{InstanceId}/{UserId}"
      },
      "input":{"shape":"DescribeUserRequest"},
      "output":{"shape":"DescribeUserResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the specified user account. You can find the instance ID in the console (it’s the final part of the ARN). The console does not display the user IDs. Instead, list the users and note the IDs provided in the output.</p>"
    },
    "DescribeUserHierarchyGroup":{
      "name":"DescribeUserHierarchyGroup",
      "http":{
        "method":"GET",
        "requestUri":"/user-hierarchy-groups/{InstanceId}/{HierarchyGroupId}"
      },
      "input":{"shape":"DescribeUserHierarchyGroupRequest"},
      "output":{"shape":"DescribeUserHierarchyGroupResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the specified hierarchy group.</p>"
    },
    "DescribeUserHierarchyStructure":{
      "name":"DescribeUserHierarchyStructure",
      "http":{
        "method":"GET",
        "requestUri":"/user-hierarchy-structure/{InstanceId}"
      },
      "input":{"shape":"DescribeUserHierarchyStructureRequest"},
      "output":{"shape":"DescribeUserHierarchyStructureResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the hierarchy structure of the specified Amazon Connect instance.</p>"
    },
    "DisassociateApprovedOrigin":{
      "name":"DisassociateApprovedOrigin",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/approved-origin"
      },
      "input":{"shape":"DisassociateApprovedOriginRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Revokes access to integrated applications from Amazon Connect.</p>"
    },
    "DisassociateBot":{
      "name":"DisassociateBot",
      "http":{
        "method":"POST",
        "requestUri":"/instance/{InstanceId}/bot"
      },
      "input":{"shape":"DisassociateBotRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Revokes authorization from the specified instance to access the specified Amazon Lex or Amazon Lex V2 bot. </p>"
    },
    "DisassociateInstanceStorageConfig":{
      "name":"DisassociateInstanceStorageConfig",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/storage-config/{AssociationId}"
      },
      "input":{"shape":"DisassociateInstanceStorageConfigRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Removes the storage type configurations for the specified resource type and association ID.</p>"
    },
    "DisassociateLambdaFunction":{
      "name":"DisassociateLambdaFunction",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/lambda-function"
      },
      "input":{"shape":"DisassociateLambdaFunctionRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Remove the Lambda function from the dropdown options available in the relevant contact flow blocks.</p>"
    },
    "DisassociateLexBot":{
      "name":"DisassociateLexBot",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/lex-bot"
      },
      "input":{"shape":"DisassociateLexBotRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Revokes authorization from the specified instance to access the specified Amazon Lex bot.</p>"
    },
    "DisassociateQueueQuickConnects":{
      "name":"DisassociateQueueQuickConnects",
      "http":{
        "method":"POST",
        "requestUri":"/queues/{InstanceId}/{QueueId}/disassociate-quick-connects"
      },
      "input":{"shape":"DisassociateQueueQuickConnectsRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Disassociates a set of quick connects from a queue.</p>"
    },
    "DisassociateRoutingProfileQueues":{
      "name":"DisassociateRoutingProfileQueues",
      "http":{
        "method":"POST",
        "requestUri":"/routing-profiles/{InstanceId}/{RoutingProfileId}/disassociate-queues"
      },
      "input":{"shape":"DisassociateRoutingProfileQueuesRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Disassociates a set of queues from a routing profile.</p>"
    },
    "DisassociateSecurityKey":{
      "name":"DisassociateSecurityKey",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/security-key/{AssociationId}"
      },
      "input":{"shape":"DisassociateSecurityKeyRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Deletes the specified security key.</p>"
    },
    "GetContactAttributes":{
      "name":"GetContactAttributes",
      "http":{
        "method":"GET",
        "requestUri":"/contact/attributes/{InstanceId}/{InitialContactId}"
      },
      "input":{"shape":"GetContactAttributesRequest"},
      "output":{"shape":"GetContactAttributesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Retrieves the contact attributes for the specified contact.</p>"
    },
    "GetCurrentMetricData":{
      "name":"GetCurrentMetricData",
      "http":{
        "method":"POST",
        "requestUri":"/metrics/current/{InstanceId}"
      },
      "input":{"shape":"GetCurrentMetricDataRequest"},
      "output":{"shape":"GetCurrentMetricDataResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets the real-time metric data from the specified Amazon Connect instance.</p> <p>For a description of each metric, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/real-time-metrics-definitions.html\">Real-time Metrics Definitions</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "GetFederationToken":{
      "name":"GetFederationToken",
      "http":{
        "method":"GET",
        "requestUri":"/user/federate/{InstanceId}"
      },
      "input":{"shape":"GetFederationTokenRequest"},
      "output":{"shape":"GetFederationTokenResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UserNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"DuplicateResourceException"}
      ],
      "documentation":"<p>Retrieves a token for federation.</p> <note> <p>This API doesn't support root users. If you try to invoke GetFederationToken with root credentials, an error message similar to the following one appears: </p> <p> <code>Provided identity: Principal: .... User: .... cannot be used for federation with Amazon Connect</code> </p> </note>"
    },
    "GetMetricData":{
      "name":"GetMetricData",
      "http":{
        "method":"POST",
        "requestUri":"/metrics/historical/{InstanceId}"
      },
      "input":{"shape":"GetMetricDataRequest"},
      "output":{"shape":"GetMetricDataResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets historical metric data from the specified Amazon Connect instance.</p> <p>For a description of each historical metric, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/historical-metrics-definitions.html\">Historical Metrics Definitions</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "ListAgentStatuses":{
      "name":"ListAgentStatuses",
      "http":{
        "method":"GET",
        "requestUri":"/agent-status/{InstanceId}"
      },
      "input":{"shape":"ListAgentStatusRequest"},
      "output":{"shape":"ListAgentStatusResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Lists agent statuses.</p>"
    },
    "ListApprovedOrigins":{
      "name":"ListApprovedOrigins",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/approved-origins"
      },
      "input":{"shape":"ListApprovedOriginsRequest"},
      "output":{"shape":"ListApprovedOriginsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Returns a paginated list of all approved origins associated with the instance.</p>"
    },
    "ListBots":{
      "name":"ListBots",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/bots"
      },
      "input":{"shape":"ListBotsRequest"},
      "output":{"shape":"ListBotsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>For the specified version of Amazon Lex, returns a paginated list of all the Amazon Lex bots currently associated with the instance. </p>"
    },
    "ListContactFlowModules":{
      "name":"ListContactFlowModules",
      "http":{
        "method":"GET",
        "requestUri":"/contact-flow-modules-summary/{InstanceId}"
      },
      "input":{"shape":"ListContactFlowModulesRequest"},
      "output":{"shape":"ListContactFlowModulesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Provides information about the contact flow modules for the specified Amazon Connect instance.</p>"
    },
    "ListContactFlows":{
      "name":"ListContactFlows",
      "http":{
        "method":"GET",
        "requestUri":"/contact-flows-summary/{InstanceId}"
      },
      "input":{"shape":"ListContactFlowsRequest"},
      "output":{"shape":"ListContactFlowsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Provides information about the contact flows for the specified Amazon Connect instance.</p> <p>You can also create and update contact flows using the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/flow-language.html\">Amazon Connect Flow language</a>.</p> <p>For more information about contact flows, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/concepts-contact-flows.html\">Contact Flows</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "ListContactReferences":{
      "name":"ListContactReferences",
      "http":{
        "method":"GET",
        "requestUri":"/contact/references/{InstanceId}/{ContactId}"
      },
      "input":{"shape":"ListContactReferencesRequest"},
      "output":{"shape":"ListContactReferencesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>For the specified <code>referenceTypes</code>, returns a list of references associated with the contact. </p>"
    },
    "ListHoursOfOperations":{
      "name":"ListHoursOfOperations",
      "http":{
        "method":"GET",
        "requestUri":"/hours-of-operations-summary/{InstanceId}"
      },
      "input":{"shape":"ListHoursOfOperationsRequest"},
      "output":{"shape":"ListHoursOfOperationsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Provides information about the hours of operation for the specified Amazon Connect instance.</p> <p>For more information about hours of operation, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/set-hours-operation.html\">Set the Hours of Operation for a Queue</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "ListInstanceAttributes":{
      "name":"ListInstanceAttributes",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/attributes"
      },
      "input":{"shape":"ListInstanceAttributesRequest"},
      "output":{"shape":"ListInstanceAttributesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Returns a paginated list of all attribute types for the given instance.</p>"
    },
    "ListInstanceStorageConfigs":{
      "name":"ListInstanceStorageConfigs",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/storage-configs"
      },
      "input":{"shape":"ListInstanceStorageConfigsRequest"},
      "output":{"shape":"ListInstanceStorageConfigsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Returns a paginated list of storage configs for the identified instance and resource type.</p>"
    },
    "ListInstances":{
      "name":"ListInstances",
      "http":{
        "method":"GET",
        "requestUri":"/instance"
      },
      "input":{"shape":"ListInstancesRequest"},
      "output":{"shape":"ListInstancesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Return a list of instances which are in active state, creation-in-progress state, and failed state. Instances that aren't successfully created (they are in a failed state) are returned only for 24 hours after the CreateInstance API was invoked.</p>"
    },
    "ListIntegrationAssociations":{
      "name":"ListIntegrationAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/integration-associations"
      },
      "input":{"shape":"ListIntegrationAssociationsRequest"},
      "output":{"shape":"ListIntegrationAssociationsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Provides summary information about the AWS resource associations for the specified Amazon Connect instance.</p>"
    },
    "ListLambdaFunctions":{
      "name":"ListLambdaFunctions",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/lambda-functions"
      },
      "input":{"shape":"ListLambdaFunctionsRequest"},
      "output":{"shape":"ListLambdaFunctionsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Returns a paginated list of all Lambda functions that display in the dropdown options in the relevant contact flow blocks.</p>"
    },
    "ListLexBots":{
      "name":"ListLexBots",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/lex-bots"
      },
      "input":{"shape":"ListLexBotsRequest"},
      "output":{"shape":"ListLexBotsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Returns a paginated list of all the Amazon Lex bots currently associated with the instance.</p>"
    },
    "ListPhoneNumbers":{
      "name":"ListPhoneNumbers",
      "http":{
        "method":"GET",
        "requestUri":"/phone-numbers-summary/{InstanceId}"
      },
      "input":{"shape":"ListPhoneNumbersRequest"},
      "output":{"shape":"ListPhoneNumbersResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Provides information about the phone numbers for the specified Amazon Connect instance. </p> <p>For more information about phone numbers, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/contact-center-phone-number.html\">Set Up Phone Numbers for Your Contact Center</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "ListPrompts":{
      "name":"ListPrompts",
      "http":{
        "method":"GET",
        "requestUri":"/prompts-summary/{InstanceId}"
      },
      "input":{"shape":"ListPromptsRequest"},
      "output":{"shape":"ListPromptsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Provides information about the prompts for the specified Amazon Connect instance.</p>"
    },
    "ListQueueQuickConnects":{
      "name":"ListQueueQuickConnects",
      "http":{
        "method":"GET",
        "requestUri":"/queues/{InstanceId}/{QueueId}/quick-connects"
      },
      "input":{"shape":"ListQueueQuickConnectsRequest"},
      "output":{"shape":"ListQueueQuickConnectsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Lists the quick connects associated with a queue.</p>"
    },
    "ListQueues":{
      "name":"ListQueues",
      "http":{
        "method":"GET",
        "requestUri":"/queues-summary/{InstanceId}"
      },
      "input":{"shape":"ListQueuesRequest"},
      "output":{"shape":"ListQueuesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Provides information about the queues for the specified Amazon Connect instance.</p> <p>If you do not specify a <code>QueueTypes</code> parameter, both standard and agent queues are returned. This might cause an unexpected truncation of results if you have more than 1000 agents and you limit the number of results of the API call in code.</p> <p>For more information about queues, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/concepts-queues-standard-and-agent.html\">Queues: Standard and Agent</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "ListQuickConnects":{
      "name":"ListQuickConnects",
      "http":{
        "method":"GET",
        "requestUri":"/quick-connects/{InstanceId}"
      },
      "input":{"shape":"ListQuickConnectsRequest"},
      "output":{"shape":"ListQuickConnectsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Provides information about the quick connects for the specified Amazon Connect instance. </p>"
    },
    "ListRoutingProfileQueues":{
      "name":"ListRoutingProfileQueues",
      "http":{
        "method":"GET",
        "requestUri":"/routing-profiles/{InstanceId}/{RoutingProfileId}/queues"
      },
      "input":{"shape":"ListRoutingProfileQueuesRequest"},
      "output":{"shape":"ListRoutingProfileQueuesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Lists the queues associated with a routing profile.</p>"
    },
    "ListRoutingProfiles":{
      "name":"ListRoutingProfiles",
      "http":{
        "method":"GET",
        "requestUri":"/routing-profiles-summary/{InstanceId}"
      },
      "input":{"shape":"ListRoutingProfilesRequest"},
      "output":{"shape":"ListRoutingProfilesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Provides summary information about the routing profiles for the specified Amazon Connect instance.</p> <p>For more information about routing profiles, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/concepts-routing.html\">Routing Profiles</a> and <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/routing-profiles.html\">Create a Routing Profile</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "ListSecurityKeys":{
      "name":"ListSecurityKeys",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/security-keys"
      },
      "input":{"shape":"ListSecurityKeysRequest"},
      "output":{"shape":"ListSecurityKeysResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Returns a paginated list of all security keys associated with the instance.</p>"
    },
    "ListSecurityProfilePermissions":{
      "name":"ListSecurityProfilePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/security-profiles-permissions/{InstanceId}/{SecurityProfileId}"
      },
      "input":{"shape":"ListSecurityProfilePermissionsRequest"},
      "output":{"shape":"ListSecurityProfilePermissionsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Lists the permissions granted to a security profile.</p>"
    },
    "ListSecurityProfiles":{
      "name":"ListSecurityProfiles",
      "http":{
        "method":"GET",
        "requestUri":"/security-profiles-summary/{InstanceId}"
      },
      "input":{"shape":"ListSecurityProfilesRequest"},
      "output":{"shape":"ListSecurityProfilesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Provides summary information about the security profiles for the specified Amazon Connect instance.</p> <p>For more information about security profiles, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/connect-security-profiles.html\">Security Profiles</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the tags for the specified resource.</p> <p>For sample policies that use tags, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/security_iam_id-based-policy-examples.html\">Amazon Connect Identity-Based Policy Examples</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "ListUseCases":{
      "name":"ListUseCases",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/integration-associations/{IntegrationAssociationId}/use-cases"
      },
      "input":{"shape":"ListUseCasesRequest"},
      "output":{"shape":"ListUseCasesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the use cases for the integration association. </p>"
    },
    "ListUserHierarchyGroups":{
      "name":"ListUserHierarchyGroups",
      "http":{
        "method":"GET",
        "requestUri":"/user-hierarchy-groups-summary/{InstanceId}"
      },
      "input":{"shape":"ListUserHierarchyGroupsRequest"},
      "output":{"shape":"ListUserHierarchyGroupsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Provides summary information about the hierarchy groups for the specified Amazon Connect instance.</p> <p>For more information about agent hierarchies, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/agent-hierarchy.html\">Set Up Agent Hierarchies</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "ListUsers":{
      "name":"ListUsers",
      "http":{
        "method":"GET",
        "requestUri":"/users-summary/{InstanceId}"
      },
      "input":{"shape":"ListUsersRequest"},
      "output":{"shape":"ListUsersResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Provides summary information about the users for the specified Amazon Connect instance.</p>"
    },
    "ResumeContactRecording":{
      "name":"ResumeContactRecording",
      "http":{
        "method":"POST",
        "requestUri":"/contact/resume-recording"
      },
      "input":{"shape":"ResumeContactRecordingRequest"},
      "output":{"shape":"ResumeContactRecordingResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>When a contact is being recorded, and the recording has been suspended using SuspendContactRecording, this API resumes recording the call.</p> <p>Only voice recordings are supported at this time.</p>"
    },
    "StartChatContact":{
      "name":"StartChatContact",
      "http":{
        "method":"PUT",
        "requestUri":"/contact/chat"
      },
      "input":{"shape":"StartChatContactRequest"},
      "output":{"shape":"StartChatContactResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Initiates a contact flow to start a new chat for the customer. Response of this API provides a token required to obtain credentials from the <a href=\"https://docs.aws.amazon.com/connect-participant/latest/APIReference/API_CreateParticipantConnection.html\">CreateParticipantConnection</a> API in the Amazon Connect Participant Service.</p> <p>When a new chat contact is successfully created, clients must subscribe to the participant’s connection for the created chat within 5 minutes. This is achieved by invoking <a href=\"https://docs.aws.amazon.com/connect-participant/latest/APIReference/API_CreateParticipantConnection.html\">CreateParticipantConnection</a> with WEBSOCKET and CONNECTION_CREDENTIALS. </p> <p>A 429 error occurs in two situations:</p> <ul> <li> <p>API rate limit is exceeded. API TPS throttling returns a <code>TooManyRequests</code> exception.</p> </li> <li> <p>The <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html\">quota for concurrent active chats</a> is exceeded. Active chat throttling returns a <code>LimitExceededException</code>.</p> </li> </ul> <p>For more information about chat, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/chat.html\">Chat</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "StartContactRecording":{
      "name":"StartContactRecording",
      "http":{
        "method":"POST",
        "requestUri":"/contact/start-recording"
      },
      "input":{"shape":"StartContactRecordingRequest"},
      "output":{"shape":"StartContactRecordingResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Starts recording the contact when the agent joins the call. StartContactRecording is a one-time action. For example, if you use StopContactRecording to stop recording an ongoing call, you can't use StartContactRecording to restart it. For scenarios where the recording has started and you want to suspend and resume it, such as when collecting sensitive information (for example, a credit card number), use SuspendContactRecording and ResumeContactRecording.</p> <p>You can use this API to override the recording behavior configured in the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/set-recording-behavior.html\">Set recording behavior</a> block.</p> <p>Only voice recordings are supported at this time.</p>"
    },
    "StartContactStreaming":{
      "name":"StartContactStreaming",
      "http":{
        "method":"POST",
        "requestUri":"/contact/start-streaming"
      },
      "input":{"shape":"StartContactStreamingRequest"},
      "output":{"shape":"StartContactStreamingResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p> Initiates real-time message streaming for a new chat contact.</p> <p> For more information about message streaming, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/chat-message-streaming.html\">Enable real-time chat message streaming</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "StartOutboundVoiceContact":{
      "name":"StartOutboundVoiceContact",
      "http":{
        "method":"PUT",
        "requestUri":"/contact/outbound-voice"
      },
      "input":{"shape":"StartOutboundVoiceContactRequest"},
      "output":{"shape":"StartOutboundVoiceContactResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"LimitExceededException"},
        {"shape":"DestinationNotAllowedException"},
        {"shape":"OutboundContactNotPermittedException"}
      ],
      "documentation":"<p>Places an outbound call to a contact, and then initiates the contact flow. It performs the actions in the contact flow that's specified (in <code>ContactFlowId</code>).</p> <p>Agents do not initiate the outbound API, which means that they do not dial the contact. If the contact flow places an outbound call to a contact, and then puts the contact in queue, the call is then routed to the agent, like any other inbound case.</p> <p>There is a 60-second dialing timeout for this operation. If the call is not connected after 60 seconds, it fails.</p> <note> <p>UK numbers with a 447 prefix are not allowed by default. Before you can dial these UK mobile numbers, you must submit a service quota increase request. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html\">Amazon Connect Service Quotas</a> in the <i>Amazon Connect Administrator Guide</i>. </p> </note> <note> <p>Campaign calls are not allowed by default. Before you can make a call with <code>TrafficType</code> = <code>CAMPAIGN</code>, you must submit a service quota increase request. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html\">Amazon Connect Service Quotas</a> in the <i>Amazon Connect Administrator Guide</i>. </p> </note>"
    },
    "StartTaskContact":{
      "name":"StartTaskContact",
      "http":{
        "method":"PUT",
        "requestUri":"/contact/task"
      },
      "input":{"shape":"StartTaskContactRequest"},
      "output":{"shape":"StartTaskContactResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Initiates a contact flow to start a new task.</p>"
    },
    "StopContact":{
      "name":"StopContact",
      "http":{
        "method":"POST",
        "requestUri":"/contact/stop"
      },
      "input":{"shape":"StopContactRequest"},
      "output":{"shape":"StopContactResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ContactNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Ends the specified contact.</p>"
    },
    "StopContactRecording":{
      "name":"StopContactRecording",
      "http":{
        "method":"POST",
        "requestUri":"/contact/stop-recording"
      },
      "input":{"shape":"StopContactRecordingRequest"},
      "output":{"shape":"StopContactRecordingResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Stops recording a call when a contact is being recorded. StopContactRecording is a one-time action. If you use StopContactRecording to stop recording an ongoing call, you can't use StartContactRecording to restart it. For scenarios where the recording has started and you want to suspend it for sensitive information (for example, to collect a credit card number), and then restart it, use SuspendContactRecording and ResumeContactRecording.</p> <p>Only voice recordings are supported at this time.</p>"
    },
    "StopContactStreaming":{
      "name":"StopContactStreaming",
      "http":{
        "method":"POST",
        "requestUri":"/contact/stop-streaming"
      },
      "input":{"shape":"StopContactStreamingRequest"},
      "output":{"shape":"StopContactStreamingResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p> Ends message streaming on a specified contact. To restart message streaming on that contact, call the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_StartContactStreaming.html\">StartContactStreaming</a> API. </p>"
    },
    "SuspendContactRecording":{
      "name":"SuspendContactRecording",
      "http":{
        "method":"POST",
        "requestUri":"/contact/suspend-recording"
      },
      "input":{"shape":"SuspendContactRecordingRequest"},
      "output":{"shape":"SuspendContactRecordingResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>When a contact is being recorded, this API suspends recording the call. For example, you might suspend the call recording while collecting sensitive information, such as a credit card number. Then use ResumeContactRecording to restart recording. </p> <p>The period of time that the recording is suspended is filled with silence in the final recording. </p> <p>Only voice recordings are supported at this time.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"TagResourceRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Adds the specified tags to the specified resource.</p> <p>The supported resource types are users, routing profiles, queues, quick connects, contact flows, agent status, and hours of operation.</p> <p>For sample policies that use tags, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/security_iam_id-based-policy-examples.html\">Amazon Connect Identity-Based Policy Examples</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"UntagResourceRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Removes the specified tags from the specified resource.</p>"
    },
    "UpdateAgentStatus":{
      "name":"UpdateAgentStatus",
      "http":{
        "method":"POST",
        "requestUri":"/agent-status/{InstanceId}/{AgentStatusId}"
      },
      "input":{"shape":"UpdateAgentStatusRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Updates agent status.</p>"
    },
    "UpdateContact":{
      "name":"UpdateContact",
      "http":{
        "method":"POST",
        "requestUri":"/contacts/{InstanceId}/{ContactId}"
      },
      "input":{"shape":"UpdateContactRequest"},
      "output":{"shape":"UpdateContactResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Adds or updates user-defined contact information associated with the specified contact. At least one field to be updated must be present in the request.</p> <important> <p>You can add or update user-defined contact information for both ongoing and completed contacts.</p> </important>"
    },
    "UpdateContactAttributes":{
      "name":"UpdateContactAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/contact/attributes"
      },
      "input":{"shape":"UpdateContactAttributesRequest"},
      "output":{"shape":"UpdateContactAttributesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates or updates user-defined contact attributes associated with the specified contact.</p> <p>You can create or update user-defined attributes for both ongoing and completed contacts. For example, while the call is active, you can update the customer's name or the reason the customer called. You can add notes about steps that the agent took during the call that display to the next agent that takes the call. You can also update attributes for a contact using data from your CRM application and save the data with the contact in Amazon Connect. You could also flag calls for additional analysis, such as legal review or to identify abusive callers.</p> <p>Contact attributes are available in Amazon Connect for 24 months, and are then deleted. For information about CTR retention and the maximum size of the CTR attributes section, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html#feature-limits\">Feature specifications</a> in the <i>Amazon Connect Administrator Guide</i>. </p> <p> <b>Important:</b> You cannot use the operation to update attributes for contacts that occurred prior to the release of the API, which was September 12, 2018. You can update attributes only for contacts that started after the release of the API. If you attempt to update attributes for a contact that occurred prior to the release of the API, a 400 error is returned. This applies also to queued callbacks that were initiated prior to the release of the API but are still active in your instance.</p>"
    },
    "UpdateContactFlowContent":{
      "name":"UpdateContactFlowContent",
      "http":{
        "method":"POST",
        "requestUri":"/contact-flows/{InstanceId}/{ContactFlowId}/content"
      },
      "input":{"shape":"UpdateContactFlowContentRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidContactFlowException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Updates the specified contact flow.</p> <p>You can also create and update contact flows using the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/flow-language.html\">Amazon Connect Flow language</a>.</p>"
    },
    "UpdateContactFlowMetadata":{
      "name":"UpdateContactFlowMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/contact-flows/{InstanceId}/{ContactFlowId}/metadata"
      },
      "input":{"shape":"UpdateContactFlowMetadataRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Updates metadata about specified contact flow.</p>"
    },
    "UpdateContactFlowModuleContent":{
      "name":"UpdateContactFlowModuleContent",
      "http":{
        "method":"POST",
        "requestUri":"/contact-flow-modules/{InstanceId}/{ContactFlowModuleId}/content"
      },
      "input":{"shape":"UpdateContactFlowModuleContentRequest"},
      "output":{"shape":"UpdateContactFlowModuleContentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidContactFlowModuleException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Updates specified contact flow module for the specified Amazon Connect instance. </p>"
    },
    "UpdateContactFlowModuleMetadata":{
      "name":"UpdateContactFlowModuleMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/contact-flow-modules/{InstanceId}/{ContactFlowModuleId}/metadata"
      },
      "input":{"shape":"UpdateContactFlowModuleMetadataRequest"},
      "output":{"shape":"UpdateContactFlowModuleMetadataResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Updates metadata about specified contact flow module.</p>"
    },
    "UpdateContactFlowName":{
      "name":"UpdateContactFlowName",
      "http":{
        "method":"POST",
        "requestUri":"/contact-flows/{InstanceId}/{ContactFlowId}/name"
      },
      "input":{"shape":"UpdateContactFlowNameRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>The name of the contact flow.</p> <p>You can also create and update contact flows using the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/flow-language.html\">Amazon Connect Flow language</a>.</p>"
    },
    "UpdateContactSchedule":{
      "name":"UpdateContactSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/contact/schedule"
      },
      "input":{"shape":"UpdateContactScheduleRequest"},
      "output":{"shape":"UpdateContactScheduleResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Updates the scheduled time of a task contact that is already scheduled.</p>"
    },
    "UpdateHoursOfOperation":{
      "name":"UpdateHoursOfOperation",
      "http":{
        "method":"POST",
        "requestUri":"/hours-of-operations/{InstanceId}/{HoursOfOperationId}"
      },
      "input":{"shape":"UpdateHoursOfOperationRequest"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Updates the hours of operation.</p>"
    },
    "UpdateInstanceAttribute":{
      "name":"UpdateInstanceAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/instance/{InstanceId}/attribute/{AttributeType}"
      },
      "input":{"shape":"UpdateInstanceAttributeRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Updates the value for the specified attribute type.</p>"
    },
    "UpdateInstanceStorageConfig":{
      "name":"UpdateInstanceStorageConfig",
      "http":{
        "method":"POST",
        "requestUri":"/instance/{InstanceId}/storage-config/{AssociationId}"
      },
      "input":{"shape":"UpdateInstanceStorageConfigRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Updates an existing configuration for a resource type. This API is idempotent.</p>"
    },
    "UpdateQueueHoursOfOperation":{
      "name":"UpdateQueueHoursOfOperation",
      "http":{
        "method":"POST",
        "requestUri":"/queues/{InstanceId}/{QueueId}/hours-of-operation"
      },
      "input":{"shape":"UpdateQueueHoursOfOperationRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Updates the hours of operation for the specified queue.</p>"
    },
    "UpdateQueueMaxContacts":{
      "name":"UpdateQueueMaxContacts",
      "http":{
        "method":"POST",
        "requestUri":"/queues/{InstanceId}/{QueueId}/max-contacts"
      },
      "input":{"shape":"UpdateQueueMaxContactsRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Updates the maximum number of contacts allowed in a queue before it is considered full.</p>"
    },
    "UpdateQueueName":{
      "name":"UpdateQueueName",
      "http":{
        "method":"POST",
        "requestUri":"/queues/{InstanceId}/{QueueId}/name"
      },
      "input":{"shape":"UpdateQueueNameRequest"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Updates the name and description of a queue. At least <code>Name</code> or <code>Description</code> must be provided.</p>"
    },
    "UpdateQueueOutboundCallerConfig":{
      "name":"UpdateQueueOutboundCallerConfig",
      "http":{
        "method":"POST",
        "requestUri":"/queues/{InstanceId}/{QueueId}/outbound-caller-config"
      },
      "input":{"shape":"UpdateQueueOutboundCallerConfigRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Updates the outbound caller ID name, number, and outbound whisper flow for a specified queue.</p>"
    },
    "UpdateQueueStatus":{
      "name":"UpdateQueueStatus",
      "http":{
        "method":"POST",
        "requestUri":"/queues/{InstanceId}/{QueueId}/status"
      },
      "input":{"shape":"UpdateQueueStatusRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Updates the status of the queue.</p>"
    },
    "UpdateQuickConnectConfig":{
      "name":"UpdateQuickConnectConfig",
      "http":{
        "method":"POST",
        "requestUri":"/quick-connects/{InstanceId}/{QuickConnectId}/config"
      },
      "input":{"shape":"UpdateQuickConnectConfigRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Updates the configuration settings for the specified quick connect.</p>"
    },
    "UpdateQuickConnectName":{
      "name":"UpdateQuickConnectName",
      "http":{
        "method":"POST",
        "requestUri":"/quick-connects/{InstanceId}/{QuickConnectId}/name"
      },
      "input":{"shape":"UpdateQuickConnectNameRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Updates the name and description of a quick connect. The request accepts the following data in JSON format. At least <code>Name</code> or <code>Description</code> must be provided.</p>"
    },
    "UpdateRoutingProfileConcurrency":{
      "name":"UpdateRoutingProfileConcurrency",
      "http":{
        "method":"POST",
        "requestUri":"/routing-profiles/{InstanceId}/{RoutingProfileId}/concurrency"
      },
      "input":{"shape":"UpdateRoutingProfileConcurrencyRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Updates the channels that agents can handle in the Contact Control Panel (CCP) for a routing profile.</p>"
    },
    "UpdateRoutingProfileDefaultOutboundQueue":{
      "name":"UpdateRoutingProfileDefaultOutboundQueue",
      "http":{
        "method":"POST",
        "requestUri":"/routing-profiles/{InstanceId}/{RoutingProfileId}/default-outbound-queue"
      },
      "input":{"shape":"UpdateRoutingProfileDefaultOutboundQueueRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Updates the default outbound queue of a routing profile.</p>"
    },
    "UpdateRoutingProfileName":{
      "name":"UpdateRoutingProfileName",
      "http":{
        "method":"POST",
        "requestUri":"/routing-profiles/{InstanceId}/{RoutingProfileId}/name"
      },
      "input":{"shape":"UpdateRoutingProfileNameRequest"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Updates the name and description of a routing profile. The request accepts the following data in JSON format. At least <code>Name</code> or <code>Description</code> must be provided.</p>"
    },
    "UpdateRoutingProfileQueues":{
      "name":"UpdateRoutingProfileQueues",
      "http":{
        "method":"POST",
        "requestUri":"/routing-profiles/{InstanceId}/{RoutingProfileId}/queues"
      },
      "input":{"shape":"UpdateRoutingProfileQueuesRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Updates the properties associated with a set of queues for a routing profile.</p>"
    },
    "UpdateSecurityProfile":{
      "name":"UpdateSecurityProfile",
      "http":{
        "method":"POST",
        "requestUri":"/security-profiles/{InstanceId}/{SecurityProfileId}"
      },
      "input":{"shape":"UpdateSecurityProfileRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Updates a security profile.</p>"
    },
    "UpdateUserHierarchy":{
      "name":"UpdateUserHierarchy",
      "http":{
        "method":"POST",
        "requestUri":"/users/{InstanceId}/{UserId}/hierarchy"
      },
      "input":{"shape":"UpdateUserHierarchyRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Assigns the specified hierarchy group to the specified user.</p>"
    },
    "UpdateUserHierarchyGroupName":{
      "name":"UpdateUserHierarchyGroupName",
      "http":{
        "method":"POST",
        "requestUri":"/user-hierarchy-groups/{InstanceId}/{HierarchyGroupId}/name"
      },
      "input":{"shape":"UpdateUserHierarchyGroupNameRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Updates the name of the user hierarchy group. </p>"
    },
    "UpdateUserHierarchyStructure":{
      "name":"UpdateUserHierarchyStructure",
      "http":{
        "method":"POST",
        "requestUri":"/user-hierarchy-structure/{InstanceId}"
      },
      "input":{"shape":"UpdateUserHierarchyStructureRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Updates the user hierarchy structure: add, remove, and rename user hierarchy levels.</p>"
    },
    "UpdateUserIdentityInfo":{
      "name":"UpdateUserIdentityInfo",
      "http":{
        "method":"POST",
        "requestUri":"/users/{InstanceId}/{UserId}/identity-info"
      },
      "input":{"shape":"UpdateUserIdentityInfoRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Updates the identity information for the specified user.</p> <important> <p>We strongly recommend limiting who has the ability to invoke <code>UpdateUserIdentityInfo</code>. Someone with that ability can change the login credentials of other users by changing their email address. This poses a security risk to your organization. They can change the email address of a user to the attacker's email address, and then reset the password through email. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/security-profile-best-practices.html\">Best Practices for Security Profiles</a> in the <i>Amazon Connect Administrator Guide</i>.</p> </important>"
    },
    "UpdateUserPhoneConfig":{
      "name":"UpdateUserPhoneConfig",
      "http":{
        "method":"POST",
        "requestUri":"/users/{InstanceId}/{UserId}/phone-config"
      },
      "input":{"shape":"UpdateUserPhoneConfigRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Updates the phone configuration settings for the specified user.</p>"
    },
    "UpdateUserRoutingProfile":{
      "name":"UpdateUserRoutingProfile",
      "http":{
        "method":"POST",
        "requestUri":"/users/{InstanceId}/{UserId}/routing-profile"
      },
      "input":{"shape":"UpdateUserRoutingProfileRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Assigns the specified routing profile to the specified user.</p>"
    },
    "UpdateUserSecurityProfiles":{
      "name":"UpdateUserSecurityProfiles",
      "http":{
[...]
