{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-11-09",
    "endpointPrefix":"datasync",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"DataSync",
    "serviceFullName":"AWS DataSync",
    "serviceId":"DataSync",
    "signatureVersion":"v4",
    "signingName":"datasync",
    "targetPrefix":"FmrsService",
    "uid":"datasync-2018-11-09"
  },
  "operations":{
    "CancelTaskExecution":{
      "name":"CancelTaskExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelTaskExecutionRequest"},
      "output":{"shape":"CancelTaskExecutionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Cancels execution of a task. </p> <p>When you cancel a task execution, the transfer of some files is abruptly interrupted. The contents of files that are transferred to the destination might be incomplete or inconsistent with the source files. However, if you start a new task execution on the same task and you allow the task execution to complete, file content on the destination is complete and consistent. This applies to other unexpected failures that interrupt a task execution. In all of these cases, DataSync successfully complete the transfer when you start the next task execution.</p>"
    },
    "CreateAgent":{
      "name":"CreateAgent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAgentRequest"},
      "output":{"shape":"CreateAgentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Activates an DataSync agent that you have deployed on your host. The activation process associates your agent with your account. In the activation process, you specify information such as the Amazon Web Services Region that you want to activate the agent in. You activate the agent in the Amazon Web Services Region where your target locations (in Amazon S3 or Amazon EFS) reside. Your tasks are created in this Amazon Web Services Region.</p> <p>You can activate the agent in a VPC (virtual private cloud) or provide the agent access to a VPC endpoint so you can run tasks without going over the public internet.</p> <p>You can use an agent for more than one location. If a task uses multiple agents, all of them need to have status AVAILABLE for the task to run. If you use multiple agents for a source location, the status of all the agents must be AVAILABLE for the task to run. </p> <p>Agents are automatically updated by Amazon Web Services on a regular basis, using a mechanism that ensures minimal interruption to your tasks.</p> <p/>"
    },
    "CreateLocationEfs":{
      "name":"CreateLocationEfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationEfsRequest"},
      "output":{"shape":"CreateLocationEfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates an endpoint for an Amazon EFS file system that DataSync can access for a transfer. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-efs-location.html\">Creating a location for Amazon EFS</a>.</p>"
    },
    "CreateLocationFsxLustre":{
      "name":"CreateLocationFsxLustre",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationFsxLustreRequest"},
      "output":{"shape":"CreateLocationFsxLustreResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates an endpoint for an Amazon FSx for Lustre file system.</p>"
    },
    "CreateLocationFsxOntap":{
      "name":"CreateLocationFsxOntap",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationFsxOntapRequest"},
      "output":{"shape":"CreateLocationFsxOntapResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates an endpoint for an Amazon FSx for NetApp ONTAP file system that DataSync can access for a transfer. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-ontap-location.html\">Creating a location for FSx for ONTAP</a>.</p>"
    },
    "CreateLocationFsxOpenZfs":{
      "name":"CreateLocationFsxOpenZfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationFsxOpenZfsRequest"},
      "output":{"shape":"CreateLocationFsxOpenZfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates an endpoint for an Amazon FSx for OpenZFS file system.</p>"
    },
    "CreateLocationFsxWindows":{
      "name":"CreateLocationFsxWindows",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationFsxWindowsRequest"},
      "output":{"shape":"CreateLocationFsxWindowsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates an endpoint for an Amazon FSx for Windows File Server file system.</p>"
    },
    "CreateLocationHdfs":{
      "name":"CreateLocationHdfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationHdfsRequest"},
      "output":{"shape":"CreateLocationHdfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates an endpoint for a Hadoop Distributed File System (HDFS). </p>"
    },
    "CreateLocationNfs":{
      "name":"CreateLocationNfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationNfsRequest"},
      "output":{"shape":"CreateLocationNfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Defines a file system on a Network File System (NFS) server that can be read from or written to.</p>"
    },
    "CreateLocationObjectStorage":{
      "name":"CreateLocationObjectStorage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationObjectStorageRequest"},
      "output":{"shape":"CreateLocationObjectStorageResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates an endpoint for an object storage system that DataSync can access for a transfer. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-object-location.html\">Creating a location for object storage</a>.</p>"
    },
    "CreateLocationS3":{
      "name":"CreateLocationS3",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationS3Request"},
      "output":{"shape":"CreateLocationS3Response"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates an endpoint for an Amazon S3 bucket.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-locations-cli.html#create-location-s3-cli\">Create an Amazon S3 location</a> in the <i>DataSync User Guide</i>.</p>"
    },
    "CreateLocationSmb":{
      "name":"CreateLocationSmb",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationSmbRequest"},
      "output":{"shape":"CreateLocationSmbResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Defines a file system on a Server Message Block (SMB) server that can be read from or written to.</p>"
    },
    "CreateTask":{
      "name":"CreateTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTaskRequest"},
      "output":{"shape":"CreateTaskResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates a task.</p> <p>A task includes a source location and a destination location, and a configuration that specifies how data is transferred. A task always transfers data from the source location to the destination location. The configuration specifies options such as task scheduling, bandwidth limits, etc. A task is the complete definition of a data transfer.</p> <p>When you create a task that transfers data between Amazon Web Services services in different Amazon Web Services Regions, one of the two locations that you specify must reside in the Region where DataSync is being used. The other location must be specified in a different Region.</p> <p>You can transfer data between commercial Amazon Web Services Regions except for China, or between Amazon Web Services GovCloud (US) Regions.</p> <important> <p>When you use DataSync to copy files or objects between Amazon Web Services Regions, you pay for data transfer between Regions. This is billed as data transfer OUT from your source Region to your destination Region. For more information, see <a href=\"http://aws.amazon.com/ec2/pricing/on-demand/#Data_Transfer\">Data Transfer pricing</a>. </p> </important>"
    },
    "DeleteAgent":{
      "name":"DeleteAgent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAgentRequest"},
      "output":{"shape":"DeleteAgentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Deletes an agent. To specify which agent to delete, use the Amazon Resource Name (ARN) of the agent in your request. The operation disassociates the agent from your Amazon Web Services account. However, it doesn't delete the agent virtual machine (VM) from your on-premises environment.</p>"
    },
    "DeleteLocation":{
      "name":"DeleteLocation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLocationRequest"},
      "output":{"shape":"DeleteLocationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Deletes the configuration of a location used by DataSync. </p>"
    },
    "DeleteTask":{
      "name":"DeleteTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTaskRequest"},
      "output":{"shape":"DeleteTaskResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Deletes a task.</p>"
    },
    "DescribeAgent":{
      "name":"DescribeAgent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAgentRequest"},
      "output":{"shape":"DescribeAgentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns metadata such as the name, the network interfaces, and the status (that is, whether the agent is running or not) for an agent. To specify which agent to describe, use the Amazon Resource Name (ARN) of the agent in your request. </p>"
    },
    "DescribeLocationEfs":{
      "name":"DescribeLocationEfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationEfsRequest"},
      "output":{"shape":"DescribeLocationEfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns metadata about your DataSync location for an Amazon EFS file system.</p>"
    },
    "DescribeLocationFsxLustre":{
      "name":"DescribeLocationFsxLustre",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationFsxLustreRequest"},
      "output":{"shape":"DescribeLocationFsxLustreResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns metadata about an Amazon FSx for Lustre location, such as information about its path.</p>"
    },
    "DescribeLocationFsxOntap":{
      "name":"DescribeLocationFsxOntap",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationFsxOntapRequest"},
      "output":{"shape":"DescribeLocationFsxOntapResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides details about how an DataSync location for an Amazon FSx for NetApp ONTAP file system is configured.</p>"
    },
    "DescribeLocationFsxOpenZfs":{
      "name":"DescribeLocationFsxOpenZfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationFsxOpenZfsRequest"},
      "output":{"shape":"DescribeLocationFsxOpenZfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns metadata about an Amazon FSx for OpenZFS location, such as information about its path.</p>"
    },
    "DescribeLocationFsxWindows":{
      "name":"DescribeLocationFsxWindows",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationFsxWindowsRequest"},
      "output":{"shape":"DescribeLocationFsxWindowsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns metadata about an Amazon FSx for Windows File Server location, such as information about its path.</p>"
    },
    "DescribeLocationHdfs":{
      "name":"DescribeLocationHdfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationHdfsRequest"},
      "output":{"shape":"DescribeLocationHdfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns metadata, such as the authentication information about the Hadoop Distributed File System (HDFS) location. </p>"
    },
    "DescribeLocationNfs":{
      "name":"DescribeLocationNfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationNfsRequest"},
      "output":{"shape":"DescribeLocationNfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns metadata, such as the path information, about an NFS location.</p>"
    },
    "DescribeLocationObjectStorage":{
      "name":"DescribeLocationObjectStorage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationObjectStorageRequest"},
      "output":{"shape":"DescribeLocationObjectStorageResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns metadata about your DataSync location for an object storage system.</p>"
    },
    "DescribeLocationS3":{
      "name":"DescribeLocationS3",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationS3Request"},
      "output":{"shape":"DescribeLocationS3Response"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns metadata, such as bucket name, about an Amazon S3 bucket location.</p>"
    },
    "DescribeLocationSmb":{
      "name":"DescribeLocationSmb",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationSmbRequest"},
      "output":{"shape":"DescribeLocationSmbResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns metadata, such as the path and user information about an SMB location.</p>"
    },
    "DescribeTask":{
      "name":"DescribeTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTaskRequest"},
      "output":{"shape":"DescribeTaskResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns metadata about a task.</p>"
    },
    "DescribeTaskExecution":{
      "name":"DescribeTaskExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTaskExecutionRequest"},
      "output":{"shape":"DescribeTaskExecutionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns detailed metadata about a task that is being executed.</p>"
    },
    "ListAgents":{
      "name":"ListAgents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAgentsRequest"},
      "output":{"shape":"ListAgentsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns a list of agents owned by an Amazon Web Services account in the Amazon Web Services Region specified in the request. The returned list is ordered by agent Amazon Resource Name (ARN).</p> <p>By default, this operation returns a maximum of 100 agents. This operation supports pagination that enables you to optionally reduce the number of agents returned in a response.</p> <p>If you have more agents than are returned in a response (that is, the response returns only a truncated list of your agents), the response contains a marker that you can specify in your next request to fetch the next page of agents.</p>"
    },
    "ListLocations":{
      "name":"ListLocations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLocationsRequest"},
      "output":{"shape":"ListLocationsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns a list of source and destination locations.</p> <p>If you have more locations than are returned in a response (that is, the response returns only a truncated list of your agents), the response contains a token that you can specify in your next request to fetch the next page of locations.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns all the tags associated with a specified resource. </p>"
    },
    "ListTaskExecutions":{
      "name":"ListTaskExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTaskExecutionsRequest"},
      "output":{"shape":"ListTaskExecutionsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns a list of executed tasks.</p>"
    },
    "ListTasks":{
      "name":"ListTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTasksRequest"},
      "output":{"shape":"ListTasksResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns a list of all the tasks.</p>"
    },
    "StartTaskExecution":{
      "name":"StartTaskExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartTaskExecutionRequest"},
      "output":{"shape":"StartTaskExecutionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Starts a specific invocation of a task. A <code>TaskExecution</code> value represents an individual run of a task. Each task can have at most one <code>TaskExecution</code> at a time.</p> <p> <code>TaskExecution</code> has the following transition phases: INITIALIZING | PREPARING | TRANSFERRING | VERIFYING | SUCCESS/FAILURE. </p> <p>For detailed information, see the Task Execution section in the Components and Terminology topic in the <i>DataSync User Guide</i>.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Applies a key-value pair to an Amazon Web Services resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Removes a tag from an Amazon Web Services resource.</p>"
    },
    "UpdateAgent":{
      "name":"UpdateAgent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAgentRequest"},
      "output":{"shape":"UpdateAgentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Updates the name of an agent.</p>"
    },
    "UpdateLocationHdfs":{
      "name":"UpdateLocationHdfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLocationHdfsRequest"},
      "output":{"shape":"UpdateLocationHdfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Updates some parameters of a previously created location for a Hadoop Distributed File System cluster.</p>"
    },
    "UpdateLocationNfs":{
      "name":"UpdateLocationNfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLocationNfsRequest"},
      "output":{"shape":"UpdateLocationNfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Updates some of the parameters of a previously created location for Network File System (NFS) access. For information about creating an NFS location, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html\">Creating a location for NFS</a>.</p>"
    },
    "UpdateLocationObjectStorage":{
      "name":"UpdateLocationObjectStorage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLocationObjectStorageRequest"},
      "output":{"shape":"UpdateLocationObjectStorageResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Updates some of the parameters of a previously created location for self-managed object storage server access. For information about creating a self-managed object storage location, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-object-location.html\">Creating a location for object storage</a>.</p>"
    },
    "UpdateLocationSmb":{
      "name":"UpdateLocationSmb",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLocationSmbRequest"},
      "output":{"shape":"UpdateLocationSmbResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Updates some of the parameters of a previously created location for Server Message Block (SMB) file system access. For information about creating an SMB location, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html\">Creating a location for SMB</a>.</p>"
    },
    "UpdateTask":{
      "name":"UpdateTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTaskRequest"},
      "output":{"shape":"UpdateTaskResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Updates the metadata associated with a task.</p>"
    },
    "UpdateTaskExecution":{
      "name":"UpdateTaskExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTaskExecutionRequest"},
      "output":{"shape":"UpdateTaskExecutionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Updates execution of a task.</p> <p>You can modify bandwidth throttling for a task execution that is running or queued. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/working-with-task-executions.html#adjust-bandwidth-throttling\">Adjusting Bandwidth Throttling for a Task Execution</a>.</p> <note> <p>The only <code>Option</code> that can be modified by <code>UpdateTaskExecution</code> is <code> <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_Options.html#DataSync-Type-Options-BytesPerSecond\">BytesPerSecond</a> </code>.</p> </note>"
    }
  },
  "shapes":{
    "ActivationKey":{
      "type":"string",
      "max":29,
      "pattern":"[A-Z0-9]{5}(-[A-Z0-9]{5}){4}"
    },
    "AgentArn":{
      "type":"string",
      "max":128,
      "pattern":"^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):datasync:[a-z\\-0-9]+:[0-9]{12}:agent/agent-[0-9a-z]{17}$"
    },
    "AgentArnList":{
      "type":"list",
      "member":{"shape":"AgentArn"},
      "max":4,
      "min":1
    },
    "AgentList":{
      "type":"list",
      "member":{"shape":"AgentListEntry"}
    },
    "AgentListEntry":{
      "type":"structure",
      "members":{
        "AgentArn":{
          "shape":"AgentArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the agent.</p>"
        },
        "Name":{
          "shape":"TagValue",
          "documentation":"<p>The name of the agent.</p>"
        },
        "Status":{
          "shape":"AgentStatus",
          "documentation":"<p>The status of the agent.</p>"
        }
      },
      "documentation":"<p>Represents a single entry in a list of agents. <code>AgentListEntry</code> returns an array that contains a list of agents when the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_ListAgents.html\">ListAgents</a> operation is called.</p>"
    },
    "AgentStatus":{
      "type":"string",
      "enum":[
        "ONLINE",
        "OFFLINE"
      ]
    },
    "Atime":{
      "type":"string",
      "enum":[
        "NONE",
        "BEST_EFFORT"
      ]
    },
    "BytesPerSecond":{
      "type":"long",
      "min":-1
    },
    "CancelTaskExecutionRequest":{
      "type":"structure",
      "required":["TaskExecutionArn"],
      "members":{
        "TaskExecutionArn":{
          "shape":"TaskExecutionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the task execution to cancel.</p>"
        }
      },
      "documentation":"<p>CancelTaskExecutionRequest</p>"
    },
    "CancelTaskExecutionResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CreateAgentRequest":{
      "type":"structure",
      "required":["ActivationKey"],
      "members":{
        "ActivationKey":{
          "shape":"ActivationKey",
          "documentation":"<p>Your agent activation key. You can get the activation key either by sending an HTTP GET request with redirects that enable you to get the agent IP address (port 80). Alternatively, you can get it from the DataSync console.</p> <p>The redirect URL returned in the response provides you the activation key for your agent in the query string parameter <code>activationKey</code>. It might also include other activation-related parameters; however, these are merely defaults. The arguments you pass to this API call determine the actual configuration of your agent.</p> <p>For more information, see Activating an Agent in the <i>DataSync User Guide.</i> </p>"
        },
        "AgentName":{
          "shape":"TagValue",
          "documentation":"<p>The name you configured for your agent. This value is a text reference that is used to identify the agent in the console.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>The key-value pair that represents the tag that you want to associate with the agent. The value can be an empty string. This value helps you manage, filter, and search for your agents.</p> <note> <p>Valid characters for key and value are letters, spaces, and numbers representable in UTF-8 format, and the following special characters: + - = . _ : / @. </p> </note>"
        },
        "VpcEndpointId":{
          "shape":"VpcEndpointId",
          "documentation":"<p>The ID of the VPC (virtual private cloud) endpoint that the agent has access to. This is the client-side VPC endpoint, also called a PrivateLink. If you don't have a PrivateLink VPC endpoint, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/endpoint-service.html#create-endpoint-service\">Creating a VPC Endpoint Service Configuration</a> in the Amazon VPC User Guide.</p> <p>VPC endpoint ID looks like this: <code>vpce-01234d5aff67890e1</code>.</p>"
        },
        "SubnetArns":{
          "shape":"PLSubnetArnList",
          "documentation":"<p>The Amazon Resource Names (ARNs) of the subnets in which DataSync will create elastic network interfaces for each data transfer task. The agent that runs a task must be private. When you start a task that is associated with an agent created in a VPC, or one that has access to an IP address in a VPC, then the task is also private. In this case, DataSync creates four network interfaces for each task in your subnet. For a data transfer to work, the agent must be able to route to all these four network interfaces.</p>"
        },
        "SecurityGroupArns":{
          "shape":"PLSecurityGroupArnList",
          "documentation":"<p>The ARNs of the security groups used to protect your data transfer task subnets. See <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_Ec2Config.html#DataSync-Type-Ec2Config-SecurityGroupArns\">SecurityGroupArns</a>.</p>"
        }
      },
      "documentation":"<p>CreateAgentRequest</p>"
    },
    "CreateAgentResponse":{
      "type":"structure",
      "members":{
        "AgentArn":{
          "shape":"AgentArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the agent. Use the <code>ListAgents</code> operation to return a list of agents for your account and Amazon Web Services Region.</p>"
        }
      },
      "documentation":"<p>CreateAgentResponse</p>"
    },
    "CreateLocationEfsRequest":{
      "type":"structure",
      "required":[
        "EfsFilesystemArn",
        "Ec2Config"
      ],
      "members":{
        "Subdirectory":{
          "shape":"EfsSubdirectory",
          "documentation":"<p>Specifies a mount path for your Amazon EFS file system. This is where DataSync reads or writes data (depending on if this is a source or destination location). By default, DataSync uses the root directory, but you can also include subdirectories.</p> <note> <p>You must specify a value with forward slashes (for example, <code>/path/to/folder</code>).</p> </note>"
        },
        "EfsFilesystemArn":{
          "shape":"EfsFilesystemArn",
          "documentation":"<p>Specifies the ARN for the Amazon EFS file system.</p>"
        },
        "Ec2Config":{
          "shape":"Ec2Config",
          "documentation":"<p>Specifies the subnet and security groups DataSync uses to access your Amazon EFS file system.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies the key-value pair that represents a tag that you want to add to the resource. The value can be an empty string. This value helps you manage, filter, and search for your resources. We recommend that you create a name tag for your location.</p>"
        },
        "AccessPointArn":{
          "shape":"EfsAccessPointArn",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the access point that DataSync uses to access the Amazon EFS file system.</p>"
        },
        "FileSystemAccessRoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>Specifies an Identity and Access Management (IAM) role that DataSync assumes when mounting the Amazon EFS file system.</p>"
        },
        "InTransitEncryption":{
          "shape":"EfsInTransitEncryption",
          "documentation":"<p>Specifies whether you want DataSync to use Transport Layer Security (TLS) 1.2 encryption when it copies data to or from the Amazon EFS file system.</p> <p>If you specify an access point using <code>AccessPointArn</code> or an IAM role using <code>FileSystemAccessRoleArn</code>, you must set this parameter to <code>TLS1_2</code>.</p>"
        }
      },
      "documentation":"<p>CreateLocationEfsRequest</p>"
    },
    "CreateLocationEfsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon EFS file system location that you create.</p>"
        }
      },
      "documentation":"<p>CreateLocationEfs</p>"
    },
    "CreateLocationFsxLustreRequest":{
      "type":"structure",
      "required":[
        "FsxFilesystemArn",
        "SecurityGroupArns"
      ],
      "members":{
        "FsxFilesystemArn":{
          "shape":"FsxFilesystemArn",
          "documentation":"<p>The Amazon Resource Name (ARN) for the FSx for Lustre file system.</p>"
        },
        "SecurityGroupArns":{
          "shape":"Ec2SecurityGroupArnList",
          "documentation":"<p>The Amazon Resource Names (ARNs) of the security groups that are used to configure the FSx for Lustre file system.</p>"
        },
        "Subdirectory":{
          "shape":"FsxLustreSubdirectory",
          "documentation":"<p>A subdirectory in the location's path. This subdirectory in the FSx for Lustre file system is used to read data from the FSx for Lustre source location or write data to the FSx for Lustre destination.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>The key-value pair that represents a tag that you want to add to the resource. The value can be an empty string. This value helps you manage, filter, and search for your resources. We recommend that you create a name tag for your location.</p>"
        }
      }
    },
    "CreateLocationFsxLustreResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the FSx for Lustre file system location that's created. </p>"
        }
      }
    },
    "CreateLocationFsxOntapRequest":{
      "type":"structure",
      "required":[
        "Protocol",
        "SecurityGroupArns",
        "StorageVirtualMachineArn"
      ],
      "members":{
        "Protocol":{"shape":"FsxProtocol"},
        "SecurityGroupArns":{
          "shape":"Ec2SecurityGroupArnList",
          "documentation":"<p>Specifies the security groups that DataSync can use to access your FSx for ONTAP file system. You must configure the security groups to allow outbound traffic on the following ports (depending on the protocol that you're using):</p> <ul> <li> <p> <b>Network File System (NFS)</b>: TCP port 2049</p> </li> <li> <p> <b>Server Message Block (SMB)</b>: TCP port 445</p> </li> </ul> <p>Your file system's security groups must also allow inbound traffic on the same port.</p>"
        },
        "StorageVirtualMachineArn":{
          "shape":"StorageVirtualMachineArn",
          "documentation":"<p>Specifies the ARN of the storage virtual machine (SVM) on your file system where you're copying data to or from.</p>"
        },
        "Subdirectory":{
          "shape":"FsxOntapSubdirectory",
          "documentation":"<p>Specifies the junction path (also known as a mount point) in the SVM volume where you're copying data to or from (for example, <code>/vol1</code>).</p> <note> <p>Don't specify a junction path in the SVM's root volume. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/managing-svms.html\">Managing FSx for ONTAP storage virtual machines</a> in the <i>Amazon FSx for NetApp ONTAP User Guide</i>.</p> </note>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least a name tag for your location.</p>"
        }
      }
    },
    "CreateLocationFsxOntapResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>Specifies the ARN of the FSx for ONTAP file system location that you create.</p>"
        }
      }
    },
    "CreateLocationFsxOpenZfsRequest":{
      "type":"structure",
      "required":[
        "FsxFilesystemArn",
        "Protocol",
        "SecurityGroupArns"
      ],
      "members":{
        "FsxFilesystemArn":{
          "shape":"FsxFilesystemArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the FSx for OpenZFS file system.</p>"
        },
        "Protocol":{
          "shape":"FsxProtocol",
          "documentation":"<p>The type of protocol that DataSync uses to access your file system.</p>"
        },
        "SecurityGroupArns":{
          "shape":"Ec2SecurityGroupArnList",
          "documentation":"<p>The ARNs of the security groups that are used to configure the FSx for OpenZFS file system.</p>"
        },
        "Subdirectory":{
          "shape":"FsxOpenZfsSubdirectory",
          "documentation":"<p>A subdirectory in the location's path that must begin with <code>/fsx</code>. DataSync uses this subdirectory to read or write data (depending on whether the file system is a source or destination location).</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>The key-value pair that represents a tag that you want to add to the resource. The value can be an empty string. This value helps you manage, filter, and search for your resources. We recommend that you create a name tag for your location.</p>"
        }
      }
    },
    "CreateLocationFsxOpenZfsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the FSx for OpenZFS file system location that you created.</p>"
        }
      }
    },
    "CreateLocationFsxWindowsRequest":{
      "type":"structure",
      "required":[
        "FsxFilesystemArn",
        "SecurityGroupArns",
        "User",
        "Password"
      ],
      "members":{
        "Subdirectory":{
          "shape":"FsxWindowsSubdirectory",
          "documentation":"<p>A subdirectory in the location's path. This subdirectory in the Amazon FSx for Windows File Server file system is used to read data from the Amazon FSx for Windows File Server source location or write data to the FSx for Windows File Server destination.</p>"
        },
        "FsxFilesystemArn":{
          "shape":"FsxFilesystemArn",
          "documentation":"<p>The Amazon Resource Name (ARN) for the FSx for Windows File Server file system.</p>"
        },
        "SecurityGroupArns":{
          "shape":"Ec2SecurityGroupArnList",
          "documentation":"<p>The ARNs of the security groups that are used to configure the FSx for Windows File Server file system.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>The key-value pair that represents a tag that you want to add to the resource. The value can be an empty string. This value helps you manage, filter, and search for your resources. We recommend that you create a name tag for your location.</p>"
        },
        "User":{
          "shape":"SmbUser",
          "documentation":"<p>The user who has the permissions to access files and folders in the FSx for Windows File Server file system.</p> <p>For information about choosing a user name that ensures sufficient permissions to files, folders, and metadata, see <a href=\"create-fsx-location.html#FSxWuser\">user</a>.</p>"
        },
        "Domain":{
          "shape":"SmbDomain",
          "documentation":"<p>The name of the Windows domain that the FSx for Windows File Server belongs to.</p>"
        },
        "Password":{
          "shape":"SmbPassword",
          "documentation":"<p>The password of the user who has the permissions to access files and folders in the FSx for Windows File Server file system.</p>"
        }
      }
    },
    "CreateLocationFsxWindowsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the FSx for Windows File Server file system location you created.</p>"
        }
      }
    },
    "CreateLocationHdfsRequest":{
      "type":"structure",
      "required":[
        "NameNodes",
        "AuthenticationType",
        "AgentArns"
      ],
      "members":{
        "Subdirectory":{
          "shape":"HdfsSubdirectory",
          "documentation":"<p>A subdirectory in the HDFS cluster. This subdirectory is used to read data from or write data to the HDFS cluster. If the subdirectory isn't specified, it will default to <code>/</code>.</p>"
        },
        "NameNodes":{
          "shape":"HdfsNameNodeList",
          "documentation":"<p>The NameNode that manages the HDFS namespace. The NameNode performs operations such as opening, closing, and renaming files and directories. The NameNode contains the information to map blocks of data to the DataNodes. You can use only one NameNode.</p>"
        },
        "BlockSize":{
          "shape":"HdfsBlockSize",
          "documentation":"<p>The size of data blocks to write into the HDFS cluster. The block size must be a multiple of 512 bytes. The default block size is 128 mebibytes (MiB).</p>"
        },
        "ReplicationFactor":{
          "shape":"HdfsReplicationFactor",
          "documentation":"<p>The number of DataNodes to replicate the data to when writing to the HDFS cluster. By default, data is replicated to three DataNodes.</p>"
        },
        "KmsKeyProviderUri":{
          "shape":"KmsKeyProviderUri",
          "documentation":"<p>The URI of the HDFS cluster's Key Management Server (KMS). </p>"
        },
        "QopConfiguration":{
          "shape":"QopConfiguration",
          "documentation":"<p>The Quality of Protection (QOP) configuration specifies the Remote Procedure Call (RPC) and data transfer protection settings configured on the Hadoop Distributed File System (HDFS) cluster. If <code>QopConfiguration</code> isn't specified, <code>RpcProtection</code> and <code>DataTransferProtection</code> default to <code>PRIVACY</code>. If you set <code>RpcProtection</code> or <code>DataTransferProtection</code>, the other parameter assumes the same value. </p>"
        },
        "AuthenticationType":{
          "shape":"HdfsAuthenticationType",
          "documentation":"<p>The type of authentication used to determine the identity of the user. </p>"
        },
        "SimpleUser":{
          "shape":"HdfsUser",
          "documentation":"<p>The user name used to identify the client on the host operating system. </p> <note> <p>If <code>SIMPLE</code> is specified for <code>AuthenticationType</code>, this parameter is required. </p> </note>"
        },
        "KerberosPrincipal":{
          "shape":"KerberosPrincipal",
          "documentation":"<p>The Kerberos principal with access to the files and folders on the HDFS cluster. </p> <note> <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this parameter is required.</p> </note>"
        },
        "KerberosKeytab":{
          "shape":"KerberosKeytabFile",
          "documentation":"<p>The Kerberos key table (keytab) that contains mappings between the defined Kerberos principal and the encrypted keys. You can load the keytab from a file by providing the file's address. If you're using the CLI, it performs base64 encoding for you. Otherwise, provide the base64-encoded text. </p> <note> <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this parameter is required. </p> </note>"
        },
        "KerberosKrb5Conf":{
          "shape":"KerberosKrb5ConfFile",
          "documentation":"<p>The <code>krb5.conf</code> file that contains the Kerberos configuration information. You can load the <code>krb5.conf</code> file by providing the file's address. If you're using the CLI, it performs the base64 encoding for you. Otherwise, provide the base64-encoded text. </p> <note> <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this parameter is required.</p> </note>"
        },
        "AgentArns":{
          "shape":"AgentArnList",
          "documentation":"<p>The Amazon Resource Names (ARNs) of the agents that are used to connect to the HDFS cluster.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>The key-value pair that represents the tag that you want to add to the location. The value can be an empty string. We recommend using tags to name your resources. </p>"
        }
      }
    },
    "CreateLocationHdfsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the source HDFS cluster location that's created. </p>"
        }
      }
    },
    "CreateLocationNfsRequest":{
      "type":"structure",
      "required":[
        "Subdirectory",
        "ServerHostname",
        "OnPremConfig"
      ],
      "members":{
        "Subdirectory":{
          "shape":"NfsSubdirectory",
          "documentation":"<p>The subdirectory in the NFS file system that is used to read data from the NFS source location or write data to the NFS destination. The NFS path should be a path that's exported by the NFS server, or a subdirectory of that path. The path should be such that it can be mounted by other NFS clients in your network. </p> <p>To see all the paths exported by your NFS server, run \"<code>showmount -e nfs-server-name</code>\" from an NFS client that has access to your server. You can specify any directory that appears in the results, and any subdirectory of that directory. Ensure that the NFS export is accessible without Kerberos authentication. </p> <p>To transfer all the data in the folder you specified, DataSync needs to have permissions to read all the data. To ensure this, either configure the NFS export with <code>no_root_squash,</code> or ensure that the permissions for all of the files that you want DataSync allow read access for all users. Doing either enables the agent to read the files. For the agent to access directories, you must additionally enable all execute access.</p> <p>If you are copying data to or from your Snowcone device, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html#nfs-on-snowcone\">NFS Server on Snowcone</a> for more information.</p> <p>For information about NFS export configuration, see 18.7. The /etc/exports Configuration File in the Red Hat Enterprise Linux documentation.</p>"
        },
        "ServerHostname":{
          "shape":"ServerHostname",
          "documentation":"<p>The name of the NFS server. This value is the IP address or Domain Name Service (DNS) name of the NFS server. An agent that is installed on-premises uses this hostname to mount the NFS server in a network. </p> <p>If you are copying data to or from your Snowcone device, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html#nfs-on-snowcone\">NFS Server on Snowcone</a> for more information.</p> <note> <p>This name must either be DNS-compliant or must be an IP version 4 (IPv4) address.</p> </note>"
        },
        "OnPremConfig":{
          "shape":"OnPremConfig",
          "documentation":"<p>Contains a list of Amazon Resource Names (ARNs) of agents that are used to connect to an NFS server. </p> <p>If you are copying data to or from your Snowcone device, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html#nfs-on-snowcone\">NFS Server on Snowcone</a> for more information.</p>"
        },
        "MountOptions":{
          "shape":"NfsMountOptions",
          "documentation":"<p>The NFS mount options that DataSync can use to mount your NFS share.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>The key-value pair that represents the tag that you want to add to the location. The value can be an empty string. We recommend using tags to name your resources.</p>"
        }
      },
      "documentation":"<p>CreateLocationNfsRequest</p>"
    },
    "CreateLocationNfsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the source NFS file system location that is created.</p>"
        }
      },
      "documentation":"<p>CreateLocationNfsResponse</p>"
    },
    "CreateLocationObjectStorageRequest":{
      "type":"structure",
      "required":[
        "ServerHostname",
        "BucketName",
        "AgentArns"
      ],
      "members":{
        "ServerHostname":{
          "shape":"ServerHostname",
          "documentation":"<p>Specifies the domain name or IP address of the object storage server. A DataSync agent uses this hostname to mount the object storage server in a network.</p>"
        },
        "ServerPort":{
          "shape":"ObjectStorageServerPort",
          "documentation":"<p>Specifies the port that your object storage server accepts inbound network traffic on (for example, port 443).</p>"
        },
        "ServerProtocol":{
          "shape":"ObjectStorageServerProtocol",
          "documentation":"<p>Specifies the protocol that your object storage server uses to communicate.</p>"
        },
        "Subdirectory":{
          "shape":"S3Subdirectory",
          "documentation":"<p>Specifies the object prefix for your object storage server. If this is a source location, DataSync only copies objects with this prefix. If this is a destination location, DataSync writes all objects with this prefix. </p>"
        },
        "BucketName":{
          "shape":"ObjectStorageBucketName",
          "documentation":"<p>Specifies the name of the object storage bucket involved in the transfer.</p>"
        },
        "AccessKey":{
          "shape":"ObjectStorageAccessKey",
          "documentation":"<p>Specifies the access key (for example, a user name) if credentials are required to authenticate with the object storage server.</p>"
        },
        "SecretKey":{
          "shape":"ObjectStorageSecretKey",
          "documentation":"<p>Specifies the secret key (for example, a password) if credentials are required to authenticate with the object storage server.</p>"
        },
        "AgentArns":{
          "shape":"AgentArnList",
          "documentation":"<p>Specifies the Amazon Resource Names (ARNs) of the DataSync agents that can securely connect with your location.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies the key-value pair that represents a tag that you want to add to the resource. Tags can help you manage, filter, and search for your resources. We recommend creating a name tag for your location.</p>"
        }
      },
      "documentation":"<p>CreateLocationObjectStorageRequest</p>"
    },
    "CreateLocationObjectStorageResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>Specifies the ARN of the object storage system location that you create.</p>"
        }
      },
      "documentation":"<p>CreateLocationObjectStorageResponse</p>"
    },
    "CreateLocationS3Request":{
      "type":"structure",
      "required":[
        "S3BucketArn",
        "S3Config"
      ],
      "members":{
        "Subdirectory":{
          "shape":"S3Subdirectory",
          "documentation":"<p>A subdirectory in the Amazon S3 bucket. This subdirectory in Amazon S3 is used to read data from the S3 source location or write data to the S3 destination.</p>"
        },
        "S3BucketArn":{
          "shape":"S3BucketArn",
          "documentation":"<p>The ARN of the Amazon S3 bucket. If the bucket is on an Amazon Web Services Outpost, this must be an access point ARN.</p>"
        },
        "S3StorageClass":{
          "shape":"S3StorageClass",
          "documentation":"<p>The Amazon S3 storage class that you want to store your files in when this location is used as a task destination. For buckets in Amazon Web Services Regions, the storage class defaults to Standard. For buckets on Outposts, the storage class defaults to Amazon Web Services S3 Outposts.</p> <p>For more information about S3 storage classes, see <a href=\"http://aws.amazon.com/s3/storage-classes/\">Amazon S3 Storage Classes</a>. Some storage classes have behaviors that can affect your S3 storage cost. For detailed information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#using-storage-classes\">Considerations when working with S3 storage classes in DataSync</a>.</p>"
        },
        "S3Config":{"shape":"S3Config"},
        "AgentArns":{
          "shape":"AgentArnList",
          "documentation":"<p>If you're using DataSync on an Amazon Web Services Outpost, specify the Amazon Resource Names (ARNs) of the DataSync agents deployed on your Outpost. For more information about launching a DataSync agent on an Amazon Web Services Outpost, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/deploy-agents.html#outposts-agent\">Deploy your DataSync agent on Outposts</a>.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>The key-value pair that represents the tag that you want to add to the location. The value can be an empty string. We recommend using tags to name your resources.</p>"
        }
      },
      "documentation":"<p>CreateLocationS3Request</p>"
    },
    "CreateLocationS3Response":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the source Amazon S3 bucket location that is created.</p>"
        }
      },
      "documentation":"<p>CreateLocationS3Response</p>"
    },
    "CreateLocationSmbRequest":{
      "type":"structure",
      "required":[
        "Subdirectory",
        "ServerHostname",
        "User",
        "Password",
        "AgentArns"
      ],
      "members":{
        "Subdirectory":{
          "shape":"SmbSubdirectory",
          "documentation":"<p>The subdirectory in the SMB file system that is used to read data from the SMB source location or write data to the SMB destination. The SMB path should be a path that's exported by the SMB server, or a subdirectory of that path. The path should be such that it can be mounted by other SMB clients in your network.</p> <note> <p> <code>Subdirectory</code> must be specified with forward slashes. For example, <code>/path/to/folder</code>.</p> </note> <p>To transfer all the data in the folder you specified, DataSync needs to have permissions to mount the SMB share, as well as to access all the data in that share. To ensure this, either ensure that the user/password specified belongs to the user who can mount the share, and who has the appropriate permissions for all of the files and directories that you want DataSync to access, or use credentials of a member of the Backup Operators group to mount the share. Doing either enables the agent to access the data. For the agent to access directories, you must additionally enable all execute access.</p>"
        },
        "ServerHostname":{
          "shape":"ServerHostname",
          "documentation":"<p>The name of the SMB server. This value is the IP address or Domain Name Service (DNS) name of the SMB server. An agent that is installed on-premises uses this hostname to mount the SMB server in a network.</p> <note> <p>This name must either be DNS-compliant or must be an IP version 4 (IPv4) address.</p> </note>"
        },
        "User":{
          "shape":"SmbUser",
          "documentation":"<p>The user who can mount the share, has the permissions to access files and folders in the SMB share.</p> <p>For information about choosing a user name that ensures sufficient permissions to files, folders, and metadata, see the <a href=\"create-smb-location.html#SMBuser\">User setting</a> for SMB locations.</p>"
        },
        "Domain":{
          "shape":"SmbDomain",
          "documentation":"<p>The name of the Windows domain that the SMB server belongs to.</p>"
        },
        "Password":{
          "shape":"SmbPassword",
          "documentation":"<p>The password of the user who can mount the share, has the permissions to access files and folders in the SMB share.</p>"
        },
        "AgentArns":{
          "shape":"AgentArnList",
          "documentation":"<p>The Amazon Resource Names (ARNs) of agents to use for a Simple Message Block (SMB) location. </p>"
        },
        "MountOptions":{
          "shape":"SmbMountOptions",
          "documentation":"<p>The mount options used by DataSync to access the SMB server.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>The key-value pair that represents the tag that you want to add to the location. The value can be an empty string. We recommend using tags to name your resources.</p>"
        }
      },
      "documentation":"<p>CreateLocationSmbRequest</p>"
    },
    "CreateLocationSmbResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the source SMB file system location that is created.</p>"
        }
      },
      "documentation":"<p>CreateLocationSmbResponse</p>"
    },
    "CreateTaskRequest":{
      "type":"structure",
      "required":[
        "SourceLocationArn",
        "DestinationLocationArn"
      ],
      "members":{
        "SourceLocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the source location for the task.</p>"
        },
        "DestinationLocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of an Amazon Web Services storage resource's location. </p>"
        },
        "CloudWatchLogGroupArn":{
          "shape":"LogGroupArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon CloudWatch log group that is used to monitor and log events in the task. </p>"
        },
        "Name":{
          "shape":"TagValue",
          "documentation":"<p>The name of a task. This value is a text reference that is used to identify the task in the console. </p>"
        },
        "Options":{
          "shape":"Options",
          "documentation":"<p>The set of configuration options that control the behavior of a single execution of the task that occurs when you call <code>StartTaskExecution</code>. You can configure these options to preserve metadata such as user ID (UID) and group ID (GID), file permissions, data integrity verification, and so on.</p> <p>For each individual task execution, you can override these options by specifying the <code>OverrideOptions</code> before starting the task execution. For more information, see the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_StartTaskExecution.html\">StartTaskExecution</a> operation. </p>"
        },
        "Excludes":{
          "shape":"FilterList",
          "documentation":"<p>A list of filter rules that determines which files to exclude from a task. The list should contain a single filter string that consists of the patterns to exclude. The patterns are delimited by \"|\" (that is, a pipe), for example, <code>\"/folder1|/folder2\"</code>. </p> <p> </p>"
        },
        "Schedule":{
          "shape":"TaskSchedule",
          "documentation":"<p>Specifies a schedule used to periodically transfer files from a source to a destination location. The schedule should be specified in UTC time. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/task-scheduling.html\">Scheduling your task</a>.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>The key-value pair that represents the tag that you want to add to the resource. The value can be an empty string. </p>"
        },
        "Includes":{
          "shape":"FilterList",
          "documentation":"<p>A list of filter rules that determines which files to include when running a task. The pattern contains a single filter string that consists of the patterns to include. The patterns are delimited by \"|\" (that is, a pipe), for example, <code>\"/folder1|/folder2\"</code>.</p>"
        }
      },
      "documentation":"<p>CreateTaskRequest</p>"
    },
    "CreateTaskResponse":{
      "type":"structure",
      "members":{
        "TaskArn":{
          "shape":"TaskArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the task.</p>"
        }
      },
      "documentation":"<p>CreateTaskResponse</p>"
    },
    "DeleteAgentRequest":{
      "type":"structure",
      "required":["AgentArn"],
      "members":{
        "AgentArn":{
          "shape":"AgentArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the agent to delete. Use the <code>ListAgents</code> operation to return a list of agents for your account and Amazon Web Services Region.</p>"
        }
      },
      "documentation":"<p>DeleteAgentRequest</p>"
    },
    "DeleteAgentResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteLocationRequest":{
      "type":"structure",
      "required":["LocationArn"],
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the location to delete.</p>"
        }
      },
      "documentation":"<p>DeleteLocation</p>"
    },
    "DeleteLocationResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteTaskRequest":{
      "type":"structure",
      "required":["TaskArn"],
      "members":{
        "TaskArn":{
          "shape":"TaskArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the task to delete.</p>"
        }
      },
      "documentation":"<p>DeleteTask</p>"
    },
    "DeleteTaskResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeAgentRequest":{
      "type":"structure",
      "required":["AgentArn"],
      "members":{
        "AgentArn":{
          "shape":"AgentArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the agent to describe.</p>"
        }
      },
      "documentation":"<p>DescribeAgent</p>"
    },
    "DescribeAgentResponse":{
      "type":"structure",
      "members":{
        "AgentArn":{
          "shape":"AgentArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the agent.</p>"
        },
        "Name":{
          "shape":"TagValue",
          "documentation":"<p>The name of the agent.</p>"
        },
        "Status":{
          "shape":"AgentStatus",
          "documentation":"<p>The status of the agent. If the status is ONLINE, then the agent is configured properly and is available to use. The Running status is the normal running status for an agent. If the status is OFFLINE, the agent's VM is turned off or the agent is in an unhealthy state. When the issue that caused the unhealthy state is resolved, the agent returns to ONLINE status.</p>"
        },
        "LastConnectionTime":{
          "shape":"Time",
          "documentation":"<p>The time that the agent last connected to DataSync.</p>"
        },
        "CreationTime":{
          "shape":"Time",
          "documentation":"<p>The time that the agent was activated (that is, created in your account).</p>"
        },
        "EndpointType":{
          "shape":"EndpointType",
          "documentation":"<p>The type of endpoint that your agent is connected to. If the endpoint is a VPC endpoint, the agent is not accessible over the public internet. </p>"
        },
        "PrivateLinkConfig":{
          "shape":"PrivateLinkConfig",
          "documentation":"<p>The subnet and the security group that DataSync used to access a VPC endpoint.</p>"
        }
      },
      "documentation":"<p>DescribeAgentResponse</p>"
    },
    "DescribeLocationEfsRequest":{
      "type":"structure",
      "required":["LocationArn"],
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon EFS file system location that you want information about.</p>"
        }
      },
      "documentation":"<p>DescribeLocationEfsRequest</p>"
    },
    "DescribeLocationEfsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the Amazon EFS file system location.</p>"
        },
        "LocationUri":{
          "shape":"LocationUri",
          "documentation":"<p>The URL of the Amazon EFS file system location.</p>"
        },
        "Ec2Config":{"shape":"Ec2Config"},
        "CreationTime":{
          "shape":"Time",
          "documentation":"<p>The time that the location was created.</p>"
        },
        "AccessPointArn":{
          "shape":"EfsAccessPointArn",
          "documentation":"<p>The ARN of the access point that DataSync uses to access the Amazon EFS file system.</p>"
        },
        "FileSystemAccessRoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The Identity and Access Management (IAM) role that DataSync assumes when mounting the Amazon EFS file system.</p>"
        },
        "InTransitEncryption":{
          "shape":"EfsInTransitEncryption",
          "documentation":"<p>Describes whether DataSync uses Transport Layer Security (TLS) encryption when copying data to or from the Amazon EFS file system.</p>"
        }
      },
      "documentation":"<p>DescribeLocationEfsResponse</p>"
    },
    "DescribeLocationFsxLustreRequest":{
      "type":"structure",
      "required":["LocationArn"],
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the FSx for Lustre location to describe. </p>"
        }
      }
    },
    "DescribeLocationFsxLustreResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the FSx for Lustre location that was described.</p>"
        },
        "LocationUri":{
          "shape":"LocationUri",
          "documentation":"<p>The URI of the FSx for Lustre location that was described.</p>"
        },
        "SecurityGroupArns":{
          "shape":"Ec2SecurityGroupArnList",
          "documentation":"<p>The Amazon Resource Names (ARNs) of the security groups that are configured for the FSx for Lustre file system.</p>"
        },
        "CreationTime":{
          "shape":"Time",
          "documentation":"<p>The time that the FSx for Lustre location was created.</p>"
        }
      }
    },
    "DescribeLocationFsxOntapRequest":{
      "type":"structure",
      "required":["LocationArn"],
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the FSx for ONTAP file system location that you want information about.</p>"
        }
      }
    },
    "DescribeLocationFsxOntapResponse":{
      "type":"structure",
      "members":{
        "CreationTime":{
          "shape":"Time",
          "documentation":"<p>The time that the location was created.</p>"
        },
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the FSx for ONTAP file system location.</p>"
        },
        "LocationUri":{
          "shape":"LocationUri",
          "documentation":"<p>The uniform resource identifier (URI) of the FSx for ONTAP file system location.</p>"
        },
        "Protocol":{"shape":"FsxProtocol"},
        "SecurityGroupArns":{
          "shape":"Ec2SecurityGroupArnList",
          "documentation":"<p>The security groups that DataSync uses to access your FSx for ONTAP file system.</p>"
        },
        "StorageVirtualMachineArn":{
          "shape":"StorageVirtualMachineArn",
          "documentation":"<p>The ARN of the storage virtual machine (SVM) on your FSx for ONTAP file system where you're copying data to or from.</p>"
        },
        "FsxFilesystemArn":{
          "shape":"FsxFilesystemArn",
          "documentation":"<p>The ARN of the FSx for ONTAP file system.</p>"
        }
      }
    },
    "DescribeLocationFsxOpenZfsRequest":{
      "type":"structure",
      "required":["LocationArn"],
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the FSx for OpenZFS location to describe.</p>"
        }
      }
    },
    "DescribeLocationFsxOpenZfsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the FSx for OpenZFS location that was described.</p>"
        },
        "LocationUri":{
          "shape":"LocationUri",
          "documentation":"<p>The uniform resource identifier (URI) of the FSx for OpenZFS location that was described.</p> <p>Example: <code>fsxz://us-west-2.fs-1234567890abcdef02/fsx/folderA/folder</code> </p>"
        },
        "SecurityGroupArns":{
          "shape":"Ec2SecurityGroupArnList",
          "documentation":"<p>The ARNs of the security groups that are configured for the FSx for OpenZFS file system.</p>"
        },
        "Protocol":{
          "shape":"FsxProtocol",
          "documentation":"<p>The type of protocol that DataSync uses to access your file system.</p>"
        },
        "CreationTime":{
          "shape":"Time",
          "documentation":"<p>The time that the FSx for OpenZFS location was created.</p>"
        }
      }
    },
    "DescribeLocationFsxWindowsRequest":{
      "type":"structure",
      "required":["LocationArn"],
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the FSx for Windows File Server location to describe.</p>"
        }
      }
    },
    "DescribeLocationFsxWindowsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the FSx for Windows File Server location that was described.</p>"
        },
        "LocationUri":{
          "shape":"LocationUri",
          "documentation":"<p>The URL of the FSx for Windows File Server location that was described.</p>"
        },
        "SecurityGroupArns":{
          "shape":"Ec2SecurityGroupArnList",
          "documentation":"<p>The Amazon Resource Names (ARNs) of the security groups that are configured for the FSx for Windows File Server file system.</p>"
        },
        "CreationTime":{
          "shape":"Time",
          "documentation":"<p>The time that the FSx for Windows File Server location was created.</p>"
        },
        "User":{
          "shape":"SmbUser",
          "documentation":"<p>The user who has the permissions to access files and folders in the FSx for Windows File Server file system.</p>"
        },
        "Domain":{
          "shape":"SmbDomain",
          "documentation":"<p>The name of the Windows domain that the FSx for Windows File Server belongs to.</p>"
        }
      }
    },
    "DescribeLocationHdfsRequest":{
      "type":"structure",
      "required":["LocationArn"],
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the HDFS cluster location to describe.</p>"
        }
      }
    },
    "DescribeLocationHdfsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the HDFS cluster location.</p>"
        },
        "LocationUri":{
          "shape":"LocationUri",
          "documentation":"<p>The URI of the HDFS cluster location.</p>"
        },
        "NameNodes":{
          "shape":"HdfsNameNodeList",
          "documentation":"<p>The NameNode that manage the HDFS namespace. </p>"
        },
        "BlockSize":{
          "shape":"HdfsBlockSize",
          "documentation":"<p>The size of the data blocks to write into the HDFS cluster. </p>"
        },
        "ReplicationFactor":{
          "shape":"HdfsReplicationFactor",
          "documentation":"<p>The number of DataNodes to replicate the data to when writing to the HDFS cluster. </p>"
        },
        "KmsKeyProviderUri":{
          "shape":"KmsKeyProviderUri",
          "documentation":"<p> The URI of the HDFS cluster's Key Management Server (KMS). </p>"
        },
        "QopConfiguration":{
          "shape":"QopConfiguration",
          "documentation":"<p>The Quality of Protection (QOP) configuration specifies the Remote Procedure Call (RPC) and data transfer protection settings configured on the Hadoop Distributed File System (HDFS) cluster. </p>"
        },
        "AuthenticationType":{
          "shape":"HdfsAuthenticationType",
          "documentation":"<p>The type of authentication used to determine the identity of the user. </p>"
        },
        "SimpleUser":{
          "shape":"HdfsUser",
          "documentation":"<p>The user name used to identify the client on the host operating system. This parameter is used if the <code>AuthenticationType</code> is defined as <code>SIMPLE</code>.</p>"
        },
        "KerberosPrincipal":{
          "shape":"KerberosPrincipal",
          "documentation":"<p>The Kerberos principal with access to the files and folders on the HDFS cluster. This parameter is used if the <code>AuthenticationType</code> is defined as <code>KERBEROS</code>.</p>"
        },
        "AgentArns":{
          "shape":"AgentArnList",
          "documentation":"<p>The ARNs of the agents that are used to connect to the HDFS cluster. </p>"
        },
        "CreationTime":{
          "shape":"Time",
          "documentation":"<p>The time that the HDFS location was created.</p>"
        }
      }
    },
    "DescribeLocationNfsRequest":{
      "type":"structure",
      "required":["LocationArn"],
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the NFS location to describe.</p>"
        }
      },
      "documentation":"<p>DescribeLocationNfsRequest</p>"
    },
    "DescribeLocationNfsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the NFS location that was described.</p>"
        },
        "LocationUri":{
          "shape":"LocationUri",
          "documentation":"<p>The URL of the source NFS location that was described.</p>"
        },
        "OnPremConfig":{"shape":"OnPremConfig"},
        "MountOptions":{
          "shape":"NfsMountOptions",
          "documentation":"<p>The NFS mount options that DataSync used to mount your NFS share.</p>"
        },
        "CreationTime":{
          "shape":"Time",
          "documentation":"<p>The time that the NFS location was created.</p>"
        }
      },
      "documentation":"<p>DescribeLocationNfsResponse</p>"
    },
    "DescribeLocationObjectStorageRequest":{
      "type":"structure",
      "required":["LocationArn"],
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the object storage system location that you want information about.</p>"
        }
      },
      "documentation":"<p>DescribeLocationObjectStorageRequest</p>"
    },
    "DescribeLocationObjectStorageResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the object storage system location.</p>"
        },
        "LocationUri":{
          "shape":"LocationUri",
          "documentation":"<p>The URL of the object storage system location.</p>"
        },
        "AccessKey":{
          "shape":"ObjectStorageAccessKey",
          "documentation":"<p>The access key (for example, a user name) required to authenticate with the object storage server.</p>"
        },
        "ServerPort":{
          "shape":"ObjectStorageServerPort",
          "documentation":"<p>The port that your object storage server accepts inbound network traffic on (for example, port 443).</p>"
        },
        "ServerProtocol":{
          "shape":"ObjectStorageServerProtocol",
          "documentation":"<p>The protocol that your object storage server uses to communicate.</p>"
        },
        "AgentArns":{
          "shape":"AgentArnList",
          "documentation":"<p>The ARNs of the DataSync agents that can securely connect with your location.</p>"
        },
        "CreationTime":{
          "shape":"Time",
          "documentation":"<p>The time that the location was created.</p>"
        }
      },
      "documentation":"<p>DescribeLocationObjectStorageResponse</p>"
    },
    "DescribeLocationS3Request":{
      "type":"structure",
      "required":["LocationArn"],
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon S3 bucket location to describe.</p>"
        }
      },
      "documentation":"<p>DescribeLocationS3Request</p>"
    },
    "DescribeLocationS3Response":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon S3 bucket or access point.</p>"
        },
        "LocationUri":{
          "shape":"LocationUri",
          "documentation":"<p>The URL of the Amazon S3 location that was described.</p>"
        },
        "S3StorageClass":{
          "shape":"S3StorageClass",
          "documentation":"<p>The Amazon S3 storage class that you chose to store your files in when this location is used as a task destination. For more information about S3 storage classes, see <a href=\"http://aws.amazon.com/s3/storage-classes/\">Amazon S3 Storage Classes</a>. Some storage classes have behaviors that can affect your S3 storage cost. For detailed information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#using-storage-classes\">Considerations when working with S3 storage classes in DataSync</a>.</p>"
        },
        "S3Config":{"shape":"S3Config"},
        "AgentArns":{
          "shape":"AgentArnList",
          "documentation":"<p>If you are using DataSync on an Amazon Web Services Outpost, the Amazon Resource Name (ARNs) of the EC2 agents deployed on your Outpost. For more information about launching a DataSync agent on an Amazon Web Services Outpost, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/deploy-agents.html#outposts-agent\">Deploy your DataSync agent on Outposts</a>.</p>"
        },
        "CreationTime":{
          "shape":"Time",
          "documentation":"<p>The time that the Amazon S3 bucket location was created.</p>"
        }
      },
      "documentation":"<p>DescribeLocationS3Response</p>"
    },
    "DescribeLocationSmbRequest":{
      "type":"structure",
      "required":["LocationArn"],
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the SMB location to describe.</p>"
        }
      },
      "documentation":"<p>DescribeLocationSmbRequest</p>"
    },
    "DescribeLocationSmbResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the SMB location that was described.</p>"
        },
        "LocationUri":{
          "shape":"LocationUri",
          "documentation":"<p>The URL of the source SMB location that was described.</p>"
        },
        "AgentArns":{
          "shape":"AgentArnList",
          "documentation":"<p>The Amazon Resource Name (ARN) of the source SMB file system location that is created.</p>"
        },
        "User":{
          "shape":"SmbUser",
          "documentation":"<p>The user who can mount the share, has the permissions to access files and folders in the SMB share.</p>"
        },
        "Domain":{
          "shape":"SmbDomain",
          "documentation":"<p>The name of the Windows domain that the SMB server belongs to.</p>"
        },
        "MountOptions":{
          "shape":"SmbMountOptions",
          "documentation":"<p>The mount options that are available for DataSync to use to access an SMB location.</p>"
        },
        "CreationTime":{
          "shape":"Time",
          "documentation":"<p>The time that the SMB location was created.</p>"
        }
      },
      "documentation":"<p>DescribeLocationSmbResponse</p>"
    },
    "DescribeTaskExecutionRequest":{
      "type":"structure",
      "required":["TaskExecutionArn"],
      "members":{
        "TaskExecutionArn":{
          "shape":"TaskExecutionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the task that is being executed.</p>"
        }
      },
      "documentation":"<p>DescribeTaskExecutionRequest</p>"
    },
    "DescribeTaskExecutionResponse":{
      "type":"structure",
      "members":{
        "TaskExecutionArn":{
          "shape":"TaskExecutionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the task execution that was described. <code>TaskExecutionArn</code> is hierarchical and includes <code>TaskArn</code> for the task that was executed. </p> <p>For example, a <code>TaskExecution</code> value with the ARN <code>arn:aws:datasync:us-east-1:111222333444:task/task-0208075f79cedf4a2/execution/exec-08ef1e88ec491019b</code> executed the task with the ARN <code>arn:aws:datasync:us-east-1:111222333444:task/task-0208075f79cedf4a2</code>. </p>"
        },
        "Status":{
          "shape":"TaskExecutionStatus",
          "documentation":"<p>The status of the task execution. </p> <p>For detailed information about task execution statuses, see Understanding Task Statuses in the <i>DataSync User Guide.</i> </p>"
        },
        "Options":{"shape":"Options"},
        "Excludes":{
          "shape":"FilterList",
          "documentation":"<p>A list of filter rules that determines which files to exclude from a task. The list should contain a single filter string that consists of the patterns to exclude. The patterns are delimited by \"|\" (that is, a pipe), for example: <code>\"/folder1|/folder2\"</code> </p> <p> </p>"
        },
        "Includes":{
          "shape":"FilterList",
          "documentation":"<p>A list of filter rules that determines which files to include when running a task. The list should contain a single filter string that consists of the patterns to include. The patterns are delimited by \"|\" (that is, a pipe), for example: <code>\"/folder1|/folder2\"</code> </p> <p> </p>"
        },
        "StartTime":{
          "shape":"Time",
          "documentation":"<p>The time that the task execution was started.</p>"
        },
        "EstimatedFilesToTransfer":{
          "shape":"long",
          "documentation":"<p>The expected number of files that is to be transferred over the network. This value is calculated during the PREPARING phase, before the TRANSFERRING phase. This value is the expected number of files to be transferred. It's calculated based on comparing the content of the source and destination locations and finding the delta that needs to be transferred. </p>"
        },
        "EstimatedBytesToTransfer":{
          "shape":"long",
          "documentation":"<p>The estimated physical number of bytes that is to be transferred over the network.</p>"
        },
        "FilesTransferred":{
          "shape":"long",
          "documentation":"<p>The actual number of files that was transferred over the network. This value is calculated and updated on an ongoing basis during the TRANSFERRING phase. It's updated periodically when each file is read from the source and sent over the network. </p> <p>If failures occur during a transfer, this value can be less than <code>EstimatedFilesToTransfer</code>. This value can also be greater than <code>EstimatedFilesTransferred</code> in some cases. This element is implementation-specific for some location types, so don't use it as an indicator for a correct file number or to monitor your task execution.</p>"
        },
        "BytesWritten":{
          "shape":"long",
          "documentation":"<p>The number of logical bytes written to the destination Amazon Web Services storage resource.</p>"
        },
        "BytesTransferred":{
          "shape":"long",
          "documentation":"<p>The physical number of bytes transferred over the network.</p>"
        },
        "Result":{
          "shape":"TaskExecutionResultDetail",
          "documentation":"<p>The result of the task execution.</p>"
        }
      },
      "documentation":"<p>DescribeTaskExecutionResponse</p>"
    },
    "DescribeTaskRequest":{
      "type":"structure",
      "required":["TaskArn"],
      "members":{
        "TaskArn":{
          "shape":"TaskArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the task to describe.</p>"
        }
      },
      "documentation":"<p>DescribeTaskRequest</p>"
    },
    "DescribeTaskResponse":{
      "type":"structure",
      "members":{
        "TaskArn":{
          "shape":"TaskArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the task that was described.</p>"
        },
        "Status":{
          "shape":"TaskStatus",
          "documentation":"<p>The status of the task that was described.</p> <p>For detailed information about task execution statuses, see Understanding Task Statuses in the <i>DataSync User Guide</i>.</p>"
        },
        "Name":{
          "shape":"TagValue",
          "documentation":"<p>The name of the task that was described.</p>"
        },
        "CurrentTaskExecutionArn":{
          "shape":"TaskExecutionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the task execution that is syncing files.</p>"
        },
        "SourceLocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the source file system's location.</p>"
        },
        "DestinationLocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon Web Services storage resource's location.</p>"
        },
        "CloudWatchLogGroupArn":{
          "shape":"LogGroupArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon CloudWatch log group that was used to monitor and log events in the task.</p> <p>For more information on these groups, see Working with Log Groups and Log Streams in the <i>Amazon CloudWatch User Guide</i>.</p>"
        },
        "SourceNetworkInterfaceArns":{
          "shape":"SourceNetworkInterfaceArns",
          "documentation":"<p>The Amazon Resource Names (ARNs) of the source elastic network interfaces (ENIs) that were created for your subnet.</p>"
        },
        "DestinationNetworkInterfaceArns":{
          "shape":"DestinationNetworkInterfaceArns",
          "documentation":"<p>The Amazon Resource Names (ARNs) of the destination elastic network interfaces (ENIs) that were created for your subnet.</p>"
        },
        "Options":{
          "shape":"Options",
          "documentation":"<p>The set of configuration options that control the behavior of a single execution of the task that occurs when you call <code>StartTaskExecution</code>. You can configure these options to preserve metadata such as user ID (UID) and group (GID), file permissions, data integrity verification, and so on.</p> <p>For each individual task execution, you can override these options by specifying the overriding <code>OverrideOptions</code> value to <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_StartTaskExecution.html\">StartTaskExecution</a> operation. </p>"
        },
        "Excludes":{
          "shape":"FilterList",
          "documentation":"<p>A list of filter rules that determines which files to exclude from a task. The list should contain a single filter string that consists of the patterns to exclude. The patterns are delimited by \"|\" (that is, a pipe), for example, <code>\"/folder1|/folder2\"</code>. </p> <p> </p>"
        },
        "Schedule":{
          "shape":"TaskSchedule",
          "documentation":"<p>The schedule used to periodically transfer files from a source to a destination location.</p>"
        },
        "ErrorCode":{
          "shape":"string",
          "documentation":"<p>Errors that DataSync encountered during execution of the task. You can use this error code to help troubleshoot issues.</p>"
        },
        "ErrorDetail":{
          "shape":"string",
          "documentation":"<p>Detailed description of an error that was encountered during the task execution. You can use this information to help troubleshoot issues. </p>"
        },
        "CreationTime":{
          "shape":"Time",
          "documentation":"<p>The time that the task was created.</p>"
        },
        "Includes":{
          "shape":"FilterList",
          "documentation":"<p>A list of filter rules that determines which files to include when running a task. The pattern contains a single filter string that consists of the patterns to include. The patterns are delimited by \"|\" (that is, a pipe), for example, <code>\"/folder1|/folder2</code>\".</p>"
        }
      },
      "documentation":"<p>DescribeTaskResponse</p>"
    },
    "DestinationNetworkInterfaceArns":{
      "type":"list",
      "member":{"shape":"NetworkInterfaceArn"}
    },
    "Duration":{
      "type":"long",
      "min":0
    },
    "Ec2Config":{
      "type":"structure",
      "required":[
        "SubnetArn",
        "SecurityGroupArns"
      ],
      "members":{
        "SubnetArn":{
          "shape":"Ec2SubnetArn",
          "documentation":"<p>Specifies the ARN of a subnet where DataSync creates the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/datasync-network.html#required-network-interfaces\">network interfaces</a> for managing traffic during your transfer.</p> <p>The subnet must be located:</p> <ul> <li> <p>In the same virtual private cloud (VPC) as the Amazon EFS file system.</p> </li> <li> <p>In the same Availability Zone as at least one mount target for the Amazon EFS file system.</p> </li> </ul> <note> <p>You don't need to specify a subnet that includes a file system mount target.</p> </note>"
        },
        "SecurityGroupArns":{
          "shape":"Ec2SecurityGroupArnList",
          "documentation":"<p>Specifies the Amazon Resource Names (ARNs) of the security groups associated with an Amazon EFS file system's mount target.</p>"
        }
      },
      "documentation":"<p>The subnet and security groups that DataSync uses to access your Amazon EFS file system.</p>"
    },
    "Ec2SecurityGroupArn":{
      "type":"string",
      "max":128,
      "pattern":"^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):ec2:[a-z\\-0-9]*:[0-9]{12}:security-group/.*$"
    },
    "Ec2SecurityGroupArnList":{
      "type":"list",
      "member":{"shape":"Ec2SecurityGroupArn"},
      "max":5,
      "min":1
    },
    "Ec2SubnetArn":{
      "type":"string",
      "max":128,
      "pattern":"^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):ec2:[a-z\\-0-9]*:[0-9]{12}:subnet/.*$"
    },
    "EfsAccessPointArn":{
      "type":"string",
      "max":128,
      "pattern":"^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):elasticfilesystem:[a-z\\-0-9]+:[0-9]{12}:access-point/fsap-[0-9a-f]{8,40}$"
    },
    "EfsFilesystemArn":{
      "type":"string",
      "max":128,
      "pattern":"^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):elasticfilesystem:[a-z\\-0-9]*:[0-9]{12}:file-system/fs-.*$"
    },
    "EfsInTransitEncryption":{
      "type":"string",
      "enum":[
        "NONE",
        "TLS1_2"
      ]
    },
    "EfsSubdirectory":{
      "type":"string",
      "max":4096,
      "pattern":"^[a-zA-Z0-9_\\-\\+\\./\\(\\)\\p{Zs}]*$"
    },
    "Endpoint":{
      "type":"string",
      "max":15,
      "min":7,
      "pattern":"\\A(25[0-5]|2[0-4]\\d|[0-1]?\\d?\\d)(\\.(25[0-5]|2[0-4]\\d|[0-1]?\\d?\\d)){3}\\z"
    },
    "EndpointType":{
      "type":"string",
      "enum":[
        "PUBLIC",
        "PRIVATE_LINK",
        "FIPS"
      ]
    },
    "FilterAttributeValue":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[0-9a-zA-Z_\\ \\-\\:\\*\\.\\\\/\\?-]*$"
    },
    "FilterList":{
      "type":"list",
      "member":{"shape":"FilterRule"},
      "max":1,
      "min":0
    },
    "FilterRule":{
      "type":"structure",
      "members":{
        "FilterType":{
          "shape":"FilterType",
          "documentation":"<p>The type of filter rule to apply. DataSync only supports the SIMPLE_PATTERN rule type.</p>"
        },
        "Value":{
          "shape":"FilterValue",
          "documentation":"<p>A single filter string that consists of the patterns to include or exclude. The patterns are delimited by \"|\" (that is, a pipe), for example: <code>/folder1|/folder2</code> </p> <p> </p>"
        }
      },
      "documentation":"<p>Specifies which files, folders, and objects to include or exclude when transferring files from source to destination.</p>"
    },
    "FilterType":{
      "type":"string",
      "enum":["SIMPLE_PATTERN"],
      "max":128,
      "pattern":"^[A-Z0-9_]+$"
    },
    "FilterValue":{
      "type":"string",
      "max":102400,
      "pattern":"^[^\\x00]+$"
    },
    "FilterValues":{
      "type":"list",
      "member":{"shape":"FilterAttributeValue"}
    },
    "FsxFilesystemArn":{
      "type":"string",
      "max":128,
      "pattern":"^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):fsx:[a-z\\-0-9]*:[0-9]{12}:file-system/fs-.*$"
    },
    "FsxLustreSubdirectory":{
      "type":"string",
      "max":4096,
      "pattern":"^[a-zA-Z0-9_\\-\\+\\./\\(\\)\\$\\p{Zs}]+$"
    },
    "FsxOntapSubdirectory":{
      "type":"string",
      "max":255,
      "pattern":"^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{1,255}$"
    },
    "FsxOpenZfsSubdirectory":{
      "type":"string",
      "max":4096,
      "pattern":"^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{1,4096}$"
    },
    "FsxProtocol":{
      "type":"structure",
      "members":{
        "NFS":{
          "shape":"FsxProtocolNfs",
          "documentation":"<p>Specifies the Network File System (NFS) protocol configuration that DataSync uses to access your FSx for OpenZFS file system or FSx for ONTAP file system's storage virtual machine (SVM).</p>"
        },
        "SMB":{
          "shape":"FsxProtocolSmb",
          "documentation":"<p>Specifies the Server Message Block (SMB) protocol configuration that DataSync uses to access your FSx for ONTAP file system's SVM.</p>"
        }
      },
      "documentation":"<p>Specifies the data transfer protocol that DataSync uses to access your Amazon FSx file system.</p>"
    },
    "FsxProtocolNfs":{
      "type":"structure",
      "members":{
        "MountOptions":{"shape":"NfsMountOptions"}
      },
      "documentation":"<p>Specifies the Network File System (NFS) protocol configuration that DataSync uses to access your Amazon FSx for OpenZFS or Amazon FSx for NetApp ONTAP file system.</p>"
    },
    "FsxProtocolSmb":{
      "type":"structure",
      "required":[
        "Password",
        "User"
      ],
      "members":{
        "Domain":{
          "shape":"SmbDomain",
          "documentation":"<p>Specifies the fully qualified domain name (FQDN) of the Microsoft Active Directory that your storage virtual machine (SVM) belongs to.</p>"
        },
        "MountOptions":{"shape":"SmbMountOptions"},
        "Password":{
          "shape":"SmbPassword",
          "documentation":"<p>Specifies the password of a user who has permission to access your SVM.</p>"
        },
        "User":{
          "shape":"SmbUser",
          "documentation":"<p>Specifies a user who has permission to access your SVM.</p>"
        }
      },
      "documentation":"<p>Specifies the Server Message Block (SMB) protocol configuration that DataSync uses to access your Amazon FSx for NetApp ONTAP file system. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-ontap-location.html#create-ontap-location-access\">Accessing FSx for ONTAP file systems</a>.</p>"
    },
    "FsxWindowsSubdirectory":{
      "type":"string",
      "max":4096,
      "pattern":"^[a-zA-Z0-9_\\-\\+\\./\\(\\)\\$\\p{Zs}]+$"
    },
    "Gid":{
      "type":"string",
      "enum":[
        "NONE",
        "INT_VALUE",
        "NAME",
        "BOTH"
      ]
    },
    "HdfsAuthenticationType":{
      "type":"string",
      "enum":[
        "SIMPLE",
[...]
