{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2019-12-02",
    "endpointPrefix":"iotsitewise",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AWS IoT SiteWise",
    "serviceId":"IoTSiteWise",
    "signatureVersion":"v4",
    "signingName":"iotsitewise",
    "uid":"iotsitewise-2019-12-02",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AssociateAssets":{
      "name":"AssociateAssets",
      "http":{
        "method":"POST",
        "requestUri":"/assets/{assetId}/associate"
      },
      "input":{"shape":"AssociateAssetsRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Associates a child asset with the given parent asset through a hierarchy defined in the parent asset's model. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/add-associated-assets.html\">Associating assets</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "AssociateTimeSeriesToAssetProperty":{
      "name":"AssociateTimeSeriesToAssetProperty",
      "http":{
        "method":"POST",
        "requestUri":"/timeseries/associate/"
      },
      "input":{"shape":"AssociateTimeSeriesToAssetPropertyRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Associates a time series (data stream) with an asset property.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "BatchAssociateDataSegmentsToDataset":{
      "name":"BatchAssociateDataSegmentsToDataset",
      "http":{
        "method":"POST",
        "requestUri":"/datasets/{datasetId}/data-segments/associate",
        "responseCode":200
      },
      "input":{"shape":"BatchAssociateDataSegmentsToDatasetRequest"},
      "output":{"shape":"BatchAssociateDataSegmentsToDatasetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Associates a batch of data segments with a curated dataset. Data segments are time-bounded slices of time series data selected from source session datasets. Data segments that belong to the same time series can't overlap in time, regardless of which dataset they belong to.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "BatchAssociateProjectAssets":{
      "name":"BatchAssociateProjectAssets",
      "http":{
        "method":"POST",
        "requestUri":"/projects/{projectId}/assets/associate",
        "responseCode":200
      },
      "input":{"shape":"BatchAssociateProjectAssetsRequest"},
      "output":{"shape":"BatchAssociateProjectAssetsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<important> <p>The IoT SiteWise Monitor feature will no longer be open to new customers starting November 7, 2025. If you would like to use the IoT SiteWise Monitor feature, sign up prior to that date. Existing customers can continue to use the service as normal. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/appguide/iotsitewise-monitor-availability-change.html\">IoT SiteWise Monitor availability change</a>.</p> </important> <p>Associates a group (batch) of assets with an IoT SiteWise Monitor project.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "BatchDeleteDatasetDataSegments":{
      "name":"BatchDeleteDatasetDataSegments",
      "http":{
        "method":"POST",
        "requestUri":"/datasets/{datasetId}/data-segments/batch-delete"
      },
      "input":{"shape":"BatchDeleteDatasetDataSegmentsRequest"},
      "output":{"shape":"BatchDeleteDatasetDataSegmentsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictingOperationException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a batch of data segments from a session dataset. Deleting a data segment deletes the underlying time series data for the segment's time range.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "BatchDisassociateDataSegmentsFromDataset":{
      "name":"BatchDisassociateDataSegmentsFromDataset",
      "http":{
        "method":"POST",
        "requestUri":"/datasets/{datasetId}/data-segments/disassociate",
        "responseCode":200
      },
      "input":{"shape":"BatchDisassociateDataSegmentsFromDatasetRequest"},
      "output":{"shape":"BatchDisassociateDataSegmentsFromDatasetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Disassociates a batch of data segments from a curated dataset. Disassociating a data segment doesn't delete the underlying data in the source session dataset.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "BatchDisassociateProjectAssets":{
      "name":"BatchDisassociateProjectAssets",
      "http":{
        "method":"POST",
        "requestUri":"/projects/{projectId}/assets/disassociate",
        "responseCode":200
      },
      "input":{"shape":"BatchDisassociateProjectAssetsRequest"},
      "output":{"shape":"BatchDisassociateProjectAssetsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Disassociates a group (batch) of assets from an IoT SiteWise Monitor project.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "BatchGetAssetPropertyAggregates":{
      "name":"BatchGetAssetPropertyAggregates",
      "http":{
        "method":"POST",
        "requestUri":"/properties/batch/aggregates"
      },
      "input":{"shape":"BatchGetAssetPropertyAggregatesRequest"},
      "output":{"shape":"BatchGetAssetPropertyAggregatesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Gets aggregated values (for example, average, minimum, and maximum) for one or more asset properties. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/query-industrial-data.html#aggregates\">Querying aggregates</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"data."}
    },
    "BatchGetAssetPropertyValue":{
      "name":"BatchGetAssetPropertyValue",
      "http":{
        "method":"POST",
        "requestUri":"/properties/batch/latest"
      },
      "input":{"shape":"BatchGetAssetPropertyValueRequest"},
      "output":{"shape":"BatchGetAssetPropertyValueResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Gets the current value for one or more asset properties. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/query-industrial-data.html#current-values\">Querying current values</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"data."}
    },
    "BatchGetAssetPropertyValueHistory":{
      "name":"BatchGetAssetPropertyValueHistory",
      "http":{
        "method":"POST",
        "requestUri":"/properties/batch/history"
      },
      "input":{"shape":"BatchGetAssetPropertyValueHistoryRequest"},
      "output":{"shape":"BatchGetAssetPropertyValueHistoryResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Gets the historical values for one or more asset properties. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/query-industrial-data.html#historical-values\">Querying historical values</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"data."}
    },
    "BatchPutAssetPropertyValue":{
      "name":"BatchPutAssetPropertyValue",
      "http":{
        "method":"POST",
        "requestUri":"/properties"
      },
      "input":{"shape":"BatchPutAssetPropertyValueRequest"},
      "output":{"shape":"BatchPutAssetPropertyValueResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Sends a list of asset property values to IoT SiteWise. Each value is a timestamp-quality-value (TQV) data point. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/ingest-api.html\">Ingesting data using the API</a> in the <i>IoT SiteWise User Guide</i>.</p> <p>To identify an asset property, you must specify one of the following:</p> <ul> <li> <p>The <code>assetId</code> and <code>propertyId</code> of an asset property.</p> </li> <li> <p>A <code>propertyAlias</code>, which is a data stream alias (for example, <code>/company/windfarm/3/turbine/7/temperature</code>). To define an asset property's alias, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetProperty.html\">UpdateAssetProperty</a>.</p> </li> </ul> <important> <p>With respect to Unix epoch time, IoT SiteWise accepts only TQVs that have a timestamp of no more than 7 days in the past and no more than 10 minutes in the future. IoT SiteWise rejects timestamps outside of the inclusive range of [-7 days, +10 minutes] and returns a <code>TimestampOutOfRangeException</code> error.</p> <p>For each asset property, IoT SiteWise overwrites TQVs with duplicate timestamps unless the newer TQV has a different quality. For example, if you store a TQV <code>{T1, GOOD, V1}</code>, then storing <code>{T1, GOOD, V2}</code> replaces the existing TQV.</p> </important> <p>IoT SiteWise authorizes access to each <code>BatchPutAssetPropertyValue</code> entry individually. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/security_iam_service-with-iam.html#security_iam_service-with-iam-id-based-policies-batchputassetpropertyvalue-action\">BatchPutAssetPropertyValue authorization</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"data."}
    },
    "CancelEnrichmentJob":{
      "name":"CancelEnrichmentJob",
      "http":{
        "method":"POST",
        "requestUri":"/workspaces/{workspaceName}/enrichment-jobs/{jobId}/cancel",
        "responseCode":200
      },
      "input":{"shape":"CancelEnrichmentJobRequest"},
      "output":{"shape":"CancelEnrichmentJobResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Cancels a running or pending enrichment job. This is an idempotent operation—calling it multiple times with the same jobId is safe and returns the current status.</p> <h2>Behavior</h2> <ul> <li>Jobs in PENDING or RUNNING status transition to CANCELLED</li> <li>Jobs in RUNNING state may not be cancellable once they have progressed to certain processing stages</li> <li>Jobs already in terminal states (COMPLETED, FAILED, TIMED_OUT) cannot be cancelled; the operation returns a ConflictingOperationException</li> <li>Cancelling an already-CANCELLED job is a no-op and returns the current status (idempotent behavior)</li> <li>The API responds immediately after recording the cancellation</li> <li>Cleanup of job resources happens asynchronously in the background</li> </ul> <h2>When to Cancel</h2> <p>Cancel a job when:</p> <ul> <li>The job is taking longer than expected</li> <li>The job was created with incorrect parameters</li> <li>You no longer need the results</li> </ul> <h2>Idempotency</h2> <p>You can safely retry cancellation requests. Calling CancelEnrichmentJob multiple times for the same job returns the current status without error as long as the job is not in a terminal state other than CANCELLED.</p>",
      "endpoint":{"hostPrefix":"data."},
      "idempotent":true
    },
    "CancelPipelineExecution":{
      "name":"CancelPipelineExecution",
      "http":{
        "method":"POST",
        "requestUri":"/workspaces/{workspaceName}/pipelines/{pipelineName}/executions/{pipelineExecutionId}/cancel",
        "responseCode":202
      },
      "input":{"shape":"CancelPipelineExecutionRequest"},
      "output":{"shape":"CancelPipelineExecutionResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Cancels a pipeline execution in the specified workspace. If the execution is not in a terminal state (such as NOT_STARTED or RUNNING), it transitions to CANCELLING and asynchronously to CANCELLED. This operation is idempotent: calling it on an execution that is already CANCELLING or CANCELLED returns success with the current state. Calling it on a terminal execution (SUCCEEDED or FAILED) returns a conflict error. You can optionally provide a reason; it is returned in the stateDetails field when you describe the execution.</p>",
      "endpoint":{"hostPrefix":"data."}
    },
    "CancelQuery":{
      "name":"CancelQuery",
      "http":{
        "method":"POST",
        "requestUri":"/workspaces/{workspaceName}/queries/{queryId}/cancel",
        "responseCode":202
      },
      "input":{"shape":"CancelQueryRequest"},
      "output":{"shape":"CancelQueryResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Cancels a running query.</p>",
      "endpoint":{"hostPrefix":"data."},
      "idempotent":true
    },
    "CreateAccessPolicy":{
      "name":"CreateAccessPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/access-policies",
        "responseCode":201
      },
      "input":{"shape":"CreateAccessPolicyRequest"},
      "output":{"shape":"CreateAccessPolicyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<important> <p>The IoT SiteWise Monitor feature will no longer be open to new customers starting November 7, 2025. If you would like to use the IoT SiteWise Monitor feature, sign up prior to that date. Existing customers can continue to use the service as normal. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/appguide/iotsitewise-monitor-availability-change.html\">IoT SiteWise Monitor availability change</a>.</p> </important> <p>Creates an access policy that grants the specified identity (IAM Identity Center user, IAM Identity Center group, or IAM user) access to the specified IoT SiteWise Monitor portal or project resource.</p> <note> <p>Support for access policies that use an SSO Group as the identity is not supported at this time.</p> </note>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "CreateApplication":{
      "name":"CreateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/applications",
        "responseCode":200
      },
      "input":{"shape":"CreateApplicationRequest"},
      "output":{"shape":"CreateApplicationResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Creates a new application for the workspace and IdC application provided</p>",
      "endpoint":{"hostPrefix":"api."},
      "idempotent":true
    },
    "CreateAsset":{
      "name":"CreateAsset",
      "http":{
        "method":"POST",
        "requestUri":"/assets",
        "responseCode":202
      },
      "input":{"shape":"CreateAssetRequest"},
      "output":{"shape":"CreateAssetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Creates an asset from an existing asset model. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/create-assets.html\">Creating assets</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "CreateAssetModel":{
      "name":"CreateAssetModel",
      "http":{
        "method":"POST",
        "requestUri":"/asset-models",
        "responseCode":202
      },
      "input":{"shape":"CreateAssetModelRequest"},
      "output":{"shape":"CreateAssetModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Creates an asset model from specified property and hierarchy definitions. You create assets from asset models. With asset models, you can easily create assets of the same type that have standardized definitions. Each asset created from a model inherits the asset model's property and hierarchy definitions. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/define-models.html\">Defining asset models</a> in the <i>IoT SiteWise User Guide</i>.</p> <p>You can create three types of asset models, <code>ASSET_MODEL</code>, <code>COMPONENT_MODEL</code>, or an <code>INTERFACE</code>.</p> <ul> <li> <p> <b>ASSET_MODEL</b> – (default) An asset model that you can use to create assets. Can't be included as a component in another asset model.</p> </li> <li> <p> <b>COMPONENT_MODEL</b> – A reusable component that you can include in the composite models of other asset models. You can't create assets directly from this type of asset model. </p> </li> <li> <p> <b>INTERFACE</b> – An interface is a type of model that defines a standard structure that can be applied to different asset models.</p> </li> </ul>",
      "endpoint":{"hostPrefix":"api."}
    },
    "CreateAssetModelCompositeModel":{
      "name":"CreateAssetModelCompositeModel",
      "http":{
        "method":"POST",
        "requestUri":"/asset-models/{assetModelId}/composite-models",
        "responseCode":202
      },
      "input":{"shape":"CreateAssetModelCompositeModelRequest"},
      "output":{"shape":"CreateAssetModelCompositeModelResponse"},
      "errors":[
        {"shape":"ConflictingOperationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalFailureException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a custom composite model from specified property and hierarchy definitions. There are two types of custom composite models, <code>inline</code> and <code>component-model-based</code>. </p> <p>Use component-model-based custom composite models to define standard, reusable components. A component-model-based custom composite model consists of a name, a description, and the ID of the component model it references. A component-model-based custom composite model has no properties of its own; its referenced component model provides its associated properties to any created assets. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/custom-composite-models.html\">Custom composite models (Components)</a> in the <i>IoT SiteWise User Guide</i>.</p> <p>Use inline custom composite models to organize the properties of an asset model. The properties of inline custom composite models are local to the asset model where they are included and can't be used to create multiple assets.</p> <p>To create a component-model-based model, specify the <code>composedAssetModelId</code> of an existing asset model with <code>assetModelType</code> of <code>COMPONENT_MODEL</code>.</p> <p>To create an inline model, specify the <code>assetModelCompositeModelProperties</code> and don't include an <code>composedAssetModelId</code>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "CreateBulkImportJob":{
      "name":"CreateBulkImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/jobs",
        "responseCode":202
      },
      "input":{"shape":"CreateBulkImportJobRequest"},
      "output":{"shape":"CreateBulkImportJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Defines a job to ingest data to IoT SiteWise from Amazon S3. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/CreateBulkImportJob.html\">Create a bulk import job (CLI)</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <important> <p>Before you create a bulk import job that ingests data into time series outside of a workspace, you must enable IoT SiteWise warm tier or IoT SiteWise cold tier. For more information about how to configure storage settings, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_PutStorageConfiguration.html\">PutStorageConfiguration</a>. This requirement doesn't apply to bulk import jobs that ingest data into a session dataset in a workspace (jobs that specify a <code>workspaceName</code> and <code>datasetId</code>). Those jobs don't use IoT SiteWise warm or cold tier storage.</p> <p>Bulk import is designed to store historical data to IoT SiteWise.</p> <ul> <li> <p>Newly ingested data in the hot tier triggers notifications and computations.</p> </li> <li> <p>After data moves from the hot tier to the warm or cold tier based on retention settings, it does not trigger computations or notifications.</p> </li> <li> <p>Data older than 7 days does not trigger computations or notifications.</p> </li> </ul> </important>",
      "endpoint":{"hostPrefix":"data."}
    },
    "CreateComputationModel":{
      "name":"CreateComputationModel",
      "http":{
        "method":"POST",
        "requestUri":"/computation-models",
        "responseCode":202
      },
      "input":{"shape":"CreateComputationModelRequest"},
      "output":{"shape":"CreateComputationModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Create a computation model with a configuration and data binding.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "CreateDashboard":{
      "name":"CreateDashboard",
      "http":{
        "method":"POST",
        "requestUri":"/dashboards",
        "responseCode":201
      },
      "input":{"shape":"CreateDashboardRequest"},
      "output":{"shape":"CreateDashboardResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<important> <p>The IoT SiteWise Monitor feature will no longer be open to new customers starting November 7, 2025. If you would like to use the IoT SiteWise Monitor feature, sign up prior to that date. Existing customers can continue to use the service as normal. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/appguide/iotsitewise-monitor-availability-change.html\">IoT SiteWise Monitor availability change</a>.</p> </important> <p>Creates a dashboard in an IoT SiteWise Monitor project.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "CreateDataset":{
      "name":"CreateDataset",
      "http":{
        "method":"POST",
        "requestUri":"/datasets",
        "responseCode":202
      },
      "input":{"shape":"CreateDatasetRequest"},
      "output":{"shape":"CreateDatasetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Creates a dataset. Session and curated datasets are created in a workspace. A session dataset contains data segments of time series data, and a curated dataset curates data segments selected from source session datasets. A dataset that connects to an external datasource is created outside of a workspace.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "CreateDatasetExportJob":{
      "name":"CreateDatasetExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/workspaces/{workspaceName}/dataset-export-jobs",
        "responseCode":202
      },
      "input":{"shape":"CreateDatasetExportJobRequest"},
      "output":{"shape":"CreateDatasetExportJobResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Starts an asynchronous job that exports dataset and time-series data from a workspace to Amazon S3. The operation returns a jobId immediately; poll DescribeDatasetExportJob to track progress and ListDatasetExportJobs to enumerate a workspace's jobs.</p>",
      "endpoint":{"hostPrefix":"data."},
      "idempotent":true
    },
    "CreateEnrichmentJob":{
      "name":"CreateEnrichmentJob",
      "http":{
        "method":"POST",
        "requestUri":"/workspaces/{workspaceName}/enrichment-jobs",
        "responseCode":200
      },
      "input":{"shape":"CreateEnrichmentJobRequest"},
      "output":{"shape":"CreateEnrichmentJobResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Creates an asynchronous enrichment job to analyze time-series sensor data. The operation returns immediately with job details while processing continues in the background.</p> <h2>Idempotency</h2> <p>Include a clientToken to make the operation idempotent. If you submit the same request with the same token within the idempotency window, you receive the original job details without creating a duplicate.</p> <h2>Prerequisites</h2> <p>Before creating a job, ensure:</p> <ul> <li>The workspace is in ACTIVE state (not being deleted)</li> <li>You have IAM permissions for the workspace, dataset, and time-series resources</li> <li>You have KMS Decrypt permission on the workspace's customer-managed encryption key</li> <li>No duplicate job (same workspace, dataset, property, and job type) is currently running</li> </ul> <h2>Workflow</h2> <ol> <li>Submit the job with configuration specifying which video data to analyze and the time range</li> <li>Capture the jobId from the response</li> <li>Use DescribeEnrichmentJob to monitor progress and check job status</li> <li>When status reaches a terminal state (COMPLETED, FAILED, TIMED_OUT, CANCELLED), check results</li> <li>For COMPLETED jobs, query IoT SiteWise for semantic search on video events</li> </ol> <h2>Error Handling</h2> <ul> <li>ConflictingOperationException: A duplicate job is already running for the same configuration</li> <li>InvalidRequestException: Invalid parameters (e.g., both timeSeriesId and propertyAlias specified)</li> <li>AccessDeniedException: Insufficient IAM or KMS permissions</li> <li>LimitExceededException: Too many concurrent jobs or requests</li> </ul>",
      "endpoint":{"hostPrefix":"data."}
    },
    "CreateGateway":{
      "name":"CreateGateway",
      "http":{
        "method":"POST",
        "requestUri":"/20200301/gateways",
        "responseCode":201
      },
      "input":{"shape":"CreateGatewayRequest"},
      "output":{"shape":"CreateGatewayResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a gateway, which is a virtual or edge device that delivers industrial data streams from local servers to IoT SiteWise. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/gateway-connector.html\">Ingesting data using a gateway</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "CreatePipeline":{
      "name":"CreatePipeline",
      "http":{
        "method":"POST",
        "requestUri":"/workspaces/{workspaceName}/pipelines",
        "responseCode":200
      },
      "input":{"shape":"CreatePipelineRequest"},
      "output":{"shape":"CreatePipelineResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Creates a new pipeline in the specified workspace. A pipeline defines a directed acyclic graph (DAG) of compute nodes, where each node references a task and can declare dependencies on other nodes. Cyclic dependencies are not allowed. Nodes without dependencies run in parallel, while nodes with dependencies wait for all upstream nodes to complete successfully before starting.</p> <p>You can set environment variables at the pipeline level that are shared across all compute nodes, and override them at the individual compute node level.</p>",
      "endpoint":{"hostPrefix":"api."},
      "idempotent":true
    },
    "CreatePortal":{
      "name":"CreatePortal",
      "http":{
        "method":"POST",
        "requestUri":"/portals",
        "responseCode":202
      },
      "input":{"shape":"CreatePortalRequest"},
      "output":{"shape":"CreatePortalResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<important> <p>The IoT SiteWise Monitor feature will no longer be open to new customers starting November 7, 2025. If you would like to use the IoT SiteWise Monitor feature, sign up prior to that date. Existing customers can continue to use the service as normal. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/appguide/iotsitewise-monitor-availability-change.html\">IoT SiteWise Monitor availability change</a>.</p> </important> <p>Creates a portal, which can contain projects and dashboards. IoT SiteWise Monitor uses IAM Identity Center or IAM to authenticate portal users and manage user permissions.</p> <note> <p>Before you can sign in to a new portal, you must add at least one identity to that portal. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/administer-portals.html#portal-change-admins\">Adding or removing portal administrators</a> in the <i>IoT SiteWise User Guide</i>.</p> </note>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "CreateProject":{
      "name":"CreateProject",
      "http":{
        "method":"POST",
        "requestUri":"/projects",
        "responseCode":201
      },
      "input":{"shape":"CreateProjectRequest"},
      "output":{"shape":"CreateProjectResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<important> <p>The IoT SiteWise Monitor feature will no longer be open to new customers starting November 7, 2025. If you would like to use the IoT SiteWise Monitor feature, sign up prior to that date. Existing customers can continue to use the service as normal. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/appguide/iotsitewise-monitor-availability-change.html\">IoT SiteWise Monitor availability change</a>.</p> </important> <p>Creates a project in the specified portal.</p> <note> <p>Make sure that the project name and description don't contain confidential information.</p> </note>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "CreateTask":{
      "name":"CreateTask",
      "http":{
        "method":"POST",
        "requestUri":"/workspaces/{workspaceName}/tasks",
        "responseCode":200
      },
      "input":{"shape":"CreateTaskRequest"},
      "output":{"shape":"CreateTaskResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Creates a new task in the specified workspace. A task defines a reusable containerized compute workload that can be referenced by one or more pipeline compute nodes.</p> <p>Specify a <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_ContainerTaskConfiguration.html\"><code>containerTaskConfiguration</code></a> for custom container workloads with configurable ECR image, processing type, processing unit, and environment variables.</p>",
      "endpoint":{"hostPrefix":"api."},
      "idempotent":true
    },
    "CreateWorkspace":{
      "name":"CreateWorkspace",
      "http":{
        "method":"POST",
        "requestUri":"/workspaces"
      },
      "input":{"shape":"CreateWorkspaceRequest"},
      "output":{"shape":"CreateWorkspaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ConflictingOperationException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a workspace in IoT SiteWise. A workspace isolates its resources, such as datasets, time series, pipelines, and tasks, and their data from other workspaces, and has its own quotas and throttling limits. You must specify an encryption configuration when you create a workspace. The operation returns immediately with the workspace in the <code>CREATING</code> state. Provisioning completes asynchronously, after which the workspace state is <code>ACTIVE</code>, or <code>FAILED</code> if provisioning doesn't complete.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DeleteAccessPolicy":{
      "name":"DeleteAccessPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/access-policies/{accessPolicyId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAccessPolicyRequest"},
      "output":{"shape":"DeleteAccessPolicyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes an access policy that grants the specified identity access to the specified IoT SiteWise Monitor resource. You can use this operation to revoke access to an IoT SiteWise Monitor resource.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "DeleteApplication":{
      "name":"DeleteApplication",
      "http":{
        "method":"DELETE",
        "requestUri":"/workspaces/{workspaceName}/applications/{id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteApplicationRequest"},
      "output":{"shape":"DeleteApplicationResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Deletes an application by ID</p>",
      "endpoint":{"hostPrefix":"api."},
      "idempotent":true
    },
    "DeleteAsset":{
      "name":"DeleteAsset",
      "http":{
        "method":"DELETE",
        "requestUri":"/assets/{assetId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteAssetRequest"},
      "output":{"shape":"DeleteAssetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Deletes an asset. This action can't be undone. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/delete-assets-and-models.html\">Deleting assets and models</a> in the <i>IoT SiteWise User Guide</i>.</p> <note> <p>You can't delete an asset that's associated to another asset. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_DisassociateAssets.html\">DisassociateAssets</a>.</p> </note>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DeleteAssetModel":{
      "name":"DeleteAssetModel",
      "http":{
        "method":"DELETE",
        "requestUri":"/asset-models/{assetModelId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteAssetModelRequest"},
      "output":{"shape":"DeleteAssetModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"},
        {"shape":"PreconditionFailedException"}
      ],
      "documentation":"<p>Deletes an asset model. This action can't be undone. You must delete all assets created from an asset model before you can delete the model. Also, you can't delete an asset model if a parent asset model exists that contains a property formula expression that depends on the asset model that you want to delete. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/delete-assets-and-models.html\">Deleting assets and models</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DeleteAssetModelCompositeModel":{
      "name":"DeleteAssetModelCompositeModel",
      "http":{
        "method":"DELETE",
        "requestUri":"/asset-models/{assetModelId}/composite-models/{assetModelCompositeModelId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteAssetModelCompositeModelRequest"},
      "output":{"shape":"DeleteAssetModelCompositeModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"},
        {"shape":"PreconditionFailedException"}
      ],
      "documentation":"<p>Deletes a composite model. This action can't be undone. You must delete all assets created from a composite model before you can delete the model. Also, you can't delete a composite model if a parent asset model exists that contains a property formula expression that depends on the asset model that you want to delete. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/delete-assets-and-models.html\">Deleting assets and models</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DeleteAssetModelInterfaceRelationship":{
      "name":"DeleteAssetModelInterfaceRelationship",
      "http":{
        "method":"DELETE",
        "requestUri":"/asset-models/{assetModelId}/interface/{interfaceAssetModelId}/asset-model-interface-relationship",
        "responseCode":202
      },
      "input":{"shape":"DeleteAssetModelInterfaceRelationshipRequest"},
      "output":{"shape":"DeleteAssetModelInterfaceRelationshipResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Deletes an interface relationship between an asset model and an interface asset model.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DeleteComputationModel":{
      "name":"DeleteComputationModel",
      "http":{
        "method":"DELETE",
        "requestUri":"/computation-models/{computationModelId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteComputationModelRequest"},
      "output":{"shape":"DeleteComputationModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Deletes a computation model. This action can't be undone.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DeleteDashboard":{
      "name":"DeleteDashboard",
      "http":{
        "method":"DELETE",
        "requestUri":"/dashboards/{dashboardId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteDashboardRequest"},
      "output":{"shape":"DeleteDashboardResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a dashboard from IoT SiteWise Monitor.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "DeleteDataset":{
      "name":"DeleteDataset",
      "http":{
        "method":"DELETE",
        "requestUri":"/datasets/{datasetId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteDatasetRequest"},
      "output":{"shape":"DeleteDatasetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Deletes a dataset. This can't be undone. Deleting a session dataset also deletes the underlying time series data in the session. You can't delete a session dataset while a curated dataset references its data segments. First delete the curated dataset or disassociate the data segments. Deleting a curated dataset doesn't delete the underlying data in the source session datasets.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DeleteGateway":{
      "name":"DeleteGateway",
      "http":{
        "method":"DELETE",
        "requestUri":"/20200301/gateways/{gatewayId}"
      },
      "input":{"shape":"DeleteGatewayRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictingOperationException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a gateway from IoT SiteWise. When you delete a gateway, some of the gateway's files remain in your gateway's file system.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DeletePipeline":{
      "name":"DeletePipeline",
      "http":{
        "method":"DELETE",
        "requestUri":"/workspaces/{workspaceName}/pipelines/{pipelineName}",
        "responseCode":200
      },
      "input":{"shape":"DeletePipelineRequest"},
      "output":{"shape":"DeletePipelineResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Deletes a pipeline from the specified workspace. A pipeline cannot be deleted if it has any active executions. Wait for all executions to complete before attempting to delete the pipeline, or use <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_CancelPipelineExecution.html\">CancelPipelineExecution</a> to stop a running execution.</p>",
      "endpoint":{"hostPrefix":"api."},
      "idempotent":true
    },
    "DeletePortal":{
      "name":"DeletePortal",
      "http":{
        "method":"DELETE",
        "requestUri":"/portals/{portalId}",
        "responseCode":202
      },
      "input":{"shape":"DeletePortalRequest"},
      "output":{"shape":"DeletePortalResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Deletes a portal from IoT SiteWise Monitor.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "DeleteProject":{
      "name":"DeleteProject",
      "http":{
        "method":"DELETE",
        "requestUri":"/projects/{projectId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteProjectRequest"},
      "output":{"shape":"DeleteProjectResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a project from IoT SiteWise Monitor.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "DeleteTask":{
      "name":"DeleteTask",
      "http":{
        "method":"DELETE",
        "requestUri":"/workspaces/{workspaceName}/tasks/{taskName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteTaskRequest"},
      "output":{"shape":"DeleteTaskResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Deletes a task from the specified workspace. A task cannot be deleted if it is currently referenced by any existing pipeline. Remove the task from all pipelines before attempting to delete it.</p>",
      "endpoint":{"hostPrefix":"api."},
      "idempotent":true
    },
    "DeleteTimeSeries":{
      "name":"DeleteTimeSeries",
      "http":{
        "method":"POST",
        "requestUri":"/timeseries/delete/"
      },
      "input":{"shape":"DeleteTimeSeriesRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Deletes a time series (data stream). If you delete a time series that's associated with an asset property, the asset property still exists, but the time series will no longer be associated with this asset property. You can't delete a time series until all of its data segments have been deleted from session datasets.</p> <p>To identify a time series, do one of the following:</p> <ul> <li> <p>If the time series isn't associated with an asset property, specify the <code>alias</code> of the time series.</p> </li> <li> <p>If the time series is associated with an asset property, specify one of the following: </p> <ul> <li> <p>The <code>alias</code> of the time series.</p> </li> <li> <p>The <code>assetId</code> and <code>propertyId</code> that identifies the asset property.</p> </li> </ul> </li> </ul>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DeleteWorkspace":{
      "name":"DeleteWorkspace",
      "http":{
        "method":"DELETE",
        "requestUri":"/workspaces/{workspaceName}"
      },
      "input":{"shape":"DeleteWorkspaceRequest"},
      "output":{"shape":"DeleteWorkspaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ConflictingOperationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a workspace. Before you delete a workspace, you must delete all resources contained in or associated with the workspace, such as datasets, time series, pipelines, and tasks.</p>",
      "endpoint":{"hostPrefix":"api."},
      "idempotent":true
    },
    "DescribeAccessPolicy":{
      "name":"DescribeAccessPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/access-policies/{accessPolicyId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeAccessPolicyRequest"},
      "output":{"shape":"DescribeAccessPolicyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Describes an access policy, which specifies an identity's access to an IoT SiteWise Monitor portal or project.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "DescribeAction":{
      "name":"DescribeAction",
      "http":{
        "method":"GET",
        "requestUri":"/actions/{actionId}"
      },
      "input":{"shape":"DescribeActionRequest"},
      "output":{"shape":"DescribeActionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about an action.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeApplication":{
      "name":"DescribeApplication",
      "http":{
        "method":"GET",
        "requestUri":"/workspaces/{workspaceName}/applications/{id}",
        "responseCode":200
      },
      "input":{"shape":"DescribeApplicationRequest"},
      "output":{"shape":"DescribeApplicationResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves Application details based on the ID</p>",
      "endpoint":{"hostPrefix":"api."},
      "readonly":true
    },
    "DescribeAsset":{
      "name":"DescribeAsset",
      "http":{
        "method":"GET",
        "requestUri":"/assets/{assetId}"
      },
      "input":{"shape":"DescribeAssetRequest"},
      "output":{"shape":"DescribeAssetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about an asset.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeAssetCompositeModel":{
      "name":"DescribeAssetCompositeModel",
      "http":{
        "method":"GET",
        "requestUri":"/assets/{assetId}/composite-models/{assetCompositeModelId}"
      },
      "input":{"shape":"DescribeAssetCompositeModelRequest"},
      "output":{"shape":"DescribeAssetCompositeModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about an asset composite model (also known as an asset component). An <code>AssetCompositeModel</code> is an instance of an <code>AssetModelCompositeModel</code>. If you want to see information about the model this is based on, call <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_DescribeAssetModelCompositeModel.html\">DescribeAssetModelCompositeModel</a>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeAssetModel":{
      "name":"DescribeAssetModel",
      "http":{
        "method":"GET",
        "requestUri":"/asset-models/{assetModelId}"
      },
      "input":{"shape":"DescribeAssetModelRequest"},
      "output":{"shape":"DescribeAssetModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about an asset model. This includes details about the asset model's properties, hierarchies, composite models, and any interface relationships if the asset model implements interfaces.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeAssetModelCompositeModel":{
      "name":"DescribeAssetModelCompositeModel",
      "http":{
        "method":"GET",
        "requestUri":"/asset-models/{assetModelId}/composite-models/{assetModelCompositeModelId}"
      },
      "input":{"shape":"DescribeAssetModelCompositeModelRequest"},
      "output":{"shape":"DescribeAssetModelCompositeModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about an asset model composite model (also known as an asset model component). For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/custom-composite-models.html\">Custom composite models (Components)</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeAssetModelInterfaceRelationship":{
      "name":"DescribeAssetModelInterfaceRelationship",
      "http":{
        "method":"GET",
        "requestUri":"/asset-models/{assetModelId}/interface/{interfaceAssetModelId}/asset-model-interface-relationship"
      },
      "input":{"shape":"DescribeAssetModelInterfaceRelationshipRequest"},
      "output":{"shape":"DescribeAssetModelInterfaceRelationshipResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about an interface relationship between an asset model and an interface asset model.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeAssetProperty":{
      "name":"DescribeAssetProperty",
      "http":{
        "method":"GET",
        "requestUri":"/assets/{assetId}/properties/{propertyId}"
      },
      "input":{"shape":"DescribeAssetPropertyRequest"},
      "output":{"shape":"DescribeAssetPropertyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about an asset property.</p> <note> <p>When you call this operation for an attribute property, this response includes the default attribute value that you define in the asset model. If you update the default value in the model, this operation's response includes the new default value.</p> </note> <p>This operation doesn't return the value of the asset property. To get the value of an asset property, use <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_GetAssetPropertyValue.html\">GetAssetPropertyValue</a>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeBulkImportJob":{
      "name":"DescribeBulkImportJob",
      "http":{
        "method":"GET",
        "requestUri":"/jobs/{jobId}"
      },
      "input":{"shape":"DescribeBulkImportJobRequest"},
      "output":{"shape":"DescribeBulkImportJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a bulk import job request. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/DescribeBulkImportJob.html\">Describe a bulk import job (CLI)</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"data."}
    },
    "DescribeComputationModel":{
      "name":"DescribeComputationModel",
      "http":{
        "method":"GET",
        "requestUri":"/computation-models/{computationModelId}"
      },
      "input":{"shape":"DescribeComputationModelRequest"},
      "output":{"shape":"DescribeComputationModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a computation model.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeComputationModelExecutionSummary":{
      "name":"DescribeComputationModelExecutionSummary",
      "http":{
        "method":"GET",
        "requestUri":"/computation-models/{computationModelId}/execution-summary"
      },
      "input":{"shape":"DescribeComputationModelExecutionSummaryRequest"},
      "output":{"shape":"DescribeComputationModelExecutionSummaryResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about the execution summary of a computation model.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeDashboard":{
      "name":"DescribeDashboard",
      "http":{
        "method":"GET",
        "requestUri":"/dashboards/{dashboardId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeDashboardRequest"},
      "output":{"shape":"DescribeDashboardResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a dashboard.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "DescribeDataset":{
      "name":"DescribeDataset",
      "http":{
        "method":"GET",
        "requestUri":"/datasets/{datasetId}"
      },
      "input":{"shape":"DescribeDatasetRequest"},
      "output":{"shape":"DescribeDatasetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a dataset.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeDatasetExportJob":{
      "name":"DescribeDatasetExportJob",
      "http":{
        "method":"GET",
        "requestUri":"/workspaces/{workspaceName}/dataset-export-jobs/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeDatasetExportJobRequest"},
      "output":{"shape":"DescribeDatasetExportJobResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a dataset export job.</p>",
      "endpoint":{"hostPrefix":"data."},
      "readonly":true
    },
    "DescribeDefaultEncryptionConfiguration":{
      "name":"DescribeDefaultEncryptionConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/configuration/account/encryption"
      },
      "input":{"shape":"DescribeDefaultEncryptionConfigurationRequest"},
      "output":{"shape":"DescribeDefaultEncryptionConfigurationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about the default encryption configuration for the Amazon Web Services account in the default or specified Region. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/key-management.html\">Key management</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeEnrichmentJob":{
      "name":"DescribeEnrichmentJob",
      "http":{
        "method":"GET",
        "requestUri":"/workspaces/{workspaceName}/enrichment-jobs/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeEnrichmentJobRequest"},
      "output":{"shape":"DescribeEnrichmentJobResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Retrieves detailed information about a specific enrichment job, including its current status, configuration, and timestamps.</p> <h2>Use Cases</h2> <ul> <li>Monitor job progress by checking status updates with DescribeEnrichmentJob</li> <li>Retrieve the complete job configuration submitted during creation</li> <li>Debug failed jobs by examining the failureMessage field</li> <li>Track job lifecycle with creation, update, completion, and cancellation timestamps</li> </ul> <h2>Status Monitoring</h2> <p>Jobs progress through statuses: PENDING → RUNNING → terminal state</p> <p>Terminal states:</p> <ul> <li>COMPLETED: Job finished successfully; query IoT SiteWise for semantic search results</li> <li>FAILED: Job encountered an error; check failureMessage for details</li> <li>TIMED_OUT: Job exceeded maximum processing time</li> <li>CANCELLED: Job was cancelled via CancelEnrichmentJob</li> </ul> <h2>Response Fields</h2> <p>The response includes:</p> <ul> <li>Current job status and type</li> <li>Full job configuration as originally submitted</li> <li>Lifecycle timestamps (created, updated, completed, cancelled)</li> <li>Failure details if status is FAILED</li> </ul>",
      "endpoint":{"hostPrefix":"data."},
      "readonly":true
    },
    "DescribeExecution":{
      "name":"DescribeExecution",
      "http":{
        "method":"GET",
        "requestUri":"/executions/{executionId}"
      },
      "input":{"shape":"DescribeExecutionRequest"},
      "output":{"shape":"DescribeExecutionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about the execution.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeGateway":{
      "name":"DescribeGateway",
      "http":{
        "method":"GET",
        "requestUri":"/20200301/gateways/{gatewayId}"
      },
      "input":{"shape":"DescribeGatewayRequest"},
      "output":{"shape":"DescribeGatewayResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a gateway.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeGatewayCapabilityConfiguration":{
      "name":"DescribeGatewayCapabilityConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/20200301/gateways/{gatewayId}/capability/{capabilityNamespace}"
      },
      "input":{"shape":"DescribeGatewayCapabilityConfigurationRequest"},
      "output":{"shape":"DescribeGatewayCapabilityConfigurationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Each gateway capability defines data sources for a gateway. This is the namespace of the gateway capability.</p> <p>. The namespace follows the format <code>service:capability:version</code>, where:</p> <ul> <li> <p> <code>service</code> - The service providing the capability, or <code>iotsitewise</code>.</p> </li> <li> <p> <code>capability</code> - The specific capability type. Options include: <code>opcuacollector</code> for the OPC UA data source collector, or <code>publisher</code> for data publisher capability.</p> </li> <li> <p> <code>version</code> - The version number of the capability. Option include <code>2</code> for Classic streams, V2 gateways, and <code>3</code> for MQTT-enabled, V3 gateways.</p> </li> </ul> <p>After updating a capability configuration, the sync status becomes <code>OUT_OF_SYNC</code> until the gateway processes the configuration.Use <code>DescribeGatewayCapabilityConfiguration</code> to check the sync status and verify the configuration was applied.</p> <p>A gateway can have multiple capability configurations with different namespaces.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeLoggingOptions":{
      "name":"DescribeLoggingOptions",
      "http":{
        "method":"GET",
        "requestUri":"/logging"
      },
      "input":{"shape":"DescribeLoggingOptionsRequest"},
      "output":{"shape":"DescribeLoggingOptionsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the current IoT SiteWise logging options.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribePipeline":{
      "name":"DescribePipeline",
      "http":{
        "method":"GET",
        "requestUri":"/workspaces/{workspaceName}/pipelines/{pipelineName}",
        "responseCode":200
      },
      "input":{"shape":"DescribePipelineRequest"},
      "output":{"shape":"DescribePipelineResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves detailed information about a specific pipeline in a workspace.</p>",
      "endpoint":{"hostPrefix":"api."},
      "readonly":true
    },
    "DescribePipelineExecution":{
      "name":"DescribePipelineExecution",
      "http":{
        "method":"GET",
        "requestUri":"/workspaces/{workspaceName}/pipelines/{pipelineName}/executions/{pipelineExecutionId}",
        "responseCode":200
      },
      "input":{"shape":"DescribePipelineExecutionRequest"},
      "output":{"shape":"DescribePipelineExecutionResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves detailed information about a specific pipeline execution, including the overall execution status and the status of each individual compute node. Use this operation to monitor execution progress and inspect per-node results, environment variables, and error details.</p>",
      "endpoint":{"hostPrefix":"data."},
      "readonly":true
    },
    "DescribePortal":{
      "name":"DescribePortal",
      "http":{
        "method":"GET",
        "requestUri":"/portals/{portalId}",
        "responseCode":200
      },
      "input":{"shape":"DescribePortalRequest"},
      "output":{"shape":"DescribePortalResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a portal.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "DescribeProject":{
      "name":"DescribeProject",
      "http":{
        "method":"GET",
        "requestUri":"/projects/{projectId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeProjectRequest"},
      "output":{"shape":"DescribeProjectResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a project.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "DescribeQuery":{
      "name":"DescribeQuery",
      "http":{
        "method":"GET",
        "requestUri":"/workspaces/{workspaceName}/queries/{queryId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeQueryRequest"},
      "output":{"shape":"DescribeQueryResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a query, including its status.</p>",
      "endpoint":{"hostPrefix":"data."},
      "readonly":true
    },
    "DescribeSearch":{
      "name":"DescribeSearch",
      "http":{
        "method":"GET",
        "requestUri":"/workspaces/{workspaceName}/searches/{searchId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeSearchRequest"},
      "output":{"shape":"DescribeSearchResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns the current status and metadata of a single search, including the query that was submitted, the search type, and — when the search has failed — the reason. Use this to poll a search started with <code>StartSearch</code> until it reaches a terminal status (<code>SUCCEEDED</code> or <code>FAILED</code>).</p>",
      "endpoint":{"hostPrefix":"data."},
      "readonly":true
    },
    "DescribeStorageConfiguration":{
      "name":"DescribeStorageConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/configuration/account/storage"
      },
      "input":{"shape":"DescribeStorageConfigurationRequest"},
      "output":{"shape":"DescribeStorageConfigurationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Retrieves information about the storage configuration for IoT SiteWise.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeTask":{
      "name":"DescribeTask",
      "http":{
        "method":"GET",
        "requestUri":"/workspaces/{workspaceName}/tasks/{taskName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeTaskRequest"},
      "output":{"shape":"DescribeTaskResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves detailed information about a specific task in a workspace.</p>",
      "endpoint":{"hostPrefix":"api."},
      "readonly":true
    },
    "DescribeTimeSeries":{
      "name":"DescribeTimeSeries",
      "http":{
        "method":"GET",
        "requestUri":"/timeseries/describe/"
      },
      "input":{"shape":"DescribeTimeSeriesRequest"},
      "output":{"shape":"DescribeTimeSeriesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a time series (data stream).</p> <p>To identify a time series, do one of the following:</p> <ul> <li> <p>If the time series isn't associated with an asset property, specify the <code>alias</code> of the time series.</p> </li> <li> <p>If the time series is associated with an asset property, specify one of the following: </p> <ul> <li> <p>The <code>alias</code> of the time series.</p> </li> <li> <p>The <code>assetId</code> and <code>propertyId</code> that identifies the asset property.</p> </li> </ul> </li> </ul>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeWorkspace":{
      "name":"DescribeWorkspace",
      "http":{
        "method":"GET",
        "requestUri":"/workspaces/{workspaceName}"
      },
      "input":{"shape":"DescribeWorkspaceRequest"},
      "output":{"shape":"DescribeWorkspaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Retrieves information about a workspace.</p>",
      "endpoint":{"hostPrefix":"api."},
      "readonly":true
    },
    "DisassociateAssets":{
      "name":"DisassociateAssets",
      "http":{
        "method":"POST",
        "requestUri":"/assets/{assetId}/disassociate"
      },
      "input":{"shape":"DisassociateAssetsRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Disassociates a child asset from the given parent asset through a hierarchy defined in the parent asset's model.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DisassociateTimeSeriesFromAssetProperty":{
      "name":"DisassociateTimeSeriesFromAssetProperty",
      "http":{
        "method":"POST",
        "requestUri":"/timeseries/disassociate/"
      },
      "input":{"shape":"DisassociateTimeSeriesFromAssetPropertyRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Disassociates a time series (data stream) from an asset property.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ExecuteAction":{
      "name":"ExecuteAction",
      "http":{
        "method":"POST",
        "requestUri":"/actions",
        "responseCode":202
      },
      "input":{"shape":"ExecuteActionRequest"},
      "output":{"shape":"ExecuteActionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Executes an action on a target resource.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ExecuteQuery":{
      "name":"ExecuteQuery",
      "http":{
        "method":"POST",
        "requestUri":"/queries/execution"
      },
      "input":{"shape":"ExecuteQueryRequest"},
      "output":{"shape":"ExecuteQueryResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"QueryTimeoutException"},
        {"shape":"InternalFailureException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Run SQL queries to retrieve metadata and time-series data from asset models, assets, measurements, metrics, transforms, and aggregates.</p>",
      "endpoint":{"hostPrefix":"data."}
    },
    "GetAssetPropertyAggregates":{
      "name":"GetAssetPropertyAggregates",
      "http":{
        "method":"GET",
        "requestUri":"/properties/aggregates"
      },
      "input":{"shape":"GetAssetPropertyAggregatesRequest"},
      "output":{"shape":"GetAssetPropertyAggregatesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Gets aggregated values for an asset property. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/query-industrial-data.html#aggregates\">Querying aggregates</a> in the <i>IoT SiteWise User Guide</i>.</p> <p>To identify an asset property, you must specify one of the following:</p> <ul> <li> <p>The <code>assetId</code> and <code>propertyId</code> of an asset property.</p> </li> <li> <p>A <code>propertyAlias</code>, which is a data stream alias (for example, <code>/company/windfarm/3/turbine/7/temperature</code>). To define an asset property's alias, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetProperty.html\">UpdateAssetProperty</a>.</p> </li> </ul>",
      "endpoint":{"hostPrefix":"data."}
    },
    "GetAssetPropertyValue":{
      "name":"GetAssetPropertyValue",
      "http":{
        "method":"GET",
        "requestUri":"/properties/latest"
      },
      "input":{"shape":"GetAssetPropertyValueRequest"},
      "output":{"shape":"GetAssetPropertyValueResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Gets an asset property's current value. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/query-industrial-data.html#current-values\">Querying current values</a> in the <i>IoT SiteWise User Guide</i>.</p> <p>To identify an asset property, you must specify one of the following:</p> <ul> <li> <p>The <code>assetId</code> and <code>propertyId</code> of an asset property.</p> </li> <li> <p>A <code>propertyAlias</code>, which is a data stream alias (for example, <code>/company/windfarm/3/turbine/7/temperature</code>). To define an asset property's alias, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetProperty.html\">UpdateAssetProperty</a>.</p> </li> </ul>",
      "endpoint":{"hostPrefix":"data."}
    },
    "GetAssetPropertyValueHistory":{
      "name":"GetAssetPropertyValueHistory",
      "http":{
        "method":"GET",
        "requestUri":"/properties/history"
      },
      "input":{"shape":"GetAssetPropertyValueHistoryRequest"},
      "output":{"shape":"GetAssetPropertyValueHistoryResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Gets the history of an asset property's values. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/query-industrial-data.html#historical-values\">Querying historical values</a> in the <i>IoT SiteWise User Guide</i>.</p> <p>To identify an asset property, you must specify one of the following:</p> <ul> <li> <p>The <code>assetId</code> and <code>propertyId</code> of an asset property.</p> </li> <li> <p>A <code>propertyAlias</code>, which is a data stream alias (for example, <code>/company/windfarm/3/turbine/7/temperature</code>). To define an asset property's alias, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetProperty.html\">UpdateAssetProperty</a>.</p> </li> </ul>",
      "endpoint":{"hostPrefix":"data."}
    },
    "GetCaptureData":{
      "name":"GetCaptureData",
      "http":{
        "method":"POST",
        "requestUri":"/workspaces/{workspaceName}/get-capture-data",
        "responseCode":200
      },
      "input":{"shape":"GetCaptureDataRequest"},
      "output":{"shape":"GetCaptureDataResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves video data for a specific time range.</p>",
      "endpoint":{"hostPrefix":"data."},
      "readonly":true
    },
    "GetInterpolatedAssetPropertyValues":{
      "name":"GetInterpolatedAssetPropertyValues",
      "http":{
        "method":"GET",
        "requestUri":"/properties/interpolated"
      },
      "input":{"shape":"GetInterpolatedAssetPropertyValuesRequest"},
      "output":{"shape":"GetInterpolatedAssetPropertyValuesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Get interpolated values for an asset property for a specified time interval, during a period of time. If your time series is missing data points during the specified time interval, you can use interpolation to estimate the missing data.</p> <p>For example, you can use this operation to return the interpolated temperature values for a wind turbine every 24 hours over a duration of 7 days.</p> <p>To identify an asset property, you must specify one of the following:</p> <ul> <li> <p>The <code>assetId</code> and <code>propertyId</code> of an asset property.</p> </li> <li> <p>A <code>propertyAlias</code>, which is a data stream alias (for example, <code>/company/windfarm/3/turbine/7/temperature</code>). To define an asset property's alias, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetProperty.html\">UpdateAssetProperty</a>.</p> </li> </ul>",
      "endpoint":{"hostPrefix":"data."}
    },
    "GetQueryResults":{
      "name":"GetQueryResults",
      "http":{
        "method":"GET",
        "requestUri":"/workspaces/{workspaceName}/queries/{queryId}/results",
        "responseCode":200
      },
      "input":{"shape":"GetQueryResultsRequest"},
      "output":{"shape":"GetQueryResultsResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the paginated results of a query. Returns empty rows if the query is not yet complete.</p>",
      "endpoint":{"hostPrefix":"data."},
      "readonly":true
    },
    "GetSearchResults":{
      "name":"GetSearchResults",
      "http":{
        "method":"GET",
        "requestUri":"/workspaces/{workspaceName}/searches/{searchId}/results",
        "responseCode":200
      },
      "input":{"shape":"GetSearchResultsRequest"},
      "output":{"shape":"GetSearchResultsResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the ranked results of a search, ordered by descending relevance score. Results are available only after the search has reached the <code>SUCCEEDED</code> status. Calling this on a search that exists but has not yet completed returns <code>InvalidRequestException</code>, while calling it on a search that does not exist returns <code>ResourceNotFoundException</code>. The response is paginated: when <code>nextToken</code> is present, pass it on a subsequent call to retrieve the next page.</p>",
      "endpoint":{"hostPrefix":"data."},
      "readonly":true
    },
    "InvokeAssistant":{
      "name":"InvokeAssistant",
      "http":{
        "method":"POST",
        "requestUri":"/assistant/invocation",
        "responseCode":200
      },
      "input":{"shape":"InvokeAssistantRequest"},
      "output":{"shape":"InvokeAssistantResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Invokes SiteWise Assistant to start or continue a conversation.</p>",
      "endpoint":{"hostPrefix":"data."}
    },
    "ListAccessPolicies":{
      "name":"ListAccessPolicies",
      "http":{
        "method":"GET",
        "requestUri":"/access-policies",
        "responseCode":200
      },
      "input":{"shape":"ListAccessPoliciesRequest"},
      "output":{"shape":"ListAccessPoliciesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of access policies for an identity (an IAM Identity Center user, an IAM Identity Center group, or an IAM user) or an IoT SiteWise Monitor resource (a portal or project).</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "ListActions":{
      "name":"ListActions",
      "http":{
        "method":"GET",
        "requestUri":"/actions"
      },
      "input":{"shape":"ListActionsRequest"},
      "output":{"shape":"ListActionsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of actions for a specific target resource.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListApplications":{
      "name":"ListApplications",
      "http":{
        "method":"GET",
        "requestUri":"/applications",
        "responseCode":200
      },
      "input":{"shape":"ListApplicationsRequest"},
      "output":{"shape":"ListApplicationsResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of existing applications</p>",
      "endpoint":{"hostPrefix":"api."},
      "readonly":true
    },
    "ListAssetModelCompositeModels":{
      "name":"ListAssetModelCompositeModels",
      "http":{
        "method":"GET",
        "requestUri":"/asset-models/{assetModelId}/composite-models"
      },
      "input":{"shape":"ListAssetModelCompositeModelsRequest"},
      "output":{"shape":"ListAssetModelCompositeModelsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a paginated list of composite models associated with the asset model</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListAssetModelProperties":{
      "name":"ListAssetModelProperties",
      "http":{
        "method":"GET",
        "requestUri":"/asset-models/{assetModelId}/properties"
      },
      "input":{"shape":"ListAssetModelPropertiesRequest"},
      "output":{"shape":"ListAssetModelPropertiesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of properties associated with an asset model. If you update properties associated with the model before you finish listing all the properties, you need to start all over again.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListAssetModels":{
      "name":"ListAssetModels",
      "http":{
        "method":"GET",
        "requestUri":"/asset-models"
      },
      "input":{"shape":"ListAssetModelsRequest"},
      "output":{"shape":"ListAssetModelsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of summaries of all asset models.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListAssetProperties":{
      "name":"ListAssetProperties",
      "http":{
        "method":"GET",
        "requestUri":"/assets/{assetId}/properties"
      },
      "input":{"shape":"ListAssetPropertiesRequest"},
      "output":{"shape":"ListAssetPropertiesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of properties associated with an asset. If you update properties associated with the model before you finish listing all the properties, you need to start all over again.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListAssetRelationships":{
      "name":"ListAssetRelationships",
      "http":{
        "method":"GET",
        "requestUri":"/assets/{assetId}/assetRelationships"
      },
      "input":{"shape":"ListAssetRelationshipsRequest"},
      "output":{"shape":"ListAssetRelationshipsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of asset relationships for an asset. You can use this operation to identify an asset's root asset and all associated assets between that asset and its root.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListAssets":{
      "name":"ListAssets",
      "http":{
        "method":"GET",
        "requestUri":"/assets"
      },
      "input":{"shape":"ListAssetsRequest"},
      "output":{"shape":"ListAssetsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of asset summaries.</p> <p>You can use this operation to do the following:</p> <ul> <li> <p>List assets based on a specific asset model.</p> </li> <li> <p>List top-level assets.</p> </li> </ul> <p>You can't use this operation to list all assets. To retrieve summaries for all of your assets, use <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_ListAssetModels.html\">ListAssetModels</a> to get all of your asset model IDs. Then, use ListAssets to get all assets for each asset model.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListAssociatedAssets":{
      "name":"ListAssociatedAssets",
      "http":{
        "method":"GET",
        "requestUri":"/assets/{assetId}/hierarchies"
      },
      "input":{"shape":"ListAssociatedAssetsRequest"},
      "output":{"shape":"ListAssociatedAssetsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of associated assets.</p> <p>You can use this operation to do the following:</p> <ul> <li> <p> <code>CHILD</code> - List all child assets associated to the asset.</p> </li> <li> <p> <code>PARENT</code> - List the asset's parent asset.</p> </li> </ul>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListBulkImportJobs":{
      "name":"ListBulkImportJobs",
      "http":{
        "method":"GET",
        "requestUri":"/jobs"
      },
      "input":{"shape":"ListBulkImportJobsRequest"},
      "output":{"shape":"ListBulkImportJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of bulk import job requests. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/ListBulkImportJobs.html\">List bulk import jobs (CLI)</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"data."}
    },
    "ListCompositionRelationships":{
      "name":"ListCompositionRelationships",
      "http":{
        "method":"GET",
        "requestUri":"/asset-models/{assetModelId}/composition-relationships"
      },
      "input":{"shape":"ListCompositionRelationshipsRequest"},
      "output":{"shape":"ListCompositionRelationshipsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of composition relationships for an asset model of type <code>COMPONENT_MODEL</code>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListComputationModelDataBindingUsages":{
      "name":"ListComputationModelDataBindingUsages",
      "http":{
        "method":"POST",
        "requestUri":"/computation-models/data-binding-usages"
      },
      "input":{"shape":"ListComputationModelDataBindingUsagesRequest"},
      "output":{"shape":"ListComputationModelDataBindingUsagesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
[...]
