{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2019-12-02",
    "endpointPrefix":"imagebuilder",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"imagebuilder",
    "serviceFullName":"EC2 Image Builder",
    "serviceId":"imagebuilder",
    "signatureVersion":"v4",
    "signingName":"imagebuilder",
    "uid":"imagebuilder-2019-12-02",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "CancelImageCreation":{
      "name":"CancelImageCreation",
      "http":{
        "method":"PUT",
        "requestUri":"/CancelImageCreation"
      },
      "input":{"shape":"CancelImageCreationRequest"},
      "output":{"shape":"CancelImageCreationResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Cancels the creation of an image. This operation can only be used on images in a non-terminal state. Cancellation is asynchronous: the request returns immediately, then Image Builder stops the running build and moves the image to the <code>CANCELLED</code> state. Output resources that the build already created, such as AMIs and snapshots, aren't removed.</p>"
    },
    "CancelLifecycleExecution":{
      "name":"CancelLifecycleExecution",
      "http":{
        "method":"PUT",
        "requestUri":"/CancelLifecycleExecution"
      },
      "input":{"shape":"CancelLifecycleExecutionRequest"},
      "output":{"shape":"CancelLifecycleExecutionResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Cancels a lifecycle execution – a single run of lifecycle actions that a lifecycle policy or a <a>StartResourceStateUpdate</a> request started. You can only cancel an execution that hasn't reached a terminal state. Cancellation is asynchronous and doesn't undo completed lifecycle actions.</p>"
    },
    "CreateComponent":{
      "name":"CreateComponent",
      "http":{
        "method":"PUT",
        "requestUri":"/CreateComponent"
      },
      "input":{"shape":"CreateComponentRequest"},
      "output":{"shape":"CreateComponentResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"InvalidVersionNumberException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"DryRunOperationException"}
      ],
      "documentation":"<p>Creates a new component that can be used to build, validate, test, and assess your image. The component is based on a YAML document that you specify using exactly one of the following methods:</p> <ul> <li> <p>Inline, using the <code>data</code> property in the request body.</p> </li> <li> <p>A URL that points to a YAML document file stored in Amazon S3, using the <code>uri</code> property in the request body.</p> </li> </ul> <p>Image Builder determines the component type from the document. If the document contains a single phase named <code>test</code>, the component type is <code>TEST</code>. Otherwise, the component type is <code>BUILD</code>.</p>"
    },
    "CreateContainerRecipe":{
      "name":"CreateContainerRecipe",
      "http":{
        "method":"PUT",
        "requestUri":"/CreateContainerRecipe"
      },
      "input":{"shape":"CreateContainerRecipeRequest"},
      "output":{"shape":"CreateContainerRecipeResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"InvalidVersionNumberException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"DryRunOperationException"}
      ],
      "documentation":"<p>Creates a new container recipe. Container recipes define how images are configured, tested, and assessed.</p>"
    },
    "CreateDistributionConfiguration":{
      "name":"CreateDistributionConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/CreateDistributionConfiguration"
      },
      "input":{"shape":"CreateDistributionConfigurationRequest"},
      "output":{"shape":"CreateDistributionConfigurationResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"DryRunOperationException"}
      ],
      "documentation":"<p>Creates a new distribution configuration. Distribution configurations define and configure the outputs for your images, including the target Regions, accounts, and settings for each Region.</p>"
    },
    "CreateImage":{
      "name":"CreateImage",
      "http":{
        "method":"PUT",
        "requestUri":"/CreateImage"
      },
      "input":{"shape":"CreateImageRequest"},
      "output":{"shape":"CreateImageResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a new image along with all configured output resources defined in the distribution configuration. You must specify exactly one recipe for your image, using either a <code>containerRecipeArn</code> or an <code>imageRecipeArn</code>.</p> <p>The response returns as soon as Image Builder creates the new image resource. The image build process runs asynchronously. To check its progress, call <a href=\"https://docs.aws.amazon.com/imagebuilder/latest/APIReference/API_GetImage.html\">GetImage</a> and check the image status.</p>"
    },
    "CreateImagePipeline":{
      "name":"CreateImagePipeline",
      "http":{
        "method":"PUT",
        "requestUri":"/CreateImagePipeline"
      },
      "input":{"shape":"CreateImagePipelineRequest"},
      "output":{"shape":"CreateImagePipelineResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"DryRunOperationException"}
      ],
      "documentation":"<p>Creates a new image pipeline. Use image pipelines to automate the creation and distribution of images. You must specify exactly one recipe for the pipeline, using either a <code>containerRecipeArn</code> or an <code>imageRecipeArn</code>.</p>"
    },
    "CreateImageRecipe":{
      "name":"CreateImageRecipe",
      "http":{
        "method":"PUT",
        "requestUri":"/CreateImageRecipe"
      },
      "input":{"shape":"CreateImageRecipeRequest"},
      "output":{"shape":"CreateImageRecipeResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"InvalidVersionNumberException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"DryRunOperationException"}
      ],
      "documentation":"<p>Creates a new image recipe. Image recipes define how images are configured, tested, and assessed.</p>"
    },
    "CreateInfrastructureConfiguration":{
      "name":"CreateInfrastructureConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/CreateInfrastructureConfiguration"
      },
      "input":{"shape":"CreateInfrastructureConfigurationRequest"},
      "output":{"shape":"CreateInfrastructureConfigurationResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"DryRunOperationException"}
      ],
      "documentation":"<p>Creates a new infrastructure configuration. An infrastructure configuration defines the environment in which your image will be built and tested.</p>"
    },
    "CreateLifecyclePolicy":{
      "name":"CreateLifecyclePolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/CreateLifecyclePolicy"
      },
      "input":{"shape":"CreateLifecyclePolicyRequest"},
      "output":{"shape":"CreateLifecyclePolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"DryRunOperationException"}
      ],
      "documentation":"<p>Creates a lifecycle policy resource.</p>"
    },
    "CreateWorkflow":{
      "name":"CreateWorkflow",
      "http":{
        "method":"PUT",
        "requestUri":"/CreateWorkflow"
      },
      "input":{"shape":"CreateWorkflowRequest"},
      "output":{"shape":"CreateWorkflowResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"InvalidVersionNumberException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"DryRunOperationException"}
      ],
      "documentation":"<p>Creates a new workflow or a new version of an existing workflow. If a workflow with the same name and semantic version already exists, and your request changes its configuration, Image Builder creates a new build version. If the configuration is identical to the latest build version, the request fails because that workflow configuration already exists.</p>"
    },
    "DeleteComponent":{
      "name":"DeleteComponent",
      "http":{
        "method":"DELETE",
        "requestUri":"/DeleteComponent"
      },
      "input":{"shape":"DeleteComponentRequest"},
      "output":{"shape":"DeleteComponentResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceDependencyException"}
      ],
      "documentation":"<p>Deletes a component build version. The request fails with <code>ResourceDependencyException</code> if an image recipe or container recipe references this component version. It also fails if the component build version is shared with other accounts.</p>"
    },
    "DeleteContainerRecipe":{
      "name":"DeleteContainerRecipe",
      "http":{
        "method":"DELETE",
        "requestUri":"/DeleteContainerRecipe"
      },
      "input":{"shape":"DeleteContainerRecipeRequest"},
      "output":{"shape":"DeleteContainerRecipeResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceDependencyException"}
      ],
      "documentation":"<p>Deletes a container recipe. The request fails with <code>ResourceDependencyException</code> if the recipe is shared with other accounts, or if an image pipeline references it.</p>"
    },
    "DeleteDistributionConfiguration":{
      "name":"DeleteDistributionConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/DeleteDistributionConfiguration"
      },
      "input":{"shape":"DeleteDistributionConfigurationRequest"},
      "output":{"shape":"DeleteDistributionConfigurationResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceDependencyException"}
      ],
      "documentation":"<p>Deletes a distribution configuration. You can't delete a configuration that an image pipeline still references. The request fails with <code>ResourceDependencyException</code>. Update or delete the referencing pipelines first.</p>"
    },
    "DeleteImage":{
      "name":"DeleteImage",
      "http":{
        "method":"DELETE",
        "requestUri":"/DeleteImage"
      },
      "input":{"shape":"DeleteImageRequest"},
      "output":{"shape":"DeleteImageResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceDependencyException"}
      ],
      "documentation":"<p>Deletes an Image Builder image resource. This does not delete any EC2 AMIs or ECR container images that are created during the image build process. You must clean those up separately, using the appropriate Amazon EC2 or Amazon ECR console actions, or API or CLI commands.</p> <p>The request fails with <code>ResourceDependencyException</code> if the image is shared with other accounts, or if other resources depend on it. It also fails while the image build is still running. Cancel an in-progress build with <a>CancelImageCreation</a> before you delete the image.</p> <ul> <li> <p>To deregister an EC2 Linux AMI, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/deregister-ami.html\">Deregister your Linux AMI</a> in the <i> <i>Amazon EC2 User Guide</i> </i>.</p> </li> <li> <p>To deregister an EC2 Windows AMI, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/deregister-ami.html\">Deregister your Windows AMI</a> in the <i> <i>Amazon EC2 Windows Guide</i> </i>.</p> </li> <li> <p>To delete a container image from Amazon ECR, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/delete_image.html\">Deleting an image</a> in the <i>Amazon ECR User Guide</i>.</p> </li> </ul>"
    },
    "DeleteImagePipeline":{
      "name":"DeleteImagePipeline",
      "http":{
        "method":"DELETE",
        "requestUri":"/DeleteImagePipeline"
      },
      "input":{"shape":"DeleteImagePipelineRequest"},
      "output":{"shape":"DeleteImagePipelineResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceDependencyException"}
      ],
      "documentation":"<p>Deletes an image pipeline. Images that the pipeline created aren't deleted - remove those separately with <a>DeleteImage</a>. You can delete a pipeline while a build that it started is still running. The build continues independently.</p>"
    },
    "DeleteImageRecipe":{
      "name":"DeleteImageRecipe",
      "http":{
        "method":"DELETE",
        "requestUri":"/DeleteImageRecipe"
      },
      "input":{"shape":"DeleteImageRecipeRequest"},
      "output":{"shape":"DeleteImageRecipeResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceDependencyException"}
      ],
      "documentation":"<p>Deletes an image recipe.</p>"
    },
    "DeleteInfrastructureConfiguration":{
      "name":"DeleteInfrastructureConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/DeleteInfrastructureConfiguration"
      },
      "input":{"shape":"DeleteInfrastructureConfigurationRequest"},
      "output":{"shape":"DeleteInfrastructureConfigurationResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceDependencyException"}
      ],
      "documentation":"<p>Deletes an infrastructure configuration. You can't delete a configuration that an image pipeline still references. The request fails with <code>ResourceDependencyException</code>. Update or delete the referencing pipelines first.</p>"
    },
    "DeleteLifecyclePolicy":{
      "name":"DeleteLifecyclePolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/DeleteLifecyclePolicy"
      },
      "input":{"shape":"DeleteLifecyclePolicyRequest"},
      "output":{"shape":"DeleteLifecyclePolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceDependencyException"}
      ],
      "documentation":"<p>Deletes the specified lifecycle policy resource. Deleting the policy removes its schedule, so no further lifecycle runs occur for that policy. If a lifecycle execution is in progress for the policy, Image Builder cancels it. Deletion doesn't revert actions that the policy already applied to your resources.</p>"
    },
    "DeleteWorkflow":{
      "name":"DeleteWorkflow",
      "http":{
        "method":"DELETE",
        "requestUri":"/DeleteWorkflow"
      },
      "input":{"shape":"DeleteWorkflowRequest"},
      "output":{"shape":"DeleteWorkflowResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceDependencyException"}
      ],
      "documentation":"<p>Deletes a specific workflow resource. You can't delete a workflow build version while an image pipeline references it. The request fails with <code>ResourceDependencyException</code>.</p>"
    },
    "DistributeImage":{
      "name":"DistributeImage",
      "http":{
        "method":"PUT",
        "requestUri":"/DistributeImage"
      },
      "input":{"shape":"DistributeImageRequest"},
      "output":{"shape":"DistributeImageResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Distributes an existing AMI to target Regions and accounts without running the full image build process. This operation only runs the distribution phase on an image that has already been built.</p>"
    },
    "GetComponent":{
      "name":"GetComponent",
      "http":{
        "method":"GET",
        "requestUri":"/GetComponent"
      },
      "input":{"shape":"GetComponentRequest"},
      "output":{"shape":"GetComponentResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Retrieves a component object.</p>"
    },
    "GetComponentPolicy":{
      "name":"GetComponentPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/GetComponentPolicy"
      },
      "input":{"shape":"GetComponentPolicyRequest"},
      "output":{"shape":"GetComponentPolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Retrieves a component policy.</p>"
    },
    "GetContainerRecipe":{
      "name":"GetContainerRecipe",
      "http":{
        "method":"GET",
        "requestUri":"/GetContainerRecipe"
      },
      "input":{"shape":"GetContainerRecipeRequest"},
      "output":{"shape":"GetContainerRecipeResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Retrieves a container recipe.</p>"
    },
    "GetContainerRecipePolicy":{
      "name":"GetContainerRecipePolicy",
      "http":{
        "method":"GET",
        "requestUri":"/GetContainerRecipePolicy"
      },
      "input":{"shape":"GetContainerRecipePolicyRequest"},
      "output":{"shape":"GetContainerRecipePolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Retrieves the policy for a container recipe.</p>"
    },
    "GetDistributionConfiguration":{
      "name":"GetDistributionConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/GetDistributionConfiguration"
      },
      "input":{"shape":"GetDistributionConfigurationRequest"},
      "output":{"shape":"GetDistributionConfigurationResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Retrieves a distribution configuration.</p>"
    },
    "GetImage":{
      "name":"GetImage",
      "http":{
        "method":"GET",
        "requestUri":"/GetImage"
      },
      "input":{"shape":"GetImageRequest"},
      "output":{"shape":"GetImageResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Retrieves an image.</p>"
    },
    "GetImagePipeline":{
      "name":"GetImagePipeline",
      "http":{
        "method":"GET",
        "requestUri":"/GetImagePipeline"
      },
      "input":{"shape":"GetImagePipelineRequest"},
      "output":{"shape":"GetImagePipelineResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Retrieves an image pipeline.</p>"
    },
    "GetImagePolicy":{
      "name":"GetImagePolicy",
      "http":{
        "method":"GET",
        "requestUri":"/GetImagePolicy"
      },
      "input":{"shape":"GetImagePolicyRequest"},
      "output":{"shape":"GetImagePolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Retrieves an image policy.</p>"
    },
    "GetImageRecipe":{
      "name":"GetImageRecipe",
      "http":{
        "method":"GET",
        "requestUri":"/GetImageRecipe"
      },
      "input":{"shape":"GetImageRecipeRequest"},
      "output":{"shape":"GetImageRecipeResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Retrieves an image recipe.</p>"
    },
    "GetImageRecipePolicy":{
      "name":"GetImageRecipePolicy",
      "http":{
        "method":"GET",
        "requestUri":"/GetImageRecipePolicy"
      },
      "input":{"shape":"GetImageRecipePolicyRequest"},
      "output":{"shape":"GetImageRecipePolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Retrieves an image recipe policy.</p>"
    },
    "GetInfrastructureConfiguration":{
      "name":"GetInfrastructureConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/GetInfrastructureConfiguration"
      },
      "input":{"shape":"GetInfrastructureConfigurationRequest"},
      "output":{"shape":"GetInfrastructureConfigurationResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Retrieves an infrastructure configuration.</p>"
    },
    "GetLifecycleExecution":{
      "name":"GetLifecycleExecution",
      "http":{
        "method":"GET",
        "requestUri":"/GetLifecycleExecution"
      },
      "input":{"shape":"GetLifecycleExecutionRequest"},
      "output":{"shape":"GetLifecycleExecutionResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Retrieves runtime information for a lifecycle execution – a single run of lifecycle actions that a lifecycle policy or a <a>StartResourceStateUpdate</a> request started.</p>"
    },
    "GetLifecyclePolicy":{
      "name":"GetLifecyclePolicy",
      "http":{
        "method":"GET",
        "requestUri":"/GetLifecyclePolicy"
      },
      "input":{"shape":"GetLifecyclePolicyRequest"},
      "output":{"shape":"GetLifecyclePolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Retrieves details for the specified image lifecycle policy.</p>"
    },
    "GetMarketplaceResource":{
      "name":"GetMarketplaceResource",
      "http":{
        "method":"POST",
        "requestUri":"/GetMarketplaceResource"
      },
      "input":{"shape":"GetMarketplaceResourceRequest"},
      "output":{"shape":"GetMarketplaceResourceResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Verifies the subscription and performs resource dependency checks on the requested Amazon Web Services Marketplace resource. The caller must be entitled to the resource. For Amazon Web Services Marketplace components, the response contains fields to download the components and their artifacts.</p>"
    },
    "GetWorkflow":{
      "name":"GetWorkflow",
      "http":{
        "method":"GET",
        "requestUri":"/GetWorkflow"
      },
      "input":{"shape":"GetWorkflowRequest"},
      "output":{"shape":"GetWorkflowResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Retrieves a workflow resource object.</p>"
    },
    "GetWorkflowExecution":{
      "name":"GetWorkflowExecution",
      "http":{
        "method":"GET",
        "requestUri":"/GetWorkflowExecution"
      },
      "input":{"shape":"GetWorkflowExecutionRequest"},
      "output":{"shape":"GetWorkflowExecutionResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Retrieves runtime information for a specific runtime instance of the workflow.</p>"
    },
    "GetWorkflowStepExecution":{
      "name":"GetWorkflowStepExecution",
      "http":{
        "method":"GET",
        "requestUri":"/GetWorkflowStepExecution"
      },
      "input":{"shape":"GetWorkflowStepExecutionRequest"},
      "output":{"shape":"GetWorkflowStepExecutionResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Retrieves runtime information for a specific runtime instance of the workflow step.</p>"
    },
    "ImportComponent":{
      "name":"ImportComponent",
      "http":{
        "method":"PUT",
        "requestUri":"/ImportComponent"
      },
      "input":{"shape":"ImportComponentRequest"},
      "output":{"shape":"ImportComponentResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"InvalidVersionNumberException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Imports a component and transforms its data into a component document. For the <code>SHELL</code> format, Image Builder wraps your script in a component document with a single step that runs the script.</p>"
    },
    "ImportDiskImage":{
      "name":"ImportDiskImage",
      "http":{
        "method":"PUT",
        "requestUri":"/ImportDiskImage"
      },
      "input":{"shape":"ImportDiskImageRequest"},
      "output":{"shape":"ImportDiskImageResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Imports a Windows operating system image from a verified Microsoft ISO disk file. The following disk images are supported:</p> <ul> <li> <p>Windows 11 Enterprise</p> </li> </ul> <p>The response returns as soon as Image Builder creates the new image resource in the <code>PENDING</code> state. The conversion from ISO file to AMI then runs asynchronously on an EC2 instance that Image Builder launches with the specified infrastructure configuration.</p>"
    },
    "ImportVmImage":{
      "name":"ImportVmImage",
      "http":{
        "method":"PUT",
        "requestUri":"/ImportVmImage"
      },
      "input":{"shape":"ImportVmImageRequest"},
      "output":{"shape":"ImportVmImageResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Creates an Image Builder image resource from an Amazon EC2 VM import task. The response returns as soon as Image Builder creates the image resource in the <code>PENDING</code> state. Image Builder then monitors the import task asynchronously. When the task completes, Image Builder records the AMI that it produced as the new image's output resource and marks the image <code>AVAILABLE</code>. You can then use the imported image as the base image for your recipes.</p> <p>To create the VM import task, use the Amazon EC2 API <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_ImportImage.html\">ImportImage</a> operation, or the <a href=\"https://docs.aws.amazon.com/cli/latest/reference/ec2/import-image.html\">import-image</a> CLI command.</p>"
    },
    "ListComponentBuildVersions":{
      "name":"ListComponentBuildVersions",
      "http":{
        "method":"POST",
        "requestUri":"/ListComponentBuildVersions"
      },
      "input":{"shape":"ListComponentBuildVersionsRequest"},
      "output":{"shape":"ListComponentBuildVersionsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of component build versions for the specified component version ARN. You can only list build versions for components that your account owns. Deprecated build versions aren't included in the results.</p>"
    },
    "ListComponents":{
      "name":"ListComponents",
      "http":{
        "method":"POST",
        "requestUri":"/ListComponents"
      },
      "input":{"shape":"ListComponentsRequest"},
      "output":{"shape":"ListComponentsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns the list of components that you have access to. By default, the response doesn't include components in the <code>DEPRECATED</code> state. To list deprecated components, use the <code>status</code> filter with the value <code>DEPRECATED</code>.</p> <note> <p>The semantic version has four nodes: &lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;/&lt;build&gt;. You can assign values for the first three, and can filter on all of them.</p> <p> <b>Filtering:</b> You can use wildcards (x) to specify the most recent versions or nodes when selecting the base image or components for your recipe. When you use a wildcard in any node, all nodes to the right of the first wildcard must also be wildcards.</p> </note>"
    },
    "ListContainerRecipes":{
      "name":"ListContainerRecipes",
      "http":{
        "method":"POST",
        "requestUri":"/ListContainerRecipes"
      },
      "input":{"shape":"ListContainerRecipesRequest"},
      "output":{"shape":"ListContainerRecipesResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of container recipes.</p>"
    },
    "ListDistributionConfigurations":{
      "name":"ListDistributionConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/ListDistributionConfigurations"
      },
      "input":{"shape":"ListDistributionConfigurationsRequest"},
      "output":{"shape":"ListDistributionConfigurationsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of distribution configurations.</p>"
    },
    "ListImageBuildVersions":{
      "name":"ListImageBuildVersions",
      "http":{
        "method":"POST",
        "requestUri":"/ListImageBuildVersions"
      },
      "input":{"shape":"ListImageBuildVersionsRequest"},
      "output":{"shape":"ListImageBuildVersionsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of image build versions.</p>"
    },
    "ListImagePackages":{
      "name":"ListImagePackages",
      "http":{
        "method":"POST",
        "requestUri":"/ListImagePackages"
      },
      "input":{"shape":"ListImagePackagesRequest"},
      "output":{"shape":"ListImagePackagesResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Lists the packages that are associated with an image build version, as determined by Amazon Web Services Systems Manager Inventory at build time.</p>"
    },
    "ListImagePipelineImages":{
      "name":"ListImagePipelineImages",
      "http":{
        "method":"POST",
        "requestUri":"/ListImagePipelineImages"
      },
      "input":{"shape":"ListImagePipelineImagesRequest"},
      "output":{"shape":"ListImagePipelineImagesResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of images created by the specified pipeline.</p>"
    },
    "ListImagePipelines":{
      "name":"ListImagePipelines",
      "http":{
        "method":"POST",
        "requestUri":"/ListImagePipelines"
      },
      "input":{"shape":"ListImagePipelinesRequest"},
      "output":{"shape":"ListImagePipelinesResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of image pipelines.</p>"
    },
    "ListImageRecipes":{
      "name":"ListImageRecipes",
      "http":{
        "method":"POST",
        "requestUri":"/ListImageRecipes"
      },
      "input":{"shape":"ListImageRecipesRequest"},
      "output":{"shape":"ListImageRecipesResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of image recipes.</p>"
    },
    "ListImageScanFindingAggregations":{
      "name":"ListImageScanFindingAggregations",
      "http":{
        "method":"POST",
        "requestUri":"/ListImageScanFindingAggregations"
      },
      "input":{"shape":"ListImageScanFindingAggregationsRequest"},
      "output":{"shape":"ListImageScanFindingAggregationsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of image scan aggregations for your account. You can filter by the type of key that Image Builder uses to group results. For example, if you want to get a list of findings by severity level for one of your pipelines, you might specify your pipeline with the <code>imagePipelineArn</code> filter. If you don't specify a filter, Image Builder returns an aggregation for your account.</p> <p>To streamline results, you can use the following filters in your request:</p> <ul> <li> <p> <code>imageBuildVersionArn</code> </p> </li> <li> <p> <code>imagePipelineArn</code> </p> </li> <li> <p> <code>vulnerabilityId</code> </p> </li> </ul>"
    },
    "ListImageScanFindings":{
      "name":"ListImageScanFindings",
      "http":{
        "method":"POST",
        "requestUri":"/ListImageScanFindings"
      },
      "input":{"shape":"ListImageScanFindingsRequest"},
      "output":{"shape":"ListImageScanFindingsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of image scan findings for your account. Amazon Inspector generates the findings when it scans images that have scanning enabled.</p>"
    },
    "ListImages":{
      "name":"ListImages",
      "http":{
        "method":"POST",
        "requestUri":"/ListImages"
      },
      "input":{"shape":"ListImagesRequest"},
      "output":{"shape":"ListImagesResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns the list of images that you have access to.</p>"
    },
    "ListInfrastructureConfigurations":{
      "name":"ListInfrastructureConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/ListInfrastructureConfigurations"
      },
      "input":{"shape":"ListInfrastructureConfigurationsRequest"},
      "output":{"shape":"ListInfrastructureConfigurationsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of infrastructure configurations.</p>"
    },
    "ListLifecycleExecutionResources":{
      "name":"ListLifecycleExecutionResources",
      "http":{
        "method":"POST",
        "requestUri":"/ListLifecycleExecutionResources"
      },
      "input":{"shape":"ListLifecycleExecutionResourcesRequest"},
      "output":{"shape":"ListLifecycleExecutionResourcesResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Lists resources that the runtime instance of the image lifecycle identified for lifecycle actions.</p>"
    },
    "ListLifecycleExecutions":{
      "name":"ListLifecycleExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/ListLifecycleExecutions"
      },
      "input":{"shape":"ListLifecycleExecutionsRequest"},
      "output":{"shape":"ListLifecycleExecutionsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Retrieves the lifecycle runtime history for the specified resource.</p>"
    },
    "ListLifecyclePolicies":{
      "name":"ListLifecyclePolicies",
      "http":{
        "method":"POST",
        "requestUri":"/ListLifecyclePolicies"
      },
      "input":{"shape":"ListLifecyclePoliciesRequest"},
      "output":{"shape":"ListLifecyclePoliciesResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Retrieves a list of lifecycle policies in your Amazon Web Services account.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns the list of tags for the specified resource.</p>"
    },
    "ListWaitingWorkflowSteps":{
      "name":"ListWaitingWorkflowSteps",
      "http":{
        "method":"POST",
        "requestUri":"/ListWaitingWorkflowSteps"
      },
      "input":{"shape":"ListWaitingWorkflowStepsRequest"},
      "output":{"shape":"ListWaitingWorkflowStepsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Lists the workflow steps in your Amazon Web Services account that have paused at a <code>WaitForAction</code> step, and are waiting for you to respond. To send a response, call <a>SendWorkflowStepAction</a>.</p>"
    },
    "ListWorkflowBuildVersions":{
      "name":"ListWorkflowBuildVersions",
      "http":{
        "method":"POST",
        "requestUri":"/ListWorkflowBuildVersions"
      },
      "input":{"shape":"ListWorkflowBuildVersionsRequest"},
      "output":{"shape":"ListWorkflowBuildVersionsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of build versions for a specific workflow resource.</p>"
    },
    "ListWorkflowExecutions":{
      "name":"ListWorkflowExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/ListWorkflowExecutions"
      },
      "input":{"shape":"ListWorkflowExecutionsRequest"},
      "output":{"shape":"ListWorkflowExecutionsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns a list of workflow runtime instance metadata objects for a specific image build version.</p>"
    },
    "ListWorkflowStepExecutions":{
      "name":"ListWorkflowStepExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/ListWorkflowStepExecutions"
      },
      "input":{"shape":"ListWorkflowStepExecutionsRequest"},
      "output":{"shape":"ListWorkflowStepExecutionsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Returns runtime data for each step in a runtime instance of the workflow that you specify in the request.</p>"
    },
    "ListWorkflows":{
      "name":"ListWorkflows",
      "http":{
        "method":"POST",
        "requestUri":"/ListWorkflows"
      },
      "input":{"shape":"ListWorkflowsRequest"},
      "output":{"shape":"ListWorkflowsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Lists workflow versions based on filtering parameters. To list the build versions of a specific workflow version, call <a>ListWorkflowBuildVersions</a>.</p>"
    },
    "PutComponentPolicy":{
      "name":"PutComponentPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/PutComponentPolicy"
      },
      "input":{"shape":"PutComponentPolicyRequest"},
      "output":{"shape":"PutComponentPolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Applies a policy to a component. The preferred way to share resources is with the RAM API <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_CreateResourceShare.html\">CreateResourceShare</a>. If you use the PutComponentPolicy operation instead, you must also call the RAM API <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_PromoteResourceShareCreatedFromPolicy.html\">PromoteResourceShareCreatedFromPolicy</a>. Otherwise, the resource isn't visible to the principals that it's shared with.</p>"
    },
    "PutContainerRecipePolicy":{
      "name":"PutContainerRecipePolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/PutContainerRecipePolicy"
      },
      "input":{"shape":"PutContainerRecipePolicyRequest"},
      "output":{"shape":"PutContainerRecipePolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Applies a policy to a container recipe. The preferred way to share resources is with the RAM API <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_CreateResourceShare.html\">CreateResourceShare</a>. If you use the PutContainerRecipePolicy operation instead, you must also call the RAM API <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_PromoteResourceShareCreatedFromPolicy.html\">PromoteResourceShareCreatedFromPolicy</a>. Otherwise, the resource isn't visible to the principals that it's shared with.</p>"
    },
    "PutImagePolicy":{
      "name":"PutImagePolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/PutImagePolicy"
      },
      "input":{"shape":"PutImagePolicyRequest"},
      "output":{"shape":"PutImagePolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Applies a policy to an image. The preferred way to share resources is with the RAM API <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_CreateResourceShare.html\">CreateResourceShare</a>. If you use the PutImagePolicy operation instead, you must also call the RAM API <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_PromoteResourceShareCreatedFromPolicy.html\">PromoteResourceShareCreatedFromPolicy</a>. Otherwise, the resource isn't visible to the principals that it's shared with.</p>"
    },
    "PutImageRecipePolicy":{
      "name":"PutImageRecipePolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/PutImageRecipePolicy"
      },
      "input":{"shape":"PutImageRecipePolicyRequest"},
      "output":{"shape":"PutImageRecipePolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"}
      ],
      "documentation":"<p>Applies a policy to an image recipe. The preferred way to share resources is with the RAM API <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_CreateResourceShare.html\">CreateResourceShare</a>. If you use the PutImageRecipePolicy operation instead, you must also call the RAM API <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_PromoteResourceShareCreatedFromPolicy.html\">PromoteResourceShareCreatedFromPolicy</a>. Otherwise, the resource isn't visible to the principals that it's shared with.</p>"
    },
    "RetryImage":{
      "name":"RetryImage",
      "http":{
        "method":"PUT",
        "requestUri":"/RetryImage"
      },
      "input":{"shape":"RetryImageRequest"},
      "output":{"shape":"RetryImageResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Retries a failed or canceled image build without rebuilding the phases that already completed. The image re-runs asynchronously in place: the same build version returns to the test or distribution phase where it failed and continues from there. No new image build version is created. Retry is only supported for AMI-based images.</p>"
    },
    "SendWorkflowStepAction":{
      "name":"SendWorkflowStepAction",
      "http":{
        "method":"PUT",
        "requestUri":"/SendWorkflowStepAction"
      },
      "input":{"shape":"SendWorkflowStepActionRequest"},
      "output":{"shape":"SendWorkflowStepActionResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Sends an action to a workflow step that has paused at a <code>WaitForAction</code> step, so that image creation can continue. To find the steps that are waiting for an action, call <a>ListWaitingWorkflowSteps</a>.</p>"
    },
    "StartImagePipelineExecution":{
      "name":"StartImagePipelineExecution",
      "http":{
        "method":"PUT",
        "requestUri":"/StartImagePipelineExecution"
      },
      "input":{"shape":"StartImagePipelineExecutionRequest"},
      "output":{"shape":"StartImagePipelineExecutionResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Manually triggers a pipeline to create an image. You can start a build this way whether the pipeline is enabled or disabled. The response returns as soon as Image Builder creates the new image resource and queues the build. Use the returned <code>imageBuildVersionArn</code> with <a>GetImage</a> to track build progress.</p>"
    },
    "StartResourceStateUpdate":{
      "name":"StartResourceStateUpdate",
      "http":{
        "method":"PUT",
        "requestUri":"/StartResourceStateUpdate"
      },
      "input":{"shape":"StartResourceStateUpdateRequest"},
      "output":{"shape":"StartResourceStateUpdateResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Begins an ad-hoc state change for the specified image build version. This is a one-time operation - if you schedule the update, it runs only once. If the request includes underlying resources, or schedules the update far enough in the future, Image Builder runs the update as an asynchronous lifecycle execution and returns its identifier. Otherwise, for target states other than <code>DELETED</code>, the state change applies immediately. If a request that starts a lifecycle execution arrives while the image already has one in progress, Image Builder rejects it.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Adds a tag to a resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Removes a tag from a resource.</p>"
    },
    "UpdateDistributionConfiguration":{
      "name":"UpdateDistributionConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/UpdateDistributionConfiguration"
      },
      "input":{"shape":"UpdateDistributionConfigurationRequest"},
      "output":{"shape":"UpdateDistributionConfigurationResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Updates a distribution configuration. Distribution configurations define and configure the outputs for your images, including the target Regions, accounts, and settings for each Region.</p> <note> <p>This operation doesn't support selective updates. The request replaces the stored configuration, so include every setting that you want to keep.</p> </note>"
    },
    "UpdateImagePipeline":{
      "name":"UpdateImagePipeline",
      "http":{
        "method":"PUT",
        "requestUri":"/UpdateImagePipeline"
      },
      "input":{"shape":"UpdateImagePipelineRequest"},
      "output":{"shape":"UpdateImagePipelineResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Updates an image pipeline. Use image pipelines to automate the creation and distribution of images. You must specify exactly one recipe for your image, using either a <code>containerRecipeArn</code> or an <code>imageRecipeArn</code>. The recipe must be the same type, image or container, as the pipeline's current recipe.</p> <note> <p>UpdateImagePipeline does not support selective updates. The request replaces the pipeline's entire configuration, so include every setting that you want to keep. Any optional property that you omit is removed or reset to its default.</p> </note>"
    },
    "UpdateInfrastructureConfiguration":{
      "name":"UpdateInfrastructureConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/UpdateInfrastructureConfiguration"
      },
      "input":{"shape":"UpdateInfrastructureConfigurationRequest"},
      "output":{"shape":"UpdateInfrastructureConfigurationResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Updates an infrastructure configuration. An infrastructure configuration defines the environment in which Image Builder builds and tests your image.</p> <note> <p>This operation doesn't support selective updates. The request replaces the configuration, so include every setting that you want to keep. Omitted optional properties are cleared.</p> </note>"
    },
    "UpdateLifecyclePolicy":{
      "name":"UpdateLifecyclePolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/UpdateLifecyclePolicy"
      },
      "input":{"shape":"UpdateLifecyclePolicyRequest"},
      "output":{"shape":"UpdateLifecyclePolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ForbiddenException"},
        {"shape":"CallRateLimitExceededException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Updates the specified lifecycle policy. The request replaces the existing policy configuration rather than merging changes, so re-specify every setting that you want to keep. The <code>resourceType</code> must match the existing policy's value.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>You do not have permissions to perform the requested operation.</p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AccountAggregation":{
      "type":"structure",
      "members":{
        "accountId":{
          "shape":"NonEmptyString",
          "documentation":"<p>Identifies the account that owns the aggregated resource findings.</p>"
        },
        "severityCounts":{
          "shape":"SeverityCounts",
          "documentation":"<p>Counts by severity level for medium severity and higher level findings, plus a total for all of the findings.</p>"
        }
      },
      "documentation":"<p>Contains counts of vulnerability findings from image scans that run when you create new Image Builder images, or build new versions of existing images. The vulnerability counts are grouped by severity level. The counts are aggregated across resources to create the final tally for the account that owns them.</p>"
    },
    "AccountId":{
      "type":"string",
      "pattern":"^[0-9]{12}$"
    },
    "AccountList":{
      "type":"list",
      "member":{"shape":"AccountId"},
      "max":1536,
      "min":1
    },
    "AdditionalInstanceConfiguration":{
      "type":"structure",
      "members":{
        "systemsManagerAgent":{
          "shape":"SystemsManagerAgent",
          "documentation":"<p>The Systems Manager agent settings for your build instance. This setting applies to Linux and macOS build instances only. Requests that set it for a recipe with a Windows base image are rejected.</p>"
        },
        "userDataOverride":{
          "shape":"UserDataOverride",
          "documentation":"<p>Use this property to provide commands or a command script to run when you launch your build instance.</p> <p>The userDataOverride property replaces any commands that Image Builder might have added to ensure that Systems Manager is installed on your Linux build instance. If you override the user data, make sure that you add commands to install Systems Manager, if it is not pre-installed on your base image.</p> <note> <p>The user data is always base 64 encoded. For example, the following commands are encoded as <code>IyEvYmluL2Jhc2gKbWtkaXIgLXAgL3Zhci9iYi8KdG91Y2ggL3Zhcg==</code>:</p> <p> <i>#!/bin/bash</i> </p> <p>mkdir -p /var/bb/</p> <p>touch /var</p> </note>"
        }
      },
      "documentation":"<p>In addition to your infrastructure configuration, these settings provide an extra layer of control over your build instances. You can also specify commands to run on launch for all of your build instances.</p> <p>Image Builder does not automatically install the Systems Manager agent on Windows instances. If your base image includes the Systems Manager agent, then the AMI that you create will also include the agent. For Linux instances, if the base image does not already include the Systems Manager agent, Image Builder installs it. For Linux instances where Image Builder installs the Systems Manager agent, you can choose whether to keep it for the AMI that you create.</p>"
    },
    "Ami":{
      "type":"structure",
      "members":{
        "region":{
          "shape":"NonEmptyString",
          "documentation":"<p>The Amazon Web Services Region of the Amazon EC2 AMI.</p>"
        },
        "image":{
          "shape":"NonEmptyString",
          "documentation":"<p>The AMI ID of the Amazon EC2 AMI.</p>"
        },
        "name":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the Amazon EC2 AMI.</p>"
        },
        "description":{
          "shape":"NonEmptyString",
          "documentation":"<p>The description of the Amazon EC2 AMI. Minimum and maximum length are in characters.</p>"
        },
        "state":{
          "shape":"ImageState",
          "documentation":"<p>The state of the AMI, which includes the status and, if applicable, the reason for that status.</p>"
        },
        "accountId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The account ID of the owner of the AMI.</p>"
        }
      },
      "documentation":"<p>Details of an Amazon EC2 AMI.</p>"
    },
    "AmiDistributionConfiguration":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"AmiNameString",
          "documentation":"<p>The name of the output AMI. The name must include the <code>{{ imagebuilder:buildDate }}</code> dynamic tag so that each build produces a uniquely named AMI. If you don't specify a name, Image Builder names the output AMI with the image name followed by the build timestamp, for example <code>my-image 2022-10-26T22-30-05.912619Z</code>.</p>"
        },
        "description":{
          "shape":"NonEmptyString",
          "documentation":"<p>The description to apply to the distributed AMI. Image Builder sets this as the output AMI's description in each target Region and account. If you don't specify a description, the AMI in the build Region uses the image recipe's description, if the recipe has one. Copies distributed to other Regions and accounts don't receive a default description.</p>"
        },
        "targetAccountIds":{
          "shape":"AccountList",
          "documentation":"<p>The Amazon Web Services account IDs to distribute the AMI to in this Region. Each listed account receives its own copy of the output AMI. If you don't specify accounts, Image Builder distributes the AMI only to your own account.</p>"
        },
        "amiTags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to apply to AMIs distributed to this Region.</p>"
        },
        "kmsKeyId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The Amazon Resource Name (ARN) that uniquely identifies the KMS key used to encrypt the distributed image. This can be either the Key ARN or the Alias ARN. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#key-id-key-ARN\">Key identifiers (KeyId)</a> in the <i>Key Management Service Developer Guide</i>.</p>"
        },
        "launchPermission":{
          "shape":"LaunchPermissionConfiguration",
          "documentation":"<p>Launch permissions can be used to configure which Amazon Web Services accounts can use the AMI to launch instances.</p>"
        }
      },
      "documentation":"<p>Define and configure the output AMIs of the pipeline.</p>"
    },
    "AmiList":{
      "type":"list",
      "member":{"shape":"Ami"}
    },
    "AmiNameString":{
      "type":"string",
      "max":127,
      "min":1,
      "pattern":"^[-_A-Za-z0-9{][-_A-Za-z0-9\\s:{}\\.]+[-_A-Za-z0-9}]$"
    },
    "AmiWatermarkName":{
      "type":"string",
      "documentation":"<p>The name of an AMI watermark. AMI watermarks are lineage markers that Image Builder attaches to output AMIs during the build process. AMI watermarks automatically propagate to derivative AMIs when the source AMI is copied or distributed.</p>",
      "max":128,
      "min":3,
      "pattern":"^[A-Za-z0-9()\\[\\]./'@_\\-][A-Za-z0-9 ()\\[\\]./'@_\\-]{1,126}[A-Za-z0-9()\\[\\]./'@_\\-]$"
    },
    "AmiWatermarksList":{
      "type":"list",
      "member":{"shape":"AmiWatermarkName"},
      "documentation":"<p>A list of AMI watermark names to attach to the output AMI. Names are case-sensitive. The recipe does not allow duplicate names.</p>",
      "max":5,
      "min":1
    },
    "Arn":{"type":"string"},
    "AutoDisableFailureCount":{
      "type":"integer",
      "max":10,
      "min":1
    },
    "AutoDisablePolicy":{
      "type":"structure",
      "required":["failureCount"],
      "members":{
        "failureCount":{
          "shape":"AutoDisableFailureCount",
          "documentation":"<p>The number of consecutive scheduled image pipeline executions that must fail before Image Builder automatically disables the pipeline.</p>"
        }
      },
      "documentation":"<p>Defines the rules by which an image pipeline is automatically disabled when it fails. By default, if the schedule doesn't include an auto-disable policy, Image Builder disables the pipeline after 5 consecutive failed scheduled builds.</p>"
    },
    "Boolean":{"type":"boolean"},
    "BuildType":{
      "type":"string",
      "enum":[
        "USER_INITIATED",
        "SCHEDULED",
        "IMPORT",
        "IMPORT_ISO"
      ]
    },
    "CallRateLimitExceededException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>You have exceeded the permitted request rate for the Amazon EC2 APIs that Image Builder calls on your behalf. Retry with an increasing or variable delay between requests.</p>",
      "error":{"httpStatusCode":429},
      "exception":true
    },
    "CancelImageCreationRequest":{
      "type":"structure",
      "required":[
        "imageBuildVersionArn",
        "clientToken"
      ],
      "members":{
        "imageBuildVersionArn":{
          "shape":"ImageBuildVersionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the image that you want to cancel creation for.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique, case-sensitive identifier you provide to ensure that the operation runs no more than one time. If you retry a request with the same client token, Image Builder returns the original response without running the operation again. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a> in the <i>Amazon EC2 API Reference</i>.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CancelImageCreationResponse":{
      "type":"structure",
      "members":{
        "requestId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The request ID that uniquely identifies this request.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>The client token that uniquely identifies the request.</p>"
        },
        "imageBuildVersionArn":{
          "shape":"ImageBuildVersionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the image whose creation this request canceled.</p>"
        }
      }
    },
    "CancelLifecycleExecutionRequest":{
      "type":"structure",
      "required":[
        "lifecycleExecutionId",
        "clientToken"
      ],
      "members":{
        "lifecycleExecutionId":{
          "shape":"LifecycleExecutionId",
          "documentation":"<p>Identifies the specific runtime instance of the image lifecycle to cancel.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique, case-sensitive identifier you provide to ensure that the operation runs no more than one time. If you retry a request with the same client token, Image Builder returns the original response without running the operation again. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a> in the <i>Amazon EC2 API Reference</i>.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CancelLifecycleExecutionResponse":{
      "type":"structure",
      "members":{
        "lifecycleExecutionId":{
          "shape":"LifecycleExecutionId",
          "documentation":"<p>The unique identifier of the lifecycle execution that the cancellation request applies to. The cancellation completes asynchronously.</p>"
        }
      }
    },
    "ClientException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>A generic client error. This error usually indicates that the request failed a validation check, such as when a downstream service rejects a configured value.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1
    },
    "Component":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"ImageBuilderArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the component.</p>"
        },
        "name":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the component.</p>"
        },
        "version":{
          "shape":"VersionNumber",
          "documentation":"<p>The version of the component.</p>"
        },
        "description":{
          "shape":"NonEmptyString",
          "documentation":"<p>The description of the component.</p>"
        },
        "changeDescription":{
          "shape":"NonEmptyString",
          "documentation":"<p>Describes what change has been made in this version of the component, or what makes this version different from other versions of the component.</p>"
        },
        "type":{
          "shape":"ComponentType",
          "documentation":"<p>The component type specifies whether Image Builder uses the component to build the image or only to test it.</p>"
        },
        "platform":{
          "shape":"Platform",
          "documentation":"<p>The operating system platform of the component.</p>"
        },
        "supportedOsVersions":{
          "shape":"OsVersionList",
          "documentation":"<p>The operating system (OS) version supported by the component. If the OS information is available, Image Builder performs a prefix match against the base image OS version during image recipe creation.</p>"
        },
        "state":{
          "shape":"ComponentState",
          "documentation":"<p>Describes the current status of the component.</p>"
        },
        "parameters":{
          "shape":"ComponentParameterDetailList",
          "documentation":"<p>Contains parameter details for each of the parameters that the component document defined for the component.</p>"
        },
        "owner":{
          "shape":"NonEmptyString",
          "documentation":"<p>The owner of the component. The value is your account ID for components that you own, the sharing account's ID for shared components, or <code>Amazon</code>, <code>ThirdParty</code>, or <code>AWSMarketplace</code>.</p>"
        },
        "data":{
          "shape":"ComponentData",
          "documentation":"<p>Component data contains the YAML document content for the component.</p>"
        },
        "kmsKeyId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The KMS key identifier used to encrypt the component. This can be either the Key ARN or the Alias ARN. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#key-id-key-ARN\">Key identifiers (KeyId)</a> in the <i>Key Management Service Developer Guide</i>.</p>"
        },
        "encrypted":{
          "shape":"NullableBoolean",
          "documentation":"<p>Indicates whether the component data is encrypted at rest. Image Builder encrypts all component data at rest, so this value is always <code>true</code>. This field is retained for backward compatibility.</p>"
        },
        "dateCreated":{
          "shape":"DateTime",
          "documentation":"<p>The date that Image Builder created the component.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags that apply to the component.</p>"
        },
        "publisher":{
          "shape":"NonEmptyString",
          "documentation":"<p>Contains the name of the publisher if this is a third-party component. Otherwise, this property is empty.</p>"
        },
        "obfuscate":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether component source is hidden from view in the console, and from component detail results for API, CLI, or SDK operations.</p>"
        },
        "productCodes":{
          "shape":"ProductCodeList",
          "documentation":"<p>Contains product codes that are used for billing purposes for Amazon Web Services Marketplace components.</p>"
        }
      },
      "documentation":"<p>A detailed view of a component.</p>"
    },
    "ComponentBuildVersionArn":{
      "type":"string",
      "pattern":"^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws(?:-[a-z-]+)?|third-party):component/[a-z0-9-_]+/[0-9]+\\.[0-9]+\\.[0-9]+/[0-9]+$"
    },
    "ComponentConfiguration":{
      "type":"structure",
      "required":["componentArn"],
      "members":{
        "componentArn":{
          "shape":"ComponentVersionArnOrBuildVersionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the component. You can specify a build version ARN, or a component version ARN whose version segments can use <code>x</code> wildcards, for example <code>1.x.x</code>.</p>"
        },
        "parameters":{
          "shape":"ComponentParameterList",
          "documentation":"<p>A group of parameter settings that Image Builder uses to configure the component for a specific recipe. You must supply a value for every component parameter that has no default value, and you can only supply parameters that the component defines.</p>"
        }
      },
      "documentation":"<p>Configuration details of the component. You can specify each component only once in a recipe, regardless of version. Components with a status of <code>DEPRECATED</code> or <code>DISABLED</code> can't be added to new recipes.</p>"
    },
    "ComponentConfigurationList":{
      "type":"list",
      "member":{"shape":"ComponentConfiguration"},
      "min":1
    },
    "ComponentData":{"type":"string"},
    "ComponentFailureContext":{
      "type":"structure",
      "members":{
        "componentArn":{
          "shape":"ComponentBuildVersionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the component build version that failed.</p>"
        },
        "phaseName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the phase in the component document where the failure occurred, such as <code>build</code>, <code>validate</code>, or <code>test</code>.</p>"
        },
        "stepName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the step in the component document that failed.</p>"
        },
        "action":{
          "shape":"NonEmptyString",
          "documentation":"<p>The action that the failed step runs, for example <code>ExecuteBash</code>.</p>"
        },
        "errorMessage":{
          "shape":"NonEmptyMaxLengthString",
          "documentation":"<p>The error message from the step that failed. Image Builder truncates messages that are longer than 1024 characters. The component log in Amazon CloudWatch Logs contains the full output.</p>"
        }
      },
      "documentation":"<p>Contains details about the component that caused the image creation process to fail. The details identify the first step that failed when the component ran.</p>"
    },
    "ComponentFormat":{
      "type":"string",
      "enum":["SHELL"]
    },
    "ComponentParameter":{
      "type":"structure",
      "required":[
        "name",
        "value"
      ],
      "members":{
        "name":{
          "shape":"ComponentParameterName",
          "documentation":"<p>The name of the component parameter to set.</p>"
        },
        "value":{
          "shape":"ComponentParameterValueList",
          "documentation":"<p>Sets the value for the named component parameter.</p>"
        }
      },
      "documentation":"<p>Contains a key/value pair that sets the named component parameter.</p>"
    },
    "ComponentParameterDescription":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[^\\x00]+"
    },
    "ComponentParameterDetail":{
      "type":"structure",
      "required":[
        "name",
        "type"
      ],
      "members":{
        "name":{
          "shape":"ComponentParameterName",
          "documentation":"<p>The name of this input parameter.</p>"
        },
        "type":{
          "shape":"ComponentParameterType",
          "documentation":"<p>The type of input this parameter provides. The currently supported value is \"string\".</p>"
        },
        "defaultValue":{
          "shape":"ComponentParameterValueList",
          "documentation":"<p>The default value of this parameter if no input is provided.</p>"
        },
        "description":{
          "shape":"ComponentParameterDescription",
          "documentation":"<p>Describes this parameter.</p>"
        }
      },
      "documentation":"<p>Defines a parameter that is used to provide configuration details for the component.</p>"
    },
    "ComponentParameterDetailList":{
      "type":"list",
      "member":{"shape":"ComponentParameterDetail"}
    },
    "ComponentParameterList":{
      "type":"list",
      "member":{"shape":"ComponentParameter"},
      "min":1
    },
    "ComponentParameterName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[^\\x00]+"
    },
    "ComponentParameterType":{
      "type":"string",
      "max":20,
      "min":1,
      "pattern":"^String|Integer|Boolean|StringList$"
    },
    "ComponentParameterValue":{
      "type":"string",
      "min":0,
      "pattern":"[^\\x00]*"
    },
    "ComponentParameterValueList":{
      "type":"list",
      "member":{"shape":"ComponentParameterValue"}
    },
    "ComponentState":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"ComponentStatus",
          "documentation":"<p>The current state of the component. Components with a status of <code>DEPRECATED</code> or <code>DISABLED</code> can't be added to new recipes.</p>"
        },
        "reason":{
          "shape":"NonEmptyString",
          "documentation":"<p>Describes how or why the component changed state.</p>"
        }
      },
      "documentation":"<p>A group of fields that describe the current status of components.</p>"
    },
    "ComponentStatus":{
      "type":"string",
      "enum":[
        "DEPRECATED",
        "DISABLED",
        "ACTIVE"
      ]
    },
    "ComponentSummary":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"ImageBuilderArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the component.</p>"
        },
        "name":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the component.</p>"
        },
        "version":{
          "shape":"VersionNumber",
          "documentation":"<p>The version of the component.</p>"
        },
        "platform":{
          "shape":"Platform",
          "documentation":"<p>The operating system platform of the component.</p>"
        },
        "supportedOsVersions":{
          "shape":"OsVersionList",
          "documentation":"<p>The operating system (OS) version that the component supports. If the OS information is available, Image Builder performs a prefix match against the base image OS version during image recipe creation.</p>"
        },
        "state":{
          "shape":"ComponentState",
          "documentation":"<p>Describes the current status of the component.</p>"
        },
        "type":{
          "shape":"ComponentType",
          "documentation":"<p>The component type specifies whether Image Builder uses the component to build the image or only to test it.</p>"
        },
        "owner":{
          "shape":"NonEmptyString",
          "documentation":"<p>The owner of the component. The value is your account ID for components that you own, the sharing account's ID for shared components, or <code>Amazon</code>, <code>ThirdParty</code>, or <code>AWSMarketplace</code>.</p>"
        },
        "description":{
          "shape":"NonEmptyString",
          "documentation":"<p>The description of the component.</p>"
        },
        "changeDescription":{
          "shape":"NonEmptyString",
          "documentation":"<p>The change description for this version of the component.</p>"
        },
        "dateCreated":{
          "shape":"DateTime",
          "documentation":"<p>The date that Image Builder created this version of the component.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags that apply to the component.</p>"
        },
        "publisher":{
          "shape":"NonEmptyString",
          "documentation":"<p>Contains the name of the publisher if this is a third-party component. Otherwise, this property is empty.</p>"
        },
        "obfuscate":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether component source is hidden from view in the console, and from component detail results for API, CLI, or SDK operations.</p>"
        }
      },
      "documentation":"<p>A high-level summary of a component.</p>"
    },
    "ComponentSummaryList":{
      "type":"list",
      "member":{"shape":"ComponentSummary"}
    },
    "ComponentType":{
      "type":"string",
      "enum":[
        "BUILD",
        "TEST"
      ]
    },
    "ComponentVersion":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"ImageBuilderArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the component.</p> <note> <p>Semantic versioning is included in each object's Amazon Resource Name (ARN), at the level that applies to that object as follows:</p> <ol> <li> <p>Versionless ARNs and Name ARNs do not include specific values in any of the nodes. The nodes are either left off entirely, or they are specified as wildcards, for example: x.x.x.</p> </li> <li> <p>Version ARNs have only the first three nodes: &lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;</p> </li> <li> <p>Build version ARNs have all four nodes, and point to a specific build for a specific version of an object.</p> </li> </ol> </note>"
        },
        "name":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the component.</p>"
        },
        "version":{
          "shape":"VersionNumber",
          "documentation":"<p>The semantic version of the component.</p> <note> <p>The semantic version has four nodes: &lt;major&gt;.&lt;minor&gt;.&lt;patch&gt;/&lt;build&gt;. You can assign values for the first three, and can filter on all of them.</p> <p> <b>Assignment:</b> For the first three nodes, you can assign any positive integer value, including zero. The upper limit is 2^30-1, or 1073741823, for each node. Image Builder automatically assigns the build number to the fourth node.</p> <p> <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for the nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or a date, such as 2021.01.01.</p> <p> <b>Filtering:</b> You can use wildcards (x) to specify the most recent versions or nodes when selecting the base image or components for your recipe. When you use a wildcard in any node, all nodes to the right of the first wildcard must also be wildcards.</p> </note>"
        },
        "description":{
          "shape":"NonEmptyString",
          "documentation":"<p>The description of the component.</p>"
        },
        "platform":{
          "shape":"Platform",
          "documentation":"<p>The platform of the component.</p>"
        },
        "supportedOsVersions":{
          "shape":"OsVersionList",
          "documentation":"<p>The operating system (OS) version supported by the component. If OS information is available, Image Builder performs a prefix match against the base image OS version during image recipe creation.</p>"
        },
        "type":{
          "shape":"ComponentType",
          "documentation":"<p>The type of the component denotes whether the component is used to build the image or only to test it.</p>"
        },
        "owner":{
          "shape":"NonEmptyString",
          "documentation":"<p>The owner of the component. The value is your account ID for components that you own, the sharing account's ID for shared components, or <code>Amazon</code>, <code>ThirdParty</code>, or <code>AWSMarketplace</code>.</p>"
        },
        "dateCreated":{
          "shape":"DateTime",
          "documentation":"<p>The date that the component was created.</p>"
        },
        "status":{
          "shape":"ComponentStatus",
          "documentation":"<p>Describes the current status of the component version.</p>"
        },
        "productCodes":{
          "shape":"ProductCodeList",
          "documentation":"<p>Contains product codes that are used for billing purposes for Amazon Web Services Marketplace components.</p>"
        }
      },
      "documentation":"<p>The defining characteristics of a specific version of a component.</p>"
    },
    "ComponentVersionArn":{
      "type":"string",
      "pattern":"^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws(?:-[a-z-]+)?|third-party):component/[a-z0-9-_]+/[0-9]+\\.[0-9]+\\.[0-9]+$"
    },
    "ComponentVersionArnOrBuildVersionArn":{
      "type":"string",
      "pattern":"^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws(?:-[a-z-]+)?|third-party):component/[a-z0-9-_]+/(?:(?:([0-9]+|x)\\.([0-9]+|x)\\.([0-9]+|x))|(?:[0-9]+\\.[0-9]+\\.[0-9]+/[0-9]+))$"
    },
    "ComponentVersionList":{
      "type":"list",
      "member":{"shape":"ComponentVersion"}
    },
    "ConsecutiveFailures":{
      "type":"integer",
      "min":0
    },
    "Container":{
      "type":"structure",
      "members":{
        "region":{
          "shape":"NonEmptyString",
          "documentation":"<p>Containers and container images are Region-specific. This is the Region context for the container.</p>"
        },
        "imageUris":{
          "shape":"StringList",
          "documentation":"<p>A list of URIs for containers created in the context Region.</p>"
        }
      },
      "documentation":"<p>Details of the container images that are output resources of an image build in a given Amazon Web Services Region: the Region, and the URIs of the container images.</p>"
    },
    "ContainerDistributionConfiguration":{
      "type":"structure",
      "required":["targetRepository"],
      "members":{
        "description":{
          "shape":"NonEmptyString",
          "documentation":"<p>The description of the container distribution configuration.</p>"
        },
        "containerTags":{
          "shape":"StringList",
          "documentation":"<p>Tags that Image Builder applies to the distributed container image in the target repository. These are repository image tags, not resource tags.</p>"
        },
        "targetRepository":{
          "shape":"TargetContainerRepository",
          "documentation":"<p>The destination repository for the container distribution configuration.</p>"
        }
      },
[...]
