{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2025-04-04",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"partnercentral-account",
    "jsonVersion":"1.0",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"Partner Central Account API",
    "serviceId":"PartnerCentral Account",
    "signatureVersion":"v4",
    "signingName":"partnercentral-account",
    "targetPrefix":"PartnerCentralAccount",
    "uid":"partnercentral-account-2025-04-04"
  },
  "operations":{
    "AcceptConnectionInvitation":{
      "name":"AcceptConnectionInvitation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptConnectionInvitationRequest"},
      "output":{"shape":"AcceptConnectionInvitationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Accepts a connection invitation from another partner, establishing a formal partnership connection between the two parties.</p>"
    },
    "AssociateAwsTrainingCertificationEmailDomain":{
      "name":"AssociateAwsTrainingCertificationEmailDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateAwsTrainingCertificationEmailDomainRequest"},
      "output":{"shape":"AssociateAwsTrainingCertificationEmailDomainResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Associates an email domain with AWS training and certification for the partner account, enabling automatic verification of employee certifications.</p>",
      "idempotent":true
    },
    "CancelConnection":{
      "name":"CancelConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelConnectionRequest"},
      "output":{"shape":"CancelConnectionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Cancels an existing connection between partners, terminating the partnership relationship.</p>"
    },
    "CancelConnectionInvitation":{
      "name":"CancelConnectionInvitation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelConnectionInvitationRequest"},
      "output":{"shape":"CancelConnectionInvitationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Cancels a pending connection invitation before it has been accepted or rejected.</p>"
    },
    "CancelProfileUpdateTask":{
      "name":"CancelProfileUpdateTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelProfileUpdateTaskRequest"},
      "output":{"shape":"CancelProfileUpdateTaskResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Cancels an in-progress profile update task, stopping any pending changes to the partner profile.</p>"
    },
    "CreateConnectionInvitation":{
      "name":"CreateConnectionInvitation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateConnectionInvitationRequest"},
      "output":{"shape":"CreateConnectionInvitationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new connection invitation to establish a partnership with another organization.</p>"
    },
    "CreatePartner":{
      "name":"CreatePartner",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePartnerRequest"},
      "output":{"shape":"CreatePartnerResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new partner account in the AWS Partner Network with the specified details and configuration.</p>",
      "idempotent":true
    },
    "DisassociateAwsTrainingCertificationEmailDomain":{
      "name":"DisassociateAwsTrainingCertificationEmailDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateAwsTrainingCertificationEmailDomainRequest"},
      "output":{"shape":"DisassociateAwsTrainingCertificationEmailDomainResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Removes the association between an email domain and AWS training and certification for the partner account.</p>",
      "idempotent":true
    },
    "GetAllianceLeadContact":{
      "name":"GetAllianceLeadContact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAllianceLeadContactRequest"},
      "output":{"shape":"GetAllianceLeadContactResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the alliance lead contact information for a partner account.</p>",
      "readonly":true
    },
    "GetConnection":{
      "name":"GetConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetConnectionRequest"},
      "output":{"shape":"GetConnectionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves detailed information about a specific connection between partners.</p>",
      "readonly":true
    },
    "GetConnectionInvitation":{
      "name":"GetConnectionInvitation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetConnectionInvitationRequest"},
      "output":{"shape":"GetConnectionInvitationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves detailed information about a specific connection invitation.</p>",
      "readonly":true
    },
    "GetConnectionPreferences":{
      "name":"GetConnectionPreferences",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetConnectionPreferencesRequest"},
      "output":{"shape":"GetConnectionPreferencesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the connection preferences for a partner account, including access settings and exclusions.</p>",
      "readonly":true
    },
    "GetPartner":{
      "name":"GetPartner",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPartnerRequest"},
      "output":{"shape":"GetPartnerResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves detailed information about a specific partner account.</p>",
      "readonly":true
    },
    "GetProfileUpdateTask":{
      "name":"GetProfileUpdateTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetProfileUpdateTaskRequest"},
      "output":{"shape":"GetProfileUpdateTaskResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves information about a specific profile update task.</p>",
      "readonly":true
    },
    "GetProfileVisibility":{
      "name":"GetProfileVisibility",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetProfileVisibilityRequest"},
      "output":{"shape":"GetProfileVisibilityResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the visibility settings for a partner profile, determining who can see the profile information.</p>",
      "readonly":true
    },
    "ListConnectionInvitations":{
      "name":"ListConnectionInvitations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListConnectionInvitationsRequest"},
      "output":{"shape":"ListConnectionInvitationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists connection invitations for the partner account, with optional filtering by status, type, and other criteria.</p>",
      "readonly":true
    },
    "ListConnections":{
      "name":"ListConnections",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListConnectionsRequest"},
      "output":{"shape":"ListConnectionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists active connections for the partner account, with optional filtering by connection type and participant.</p>",
      "readonly":true
    },
    "ListPartners":{
      "name":"ListPartners",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPartnersRequest"},
      "output":{"shape":"ListPartnersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists partner accounts in the catalog, providing a summary view of all partners.</p>",
      "readonly":true
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all tags associated with a specific AWS Partner Central Account resource.</p>",
      "readonly":true
    },
    "PutAllianceLeadContact":{
      "name":"PutAllianceLeadContact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutAllianceLeadContactRequest"},
      "output":{"shape":"PutAllianceLeadContactResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates or updates the alliance lead contact information for a partner account.</p>"
    },
    "PutProfileVisibility":{
      "name":"PutProfileVisibility",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutProfileVisibilityRequest"},
      "output":{"shape":"PutProfileVisibilityResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Sets the visibility level for a partner profile, controlling who can view the profile information.</p>"
    },
    "RejectConnectionInvitation":{
      "name":"RejectConnectionInvitation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RejectConnectionInvitationRequest"},
      "output":{"shape":"RejectConnectionInvitationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Rejects a connection invitation from another partner, declining the partnership request.</p>"
    },
    "SendEmailVerificationCode":{
      "name":"SendEmailVerificationCode",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendEmailVerificationCodeRequest"},
      "output":{"shape":"SendEmailVerificationCodeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Sends an email verification code to the specified email address for account verification purposes.</p>"
    },
    "StartProfileUpdateTask":{
      "name":"StartProfileUpdateTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartProfileUpdateTaskRequest"},
      "output":{"shape":"StartProfileUpdateTaskResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Initiates a profile update task to modify partner profile information asynchronously.</p>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Adds or updates tags for a specified AWS Partner Central Account resource.</p>",
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes specified tags from an AWS Partner Central Account resource.</p>",
      "idempotent":true
    },
    "UpdateConnectionPreferences":{
      "name":"UpdateConnectionPreferences",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateConnectionPreferencesRequest"},
      "output":{"shape":"UpdateConnectionPreferencesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the connection preferences for a partner account, modifying access settings and exclusions.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AcceptConnectionInvitationRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "Identifier",
        "ClientToken"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier where the connection invitation exists.</p>"
        },
        "Identifier":{
          "shape":"ConnectionInvitationId",
          "documentation":"<p>The unique identifier of the connection invitation to accept.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        }
      }
    },
    "AcceptConnectionInvitationResponse":{
      "type":"structure",
      "required":["Connection"],
      "members":{
        "Connection":{
          "shape":"Connection",
          "documentation":"<p>The details of the accepted connection between the two partners.</p>"
        }
      }
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":[
        "Message",
        "Reason"
      ],
      "members":{
        "Message":{"shape":"String"},
        "Reason":{
          "shape":"AccessDeniedExceptionReason",
          "documentation":"<p>The specific reason for the access denial.</p>"
        }
      },
      "documentation":"<p>The request was denied due to insufficient permissions. The caller does not have the required permissions to perform this operation.</p>",
      "exception":true
    },
    "AccessDeniedExceptionReason":{
      "type":"string",
      "enum":[
        "ACCESS_DENIED",
        "INCOMPATIBLE_BENEFIT_AWS_PARTNER_STATE"
      ]
    },
    "AccessType":{
      "type":"string",
      "enum":[
        "ALLOW_ALL",
        "DENY_ALL",
        "ALLOW_BY_DEFAULT_DENY_SOME"
      ]
    },
    "AccountSummary":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"UnicodeString",
          "documentation":"<p>The name associated with the AWS account.</p>"
        }
      },
      "documentation":"<p>Summary information about an AWS account.</p>"
    },
    "AllianceLeadContact":{
      "type":"structure",
      "required":[
        "FirstName",
        "LastName",
        "Email",
        "BusinessTitle"
      ],
      "members":{
        "FirstName":{
          "shape":"SensitiveUnicodeString",
          "documentation":"<p>The first name of the alliance lead contact person.</p>"
        },
        "LastName":{
          "shape":"SensitiveUnicodeString",
          "documentation":"<p>The last name of the alliance lead contact person.</p>"
        },
        "Email":{
          "shape":"Email",
          "documentation":"<p>The email address of the alliance lead contact person.</p>"
        },
        "BusinessTitle":{
          "shape":"SensitiveUnicodeString",
          "documentation":"<p>The business title or role of the alliance lead contact person.</p>"
        }
      },
      "documentation":"<p>Contains contact information for the primary alliance lead responsible for partnership activities.</p>"
    },
    "AssociateAwsTrainingCertificationEmailDomainRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "Identifier",
        "Email",
        "EmailVerificationCode"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Identifier":{
          "shape":"PartnerIdentifier",
          "documentation":"<p>The unique identifier of the partner account.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "Email":{
          "shape":"Email",
          "documentation":"<p>The email address used to verify domain ownership for AWS training and certification association.</p>"
        },
        "EmailVerificationCode":{
          "shape":"EmailVerificationCode",
          "documentation":"<p>The verification code sent to the email address to confirm domain ownership.</p>"
        }
      }
    },
    "AssociateAwsTrainingCertificationEmailDomainResponse":{
      "type":"structure",
      "members":{}
    },
    "AwsAccountId":{
      "type":"string",
      "pattern":"[0-9]{12}"
    },
    "BusinessValidationCode":{
      "type":"string",
      "enum":[
        "INCOMPATIBLE_CONNECTION_INVITATION_REQUEST",
        "INCOMPATIBLE_LEGAL_NAME",
        "INCOMPATIBLE_KNOW_YOUR_BUSINESS_STATUS",
        "INCOMPATIBLE_IDENTITY_VERIFICATION_STATUS",
        "INVALID_ACCOUNT_LINKING_STATUS",
        "INVALID_ACCOUNT_STATE",
        "INCOMPATIBLE_DOMAIN"
      ]
    },
    "BusinessValidationError":{
      "type":"structure",
      "required":[
        "Message",
        "Code"
      ],
      "members":{
        "Message":{
          "shape":"String",
          "documentation":"<p>A description of the business validation error.</p>"
        },
        "Code":{
          "shape":"BusinessValidationCode",
          "documentation":"<p>A code identifying the specific business validation error.</p>"
        }
      },
      "documentation":"<p>Contains information about a business rule validation error that occurred during an operation.</p>"
    },
    "CancelConnectionInvitationRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "Identifier",
        "ClientToken"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier where the connection invitation exists.</p>"
        },
        "Identifier":{
          "shape":"ConnectionInvitationId",
          "documentation":"<p>The unique identifier of the connection invitation to cancel.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CancelConnectionInvitationResponse":{
      "type":"structure",
      "required":[
        "Catalog",
        "Id",
        "Arn",
        "ConnectionType",
        "CreatedAt",
        "UpdatedAt",
        "OtherParticipantIdentifier",
        "ParticipantType",
        "Status",
        "InvitationMessage",
        "InviterEmail",
        "InviterName"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier where the connection invitation was canceled.</p>"
        },
        "Id":{
          "shape":"ConnectionInvitationId",
          "documentation":"<p>The unique identifier of the canceled connection invitation.</p>"
        },
        "Arn":{
          "shape":"ConnectionInvitationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the canceled connection invitation.</p>"
        },
        "ConnectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The identifier of the connection associated with the canceled invitation.</p>"
        },
        "ConnectionType":{
          "shape":"ConnectionType",
          "documentation":"<p>The type of connection that was being invited for.</p>"
        },
        "CreatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the connection invitation was originally created.</p>"
        },
        "UpdatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the connection invitation was last updated (canceled).</p>"
        },
        "ExpiresAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the connection invitation would have expired if not canceled.</p>"
        },
        "OtherParticipantIdentifier":{
          "shape":"ParticipantIdentifier",
          "documentation":"<p>The identifier of the other participant who was invited to connect.</p>"
        },
        "ParticipantType":{
          "shape":"ParticipantType",
          "documentation":"<p>The type of participant (inviter or invitee) in the connection invitation.</p>"
        },
        "Status":{
          "shape":"InvitationStatus",
          "documentation":"<p>The current status of the connection invitation (canceled).</p>"
        },
        "InvitationMessage":{
          "shape":"CancelConnectionInvitationResponseInvitationMessageString",
          "documentation":"<p>The message that was included with the original connection invitation.</p>"
        },
        "InviterEmail":{
          "shape":"Email",
          "documentation":"<p>The email address of the person who sent the connection invitation.</p>"
        },
        "InviterName":{
          "shape":"SensitiveUnicodeString",
          "documentation":"<p>The name of the person who sent the connection invitation.</p>"
        }
      }
    },
    "CancelConnectionInvitationResponseInvitationMessageString":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[\\u0020-\\u007E\\u00A0-\\uD7FF\\uE000-\\uFFFD]+"
    },
    "CancelConnectionRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "Identifier",
        "ConnectionType",
        "Reason",
        "ClientToken"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier where the connection exists.</p>"
        },
        "Identifier":{
          "shape":"ConnectionId",
          "documentation":"<p>The unique identifier of the connection to cancel.</p>"
        },
        "ConnectionType":{
          "shape":"ConnectionType",
          "documentation":"<p>The type of connection to cancel (e.g., reseller, distributor, technology partner).</p>"
        },
        "Reason":{
          "shape":"CancelConnectionRequestReasonString",
          "documentation":"<p>The reason for canceling the connection, providing context for the termination.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CancelConnectionRequestReasonString":{
      "type":"string",
      "max":256,
      "min":0
    },
    "CancelConnectionResponse":{
      "type":"structure",
      "required":[
        "Catalog",
        "Id",
        "Arn",
        "OtherParticipantAccountId",
        "UpdatedAt",
        "ConnectionTypes"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier where the connection was canceled.</p>"
        },
        "Id":{
          "shape":"ConnectionId",
          "documentation":"<p>The unique identifier of the canceled connection.</p>"
        },
        "Arn":{
          "shape":"ConnectionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the canceled connection.</p>"
        },
        "OtherParticipantAccountId":{
          "shape":"AwsAccountId",
          "documentation":"<p>The AWS account ID of the other participant in the canceled connection.</p>"
        },
        "UpdatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the connection was last updated (canceled).</p>"
        },
        "ConnectionTypes":{
          "shape":"ConnectionTypeDetailMap",
          "documentation":"<p>The list of connection types that were active before cancellation.</p>"
        }
      }
    },
    "CancelProfileUpdateTaskRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "Identifier",
        "TaskId"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Identifier":{
          "shape":"PartnerIdentifier",
          "documentation":"<p>The unique identifier of the partner account.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "TaskId":{
          "shape":"ProfileTaskId",
          "documentation":"<p>The unique identifier of the profile update task to cancel.</p>"
        }
      }
    },
    "CancelProfileUpdateTaskResponse":{
      "type":"structure",
      "required":[
        "Catalog",
        "Arn",
        "Id",
        "TaskId",
        "TaskDetails",
        "StartedAt",
        "Status"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Arn":{
          "shape":"PartnerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the canceled profile update task.</p>"
        },
        "Id":{
          "shape":"PartnerId",
          "documentation":"<p>The unique identifier of the partner account.</p>"
        },
        "TaskId":{
          "shape":"ProfileTaskId",
          "documentation":"<p>The unique identifier of the canceled profile update task.</p>"
        },
        "TaskDetails":{
          "shape":"TaskDetails",
          "documentation":"<p>The details of the profile update task that was canceled.</p>"
        },
        "StartedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the profile update task was started.</p>"
        },
        "Status":{
          "shape":"ProfileTaskStatus",
          "documentation":"<p>The current status of the profile update task (canceled).</p>"
        },
        "EndedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the profile update task was ended (canceled).</p>"
        },
        "ErrorDetailList":{
          "shape":"ErrorDetailList",
          "documentation":"<p>A list of error details if any errors occurred during the profile update task.</p>"
        }
      }
    },
    "Catalog":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9-_]+"
    },
    "ConflictException":{
      "type":"structure",
      "required":[
        "Message",
        "Reason"
      ],
      "members":{
        "Message":{"shape":"String"},
        "Reason":{
          "shape":"ConflictExceptionReason",
          "documentation":"<p>The specific reason for the conflict.</p>"
        }
      },
      "documentation":"<p>The request could not be completed due to a conflict with the current state of the resource. This typically occurs when trying to create a resource that already exists or modify a resource that has been changed by another process.</p>",
      "exception":true
    },
    "ConflictExceptionReason":{
      "type":"string",
      "enum":[
        "CONFLICT_CLIENT_TOKEN",
        "DUPLICATE_PARTNER",
        "INCOMPATIBLE_PROFILE_STATE",
        "INCOMPATIBLE_PARTNER_PROFILE_TASK_STATE",
        "DUPLICATE_CONNECTION_INVITATION",
        "INCOMPATIBLE_CONNECTION_INVITATION_STATE",
        "INCOMPATIBLE_CONNECTION_INVITATION_RECEIVER",
        "DUPLICATE_CONNECTION",
        "INCOMPATIBLE_CONNECTION_STATE",
        "INCOMPATIBLE_CONNECTION_PREFERENCES_REVISION"
      ]
    },
    "Connection":{
      "type":"structure",
      "required":[
        "Catalog",
        "Id",
        "Arn",
        "OtherParticipantAccountId",
        "UpdatedAt",
        "ConnectionTypes"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier that the connection belongs to.</p>"
        },
        "Id":{
          "shape":"ConnectionId",
          "documentation":"<p>The unique identifier of the connection.</p>"
        },
        "Arn":{
          "shape":"ConnectionArn",
          "documentation":"<p>The AWS Resource Name (ARN) of the connection.</p>"
        },
        "OtherParticipantAccountId":{
          "shape":"AwsAccountId",
          "documentation":"<p>The AWS account ID of the other participant in the connection.</p>"
        },
        "UpdatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the connection was last updated.</p>"
        },
        "ConnectionTypes":{
          "shape":"ConnectionTypeDetailMap",
          "documentation":"<p>The type of connection.</p>"
        }
      },
      "documentation":"<p>Base structure containing common connection properties.</p>"
    },
    "ConnectionArn":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"arn:[a-zA-Z0-9-]+:partnercentral:[a-z0-9\\-]*::catalog/[a-zA-Z]+/connection/pac-[A-Za-z0-9]{13}"
    },
    "ConnectionId":{
      "type":"string",
      "pattern":"pac-[A-Za-z0-9]{13}"
    },
    "ConnectionInvitationArn":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"arn:[a-zA-Z0-9-]+:partnercentral:[a-z0-9\\-]*::catalog/[a-zA-Z]+/connection-invitation/pacinv-[A-Za-z0-9]{13}"
    },
    "ConnectionInvitationId":{
      "type":"string",
      "pattern":"pacinv-[A-Za-z0-9]{13}"
    },
    "ConnectionInvitationSummary":{
      "type":"structure",
      "required":[
        "Catalog",
        "Id",
        "Arn",
        "ConnectionType",
        "CreatedAt",
        "UpdatedAt",
        "OtherParticipantIdentifier",
        "ParticipantType",
        "Status"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier where the connection invitation exists.</p>"
        },
        "Id":{
          "shape":"ConnectionInvitationId",
          "documentation":"<p>The unique identifier of the connection invitation.</p>"
        },
        "Arn":{
          "shape":"ConnectionInvitationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the connection invitation.</p>"
        },
        "ConnectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The identifier of the connection associated with this invitation.</p>"
        },
        "ConnectionType":{
          "shape":"ConnectionType",
          "documentation":"<p>The type of connection being requested in the invitation.</p>"
        },
        "CreatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the connection invitation was created.</p>"
        },
        "UpdatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the connection invitation was last updated.</p>"
        },
        "ExpiresAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the connection invitation will expire.</p>"
        },
        "OtherParticipantIdentifier":{
          "shape":"ParticipantIdentifier",
          "documentation":"<p>The identifier of the other participant in the connection invitation.</p>"
        },
        "ParticipantType":{
          "shape":"ParticipantType",
          "documentation":"<p>The type of participant (inviter or invitee) in the connection invitation.</p>"
        },
        "Status":{
          "shape":"InvitationStatus",
          "documentation":"<p>The current status of the connection invitation.</p>"
        }
      },
      "documentation":"<p>A summary view of a connection invitation containing key information without full details.</p>"
    },
    "ConnectionInvitationSummaryList":{
      "type":"list",
      "member":{"shape":"ConnectionInvitationSummary"}
    },
    "ConnectionPreferencesArn":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"arn:[a-zA-Z0-9-]+:partnercentral:[a-z0-9\\-]*:[0-9]{12}:catalog/[a-zA-Z]+/connection-preferences"
    },
    "ConnectionSummary":{
      "type":"structure",
      "required":[
        "Catalog",
        "Id",
        "Arn",
        "OtherParticipantAccountId",
        "UpdatedAt",
        "ConnectionTypes"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier where the connection exists.</p>"
        },
        "Id":{
          "shape":"ConnectionId",
          "documentation":"<p>The unique identifier of the connection.</p>"
        },
        "Arn":{
          "shape":"ConnectionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the connection.</p>"
        },
        "OtherParticipantAccountId":{
          "shape":"AwsAccountId",
          "documentation":"<p>The AWS account ID of the other participant in the connection.</p>"
        },
        "UpdatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the connection was last updated.</p>"
        },
        "ConnectionTypes":{
          "shape":"ConnectionTypeSummaryMap",
          "documentation":"<p>A map of connection types and their summary information for this connection.</p>"
        }
      },
      "documentation":"<p>A summary view of an active connection between partners containing key information.</p>"
    },
    "ConnectionSummaryList":{
      "type":"list",
      "member":{"shape":"ConnectionSummary"}
    },
    "ConnectionType":{
      "type":"string",
      "enum":[
        "OPPORTUNITY_COLLABORATION",
        "SUBSIDIARY"
      ]
    },
    "ConnectionTypeDetail":{
      "type":"structure",
      "required":[
        "CreatedAt",
        "InviterEmail",
        "InviterName",
        "Status",
        "OtherParticipant"
      ],
      "members":{
        "CreatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when this connection type was created.</p>"
        },
        "InviterEmail":{
          "shape":"Email",
          "documentation":"<p>The email address of the person who initiated this connection type.</p>"
        },
        "InviterName":{
          "shape":"SensitiveUnicodeString",
          "documentation":"<p>The name of the person who initiated this connection type.</p>"
        },
        "Status":{
          "shape":"ConnectionTypeStatus",
          "documentation":"<p>The current status of this connection type.</p>"
        },
        "CanceledAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when this connection type was cancelled, if applicable.</p>"
        },
        "CanceledBy":{
          "shape":"AwsAccountId",
          "documentation":"<p>The AWS account ID of the participant who cancelled this connection type.</p>"
        },
        "OtherParticipant":{
          "shape":"Participant",
          "documentation":"<p>Information about the other participant in this connection type.</p>"
        }
      },
      "documentation":"<p>Detailed information about a specific connection type within a connection.</p>"
    },
    "ConnectionTypeDetailMap":{
      "type":"map",
      "key":{"shape":"ConnectionType"},
      "value":{"shape":"ConnectionTypeDetail"}
    },
    "ConnectionTypeFilter":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"[a-zA-Z_-]+(:[a-zA-Z]+)?"
    },
    "ConnectionTypeStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "CANCELED"
      ]
    },
    "ConnectionTypeSummary":{
      "type":"structure",
      "required":[
        "Status",
        "OtherParticipant"
      ],
      "members":{
        "Status":{
          "shape":"ConnectionTypeStatus",
          "documentation":"<p>The current status of this connection type (active, canceled, etc.).</p>"
        },
        "OtherParticipant":{
          "shape":"Participant",
          "documentation":"<p>Information about the other participant in this connection type.</p>"
        }
      },
      "documentation":"<p>Summary information about a specific connection type between partners.</p>"
    },
    "ConnectionTypeSummaryMap":{
      "type":"map",
      "key":{"shape":"ConnectionType"},
      "value":{"shape":"ConnectionTypeSummary"}
    },
    "CreateConnectionInvitationRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "ClientToken",
        "ConnectionType",
        "Email",
        "Message",
        "Name",
        "ReceiverIdentifier"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier where the connection invitation will be created.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "ConnectionType":{
          "shape":"ConnectionType",
          "documentation":"<p>The type of connection being requested (e.g., reseller, distributor, technology partner).</p>"
        },
        "Email":{
          "shape":"Email",
          "documentation":"<p>The email address of the person to send the connection invitation to.</p>"
        },
        "Message":{
          "shape":"CreateConnectionInvitationRequestMessageString",
          "documentation":"<p>A custom message to include with the connection invitation.</p>"
        },
        "Name":{
          "shape":"SensitiveUnicodeString",
          "documentation":"<p>The name of the person sending the connection invitation.</p>"
        },
        "ReceiverIdentifier":{
          "shape":"ParticipantIdentifier",
          "documentation":"<p>The identifier of the organization or partner to invite for connection.</p>"
        }
      }
    },
    "CreateConnectionInvitationRequestMessageString":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[\\u0020-\\u007E\\u00A0-\\uD7FF\\uE000-\\uFFFD]+"
    },
    "CreateConnectionInvitationResponse":{
      "type":"structure",
      "required":[
        "Catalog",
        "Id",
        "Arn",
        "ConnectionType",
        "CreatedAt",
        "UpdatedAt",
        "OtherParticipantIdentifier",
        "ParticipantType",
        "Status",
        "InvitationMessage",
        "InviterEmail",
        "InviterName"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier where the connection invitation was created.</p>"
        },
        "Id":{
          "shape":"ConnectionInvitationId",
          "documentation":"<p>The unique identifier of the created connection invitation.</p>"
        },
        "Arn":{
          "shape":"ConnectionInvitationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the created connection invitation.</p>"
        },
        "ConnectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The identifier of the connection associated with this invitation.</p>"
        },
        "ConnectionType":{
          "shape":"ConnectionType",
          "documentation":"<p>The type of connection being requested in the invitation.</p>"
        },
        "CreatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the connection invitation was created.</p>"
        },
        "UpdatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the connection invitation was last updated.</p>"
        },
        "ExpiresAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the connection invitation will expire if not responded to.</p>"
        },
        "OtherParticipantIdentifier":{
          "shape":"ParticipantIdentifier",
          "documentation":"<p>The identifier of the organization or partner being invited.</p>"
        },
        "ParticipantType":{
          "shape":"ParticipantType",
          "documentation":"<p>The type of participant (inviter or invitee) in the connection invitation.</p>"
        },
        "Status":{
          "shape":"InvitationStatus",
          "documentation":"<p>The current status of the connection invitation (pending, accepted, rejected, etc.).</p>"
        },
        "InvitationMessage":{
          "shape":"CreateConnectionInvitationResponseInvitationMessageString",
          "documentation":"<p>The custom message included with the connection invitation.</p>"
        },
        "InviterEmail":{
          "shape":"Email",
          "documentation":"<p>The email address of the person who sent the connection invitation.</p>"
        },
        "InviterName":{
          "shape":"SensitiveUnicodeString",
          "documentation":"<p>The name of the person who sent the connection invitation.</p>"
        }
      }
    },
    "CreateConnectionInvitationResponseInvitationMessageString":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[\\u0020-\\u007E\\u00A0-\\uD7FF\\uE000-\\uFFFD]+"
    },
    "CreatePartnerRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "LegalName",
        "PrimarySolutionType",
        "AllianceLeadContact",
        "EmailVerificationCode"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier where the partner account will be created.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "LegalName":{
          "shape":"SensitiveUnicodeString",
          "documentation":"<p>The legal name of the organization becoming a partner.</p>"
        },
        "PrimarySolutionType":{
          "shape":"PrimarySolutionType",
          "documentation":"<p>The primary type of solution or service the partner provides (e.g., consulting, software, managed services).</p>"
        },
        "AllianceLeadContact":{
          "shape":"AllianceLeadContact",
          "documentation":"<p>The primary contact person for alliance and partnership matters.</p>"
        },
        "EmailVerificationCode":{
          "shape":"EmailVerificationCode",
          "documentation":"<p>The verification code sent to the alliance lead contact's email to confirm account creation.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of tags to associate with the partner account for organization and billing purposes.</p>"
        }
      }
    },
    "CreatePartnerResponse":{
      "type":"structure",
      "required":[
        "Catalog",
        "Arn",
        "Id",
        "LegalName",
        "CreatedAt",
        "Profile",
        "AllianceLeadContact"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier where the partner account was created.</p>"
        },
        "Arn":{
          "shape":"PartnerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the created partner account.</p>"
        },
        "Id":{
          "shape":"PartnerId",
          "documentation":"<p>The unique identifier of the created partner account.</p>"
        },
        "LegalName":{
          "shape":"SensitiveUnicodeString",
          "documentation":"<p>The legal name of the partner organization.</p>"
        },
        "CreatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the partner account was created.</p>"
        },
        "Profile":{
          "shape":"PartnerProfile",
          "documentation":"<p>The partner profile information including display name, description, and other public details.</p>"
        },
        "AwsTrainingCertificationEmailDomains":{
          "shape":"PartnerDomainList",
          "documentation":"<p>The list of verified email domains associated with AWS training and certification credentials for the partner organization.</p>"
        },
        "AllianceLeadContact":{
          "shape":"AllianceLeadContact",
          "documentation":"<p>The alliance lead contact information for the partner account.</p>"
        }
      }
    },
    "DateTime":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "DisassociateAwsTrainingCertificationEmailDomainRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "Identifier",
        "DomainName"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Identifier":{
          "shape":"PartnerIdentifier",
          "documentation":"<p>The unique identifier of the partner account.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The domain name to disassociate from AWS training and certification.</p>"
        }
      }
    },
    "DisassociateAwsTrainingCertificationEmailDomainResponse":{
      "type":"structure",
      "members":{}
    },
    "DomainName":{
      "type":"string",
      "max":253,
      "min":1,
      "pattern":"[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(\\.[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*"
    },
    "Email":{
      "type":"string",
      "max":320,
      "min":1,
      "pattern":"[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*"
    },
    "EmailVerificationCode":{
      "type":"string",
      "max":6,
      "min":6,
      "pattern":"[0-9]+",
      "sensitive":true
    },
    "ErrorDetail":{
      "type":"structure",
      "required":[
        "Locale",
        "Message",
        "Reason"
      ],
      "members":{
        "Locale":{
          "shape":"String",
          "documentation":"<p>The locale or language code for the error message.</p>"
        },
        "Message":{
          "shape":"String",
          "documentation":"<p>A human-readable description of the error.</p>"
        },
        "Reason":{
          "shape":"ProfileValidationErrorReason",
          "documentation":"<p>A machine-readable code or reason for the error.</p>"
        }
      },
      "documentation":"<p>Contains detailed information about an error that occurred during an operation.</p>"
    },
    "ErrorDetailList":{
      "type":"list",
      "member":{"shape":"ErrorDetail"},
      "max":50,
      "min":1
    },
    "FieldValidationCode":{
      "type":"string",
      "enum":[
        "REQUIRED_FIELD_MISSING",
        "DUPLICATE_VALUE",
        "INVALID_VALUE",
        "INVALID_STRING_FORMAT",
        "TOO_MANY_VALUES",
        "ACTION_NOT_PERMITTED",
        "INVALID_ENUM_VALUE"
      ]
    },
    "FieldValidationError":{
      "type":"structure",
      "required":[
        "Name",
        "Message",
        "Code"
      ],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the field that failed validation.</p>"
        },
        "Message":{
          "shape":"String",
          "documentation":"<p>A description of the field validation error.</p>"
        },
        "Code":{
          "shape":"FieldValidationCode",
          "documentation":"<p>A code identifying the specific field validation error.</p>"
        }
      },
      "documentation":"<p>Contains information about a field-level validation error that occurred during an operation.</p>"
    },
    "GetAllianceLeadContactRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "Identifier"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Identifier":{
          "shape":"PartnerIdentifier",
          "documentation":"<p>The unique identifier of the partner account.</p>"
        }
      }
    },
    "GetAllianceLeadContactResponse":{
      "type":"structure",
      "required":[
        "Catalog",
        "Arn",
        "Id",
        "AllianceLeadContact"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Arn":{
          "shape":"PartnerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the partner account.</p>"
        },
        "Id":{
          "shape":"PartnerId",
          "documentation":"<p>The unique identifier of the partner account.</p>"
        },
        "AllianceLeadContact":{
          "shape":"AllianceLeadContact",
          "documentation":"<p>The alliance lead contact information including name, email, and business title.</p>"
        }
      }
    },
    "GetConnectionInvitationRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "Identifier"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier where the connection invitation exists.</p>"
        },
        "Identifier":{
          "shape":"ConnectionInvitationId",
          "documentation":"<p>The unique identifier of the connection invitation to retrieve.</p>"
        }
      }
    },
    "GetConnectionInvitationResponse":{
      "type":"structure",
      "required":[
        "Catalog",
        "Id",
        "Arn",
        "ConnectionType",
        "CreatedAt",
        "UpdatedAt",
        "OtherParticipantIdentifier",
        "ParticipantType",
        "Status",
        "InvitationMessage",
        "InviterEmail",
        "InviterName"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier where the connection invitation exists.</p>"
        },
        "Id":{
          "shape":"ConnectionInvitationId",
          "documentation":"<p>The unique identifier of the connection invitation.</p>"
        },
        "Arn":{
          "shape":"ConnectionInvitationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the connection invitation.</p>"
        },
        "ConnectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The identifier of the connection associated with this invitation.</p>"
        },
        "ConnectionType":{
          "shape":"ConnectionType",
          "documentation":"<p>The type of connection being requested in the invitation.</p>"
        },
        "CreatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the connection invitation was created.</p>"
        },
        "UpdatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the connection invitation was last updated.</p>"
        },
        "ExpiresAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the connection invitation will expire.</p>"
        },
        "OtherParticipantIdentifier":{
          "shape":"ParticipantIdentifier",
          "documentation":"<p>The identifier of the other participant in the connection invitation.</p>"
        },
        "ParticipantType":{
          "shape":"ParticipantType",
          "documentation":"<p>The type of participant (inviter or invitee) in the connection invitation.</p>"
        },
        "Status":{
          "shape":"InvitationStatus",
          "documentation":"<p>The current status of the connection invitation.</p>"
        },
        "InvitationMessage":{
          "shape":"GetConnectionInvitationResponseInvitationMessageString",
          "documentation":"<p>The custom message included with the connection invitation.</p>"
        },
        "InviterEmail":{
          "shape":"Email",
          "documentation":"<p>The email address of the person who sent the connection invitation.</p>"
        },
        "InviterName":{
          "shape":"SensitiveUnicodeString",
          "documentation":"<p>The name of the person who sent the connection invitation.</p>"
        }
      }
    },
    "GetConnectionInvitationResponseInvitationMessageString":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[\\u0020-\\u007E\\u00A0-\\uD7FF\\uE000-\\uFFFD]+"
    },
    "GetConnectionPreferencesRequest":{
      "type":"structure",
      "required":["Catalog"],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        }
      }
    },
    "GetConnectionPreferencesResponse":{
      "type":"structure",
      "required":[
        "Catalog",
        "Arn",
        "AccessType",
        "UpdatedAt",
        "Revision"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Arn":{
          "shape":"ConnectionPreferencesArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the connection preferences.</p>"
        },
        "AccessType":{
          "shape":"AccessType",
          "documentation":"<p>The access type setting for connections (e.g., open, restricted, invitation-only).</p>"
        },
        "ExcludedParticipantIds":{
          "shape":"ParticipantIdentifierList",
          "documentation":"<p>A list of participant IDs that are excluded from connection requests or interactions.</p>"
        },
        "UpdatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the connection preferences were last updated.</p>"
        },
        "Revision":{
          "shape":"Revision",
          "documentation":"<p>The revision number of the connection preferences for optimistic locking.</p>"
        }
      }
    },
    "GetConnectionRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "Identifier"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier where the connection exists.</p>"
        },
        "Identifier":{
          "shape":"ConnectionId",
          "documentation":"<p>The unique identifier of the connection to retrieve.</p>"
        }
      }
    },
    "GetConnectionResponse":{
      "type":"structure",
      "required":[
        "Catalog",
        "Id",
        "Arn",
        "OtherParticipantAccountId",
        "UpdatedAt",
        "ConnectionTypes"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier where the connection exists.</p>"
        },
        "Id":{
          "shape":"ConnectionId",
          "documentation":"<p>The unique identifier of the connection.</p>"
        },
        "Arn":{
          "shape":"ConnectionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the connection.</p>"
        },
        "OtherParticipantAccountId":{
          "shape":"AwsAccountId",
          "documentation":"<p>The AWS account ID of the other participant in the connection.</p>"
        },
        "UpdatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the connection was last updated.</p>"
        },
        "ConnectionTypes":{
          "shape":"ConnectionTypeDetailMap",
          "documentation":"<p>The list of connection types active between the partners.</p>"
        }
      }
    },
    "GetPartnerRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "Identifier"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Identifier":{
          "shape":"PartnerIdentifier",
          "documentation":"<p>The unique identifier of the partner account to retrieve.</p>"
        }
      }
    },
    "GetPartnerResponse":{
      "type":"structure",
      "required":[
        "Catalog",
        "Arn",
        "Id",
        "LegalName",
        "CreatedAt",
        "Profile"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Arn":{
          "shape":"PartnerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the partner account.</p>"
        },
        "Id":{
          "shape":"PartnerId",
          "documentation":"<p>The unique identifier of the partner account.</p>"
        },
        "LegalName":{
          "shape":"SensitiveUnicodeString",
          "documentation":"<p>The legal name of the partner organization.</p>"
        },
        "CreatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the partner account was created.</p>"
        },
        "Profile":{
          "shape":"PartnerProfile",
          "documentation":"<p>The partner profile information including display name, description, and other public details.</p>"
        },
        "AwsTrainingCertificationEmailDomains":{
          "shape":"PartnerDomainList",
          "documentation":"<p>The list of verified email domains associated with AWS training and certification credentials for the partner organization.</p>"
        }
      }
    },
    "GetProfileUpdateTaskRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "Identifier"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Identifier":{
          "shape":"PartnerIdentifier",
          "documentation":"<p>The unique identifier of the partner account.</p>"
        }
      }
    },
    "GetProfileUpdateTaskResponse":{
      "type":"structure",
      "required":[
        "Catalog",
        "Arn",
        "Id",
        "TaskId",
        "TaskDetails",
        "StartedAt",
        "Status"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Arn":{
          "shape":"PartnerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the profile update task.</p>"
        },
        "Id":{
          "shape":"PartnerId",
          "documentation":"<p>The unique identifier of the partner account.</p>"
        },
        "TaskId":{
          "shape":"ProfileTaskId",
          "documentation":"<p>The unique identifier of the profile update task.</p>"
        },
        "TaskDetails":{
          "shape":"TaskDetails",
          "documentation":"<p>The details of the profile update task including what changes are being made.</p>"
        },
        "StartedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the profile update task was started.</p>"
        },
        "Status":{
          "shape":"ProfileTaskStatus",
          "documentation":"<p>The current status of the profile update task (in progress, completed, failed, etc.).</p>"
        },
        "EndedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the profile update task was completed or failed.</p>"
        },
        "ErrorDetailList":{
          "shape":"ErrorDetailList",
          "documentation":"<p>A list of error details if any errors occurred during the profile update task.</p>"
        }
      }
    },
    "GetProfileVisibilityRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "Identifier"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Identifier":{
          "shape":"PartnerIdentifier",
          "documentation":"<p>The unique identifier of the partner account.</p>"
        }
      }
    },
    "GetProfileVisibilityResponse":{
      "type":"structure",
      "required":[
        "Catalog",
        "Arn",
        "Id",
        "Visibility",
        "ProfileId"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Arn":{
          "shape":"PartnerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the partner account.</p>"
        },
        "Id":{
          "shape":"PartnerId",
          "documentation":"<p>The unique identifier of the partner account.</p>"
        },
        "Visibility":{
          "shape":"ProfileVisibility",
          "documentation":"<p>The visibility setting for the partner profile (public, private, restricted, etc.).</p>"
        },
        "ProfileId":{
          "shape":"PartnerProfileId",
          "documentation":"<p>The unique identifier of the partner profile.</p>"
        }
      }
    },
    "IndustrySegment":{
      "type":"string",
      "enum":[
        "AGRICULTURE_MINING",
        "BIOTECHNOLOGY",
        "BUSINESS_CONSUMER_SERVICES",
        "BUSINESS_SERV",
        "COMMUNICATIONS",
        "COMPUTER_HARDWARE",
        "COMPUTERS_ELECTRONICS",
        "COMPUTER_SOFTWARE",
        "CONSUMER_GOODS",
        "CONSUMER_RELATED",
        "EDUCATION",
        "ENERGY_UTILITIES",
        "FINANCIAL_SERVICES",
        "GAMING",
        "GOVERNMENT",
        "GOVERNMENT_EDUCATION_PUBLIC_SERVICES",
        "HEALTHCARE",
        "HEALTHCARE_PHARMACEUTICALS_BIOTECH",
        "INDUSTRIAL_ENERGY",
        "INTERNET_SPECIFIC",
        "LIFE_SCIENCES",
        "MANUFACTURING",
        "MEDIA_ENTERTAINMENT_LEISURE",
        "MEDIA_ENTERTAINMENT",
        "MEDICAL_HEALTH",
        "NON_PROFIT_ORGANIZATION",
        "OTHER",
        "PROFESSIONAL_SERVICES",
        "REAL_ESTATE_CONSTRUCTION",
        "RETAIL",
        "RETAIL_WHOLESALE_DISTRIBUTION",
        "SEMICONDUCTOR_ELECTR",
        "SOFTWARE_INTERNET",
        "TELECOMMUNICATIONS",
        "TRANSPORTATION_LOGISTICS",
        "TRAVEL_HOSPITALITY",
        "WHOLESALE_DISTRIBUTION"
      ]
    },
    "IndustrySegmentList":{
      "type":"list",
      "member":{"shape":"IndustrySegment"},
      "max":3,
      "min":1
    },
    "InternalServerException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>An internal server error occurred while processing the request. This is typically a temporary condition and the request may be retried.</p>",
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "InvitationStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "ACCEPTED",
        "REJECTED",
        "CANCELED",
        "EXPIRED"
      ]
    },
    "ListConnectionInvitationsRequest":{
      "type":"structure",
      "required":["Catalog"],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token for retrieving the next page of results in paginated responses.</p>"
        },
        "ConnectionType":{
          "shape":"ConnectionType",
          "documentation":"<p>Filter results by connection type (e.g., reseller, distributor, technology partner).</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of connection invitations to return in a single response.</p>"
        },
        "OtherParticipantIdentifiers":{
          "shape":"ParticipantIdentifierList",
          "documentation":"<p>Filter results by specific participant identifiers.</p>"
        },
        "ParticipantType":{
          "shape":"ParticipantType",
          "documentation":"<p>Filter results by participant type (inviter or invitee).</p>"
        },
        "Status":{
          "shape":"InvitationStatus",
          "documentation":"<p>Filter results by invitation status (pending, accepted, rejected, canceled, expired).</p>"
        }
      }
    },
    "ListConnectionInvitationsResponse":{
      "type":"structure",
      "required":["ConnectionInvitationSummaries"],
      "members":{
        "ConnectionInvitationSummaries":{
          "shape":"ConnectionInvitationSummaryList",
          "documentation":"<p>A list of connection invitation summaries matching the specified criteria.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token for retrieving the next page of results if more results are available.</p>"
        }
      }
    },
    "ListConnectionsRequest":{
      "type":"structure",
      "required":["Catalog"],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token for retrieving the next page of results in paginated responses.</p>"
        },
        "ConnectionType":{
          "shape":"ConnectionTypeFilter",
          "documentation":"<p>Filter results by connection type (e.g., reseller, distributor, technology partner).</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of connections to return in a single response.</p>"
        },
        "OtherParticipantIdentifiers":{
          "shape":"ParticipantIdentifierList",
          "documentation":"<p>Filter results by specific participant identifiers.</p>"
        }
      }
    },
    "ListConnectionsResponse":{
      "type":"structure",
      "required":["ConnectionSummaries"],
      "members":{
        "ConnectionSummaries":{
          "shape":"ConnectionSummaryList",
          "documentation":"<p>A list of connection summaries matching the specified criteria.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token for retrieving the next page of results if more results are available.</p>"
        }
      }
    },
    "ListPartnersRequest":{
      "type":"structure",
      "required":["Catalog"],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier to list partners from.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token for retrieving the next page of results in paginated responses.</p>"
        }
      }
    },
    "ListPartnersResponse":{
      "type":"structure",
      "required":["PartnerSummaryList"],
      "members":{
        "PartnerSummaryList":{
          "shape":"PartnerSummaryList",
          "documentation":"<p>A list of partner summaries including basic information about each partner account.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token for retrieving the next page of results if more results are available.</p>"
        }
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{
          "shape":"TaggableResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource to list tags for.</p>"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{
          "shape":"TaggableResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource that the tags are associated with.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of tags associated with the specified resource.</p>"
        }
      }
    },
    "Locale":{
      "type":"string",
      "pattern":"[a-z]{2}-[A-Z]{2}"
    },
    "LocalizedContent":{
      "type":"structure",
      "required":[
        "DisplayName",
        "Description",
        "WebsiteUrl",
        "LogoUrl",
        "Locale"
      ],
      "members":{
        "DisplayName":{
          "shape":"UnicodeString",
          "documentation":"<p>The localized display name for the partner.</p>"
        },
        "Description":{
          "shape":"LocalizedContentDescriptionString",
          "documentation":"<p>The localized description of the partner's business and services.</p>"
        },
        "WebsiteUrl":{
          "shape":"Url",
          "documentation":"<p>The localized website URL for the partner.</p>"
        },
        "LogoUrl":{
          "shape":"Url",
          "documentation":"<p>The URL to the partner's logo image for this locale.</p>"
        },
        "Locale":{
          "shape":"Locale",
          "documentation":"<p>The locale or language code for the localized content.</p>"
        }
      },
      "documentation":"<p>Contains localized content for a partner profile in a specific language or locale.</p>"
    },
    "LocalizedContentDescriptionString":{
      "type":"string",
      "max":600,
      "min":1,
      "pattern":"[\\u0020-\\u007E\\u00A0-\\uD7FF\\uE000-\\uFFFD]+"
    },
    "LocalizedContentList":{
      "type":"list",
      "member":{"shape":"LocalizedContent"},
      "max":20,
      "min":0
    },
    "MaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "NextToken":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"[\\S]+"
    },
    "Participant":{
      "type":"structure",
      "members":{
        "PartnerProfile":{
          "shape":"PartnerProfileSummary",
          "documentation":"<p>The partner profile information for the participant.</p>"
        },
        "SellerProfile":{
          "shape":"SellerProfileSummary",
          "documentation":"<p>The seller profile information for the participant.</p>"
        },
        "Account":{
          "shape":"AccountSummary",
          "documentation":"<p>The AWS account information for the participant.</p>"
        }
      },
      "documentation":"<p>Represents a participant in a partner connection, containing their profile and account information.</p>",
      "union":true
    },
    "ParticipantIdentifier":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "ParticipantIdentifierList":{
      "type":"list",
      "member":{"shape":"ParticipantIdentifier"}
    },
    "ParticipantType":{
      "type":"string",
      "enum":[
        "SENDER",
        "RECEIVER"
      ]
    },
    "PartnerArn":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"arn:[a-z-]+:partnercentral:[a-z0-9-]+:[0-9]{12}:catalog/[A-Za-z-_]+/partner/partner-[A-Za-z0-9]{13}"
    },
    "PartnerDomain":{
      "type":"structure",
      "required":[
        "DomainName",
        "RegisteredAt"
      ],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The domain name that has been verified for the partner account.</p>"
        },
        "RegisteredAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the domain was registered and verified for the partner account.</p>"
        }
      },
      "documentation":"<p>Represents a verified domain associated with a partner account.</p>"
    },
    "PartnerDomainList":{
      "type":"list",
      "member":{"shape":"PartnerDomain"},
      "max":100,
      "min":0
    },
    "PartnerId":{
      "type":"string",
      "pattern":"partner-[A-Za-z0-9]{13}"
    },
    "PartnerIdentifier":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"(partner-[A-Za-z0-9]{13}|arn:[a-z-]+:partnercentral:[a-z0-9-]+:[0-9]{12}:catalog/[A-Za-z-_]+/partner/partner-[A-Za-z0-9]{13})"
    },
    "PartnerProfile":{
      "type":"structure",
      "required":[
        "DisplayName",
        "Description",
        "WebsiteUrl",
        "LogoUrl",
        "PrimarySolutionType",
        "IndustrySegments",
        "TranslationSourceLocale"
      ],
      "members":{
        "DisplayName":{
          "shape":"UnicodeString",
          "documentation":"<p>The public display name for the partner organization.</p>"
        },
        "Description":{
          "shape":"PartnerProfileDescriptionString",
          "documentation":"<p>A description of the partner's business, services, and capabilities.</p>"
        },
        "WebsiteUrl":{
          "shape":"Url",
          "documentation":"<p>The partner's primary website URL.</p>"
        },
        "LogoUrl":{
          "shape":"Url",
          "documentation":"<p>The URL to the partner's logo image.</p>"
        },
        "PrimarySolutionType":{
          "shape":"PrimarySolutionType",
          "documentation":"<p>The primary type of solution or service the partner provides.</p>"
        },
        "IndustrySegments":{
          "shape":"IndustrySegmentList",
          "documentation":"<p>The industry segments or verticals that the partner serves.</p>"
        },
        "TranslationSourceLocale":{
          "shape":"Locale",
          "documentation":"<p>The source locale used for automatic translation of profile content.</p>"
        },
        "LocalizedContents":{
          "shape":"LocalizedContentList",
          "documentation":"<p>A list of localized content versions for different languages and regions.</p>"
        },
        "ProfileId":{
          "shape":"PartnerProfileId",
          "documentation":"<p>The unique identifier of the partner profile.</p>"
        }
      },
      "documentation":"<p>Contains comprehensive profile information for a partner including public-facing details.</p>"
    },
    "PartnerProfileDescriptionString":{
      "type":"string",
      "max":600,
      "min":1,
      "pattern":"[\\u0020-\\u007E\\u00A0-\\uD7FF\\uE000-\\uFFFD]+"
    },
    "PartnerProfileId":{
      "type":"string",
      "max":50,
      "min":1,
      "pattern":"pprofile-[A-Za-z0-9]{13}"
    },
    "PartnerProfileSummary":{
      "type":"structure",
      "required":[
        "Id",
        "Name"
      ],
      "members":{
        "Id":{
          "shape":"PartnerProfileId",
          "documentation":"<p>The unique identifier of the partner profile.</p>"
        },
        "Name":{
          "shape":"UnicodeString",
          "documentation":"<p>The display name of the partner.</p>"
        }
      },
      "documentation":"<p>A summary view of a partner profile containing basic identifying information.</p>"
    },
    "PartnerSummary":{
      "type":"structure",
      "required":[
        "Catalog",
        "Arn",
        "Id",
        "LegalName",
        "CreatedAt"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Arn":{
          "shape":"PartnerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the partner account.</p>"
        },
        "Id":{
          "shape":"PartnerId",
          "documentation":"<p>The unique identifier of the partner account.</p>"
        },
        "LegalName":{
          "shape":"SensitiveUnicodeString",
          "documentation":"<p>The legal name of the partner organization.</p>"
        },
        "CreatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the partner account was created.</p>"
        }
      },
      "documentation":"<p>A summary view of a partner account containing basic information for listing purposes.</p>"
    },
    "PartnerSummaryList":{
      "type":"list",
      "member":{"shape":"PartnerSummary"},
      "max":50,
      "min":0
    },
    "PrimarySolutionType":{
      "type":"string",
      "enum":[
        "SOFTWARE_PRODUCTS",
        "CONSULTING_SERVICES",
        "PROFESSIONAL_SERVICES",
        "MANAGED_SERVICES",
        "HARDWARE_PRODUCTS",
        "COMMUNICATION_SERVICES",
        "VALUE_ADDED_RESALE_AWS_SERVICES",
        "TRAINING_SERVICES"
      ]
    },
    "ProfileTaskId":{
      "type":"string",
      "max":80,
      "min":1,
      "pattern":"pprofiletask-[A-Za-z0-9]{13}"
    },
    "ProfileTaskStatus":{
      "type":"string",
      "enum":[
        "IN_PROGRESS",
        "CANCELED",
        "SUCCEEDED",
        "FAILED"
      ]
    },
    "ProfileValidationErrorReason":{
      "type":"string",
      "enum":[
        "INVALID_CONTENT",
        "DUPLICATE_PROFILE",
        "INVALID_LOGO",
        "INVALID_LOGO_URL",
        "INVALID_LOGO_FILE",
        "INVALID_LOGO_SIZE",
        "INVALID_WEBSITE_URL"
      ]
    },
    "ProfileVisibility":{
      "type":"string",
      "enum":[
        "PRIVATE",
        "PUBLIC"
      ]
    },
    "PutAllianceLeadContactRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "Identifier",
        "AllianceLeadContact"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Identifier":{
          "shape":"PartnerIdentifier",
          "documentation":"<p>The unique identifier of the partner account.</p>"
        },
        "AllianceLeadContact":{
          "shape":"AllianceLeadContact",
          "documentation":"<p>The alliance lead contact information to set for the partner account.</p>"
        },
        "EmailVerificationCode":{
          "shape":"EmailVerificationCode",
          "documentation":"<p>The verification code sent to the alliance lead contact's email to confirm the update.</p>"
        }
      }
    },
    "PutAllianceLeadContactResponse":{
      "type":"structure",
      "required":[
        "Catalog",
        "Arn",
        "Id",
        "AllianceLeadContact"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Arn":{
          "shape":"PartnerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the partner account.</p>"
        },
        "Id":{
          "shape":"PartnerId",
          "documentation":"<p>The unique identifier of the partner account.</p>"
        },
        "AllianceLeadContact":{
          "shape":"AllianceLeadContact",
          "documentation":"<p>The updated alliance lead contact information.</p>"
        }
      }
    },
    "PutProfileVisibilityRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "Identifier",
        "Visibility"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Identifier":{
          "shape":"PartnerIdentifier",
          "documentation":"<p>The unique identifier of the partner account.</p>"
        },
        "Visibility":{
          "shape":"ProfileVisibility",
          "documentation":"<p>The visibility setting to apply to the partner profile.</p>"
        }
      }
    },
    "PutProfileVisibilityResponse":{
      "type":"structure",
      "required":[
        "Catalog",
        "Arn",
        "Id",
        "Visibility",
        "ProfileId"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Arn":{
          "shape":"PartnerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the partner account.</p>"
        },
        "Id":{
          "shape":"PartnerId",
          "documentation":"<p>The unique identifier of the partner account.</p>"
        },
        "Visibility":{
          "shape":"ProfileVisibility",
          "documentation":"<p>The updated visibility setting for the partner profile.</p>"
        },
        "ProfileId":{
          "shape":"PartnerProfileId",
          "documentation":"<p>The unique identifier of the partner profile.</p>"
        }
      }
    },
    "RejectConnectionInvitationRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "Identifier",
        "ClientToken"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier where the connection invitation exists.</p>"
        },
        "Identifier":{
          "shape":"ConnectionInvitationId",
          "documentation":"<p>The unique identifier of the connection invitation to reject.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "Reason":{
          "shape":"RejectConnectionInvitationRequestReasonString",
          "documentation":"<p>The reason for rejecting the connection invitation.</p>"
        }
      }
    },
    "RejectConnectionInvitationRequestReasonString":{
      "type":"string",
      "max":256,
      "min":0
    },
    "RejectConnectionInvitationResponse":{
      "type":"structure",
      "required":[
        "Catalog",
        "Id",
        "Arn",
        "ConnectionType",
        "CreatedAt",
        "UpdatedAt",
        "OtherParticipantIdentifier",
        "ParticipantType",
        "Status",
        "InvitationMessage",
        "InviterEmail",
        "InviterName"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier where the connection invitation was rejected.</p>"
        },
        "Id":{
          "shape":"ConnectionInvitationId",
          "documentation":"<p>The unique identifier of the rejected connection invitation.</p>"
        },
        "Arn":{
          "shape":"ConnectionInvitationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the rejected connection invitation.</p>"
        },
        "ConnectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The identifier of the connection associated with the rejected invitation.</p>"
        },
        "ConnectionType":{
          "shape":"ConnectionType",
          "documentation":"<p>The type of connection that was being invited for.</p>"
        },
        "CreatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the connection invitation was originally created.</p>"
        },
        "UpdatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the connection invitation was last updated (rejected).</p>"
        },
        "ExpiresAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the connection invitation would have expired.</p>"
        },
        "OtherParticipantIdentifier":{
          "shape":"ParticipantIdentifier",
          "documentation":"<p>The identifier of the other participant who sent the invitation.</p>"
        },
        "ParticipantType":{
          "shape":"ParticipantType",
          "documentation":"<p>The type of participant (inviter or invitee) in the connection invitation.</p>"
        },
        "Status":{
          "shape":"InvitationStatus",
          "documentation":"<p>The current status of the connection invitation (rejected).</p>"
        },
        "InvitationMessage":{
          "shape":"RejectConnectionInvitationResponseInvitationMessageString",
          "documentation":"<p>The message that was included with the original connection invitation.</p>"
        },
        "InviterEmail":{
          "shape":"Email",
          "documentation":"<p>The email address of the person who sent the connection invitation.</p>"
        },
        "InviterName":{
          "shape":"SensitiveUnicodeString",
          "documentation":"<p>The name of the person who sent the connection invitation.</p>"
        }
      }
    },
    "RejectConnectionInvitationResponseInvitationMessageString":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[\\u0020-\\u007E\\u00A0-\\uD7FF\\uE000-\\uFFFD]+"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":[
        "Message",
        "Reason"
      ],
      "members":{
        "Message":{"shape":"String"},
        "Reason":{
          "shape":"ResourceNotFoundExceptionReason",
          "documentation":"<p>The specific reason why the resource was not found.</p>"
        }
      },
      "documentation":"<p>The specified resource could not be found. This may occur when referencing a resource that does not exist or has been deleted.</p>",
      "exception":true
    },
    "ResourceNotFoundExceptionReason":{
      "type":"string",
      "enum":[
        "PARTNER_NOT_FOUND",
        "PARTNER_PROFILE_NOT_FOUND",
        "PARTNER_PROFILE_TASK_NOT_FOUND",
        "PARTNER_DOMAIN_NOT_FOUND",
        "SENDER_PROFILE_NOT_FOUND",
        "RECEIVER_PROFILE_NOT_FOUND",
        "CONNECTION_INVITATION_NOT_FOUND",
        "CONNECTION_NOT_FOUND"
      ]
    },
    "Revision":{
      "type":"long",
      "box":true
    },
    "SellerProfileId":{
      "type":"string",
      "max":50,
      "min":1,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "SellerProfileSummary":{
      "type":"structure",
      "required":[
        "Id",
        "Name"
      ],
      "members":{
        "Id":{
          "shape":"SellerProfileId",
          "documentation":"<p>The unique identifier of the seller profile.</p>"
        },
        "Name":{
          "shape":"UnicodeString",
          "documentation":"<p>The display name of the seller.</p>"
        }
      },
      "documentation":"<p>A summary view of a seller profile containing basic identifying information.</p>"
    },
    "SendEmailVerificationCodeRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "Email"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Email":{
          "shape":"Email",
          "documentation":"<p>The email address to send the verification code to.</p>"
        }
      }
    },
    "SendEmailVerificationCodeResponse":{
      "type":"structure",
      "members":{}
    },
    "SensitiveUnicodeString":{
      "type":"string",
      "max":80,
      "min":1,
      "pattern":"[\\u0020-\\u007E\\u00A0-\\uD7FF\\uE000-\\uFFFD]+",
      "sensitive":true
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "required":[
        "Message",
        "Reason"
      ],
      "members":{
        "Message":{"shape":"String"},
        "Reason":{
          "shape":"ServiceQuotaExceededExceptionReason",
          "documentation":"<p>The specific reason for the service quota being exceeded.</p>"
        }
      },
      "documentation":"<p>The request was rejected because it would exceed a service quota or limit. This may occur when trying to create more resources than allowed by the service limits.</p>",
      "exception":true
    },
    "ServiceQuotaExceededExceptionReason":{
      "type":"string",
      "enum":[
        "LIMIT_EXCEEDED_NUMBER_OF_EMAIL",
        "LIMIT_EXCEEDED_NUMBER_OF_DOMAIN"
      ]
    },
    "StartProfileUpdateTaskRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "Identifier",
        "TaskDetails"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Identifier":{
          "shape":"PartnerIdentifier",
          "documentation":"<p>The unique identifier of the partner account.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "TaskDetails":{
          "shape":"TaskDetails",
          "documentation":"<p>The details of the profile updates to be performed.</p>"
        }
      }
    },
    "StartProfileUpdateTaskResponse":{
      "type":"structure",
      "required":[
        "Catalog",
        "Arn",
        "Id",
        "TaskId",
        "TaskDetails",
        "StartedAt",
        "Status"
      ],
      "members":{
        "Catalog":{
          "shape":"Catalog",
          "documentation":"<p>The catalog identifier for the partner account.</p>"
        },
        "Arn":{
          "shape":"PartnerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the started profile update task.</p>"
        },
        "Id":{
          "shape":"PartnerId",
          "documentation":"<p>The unique identifier of the partner account.</p>"
        },
        "TaskId":{
          "shape":"ProfileTaskId",
          "documentation":"<p>The unique identifier of the started profile update task.</p>"
        },
        "TaskDetails":{
          "shape":"TaskDetails",
          "documentation":"<p>The details of the profile update task that was started.</p>"
        },
        "StartedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the profile update task was started.</p>"
        },
        "Status":{
          "shape":"ProfileTaskStatus",
          "documentation":"<p>The current status of the profile update task (in progress).</p>"
        },
        "EndedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the profile update task ended (null for in-progress tasks).</p>"
        },
        "ErrorDetailList":{
          "shape":"ErrorDetailList",
          "documentation":"<p>A list of error details if any errors occurred during the profile update task.</p>"
        }
      }
    },
    "String":{"type":"string"},
    "Tag":{
      "type":"structure",
      "required":[
        "Key",
        "Value"
      ],
      "members":{
        "Key":{
          "shape":"TagKey",
          "documentation":"<p>The key name of the tag. Tag keys are case-sensitive.</p>"
        },
        "Value":{
          "shape":"TagValue",
          "documentation":"<p>The value associated with the tag key. Tag values are case-sensitive.</p>"
        }
      },
      "documentation":"<p>A key-value pair used to associate metadata with AWS Partner Central Account resources.</p>"
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "max":50,
      "min":0
    },
    "TagList":{
      "type":"list",
      "member":{"shape":"Tag"},
      "max":200,
      "min":0
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "Tags"
      ],
      "members":{
        "ResourceArn":{
          "shape":"TaggableResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource to tag.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of tags to add or update for the specified resource.</p>"
        }
      }
    },
    "TagResourceResponse":{
      "type":"structure",
      "members":{}
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0
    },
    "TaggableResourceArn":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"arn:[a-z-]+:partnercentral:[a-z0-9-]+:[0-9]{12}:[A-Za-z0-9._:/-]+"
    },
    "TaskDetails":{
      "type":"structure",
      "required":[
        "DisplayName",
        "Description",
        "WebsiteUrl",
        "LogoUrl",
        "PrimarySolutionType",
        "IndustrySegments",
        "TranslationSourceLocale"
      ],
      "members":{
        "DisplayName":{
          "shape":"UnicodeString",
          "documentation":"<p>The updated display name for the partner profile.</p>"
        },
        "Description":{
          "shape":"TaskDetailsDescriptionString",
          "documentation":"<p>The updated description for the partner profile.</p>"
        },
        "WebsiteUrl":{
          "shape":"Url",
          "documentation":"<p>The updated website URL for the partner profile.</p>"
        },
        "LogoUrl":{
          "shape":"Url",
          "documentation":"<p>The updated logo URL for the partner profile.</p>"
        },
        "PrimarySolutionType":{
          "shape":"PrimarySolutionType",
          "documentation":"<p>The updated primary solution type for the partner profile.</p>"
        },
        "IndustrySegments":{
          "shape":"IndustrySegmentList",
          "documentation":"<p>The updated industry segments for the partner profile.</p>"
        },
        "TranslationSourceLocale":{
          "shape":"Locale",
          "documentation":"<p>The updated translation source locale for the partner profile.</p>"
        },
        "LocalizedContents":{
          "shape":"LocalizedContentList",
          "documentation":"<p>The updated localized content for the partner profile.</p>"
        }
      },
[...]
