{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2026-02-17",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"resiliencehub",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AWS Resilience Hub V2",
    "serviceId":"resiliencehubv2",
    "signatureVersion":"v4",
    "signingName":"resiliencehub",
    "uid":"resiliencehubv2-2026-02-17"
  },
  "operations":{
    "CreateAssertion":{
      "name":"CreateAssertion",
      "http":{
        "method":"POST",
        "requestUri":"/v2/create-assertion",
        "responseCode":200
      },
      "input":{"shape":"CreateAssertionRequest"},
      "output":{"shape":"CreateAssertionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a resilience assertion for a service.</p>"
    },
    "CreateInputSource":{
      "name":"CreateInputSource",
      "http":{
        "method":"POST",
        "requestUri":"/v2/create-input-source",
        "responseCode":200
      },
      "input":{"shape":"CreateInputSourceRequest"},
      "output":{"shape":"CreateInputSourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates an input source for a service.</p>"
    },
    "CreatePolicy":{
      "name":"CreatePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/v2/create-policy",
        "responseCode":200
      },
      "input":{"shape":"CreatePolicyRequest"},
      "output":{"shape":"CreatePolicyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a resilience policy that defines availability and disaster recovery requirements.</p>"
    },
    "CreateReport":{
      "name":"CreateReport",
      "http":{
        "method":"POST",
        "requestUri":"/v2/create-report",
        "responseCode":200
      },
      "input":{"shape":"CreateReportRequest"},
      "output":{"shape":"CreateReportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>On-demand report creation. Idempotent — duplicate requests with same clientToken return existing result.</p>"
    },
    "CreateService":{
      "name":"CreateService",
      "http":{
        "method":"POST",
        "requestUri":"/v2/create-service",
        "responseCode":200
      },
      "input":{"shape":"CreateServiceRequest"},
      "output":{"shape":"CreateServiceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a service.</p>"
    },
    "CreateServiceFunction":{
      "name":"CreateServiceFunction",
      "http":{
        "method":"POST",
        "requestUri":"/v2/create-service-function",
        "responseCode":200
      },
      "input":{"shape":"CreateServiceFunctionRequest"},
      "output":{"shape":"CreateServiceFunctionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a service function within a service.</p>"
    },
    "CreateServiceFunctionResources":{
      "name":"CreateServiceFunctionResources",
      "http":{
        "method":"POST",
        "requestUri":"/v2/create-service-function-resources",
        "responseCode":200
      },
      "input":{"shape":"CreateServiceFunctionResourcesRequest"},
      "output":{"shape":"CreateServiceFunctionResourcesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Associates resources with a service function.</p>"
    },
    "CreateSystem":{
      "name":"CreateSystem",
      "http":{
        "method":"POST",
        "requestUri":"/v2/create-system",
        "responseCode":200
      },
      "input":{"shape":"CreateSystemRequest"},
      "output":{"shape":"CreateSystemResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a system that represents a logical grouping of services.</p>"
    },
    "CreateUserJourney":{
      "name":"CreateUserJourney",
      "http":{
        "method":"POST",
        "requestUri":"/v2/create-user-journey",
        "responseCode":200
      },
      "input":{"shape":"CreateUserJourneyRequest"},
      "output":{"shape":"CreateUserJourneyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a user journey within a system.</p>"
    },
    "DeleteAssertion":{
      "name":"DeleteAssertion",
      "http":{
        "method":"POST",
        "requestUri":"/v2/delete-assertion",
        "responseCode":200
      },
      "input":{"shape":"DeleteAssertionRequest"},
      "output":{"shape":"DeleteAssertionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a resilience assertion from a service.</p>"
    },
    "DeleteInputSource":{
      "name":"DeleteInputSource",
      "http":{
        "method":"POST",
        "requestUri":"/v2/delete-input-source",
        "responseCode":200
      },
      "input":{"shape":"DeleteInputSourceRequest"},
      "output":{"shape":"DeleteInputSourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an input source.</p>"
    },
    "DeletePolicy":{
      "name":"DeletePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/v2/delete-policy",
        "responseCode":200
      },
      "input":{"shape":"DeletePolicyRequest"},
      "output":{"shape":"DeletePolicyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a resilience policy.</p>"
    },
    "DeleteService":{
      "name":"DeleteService",
      "http":{
        "method":"POST",
        "requestUri":"/v2/delete-service",
        "responseCode":200
      },
      "input":{"shape":"DeleteServiceRequest"},
      "output":{"shape":"DeleteServiceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a service.</p>"
    },
    "DeleteServiceFunction":{
      "name":"DeleteServiceFunction",
      "http":{
        "method":"POST",
        "requestUri":"/v2/delete-function",
        "responseCode":200
      },
      "input":{"shape":"DeleteServiceFunctionRequest"},
      "output":{"shape":"DeleteServiceFunctionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a service function.</p>"
    },
    "DeleteServiceFunctionResources":{
      "name":"DeleteServiceFunctionResources",
      "http":{
        "method":"POST",
        "requestUri":"/v2/delete-service-function-resources",
        "responseCode":200
      },
      "input":{"shape":"DeleteServiceFunctionResourcesRequest"},
      "output":{"shape":"DeleteServiceFunctionResourcesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Removes resources from a service function.</p>"
    },
    "DeleteSystem":{
      "name":"DeleteSystem",
      "http":{
        "method":"POST",
        "requestUri":"/v2/delete-system",
        "responseCode":200
      },
      "input":{"shape":"DeleteSystemRequest"},
      "output":{"shape":"DeleteSystemResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a system.</p>"
    },
    "DeleteUserJourney":{
      "name":"DeleteUserJourney",
      "http":{
        "method":"POST",
        "requestUri":"/v2/delete-user-journey",
        "responseCode":200
      },
      "input":{"shape":"DeleteUserJourneyRequest"},
      "output":{"shape":"DeleteUserJourneyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a user journey.</p>"
    },
    "GetFailureModeFinding":{
      "name":"GetFailureModeFinding",
      "http":{
        "method":"GET",
        "requestUri":"/v2/get-failure-mode-finding",
        "responseCode":200
      },
      "input":{"shape":"GetFailureModeFindingRequest"},
      "output":{"shape":"GetFailureModeFindingResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a finding by findingId.</p>",
      "readonly":true
    },
    "GetPolicy":{
      "name":"GetPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/v2/get-policy",
        "responseCode":200
      },
      "input":{"shape":"GetPolicyRequest"},
      "output":{"shape":"GetPolicyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a resilience policy by ARN.</p>",
      "readonly":true
    },
    "GetService":{
      "name":"GetService",
      "http":{
        "method":"GET",
        "requestUri":"/v2/get-service",
        "responseCode":200
      },
      "input":{"shape":"GetServiceRequest"},
      "output":{"shape":"GetServiceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a service by ARN.</p>",
      "readonly":true
    },
    "GetSystem":{
      "name":"GetSystem",
      "http":{
        "method":"GET",
        "requestUri":"/v2/get-system",
        "responseCode":200
      },
      "input":{"shape":"GetSystemRequest"},
      "output":{"shape":"GetSystemResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a system by ARN.</p>",
      "readonly":true
    },
    "GetUserJourney":{
      "name":"GetUserJourney",
      "http":{
        "method":"GET",
        "requestUri":"/v2/get-user-journey",
        "responseCode":200
      },
      "input":{"shape":"GetUserJourneyRequest"},
      "output":{"shape":"GetUserJourneyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a user journey.</p>",
      "readonly":true
    },
    "ImportApp":{
      "name":"ImportApp",
      "http":{
        "method":"POST",
        "requestUri":"/v2/import-app",
        "responseCode":200
      },
      "input":{"shape":"ImportAppRequest"},
      "output":{"shape":"ImportAppResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Imports a V1 app into the V2 resource model, creating a service with the same name.</p>"
    },
    "ImportPolicy":{
      "name":"ImportPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/v2/import-policy",
        "responseCode":200
      },
      "input":{"shape":"ImportPolicyRequest"},
      "output":{"shape":"ImportPolicyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Imports a V1 policy into V2, mapping RTO/RPO values from V1 scenarios.</p>"
    },
    "ListAssertions":{
      "name":"ListAssertions",
      "http":{
        "method":"GET",
        "requestUri":"/v2/list-assertions",
        "responseCode":200
      },
      "input":{"shape":"ListAssertionsRequest"},
      "output":{"shape":"ListAssertionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists resilience assertions for a service.</p>",
      "readonly":true
    },
    "ListDependencies":{
      "name":"ListDependencies",
      "http":{
        "method":"GET",
        "requestUri":"/v2/list-dependencies",
        "responseCode":200
      },
      "input":{"shape":"ListDependenciesRequest"},
      "output":{"shape":"ListDependenciesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists dependencies discovered for services.</p>",
      "readonly":true
    },
    "ListFailureModeAssessments":{
      "name":"ListFailureModeAssessments",
      "http":{
        "method":"GET",
        "requestUri":"/v2/list-failure-mode-assessments",
        "responseCode":200
      },
      "input":{"shape":"ListFailureModeAssessmentsRequest"},
      "output":{"shape":"ListFailureModeAssessmentsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists failure mode assessments.</p>",
      "readonly":true
    },
    "ListFailureModeFindings":{
      "name":"ListFailureModeFindings",
      "http":{
        "method":"GET",
        "requestUri":"/v2/list-failure-mode-findings",
        "responseCode":200
      },
      "input":{"shape":"ListFailureModeFindingsRequest"},
      "output":{"shape":"ListFailureModeFindingsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>List findings.</p>",
      "readonly":true
    },
    "ListInputSources":{
      "name":"ListInputSources",
      "http":{
        "method":"GET",
        "requestUri":"/v2/list-input-sources",
        "responseCode":200
      },
      "input":{"shape":"ListInputSourcesRequest"},
      "output":{"shape":"ListInputSourcesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists input sources for a service.</p>",
      "readonly":true
    },
    "ListPolicies":{
      "name":"ListPolicies",
      "http":{
        "method":"GET",
        "requestUri":"/v2/list-policies",
        "responseCode":200
      },
      "input":{"shape":"ListPoliciesRequest"},
      "output":{"shape":"ListPoliciesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists resilience policies.</p>",
      "readonly":true
    },
    "ListReports":{
      "name":"ListReports",
      "http":{
        "method":"GET",
        "requestUri":"/v2/list-reports",
        "responseCode":200
      },
      "input":{"shape":"ListReportsRequest"},
      "output":{"shape":"ListReportsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>List reports for a service, or all reports owned by the account if serviceArn is not provided.</p>",
      "readonly":true
    },
    "ListResources":{
      "name":"ListResources",
      "http":{
        "method":"GET",
        "requestUri":"/v2/list-resources",
        "responseCode":200
      },
      "input":{"shape":"ListResourcesRequest"},
      "output":{"shape":"ListResourcesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>List resources.</p>",
      "readonly":true
    },
    "ListServiceEvents":{
      "name":"ListServiceEvents",
      "http":{
        "method":"GET",
        "requestUri":"/v2/list-service-events",
        "responseCode":200
      },
      "input":{"shape":"ListServiceEventsRequest"},
      "output":{"shape":"ListServiceEventsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists events for a service.</p>",
      "readonly":true
    },
    "ListServiceFunctions":{
      "name":"ListServiceFunctions",
      "http":{
        "method":"GET",
        "requestUri":"/v2/list-functions",
        "responseCode":200
      },
      "input":{"shape":"ListServiceFunctionsRequest"},
      "output":{"shape":"ListServiceFunctionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists service functions for a service.</p>",
      "readonly":true
    },
    "ListServiceTopologyEdges":{
      "name":"ListServiceTopologyEdges",
      "http":{
        "method":"GET",
        "requestUri":"/v2/list-service-topology-edges",
        "responseCode":200
      },
      "input":{"shape":"ListServiceTopologyEdgesRequest"},
      "output":{"shape":"ListServiceTopologyEdgesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists topology edges for a service.</p>",
      "readonly":true
    },
    "ListServices":{
      "name":"ListServices",
      "http":{
        "method":"GET",
        "requestUri":"/v2/list-services",
        "responseCode":200
      },
      "input":{"shape":"ListServicesRequest"},
      "output":{"shape":"ListServicesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists services.</p>",
      "readonly":true
    },
    "ListSystemEvents":{
      "name":"ListSystemEvents",
      "http":{
        "method":"GET",
        "requestUri":"/v2/list-system-events",
        "responseCode":200
      },
      "input":{"shape":"ListSystemEventsRequest"},
      "output":{"shape":"ListSystemEventsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists events for a system.</p>",
      "readonly":true
    },
    "ListSystems":{
      "name":"ListSystems",
      "http":{
        "method":"GET",
        "requestUri":"/v2/list-systems",
        "responseCode":200
      },
      "input":{"shape":"ListSystemsRequest"},
      "output":{"shape":"ListSystemsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists systems.</p>",
      "readonly":true
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/v2/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the tags for a resource.</p>",
      "readonly":true
    },
    "ListUserJourneys":{
      "name":"ListUserJourneys",
      "http":{
        "method":"GET",
        "requestUri":"/v2/list-user-journeys",
        "responseCode":200
      },
      "input":{"shape":"ListUserJourneysRequest"},
      "output":{"shape":"ListUserJourneysResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists user journeys for a system.</p>",
      "readonly":true
    },
    "StartFailureModeAssessment":{
      "name":"StartFailureModeAssessment",
      "http":{
        "method":"POST",
        "requestUri":"/v2/start-failure-mode-assessment",
        "responseCode":200
      },
      "input":{"shape":"StartFailureModeAssessmentRequest"},
      "output":{"shape":"StartFailureModeAssessmentResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Start a failure mode assessment.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/v2/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Adds tags to a resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Removes tags from a resource.</p>",
      "idempotent":true
    },
    "UpdateAssertion":{
      "name":"UpdateAssertion",
      "http":{
        "method":"POST",
        "requestUri":"/v2/update-assertion",
        "responseCode":200
      },
      "input":{"shape":"UpdateAssertionRequest"},
      "output":{"shape":"UpdateAssertionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates a resilience assertion.</p>"
    },
    "UpdateDependency":{
      "name":"UpdateDependency",
      "http":{
        "method":"POST",
        "requestUri":"/v2/update-dependency",
        "responseCode":200
      },
      "input":{"shape":"UpdateDependencyRequest"},
      "output":{"shape":"UpdateDependencyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates a dependency classification.</p>"
    },
    "UpdateFailureModeFinding":{
      "name":"UpdateFailureModeFinding",
      "http":{
        "method":"POST",
        "requestUri":"/v2/update-failure-mode-finding",
        "responseCode":200
      },
      "input":{"shape":"UpdateFailureModeFindingRequest"},
      "output":{"shape":"UpdateFailureModeFindingResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates an existing finding.</p>"
    },
    "UpdatePolicy":{
      "name":"UpdatePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/v2/update-policy",
        "responseCode":200
      },
      "input":{"shape":"UpdatePolicyRequest"},
      "output":{"shape":"UpdatePolicyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates an existing resilience policy.</p>"
    },
    "UpdateService":{
      "name":"UpdateService",
      "http":{
        "method":"POST",
        "requestUri":"/v2/update-service",
        "responseCode":200
      },
      "input":{"shape":"UpdateServiceRequest"},
      "output":{"shape":"UpdateServiceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates an existing service.</p>"
    },
    "UpdateServiceFunction":{
      "name":"UpdateServiceFunction",
      "http":{
        "method":"POST",
        "requestUri":"/v2/update-function",
        "responseCode":200
      },
      "input":{"shape":"UpdateServiceFunctionRequest"},
      "output":{"shape":"UpdateServiceFunctionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates a service function.</p>"
    },
    "UpdateSystem":{
      "name":"UpdateSystem",
      "http":{
        "method":"POST",
        "requestUri":"/v2/update-system",
        "responseCode":200
      },
      "input":{"shape":"UpdateSystemRequest"},
      "output":{"shape":"UpdateSystemResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates an existing system.</p>"
    },
    "UpdateUserJourney":{
      "name":"UpdateUserJourney",
      "http":{
        "method":"POST",
        "requestUri":"/v2/update-user-journey",
        "responseCode":200
      },
      "input":{"shape":"UpdateUserJourneyRequest"},
      "output":{"shape":"UpdateUserJourneyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates an existing user journey.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>Access denied — caller lacks required permissions.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"[0-9]{12}"
    },
    "Achievability":{
      "type":"structure",
      "members":{
        "availabilitySlo":{
          "shape":"AchievabilityStatus",
          "documentation":"<p>The achievability status of the availability SLO target for the service.</p>"
        },
        "multiAzRtoRpo":{
          "shape":"AchievabilityStatus",
          "documentation":"<p>The achievability status of the multi-AZ RTO and RPO targets for the service.</p>"
        },
        "multiRegionRtoRpo":{
          "shape":"AchievabilityStatus",
          "documentation":"<p>The achievability status of the multi-Region RTO and RPO targets for the service.</p>"
        }
      },
      "documentation":"<p>Describes the achievability status of a service's resilience targets based on the most recent assessment.</p>"
    },
    "AchievabilityStatus":{
      "type":"string",
      "enum":[
        "ACHIEVABLE",
        "NOT_ACHIEVABLE"
      ]
    },
    "ActorType":{
      "type":"string",
      "enum":[
        "USER",
        "SYSTEM"
      ]
    },
    "Arn":{
      "type":"string",
      "documentation":"<p>ARN identifier.</p>",
      "min":31,
      "pattern":"arn:(aws|aws-cn|aws-iso|aws-iso-[a-z]{1}|aws-us-gov):[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:([a-z]{2}-((iso[a-z]{0,1}-)|(gov-)){0,1}[a-z]+-[0-9]):[0-9]{12}:[A-Za-z0-9/][A-Za-z0-9:_/+.-]{0,1023}"
    },
    "ArnList":{
      "type":"list",
      "member":{"shape":"Arn"}
    },
    "Assertion":{
      "type":"structure",
      "required":[
        "serviceArn",
        "assertionId",
        "text",
        "source"
      ],
      "members":{
        "serviceArn":{"shape":"Arn"},
        "assertionId":{
          "shape":"Uuid",
          "documentation":"<p>The unique identifier of the assertion.</p>"
        },
        "text":{
          "shape":"AssertionText",
          "documentation":"<p>The text content of the assertion.</p>"
        },
        "source":{
          "shape":"AssertionSource",
          "documentation":"<p>The source of the assertion, indicating whether it was AI-generated or created by a user.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the assertion was created.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the assertion was last updated.</p>"
        }
      },
      "documentation":"<p>Represents a resilience assertion for a service.</p>"
    },
    "AssertionCreatedMetadata":{
      "type":"structure",
      "members":{
        "assertionId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the created assertion.</p>"
        },
        "assertionName":{
          "shape":"String",
          "documentation":"<p>The name of the created assertion.</p>"
        }
      },
      "documentation":"<p>Metadata for an assertion created event.</p>"
    },
    "AssertionDeletedMetadata":{
      "type":"structure",
      "members":{
        "assertionId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the deleted assertion.</p>"
        },
        "assertionName":{
          "shape":"String",
          "documentation":"<p>The name of the deleted assertion.</p>"
        }
      },
      "documentation":"<p>Metadata for an assertion deleted event.</p>"
    },
    "AssertionList":{
      "type":"list",
      "member":{"shape":"Assertion"}
    },
    "AssertionSource":{
      "type":"string",
      "enum":[
        "AI_GENERATED",
        "USER"
      ]
    },
    "AssertionText":{
      "type":"string",
      "max":1000,
      "min":1
    },
    "AssertionUpdatedMetadata":{
      "type":"structure",
      "members":{
        "assertionId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the updated assertion.</p>"
        },
        "assertionName":{
          "shape":"String",
          "documentation":"<p>The name of the updated assertion.</p>"
        }
      },
      "documentation":"<p>Metadata for an assertion updated event.</p>"
    },
    "AssessmentCost":{
      "type":"structure",
      "members":{
        "amount":{
          "shape":"Double",
          "documentation":"<p>The cost amount for the assessment.</p>"
        },
        "currency":{
          "shape":"CostCurrency",
          "documentation":"<p>The currency of the assessment cost.</p>"
        }
      },
      "documentation":"<p>Represents the cost of running a failure mode assessment.</p>"
    },
    "AssessmentErrorCode":{
      "type":"string",
      "enum":[
        "INVALID_PERMISSIONS",
        "CMK_ACCESS_DENIED",
        "AGENT_ERROR",
        "INTERNAL_ERROR",
        "DESIGN_FILE_ACCESS_DENIED"
      ]
    },
    "AssessmentStatus":{
      "type":"string",
      "enum":[
        "NOT_STARTED",
        "PENDING",
        "IN_PROGRESS",
        "FAILED",
        "SUCCESS"
      ]
    },
    "AssessmentStep":{
      "type":"string",
      "enum":[
        "TOPOLOGY_ENHANCEMENT",
        "SERVICE_FUNCTION_GENERATION",
        "RESILIENCE_ASSESSMENT"
      ]
    },
    "AssessmentSummary":{
      "type":"structure",
      "required":[
        "assessmentId",
        "serviceArn"
      ],
      "members":{
        "assessmentId":{
          "shape":"Uuid",
          "documentation":"<p>The unique identifier of the assessment.</p>"
        },
        "serviceArn":{"shape":"Arn"},
        "assessmentStatus":{
          "shape":"AssessmentStatus",
          "documentation":"<p>The current status of the assessment.</p>"
        },
        "assessmentStep":{
          "shape":"AssessmentStep",
          "documentation":"<p>The current step of the assessment process.</p>"
        },
        "totalFindings":{
          "shape":"Integer",
          "documentation":"<p>The total number of findings generated by the assessment.</p>"
        },
        "startedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the assessment started.</p>"
        },
        "endedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the assessment ended.</p>"
        },
        "errorMessage":{
          "shape":"String",
          "documentation":"<p>A message describing the error if the assessment failed.</p>"
        },
        "errorCode":{
          "shape":"AssessmentErrorCode",
          "documentation":"<p>The error code if the assessment failed.</p>"
        },
        "assessmentCost":{
          "shape":"AssessmentCost",
          "documentation":"<p>The cost of the assessment.</p>"
        },
        "billableAssessmentUnitCount":{
          "shape":"Integer",
          "documentation":"<p>The number of billable assessment units consumed by the assessment.</p>"
        },
        "achievability":{
          "shape":"Achievability",
          "documentation":"<p>The achievability results from the assessment.</p>"
        }
      },
      "documentation":"<p>Contains summary information about a failure mode assessment.</p>"
    },
    "AssessmentSummaryList":{
      "type":"list",
      "member":{"shape":"AssessmentSummary"}
    },
    "AssociatedSystem":{
      "type":"structure",
      "required":["systemArn"],
      "members":{
        "systemArn":{"shape":"Arn"},
        "systemName":{"shape":"EntityName"},
        "userJourneyIds":{
          "shape":"UserJourneyIdList",
          "documentation":"<p>The list of user journey identifiers that associate this system with the service.</p>"
        }
      },
      "documentation":"<p>Represents a system associated with a service.</p>"
    },
    "AssociatedSystemList":{
      "type":"list",
      "member":{"shape":"AssociatedSystem"},
      "max":20,
      "min":0
    },
    "AvailabilitySlo":{
      "type":"structure",
      "members":{
        "target":{
          "shape":"AvailabilitySloTargetDouble",
          "documentation":"<p>The target availability percentage, expressed as a value between 0 and 100.</p>"
        }
      },
      "documentation":"<p>Defines the availability service level objective (SLO) for a resilience policy.</p>"
    },
    "AvailabilitySloTargetDouble":{
      "type":"double",
      "box":true,
      "max":100,
      "min":0
    },
    "AwsAccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"\\d{12}"
    },
    "AwsRegion":{
      "type":"string",
      "min":6,
      "pattern":"[a-z]{2}-((iso[a-z]{0,1}-)|(gov-)){0,1}[a-z]+-[0-9]"
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "ClientToken":{
      "type":"string",
      "documentation":"<p>Idempotency token.</p>",
      "max":63,
      "min":1,
      "pattern":"[A-Za-z0-9_.-]{0,63}"
    },
    "ConflictException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>Conflict — resource already exists.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CostCurrency":{
      "type":"string",
      "enum":["USD"]
    },
    "CreateAssertionRequest":{
      "type":"structure",
      "required":[
        "serviceArn",
        "text"
      ],
      "members":{
        "serviceArn":{"shape":"Arn"},
        "text":{
          "shape":"AssertionText",
          "documentation":"<p>The text content of the assertion.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateAssertionResponse":{
      "type":"structure",
      "required":["assertion"],
      "members":{
        "assertion":{
          "shape":"Assertion",
          "documentation":"<p>The created assertion.</p>"
        }
      }
    },
    "CreateInputSourceRequest":{
      "type":"structure",
      "required":[
        "serviceArn",
        "resourceConfiguration"
      ],
      "members":{
        "serviceArn":{"shape":"Arn"},
        "resourceConfiguration":{"shape":"ResourceConfiguration"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateInputSourceResponse":{
      "type":"structure",
      "required":[
        "serviceArn",
        "inputSourceId"
      ],
      "members":{
        "serviceArn":{"shape":"Arn"},
        "inputSourceId":{
          "shape":"InputSourceId",
          "documentation":"<p>The unique identifier assigned to the created input source.</p>"
        }
      }
    },
    "CreatePolicyRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"EntityName"},
        "description":{"shape":"LongDescription"},
        "availabilitySlo":{
          "shape":"AvailabilitySlo",
          "documentation":"<p>The availability SLO for the resilience policy.</p>"
        },
        "multiAz":{
          "shape":"MultiAzTargets",
          "documentation":"<p>The multi-AZ disaster recovery targets for the resilience policy.</p>"
        },
        "multiRegion":{
          "shape":"MultiRegionTargets",
          "documentation":"<p>The multi-Region disaster recovery targets for the resilience policy.</p>"
        },
        "dataRecovery":{
          "shape":"DataRecoveryTargets",
          "documentation":"<p>The data recovery targets for the resilience policy.</p>"
        },
        "kmsKeyId":{"shape":"KmsKeyId"},
        "tags":{"shape":"TagMap"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreatePolicyResponse":{
      "type":"structure",
      "required":["policy"],
      "members":{
        "policy":{
          "shape":"Policy",
          "documentation":"<p>The created resilience policy.</p>"
        }
      }
    },
    "CreateReportRequest":{
      "type":"structure",
      "required":[
        "serviceArn",
        "reportType"
      ],
      "members":{
        "serviceArn":{"shape":"Arn"},
        "reportType":{
          "shape":"ReportType",
          "documentation":"<p>The type of report to generate.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateReportResponse":{
      "type":"structure",
      "required":["reportGenerationResult"],
      "members":{
        "reportGenerationResult":{
          "shape":"ReportGenerationResult",
          "documentation":"<p>The result of the report generation request.</p>"
        }
      }
    },
    "CreateServiceFunctionRequest":{
      "type":"structure",
      "required":[
        "name",
        "serviceArn",
        "criticality"
      ],
      "members":{
        "name":{"shape":"EntityLabel"},
        "serviceArn":{"shape":"Arn"},
        "description":{"shape":"EntityDescription"},
        "criticality":{
          "shape":"ServiceFunctionCriticality",
          "documentation":"<p>The criticality level of the service function.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateServiceFunctionResourcesRequest":{
      "type":"structure",
      "required":[
        "serviceArn",
        "serviceFunctionId",
        "resources"
      ],
      "members":{
        "serviceArn":{"shape":"Arn"},
        "serviceFunctionId":{
          "shape":"EntityId",
          "documentation":"<p>The identifier of the service function to associate resources with.</p>"
        },
        "resources":{
          "shape":"ResourceList",
          "documentation":"<p>The list of resources to associate with the service function.</p>"
        }
      }
    },
    "CreateServiceFunctionResourcesResponse":{
      "type":"structure",
      "members":{
        "serviceArn":{"shape":"Arn"},
        "serviceFunctionId":{
          "shape":"EntityId",
          "documentation":"<p>The identifier of the service function.</p>"
        },
        "resources":{
          "shape":"ResourceList",
          "documentation":"<p>The list of resources that were associated.</p>"
        }
      }
    },
    "CreateServiceFunctionResponse":{
      "type":"structure",
      "required":["serviceFunction"],
      "members":{
        "serviceFunction":{
          "shape":"ServiceFunction",
          "documentation":"<p>The created service function.</p>"
        }
      }
    },
    "CreateServiceRequest":{
      "type":"structure",
      "required":[
        "name",
        "regions",
        "permissionModel"
      ],
      "members":{
        "name":{"shape":"EntityName"},
        "description":{"shape":"LongDescription"},
        "associatedSystems":{
          "shape":"AssociatedSystemList",
          "documentation":"<p>The systems to associate with the service.</p>"
        },
        "policyArn":{"shape":"Arn"},
        "regions":{
          "shape":"RegionList",
          "documentation":"<p>The AWS Regions where the service operates.</p>"
        },
        "permissionModel":{
          "shape":"PermissionModel",
          "documentation":"<p>The permission model for the service.</p>"
        },
        "dependencyDiscovery":{"shape":"DependencyDiscoveryInput"},
        "reportConfiguration":{"shape":"ServiceReportConfiguration"},
        "kmsKeyId":{"shape":"KmsKeyId"},
        "tags":{"shape":"TagMap"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateServiceResponse":{
      "type":"structure",
      "required":["service"],
      "members":{
        "service":{
          "shape":"Service",
          "documentation":"<p>The created service.</p>"
        }
      }
    },
    "CreateSystemRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"EntityName"},
        "description":{"shape":"EntityDescription"},
        "sharingEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether cross-account sharing is enabled for the system.</p>"
        },
        "kmsKeyId":{"shape":"KmsKeyId"},
        "tags":{"shape":"TagMap"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateSystemResponse":{
      "type":"structure",
      "required":["system"],
      "members":{
        "system":{
          "shape":"System",
          "documentation":"<p>The created system.</p>"
        }
      }
    },
    "CreateUserJourneyRequest":{
      "type":"structure",
      "required":[
        "systemArn",
        "name"
      ],
      "members":{
        "systemArn":{"shape":"Arn"},
        "name":{"shape":"EntityLabel"},
        "description":{"shape":"EntityDescription"},
        "policyArn":{"shape":"Arn"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateUserJourneyResponse":{
      "type":"structure",
      "required":["userJourney"],
      "members":{
        "userJourney":{
          "shape":"UserJourney",
          "documentation":"<p>The created user journey.</p>"
        }
      }
    },
    "CrossAccountRole":{
      "type":"structure",
      "required":["crossAccountRoleArn"],
      "members":{
        "crossAccountRoleArn":{"shape":"IamRoleArn"},
        "externalId":{
          "shape":"CrossAccountRoleExternalIdString",
          "documentation":"<p>The external ID used for assuming the cross-account role.</p>"
        }
      },
      "documentation":"<p>Specifies a cross-account IAM role ARN and optional external ID.</p>"
    },
    "CrossAccountRoleExternalIdString":{
      "type":"string",
      "max":1224,
      "min":2
    },
    "CrossAccountRoleList":{
      "type":"list",
      "member":{"shape":"CrossAccountRole"},
      "max":5,
      "min":0
    },
    "DataRecoveryTargets":{
      "type":"structure",
      "members":{
        "timeBetweenBackupsInMinutes":{
          "shape":"DataRecoveryTargetsTimeBetweenBackupsInMinutesInteger",
          "documentation":"<p>The target time between backups, in minutes.</p>"
        }
      },
      "documentation":"<p>Defines data recovery targets for a resilience policy.</p>"
    },
    "DataRecoveryTargetsTimeBetweenBackupsInMinutesInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "DeleteAssertionRequest":{
      "type":"structure",
      "required":[
        "serviceArn",
        "assertionId"
      ],
      "members":{
        "serviceArn":{"shape":"Arn"},
        "assertionId":{
          "shape":"Uuid",
          "documentation":"<p>The unique identifier of the assertion to delete.</p>"
        }
      }
    },
    "DeleteAssertionResponse":{
      "type":"structure",
      "members":{
        "assertionId":{
          "shape":"Uuid",
          "documentation":"<p>The unique identifier of the deleted assertion.</p>"
        }
      }
    },
    "DeleteInputSourceRequest":{
      "type":"structure",
      "required":[
        "serviceArn",
        "inputSourceId"
      ],
      "members":{
        "serviceArn":{"shape":"Arn"},
        "inputSourceId":{
          "shape":"InputSourceId",
          "documentation":"<p>The identifier of the input source to delete.</p>"
        }
      }
    },
    "DeleteInputSourceResponse":{
      "type":"structure",
      "required":[
        "serviceArn",
        "inputSourceId"
      ],
      "members":{
        "serviceArn":{"shape":"Arn"},
        "inputSourceId":{
          "shape":"InputSourceId",
          "documentation":"<p>The identifier of the deleted input source.</p>"
        }
      }
    },
    "DeletePolicyRequest":{
      "type":"structure",
      "required":["policyArn"],
      "members":{
        "policyArn":{"shape":"Arn"}
      }
    },
    "DeletePolicyResponse":{
      "type":"structure",
      "required":["policyArn"],
      "members":{
        "policyArn":{"shape":"Arn"}
      }
    },
    "DeleteServiceFunctionRequest":{
      "type":"structure",
      "required":[
        "serviceArn",
        "serviceFunctionId"
      ],
      "members":{
        "serviceArn":{"shape":"Arn"},
        "serviceFunctionId":{
          "shape":"EntityId",
          "documentation":"<p>The identifier of the service function to delete.</p>"
        }
      }
    },
    "DeleteServiceFunctionResourcesRequest":{
      "type":"structure",
      "required":[
        "serviceArn",
        "serviceFunctionId",
        "resources"
      ],
      "members":{
        "serviceArn":{"shape":"Arn"},
        "serviceFunctionId":{
          "shape":"EntityId",
          "documentation":"<p>The identifier of the service function to remove resources from.</p>"
        },
        "resources":{
          "shape":"ResourceList",
          "documentation":"<p>The list of resources to remove from the service function.</p>"
        }
      }
    },
    "DeleteServiceFunctionResourcesResponse":{
      "type":"structure",
      "members":{
        "serviceArn":{"shape":"Arn"},
        "serviceFunctionId":{
          "shape":"EntityId",
          "documentation":"<p>The identifier of the service function.</p>"
        },
        "resources":{
          "shape":"ResourceList",
          "documentation":"<p>The list of resources that were removed.</p>"
        }
      }
    },
    "DeleteServiceFunctionResponse":{
      "type":"structure",
      "members":{
        "serviceFunctionId":{
          "shape":"EntityId",
          "documentation":"<p>The identifier of the deleted service function.</p>"
        }
      }
    },
    "DeleteServiceRequest":{
      "type":"structure",
      "required":["serviceArn"],
      "members":{
        "serviceArn":{"shape":"Arn"}
      }
    },
    "DeleteServiceResponse":{
      "type":"structure",
      "required":["serviceArn"],
      "members":{
        "serviceArn":{"shape":"Arn"}
      }
    },
    "DeleteSystemRequest":{
      "type":"structure",
      "required":["systemArn"],
      "members":{
        "systemArn":{"shape":"Arn"}
      }
    },
    "DeleteSystemResponse":{
      "type":"structure",
      "required":["systemArn"],
      "members":{
        "systemArn":{"shape":"Arn"}
      }
    },
    "DeleteUserJourneyRequest":{
      "type":"structure",
      "required":[
        "systemArn",
        "userJourneyId"
      ],
      "members":{
        "systemArn":{"shape":"Arn"},
        "userJourneyId":{
          "shape":"UserJourneyId",
          "documentation":"<p>The identifier of the user journey to delete.</p>"
        }
      }
    },
    "DeleteUserJourneyResponse":{
      "type":"structure",
      "required":["userJourneyId"],
      "members":{
        "userJourneyId":{
          "shape":"UserJourneyId",
          "documentation":"<p>The identifier of the deleted user journey.</p>"
        }
      }
    },
    "DependencyCriticality":{
      "type":"string",
      "enum":[
        "HARD",
        "SOFT",
        "UNKNOWN"
      ]
    },
    "DependencyDiscoveryConfig":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{
          "shape":"DependencyDiscoveryStatus",
          "documentation":"<p>The current status of dependency discovery.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when dependency discovery was last updated.</p>"
        }
      },
      "documentation":"<p>Configuration for dependency discovery on a service.</p>"
    },
    "DependencyDiscoveryInput":{
      "type":"string",
      "documentation":"<p>Caller-settable values for dependency discovery. INITIALIZING is system-managed.</p>",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "DependencyDiscoveryStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "INITIALIZING",
        "DISABLED"
      ]
    },
    "DependencySummary":{
      "type":"structure",
      "required":[
        "dependencyId",
        "serviceArn",
        "dependencyName",
        "dnsName",
        "location",
        "lastDetectedTime",
        "sourceRegions",
        "queryRange",
        "criticality"
      ],
      "members":{
        "dependencyId":{
          "shape":"Uuid",
          "documentation":"<p>The unique identifier of the dependency.</p>"
        },
        "serviceArn":{"shape":"Arn"},
        "dependencyName":{
          "shape":"String",
          "documentation":"<p>The name of the dependency.</p>"
        },
        "dnsName":{
          "shape":"String",
          "documentation":"<p>The DNS name associated with the dependency.</p>"
        },
        "location":{
          "shape":"String",
          "documentation":"<p>The location of the dependency.</p>"
        },
        "lastDetectedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the dependency was last detected.</p>"
        },
        "sourceRegions":{
          "shape":"RegionList",
          "documentation":"<p>The source Regions from which the dependency was detected.</p>"
        },
        "provider":{
          "shape":"String",
          "documentation":"<p>The provider of the dependency.</p>"
        },
        "queryRange":{
          "shape":"QueryRange",
          "documentation":"<p>The query range data for the dependency.</p>"
        },
        "criticality":{
          "shape":"DependencyCriticality",
          "documentation":"<p>The criticality level of the dependency.</p>"
        },
        "comment":{
          "shape":"String",
          "documentation":"<p>A user-provided comment about the dependency.</p>"
        }
      },
      "documentation":"<p>Contains summary information about a discovered dependency.</p>"
    },
    "DependencySummaryList":{
      "type":"list",
      "member":{"shape":"DependencySummary"}
    },
    "DisasterRecoverySource":{
      "type":"structure",
      "members":{
        "value":{
          "shape":"String",
          "documentation":"<p>The disaster recovery approach value.</p>"
        },
        "policyName":{"shape":"EntityName"},
        "source":{
          "shape":"PolicyValueSource",
          "documentation":"<p>Indicates whether the value comes from the service's own account or a cross-account policy.</p>"
        }
      },
      "documentation":"<p>Contains the effective disaster recovery approach value for a service.</p>"
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "EdgePropertyList":{
      "type":"list",
      "member":{"shape":"EdgePropertySummary"},
      "max":3,
      "min":0
    },
    "EdgePropertySummary":{
      "type":"structure",
      "members":{
        "topologyType":{
          "shape":"TopologyType",
          "documentation":"<p>The topology type of the edge.</p>"
        },
        "label":{
          "shape":"String",
          "documentation":"<p>Human-readable relationship description. Only present for LLM-inferred edges.</p>"
        }
      },
      "documentation":"<p>Contains property information for a service topology edge.</p>"
    },
    "EffectivePolicyValues":{
      "type":"structure",
      "members":{
        "availabilitySlo":{
          "shape":"SloSource",
          "documentation":"<p>The effective availability SLO value for the service.</p>"
        },
        "multiAzRto":{
          "shape":"TargetSource",
          "documentation":"<p>The effective multi-AZ RTO value for the service, in minutes.</p>"
        },
        "multiAzRpo":{
          "shape":"TargetSource",
          "documentation":"<p>The effective multi-AZ RPO value for the service, in minutes.</p>"
        },
        "multiAzDrApproach":{
          "shape":"DisasterRecoverySource",
          "documentation":"<p>The effective multi-AZ disaster recovery approach for the service.</p>"
        },
        "multiRegionRto":{
          "shape":"TargetSource",
          "documentation":"<p>The effective multi-Region RTO value for the service, in minutes.</p>"
        },
        "multiRegionRpo":{
          "shape":"TargetSource",
          "documentation":"<p>The effective multi-Region RPO value for the service, in minutes.</p>"
        },
        "multiRegionDrApproach":{
          "shape":"DisasterRecoverySource",
          "documentation":"<p>The effective multi-Region disaster recovery approach for the service.</p>"
        },
        "dataRecoveryTimeBetweenBackups":{
          "shape":"TargetSource",
          "documentation":"<p>The effective data recovery time between backups value for the service.</p>"
        }
      },
      "documentation":"<p>Contains the effective resilience policy values for a service.</p>"
    },
    "EksNamespace":{
      "type":"string",
      "documentation":"<p>Kubernetes namespace name (RFC 1123 Label).</p>",
      "max":63,
      "min":1,
      "pattern":"[a-z0-9]([-a-z0-9]*[a-z0-9])?"
    },
    "EksSource":{
      "type":"structure",
      "required":[
        "clusterArn",
        "namespaces"
      ],
      "members":{
        "clusterArn":{"shape":"Arn"},
        "namespaces":{
          "shape":"EksSourceNamespacesList",
          "documentation":"<p>The list of Kubernetes namespaces within the EKS cluster.</p>"
        }
      },
      "documentation":"<p>Defines an Amazon EKS cluster and its namespaces as an input source for resource discovery.</p>"
    },
    "EksSourceNamespacesList":{
      "type":"list",
      "member":{"shape":"EksNamespace"},
      "max":10,
      "min":1
    },
    "EntityDescription":{
      "type":"string",
      "documentation":"<p>Resource description.</p>",
      "max":500,
      "min":0
    },
    "EntityId":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"\\S{1,255}"
    },
    "EntityLabel":{
      "type":"string",
      "documentation":"<p>Entity label (not part of ARN — spaces allowed).</p>",
      "max":60,
      "min":2,
      "pattern":"[A-Za-z0-9][A-Za-z0-9 _\\-]{1,59}"
    },
    "EntityName":{
      "type":"string",
      "documentation":"<p>Resource name (used in ARN — no spaces allowed).</p>",
      "max":60,
      "min":2,
      "pattern":"[A-Za-z0-9][A-Za-z0-9_\\-]{1,59}"
    },
    "EventActor":{
      "type":"structure",
      "required":[
        "type",
        "principalId"
      ],
      "members":{
        "type":{
          "shape":"ActorType",
          "documentation":"<p>The type of actor, either USER or SYSTEM.</p>"
        },
        "principalId":{
          "shape":"String",
          "documentation":"<p>The principal ID of the actor.</p>"
        },
        "accountId":{
          "shape":"String",
          "documentation":"<p>The AWS account ID of the actor.</p>"
        },
        "userName":{
          "shape":"String",
          "documentation":"<p>The user name of the actor.</p>"
        }
      },
      "documentation":"<p>Identifies the actor that triggered an event.</p>"
    },
    "FailedReportOutput":{
      "type":"structure",
      "required":["errorCode"],
      "members":{
        "errorCode":{
          "shape":"ReportGenerationErrorCode",
          "documentation":"<p>The error code describing why the report generation failed.</p>"
        },
        "errorMessage":{
          "shape":"String",
          "documentation":"<p>The error message describing why the report generation failed.</p>"
        }
      },
      "documentation":"<p>Details when report generation failed.</p>"
    },
    "FailureCategory":{
      "type":"string",
      "enum":[
        "SHARED_FATE",
        "EXCESSIVE_LOAD",
        "EXCESSIVE_LATENCY",
        "MISCONFIGURATION_AND_BUGS",
        "SINGLE_POINT_OF_FAILURE"
      ]
    },
    "Finding":{
      "type":"structure",
      "members":{
        "findingId":{
          "shape":"Uuid",
          "documentation":"<p>The unique identifier of the finding.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the finding.</p>"
        },
        "description":{"shape":"EntityDescription"},
        "failureCategory":{
          "shape":"FailureCategory",
          "documentation":"<p>The failure category of the finding.</p>"
        },
        "status":{
          "shape":"FindingStatus",
          "documentation":"<p>The current status of the finding.</p>"
        },
        "reasoning":{
          "shape":"String",
          "documentation":"<p>The reasoning behind the finding.</p>"
        },
        "comment":{
          "shape":"FindingCommentString",
          "documentation":"<p>A user-provided comment about the finding.</p>"
        },
        "severity":{
          "shape":"FindingSeverity",
          "documentation":"<p>The severity of the finding.</p>"
        },
        "serviceFunctions":{
          "shape":"FunctionsList",
          "documentation":"<p>The service functions associated with the finding.</p>"
        },
        "policyComponent":{
          "shape":"PolicyComponent",
          "documentation":"<p>The policy component associated with the finding.</p>"
        },
        "infrastructureAndCodeRecommendations":{
          "shape":"InfrastructureAndCodeRecommendationsList",
          "documentation":"<p>Infrastructure and code recommendations to address the finding.</p>"
        },
        "observabilityRecommendations":{
          "shape":"ObservabilityRecommendationsList",
          "documentation":"<p>Observability recommendations to address the finding.</p>"
        },
        "testingRecommendations":{
          "shape":"TestingRecommendationsList",
          "documentation":"<p>Testing recommendations to address the finding.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the finding was last updated.</p>"
        }
      },
      "documentation":"<p>Represents a resilience finding from a failure mode assessment.</p>"
    },
    "FindingCommentString":{
      "type":"string",
      "max":2048,
      "min":0
    },
    "FindingSeverity":{
      "type":"string",
      "enum":[
        "LOW",
        "MEDIUM",
        "HIGH"
      ]
    },
    "FindingStatus":{
      "type":"string",
      "enum":[
        "OPEN",
        "RESOLVED",
        "IRRELEVANT"
      ]
    },
    "FindingSummary":{
      "type":"structure",
      "members":{
        "serviceArn":{"shape":"Arn"},
        "findingId":{
          "shape":"Uuid",
          "documentation":"<p>The unique identifier of the finding.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the finding.</p>"
        },
        "description":{"shape":"EntityDescription"},
        "failureCategory":{
          "shape":"FailureCategory",
          "documentation":"<p>The failure category of the finding.</p>"
        },
        "severity":{
          "shape":"FindingSeverity",
          "documentation":"<p>The severity of the finding.</p>"
        },
        "status":{
          "shape":"FindingStatus",
          "documentation":"<p>The current status of the finding.</p>"
        },
        "policyComponent":{
          "shape":"PolicyComponent",
          "documentation":"<p>The policy component associated with the finding.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the finding was last updated.</p>"
        }
      },
      "documentation":"<p>Contains summary information about a finding.</p>"
    },
    "FindingsList":{
      "type":"list",
      "member":{"shape":"FindingSummary"}
    },
    "FunctionsList":{
      "type":"list",
      "member":{"shape":"EntityId"},
      "max":20,
      "min":0
    },
    "GetFailureModeFindingRequest":{
      "type":"structure",
      "required":[
        "findingId",
        "serviceArn"
      ],
      "members":{
        "findingId":{
          "shape":"Uuid",
          "documentation":"<p>The unique identifier of the finding to retrieve.</p>",
          "location":"querystring",
          "locationName":"findingId"
        },
        "serviceArn":{
          "shape":"Arn",
          "location":"querystring",
          "locationName":"serviceArn"
        }
      }
    },
    "GetFailureModeFindingResponse":{
      "type":"structure",
      "members":{
        "finding":{
          "shape":"Finding",
          "documentation":"<p>The requested finding.</p>"
        }
      }
    },
    "GetPolicyRequest":{
      "type":"structure",
      "required":["policyArn"],
      "members":{
        "policyArn":{
          "shape":"Arn",
          "location":"querystring",
          "locationName":"policyArn"
        }
      }
    },
    "GetPolicyResponse":{
      "type":"structure",
      "required":["policy"],
      "members":{
        "policy":{
          "shape":"Policy",
          "documentation":"<p>The requested resilience policy.</p>"
        }
      }
    },
    "GetServiceRequest":{
      "type":"structure",
      "required":["serviceArn"],
      "members":{
        "serviceArn":{
          "shape":"Arn",
          "location":"querystring",
          "locationName":"serviceArn"
        }
      }
    },
    "GetServiceResponse":{
      "type":"structure",
      "required":["service"],
      "members":{
        "service":{
          "shape":"Service",
          "documentation":"<p>The requested service.</p>"
        }
      }
    },
    "GetSystemRequest":{
      "type":"structure",
      "required":["systemArn"],
      "members":{
        "systemArn":{
          "shape":"Arn",
          "location":"querystring",
          "locationName":"systemArn"
        }
      }
    },
    "GetSystemResponse":{
      "type":"structure",
      "required":["system"],
      "members":{
        "system":{
          "shape":"System",
          "documentation":"<p>The requested system.</p>"
        }
      }
    },
    "GetUserJourneyRequest":{
      "type":"structure",
      "required":[
        "systemArn",
        "userJourneyId"
      ],
      "members":{
        "systemArn":{
          "shape":"Arn",
          "location":"querystring",
          "locationName":"systemArn"
        },
        "userJourneyId":{
          "shape":"UserJourneyId",
          "documentation":"<p>The identifier of the user journey to retrieve.</p>",
          "location":"querystring",
          "locationName":"userJourneyId"
        }
      }
    },
    "GetUserJourneyResponse":{
      "type":"structure",
      "required":["userJourney"],
      "members":{
        "userJourney":{
          "shape":"UserJourney",
          "documentation":"<p>The requested user journey.</p>"
        }
      }
    },
    "IamRoleArn":{
      "type":"string",
      "documentation":"<p>ARN of the IAM Role for the profile. Null if the permission profile is the 'Admin' profile.</p>",
      "min":32,
      "pattern":"arn:(aws|aws-cn|aws-iso|aws-iso-[a-z]{1}|aws-us-gov):iam::[0-9]{12}:role/(([^/][!-~]+/){1,511})?[A-Za-z0-9_+=,.@-]{1,64}"
    },
    "IamRoleName":{
      "type":"string",
      "documentation":"<p>IAM role name (supports up to 64 characters per IAM limits).</p>",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9_+=,.@\\-]{1,64}"
    },
    "ImportAppRequest":{
      "type":"structure",
      "required":["v1AppArn"],
      "members":{
        "v1AppArn":{"shape":"Arn"},
        "policyArn":{"shape":"Arn"},
        "kmsKeyId":{"shape":"KmsKeyId"},
        "skipManuallyAddedResources":{
          "shape":"Boolean",
          "documentation":"<p>Whether to skip manually added resources during import.</p>"
        },
        "associatedSystems":{
          "shape":"AssociatedSystemList",
          "documentation":"<p>The systems to associate with the imported service.</p>"
        },
        "tags":{"shape":"TagMap"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "ImportAppResponse":{
      "type":"structure",
      "required":["service"],
      "members":{
        "service":{
          "shape":"Service",
          "documentation":"<p>The imported service.</p>"
        }
      }
    },
    "ImportPolicyRequest":{
      "type":"structure",
      "required":["v1PolicyArn"],
      "members":{
        "v1PolicyArn":{"shape":"Arn"},
        "kmsKeyId":{"shape":"KmsKeyId"},
        "availabilitySlo":{
          "shape":"AvailabilitySlo",
          "documentation":"<p>The availability SLO to set on the imported policy.</p>"
        },
        "multiAzDisasterRecoveryApproach":{
          "shape":"MultiAzDisasterRecoveryApproach",
          "documentation":"<p>The multi-AZ disaster recovery approach for the imported policy.</p>"
        },
        "multiRegionDisasterRecoveryApproach":{
          "shape":"MultiRegionDisasterRecoveryApproach",
          "documentation":"<p>The multi-Region disaster recovery approach for the imported policy.</p>"
        },
        "tags":{"shape":"TagMap"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "ImportPolicyResponse":{
      "type":"structure",
      "required":["policy"],
      "members":{
        "policy":{
          "shape":"Policy",
          "documentation":"<p>The imported policy.</p>"
        }
      }
    },
    "InfrastructureAndCodeRecommendation":{
      "type":"structure",
      "members":{
        "suggestedChanges":{
          "shape":"SuggestedChangesList",
          "documentation":"<p>The list of suggested changes.</p>"
        }
      },
      "documentation":"<p>An infrastructure and code recommendation to address a finding.</p>"
    },
    "InfrastructureAndCodeRecommendationsList":{
      "type":"list",
      "member":{"shape":"InfrastructureAndCodeRecommendation"},
      "max":5,
      "min":0
    },
    "InputSource":{
      "type":"structure",
      "required":[
        "identifier",
        "type"
      ],
      "members":{
        "identifier":{
          "shape":"String",
          "documentation":"<p>The identifier of the input source.</p>"
        },
        "type":{
          "shape":"InputSourceType",
          "documentation":"<p>The type of the input source.</p>"
        }
      },
      "documentation":"<p>Identifies an input source by its identifier and type.</p>"
    },
    "InputSourceId":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"\\S{1,255}"
    },
    "InputSourceSummary":{
      "type":"structure",
      "required":["inputSourceId"],
      "members":{
        "inputSourceId":{
          "shape":"InputSourceId",
          "documentation":"<p>The unique identifier of the input source.</p>"
        },
        "type":{
          "shape":"InputSourceType",
          "documentation":"<p>The type of the input source.</p>"
        },
        "resourceTags":{
          "shape":"ResourceTagList",
          "documentation":"<p>The resource tags used for discovery, if this input source uses tags.</p>"
        },
        "cfnStackArn":{"shape":"Arn"},
        "tfStateFileUrl":{"shape":"S3Url"},
        "eks":{
          "shape":"EksSource",
          "documentation":"<p>The Amazon EKS configuration, if this input source uses EKS.</p>"
        },
        "designFileS3Url":{"shape":"S3Url"},
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the input source was created.</p>"
        }
      },
      "documentation":"<p>Contains summary information about an input source for a service.</p>"
    },
    "InputSourceSummaryList":{
      "type":"list",
      "member":{"shape":"InputSourceSummary"}
    },
    "InputSourceType":{
      "type":"string",
      "enum":[
        "CFN_STACK",
        "TAGS",
        "EKS",
        "TERRAFORM",
        "DESIGN_FILE",
        "MONITORING"
      ]
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>Internal service error.</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "KmsKeyId":{
      "type":"string",
      "documentation":"<p>KMS key identifier — accepts key ID, key ARN, alias name, or alias ARN.</p>",
      "max":2048,
      "min":1
    },
    "ListAssertionsRequest":{
      "type":"structure",
      "required":["serviceArn"],
      "members":{
        "serviceArn":{
          "shape":"Arn",
          "location":"querystring",
          "locationName":"serviceArn"
        },
        "source":{
          "shape":"AssertionSource",
          "documentation":"<p>Filter assertions by source type.</p>",
          "location":"querystring",
          "locationName":"source"
        },
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListAssertionsResponse":{
      "type":"structure",
      "required":["assertions"],
      "members":{
        "assertions":{
          "shape":"AssertionList",
          "documentation":"<p>The list of assertions.</p>"
        },
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListDependenciesRequest":{
      "type":"structure",
      "members":{
        "serviceArn":{
          "shape":"Arn",
          "location":"querystring",
          "locationName":"serviceArn"
        },
        "queryRangeStartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start time for the dependency query range.</p>",
          "location":"querystring",
          "locationName":"queryRangeStartTime"
        },
        "queryRangeEndTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end time for the dependency query range.</p>",
          "location":"querystring",
          "locationName":"queryRangeEndTime"
        },
        "queryRangeGranularity":{
          "shape":"QueryGranularity",
          "documentation":"<p>The granularity for the dependency query range.</p>",
          "location":"querystring",
          "locationName":"queryRangeGranularity"
        },
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListDependenciesResponse":{
      "type":"structure",
      "required":["dependencySummaries"],
      "members":{
        "dependencySummaries":{
          "shape":"DependencySummaryList",
          "documentation":"<p>The list of dependency summaries.</p>"
        },
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListFailureModeAssessmentsRequest":{
      "type":"structure",
      "required":["serviceArn"],
      "members":{
        "serviceArn":{
          "shape":"Arn",
          "location":"querystring",
          "locationName":"serviceArn"
        },
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListFailureModeAssessmentsResponse":{
      "type":"structure",
      "required":["assessmentSummaries"],
      "members":{
        "assessmentSummaries":{
          "shape":"AssessmentSummaryList",
          "documentation":"<p>The list of assessment summaries.</p>"
        },
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListFailureModeFindingsRequest":{
      "type":"structure",
      "required":["serviceArn"],
      "members":{
        "serviceArn":{
          "shape":"Arn",
          "location":"querystring",
          "locationName":"serviceArn"
        },
        "severity":{
          "shape":"FindingSeverity",
          "documentation":"<p>Filter findings by severity.</p>",
          "location":"querystring",
          "locationName":"severity"
        },
        "failureCategory":{
          "shape":"FailureCategory",
          "documentation":"<p>Filter findings by failure category.</p>",
          "location":"querystring",
          "locationName":"failureCategory"
        },
        "status":{
          "shape":"FindingStatus",
          "documentation":"<p>Filter findings by status.</p>",
          "location":"querystring",
          "locationName":"status"
        },
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListFailureModeFindingsResponse":{
      "type":"structure",
      "required":["findingsSummary"],
      "members":{
        "findingsSummary":{
          "shape":"FindingsList",
          "documentation":"<p>The list of finding summaries.</p>"
        },
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListInputSourcesRequest":{
      "type":"structure",
      "required":["serviceArn"],
      "members":{
        "serviceArn":{
          "shape":"Arn",
          "location":"querystring",
          "locationName":"serviceArn"
        },
        "type":{
          "shape":"InputSourceType",
          "documentation":"<p>Filter input sources by type.</p>",
          "location":"querystring",
          "locationName":"type"
        },
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListInputSourcesResponse":{
      "type":"structure",
      "required":["inputSourceSummaries"],
      "members":{
        "inputSourceSummaries":{
          "shape":"InputSourceSummaryList",
          "documentation":"<p>The list of input source summaries.</p>"
        },
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListPoliciesRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListPoliciesResponse":{
      "type":"structure",
      "required":["policySummaries"],
      "members":{
        "policySummaries":{
          "shape":"PolicySummaryList",
          "documentation":"<p>The list of policy summaries.</p>"
        },
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListReportsRequest":{
      "type":"structure",
      "members":{
        "serviceArn":{
          "shape":"Arn",
          "documentation":"<p>Optional. If not provided, lists all reports owned by the account.</p>",
          "location":"querystring",
          "locationName":"serviceArn"
        },
        "reportType":{
          "shape":"ReportType",
          "documentation":"<p>Filter reports by type.</p>",
          "location":"querystring",
          "locationName":"reportType"
        },
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListReportsResponse":{
      "type":"structure",
      "required":["reportGenerationResults"],
      "members":{
        "reportGenerationResults":{
          "shape":"ReportGenerationResultList",
          "documentation":"<p>The list of report generation results.</p>"
        },
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListResourcesRequest":{
      "type":"structure",
      "required":["serviceArn"],
      "members":{
        "serviceArn":{
          "shape":"Arn",
          "location":"querystring",
          "locationName":"serviceArn"
        },
        "serviceFunctionId":{
          "shape":"EntityId",
          "documentation":"<p>Filter resources by service function identifier.</p>",
          "location":"querystring",
          "locationName":"serviceFunctionId"
        },
        "awsRegion":{
          "shape":"AwsRegion",
          "documentation":"<p>Filter resources by AWS Region.</p>",
          "location":"querystring",
          "locationName":"awsRegion"
        },
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListResourcesResponse":{
      "type":"structure",
      "members":{
        "serviceFunctionId":{
          "shape":"EntityId",
          "documentation":"<p>The service function identifier for the returned resources.</p>"
        },
        "serviceResources":{
          "shape":"ServiceResourceList",
          "documentation":"<p>The list of service resources.</p>"
        },
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListServiceEventsRequest":{
      "type":"structure",
      "required":["serviceArn"],
      "members":{
        "serviceArn":{
          "shape":"Arn",
          "location":"querystring",
          "locationName":"serviceArn"
        },
        "eventTypes":{
          "shape":"ServiceEventTypeList",
          "documentation":"<p>Filter events by type.</p>",
          "location":"querystring",
          "locationName":"eventTypes"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start time for filtering events.</p>",
          "location":"querystring",
          "locationName":"startTime"
        },
        "endTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end time for filtering events.</p>",
          "location":"querystring",
          "locationName":"endTime"
        },
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListServiceEventsResponse":{
      "type":"structure",
      "required":["events"],
      "members":{
        "events":{
          "shape":"ServiceEventList",
          "documentation":"<p>The list of service events.</p>"
        },
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListServiceFunctionsRequest":{
      "type":"structure",
      "required":["serviceArn"],
      "members":{
        "serviceArn":{
          "shape":"Arn",
          "location":"querystring",
          "locationName":"serviceArn"
        },
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListServiceFunctionsResponse":{
      "type":"structure",
      "required":["serviceFunctions"],
      "members":{
        "serviceFunctions":{
          "shape":"ServiceFunctionList",
          "documentation":"<p>The list of service functions.</p>"
        },
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListServiceTopologyEdgesRequest":{
      "type":"structure",
      "required":["serviceArn"],
      "members":{
        "serviceArn":{
          "shape":"Arn",
          "location":"querystring",
          "locationName":"serviceArn"
        },
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListServiceTopologyEdgesResponse":{
      "type":"structure",
      "members":{
        "serviceTopologyEdgeSummaries":{
          "shape":"ServiceTopologyEdgeSummaryList",
          "documentation":"<p>The list of service topology edge summaries.</p>"
        },
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListServicesRequest":{
      "type":"structure",
      "members":{
        "systemArn":{
          "shape":"Arn",
          "location":"querystring",
          "locationName":"systemArn"
        },
        "userJourneyId":{
          "shape":"UserJourneyId",
          "documentation":"<p>Filter services by user journey identifier.</p>",
          "location":"querystring",
          "locationName":"userJourneyId"
        },
        "ouId":{
          "shape":"OuId",
          "documentation":"<p>Filter services by organizational unit (OU) identifier.</p>",
          "location":"querystring",
          "locationName":"ouId"
        },
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>Filter services by AWS account ID.</p>",
          "location":"querystring",
          "locationName":"accountId"
        },
        "assessmentStatus":{
          "shape":"AssessmentStatus",
          "documentation":"<p>Filter services by assessment status.</p>",
          "location":"querystring",
          "locationName":"assessmentStatus"
        },
        "policyArn":{
          "shape":"Arn",
          "location":"querystring",
          "locationName":"policyArn"
        },
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListServicesResponse":{
      "type":"structure",
      "required":["serviceSummaries"],
      "members":{
        "serviceSummaries":{
          "shape":"ServiceSummaryList",
          "documentation":"<p>The list of service summaries.</p>"
        },
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListSystemEventsRequest":{
      "type":"structure",
      "required":["systemArn"],
      "members":{
        "systemArn":{
          "shape":"Arn",
          "location":"querystring",
          "locationName":"systemArn"
        },
        "eventTypes":{
          "shape":"SystemEventTypeList",
          "documentation":"<p>Filter events by type.</p>",
          "location":"querystring",
          "locationName":"eventTypes"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start time for filtering events.</p>",
          "location":"querystring",
          "locationName":"startTime"
        },
        "endTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end time for filtering events.</p>",
          "location":"querystring",
          "locationName":"endTime"
        },
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListSystemEventsResponse":{
      "type":"structure",
      "required":["events"],
      "members":{
        "events":{
          "shape":"SystemEventList",
          "documentation":"<p>The list of system events.</p>"
        },
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListSystemsRequest":{
      "type":"structure",
      "members":{
        "ouId":{
          "shape":"OuId",
          "documentation":"<p>Filter systems by organizational unit (OU) identifier.</p>",
          "location":"querystring",
          "locationName":"ouId"
        },
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListSystemsResponse":{
      "type":"structure",
      "required":["systemSummaries"],
      "members":{
        "systemSummaries":{
          "shape":"SystemSummaryList",
          "documentation":"<p>The list of system summaries.</p>"
        },
        "nextToken":{"shape":"NextToken"}
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["resourceArn"],
      "members":{
        "resourceArn":{
          "shape":"Arn",
          "location":"uri",
          "locationName":"resourceArn"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "tags":{"shape":"TagMap"}
      }
    },
    "ListUserJourneysRequest":{
      "type":"structure",
      "required":["systemArn"],
      "members":{
        "systemArn":{
          "shape":"Arn",
          "location":"querystring",
          "locationName":"systemArn"
        },
        "maxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListUserJourneysResponse":{
      "type":"structure",
      "required":["userJourneySummaries"],
      "members":{
        "userJourneySummaries":{
          "shape":"UserJourneySummaryList",
          "documentation":"<p>The list of user journey summaries.</p>"
        },
        "nextToken":{"shape":"NextToken"}
      }
    },
    "Long":{
      "type":"long",
      "box":true
    },
    "LongDescription":{
      "type":"string",
      "documentation":"<p>Resource description for services and policies.</p>",
      "max":615,
      "min":0
    },
    "MaxResults":{
      "type":"integer",
      "documentation":"<p>Pagination page size.</p>",
      "box":true,
      "max":100,
      "min":1
    },
    "MultiAzDisasterRecoveryApproach":{
      "type":"string",
      "enum":[
        "ACTIVE_ACTIVE",
        "HOT_STANDBY",
        "WARM_STANDBY",
        "PILOT_LIGHT",
        "BACKUP_AND_RESTORE"
      ]
    },
    "MultiAzTargets":{
      "type":"structure",
      "members":{
        "rtoInMinutes":{
          "shape":"MultiAzTargetsRtoInMinutesInteger",
          "documentation":"<p>The recovery time objective (RTO) target for multi-AZ, in minutes.</p>"
        },
        "rpoInMinutes":{
          "shape":"MultiAzTargetsRpoInMinutesInteger",
          "documentation":"<p>The recovery point objective (RPO) target for multi-AZ, in minutes.</p>"
        },
        "disasterRecoveryApproach":{
          "shape":"MultiAzDisasterRecoveryApproach",
          "documentation":"<p>The disaster recovery approach for multi-AZ.</p>"
        }
      },
      "documentation":"<p>Defines the multi-AZ disaster recovery targets for a resilience policy.</p>"
    },
    "MultiAzTargetsRpoInMinutesInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "MultiAzTargetsRtoInMinutesInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "MultiRegionDisasterRecoveryApproach":{
      "type":"string",
      "enum":[
        "ACTIVE_ACTIVE",
        "HOT_STANDBY",
        "WARM_STANDBY",
        "PILOT_LIGHT",
        "BACKUP_AND_RESTORE"
      ]
    },
    "MultiRegionTargets":{
      "type":"structure",
      "members":{
        "rtoInMinutes":{
          "shape":"MultiRegionTargetsRtoInMinutesInteger",
          "documentation":"<p>The recovery time objective (RTO) target for multi-Region, in minutes.</p>"
        },
        "rpoInMinutes":{
          "shape":"MultiRegionTargetsRpoInMinutesInteger",
          "documentation":"<p>The recovery point objective (RPO) target for multi-Region, in minutes.</p>"
        },
        "disasterRecoveryApproach":{
          "shape":"MultiRegionDisasterRecoveryApproach",
          "documentation":"<p>The disaster recovery approach for multi-Region.</p>"
        }
      },
      "documentation":"<p>Defines the multi-Region disaster recovery targets for a resilience policy.</p>"
    },
    "MultiRegionTargetsRpoInMinutesInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "MultiRegionTargetsRtoInMinutesInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "NextToken":{
      "type":"string",
      "documentation":"<p>Pagination token.</p>",
      "max":2000,
      "min":1,
      "pattern":"\\S{1,2000}"
    },
    "ObservabilityRecommendation":{
      "type":"structure",
      "members":{
        "suggestedChanges":{
          "shape":"SuggestedChangesList",
          "documentation":"<p>The list of suggested observability changes.</p>"
        }
      },
      "documentation":"<p>An observability recommendation to address a finding.</p>"
    },
    "ObservabilityRecommendationsList":{
      "type":"list",
      "member":{"shape":"ObservabilityRecommendation"},
      "max":5,
      "min":0
    },
    "OrganizationId":{
      "type":"string",
      "max":34,
      "min":12,
      "pattern":"o-[a-z0-9]{10,32}"
    },
    "OuId":{
      "type":"string",
      "max":68,
      "min":16,
      "pattern":"ou-[a-z0-9]{4,32}-[a-z0-9]{8,32}"
    },
    "PermissionModel":{
      "type":"structure",
      "required":["invokerRoleName"],
      "members":{
        "invokerRoleName":{"shape":"IamRoleName"},
        "crossAccountRoles":{
          "shape":"CrossAccountRoleList",
          "documentation":"<p>The list of cross-account IAM role ARNs.</p>"
        }
      },
      "documentation":"<p>Defines the permission model for a service.</p>"
    },
    "Policy":{
      "type":"structure",
      "required":[
        "policyArn",
        "name"
      ],
      "members":{
        "policyArn":{"shape":"Arn"},
        "name":{"shape":"EntityName"},
        "description":{"shape":"LongDescription"},
        "availabilitySlo":{
          "shape":"AvailabilitySlo",
          "documentation":"<p>The availability SLO defined in the policy.</p>"
        },
        "multiAz":{
          "shape":"MultiAzTargets",
          "documentation":"<p>The multi-AZ disaster recovery targets defined in the policy.</p>"
        },
        "multiRegion":{
          "shape":"MultiRegionTargets",
          "documentation":"<p>The multi-Region disaster recovery targets defined in the policy.</p>"
        },
        "dataRecovery":{
          "shape":"DataRecoveryTargets",
          "documentation":"<p>The data recovery targets defined in the policy.</p>"
        },
        "kmsKeyId":{"shape":"KmsKeyId"},
        "tags":{"shape":"TagMap"},
        "associatedServiceCount":{
          "shape":"Integer",
          "documentation":"<p>The number of services associated with this policy.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the policy was created.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the policy was last updated.</p>"
        }
      },
      "documentation":"<p>Represents a resilience policy that defines availability and disaster recovery requirements.</p>"
    },
    "PolicyComponent":{
      "type":"string",
      "enum":[
        "AVAILABILITY_SLO",
        "MULTI_AZ_DISASTER_RECOVERY",
        "MULTI_REGION_DISASTER_RECOVERY",
        "DATA_RECOVERY"
      ]
    },
    "PolicySummary":{
      "type":"structure",
      "required":[
        "policyArn",
        "name"
      ],
      "members":{
        "policyArn":{"shape":"Arn"},
        "name":{"shape":"EntityName"},
        "availabilitySlo":{
          "shape":"AvailabilitySlo",
          "documentation":"<p>The availability SLO defined in the policy.</p>"
        },
        "multiAz":{
          "shape":"MultiAzTargets",
[...]
