*.py[co]
*.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
.pytest_cache/

# Unit test / coverage reports
.coverage
htmlcov/

# Virtualenvs
.venv/
venv/
env/

# Keep lockfiles
!*.lock

# Pyenv
.python-version