*.py[co]
*.DS_Store

# Packages
*.egg
*.egg-info
./dist/*
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
coverage.xml
nosetests.xml

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

# Emacs backup files
*~

# Eclipse IDE
/.project
/.pydevproject

# IDEA IDE
.idea*
src/

# CLI docs generation
doc/source/aws_man_pages.json
doc/source/reference
doc/source/topic
doc/source/tutorial/services.rst

# Pyenv
.python-version

macpkg/dist/aws
macpkg/build
dist/

# autocomplete index
awscli/data/ac.index

# Build system files
Makefile
config.log
config.status

# autoconf
autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.cache
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1