include README.rst
include LICENSE.txt
include requirements.txt
include UPGRADE_PY3.md
include .pre-commit-config.yaml
recursive-include awscli/examples *.rst *.txt
recursive-include awscli/data *.json
recursive-include awscli/topics *.rst *.json
