include README.rst
include LICENSE.txt
include requirements.txt
recursive-include awscli/topics *.rst *.json
recursive-include awscli/examples *.rst *.txt
recursive-include awscli/data *.json
recursive-include awscli/customizations/wizard/wizards *.yml
