wheel==0.43.0
coverage==7.2.7
setuptools==71.1.0;python_version>="3.12"

# Pytest specific deps
pytest==8.1.1
pytest-cov==5.0.0
atomicwrites>=1.0 # Windows requirement
colorama>0.3.0 # Windows requirement

# Dependency test specific deps
packaging==24.1
