# botocore and the awscli packages are typically developed
# in tandem, so we're requiring the latest develop
# branch of botocore and s3transfer when working on the awscli.
-e git+https://github.com/boto/botocore.git@develop#egg=botocore
-e git+https://github.com/boto/s3transfer.git@develop#egg=s3transfer
