Jinja2<3.1.0
Sphinx==3.0.2
sphinx-notfound-page==0.4
# alabaster 0.7.14 dropped support for Sphinx<3.4
# and Sphinx 3.0.2 bounds alabaster>=0.7,<0.8.
alabaster==0.7.13
# Latest versions of these packages support only
# Sphinx>5, which we are not using. Set explicit pins
# so we can continue to use Sphinx 3.
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
