jsonschema==4.7.2
# Pin attrs, a dependency of jsonschema.
# Needed until we move to proper lockfiles.
# Deprecation warning is currently breaking
# CLIv2 testing.
attrs==23.2.0
pytest==7.4.0
coverage==7.0.1
pytest-cov==4.1.0
pytest-xdist==3.1.0
pip-tools==7.5.2
packaging==24.1
