wheel==0.43.0
coverage==7.2.7
setuptools==67.8.0;python_version>="3.12"

# Pytest specific deps
pytest==7.4.0
pytest-cov==4.1.0
atomicwrites>=1.0 # Windows requirement
colorama>0.3.0 # Windows requirement

# Dependency test specific deps
packaging==23.2
