# This requirements file should only be temporary until there is a better
# story around handling the AWS CLI v2's implementation of botocore.
# Specifically, when directly pip installing the repository, pip will try
# to build the wheel for the AWS CLI which requires all of its runtime
# dependencies in order to build the auto-complete index. However, pip tries to
# do this in isolation which will fail because the botocore implementation is
# not on PyPI. To work around this, you need to specify --no-build-isolation
# so pip uses the current virtualenv, but that also disables pip's logic to
# try install the build dependencies on your behalf and you have to install
# the dependencies yourself. Unfortunately, there is no utility built into
# pip to get/install the build dependencies returned from the PEP 517 hooks.
# So this requirements file allows you to install all of the runtime
# dependencies so you do not have to programmatically call the PEP 517 hooks
# yourself. Ideally, once we can install the repository without the
# --no-build-isolation flag we can just remove this file altogether.
https://github.com/boto/botocore/zipball/v2#egg=botocore
colorama>=0.2.5,<0.4.4
docutils>=0.10,<0.16
cryptography>=3.3.2,<3.4.0
ruamel.yaml>=0.15.0,<0.16.0
s3transfer>=0.4.2,<0.5.0
wcwidth<0.2.0
prompt-toolkit>=2.0.0,<3.0.0
distro>=1.5.0,<1.6.0
awscrt==0.12.4
