{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2016-01-01",
    "endpointPrefix":"dms",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceFullName":"AWS Database Migration Service",
    "serviceId":"Database Migration Service",
    "signatureVersion":"v4",
    "targetPrefix":"AmazonDMSv20160101",
    "uid":"dms-2016-01-01"
  },
  "operations":{
    "AddTagsToResource":{
      "name":"AddTagsToResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsToResourceMessage"},
      "output":{"shape":"AddTagsToResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Adds metadata tags to an DMS resource, including replication instance, endpoint, security group, and migration task. These tags can also be used with cost allocation reporting to track cost associated with DMS resources, or used in a Condition statement in an IAM policy for DMS. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/APIReference/API_Tag.html\"> <code>Tag</code> </a> data type description.</p>"
    },
    "ApplyPendingMaintenanceAction":{
      "name":"ApplyPendingMaintenanceAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ApplyPendingMaintenanceActionMessage"},
      "output":{"shape":"ApplyPendingMaintenanceActionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Applies a pending maintenance action to a resource (for example, to a replication instance).</p>"
    },
    "CancelReplicationTaskAssessmentRun":{
      "name":"CancelReplicationTaskAssessmentRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelReplicationTaskAssessmentRunMessage"},
      "output":{"shape":"CancelReplicationTaskAssessmentRunResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Cancels a single premigration assessment run.</p> <p>This operation prevents any individual assessments from running if they haven't started running. It also attempts to cancel any individual assessments that are currently running.</p>"
    },
    "CreateEndpoint":{
      "name":"CreateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointMessage"},
      "output":{"shape":"CreateEndpointResponse"},
      "errors":[
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"AccessDeniedFault"},
        {"shape":"S3AccessDeniedFault"}
      ],
      "documentation":"<p>Creates an endpoint using the provided settings.</p> <note> <p>For a MySQL source or target endpoint, don't explicitly specify the database using the <code>DatabaseName</code> request parameter on the <code>CreateEndpoint</code> API call. Specifying <code>DatabaseName</code> when you create a MySQL endpoint replicates all the task tables to this single database. For MySQL endpoints, you specify the database only when you specify the schema in the table-mapping rules of the DMS task.</p> </note>"
    },
    "CreateEventSubscription":{
      "name":"CreateEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEventSubscriptionMessage"},
      "output":{"shape":"CreateEventSubscriptionResponse"},
      "errors":[
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"SNSInvalidTopicFault"},
        {"shape":"SNSNoAuthorizationFault"},
        {"shape":"KMSAccessDeniedFault"},
        {"shape":"KMSDisabledFault"},
        {"shape":"KMSInvalidStateFault"},
        {"shape":"KMSNotFoundFault"},
        {"shape":"KMSThrottlingFault"}
      ],
      "documentation":"<p> Creates an DMS event notification subscription. </p> <p>You can specify the type of source (<code>SourceType</code>) you want to be notified of, provide a list of DMS source IDs (<code>SourceIds</code>) that triggers the events, and provide a list of event categories (<code>EventCategories</code>) for events you want to be notified of. If you specify both the <code>SourceType</code> and <code>SourceIds</code>, such as <code>SourceType = replication-instance</code> and <code>SourceIdentifier = my-replinstance</code>, you will be notified of all the replication instance events for the specified source. If you specify a <code>SourceType</code> but don't specify a <code>SourceIdentifier</code>, you receive notice of the events for that source type for all your DMS sources. If you don't specify either <code>SourceType</code> nor <code>SourceIdentifier</code>, you will be notified of events generated from all DMS sources belonging to your customer account.</p> <p>For more information about DMS events, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\">Working with Events and Notifications</a> in the <i>Database Migration Service User Guide.</i> </p>"
    },
    "CreateFleetAdvisorCollector":{
      "name":"CreateFleetAdvisorCollector",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFleetAdvisorCollectorRequest"},
      "output":{"shape":"CreateFleetAdvisorCollectorResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"AccessDeniedFault"},
        {"shape":"S3AccessDeniedFault"},
        {"shape":"S3ResourceNotFoundFault"},
        {"shape":"ResourceQuotaExceededFault"}
      ],
      "documentation":"<p>Creates a Fleet Advisor collector using the specified parameters.</p>"
    },
    "CreateReplicationInstance":{
      "name":"CreateReplicationInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReplicationInstanceMessage"},
      "output":{"shape":"CreateReplicationInstanceResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"InsufficientResourceCapacityFault"},
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"ReplicationSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"KMSKeyNotAccessibleFault"}
      ],
      "documentation":"<p>Creates the replication instance using the specified parameters.</p> <p>DMS requires that your account have certain roles with appropriate permissions before you can create a replication instance. For information on the required roles, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Security.html#CHAP_Security.APIRole\">Creating the IAM Roles to Use With the CLI and DMS API</a>. For information on the required permissions, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Security.html#CHAP_Security.IAMPermissions\">IAM Permissions Needed to Use DMS</a>.</p>"
    },
    "CreateReplicationSubnetGroup":{
      "name":"CreateReplicationSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReplicationSubnetGroupMessage"},
      "output":{"shape":"CreateReplicationSubnetGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"ReplicationSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidSubnet"}
      ],
      "documentation":"<p>Creates a replication subnet group given a list of the subnet IDs in a VPC.</p> <p>The VPC needs to have at least one subnet in at least two availability zones in the Amazon Web Services Region, otherwise the service will throw a <code>ReplicationSubnetGroupDoesNotCoverEnoughAZs</code> exception.</p>"
    },
    "CreateReplicationTask":{
      "name":"CreateReplicationTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReplicationTaskMessage"},
      "output":{"shape":"CreateReplicationTaskResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"ResourceQuotaExceededFault"}
      ],
      "documentation":"<p>Creates a replication task using the specified parameters.</p>"
    },
    "DeleteCertificate":{
      "name":"DeleteCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCertificateMessage"},
      "output":{"shape":"DeleteCertificateResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Deletes the specified certificate. </p>"
    },
    "DeleteConnection":{
      "name":"DeleteConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteConnectionMessage"},
      "output":{"shape":"DeleteConnectionResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Deletes the connection between a replication instance and an endpoint.</p>"
    },
    "DeleteEndpoint":{
      "name":"DeleteEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointMessage"},
      "output":{"shape":"DeleteEndpointResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Deletes the specified endpoint.</p> <note> <p>All tasks associated with the endpoint must be deleted before you can delete the endpoint.</p> </note> <p/>"
    },
    "DeleteEventSubscription":{
      "name":"DeleteEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEventSubscriptionMessage"},
      "output":{"shape":"DeleteEventSubscriptionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p> Deletes an DMS event subscription. </p>"
    },
    "DeleteFleetAdvisorCollector":{
      "name":"DeleteFleetAdvisorCollector",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCollectorRequest"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"CollectorNotFoundFault"}
      ],
      "documentation":"<p>Deletes the specified Fleet Advisor collector.</p>"
    },
    "DeleteFleetAdvisorDatabases":{
      "name":"DeleteFleetAdvisorDatabases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFleetAdvisorDatabasesRequest"},
      "output":{"shape":"DeleteFleetAdvisorDatabasesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidOperationFault"}
      ],
      "documentation":"<p>Deletes the specified Fleet Advisor collector databases.</p>"
    },
    "DeleteReplicationInstance":{
      "name":"DeleteReplicationInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReplicationInstanceMessage"},
      "output":{"shape":"DeleteReplicationInstanceResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Deletes the specified replication instance.</p> <note> <p>You must delete any migration tasks that are associated with the replication instance before you can delete it.</p> </note> <p/>"
    },
    "DeleteReplicationSubnetGroup":{
      "name":"DeleteReplicationSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReplicationSubnetGroupMessage"},
      "output":{"shape":"DeleteReplicationSubnetGroupResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Deletes a subnet group.</p>"
    },
    "DeleteReplicationTask":{
      "name":"DeleteReplicationTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReplicationTaskMessage"},
      "output":{"shape":"DeleteReplicationTaskResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Deletes the specified replication task.</p>"
    },
    "DeleteReplicationTaskAssessmentRun":{
      "name":"DeleteReplicationTaskAssessmentRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReplicationTaskAssessmentRunMessage"},
      "output":{"shape":"DeleteReplicationTaskAssessmentRunResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Deletes the record of a single premigration assessment run.</p> <p>This operation removes all metadata that DMS maintains about this assessment run. However, the operation leaves untouched all information about this assessment run that is stored in your Amazon S3 bucket.</p>"
    },
    "DescribeAccountAttributes":{
      "name":"DescribeAccountAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAccountAttributesMessage"},
      "output":{"shape":"DescribeAccountAttributesResponse"},
      "documentation":"<p>Lists all of the DMS attributes for a customer account. These attributes include DMS quotas for the account and a unique account identifier in a particular DMS region. DMS quotas include a list of resource quotas supported by the account, such as the number of replication instances allowed. The description for each resource quota, includes the quota name, current usage toward that quota, and the quota's maximum value. DMS uses the unique account identifier to name each artifact used by DMS in the given region.</p> <p>This command does not take any parameters.</p>"
    },
    "DescribeApplicableIndividualAssessments":{
      "name":"DescribeApplicableIndividualAssessments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeApplicableIndividualAssessmentsMessage"},
      "output":{"shape":"DescribeApplicableIndividualAssessmentsResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Provides a list of individual assessments that you can specify for a new premigration assessment run, given one or more parameters.</p> <p>If you specify an existing migration task, this operation provides the default individual assessments you can specify for that task. Otherwise, the specified parameters model elements of a possible migration task on which to base a premigration assessment run.</p> <p>To use these migration task modeling parameters, you must specify an existing replication instance, a source database engine, a target database engine, and a migration type. This combination of parameters potentially limits the default individual assessments available for an assessment run created for a corresponding migration task.</p> <p>If you specify no parameters, this operation provides a list of all possible individual assessments that you can specify for an assessment run. If you specify any one of the task modeling parameters, you must specify all of them or the operation cannot provide a list of individual assessments. The only parameter that you can specify alone is for an existing migration task. The specified task definition then determines the default list of individual assessments that you can specify in an assessment run for the task.</p>"
    },
    "DescribeCertificates":{
      "name":"DescribeCertificates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCertificatesMessage"},
      "output":{"shape":"DescribeCertificatesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Provides a description of the certificate.</p>"
    },
    "DescribeConnections":{
      "name":"DescribeConnections",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeConnectionsMessage"},
      "output":{"shape":"DescribeConnectionsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Describes the status of the connections that have been made between the replication instance and an endpoint. Connections are created when you test an endpoint.</p>"
    },
    "DescribeEndpointSettings":{
      "name":"DescribeEndpointSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointSettingsMessage"},
      "output":{"shape":"DescribeEndpointSettingsResponse"},
      "documentation":"<p>Returns information about the possible endpoint settings available when you create an endpoint for a specific database engine.</p>"
    },
    "DescribeEndpointTypes":{
      "name":"DescribeEndpointTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointTypesMessage"},
      "output":{"shape":"DescribeEndpointTypesResponse"},
      "documentation":"<p>Returns information about the type of endpoints available.</p>"
    },
    "DescribeEndpoints":{
      "name":"DescribeEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointsMessage"},
      "output":{"shape":"DescribeEndpointsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns information about the endpoints for your account in the current region.</p>"
    },
    "DescribeEventCategories":{
      "name":"DescribeEventCategories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventCategoriesMessage"},
      "output":{"shape":"DescribeEventCategoriesResponse"},
      "documentation":"<p>Lists categories for all event source types, or, if specified, for a specified source type. You can see a list of the event categories and source types in <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\">Working with Events and Notifications</a> in the <i>Database Migration Service User Guide.</i> </p>"
    },
    "DescribeEventSubscriptions":{
      "name":"DescribeEventSubscriptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventSubscriptionsMessage"},
      "output":{"shape":"DescribeEventSubscriptionsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Lists all the event subscriptions for a customer account. The description of a subscription includes <code>SubscriptionName</code>, <code>SNSTopicARN</code>, <code>CustomerID</code>, <code>SourceType</code>, <code>SourceID</code>, <code>CreationTime</code>, and <code>Status</code>. </p> <p>If you specify <code>SubscriptionName</code>, this action lists the description for that subscription.</p>"
    },
    "DescribeEvents":{
      "name":"DescribeEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventsMessage"},
      "output":{"shape":"DescribeEventsResponse"},
      "documentation":"<p> Lists events for a given source identifier and source type. You can also specify a start and end time. For more information on DMS events, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\">Working with Events and Notifications</a> in the <i>Database Migration Service User Guide.</i> </p>"
    },
    "DescribeFleetAdvisorCollectors":{
      "name":"DescribeFleetAdvisorCollectors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFleetAdvisorCollectorsRequest"},
      "output":{"shape":"DescribeFleetAdvisorCollectorsResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Returns a list of the Fleet Advisor collectors in your account.</p>"
    },
    "DescribeFleetAdvisorDatabases":{
      "name":"DescribeFleetAdvisorDatabases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFleetAdvisorDatabasesRequest"},
      "output":{"shape":"DescribeFleetAdvisorDatabasesResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Returns a list of Fleet Advisor databases in your account.</p>"
    },
    "DescribeFleetAdvisorLsaAnalysis":{
      "name":"DescribeFleetAdvisorLsaAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFleetAdvisorLsaAnalysisRequest"},
      "output":{"shape":"DescribeFleetAdvisorLsaAnalysisResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Provides descriptions of large-scale assessment (LSA) analyses produced by your Fleet Advisor collectors. </p>"
    },
    "DescribeFleetAdvisorSchemaObjectSummary":{
      "name":"DescribeFleetAdvisorSchemaObjectSummary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFleetAdvisorSchemaObjectSummaryRequest"},
      "output":{"shape":"DescribeFleetAdvisorSchemaObjectSummaryResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Provides descriptions of the schemas discovered by your Fleet Advisor collectors.</p>"
    },
    "DescribeFleetAdvisorSchemas":{
      "name":"DescribeFleetAdvisorSchemas",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFleetAdvisorSchemasRequest"},
      "output":{"shape":"DescribeFleetAdvisorSchemasResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Returns a list of schemas detected by Fleet Advisor Collectors in your account.</p>"
    },
    "DescribeOrderableReplicationInstances":{
      "name":"DescribeOrderableReplicationInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOrderableReplicationInstancesMessage"},
      "output":{"shape":"DescribeOrderableReplicationInstancesResponse"},
      "documentation":"<p>Returns information about the replication instance types that can be created in the specified region.</p>"
    },
    "DescribePendingMaintenanceActions":{
      "name":"DescribePendingMaintenanceActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePendingMaintenanceActionsMessage"},
      "output":{"shape":"DescribePendingMaintenanceActionsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>For internal use only</p>"
    },
    "DescribeRefreshSchemasStatus":{
      "name":"DescribeRefreshSchemasStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRefreshSchemasStatusMessage"},
      "output":{"shape":"DescribeRefreshSchemasStatusResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns the status of the RefreshSchemas operation.</p>"
    },
    "DescribeReplicationInstanceTaskLogs":{
      "name":"DescribeReplicationInstanceTaskLogs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReplicationInstanceTaskLogsMessage"},
      "output":{"shape":"DescribeReplicationInstanceTaskLogsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Returns information about the task logs for the specified task.</p>"
    },
    "DescribeReplicationInstances":{
      "name":"DescribeReplicationInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReplicationInstancesMessage"},
      "output":{"shape":"DescribeReplicationInstancesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns information about replication instances for your account in the current region.</p>"
    },
    "DescribeReplicationSubnetGroups":{
      "name":"DescribeReplicationSubnetGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReplicationSubnetGroupsMessage"},
      "output":{"shape":"DescribeReplicationSubnetGroupsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns information about the replication subnet groups.</p>"
    },
    "DescribeReplicationTaskAssessmentResults":{
      "name":"DescribeReplicationTaskAssessmentResults",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReplicationTaskAssessmentResultsMessage"},
      "output":{"shape":"DescribeReplicationTaskAssessmentResultsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns the task assessment results from the Amazon S3 bucket that DMS creates in your Amazon Web Services account. This action always returns the latest results.</p> <p>For more information about DMS task assessments, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.AssessmentReport.html\">Creating a task assessment report</a> in the <i>Database Migration Service User Guide</i>.</p>"
    },
    "DescribeReplicationTaskAssessmentRuns":{
      "name":"DescribeReplicationTaskAssessmentRuns",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReplicationTaskAssessmentRunsMessage"},
      "output":{"shape":"DescribeReplicationTaskAssessmentRunsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns a paginated list of premigration assessment runs based on filter settings.</p> <p>These filter settings can specify a combination of premigration assessment runs, migration tasks, replication instances, and assessment run status values.</p> <note> <p>This operation doesn't return information about individual assessments. For this information, see the <code>DescribeReplicationTaskIndividualAssessments</code> operation. </p> </note>"
    },
    "DescribeReplicationTaskIndividualAssessments":{
      "name":"DescribeReplicationTaskIndividualAssessments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReplicationTaskIndividualAssessmentsMessage"},
      "output":{"shape":"DescribeReplicationTaskIndividualAssessmentsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns a paginated list of individual assessments based on filter settings.</p> <p>These filter settings can specify a combination of premigration assessment runs, migration tasks, and assessment status values.</p>"
    },
    "DescribeReplicationTasks":{
      "name":"DescribeReplicationTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReplicationTasksMessage"},
      "output":{"shape":"DescribeReplicationTasksResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns information about replication tasks for your account in the current region.</p>"
    },
    "DescribeSchemas":{
      "name":"DescribeSchemas",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSchemasMessage"},
      "output":{"shape":"DescribeSchemasResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns information about the schema for the specified endpoint.</p> <p/>"
    },
    "DescribeTableStatistics":{
      "name":"DescribeTableStatistics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTableStatisticsMessage"},
      "output":{"shape":"DescribeTableStatisticsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Returns table statistics on the database migration task, including table name, rows inserted, rows updated, and rows deleted.</p> <p>Note that the \"last updated\" column the DMS console only indicates the time that DMS last updated the table statistics record for a table. It does not indicate the time of the last update to the table.</p>"
    },
    "ImportCertificate":{
      "name":"ImportCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportCertificateMessage"},
      "output":{"shape":"ImportCertificateResponse"},
      "errors":[
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"InvalidCertificateFault"},
        {"shape":"ResourceQuotaExceededFault"}
      ],
      "documentation":"<p>Uploads the specified certificate.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceMessage"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Lists all metadata tags attached to an DMS resource, including replication instance, endpoint, security group, and migration task. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/APIReference/API_Tag.html\"> <code>Tag</code> </a> data type description.</p>"
    },
    "ModifyEndpoint":{
      "name":"ModifyEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyEndpointMessage"},
      "output":{"shape":"ModifyEndpointResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"AccessDeniedFault"}
      ],
      "documentation":"<p>Modifies the specified endpoint.</p> <note> <p>For a MySQL source or target endpoint, don't explicitly specify the database using the <code>DatabaseName</code> request parameter on the <code>ModifyEndpoint</code> API call. Specifying <code>DatabaseName</code> when you modify a MySQL endpoint replicates all the task tables to this single database. For MySQL endpoints, you specify the database only when you specify the schema in the table-mapping rules of the DMS task.</p> </note>"
    },
    "ModifyEventSubscription":{
      "name":"ModifyEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyEventSubscriptionMessage"},
      "output":{"shape":"ModifyEventSubscriptionResponse"},
      "errors":[
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"SNSInvalidTopicFault"},
        {"shape":"SNSNoAuthorizationFault"},
        {"shape":"KMSAccessDeniedFault"},
        {"shape":"KMSDisabledFault"},
        {"shape":"KMSInvalidStateFault"},
        {"shape":"KMSNotFoundFault"},
        {"shape":"KMSThrottlingFault"}
      ],
      "documentation":"<p>Modifies an existing DMS event notification subscription. </p>"
    },
    "ModifyReplicationInstance":{
      "name":"ModifyReplicationInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyReplicationInstanceMessage"},
      "output":{"shape":"ModifyReplicationInstanceResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InsufficientResourceCapacityFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"UpgradeDependencyFailureFault"}
      ],
      "documentation":"<p>Modifies the replication instance to apply new settings. You can change one or more parameters by specifying these parameters and the new values in the request.</p> <p>Some settings are applied during the maintenance window.</p> <p/>"
    },
    "ModifyReplicationSubnetGroup":{
      "name":"ModifyReplicationSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyReplicationSubnetGroupMessage"},
      "output":{"shape":"ModifyReplicationSubnetGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"SubnetAlreadyInUse"},
        {"shape":"ReplicationSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidSubnet"}
      ],
      "documentation":"<p>Modifies the settings for the specified replication subnet group.</p>"
    },
    "ModifyReplicationTask":{
      "name":"ModifyReplicationTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyReplicationTaskMessage"},
      "output":{"shape":"ModifyReplicationTaskResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"KMSKeyNotAccessibleFault"}
      ],
      "documentation":"<p>Modifies the specified replication task.</p> <p>You can't modify the task endpoints. The task must be stopped before you can modify it. </p> <p>For more information about DMS tasks, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.html\">Working with Migration Tasks</a> in the <i>Database Migration Service User Guide</i>.</p>"
    },
    "MoveReplicationTask":{
      "name":"MoveReplicationTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"MoveReplicationTaskMessage"},
      "output":{"shape":"MoveReplicationTaskResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"ResourceQuotaExceededFault"}
      ],
      "documentation":"<p>Moves a replication task from its current replication instance to a different target replication instance using the specified parameters. The target replication instance must be created with the same or later DMS version as the current replication instance.</p>"
    },
    "RebootReplicationInstance":{
      "name":"RebootReplicationInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RebootReplicationInstanceMessage"},
      "output":{"shape":"RebootReplicationInstanceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Reboots a replication instance. Rebooting results in a momentary outage, until the replication instance becomes available again.</p>"
    },
    "RefreshSchemas":{
      "name":"RefreshSchemas",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RefreshSchemasMessage"},
      "output":{"shape":"RefreshSchemasResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"ResourceQuotaExceededFault"}
      ],
      "documentation":"<p>Populates the schema for the specified endpoint. This is an asynchronous operation and can take several minutes. You can check the status of this operation by calling the DescribeRefreshSchemasStatus operation.</p>"
    },
    "ReloadTables":{
      "name":"ReloadTables",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ReloadTablesMessage"},
      "output":{"shape":"ReloadTablesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Reloads the target database table with the source data. </p> <p>You can only use this operation with a task in the <code>RUNNING</code> state, otherwise the service will throw an <code>InvalidResourceStateFault</code> exception.</p>"
    },
    "RemoveTagsFromResource":{
      "name":"RemoveTagsFromResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveTagsFromResourceMessage"},
      "output":{"shape":"RemoveTagsFromResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Removes metadata tags from an DMS resource, including replication instance, endpoint, security group, and migration task. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/APIReference/API_Tag.html\"> <code>Tag</code> </a> data type description.</p>"
    },
    "RunFleetAdvisorLsaAnalysis":{
      "name":"RunFleetAdvisorLsaAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{"shape":"RunFleetAdvisorLsaAnalysisResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Runs large-scale assessment (LSA) analysis on every Fleet Advisor collector in your account.</p>"
    },
    "StartReplicationTask":{
      "name":"StartReplicationTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartReplicationTaskMessage"},
      "output":{"shape":"StartReplicationTaskResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"AccessDeniedFault"}
      ],
      "documentation":"<p>Starts the replication task.</p> <p>For more information about DMS tasks, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.html\">Working with Migration Tasks </a> in the <i>Database Migration Service User Guide.</i> </p>"
    },
    "StartReplicationTaskAssessment":{
      "name":"StartReplicationTaskAssessment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartReplicationTaskAssessmentMessage"},
      "output":{"shape":"StartReplicationTaskAssessmentResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p> Starts the replication task assessment for unsupported data types in the source database. </p> <p>You can only use this operation for a task if the following conditions are true:</p> <ul> <li> <p>The task must be in the <code>stopped</code> state.</p> </li> <li> <p>The task must have successful connections to the source and target.</p> </li> </ul> <p>If either of these conditions are not met, an <code>InvalidResourceStateFault</code> error will result. </p> <p>For information about DMS task assessments, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.AssessmentReport.html\">Creating a task assessment report</a> in the <i>Database Migration Service User Guide</i>.</p>"
    },
    "StartReplicationTaskAssessmentRun":{
      "name":"StartReplicationTaskAssessmentRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartReplicationTaskAssessmentRunMessage"},
      "output":{"shape":"StartReplicationTaskAssessmentRunResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"KMSAccessDeniedFault"},
        {"shape":"KMSDisabledFault"},
        {"shape":"KMSFault"},
        {"shape":"KMSInvalidStateFault"},
        {"shape":"KMSNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"S3AccessDeniedFault"},
        {"shape":"S3ResourceNotFoundFault"},
        {"shape":"ResourceAlreadyExistsFault"}
      ],
      "documentation":"<p>Starts a new premigration assessment run for one or more individual assessments of a migration task.</p> <p>The assessments that you can specify depend on the source and target database engine and the migration type defined for the given task. To run this operation, your migration task must already be created. After you run this operation, you can review the status of each individual assessment. You can also run the migration task manually after the assessment run and its individual assessments complete.</p>"
    },
    "StopReplicationTask":{
      "name":"StopReplicationTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopReplicationTaskMessage"},
      "output":{"shape":"StopReplicationTaskResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Stops the replication task.</p>"
    },
    "TestConnection":{
      "name":"TestConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TestConnectionMessage"},
      "output":{"shape":"TestConnectionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"AccessDeniedFault"}
      ],
      "documentation":"<p>Tests the connection between the replication instance and the endpoint.</p>"
    }
  },
  "shapes":{
    "AccessDeniedFault":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"ExceptionMessage",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>DMS was denied access to the endpoint. Check that the role is correctly configured.</p>",
      "exception":true
    },
    "AccountQuota":{
      "type":"structure",
      "members":{
        "AccountQuotaName":{
          "shape":"String",
          "documentation":"<p>The name of the DMS quota for this Amazon Web Services account.</p>"
        },
        "Used":{
          "shape":"Long",
          "documentation":"<p>The amount currently used toward the quota maximum.</p>"
        },
        "Max":{
          "shape":"Long",
          "documentation":"<p>The maximum allowed value for the quota.</p>"
        }
      },
      "documentation":"<p>Describes a quota for an Amazon Web Services account, for example the number of replication instances allowed.</p>"
    },
    "AccountQuotaList":{
      "type":"list",
      "member":{"shape":"AccountQuota"}
    },
    "AddTagsToResourceMessage":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "Tags"
      ],
      "members":{
        "ResourceArn":{
          "shape":"String",
          "documentation":"<p>Identifies the DMS resource to which tags should be added. The value for this parameter is an Amazon Resource Name (ARN).</p> <p>For DMS, you can tag a replication instance, an endpoint, or a replication task.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>One or more tags to be assigned to the resource.</p>"
        }
      },
      "documentation":"<p>Associates a set of tags with an DMS resource.</p>"
    },
    "AddTagsToResourceResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p/>"
    },
    "ApplyPendingMaintenanceActionMessage":{
      "type":"structure",
      "required":[
        "ReplicationInstanceArn",
        "ApplyAction",
        "OptInType"
      ],
      "members":{
        "ReplicationInstanceArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the DMS resource that the pending maintenance action applies to.</p>"
        },
        "ApplyAction":{
          "shape":"String",
          "documentation":"<p>The pending maintenance action to apply to this resource.</p> <p>Valid values: <code>os-upgrade</code>, <code>system-update</code>, <code>db-upgrade</code> </p>"
        },
        "OptInType":{
          "shape":"String",
          "documentation":"<p>A value that specifies the type of opt-in request, or undoes an opt-in request. You can't undo an opt-in request of type <code>immediate</code>.</p> <p>Valid values:</p> <ul> <li> <p> <code>immediate</code> - Apply the maintenance action immediately.</p> </li> <li> <p> <code>next-maintenance</code> - Apply the maintenance action during the next maintenance window for the resource.</p> </li> <li> <p> <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in requests.</p> </li> </ul>"
        }
      },
      "documentation":"<p/>"
    },
    "ApplyPendingMaintenanceActionResponse":{
      "type":"structure",
      "members":{
        "ResourcePendingMaintenanceActions":{
          "shape":"ResourcePendingMaintenanceActions",
          "documentation":"<p>The DMS resource that the pending maintenance action will be applied to.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "ArnList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "AuthMechanismValue":{
      "type":"string",
      "enum":[
        "default",
        "mongodb_cr",
        "scram_sha_1"
      ]
    },
    "AuthTypeValue":{
      "type":"string",
      "enum":[
        "no",
        "password"
      ]
    },
    "AvailabilityZone":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the Availability Zone.</p>"
        }
      },
      "documentation":"<p>The name of an Availability Zone for use during database migration. <code>AvailabilityZone</code> is an optional parameter to the <a href=\"https://docs.aws.amazon.com/dms/latest/APIReference/API_CreateReplicationInstance.html\"> <code>CreateReplicationInstance</code> </a> operation, and it’s value relates to the Amazon Web Services Region of an endpoint. For example, the availability zone of an endpoint in the us-east-1 region might be us-east-1a, us-east-1b, us-east-1c, or us-east-1d.</p>"
    },
    "AvailabilityZonesList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "Boolean":{"type":"boolean"},
    "BooleanOptional":{"type":"boolean"},
    "CancelReplicationTaskAssessmentRunMessage":{
      "type":"structure",
      "required":["ReplicationTaskAssessmentRunArn"],
      "members":{
        "ReplicationTaskAssessmentRunArn":{
          "shape":"String",
          "documentation":"<p>Amazon Resource Name (ARN) of the premigration assessment run to be canceled.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "CancelReplicationTaskAssessmentRunResponse":{
      "type":"structure",
      "members":{
        "ReplicationTaskAssessmentRun":{
          "shape":"ReplicationTaskAssessmentRun",
          "documentation":"<p>The <code>ReplicationTaskAssessmentRun</code> object for the canceled assessment run.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "CannedAclForObjectsValue":{
      "type":"string",
      "enum":[
        "none",
        "private",
        "public-read",
        "public-read-write",
        "authenticated-read",
        "aws-exec-read",
        "bucket-owner-read",
        "bucket-owner-full-control"
      ]
    },
    "Certificate":{
      "type":"structure",
      "members":{
        "CertificateIdentifier":{
          "shape":"String",
          "documentation":"<p>A customer-assigned name for the certificate. Identifiers must begin with a letter and must contain only ASCII letters, digits, and hyphens. They can't end with a hyphen or contain two consecutive hyphens.</p>"
        },
        "CertificateCreationDate":{
          "shape":"TStamp",
          "documentation":"<p>The date that the certificate was created.</p>"
        },
        "CertificatePem":{
          "shape":"String",
          "documentation":"<p>The contents of a <code>.pem</code> file, which contains an X.509 certificate.</p>"
        },
        "CertificateWallet":{
          "shape":"CertificateWallet",
          "documentation":"<p>The location of an imported Oracle Wallet certificate for use with SSL. Example: <code>filebase64(\"${path.root}/rds-ca-2019-root.sso\")</code> </p>"
        },
        "CertificateArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) for the certificate.</p>"
        },
        "CertificateOwner":{
          "shape":"String",
          "documentation":"<p>The owner of the certificate.</p>"
        },
        "ValidFromDate":{
          "shape":"TStamp",
          "documentation":"<p>The beginning date that the certificate is valid.</p>"
        },
        "ValidToDate":{
          "shape":"TStamp",
          "documentation":"<p>The final date that the certificate is valid.</p>"
        },
        "SigningAlgorithm":{
          "shape":"String",
          "documentation":"<p>The signing algorithm for the certificate.</p>"
        },
        "KeyLength":{
          "shape":"IntegerOptional",
          "documentation":"<p>The key length of the cryptographic algorithm being used.</p>"
        }
      },
      "documentation":"<p>The SSL certificate that can be used to encrypt connections between the endpoints and the replication instance.</p>"
    },
    "CertificateList":{
      "type":"list",
      "member":{"shape":"Certificate"}
    },
    "CertificateWallet":{"type":"blob"},
    "CharLengthSemantics":{
      "type":"string",
      "enum":[
        "default",
        "char",
        "byte"
      ]
    },
    "CollectorHealthCheck":{
      "type":"structure",
      "members":{
        "CollectorStatus":{
          "shape":"CollectorStatus",
          "documentation":"<p>The status of the Fleet Advisor collector.</p>"
        },
        "LocalCollectorS3Access":{
          "shape":"BooleanOptional",
          "documentation":"<p>Whether the local collector can access its Amazon S3 bucket.</p>"
        },
        "WebCollectorS3Access":{
          "shape":"BooleanOptional",
          "documentation":"<p>Whether the web collector can access its Amazon S3 bucket.</p>"
        },
        "WebCollectorGrantedRoleBasedAccess":{
          "shape":"BooleanOptional",
          "documentation":"<p>Whether the role that you provided when creating the Fleet Advisor collector has sufficient permissions to access the Fleet Advisor web collector.</p>"
        }
      },
      "documentation":"<p>Describes the last Fleet Advisor collector health check.</p>"
    },
    "CollectorNotFoundFault":{
      "type":"structure",
      "members":{
        "message":{"shape":"ExceptionMessage"}
      },
      "documentation":"<p>The specified collector doesn't exist.</p>",
      "exception":true
    },
    "CollectorResponse":{
      "type":"structure",
      "members":{
        "CollectorReferencedId":{
          "shape":"String",
          "documentation":"<p>The reference ID of the Fleet Advisor collector.</p>"
        },
        "CollectorName":{
          "shape":"String",
          "documentation":"<p>The name of the Fleet Advisor collector .</p>"
        },
        "CollectorVersion":{
          "shape":"String",
          "documentation":"<p>The version of your Fleet Advisor collector, in semantic versioning format, for example <code>1.0.2</code> </p>"
        },
        "VersionStatus":{
          "shape":"VersionStatus",
          "documentation":"<p>Whether the collector version is up to date.</p>"
        },
        "Description":{
          "shape":"String",
          "documentation":"<p>A summary description of the Fleet Advisor collector.</p>"
        },
        "S3BucketName":{
          "shape":"String",
          "documentation":"<p>The Amazon S3 bucket that the Fleet Advisor collector uses to store inventory metadata.</p>"
        },
        "ServiceAccessRoleArn":{
          "shape":"String",
          "documentation":"<p>The IAM role that grants permissions to access the specified Amazon S3 bucket.</p>"
        },
        "CollectorHealthCheck":{"shape":"CollectorHealthCheck"},
        "LastDataReceived":{
          "shape":"String",
          "documentation":"<p>The timestamp of the last time the collector received data, in the following format: <code>2022-01-24T19:04:02.596113Z</code> </p>"
        },
        "RegisteredDate":{
          "shape":"String",
          "documentation":"<p>The timestamp when DMS registered the collector, in the following format: <code>2022-01-24T19:04:02.596113Z</code> </p>"
        },
        "CreatedDate":{
          "shape":"String",
          "documentation":"<p>The timestamp when you created the collector, in the following format: <code>2022-01-24T19:04:02.596113Z</code> </p>"
        },
        "ModifiedDate":{
          "shape":"String",
          "documentation":"<p>The timestamp when DMS last modified the collector, in the following format: <code>2022-01-24T19:04:02.596113Z</code> </p>"
        },
        "InventoryData":{"shape":"InventoryData"}
      },
      "documentation":"<p>Describes a Fleet Advisor collector.</p>"
    },
    "CollectorResponses":{
      "type":"list",
      "member":{"shape":"CollectorResponse"}
    },
    "CollectorShortInfoResponse":{
      "type":"structure",
      "members":{
        "CollectorReferencedId":{
          "shape":"String",
          "documentation":"<p>The reference ID of the Fleet Advisor collector.</p>"
        },
        "CollectorName":{
          "shape":"String",
          "documentation":"<p>The name of the Fleet Advisor collector.</p>"
        }
      },
      "documentation":"<p>Briefly describes a Fleet Advisor collector.</p>"
    },
    "CollectorStatus":{
      "type":"string",
      "enum":[
        "UNREGISTERED",
        "ACTIVE"
      ]
    },
    "CollectorsList":{
      "type":"list",
      "member":{"shape":"CollectorShortInfoResponse"}
    },
    "CompressionTypeValue":{
      "type":"string",
      "enum":[
        "none",
        "gzip"
      ]
    },
    "Connection":{
      "type":"structure",
      "members":{
        "ReplicationInstanceArn":{
          "shape":"String",
          "documentation":"<p>The ARN of the replication instance.</p>"
        },
        "EndpointArn":{
          "shape":"String",
          "documentation":"<p>The ARN string that uniquely identifies the endpoint.</p>"
        },
        "Status":{
          "shape":"String",
          "documentation":"<p>The connection status. This parameter can return one of the following values:</p> <ul> <li> <p> <code>\"successful\"</code> </p> </li> <li> <p> <code>\"testing\"</code> </p> </li> <li> <p> <code>\"failed\"</code> </p> </li> <li> <p> <code>\"deleting\"</code> </p> </li> </ul>"
        },
        "LastFailureMessage":{
          "shape":"String",
          "documentation":"<p>The error message when the connection last failed.</p>"
        },
        "EndpointIdentifier":{
          "shape":"String",
          "documentation":"<p>The identifier of the endpoint. Identifiers must begin with a letter and must contain only ASCII letters, digits, and hyphens. They can't end with a hyphen or contain two consecutive hyphens.</p>"
        },
        "ReplicationInstanceIdentifier":{
          "shape":"String",
          "documentation":"<p>The replication instance identifier. This parameter is stored as a lowercase string.</p>"
        }
      },
      "documentation":"<p>Status of the connection between an endpoint and a replication instance, including Amazon Resource Names (ARNs) and the last error message issued.</p>"
    },
    "ConnectionList":{
      "type":"list",
      "member":{"shape":"Connection"}
    },
    "CreateEndpointMessage":{
      "type":"structure",
      "required":[
        "EndpointIdentifier",
        "EndpointType",
        "EngineName"
      ],
      "members":{
        "EndpointIdentifier":{
          "shape":"String",
          "documentation":"<p>The database endpoint identifier. Identifiers must begin with a letter and must contain only ASCII letters, digits, and hyphens. They can't end with a hyphen, or contain two consecutive hyphens.</p>"
        },
        "EndpointType":{
          "shape":"ReplicationEndpointTypeValue",
          "documentation":"<p>The type of endpoint. Valid values are <code>source</code> and <code>target</code>.</p>"
        },
        "EngineName":{
          "shape":"String",
          "documentation":"<p>The type of engine for the endpoint. Valid values, depending on the <code>EndpointType</code> value, include <code>\"mysql\"</code>, <code>\"oracle\"</code>, <code>\"postgres\"</code>, <code>\"mariadb\"</code>, <code>\"aurora\"</code>, <code>\"aurora-postgresql\"</code>, <code>\"opensearch\"</code>, <code>\"redshift\"</code>, <code>\"s3\"</code>, <code>\"db2\"</code>, <code>\"azuredb\"</code>, <code>\"sybase\"</code>, <code>\"dynamodb\"</code>, <code>\"mongodb\"</code>, <code>\"kinesis\"</code>, <code>\"kafka\"</code>, <code>\"elasticsearch\"</code>, <code>\"docdb\"</code>, <code>\"sqlserver\"</code>, and <code>\"neptune\"</code>.</p>"
        },
        "Username":{
          "shape":"String",
          "documentation":"<p>The user name to be used to log in to the endpoint database.</p>"
        },
        "Password":{
          "shape":"SecretString",
          "documentation":"<p>The password to be used to log in to the endpoint database.</p>"
        },
        "ServerName":{
          "shape":"String",
          "documentation":"<p>The name of the server where the endpoint database resides.</p>"
        },
        "Port":{
          "shape":"IntegerOptional",
          "documentation":"<p>The port used by the endpoint database.</p>"
        },
        "DatabaseName":{
          "shape":"String",
          "documentation":"<p>The name of the endpoint database. For a MySQL source or target endpoint, do not specify DatabaseName. To migrate to a specific database, use this setting and <code>targetDbType</code>.</p>"
        },
        "ExtraConnectionAttributes":{
          "shape":"String",
          "documentation":"<p>Additional attributes associated with the connection. Each attribute is specified as a name-value pair associated by an equal sign (=). Multiple attributes are separated by a semicolon (;) with no additional white space. For information on the attributes available for connecting your source or target endpoint, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Endpoints.html\">Working with DMS Endpoints</a> in the <i>Database Migration Service User Guide.</i> </p>"
        },
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>An KMS key identifier that is used to encrypt the connection parameters for the endpoint.</p> <p>If you don't specify a value for the <code>KmsKeyId</code> parameter, then DMS uses your default encryption key.</p> <p>KMS creates the default encryption key for your Amazon Web Services account. Your Amazon Web Services account has a different default encryption key for each Amazon Web Services Region.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>One or more tags to be assigned to the endpoint.</p>"
        },
        "CertificateArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) for the certificate.</p>"
        },
        "SslMode":{
          "shape":"DmsSslModeValue",
          "documentation":"<p>The Secure Sockets Layer (SSL) mode to use for the SSL connection. The default is <code>none</code> </p>"
        },
        "ServiceAccessRoleArn":{
          "shape":"String",
          "documentation":"<p> The Amazon Resource Name (ARN) for the service access role that you want to use to create the endpoint. The role must allow the <code>iam:PassRole</code> action.</p>"
        },
        "ExternalTableDefinition":{
          "shape":"String",
          "documentation":"<p>The external table definition. </p>"
        },
        "DynamoDbSettings":{
          "shape":"DynamoDbSettings",
          "documentation":"<p>Settings in JSON format for the target Amazon DynamoDB endpoint. For information about other available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.DynamoDB.html#CHAP_Target.DynamoDB.ObjectMapping\">Using Object Mapping to Migrate Data to DynamoDB</a> in the <i>Database Migration Service User Guide.</i> </p>"
        },
        "S3Settings":{
          "shape":"S3Settings",
          "documentation":"<p>Settings in JSON format for the target Amazon S3 endpoint. For more information about the available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.S3.html#CHAP_Target.S3.Configuring\">Extra Connection Attributes When Using Amazon S3 as a Target for DMS</a> in the <i>Database Migration Service User Guide.</i> </p>"
        },
        "DmsTransferSettings":{
          "shape":"DmsTransferSettings",
          "documentation":"<p>The settings in JSON format for the DMS transfer type of source endpoint. </p> <p>Possible settings include the following:</p> <ul> <li> <p> <code>ServiceAccessRoleArn</code> - The Amazon Resource Name (ARN) used by the service access IAM role. The role must allow the <code>iam:PassRole</code> action.</p> </li> <li> <p> <code>BucketName</code> - The name of the S3 bucket to use.</p> </li> </ul> <p>Shorthand syntax for these settings is as follows: <code>ServiceAccessRoleArn=string,BucketName=string</code> </p> <p>JSON syntax for these settings is as follows: <code>{ \"ServiceAccessRoleArn\": \"string\", \"BucketName\": \"string\", } </code> </p>"
        },
        "MongoDbSettings":{
          "shape":"MongoDbSettings",
          "documentation":"<p>Settings in JSON format for the source MongoDB endpoint. For more information about the available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Source.MongoDB.html#CHAP_Source.MongoDB.Configuration\">Endpoint configuration settings when using MongoDB as a source for Database Migration Service</a> in the <i>Database Migration Service User Guide.</i> </p>"
        },
        "KinesisSettings":{
          "shape":"KinesisSettings",
          "documentation":"<p>Settings in JSON format for the target endpoint for Amazon Kinesis Data Streams. For more information about the available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.Kinesis.html#CHAP_Target.Kinesis.ObjectMapping\">Using object mapping to migrate data to a Kinesis data stream</a> in the <i>Database Migration Service User Guide.</i> </p>"
        },
        "KafkaSettings":{
          "shape":"KafkaSettings",
          "documentation":"<p>Settings in JSON format for the target Apache Kafka endpoint. For more information about the available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.Kafka.html#CHAP_Target.Kafka.ObjectMapping\">Using object mapping to migrate data to a Kafka topic</a> in the <i>Database Migration Service User Guide.</i> </p>"
        },
        "ElasticsearchSettings":{
          "shape":"ElasticsearchSettings",
          "documentation":"<p>Settings in JSON format for the target OpenSearch endpoint. For more information about the available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.Elasticsearch.html#CHAP_Target.Elasticsearch.Configuration\">Extra Connection Attributes When Using OpenSearch as a Target for DMS</a> in the <i>Database Migration Service User Guide</i>.</p>"
        },
        "NeptuneSettings":{
          "shape":"NeptuneSettings",
          "documentation":"<p>Settings in JSON format for the target Amazon Neptune endpoint. For more information about the available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.Neptune.html#CHAP_Target.Neptune.EndpointSettings\">Specifying graph-mapping rules using Gremlin and R2RML for Amazon Neptune as a target</a> in the <i>Database Migration Service User Guide.</i> </p>"
        },
        "RedshiftSettings":{"shape":"RedshiftSettings"},
        "PostgreSQLSettings":{
          "shape":"PostgreSQLSettings",
          "documentation":"<p>Settings in JSON format for the source and target PostgreSQL endpoint. For information about other available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Source.PostgreSQL.html#CHAP_Source.PostgreSQL.ConnectionAttrib\">Extra connection attributes when using PostgreSQL as a source for DMS</a> and <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.PostgreSQL.html#CHAP_Target.PostgreSQL.ConnectionAttrib\"> Extra connection attributes when using PostgreSQL as a target for DMS</a> in the <i>Database Migration Service User Guide.</i> </p>"
        },
        "MySQLSettings":{
          "shape":"MySQLSettings",
          "documentation":"<p>Settings in JSON format for the source and target MySQL endpoint. For information about other available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Source.MySQL.html#CHAP_Source.MySQL.ConnectionAttrib\">Extra connection attributes when using MySQL as a source for DMS</a> and <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.MySQL.html#CHAP_Target.MySQL.ConnectionAttrib\">Extra connection attributes when using a MySQL-compatible database as a target for DMS</a> in the <i>Database Migration Service User Guide.</i> </p>"
        },
        "OracleSettings":{
          "shape":"OracleSettings",
          "documentation":"<p>Settings in JSON format for the source and target Oracle endpoint. For information about other available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Source.Oracle.html#CHAP_Source.Oracle.ConnectionAttrib\">Extra connection attributes when using Oracle as a source for DMS</a> and <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.Oracle.html#CHAP_Target.Oracle.ConnectionAttrib\"> Extra connection attributes when using Oracle as a target for DMS</a> in the <i>Database Migration Service User Guide.</i> </p>"
        },
        "SybaseSettings":{
          "shape":"SybaseSettings",
          "documentation":"<p>Settings in JSON format for the source and target SAP ASE endpoint. For information about other available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Source.SAP.html#CHAP_Source.SAP.ConnectionAttrib\">Extra connection attributes when using SAP ASE as a source for DMS</a> and <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.SAP.html#CHAP_Target.SAP.ConnectionAttrib\">Extra connection attributes when using SAP ASE as a target for DMS</a> in the <i>Database Migration Service User Guide.</i> </p>"
        },
        "MicrosoftSQLServerSettings":{
          "shape":"MicrosoftSQLServerSettings",
          "documentation":"<p>Settings in JSON format for the source and target Microsoft SQL Server endpoint. For information about other available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Source.SQLServer.html#CHAP_Source.SQLServer.ConnectionAttrib\">Extra connection attributes when using SQL Server as a source for DMS</a> and <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.SQLServer.html#CHAP_Target.SQLServer.ConnectionAttrib\"> Extra connection attributes when using SQL Server as a target for DMS</a> in the <i>Database Migration Service User Guide.</i> </p>"
        },
        "IBMDb2Settings":{
          "shape":"IBMDb2Settings",
          "documentation":"<p>Settings in JSON format for the source IBM Db2 LUW endpoint. For information about other available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Source.DB2.html#CHAP_Source.DB2.ConnectionAttrib\">Extra connection attributes when using Db2 LUW as a source for DMS</a> in the <i>Database Migration Service User Guide.</i> </p>"
        },
        "ResourceIdentifier":{
          "shape":"String",
          "documentation":"<p>A friendly name for the resource identifier at the end of the <code>EndpointArn</code> response parameter that is returned in the created <code>Endpoint</code> object. The value for this parameter can have up to 31 characters. It can contain only ASCII letters, digits, and hyphen ('-'). Also, it can't end with a hyphen or contain two consecutive hyphens, and can only begin with a letter, such as <code>Example-App-ARN1</code>. For example, this value might result in the <code>EndpointArn</code> value <code>arn:aws:dms:eu-west-1:012345678901:rep:Example-App-ARN1</code>. If you don't specify a <code>ResourceIdentifier</code> value, DMS generates a default identifier value for the end of <code>EndpointArn</code>.</p>"
        },
        "DocDbSettings":{"shape":"DocDbSettings"},
        "RedisSettings":{
          "shape":"RedisSettings",
          "documentation":"<p>Settings in JSON format for the target Redis endpoint.</p>"
        },
        "GcpMySQLSettings":{
          "shape":"GcpMySQLSettings",
          "documentation":"<p>Settings in JSON format for the source GCP MySQL endpoint.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "CreateEndpointResponse":{
      "type":"structure",
      "members":{
        "Endpoint":{
          "shape":"Endpoint",
          "documentation":"<p>The endpoint that was created.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "CreateEventSubscriptionMessage":{
      "type":"structure",
      "required":[
        "SubscriptionName",
        "SnsTopicArn"
      ],
      "members":{
        "SubscriptionName":{
          "shape":"String",
          "documentation":"<p>The name of the DMS event notification subscription. This name must be less than 255 characters.</p>"
        },
        "SnsTopicArn":{
          "shape":"String",
          "documentation":"<p> The Amazon Resource Name (ARN) of the Amazon SNS topic created for event notification. The ARN is created by Amazon SNS when you create a topic and subscribe to it. </p>"
        },
        "SourceType":{
          "shape":"String",
          "documentation":"<p> The type of DMS resource that generates the events. For example, if you want to be notified of events generated by a replication instance, you set this parameter to <code>replication-instance</code>. If this value isn't specified, all events are returned. </p> <p>Valid values: <code>replication-instance</code> | <code>replication-task</code> </p>"
        },
        "EventCategories":{
          "shape":"EventCategoriesList",
          "documentation":"<p>A list of event categories for a source type that you want to subscribe to. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\">Working with Events and Notifications</a> in the <i>Database Migration Service User Guide.</i> </p>"
        },
        "SourceIds":{
          "shape":"SourceIdsList",
          "documentation":"<p>A list of identifiers for which DMS provides notification events.</p> <p>If you don't specify a value, notifications are provided for all sources.</p> <p>If you specify multiple values, they must be of the same type. For example, if you specify a database instance ID, then all of the other values must be database instance IDs.</p>"
        },
        "Enabled":{
          "shape":"BooleanOptional",
          "documentation":"<p> A Boolean value; set to <code>true</code> to activate the subscription, or set to <code>false</code> to create the subscription but not activate it. </p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>One or more tags to be assigned to the event subscription.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "CreateEventSubscriptionResponse":{
      "type":"structure",
      "members":{
        "EventSubscription":{
          "shape":"EventSubscription",
          "documentation":"<p>The event subscription that was created.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "CreateFleetAdvisorCollectorRequest":{
      "type":"structure",
      "required":[
        "CollectorName",
        "ServiceAccessRoleArn",
        "S3BucketName"
      ],
      "members":{
        "CollectorName":{
          "shape":"String",
          "documentation":"<p>The name of your Fleet Advisor collector (for example, <code>sample-collector</code>).</p>"
        },
        "Description":{
          "shape":"String",
          "documentation":"<p>A summary description of your Fleet Advisor collector.</p>"
        },
        "ServiceAccessRoleArn":{
          "shape":"String",
          "documentation":"<p>The IAM role that grants permissions to access the specified Amazon S3 bucket.</p>"
        },
        "S3BucketName":{
          "shape":"String",
          "documentation":"<p>The Amazon S3 bucket that the Fleet Advisor collector uses to store inventory metadata.</p>"
        }
      }
    },
    "CreateFleetAdvisorCollectorResponse":{
      "type":"structure",
      "members":{
        "CollectorReferencedId":{
          "shape":"String",
          "documentation":"<p>The unique ID of the new Fleet Advisor collector, for example: <code>22fda70c-40d5-4acf-b233-a495bd8eb7f5</code> </p>"
        },
        "CollectorName":{
          "shape":"String",
          "documentation":"<p>The name of the new Fleet Advisor collector.</p>"
        },
        "Description":{
          "shape":"String",
          "documentation":"<p>A summary description of the Fleet Advisor collector.</p>"
        },
        "ServiceAccessRoleArn":{
          "shape":"String",
          "documentation":"<p>The IAM role that grants permissions to access the specified Amazon S3 bucket.</p>"
        },
        "S3BucketName":{
          "shape":"String",
          "documentation":"<p>The Amazon S3 bucket that the collector uses to store inventory metadata.</p>"
        }
      }
    },
    "CreateReplicationInstanceMessage":{
      "type":"structure",
      "required":[
        "ReplicationInstanceIdentifier",
        "ReplicationInstanceClass"
      ],
      "members":{
        "ReplicationInstanceIdentifier":{
          "shape":"String",
          "documentation":"<p>The replication instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain 1-63 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Can't end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>myrepinstance</code> </p>"
        },
        "AllocatedStorage":{
          "shape":"IntegerOptional",
          "documentation":"<p>The amount of storage (in gigabytes) to be initially allocated for the replication instance.</p>"
        },
        "ReplicationInstanceClass":{
          "shape":"String",
          "documentation":"<p>The compute and memory capacity of the replication instance as defined for the specified replication instance class. For example to specify the instance class dms.c4.large, set this parameter to <code>\"dms.c4.large\"</code>.</p> <p>For more information on the settings and capacities for the available replication instance classes, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_ReplicationInstance.html#CHAP_ReplicationInstance.InDepth\"> Selecting the right DMS replication instance for your migration</a>. </p>"
        },
        "VpcSecurityGroupIds":{
          "shape":"VpcSecurityGroupIdList",
          "documentation":"<p> Specifies the VPC security group to be used with the replication instance. The VPC security group must work with the VPC containing the replication instance. </p>"
        },
        "AvailabilityZone":{
          "shape":"String",
          "documentation":"<p>The Availability Zone where the replication instance will be created. The default value is a random, system-chosen Availability Zone in the endpoint's Amazon Web Services Region, for example: <code>us-east-1d</code> </p>"
        },
        "ReplicationSubnetGroupIdentifier":{
          "shape":"String",
          "documentation":"<p>A subnet group to associate with the replication instance.</p>"
        },
        "PreferredMaintenanceWindow":{
          "shape":"String",
          "documentation":"<p>The weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p> Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>Default: A 30-minute window selected at random from an 8-hour block of time per Amazon Web Services Region, occurring on a random day of the week.</p> <p>Valid Days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p> <p>Constraints: Minimum 30-minute window.</p>"
        },
        "MultiAZ":{
          "shape":"BooleanOptional",
          "documentation":"<p> Specifies whether the replication instance is a Multi-AZ deployment. You can't set the <code>AvailabilityZone</code> parameter if the Multi-AZ parameter is set to <code>true</code>. </p>"
        },
        "EngineVersion":{
          "shape":"String",
          "documentation":"<p>The engine version number of the replication instance.</p> <p>If an engine version number is not specified when a replication instance is created, the default is the latest engine version available.</p>"
        },
        "AutoMinorVersionUpgrade":{
          "shape":"BooleanOptional",
          "documentation":"<p>A value that indicates whether minor engine upgrades are applied automatically to the replication instance during the maintenance window. This parameter defaults to <code>true</code>.</p> <p>Default: <code>true</code> </p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>One or more tags to be assigned to the replication instance.</p>"
        },
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>An KMS key identifier that is used to encrypt the data on the replication instance.</p> <p>If you don't specify a value for the <code>KmsKeyId</code> parameter, then DMS uses your default encryption key.</p> <p>KMS creates the default encryption key for your Amazon Web Services account. Your Amazon Web Services account has a different default encryption key for each Amazon Web Services Region.</p>"
        },
        "PubliclyAccessible":{
          "shape":"BooleanOptional",
          "documentation":"<p> Specifies the accessibility options for the replication instance. A value of <code>true</code> represents an instance with a public IP address. A value of <code>false</code> represents an instance with a private IP address. The default value is <code>true</code>. </p>"
        },
        "DnsNameServers":{
          "shape":"String",
          "documentation":"<p>A list of custom DNS name servers supported for the replication instance to access your on-premise source or target database. This list overrides the default name servers supported by the replication instance. You can specify a comma-separated list of internet addresses for up to four on-premise DNS name servers. For example: <code>\"1.1.1.1,2.2.2.2,3.3.3.3,4.4.4.4\"</code> </p>"
        },
        "ResourceIdentifier":{
          "shape":"String",
          "documentation":"<p>A friendly name for the resource identifier at the end of the <code>EndpointArn</code> response parameter that is returned in the created <code>Endpoint</code> object. The value for this parameter can have up to 31 characters. It can contain only ASCII letters, digits, and hyphen ('-'). Also, it can't end with a hyphen or contain two consecutive hyphens, and can only begin with a letter, such as <code>Example-App-ARN1</code>. For example, this value might result in the <code>EndpointArn</code> value <code>arn:aws:dms:eu-west-1:012345678901:rep:Example-App-ARN1</code>. If you don't specify a <code>ResourceIdentifier</code> value, DMS generates a default identifier value for the end of <code>EndpointArn</code>.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "CreateReplicationInstanceResponse":{
      "type":"structure",
      "members":{
        "ReplicationInstance":{
          "shape":"ReplicationInstance",
          "documentation":"<p>The replication instance that was created.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "CreateReplicationSubnetGroupMessage":{
      "type":"structure",
      "required":[
        "ReplicationSubnetGroupIdentifier",
        "ReplicationSubnetGroupDescription",
        "SubnetIds"
      ],
      "members":{
        "ReplicationSubnetGroupIdentifier":{
          "shape":"String",
          "documentation":"<p>The name for the replication subnet group. This value is stored as a lowercase string.</p> <p>Constraints: Must contain no more than 255 alphanumeric characters, periods, spaces, underscores, or hyphens. Must not be \"default\".</p> <p>Example: <code>mySubnetgroup</code> </p>"
        },
        "ReplicationSubnetGroupDescription":{
          "shape":"String",
          "documentation":"<p>The description for the subnet group.</p>"
        },
        "SubnetIds":{
          "shape":"SubnetIdentifierList",
          "documentation":"<p>One or more subnet IDs to be assigned to the subnet group.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>One or more tags to be assigned to the subnet group.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "CreateReplicationSubnetGroupResponse":{
      "type":"structure",
      "members":{
        "ReplicationSubnetGroup":{
          "shape":"ReplicationSubnetGroup",
          "documentation":"<p>The replication subnet group that was created.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "CreateReplicationTaskMessage":{
      "type":"structure",
      "required":[
        "ReplicationTaskIdentifier",
        "SourceEndpointArn",
        "TargetEndpointArn",
        "ReplicationInstanceArn",
        "MigrationType",
        "TableMappings"
      ],
      "members":{
        "ReplicationTaskIdentifier":{
          "shape":"String",
          "documentation":"<p>An identifier for the replication task.</p> <p>Constraints:</p> <ul> <li> <p>Must contain 1-255 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul>"
        },
        "SourceEndpointArn":{
          "shape":"String",
          "documentation":"<p>An Amazon Resource Name (ARN) that uniquely identifies the source endpoint.</p>"
        },
        "TargetEndpointArn":{
          "shape":"String",
          "documentation":"<p>An Amazon Resource Name (ARN) that uniquely identifies the target endpoint.</p>"
        },
        "ReplicationInstanceArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of a replication instance.</p>"
        },
        "MigrationType":{
          "shape":"MigrationTypeValue",
          "documentation":"<p>The migration type. Valid values: <code>full-load</code> | <code>cdc</code> | <code>full-load-and-cdc</code> </p>"
        },
        "TableMappings":{
          "shape":"String",
          "documentation":"<p>The table mappings for the task, in JSON format. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.CustomizingTasks.TableMapping.html\">Using Table Mapping to Specify Task Settings</a> in the <i>Database Migration Service User Guide.</i> </p>"
        },
        "ReplicationTaskSettings":{
          "shape":"String",
          "documentation":"<p>Overall settings for the task, in JSON format. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.CustomizingTasks.TaskSettings.html\">Specifying Task Settings for Database Migration Service Tasks</a> in the <i>Database Migration Service User Guide.</i> </p>"
        },
        "CdcStartTime":{
          "shape":"TStamp",
          "documentation":"<p>Indicates the start time for a change data capture (CDC) operation. Use either CdcStartTime or CdcStartPosition to specify when you want a CDC operation to start. Specifying both values results in an error.</p> <p>Timestamp Example: --cdc-start-time “2018-03-08T12:12:12”</p>"
        },
        "CdcStartPosition":{
          "shape":"String",
          "documentation":"<p>Indicates when you want a change data capture (CDC) operation to start. Use either CdcStartPosition or CdcStartTime to specify when you want a CDC operation to start. Specifying both values results in an error.</p> <p> The value can be in date, checkpoint, or LSN/SCN format.</p> <p>Date Example: --cdc-start-position “2018-03-08T12:12:12”</p> <p>Checkpoint Example: --cdc-start-position \"checkpoint:V1#27#mysql-bin-changelog.157832:1975:-1:2002:677883278264080:mysql-bin-changelog.157832:1876#0#0#*#0#93\"</p> <p>LSN Example: --cdc-start-position “mysql-bin-changelog.000024:373”</p> <note> <p>When you use this task setting with a source PostgreSQL database, a logical replication slot should already be created and associated with the source endpoint. You can verify this by setting the <code>slotName</code> extra connection attribute to the name of this logical replication slot. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Source.PostgreSQL.html#CHAP_Source.PostgreSQL.ConnectionAttrib\">Extra Connection Attributes When Using PostgreSQL as a Source for DMS</a>.</p> </note>"
        },
        "CdcStopPosition":{
          "shape":"String",
          "documentation":"<p>Indicates when you want a change data capture (CDC) operation to stop. The value can be either server time or commit time.</p> <p>Server time example: --cdc-stop-position “server_time:2018-02-09T12:12:12”</p> <p>Commit time example: --cdc-stop-position “commit_time: 2018-02-09T12:12:12 “</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>One or more tags to be assigned to the replication task.</p>"
        },
        "TaskData":{
          "shape":"String",
          "documentation":"<p>Supplemental information that the task requires to migrate the data for certain source and target endpoints. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.TaskData.html\">Specifying Supplemental Data for Task Settings</a> in the <i>Database Migration Service User Guide.</i> </p>"
        },
        "ResourceIdentifier":{
          "shape":"String",
          "documentation":"<p>A friendly name for the resource identifier at the end of the <code>EndpointArn</code> response parameter that is returned in the created <code>Endpoint</code> object. The value for this parameter can have up to 31 characters. It can contain only ASCII letters, digits, and hyphen ('-'). Also, it can't end with a hyphen or contain two consecutive hyphens, and can only begin with a letter, such as <code>Example-App-ARN1</code>. For example, this value might result in the <code>EndpointArn</code> value <code>arn:aws:dms:eu-west-1:012345678901:rep:Example-App-ARN1</code>. If you don't specify a <code>ResourceIdentifier</code> value, DMS generates a default identifier value for the end of <code>EndpointArn</code>.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "CreateReplicationTaskResponse":{
      "type":"structure",
      "members":{
        "ReplicationTask":{
          "shape":"ReplicationTask",
          "documentation":"<p>The replication task that was created.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "DataFormatValue":{
      "type":"string",
      "enum":[
        "csv",
        "parquet"
      ]
    },
    "DatabaseInstanceSoftwareDetailsResponse":{
      "type":"structure",
      "members":{
        "Engine":{
          "shape":"String",
          "documentation":"<p>The database engine of a database in a Fleet Advisor collector inventory, for example <code>Microsoft SQL Server</code>.</p>"
        },
        "EngineVersion":{
          "shape":"String",
          "documentation":"<p>The database engine version of a database in a Fleet Advisor collector inventory, for example <code>2019</code>.</p>"
        },
        "EngineEdition":{
          "shape":"String",
          "documentation":"<p>The database engine edition of a database in a Fleet Advisor collector inventory, for example <code>Express</code>.</p>"
        },
        "ServicePack":{
          "shape":"String",
          "documentation":"<p>The service pack level of the database.</p>"
        },
        "SupportLevel":{
          "shape":"String",
          "documentation":"<p>The support level of the database, for example <code>Mainstream support</code>.</p>"
        },
        "OsArchitecture":{
          "shape":"IntegerOptional",
          "documentation":"<p>The operating system architecture of the database.</p>"
        },
        "Tooltip":{
          "shape":"String",
          "documentation":"<p>Information about the database engine software, for example <code>Mainstream support ends on November 14th, 2024</code>.</p>"
        }
      },
      "documentation":"<p>Describes an inventory database instance for a Fleet Advisor collector.</p>"
    },
    "DatabaseList":{
      "type":"list",
      "member":{"shape":"DatabaseResponse"}
    },
    "DatabaseResponse":{
      "type":"structure",
      "members":{
        "DatabaseId":{
          "shape":"String",
          "documentation":"<p>The ID of a database in a Fleet Advisor collector inventory.</p>"
        },
        "DatabaseName":{
          "shape":"String",
          "documentation":"<p>The name of a database in a Fleet Advisor collector inventory. </p>"
        },
        "IpAddress":{
          "shape":"String",
          "documentation":"<p>The IP address of a database in a Fleet Advisor collector inventory. </p>"
        },
        "NumberOfSchemas":{
          "shape":"LongOptional",
          "documentation":"<p>The number of schemas in a Fleet Advisor collector inventory database. </p>"
        },
        "Server":{
          "shape":"ServerShortInfoResponse",
          "documentation":"<p>The server name of a database in a Fleet Advisor collector inventory. </p>"
        },
        "SoftwareDetails":{
          "shape":"DatabaseInstanceSoftwareDetailsResponse",
          "documentation":"<p>The software details of a database in a Fleet Advisor collector inventory, such as database engine and version.</p>"
        },
        "Collectors":{
          "shape":"CollectorsList",
          "documentation":"<p>A list of collectors associated with the database.</p>"
        }
      },
      "documentation":"<p>Describes a database in a Fleet Advisor collector inventory.</p>"
    },
    "DatabaseShortInfoResponse":{
      "type":"structure",
      "members":{
        "DatabaseId":{
          "shape":"String",
          "documentation":"<p>The ID of a database in a Fleet Advisor collector inventory.</p>"
        },
        "DatabaseName":{
          "shape":"String",
          "documentation":"<p>The name of a database in a Fleet Advisor collector inventory.</p>"
        },
        "DatabaseIpAddress":{
          "shape":"String",
          "documentation":"<p>The IP address of a database in a Fleet Advisor collector inventory.</p>"
        },
        "DatabaseEngine":{
          "shape":"String",
          "documentation":"<p>The database engine of a database in a Fleet Advisor collector inventory, for example <code>PostgreSQL</code>.</p>"
        }
      },
      "documentation":"<p>Describes a database in a Fleet Advisor collector inventory.</p>"
    },
    "DatePartitionDelimiterValue":{
      "type":"string",
      "enum":[
        "SLASH",
        "UNDERSCORE",
        "DASH",
        "NONE"
      ]
    },
    "DatePartitionSequenceValue":{
      "type":"string",
      "enum":[
        "YYYYMMDD",
        "YYYYMMDDHH",
        "YYYYMM",
        "MMYYYYDD",
        "DDMMYYYY"
      ]
    },
    "DeleteCertificateMessage":{
      "type":"structure",
      "required":["CertificateArn"],
      "members":{
        "CertificateArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the certificate.</p>"
        }
      }
    },
    "DeleteCertificateResponse":{
      "type":"structure",
      "members":{
        "Certificate":{
          "shape":"Certificate",
          "documentation":"<p>The Secure Sockets Layer (SSL) certificate.</p>"
        }
      }
    },
    "DeleteCollectorRequest":{
      "type":"structure",
      "required":["CollectorReferencedId"],
      "members":{
        "CollectorReferencedId":{
          "shape":"String",
          "documentation":"<p>The reference ID of the Fleet Advisor collector to delete.</p>"
        }
      }
    },
    "DeleteConnectionMessage":{
      "type":"structure",
      "required":[
        "EndpointArn",
        "ReplicationInstanceArn"
      ],
      "members":{
        "EndpointArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.</p>"
        },
        "ReplicationInstanceArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the replication instance.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "DeleteConnectionResponse":{
      "type":"structure",
      "members":{
        "Connection":{
          "shape":"Connection",
          "documentation":"<p>The connection that is being deleted.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "DeleteEndpointMessage":{
      "type":"structure",
      "required":["EndpointArn"],
      "members":{
        "EndpointArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "DeleteEndpointResponse":{
      "type":"structure",
      "members":{
        "Endpoint":{
          "shape":"Endpoint",
          "documentation":"<p>The endpoint that was deleted.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "DeleteEventSubscriptionMessage":{
      "type":"structure",
      "required":["SubscriptionName"],
      "members":{
        "SubscriptionName":{
          "shape":"String",
          "documentation":"<p>The name of the DMS event notification subscription to be deleted.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "DeleteEventSubscriptionResponse":{
      "type":"structure",
      "members":{
        "EventSubscription":{
          "shape":"EventSubscription",
          "documentation":"<p>The event subscription that was deleted.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "DeleteFleetAdvisorDatabasesRequest":{
      "type":"structure",
      "required":["DatabaseIds"],
      "members":{
        "DatabaseIds":{
          "shape":"StringList",
          "documentation":"<p>The IDs of the Fleet Advisor collector databases to delete.</p>"
        }
      }
    },
    "DeleteFleetAdvisorDatabasesResponse":{
      "type":"structure",
      "members":{
        "DatabaseIds":{
          "shape":"StringList",
          "documentation":"<p>The IDs of the databases that the operation deleted.</p>"
        }
      }
    },
    "DeleteReplicationInstanceMessage":{
      "type":"structure",
      "required":["ReplicationInstanceArn"],
      "members":{
        "ReplicationInstanceArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the replication instance to be deleted.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "DeleteReplicationInstanceResponse":{
      "type":"structure",
      "members":{
        "ReplicationInstance":{
          "shape":"ReplicationInstance",
          "documentation":"<p>The replication instance that was deleted.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "DeleteReplicationSubnetGroupMessage":{
      "type":"structure",
      "required":["ReplicationSubnetGroupIdentifier"],
      "members":{
        "ReplicationSubnetGroupIdentifier":{
          "shape":"String",
          "documentation":"<p>The subnet group name of the replication instance.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "DeleteReplicationSubnetGroupResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p/>"
    },
    "DeleteReplicationTaskAssessmentRunMessage":{
      "type":"structure",
      "required":["ReplicationTaskAssessmentRunArn"],
      "members":{
        "ReplicationTaskAssessmentRunArn":{
          "shape":"String",
          "documentation":"<p>Amazon Resource Name (ARN) of the premigration assessment run to be deleted.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "DeleteReplicationTaskAssessmentRunResponse":{
      "type":"structure",
      "members":{
        "ReplicationTaskAssessmentRun":{
          "shape":"ReplicationTaskAssessmentRun",
          "documentation":"<p>The <code>ReplicationTaskAssessmentRun</code> object for the deleted assessment run.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "DeleteReplicationTaskMessage":{
      "type":"structure",
      "required":["ReplicationTaskArn"],
      "members":{
        "ReplicationTaskArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the replication task to be deleted.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "DeleteReplicationTaskResponse":{
      "type":"structure",
      "members":{
        "ReplicationTask":{
[...]
