{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-03-31",
    "endpointPrefix":"wellarchitected",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceAbbreviation":"Well-Architected",
    "serviceFullName":"AWS Well-Architected Tool",
    "serviceId":"WellArchitected",
    "signatureVersion":"v4",
    "signingName":"wellarchitected",
    "uid":"wellarchitected-2020-03-31"
  },
  "operations":{
    "AssociateLenses":{
      "name":"AssociateLenses",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}/associateLenses"
      },
      "input":{"shape":"AssociateLensesInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Associate a lens to a workload.</p>"
    },
    "CreateMilestone":{
      "name":"CreateMilestone",
      "http":{
        "method":"POST",
        "requestUri":"/workloads/{WorkloadId}/milestones"
      },
      "input":{"shape":"CreateMilestoneInput"},
      "output":{"shape":"CreateMilestoneOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a milestone for an existing workload.</p>"
    },
    "CreateWorkload":{
      "name":"CreateWorkload",
      "http":{
        "method":"POST",
        "requestUri":"/workloads"
      },
      "input":{"shape":"CreateWorkloadInput"},
      "output":{"shape":"CreateWorkloadOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a new workload.</p> <p>The owner of a workload can share the workload with other AWS accounts and IAM users in the same AWS Region. Only the owner of a workload can delete it.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/define-workload.html\">Defining a Workload</a> in the <i>AWS Well-Architected Tool User Guide</i>.</p>"
    },
    "CreateWorkloadShare":{
      "name":"CreateWorkloadShare",
      "http":{
        "method":"POST",
        "requestUri":"/workloads/{WorkloadId}/shares"
      },
      "input":{"shape":"CreateWorkloadShareInput"},
      "output":{"shape":"CreateWorkloadShareOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a workload share.</p> <p>The owner of a workload can share it with other AWS accounts and IAM users in the same AWS Region. Shared access to a workload is not removed until the workload invitation is deleted.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/workloads-sharing.html\">Sharing a Workload</a> in the <i>AWS Well-Architected Tool User Guide</i>.</p>"
    },
    "DeleteWorkload":{
      "name":"DeleteWorkload",
      "http":{
        "method":"DELETE",
        "requestUri":"/workloads/{WorkloadId}"
      },
      "input":{"shape":"DeleteWorkloadInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete an existing workload.</p>"
    },
    "DeleteWorkloadShare":{
      "name":"DeleteWorkloadShare",
      "http":{
        "method":"DELETE",
        "requestUri":"/workloads/{WorkloadId}/shares/{ShareId}"
      },
      "input":{"shape":"DeleteWorkloadShareInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete a workload share.</p>"
    },
    "DisassociateLenses":{
      "name":"DisassociateLenses",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}/disassociateLenses"
      },
      "input":{"shape":"DisassociateLensesInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Disassociate a lens from a workload.</p> <note> <p>The AWS Well-Architected Framework lens (<code>wellarchitected</code>) cannot be removed from a workload.</p> </note>"
    },
    "GetAnswer":{
      "name":"GetAnswer",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}/answers/{QuestionId}"
      },
      "input":{"shape":"GetAnswerInput"},
      "output":{"shape":"GetAnswerOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get the answer to a specific question in a workload review.</p>"
    },
    "GetLensReview":{
      "name":"GetLensReview",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}"
      },
      "input":{"shape":"GetLensReviewInput"},
      "output":{"shape":"GetLensReviewOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get lens review.</p>"
    },
    "GetLensReviewReport":{
      "name":"GetLensReviewReport",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}/report"
      },
      "input":{"shape":"GetLensReviewReportInput"},
      "output":{"shape":"GetLensReviewReportOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get lens review report.</p>"
    },
    "GetLensVersionDifference":{
      "name":"GetLensVersionDifference",
      "http":{
        "method":"GET",
        "requestUri":"/lenses/{LensAlias}/versionDifference"
      },
      "input":{"shape":"GetLensVersionDifferenceInput"},
      "output":{"shape":"GetLensVersionDifferenceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get lens version differences.</p>"
    },
    "GetMilestone":{
      "name":"GetMilestone",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/milestones/{MilestoneNumber}"
      },
      "input":{"shape":"GetMilestoneInput"},
      "output":{"shape":"GetMilestoneOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get a milestone for an existing workload.</p>"
    },
    "GetWorkload":{
      "name":"GetWorkload",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}"
      },
      "input":{"shape":"GetWorkloadInput"},
      "output":{"shape":"GetWorkloadOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get an existing workload.</p>"
    },
    "ListAnswers":{
      "name":"ListAnswers",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}/answers"
      },
      "input":{"shape":"ListAnswersInput"},
      "output":{"shape":"ListAnswersOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List of answers.</p>"
    },
    "ListLensReviewImprovements":{
      "name":"ListLensReviewImprovements",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}/improvements"
      },
      "input":{"shape":"ListLensReviewImprovementsInput"},
      "output":{"shape":"ListLensReviewImprovementsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List lens review improvements.</p>"
    },
    "ListLensReviews":{
      "name":"ListLensReviews",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/lensReviews"
      },
      "input":{"shape":"ListLensReviewsInput"},
      "output":{"shape":"ListLensReviewsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List lens reviews.</p>"
    },
    "ListLenses":{
      "name":"ListLenses",
      "http":{
        "method":"GET",
        "requestUri":"/lenses"
      },
      "input":{"shape":"ListLensesInput"},
      "output":{"shape":"ListLensesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List the available lenses.</p>"
    },
    "ListMilestones":{
      "name":"ListMilestones",
      "http":{
        "method":"POST",
        "requestUri":"/workloads/{WorkloadId}/milestonesSummaries"
      },
      "input":{"shape":"ListMilestonesInput"},
      "output":{"shape":"ListMilestonesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List all milestones for an existing workload.</p>"
    },
    "ListNotifications":{
      "name":"ListNotifications",
      "http":{
        "method":"POST",
        "requestUri":"/notifications"
      },
      "input":{"shape":"ListNotificationsInput"},
      "output":{"shape":"ListNotificationsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List lens notifications.</p>"
    },
    "ListShareInvitations":{
      "name":"ListShareInvitations",
      "http":{
        "method":"GET",
        "requestUri":"/shareInvitations"
      },
      "input":{"shape":"ListShareInvitationsInput"},
      "output":{"shape":"ListShareInvitationsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List the workload invitations.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{WorkloadArn}"
      },
      "input":{"shape":"ListTagsForResourceInput"},
      "output":{"shape":"ListTagsForResourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>List the tags for a resource.</p>"
    },
    "ListWorkloadShares":{
      "name":"ListWorkloadShares",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/shares"
      },
      "input":{"shape":"ListWorkloadSharesInput"},
      "output":{"shape":"ListWorkloadSharesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List the workload shares associated with the workload.</p>"
    },
    "ListWorkloads":{
      "name":"ListWorkloads",
      "http":{
        "method":"POST",
        "requestUri":"/workloadsSummaries"
      },
      "input":{"shape":"ListWorkloadsInput"},
      "output":{"shape":"ListWorkloadsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List workloads. Paginated.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{WorkloadArn}"
      },
      "input":{"shape":"TagResourceInput"},
      "output":{"shape":"TagResourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Adds one or more tags to the specified resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{WorkloadArn}"
      },
      "input":{"shape":"UntagResourceInput"},
      "output":{"shape":"UntagResourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes specified tags from a resource.</p> <p>To specify multiple tags, use separate <b>tagKeys</b> parameters, for example:</p> <p> <code>DELETE /tags/WorkloadArn?tagKeys=key1&amp;tagKeys=key2</code> </p>"
    },
    "UpdateAnswer":{
      "name":"UpdateAnswer",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}/answers/{QuestionId}"
      },
      "input":{"shape":"UpdateAnswerInput"},
      "output":{"shape":"UpdateAnswerOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update the answer to a specific question in a workload review.</p>"
    },
    "UpdateLensReview":{
      "name":"UpdateLensReview",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}"
      },
      "input":{"shape":"UpdateLensReviewInput"},
      "output":{"shape":"UpdateLensReviewOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update lens review.</p>"
    },
    "UpdateShareInvitation":{
      "name":"UpdateShareInvitation",
      "http":{
        "method":"PATCH",
        "requestUri":"/shareInvitations/{ShareInvitationId}"
      },
      "input":{"shape":"UpdateShareInvitationInput"},
      "output":{"shape":"UpdateShareInvitationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update a workload invitation.</p>"
    },
    "UpdateWorkload":{
      "name":"UpdateWorkload",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}"
      },
      "input":{"shape":"UpdateWorkloadInput"},
      "output":{"shape":"UpdateWorkloadOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update an existing workload.</p>"
    },
    "UpdateWorkloadShare":{
      "name":"UpdateWorkloadShare",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}/shares/{ShareId}"
      },
      "input":{"shape":"UpdateWorkloadShareInput"},
      "output":{"shape":"UpdateWorkloadShareOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update a workload share.</p>"
    },
    "UpgradeLensReview":{
      "name":"UpgradeLensReview",
      "http":{
        "method":"PUT",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}/upgrade"
      },
      "input":{"shape":"UpgradeLensReviewInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Upgrade lens review.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"ExceptionMessage"}
      },
      "documentation":"<p>User does not have sufficient access to perform this action.</p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "Answer":{
      "type":"structure",
      "members":{
        "QuestionId":{"shape":"QuestionId"},
        "PillarId":{"shape":"PillarId"},
        "QuestionTitle":{"shape":"QuestionTitle"},
        "QuestionDescription":{"shape":"QuestionDescription"},
        "ImprovementPlanUrl":{"shape":"ImprovementPlanUrl"},
        "HelpfulResourceUrl":{"shape":"HelpfulResourceUrl"},
        "Choices":{"shape":"Choices"},
        "SelectedChoices":{"shape":"SelectedChoices"},
        "ChoiceAnswers":{
          "shape":"ChoiceAnswers",
          "documentation":"<p>A list of selected choices to a question in your workload.</p>"
        },
        "IsApplicable":{"shape":"IsApplicable"},
        "Risk":{"shape":"Risk"},
        "Notes":{"shape":"Notes"},
        "Reason":{
          "shape":"AnswerReason",
          "documentation":"<p>The reason why the question is not applicable to your workload.</p>"
        }
      },
      "documentation":"<p>An answer of the question.</p>"
    },
    "AnswerReason":{
      "type":"string",
      "enum":[
        "OUT_OF_SCOPE",
        "BUSINESS_PRIORITIES",
        "ARCHITECTURE_CONSTRAINTS",
        "OTHER",
        "NONE"
      ]
    },
    "AnswerSummaries":{
      "type":"list",
      "member":{"shape":"AnswerSummary"},
      "documentation":"<p>List of answer summaries of lens review in a workload.</p>"
    },
    "AnswerSummary":{
      "type":"structure",
      "members":{
        "QuestionId":{"shape":"QuestionId"},
        "PillarId":{"shape":"PillarId"},
        "QuestionTitle":{"shape":"QuestionTitle"},
        "Choices":{"shape":"Choices"},
        "SelectedChoices":{"shape":"SelectedChoices"},
        "ChoiceAnswerSummaries":{
          "shape":"ChoiceAnswerSummaries",
          "documentation":"<p>A list of selected choices to a question in your workload.</p>"
        },
        "IsApplicable":{"shape":"IsApplicable"},
        "Risk":{"shape":"Risk"},
        "Reason":{
          "shape":"AnswerReason",
          "documentation":"<p>The reason why a choice is non-applicable to a question in your workload.</p>"
        }
      },
      "documentation":"<p>An answer summary of a lens review in a workload.</p>"
    },
    "AssociateLensesInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "LensAliases"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "LensAliases":{"shape":"LensAliases"}
      },
      "documentation":"<p>Input to associate lens reviews.</p>"
    },
    "AwsAccountId":{
      "type":"string",
      "documentation":"<p>An AWS account ID.</p>",
      "pattern":"[0-9]{12}"
    },
    "AwsRegion":{
      "type":"string",
      "documentation":"<p>An AWS Region, for example, <code>us-west-2</code> or <code>ap-northeast-1</code>.</p>",
      "max":100
    },
    "Base64String":{
      "type":"string",
      "documentation":"<p>The Base64-encoded string representation of a lens review report.</p> <p>This data can be used to create a PDF file.</p>"
    },
    "Choice":{
      "type":"structure",
      "members":{
        "ChoiceId":{"shape":"ChoiceId"},
        "Title":{"shape":"ChoiceTitle"},
        "Description":{"shape":"ChoiceDescription"}
      },
      "documentation":"<p>A choice available to answer question.</p>"
    },
    "ChoiceAnswer":{
      "type":"structure",
      "members":{
        "ChoiceId":{"shape":"ChoiceId"},
        "Status":{
          "shape":"ChoiceStatus",
          "documentation":"<p>The status of a choice.</p>"
        },
        "Reason":{
          "shape":"ChoiceReason",
          "documentation":"<p>The reason why a choice is non-applicable to a question in your workload.</p>"
        },
        "Notes":{
          "shape":"ChoiceNotes",
          "documentation":"<p>The notes associated with a choice.</p>"
        }
      },
      "documentation":"<p>A choice that has been answered on a question in your workload.</p>"
    },
    "ChoiceAnswerSummaries":{
      "type":"list",
      "member":{"shape":"ChoiceAnswerSummary"}
    },
    "ChoiceAnswerSummary":{
      "type":"structure",
      "members":{
        "ChoiceId":{"shape":"ChoiceId"},
        "Status":{
          "shape":"ChoiceStatus",
          "documentation":"<p>The status of a choice.</p>"
        },
        "Reason":{
          "shape":"ChoiceReason",
          "documentation":"<p>The reason why a choice is non-applicable to a question in your workload.</p>"
        }
      },
      "documentation":"<p>A choice summary that has been answered on a question in your workload.</p>"
    },
    "ChoiceAnswers":{
      "type":"list",
      "member":{"shape":"ChoiceAnswer"}
    },
    "ChoiceDescription":{
      "type":"string",
      "documentation":"<p>The description of a choice.</p>",
      "max":1024,
      "min":1
    },
    "ChoiceId":{
      "type":"string",
      "documentation":"<p>The ID of a choice.</p>",
      "max":64,
      "min":1
    },
    "ChoiceNotes":{
      "type":"string",
      "max":250
    },
    "ChoiceReason":{
      "type":"string",
      "enum":[
        "OUT_OF_SCOPE",
        "BUSINESS_PRIORITIES",
        "ARCHITECTURE_CONSTRAINTS",
        "OTHER",
        "NONE"
      ]
    },
    "ChoiceStatus":{
      "type":"string",
      "enum":[
        "SELECTED",
        "NOT_APPLICABLE",
        "UNSELECTED"
      ]
    },
    "ChoiceTitle":{
      "type":"string",
      "documentation":"<p>The title of a choice.</p>",
      "max":512,
      "min":1
    },
    "ChoiceUpdate":{
      "type":"structure",
      "required":["Status"],
      "members":{
        "Status":{
          "shape":"ChoiceStatus",
          "documentation":"<p>The status of a choice.</p>"
        },
        "Reason":{
          "shape":"ChoiceReason",
          "documentation":"<p>The reason why a choice is non-applicable to a question in your workload.</p>"
        },
        "Notes":{
          "shape":"ChoiceNotes",
          "documentation":"<p>The notes associated with a choice.</p>"
        }
      },
      "documentation":"<p>A list of choices to be updated.</p>"
    },
    "ChoiceUpdates":{
      "type":"map",
      "key":{"shape":"ChoiceId"},
      "value":{"shape":"ChoiceUpdate"}
    },
    "Choices":{
      "type":"list",
      "member":{"shape":"Choice"},
      "documentation":"<p>List of choices available for a question.</p>"
    },
    "ClientRequestToken":{
      "type":"string",
      "documentation":"<p>A unique case-sensitive string used to ensure that this request is idempotent (executes only once).</p> <p>You should not reuse the same token for other requests. If you retry a request with the same client request token and the same parameters after it has completed successfully, the result of the original request is returned. </p> <important> <p>This token is listed as required, however, if you do not specify it, the AWS SDKs automatically generate one for you. If you are not using the AWS SDK or the AWS CLI, you must provide this token or the request will fail.</p> </important>"
    },
    "ConflictException":{
      "type":"structure",
      "required":[
        "Message",
        "ResourceId",
        "ResourceType"
      ],
      "members":{
        "Message":{"shape":"ExceptionMessage"},
        "ResourceId":{"shape":"ExceptionResourceId"},
        "ResourceType":{"shape":"ExceptionResourceType"}
      },
      "documentation":"<p>The resource already exists.</p>",
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "Count":{
      "type":"integer",
      "documentation":"<p>A non-negative integer that denotes how many.</p>",
      "min":0
    },
    "CreateMilestoneInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "MilestoneName",
        "ClientRequestToken"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "MilestoneName":{"shape":"MilestoneName"},
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        }
      },
      "documentation":"<p>Input for milestone creation.</p>"
    },
    "CreateMilestoneOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "MilestoneNumber":{"shape":"MilestoneNumber"}
      },
      "documentation":"<p>Output of a create milestone call.</p>"
    },
    "CreateWorkloadInput":{
      "type":"structure",
      "required":[
        "WorkloadName",
        "Description",
        "Environment",
        "ReviewOwner",
        "Lenses",
        "ClientRequestToken"
      ],
      "members":{
        "WorkloadName":{"shape":"WorkloadName"},
        "Description":{"shape":"WorkloadDescription"},
        "Environment":{"shape":"WorkloadEnvironment"},
        "AccountIds":{"shape":"WorkloadAccountIds"},
        "AwsRegions":{"shape":"WorkloadAwsRegions"},
        "NonAwsRegions":{"shape":"WorkloadNonAwsRegions"},
        "PillarPriorities":{"shape":"WorkloadPillarPriorities"},
        "ArchitecturalDesign":{"shape":"WorkloadArchitecturalDesign"},
        "ReviewOwner":{"shape":"WorkloadReviewOwner"},
        "IndustryType":{"shape":"WorkloadIndustryType"},
        "Industry":{"shape":"WorkloadIndustry"},
        "Lenses":{"shape":"WorkloadLenses"},
        "Notes":{"shape":"Notes"},
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to be associated with the workload.</p>"
        }
      },
      "documentation":"<p>Input for workload creation.</p>"
    },
    "CreateWorkloadOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "WorkloadArn":{"shape":"WorkloadArn"}
      },
      "documentation":"<p>Output of a create workload call.</p>"
    },
    "CreateWorkloadShareInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "SharedWith",
        "PermissionType",
        "ClientRequestToken"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "SharedWith":{"shape":"SharedWith"},
        "PermissionType":{"shape":"PermissionType"},
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        }
      },
      "documentation":"<p>Input for Create Workload Share</p>"
    },
    "CreateWorkloadShareOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "ShareId":{"shape":"ShareId"}
      },
      "documentation":"<p>Input for Create Workload Share</p>"
    },
    "DeleteWorkloadInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "ClientRequestToken"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"ClientRequestToken"
        }
      },
      "documentation":"<p>Input for workload deletion.</p>"
    },
    "DeleteWorkloadShareInput":{
      "type":"structure",
      "required":[
        "ShareId",
        "WorkloadId",
        "ClientRequestToken"
      ],
      "members":{
        "ShareId":{
          "shape":"ShareId",
          "location":"uri",
          "locationName":"ShareId"
        },
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"ClientRequestToken"
        }
      },
      "documentation":"<p>Input for Delete Workload Share</p>"
    },
    "DifferenceStatus":{
      "type":"string",
      "enum":[
        "UPDATED",
        "NEW",
        "DELETED"
      ]
    },
    "DisassociateLensesInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "LensAliases"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "LensAliases":{"shape":"LensAliases"}
      },
      "documentation":"<p>Input to disassociate lens reviews.</p>"
    },
    "ExceptionMessage":{
      "type":"string",
      "documentation":"<p>Description of the error.</p>"
    },
    "ExceptionResourceId":{
      "type":"string",
      "documentation":"<p>Identifier of the resource affected.</p>"
    },
    "ExceptionResourceType":{
      "type":"string",
      "documentation":"<p>Type of the resource affected.</p>"
    },
    "GetAnswerInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "LensAlias",
        "QuestionId"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "LensAlias":{
          "shape":"LensAlias",
          "location":"uri",
          "locationName":"LensAlias"
        },
        "QuestionId":{
          "shape":"QuestionId",
          "location":"uri",
          "locationName":"QuestionId"
        },
        "MilestoneNumber":{
          "shape":"MilestoneNumber",
          "location":"querystring",
          "locationName":"MilestoneNumber"
        }
      },
      "documentation":"<p>Input to get answer.</p>"
    },
    "GetAnswerOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "MilestoneNumber":{"shape":"MilestoneNumber"},
        "LensAlias":{"shape":"LensAlias"},
        "Answer":{"shape":"Answer"}
      },
      "documentation":"<p>Output of a get answer call.</p>"
    },
    "GetLensReviewInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "LensAlias"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "LensAlias":{
          "shape":"LensAlias",
          "location":"uri",
          "locationName":"LensAlias"
        },
        "MilestoneNumber":{
          "shape":"MilestoneNumber",
          "location":"querystring",
          "locationName":"MilestoneNumber"
        }
      },
      "documentation":"<p>Input to get lens review.</p>"
    },
    "GetLensReviewOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "MilestoneNumber":{"shape":"MilestoneNumber"},
        "LensReview":{"shape":"LensReview"}
      },
      "documentation":"<p>Output of a get lens review call.</p>"
    },
    "GetLensReviewReportInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "LensAlias"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "LensAlias":{
          "shape":"LensAlias",
          "location":"uri",
          "locationName":"LensAlias"
        },
        "MilestoneNumber":{
          "shape":"MilestoneNumber",
          "location":"querystring",
          "locationName":"MilestoneNumber"
        }
      },
      "documentation":"<p>Input to get lens review report.</p>"
    },
    "GetLensReviewReportOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "MilestoneNumber":{"shape":"MilestoneNumber"},
        "LensReviewReport":{"shape":"LensReviewReport"}
      },
      "documentation":"<p>Output of a get lens review report call.</p>"
    },
    "GetLensVersionDifferenceInput":{
      "type":"structure",
      "required":[
        "LensAlias",
        "BaseLensVersion"
      ],
      "members":{
        "LensAlias":{
          "shape":"LensAlias",
          "location":"uri",
          "locationName":"LensAlias"
        },
        "BaseLensVersion":{
          "shape":"LensVersion",
          "documentation":"<p>The base version of the lens.</p>",
          "location":"querystring",
          "locationName":"BaseLensVersion"
        }
      }
    },
    "GetLensVersionDifferenceOutput":{
      "type":"structure",
      "members":{
        "LensAlias":{"shape":"LensAlias"},
        "BaseLensVersion":{
          "shape":"LensVersion",
          "documentation":"<p>The base version of the lens.</p>"
        },
        "LatestLensVersion":{
          "shape":"LensVersion",
          "documentation":"<p>The latest version of the lens.</p>"
        },
        "VersionDifferences":{"shape":"VersionDifferences"}
      }
    },
    "GetMilestoneInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "MilestoneNumber"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "MilestoneNumber":{
          "shape":"MilestoneNumber",
          "location":"uri",
          "locationName":"MilestoneNumber"
        }
      },
      "documentation":"<p>Input to get a milestone.</p>"
    },
    "GetMilestoneOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "Milestone":{"shape":"Milestone"}
      },
      "documentation":"<p>Output of a get milestone call.</p>"
    },
    "GetWorkloadInput":{
      "type":"structure",
      "required":["WorkloadId"],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        }
      },
      "documentation":"<p>Input to get a workload.</p>"
    },
    "GetWorkloadOutput":{
      "type":"structure",
      "members":{
        "Workload":{"shape":"Workload"}
      },
      "documentation":"<p>Output of a get workload call.</p>"
    },
    "HelpfulResourceUrl":{
      "type":"string",
      "documentation":"<p>The helpful resource URL for a question.</p>",
      "max":2048,
      "min":1
    },
    "ImprovementPlanUrl":{
      "type":"string",
      "documentation":"<p>The improvement plan URL for a question.</p> <p>This value is only available if the question has been answered.</p>",
      "max":2048,
      "min":1
    },
    "ImprovementSummaries":{
      "type":"list",
      "member":{"shape":"ImprovementSummary"},
      "documentation":"<p>List of improvement summaries of lens review in a workload.</p>"
    },
    "ImprovementSummary":{
      "type":"structure",
      "members":{
        "QuestionId":{"shape":"QuestionId"},
        "PillarId":{"shape":"PillarId"},
        "QuestionTitle":{"shape":"QuestionTitle"},
        "Risk":{"shape":"Risk"},
        "ImprovementPlanUrl":{"shape":"ImprovementPlanUrl"}
      },
      "documentation":"<p>An improvement summary of a lens review in a workload.</p>"
    },
    "InternalServerException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"ExceptionMessage"}
      },
      "documentation":"<p>There is a problem with the AWS Well-Architected Tool API service.</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "IsApplicable":{
      "type":"boolean",
      "documentation":"<p>Defines whether this question is applicable to a lens review.</p>"
    },
    "IsReviewOwnerUpdateAcknowledged":{"type":"boolean"},
    "LensAlias":{
      "type":"string",
      "documentation":"<p>The alias of the lens, for example, <code>serverless</code>.</p> <p>Each lens is identified by its <a>LensSummary$LensAlias</a>.</p>",
      "max":64,
      "min":1
    },
    "LensAliases":{
      "type":"list",
      "member":{"shape":"LensAlias"},
      "documentation":"<p>List of lens aliases to associate or disassociate with a workload.</p> <p>Identify a lens using its <a>LensSummary$LensAlias</a>.</p>",
      "min":1
    },
    "LensDescription":{
      "type":"string",
      "documentation":"<p>The description of the lens.</p>",
      "max":1024,
      "min":1
    },
    "LensName":{
      "type":"string",
      "documentation":"<p>The full name of the lens.</p>",
      "max":128,
      "min":1
    },
    "LensReview":{
      "type":"structure",
      "members":{
        "LensAlias":{"shape":"LensAlias"},
        "LensVersion":{
          "shape":"LensVersion",
          "documentation":"<p>The version of the lens.</p>"
        },
        "LensName":{"shape":"LensName"},
        "LensStatus":{
          "shape":"LensStatus",
          "documentation":"<p>The status of the lens.</p>"
        },
        "PillarReviewSummaries":{"shape":"PillarReviewSummaries"},
        "UpdatedAt":{"shape":"Timestamp"},
        "Notes":{"shape":"Notes"},
        "RiskCounts":{"shape":"RiskCounts"},
        "NextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>A lens review of a question.</p>"
    },
    "LensReviewReport":{
      "type":"structure",
      "members":{
        "LensAlias":{"shape":"LensAlias"},
        "Base64String":{"shape":"Base64String"}
      },
      "documentation":"<p>A report of a lens review.</p>"
    },
    "LensReviewSummaries":{
      "type":"list",
      "member":{"shape":"LensReviewSummary"},
      "documentation":"<p>List of lens summaries of lens reviews of a workload.</p>"
    },
    "LensReviewSummary":{
      "type":"structure",
      "members":{
        "LensAlias":{"shape":"LensAlias"},
        "LensVersion":{
          "shape":"LensVersion",
          "documentation":"<p>The version of the lens.</p>"
        },
        "LensName":{"shape":"LensName"},
        "LensStatus":{
          "shape":"LensStatus",
          "documentation":"<p>The status of the lens.</p>"
        },
        "UpdatedAt":{"shape":"Timestamp"},
        "RiskCounts":{"shape":"RiskCounts"}
      },
      "documentation":"<p>A lens review summary of a workload.</p>"
    },
    "LensStatus":{
      "type":"string",
      "enum":[
        "CURRENT",
        "NOT_CURRENT",
        "DEPRECATED"
      ]
    },
    "LensSummaries":{
      "type":"list",
      "member":{"shape":"LensSummary"},
      "documentation":"<p>List of lens summaries of available lenses.</p>"
    },
    "LensSummary":{
      "type":"structure",
      "members":{
        "LensAlias":{"shape":"LensAlias"},
        "LensVersion":{
          "shape":"LensVersion",
          "documentation":"<p>The version of the lens.</p>"
        },
        "LensName":{"shape":"LensName"},
        "Description":{"shape":"LensDescription"}
      },
      "documentation":"<p>A lens summary of a lens.</p>"
    },
    "LensUpgradeSummary":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "WorkloadName":{"shape":"WorkloadName"},
        "LensAlias":{"shape":"LensAlias"},
        "CurrentLensVersion":{
          "shape":"LensVersion",
          "documentation":"<p>The current version of the lens.</p>"
        },
        "LatestLensVersion":{
          "shape":"LensVersion",
          "documentation":"<p>The latest version of the lens.</p>"
        }
      },
      "documentation":"<p>Lens upgrade summary return object.</p>"
    },
    "LensVersion":{
      "type":"string",
      "max":128,
      "min":1
    },
    "ListAnswersInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "LensAlias"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "LensAlias":{
          "shape":"LensAlias",
          "location":"uri",
          "locationName":"LensAlias"
        },
        "PillarId":{
          "shape":"PillarId",
          "location":"querystring",
          "locationName":"PillarId"
        },
        "MilestoneNumber":{
          "shape":"MilestoneNumber",
          "location":"querystring",
          "locationName":"MilestoneNumber"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"NextToken"
        },
        "MaxResults":{
          "shape":"ListAnswersMaxResults",
          "documentation":"<p>The maximum number of results to return for this request.</p>",
          "location":"querystring",
          "locationName":"MaxResults"
        }
      },
      "documentation":"<p>Input to list answers.</p>"
    },
    "ListAnswersMaxResults":{
      "type":"integer",
      "max":50,
      "min":1
    },
    "ListAnswersOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "MilestoneNumber":{"shape":"MilestoneNumber"},
        "LensAlias":{"shape":"LensAlias"},
        "AnswerSummaries":{"shape":"AnswerSummaries"},
        "NextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>Output of a list answers call.</p>"
    },
    "ListLensReviewImprovementsInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "LensAlias"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "LensAlias":{
          "shape":"LensAlias",
          "location":"uri",
          "locationName":"LensAlias"
        },
        "PillarId":{
          "shape":"PillarId",
          "location":"querystring",
          "locationName":"PillarId"
        },
        "MilestoneNumber":{
          "shape":"MilestoneNumber",
          "location":"querystring",
          "locationName":"MilestoneNumber"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"NextToken"
        },
        "MaxResults":{
          "shape":"ListLensReviewImprovementsMaxResults",
          "documentation":"<p>The maximum number of results to return for this request.</p>",
          "location":"querystring",
          "locationName":"MaxResults"
        }
      },
      "documentation":"<p>Input to list lens review improvements.</p>"
    },
    "ListLensReviewImprovementsMaxResults":{
      "type":"integer",
      "max":100,
      "min":1
    },
    "ListLensReviewImprovementsOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "MilestoneNumber":{"shape":"MilestoneNumber"},
        "LensAlias":{"shape":"LensAlias"},
        "ImprovementSummaries":{"shape":"ImprovementSummaries"},
        "NextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>Output of a list lens review improvements call.</p>"
    },
    "ListLensReviewsInput":{
      "type":"structure",
      "required":["WorkloadId"],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "MilestoneNumber":{
          "shape":"MilestoneNumber",
          "location":"querystring",
          "locationName":"MilestoneNumber"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"NextToken"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"MaxResults"
        }
      },
      "documentation":"<p>Input to list lens reviews.</p>"
    },
    "ListLensReviewsOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "MilestoneNumber":{"shape":"MilestoneNumber"},
        "LensReviewSummaries":{"shape":"LensReviewSummaries"},
        "NextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>Output of a list lens reviews call.</p>"
    },
    "ListLensesInput":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"NextToken"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "location":"querystring",
          "locationName":"MaxResults"
        }
      },
      "documentation":"<p>Input to list lenses.</p>"
    },
    "ListLensesOutput":{
      "type":"structure",
      "members":{
        "LensSummaries":{"shape":"LensSummaries"},
        "NextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>Output of a list lenses call.</p>"
    },
    "ListMilestonesInput":{
      "type":"structure",
      "required":["WorkloadId"],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{"shape":"MaxResults"}
      },
      "documentation":"<p>Input to list all milestones for a workload.</p>"
    },
    "ListMilestonesOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "MilestoneSummaries":{"shape":"MilestoneSummaries"},
        "NextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>Output of a list milestones call.</p>"
    },
    "ListNotificationsInput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{
          "shape":"ListNotificationsMaxResults",
          "documentation":"<p>The maximum number of results to return for this request.</p>"
        }
      }
    },
    "ListNotificationsMaxResults":{
      "type":"integer",
      "max":50,
      "min":1
    },
    "ListNotificationsOutput":{
      "type":"structure",
      "members":{
        "NotificationSummaries":{
          "shape":"NotificationSummaries",
          "documentation":"<p>List of lens notification summaries in a workload.</p>"
        },
        "NextToken":{"shape":"NextToken"}
      }
    },
    "ListShareInvitationsInput":{
      "type":"structure",
      "members":{
        "WorkloadNamePrefix":{
          "shape":"WorkloadNamePrefix",
          "location":"querystring",
          "locationName":"WorkloadNamePrefix"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"NextToken"
        },
        "MaxResults":{
          "shape":"ListShareInvitationsMaxResults",
          "documentation":"<p>The maximum number of results to return for this request.</p>",
          "location":"querystring",
          "locationName":"MaxResults"
        }
      },
      "documentation":"<p>Input for List Share Invitations</p>"
    },
    "ListShareInvitationsMaxResults":{
      "type":"integer",
      "max":50,
      "min":1
    },
    "ListShareInvitationsOutput":{
      "type":"structure",
      "members":{
        "ShareInvitationSummaries":{
          "shape":"ShareInvitationSummaries",
          "documentation":"<p>List of share invitation summaries in a workload.</p>"
        },
        "NextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>Input for List Share Invitations</p>"
    },
    "ListTagsForResourceInput":{
      "type":"structure",
      "required":["WorkloadArn"],
      "members":{
        "WorkloadArn":{
          "shape":"WorkloadArn",
          "location":"uri",
          "locationName":"WorkloadArn"
        }
      }
    },
    "ListTagsForResourceOutput":{
      "type":"structure",
      "members":{
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags for the resource.</p>"
        }
      }
    },
    "ListWorkloadSharesInput":{
      "type":"structure",
      "required":["WorkloadId"],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "SharedWithPrefix":{
          "shape":"SharedWithPrefix",
          "documentation":"<p>The AWS account ID or IAM role with which the workload is shared.</p>",
          "location":"querystring",
          "locationName":"SharedWithPrefix"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"NextToken"
        },
        "MaxResults":{
          "shape":"ListWorkloadSharesMaxResults",
          "documentation":"<p>The maximum number of results to return for this request.</p>",
          "location":"querystring",
          "locationName":"MaxResults"
        }
      },
      "documentation":"<p>Input for List Workload Share</p>"
    },
    "ListWorkloadSharesMaxResults":{
      "type":"integer",
      "max":50,
      "min":1
    },
    "ListWorkloadSharesOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "WorkloadShareSummaries":{"shape":"WorkloadShareSummaries"},
        "NextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>Input for List Workload Share</p>"
    },
    "ListWorkloadsInput":{
      "type":"structure",
      "members":{
        "WorkloadNamePrefix":{"shape":"WorkloadNamePrefix"},
        "NextToken":{"shape":"NextToken"},
        "MaxResults":{
          "shape":"ListWorkloadsMaxResults",
          "documentation":"<p>The maximum number of results to return for this request.</p>"
        }
      },
      "documentation":"<p>Input to list all workloads.</p>"
    },
    "ListWorkloadsMaxResults":{
      "type":"integer",
      "max":50,
      "min":1
    },
    "ListWorkloadsOutput":{
      "type":"structure",
      "members":{
        "WorkloadSummaries":{"shape":"WorkloadSummaries"},
        "NextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>Output of a list workloads call.</p>"
    },
    "MaxResults":{
      "type":"integer",
      "documentation":"<p>The maximum number of results to return for this request.</p>",
      "max":50,
      "min":1
    },
    "Milestone":{
      "type":"structure",
      "members":{
        "MilestoneNumber":{"shape":"MilestoneNumber"},
        "MilestoneName":{"shape":"MilestoneName"},
        "RecordedAt":{"shape":"Timestamp"},
        "Workload":{"shape":"Workload"}
      },
      "documentation":"<p>A milestone return object.</p>"
    },
    "MilestoneName":{
      "type":"string",
      "documentation":"<p>The name of the milestone in a workload.</p> <p>Milestone names must be unique within a workload.</p>",
      "max":100,
      "min":3
    },
    "MilestoneNumber":{
      "type":"integer",
      "documentation":"<p>The milestone number.</p> <p>A workload can have a maximum of 100 milestones.</p>",
      "max":100,
      "min":1
    },
    "MilestoneSummaries":{
      "type":"list",
      "member":{"shape":"MilestoneSummary"},
      "documentation":"<p>A list of milestone summaries.</p>"
    },
    "MilestoneSummary":{
      "type":"structure",
      "members":{
        "MilestoneNumber":{"shape":"MilestoneNumber"},
        "MilestoneName":{"shape":"MilestoneName"},
        "RecordedAt":{"shape":"Timestamp"},
        "WorkloadSummary":{"shape":"WorkloadSummary"}
      },
      "documentation":"<p>A milestone summary return object.</p>"
    },
    "NextToken":{
      "type":"string",
      "documentation":"<p>The token to use to retrieve the next set of results.</p>"
    },
    "Notes":{
      "type":"string",
      "documentation":"<p>The notes associated with the workload.</p>",
      "max":2084
    },
    "NotificationSummaries":{
      "type":"list",
      "member":{"shape":"NotificationSummary"}
    },
    "NotificationSummary":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"NotificationType",
          "documentation":"<p>The type of notification.</p>"
        },
        "LensUpgradeSummary":{
          "shape":"LensUpgradeSummary",
          "documentation":"<p>Summary of lens upgrade.</p>"
        }
      },
      "documentation":"<p>A notification summary return object.</p>"
    },
    "NotificationType":{
      "type":"string",
      "enum":[
        "LENS_VERSION_UPGRADED",
        "LENS_VERSION_DEPRECATED"
      ]
    },
    "PermissionType":{
      "type":"string",
      "documentation":"<p>Permission granted on a workload share.</p>",
      "enum":[
        "READONLY",
        "CONTRIBUTOR"
      ]
    },
    "PillarDifference":{
      "type":"structure",
      "members":{
        "PillarId":{"shape":"PillarId"},
        "DifferenceStatus":{
          "shape":"DifferenceStatus",
          "documentation":"<p>Indicates the type of change to the pillar.</p>"
        },
        "QuestionDifferences":{
          "shape":"QuestionDifferences",
          "documentation":"<p>List of question differences.</p>"
        }
      },
      "documentation":"<p>A pillar difference return object.</p>"
    },
    "PillarDifferences":{
      "type":"list",
      "member":{"shape":"PillarDifference"}
    },
    "PillarId":{
      "type":"string",
      "documentation":"<p>The ID used to identify a pillar, for example, <code>security</code>.</p> <p>A pillar is identified by its <a>PillarReviewSummary$PillarId</a>.</p>",
      "max":64,
      "min":1
    },
    "PillarName":{
      "type":"string",
      "documentation":"<p>The name of the pillar.</p>",
      "max":128,
      "min":1
    },
    "PillarNotes":{
      "type":"map",
      "key":{"shape":"PillarId"},
      "value":{"shape":"Notes"},
      "documentation":"<p>List of pillar notes of a lens review in a workload.</p>"
    },
    "PillarReviewSummaries":{
      "type":"list",
      "member":{"shape":"PillarReviewSummary"},
      "documentation":"<p>List of pillar review summaries of lens review in a workload.</p>"
    },
    "PillarReviewSummary":{
      "type":"structure",
      "members":{
        "PillarId":{"shape":"PillarId"},
        "PillarName":{"shape":"PillarName"},
        "Notes":{"shape":"Notes"},
        "RiskCounts":{"shape":"RiskCounts"}
      },
      "documentation":"<p>A pillar review summary of a lens review.</p>"
    },
    "QuestionDescription":{
      "type":"string",
      "documentation":"<p>The description of the question.</p>",
      "max":1024,
      "min":1
    },
    "QuestionDifference":{
      "type":"structure",
      "members":{
        "QuestionId":{"shape":"QuestionId"},
        "QuestionTitle":{"shape":"QuestionTitle"},
        "DifferenceStatus":{
          "shape":"DifferenceStatus",
          "documentation":"<p>Indicates the type of change to the question.</p>"
        }
      },
      "documentation":"<p>A question difference return object.</p>"
    },
    "QuestionDifferences":{
      "type":"list",
      "member":{"shape":"QuestionDifference"}
    },
    "QuestionId":{
      "type":"string",
      "documentation":"<p>The ID of the question.</p>",
      "max":128,
      "min":1
    },
    "QuestionTitle":{
      "type":"string",
      "documentation":"<p>The title of the question.</p>",
      "max":512,
      "min":1
    },
    "QuotaCode":{
      "type":"string",
      "documentation":"<p>Service Quotas requirement to identify originating quota.</p>"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":[
        "Message",
        "ResourceId",
        "ResourceType"
      ],
      "members":{
        "Message":{"shape":"ExceptionMessage"},
        "ResourceId":{"shape":"ExceptionResourceId"},
        "ResourceType":{"shape":"ExceptionResourceType"}
      },
      "documentation":"<p>The requested resource was not found.</p>",
      "error":{"httpStatusCode":404},
      "exception":true
    },
    "Risk":{
      "type":"string",
      "documentation":"<p>The risk for a given workload, lens review, pillar, or question.</p>",
      "enum":[
        "UNANSWERED",
        "HIGH",
        "MEDIUM",
        "NONE",
        "NOT_APPLICABLE"
      ]
    },
    "RiskCounts":{
      "type":"map",
      "key":{"shape":"Risk"},
      "value":{"shape":"Count"},
      "documentation":"<p>A map from risk names to the count of how questions have that rating.</p>"
    },
    "SelectedChoices":{
      "type":"list",
      "member":{"shape":"ChoiceId"},
      "documentation":"<p>List of selected choice IDs in a question answer.</p> <p>The values entered replace the previously selected choices.</p>"
    },
    "ServiceCode":{
      "type":"string",
      "documentation":"<p>Service Quotas requirement to identify originating service.</p>"
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "required":[
        "Message",
        "QuotaCode",
        "ServiceCode"
      ],
      "members":{
        "Message":{"shape":"ExceptionMessage"},
        "ResourceId":{"shape":"ExceptionResourceId"},
        "ResourceType":{"shape":"ExceptionResourceType"},
        "QuotaCode":{"shape":"QuotaCode"},
        "ServiceCode":{"shape":"ServiceCode"}
      },
      "documentation":"<p>The user has reached their resource quota.</p>",
      "error":{"httpStatusCode":402},
      "exception":true
    },
    "ShareId":{
      "type":"string",
      "documentation":"<p>The ID associated with the workload share.</p>",
      "pattern":"[0-9a-f]{32}"
    },
    "ShareInvitation":{
      "type":"structure",
      "members":{
        "ShareInvitationId":{
          "shape":"ShareInvitationId",
          "documentation":"<p>The ID assigned to the share invitation.</p>"
        },
        "WorkloadId":{"shape":"WorkloadId"}
      },
      "documentation":"<p>The share invitation.</p>"
    },
    "ShareInvitationAction":{
      "type":"string",
      "documentation":"<p>Share invitation action taken by contributor.</p>",
      "enum":[
        "ACCEPT",
        "REJECT"
      ]
    },
    "ShareInvitationId":{
      "type":"string",
      "pattern":"[0-9a-f]{32}"
    },
    "ShareInvitationSummaries":{
      "type":"list",
      "member":{"shape":"ShareInvitationSummary"}
    },
    "ShareInvitationSummary":{
      "type":"structure",
      "members":{
        "ShareInvitationId":{
          "shape":"ShareInvitationId",
          "documentation":"<p>The ID assigned to the share invitation.</p>"
        },
        "SharedBy":{"shape":"AwsAccountId"},
        "SharedWith":{"shape":"SharedWith"},
        "PermissionType":{"shape":"PermissionType"},
        "WorkloadName":{"shape":"WorkloadName"},
        "WorkloadId":{"shape":"WorkloadId"}
      },
      "documentation":"<p>A share invitation summary return object.</p>"
    },
    "ShareStatus":{
      "type":"string",
      "documentation":"<p>The status of a workload share.</p>",
      "enum":[
        "ACCEPTED",
        "REJECTED",
        "PENDING",
        "REVOKED",
        "EXPIRED"
      ]
    },
    "SharedWith":{
      "type":"string",
      "documentation":"<p>The AWS account ID or IAM role with which the workload is shared.</p>",
      "max":2048,
      "min":12
    },
    "SharedWithPrefix":{
      "type":"string",
      "max":100
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "max":50,
      "min":1
    },
    "TagMap":{
      "type":"map",
      "key":{"shape":"TagKey"},
      "value":{"shape":"TagValue"},
      "max":50,
      "min":1
    },
    "TagResourceInput":{
      "type":"structure",
      "required":[
        "WorkloadArn",
        "Tags"
      ],
      "members":{
        "WorkloadArn":{
          "shape":"WorkloadArn",
          "location":"uri",
          "locationName":"WorkloadArn"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags for the resource.</p>"
        }
      }
    },
    "TagResourceOutput":{
      "type":"structure",
      "members":{
      }
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0
    },
    "ThrottlingException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"ExceptionMessage"},
        "QuotaCode":{"shape":"QuotaCode"},
        "ServiceCode":{"shape":"ServiceCode"}
      },
      "documentation":"<p>Request was denied due to request throttling.</p>",
      "error":{"httpStatusCode":429},
      "exception":true
    },
    "Timestamp":{
      "type":"timestamp",
      "documentation":"<p>The date and time recorded.</p>"
    },
    "UntagResourceInput":{
      "type":"structure",
      "required":[
        "WorkloadArn",
        "TagKeys"
      ],
      "members":{
        "WorkloadArn":{
          "shape":"WorkloadArn",
          "location":"uri",
          "locationName":"WorkloadArn"
        },
        "TagKeys":{
          "shape":"TagKeyList",
          "documentation":"<p>A list of tag keys. Existing tags of the resource whose keys are members of this list are removed from the resource.</p>",
          "location":"querystring",
          "locationName":"tagKeys"
        }
      }
    },
    "UntagResourceOutput":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateAnswerInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "LensAlias",
        "QuestionId"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "LensAlias":{
          "shape":"LensAlias",
          "location":"uri",
          "locationName":"LensAlias"
        },
        "QuestionId":{
          "shape":"QuestionId",
          "location":"uri",
          "locationName":"QuestionId"
        },
        "SelectedChoices":{"shape":"SelectedChoices"},
        "ChoiceUpdates":{
          "shape":"ChoiceUpdates",
          "documentation":"<p>A list of choices to update on a question in your workload. The String key corresponds to the choice ID to be updated.</p>"
        },
        "Notes":{"shape":"Notes"},
        "IsApplicable":{"shape":"IsApplicable"},
        "Reason":{
          "shape":"AnswerReason",
          "documentation":"<p>The reason why a question is not applicable to your workload.</p>"
        }
      },
      "documentation":"<p>Input to update answer.</p>"
    },
    "UpdateAnswerOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "LensAlias":{"shape":"LensAlias"},
        "Answer":{"shape":"Answer"}
      },
      "documentation":"<p>Output of a update answer call.</p>"
    },
    "UpdateLensReviewInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "LensAlias"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "LensAlias":{
          "shape":"LensAlias",
          "location":"uri",
          "locationName":"LensAlias"
        },
        "LensNotes":{"shape":"Notes"},
        "PillarNotes":{"shape":"PillarNotes"}
      },
      "documentation":"<p>Input for update lens review.</p>"
    },
    "UpdateLensReviewOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "LensReview":{"shape":"LensReview"}
      },
      "documentation":"<p>Output of a update lens review call.</p>"
    },
    "UpdateShareInvitationInput":{
      "type":"structure",
      "required":[
        "ShareInvitationId",
        "ShareInvitationAction"
      ],
      "members":{
        "ShareInvitationId":{
          "shape":"ShareInvitationId",
          "documentation":"<p>The ID assigned to the share invitation.</p>",
          "location":"uri",
          "locationName":"ShareInvitationId"
        },
        "ShareInvitationAction":{"shape":"ShareInvitationAction"}
      },
      "documentation":"<p>Input for Update Share Invitation</p>"
    },
    "UpdateShareInvitationOutput":{
      "type":"structure",
      "members":{
        "ShareInvitation":{
          "shape":"ShareInvitation",
          "documentation":"<p>The updated workload share invitation.</p>"
        }
      }
    },
    "UpdateWorkloadInput":{
      "type":"structure",
      "required":["WorkloadId"],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "WorkloadName":{"shape":"WorkloadName"},
        "Description":{"shape":"WorkloadDescription"},
        "Environment":{"shape":"WorkloadEnvironment"},
        "AccountIds":{"shape":"WorkloadAccountIds"},
        "AwsRegions":{"shape":"WorkloadAwsRegions"},
        "NonAwsRegions":{"shape":"WorkloadNonAwsRegions"},
        "PillarPriorities":{"shape":"WorkloadPillarPriorities"},
        "ArchitecturalDesign":{"shape":"WorkloadArchitecturalDesign"},
        "ReviewOwner":{"shape":"WorkloadReviewOwner"},
        "IsReviewOwnerUpdateAcknowledged":{
          "shape":"IsReviewOwnerUpdateAcknowledged",
          "documentation":"<p>Flag indicating whether the workload owner has acknowledged that the <i>Review owner</i> field is required.</p> <p>If a <b>Review owner</b> is not added to the workload within 60 days of acknowledgement, access to the workload is restricted until an owner is added.</p>"
        },
        "IndustryType":{"shape":"WorkloadIndustryType"},
        "Industry":{"shape":"WorkloadIndustry"},
        "Notes":{"shape":"Notes"},
        "ImprovementStatus":{"shape":"WorkloadImprovementStatus"}
      },
      "documentation":"<p>Input to update a workload.</p>"
    },
    "UpdateWorkloadOutput":{
      "type":"structure",
      "members":{
        "Workload":{"shape":"Workload"}
      },
      "documentation":"<p>Output of an update workload call.</p>"
    },
    "UpdateWorkloadShareInput":{
      "type":"structure",
      "required":[
        "ShareId",
        "WorkloadId",
        "PermissionType"
      ],
      "members":{
        "ShareId":{
          "shape":"ShareId",
          "location":"uri",
          "locationName":"ShareId"
        },
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "PermissionType":{"shape":"PermissionType"}
      },
      "documentation":"<p>Input for Update Workload Share</p>"
    },
    "UpdateWorkloadShareOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "WorkloadShare":{"shape":"WorkloadShare"}
      },
      "documentation":"<p>Input for Update Workload Share</p>"
    },
    "UpgradeLensReviewInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "LensAlias",
        "MilestoneName"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "LensAlias":{
          "shape":"LensAlias",
          "location":"uri",
          "locationName":"LensAlias"
        },
        "MilestoneName":{"shape":"MilestoneName"},
        "ClientRequestToken":{"shape":"ClientRequestToken"}
      }
    },
    "ValidationException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"ExceptionMessage"},
        "Reason":{"shape":"ValidationExceptionReason"},
        "Fields":{"shape":"ValidationExceptionFieldList"}
      },
      "documentation":"<p>The user input is not valid.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "ValidationExceptionField":{
      "type":"structure",
      "required":[
        "Name",
        "Message"
      ],
      "members":{
        "Name":{"shape":"ValidationExceptionFieldName"},
        "Message":{"shape":"ExceptionMessage"}
      },
      "documentation":"<p>Stores information about a field passed inside a request that resulted in an exception.</p>"
    },
    "ValidationExceptionFieldList":{
      "type":"list",
      "member":{"shape":"ValidationExceptionField"},
      "documentation":"<p>The fields that caused the error, if applicable.</p>"
    },
    "ValidationExceptionFieldName":{
      "type":"string",
      "documentation":"<p>The field name for which validation failed.</p>"
    },
    "ValidationExceptionReason":{
      "type":"string",
      "documentation":"<p>The reason why the request failed validation.</p>",
      "enum":[
        "UNKNOWN_OPERATION",
        "CANNOT_PARSE",
        "FIELD_VALIDATION_FAILED",
        "OTHER"
      ]
    },
    "VersionDifferences":{
      "type":"structure",
      "members":{
        "PillarDifferences":{
          "shape":"PillarDifferences",
          "documentation":"<p>The differences between the base and latest versions of the lens.</p>"
        }
      },
      "documentation":"<p>The differences between the base and latest versions of the lens.</p>"
    },
    "Workload":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "WorkloadArn":{"shape":"WorkloadArn"},
        "WorkloadName":{"shape":"WorkloadName"},
        "Description":{"shape":"WorkloadDescription"},
        "Environment":{"shape":"WorkloadEnvironment"},
        "UpdatedAt":{"shape":"Timestamp"},
        "AccountIds":{"shape":"WorkloadAccountIds"},
        "AwsRegions":{"shape":"WorkloadAwsRegions"},
        "NonAwsRegions":{"shape":"WorkloadNonAwsRegions"},
        "ArchitecturalDesign":{"shape":"WorkloadArchitecturalDesign"},
        "ReviewOwner":{"shape":"WorkloadReviewOwner"},
        "ReviewRestrictionDate":{"shape":"Timestamp"},
        "IsReviewOwnerUpdateAcknowledged":{
          "shape":"IsReviewOwnerUpdateAcknowledged",
          "documentation":"<p>Flag indicating whether the workload owner has acknowledged that the <i>Review owner</i> field is required.</p> <p>If a <b>Review owner</b> is not added to the workload within 60 days of acknowledgement, access to the workload is restricted until an owner is added.</p>"
        },
        "IndustryType":{"shape":"WorkloadIndustryType"},
        "Industry":{"shape":"WorkloadIndustry"},
        "Notes":{"shape":"Notes"},
        "ImprovementStatus":{"shape":"WorkloadImprovementStatus"},
        "RiskCounts":{"shape":"RiskCounts"},
        "PillarPriorities":{"shape":"WorkloadPillarPriorities"},
        "Lenses":{"shape":"WorkloadLenses"},
        "Owner":{"shape":"AwsAccountId"},
        "ShareInvitationId":{
          "shape":"ShareInvitationId",
          "documentation":"<p>The ID assigned to the share invitation.</p>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags associated with the workload.</p>"
        }
      },
      "documentation":"<p>A workload return object.</p>"
    },
    "WorkloadAccountIds":{
      "type":"list",
      "member":{"shape":"AwsAccountId"},
      "documentation":"<p>The list of AWS account IDs associated with the workload.</p>",
      "max":100
    },
    "WorkloadArchitecturalDesign":{
      "type":"string",
      "documentation":"<p>The URL of the architectural design for the workload.</p>",
      "max":2048
    },
    "WorkloadArn":{
      "type":"string",
      "documentation":"<p>The ARN for the workload.</p>"
    },
    "WorkloadAwsRegions":{
      "type":"list",
      "member":{"shape":"AwsRegion"},
      "documentation":"<p>The list of AWS Regions associated with the workload, for example, <code>us-east-2</code>, or <code>ca-central-1</code>.</p>",
      "max":50
    },
    "WorkloadDescription":{
      "type":"string",
      "documentation":"<p>The description for the workload.</p>",
      "max":250,
      "min":3
    },
    "WorkloadEnvironment":{
      "type":"string",
      "documentation":"<p>The environment for the workload.</p>",
      "enum":[
        "PRODUCTION",
        "PREPRODUCTION"
      ]
    },
    "WorkloadId":{
      "type":"string",
      "documentation":"<p>The ID assigned to the workload. This ID is unique within an AWS Region.</p>",
      "pattern":"[0-9a-f]{32}"
    },
    "WorkloadImprovementStatus":{
      "type":"string",
      "documentation":"<p>The improvement status for a workload.</p>",
      "enum":[
        "NOT_APPLICABLE",
        "NOT_STARTED",
        "IN_PROGRESS",
        "COMPLETE",
        "RISK_ACKNOWLEDGED"
      ]
    },
    "WorkloadIndustry":{
      "type":"string",
      "documentation":"<p>The industry for the workload.</p>",
      "max":100
    },
    "WorkloadIndustryType":{
      "type":"string",
      "documentation":"<p>The industry type for the workload.</p> <p>If specified, must be one of the following:</p> <ul> <li> <p> <code>Agriculture</code> </p> </li> <li> <p> <code>Automobile</code> </p> </li> <li> <p> <code>Defense</code> </p> </li> <li> <p> <code>Design and Engineering</code> </p> </li> <li> <p> <code>Digital Advertising</code> </p> </li> <li> <p> <code>Education</code> </p> </li> <li> <p> <code>Environmental Protection</code> </p> </li> <li> <p> <code>Financial Services</code> </p> </li> <li> <p> <code>Gaming</code> </p> </li> <li> <p> <code>General Public Services</code> </p> </li> <li> <p> <code>Healthcare</code> </p> </li> <li> <p> <code>Hospitality</code> </p> </li> <li> <p> <code>InfoTech</code> </p> </li> <li> <p> <code>Justice and Public Safety</code> </p> </li> <li> <p> <code>Life Sciences</code> </p> </li> <li> <p> <code>Manufacturing</code> </p> </li> <li> <p> <code>Media &amp; Entertainment</code> </p> </li> <li> <p> <code>Mining &amp; Resources</code> </p> </li> <li> <p> <code>Oil &amp; Gas</code> </p> </li> <li> <p> <code>Power &amp; Utilities</code> </p> </li> <li> <p> <code>Professional Services</code> </p> </li> <li> <p> <code>Real Estate &amp; Construction</code> </p> </li> <li> <p> <code>Retail &amp; Wholesale</code> </p> </li> <li> <p> <code>Social Protection</code> </p> </li> <li> <p> <code>Telecommunications</code> </p> </li> <li> <p> <code>Travel, Transportation &amp; Logistics</code> </p> </li> <li> <p> <code>Other</code> </p> </li> </ul>",
      "max":100
    },
    "WorkloadLenses":{
      "type":"list",
      "member":{"shape":"LensAlias"},
      "documentation":"<p>The list of lenses associated with the workload. Each lens is identified by its <a>LensSummary$LensAlias</a>.</p>"
    },
    "WorkloadName":{
      "type":"string",
      "documentation":"<p>The name of the workload.</p> <p>The name must be unique within an account within a Region. Spaces and capitalization are ignored when checking for uniqueness.</p>",
      "max":100,
      "min":3
    },
    "WorkloadNamePrefix":{
      "type":"string",
      "documentation":"<p>An optional string added to the beginning of each workload name returned in the results.</p>",
      "max":100
    },
    "WorkloadNonAwsRegion":{
      "type":"string",
      "max":25,
      "min":3
    },
    "WorkloadNonAwsRegions":{
      "type":"list",
      "member":{"shape":"WorkloadNonAwsRegion"},
      "documentation":"<p> The list of non-AWS Regions associated with the workload.</p>",
      "max":5
    },
    "WorkloadPillarPriorities":{
      "type":"list",
      "member":{"shape":"PillarId"},
      "documentation":"<p>The priorities of the pillars, which are used to order items in the improvement plan. Each pillar is represented by its <a>PillarReviewSummary$PillarId</a>.</p>"
    },
    "WorkloadReviewOwner":{
      "type":"string",
      "documentation":"<p>The review owner of the workload. The name, email address, or identifier for the primary group or individual that owns the workload review process.</p>",
      "max":255,
      "min":3
    },
    "WorkloadShare":{
      "type":"structure",
      "members":{
        "ShareId":{"shape":"ShareId"},
        "SharedBy":{"shape":"AwsAccountId"},
        "SharedWith":{"shape":"SharedWith"},
        "PermissionType":{"shape":"PermissionType"},
        "Status":{"shape":"ShareStatus"},
        "WorkloadName":{"shape":"WorkloadName"},
        "WorkloadId":{"shape":"WorkloadId"}
      },
      "documentation":"<p>A workload share return object.</p>"
    },
    "WorkloadShareSummaries":{
      "type":"list",
      "member":{"shape":"WorkloadShareSummary"},
      "documentation":"<p>A list of workload share summaries.</p>"
    },
    "WorkloadShareSummary":{
      "type":"structure",
      "members":{
        "ShareId":{"shape":"ShareId"},
        "SharedWith":{"shape":"SharedWith"},
        "PermissionType":{"shape":"PermissionType"},
        "Status":{"shape":"ShareStatus"}
      },
      "documentation":"<p>A workload share summary return object.</p>"
    },
    "WorkloadSummaries":{
      "type":"list",
      "member":{"shape":"WorkloadSummary"},
      "documentation":"<p>A list of workload summaries.</p>"
    },
    "WorkloadSummary":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "WorkloadArn":{"shape":"WorkloadArn"},
        "WorkloadName":{"shape":"WorkloadName"},
        "Owner":{"shape":"AwsAccountId"},
        "UpdatedAt":{"shape":"Timestamp"},
        "Lenses":{"shape":"WorkloadLenses"},
        "RiskCounts":{"shape":"RiskCounts"},
        "ImprovementStatus":{"shape":"WorkloadImprovementStatus"}
      },
      "documentation":"<p>A workload summary return object.</p>"
    }
  },
  "documentation":"<fullname>AWS Well-Architected Tool</fullname> <p>This is the <i>AWS Well-Architected Tool API Reference</i>. The AWS Well-Architected Tool API provides programmatic access to the <a href=\"http://aws.amazon.com/well-architected-tool\">AWS Well-Architected Tool</a> in the <a href=\"https://console.aws.amazon.com/wellarchitected\">AWS Management Console</a>. For information about the AWS Well-Architected Tool, see the <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/intro.html\">AWS Well-Architected Tool User Guide</a>.</p>"
}
