{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-03-31",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"wellarchitected",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"Well-Architected",
    "serviceFullName":"AWS Well-Architected Tool",
    "serviceId":"WellArchitected",
    "signatureVersion":"v4",
    "signingName":"wellarchitected",
    "uid":"wellarchitected-2020-03-31"
  },
  "operations":{
    "AssociateLenses":{
      "name":"AssociateLenses",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}/associateLenses",
        "responseCode":200
      },
      "input":{"shape":"AssociateLensesInput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Associate a lens to a workload.</p> <p>Up to 10 lenses can be associated with a workload in a single API operation. A maximum of 20 lenses can be associated with a workload.</p> <note> <p> <b>Disclaimer</b> </p> <p>By accessing and/or applying custom lenses created by another Amazon Web Services user or account, you acknowledge that custom lenses created by other users and shared with you are Third Party Content as defined in the Amazon Web Services Customer Agreement. </p> </note>"
    },
    "AssociateProfiles":{
      "name":"AssociateProfiles",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}/associateProfiles",
        "responseCode":200
      },
      "input":{"shape":"AssociateProfilesInput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Associate a profile with a workload.</p>"
    },
    "CreateAgentContext":{
      "name":"CreateAgentContext",
      "http":{
        "method":"POST",
        "requestUri":"/api/v1/agent-profiles/{profileArn}/contexts",
        "responseCode":200
      },
      "input":{"shape":"CreateAgentContextRequest"},
      "output":{"shape":"CreateAgentContextResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a context associated with an optimization profile. Contexts provide application and environment information used during recommendation generation.</p>",
      "idempotent":true
    },
    "CreateAgentGoal":{
      "name":"CreateAgentGoal",
      "http":{
        "method":"POST",
        "requestUri":"/api/v1/agent-profiles/{profileArn}/goals",
        "responseCode":200
      },
      "input":{"shape":"CreateAgentGoalRequest"},
      "output":{"shape":"CreateAgentGoalResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates an optimization goal associated with a profile. Goals define specific targets and objectives for the optimization process.</p>",
      "idempotent":true
    },
    "CreateAgentProfile":{
      "name":"CreateAgentProfile",
      "http":{
        "method":"POST",
        "requestUri":"/api/v1/agent-profiles",
        "responseCode":200
      },
      "input":{"shape":"CreateAgentProfileRequest"},
      "output":{"shape":"CreateAgentProfileResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates an optimization profile that defines the scope and configuration for generating recommendations. A profile specifies the execution role, target pillars, and aggregation settings for analyzing your Amazon Web Services resources.</p>",
      "idempotent":true
    },
    "CreateLensShare":{
      "name":"CreateLensShare",
      "http":{
        "method":"POST",
        "requestUri":"/lenses/{LensAlias}/shares",
        "responseCode":200
      },
      "input":{"shape":"CreateLensShareInput"},
      "output":{"shape":"CreateLensShareOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a lens share.</p> <p>The owner of a lens can share it with other Amazon Web Services accounts, users, an organization, and organizational units (OUs) in the same Amazon Web Services Region. Lenses provided by Amazon Web Services (Amazon Web Services Official Content) cannot be shared.</p> <p> Shared access to a lens is not removed until the lens invitation is deleted.</p> <p>If you share a lens with an organization or OU, all accounts in the organization or OU are granted access to the lens.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/lenses-sharing.html\">Sharing a custom lens</a> in the <i>Well-Architected Tool User Guide</i>.</p> <note> <p> <b>Disclaimer</b> </p> <p>By sharing your custom lenses with other Amazon Web Services accounts, you acknowledge that Amazon Web Services will make your custom lenses available to those other accounts. Those other accounts may continue to access and use your shared custom lenses even if you delete the custom lenses from your own Amazon Web Services account or terminate your Amazon Web Services account.</p> </note>"
    },
    "CreateLensVersion":{
      "name":"CreateLensVersion",
      "http":{
        "method":"POST",
        "requestUri":"/lenses/{LensAlias}/versions",
        "responseCode":200
      },
      "input":{"shape":"CreateLensVersionInput"},
      "output":{"shape":"CreateLensVersionOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a new lens version.</p> <p>A lens can have up to 100 versions.</p> <p>Use this operation to publish a new lens version after you have imported a lens. The <code>LensAlias</code> is used to identify the lens to be published. The owner of a lens can share the lens with other Amazon Web Services accounts and users in the same Amazon Web Services Region. Only the owner of a lens can delete it. </p>"
    },
    "CreateMilestone":{
      "name":"CreateMilestone",
      "http":{
        "method":"POST",
        "requestUri":"/workloads/{WorkloadId}/milestones",
        "responseCode":200
      },
      "input":{"shape":"CreateMilestoneInput"},
      "output":{"shape":"CreateMilestoneOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a milestone for an existing workload.</p>"
    },
    "CreateProfile":{
      "name":"CreateProfile",
      "http":{
        "method":"POST",
        "requestUri":"/profiles",
        "responseCode":200
      },
      "input":{"shape":"CreateProfileInput"},
      "output":{"shape":"CreateProfileOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a profile.</p>"
    },
    "CreateProfileShare":{
      "name":"CreateProfileShare",
      "http":{
        "method":"POST",
        "requestUri":"/profiles/{ProfileArn}/shares",
        "responseCode":200
      },
      "input":{"shape":"CreateProfileShareInput"},
      "output":{"shape":"CreateProfileShareOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a profile share.</p>"
    },
    "CreateReviewTemplate":{
      "name":"CreateReviewTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/reviewTemplates",
        "responseCode":200
      },
      "input":{"shape":"CreateReviewTemplateInput"},
      "output":{"shape":"CreateReviewTemplateOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a review template.</p> <note> <p> <b>Disclaimer</b> </p> <p>Do not include or gather personal identifiable information (PII) of end users or other identifiable individuals in or via your review templates. If your review template or those shared with you and used in your account do include or collect PII you are responsible for: ensuring that the included PII is processed in accordance with applicable law, providing adequate privacy notices, and obtaining necessary consents for processing such data.</p> </note>"
    },
    "CreateTemplateShare":{
      "name":"CreateTemplateShare",
      "http":{
        "method":"POST",
        "requestUri":"/templates/shares/{TemplateArn}",
        "responseCode":200
      },
      "input":{"shape":"CreateTemplateShareInput"},
      "output":{"shape":"CreateTemplateShareOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a review template share.</p> <p>The owner of a review template can share it with other Amazon Web Services accounts, users, an organization, and organizational units (OUs) in the same Amazon Web Services Region. </p> <p> Shared access to a review template is not removed until the review template share invitation is deleted.</p> <p>If you share a review template with an organization or OU, all accounts in the organization or OU are granted access to the review template.</p> <note> <p> <b>Disclaimer</b> </p> <p>By sharing your review template with other Amazon Web Services accounts, you acknowledge that Amazon Web Services will make your review template available to those other accounts.</p> </note>"
    },
    "CreateWorkload":{
      "name":"CreateWorkload",
      "http":{
        "method":"POST",
        "requestUri":"/workloads",
        "responseCode":200
      },
      "input":{"shape":"CreateWorkloadInput"},
      "output":{"shape":"CreateWorkloadOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a new workload.</p> <p>The owner of a workload can share the workload with other Amazon Web Services accounts, users, an organization, and organizational units (OUs) in the same Amazon Web Services Region. Only the owner of a workload can delete it.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/define-workload.html\">Defining a Workload</a> in the <i>Well-Architected Tool User Guide</i>.</p> <important> <p>Either <code>AwsRegions</code>, <code>NonAwsRegions</code>, or both must be specified when creating a workload.</p> <p>You also must specify <code>ReviewOwner</code>, even though the parameter is listed as not being required in the following section. </p> </important> <p>When creating a workload using a review template, you must have the following IAM permissions:</p> <ul> <li> <p> <code>wellarchitected:GetReviewTemplate</code> </p> </li> <li> <p> <code>wellarchitected:GetReviewTemplateAnswer</code> </p> </li> <li> <p> <code>wellarchitected:ListReviewTemplateAnswers</code> </p> </li> <li> <p> <code>wellarchitected:GetReviewTemplateLensReview</code> </p> </li> </ul>"
    },
    "CreateWorkloadShare":{
      "name":"CreateWorkloadShare",
      "http":{
        "method":"POST",
        "requestUri":"/workloads/{WorkloadId}/shares",
        "responseCode":200
      },
      "input":{"shape":"CreateWorkloadShareInput"},
      "output":{"shape":"CreateWorkloadShareOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a workload share.</p> <p>The owner of a workload can share it with other Amazon Web Services accounts and users in the same Amazon Web Services Region. Shared access to a workload is not removed until the workload invitation is deleted.</p> <p>If you share a workload with an organization or OU, all accounts in the organization or OU are granted access to the workload.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/workloads-sharing.html\">Sharing a workload</a> in the <i>Well-Architected Tool User Guide</i>.</p>"
    },
    "DeleteAgentContext":{
      "name":"DeleteAgentContext",
      "http":{
        "method":"DELETE",
        "requestUri":"/api/v1/agent-profiles/{profileArn}/contexts/{id}",
        "responseCode":200
      },
      "input":{"shape":"DeleteAgentContextRequest"},
      "output":{"shape":"DeleteAgentContextResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a context associated with a profile.</p>",
      "idempotent":true
    },
    "DeleteAgentGoal":{
      "name":"DeleteAgentGoal",
      "http":{
        "method":"DELETE",
        "requestUri":"/api/v1/agent-profiles/{profileArn}/goals/{id}",
        "responseCode":200
      },
      "input":{"shape":"DeleteAgentGoalRequest"},
      "output":{"shape":"DeleteAgentGoalResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes an optimization goal from a profile.</p>",
      "idempotent":true
    },
    "DeleteAgentProfile":{
      "name":"DeleteAgentProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/api/v1/agent-profiles/{profileArn}",
        "responseCode":200
      },
      "input":{"shape":"DeleteAgentProfileRequest"},
      "output":{"shape":"DeleteAgentProfileResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes an optimization profile and its associated configuration. This action cannot be undone.</p>",
      "idempotent":true
    },
    "DeleteLens":{
      "name":"DeleteLens",
      "http":{
        "method":"DELETE",
        "requestUri":"/lenses/{LensAlias}",
        "responseCode":200
      },
      "input":{"shape":"DeleteLensInput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete an existing lens.</p> <p>Only the owner of a lens can delete it. After the lens is deleted, Amazon Web Services accounts and users that you shared the lens with can continue to use it, but they will no longer be able to apply it to new workloads. </p> <note> <p> <b>Disclaimer</b> </p> <p>By sharing your custom lenses with other Amazon Web Services accounts, you acknowledge that Amazon Web Services will make your custom lenses available to those other accounts. Those other accounts may continue to access and use your shared custom lenses even if you delete the custom lenses from your own Amazon Web Services account or terminate your Amazon Web Services account.</p> </note>"
    },
    "DeleteLensShare":{
      "name":"DeleteLensShare",
      "http":{
        "method":"DELETE",
        "requestUri":"/lenses/{LensAlias}/shares/{ShareId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteLensShareInput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete a lens share.</p> <p>After the lens share is deleted, Amazon Web Services accounts, users, organizations, and organizational units (OUs) that you shared the lens with can continue to use it, but they will no longer be able to apply it to new workloads.</p> <note> <p> <b>Disclaimer</b> </p> <p>By sharing your custom lenses with other Amazon Web Services accounts, you acknowledge that Amazon Web Services will make your custom lenses available to those other accounts. Those other accounts may continue to access and use your shared custom lenses even if you delete the custom lenses from your own Amazon Web Services account or terminate your Amazon Web Services account.</p> </note>"
    },
    "DeleteProfile":{
      "name":"DeleteProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/profiles/{ProfileArn}",
        "responseCode":200
      },
      "input":{"shape":"DeleteProfileInput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete a profile.</p> <note> <p> <b>Disclaimer</b> </p> <p>By sharing your profile with other Amazon Web Services accounts, you acknowledge that Amazon Web Services will make your profile available to those other accounts. Those other accounts may continue to access and use your shared profile even if you delete the profile from your own Amazon Web Services account or terminate your Amazon Web Services account.</p> </note>"
    },
    "DeleteProfileShare":{
      "name":"DeleteProfileShare",
      "http":{
        "method":"DELETE",
        "requestUri":"/profiles/{ProfileArn}/shares/{ShareId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteProfileShareInput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete a profile share.</p>"
    },
    "DeleteReviewTemplate":{
      "name":"DeleteReviewTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/reviewTemplates/{TemplateArn}",
        "responseCode":200
      },
      "input":{"shape":"DeleteReviewTemplateInput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete a review template.</p> <p>Only the owner of a review template can delete it.</p> <p>After the review template is deleted, Amazon Web Services accounts, users, organizations, and organizational units (OUs) that you shared the review template with will no longer be able to apply it to new workloads.</p>"
    },
    "DeleteTemplateShare":{
      "name":"DeleteTemplateShare",
      "http":{
        "method":"DELETE",
        "requestUri":"/templates/shares/{TemplateArn}/{ShareId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteTemplateShareInput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete a review template share.</p> <p>After the review template share is deleted, Amazon Web Services accounts, users, organizations, and organizational units (OUs) that you shared the review template with will no longer be able to apply it to new workloads.</p>"
    },
    "DeleteWorkload":{
      "name":"DeleteWorkload",
      "http":{
        "method":"DELETE",
        "requestUri":"/workloads/{WorkloadId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteWorkloadInput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete an existing workload.</p>"
    },
    "DeleteWorkloadShare":{
      "name":"DeleteWorkloadShare",
      "http":{
        "method":"DELETE",
        "requestUri":"/workloads/{WorkloadId}/shares/{ShareId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteWorkloadShareInput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete a workload share.</p>"
    },
    "DisassociateLenses":{
      "name":"DisassociateLenses",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}/disassociateLenses",
        "responseCode":200
      },
      "input":{"shape":"DisassociateLensesInput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Disassociate a lens from a workload.</p> <p>Up to 10 lenses can be disassociated from a workload in a single API operation.</p> <note> <p>The Amazon Web Services Well-Architected Framework lens (<code>wellarchitected</code>) cannot be removed from a workload.</p> </note>"
    },
    "DisassociateProfiles":{
      "name":"DisassociateProfiles",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}/disassociateProfiles",
        "responseCode":200
      },
      "input":{"shape":"DisassociateProfilesInput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Disassociate a profile from a workload.</p>"
    },
    "ExportLens":{
      "name":"ExportLens",
      "http":{
        "method":"GET",
        "requestUri":"/lenses/{LensAlias}/export",
        "responseCode":200
      },
      "input":{"shape":"ExportLensInput"},
      "output":{"shape":"ExportLensOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Export an existing lens.</p> <p>Only the owner of a lens can export it. Lenses provided by Amazon Web Services (Amazon Web Services Official Content) cannot be exported.</p> <p>Lenses are defined in JSON. For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/lenses-format-specification.html\">JSON format specification</a> in the <i>Well-Architected Tool User Guide</i>.</p> <note> <p> <b>Disclaimer</b> </p> <p>Do not include or gather personal identifiable information (PII) of end users or other identifiable individuals in or via your custom lenses. If your custom lens or those shared with you and used in your account do include or collect PII you are responsible for: ensuring that the included PII is processed in accordance with applicable law, providing adequate privacy notices, and obtaining necessary consents for processing such data.</p> </note>"
    },
    "GetAgentContext":{
      "name":"GetAgentContext",
      "http":{
        "method":"GET",
        "requestUri":"/api/v1/agent-profiles/{profileArn}/contexts/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetAgentContextRequest"},
      "output":{"shape":"GetAgentContextResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves detailed information about a specific context associated with a profile.</p>",
      "readonly":true
    },
    "GetAgentGoal":{
      "name":"GetAgentGoal",
      "http":{
        "method":"GET",
        "requestUri":"/api/v1/agent-profiles/{profileArn}/goals/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetAgentGoalRequest"},
      "output":{"shape":"GetAgentGoalResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves detailed information about a specific optimization goal.</p>",
      "readonly":true
    },
    "GetAgentProfile":{
      "name":"GetAgentProfile",
      "http":{
        "method":"GET",
        "requestUri":"/api/v1/agent-profiles/{profileArn}",
        "responseCode":200
      },
      "input":{"shape":"GetAgentProfileRequest"},
      "output":{"shape":"GetAgentProfileResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves detailed information about an optimization profile, including its configuration and metadata.</p>",
      "readonly":true
    },
    "GetAgentRecommendation":{
      "name":"GetAgentRecommendation",
      "http":{
        "method":"GET",
        "requestUri":"/api/v1/agent-recommendations/{recommendationArn}",
        "responseCode":200
      },
      "input":{"shape":"GetAgentRecommendationRequest"},
      "output":{"shape":"GetAgentRecommendationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves detailed information about a specific optimization recommendation, including its impact analysis, content, and implementation guidance.</p>",
      "readonly":true
    },
    "GetAgentRecommendationGeneration":{
      "name":"GetAgentRecommendationGeneration",
      "http":{
        "method":"GET",
        "requestUri":"/api/v1/agent-profiles/{profileArn}/generations/{generationId}",
        "responseCode":200
      },
      "input":{"shape":"GetAgentRecommendationGenerationRequest"},
      "output":{"shape":"GetAgentRecommendationGenerationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a recommendation generation process, including its status, progress, and results. Recommendation generation is asynchronous: poll this operation until status reaches a terminal value of COMPLETED (results are ready) or ERROR (see errorDetails). Intermediate values are QUEUED and IN_PROGRESS.</p>",
      "readonly":true
    },
    "GetAnswer":{
      "name":"GetAnswer",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}/answers/{QuestionId}",
        "responseCode":200
      },
      "input":{"shape":"GetAnswerInput"},
      "output":{"shape":"GetAnswerOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get the answer to a specific question in a workload review.</p>"
    },
    "GetConsolidatedReport":{
      "name":"GetConsolidatedReport",
      "http":{
        "method":"GET",
        "requestUri":"/consolidatedReport",
        "responseCode":200
      },
      "input":{"shape":"GetConsolidatedReportInput"},
      "output":{"shape":"GetConsolidatedReportOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get a consolidated report of your workloads.</p> <p>You can optionally choose to include workloads that have been shared with you.</p>"
    },
    "GetGlobalSettings":{
      "name":"GetGlobalSettings",
      "http":{
        "method":"GET",
        "requestUri":"/global-settings",
        "responseCode":200
      },
      "output":{"shape":"GetGlobalSettingsOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Global settings for all workloads.</p>"
    },
    "GetLens":{
      "name":"GetLens",
      "http":{
        "method":"GET",
        "requestUri":"/lenses/{LensAlias}",
        "responseCode":200
      },
      "input":{"shape":"GetLensInput"},
      "output":{"shape":"GetLensOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get an existing lens.</p>"
    },
    "GetLensReview":{
      "name":"GetLensReview",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}",
        "responseCode":200
      },
      "input":{"shape":"GetLensReviewInput"},
      "output":{"shape":"GetLensReviewOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get lens review.</p>"
    },
    "GetLensReviewReport":{
      "name":"GetLensReviewReport",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}/report",
        "responseCode":200
      },
      "input":{"shape":"GetLensReviewReportInput"},
      "output":{"shape":"GetLensReviewReportOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get lens review report.</p>"
    },
    "GetLensVersionDifference":{
      "name":"GetLensVersionDifference",
      "http":{
        "method":"GET",
        "requestUri":"/lenses/{LensAlias}/versionDifference",
        "responseCode":200
      },
      "input":{"shape":"GetLensVersionDifferenceInput"},
      "output":{"shape":"GetLensVersionDifferenceOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get lens version differences.</p>"
    },
    "GetMilestone":{
      "name":"GetMilestone",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/milestones/{MilestoneNumber}",
        "responseCode":200
      },
      "input":{"shape":"GetMilestoneInput"},
      "output":{"shape":"GetMilestoneOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get a milestone for an existing workload.</p>"
    },
    "GetProfile":{
      "name":"GetProfile",
      "http":{
        "method":"GET",
        "requestUri":"/profiles/{ProfileArn}",
        "responseCode":200
      },
      "input":{"shape":"GetProfileInput"},
      "output":{"shape":"GetProfileOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get profile information.</p>"
    },
    "GetProfileTemplate":{
      "name":"GetProfileTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/profileTemplate",
        "responseCode":200
      },
      "input":{"shape":"GetProfileTemplateInput"},
      "output":{"shape":"GetProfileTemplateOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get profile template.</p>"
    },
    "GetReviewTemplate":{
      "name":"GetReviewTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/reviewTemplates/{TemplateArn}",
        "responseCode":200
      },
      "input":{"shape":"GetReviewTemplateInput"},
      "output":{"shape":"GetReviewTemplateOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get review template.</p>"
    },
    "GetReviewTemplateAnswer":{
      "name":"GetReviewTemplateAnswer",
      "http":{
        "method":"GET",
        "requestUri":"/reviewTemplates/{TemplateArn}/lensReviews/{LensAlias}/answers/{QuestionId}",
        "responseCode":200
      },
      "input":{"shape":"GetReviewTemplateAnswerInput"},
      "output":{"shape":"GetReviewTemplateAnswerOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get review template answer.</p>"
    },
    "GetReviewTemplateLensReview":{
      "name":"GetReviewTemplateLensReview",
      "http":{
        "method":"GET",
        "requestUri":"/reviewTemplates/{TemplateArn}/lensReviews/{LensAlias}",
        "responseCode":200
      },
      "input":{"shape":"GetReviewTemplateLensReviewInput"},
      "output":{"shape":"GetReviewTemplateLensReviewOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get a lens review associated with a review template.</p>"
    },
    "GetWorkload":{
      "name":"GetWorkload",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}",
        "responseCode":200
      },
      "input":{"shape":"GetWorkloadInput"},
      "output":{"shape":"GetWorkloadOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get an existing workload.</p>"
    },
    "ImportLens":{
      "name":"ImportLens",
      "http":{
        "method":"PUT",
        "requestUri":"/importLens",
        "responseCode":200
      },
      "input":{"shape":"ImportLensInput"},
      "output":{"shape":"ImportLensOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Import a new custom lens or update an existing custom lens.</p> <p>To update an existing custom lens, specify its ARN as the <code>LensAlias</code>. If no ARN is specified, a new custom lens is created.</p> <p>The new or updated lens will have a status of <code>DRAFT</code>. The lens cannot be applied to workloads or shared with other Amazon Web Services accounts until it's published with <a>CreateLensVersion</a>.</p> <p>Lenses are defined in JSON. For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/lenses-format-specification.html\">JSON format specification</a> in the <i>Well-Architected Tool User Guide</i>.</p> <p>A custom lens cannot exceed 500 KB in size.</p> <note> <p> <b>Disclaimer</b> </p> <p>Do not include or gather personal identifiable information (PII) of end users or other identifiable individuals in or via your custom lenses. If your custom lens or those shared with you and used in your account do include or collect PII you are responsible for: ensuring that the included PII is processed in accordance with applicable law, providing adequate privacy notices, and obtaining necessary consents for processing such data.</p> </note>"
    },
    "ListAgentContexts":{
      "name":"ListAgentContexts",
      "http":{
        "method":"GET",
        "requestUri":"/api/v1/agent-profiles/{profileArn}/contexts",
        "responseCode":200
      },
      "input":{"shape":"ListAgentContextsRequest"},
      "output":{"shape":"ListAgentContextsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists contexts associated with a profile.</p>",
      "readonly":true
    },
    "ListAgentGoals":{
      "name":"ListAgentGoals",
      "http":{
        "method":"GET",
        "requestUri":"/api/v1/agent-profiles/{profileArn}/goals",
        "responseCode":200
      },
      "input":{"shape":"ListAgentGoalsRequest"},
      "output":{"shape":"ListAgentGoalsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists optimization goals associated with a specified profile. Goals define specific targets and objectives for the optimization process.</p>",
      "readonly":true
    },
    "ListAgentProfiles":{
      "name":"ListAgentProfiles",
      "http":{
        "method":"GET",
        "requestUri":"/api/v1/agent-profiles",
        "responseCode":200
      },
      "input":{"shape":"ListAgentProfilesRequest"},
      "output":{"shape":"ListAgentProfilesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists optimization profiles in your account. Profiles define the scope and configuration for generating optimization recommendations.</p>",
      "readonly":true
    },
    "ListAgentRecommendationGenerations":{
      "name":"ListAgentRecommendationGenerations",
      "http":{
        "method":"GET",
        "requestUri":"/api/v1/agent-profiles/{profileArn}/generations",
        "responseCode":200
      },
      "input":{"shape":"ListAgentRecommendationGenerationsRequest"},
      "output":{"shape":"ListAgentRecommendationGenerationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists recommendation generation processes for a specified profile.</p>",
      "readonly":true
    },
    "ListAgentRecommendationItems":{
      "name":"ListAgentRecommendationItems",
      "http":{
        "method":"GET",
        "requestUri":"/api/v1/agent-recommendations/{recommendationArn}/items",
        "responseCode":200
      },
      "input":{"shape":"ListAgentRecommendationItemsRequest"},
      "output":{"shape":"ListAgentRecommendationItemsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists recommendation items for a specific recommendation. Recommendation items provide detailed information about individual optimization opportunities.</p>",
      "readonly":true
    },
    "ListAgentRecommendations":{
      "name":"ListAgentRecommendations",
      "http":{
        "method":"GET",
        "requestUri":"/api/v1/agent-profiles/{profileArn}/recommendations",
        "responseCode":200
      },
      "input":{"shape":"ListAgentRecommendationsRequest"},
      "output":{"shape":"ListAgentRecommendationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists active optimization recommendations for a specified profile with optional filtering by state.</p>",
      "readonly":true
    },
    "ListAnswers":{
      "name":"ListAnswers",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}/answers",
        "responseCode":200
      },
      "input":{"shape":"ListAnswersInput"},
      "output":{"shape":"ListAnswersOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List of answers for a particular workload and lens.</p>"
    },
    "ListCheckDetails":{
      "name":"ListCheckDetails",
      "http":{
        "method":"POST",
        "requestUri":"/workloads/{WorkloadId}/checks",
        "responseCode":200
      },
      "input":{"shape":"ListCheckDetailsInput"},
      "output":{"shape":"ListCheckDetailsOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List of Trusted Advisor check details by account related to the workload.</p>"
    },
    "ListCheckSummaries":{
      "name":"ListCheckSummaries",
      "http":{
        "method":"POST",
        "requestUri":"/workloads/{WorkloadId}/checkSummaries",
        "responseCode":200
      },
      "input":{"shape":"ListCheckSummariesInput"},
      "output":{"shape":"ListCheckSummariesOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List of Trusted Advisor checks summarized for all accounts related to the workload.</p>"
    },
    "ListLensReviewImprovements":{
      "name":"ListLensReviewImprovements",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}/improvements",
        "responseCode":200
      },
      "input":{"shape":"ListLensReviewImprovementsInput"},
      "output":{"shape":"ListLensReviewImprovementsOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List the improvements of a particular lens review.</p>"
    },
    "ListLensReviews":{
      "name":"ListLensReviews",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/lensReviews",
        "responseCode":200
      },
      "input":{"shape":"ListLensReviewsInput"},
      "output":{"shape":"ListLensReviewsOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List lens reviews for a particular workload.</p>"
    },
    "ListLensShares":{
      "name":"ListLensShares",
      "http":{
        "method":"GET",
        "requestUri":"/lenses/{LensAlias}/shares",
        "responseCode":200
      },
      "input":{"shape":"ListLensSharesInput"},
      "output":{"shape":"ListLensSharesOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List the lens shares associated with the lens.</p>"
    },
    "ListLenses":{
      "name":"ListLenses",
      "http":{
        "method":"GET",
        "requestUri":"/lenses",
        "responseCode":200
      },
      "input":{"shape":"ListLensesInput"},
      "output":{"shape":"ListLensesOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List the available lenses.</p>"
    },
    "ListMilestones":{
      "name":"ListMilestones",
      "http":{
        "method":"POST",
        "requestUri":"/workloads/{WorkloadId}/milestonesSummaries",
        "responseCode":200
      },
      "input":{"shape":"ListMilestonesInput"},
      "output":{"shape":"ListMilestonesOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List all milestones for an existing workload.</p>"
    },
    "ListNotifications":{
      "name":"ListNotifications",
      "http":{
        "method":"POST",
        "requestUri":"/notifications",
        "responseCode":200
      },
      "input":{"shape":"ListNotificationsInput"},
      "output":{"shape":"ListNotificationsOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List lens notifications.</p>"
    },
    "ListProfileNotifications":{
      "name":"ListProfileNotifications",
      "http":{
        "method":"GET",
        "requestUri":"/profileNotifications",
        "responseCode":200
      },
      "input":{"shape":"ListProfileNotificationsInput"},
      "output":{"shape":"ListProfileNotificationsOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List profile notifications.</p>"
    },
    "ListProfileShares":{
      "name":"ListProfileShares",
      "http":{
        "method":"GET",
        "requestUri":"/profiles/{ProfileArn}/shares",
        "responseCode":200
      },
      "input":{"shape":"ListProfileSharesInput"},
      "output":{"shape":"ListProfileSharesOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List profile shares.</p>"
    },
    "ListProfiles":{
      "name":"ListProfiles",
      "http":{
        "method":"GET",
        "requestUri":"/profileSummaries",
        "responseCode":200
      },
      "input":{"shape":"ListProfilesInput"},
      "output":{"shape":"ListProfilesOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List profiles.</p>"
    },
    "ListReviewTemplateAnswers":{
      "name":"ListReviewTemplateAnswers",
      "http":{
        "method":"GET",
        "requestUri":"/reviewTemplates/{TemplateArn}/lensReviews/{LensAlias}/answers",
        "responseCode":200
      },
      "input":{"shape":"ListReviewTemplateAnswersInput"},
      "output":{"shape":"ListReviewTemplateAnswersOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List the answers of a review template.</p>"
    },
    "ListReviewTemplates":{
      "name":"ListReviewTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/reviewTemplates",
        "responseCode":200
      },
      "input":{"shape":"ListReviewTemplatesInput"},
      "output":{"shape":"ListReviewTemplatesOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List review templates.</p>"
    },
    "ListShareInvitations":{
      "name":"ListShareInvitations",
      "http":{
        "method":"GET",
        "requestUri":"/shareInvitations",
        "responseCode":200
      },
      "input":{"shape":"ListShareInvitationsInput"},
      "output":{"shape":"ListShareInvitationsOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List the share invitations.</p> <p> <code>WorkloadNamePrefix</code>, <code>LensNamePrefix</code>, <code>ProfileNamePrefix</code>, and <code>TemplateNamePrefix</code> are mutually exclusive. Use the parameter that matches your <code>ShareResourceType</code>.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{WorkloadArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceInput"},
      "output":{"shape":"ListTagsForResourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>List the tags for a resource.</p> <note> <p>The WorkloadArn parameter can be a workload ARN, a custom lens ARN, a profile ARN, or review template ARN.</p> </note>"
    },
    "ListTemplateShares":{
      "name":"ListTemplateShares",
      "http":{
        "method":"GET",
        "requestUri":"/templates/shares/{TemplateArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTemplateSharesInput"},
      "output":{"shape":"ListTemplateSharesOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List review template shares.</p>"
    },
    "ListWorkloadShares":{
      "name":"ListWorkloadShares",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/shares",
        "responseCode":200
      },
      "input":{"shape":"ListWorkloadSharesInput"},
      "output":{"shape":"ListWorkloadSharesOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List the workload shares associated with the workload.</p>"
    },
    "ListWorkloads":{
      "name":"ListWorkloads",
      "http":{
        "method":"POST",
        "requestUri":"/workloadsSummaries",
        "responseCode":200
      },
      "input":{"shape":"ListWorkloadsInput"},
      "output":{"shape":"ListWorkloadsOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Paginated list of workloads.</p>"
    },
    "PutAgentRecommendationFeedback":{
      "name":"PutAgentRecommendationFeedback",
      "http":{
        "method":"PUT",
        "requestUri":"/api/v1/agent-recommendations/{recommendationArn}/feedback",
        "responseCode":200
      },
      "input":{"shape":"PutAgentRecommendationFeedbackRequest"},
      "output":{"shape":"PutAgentRecommendationFeedbackResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Submits user feedback on a recommendation to help improve future optimization suggestions and track implementation outcomes.</p>",
      "idempotent":true
    },
    "StartAgentRecommendationGeneration":{
      "name":"StartAgentRecommendationGeneration",
      "http":{
        "method":"POST",
        "requestUri":"/api/v1/agent-profiles/{profileArn}/generations",
        "responseCode":200
      },
      "input":{"shape":"StartAgentRecommendationGenerationRequest"},
      "output":{"shape":"StartAgentRecommendationGenerationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Initiates a new recommendation generation process for the specified optimization profile. This asynchronous operation analyzes your Amazon Web Services resources and generates optimization recommendations based on the configured pillars and scope. Use GetAgentRecommendationGeneration to check status.</p>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{WorkloadArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceInput"},
      "output":{"shape":"TagResourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Adds one or more tags to the specified resource.</p> <note> <p>The WorkloadArn parameter can be a workload ARN, a custom lens ARN, a profile ARN, or review template ARN.</p> </note>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{WorkloadArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceInput"},
      "output":{"shape":"UntagResourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes specified tags from a resource.</p> <note> <p>The WorkloadArn parameter can be a workload ARN, a custom lens ARN, a profile ARN, or review template ARN.</p> </note> <p>To specify multiple tags, use separate <b>tagKeys</b> parameters, for example:</p> <p> <code>DELETE /tags/WorkloadArn?tagKeys=key1&amp;tagKeys=key2</code> </p>"
    },
    "UpdateAgentContext":{
      "name":"UpdateAgentContext",
      "http":{
        "method":"PUT",
        "requestUri":"/api/v1/agent-profiles/{profileArn}/contexts/{id}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAgentContextRequest"},
      "output":{"shape":"UpdateAgentContextResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates an existing context associated with a profile.</p>",
      "idempotent":true
    },
    "UpdateAgentGoal":{
      "name":"UpdateAgentGoal",
      "http":{
        "method":"PUT",
        "requestUri":"/api/v1/agent-profiles/{profileArn}/goals/{id}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAgentGoalRequest"},
      "output":{"shape":"UpdateAgentGoalResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the pillars and title of an existing goal associated with a profile.</p>",
      "idempotent":true
    },
    "UpdateAgentProfile":{
      "name":"UpdateAgentProfile",
      "http":{
        "method":"PUT",
        "requestUri":"/api/v1/agent-profiles/{profileArn}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAgentProfileRequest"},
      "output":{"shape":"UpdateAgentProfileResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates an existing optimization profile's configuration, including its pillars, execution role, and aggregation settings.</p>",
      "idempotent":true
    },
    "UpdateAgentRecommendationStatus":{
      "name":"UpdateAgentRecommendationStatus",
      "http":{
        "method":"PATCH",
        "requestUri":"/api/v1/agent-recommendations/{recommendationArn}/status",
        "responseCode":200
      },
      "input":{"shape":"UpdateAgentRecommendationStatusRequest"},
      "output":{"shape":"UpdateAgentRecommendationStatusResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the status of a recommendation to track its progress through the implementation lifecycle.</p>",
      "idempotent":true
    },
    "UpdateAnswer":{
      "name":"UpdateAnswer",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}/answers/{QuestionId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAnswerInput"},
      "output":{"shape":"UpdateAnswerOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update the answer to a specific question in a workload review.</p>"
    },
    "UpdateGlobalSettings":{
      "name":"UpdateGlobalSettings",
      "http":{
        "method":"PATCH",
        "requestUri":"/global-settings",
        "responseCode":200
      },
      "input":{"shape":"UpdateGlobalSettingsInput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update whether the Amazon Web Services account is opted into organization sharing and discovery integration features.</p>"
    },
    "UpdateIntegration":{
      "name":"UpdateIntegration",
      "http":{
        "method":"POST",
        "requestUri":"/workloads/{WorkloadId}/updateIntegration",
        "responseCode":200
      },
      "input":{"shape":"UpdateIntegrationInput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update integration features.</p>"
    },
    "UpdateLensReview":{
      "name":"UpdateLensReview",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}",
        "responseCode":200
      },
      "input":{"shape":"UpdateLensReviewInput"},
      "output":{"shape":"UpdateLensReviewOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update lens review for a particular workload.</p>"
    },
    "UpdateProfile":{
      "name":"UpdateProfile",
      "http":{
        "method":"PATCH",
        "requestUri":"/profiles/{ProfileArn}",
        "responseCode":200
      },
      "input":{"shape":"UpdateProfileInput"},
      "output":{"shape":"UpdateProfileOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update a profile.</p>"
    },
    "UpdateReviewTemplate":{
      "name":"UpdateReviewTemplate",
      "http":{
        "method":"PATCH",
        "requestUri":"/reviewTemplates/{TemplateArn}",
        "responseCode":200
      },
      "input":{"shape":"UpdateReviewTemplateInput"},
      "output":{"shape":"UpdateReviewTemplateOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update a review template.</p>"
    },
    "UpdateReviewTemplateAnswer":{
      "name":"UpdateReviewTemplateAnswer",
      "http":{
        "method":"PATCH",
        "requestUri":"/reviewTemplates/{TemplateArn}/lensReviews/{LensAlias}/answers/{QuestionId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateReviewTemplateAnswerInput"},
      "output":{"shape":"UpdateReviewTemplateAnswerOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update a review template answer.</p>"
    },
    "UpdateReviewTemplateLensReview":{
      "name":"UpdateReviewTemplateLensReview",
      "http":{
        "method":"PATCH",
        "requestUri":"/reviewTemplates/{TemplateArn}/lensReviews/{LensAlias}",
        "responseCode":200
      },
      "input":{"shape":"UpdateReviewTemplateLensReviewInput"},
      "output":{"shape":"UpdateReviewTemplateLensReviewOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update a lens review associated with a review template.</p>"
    },
    "UpdateShareInvitation":{
      "name":"UpdateShareInvitation",
      "http":{
        "method":"PATCH",
        "requestUri":"/shareInvitations/{ShareInvitationId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateShareInvitationInput"},
      "output":{"shape":"UpdateShareInvitationOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update a workload or custom lens share invitation.</p> <note> <p>This API operation can be called independently of any resource. Previous documentation implied that a workload ARN must be specified.</p> </note>"
    },
    "UpdateWorkload":{
      "name":"UpdateWorkload",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateWorkloadInput"},
      "output":{"shape":"UpdateWorkloadOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update an existing workload.</p>"
    },
    "UpdateWorkloadShare":{
      "name":"UpdateWorkloadShare",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}/shares/{ShareId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateWorkloadShareInput"},
      "output":{"shape":"UpdateWorkloadShareOutput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update a workload share.</p>"
    },
    "UpgradeLensReview":{
      "name":"UpgradeLensReview",
      "http":{
        "method":"PUT",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}/upgrade",
        "responseCode":200
      },
      "input":{"shape":"UpgradeLensReviewInput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Upgrade lens review for a particular workload.</p>"
    },
    "UpgradeProfileVersion":{
      "name":"UpgradeProfileVersion",
      "http":{
        "method":"PUT",
        "requestUri":"/workloads/{WorkloadId}/profiles/{ProfileArn}/upgrade",
        "responseCode":200
      },
      "input":{"shape":"UpgradeProfileVersionInput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Upgrade a profile.</p>"
    },
    "UpgradeReviewTemplateLensReview":{
      "name":"UpgradeReviewTemplateLensReview",
      "http":{
        "method":"PUT",
        "requestUri":"/reviewTemplates/{TemplateArn}/lensReviews/{LensAlias}/upgrade",
        "responseCode":200
      },
      "input":{"shape":"UpgradeReviewTemplateLensReviewInput"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Upgrade the lens review of a review template.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"ExceptionMessage"}
      },
      "documentation":"<p>User does not have sufficient access to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccountId":{
      "type":"string",
      "pattern":"\\d{12}"
    },
    "AccountJiraConfigurationInput":{
      "type":"structure",
      "members":{
        "IssueManagementStatus":{
          "shape":"AccountJiraIssueManagementStatus",
          "documentation":"<p>Account-level: Jira issue management status.</p>"
        },
        "IssueManagementType":{
          "shape":"IssueManagementType",
          "documentation":"<p>Account-level: Jira issue management type.</p>"
        },
        "JiraProjectKey":{
          "shape":"JiraProjectKey",
          "documentation":"<p>Account-level: Jira project key to sync workloads to.</p>"
        },
        "IntegrationStatus":{
          "shape":"IntegrationStatusInput",
          "documentation":"<p>Account-level: Configuration status of the Jira integration.</p>"
        }
      },
      "documentation":"<p>Account-level: Input for the Jira configuration.</p>"
    },
    "AccountJiraConfigurationOutput":{
      "type":"structure",
      "members":{
        "IntegrationStatus":{
          "shape":"IntegrationStatus",
          "documentation":"<p>Account-level: Configuration status of the Jira integration.</p>"
        },
        "IssueManagementStatus":{
          "shape":"AccountJiraIssueManagementStatus",
          "documentation":"<p>Account-level: Jira issue management status.</p>"
        },
        "IssueManagementType":{
          "shape":"IssueManagementType",
          "documentation":"<p>Account-level: Jira issue management type.</p>"
        },
        "Subdomain":{
          "shape":"Subdomain",
          "documentation":"<p>Account-level: Jira subdomain URL.</p>"
        },
        "JiraProjectKey":{
          "shape":"JiraProjectKey",
          "documentation":"<p>Account-level: Jira project key to sync workloads to.</p>"
        },
        "StatusMessage":{
          "shape":"StatusMessage",
          "documentation":"<p>Account-level: Status message on configuration of the Jira integration.</p>"
        }
      },
      "documentation":"<p>Account-level: Output configuration of the Jira integration.</p>"
    },
    "AccountJiraIssueManagementStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "AccountSummary":{
      "type":"map",
      "key":{"shape":"CheckStatus"},
      "value":{"shape":"CheckStatusCount"},
      "documentation":"<p>Account summary for a Well-Architected best practice in relation to Trusted Advisor checks.</p>"
    },
    "AdditionalResourceType":{
      "type":"string",
      "enum":[
        "HELPFUL_RESOURCE",
        "IMPROVEMENT_PLAN"
      ]
    },
    "AdditionalResources":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"AdditionalResourceType",
          "documentation":"<p>Type of additional resource for a custom lens.</p>"
        },
        "Content":{
          "shape":"Urls",
          "documentation":"<p>The URLs for additional resources, either helpful resources or improvement plans, for a custom lens. Up to five additional URLs can be specified.</p>"
        }
      },
      "documentation":"<p>The choice level additional resources for a custom lens.</p> <p>This field does not apply to Amazon Web Services official lenses.</p>"
    },
    "AdditionalResourcesList":{
      "type":"list",
      "member":{"shape":"AdditionalResources"}
    },
    "AgentProfileArn":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"arn:aws([a-z0-9-]+)?:wellarchitected:[a-z0-9-]{6,64}:\\d{12}:agent-profile/([a-zA-Z0-9_-]+)"
    },
    "AgentProfileSummaries":{
      "type":"list",
      "member":{"shape":"AgentProfileSummary"}
    },
    "AgentProfileSummary":{
      "type":"structure",
      "required":[
        "name",
        "pillars",
        "executionRoleArn",
        "aggregationConfiguration",
        "arn",
        "createdBy",
        "createdAt"
      ],
      "members":{
        "name":{
          "shape":"AgentProfileSummaryNameString",
          "documentation":"<p>The system name of the profile.</p>"
        },
        "displayName":{
          "shape":"AgentProfileSummaryDisplayNameString",
          "documentation":"<p>The display name of the profile shown to users.</p>"
        },
        "description":{
          "shape":"AgentProfileSummaryDescriptionString",
          "documentation":"<p>A description of the profile.</p>"
        },
        "businessOverview":{
          "shape":"AgentProfileSummaryBusinessOverviewString",
          "documentation":"<p>The business overview for this profile.</p>"
        },
        "pillars":{
          "shape":"Pillars",
          "documentation":"<p>The Well-Architected Tool Framework pillars associated with this profile.</p>"
        },
        "deletionProtection":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether deletion protection is enabled for the profile.</p>"
        },
        "executionRoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The ARN of the IAM execution role used for recommendation actions.</p>"
        },
        "aggregationConfiguration":{
          "shape":"AggregationConfigurations",
          "documentation":"<p>The aggregation configuration that defines which Amazon Web Services accounts and Regions to analyze.</p>"
        },
        "arn":{
          "shape":"AgentProfileArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the optimization profile.</p>"
        },
        "eligibleForScheduledGeneration":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the profile is valid for scheduled recommendation generation.</p>"
        },
        "eligibleForArchitectureGeneration":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the profile is valid for manual architecture generation.</p>"
        },
        "fieldErrors":{
          "shape":"FieldErrors",
          "documentation":"<p>A map of field paths to error messages for invalid or missing input fields.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>The tags associated with the profile.</p>"
        },
        "createdBy":{
          "shape":"AgentProfileSummaryCreatedByString",
          "documentation":"<p>The identifier of the user or system that created this profile.</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the profile was created.</p>"
        },
        "lastModifiedBy":{
          "shape":"AgentProfileSummaryLastModifiedByString",
          "documentation":"<p>The identifier of the user or system that last modified this profile.</p>"
        },
        "lastModifiedAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the profile was last modified.</p>"
        }
      },
      "documentation":"<p>Summary of an optimization profile, including its configuration, metadata, and audit information.</p>"
    },
    "AgentProfileSummaryBusinessOverviewString":{
      "type":"string",
      "max":512,
      "min":0,
      "pattern":"(?:(?!\\$\\{[a-zA-Z]+:)[\\P{C}])*",
      "sensitive":true
    },
    "AgentProfileSummaryCreatedByString":{
      "type":"string",
      "max":128,
      "min":1
    },
    "AgentProfileSummaryDescriptionString":{
      "type":"string",
      "max":512,
      "min":0,
      "pattern":"(?:(?!\\$\\{[a-zA-Z]+:)[\\P{C}])*",
      "sensitive":true
    },
    "AgentProfileSummaryDisplayNameString":{
      "type":"string",
      "max":128,
      "min":3,
      "pattern":"(?:(?!\\$\\{[a-zA-Z]+:)[\\P{C}])+",
      "sensitive":true
    },
    "AgentProfileSummaryLastModifiedByString":{
      "type":"string",
      "max":128,
      "min":1
    },
    "AgentProfileSummaryNameString":{
      "type":"string",
      "max":128,
      "min":3,
      "pattern":"[a-zA-Z0-9_-]+"
    },
    "AgentRecommendationArn":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"arn:aws([a-z0-9-]+)?:wellarchitected:[a-z0-9-]{6,64}:\\d{12}:agent-recommendation/[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "AgentRecommendationGenerationSummaries":{
      "type":"list",
      "member":{"shape":"AgentRecommendationGenerationSummary"}
    },
    "AgentRecommendationGenerationSummary":{
      "type":"structure",
      "required":[
        "id",
        "profileArn",
        "status",
        "createdBy",
        "createdAt"
      ],
      "members":{
        "id":{
          "shape":"UUID",
          "documentation":"<p>The unique identifier of the recommendation generation.</p>"
        },
        "profileArn":{
          "shape":"AgentProfileArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the profile used for this generation.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the recommendation generation.</p>"
        },
        "status":{
          "shape":"GenerationStatus",
          "documentation":"<p>The current status of the recommendation generation.</p>"
        },
        "estimatedCompletionTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The estimated time for the generation to complete.</p>"
        },
        "createdBy":{
          "shape":"AgentRecommendationGenerationSummaryCreatedByString",
          "documentation":"<p>The identifier of the user or system that started this generation.</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the generation was started.</p>"
        },
        "lastModifiedBy":{
          "shape":"AgentRecommendationGenerationSummaryLastModifiedByString",
          "documentation":"<p>The identifier of the user or system that last modified this generation.</p>"
        },
        "lastModifiedAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the generation was last modified.</p>"
        }
      },
      "documentation":"<p>Summary of a recommendation generation process initiated through the agent API.</p>"
    },
    "AgentRecommendationGenerationSummaryCreatedByString":{
      "type":"string",
      "max":128,
      "min":1
    },
    "AgentRecommendationGenerationSummaryLastModifiedByString":{
      "type":"string",
      "max":128,
      "min":1
    },
    "AgentRecommendationItemSummaries":{
      "type":"list",
      "member":{"shape":"AgentRecommendationItemSummary"}
    },
    "AgentRecommendationItemSummary":{
      "type":"structure",
      "required":[
        "id",
        "recommendationArn",
        "type",
        "metadata",
        "createdBy",
        "createdAt"
      ],
      "members":{
        "id":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the recommendation item.</p>"
        },
        "recommendationArn":{
          "shape":"RecommendationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the associated recommendation.</p>"
        },
        "type":{
          "shape":"RecommendationItemType",
          "documentation":"<p>The type of the recommendation item.</p>"
        },
        "metadata":{
          "shape":"Document",
          "documentation":"<p>Metadata containing a snapshot of the resource or recommendation at the time of generation.</p>"
        },
        "createdBy":{
          "shape":"AgentRecommendationItemSummaryCreatedByString",
          "documentation":"<p>The identifier of the user or system that created this recommendation item.</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the recommendation item was created.</p>"
        },
        "lastModifiedBy":{
          "shape":"AgentRecommendationItemSummaryLastModifiedByString",
          "documentation":"<p>The identifier of the user or system that last modified this recommendation item.</p>"
        },
        "lastModifiedAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the recommendation item was last modified.</p>"
        }
      },
      "documentation":"<p>Summary of an agent recommendation item, representing an Amazon Web Services resource or recommendation affected by the optimization recommendation.</p>"
    },
    "AgentRecommendationItemSummaryCreatedByString":{
      "type":"string",
      "max":128,
      "min":1
    },
    "AgentRecommendationItemSummaryLastModifiedByString":{
      "type":"string",
      "max":128,
      "min":1
    },
    "AgentRecommendationRemediation":{
      "type":"structure",
      "required":[
        "recommendationArn",
        "type",
        "steps",
        "createdBy",
        "createdAt"
      ],
      "members":{
        "recommendationArn":{
          "shape":"RecommendationArn",
          "documentation":"<p>The ARN of the recommendation that this remediation belongs to.</p>"
        },
        "type":{
          "shape":"RemediationType",
          "documentation":"<p>The remediation method.</p>"
        },
        "steps":{
          "shape":"RemediationSteps",
          "documentation":"<p>The procedural steps to perform the remediation.</p>"
        },
        "resourceLinks":{
          "shape":"ResourceLinks",
          "documentation":"<p>External references associated with the steps.</p>"
        },
        "createdBy":{
          "shape":"AgentRecommendationRemediationCreatedByString",
          "documentation":"<p>The identifier of the user or system that created this remediation.</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the remediation was created.</p>"
        },
        "lastModifiedBy":{
          "shape":"AgentRecommendationRemediationLastModifiedByString",
          "documentation":"<p>The identifier of the user or system that last modified this remediation.</p>"
        },
        "lastModifiedAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the remediation was last modified.</p>"
        }
      },
      "documentation":"<p>The core fields for a remediation.</p>"
    },
    "AgentRecommendationRemediationCreatedByString":{
      "type":"string",
      "max":128,
      "min":1
    },
    "AgentRecommendationRemediationLastModifiedByString":{
      "type":"string",
      "max":128,
      "min":1
    },
    "AgentRecommendationRemediations":{
      "type":"list",
      "member":{"shape":"AgentRecommendationRemediation"}
    },
    "AgentRecommendationSummaries":{
      "type":"list",
      "member":{"shape":"AgentRecommendationSummary"}
    },
    "AgentRecommendationSummary":{
      "type":"structure",
      "required":[
        "recommendationArn",
        "profileArn",
        "title",
        "description",
        "type",
        "pillar",
        "priority",
        "effort",
        "status",
        "state",
        "impact",
        "roi",
        "createdBy",
        "createdAt"
      ],
      "members":{
        "recommendationArn":{
          "shape":"RecommendationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the recommendation.</p>"
        },
        "profileArn":{
          "shape":"AgentProfileArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the associated profile.</p>"
        },
        "title":{
          "shape":"AgentRecommendationSummaryTitleString",
          "documentation":"<p>The title of the recommendation.</p>"
        },
        "description":{
          "shape":"AgentRecommendationSummaryDescriptionString",
          "documentation":"<p>A description of the recommendation.</p>"
        },
        "type":{
          "shape":"RecommendationType",
          "documentation":"<p>The type of the recommendation.</p>"
        },
        "pillar":{
          "shape":"Pillar",
          "documentation":"<p>The Well-Architected Tool Framework pillar that the recommendation addresses.</p>"
        },
        "priority":{
          "shape":"Priority",
          "documentation":"<p>The priority of the recommendation.</p>"
        },
        "effort":{
          "shape":"Effort",
          "documentation":"<p>The effort required to implement the recommendation.</p>"
        },
        "status":{
          "shape":"RecommendationStatus",
          "documentation":"<p>The current status of the recommendation.</p>"
        },
        "state":{
          "shape":"RecommendationState",
          "documentation":"<p>The current state of the recommendation.</p>"
        },
        "updateReason":{
          "shape":"AgentRecommendationSummaryUpdateReasonString",
          "documentation":"<p>The free-text reason associated with the recommendation's most recent status update.</p>"
        },
        "impact":{
          "shape":"ImpactCategory",
          "documentation":"<p>The severity of the recommendation's impact.</p>"
        },
        "roi":{
          "shape":"Roi",
          "documentation":"<p>The return on investment estimate for the recommendation.</p>"
        },
        "numberOfResources":{
          "shape":"Integer",
          "documentation":"<p>The number of Amazon Web Services resources this recommendation affects.</p>"
        },
        "awsServices":{
          "shape":"StringList",
          "documentation":"<p>The Amazon Web Services services that the recommendation applies to.</p>"
        },
        "businessUnits":{
          "shape":"StringList",
          "documentation":"<p>The business units that own the affected resources.</p>"
        },
        "applications":{
          "shape":"StringList",
          "documentation":"<p>The applications that the recommendation targets.</p>"
        },
        "createdBy":{
          "shape":"AgentRecommendationSummaryCreatedByString",
          "documentation":"<p>The identifier of the user or system that created this recommendation.</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the recommendation was created.</p>"
        },
        "lastModifiedBy":{
          "shape":"AgentRecommendationSummaryLastModifiedByString",
          "documentation":"<p>The identifier of the user or system that last modified this recommendation.</p>"
        },
        "lastModifiedAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the recommendation was last modified.</p>"
        }
      },
      "documentation":"<p>Summary of an agent optimization recommendation returned by list operations.</p>"
    },
    "AgentRecommendationSummaryCreatedByString":{
      "type":"string",
      "max":128,
      "min":1
    },
    "AgentRecommendationSummaryDescriptionString":{
      "type":"string",
      "max":500,
      "min":80,
      "sensitive":true
    },
    "AgentRecommendationSummaryLastModifiedByString":{
      "type":"string",
      "max":128,
      "min":1
    },
    "AgentRecommendationSummaryTitleString":{
      "type":"string",
      "max":120,
      "min":3,
      "sensitive":true
    },
    "AgentRecommendationSummaryUpdateReasonString":{
      "type":"string",
      "max":4096,
      "min":1,
      "sensitive":true
    },
    "AggregationConfiguration":{
      "type":"structure",
      "required":[
        "accountId",
        "regions",
        "accessRoleArn"
      ],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID to analyze.</p>"
        },
        "regions":{
          "shape":"Regions",
          "documentation":"<p>A list of Amazon Web Services Regions to include in the analysis.</p>"
        },
        "accessRoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The ARN of an IAM role to assume for resource analysis in this account.</p>"
        }
      },
      "documentation":"<p>Configuration settings that define the scope of Amazon Web Services resources to analyze for optimization recommendations.</p>"
    },
    "AggregationConfigurations":{
      "type":"list",
      "member":{"shape":"AggregationConfiguration"},
      "max":100,
      "min":0
    },
    "Answer":{
      "type":"structure",
      "members":{
        "QuestionId":{"shape":"QuestionId"},
        "PillarId":{"shape":"PillarId"},
        "QuestionTitle":{"shape":"QuestionTitle"},
        "QuestionDescription":{"shape":"QuestionDescription"},
        "ImprovementPlanUrl":{"shape":"ImprovementPlanUrl"},
        "HelpfulResourceUrl":{"shape":"HelpfulResourceUrl"},
        "HelpfulResourceDisplayText":{
          "shape":"DisplayText",
          "documentation":"<p>The helpful resource text to be displayed for a custom lens.</p> <p>This field does not apply to Amazon Web Services official lenses.</p>"
        },
        "Choices":{"shape":"Choices"},
        "SelectedChoices":{"shape":"SelectedChoices"},
        "ChoiceAnswers":{
          "shape":"ChoiceAnswers",
          "documentation":"<p>A list of selected choices to a question in your workload.</p>"
        },
        "IsApplicable":{"shape":"IsApplicable"},
        "Risk":{"shape":"Risk"},
        "Notes":{"shape":"Notes"},
        "Reason":{
          "shape":"AnswerReason",
          "documentation":"<p>The reason why the question is not applicable to your workload.</p>"
        },
        "JiraConfiguration":{
          "shape":"JiraConfiguration",
          "documentation":"<p>Configuration of the Jira integration.</p>"
        }
      },
      "documentation":"<p>An answer of the question.</p>"
    },
    "AnswerReason":{
      "type":"string",
      "enum":[
        "OUT_OF_SCOPE",
        "BUSINESS_PRIORITIES",
        "ARCHITECTURE_CONSTRAINTS",
        "OTHER",
        "NONE"
      ]
    },
    "AnswerSummaries":{
      "type":"list",
      "member":{"shape":"AnswerSummary"},
      "documentation":"<p>List of answer summaries of lens review in a workload.</p>"
    },
    "AnswerSummary":{
      "type":"structure",
      "members":{
        "QuestionId":{"shape":"QuestionId"},
        "PillarId":{"shape":"PillarId"},
        "QuestionTitle":{"shape":"QuestionTitle"},
        "Choices":{"shape":"Choices"},
        "SelectedChoices":{"shape":"SelectedChoices"},
        "ChoiceAnswerSummaries":{
          "shape":"ChoiceAnswerSummaries",
          "documentation":"<p>A list of selected choices to a question in your workload.</p>"
        },
        "IsApplicable":{"shape":"IsApplicable"},
        "Risk":{"shape":"Risk"},
        "Reason":{
          "shape":"AnswerReason",
          "documentation":"<p>The reason why a choice is non-applicable to a question in your workload.</p>"
        },
        "QuestionType":{
          "shape":"QuestionType",
          "documentation":"<p>The type of the question.</p>"
        },
        "JiraConfiguration":{
          "shape":"JiraConfiguration",
          "documentation":"<p>Configuration of the Jira integration.</p>"
        }
      },
      "documentation":"<p>An answer summary of a lens review in a workload.</p>"
    },
    "ApplicationArn":{
      "type":"string",
      "max":2084,
      "min":0,
      "pattern":"arn:aws[-a-z]*:servicecatalog:[a-z]{2}(-gov)?-[a-z]+-\\d:\\d{12}:/applications/[a-z0-9]+"
    },
    "ApplicationType":{
      "type":"string",
      "enum":[
        "SAS",
        "DESKTOP_APPLICATION",
        "OTHER"
      ]
    },
    "AssociateLensesInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "LensAliases"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "LensAliases":{"shape":"LensAliases"}
      },
      "documentation":"<p>Input to associate lens reviews.</p>"
    },
    "AssociateProfilesInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "ProfileArns"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "ProfileArns":{
          "shape":"ProfileArns",
          "documentation":"<p>The list of profile ARNs to associate with the workload.</p>"
        }
      }
    },
    "AwsAccountId":{
      "type":"string",
      "documentation":"<p>An Amazon Web Services account ID.</p>",
      "max":12,
      "min":12,
      "pattern":"[0-9]{12}"
    },
    "AwsRegion":{
      "type":"string",
      "documentation":"<p>An Amazon Web Services Region, for example, <code>us-west-2</code> or <code>ap-northeast-1</code>.</p>",
      "max":100,
      "min":0
    },
    "Base64String":{
      "type":"string",
      "documentation":"<p>The Base64-encoded string representation of a lens review report.</p> <p>This data can be used to create a PDF file.</p> <p>Only returned by <a>GetConsolidatedReport</a> when <code>PDF</code> format is requested.</p>"
    },
    "BestPractice":{
      "type":"structure",
      "members":{
        "ChoiceId":{"shape":"ChoiceId"},
        "ChoiceTitle":{"shape":"ChoiceTitle"}
      },
      "documentation":"<p>A best practice, or question choice, that has been identified as a risk in this question.</p>"
    },
    "BestPractices":{
      "type":"list",
      "member":{"shape":"BestPractice"}
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "CheckDescription":{"type":"string"},
    "CheckDetail":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"CheckId",
          "documentation":"<p>Trusted Advisor check ID.</p>"
        },
        "Name":{
          "shape":"CheckName",
          "documentation":"<p>Trusted Advisor check name.</p>"
        },
        "Description":{
          "shape":"CheckDescription",
          "documentation":"<p>Trusted Advisor check description.</p>"
        },
        "Provider":{
          "shape":"CheckProvider",
          "documentation":"<p>Provider of the check related to the best practice.</p>"
        },
        "LensArn":{
          "shape":"LensArn",
          "documentation":"<p>Well-Architected Lens ARN associated to the check.</p>"
        },
        "PillarId":{"shape":"PillarId"},
        "QuestionId":{"shape":"QuestionId"},
        "ChoiceId":{"shape":"ChoiceId"},
        "Status":{
          "shape":"CheckStatus",
          "documentation":"<p>Status associated to the check.</p>"
        },
        "AccountId":{"shape":"AwsAccountId"},
        "FlaggedResources":{
          "shape":"FlaggedResources",
          "documentation":"<p>Count of flagged resources associated to the check.</p>"
        },
        "Reason":{
          "shape":"CheckFailureReason",
[...]
