{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2023-10-12",
    "endpointPrefix":"deadline",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"AWSDeadlineCloud",
    "serviceId":"deadline",
    "signatureVersion":"v4",
    "signingName":"deadline",
    "uid":"deadline-2023-10-12"
  },
  "operations":{
    "AssociateMemberToFarm":{
      "name":"AssociateMemberToFarm",
      "http":{
        "method":"PUT",
        "requestUri":"/2023-10-12/farms/{farmId}/members/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"AssociateMemberToFarmRequest"},
      "output":{"shape":"AssociateMemberToFarmResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Assigns a farm membership level to a member.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "AssociateMemberToFleet":{
      "name":"AssociateMemberToFleet",
      "http":{
        "method":"PUT",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/members/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"AssociateMemberToFleetRequest"},
      "output":{"shape":"AssociateMemberToFleetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Assigns a fleet membership level to a member.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "AssociateMemberToJob":{
      "name":"AssociateMemberToJob",
      "http":{
        "method":"PUT",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/members/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"AssociateMemberToJobRequest"},
      "output":{"shape":"AssociateMemberToJobResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Assigns a job membership level to a member</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "AssociateMemberToQueue":{
      "name":"AssociateMemberToQueue",
      "http":{
        "method":"PUT",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/members/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"AssociateMemberToQueueRequest"},
      "output":{"shape":"AssociateMemberToQueueResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Assigns a queue membership level to a member</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "AssumeFleetRoleForRead":{
      "name":"AssumeFleetRoleForRead",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/read-roles",
        "responseCode":200
      },
      "input":{"shape":"AssumeFleetRoleForReadRequest"},
      "output":{"shape":"AssumeFleetRoleForReadResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Get Amazon Web Services credentials from the fleet role. The IAM permissions of the credentials are scoped down to have read-only access.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "AssumeFleetRoleForWorker":{
      "name":"AssumeFleetRoleForWorker",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/fleet-roles",
        "responseCode":200
      },
      "input":{"shape":"AssumeFleetRoleForWorkerRequest"},
      "output":{"shape":"AssumeFleetRoleForWorkerResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Get credentials from the fleet role for a worker.</p>",
      "endpoint":{"hostPrefix":"scheduling."}
    },
    "AssumeQueueRoleForRead":{
      "name":"AssumeQueueRoleForRead",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/read-roles",
        "responseCode":200
      },
      "input":{"shape":"AssumeQueueRoleForReadRequest"},
      "output":{"shape":"AssumeQueueRoleForReadResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets Amazon Web Services credentials from the queue role. The IAM permissions of the credentials are scoped down to have read-only access.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "AssumeQueueRoleForUser":{
      "name":"AssumeQueueRoleForUser",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/user-roles",
        "responseCode":200
      },
      "input":{"shape":"AssumeQueueRoleForUserRequest"},
      "output":{"shape":"AssumeQueueRoleForUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Allows a user to assume a role for a queue.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "AssumeQueueRoleForWorker":{
      "name":"AssumeQueueRoleForWorker",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/queue-roles",
        "responseCode":200
      },
      "input":{"shape":"AssumeQueueRoleForWorkerRequest"},
      "output":{"shape":"AssumeQueueRoleForWorkerResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Allows a worker to assume a queue role.</p>",
      "endpoint":{"hostPrefix":"scheduling."}
    },
    "BatchGetJobEntity":{
      "name":"BatchGetJobEntity",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/batchGetJobEntity",
        "responseCode":200
      },
      "input":{"shape":"BatchGetJobEntityRequest"},
      "output":{"shape":"BatchGetJobEntityResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Get batched job details for a worker.</p>",
      "endpoint":{"hostPrefix":"scheduling."}
    },
    "CopyJobTemplate":{
      "name":"CopyJobTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/template",
        "responseCode":200
      },
      "input":{"shape":"CopyJobTemplateRequest"},
      "output":{"shape":"CopyJobTemplateResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Copies a job template to an Amazon S3 bucket.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "CreateBudget":{
      "name":"CreateBudget",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/budgets",
        "responseCode":200
      },
      "input":{"shape":"CreateBudgetRequest"},
      "output":{"shape":"CreateBudgetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a budget to set spending thresholds for your rendering activity.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateFarm":{
      "name":"CreateFarm",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms",
        "responseCode":200
      },
      "input":{"shape":"CreateFarmRequest"},
      "output":{"shape":"CreateFarmResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a farm to allow space for queues and fleets. Farms are the space where the components of your renders gather and are pieced together in the cloud. Farms contain budgets and allow you to enforce permissions. Deadline Cloud farms are a useful container for large projects.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateFleet":{
      "name":"CreateFleet",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets",
        "responseCode":200
      },
      "input":{"shape":"CreateFleetRequest"},
      "output":{"shape":"CreateFleetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a fleet. Fleets gather information relating to compute, or capacity, for renders within your farms. You can choose to manage your own capacity or opt to have fleets fully managed by Deadline Cloud.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateJob":{
      "name":"CreateJob",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs",
        "responseCode":201
      },
      "input":{"shape":"CreateJobRequest"},
      "output":{"shape":"CreateJobResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a job. A job is a render submission submitted by a user. It contains specific job properties outlined as steps and tasks.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateLicenseEndpoint":{
      "name":"CreateLicenseEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/license-endpoints",
        "responseCode":200
      },
      "input":{"shape":"CreateLicenseEndpointRequest"},
      "output":{"shape":"CreateLicenseEndpointResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a license endpoint to integrate your various licensed software used for rendering on Deadline Cloud.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateMonitor":{
      "name":"CreateMonitor",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/monitors",
        "responseCode":200
      },
      "input":{"shape":"CreateMonitorRequest"},
      "output":{"shape":"CreateMonitorResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an Amazon Web Services Deadline Cloud monitor that you can use to view your farms, queues, and fleets. After you submit a job, you can track the progress of the tasks and steps that make up the job, and then download the job's results. </p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateQueue":{
      "name":"CreateQueue",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/queues",
        "responseCode":200
      },
      "input":{"shape":"CreateQueueRequest"},
      "output":{"shape":"CreateQueueResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a queue to coordinate the order in which jobs run on a farm. A queue can also specify where to pull resources and indicate where to output completed jobs.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateQueueEnvironment":{
      "name":"CreateQueueEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/environments",
        "responseCode":200
      },
      "input":{"shape":"CreateQueueEnvironmentRequest"},
      "output":{"shape":"CreateQueueEnvironmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an environment for a queue that defines how jobs in the queue run.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateQueueFleetAssociation":{
      "name":"CreateQueueFleetAssociation",
      "http":{
        "method":"PUT",
        "requestUri":"/2023-10-12/farms/{farmId}/queue-fleet-associations",
        "responseCode":200
      },
      "input":{"shape":"CreateQueueFleetAssociationRequest"},
      "output":{"shape":"CreateQueueFleetAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Creates an association between a queue and a fleet.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateStorageProfile":{
      "name":"CreateStorageProfile",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/storage-profiles",
        "responseCode":200
      },
      "input":{"shape":"CreateStorageProfileRequest"},
      "output":{"shape":"CreateStorageProfileResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a storage profile that specifies the operating system, file type, and file location of resources used on a farm.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateWorker":{
      "name":"CreateWorker",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers",
        "responseCode":200
      },
      "input":{"shape":"CreateWorkerRequest"},
      "output":{"shape":"CreateWorkerResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Creates a worker. A worker tells your instance how much processing power (vCPU), and memory (GiB) you’ll need to assemble the digital assets held within a particular instance. You can specify certain instance types to use, or let the worker know which instances types to exclude.</p>",
      "endpoint":{"hostPrefix":"scheduling."},
      "idempotent":true
    },
    "DeleteBudget":{
      "name":"DeleteBudget",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/budgets/{budgetId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteBudgetRequest"},
      "output":{"shape":"DeleteBudgetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a budget.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteFarm":{
      "name":"DeleteFarm",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteFarmRequest"},
      "output":{"shape":"DeleteFarmResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a farm.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteFleet":{
      "name":"DeleteFleet",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteFleetRequest"},
      "output":{"shape":"DeleteFleetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a fleet.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteLicenseEndpoint":{
      "name":"DeleteLicenseEndpoint",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/license-endpoints/{licenseEndpointId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteLicenseEndpointRequest"},
      "output":{"shape":"DeleteLicenseEndpointResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a license endpoint.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteMeteredProduct":{
      "name":"DeleteMeteredProduct",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/license-endpoints/{licenseEndpointId}/metered-products/{productId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteMeteredProductRequest"},
      "output":{"shape":"DeleteMeteredProductResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a metered product.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteMonitor":{
      "name":"DeleteMonitor",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/monitors/{monitorId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteMonitorRequest"},
      "output":{"shape":"DeleteMonitorResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Removes a Deadline Cloud monitor. After you delete a monitor, you can create a new one and attach farms to the monitor.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteQueue":{
      "name":"DeleteQueue",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteQueueRequest"},
      "output":{"shape":"DeleteQueueResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a queue.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteQueueEnvironment":{
      "name":"DeleteQueueEnvironment",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/environments/{queueEnvironmentId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteQueueEnvironmentRequest"},
      "output":{"shape":"DeleteQueueEnvironmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a queue environment.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteQueueFleetAssociation":{
      "name":"DeleteQueueFleetAssociation",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/queue-fleet-associations/{queueId}/{fleetId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteQueueFleetAssociationRequest"},
      "output":{"shape":"DeleteQueueFleetAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a queue-fleet association.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteStorageProfile":{
      "name":"DeleteStorageProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/storage-profiles/{storageProfileId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteStorageProfileRequest"},
      "output":{"shape":"DeleteStorageProfileResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a storage profile.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteWorker":{
      "name":"DeleteWorker",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteWorkerRequest"},
      "output":{"shape":"DeleteWorkerResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a worker.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DisassociateMemberFromFarm":{
      "name":"DisassociateMemberFromFarm",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/members/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"DisassociateMemberFromFarmRequest"},
      "output":{"shape":"DisassociateMemberFromFarmResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Disassociates a member from a farm.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DisassociateMemberFromFleet":{
      "name":"DisassociateMemberFromFleet",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/members/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"DisassociateMemberFromFleetRequest"},
      "output":{"shape":"DisassociateMemberFromFleetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Disassociates a member from a fleet.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DisassociateMemberFromJob":{
      "name":"DisassociateMemberFromJob",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/members/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"DisassociateMemberFromJobRequest"},
      "output":{"shape":"DisassociateMemberFromJobResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Disassociates a member from a job.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DisassociateMemberFromQueue":{
      "name":"DisassociateMemberFromQueue",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/members/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"DisassociateMemberFromQueueRequest"},
      "output":{"shape":"DisassociateMemberFromQueueResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Disassociates a member from a queue.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "GetBudget":{
      "name":"GetBudget",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/budgets/{budgetId}",
        "responseCode":200
      },
      "input":{"shape":"GetBudgetRequest"},
      "output":{"shape":"GetBudgetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Get a budget.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetFarm":{
      "name":"GetFarm",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}",
        "responseCode":200
      },
      "input":{"shape":"GetFarmRequest"},
      "output":{"shape":"GetFarmResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Get a farm.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetFleet":{
      "name":"GetFleet",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}",
        "responseCode":200
      },
      "input":{"shape":"GetFleetRequest"},
      "output":{"shape":"GetFleetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Get a fleet.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetJob":{
      "name":"GetJob",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"GetJobRequest"},
      "output":{"shape":"GetJobResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a Deadline Cloud job.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetLicenseEndpoint":{
      "name":"GetLicenseEndpoint",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/license-endpoints/{licenseEndpointId}",
        "responseCode":200
      },
      "input":{"shape":"GetLicenseEndpointRequest"},
      "output":{"shape":"GetLicenseEndpointResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a licence endpoint.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetMonitor":{
      "name":"GetMonitor",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/monitors/{monitorId}",
        "responseCode":200
      },
      "input":{"shape":"GetMonitorRequest"},
      "output":{"shape":"GetMonitorResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets information about the specified monitor.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetQueue":{
      "name":"GetQueue",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}",
        "responseCode":200
      },
      "input":{"shape":"GetQueueRequest"},
      "output":{"shape":"GetQueueResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a queue.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetQueueEnvironment":{
      "name":"GetQueueEnvironment",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/environments/{queueEnvironmentId}",
        "responseCode":200
      },
      "input":{"shape":"GetQueueEnvironmentRequest"},
      "output":{"shape":"GetQueueEnvironmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a queue environment.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetQueueFleetAssociation":{
      "name":"GetQueueFleetAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queue-fleet-associations/{queueId}/{fleetId}",
        "responseCode":200
      },
      "input":{"shape":"GetQueueFleetAssociationRequest"},
      "output":{"shape":"GetQueueFleetAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a queue-fleet association.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetSession":{
      "name":"GetSession",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/sessions/{sessionId}",
        "responseCode":200
      },
      "input":{"shape":"GetSessionRequest"},
      "output":{"shape":"GetSessionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a session.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetSessionAction":{
      "name":"GetSessionAction",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/session-actions/{sessionActionId}",
        "responseCode":200
      },
      "input":{"shape":"GetSessionActionRequest"},
      "output":{"shape":"GetSessionActionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a session action for the job.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetSessionsStatisticsAggregation":{
      "name":"GetSessionsStatisticsAggregation",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/sessions-statistics-aggregation",
        "responseCode":200
      },
      "input":{"shape":"GetSessionsStatisticsAggregationRequest"},
      "output":{"shape":"GetSessionsStatisticsAggregationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a set of statistics for queues or farms. Before you can call the <code>GetSessionStatisticsAggregation</code> operation, you must first call the <code>StartSessionsStatisticsAggregation</code> operation. Statistics are available for 1 hour after you call the <code>StartSessionsStatisticsAggregation</code> operation.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetStep":{
      "name":"GetStep",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}",
        "responseCode":200
      },
      "input":{"shape":"GetStepRequest"},
      "output":{"shape":"GetStepResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a step.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetStorageProfile":{
      "name":"GetStorageProfile",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/storage-profiles/{storageProfileId}",
        "responseCode":200
      },
      "input":{"shape":"GetStorageProfileRequest"},
      "output":{"shape":"GetStorageProfileResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a storage profile.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetStorageProfileForQueue":{
      "name":"GetStorageProfileForQueue",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/storage-profiles/{storageProfileId}",
        "responseCode":200
      },
      "input":{"shape":"GetStorageProfileForQueueRequest"},
      "output":{"shape":"GetStorageProfileForQueueResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a storage profile for a queue.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetTask":{
      "name":"GetTask",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}/tasks/{taskId}",
        "responseCode":200
      },
      "input":{"shape":"GetTaskRequest"},
      "output":{"shape":"GetTaskResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a task.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetWorker":{
      "name":"GetWorker",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}",
        "responseCode":200
      },
      "input":{"shape":"GetWorkerRequest"},
      "output":{"shape":"GetWorkerResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a worker.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListAvailableMeteredProducts":{
      "name":"ListAvailableMeteredProducts",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/metered-products",
        "responseCode":200
      },
      "input":{"shape":"ListAvailableMeteredProductsRequest"},
      "output":{"shape":"ListAvailableMeteredProductsResponse"},
      "errors":[
        {"shape":"InternalServerErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>A list of the available metered products.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListBudgets":{
      "name":"ListBudgets",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/budgets",
        "responseCode":200
      },
      "input":{"shape":"ListBudgetsRequest"},
      "output":{"shape":"ListBudgetsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>A list of budgets in a farm.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListFarmMembers":{
      "name":"ListFarmMembers",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/members",
        "responseCode":200
      },
      "input":{"shape":"ListFarmMembersRequest"},
      "output":{"shape":"ListFarmMembersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists the members of a farm.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListFarms":{
      "name":"ListFarms",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms",
        "responseCode":200
      },
      "input":{"shape":"ListFarmsRequest"},
      "output":{"shape":"ListFarmsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists farms.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListFleetMembers":{
      "name":"ListFleetMembers",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/members",
        "responseCode":200
      },
      "input":{"shape":"ListFleetMembersRequest"},
      "output":{"shape":"ListFleetMembersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists fleet members.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListFleets":{
      "name":"ListFleets",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets",
        "responseCode":200
      },
      "input":{"shape":"ListFleetsRequest"},
      "output":{"shape":"ListFleetsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists fleets.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListJobMembers":{
      "name":"ListJobMembers",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/members",
        "responseCode":200
      },
      "input":{"shape":"ListJobMembersRequest"},
      "output":{"shape":"ListJobMembersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists members on a job.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListJobs":{
      "name":"ListJobs",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs",
        "responseCode":200
      },
      "input":{"shape":"ListJobsRequest"},
      "output":{"shape":"ListJobsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists jobs.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListLicenseEndpoints":{
      "name":"ListLicenseEndpoints",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/license-endpoints",
        "responseCode":200
      },
      "input":{"shape":"ListLicenseEndpointsRequest"},
      "output":{"shape":"ListLicenseEndpointsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists license endpoints.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListMeteredProducts":{
      "name":"ListMeteredProducts",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/license-endpoints/{licenseEndpointId}/metered-products",
        "responseCode":200
      },
      "input":{"shape":"ListMeteredProductsRequest"},
      "output":{"shape":"ListMeteredProductsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists metered products.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListMonitors":{
      "name":"ListMonitors",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/monitors",
        "responseCode":200
      },
      "input":{"shape":"ListMonitorsRequest"},
      "output":{"shape":"ListMonitorsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a list of your monitors in Deadline Cloud.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListQueueEnvironments":{
      "name":"ListQueueEnvironments",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/environments",
        "responseCode":200
      },
      "input":{"shape":"ListQueueEnvironmentsRequest"},
      "output":{"shape":"ListQueueEnvironmentsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists queue environments.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListQueueFleetAssociations":{
      "name":"ListQueueFleetAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queue-fleet-associations",
        "responseCode":200
      },
      "input":{"shape":"ListQueueFleetAssociationsRequest"},
      "output":{"shape":"ListQueueFleetAssociationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists queue-fleet associations.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListQueueMembers":{
      "name":"ListQueueMembers",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/members",
        "responseCode":200
      },
      "input":{"shape":"ListQueueMembersRequest"},
      "output":{"shape":"ListQueueMembersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists the members in a queue.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListQueues":{
      "name":"ListQueues",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues",
        "responseCode":200
      },
      "input":{"shape":"ListQueuesRequest"},
      "output":{"shape":"ListQueuesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists queues.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListSessionActions":{
      "name":"ListSessionActions",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/session-actions",
        "responseCode":200
      },
      "input":{"shape":"ListSessionActionsRequest"},
      "output":{"shape":"ListSessionActionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists session actions.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListSessions":{
      "name":"ListSessions",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/sessions",
        "responseCode":200
      },
      "input":{"shape":"ListSessionsRequest"},
      "output":{"shape":"ListSessionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists sessions.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListSessionsForWorker":{
      "name":"ListSessionsForWorker",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/sessions",
        "responseCode":200
      },
      "input":{"shape":"ListSessionsForWorkerRequest"},
      "output":{"shape":"ListSessionsForWorkerResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists sessions for a worker.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListStepConsumers":{
      "name":"ListStepConsumers",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}/consumers",
        "responseCode":200
      },
      "input":{"shape":"ListStepConsumersRequest"},
      "output":{"shape":"ListStepConsumersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists step consumers.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListStepDependencies":{
      "name":"ListStepDependencies",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}/dependencies",
        "responseCode":200
      },
      "input":{"shape":"ListStepDependenciesRequest"},
      "output":{"shape":"ListStepDependenciesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists the dependencies for a step.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListSteps":{
      "name":"ListSteps",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps",
        "responseCode":200
      },
      "input":{"shape":"ListStepsRequest"},
      "output":{"shape":"ListStepsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists steps for a job.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListStorageProfiles":{
      "name":"ListStorageProfiles",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/storage-profiles",
        "responseCode":200
      },
      "input":{"shape":"ListStorageProfilesRequest"},
      "output":{"shape":"ListStorageProfilesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists storage profiles.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListStorageProfilesForQueue":{
      "name":"ListStorageProfilesForQueue",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/storage-profiles",
        "responseCode":200
      },
      "input":{"shape":"ListStorageProfilesForQueueRequest"},
      "output":{"shape":"ListStorageProfilesForQueueResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists storage profiles for a queue.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists tags for a resource.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListTasks":{
      "name":"ListTasks",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}/tasks",
        "responseCode":200
      },
      "input":{"shape":"ListTasksRequest"},
      "output":{"shape":"ListTasksResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists tasks for a job.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListWorkers":{
      "name":"ListWorkers",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers",
        "responseCode":200
      },
      "input":{"shape":"ListWorkersRequest"},
      "output":{"shape":"ListWorkersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists workers.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "PutMeteredProduct":{
      "name":"PutMeteredProduct",
      "http":{
        "method":"PUT",
        "requestUri":"/2023-10-12/license-endpoints/{licenseEndpointId}/metered-products/{productId}",
        "responseCode":200
      },
      "input":{"shape":"PutMeteredProductRequest"},
      "output":{"shape":"PutMeteredProductResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Adds a metered product.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "SearchJobs":{
      "name":"SearchJobs",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/search/jobs",
        "responseCode":200
      },
      "input":{"shape":"SearchJobsRequest"},
      "output":{"shape":"SearchJobsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Searches for jobs.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "SearchSteps":{
      "name":"SearchSteps",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/search/steps",
        "responseCode":200
      },
      "input":{"shape":"SearchStepsRequest"},
      "output":{"shape":"SearchStepsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Searches for steps.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "SearchTasks":{
      "name":"SearchTasks",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/search/tasks",
        "responseCode":200
      },
      "input":{"shape":"SearchTasksRequest"},
      "output":{"shape":"SearchTasksResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Searches for tasks.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "SearchWorkers":{
      "name":"SearchWorkers",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/search/workers",
        "responseCode":200
      },
      "input":{"shape":"SearchWorkersRequest"},
      "output":{"shape":"SearchWorkersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Searches for workers.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "StartSessionsStatisticsAggregation":{
      "name":"StartSessionsStatisticsAggregation",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/sessions-statistics-aggregation",
        "responseCode":200
      },
      "input":{"shape":"StartSessionsStatisticsAggregationRequest"},
      "output":{"shape":"StartSessionsStatisticsAggregationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Starts an asynchronous request for getting aggregated statistics about queues and farms. Get the statistics using the <code>GetSessionsStatisticsAggregation</code> operation. Statistics are available for 1 hour after you call the <code>StartSessionsStatisticsAggregation</code> operation.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Tags a resource using the resource's ARN and desired tags.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Removes a tag from a resource using the resource's ARN and tag to remove.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateBudget":{
      "name":"UpdateBudget",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/budgets/{budgetId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateBudgetRequest"},
      "output":{"shape":"UpdateBudgetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a budget that sets spending thresholds for rendering activity.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateFarm":{
      "name":"UpdateFarm",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateFarmRequest"},
      "output":{"shape":"UpdateFarmResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a farm.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateFleet":{
      "name":"UpdateFleet",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateFleetRequest"},
      "output":{"shape":"UpdateFleetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates a fleet.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateJob":{
      "name":"UpdateJob",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateJobRequest"},
      "output":{"shape":"UpdateJobResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a job.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateMonitor":{
      "name":"UpdateMonitor",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/monitors/{monitorId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateMonitorRequest"},
      "output":{"shape":"UpdateMonitorResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Modifies the settings for a Deadline Cloud monitor. You can modify one or all of the settings when you call <code>UpdateMonitor</code>.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateQueue":{
      "name":"UpdateQueue",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateQueueRequest"},
      "output":{"shape":"UpdateQueueResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a queue.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateQueueEnvironment":{
      "name":"UpdateQueueEnvironment",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/environments/{queueEnvironmentId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateQueueEnvironmentRequest"},
      "output":{"shape":"UpdateQueueEnvironmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates the queue environment.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "UpdateQueueFleetAssociation":{
      "name":"UpdateQueueFleetAssociation",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/queue-fleet-associations/{queueId}/{fleetId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateQueueFleetAssociationRequest"},
      "output":{"shape":"UpdateQueueFleetAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a queue-fleet association.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateSession":{
      "name":"UpdateSession",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/sessions/{sessionId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateSessionRequest"},
      "output":{"shape":"UpdateSessionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a session.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateStep":{
      "name":"UpdateStep",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateStepRequest"},
      "output":{"shape":"UpdateStepResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a step.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateStorageProfile":{
      "name":"UpdateStorageProfile",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/storage-profiles/{storageProfileId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateStorageProfileRequest"},
      "output":{"shape":"UpdateStorageProfileResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a storage profile.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateTask":{
      "name":"UpdateTask",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}/tasks/{taskId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateTaskRequest"},
      "output":{"shape":"UpdateTaskResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a task.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateWorker":{
      "name":"UpdateWorker",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateWorkerRequest"},
      "output":{"shape":"UpdateWorkerResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a worker.</p>",
      "endpoint":{"hostPrefix":"scheduling."},
      "idempotent":true
    },
    "UpdateWorkerSchedule":{
      "name":"UpdateWorkerSchedule",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/schedule",
        "responseCode":200
      },
      "input":{"shape":"UpdateWorkerScheduleRequest"},
      "output":{"shape":"UpdateWorkerScheduleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates the schedule for a worker.</p>",
      "endpoint":{"hostPrefix":"scheduling."},
      "idempotent":true
    }
  },
  "shapes":{
    "AcceleratorCountRange":{
      "type":"structure",
      "required":["min"],
      "members":{
        "max":{
          "shape":"MinZeroMaxInteger",
          "documentation":"<p>The maximum GPU for the accelerator.</p>"
        },
        "min":{
          "shape":"MinZeroMaxInteger",
          "documentation":"<p>The minimum GPU for the accelerator.</p>"
        }
      },
      "documentation":"<p>The range for the GPU fleet acceleration.</p>"
    },
    "AcceleratorTotalMemoryMiBRange":{
      "type":"structure",
      "required":["min"],
      "members":{
        "max":{
          "shape":"MinZeroMaxInteger",
          "documentation":"<p>The maximum amount of memory to use for the accelerator, measured in MiB.</p>"
        },
        "min":{
          "shape":"MinZeroMaxInteger",
          "documentation":"<p>The minimum amount of memory to use for the accelerator, measured in MiB.</p>"
        }
      },
      "documentation":"<p>The range for memory, in MiB, to use for the accelerator.</p>"
    },
    "AcceleratorType":{
      "type":"string",
      "enum":["gpu"]
    },
    "AcceleratorTypes":{
      "type":"list",
      "member":{"shape":"AcceleratorType"}
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "context":{
          "shape":"ExceptionContext",
          "documentation":"<p>Information about the resources in use when the exception was thrown.</p>"
        },
        "message":{"shape":"String"}
      },
      "documentation":"<p>You don't have permission to perform the action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccessKeyId":{
      "type":"string",
      "sensitive":true
    },
    "AggregationId":{
      "type":"string",
      "pattern":"^[0-9a-f]{32}$"
    },
    "AllowedStorageProfileIds":{
      "type":"list",
      "member":{"shape":"StorageProfileId"},
      "max":20,
      "min":0
    },
    "AmountCapabilityName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^([a-zA-Z][a-zA-Z0-9]{0,63}:)?amount(\\.[a-zA-Z][a-zA-Z0-9]{0,63})+$"
    },
    "AssignedEnvironmentEnterSessionActionDefinition":{
      "type":"structure",
      "required":["environmentId"],
      "members":{
        "environmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p>The environment ID of the assigned environment at the start of a session.</p>"
        }
      },
      "documentation":"<p>The assigned starting environment for a worker during session.</p>"
    },
    "AssignedEnvironmentExitSessionActionDefinition":{
      "type":"structure",
      "required":["environmentId"],
      "members":{
        "environmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p>The environment ID of the assigned environment when exiting a session.</p>"
        }
      },
      "documentation":"<p>The assigned environment when a worker exits a session.</p>"
    },
    "AssignedSession":{
      "type":"structure",
      "required":[
        "jobId",
        "logConfiguration",
        "queueId",
        "sessionActions"
      ],
      "members":{
        "jobId":{
          "shape":"JobId",
          "documentation":"<p>The job ID for the assigned session.</p>"
        },
        "logConfiguration":{
          "shape":"LogConfiguration",
          "documentation":"<p>The log configuration for the worker's assigned session.</p>"
        },
        "queueId":{
          "shape":"QueueId",
          "documentation":"<p>The queue ID of the assigned session.</p>"
        },
        "sessionActions":{
          "shape":"AssignedSessionActions",
          "documentation":"<p>The session actions to apply to the assigned session.</p>"
        }
      },
      "documentation":"<p>The assigned session for the worker.</p>"
    },
    "AssignedSessionAction":{
      "type":"structure",
      "required":[
        "definition",
        "sessionActionId"
      ],
      "members":{
        "definition":{
          "shape":"AssignedSessionActionDefinition",
          "documentation":"<p>The definition of the assigned session action.</p>"
        },
        "sessionActionId":{
          "shape":"SessionActionId",
          "documentation":"<p>The session action ID for the assigned session.</p>"
        }
      },
      "documentation":"<p>The action for a session defined by the session action ID.</p>"
    },
    "AssignedSessionActionDefinition":{
      "type":"structure",
      "members":{
        "envEnter":{
          "shape":"AssignedEnvironmentEnterSessionActionDefinition",
          "documentation":"<p>The environment a session starts on.</p>"
        },
        "envExit":{
          "shape":"AssignedEnvironmentExitSessionActionDefinition",
          "documentation":"<p>The environment a session exits from.</p>"
        },
        "syncInputJobAttachments":{
          "shape":"AssignedSyncInputJobAttachmentsSessionActionDefinition",
          "documentation":"<p>The job attachment to sync with an assigned session action.</p>"
        },
        "taskRun":{
          "shape":"AssignedTaskRunSessionActionDefinition",
          "documentation":"<p>The task run.</p>"
        }
      },
      "documentation":"<p>The definition of the assigned session action.</p>",
      "union":true
    },
    "AssignedSessionActions":{
      "type":"list",
      "member":{"shape":"AssignedSessionAction"}
    },
    "AssignedSessions":{
      "type":"map",
      "key":{"shape":"SessionId"},
      "value":{"shape":"AssignedSession"}
    },
    "AssignedSyncInputJobAttachmentsSessionActionDefinition":{
      "type":"structure",
      "members":{
        "stepId":{
          "shape":"StepId",
          "documentation":"<p>The step ID.</p>"
        }
      },
      "documentation":"<p>The details for an assigned session action as it relates to a job attachment.</p>"
    },
    "AssignedTaskRunSessionActionDefinition":{
      "type":"structure",
      "required":[
        "parameters",
        "stepId",
        "taskId"
      ],
      "members":{
        "parameters":{
          "shape":"TaskParameters",
          "documentation":"<p>The parameters to include.</p>"
        },
        "stepId":{
          "shape":"StepId",
          "documentation":"<p>The step ID.</p>"
        },
        "taskId":{
          "shape":"TaskId",
          "documentation":"<p>The task ID.</p>"
        }
      },
      "documentation":"<p>The specific task, step, and parameters to include.</p>"
    },
    "AssociateMemberToFarmRequest":{
      "type":"structure",
      "required":[
        "farmId",
        "identityStoreId",
        "membershipLevel",
        "principalId",
        "principalType"
      ],
      "members":{
        "farmId":{
          "shape":"FarmId",
          "documentation":"<p>The ID of the farm to associate with the member.</p>",
          "location":"uri",
          "locationName":"farmId"
        },
        "identityStoreId":{
          "shape":"IdentityStoreId",
          "documentation":"<p>The identity store ID of the member to associate with the farm.</p>"
        },
        "membershipLevel":{
          "shape":"MembershipLevel",
          "documentation":"<p>The principal's membership level for the associated farm.</p>"
        },
        "principalId":{
          "shape":"IdentityCenterPrincipalId",
          "documentation":"<p>The member's principal ID to associate with the farm.</p>",
          "location":"uri",
          "locationName":"principalId"
        },
        "principalType":{
          "shape":"PrincipalType",
          "documentation":"<p>The principal type of the member to associate with the farm.</p>"
        }
      }
    },
    "AssociateMemberToFarmResponse":{
      "type":"structure",
      "members":{
      }
    },
    "AssociateMemberToFleetRequest":{
      "type":"structure",
      "required":[
        "farmId",
        "fleetId",
        "identityStoreId",
        "membershipLevel",
        "principalId",
        "principalType"
      ],
      "members":{
        "farmId":{
          "shape":"FarmId",
          "documentation":"<p>The farm ID of the fleet to associate with the member.</p>",
          "location":"uri",
          "locationName":"farmId"
        },
        "fleetId":{
          "shape":"FleetId",
          "documentation":"<p>The ID of the fleet to associate with a member.</p>",
          "location":"uri",
          "locationName":"fleetId"
        },
        "identityStoreId":{
          "shape":"IdentityStoreId",
          "documentation":"<p>The member's identity store ID to associate with the fleet.</p>"
        },
        "membershipLevel":{
          "shape":"MembershipLevel",
          "documentation":"<p>The principal's membership level for the associated fleet.</p>"
        },
        "principalId":{
          "shape":"IdentityCenterPrincipalId",
          "documentation":"<p>The member's principal ID to associate with a fleet.</p>",
          "location":"uri",
          "locationName":"principalId"
        },
        "principalType":{
          "shape":"PrincipalType",
          "documentation":"<p>The member's principal type to associate with the fleet.</p>"
        }
      }
    },
    "AssociateMemberToFleetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "AssociateMemberToJobRequest":{
      "type":"structure",
      "required":[
        "farmId",
        "identityStoreId",
        "jobId",
        "membershipLevel",
        "principalId",
        "principalType",
        "queueId"
      ],
      "members":{
        "farmId":{
          "shape":"FarmId",
          "documentation":"<p>The farm ID of the job to associate with the member.</p>",
          "location":"uri",
          "locationName":"farmId"
        },
        "identityStoreId":{
          "shape":"IdentityStoreId",
          "documentation":"<p>The member's identity store ID to associate with the job.</p>"
        },
        "jobId":{
          "shape":"JobId",
          "documentation":"<p>The job ID to associate with the member.</p>",
          "location":"uri",
          "locationName":"jobId"
        },
        "membershipLevel":{
          "shape":"MembershipLevel",
          "documentation":"<p>The principal's membership level for the associated job.</p>"
        },
        "principalId":{
          "shape":"IdentityCenterPrincipalId",
          "documentation":"<p>The member's principal ID to associate with the job.</p>",
          "location":"uri",
          "locationName":"principalId"
        },
        "principalType":{
          "shape":"PrincipalType",
          "documentation":"<p>The member's principal type to associate with the job.</p>"
        },
        "queueId":{
          "shape":"QueueId",
          "documentation":"<p>The queue ID to associate to the member.</p>",
          "location":"uri",
          "locationName":"queueId"
        }
      }
    },
    "AssociateMemberToJobResponse":{
      "type":"structure",
      "members":{
      }
    },
    "AssociateMemberToQueueRequest":{
      "type":"structure",
      "required":[
        "farmId",
        "identityStoreId",
        "membershipLevel",
        "principalId",
        "principalType",
        "queueId"
      ],
      "members":{
        "farmId":{
          "shape":"FarmId",
          "documentation":"<p>The farm ID of the queue to associate with the member.</p>",
          "location":"uri",
          "locationName":"farmId"
        },
        "identityStoreId":{
          "shape":"IdentityStoreId",
          "documentation":"<p>The member's identity store ID to associate with the queue.</p>"
        },
        "membershipLevel":{
          "shape":"MembershipLevel",
          "documentation":"<p>The principal's membership level for the associated queue.</p>"
        },
        "principalId":{
          "shape":"IdentityCenterPrincipalId",
          "documentation":"<p>The member's principal ID to associate with the queue.</p>",
          "location":"uri",
          "locationName":"principalId"
        },
        "principalType":{
          "shape":"PrincipalType",
          "documentation":"<p>The member's principal type to associate with the queue.</p>"
        },
        "queueId":{
          "shape":"QueueId",
          "documentation":"<p>The ID of the queue to associate to the member.</p>",
          "location":"uri",
          "locationName":"queueId"
        }
      }
    },
    "AssociateMemberToQueueResponse":{
      "type":"structure",
      "members":{
      }
    },
    "AssumeFleetRoleForReadRequest":{
      "type":"structure",
      "required":[
        "farmId",
        "fleetId"
      ],
      "members":{
        "farmId":{
          "shape":"FarmId",
          "documentation":"<p>The farm ID for the fleet's farm.</p>",
          "location":"uri",
          "locationName":"farmId"
        },
        "fleetId":{
          "shape":"FleetId",
          "documentation":"<p>The fleet ID.</p>",
          "location":"uri",
          "locationName":"fleetId"
        }
      }
    },
    "AssumeFleetRoleForReadResponse":{
      "type":"structure",
      "required":["credentials"],
      "members":{
        "credentials":{
          "shape":"AwsCredentials",
          "documentation":"<p>The credentials for the fleet role.</p>"
        }
      },
      "sensitive":true
    },
    "AssumeFleetRoleForWorkerRequest":{
      "type":"structure",
      "required":[
        "farmId",
        "fleetId",
        "workerId"
      ],
      "members":{
        "farmId":{
          "shape":"FarmId",
          "documentation":"<p>The farm ID for the fleet's farm.</p>",
          "location":"uri",
          "locationName":"farmId"
        },
        "fleetId":{
          "shape":"FleetId",
          "documentation":"<p>The fleet ID that contains the worker.</p>",
          "location":"uri",
          "locationName":"fleetId"
        },
        "workerId":{
          "shape":"WorkerId",
          "documentation":"<p>The ID of the worker assuming the fleet role.</p>",
          "location":"uri",
          "locationName":"workerId"
        }
      }
    },
    "AssumeFleetRoleForWorkerResponse":{
      "type":"structure",
      "required":["credentials"],
      "members":{
        "credentials":{
          "shape":"AwsCredentials",
          "documentation":"<p>The credentials for the worker.</p>"
        }
      },
      "sensitive":true
    },
    "AssumeQueueRoleForReadRequest":{
      "type":"structure",
      "required":[
        "farmId",
        "queueId"
      ],
      "members":{
        "farmId":{
          "shape":"FarmId",
          "documentation":"<p>The farm ID of the farm containing the queue.</p>",
          "location":"uri",
          "locationName":"farmId"
        },
        "queueId":{
          "shape":"QueueId",
          "documentation":"<p>The queue ID.</p>",
          "location":"uri",
          "locationName":"queueId"
        }
      }
    },
    "AssumeQueueRoleForReadResponse":{
      "type":"structure",
      "required":["credentials"],
      "members":{
        "credentials":{
          "shape":"AwsCredentials",
          "documentation":"<p>The credentials for the queue role.</p>"
        }
      },
      "sensitive":true
    },
    "AssumeQueueRoleForUserRequest":{
      "type":"structure",
      "required":[
        "farmId",
        "queueId"
      ],
      "members":{
        "farmId":{
          "shape":"FarmId",
          "documentation":"<p>The farm ID of the queue that the user assumes the role for.</p>",
          "location":"uri",
          "locationName":"farmId"
        },
        "queueId":{
          "shape":"QueueId",
          "documentation":"<p>The queue ID of the queue that the user assumes the role for.</p>",
          "location":"uri",
          "locationName":"queueId"
        }
      }
    },
    "AssumeQueueRoleForUserResponse":{
      "type":"structure",
      "required":["credentials"],
      "members":{
        "credentials":{
          "shape":"AwsCredentials",
          "documentation":"<p>The credentials for the queue role that a user has access to.</p>"
        }
      },
      "sensitive":true
    },
    "AssumeQueueRoleForWorkerRequest":{
      "type":"structure",
      "required":[
        "farmId",
        "fleetId",
        "queueId",
        "workerId"
      ],
      "members":{
        "farmId":{
          "shape":"FarmId",
          "documentation":"<p>The farm ID of the worker assuming the queue role.</p>",
          "location":"uri",
          "locationName":"farmId"
        },
        "fleetId":{
          "shape":"FleetId",
          "documentation":"<p>The fleet ID of the worker assuming the queue role.</p>",
          "location":"uri",
          "locationName":"fleetId"
        },
        "queueId":{
          "shape":"QueueId",
          "documentation":"<p>The queue ID of the worker assuming the queue role.</p>",
          "location":"querystring",
          "locationName":"queueId"
        },
        "workerId":{
          "shape":"WorkerId",
          "documentation":"<p>The worker ID of the worker assuming the queue role.</p>",
          "location":"uri",
          "locationName":"workerId"
        }
      }
    },
    "AssumeQueueRoleForWorkerResponse":{
      "type":"structure",
      "members":{
        "credentials":{
          "shape":"AwsCredentials",
          "documentation":"<p>The Amazon Web Services credentials for the role that the worker is assuming.</p>"
        }
      },
      "sensitive":true
    },
    "Attachments":{
      "type":"structure",
      "required":["manifests"],
      "members":{
        "fileSystem":{
          "shape":"JobAttachmentsFileSystem",
          "documentation":"<p>The file system.</p>"
        },
        "manifests":{
          "shape":"ManifestPropertiesList",
          "documentation":"<p>A list of manifests which describe job attachment configurations.</p>"
        }
      },
      "documentation":"<p>The attachments for jobs.</p>"
    },
    "AttributeCapabilityName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^([a-zA-Z][a-zA-Z0-9]{0,63}:)?attr(\\.[a-zA-Z][a-zA-Z0-9]{0,63})+$"
    },
    "AttributeCapabilityValue":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^[a-zA-Z_]([a-zA-Z0-9_\\-]{0,99})$"
    },
    "AttributeCapabilityValuesList":{
      "type":"list",
      "member":{"shape":"AttributeCapabilityValue"},
      "max":10,
      "min":1
    },
    "AutoScalingMode":{
      "type":"string",
      "enum":[
        "NO_SCALING",
        "EVENT_BASED_AUTO_SCALING"
      ]
    },
    "AutoScalingStatus":{
      "type":"string",
      "enum":[
        "GROWING",
        "STEADY",
        "SHRINKING"
      ]
    },
    "AwsCredentials":{
      "type":"structure",
      "required":[
        "accessKeyId",
        "expiration",
        "secretAccessKey",
        "sessionToken"
      ],
      "members":{
        "accessKeyId":{
          "shape":"AccessKeyId",
          "documentation":"<p>The IAM access key ID.</p>"
        },
        "expiration":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The expiration date and time of the IAM credentials.</p>"
        },
        "secretAccessKey":{
          "shape":"SecretAccessKey",
          "documentation":"<p>The IAM secret access key.</p>"
        },
        "sessionToken":{
          "shape":"SessionToken",
          "documentation":"<p>The IAM session token</p>"
        }
      },
      "documentation":"<p>The Identity and Access Management credentials.</p>",
      "sensitive":true
    },
    "BatchGetJobEntityErrors":{
      "type":"list",
      "member":{"shape":"GetJobEntityError"}
    },
    "BatchGetJobEntityList":{
      "type":"list",
      "member":{"shape":"JobEntity"},
      "max":25,
      "min":0
    },
    "BatchGetJobEntityRequest":{
      "type":"structure",
      "required":[
        "farmId",
        "fleetId",
        "identifiers",
        "workerId"
      ],
      "members":{
        "farmId":{
          "shape":"FarmId",
          "documentation":"<p>The farm ID of the worker that's fetching job details. The worker must have an assignment on a job to fetch job details.</p>",
          "location":"uri",
          "locationName":"farmId"
        },
        "fleetId":{
          "shape":"FleetId",
          "documentation":"<p>The fleet ID of the worker that's fetching job details. The worker must have an assignment on a job to fetch job details.</p>",
          "location":"uri",
          "locationName":"fleetId"
        },
        "identifiers":{
          "shape":"JobEntityIdentifiers",
          "documentation":"<p>The job identifiers to include within the job entity batch details.</p>"
        },
        "workerId":{
          "shape":"WorkerId",
          "documentation":"<p>The worker ID of the worker containing the job details to get.</p>",
          "location":"uri",
          "locationName":"workerId"
        }
      }
    },
    "BatchGetJobEntityResponse":{
      "type":"structure",
      "required":[
        "entities",
        "errors"
      ],
      "members":{
        "entities":{
          "shape":"BatchGetJobEntityList",
          "documentation":"<p>A list of the job entities, or details, in the batch.</p>"
        },
        "errors":{
          "shape":"BatchGetJobEntityErrors",
          "documentation":"<p>A list of errors from the job error logs for the batch.</p>"
        }
      }
    },
    "BoundedString":{
      "type":"string",
      "max":64,
      "min":1
    },
    "BudgetActionToAdd":{
      "type":"structure",
      "required":[
        "thresholdPercentage",
        "type"
      ],
      "members":{
        "description":{
          "shape":"Description",
          "documentation":"<p>A description for the budget action to add.</p>"
        },
        "thresholdPercentage":{
          "shape":"ThresholdPercentage",
          "documentation":"<p>The percentage threshold for the budget action to add.</p>"
        },
        "type":{
          "shape":"BudgetActionType",
          "documentation":"<p>The type of budget action to add.</p>"
        }
      },
      "documentation":"<p>The budget action to add.</p>"
    },
    "BudgetActionToRemove":{
      "type":"structure",
      "required":[
        "thresholdPercentage",
        "type"
      ],
      "members":{
        "thresholdPercentage":{
          "shape":"ThresholdPercentage",
          "documentation":"<p>The percentage threshold for the budget action to remove.</p>"
        },
        "type":{
          "shape":"BudgetActionType",
          "documentation":"<p>The type of budget action to remove.</p>"
        }
      },
      "documentation":"<p>The budget action to remove.</p>"
    },
    "BudgetActionType":{
      "type":"string",
      "enum":[
        "STOP_SCHEDULING_AND_COMPLETE_TASKS",
        "STOP_SCHEDULING_AND_CANCEL_TASKS"
      ]
    },
    "BudgetActionsToAdd":{
      "type":"list",
      "member":{"shape":"BudgetActionToAdd"},
      "max":10,
      "min":0
    },
    "BudgetActionsToRemove":{
      "type":"list",
      "member":{"shape":"BudgetActionToRemove"},
      "max":10,
      "min":0
    },
    "BudgetId":{
      "type":"string",
      "pattern":"^budget-[0-9a-f]{32}$"
    },
    "BudgetSchedule":{
      "type":"structure",
      "members":{
        "fixed":{
          "shape":"FixedBudgetSchedule",
          "documentation":"<p>The fixed start and end time of the budget's schedule.</p>"
        }
      },
      "documentation":"<p>The start and end time of the budget.</p>",
      "union":true
    },
    "BudgetStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "INACTIVE"
      ]
    },
    "BudgetSummaries":{
      "type":"list",
      "member":{"shape":"BudgetSummary"}
    },
    "BudgetSummary":{
      "type":"structure",
      "required":[
        "approximateDollarLimit",
        "budgetId",
        "createdAt",
        "createdBy",
        "displayName",
        "status",
        "usageTrackingResource",
        "usages"
      ],
      "members":{
        "approximateDollarLimit":{
          "shape":"ConsumedUsageLimit",
          "documentation":"<p>The approximate dollar limit of the budget.</p>"
        },
        "budgetId":{
          "shape":"BudgetId",
          "documentation":"<p>The budget ID.</p>"
        },
        "createdAt":{
          "shape":"CreatedAt",
          "documentation":"<p>The date and time the resource was created.</p>"
        },
        "createdBy":{
          "shape":"CreatedBy",
          "documentation":"<p>The user or system that created this resource.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the budget summary.</p>"
        },
        "displayName":{
          "shape":"ResourceName",
          "documentation":"<p>The display name of the budget summary to update.</p>"
        },
        "status":{
          "shape":"BudgetStatus",
          "documentation":"<p>The status of the budget.</p> <ul> <li> <p> <code>ACTIVE</code>–The budget is being evaluated.</p> </li> <li> <p> <code>INACTIVE</code>–The budget is inactive. This can include Expired, Canceled, or deleted Deleted statuses.</p> </li> </ul>"
        },
        "updatedAt":{
          "shape":"UpdatedAt",
          "documentation":"<p>The date and time the resource was updated.</p>"
        },
        "updatedBy":{
          "shape":"UpdatedBy",
          "documentation":"<p>The user or system that updated this resource.</p>"
        },
        "usageTrackingResource":{
          "shape":"UsageTrackingResource",
          "documentation":"<p>The resource used to track expenditure in the budget.</p>"
        },
        "usages":{
          "shape":"ConsumedUsages",
          "documentation":"<p>The consumed usage for the budget.</p>"
        }
[...]
