{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-04-01",
    "endpointPrefix":"quicksight",
    "jsonVersion":"1.0",
    "protocol":"rest-json",
    "serviceFullName":"Amazon QuickSight",
    "serviceId":"QuickSight",
    "signatureVersion":"v4",
    "uid":"quicksight-2018-04-01"
  },
  "operations":{
    "CancelIngestion":{
      "name":"CancelIngestion",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"CancelIngestionRequest"},
      "output":{"shape":"CancelIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Cancels an ongoing ingestion of data into SPICE.</p>"
    },
    "CreateAccountCustomization":{
      "name":"CreateAccountCustomization",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"CreateAccountCustomizationRequest"},
      "output":{"shape":"CreateAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Creates Amazon QuickSight customizations the current Amazon Web Services Region. Currently, you can add a custom default theme by using the <code>CreateAccountCustomization</code> or <code>UpdateAccountCustomization</code> API operation. To further customize Amazon QuickSight by removing Amazon QuickSight sample assets and videos for all new users, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/customizing-quicksight.html\">Customizing Amazon QuickSight</a> in the <i>Amazon QuickSight User Guide.</i> </p> <p>You can create customizations for your Amazon Web Services account or, if you specify a namespace, for a QuickSight namespace instead. Customizations that apply to a namespace always override customizations that apply to an Amazon Web Services account. To find out which customizations apply, use the <code>DescribeAccountCustomization</code> API operation.</p> <p>Before you use the <code>CreateAccountCustomization</code> API operation to add a theme as the namespace default, make sure that you first share the theme with the namespace. If you don't share it with the namespace, the theme isn't visible to your users even if you make it the default theme. To check if the theme is shared, view the current permissions by using the <code> <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_DescribeThemePermissions.html\">DescribeThemePermissions</a> </code> API operation. To share the theme, grant permissions by using the <code> <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_UpdateThemePermissions.html\">UpdateThemePermissions</a> </code> API operation. </p>"
    },
    "CreateAnalysis":{
      "name":"CreateAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"CreateAnalysisRequest"},
      "output":{"shape":"CreateAnalysisResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates an analysis in Amazon QuickSight.</p>"
    },
    "CreateDashboard":{
      "name":"CreateDashboard",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"CreateDashboardRequest"},
      "output":{"shape":"CreateDashboardResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a dashboard from a template. To first create a template, see the <code> <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_CreateTemplate.html\">CreateTemplate</a> </code> API operation.</p> <p>A dashboard is an entity in Amazon QuickSight that identifies Amazon QuickSight reports, created from analyses. You can share Amazon QuickSight dashboards. With the right permissions, you can create scheduled email reports from them. If you have the correct permissions, you can create a dashboard from a template that exists in a different Amazon Web Services account.</p>"
    },
    "CreateDataSet":{
      "name":"CreateDataSet",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sets"
      },
      "input":{"shape":"CreateDataSetRequest"},
      "output":{"shape":"CreateDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a dataset. This operation doesn't support datasets that include uploaded files as a source.</p>"
    },
    "CreateDataSource":{
      "name":"CreateDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sources"
      },
      "input":{"shape":"CreateDataSourceRequest"},
      "output":{"shape":"CreateDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a data source.</p>"
    },
    "CreateFolder":{
      "name":"CreateFolder",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input":{"shape":"CreateFolderRequest"},
      "output":{"shape":"CreateFolderResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates an empty shared folder.</p>"
    },
    "CreateFolderMembership":{
      "name":"CreateFolderMembership",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/members/{MemberType}/{MemberId}"
      },
      "input":{"shape":"CreateFolderMembershipRequest"},
      "output":{"shape":"CreateFolderMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Adds an asset, such as a dashboard, analysis, or dataset into a folder.</p>"
    },
    "CreateGroup":{
      "name":"CreateGroup",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input":{"shape":"CreateGroupRequest"},
      "output":{"shape":"CreateGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Creates an Amazon QuickSight group.</p> <p>The permissions resource is <code>arn:aws:quicksight:&lt;your-region&gt;:<i>&lt;relevant-aws-account-id&gt;</i>:group/default/<i>&lt;group-name&gt;</i> </code>.</p> <p>The response is a group object.</p>"
    },
    "CreateGroupMembership":{
      "name":"CreateGroupMembership",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input":{"shape":"CreateGroupMembershipRequest"},
      "output":{"shape":"CreateGroupMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Adds an Amazon QuickSight user to an Amazon QuickSight group. </p>"
    },
    "CreateIAMPolicyAssignment":{
      "name":"CreateIAMPolicyAssignment",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/"
      },
      "input":{"shape":"CreateIAMPolicyAssignmentRequest"},
      "output":{"shape":"CreateIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates an assignment with one specified IAM policy, identified by its Amazon Resource Name (ARN). This policy assignment is attached to the specified groups or users of Amazon QuickSight. Assignment names are unique per Amazon Web Services account. To avoid overwriting rules in other namespaces, use assignment names that are unique.</p>"
    },
    "CreateIngestion":{
      "name":"CreateIngestion",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"CreateIngestionRequest"},
      "output":{"shape":"CreateIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates and starts a new SPICE ingestion for a dataset. You can manually refresh datasets in an Enterprise edition account 32 times in a 24-hour period. You can manually refresh datasets in a Standard edition account 8 times in a 24-hour period. Each 24-hour period is measured starting 24 hours before the current date and time.</p> <p>Any ingestions operating on tagged datasets inherit the same tags automatically for use in access control. For an example, see <a href=\"http://aws.amazon.com/premiumsupport/knowledge-center/iam-ec2-resource-tags/\">How do I create an IAM policy to control access to Amazon EC2 resources using tags?</a> in the Amazon Web Services Knowledge Center. Tags are visible on the tagged dataset, but not on the ingestion resource.</p>"
    },
    "CreateNamespace":{
      "name":"CreateNamespace",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}"
      },
      "input":{"shape":"CreateNamespaceRequest"},
      "output":{"shape":"CreateNamespaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>(Enterprise edition only) Creates a new namespace for you to use with Amazon QuickSight.</p> <p>A namespace allows you to isolate the Amazon QuickSight users and groups that are registered for that namespace. Users that access the namespace can share assets only with other users or groups in the same namespace. They can't see users and groups in other namespaces. You can create a namespace after your Amazon Web Services account is subscribed to Amazon QuickSight. The namespace must be unique within the Amazon Web Services account. By default, there is a limit of 100 namespaces per Amazon Web Services account. To increase your limit, create a ticket with Amazon Web Services Support. </p>"
    },
    "CreateTemplate":{
      "name":"CreateTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"CreateTemplateRequest"},
      "output":{"shape":"CreateTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a template from an existing Amazon QuickSight analysis or template. You can use the resulting template to create a dashboard.</p> <p>A <i>template</i> is an entity in Amazon QuickSight that encapsulates the metadata required to create an analysis and that you can use to create s dashboard. A template adds a layer of abstraction by using placeholders to replace the dataset associated with the analysis. You can use templates to create dashboards by replacing dataset placeholders with datasets that follow the same schema that was used to create the source analysis and template.</p>"
    },
    "CreateTemplateAlias":{
      "name":"CreateTemplateAlias",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"CreateTemplateAliasRequest"},
      "output":{"shape":"CreateTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a template alias for a template.</p>"
    },
    "CreateTheme":{
      "name":"CreateTheme",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"CreateThemeRequest"},
      "output":{"shape":"CreateThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a theme.</p> <p>A <i>theme</i> is set of configuration options for color and layout. Themes apply to analyses and dashboards. For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/themes-in-quicksight.html\">Using Themes in Amazon QuickSight</a> in the <i>Amazon QuickSight User Guide</i>.</p>"
    },
    "CreateThemeAlias":{
      "name":"CreateThemeAlias",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"CreateThemeAliasRequest"},
      "output":{"shape":"CreateThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a theme alias for a theme.</p>"
    },
    "DeleteAccountCustomization":{
      "name":"DeleteAccountCustomization",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"DeleteAccountCustomizationRequest"},
      "output":{"shape":"DeleteAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Deletes all Amazon QuickSight customizations in this Amazon Web Services Region for the specified Amazon Web Services account and Amazon QuickSight namespace.</p>"
    },
    "DeleteAnalysis":{
      "name":"DeleteAnalysis",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"DeleteAnalysisRequest"},
      "output":{"shape":"DeleteAnalysisResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes an analysis from Amazon QuickSight. You can optionally include a recovery window during which you can restore the analysis. If you don't specify a recovery window value, the operation defaults to 30 days. Amazon QuickSight attaches a <code>DeletionTime</code> stamp to the response that specifies the end of the recovery window. At the end of the recovery window, Amazon QuickSight deletes the analysis permanently.</p> <p>At any time before recovery window ends, you can use the <code>RestoreAnalysis</code> API operation to remove the <code>DeletionTime</code> stamp and cancel the deletion of the analysis. The analysis remains visible in the API until it's deleted, so you can describe it but you can't make a template from it.</p> <p>An analysis that's scheduled for deletion isn't accessible in the Amazon QuickSight console. To access it in the console, restore it. Deleting an analysis doesn't delete the dashboards that you publish from it.</p>"
    },
    "DeleteDashboard":{
      "name":"DeleteDashboard",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"DeleteDashboardRequest"},
      "output":{"shape":"DeleteDashboardResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a dashboard.</p>"
    },
    "DeleteDataSet":{
      "name":"DeleteDataSet",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input":{"shape":"DeleteDataSetRequest"},
      "output":{"shape":"DeleteDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a dataset.</p>"
    },
    "DeleteDataSource":{
      "name":"DeleteDataSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input":{"shape":"DeleteDataSourceRequest"},
      "output":{"shape":"DeleteDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes the data source permanently. This operation breaks all the datasets that reference the deleted data source.</p>"
    },
    "DeleteFolder":{
      "name":"DeleteFolder",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input":{"shape":"DeleteFolderRequest"},
      "output":{"shape":"DeleteFolderResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes an empty folder.</p>"
    },
    "DeleteFolderMembership":{
      "name":"DeleteFolderMembership",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/members/{MemberType}/{MemberId}"
      },
      "input":{"shape":"DeleteFolderMembershipRequest"},
      "output":{"shape":"DeleteFolderMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Removes an asset, such as a dashboard, analysis, or dataset, from a folder.</p>"
    },
    "DeleteGroup":{
      "name":"DeleteGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input":{"shape":"DeleteGroupRequest"},
      "output":{"shape":"DeleteGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Removes a user group from Amazon QuickSight. </p>"
    },
    "DeleteGroupMembership":{
      "name":"DeleteGroupMembership",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input":{"shape":"DeleteGroupMembershipRequest"},
      "output":{"shape":"DeleteGroupMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Removes a user from a group so that the user is no longer a member of the group.</p>"
    },
    "DeleteIAMPolicyAssignment":{
      "name":"DeleteIAMPolicyAssignment",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespace/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input":{"shape":"DeleteIAMPolicyAssignmentRequest"},
      "output":{"shape":"DeleteIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes an existing IAM policy assignment.</p>"
    },
    "DeleteNamespace":{
      "name":"DeleteNamespace",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}"
      },
      "input":{"shape":"DeleteNamespaceRequest"},
      "output":{"shape":"DeleteNamespaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Deletes a namespace and the users and groups that are associated with the namespace. This is an asynchronous process. Assets including dashboards, analyses, datasets and data sources are not deleted. To delete these assets, you use the API operations for the relevant asset. </p>"
    },
    "DeleteTemplate":{
      "name":"DeleteTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"DeleteTemplateRequest"},
      "output":{"shape":"DeleteTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a template.</p>"
    },
    "DeleteTemplateAlias":{
      "name":"DeleteTemplateAlias",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"DeleteTemplateAliasRequest"},
      "output":{"shape":"DeleteTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes the item that the specified template alias points to. If you provide a specific alias, you delete the version of the template that the alias points to.</p>"
    },
    "DeleteTheme":{
      "name":"DeleteTheme",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"DeleteThemeRequest"},
      "output":{"shape":"DeleteThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a theme.</p>"
    },
    "DeleteThemeAlias":{
      "name":"DeleteThemeAlias",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"DeleteThemeAliasRequest"},
      "output":{"shape":"DeleteThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes the version of the theme that the specified theme alias points to. If you provide a specific alias, you delete the version of the theme that the alias points to.</p>"
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input":{"shape":"DeleteUserRequest"},
      "output":{"shape":"DeleteUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Deletes the Amazon QuickSight user that is associated with the identity of the Identity and Access Management (IAM) user or role that's making the call. The IAM user isn't deleted as a result of this call. </p>"
    },
    "DeleteUserByPrincipalId":{
      "name":"DeleteUserByPrincipalId",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/user-principals/{PrincipalId}"
      },
      "input":{"shape":"DeleteUserByPrincipalIdRequest"},
      "output":{"shape":"DeleteUserByPrincipalIdResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Deletes a user identified by its principal ID. </p>"
    },
    "DescribeAccountCustomization":{
      "name":"DescribeAccountCustomization",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"DescribeAccountCustomizationRequest"},
      "output":{"shape":"DescribeAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Describes the customizations associated with the provided Amazon Web Services account and Amazon Amazon QuickSight namespace in an Amazon Web Services Region. The Amazon QuickSight console evaluates which customizations to apply by running this API operation with the <code>Resolved</code> flag included. </p> <p>To determine what customizations display when you run this command, it can help to visualize the relationship of the entities involved. </p> <ul> <li> <p> <code>Amazon Web Services account</code> - The Amazon Web Services account exists at the top of the hierarchy. It has the potential to use all of the Amazon Web Services Regions and Amazon Web Services Services. When you subscribe to Amazon QuickSight, you choose one Amazon Web Services Region to use as your home Region. That's where your free SPICE capacity is located. You can use Amazon QuickSight in any supported Amazon Web Services Region. </p> </li> <li> <p> <code>Amazon Web Services Region</code> - In each Amazon Web Services Region where you sign in to Amazon QuickSight at least once, Amazon QuickSight acts as a separate instance of the same service. If you have a user directory, it resides in us-east-1, which is the US East (N. Virginia). Generally speaking, these users have access to Amazon QuickSight in any Amazon Web Services Region, unless they are constrained to a namespace. </p> <p>To run the command in a different Amazon Web Services Region, you change your Region settings. If you're using the CLI, you can use one of the following options:</p> <ul> <li> <p>Use <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-options.html\">command line options</a>. </p> </li> <li> <p>Use <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-profiles.html\">named profiles</a>. </p> </li> <li> <p>Run <code>aws configure</code> to change your default Amazon Web Services Region. Use Enter to key the same settings for your keys. For more information, see <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-configure.html\">Configuring the CLI</a>.</p> </li> </ul> </li> <li> <p> <code>Namespace</code> - A QuickSight namespace is a partition that contains users and assets (data sources, datasets, dashboards, and so on). To access assets that are in a specific namespace, users and groups must also be part of the same namespace. People who share a namespace are completely isolated from users and assets in other namespaces, even if they are in the same Amazon Web Services account and Amazon Web Services Region.</p> </li> <li> <p> <code>Applied customizations</code> - Within an Amazon Web Services Region, a set of Amazon QuickSight customizations can apply to an Amazon Web Services account or to a namespace. Settings that you apply to a namespace override settings that you apply to an Amazon Web Services account. All settings are isolated to a single Amazon Web Services Region. To apply them in other Amazon Web Services Regions, run the <code>CreateAccountCustomization</code> command in each Amazon Web Services Region where you want to apply the same customizations. </p> </li> </ul>"
    },
    "DescribeAccountSettings":{
      "name":"DescribeAccountSettings",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/settings"
      },
      "input":{"shape":"DescribeAccountSettingsRequest"},
      "output":{"shape":"DescribeAccountSettingsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Describes the settings that were used when your Amazon QuickSight subscription was first created in this Amazon Web Services account.</p>"
    },
    "DescribeAnalysis":{
      "name":"DescribeAnalysis",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"DescribeAnalysisRequest"},
      "output":{"shape":"DescribeAnalysisResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a summary of the metadata for an analysis.</p>"
    },
    "DescribeAnalysisPermissions":{
      "name":"DescribeAnalysisPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}/permissions"
      },
      "input":{"shape":"DescribeAnalysisPermissionsRequest"},
      "output":{"shape":"DescribeAnalysisPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides the read and write permissions for an analysis.</p>"
    },
    "DescribeDashboard":{
      "name":"DescribeDashboard",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"DescribeDashboardRequest"},
      "output":{"shape":"DescribeDashboardResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a summary for a dashboard.</p>"
    },
    "DescribeDashboardPermissions":{
      "name":"DescribeDashboardPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/permissions"
      },
      "input":{"shape":"DescribeDashboardPermissionsRequest"},
      "output":{"shape":"DescribeDashboardPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes read and write permissions for a dashboard.</p>"
    },
    "DescribeDataSet":{
      "name":"DescribeDataSet",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input":{"shape":"DescribeDataSetRequest"},
      "output":{"shape":"DescribeDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a dataset. This operation doesn't support datasets that include uploaded files as a source.</p>"
    },
    "DescribeDataSetPermissions":{
      "name":"DescribeDataSetPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/permissions"
      },
      "input":{"shape":"DescribeDataSetPermissionsRequest"},
      "output":{"shape":"DescribeDataSetPermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the permissions on a dataset.</p> <p>The permissions resource is <code>arn:aws:quicksight:region:aws-account-id:dataset/data-set-id</code>.</p>"
    },
    "DescribeDataSource":{
      "name":"DescribeDataSource",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input":{"shape":"DescribeDataSourceRequest"},
      "output":{"shape":"DescribeDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a data source.</p>"
    },
    "DescribeDataSourcePermissions":{
      "name":"DescribeDataSourcePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}/permissions"
      },
      "input":{"shape":"DescribeDataSourcePermissionsRequest"},
      "output":{"shape":"DescribeDataSourcePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the resource permissions for a data source.</p>"
    },
    "DescribeFolder":{
      "name":"DescribeFolder",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input":{"shape":"DescribeFolderRequest"},
      "output":{"shape":"DescribeFolderResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a folder.</p>"
    },
    "DescribeFolderPermissions":{
      "name":"DescribeFolderPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/permissions"
      },
      "input":{"shape":"DescribeFolderPermissionsRequest"},
      "output":{"shape":"DescribeFolderPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes permissions for a folder.</p>"
    },
    "DescribeFolderResolvedPermissions":{
      "name":"DescribeFolderResolvedPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/resolved-permissions"
      },
      "input":{"shape":"DescribeFolderResolvedPermissionsRequest"},
      "output":{"shape":"DescribeFolderResolvedPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the folder resolved permissions. Permissions consists of both folder direct permissions and the inherited permissions from the ancestor folders.</p>"
    },
    "DescribeGroup":{
      "name":"DescribeGroup",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input":{"shape":"DescribeGroupRequest"},
      "output":{"shape":"DescribeGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Returns an Amazon QuickSight group's description and Amazon Resource Name (ARN). </p>"
    },
    "DescribeGroupMembership":{
      "name":"DescribeGroupMembership",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input":{"shape":"DescribeGroupMembershipRequest"},
      "output":{"shape":"DescribeGroupMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Use the <code>DescribeGroupMembership</code> operation to determine if a user is a member of the specified group. If the user exists and is a member of the specified group, an associated <code>GroupMember</code> object is returned.</p>"
    },
    "DescribeIAMPolicyAssignment":{
      "name":"DescribeIAMPolicyAssignment",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input":{"shape":"DescribeIAMPolicyAssignmentRequest"},
      "output":{"shape":"DescribeIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes an existing IAM policy assignment, as specified by the assignment name.</p>"
    },
    "DescribeIngestion":{
      "name":"DescribeIngestion",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"DescribeIngestionRequest"},
      "output":{"shape":"DescribeIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a SPICE ingestion.</p>"
    },
    "DescribeIpRestriction":{
      "name":"DescribeIpRestriction",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/ip-restriction"
      },
      "input":{"shape":"DescribeIpRestrictionRequest"},
      "output":{"shape":"DescribeIpRestrictionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a summary and status of IP rules.</p>"
    },
    "DescribeNamespace":{
      "name":"DescribeNamespace",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}"
      },
      "input":{"shape":"DescribeNamespaceRequest"},
      "output":{"shape":"DescribeNamespaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Describes the current namespace.</p>"
    },
    "DescribeTemplate":{
      "name":"DescribeTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"DescribeTemplateRequest"},
      "output":{"shape":"DescribeTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a template's metadata.</p>"
    },
    "DescribeTemplateAlias":{
      "name":"DescribeTemplateAlias",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"DescribeTemplateAliasRequest"},
      "output":{"shape":"DescribeTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the template alias for a template.</p>"
    },
    "DescribeTemplatePermissions":{
      "name":"DescribeTemplatePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/permissions"
      },
      "input":{"shape":"DescribeTemplatePermissionsRequest"},
      "output":{"shape":"DescribeTemplatePermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes read and write permissions on a template.</p>"
    },
    "DescribeTheme":{
      "name":"DescribeTheme",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"DescribeThemeRequest"},
      "output":{"shape":"DescribeThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a theme.</p>"
    },
    "DescribeThemeAlias":{
      "name":"DescribeThemeAlias",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"DescribeThemeAliasRequest"},
      "output":{"shape":"DescribeThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the alias for a theme.</p>"
    },
    "DescribeThemePermissions":{
      "name":"DescribeThemePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/permissions"
      },
      "input":{"shape":"DescribeThemePermissionsRequest"},
      "output":{"shape":"DescribeThemePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the read and write permissions for a theme.</p>"
    },
    "DescribeUser":{
      "name":"DescribeUser",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input":{"shape":"DescribeUserRequest"},
      "output":{"shape":"DescribeUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Returns information about a user, given the user name. </p>"
    },
    "GenerateEmbedUrlForAnonymousUser":{
      "name":"GenerateEmbedUrlForAnonymousUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/embed-url/anonymous-user"
      },
      "input":{"shape":"GenerateEmbedUrlForAnonymousUserRequest"},
      "output":{"shape":"GenerateEmbedUrlForAnonymousUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"SessionLifetimeInMinutesInvalidException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"UnsupportedPricingPlanException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Generates an embed URL that you can use to embed an Amazon QuickSight dashboard in your website, without having to register any reader users. Before you use this action, make sure that you have configured the dashboards and permissions.</p> <p>The following rules apply to the generated URL:</p> <ul> <li> <p>It contains a temporary bearer token. It is valid for 5 minutes after it is generated. Once redeemed within this period, it cannot be re-used again.</p> </li> <li> <p>The URL validity period should not be confused with the actual session lifetime that can be customized using the <code> <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_GenerateEmbedUrlForAnonymousUser.html#QS-GenerateEmbedUrlForAnonymousUser-request-SessionLifetimeInMinutes\">SessionLifetimeInMinutes</a> </code> parameter.</p> <p>The resulting user session is valid for 15 minutes (minimum) to 10 hours (maximum). The default session duration is 10 hours. </p> </li> <li> <p>You are charged only when the URL is used or there is interaction with Amazon QuickSight.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/embedded-analytics.html\">Embedded Analytics</a> in the <i>Amazon QuickSight User Guide</i>.</p> <p>For more information about the high-level steps for embedding and for an interactive demo of the ways you can customize embedding, visit the <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/quicksight-dev-portal.html\">Amazon QuickSight Developer Portal</a>.</p>"
    },
    "GenerateEmbedUrlForRegisteredUser":{
      "name":"GenerateEmbedUrlForRegisteredUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/embed-url/registered-user"
      },
      "input":{"shape":"GenerateEmbedUrlForRegisteredUserRequest"},
      "output":{"shape":"GenerateEmbedUrlForRegisteredUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"QuickSightUserNotFoundException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"SessionLifetimeInMinutesInvalidException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"UnsupportedPricingPlanException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Generates an embed URL that you can use to embed an Amazon QuickSight experience in your website. This action can be used for any type of user registered in an Amazon QuickSight account. Before you use this action, make sure that you have configured the relevant Amazon QuickSight resource and permissions.</p> <p>The following rules apply to the generated URL:</p> <ul> <li> <p>It contains a temporary bearer token. It is valid for 5 minutes after it is generated. Once redeemed within this period, it cannot be re-used again.</p> </li> <li> <p>The URL validity period should not be confused with the actual session lifetime that can be customized using the <code> <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_GenerateEmbedUrlForRegisteredUser.html#QS-GenerateEmbedUrlForRegisteredUser-request-SessionLifetimeInMinutes\">SessionLifetimeInMinutes</a> </code> parameter.</p> <p>The resulting user session is valid for 15 minutes (minimum) to 10 hours (maximum). The default session duration is 10 hours.</p> </li> <li> <p>You are charged only when the URL is used or there is interaction with Amazon QuickSight.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/embedded-analytics.html\">Embedded Analytics</a> in the <i>Amazon QuickSight User Guide</i>.</p> <p>For more information about the high-level steps for embedding and for an interactive demo of the ways you can customize embedding, visit the <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/quicksight-dev-portal.html\">Amazon QuickSight Developer Portal</a>.</p>"
    },
    "GetDashboardEmbedUrl":{
      "name":"GetDashboardEmbedUrl",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/embed-url"
      },
      "input":{"shape":"GetDashboardEmbedUrlRequest"},
      "output":{"shape":"GetDashboardEmbedUrlResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"DomainNotWhitelistedException"},
        {"shape":"QuickSightUserNotFoundException"},
        {"shape":"IdentityTypeNotSupportedException"},
        {"shape":"SessionLifetimeInMinutesInvalidException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"UnsupportedPricingPlanException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Generates a session URL and authorization code that you can use to embed an Amazon Amazon QuickSight read-only dashboard in your web server code. Before you use this command, make sure that you have configured the dashboards and permissions. </p> <p>Currently, you can use <code>GetDashboardEmbedURL</code> only from the server, not from the user's browser. The following rules apply to the combination of URL and authorization code:</p> <ul> <li> <p>They must be used together.</p> </li> <li> <p>They can be used one time only.</p> </li> <li> <p>They are valid for 5 minutes after you run this command.</p> </li> <li> <p>The resulting user session is valid for 10 hours.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/embedded-analytics-deprecated.html\">Embedding Analytics Using GetDashboardEmbedUrl</a> in the <i>Amazon QuickSight User Guide</i>.</p> <p>For more information about the high-level steps for embedding and for an interactive demo of the ways you can customize embedding, visit the <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/quicksight-dev-portal.html\">Amazon QuickSight Developer Portal</a>.</p>"
    },
    "GetSessionEmbedUrl":{
      "name":"GetSessionEmbedUrl",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/session-embed-url"
      },
      "input":{"shape":"GetSessionEmbedUrlRequest"},
      "output":{"shape":"GetSessionEmbedUrlResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"QuickSightUserNotFoundException"},
        {"shape":"SessionLifetimeInMinutesInvalidException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Generates a session URL and authorization code that you can use to embed the Amazon Amazon QuickSight console in your web server code. Use <code>GetSessionEmbedUrl</code> where you want to provide an authoring portal that allows users to create data sources, datasets, analyses, and dashboards. The users who access an embedded Amazon QuickSight console need belong to the author or admin security cohort. If you want to restrict permissions to some of these features, add a custom permissions profile to the user with the <code> <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_UpdateUser.html\">UpdateUser</a> </code> API operation. Use <code> <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_RegisterUser.html\">RegisterUser</a> </code> API operation to add a new user with a custom permission profile attached. For more information, see the following sections in the <i>Amazon QuickSight User Guide</i>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/embedded-analytics.html\">Embedding Analytics</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/customizing-permissions-to-the-quicksight-console.html\">Customizing Access to the Amazon QuickSight Console</a> </p> </li> </ul>"
    },
    "ListAnalyses":{
      "name":"ListAnalyses",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/analyses"
      },
      "input":{"shape":"ListAnalysesRequest"},
      "output":{"shape":"ListAnalysesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists Amazon QuickSight analyses that exist in the specified Amazon Web Services account.</p>"
    },
    "ListDashboardVersions":{
      "name":"ListDashboardVersions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/versions"
      },
      "input":{"shape":"ListDashboardVersionsRequest"},
      "output":{"shape":"ListDashboardVersionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all the versions of the dashboards in the Amazon QuickSight subscription.</p>"
    },
    "ListDashboards":{
      "name":"ListDashboards",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards"
      },
      "input":{"shape":"ListDashboardsRequest"},
      "output":{"shape":"ListDashboardsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists dashboards in an Amazon Web Services account.</p>"
    },
    "ListDataSets":{
      "name":"ListDataSets",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets"
      },
      "input":{"shape":"ListDataSetsRequest"},
      "output":{"shape":"ListDataSetsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all of the datasets belonging to the current Amazon Web Services account in an Amazon Web Services Region.</p> <p>The permissions resource is <code>arn:aws:quicksight:region:aws-account-id:dataset/*</code>.</p>"
    },
    "ListDataSources":{
      "name":"ListDataSources",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sources"
      },
      "input":{"shape":"ListDataSourcesRequest"},
      "output":{"shape":"ListDataSourcesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists data sources in current Amazon Web Services Region that belong to this Amazon Web Services account.</p>"
    },
    "ListFolderMembers":{
      "name":"ListFolderMembers",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/members"
      },
      "input":{"shape":"ListFolderMembersRequest"},
      "output":{"shape":"ListFolderMembersResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>List all assets (<code>DASHBOARD</code>, <code>ANALYSIS</code>, and <code>DATASET</code>) in a folder. </p>"
    },
    "ListFolders":{
      "name":"ListFolders",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/folders"
      },
      "input":{"shape":"ListFoldersRequest"},
      "output":{"shape":"ListFoldersResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all folders in an account.</p>"
    },
    "ListGroupMemberships":{
      "name":"ListGroupMemberships",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members"
      },
      "input":{"shape":"ListGroupMembershipsRequest"},
      "output":{"shape":"ListGroupMembershipsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Lists member users in a group.</p>"
    },
    "ListGroups":{
      "name":"ListGroups",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input":{"shape":"ListGroupsRequest"},
      "output":{"shape":"ListGroupsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Lists all user groups in Amazon QuickSight. </p>"
    },
    "ListIAMPolicyAssignments":{
      "name":"ListIAMPolicyAssignments",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments"
      },
      "input":{"shape":"ListIAMPolicyAssignmentsRequest"},
      "output":{"shape":"ListIAMPolicyAssignmentsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists IAM policy assignments in the current Amazon QuickSight account.</p>"
    },
    "ListIAMPolicyAssignmentsForUser":{
      "name":"ListIAMPolicyAssignmentsForUser",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}/iam-policy-assignments"
      },
      "input":{"shape":"ListIAMPolicyAssignmentsForUserRequest"},
      "output":{"shape":"ListIAMPolicyAssignmentsForUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all the IAM policy assignments, including the Amazon Resource Names (ARNs) for the IAM policies assigned to the specified user and group or groups that the user belongs to.</p>"
    },
    "ListIngestions":{
      "name":"ListIngestions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions"
      },
      "input":{"shape":"ListIngestionsRequest"},
      "output":{"shape":"ListIngestionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists the history of SPICE ingestions for a dataset.</p>"
    },
    "ListNamespaces":{
      "name":"ListNamespaces",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces"
      },
      "input":{"shape":"ListNamespacesRequest"},
      "output":{"shape":"ListNamespacesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Lists the namespaces for the specified Amazon Web Services account.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/resources/{ResourceArn}/tags"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists the tags assigned to a resource.</p>"
    },
    "ListTemplateAliases":{
      "name":"ListTemplateAliases",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases"
      },
      "input":{"shape":"ListTemplateAliasesRequest"},
      "output":{"shape":"ListTemplateAliasesResponse"},
      "errors":[
        {"shape":"InvalidNextTokenException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all the aliases of a template.</p>"
    },
    "ListTemplateVersions":{
      "name":"ListTemplateVersions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/versions"
      },
      "input":{"shape":"ListTemplateVersionsRequest"},
      "output":{"shape":"ListTemplateVersionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all the versions of the templates in the current Amazon QuickSight account.</p>"
    },
    "ListTemplates":{
      "name":"ListTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates"
      },
      "input":{"shape":"ListTemplatesRequest"},
      "output":{"shape":"ListTemplatesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all the templates in the current Amazon QuickSight account.</p>"
    },
    "ListThemeAliases":{
      "name":"ListThemeAliases",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases"
      },
      "input":{"shape":"ListThemeAliasesRequest"},
      "output":{"shape":"ListThemeAliasesResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all the aliases of a theme.</p>"
    },
    "ListThemeVersions":{
      "name":"ListThemeVersions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/versions"
      },
      "input":{"shape":"ListThemeVersionsRequest"},
      "output":{"shape":"ListThemeVersionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all the versions of the themes in the current Amazon Web Services account.</p>"
    },
    "ListThemes":{
      "name":"ListThemes",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes"
      },
      "input":{"shape":"ListThemesRequest"},
      "output":{"shape":"ListThemesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all the themes in the current Amazon Web Services account.</p>"
    },
    "ListUserGroups":{
      "name":"ListUserGroups",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}/groups"
      },
      "input":{"shape":"ListUserGroupsRequest"},
      "output":{"shape":"ListUserGroupsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Lists the Amazon QuickSight groups that an Amazon QuickSight user is a member of.</p>"
    },
    "ListUsers":{
      "name":"ListUsers",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users"
      },
      "input":{"shape":"ListUsersRequest"},
      "output":{"shape":"ListUsersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Returns a list of all of the Amazon QuickSight users belonging to this account. </p>"
    },
    "RegisterUser":{
      "name":"RegisterUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users"
      },
      "input":{"shape":"RegisterUserRequest"},
      "output":{"shape":"RegisterUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Creates an Amazon QuickSight user, whose identity is associated with the Identity and Access Management (IAM) identity or role specified in the request. </p>"
    },
    "RestoreAnalysis":{
      "name":"RestoreAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/restore/analyses/{AnalysisId}"
      },
      "input":{"shape":"RestoreAnalysisRequest"},
      "output":{"shape":"RestoreAnalysisResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Restores an analysis.</p>"
    },
    "SearchAnalyses":{
      "name":"SearchAnalyses",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/search/analyses"
      },
      "input":{"shape":"SearchAnalysesRequest"},
      "output":{"shape":"SearchAnalysesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Searches for analyses that belong to the user specified in the filter.</p> <note> <p>This operation is eventually consistent. The results are best effort and may not reflect very recent updates and changes.</p> </note>"
    },
    "SearchDashboards":{
      "name":"SearchDashboards",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/search/dashboards"
      },
      "input":{"shape":"SearchDashboardsRequest"},
      "output":{"shape":"SearchDashboardsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Searches for dashboards that belong to a user. </p> <note> <p>This operation is eventually consistent. The results are best effort and may not reflect very recent updates and changes.</p> </note>"
    },
    "SearchFolders":{
      "name":"SearchFolders",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/search/folders"
      },
      "input":{"shape":"SearchFoldersRequest"},
      "output":{"shape":"SearchFoldersResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Searches the subfolders in a folder.</p>"
    },
    "SearchGroups":{
      "name":"SearchGroups",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups-search"
      },
      "input":{"shape":"SearchGroupsRequest"},
      "output":{"shape":"SearchGroupsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Use the <code>SearchGroups</code> operation to search groups in a specified Amazon QuickSight namespace using the supplied filters.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/resources/{ResourceArn}/tags"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Assigns one or more tags (key-value pairs) to the specified Amazon QuickSight resource. </p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions, by granting a user permission to access or change only resources with certain tag values. You can use the <code>TagResource</code> operation with a resource that already has tags. If you specify a new tag key for the resource, this tag is appended to the list of tags associated with the resource. If you specify a tag key that is already associated with the resource, the new tag value that you specify replaces the previous value for that tag.</p> <p>You can associate as many as 50 tags with a resource. Amazon QuickSight supports tagging on data set, data source, dashboard, and template. </p> <p>Tagging for Amazon QuickSight works in a similar way to tagging for other Amazon Web Services services, except for the following:</p> <ul> <li> <p>You can't use tags to track costs for Amazon QuickSight. This isn't possible because you can't tag the resources that Amazon QuickSight costs are based on, for example Amazon QuickSight storage capacity (SPICE), number of users, type of users, and usage metrics.</p> </li> <li> <p>Amazon QuickSight doesn't currently support the tag editor for Resource Groups.</p> </li> </ul>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/resources/{ResourceArn}/tags"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Removes a tag or tags from a resource.</p>"
    },
    "UpdateAccountCustomization":{
      "name":"UpdateAccountCustomization",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"UpdateAccountCustomizationRequest"},
      "output":{"shape":"UpdateAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Updates Amazon QuickSight customizations the current Amazon Web Services Region. Currently, the only customization you can use is a theme.</p> <p>You can use customizations for your Amazon Web Services account or, if you specify a namespace, for a Amazon QuickSight namespace instead. Customizations that apply to a namespace override customizations that apply to an Amazon Web Services account. To find out which customizations apply, use the <code>DescribeAccountCustomization</code> API operation. </p>"
    },
    "UpdateAccountSettings":{
      "name":"UpdateAccountSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/settings"
      },
      "input":{"shape":"UpdateAccountSettingsRequest"},
      "output":{"shape":"UpdateAccountSettingsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Updates the Amazon QuickSight settings in your Amazon Web Services account.</p>"
    },
    "UpdateAnalysis":{
      "name":"UpdateAnalysis",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"UpdateAnalysisRequest"},
      "output":{"shape":"UpdateAnalysisResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates an analysis in Amazon QuickSight</p>"
    },
    "UpdateAnalysisPermissions":{
      "name":"UpdateAnalysisPermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}/permissions"
      },
      "input":{"shape":"UpdateAnalysisPermissionsRequest"},
      "output":{"shape":"UpdateAnalysisPermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates the read and write permissions for an analysis.</p>"
    },
    "UpdateDashboard":{
      "name":"UpdateDashboard",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"UpdateDashboardRequest"},
      "output":{"shape":"UpdateDashboardResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates a dashboard in an Amazon Web Services account.</p> <note> <p>Updating a Dashboard creates a new dashboard version but does not immediately publish the new version. You can update the published version of a dashboard by using the <code> <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_UpdateDashboardPublishedVersion.html\">UpdateDashboardPublishedVersion</a> </code> API operation.</p> </note>"
    },
    "UpdateDashboardPermissions":{
      "name":"UpdateDashboardPermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/permissions"
      },
      "input":{"shape":"UpdateDashboardPermissionsRequest"},
      "output":{"shape":"UpdateDashboardPermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates read and write permissions on a dashboard.</p>"
    },
    "UpdateDashboardPublishedVersion":{
      "name":"UpdateDashboardPublishedVersion",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/versions/{VersionNumber}"
      },
      "input":{"shape":"UpdateDashboardPublishedVersionRequest"},
      "output":{"shape":"UpdateDashboardPublishedVersionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates the published version of a dashboard.</p>"
    },
    "UpdateDataSet":{
      "name":"UpdateDataSet",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input":{"shape":"UpdateDataSetRequest"},
      "output":{"shape":"UpdateDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates a dataset. This operation doesn't support datasets that include uploaded files as a source.</p>"
    },
    "UpdateDataSetPermissions":{
      "name":"UpdateDataSetPermissions",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/permissions"
      },
      "input":{"shape":"UpdateDataSetPermissionsRequest"},
      "output":{"shape":"UpdateDataSetPermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates the permissions on a dataset.</p> <p>The permissions resource is <code>arn:aws:quicksight:region:aws-account-id:dataset/data-set-id</code>.</p>"
    },
    "UpdateDataSource":{
      "name":"UpdateDataSource",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input":{"shape":"UpdateDataSourceRequest"},
      "output":{"shape":"UpdateDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates a data source.</p>"
    },
    "UpdateDataSourcePermissions":{
      "name":"UpdateDataSourcePermissions",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}/permissions"
      },
      "input":{"shape":"UpdateDataSourcePermissionsRequest"},
      "output":{"shape":"UpdateDataSourcePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates the permissions to a data source.</p>"
    },
    "UpdateFolder":{
      "name":"UpdateFolder",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input":{"shape":"UpdateFolderRequest"},
      "output":{"shape":"UpdateFolderResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates the name of a folder.</p>"
    },
    "UpdateFolderPermissions":{
      "name":"UpdateFolderPermissions",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/permissions"
      },
      "input":{"shape":"UpdateFolderPermissionsRequest"},
      "output":{"shape":"UpdateFolderPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates permissions of a folder.</p>"
    },
    "UpdateGroup":{
      "name":"UpdateGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input":{"shape":"UpdateGroupRequest"},
      "output":{"shape":"UpdateGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Changes a group description. </p>"
    },
    "UpdateIAMPolicyAssignment":{
      "name":"UpdateIAMPolicyAssignment",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input":{"shape":"UpdateIAMPolicyAssignmentRequest"},
      "output":{"shape":"UpdateIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates an existing IAM policy assignment. This operation updates only the optional parameter or parameters that are specified in the request. This overwrites all of the users included in <code>Identities</code>. </p>"
    },
    "UpdateIpRestriction":{
      "name":"UpdateIpRestriction",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/ip-restriction"
      },
      "input":{"shape":"UpdateIpRestrictionRequest"},
      "output":{"shape":"UpdateIpRestrictionResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates the content and status of IP rules. To use this operation, you need to provide the entire map of rules. You can use the <code>DescribeIpRestriction</code> operation to get the current rule map.</p>"
    },
    "UpdatePublicSharingSettings":{
      "name":"UpdatePublicSharingSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/public-sharing-settings"
      },
      "input":{"shape":"UpdatePublicSharingSettingsRequest"},
      "output":{"shape":"UpdatePublicSharingSettingsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedPricingPlanException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Use the UpdatePublicSharingSettings operation to enable or disable the public sharing settings of an Amazon QuickSight dashboard.</p> <p>To use this operation, enable session capacity pricing on your Amazon QuickSight account.</p> <p>Before you can enable public sharing on your account, you need to allow public sharing permissions to an administrative user in the IAM console. For more information on using IAM with Amazon QuickSight, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/security_iam_service-with-iam.html\">Using Amazon QuickSight with IAM</a>.</p>"
    },
    "UpdateTemplate":{
      "name":"UpdateTemplate",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"UpdateTemplateRequest"},
      "output":{"shape":"UpdateTemplateResponse"},
      "errors":[
[...]
