{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2022-10-28",
    "endpointPrefix":"simspaceweaver",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"AWS SimSpace Weaver",
    "serviceId":"SimSpaceWeaver",
    "signatureVersion":"v4",
    "signingName":"simspaceweaver",
    "uid":"simspaceweaver-2022-10-28"
  },
  "operations":{
    "DeleteApp":{
      "name":"DeleteApp",
      "http":{
        "method":"DELETE",
        "requestUri":"/deleteapp",
        "responseCode":200
      },
      "input":{"shape":"DeleteAppInput"},
      "output":{"shape":"DeleteAppOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes the instance of the given custom app.</p>",
      "idempotent":true
    },
    "DeleteSimulation":{
      "name":"DeleteSimulation",
      "http":{
        "method":"DELETE",
        "requestUri":"/deletesimulation",
        "responseCode":200
      },
      "input":{"shape":"DeleteSimulationInput"},
      "output":{"shape":"DeleteSimulationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes all SimSpace Weaver resources assigned to the given simulation.</p> <note> <p>Your simulation uses resources in other Amazon Web Services services. This API operation doesn't delete resources in other Amazon Web Services services.</p> </note>",
      "idempotent":true
    },
    "DescribeApp":{
      "name":"DescribeApp",
      "http":{
        "method":"GET",
        "requestUri":"/describeapp",
        "responseCode":200
      },
      "input":{"shape":"DescribeAppInput"},
      "output":{"shape":"DescribeAppOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns the state of the given custom app.</p>"
    },
    "DescribeSimulation":{
      "name":"DescribeSimulation",
      "http":{
        "method":"GET",
        "requestUri":"/describesimulation",
        "responseCode":200
      },
      "input":{"shape":"DescribeSimulationInput"},
      "output":{"shape":"DescribeSimulationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns the current state of the given simulation.</p>"
    },
    "ListApps":{
      "name":"ListApps",
      "http":{
        "method":"GET",
        "requestUri":"/listapps",
        "responseCode":200
      },
      "input":{"shape":"ListAppsInput"},
      "output":{"shape":"ListAppsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all custom apps or service apps for the given simulation and domain.</p>"
    },
    "ListSimulations":{
      "name":"ListSimulations",
      "http":{
        "method":"GET",
        "requestUri":"/listsimulations",
        "responseCode":200
      },
      "input":{"shape":"ListSimulationsInput"},
      "output":{"shape":"ListSimulationsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists the SimSpace Weaver simulations in the Amazon Web Services account used to make the API call.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceInput"},
      "output":{"shape":"ListTagsForResourceOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all tags on a SimSpace Weaver resource.</p>"
    },
    "StartApp":{
      "name":"StartApp",
      "http":{
        "method":"POST",
        "requestUri":"/startapp",
        "responseCode":200
      },
      "input":{"shape":"StartAppInput"},
      "output":{"shape":"StartAppOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Starts a custom app with the configuration specified in the simulation schema.</p>"
    },
    "StartClock":{
      "name":"StartClock",
      "http":{
        "method":"POST",
        "requestUri":"/startclock",
        "responseCode":200
      },
      "input":{"shape":"StartClockInput"},
      "output":{"shape":"StartClockOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Starts the simulation clock.</p>"
    },
    "StartSimulation":{
      "name":"StartSimulation",
      "http":{
        "method":"POST",
        "requestUri":"/startsimulation",
        "responseCode":200
      },
      "input":{"shape":"StartSimulationInput"},
      "output":{"shape":"StartSimulationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Starts a simulation with the given name and schema.</p>"
    },
    "StopApp":{
      "name":"StopApp",
      "http":{
        "method":"POST",
        "requestUri":"/stopapp",
        "responseCode":200
      },
      "input":{"shape":"StopAppInput"},
      "output":{"shape":"StopAppOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Stops the given custom app and shuts down all of its allocated compute resources.</p>"
    },
    "StopClock":{
      "name":"StopClock",
      "http":{
        "method":"POST",
        "requestUri":"/stopclock",
        "responseCode":200
      },
      "input":{"shape":"StopClockInput"},
      "output":{"shape":"StopClockOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Stops the simulation clock.</p>"
    },
    "StopSimulation":{
      "name":"StopSimulation",
      "http":{
        "method":"POST",
        "requestUri":"/stopsimulation",
        "responseCode":200
      },
      "input":{"shape":"StopSimulationInput"},
      "output":{"shape":"StopSimulationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Stops the given simulation.</p> <important> <p>You can't restart a simulation after you stop it. If you need to restart a simulation, you must stop it, delete it, and start a new instance of it.</p> </important>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceInput"},
      "output":{"shape":"TagResourceOutput"},
      "errors":[
        {"shape":"TooManyTagsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Adds tags to a SimSpace Weaver resource. For more information about tags, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a> in the <i>Amazon Web Services General Reference</i>.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceInput"},
      "output":{"shape":"UntagResourceOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Removes tags from a SimSpace Weaver resource. For more information about tags, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a> in the <i>Amazon Web Services General Reference</i>.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"}
      },
      "documentation":"<p/>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AppPortMappings":{
      "type":"list",
      "member":{"shape":"SimulationAppPortMapping"}
    },
    "BucketName":{
      "type":"string",
      "max":63,
      "min":3
    },
    "ClientToken":{
      "type":"string",
      "max":128,
      "min":32,
      "pattern":"^[a-zA-Z0-9-]+$",
      "sensitive":true
    },
    "ClockStatus":{
      "type":"string",
      "enum":[
        "UNKNOWN",
        "STARTING",
        "STARTED",
        "STOPPING",
        "STOPPED"
      ]
    },
    "ClockTargetStatus":{
      "type":"string",
      "enum":[
        "UNKNOWN",
        "STARTED",
        "STOPPED"
      ]
    },
    "CloudWatchLogsLogGroup":{
      "type":"structure",
      "members":{
        "LogGroupArn":{
          "shape":"LogGroupArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon CloudWatch Logs log group for the simulation. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>. For more information about log groups, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html\">Working with log groups and log streams</a> in the <i>Amazon CloudWatch Logs User Guide</i>.</p>"
        }
      },
      "documentation":"<p>The Amazon CloudWatch Logs log group for the simulation. For more information about log groups, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html\">Working with log groups and log streams</a> in the <i>Amazon CloudWatch Logs User Guide</i>.</p>"
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"}
      },
      "documentation":"<p/>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "DeleteAppInput":{
      "type":"structure",
      "required":[
        "App",
        "Domain",
        "Simulation"
      ],
      "members":{
        "App":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the app.</p>",
          "location":"querystring",
          "locationName":"app"
        },
        "Domain":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the domain of the app.</p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "Simulation":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the simulation of the app.</p>",
          "location":"querystring",
          "locationName":"simulation"
        }
      }
    },
    "DeleteAppOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteSimulationInput":{
      "type":"structure",
      "required":["Simulation"],
      "members":{
        "Simulation":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the simulation.</p>",
          "location":"querystring",
          "locationName":"simulation"
        }
      }
    },
    "DeleteSimulationOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeAppInput":{
      "type":"structure",
      "required":[
        "App",
        "Domain",
        "Simulation"
      ],
      "members":{
        "App":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the app.</p>",
          "location":"querystring",
          "locationName":"app"
        },
        "Domain":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the domain of the app.</p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "Simulation":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the simulation of the app.</p>",
          "location":"querystring",
          "locationName":"simulation"
        }
      }
    },
    "DescribeAppOutput":{
      "type":"structure",
      "members":{
        "Description":{
          "shape":"Description",
          "documentation":"<p>The description of the app.</p>"
        },
        "Domain":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the domain of the app.</p>"
        },
        "EndpointInfo":{
          "shape":"SimulationAppEndpointInfo",
          "documentation":"<p>Information about the network endpoint for the custom app. You can use the endpoint to connect to the custom app.</p>"
        },
        "LaunchOverrides":{"shape":"LaunchOverrides"},
        "Name":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the app.</p>"
        },
        "Simulation":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the simulation of the app.</p>"
        },
        "Status":{
          "shape":"SimulationAppStatus",
          "documentation":"<p>The current lifecycle state of the custom app.</p>"
        },
        "TargetStatus":{
          "shape":"SimulationAppTargetStatus",
          "documentation":"<p>The desired lifecycle state of the custom app.</p>"
        }
      }
    },
    "DescribeSimulationInput":{
      "type":"structure",
      "required":["Simulation"],
      "members":{
        "Simulation":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the simulation.</p>",
          "location":"querystring",
          "locationName":"simulation"
        }
      }
    },
    "DescribeSimulationOutput":{
      "type":"structure",
      "members":{
        "Arn":{
          "shape":"SimSpaceWeaverArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the simulation. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the simulation was created, expressed as the number of seconds and milliseconds in UTC since the Unix epoch (0:0:0.000, January 1, 1970).</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>The description of the simulation.</p>"
        },
        "ExecutionId":{
          "shape":"UUID",
          "documentation":"<p>A universally unique identifier (UUID) for this simulation.</p>"
        },
        "LiveSimulationState":{
          "shape":"LiveSimulationState",
          "documentation":"<p>A collection of additional state information, such as domain and clock configuration.</p>"
        },
        "LoggingConfiguration":{
          "shape":"LoggingConfiguration",
          "documentation":"<p>Settings that control how SimSpace Weaver handles your simulation log data.</p>"
        },
        "MaximumDuration":{
          "shape":"TimeToLiveString",
          "documentation":"<p>The maximum running time of the simulation, specified as a number of months (m or M), hours (h or H), or days (d or D). The simulation stops when it reaches this limit.</p>"
        },
        "Name":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the simulation.</p>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role that the simulation assumes to perform actions. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>. For more information about IAM roles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles.html\">IAM roles</a> in the <i>Identity and Access Management User Guide</i>.</p>"
        },
        "SchemaError":{
          "shape":"OptionalString",
          "documentation":"<p>An error message that SimSpace Weaver returns only if there is a problem with the simulation schema.</p>"
        },
        "SchemaS3Location":{
          "shape":"S3Location",
          "documentation":"<p>The location of the simulation schema in Amazon Simple Storage Service (Amazon S3). For more information about Amazon S3, see the <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/Welcome.html\"> <i>Amazon Simple Storage Service User Guide</i> </a>.</p>"
        },
        "Status":{
          "shape":"SimulationStatus",
          "documentation":"<p>The current lifecycle state of the simulation.</p>"
        },
        "TargetStatus":{
          "shape":"SimulationTargetStatus",
          "documentation":"<p>The desired lifecycle state of the simulation.</p>"
        }
      }
    },
    "Description":{
      "type":"string",
      "max":500,
      "min":0
    },
    "Domain":{
      "type":"structure",
      "members":{
        "Lifecycle":{
          "shape":"LifecycleManagementStrategy",
          "documentation":"<p>The type of lifecycle management for apps in the domain. This value indicates whether apps in this domain are <i>managed</i> (SimSpace Weaver starts and stops the apps) or <i>unmanaged</i> (you must start and stop the apps).</p> <p class=\"title\"> <b>Lifecycle types</b> </p> <ul> <li> <p> <code>PerWorker</code> – Managed: SimSpace Weaver starts 1 app on each worker</p> </li> <li> <p> <code>BySpatialSubdivision</code> – Managed: SimSpace Weaver starts 1 app for each spatial partition</p> </li> <li> <p> <code>ByRequest</code> – Unmanaged: You use the <b>StartApp</b> API to start the apps and use the <b>StopApp</b> API to stop the apps.</p> </li> </ul> <note> <p>The lifecycle types will change when the service is released for general availability (GA).</p> </note>"
        },
        "Name":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the domain.</p>"
        }
      },
      "documentation":"<p>A collection of app instances that run the same executable app code and have the same launch options and commands.</p> <p>For more information about domains, see <a href=\"https://docs.aws.amazon.com/simspaceweaver/latest/userguide/what-is_key-concepts.html\">Key concepts</a> in the <i>Amazon Web Services SimSpace Weaver User Guide</i>.</p>"
    },
    "DomainList":{
      "type":"list",
      "member":{"shape":"Domain"}
    },
    "InternalServerException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"}
      },
      "documentation":"<p/>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "LaunchCommandList":{
      "type":"list",
      "member":{"shape":"NonEmptyString"}
    },
    "LaunchOverrides":{
      "type":"structure",
      "members":{
        "LaunchCommands":{
          "shape":"LaunchCommandList",
          "documentation":"<p>App launch commands and command line parameters that override the launch command configured in the simulation schema.</p>"
        }
      },
      "documentation":"<p>Options that apply when the app starts. These optiAons override default behavior.</p>"
    },
    "LifecycleManagementStrategy":{
      "type":"string",
      "enum":[
        "Unknown",
        "PerWorker",
        "BySpatialSubdivision",
        "ByRequest"
      ]
    },
    "ListAppsInput":{
      "type":"structure",
      "required":["Simulation"],
      "members":{
        "Domain":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the domain that you want to list apps for.</p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "MaxResults":{
          "shape":"PositiveInteger",
          "documentation":"<p>The maximum number of apps to list.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "NextToken":{
          "shape":"OptionalString",
          "documentation":"<p>If SimSpace Weaver returns <code>nextToken</code>, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. To retrieve the next page, call the operation again using the returned token. Keep all other arguments unchanged. If no results remain, <code>nextToken</code> is set to <code>null</code>. Each pagination token expires after 24 hours. If you provide a token that isn't valid, you receive an <i>HTTP 400 ValidationException</i> error.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "Simulation":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the simulation that you want to list apps for.</p>",
          "location":"querystring",
          "locationName":"simulation"
        }
      }
    },
    "ListAppsOutput":{
      "type":"structure",
      "members":{
        "Apps":{
          "shape":"SimulationAppList",
          "documentation":"<p>The list of apps for the given simulation and domain.</p>"
        },
        "NextToken":{
          "shape":"OptionalString",
          "documentation":"<p>If SimSpace Weaver returns <code>nextToken</code>, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. To retrieve the next page, call the operation again using the returned token. Keep all other arguments unchanged. If no results remain, <code>nextToken</code> is set to <code>null</code>. Each pagination token expires after 24 hours. If you provide a token that isn't valid, you receive an <i>HTTP 400 ValidationException</i> error.</p>"
        }
      }
    },
    "ListSimulationsInput":{
      "type":"structure",
      "members":{
        "MaxResults":{
          "shape":"PositiveInteger",
          "documentation":"<p>The maximum number of simulations to list.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "NextToken":{
          "shape":"OptionalString",
          "documentation":"<p>If SimSpace Weaver returns <code>nextToken</code>, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. To retrieve the next page, call the operation again using the returned token. Keep all other arguments unchanged. If no results remain, <code>nextToken</code> is set to <code>null</code>. Each pagination token expires after 24 hours. If you provide a token that isn't valid, you receive an <i>HTTP 400 ValidationException</i> error.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListSimulationsOutput":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"OptionalString",
          "documentation":"<p>If SimSpace Weaver returns <code>nextToken</code>, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. To retrieve the next page, call the operation again using the returned token. Keep all other arguments unchanged. If no results remain, <code>nextToken</code> is set to <code>null</code>. Each pagination token expires after 24 hours. If you provide a token that isn't valid, you receive an <i>HTTP 400 ValidationException</i> error.</p>"
        },
        "Simulations":{
          "shape":"SimulationList",
          "documentation":"<p>The list of simulations.</p>"
        }
      }
    },
    "ListTagsForResourceInput":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{
          "shape":"SimSpaceWeaverArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "location":"uri",
          "locationName":"ResourceArn"
        }
      }
    },
    "ListTagsForResourceOutput":{
      "type":"structure",
      "members":{
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>The list of tags for the resource.</p>"
        }
      }
    },
    "LiveSimulationState":{
      "type":"structure",
      "members":{
        "Clocks":{
          "shape":"SimulationClockList",
          "documentation":"<p>A list of simulation clocks.</p> <note> <p>At this time, a simulation has only one clock.</p> </note>"
        },
        "Domains":{
          "shape":"DomainList",
          "documentation":"<p>A list of domains for the simulation. For more information about domains, see <a href=\"https://docs.aws.amazon.com/simspaceweaver/latest/userguide/what-is_key-concepts.html\">Key concepts</a> in the <i>Amazon Web Services SimSpace Weaver User Guide</i>.</p>"
        }
      },
      "documentation":"<p>A collection of additional state information, such as domain and clock configuration.</p>"
    },
    "LogDestination":{
      "type":"structure",
      "members":{
        "CloudWatchLogsLogGroup":{
          "shape":"CloudWatchLogsLogGroup",
          "documentation":"<p>An Amazon CloudWatch Logs log group that stores simulation log data. For more information about log groups, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html\">Working with log groups and log streams</a> in the <i>Amazon CloudWatch Logs User Guide</i>.</p>"
        }
      },
      "documentation":"<p>The location where SimSpace Weaver sends simulation log data.</p>"
    },
    "LogDestinations":{
      "type":"list",
      "member":{"shape":"LogDestination"}
    },
    "LogGroupArn":{
      "type":"string",
      "max":1600,
      "min":0,
      "pattern":"^arn:(?:aws|aws-cn):log-group:([a-z]{2}-[a-z]+-\\d{1}):(\\d{12})?:role\\/(.+)$"
    },
    "LoggingConfiguration":{
      "type":"structure",
      "members":{
        "Destinations":{
          "shape":"LogDestinations",
          "documentation":"<p>A list of the locations where SimSpace Weaver sends simulation log data.</p>"
        }
      },
      "documentation":"<p>The logging configuration for a simulation.</p>"
    },
    "NonEmptyString":{
      "type":"string",
      "max":1600,
      "min":1
    },
    "ObjectKey":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "OptionalString":{"type":"string"},
    "PortNumber":{
      "type":"integer",
      "box":true,
      "max":65535,
      "min":0
    },
    "PositiveInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"}
      },
      "documentation":"<p/>",
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "RoleArn":{
      "type":"string",
      "max":1600,
      "min":0,
      "pattern":"^arn:(?:aws|aws-cn):iam::(\\d{12})?:role\\/(.+)$"
    },
    "S3Location":{
      "type":"structure",
      "members":{
        "BucketName":{
          "shape":"BucketName",
          "documentation":"<p>The name of an Amazon S3 bucket. For more information about buckets, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/creating-buckets-s3.html\">Creating, configuring, and working with Amazon S3 buckets</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p>"
        },
        "ObjectKey":{
          "shape":"ObjectKey",
          "documentation":"<p>The key name of an object in Amazon S3. For more information about Amazon S3 objects and object keys, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/uploading-downloading-objects.html\">Uploading, downloading, and working with objects in Amazon S3</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p>"
        }
      },
      "documentation":"<p>A location in Amazon Simple Storage Service (Amazon S3) where SimSpace Weaver stores simulation data, such as your app zip files and schema file. For more information about Amazon S3, see the <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/Welcome.html\"> <i>Amazon Simple Storage Service User Guide</i> </a>.</p>"
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"}
      },
      "documentation":"<p/>",
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "SimSpaceWeaverArn":{
      "type":"string",
      "max":1600,
      "min":0,
      "pattern":"^arn:(?:aws|aws-cn):simspaceweaver:([a-z]{2}-[a-z]+-\\d{1}):(\\d{12})?:([a-z]+)\\/(.+)$"
    },
    "SimSpaceWeaverResourceName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"^[a-zA-Z0-9_.-]+$"
    },
    "SimulationAppEndpointInfo":{
      "type":"structure",
      "members":{
        "Address":{
          "shape":"NonEmptyString",
          "documentation":"<p>The IP address of the app. SimSpace Weaver dynamically assigns this IP address when the app starts.</p>"
        },
        "IngressPortMappings":{
          "shape":"AppPortMappings",
          "documentation":"<p>The inbound TCP/UDP port numbers of the app. The combination of an IP address and a port number form a network endpoint.</p>"
        }
      },
      "documentation":"<p>Information about the network endpoint that you can use to connect to your custom or service app.</p>"
    },
    "SimulationAppList":{
      "type":"list",
      "member":{"shape":"SimulationAppMetadata"}
    },
    "SimulationAppMetadata":{
      "type":"structure",
      "members":{
        "Domain":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The domain of the app. For more information about domains, see <a href=\"https://docs.aws.amazon.com/simspaceweaver/latest/userguide/what-is_key-concepts.html\">Key concepts</a> in the <i>Amazon Web Services SimSpace Weaver User Guide</i>.</p>"
        },
        "Name":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the app.</p>"
        },
        "Simulation":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the simulation of the app.</p>"
        },
        "Status":{
          "shape":"SimulationAppStatus",
          "documentation":"<p>The current status of the app.</p>"
        },
        "TargetStatus":{
          "shape":"SimulationAppTargetStatus",
          "documentation":"<p>The desired status of the app.</p>"
        }
      },
      "documentation":"<p>A collection of metadata about an app.</p>"
    },
    "SimulationAppPortMapping":{
      "type":"structure",
      "members":{
        "Actual":{
          "shape":"PortNumber",
          "documentation":"<p>The TCP/UDP port number of the running app. SimSpace Weaver dynamically assigns this port number when the app starts. SimSpace Weaver maps the <code>Declared</code> port to the <code>Actual</code> port. Clients connect to the app using the app's IP address and the <code>Actual</code> port number.</p>"
        },
        "Declared":{
          "shape":"PortNumber",
          "documentation":"<p>The TCP/UDP port number of the app, declared in the simulation schema. SimSpace Weaver maps the <code>Declared</code> port to the <code>Actual</code> port. The source code for the app should bind to the <code>Declared</code> port.</p>"
        }
      },
      "documentation":"<p>A collection of TCP/UDP ports for a custom or service app.</p>"
    },
    "SimulationAppStatus":{
      "type":"string",
      "enum":[
        "STARTING",
        "STARTED",
        "STOPPING",
        "STOPPED",
        "ERROR",
        "UNKNOWN"
      ]
    },
    "SimulationAppTargetStatus":{
      "type":"string",
      "enum":[
        "UNKNOWN",
        "STARTED",
        "STOPPED"
      ]
    },
    "SimulationClock":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"ClockStatus",
          "documentation":"<p>The current status of the simulation clock.</p>"
        },
        "TargetStatus":{
          "shape":"ClockTargetStatus",
          "documentation":"<p>The desired status of the simulation clock.</p>"
        }
      },
      "documentation":"<p>Status information about the simulation clock.</p>"
    },
    "SimulationClockList":{
      "type":"list",
      "member":{"shape":"SimulationClock"}
    },
    "SimulationList":{
      "type":"list",
      "member":{"shape":"SimulationMetadata"}
    },
    "SimulationMetadata":{
      "type":"structure",
      "members":{
        "Arn":{
          "shape":"SimSpaceWeaverArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the simulation. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the simulation was created, expressed as the number of seconds and milliseconds in UTC since the Unix epoch (0:0:0.000, January 1, 1970).</p>"
        },
        "Name":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the simulation.</p>"
        },
        "Status":{
          "shape":"SimulationStatus",
          "documentation":"<p>The current status of the simulation.</p>"
        },
        "TargetStatus":{
          "shape":"SimulationTargetStatus",
          "documentation":"<p>The desired status of the simulation.</p>"
        }
      },
      "documentation":"<p>A collection of data about the simulation.</p>"
    },
    "SimulationStatus":{
      "type":"string",
      "enum":[
        "UNKNOWN",
        "STARTING",
        "STARTED",
        "STOPPING",
        "STOPPED",
        "FAILED",
        "DELETING",
        "DELETED"
      ]
    },
    "SimulationTargetStatus":{
      "type":"string",
      "enum":[
        "UNKNOWN",
        "STARTED",
        "STOPPED",
        "DELETED"
      ]
    },
    "StartAppInput":{
      "type":"structure",
      "required":[
        "Domain",
        "Name",
        "Simulation"
      ],
      "members":{
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A value that you provide to ensure that repeated calls to this API operation using the same parameters complete only once. A <code>ClientToken</code> is also known as an <i>idempotency token</i>. A <code>ClientToken</code> expires after 24 hours.</p>",
          "idempotencyToken":true
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>The description of the app.</p>"
        },
        "Domain":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the domain of the app.</p>"
        },
        "LaunchOverrides":{"shape":"LaunchOverrides"},
        "Name":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the app.</p>"
        },
        "Simulation":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the simulation of the app.</p>"
        }
      }
    },
    "StartAppOutput":{
      "type":"structure",
      "members":{
        "Domain":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the domain of the app.</p>"
        },
        "Name":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the app.</p>"
        },
        "Simulation":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the simulation of the app.</p>"
        }
      }
    },
    "StartClockInput":{
      "type":"structure",
      "required":["Simulation"],
      "members":{
        "Simulation":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the simulation.</p>"
        }
      }
    },
    "StartClockOutput":{
      "type":"structure",
      "members":{
      }
    },
    "StartSimulationInput":{
      "type":"structure",
      "required":[
        "Name",
        "RoleArn",
        "SchemaS3Location"
      ],
      "members":{
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A value that you provide to ensure that repeated calls to this API operation using the same parameters complete only once. A <code>ClientToken</code> is also known as an <i>idempotency token</i>. A <code>ClientToken</code> expires after 24 hours.</p>",
          "idempotencyToken":true
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>The description of the simulation.</p>"
        },
        "MaximumDuration":{
          "shape":"TimeToLiveString",
          "documentation":"<p>The maximum running time of the simulation, specified as a number of months (m or M), hours (h or H), or days (d or D). The simulation stops when it reaches this limit.</p>"
        },
        "Name":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the simulation.</p>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Identity and Access Management (IAM) role that the simulation assumes to perform actions. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>. For more information about IAM roles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles.html\">IAM roles</a> in the <i>Identity and Access Management User Guide</i>.</p>"
        },
        "SchemaS3Location":{
          "shape":"S3Location",
          "documentation":"<p>The location of the simulation schema in Amazon Simple Storage Service (Amazon S3). For more information about Amazon S3, see the <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/Welcome.html\"> <i>Amazon Simple Storage Service User Guide</i> </a>.</p>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>A list of tags for the simulation. For more information about tags, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a> in the <i>Amazon Web Services General Reference</i>.</p>"
        }
      }
    },
    "StartSimulationOutput":{
      "type":"structure",
      "members":{
        "Arn":{
          "shape":"SimSpaceWeaverArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the simulation. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the simulation was created, expressed as the number of seconds and milliseconds in UTC since the Unix epoch (0:0:0.000, January 1, 1970).</p>"
        },
        "ExecutionId":{
          "shape":"UUID",
          "documentation":"<p>A universally unique identifier (UUID) for this simulation.</p>"
        }
      }
    },
    "StopAppInput":{
      "type":"structure",
      "required":[
        "App",
        "Domain",
        "Simulation"
      ],
      "members":{
        "App":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the app.</p>"
        },
        "Domain":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the domain of the app.</p>"
        },
        "Simulation":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the simulation of the app.</p>"
        }
      }
    },
    "StopAppOutput":{
      "type":"structure",
      "members":{
      }
    },
    "StopClockInput":{
      "type":"structure",
      "required":["Simulation"],
      "members":{
        "Simulation":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the simulation.</p>"
        }
      }
    },
    "StopClockOutput":{
      "type":"structure",
      "members":{
      }
    },
    "StopSimulationInput":{
      "type":"structure",
      "required":["Simulation"],
      "members":{
        "Simulation":{
          "shape":"SimSpaceWeaverResourceName",
          "documentation":"<p>The name of the simulation.</p>"
        }
      }
    },
    "StopSimulationOutput":{
      "type":"structure",
      "members":{
      }
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "max":50,
      "min":1
    },
    "TagMap":{
      "type":"map",
      "key":{"shape":"TagKey"},
      "value":{"shape":"TagValue"},
      "max":50,
      "min":1
    },
    "TagResourceInput":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "Tags"
      ],
      "members":{
        "ResourceArn":{
          "shape":"SimSpaceWeaverArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource that you want to add tags to. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "location":"uri",
          "locationName":"ResourceArn"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>A list of tags to apply to the resource.</p>"
        }
      }
    },
    "TagResourceOutput":{
      "type":"structure",
      "members":{
      }
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0
    },
    "TimeToLiveString":{
      "type":"string",
      "max":6,
      "min":2,
      "pattern":"^\\d{1,5}[mhdMHD]$"
    },
    "Timestamp":{"type":"timestamp"},
    "TooManyTagsException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"}
      },
      "documentation":"<p/>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "UUID":{
      "type":"string",
      "min":36,
      "pattern":"^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
    },
    "UntagResourceInput":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "TagKeys"
      ],
      "members":{
        "ResourceArn":{
          "shape":"SimSpaceWeaverArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource that you want to remove tags from. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "location":"uri",
          "locationName":"ResourceArn"
        },
        "TagKeys":{
          "shape":"TagKeyList",
          "documentation":"<p>A list of tag keys to remove from the resource.</p>",
          "location":"querystring",
          "locationName":"tagKeys"
        }
      }
    },
    "UntagResourceOutput":{
      "type":"structure",
      "members":{
      }
    },
    "ValidationException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"}
      },
      "documentation":"<p/>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    }
  },
  "documentation":"<p>Amazon Web Services SimSpace Weaver (SimSpace Weaver) is a managed service that you can use to build and operate large-scale spatial simulations in the Amazon Web Services Cloud. For example, you can create a digital twin of a city, crowd simulations with millions of people and objects, and massilvely-multiplayer games with hundreds of thousands of connected players. For more information about SimSpace Weaver, see the <i> <a href=\"https://docs.aws.amazon.com/simspaceweaver/latest/userguide/\">Amazon Web Services SimSpace Weaver User Guide</a> </i>.</p> <p>This API reference describes the API operations and data types that you can use to communicate directly with SimSpace Weaver.</p> <p>SimSpace Weaver also provides the SimSpace Weaver app SDK, which you use for app development. The SimSpace Weaver app SDK API reference is included in the SimSpace Weaver app SDK documentation, which is part of the SimSpace Weaver app SDK distributable package.</p>"
}
