{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-08-08",
    "endpointPrefix":"globalaccelerator",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceFullName":"AWS Global Accelerator",
    "serviceId":"Global Accelerator",
    "signatureVersion":"v4",
    "signingName":"globalaccelerator",
    "targetPrefix":"GlobalAccelerator_V20180706",
    "uid":"globalaccelerator-2018-08-08"
  },
  "operations":{
    "AddCustomRoutingEndpoints":{
      "name":"AddCustomRoutingEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddCustomRoutingEndpointsRequest"},
      "output":{"shape":"AddCustomRoutingEndpointsResponse"},
      "errors":[
        {"shape":"EndpointAlreadyExistsException"},
        {"shape":"EndpointGroupNotFoundException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Associate a virtual private cloud (VPC) subnet endpoint with your custom routing accelerator.</p> <p>The listener port range must be large enough to support the number of IP addresses that can be specified in your subnet. The number of ports required is: subnet size times the number of ports per destination EC2 instances. For example, a subnet defined as /24 requires a listener port range of at least 255 ports. </p> <p>Note: You must have enough remaining listener ports available to map to the subnet ports, or the call will fail with a LimitExceededException.</p> <p>By default, all destinations in a subnet in a custom routing accelerator cannot receive traffic. To enable all destinations to receive traffic, or to specify individual port mappings that can receive traffic, see the <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/api/API_AllowCustomRoutingTraffic.html\"> AllowCustomRoutingTraffic</a> operation.</p>"
    },
    "AdvertiseByoipCidr":{
      "name":"AdvertiseByoipCidr",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AdvertiseByoipCidrRequest"},
      "output":{"shape":"AdvertiseByoipCidrResponse"},
      "errors":[
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ByoipCidrNotFoundException"},
        {"shape":"IncorrectCidrStateException"}
      ],
      "documentation":"<p>Advertises an IPv4 address range that is provisioned for use with your AWS resources through bring your own IP addresses (BYOIP). It can take a few minutes before traffic to the specified addresses starts routing to AWS because of propagation delays. </p> <p>To stop advertising the BYOIP address range, use <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/api/WithdrawByoipCidr.html\"> WithdrawByoipCidr</a>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/using-byoip.html\">Bring Your Own IP Addresses (BYOIP)</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
    },
    "AllowCustomRoutingTraffic":{
      "name":"AllowCustomRoutingTraffic",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AllowCustomRoutingTrafficRequest"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"InternalServiceErrorException"}
      ],
      "documentation":"<p>Specify the Amazon EC2 instance (destination) IP addresses and ports for a VPC subnet endpoint that can receive traffic for a custom routing accelerator. You can allow traffic to all destinations in the subnet endpoint, or allow traffic to a specified list of destination IP addresses and ports in the subnet. Note that you cannot specify IP addresses or ports outside of the range that you configured for the endpoint group.</p> <p>After you make changes, you can verify that the updates are complete by checking the status of your accelerator: the status changes from IN_PROGRESS to DEPLOYED.</p>"
    },
    "CreateAccelerator":{
      "name":"CreateAccelerator",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAcceleratorRequest"},
      "output":{"shape":"CreateAcceleratorResponse"},
      "errors":[
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Create an accelerator. An accelerator includes one or more listeners that process inbound connections and direct traffic to one or more endpoint groups, each of which includes endpoints, such as Network Load Balancers. </p> <important> <p>Global Accelerator is a global service that supports endpoints in multiple AWS Regions but you must specify the US West (Oregon) Region to create or update accelerators.</p> </important>"
    },
    "CreateCustomRoutingAccelerator":{
      "name":"CreateCustomRoutingAccelerator",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCustomRoutingAcceleratorRequest"},
      "output":{"shape":"CreateCustomRoutingAcceleratorResponse"},
      "errors":[
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Create a custom routing accelerator. A custom routing accelerator directs traffic to one of possibly thousands of Amazon EC2 instance destinations running in a single or multiple virtual private clouds (VPC) subnet endpoints.</p> <p>Be aware that, by default, all destination EC2 instances in a VPC subnet endpoint cannot receive traffic. To enable all destinations to receive traffic, or to specify individual port mappings that can receive traffic, see the <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/api/API_AllowCustomRoutingTraffic.html\"> AllowCustomRoutingTraffic</a> operation.</p> <important> <p>Global Accelerator is a global service that supports endpoints in multiple AWS Regions but you must specify the US West (Oregon) Region to create or update accelerators.</p> </important>"
    },
    "CreateCustomRoutingEndpointGroup":{
      "name":"CreateCustomRoutingEndpointGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCustomRoutingEndpointGroupRequest"},
      "output":{"shape":"CreateCustomRoutingEndpointGroupResponse"},
      "errors":[
        {"shape":"AcceleratorNotFoundException"},
        {"shape":"EndpointGroupAlreadyExistsException"},
        {"shape":"ListenerNotFoundException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"InvalidPortRangeException"},
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Create an endpoint group for the specified listener for a custom routing accelerator. An endpoint group is a collection of endpoints in one AWS Region. </p>"
    },
    "CreateCustomRoutingListener":{
      "name":"CreateCustomRoutingListener",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCustomRoutingListenerRequest"},
      "output":{"shape":"CreateCustomRoutingListenerResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"AcceleratorNotFoundException"},
        {"shape":"InvalidPortRangeException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Create a listener to process inbound connections from clients to a custom routing accelerator. Connections arrive to assigned static IP addresses on the port range that you specify. </p>"
    },
    "CreateEndpointGroup":{
      "name":"CreateEndpointGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointGroupRequest"},
      "output":{"shape":"CreateEndpointGroupResponse"},
      "errors":[
        {"shape":"AcceleratorNotFoundException"},
        {"shape":"EndpointGroupAlreadyExistsException"},
        {"shape":"ListenerNotFoundException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Create an endpoint group for the specified listener. An endpoint group is a collection of endpoints in one AWS Region. A resource must be valid and active when you add it as an endpoint.</p>"
    },
    "CreateListener":{
      "name":"CreateListener",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateListenerRequest"},
      "output":{"shape":"CreateListenerResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"AcceleratorNotFoundException"},
        {"shape":"InvalidPortRangeException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Create a listener to process inbound connections from clients to an accelerator. Connections arrive to assigned static IP addresses on a port, port range, or list of port ranges that you specify. </p>"
    },
    "DeleteAccelerator":{
      "name":"DeleteAccelerator",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAcceleratorRequest"},
      "errors":[
        {"shape":"AcceleratorNotFoundException"},
        {"shape":"AcceleratorNotDisabledException"},
        {"shape":"AssociatedListenerFoundException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"}
      ],
      "documentation":"<p>Delete an accelerator. Before you can delete an accelerator, you must disable it and remove all dependent resources (listeners and endpoint groups). To disable the accelerator, update the accelerator to set <code>Enabled</code> to false.</p> <important> <p>When you create an accelerator, by default, Global Accelerator provides you with a set of two static IP addresses. Alternatively, you can bring your own IP address ranges to Global Accelerator and assign IP addresses from those ranges. </p> <p>The IP addresses are assigned to your accelerator for as long as it exists, even if you disable the accelerator and it no longer accepts or routes traffic. However, when you <i>delete</i> an accelerator, you lose the static IP addresses that are assigned to the accelerator, so you can no longer route traffic by using them. As a best practice, ensure that you have permissions in place to avoid inadvertently deleting accelerators. You can use IAM policies with Global Accelerator to limit the users who have permissions to delete an accelerator. For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/auth-and-access-control.html\">Authentication and Access Control</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p> </important>"
    },
    "DeleteCustomRoutingAccelerator":{
      "name":"DeleteCustomRoutingAccelerator",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCustomRoutingAcceleratorRequest"},
      "errors":[
        {"shape":"AcceleratorNotFoundException"},
        {"shape":"AcceleratorNotDisabledException"},
        {"shape":"AssociatedListenerFoundException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"}
      ],
      "documentation":"<p>Delete a custom routing accelerator. Before you can delete an accelerator, you must disable it and remove all dependent resources (listeners and endpoint groups). To disable the accelerator, update the accelerator to set <code>Enabled</code> to false.</p> <important> <p>When you create a custom routing accelerator, by default, Global Accelerator provides you with a set of two static IP addresses. </p> <p>The IP addresses are assigned to your accelerator for as long as it exists, even if you disable the accelerator and it no longer accepts or routes traffic. However, when you <i>delete</i> an accelerator, you lose the static IP addresses that are assigned to the accelerator, so you can no longer route traffic by using them. As a best practice, ensure that you have permissions in place to avoid inadvertently deleting accelerators. You can use IAM policies with Global Accelerator to limit the users who have permissions to delete an accelerator. For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/auth-and-access-control.html\">Authentication and Access Control</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p> </important>"
    },
    "DeleteCustomRoutingEndpointGroup":{
      "name":"DeleteCustomRoutingEndpointGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCustomRoutingEndpointGroupRequest"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"EndpointGroupNotFoundException"},
        {"shape":"InternalServiceErrorException"}
      ],
      "documentation":"<p>Delete an endpoint group from a listener for a custom routing accelerator.</p>"
    },
    "DeleteCustomRoutingListener":{
      "name":"DeleteCustomRoutingListener",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCustomRoutingListenerRequest"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"ListenerNotFoundException"},
        {"shape":"AssociatedEndpointGroupFoundException"},
        {"shape":"InternalServiceErrorException"}
      ],
      "documentation":"<p>Delete a listener for a custom routing accelerator.</p>"
    },
    "DeleteEndpointGroup":{
      "name":"DeleteEndpointGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointGroupRequest"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"EndpointGroupNotFoundException"},
        {"shape":"InternalServiceErrorException"}
      ],
      "documentation":"<p>Delete an endpoint group from a listener.</p>"
    },
    "DeleteListener":{
      "name":"DeleteListener",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteListenerRequest"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"ListenerNotFoundException"},
        {"shape":"AssociatedEndpointGroupFoundException"},
        {"shape":"InternalServiceErrorException"}
      ],
      "documentation":"<p>Delete a listener from an accelerator.</p>"
    },
    "DenyCustomRoutingTraffic":{
      "name":"DenyCustomRoutingTraffic",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DenyCustomRoutingTrafficRequest"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"InternalServiceErrorException"}
      ],
      "documentation":"<p>Specify the Amazon EC2 instance (destination) IP addresses and ports for a VPC subnet endpoint that cannot receive traffic for a custom routing accelerator. You can deny traffic to all destinations in the VPC endpoint, or deny traffic to a specified list of destination IP addresses and ports. Note that you cannot specify IP addresses or ports outside of the range that you configured for the endpoint group.</p> <p>After you make changes, you can verify that the updates are complete by checking the status of your accelerator: the status changes from IN_PROGRESS to DEPLOYED.</p>"
    },
    "DeprovisionByoipCidr":{
      "name":"DeprovisionByoipCidr",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeprovisionByoipCidrRequest"},
      "output":{"shape":"DeprovisionByoipCidrResponse"},
      "errors":[
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ByoipCidrNotFoundException"},
        {"shape":"IncorrectCidrStateException"}
      ],
      "documentation":"<p>Releases the specified address range that you provisioned to use with your AWS resources through bring your own IP addresses (BYOIP) and deletes the corresponding address pool. </p> <p>Before you can release an address range, you must stop advertising it by using <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/api/WithdrawByoipCidr.html\">WithdrawByoipCidr</a> and you must not have any accelerators that are using static IP addresses allocated from its address range. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/using-byoip.html\">Bring Your Own IP Addresses (BYOIP)</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
    },
    "DescribeAccelerator":{
      "name":"DescribeAccelerator",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAcceleratorRequest"},
      "output":{"shape":"DescribeAcceleratorResponse"},
      "errors":[
        {"shape":"AcceleratorNotFoundException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"}
      ],
      "documentation":"<p>Describe an accelerator. </p>"
    },
    "DescribeAcceleratorAttributes":{
      "name":"DescribeAcceleratorAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAcceleratorAttributesRequest"},
      "output":{"shape":"DescribeAcceleratorAttributesResponse"},
      "errors":[
        {"shape":"AcceleratorNotFoundException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"}
      ],
      "documentation":"<p>Describe the attributes of an accelerator. </p>"
    },
    "DescribeCustomRoutingAccelerator":{
      "name":"DescribeCustomRoutingAccelerator",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCustomRoutingAcceleratorRequest"},
      "output":{"shape":"DescribeCustomRoutingAcceleratorResponse"},
      "errors":[
        {"shape":"AcceleratorNotFoundException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"}
      ],
      "documentation":"<p>Describe a custom routing accelerator. </p>"
    },
    "DescribeCustomRoutingAcceleratorAttributes":{
      "name":"DescribeCustomRoutingAcceleratorAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCustomRoutingAcceleratorAttributesRequest"},
      "output":{"shape":"DescribeCustomRoutingAcceleratorAttributesResponse"},
      "errors":[
        {"shape":"AcceleratorNotFoundException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"}
      ],
      "documentation":"<p>Describe the attributes of a custom routing accelerator. </p>"
    },
    "DescribeCustomRoutingEndpointGroup":{
      "name":"DescribeCustomRoutingEndpointGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCustomRoutingEndpointGroupRequest"},
      "output":{"shape":"DescribeCustomRoutingEndpointGroupResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"EndpointGroupNotFoundException"},
        {"shape":"InternalServiceErrorException"}
      ],
      "documentation":"<p>Describe an endpoint group for a custom routing accelerator. </p>"
    },
    "DescribeCustomRoutingListener":{
      "name":"DescribeCustomRoutingListener",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCustomRoutingListenerRequest"},
      "output":{"shape":"DescribeCustomRoutingListenerResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"ListenerNotFoundException"},
        {"shape":"InternalServiceErrorException"}
      ],
      "documentation":"<p>The description of a listener for a custom routing accelerator.</p>"
    },
    "DescribeEndpointGroup":{
      "name":"DescribeEndpointGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointGroupRequest"},
      "output":{"shape":"DescribeEndpointGroupResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"EndpointGroupNotFoundException"},
        {"shape":"InternalServiceErrorException"}
      ],
      "documentation":"<p>Describe an endpoint group. </p>"
    },
    "DescribeListener":{
      "name":"DescribeListener",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeListenerRequest"},
      "output":{"shape":"DescribeListenerResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"ListenerNotFoundException"},
        {"shape":"InternalServiceErrorException"}
      ],
      "documentation":"<p>Describe a listener. </p>"
    },
    "ListAccelerators":{
      "name":"ListAccelerators",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAcceleratorsRequest"},
      "output":{"shape":"ListAcceleratorsResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalServiceErrorException"}
      ],
      "documentation":"<p>List the accelerators for an AWS account. </p>"
    },
    "ListByoipCidrs":{
      "name":"ListByoipCidrs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListByoipCidrsRequest"},
      "output":{"shape":"ListByoipCidrsResponse"},
      "errors":[
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Lists the IP address ranges that were specified in calls to <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/api/ProvisionByoipCidr.html\">ProvisionByoipCidr</a>, including the current state and a history of state changes.</p>"
    },
    "ListCustomRoutingAccelerators":{
      "name":"ListCustomRoutingAccelerators",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCustomRoutingAcceleratorsRequest"},
      "output":{"shape":"ListCustomRoutingAcceleratorsResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalServiceErrorException"}
      ],
      "documentation":"<p>List the custom routing accelerators for an AWS account. </p>"
    },
    "ListCustomRoutingEndpointGroups":{
      "name":"ListCustomRoutingEndpointGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCustomRoutingEndpointGroupsRequest"},
      "output":{"shape":"ListCustomRoutingEndpointGroupsResponse"},
      "errors":[
        {"shape":"ListenerNotFoundException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"InternalServiceErrorException"}
      ],
      "documentation":"<p>List the endpoint groups that are associated with a listener for a custom routing accelerator. </p>"
    },
    "ListCustomRoutingListeners":{
      "name":"ListCustomRoutingListeners",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCustomRoutingListenersRequest"},
      "output":{"shape":"ListCustomRoutingListenersResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"AcceleratorNotFoundException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalServiceErrorException"}
      ],
      "documentation":"<p>List the listeners for a custom routing accelerator. </p>"
    },
    "ListCustomRoutingPortMappings":{
      "name":"ListCustomRoutingPortMappings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCustomRoutingPortMappingsRequest"},
      "output":{"shape":"ListCustomRoutingPortMappingsResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"EndpointGroupNotFoundException"},
        {"shape":"AcceleratorNotFoundException"},
        {"shape":"InternalServiceErrorException"}
      ],
      "documentation":"<p>Provides a complete mapping from the public accelerator IP address and port to destination EC2 instance IP addresses and ports in the virtual public cloud (VPC) subnet endpoint for a custom routing accelerator. For each subnet endpoint that you add, Global Accelerator creates a new static port mapping for the accelerator. The port mappings don't change after Global Accelerator generates them, so you can retrieve and cache the full mapping on your servers. </p> <p>If you remove a subnet from your accelerator, Global Accelerator removes (reclaims) the port mappings. If you add a subnet to your accelerator, Global Accelerator creates new port mappings (the existing ones don't change). If you add or remove EC2 instances in your subnet, the port mappings don't change, because the mappings are created when you add the subnet to Global Accelerator.</p> <p>The mappings also include a flag for each destination denoting which destination IP addresses and ports are allowed or denied traffic.</p>"
    },
    "ListCustomRoutingPortMappingsByDestination":{
      "name":"ListCustomRoutingPortMappingsByDestination",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCustomRoutingPortMappingsByDestinationRequest"},
      "output":{"shape":"ListCustomRoutingPortMappingsByDestinationResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"EndpointNotFoundException"},
        {"shape":"InternalServiceErrorException"}
      ],
      "documentation":"<p>List the port mappings for a specific EC2 instance (destination) in a VPC subnet endpoint. The response is the mappings for one destination IP address. This is useful when your subnet endpoint has mappings that span multiple custom routing accelerators in your account, or for scenarios where you only want to list the port mappings for a specific destination instance.</p>"
    },
    "ListEndpointGroups":{
      "name":"ListEndpointGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEndpointGroupsRequest"},
      "output":{"shape":"ListEndpointGroupsResponse"},
      "errors":[
        {"shape":"ListenerNotFoundException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"InternalServiceErrorException"}
      ],
      "documentation":"<p>List the endpoint groups that are associated with a listener. </p>"
    },
    "ListListeners":{
      "name":"ListListeners",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListListenersRequest"},
      "output":{"shape":"ListListenersResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"AcceleratorNotFoundException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalServiceErrorException"}
      ],
      "documentation":"<p>List the listeners for an accelerator. </p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"AcceleratorNotFoundException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"}
      ],
      "documentation":"<p>List all tags for an accelerator. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/tagging-in-global-accelerator.html\">Tagging in AWS Global Accelerator</a> in the <i>AWS Global Accelerator Developer Guide</i>. </p>"
    },
    "ProvisionByoipCidr":{
      "name":"ProvisionByoipCidr",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ProvisionByoipCidrRequest"},
      "output":{"shape":"ProvisionByoipCidrResponse"},
      "errors":[
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"IncorrectCidrStateException"}
      ],
      "documentation":"<p>Provisions an IP address range to use with your AWS resources through bring your own IP addresses (BYOIP) and creates a corresponding address pool. After the address range is provisioned, it is ready to be advertised using <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/api/AdvertiseByoipCidr.html\"> AdvertiseByoipCidr</a>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/using-byoip.html\">Bring Your Own IP Addresses (BYOIP)</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
    },
    "RemoveCustomRoutingEndpoints":{
      "name":"RemoveCustomRoutingEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveCustomRoutingEndpointsRequest"},
      "errors":[
        {"shape":"EndpointGroupNotFoundException"},
        {"shape":"EndpointNotFoundException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Remove endpoints from a custom routing accelerator.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"AcceleratorNotFoundException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"}
      ],
      "documentation":"<p>Add tags to an accelerator resource. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/tagging-in-global-accelerator.html\">Tagging in AWS Global Accelerator</a> in the <i>AWS Global Accelerator Developer Guide</i>. </p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"AcceleratorNotFoundException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"}
      ],
      "documentation":"<p>Remove tags from a Global Accelerator resource. When you specify a tag key, the action removes both that key and its associated value. The operation succeeds even if you attempt to remove tags from an accelerator that was already removed.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/tagging-in-global-accelerator.html\">Tagging in AWS Global Accelerator</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
    },
    "UpdateAccelerator":{
      "name":"UpdateAccelerator",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAcceleratorRequest"},
      "output":{"shape":"UpdateAcceleratorResponse"},
      "errors":[
        {"shape":"AcceleratorNotFoundException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"}
      ],
      "documentation":"<p>Update an accelerator. </p> <important> <p>Global Accelerator is a global service that supports endpoints in multiple AWS Regions but you must specify the US West (Oregon) Region to create or update accelerators.</p> </important>"
    },
    "UpdateAcceleratorAttributes":{
      "name":"UpdateAcceleratorAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAcceleratorAttributesRequest"},
      "output":{"shape":"UpdateAcceleratorAttributesResponse"},
      "errors":[
        {"shape":"AcceleratorNotFoundException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Update the attributes for an accelerator. </p>"
    },
    "UpdateCustomRoutingAccelerator":{
      "name":"UpdateCustomRoutingAccelerator",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCustomRoutingAcceleratorRequest"},
      "output":{"shape":"UpdateCustomRoutingAcceleratorResponse"},
      "errors":[
        {"shape":"AcceleratorNotFoundException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"}
      ],
      "documentation":"<p>Update a custom routing accelerator. </p>"
    },
    "UpdateCustomRoutingAcceleratorAttributes":{
      "name":"UpdateCustomRoutingAcceleratorAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCustomRoutingAcceleratorAttributesRequest"},
      "output":{"shape":"UpdateCustomRoutingAcceleratorAttributesResponse"},
      "errors":[
        {"shape":"AcceleratorNotFoundException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Update the attributes for a custom routing accelerator. </p>"
    },
    "UpdateCustomRoutingListener":{
      "name":"UpdateCustomRoutingListener",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCustomRoutingListenerRequest"},
      "output":{"shape":"UpdateCustomRoutingListenerResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"InvalidPortRangeException"},
        {"shape":"ListenerNotFoundException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Update a listener for a custom routing accelerator. </p>"
    },
    "UpdateEndpointGroup":{
      "name":"UpdateEndpointGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEndpointGroupRequest"},
      "output":{"shape":"UpdateEndpointGroupResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"EndpointGroupNotFoundException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Update an endpoint group. A resource must be valid and active when you add it as an endpoint.</p>"
    },
    "UpdateListener":{
      "name":"UpdateListener",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateListenerRequest"},
      "output":{"shape":"UpdateListenerResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"InvalidPortRangeException"},
        {"shape":"ListenerNotFoundException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Update a listener. </p>"
    },
    "WithdrawByoipCidr":{
      "name":"WithdrawByoipCidr",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"WithdrawByoipCidrRequest"},
      "output":{"shape":"WithdrawByoipCidrResponse"},
      "errors":[
        {"shape":"InternalServiceErrorException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ByoipCidrNotFoundException"},
        {"shape":"IncorrectCidrStateException"}
      ],
      "documentation":"<p>Stops advertising an address range that is provisioned as an address pool. You can perform this operation at most once every 10 seconds, even if you specify different address ranges each time.</p> <p>It can take a few minutes before traffic to the specified addresses stops routing to AWS because of propagation delays.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/using-byoip.html\">Bring Your Own IP Addresses (BYOIP)</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
    }
  },
  "shapes":{
    "Accelerator":{
      "type":"structure",
      "members":{
        "AcceleratorArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the accelerator.</p>"
        },
        "Name":{
          "shape":"GenericString",
          "documentation":"<p>The name of the accelerator. The name must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.</p>"
        },
        "IpAddressType":{
          "shape":"IpAddressType",
          "documentation":"<p>The value for the address type must be IPv4. </p>"
        },
        "Enabled":{
          "shape":"GenericBoolean",
          "documentation":"<p>Indicates whether the accelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>"
        },
        "IpSets":{
          "shape":"IpSets",
          "documentation":"<p>The static IP addresses that Global Accelerator associates with the accelerator.</p>"
        },
        "DnsName":{
          "shape":"GenericString",
          "documentation":"<p>The Domain Name System (DNS) name that Global Accelerator creates that points to your accelerator's static IP addresses. </p> <p>The naming convention for the DNS name is the following: A lowercase letter a, followed by a 16-bit random hex string, followed by .awsglobalaccelerator.com. For example: a1234567890abcdef.awsglobalaccelerator.com.</p> <p>For more information about the default DNS name, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/about-accelerators.html#about-accelerators.dns-addressing\"> Support for DNS Addressing in Global Accelerator</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
        },
        "Status":{
          "shape":"AcceleratorStatus",
          "documentation":"<p>Describes the deployment status of the accelerator.</p>"
        },
        "CreatedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the accelerator was created.</p>"
        },
        "LastModifiedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the accelerator was last modified.</p>"
        }
      },
      "documentation":"<p>An accelerator is a complex type that includes one or more listeners that process inbound connections and then direct traffic to one or more endpoint groups, each of which includes endpoints, such as load balancers.</p>"
    },
    "AcceleratorAttributes":{
      "type":"structure",
      "members":{
        "FlowLogsEnabled":{
          "shape":"GenericBoolean",
          "documentation":"<p>Indicates whether flow logs are enabled. The default value is false. If the value is true, <code>FlowLogsS3Bucket</code> and <code>FlowLogsS3Prefix</code> must be specified.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/monitoring-global-accelerator.flow-logs.html\">Flow Logs</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
        },
        "FlowLogsS3Bucket":{
          "shape":"GenericString",
          "documentation":"<p>The name of the Amazon S3 bucket for the flow logs. Attribute is required if <code>FlowLogsEnabled</code> is <code>true</code>. The bucket must exist and have a bucket policy that grants AWS Global Accelerator permission to write to the bucket.</p>"
        },
        "FlowLogsS3Prefix":{
          "shape":"GenericString",
          "documentation":"<p>The prefix for the location in the Amazon S3 bucket for the flow logs. Attribute is required if <code>FlowLogsEnabled</code> is <code>true</code>.</p> <p>If you don’t specify a prefix, the flow logs are stored in the root of the bucket. If you specify slash (/) for the S3 bucket prefix, the log file bucket folder structure will include a double slash (//), like the following:</p> <p>s3-bucket_name//AWSLogs/aws_account_id</p>"
        }
      },
      "documentation":"<p>Attributes of an accelerator.</p>"
    },
    "AcceleratorNotDisabledException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The accelerator that you specified could not be disabled.</p>",
      "exception":true
    },
    "AcceleratorNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The accelerator that you specified doesn't exist.</p>",
      "exception":true
    },
    "AcceleratorStatus":{
      "type":"string",
      "enum":[
        "DEPLOYED",
        "IN_PROGRESS"
      ]
    },
    "Accelerators":{
      "type":"list",
      "member":{"shape":"Accelerator"}
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>You don't have access permission.</p>",
      "exception":true
    },
    "AddCustomRoutingEndpointsRequest":{
      "type":"structure",
      "required":[
        "EndpointConfigurations",
        "EndpointGroupArn"
      ],
      "members":{
        "EndpointConfigurations":{
          "shape":"CustomRoutingEndpointConfigurations",
          "documentation":"<p>The list of endpoint objects to add to a custom routing accelerator.</p>"
        },
        "EndpointGroupArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint group for the custom routing endpoint.</p>"
        }
      }
    },
    "AddCustomRoutingEndpointsResponse":{
      "type":"structure",
      "members":{
        "EndpointDescriptions":{
          "shape":"CustomRoutingEndpointDescriptions",
          "documentation":"<p>The endpoint objects added to the custom routing accelerator.</p>"
        },
        "EndpointGroupArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint group for the custom routing endpoint.</p>"
        }
      }
    },
    "AdvertiseByoipCidrRequest":{
      "type":"structure",
      "required":["Cidr"],
      "members":{
        "Cidr":{
          "shape":"GenericString",
          "documentation":"<p>The address range, in CIDR notation. This must be the exact range that you provisioned. You can't advertise only a portion of the provisioned range.</p>"
        }
      }
    },
    "AdvertiseByoipCidrResponse":{
      "type":"structure",
      "members":{
        "ByoipCidr":{
          "shape":"ByoipCidr",
          "documentation":"<p>Information about the address range.</p>"
        }
      }
    },
    "AllowCustomRoutingTrafficRequest":{
      "type":"structure",
      "required":[
        "EndpointGroupArn",
        "EndpointId"
      ],
      "members":{
        "EndpointGroupArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint group.</p>"
        },
        "EndpointId":{
          "shape":"GenericString",
          "documentation":"<p>An ID for the endpoint. For custom routing accelerators, this is the virtual private cloud (VPC) subnet ID.</p>"
        },
        "DestinationAddresses":{
          "shape":"DestinationAddresses",
          "documentation":"<p>A list of specific Amazon EC2 instance IP addresses (destination addresses) in a subnet that you want to allow to receive traffic. The IP addresses must be a subset of the IP addresses that you specified for the endpoint group.</p> <p> <code>DestinationAddresses</code> is required if <code>AllowAllTrafficToEndpoint</code> is <code>FALSE</code> or is not specified.</p>"
        },
        "DestinationPorts":{
          "shape":"DestinationPorts",
          "documentation":"<p>A list of specific Amazon EC2 instance ports (destination ports) that you want to allow to receive traffic.</p>"
        },
        "AllowAllTrafficToEndpoint":{
          "shape":"GenericBoolean",
          "documentation":"<p>Indicates whether all destination IP addresses and ports for a specified VPC subnet endpoint can receive traffic from a custom routing accelerator. The value is TRUE or FALSE. </p> <p>When set to TRUE, <i>all</i> destinations in the custom routing VPC subnet can receive traffic. Note that you cannot specify destination IP addresses and ports when the value is set to TRUE.</p> <p>When set to FALSE (or not specified), you <i>must</i> specify a list of destination IP addresses that are allowed to receive traffic. A list of ports is optional. If you don't specify a list of ports, the ports that can accept traffic is the same as the ports configured for the endpoint group.</p> <p>The default value is FALSE.</p>"
        }
      }
    },
    "AssociatedEndpointGroupFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The listener that you specified has an endpoint group associated with it. You must remove all dependent resources from a listener before you can delete it.</p>",
      "exception":true
    },
    "AssociatedListenerFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The accelerator that you specified has a listener associated with it. You must remove all dependent resources from an accelerator before you can delete it.</p>",
      "exception":true
    },
    "ByoipCidr":{
      "type":"structure",
      "members":{
        "Cidr":{
          "shape":"GenericString",
          "documentation":"<p>The address range, in CIDR notation.</p>"
        },
        "State":{
          "shape":"ByoipCidrState",
          "documentation":"<p>The state of the address pool.</p>"
        },
        "Events":{
          "shape":"ByoipCidrEvents",
          "documentation":"<p>A history of status changes for an IP address range that you bring to AWS Global Accelerator through bring your own IP address (BYOIP).</p>"
        }
      },
      "documentation":"<p>Information about an IP address range that is provisioned for use with your AWS resources through bring your own IP address (BYOIP).</p> <p>The following describes each BYOIP <code>State</code> that your IP address range can be in.</p> <ul> <li> <p> <b>PENDING_PROVISIONING</b> — You’ve submitted a request to provision an IP address range but it is not yet provisioned with AWS Global Accelerator.</p> </li> <li> <p> <b>READY</b> — The address range is provisioned with AWS Global Accelerator and can be advertised.</p> </li> <li> <p> <b>PENDING_ADVERTISING</b> — You’ve submitted a request for AWS Global Accelerator to advertise an address range but it is not yet being advertised.</p> </li> <li> <p> <b>ADVERTISING</b> — The address range is being advertised by AWS Global Accelerator.</p> </li> <li> <p> <b>PENDING_WITHDRAWING</b> — You’ve submitted a request to withdraw an address range from being advertised but it is still being advertised by AWS Global Accelerator.</p> </li> <li> <p> <b>PENDING_DEPROVISIONING</b> — You’ve submitted a request to deprovision an address range from AWS Global Accelerator but it is still provisioned.</p> </li> <li> <p> <b>DEPROVISIONED</b> — The address range is deprovisioned from AWS Global Accelerator.</p> </li> <li> <p> <b>FAILED_PROVISION </b> — The request to provision the address range from AWS Global Accelerator was not successful. Please make sure that you provide all of the correct information, and try again. If the request fails a second time, contact AWS support.</p> </li> <li> <p> <b>FAILED_ADVERTISING</b> — The request for AWS Global Accelerator to advertise the address range was not successful. Please make sure that you provide all of the correct information, and try again. If the request fails a second time, contact AWS support.</p> </li> <li> <p> <b>FAILED_WITHDRAW</b> — The request to withdraw the address range from advertising by AWS Global Accelerator was not successful. Please make sure that you provide all of the correct information, and try again. If the request fails a second time, contact AWS support.</p> </li> <li> <p> <b>FAILED_DEPROVISION </b> — The request to deprovision the address range from AWS Global Accelerator was not successful. Please make sure that you provide all of the correct information, and try again. If the request fails a second time, contact AWS support.</p> </li> </ul>"
    },
    "ByoipCidrEvent":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"GenericString",
          "documentation":"<p>A string that contains an <code>Event</code> message describing changes that you make in the status of an IP address range that you bring to AWS Global Accelerator through bring your own IP address (BYOIP).</p>"
        },
        "Timestamp":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp when you make a status change for an IP address range that you bring to AWS Global Accelerator through bring your own IP address (BYOIP).</p>"
        }
      },
      "documentation":"<p>A complex type that contains a <code>Message</code> and a <code>Timestamp</code> value for changes that you make in the status an IP address range that you bring to AWS Global Accelerator through bring your own IP address (BYOIP).</p>"
    },
    "ByoipCidrEvents":{
      "type":"list",
      "member":{"shape":"ByoipCidrEvent"}
    },
    "ByoipCidrNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The CIDR that you specified was not found or is incorrect.</p>",
      "exception":true
    },
    "ByoipCidrState":{
      "type":"string",
      "enum":[
        "PENDING_PROVISIONING",
        "READY",
        "PENDING_ADVERTISING",
        "ADVERTISING",
        "PENDING_WITHDRAWING",
        "PENDING_DEPROVISIONING",
        "DEPROVISIONED",
        "FAILED_PROVISION",
        "FAILED_ADVERTISING",
        "FAILED_WITHDRAW",
        "FAILED_DEPROVISION"
      ]
    },
    "ByoipCidrs":{
      "type":"list",
      "member":{"shape":"ByoipCidr"}
    },
    "CidrAuthorizationContext":{
      "type":"structure",
      "required":[
        "Message",
        "Signature"
      ],
      "members":{
        "Message":{
          "shape":"GenericString",
          "documentation":"<p>The plain-text authorization message for the prefix and account.</p>"
        },
        "Signature":{
          "shape":"GenericString",
          "documentation":"<p>The signed authorization message for the prefix and account.</p>"
        }
      },
      "documentation":"<p>Provides authorization for Amazon to bring a specific IP address range to a specific AWS account using bring your own IP addresses (BYOIP). </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/using-byoip.html\">Bring Your Own IP Addresses (BYOIP)</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
    },
    "ClientAffinity":{
      "type":"string",
      "enum":[
        "NONE",
        "SOURCE_IP"
      ]
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>You can't use both of those options.</p>",
      "exception":true
    },
    "CreateAcceleratorRequest":{
      "type":"structure",
      "required":[
        "Name",
        "IdempotencyToken"
      ],
      "members":{
        "Name":{
          "shape":"GenericString",
          "documentation":"<p>The name of an accelerator. The name can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.</p>"
        },
        "IpAddressType":{
          "shape":"IpAddressType",
          "documentation":"<p>The value for the address type must be IPv4.</p>"
        },
        "IpAddresses":{
          "shape":"IpAddresses",
          "documentation":"<p>Optionally, if you've added your own IP address pool to Global Accelerator (BYOIP), you can choose IP addresses from your own pool to use for the accelerator's static IP addresses when you create an accelerator. You can specify one or two addresses, separated by a space. Do not include the /32 suffix.</p> <p>Only one IP address from each of your IP address ranges can be used for each accelerator. If you specify only one IP address from your IP address range, Global Accelerator assigns a second static IP address for the accelerator from the AWS IP address pool.</p> <p>Note that you can't update IP addresses for an existing accelerator. To change them, you must create a new accelerator with the new addresses.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/using-byoip.html\">Bring Your Own IP Addresses (BYOIP)</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
        },
        "Enabled":{
          "shape":"GenericBoolean",
          "documentation":"<p>Indicates whether an accelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, an accelerator cannot be deleted. If set to false, the accelerator can be deleted.</p>"
        },
        "IdempotencyToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency—that is, the uniqueness—of an accelerator.</p>",
          "idempotencyToken":true
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Create tags for an accelerator.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/tagging-in-global-accelerator.html\">Tagging in AWS Global Accelerator</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
        }
      }
    },
    "CreateAcceleratorResponse":{
      "type":"structure",
      "members":{
        "Accelerator":{
          "shape":"Accelerator",
          "documentation":"<p>The accelerator that is created by specifying a listener and the supported IP address types.</p>"
        }
      }
    },
    "CreateCustomRoutingAcceleratorRequest":{
      "type":"structure",
      "required":[
        "Name",
        "IdempotencyToken"
      ],
      "members":{
        "Name":{
          "shape":"GenericString",
          "documentation":"<p>The name of a custom routing accelerator. The name can have a maximum of 64 characters, must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.</p>"
        },
        "IpAddressType":{
          "shape":"IpAddressType",
          "documentation":"<p>The value for the address type must be IPv4.</p>"
        },
        "IpAddresses":{
          "shape":"IpAddresses",
          "documentation":"<p>Optionally, if you've added your own IP address pool to Global Accelerator (BYOIP), you can choose IP addresses from your own pool to use for the accelerator's static IP addresses when you create an accelerator. You can specify one or two addresses, separated by a space. Do not include the /32 suffix.</p> <p>Only one IP address from each of your IP address ranges can be used for each accelerator. If you specify only one IP address from your IP address range, Global Accelerator assigns a second static IP address for the accelerator from the AWS IP address pool.</p> <p>Note that you can't update IP addresses for an existing accelerator. To change them, you must create a new accelerator with the new addresses.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/using-byoip.html\">Bring your own IP addresses (BYOIP)</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
        },
        "Enabled":{
          "shape":"GenericBoolean",
          "documentation":"<p>Indicates whether an accelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, an accelerator cannot be deleted. If set to false, the accelerator can be deleted.</p>"
        },
        "IdempotencyToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency—that is, the uniqueness—of the request.</p>",
          "idempotencyToken":true
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Create tags for an accelerator.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/tagging-in-global-accelerator.html\">Tagging in AWS Global Accelerator</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
        }
      }
    },
    "CreateCustomRoutingAcceleratorResponse":{
      "type":"structure",
      "members":{
        "Accelerator":{
          "shape":"CustomRoutingAccelerator",
          "documentation":"<p>The accelerator that is created.</p>"
        }
      }
    },
    "CreateCustomRoutingEndpointGroupRequest":{
      "type":"structure",
      "required":[
        "ListenerArn",
        "EndpointGroupRegion",
        "DestinationConfigurations",
        "IdempotencyToken"
      ],
      "members":{
        "ListenerArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the listener for a custom routing endpoint.</p>"
        },
        "EndpointGroupRegion":{
          "shape":"GenericString",
          "documentation":"<p>The AWS Region where the endpoint group is located. A listener can have only one endpoint group in a specific Region.</p>"
        },
        "DestinationConfigurations":{
          "shape":"CustomRoutingDestinationConfigurations",
          "documentation":"<p>Sets the port range and protocol for all endpoints (virtual private cloud subnets) in a custom routing endpoint group to accept client traffic on.</p>"
        },
        "IdempotencyToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency—that is, the uniqueness—of the request.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateCustomRoutingEndpointGroupResponse":{
      "type":"structure",
      "members":{
        "EndpointGroup":{
          "shape":"CustomRoutingEndpointGroup",
          "documentation":"<p>The information about the endpoint group created for a custom routing accelerator.</p>"
        }
      }
    },
    "CreateCustomRoutingListenerRequest":{
      "type":"structure",
      "required":[
        "AcceleratorArn",
        "PortRanges",
        "IdempotencyToken"
      ],
      "members":{
        "AcceleratorArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the accelerator for a custom routing listener.</p>"
        },
        "PortRanges":{
          "shape":"PortRanges",
          "documentation":"<p>The port range to support for connections from clients to your accelerator.</p> <p>Separately, you set port ranges for endpoints. For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/about-custom-routing-endpoints.html\">About endpoints for custom routing accelerators</a>.</p>"
        },
        "IdempotencyToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency—that is, the uniqueness—of the request.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateCustomRoutingListenerResponse":{
      "type":"structure",
      "members":{
        "Listener":{
          "shape":"CustomRoutingListener",
          "documentation":"<p>The listener that you've created for a custom routing accelerator.</p>"
        }
      }
    },
    "CreateEndpointGroupRequest":{
      "type":"structure",
      "required":[
        "ListenerArn",
        "EndpointGroupRegion",
        "IdempotencyToken"
      ],
      "members":{
        "ListenerArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the listener.</p>"
        },
        "EndpointGroupRegion":{
          "shape":"GenericString",
          "documentation":"<p>The AWS Region where the endpoint group is located. A listener can have only one endpoint group in a specific Region.</p>"
        },
        "EndpointConfigurations":{
          "shape":"EndpointConfigurations",
          "documentation":"<p>The list of endpoint objects.</p>"
        },
        "TrafficDialPercentage":{
          "shape":"TrafficDialPercentage",
          "documentation":"<p>The percentage of traffic to send to an AWS Region. Additional traffic is distributed to other endpoint groups for this listener. </p> <p>Use this action to increase (dial up) or decrease (dial down) traffic to a specific Region. The percentage is applied to the traffic that would otherwise have been routed to the Region based on optimal routing.</p> <p>The default value is 100.</p>"
        },
        "HealthCheckPort":{
          "shape":"HealthCheckPort",
          "documentation":"<p>The port that AWS Global Accelerator uses to check the health of endpoints that are part of this endpoint group. The default port is the listener port that this endpoint group is associated with. If listener port is a list of ports, Global Accelerator uses the first port in the list.</p>"
        },
        "HealthCheckProtocol":{
          "shape":"HealthCheckProtocol",
          "documentation":"<p>The protocol that AWS Global Accelerator uses to check the health of endpoints that are part of this endpoint group. The default value is TCP.</p>"
        },
        "HealthCheckPath":{
          "shape":"HealthCheckPath",
          "documentation":"<p>If the protocol is HTTP/S, then this specifies the path that is the destination for health check targets. The default value is slash (/).</p>"
        },
        "HealthCheckIntervalSeconds":{
          "shape":"HealthCheckIntervalSeconds",
          "documentation":"<p>The time—10 seconds or 30 seconds—between each health check for an endpoint. The default value is 30.</p>"
        },
        "ThresholdCount":{
          "shape":"ThresholdCount",
          "documentation":"<p>The number of consecutive health checks required to set the state of a healthy endpoint to unhealthy, or to set an unhealthy endpoint to healthy. The default value is 3.</p>"
        },
        "IdempotencyToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency—that is, the uniqueness—of the request.</p>",
          "idempotencyToken":true
        },
        "PortOverrides":{
          "shape":"PortOverrides",
          "documentation":"<p>Override specific listener ports used to route traffic to endpoints that are part of this endpoint group. For example, you can create a port override in which the listener receives user traffic on ports 80 and 443, but your accelerator routes that traffic to ports 1080 and 1443, respectively, on the endpoints.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/about-endpoint-groups-port-override.html\"> Port overrides</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
        }
      }
    },
    "CreateEndpointGroupResponse":{
      "type":"structure",
      "members":{
        "EndpointGroup":{
          "shape":"EndpointGroup",
          "documentation":"<p>The information about the endpoint group that was created.</p>"
        }
      }
    },
    "CreateListenerRequest":{
      "type":"structure",
      "required":[
        "AcceleratorArn",
        "PortRanges",
        "Protocol",
        "IdempotencyToken"
      ],
      "members":{
        "AcceleratorArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of your accelerator.</p>"
        },
        "PortRanges":{
          "shape":"PortRanges",
          "documentation":"<p>The list of port ranges to support for connections from clients to your accelerator.</p>"
        },
        "Protocol":{
          "shape":"Protocol",
          "documentation":"<p>The protocol for connections from clients to your accelerator.</p>"
        },
        "ClientAffinity":{
          "shape":"ClientAffinity",
          "documentation":"<p>Client affinity lets you direct all requests from a user to the same endpoint, if you have stateful applications, regardless of the port and protocol of the client request. Client affinity gives you control over whether to always route each client to the same specific endpoint.</p> <p>AWS Global Accelerator uses a consistent-flow hashing algorithm to choose the optimal endpoint for a connection. If client affinity is <code>NONE</code>, Global Accelerator uses the \"five-tuple\" (5-tuple) properties—source IP address, source port, destination IP address, destination port, and protocol—to select the hash value, and then chooses the best endpoint. However, with this setting, if someone uses different ports to connect to Global Accelerator, their connections might not be always routed to the same endpoint because the hash value changes. </p> <p>If you want a given client to always be routed to the same endpoint, set client affinity to <code>SOURCE_IP</code> instead. When you use the <code>SOURCE_IP</code> setting, Global Accelerator uses the \"two-tuple\" (2-tuple) properties— source (client) IP address and destination IP address—to select the hash value.</p> <p>The default value is <code>NONE</code>.</p>"
        },
        "IdempotencyToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency—that is, the uniqueness—of the request.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateListenerResponse":{
      "type":"structure",
      "members":{
        "Listener":{
          "shape":"Listener",
          "documentation":"<p>The listener that you've created.</p>"
        }
      }
    },
    "CustomRoutingAccelerator":{
      "type":"structure",
      "members":{
        "AcceleratorArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the custom routing accelerator.</p>"
        },
        "Name":{
          "shape":"GenericString",
          "documentation":"<p>The name of the accelerator. The name must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.</p>"
        },
        "IpAddressType":{
          "shape":"IpAddressType",
          "documentation":"<p>The value for the address type must be IPv4.</p>"
        },
        "Enabled":{
          "shape":"GenericBoolean",
          "documentation":"<p>Indicates whether the accelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>"
        },
        "IpSets":{
          "shape":"IpSets",
          "documentation":"<p>The static IP addresses that Global Accelerator associates with the accelerator.</p>"
        },
        "DnsName":{
          "shape":"GenericString",
          "documentation":"<p>The Domain Name System (DNS) name that Global Accelerator creates that points to your accelerator's static IP addresses. </p> <p>The naming convention for the DNS name is the following: A lowercase letter a, followed by a 16-bit random hex string, followed by .awsglobalaccelerator.com. For example: a1234567890abcdef.awsglobalaccelerator.com.</p> <p>For more information about the default DNS name, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/about-accelerators.html#about-accelerators.dns-addressing\"> Support for DNS Addressing in Global Accelerator</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
        },
        "Status":{
          "shape":"CustomRoutingAcceleratorStatus",
          "documentation":"<p>Describes the deployment status of the accelerator.</p>"
        },
        "CreatedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the accelerator was created.</p>"
        },
        "LastModifiedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the accelerator was last modified.</p>"
        }
      },
      "documentation":"<p>Attributes of a custom routing accelerator.</p>"
    },
    "CustomRoutingAcceleratorAttributes":{
      "type":"structure",
      "members":{
        "FlowLogsEnabled":{
          "shape":"GenericBoolean",
          "documentation":"<p>Indicates whether flow logs are enabled. The default value is false. If the value is true, <code>FlowLogsS3Bucket</code> and <code>FlowLogsS3Prefix</code> must be specified.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/monitoring-global-accelerator.flow-logs.html\">Flow Logs</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
        },
        "FlowLogsS3Bucket":{
          "shape":"GenericString",
          "documentation":"<p>The name of the Amazon S3 bucket for the flow logs. Attribute is required if <code>FlowLogsEnabled</code> is <code>true</code>. The bucket must exist and have a bucket policy that grants AWS Global Accelerator permission to write to the bucket.</p>"
        },
        "FlowLogsS3Prefix":{
          "shape":"GenericString",
          "documentation":"<p>The prefix for the location in the Amazon S3 bucket for the flow logs. Attribute is required if <code>FlowLogsEnabled</code> is <code>true</code>.</p> <p>If you don’t specify a prefix, the flow logs are stored in the root of the bucket. If you specify slash (/) for the S3 bucket prefix, the log file bucket folder structure will include a double slash (//), like the following:</p> <p>DOC-EXAMPLE-BUCKET//AWSLogs/aws_account_id</p>"
        }
      },
      "documentation":"<p>Attributes of a custom routing accelerator.</p>"
    },
    "CustomRoutingAcceleratorStatus":{
      "type":"string",
      "enum":[
        "DEPLOYED",
        "IN_PROGRESS"
      ]
    },
    "CustomRoutingAccelerators":{
      "type":"list",
      "member":{"shape":"CustomRoutingAccelerator"}
    },
    "CustomRoutingDestinationConfiguration":{
      "type":"structure",
      "required":[
        "FromPort",
        "ToPort",
        "Protocols"
      ],
      "members":{
        "FromPort":{
          "shape":"PortNumber",
          "documentation":"<p>The first port, inclusive, in the range of ports for the endpoint group that is associated with a custom routing accelerator.</p>"
        },
        "ToPort":{
          "shape":"PortNumber",
          "documentation":"<p>The last port, inclusive, in the range of ports for the endpoint group that is associated with a custom routing accelerator.</p>"
        },
        "Protocols":{
          "shape":"CustomRoutingProtocols",
          "documentation":"<p>The protocol for the endpoint group that is associated with a custom routing accelerator. The protocol can be either TCP or UDP.</p>"
        }
      },
      "documentation":"<p>For a custom routing accelerator, sets the port range and protocol for all endpoints (virtual private cloud subnets) in an endpoint group to accept client traffic on.</p>"
    },
    "CustomRoutingDestinationConfigurations":{
      "type":"list",
      "member":{"shape":"CustomRoutingDestinationConfiguration"},
      "max":100,
      "min":1
    },
    "CustomRoutingDestinationDescription":{
      "type":"structure",
      "members":{
        "FromPort":{
          "shape":"PortNumber",
          "documentation":"<p>The first port, inclusive, in the range of ports for the endpoint group that is associated with a custom routing accelerator.</p>"
        },
        "ToPort":{
          "shape":"PortNumber",
          "documentation":"<p>The last port, inclusive, in the range of ports for the endpoint group that is associated with a custom routing accelerator.</p>"
        },
        "Protocols":{
          "shape":"Protocols",
          "documentation":"<p>The protocol for the endpoint group that is associated with a custom routing accelerator. The protocol can be either TCP or UDP.</p>"
        }
      },
      "documentation":"<p>For a custom routing accelerator, describes the port range and protocol for all endpoints (virtual private cloud subnets) in an endpoint group to accept client traffic on.</p>"
    },
    "CustomRoutingDestinationDescriptions":{
      "type":"list",
      "member":{"shape":"CustomRoutingDestinationDescription"}
    },
    "CustomRoutingDestinationTrafficState":{
      "type":"string",
      "enum":[
        "ALLOW",
        "DENY"
      ]
    },
    "CustomRoutingEndpointConfiguration":{
      "type":"structure",
      "members":{
        "EndpointId":{
          "shape":"GenericString",
          "documentation":"<p>An ID for the endpoint. For custom routing accelerators, this is the virtual private cloud (VPC) subnet ID. </p>"
        }
      },
      "documentation":"<p>The list of endpoint objects. For custom routing, this is a list of virtual private cloud (VPC) subnet IDs.</p>"
    },
    "CustomRoutingEndpointConfigurations":{
      "type":"list",
      "member":{"shape":"CustomRoutingEndpointConfiguration"},
      "max":20,
      "min":1
    },
    "CustomRoutingEndpointDescription":{
      "type":"structure",
      "members":{
        "EndpointId":{
          "shape":"GenericString",
          "documentation":"<p>An ID for the endpoint. For custom routing accelerators, this is the virtual private cloud (VPC) subnet ID. </p>"
        }
      },
      "documentation":"<p>A complex type for an endpoint for a custom routing accelerator. Each endpoint group can include one or more endpoints, which are virtual private cloud (VPC) subnets.</p>"
    },
    "CustomRoutingEndpointDescriptions":{
      "type":"list",
      "member":{"shape":"CustomRoutingEndpointDescription"}
    },
    "CustomRoutingEndpointGroup":{
      "type":"structure",
      "members":{
        "EndpointGroupArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint group.</p>"
        },
        "EndpointGroupRegion":{
          "shape":"GenericString",
          "documentation":"<p>The AWS Region where the endpoint group is located.</p>"
        },
        "DestinationDescriptions":{
          "shape":"CustomRoutingDestinationDescriptions",
          "documentation":"<p>For a custom routing accelerator, describes the port range and protocol for all endpoints (virtual private cloud subnets) in an endpoint group to accept client traffic on.</p>"
        },
        "EndpointDescriptions":{
          "shape":"CustomRoutingEndpointDescriptions",
          "documentation":"<p>For a custom routing accelerator, describes the endpoints (virtual private cloud subnets) in an endpoint group to accept client traffic on.</p>"
        }
      },
      "documentation":"<p>A complex type for the endpoint group for a custom routing accelerator. An AWS Region can have only one endpoint group for a specific listener. </p>"
    },
    "CustomRoutingEndpointGroups":{
      "type":"list",
      "member":{"shape":"CustomRoutingEndpointGroup"}
    },
    "CustomRoutingListener":{
      "type":"structure",
      "members":{
        "ListenerArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the listener.</p>"
        },
        "PortRanges":{
          "shape":"PortRanges",
          "documentation":"<p>The port range to support for connections from clients to your accelerator.</p> <p>Separately, you set port ranges for endpoints. For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/about-custom-routing-endpoints.html\">About endpoints for custom routing accelerators</a>.</p>"
        }
      },
      "documentation":"<p>A complex type for a listener for a custom routing accelerator.</p>"
    },
    "CustomRoutingListeners":{
      "type":"list",
      "member":{"shape":"CustomRoutingListener"}
    },
    "CustomRoutingProtocol":{
      "type":"string",
      "enum":[
        "TCP",
        "UDP"
      ]
    },
    "CustomRoutingProtocols":{
      "type":"list",
      "member":{"shape":"CustomRoutingProtocol"},
      "max":2,
      "min":1
    },
    "DeleteAcceleratorRequest":{
      "type":"structure",
      "required":["AcceleratorArn"],
      "members":{
        "AcceleratorArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of an accelerator.</p>"
        }
      }
    },
    "DeleteCustomRoutingAcceleratorRequest":{
      "type":"structure",
      "required":["AcceleratorArn"],
      "members":{
        "AcceleratorArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the custom routing accelerator to delete.</p>"
        }
      }
    },
    "DeleteCustomRoutingEndpointGroupRequest":{
      "type":"structure",
      "required":["EndpointGroupArn"],
      "members":{
        "EndpointGroupArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint group to delete.</p>"
        }
      }
    },
    "DeleteCustomRoutingListenerRequest":{
      "type":"structure",
      "required":["ListenerArn"],
      "members":{
        "ListenerArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the listener to delete.</p>"
        }
      }
    },
    "DeleteEndpointGroupRequest":{
      "type":"structure",
      "required":["EndpointGroupArn"],
      "members":{
        "EndpointGroupArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint group to delete.</p>"
        }
      }
    },
    "DeleteListenerRequest":{
      "type":"structure",
      "required":["ListenerArn"],
      "members":{
        "ListenerArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the listener.</p>"
        }
      }
    },
    "DenyCustomRoutingTrafficRequest":{
      "type":"structure",
      "required":[
        "EndpointGroupArn",
        "EndpointId"
      ],
      "members":{
        "EndpointGroupArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint group.</p>"
        },
        "EndpointId":{
          "shape":"GenericString",
          "documentation":"<p>An ID for the endpoint. For custom routing accelerators, this is the virtual private cloud (VPC) subnet ID.</p>"
        },
        "DestinationAddresses":{
          "shape":"DestinationAddresses",
          "documentation":"<p>A list of specific Amazon EC2 instance IP addresses (destination addresses) in a subnet that you want to prevent from receiving traffic. The IP addresses must be a subset of the IP addresses allowed for the VPC subnet associated with the endpoint group.</p>"
        },
        "DestinationPorts":{
          "shape":"DestinationPorts",
          "documentation":"<p>A list of specific Amazon EC2 instance ports (destination ports) in a subnet endpoint that you want to prevent from receiving traffic.</p>"
        },
        "DenyAllTrafficToEndpoint":{
          "shape":"GenericBoolean",
          "documentation":"<p>Indicates whether all destination IP addresses and ports for a specified VPC subnet endpoint <i>cannot</i> receive traffic from a custom routing accelerator. The value is TRUE or FALSE. </p> <p>When set to TRUE, <i>no</i> destinations in the custom routing VPC subnet can receive traffic. Note that you cannot specify destination IP addresses and ports when the value is set to TRUE.</p> <p>When set to FALSE (or not specified), you <i>must</i> specify a list of destination IP addresses that cannot receive traffic. A list of ports is optional. If you don't specify a list of ports, the ports that can accept traffic is the same as the ports configured for the endpoint group.</p> <p>The default value is FALSE.</p>"
        }
      }
    },
    "DeprovisionByoipCidrRequest":{
      "type":"structure",
      "required":["Cidr"],
      "members":{
        "Cidr":{
          "shape":"GenericString",
          "documentation":"<p>The address range, in CIDR notation. The prefix must be the same prefix that you specified when you provisioned the address range.</p>"
        }
      }
    },
    "DeprovisionByoipCidrResponse":{
      "type":"structure",
      "members":{
        "ByoipCidr":{
          "shape":"ByoipCidr",
          "documentation":"<p>Information about the address range.</p>"
        }
      }
    },
    "DescribeAcceleratorAttributesRequest":{
      "type":"structure",
      "required":["AcceleratorArn"],
      "members":{
        "AcceleratorArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the accelerator with the attributes that you want to describe.</p>"
        }
      }
    },
    "DescribeAcceleratorAttributesResponse":{
      "type":"structure",
      "members":{
        "AcceleratorAttributes":{
          "shape":"AcceleratorAttributes",
          "documentation":"<p>The attributes of the accelerator.</p>"
        }
      }
    },
    "DescribeAcceleratorRequest":{
      "type":"structure",
      "required":["AcceleratorArn"],
      "members":{
        "AcceleratorArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the accelerator to describe.</p>"
        }
      }
    },
    "DescribeAcceleratorResponse":{
      "type":"structure",
      "members":{
        "Accelerator":{
          "shape":"Accelerator",
          "documentation":"<p>The description of the accelerator.</p>"
        }
      }
    },
    "DescribeCustomRoutingAcceleratorAttributesRequest":{
      "type":"structure",
      "required":["AcceleratorArn"],
      "members":{
        "AcceleratorArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the custom routing accelerator to describe the attributes for.</p>"
        }
      }
    },
    "DescribeCustomRoutingAcceleratorAttributesResponse":{
      "type":"structure",
      "members":{
        "AcceleratorAttributes":{
          "shape":"CustomRoutingAcceleratorAttributes",
          "documentation":"<p>The attributes of the custom routing accelerator.</p>"
        }
      }
    },
    "DescribeCustomRoutingAcceleratorRequest":{
      "type":"structure",
      "required":["AcceleratorArn"],
      "members":{
        "AcceleratorArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the accelerator to describe.</p>"
        }
      }
    },
    "DescribeCustomRoutingAcceleratorResponse":{
      "type":"structure",
      "members":{
        "Accelerator":{
          "shape":"CustomRoutingAccelerator",
          "documentation":"<p>The description of the custom routing accelerator.</p>"
        }
      }
    },
    "DescribeCustomRoutingEndpointGroupRequest":{
      "type":"structure",
      "required":["EndpointGroupArn"],
      "members":{
        "EndpointGroupArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint group to describe.</p>"
        }
      }
    },
    "DescribeCustomRoutingEndpointGroupResponse":{
      "type":"structure",
      "members":{
        "EndpointGroup":{
          "shape":"CustomRoutingEndpointGroup",
          "documentation":"<p>The description of an endpoint group for a custom routing accelerator.</p>"
        }
      }
    },
    "DescribeCustomRoutingListenerRequest":{
      "type":"structure",
      "required":["ListenerArn"],
      "members":{
        "ListenerArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the listener to describe.</p>"
        }
      }
    },
    "DescribeCustomRoutingListenerResponse":{
      "type":"structure",
      "members":{
        "Listener":{
          "shape":"CustomRoutingListener",
          "documentation":"<p>The description of a listener for a custom routing accelerator.</p>"
        }
      }
    },
    "DescribeEndpointGroupRequest":{
      "type":"structure",
      "required":["EndpointGroupArn"],
      "members":{
        "EndpointGroupArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint group to describe.</p>"
        }
      }
    },
    "DescribeEndpointGroupResponse":{
      "type":"structure",
      "members":{
        "EndpointGroup":{
          "shape":"EndpointGroup",
          "documentation":"<p>The description of an endpoint group.</p>"
        }
      }
    },
    "DescribeListenerRequest":{
      "type":"structure",
      "required":["ListenerArn"],
      "members":{
        "ListenerArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the listener to describe.</p>"
        }
      }
    },
    "DescribeListenerResponse":{
      "type":"structure",
      "members":{
        "Listener":{
          "shape":"Listener",
          "documentation":"<p>The description of a listener.</p>"
        }
      }
    },
    "DestinationAddresses":{
      "type":"list",
      "member":{"shape":"IpAddress"},
      "max":100
    },
    "DestinationPortMapping":{
      "type":"structure",
      "members":{
        "AcceleratorArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the custom routing accelerator that you have port mappings for.</p>"
        },
        "AcceleratorSocketAddresses":{
          "shape":"SocketAddresses",
          "documentation":"<p>The IP address/port combinations (sockets) that map to a given destination socket address.</p>"
        },
        "EndpointGroupArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint group.</p>"
        },
        "EndpointId":{
          "shape":"GenericString",
          "documentation":"<p>The ID for the virtual private cloud (VPC) subnet.</p>"
        },
        "EndpointGroupRegion":{
          "shape":"GenericString",
          "documentation":"<p>The AWS Region for the endpoint group.</p>"
        },
        "DestinationSocketAddress":{
          "shape":"SocketAddress",
          "documentation":"<p>The endpoint IP address/port combination for traffic received on the accelerator socket address.</p>"
        },
        "IpAddressType":{
          "shape":"IpAddressType",
          "documentation":"<p>The IP address type, which must be IPv4.</p>"
        },
        "DestinationTrafficState":{
          "shape":"CustomRoutingDestinationTrafficState",
          "documentation":"<p>Indicates whether or not a port mapping destination can receive traffic. The value is either ALLOW, if traffic is allowed to the destination, or DENY, if traffic is not allowed to the destination.</p>"
        }
      },
      "documentation":"<p>The port mappings for a specified endpoint IP address (destination).</p>"
    },
    "DestinationPortMappings":{
      "type":"list",
      "member":{"shape":"DestinationPortMapping"}
    },
    "DestinationPorts":{
      "type":"list",
      "member":{"shape":"PortNumber"},
      "max":100
    },
    "EndpointAlreadyExistsException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The endpoint that you specified doesn't exist.</p>",
      "exception":true
    },
    "EndpointConfiguration":{
      "type":"structure",
      "members":{
        "EndpointId":{
          "shape":"GenericString",
          "documentation":"<p>An ID for the endpoint. If the endpoint is a Network Load Balancer or Application Load Balancer, this is the Amazon Resource Name (ARN) of the resource. If the endpoint is an Elastic IP address, this is the Elastic IP address allocation ID. For Amazon EC2 instances, this is the EC2 instance ID. A resource must be valid and active when you add it as an endpoint.</p> <p>An Application Load Balancer can be either internal or internet-facing.</p>"
        },
        "Weight":{
          "shape":"EndpointWeight",
          "documentation":"<p>The weight associated with the endpoint. When you add weights to endpoints, you configure AWS Global Accelerator to route traffic based on proportions that you specify. For example, you might specify endpoint weights of 4, 5, 5, and 6 (sum=20). The result is that 4/20 of your traffic, on average, is routed to the first endpoint, 5/20 is routed both to the second and third endpoints, and 6/20 is routed to the last endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/about-endpoints-endpoint-weights.html\">Endpoint Weights</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
        },
        "ClientIPPreservationEnabled":{
          "shape":"GenericBoolean",
          "documentation":"<p>Indicates whether client IP address preservation is enabled for an Application Load Balancer endpoint. The value is true or false. The default value is true for new accelerators. </p> <p>If the value is set to true, the client's IP address is preserved in the <code>X-Forwarded-For</code> request header as traffic travels to applications on the Application Load Balancer endpoint fronted by the accelerator.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/preserve-client-ip-address.html\"> Preserve Client IP Addresses in AWS Global Accelerator</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
        }
      },
      "documentation":"<p>A complex type for endpoints. A resource must be valid and active when you add it as an endpoint.</p>"
    },
    "EndpointConfigurations":{
      "type":"list",
      "member":{"shape":"EndpointConfiguration"},
      "max":10,
      "min":0
    },
    "EndpointDescription":{
      "type":"structure",
      "members":{
        "EndpointId":{
          "shape":"GenericString",
          "documentation":"<p>An ID for the endpoint. If the endpoint is a Network Load Balancer or Application Load Balancer, this is the Amazon Resource Name (ARN) of the resource. If the endpoint is an Elastic IP address, this is the Elastic IP address allocation ID. For Amazon EC2 instances, this is the EC2 instance ID. </p> <p>An Application Load Balancer can be either internal or internet-facing.</p>"
        },
        "Weight":{
          "shape":"EndpointWeight",
          "documentation":"<p>The weight associated with the endpoint. When you add weights to endpoints, you configure AWS Global Accelerator to route traffic based on proportions that you specify. For example, you might specify endpoint weights of 4, 5, 5, and 6 (sum=20). The result is that 4/20 of your traffic, on average, is routed to the first endpoint, 5/20 is routed both to the second and third endpoints, and 6/20 is routed to the last endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/about-endpoints-endpoint-weights.html\">Endpoint Weights</a> in the <i>AWS Global Accelerator Developer Guide</i>. </p>"
        },
        "HealthState":{
          "shape":"HealthState",
          "documentation":"<p>The health status of the endpoint.</p>"
        },
        "HealthReason":{
          "shape":"GenericString",
          "documentation":"<p>Returns a null result.</p>"
        },
        "ClientIPPreservationEnabled":{
          "shape":"GenericBoolean",
          "documentation":"<p>Indicates whether client IP address preservation is enabled for an Application Load Balancer endpoint. The value is true or false. The default value is true for new accelerators. </p> <p>If the value is set to true, the client's IP address is preserved in the <code>X-Forwarded-For</code> request header as traffic travels to applications on the Application Load Balancer endpoint fronted by the accelerator.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/introduction-how-it-works-client-ip.html\"> Viewing Client IP Addresses in AWS Global Accelerator</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
        }
      },
      "documentation":"<p>A complex type for an endpoint. Each endpoint group can include one or more endpoints, such as load balancers.</p>"
    },
    "EndpointDescriptions":{
      "type":"list",
      "member":{"shape":"EndpointDescription"}
    },
    "EndpointGroup":{
      "type":"structure",
      "members":{
        "EndpointGroupArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the endpoint group.</p>"
        },
        "EndpointGroupRegion":{
          "shape":"GenericString",
          "documentation":"<p>The AWS Region where the endpoint group is located.</p>"
        },
        "EndpointDescriptions":{
          "shape":"EndpointDescriptions",
          "documentation":"<p>The list of endpoint objects.</p>"
        },
        "TrafficDialPercentage":{
          "shape":"TrafficDialPercentage",
          "documentation":"<p>The percentage of traffic to send to an AWS Region. Additional traffic is distributed to other endpoint groups for this listener. </p> <p>Use this action to increase (dial up) or decrease (dial down) traffic to a specific Region. The percentage is applied to the traffic that would otherwise have been routed to the Region based on optimal routing.</p> <p>The default value is 100.</p>"
        },
        "HealthCheckPort":{
          "shape":"HealthCheckPort",
          "documentation":"<p>The port that Global Accelerator uses to perform health checks on endpoints that are part of this endpoint group. </p> <p>The default port is the port for the listener that this endpoint group is associated with. If the listener port is a list, Global Accelerator uses the first specified port in the list of ports.</p>"
        },
        "HealthCheckProtocol":{
          "shape":"HealthCheckProtocol",
          "documentation":"<p>The protocol that Global Accelerator uses to perform health checks on endpoints that are part of this endpoint group. The default value is TCP.</p>"
        },
        "HealthCheckPath":{
          "shape":"HealthCheckPath",
          "documentation":"<p>If the protocol is HTTP/S, then this value provides the ping path that Global Accelerator uses for the destination on the endpoints for health checks. The default is slash (/).</p>"
        },
        "HealthCheckIntervalSeconds":{
          "shape":"HealthCheckIntervalSeconds",
          "documentation":"<p>The time—10 seconds or 30 seconds—between health checks for each endpoint. The default value is 30.</p>"
        },
        "ThresholdCount":{
          "shape":"ThresholdCount",
          "documentation":"<p>The number of consecutive health checks required to set the state of a healthy endpoint to unhealthy, or to set an unhealthy endpoint to healthy. The default value is 3.</p>"
        },
        "PortOverrides":{
          "shape":"PortOverrides",
          "documentation":"<p>Allows you to override the destination ports used to route traffic to an endpoint. Using a port override lets you to map a list of external destination ports (that your users send traffic to) to a list of internal destination ports that you want an application endpoint to receive traffic on. </p>"
        }
      },
      "documentation":"<p>A complex type for the endpoint group. An AWS Region can have only one endpoint group for a specific listener. </p>"
    },
    "EndpointGroupAlreadyExistsException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The endpoint group that you specified already exists.</p>",
      "exception":true
    },
    "EndpointGroupNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The endpoint group that you specified doesn't exist.</p>",
      "exception":true
    },
    "EndpointGroups":{
      "type":"list",
      "member":{"shape":"EndpointGroup"}
    },
    "EndpointIds":{
      "type":"list",
      "member":{"shape":"GenericString"}
    },
    "EndpointNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The endpoint that you specified doesn't exist.</p>",
      "exception":true
    },
    "EndpointWeight":{
      "type":"integer",
      "max":255,
      "min":0
    },
    "ErrorMessage":{"type":"string"},
    "GenericBoolean":{"type":"boolean"},
    "GenericString":{
      "type":"string",
      "max":255
    },
    "HealthCheckIntervalSeconds":{
      "type":"integer",
      "max":30,
      "min":10
    },
    "HealthCheckPath":{
      "type":"string",
      "max":255,
      "pattern":"^/[-a-zA-Z0-9@:%_\\\\+.~#?&/=]*$"
    },
    "HealthCheckPort":{
      "type":"integer",
      "max":65535,
      "min":1
    },
    "HealthCheckProtocol":{
      "type":"string",
      "enum":[
        "TCP",
        "HTTP",
        "HTTPS"
      ]
    },
    "HealthState":{
      "type":"string",
      "enum":[
        "INITIAL",
        "HEALTHY",
        "UNHEALTHY"
      ]
    },
    "IdempotencyToken":{
      "type":"string",
      "max":255
    },
    "IncorrectCidrStateException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
[...]
