{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-08-01",
    "endpointPrefix":"nimble",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"AmazonNimbleStudio",
    "serviceId":"nimble",
    "signatureVersion":"v4",
    "signingName":"nimble",
    "uid":"nimble-2020-08-01"
  },
  "operations":{
    "AcceptEulas":{
      "name":"AcceptEulas",
      "http":{
        "method":"POST",
        "requestUri":"/2020-08-01/studios/{studioId}/eula-acceptances",
        "responseCode":200
      },
      "input":{"shape":"AcceptEulasRequest"},
      "output":{"shape":"AcceptEulasResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Accept EULAs.</p>"
    },
    "CreateLaunchProfile":{
      "name":"CreateLaunchProfile",
      "http":{
        "method":"POST",
        "requestUri":"/2020-08-01/studios/{studioId}/launch-profiles",
        "responseCode":200
      },
      "input":{"shape":"CreateLaunchProfileRequest"},
      "output":{"shape":"CreateLaunchProfileResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Create a launch profile.</p>"
    },
    "CreateStreamingImage":{
      "name":"CreateStreamingImage",
      "http":{
        "method":"POST",
        "requestUri":"/2020-08-01/studios/{studioId}/streaming-images",
        "responseCode":200
      },
      "input":{"shape":"CreateStreamingImageRequest"},
      "output":{"shape":"CreateStreamingImageResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a streaming image resource in a studio.</p>"
    },
    "CreateStreamingSession":{
      "name":"CreateStreamingSession",
      "http":{
        "method":"POST",
        "requestUri":"/2020-08-01/studios/{studioId}/streaming-sessions",
        "responseCode":200
      },
      "input":{"shape":"CreateStreamingSessionRequest"},
      "output":{"shape":"CreateStreamingSessionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a streaming session in a studio.</p> <p>After invoking this operation, you must poll GetStreamingSession until the streaming session is in state READY.</p>"
    },
    "CreateStreamingSessionStream":{
      "name":"CreateStreamingSessionStream",
      "http":{
        "method":"POST",
        "requestUri":"/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/streams",
        "responseCode":200
      },
      "input":{"shape":"CreateStreamingSessionStreamRequest"},
      "output":{"shape":"CreateStreamingSessionStreamResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a streaming session stream for a streaming session.</p> <p>After invoking this API, invoke GetStreamingSessionStream with the returned streamId to poll the resource until it is in state READY.</p>",
      "idempotent":true
    },
    "CreateStudio":{
      "name":"CreateStudio",
      "http":{
        "method":"POST",
        "requestUri":"/2020-08-01/studios",
        "responseCode":200
      },
      "input":{"shape":"CreateStudioRequest"},
      "output":{"shape":"CreateStudioResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Create a new Studio.</p> <p>When creating a Studio, two IAM roles must be provided: the admin role and the user Role. These roles are assumed by your users when they log in to the Nimble Studio portal.</p> <p>The user role must have the AmazonNimbleStudio-StudioUser managed policy attached for the portal to function properly.</p> <p>The Admin Role must have the AmazonNimbleStudio-StudioAdmin managed policy attached for the portal to function properly.</p> <p>You may optionally specify a KMS key in the StudioEncryptionConfiguration.</p> <p>In Nimble Studio, resource names, descriptions, initialization scripts, and other data you provide are always encrypted at rest using an KMS key. By default, this key is owned by Amazon Web Services and managed on your behalf. You may provide your own KMS key when calling CreateStudio to encrypt this data using a key you own and manage.</p> <p>When providing an KMS key during studio creation, Nimble Studio creates KMS grants in your account to provide your studio user and admin roles access to these KMS keys.</p> <p>If you delete this grant, the studio will no longer be accessible to your portal users.</p> <p>If you delete the studio KMS key, your studio will no longer be accessible.</p>"
    },
    "CreateStudioComponent":{
      "name":"CreateStudioComponent",
      "http":{
        "method":"POST",
        "requestUri":"/2020-08-01/studios/{studioId}/studio-components",
        "responseCode":200
      },
      "input":{"shape":"CreateStudioComponentRequest"},
      "output":{"shape":"CreateStudioComponentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a studio component resource.</p>"
    },
    "DeleteLaunchProfile":{
      "name":"DeleteLaunchProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteLaunchProfileRequest"},
      "output":{"shape":"DeleteLaunchProfileResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Permanently delete a launch profile.</p>",
      "idempotent":true
    },
    "DeleteLaunchProfileMember":{
      "name":"DeleteLaunchProfileMember",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteLaunchProfileMemberRequest"},
      "output":{"shape":"DeleteLaunchProfileMemberResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Delete a user from launch profile membership.</p>",
      "idempotent":true
    },
    "DeleteStreamingImage":{
      "name":"DeleteStreamingImage",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteStreamingImageRequest"},
      "output":{"shape":"DeleteStreamingImageResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Delete streaming image.</p>",
      "idempotent":true
    },
    "DeleteStreamingSession":{
      "name":"DeleteStreamingSession",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteStreamingSessionRequest"},
      "output":{"shape":"DeleteStreamingSessionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Deletes streaming session resource.</p> <p>After invoking this operation, use GetStreamingSession to poll the resource until it transitions to a DELETED state.</p> <p>A streaming session will count against your streaming session quota until it is marked DELETED.</p>",
      "idempotent":true
    },
    "DeleteStudio":{
      "name":"DeleteStudio",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-08-01/studios/{studioId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteStudioRequest"},
      "output":{"shape":"DeleteStudioResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Delete a studio resource.</p>",
      "idempotent":true
    },
    "DeleteStudioComponent":{
      "name":"DeleteStudioComponent",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteStudioComponentRequest"},
      "output":{"shape":"DeleteStudioComponentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Deletes a studio component resource.</p>",
      "idempotent":true
    },
    "DeleteStudioMember":{
      "name":"DeleteStudioMember",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-08-01/studios/{studioId}/membership/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteStudioMemberRequest"},
      "output":{"shape":"DeleteStudioMemberResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Delete a user from studio membership.</p>",
      "idempotent":true
    },
    "GetEula":{
      "name":"GetEula",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/eulas/{eulaId}",
        "responseCode":200
      },
      "input":{"shape":"GetEulaRequest"},
      "output":{"shape":"GetEulaResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Get Eula.</p>"
    },
    "GetLaunchProfile":{
      "name":"GetLaunchProfile",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
        "responseCode":200
      },
      "input":{"shape":"GetLaunchProfileRequest"},
      "output":{"shape":"GetLaunchProfileResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Get a launch profile.</p>"
    },
    "GetLaunchProfileDetails":{
      "name":"GetLaunchProfileDetails",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/details",
        "responseCode":200
      },
      "input":{"shape":"GetLaunchProfileDetailsRequest"},
      "output":{"shape":"GetLaunchProfileDetailsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Launch profile details include the launch profile resource and summary information of resources that are used by, or available to, the launch profile. This includes the name and description of all studio components used by the launch profiles, and the name and description of streaming images that can be used with this launch profile.</p>"
    },
    "GetLaunchProfileInitialization":{
      "name":"GetLaunchProfileInitialization",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/init",
        "responseCode":200
      },
      "input":{"shape":"GetLaunchProfileInitializationRequest"},
      "output":{"shape":"GetLaunchProfileInitializationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Get a launch profile initialization.</p>"
    },
    "GetLaunchProfileMember":{
      "name":"GetLaunchProfileMember",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"GetLaunchProfileMemberRequest"},
      "output":{"shape":"GetLaunchProfileMemberResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Get a user persona in launch profile membership.</p>"
    },
    "GetStreamingImage":{
      "name":"GetStreamingImage",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
        "responseCode":200
      },
      "input":{"shape":"GetStreamingImageRequest"},
      "output":{"shape":"GetStreamingImageResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Get streaming image.</p>"
    },
    "GetStreamingSession":{
      "name":"GetStreamingSession",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}",
        "responseCode":200
      },
      "input":{"shape":"GetStreamingSessionRequest"},
      "output":{"shape":"GetStreamingSessionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Gets StreamingSession resource.</p> <p>anvoke this operation to poll for a streaming session state while creating or deleting a session.</p>"
    },
    "GetStreamingSessionStream":{
      "name":"GetStreamingSessionStream",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/streams/{streamId}",
        "responseCode":200
      },
      "input":{"shape":"GetStreamingSessionStreamRequest"},
      "output":{"shape":"GetStreamingSessionStreamResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Gets a StreamingSessionStream for a streaming session.</p> <p>Invoke this operation to poll the resource after invoking CreateStreamingSessionStream.</p> <p>After the StreamingSessionStream changes to the state READY, the url property will contain a stream to be used with the DCV streaming client.</p>"
    },
    "GetStudio":{
      "name":"GetStudio",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/studios/{studioId}",
        "responseCode":200
      },
      "input":{"shape":"GetStudioRequest"},
      "output":{"shape":"GetStudioResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Get a Studio resource.</p>"
    },
    "GetStudioComponent":{
      "name":"GetStudioComponent",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
        "responseCode":200
      },
      "input":{"shape":"GetStudioComponentRequest"},
      "output":{"shape":"GetStudioComponentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Gets a studio component resource.</p>"
    },
    "GetStudioMember":{
      "name":"GetStudioMember",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/studios/{studioId}/membership/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"GetStudioMemberRequest"},
      "output":{"shape":"GetStudioMemberResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Get a user's membership in a studio.</p>"
    },
    "ListEulaAcceptances":{
      "name":"ListEulaAcceptances",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/studios/{studioId}/eula-acceptances",
        "responseCode":200
      },
      "input":{"shape":"ListEulaAcceptancesRequest"},
      "output":{"shape":"ListEulaAcceptancesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>List Eula Acceptances.</p>"
    },
    "ListEulas":{
      "name":"ListEulas",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/eulas",
        "responseCode":200
      },
      "input":{"shape":"ListEulasRequest"},
      "output":{"shape":"ListEulasResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>List Eulas.</p>"
    },
    "ListLaunchProfileMembers":{
      "name":"ListLaunchProfileMembers",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership",
        "responseCode":200
      },
      "input":{"shape":"ListLaunchProfileMembersRequest"},
      "output":{"shape":"ListLaunchProfileMembersResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Get all users in a given launch profile membership.</p>"
    },
    "ListLaunchProfiles":{
      "name":"ListLaunchProfiles",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/studios/{studioId}/launch-profiles",
        "responseCode":200
      },
      "input":{"shape":"ListLaunchProfilesRequest"},
      "output":{"shape":"ListLaunchProfilesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>List all the launch profiles a studio.</p>"
    },
    "ListStreamingImages":{
      "name":"ListStreamingImages",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/studios/{studioId}/streaming-images",
        "responseCode":200
      },
      "input":{"shape":"ListStreamingImagesRequest"},
      "output":{"shape":"ListStreamingImagesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>List the streaming image resources available to this studio.</p> <p>This list will contain both images provided by Amazon Web Services, as well as streaming images that you have created in your studio.</p>"
    },
    "ListStreamingSessions":{
      "name":"ListStreamingSessions",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/studios/{studioId}/streaming-sessions",
        "responseCode":200
      },
      "input":{"shape":"ListStreamingSessionsRequest"},
      "output":{"shape":"ListStreamingSessionsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Lists the streaming image resources in a studio.</p>"
    },
    "ListStudioComponents":{
      "name":"ListStudioComponents",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/studios/{studioId}/studio-components",
        "responseCode":200
      },
      "input":{"shape":"ListStudioComponentsRequest"},
      "output":{"shape":"ListStudioComponentsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Lists the StudioComponents in a studio.</p>"
    },
    "ListStudioMembers":{
      "name":"ListStudioMembers",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/studios/{studioId}/membership",
        "responseCode":200
      },
      "input":{"shape":"ListStudioMembersRequest"},
      "output":{"shape":"ListStudioMembersResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Get all users in a given studio membership.</p>"
    },
    "ListStudios":{
      "name":"ListStudios",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/studios",
        "responseCode":200
      },
      "input":{"shape":"ListStudiosRequest"},
      "output":{"shape":"ListStudiosResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>List studios in your Amazon Web Services account in the requested Amazon Web Services Region.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/2020-08-01/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Gets the tags for a resource, given its Amazon Resource Names (ARN).</p> <p>This operation supports ARNs for all resource types in Nimble Studio that support tags, including studio, studio component, launch profile, streaming image, and streaming session. All resources that can be tagged will contain an ARN property, so you do not have to create this ARN yourself.</p>"
    },
    "PutLaunchProfileMembers":{
      "name":"PutLaunchProfileMembers",
      "http":{
        "method":"POST",
        "requestUri":"/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership",
        "responseCode":200
      },
      "input":{"shape":"PutLaunchProfileMembersRequest"},
      "output":{"shape":"PutLaunchProfileMembersResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Add/update users with given persona to launch profile membership.</p>"
    },
    "PutStudioMembers":{
      "name":"PutStudioMembers",
      "http":{
        "method":"POST",
        "requestUri":"/2020-08-01/studios/{studioId}/membership",
        "responseCode":200
      },
      "input":{"shape":"PutStudioMembersRequest"},
      "output":{"shape":"PutStudioMembersResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Add/update users with given persona to studio membership.</p>"
    },
    "StartStreamingSession":{
      "name":"StartStreamingSession",
      "http":{
        "method":"POST",
        "requestUri":"/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/start",
        "responseCode":200
      },
      "input":{"shape":"StartStreamingSessionRequest"},
      "output":{"shape":"StartStreamingSessionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p> Transitions sessions from the STOPPED state into the READY state. The START_IN_PROGRESS state is the intermediate state between the STOPPED and READY states.</p>",
      "idempotent":true
    },
    "StartStudioSSOConfigurationRepair":{
      "name":"StartStudioSSOConfigurationRepair",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-08-01/studios/{studioId}/sso-configuration",
        "responseCode":200
      },
      "input":{"shape":"StartStudioSSOConfigurationRepairRequest"},
      "output":{"shape":"StartStudioSSOConfigurationRepairResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Repairs the Amazon Web Services SSO configuration for a given studio.</p> <p>If the studio has a valid Amazon Web Services SSO configuration currently associated with it, this operation will fail with a validation error.</p> <p>If the studio does not have a valid Amazon Web Services SSO configuration currently associated with it, then a new Amazon Web Services SSO application is created for the studio and the studio is changed to the READY state.</p> <p>After the Amazon Web Services SSO application is repaired, you must use the Amazon Nimble Studio console to add administrators and users to your studio.</p>",
      "idempotent":true
    },
    "StopStreamingSession":{
      "name":"StopStreamingSession",
      "http":{
        "method":"POST",
        "requestUri":"/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/stop",
        "responseCode":200
      },
      "input":{"shape":"StopStreamingSessionRequest"},
      "output":{"shape":"StopStreamingSessionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Transitions sessions from the READY state into the STOPPED state. The STOP_IN_PROGRESS state is the intermediate state between the READY and STOPPED states.</p>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/2020-08-01/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates tags for a resource, given its ARN.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-08-01/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Deletes the tags for a resource.</p>",
      "idempotent":true
    },
    "UpdateLaunchProfile":{
      "name":"UpdateLaunchProfile",
      "http":{
        "method":"PATCH",
        "requestUri":"/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateLaunchProfileRequest"},
      "output":{"shape":"UpdateLaunchProfileResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Update a launch profile.</p>"
    },
    "UpdateLaunchProfileMember":{
      "name":"UpdateLaunchProfileMember",
      "http":{
        "method":"PATCH",
        "requestUri":"/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateLaunchProfileMemberRequest"},
      "output":{"shape":"UpdateLaunchProfileMemberResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Update a user persona in launch profile membership.</p>"
    },
    "UpdateStreamingImage":{
      "name":"UpdateStreamingImage",
      "http":{
        "method":"PATCH",
        "requestUri":"/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateStreamingImageRequest"},
      "output":{"shape":"UpdateStreamingImageResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Update streaming image.</p>"
    },
    "UpdateStudio":{
      "name":"UpdateStudio",
      "http":{
        "method":"PATCH",
        "requestUri":"/2020-08-01/studios/{studioId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateStudioRequest"},
      "output":{"shape":"UpdateStudioResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Update a Studio resource.</p> <p>Currently, this operation only supports updating the displayName of your studio.</p>"
    },
    "UpdateStudioComponent":{
      "name":"UpdateStudioComponent",
      "http":{
        "method":"PATCH",
        "requestUri":"/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateStudioComponentRequest"},
      "output":{"shape":"UpdateStudioComponentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates a studio component resource.</p>"
    }
  },
  "shapes":{
    "AcceptEulasRequest":{
      "type":"structure",
      "required":["studioId"],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don’t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Amz-Client-Token"
        },
        "eulaIds":{
          "shape":"EulaIdList",
          "documentation":"<p>The EULA ID.</p>"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>A collection of EULA IDs.</p>",
          "location":"uri",
          "locationName":"studioId"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "AcceptEulasResponse":{
      "type":"structure",
      "members":{
        "eulaAcceptances":{
          "shape":"EulaAcceptanceList",
          "documentation":"<p>A collection of EULA acceptances.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "code":{
          "shape":"String",
          "documentation":"<p>A more specific error code.</p>"
        },
        "context":{
          "shape":"ExceptionContext",
          "documentation":"<p>The exception context.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>A human-readable description of the error.</p>"
        }
      },
      "documentation":"<p>You are not authorized to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "ActiveDirectoryComputerAttribute":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"ActiveDirectoryComputerAttributeName",
          "documentation":"<p>The name for the LDAP attribute.</p>"
        },
        "value":{
          "shape":"ActiveDirectoryComputerAttributeValue",
          "documentation":"<p>The value for the LDAP attribute.</p>"
        }
      },
      "documentation":"<p>An LDAP attribute of an Active Directory computer account, in the form of a name:value pair.</p>"
    },
    "ActiveDirectoryComputerAttributeList":{
      "type":"list",
      "member":{"shape":"ActiveDirectoryComputerAttribute"},
      "documentation":"<p>A collection of LDAP attributes to apply to Active Directory computer accounts that are created for streaming sessions.</p>",
      "max":50,
      "min":0,
      "sensitive":true
    },
    "ActiveDirectoryComputerAttributeName":{
      "type":"string",
      "documentation":"<p>The name for the LDAP attribute.</p>",
      "max":40,
      "min":1
    },
    "ActiveDirectoryComputerAttributeValue":{
      "type":"string",
      "documentation":"<p>The value for the LDAP attribute.</p>",
      "max":64,
      "min":1
    },
    "ActiveDirectoryConfiguration":{
      "type":"structure",
      "members":{
        "computerAttributes":{
          "shape":"ActiveDirectoryComputerAttributeList",
          "documentation":"<p>A collection of custom attributes for an Active Directory computer.</p>"
        },
        "directoryId":{
          "shape":"DirectoryId",
          "documentation":"<p>The directory ID of the Directory Service for Microsoft Active Directory to access using this studio component.</p>"
        },
        "organizationalUnitDistinguishedName":{
          "shape":"ActiveDirectoryOrganizationalUnitDistinguishedName",
          "documentation":"<p>The distinguished name (DN) and organizational unit (OU) of an Active Directory computer.</p>"
        }
      },
      "documentation":"<p>The configuration for a Microsoft Active Directory (Microsoft AD) studio resource.</p>"
    },
    "ActiveDirectoryDnsIpAddress":{
      "type":"string",
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "ActiveDirectoryDnsIpAddressList":{
      "type":"list",
      "member":{"shape":"ActiveDirectoryDnsIpAddress"},
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "max":10,
      "min":0
    },
    "ActiveDirectoryOrganizationalUnitDistinguishedName":{
      "type":"string",
      "documentation":"<p>The fully-qualified distinguished name of the organizational unit to place the computer account in.</p>",
      "max":2000,
      "min":1
    },
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1
    },
    "ComputeFarmConfiguration":{
      "type":"structure",
      "members":{
        "activeDirectoryUser":{
          "shape":"String",
          "documentation":"<p>The name of an Active Directory user that is used on ComputeFarm worker instances.</p>"
        },
        "endpoint":{
          "shape":"SyntheticComputeFarmConfigurationString",
          "documentation":"<p>The endpoint of the ComputeFarm that is accessed by the studio component resource.</p>"
        }
      },
      "documentation":"<p>The configuration for a render farm that is associated with a studio resource.</p>"
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "code":{
          "shape":"String",
          "documentation":"<p>A more specific error code.</p>"
        },
        "context":{
          "shape":"ExceptionContext",
          "documentation":"<p>The exception context.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>A human-readable description of the error.</p>"
        }
      },
      "documentation":"<p>Another operation is in progress. </p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CreateLaunchProfileRequest":{
      "type":"structure",
      "required":[
        "ec2SubnetIds",
        "launchProfileProtocolVersions",
        "name",
        "streamConfiguration",
        "studioComponentIds",
        "studioId"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don’t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Amz-Client-Token"
        },
        "description":{
          "shape":"LaunchProfileDescription",
          "documentation":"<p>The description.</p>"
        },
        "ec2SubnetIds":{
          "shape":"EC2SubnetIdList",
          "documentation":"<p>Specifies the IDs of the EC2 subnets where streaming sessions will be accessible from. These subnets must support the specified instance types. </p>"
        },
        "launchProfileProtocolVersions":{
          "shape":"LaunchProfileProtocolVersionList",
          "documentation":"<p>The version number of the protocol that is used by the launch profile. The only valid version is \"2021-03-31\".</p>"
        },
        "name":{
          "shape":"LaunchProfileName",
          "documentation":"<p>The name for the launch profile.</p>"
        },
        "streamConfiguration":{
          "shape":"StreamConfigurationCreate",
          "documentation":"<p>A configuration for a streaming session.</p>"
        },
        "studioComponentIds":{
          "shape":"LaunchProfileStudioComponentIdList",
          "documentation":"<p>Unique identifiers for a collection of studio components that can be used with this launch profile.</p>"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "CreateLaunchProfileResponse":{
      "type":"structure",
      "members":{
        "launchProfile":{
          "shape":"LaunchProfile",
          "documentation":"<p>The launch profile.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "CreateStreamingImageRequest":{
      "type":"structure",
      "required":[
        "ec2ImageId",
        "name",
        "studioId"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don’t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Amz-Client-Token"
        },
        "description":{
          "shape":"SyntheticCreateStreamingImageRequestStreamingImageDescription",
          "documentation":"<p>A human-readable description of the streaming image.</p>"
        },
        "ec2ImageId":{
          "shape":"EC2ImageId",
          "documentation":"<p>The ID of an EC2 machine image with which to create this streaming image.</p>"
        },
        "name":{
          "shape":"SyntheticCreateStreamingImageRequestStreamingImageName",
          "documentation":"<p>A friendly name for a streaming image resource.</p>"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "CreateStreamingImageResponse":{
      "type":"structure",
      "members":{
        "streamingImage":{
          "shape":"StreamingImage",
          "documentation":"<p>The streaming image.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "CreateStreamingSessionRequest":{
      "type":"structure",
      "required":["studioId"],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don’t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Amz-Client-Token"
        },
        "ec2InstanceType":{
          "shape":"StreamingInstanceType",
          "documentation":"<p>The EC2 Instance type used for the streaming session.</p>"
        },
        "launchProfileId":{
          "shape":"String",
          "documentation":"<p>The launch profile ID.</p>"
        },
        "ownedBy":{
          "shape":"String",
          "documentation":"<p>The user ID of the user that owns the streaming session.</p>"
        },
        "streamingImageId":{
          "shape":"StreamingImageId",
          "documentation":"<p>The ID of the streaming image.</p>"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "CreateStreamingSessionResponse":{
      "type":"structure",
      "members":{
        "session":{
          "shape":"StreamingSession",
          "documentation":"<p>The session.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "CreateStreamingSessionStreamRequest":{
      "type":"structure",
      "required":[
        "sessionId",
        "studioId"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don’t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Amz-Client-Token"
        },
        "expirationInSeconds":{
          "shape":"StreamingSessionStreamExpirationInSeconds",
          "documentation":"<p>The expiration time in seconds.</p>"
        },
        "sessionId":{
          "shape":"String",
          "documentation":"<p>The streaming session ID.</p>",
          "location":"uri",
          "locationName":"sessionId"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "CreateStreamingSessionStreamResponse":{
      "type":"structure",
      "members":{
        "stream":{
          "shape":"StreamingSessionStream",
          "documentation":"<p>The stream.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "CreateStudioComponentRequest":{
      "type":"structure",
      "required":[
        "name",
        "studioId",
        "type"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don’t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Amz-Client-Token"
        },
        "configuration":{
          "shape":"StudioComponentConfiguration",
          "documentation":"<p>The configuration of the studio component, based on component type.</p>"
        },
        "description":{
          "shape":"StudioComponentDescription",
          "documentation":"<p>The description.</p>"
        },
        "ec2SecurityGroupIds":{
          "shape":"StudioComponentSecurityGroupIdList",
          "documentation":"<p>The EC2 security groups that control access to the studio component.</p>"
        },
        "initializationScripts":{
          "shape":"StudioComponentInitializationScriptList",
          "documentation":"<p>Initialization scripts for studio components.</p>"
        },
        "name":{
          "shape":"StudioComponentName",
          "documentation":"<p>The name for the studio component.</p>"
        },
        "scriptParameters":{
          "shape":"StudioComponentScriptParameterKeyValueList",
          "documentation":"<p>Parameters for the studio component scripts.</p>"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        },
        "subtype":{
          "shape":"StudioComponentSubtype",
          "documentation":"<p>The specific subtype of a studio component.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>"
        },
        "type":{
          "shape":"StudioComponentType",
          "documentation":"<p>The type of the studio component.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "CreateStudioComponentResponse":{
      "type":"structure",
      "members":{
        "studioComponent":{
          "shape":"StudioComponent",
          "documentation":"<p>Information about the studio component.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "CreateStudioRequest":{
      "type":"structure",
      "required":[
        "adminRoleArn",
        "displayName",
        "studioName",
        "userRoleArn"
      ],
      "members":{
        "adminRoleArn":{
          "shape":"String",
          "documentation":"<p>The IAM role that Studio Admins will assume when logging in to the Nimble Studio portal.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don’t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Amz-Client-Token"
        },
        "displayName":{
          "shape":"SyntheticCreateStudioRequestStudioDisplayName",
          "documentation":"<p>A friendly name for the studio.</p>"
        },
        "studioEncryptionConfiguration":{
          "shape":"StudioEncryptionConfiguration",
          "documentation":"<p>The studio encryption configuration.</p>"
        },
        "studioName":{
          "shape":"StudioName",
          "documentation":"<p>The studio name that is used in the URL of the Nimble Studio portal when accessed by Nimble Studio users.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>"
        },
        "userRoleArn":{
          "shape":"String",
          "documentation":"<p>The IAM role that Studio Users will assume when logging in to the Nimble Studio portal.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "CreateStudioResponse":{
      "type":"structure",
      "members":{
        "studio":{
          "shape":"Studio",
          "documentation":"<p>Information about a studio.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "DeleteLaunchProfileMemberRequest":{
      "type":"structure",
      "required":[
        "launchProfileId",
        "principalId",
        "studioId"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don’t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Amz-Client-Token"
        },
        "launchProfileId":{
          "shape":"String",
          "documentation":"<p>The Launch Profile ID.</p>",
          "location":"uri",
          "locationName":"launchProfileId"
        },
        "principalId":{
          "shape":"String",
          "documentation":"<p>The principal ID. This currently supports a Amazon Web Services SSO UserId. </p>",
          "location":"uri",
          "locationName":"principalId"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "DeleteLaunchProfileMemberResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "DeleteLaunchProfileRequest":{
      "type":"structure",
      "required":[
        "launchProfileId",
        "studioId"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don’t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Amz-Client-Token"
        },
        "launchProfileId":{
          "shape":"String",
          "documentation":"<p>The Launch Profile ID.</p>",
          "location":"uri",
          "locationName":"launchProfileId"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "DeleteLaunchProfileResponse":{
      "type":"structure",
      "members":{
        "launchProfile":{
          "shape":"LaunchProfile",
          "documentation":"<p>The launch profile.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "DeleteStreamingImageRequest":{
      "type":"structure",
      "required":[
        "streamingImageId",
        "studioId"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don’t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Amz-Client-Token"
        },
        "streamingImageId":{
          "shape":"String",
          "documentation":"<p>The streaming image ID.</p>",
          "location":"uri",
          "locationName":"streamingImageId"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "DeleteStreamingImageResponse":{
      "type":"structure",
      "members":{
        "streamingImage":{
          "shape":"StreamingImage",
          "documentation":"<p>The streaming image.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "DeleteStreamingSessionRequest":{
      "type":"structure",
      "required":[
        "sessionId",
        "studioId"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don’t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Amz-Client-Token"
        },
        "sessionId":{
          "shape":"String",
          "documentation":"<p>The streaming session ID.</p>",
          "location":"uri",
          "locationName":"sessionId"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "DeleteStreamingSessionResponse":{
      "type":"structure",
      "members":{
        "session":{
          "shape":"StreamingSession",
          "documentation":"<p>The session.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "DeleteStudioComponentRequest":{
      "type":"structure",
      "required":[
        "studioComponentId",
        "studioId"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don’t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Amz-Client-Token"
        },
        "studioComponentId":{
          "shape":"String",
          "documentation":"<p>The studio component ID.</p>",
          "location":"uri",
          "locationName":"studioComponentId"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "DeleteStudioComponentResponse":{
      "type":"structure",
      "members":{
        "studioComponent":{
          "shape":"StudioComponent",
          "documentation":"<p>Information about the studio component.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "DeleteStudioMemberRequest":{
      "type":"structure",
      "required":[
        "principalId",
        "studioId"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don’t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Amz-Client-Token"
        },
        "principalId":{
          "shape":"String",
          "documentation":"<p>The principal ID. This currently supports a Amazon Web Services SSO UserId. </p>",
          "location":"uri",
          "locationName":"principalId"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "DeleteStudioMemberResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "DeleteStudioRequest":{
      "type":"structure",
      "required":["studioId"],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don’t specify a client token, the AWS SDK automatically generates a client token and uses it for the request to ensure idempotency.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Amz-Client-Token"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "DeleteStudioResponse":{
      "type":"structure",
      "required":["studio"],
      "members":{
        "studio":{
          "shape":"Studio",
          "documentation":"<p>Information about a studio.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "DirectoryId":{
      "type":"string",
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "EC2ImageId":{
      "type":"string",
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "pattern":"^ami-[0-9A-z]+$"
    },
    "EC2SubnetId":{
      "type":"string",
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "EC2SubnetIdList":{
      "type":"list",
      "member":{"shape":"EC2SubnetId"},
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "max":6,
      "min":0
    },
    "Eula":{
      "type":"structure",
      "members":{
        "content":{
          "shape":"String",
          "documentation":"<p>The EULA content.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp in seconds for when the resource was created.</p>"
        },
        "eulaId":{
          "shape":"EulaId",
          "documentation":"<p>The EULA ID.</p>"
        },
        "name":{
          "shape":"EulaName",
          "documentation":"<p>The name for the EULA.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp in seconds for when the resource was updated.</p>"
        }
      },
      "documentation":"<p>Represents a EULA resource.</p>"
    },
    "EulaAcceptance":{
      "type":"structure",
      "members":{
        "acceptedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp in seconds for when the EULA was accepted.</p>"
        },
        "acceptedBy":{
          "shape":"String",
          "documentation":"<p>The ID of the person who accepted the EULA.</p>"
        },
        "accepteeId":{
          "shape":"String",
          "documentation":"<p>The ID of the acceptee.</p>"
        },
        "eulaAcceptanceId":{
          "shape":"EulaAcceptanceId",
          "documentation":"<p>The EULA acceptance ID.</p>"
        },
        "eulaId":{
          "shape":"EulaId",
          "documentation":"<p>The EULA ID.</p>"
        }
      },
      "documentation":"<p>The acceptance of a EULA, required to use Amazon-provided streaming images.</p>"
    },
    "EulaAcceptanceId":{
      "type":"string",
      "documentation":"<p>The EULA acceptance ID.</p>",
      "max":22,
      "min":0,
      "pattern":"^[a-zA-Z0-9-_]*$"
    },
    "EulaAcceptanceList":{
      "type":"list",
      "member":{"shape":"EulaAcceptance"},
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "EulaId":{
      "type":"string",
      "documentation":"<p>Represents a EULA resource.</p>",
      "max":22,
      "min":0,
      "pattern":"^[a-zA-Z0-9-_]*$"
    },
    "EulaIdList":{
      "type":"list",
      "member":{"shape":"String"},
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "EulaList":{
      "type":"list",
      "member":{"shape":"Eula"},
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "EulaName":{
      "type":"string",
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "max":64,
      "min":0
    },
    "ExceptionContext":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"},
      "documentation":"<p>ExceptionContext is a set of key-value pairs that provide you with more information about the error that occurred. For example, when the service returns a 404 ResourceNotFound error, ExceptionContext will contain the key `resourceId` with the value of resource that was not found.</p> <p>ExceptionContext enables scripts and other programmatic clients to provide for better error handling.</p>"
    },
    "GetEulaRequest":{
      "type":"structure",
      "required":["eulaId"],
      "members":{
        "eulaId":{
          "shape":"String",
          "documentation":"<p>The EULA ID.</p>",
          "location":"uri",
          "locationName":"eulaId"
        }
      }
    },
    "GetEulaResponse":{
      "type":"structure",
      "members":{
        "eula":{
          "shape":"Eula",
          "documentation":"<p>The EULA.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "GetLaunchProfileDetailsRequest":{
      "type":"structure",
      "required":[
        "launchProfileId",
        "studioId"
      ],
      "members":{
        "launchProfileId":{
          "shape":"String",
          "documentation":"<p>The Launch Profile ID.</p>",
          "location":"uri",
          "locationName":"launchProfileId"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "GetLaunchProfileDetailsResponse":{
      "type":"structure",
      "members":{
        "launchProfile":{
          "shape":"LaunchProfile",
          "documentation":"<p>The launch profile.</p>"
        },
        "streamingImages":{
          "shape":"StreamingImageList",
          "documentation":"<p>A collection of streaming images.</p>"
        },
        "studioComponentSummaries":{
          "shape":"StudioComponentSummaryList",
          "documentation":"<p>A collection of studio component summaries.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "GetLaunchProfileInitializationRequest":{
      "type":"structure",
      "required":[
        "launchProfileId",
        "launchProfileProtocolVersions",
        "launchPurpose",
        "platform",
        "studioId"
      ],
      "members":{
        "launchProfileId":{
          "shape":"String",
          "documentation":"<p>The Launch Profile ID.</p>",
          "location":"uri",
          "locationName":"launchProfileId"
        },
        "launchProfileProtocolVersions":{
          "shape":"StringList",
          "documentation":"<p>The launch profile protocol versions supported by the client.</p>",
          "location":"querystring",
          "locationName":"launchProfileProtocolVersions"
        },
        "launchPurpose":{
          "shape":"String",
          "documentation":"<p>The launch purpose.</p>",
          "location":"querystring",
          "locationName":"launchPurpose"
        },
        "platform":{
          "shape":"String",
          "documentation":"<p>The platform where this Launch Profile will be used, either WINDOWS or LINUX.</p>",
          "location":"querystring",
          "locationName":"platform"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "GetLaunchProfileInitializationResponse":{
      "type":"structure",
      "members":{
        "launchProfileInitialization":{
          "shape":"LaunchProfileInitialization",
          "documentation":"<p>The launch profile initialization.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "GetLaunchProfileMemberRequest":{
      "type":"structure",
      "required":[
        "launchProfileId",
        "principalId",
        "studioId"
      ],
      "members":{
        "launchProfileId":{
          "shape":"String",
          "documentation":"<p>The Launch Profile ID.</p>",
          "location":"uri",
          "locationName":"launchProfileId"
        },
        "principalId":{
          "shape":"String",
          "documentation":"<p>The principal ID. This currently supports a Amazon Web Services SSO UserId. </p>",
          "location":"uri",
          "locationName":"principalId"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "GetLaunchProfileMemberResponse":{
      "type":"structure",
      "members":{
        "member":{
          "shape":"LaunchProfileMembership",
          "documentation":"<p>The member.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "GetLaunchProfileRequest":{
      "type":"structure",
      "required":[
        "launchProfileId",
        "studioId"
      ],
      "members":{
        "launchProfileId":{
          "shape":"String",
          "documentation":"<p>The Launch Profile ID.</p>",
          "location":"uri",
          "locationName":"launchProfileId"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "GetLaunchProfileResponse":{
      "type":"structure",
      "members":{
        "launchProfile":{
          "shape":"LaunchProfile",
          "documentation":"<p>The launch profile.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "GetStreamingImageRequest":{
      "type":"structure",
      "required":[
        "streamingImageId",
        "studioId"
      ],
      "members":{
        "streamingImageId":{
          "shape":"String",
          "documentation":"<p>The streaming image ID.</p>",
          "location":"uri",
          "locationName":"streamingImageId"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "GetStreamingImageResponse":{
      "type":"structure",
      "members":{
        "streamingImage":{
          "shape":"StreamingImage",
          "documentation":"<p>The streaming image.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "GetStreamingSessionRequest":{
      "type":"structure",
      "required":[
        "sessionId",
        "studioId"
      ],
      "members":{
        "sessionId":{
          "shape":"String",
          "documentation":"<p>The streaming session ID.</p>",
          "location":"uri",
          "locationName":"sessionId"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "GetStreamingSessionResponse":{
      "type":"structure",
      "members":{
        "session":{
          "shape":"StreamingSession",
          "documentation":"<p>The session.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "GetStreamingSessionStreamRequest":{
      "type":"structure",
      "required":[
        "sessionId",
        "streamId",
        "studioId"
      ],
      "members":{
        "sessionId":{
          "shape":"String",
          "documentation":"<p>The streaming session ID.</p>",
          "location":"uri",
          "locationName":"sessionId"
        },
        "streamId":{
          "shape":"String",
          "documentation":"<p>The streaming session stream ID.</p>",
          "location":"uri",
          "locationName":"streamId"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "GetStreamingSessionStreamResponse":{
      "type":"structure",
      "members":{
        "stream":{
          "shape":"StreamingSessionStream",
          "documentation":"<p>The stream.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "GetStudioComponentRequest":{
      "type":"structure",
      "required":[
        "studioComponentId",
        "studioId"
      ],
      "members":{
        "studioComponentId":{
          "shape":"String",
          "documentation":"<p>The studio component ID.</p>",
          "location":"uri",
          "locationName":"studioComponentId"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "GetStudioComponentResponse":{
      "type":"structure",
      "members":{
        "studioComponent":{
          "shape":"StudioComponent",
          "documentation":"<p>Information about the studio component.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "GetStudioMemberRequest":{
      "type":"structure",
      "required":[
        "principalId",
        "studioId"
      ],
      "members":{
        "principalId":{
          "shape":"String",
          "documentation":"<p>The principal ID. This currently supports a Amazon Web Services SSO UserId. </p>",
          "location":"uri",
          "locationName":"principalId"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "GetStudioMemberResponse":{
      "type":"structure",
      "members":{
        "member":{
          "shape":"StudioMembership",
          "documentation":"<p>The member.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "GetStudioRequest":{
      "type":"structure",
      "required":["studioId"],
      "members":{
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "GetStudioResponse":{
      "type":"structure",
      "required":["studio"],
      "members":{
        "studio":{
          "shape":"Studio",
          "documentation":"<p>Information about a studio.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "InternalServerErrorException":{
      "type":"structure",
      "members":{
        "code":{
          "shape":"String",
          "documentation":"<p>A more specific error code.</p>"
        },
        "context":{
          "shape":"ExceptionContext",
          "documentation":"<p>The exception context.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>A human-readable description of the error.</p>"
        }
      },
      "documentation":"<p>An internal error has occurred. Please retry your request.</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "LaunchProfile":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"String",
          "documentation":"<p>The ARN of the resource.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp in seconds for when the resource was created.</p>"
        },
        "createdBy":{
          "shape":"String",
          "documentation":"<p>The user ID of the user that created the launch profile.</p>"
        },
        "description":{
          "shape":"LaunchProfileDescription",
          "documentation":"<p>A human-readable description of the launch profile.</p>"
        },
        "ec2SubnetIds":{
          "shape":"EC2SubnetIdList",
          "documentation":"<p>Unique identifiers for a collection of EC2 subnets.</p>"
        },
        "launchProfileId":{
          "shape":"LaunchProfileId",
          "documentation":"<p>The launch profile ID.</p>"
        },
        "launchProfileProtocolVersions":{
          "shape":"LaunchProfileProtocolVersionList",
          "documentation":"<p>The version number of the protocol that is used by the launch profile. The only valid version is \"2021-03-31\".</p>"
        },
        "name":{
          "shape":"LaunchProfileName",
          "documentation":"<p>A friendly name for the launch profile.</p>"
        },
        "state":{
          "shape":"LaunchProfileState",
          "documentation":"<p>The current state.</p>"
        },
        "statusCode":{
          "shape":"LaunchProfileStatusCode",
          "documentation":"<p>The status code.</p>"
        },
        "statusMessage":{
          "shape":"String",
          "documentation":"<p>The status message for the launch profile.</p>"
        },
        "streamConfiguration":{
          "shape":"StreamConfiguration",
          "documentation":"<p>A configuration for a streaming session.</p>"
        },
        "studioComponentIds":{
          "shape":"LaunchProfileStudioComponentIdList",
          "documentation":"<p>Unique identifiers for a collection of studio components that can be used with this launch profile.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp in seconds for when the resource was updated.</p>"
        },
        "updatedBy":{
          "shape":"String",
          "documentation":"<p>The user ID of the user that most recently updated the resource.</p>"
        }
      },
      "documentation":"<p>A launch profile controls your artist workforce’s access to studio components, like compute farms, shared file systems, managed file systems, and license server configurations, as well as instance types and Amazon Machine Images (AMIs). </p> <pre><code> &lt;p&gt;Studio administrators create launch profiles in the Nimble Studio console. Artists can use their launch profiles to launch an instance from the Nimble Studio portal. Each user’s launch profile defines how they can launch a streaming session. By default, studio admins can use all launch profiles.&lt;/p&gt; </code></pre>"
    },
    "LaunchProfileDescription":{
      "type":"string",
      "documentation":"<p>A human-readable description of the launch profile.</p>",
      "max":256,
      "min":0,
      "sensitive":true
    },
    "LaunchProfileId":{
      "type":"string",
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "max":22,
      "min":0,
      "pattern":"^[a-zA-Z0-9-_]*$"
    },
    "LaunchProfileInitialization":{
      "type":"structure",
      "members":{
        "activeDirectory":{
          "shape":"LaunchProfileInitializationActiveDirectory",
          "documentation":"<p>A LaunchProfileInitializationActiveDirectory resource.</p>"
        },
        "ec2SecurityGroupIds":{
          "shape":"LaunchProfileSecurityGroupIdList",
          "documentation":"<p>The EC2 security groups that control access to the studio component.</p>"
        },
        "launchProfileId":{
          "shape":"LaunchProfileId",
          "documentation":"<p>The launch profile ID.</p>"
        },
        "launchProfileProtocolVersion":{
          "shape":"LaunchProfileProtocolVersion",
          "documentation":"<p>The version number of the protocol that is used by the launch profile. The only valid version is \"2021-03-31\".</p>"
        },
        "launchPurpose":{
          "shape":"LaunchPurpose",
          "documentation":"<p>The launch purpose.</p>"
        },
        "name":{
          "shape":"LaunchProfileName",
          "documentation":"<p>The name for the launch profile.</p>"
        },
        "platform":{
          "shape":"LaunchProfilePlatform",
          "documentation":"<p>The platform of the launch platform, either WINDOWS or LINUX.</p>"
        },
        "systemInitializationScripts":{
          "shape":"LaunchProfileInitializationScriptList",
          "documentation":"<p>The system initializtion scripts.</p>"
        },
        "userInitializationScripts":{
          "shape":"LaunchProfileInitializationScriptList",
          "documentation":"<p>The user initializtion scripts.</p>"
        }
      },
      "documentation":"<p>A Launch Profile Initialization contains information required for a workstation or server to connect to a launch profile</p> <p>This includes scripts, endpoints, security groups, subnets, and other configuration.</p>"
    },
    "LaunchProfileInitializationActiveDirectory":{
      "type":"structure",
      "members":{
        "computerAttributes":{
          "shape":"ActiveDirectoryComputerAttributeList",
          "documentation":"<p>A collection of custom attributes for an Active Directory computer.</p>"
        },
        "directoryId":{
          "shape":"DirectoryId",
          "documentation":"<p>The directory ID of the Directory Service for Microsoft Active Directory to access using this launch profile.</p>"
        },
        "directoryName":{
          "shape":"String",
          "documentation":"<p>The directory name.</p>"
        },
        "dnsIpAddresses":{
          "shape":"ActiveDirectoryDnsIpAddressList",
          "documentation":"<p>The DNS IP address.</p>"
        },
        "organizationalUnitDistinguishedName":{
          "shape":"ActiveDirectoryOrganizationalUnitDistinguishedName",
          "documentation":"<p>The name for the organizational unit distinguished name.</p>"
        },
        "studioComponentId":{
          "shape":"StudioComponentId",
          "documentation":"<p>The unique identifier for a studio component resource.</p>"
        },
        "studioComponentName":{
          "shape":"StudioComponentName",
          "documentation":"<p>The name for the studio component.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "LaunchProfileInitializationScript":{
      "type":"structure",
      "members":{
        "script":{
          "shape":"StudioComponentInitializationScriptContent",
          "documentation":"<p>The initialization script.</p>"
        },
        "studioComponentId":{
          "shape":"StudioComponentId",
          "documentation":"<p>The unique identifier for a studio component resource.</p>"
        },
        "studioComponentName":{
          "shape":"StudioComponentName",
          "documentation":"<p>The name for the studio component.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "LaunchProfileInitializationScriptList":{
      "type":"list",
      "member":{"shape":"LaunchProfileInitializationScript"},
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "LaunchProfileList":{
      "type":"list",
      "member":{"shape":"LaunchProfile"},
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "LaunchProfileMembership":{
      "type":"structure",
      "members":{
        "identityStoreId":{
          "shape":"String",
          "documentation":"<p>The ID of the identity store.</p>"
        },
        "persona":{
          "shape":"LaunchProfilePersona",
          "documentation":"<p>The persona.</p>"
        },
        "principalId":{
          "shape":"String",
          "documentation":"<p>The principal ID.</p>"
        },
        "sid":{
          "shape":"String",
          "documentation":"<p>The Active Directory Security Identifier for this user, if available.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "LaunchProfileMembershipList":{
      "type":"list",
      "member":{"shape":"LaunchProfileMembership"},
      "documentation":"<p/>",
      "max":20,
      "min":0
    },
    "LaunchProfileName":{
      "type":"string",
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "max":64,
      "min":1,
      "sensitive":true
    },
    "LaunchProfilePersona":{
      "type":"string",
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "enum":["USER"]
    },
    "LaunchProfilePlatform":{
      "type":"string",
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "enum":[
        "LINUX",
        "WINDOWS"
      ]
    },
    "LaunchProfileProtocolVersion":{
      "type":"string",
      "documentation":"<p>The version number of the protocol that is used by the launch profile. The only valid version is \"2021-03-31\".</p>",
      "max":10,
      "min":0,
      "pattern":"^2021\\-03\\-31$"
    },
    "LaunchProfileProtocolVersionList":{
      "type":"list",
      "member":{"shape":"LaunchProfileProtocolVersion"},
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "LaunchProfileSecurityGroupIdList":{
      "type":"list",
      "member":{"shape":"SecurityGroupId"},
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "min":1
    },
    "LaunchProfileState":{
      "type":"string",
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "enum":[
        "CREATE_IN_PROGRESS",
        "READY",
        "UPDATE_IN_PROGRESS",
        "DELETE_IN_PROGRESS",
        "DELETED",
        "DELETE_FAILED",
        "CREATE_FAILED",
        "UPDATE_FAILED"
      ]
    },
    "LaunchProfileStatusCode":{
      "type":"string",
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "enum":[
        "LAUNCH_PROFILE_CREATED",
        "LAUNCH_PROFILE_UPDATED",
        "LAUNCH_PROFILE_DELETED",
        "LAUNCH_PROFILE_CREATE_IN_PROGRESS",
        "LAUNCH_PROFILE_UPDATE_IN_PROGRESS",
        "LAUNCH_PROFILE_DELETE_IN_PROGRESS",
        "INTERNAL_ERROR",
        "STREAMING_IMAGE_NOT_FOUND",
        "STREAMING_IMAGE_NOT_READY",
        "LAUNCH_PROFILE_WITH_STREAM_SESSIONS_NOT_DELETED",
        "ENCRYPTION_KEY_ACCESS_DENIED",
        "ENCRYPTION_KEY_NOT_FOUND",
        "INVALID_SUBNETS_PROVIDED"
      ]
    },
    "LaunchProfileStudioComponentIdList":{
      "type":"list",
      "member":{"shape":"String"},
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "max":100,
      "min":1
    },
    "LaunchPurpose":{
      "type":"string",
      "documentation":"<p>The launch purpose.</p>",
      "max":64,
      "min":0,
      "pattern":"^[A-Z0-9_]+$"
    },
    "LicenseServiceConfiguration":{
      "type":"structure",
      "members":{
        "endpoint":{
          "shape":"SyntheticLicenseServiceConfigurationString",
          "documentation":"<p>The endpoint of the license service that is accessed by the studio component resource.</p>"
        }
      },
      "documentation":"<p>The configuration for a license service that is associated with a studio resource.</p>"
    },
    "LinuxMountPoint":{
      "type":"string",
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "max":128,
      "min":0,
      "pattern":"^(/?|(\\$HOME)?(/[^/\\n\\s\\\\]+)*)$",
      "sensitive":true
    },
    "ListEulaAcceptancesRequest":{
      "type":"structure",
      "required":["studioId"],
      "members":{
        "eulaIds":{
          "shape":"StringList",
          "documentation":"<p>The list of EULA IDs that have been previously accepted.</p>",
          "location":"querystring",
          "locationName":"eulaIds"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The token to request the next page of results. </p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "ListEulaAcceptancesResponse":{
      "type":"structure",
      "members":{
        "eulaAcceptances":{
          "shape":"EulaAcceptanceList",
          "documentation":"<p>A collection of EULA acceptances.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The token for the next set of results, or null if there are no more results.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "ListEulasRequest":{
      "type":"structure",
      "members":{
        "eulaIds":{
          "shape":"StringList",
          "documentation":"<p>The list of EULA IDs that should be returned</p>",
          "location":"querystring",
          "locationName":"eulaIds"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The token to request the next page of results. </p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListEulasResponse":{
      "type":"structure",
      "members":{
        "eulas":{
          "shape":"EulaList",
          "documentation":"<p>A collection of EULA resources.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The token for the next set of results, or null if there are no more results.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "ListLaunchProfileMembersRequest":{
      "type":"structure",
      "required":[
        "launchProfileId",
        "studioId"
      ],
      "members":{
        "launchProfileId":{
          "shape":"String",
          "documentation":"<p>The Launch Profile ID.</p>",
          "location":"uri",
          "locationName":"launchProfileId"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The max number of results to return in the response.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The token to request the next page of results. </p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "ListLaunchProfileMembersResponse":{
      "type":"structure",
      "members":{
        "members":{
          "shape":"LaunchProfileMembershipList",
          "documentation":"<p>A list of members.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The token for the next set of results, or null if there are no more results.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "ListLaunchProfilesRequest":{
      "type":"structure",
      "required":["studioId"],
      "members":{
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The max number of results to return in the response.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The token to request the next page of results. </p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "principalId":{
          "shape":"String",
          "documentation":"<p>The principal ID. This currently supports a Amazon Web Services SSO UserId. </p>",
          "location":"querystring",
          "locationName":"principalId"
        },
        "states":{
          "shape":"StringList",
          "documentation":"<p>Filter this request to launch profiles in any of the given states.</p>",
          "location":"querystring",
          "locationName":"states"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "ListLaunchProfilesResponse":{
      "type":"structure",
      "members":{
        "launchProfiles":{
          "shape":"LaunchProfileList",
          "documentation":"<p>A collection of launch profiles.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The token for the next set of results, or null if there are no more results.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "ListStreamingImagesRequest":{
      "type":"structure",
      "required":["studioId"],
      "members":{
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The token to request the next page of results. </p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "owner":{
          "shape":"String",
          "documentation":"<p>Filter this request to streaming images with the given owner</p>",
          "location":"querystring",
          "locationName":"owner"
        },
        "studioId":{
          "shape":"String",
          "documentation":"<p>The studio ID. </p>",
          "location":"uri",
          "locationName":"studioId"
        }
      }
    },
    "ListStreamingImagesResponse":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The token for the next set of results, or null if there are no more results.</p>"
        },
        "streamingImages":{
          "shape":"StreamingImageList",
          "documentation":"<p>A collection of streaming images.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "ListStreamingSessionsRequest":{
      "type":"structure",
      "required":["studioId"],
      "members":{
        "createdBy":{
          "shape":"String",
          "documentation":"<p>Filters the request to streaming sessions created by the given user.</p>",
          "location":"querystring",
          "locationName":"createdBy"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>The token to request the next page of results. </p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "ownedBy":{
[...]
