{
  "metadata" : {
    "apiVersion" : "2020-08-01",
    "endpointPrefix" : "nimble",
    "signingName" : "nimble",
    "serviceFullName" : "AmazonNimbleStudio",
    "serviceId" : "nimble",
    "protocol" : "rest-json",
    "jsonVersion" : "1.1",
    "uid" : "nimble-2020-08-01",
    "signatureVersion" : "v4"
  },
  "operations" : {
    "AcceptEulas" : {
      "name" : "AcceptEulas",
      "http" : {
        "method" : "POST",
        "requestUri" : "/2020-08-01/studios/{studioId}/eula-acceptances",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "AcceptEulasRequest"
      },
      "output" : {
        "shape" : "AcceptEulasResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Accept EULAs.</p>"
    },
    "CreateLaunchProfile" : {
      "name" : "CreateLaunchProfile",
      "http" : {
        "method" : "POST",
        "requestUri" : "/2020-08-01/studios/{studioId}/launch-profiles",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "CreateLaunchProfileRequest"
      },
      "output" : {
        "shape" : "CreateLaunchProfileResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Create a launch profile.</p>"
    },
    "CreateStreamingImage" : {
      "name" : "CreateStreamingImage",
      "http" : {
        "method" : "POST",
        "requestUri" : "/2020-08-01/studios/{studioId}/streaming-images",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "CreateStreamingImageRequest"
      },
      "output" : {
        "shape" : "CreateStreamingImageResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Creates a streaming image resource in a studio.</p>"
    },
    "CreateStreamingSession" : {
      "name" : "CreateStreamingSession",
      "http" : {
        "method" : "POST",
        "requestUri" : "/2020-08-01/studios/{studioId}/streaming-sessions",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "CreateStreamingSessionRequest"
      },
      "output" : {
        "shape" : "CreateStreamingSessionResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Creates a streaming session in a studio.</p> <p>After invoking this operation, you must poll GetStreamingSession until the streaming session is in state READY.</p>"
    },
    "CreateStreamingSessionStream" : {
      "name" : "CreateStreamingSessionStream",
      "http" : {
        "method" : "POST",
        "requestUri" : "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/streams",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "CreateStreamingSessionStreamRequest"
      },
      "output" : {
        "shape" : "CreateStreamingSessionStreamResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Creates a streaming session stream for a streaming session.</p> <p>After invoking this API, invoke GetStreamingSessionStream with the returned streamId to poll the resource until it is in state READY.</p>"
    },
    "CreateStudio" : {
      "name" : "CreateStudio",
      "http" : {
        "method" : "POST",
        "requestUri" : "/2020-08-01/studios",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "CreateStudioRequest"
      },
      "output" : {
        "shape" : "CreateStudioResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Create a new Studio.</p> <p>When creating a Studio, two IAM roles must be provided: the admin role and the user Role. These roles are assumed by your users when they log in to the Nimble Studio portal.</p> <p>The user role must have the AmazonNimbleStudio-StudioUser managed policy attached for the portal to function properly.</p> <p>The Admin Role must have the AmazonNimbleStudio-StudioAdmin managed policy attached for the portal to function properly.</p> <p>You may optionally specify a KMS key in the StudioEncryptionConfiguration.</p> <p>In Nimble Studio, resource names, descriptions, initialization scripts, and other data you provide are always encrypted at rest using an KMS key. By default, this key is owned by Amazon Web Services and managed on your behalf. You may provide your own KMS key when calling CreateStudio to encrypt this data using a key you own and manage.</p> <p>When providing an KMS key during studio creation, Nimble Studio creates KMS grants in your account to provide your studio user and admin roles access to these KMS keys.</p> <p>If you delete this grant, the studio will no longer be accessible to your portal users.</p> <p>If you delete the studio KMS key, your studio will no longer be accessible.</p>"
    },
    "CreateStudioComponent" : {
      "name" : "CreateStudioComponent",
      "http" : {
        "method" : "POST",
        "requestUri" : "/2020-08-01/studios/{studioId}/studio-components",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "CreateStudioComponentRequest"
      },
      "output" : {
        "shape" : "CreateStudioComponentResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Creates a studio component resource.</p>"
    },
    "DeleteLaunchProfile" : {
      "name" : "DeleteLaunchProfile",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "DeleteLaunchProfileRequest"
      },
      "output" : {
        "shape" : "DeleteLaunchProfileResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Permanently delete a launch profile.</p>"
    },
    "DeleteLaunchProfileMember" : {
      "name" : "DeleteLaunchProfileMember",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "DeleteLaunchProfileMemberRequest"
      },
      "output" : {
        "shape" : "DeleteLaunchProfileMemberResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Delete a user from launch profile membership.</p>"
    },
    "DeleteStreamingImage" : {
      "name" : "DeleteStreamingImage",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "DeleteStreamingImageRequest"
      },
      "output" : {
        "shape" : "DeleteStreamingImageResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Delete streaming image.</p>"
    },
    "DeleteStreamingSession" : {
      "name" : "DeleteStreamingSession",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "DeleteStreamingSessionRequest"
      },
      "output" : {
        "shape" : "DeleteStreamingSessionResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Deletes streaming session resource.</p> <p>After invoking this operation, use GetStreamingSession to poll the resource until it transitions to a DELETED state.</p> <p>A streaming session will count against your streaming session quota until it is marked DELETED.</p>"
    },
    "DeleteStudio" : {
      "name" : "DeleteStudio",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/2020-08-01/studios/{studioId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "DeleteStudioRequest"
      },
      "output" : {
        "shape" : "DeleteStudioResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Delete a studio resource.</p>"
    },
    "DeleteStudioComponent" : {
      "name" : "DeleteStudioComponent",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "DeleteStudioComponentRequest"
      },
      "output" : {
        "shape" : "DeleteStudioComponentResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Deletes a studio component resource.</p>"
    },
    "DeleteStudioMember" : {
      "name" : "DeleteStudioMember",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/2020-08-01/studios/{studioId}/membership/{principalId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "DeleteStudioMemberRequest"
      },
      "output" : {
        "shape" : "DeleteStudioMemberResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Delete a user from studio membership.</p>"
    },
    "GetEula" : {
      "name" : "GetEula",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/eulas/{eulaId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetEulaRequest"
      },
      "output" : {
        "shape" : "GetEulaResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Get Eula.</p>"
    },
    "GetLaunchProfile" : {
      "name" : "GetLaunchProfile",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetLaunchProfileRequest"
      },
      "output" : {
        "shape" : "GetLaunchProfileResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Get a launch profile.</p>"
    },
    "GetLaunchProfileDetails" : {
      "name" : "GetLaunchProfileDetails",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/details",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetLaunchProfileDetailsRequest"
      },
      "output" : {
        "shape" : "GetLaunchProfileDetailsResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Launch profile details include the launch profile resource and summary information of resources that are used by, or available to, the launch profile. This includes the name and description of all studio components used by the launch profiles, and the name and description of streaming images that can be used with this launch profile.</p>"
    },
    "GetLaunchProfileInitialization" : {
      "name" : "GetLaunchProfileInitialization",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/init",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetLaunchProfileInitializationRequest"
      },
      "output" : {
        "shape" : "GetLaunchProfileInitializationResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Get a launch profile initialization.</p>"
    },
    "GetLaunchProfileMember" : {
      "name" : "GetLaunchProfileMember",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetLaunchProfileMemberRequest"
      },
      "output" : {
        "shape" : "GetLaunchProfileMemberResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Get a user persona in launch profile membership.</p>"
    },
    "GetStreamingImage" : {
      "name" : "GetStreamingImage",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetStreamingImageRequest"
      },
      "output" : {
        "shape" : "GetStreamingImageResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Get streaming image.</p>"
    },
    "GetStreamingSession" : {
      "name" : "GetStreamingSession",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetStreamingSessionRequest"
      },
      "output" : {
        "shape" : "GetStreamingSessionResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Gets StreamingSession resource.</p> <p>Invoke this operation to poll for a streaming session state while creating or deleting a session.</p>"
    },
    "GetStreamingSessionStream" : {
      "name" : "GetStreamingSessionStream",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/streams/{streamId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetStreamingSessionStreamRequest"
      },
      "output" : {
        "shape" : "GetStreamingSessionStreamResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Gets a StreamingSessionStream for a streaming session.</p> <p>Invoke this operation to poll the resource after invoking CreateStreamingSessionStream.</p> <p>After the StreamingSessionStream changes to the state READY, the url property will contain a stream to be used with the DCV streaming client.</p>"
    },
    "GetStudio" : {
      "name" : "GetStudio",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/studios/{studioId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetStudioRequest"
      },
      "output" : {
        "shape" : "GetStudioResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Get a Studio resource.</p>"
    },
    "GetStudioComponent" : {
      "name" : "GetStudioComponent",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetStudioComponentRequest"
      },
      "output" : {
        "shape" : "GetStudioComponentResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Gets a studio component resource.</p>"
    },
    "GetStudioMember" : {
      "name" : "GetStudioMember",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/studios/{studioId}/membership/{principalId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "GetStudioMemberRequest"
      },
      "output" : {
        "shape" : "GetStudioMemberResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Get a user's membership in a studio.</p>"
    },
    "ListEulaAcceptances" : {
      "name" : "ListEulaAcceptances",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/studios/{studioId}/eula-acceptances",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "ListEulaAcceptancesRequest"
      },
      "output" : {
        "shape" : "ListEulaAcceptancesResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>List Eula Acceptances.</p>"
    },
    "ListEulas" : {
      "name" : "ListEulas",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/eulas",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "ListEulasRequest"
      },
      "output" : {
        "shape" : "ListEulasResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>List Eulas.</p>"
    },
    "ListLaunchProfileMembers" : {
      "name" : "ListLaunchProfileMembers",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "ListLaunchProfileMembersRequest"
      },
      "output" : {
        "shape" : "ListLaunchProfileMembersResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Get all users in a given launch profile membership.</p>"
    },
    "ListLaunchProfiles" : {
      "name" : "ListLaunchProfiles",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/studios/{studioId}/launch-profiles",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "ListLaunchProfilesRequest"
      },
      "output" : {
        "shape" : "ListLaunchProfilesResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>List all the launch profiles a studio.</p>"
    },
    "ListStreamingImages" : {
      "name" : "ListStreamingImages",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/studios/{studioId}/streaming-images",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "ListStreamingImagesRequest"
      },
      "output" : {
        "shape" : "ListStreamingImagesResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>List the streaming image resources available to this studio.</p> <p>This list will contain both images provided by Amazon Web Services, as well as streaming images that you have created in your studio.</p>"
    },
    "ListStreamingSessions" : {
      "name" : "ListStreamingSessions",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/studios/{studioId}/streaming-sessions",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "ListStreamingSessionsRequest"
      },
      "output" : {
        "shape" : "ListStreamingSessionsResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Lists the streaming image resources in a studio.</p>"
    },
    "ListStudioComponents" : {
      "name" : "ListStudioComponents",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/studios/{studioId}/studio-components",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "ListStudioComponentsRequest"
      },
      "output" : {
        "shape" : "ListStudioComponentsResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Lists the StudioComponents in a studio.</p>"
    },
    "ListStudioMembers" : {
      "name" : "ListStudioMembers",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/studios/{studioId}/membership",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "ListStudioMembersRequest"
      },
      "output" : {
        "shape" : "ListStudioMembersResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Get all users in a given studio membership.</p>"
    },
    "ListStudios" : {
      "name" : "ListStudios",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/studios",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "ListStudiosRequest"
      },
      "output" : {
        "shape" : "ListStudiosResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>List studios in your Amazon Web Services account in the requested Amazon Web Services Region.</p>"
    },
    "ListTagsForResource" : {
      "name" : "ListTagsForResource",
      "http" : {
        "method" : "GET",
        "requestUri" : "/2020-08-01/tags/{resourceArn}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "ListTagsForResourceRequest"
      },
      "output" : {
        "shape" : "ListTagsForResourceResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Gets the tags for a resource, given its Amazon Resource Names (ARN).</p> <p>This operation supports ARNs for all resource types in Nimble Studio that support tags, including studio, studio component, launch profile, streaming image, and streaming session. All resources that can be tagged will contain an ARN property, so you do not have to create this ARN yourself.</p>"
    },
    "PutLaunchProfileMembers" : {
      "name" : "PutLaunchProfileMembers",
      "http" : {
        "method" : "POST",
        "requestUri" : "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "PutLaunchProfileMembersRequest"
      },
      "output" : {
        "shape" : "PutLaunchProfileMembersResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Add/update users with given persona to launch profile membership.</p>"
    },
    "PutStudioMembers" : {
      "name" : "PutStudioMembers",
      "http" : {
        "method" : "POST",
        "requestUri" : "/2020-08-01/studios/{studioId}/membership",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "PutStudioMembersRequest"
      },
      "output" : {
        "shape" : "PutStudioMembersResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Add/update users with given persona to studio membership.</p>"
    },
    "StartStudioSSOConfigurationRepair" : {
      "name" : "StartStudioSSOConfigurationRepair",
      "http" : {
        "method" : "PUT",
        "requestUri" : "/2020-08-01/studios/{studioId}/sso-configuration",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "StartStudioSSOConfigurationRepairRequest"
      },
      "output" : {
        "shape" : "StartStudioSSOConfigurationRepairResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Repairs the SSO configuration for a given studio.</p> <p>If the studio has a valid Amazon Web Services SSO configuration currently associated with it, this operation will fail with a validation error.</p> <p>If the studio does not have a valid Amazon Web Services SSO configuration currently associated with it, then a new Amazon Web Services SSO application is created for the studio and the studio is changed to the READY state.</p> <p>After the Amazon Web Services SSO application is repaired, you must use the Amazon Nimble Studio console to add administrators and users to your studio.</p>"
    },
    "TagResource" : {
      "name" : "TagResource",
      "http" : {
        "method" : "POST",
        "requestUri" : "/2020-08-01/tags/{resourceArn}",
        "responseCode" : 204
      },
      "input" : {
        "shape" : "TagResourceRequest"
      },
      "output" : {
        "shape" : "TagResourceResponse",
        "documentation" : "<p>204 response</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Creates tags for a resource, given its ARN.</p>"
    },
    "UntagResource" : {
      "name" : "UntagResource",
      "http" : {
        "method" : "DELETE",
        "requestUri" : "/2020-08-01/tags/{resourceArn}",
        "responseCode" : 204
      },
      "input" : {
        "shape" : "UntagResourceRequest"
      },
      "output" : {
        "shape" : "UntagResourceResponse",
        "documentation" : "<p>204 response</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Deletes the tags for a resource.</p>"
    },
    "UpdateLaunchProfile" : {
      "name" : "UpdateLaunchProfile",
      "http" : {
        "method" : "PATCH",
        "requestUri" : "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "UpdateLaunchProfileRequest"
      },
      "output" : {
        "shape" : "UpdateLaunchProfileResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Update a launch profile.</p>"
    },
    "UpdateLaunchProfileMember" : {
      "name" : "UpdateLaunchProfileMember",
      "http" : {
        "method" : "PATCH",
        "requestUri" : "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "UpdateLaunchProfileMemberRequest"
      },
      "output" : {
        "shape" : "UpdateLaunchProfileMemberResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Update a user persona in launch profile membership.</p>"
    },
    "UpdateStreamingImage" : {
      "name" : "UpdateStreamingImage",
      "http" : {
        "method" : "PATCH",
        "requestUri" : "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "UpdateStreamingImageRequest"
      },
      "output" : {
        "shape" : "UpdateStreamingImageResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Update streaming image.</p>"
    },
    "UpdateStudio" : {
      "name" : "UpdateStudio",
      "http" : {
        "method" : "PATCH",
        "requestUri" : "/2020-08-01/studios/{studioId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "UpdateStudioRequest"
      },
      "output" : {
        "shape" : "UpdateStudioResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Update a Studio resource.</p> <p>Currently, this operation only supports updating the displayName of your studio.</p>"
    },
    "UpdateStudioComponent" : {
      "name" : "UpdateStudioComponent",
      "http" : {
        "method" : "PATCH",
        "requestUri" : "/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
        "responseCode" : 200
      },
      "input" : {
        "shape" : "UpdateStudioComponentRequest"
      },
      "output" : {
        "shape" : "UpdateStudioComponentResponse",
        "documentation" : "<p>Success</p>"
      },
      "errors" : [ {
        "shape" : "ValidationException",
        "documentation" : "<p>One of the parameters in the request is invalid.</p>"
      }, {
        "shape" : "InternalServerErrorException",
        "documentation" : "<p>A service fault has occurred. Please retry your request and contact Amazon Web Services Support if this error continues.</p>"
      }, {
        "shape" : "ServiceQuotaExceededException",
        "documentation" : "<p>This request would cause a service quota to be exceeded. Please use the Amazon Web Services Service Quotas console to request an increase.</p>"
      }, {
        "shape" : "AccessDeniedException",
        "documentation" : "<p>You do not have permission to perform this action.</p>"
      }, {
        "shape" : "ResourceNotFoundException",
        "documentation" : "<p>A requested resource was not found.</p>"
      }, {
        "shape" : "ThrottlingException",
        "documentation" : "<p>The request was denied due to request throttling. Please retry your request.</p>"
      }, {
        "shape" : "ConflictException",
        "documentation" : "<p>This request conflicts with another concurrent request. Please retry your request.</p>"
      } ],
      "documentation" : "<p>Updates a studio component resource.</p>"
    }
  },
  "shapes" : {
    "AcceptEulasInput" : {
      "type" : "structure",
      "members" : {
        "eulaIds" : {
          "shape" : "EulaIdList",
          "locationName" : "eulaIds",
          "documentation" : "<p>The EULA ID.</p>"
        }
      },
      "documentation" : ""
    },
    "AcceptEulasOutput" : {
      "type" : "structure",
      "members" : {
        "eulaAcceptances" : {
          "shape" : "EulaAcceptanceList",
          "locationName" : "eulaAcceptances",
          "documentation" : "<p>A collection of EULA acceptances.</p>"
        }
      },
      "documentation" : ""
    },
    "AcceptEulasRequest" : {
      "type" : "structure",
      "members" : {
        "clientToken" : {
          "shape" : "ClientToken",
          "location" : "header",
          "locationName" : "X-Amz-Client-Token",
          "documentation" : "<p>To make an idempotent API request using one of these actions, specify a client token in the request. You should not reuse the same client token for other API requests. If you retry a request that completed successfully using the same client token and the same parameters, the retry succeeds without performing any further actions. If you retry a successful request using the same client token, but one or more of the parameters are different, the retry fails with a ValidationException error.</p>",
          "idempotencyToken" : true
        },
        "eulaIds" : {
          "shape" : "EulaIdList",
          "locationName" : "eulaIds",
          "documentation" : "<p>The EULA ID.</p>"
        },
        "studioId" : {
          "shape" : "__string",
          "location" : "uri",
          "locationName" : "studioId",
          "documentation" : "<p>The studio ID.</p>"
        }
      },
      "documentation" : "<p>A collection of EULA acceptances.</p>",
      "required" : [ "studioId" ]
    },
    "AcceptEulasResponse" : {
      "type" : "structure",
      "members" : {
        "eulaAcceptances" : {
          "shape" : "EulaAcceptanceList",
          "locationName" : "eulaAcceptances",
          "documentation" : "<p>A collection of EULA acceptances.</p>"
        }
      }
    },
    "AccessDeniedException" : {
      "type" : "structure",
      "members" : {
        "code" : {
          "shape" : "__string",
          "locationName" : "code",
          "documentation" : "<p>A more specific error code.</p>"
        },
        "context" : {
          "shape" : "ExceptionContext",
          "locationName" : "context",
          "documentation" : "<p>The exception context.</p>"
        },
        "message" : {
          "shape" : "__string",
          "locationName" : "message",
          "documentation" : "<p>A human-readable description of the error.</p>"
        }
      },
      "documentation" : "",
      "exception" : true,
      "error" : {
        "httpStatusCode" : 403
      }
    },
    "ActiveDirectoryComputerAttribute" : {
      "type" : "structure",
      "members" : {
        "name" : {
          "shape" : "ActiveDirectoryComputerAttributeName",
          "locationName" : "name",
          "documentation" : "<p>The name for the LDAP attribute.</p>"
        },
        "value" : {
          "shape" : "ActiveDirectoryComputerAttributeValue",
          "locationName" : "value",
          "documentation" : "<p>The value for the LDAP attribute.</p>"
        }
      },
      "documentation" : "<p>An LDAP attribute of an Active Directory computer account, in the form of a name:value pair.</p>"
    },
    "ActiveDirectoryComputerAttributeList" : {
      "type" : "list",
      "documentation" : "<p>A collection of LDAP attributes to apply to Active Directory computer accounts that are created for streaming sessions.</p>",
      "max" : 50,
      "member" : {
        "shape" : "ActiveDirectoryComputerAttribute"
      }
    },
    "ActiveDirectoryComputerAttributeName" : {
      "type" : "string",
      "documentation" : "<p>The name for the LDAP attribute.</p>",
      "min" : 1,
      "max" : 40
    },
    "ActiveDirectoryComputerAttributeValue" : {
      "type" : "string",
      "documentation" : "<p>The value for the LDAP attribute.</p>",
      "min" : 1,
      "max" : 64
    },
    "ActiveDirectoryConfiguration" : {
      "type" : "structure",
      "members" : {
        "computerAttributes" : {
          "shape" : "ActiveDirectoryComputerAttributeList",
          "locationName" : "computerAttributes",
          "documentation" : "<p>A collection of custom attributes for an Active Directory computer.</p>"
        },
        "directoryId" : {
          "shape" : "DirectoryId",
          "locationName" : "directoryId",
          "documentation" : "<p>The directory ID of the Directory Service for Microsoft Active Directory to access using this studio component.</p>"
        },
        "organizationalUnitDistinguishedName" : {
          "shape" : "ActiveDirectoryOrganizationalUnitDistinguishedName",
          "locationName" : "organizationalUnitDistinguishedName",
          "documentation" : "<p>The distinguished name (DN) and organizational unit (OU) of an Active Directory computer.</p>"
        }
      },
      "documentation" : "<p>The configuration for a Microsoft Active Directory (Microsoft AD) studio resource.</p>"
    },
    "ActiveDirectoryDnsIpAddress" : {
      "type" : "string"
    },
    "ActiveDirectoryDnsIpAddressList" : {
      "type" : "list",
      "documentation" : "",
      "max" : 10,
      "member" : {
        "shape" : "ActiveDirectoryDnsIpAddress"
      }
    },
    "ActiveDirectoryOrganizationalUnitDistinguishedName" : {
      "type" : "string",
      "documentation" : "<p>The fully-qualified distinguished name of the organizational unit to place the computer account in.</p>",
      "min" : 1,
      "max" : 2000
    },
    "ComputeFarmConfiguration" : {
      "type" : "structure",
      "members" : {
        "activeDirectoryUser" : {
          "shape" : "__string",
          "locationName" : "activeDirectoryUser",
          "documentation" : "<p>The name of an Active Directory user that is used on ComputeFarm worker instances.</p>"
        },
        "endpoint" : {
          "shape" : "__string",
          "locationName" : "endpoint",
          "documentation" : "<p>The endpoint of the ComputeFarm that is accessed by the studio component resource.</p>"
        }
      },
      "documentation" : "<p>The configuration for a render farm that is associated with a studio resource.</p>"
    },
    "ConflictException" : {
      "type" : "structure",
      "members" : {
        "code" : {
          "shape" : "__string",
          "locationName" : "code",
          "documentation" : "<p>A more specific error code.</p>"
        },
        "context" : {
          "shape" : "ExceptionContext",
          "locationName" : "context",
          "documentation" : "<p>The exception context.</p>"
        },
        "message" : {
          "shape" : "__string",
          "locationName" : "message",
          "documentation" : "<p>A human-readable description of the error.</p>"
        }
      },
      "documentation" : "",
      "exception" : true,
      "error" : {
        "httpStatusCode" : 409
      }
    },
    "CreateLaunchProfileInput" : {
      "type" : "structure",
      "members" : {
        "description" : {
          "shape" : "LaunchProfileDescription",
          "locationName" : "description",
          "documentation" : "<p>The description.</p>"
        },
        "ec2SubnetIds" : {
          "shape" : "EC2SubnetIdList",
          "locationName" : "ec2SubnetIds",
          "documentation" : ""
        },
        "launchProfileProtocolVersions" : {
          "shape" : "LaunchProfileProtocolVersionList",
          "locationName" : "launchProfileProtocolVersions",
          "documentation" : "<p>The version number of the protocol that is used by the launch profile. The only valid version is \"2021-03-31\".</p>"
        },
        "name" : {
          "shape" : "LaunchProfileName",
          "locationName" : "name",
          "documentation" : "<p>The name for the launch profile.</p>"
        },
        "streamConfiguration" : {
          "shape" : "StreamConfigurationCreate",
          "locationName" : "streamConfiguration",
          "documentation" : "<p>A configuration for a streaming session.</p>"
        },
        "studioComponentIds" : {
          "shape" : "LaunchProfileStudioComponentIdList",
          "locationName" : "studioComponentIds",
          "documentation" : "<p>Unique identifiers for a collection of studio components that can be used with this launch profile.</p>"
        },
        "tags" : {
          "shape" : "Tags",
          "locationName" : "tags",
          "documentation" : "<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>"
        }
      },
      "documentation" : "",
      "required" : [ "ec2SubnetIds", "studioComponentIds", "launchProfileProtocolVersions", "name", "streamConfiguration" ]
    },
    "CreateLaunchProfileOutput" : {
      "type" : "structure",
      "members" : {
        "launchProfile" : {
          "shape" : "LaunchProfile",
          "locationName" : "launchProfile",
          "documentation" : "<p>The launch profile.</p>"
        }
      },
      "documentation" : ""
    },
    "CreateLaunchProfileRequest" : {
      "type" : "structure",
      "members" : {
        "clientToken" : {
          "shape" : "ClientToken",
          "location" : "header",
          "locationName" : "X-Amz-Client-Token",
          "documentation" : "<p>To make an idempotent API request using one of these actions, specify a client token in the request. You should not reuse the same client token for other API requests. If you retry a request that completed successfully using the same client token and the same parameters, the retry succeeds without performing any further actions. If you retry a successful request using the same client token, but one or more of the parameters are different, the retry fails with a ValidationException error.</p>",
          "idempotencyToken" : true
        },
        "description" : {
          "shape" : "LaunchProfileDescription",
          "locationName" : "description",
          "documentation" : "<p>The description.</p>"
        },
        "ec2SubnetIds" : {
          "shape" : "EC2SubnetIdList",
          "locationName" : "ec2SubnetIds",
          "documentation" : ""
        },
        "launchProfileProtocolVersions" : {
          "shape" : "LaunchProfileProtocolVersionList",
          "locationName" : "launchProfileProtocolVersions",
          "documentation" : "<p>The version number of the protocol that is used by the launch profile. The only valid version is \"2021-03-31\".</p>"
        },
        "name" : {
          "shape" : "LaunchProfileName",
          "locationName" : "name",
          "documentation" : "<p>The name for the launch profile.</p>"
        },
        "streamConfiguration" : {
          "shape" : "StreamConfigurationCreate",
          "locationName" : "streamConfiguration",
          "documentation" : "<p>A configuration for a streaming session.</p>"
        },
        "studioComponentIds" : {
          "shape" : "LaunchProfileStudioComponentIdList",
          "locationName" : "studioComponentIds",
          "documentation" : "<p>Unique identifiers for a collection of studio components that can be used with this launch profile.</p>"
        },
        "studioId" : {
          "shape" : "__string",
          "location" : "uri",
          "locationName" : "studioId",
          "documentation" : "<p>The studio ID.</p>"
        },
        "tags" : {
          "shape" : "Tags",
          "locationName" : "tags",
          "documentation" : "<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>"
        }
      },
      "documentation" : "<p>A collection of launch profiles.</p>",
      "required" : [ "ec2SubnetIds", "studioComponentIds", "studioId", "launchProfileProtocolVersions", "name", "streamConfiguration" ]
    },
    "CreateLaunchProfileResponse" : {
      "type" : "structure",
      "members" : {
        "launchProfile" : {
          "shape" : "LaunchProfile",
          "locationName" : "launchProfile",
          "documentation" : "<p>The launch profile.</p>"
        }
      }
    },
    "CreateStreamingImageInput" : {
      "type" : "structure",
      "members" : {
        "description" : {
          "shape" : "StreamingImageDescription",
          "locationName" : "description",
          "documentation" : "<p>A human-readable description of the streaming image.</p>"
        },
        "ec2ImageId" : {
          "shape" : "EC2ImageId",
          "locationName" : "ec2ImageId",
          "documentation" : "<p>The ID of an EC2 machine image with which to create this streaming image.</p>"
        },
        "name" : {
          "shape" : "StreamingImageName",
          "locationName" : "name",
          "documentation" : "<p>A friendly name for a streaming image resource.</p>"
        },
        "tags" : {
          "shape" : "Tags",
          "locationName" : "tags",
          "documentation" : "<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>"
        }
      },
      "documentation" : "",
      "required" : [ "name", "ec2ImageId" ]
    },
    "CreateStreamingImageOutput" : {
      "type" : "structure",
      "members" : {
        "streamingImage" : {
          "shape" : "StreamingImage",
          "locationName" : "streamingImage",
          "documentation" : ""
        }
      },
      "documentation" : ""
    },
    "CreateStreamingImageRequest" : {
      "type" : "structure",
      "members" : {
        "clientToken" : {
          "shape" : "ClientToken",
          "location" : "header",
          "locationName" : "X-Amz-Client-Token",
          "documentation" : "<p>To make an idempotent API request using one of these actions, specify a client token in the request. You should not reuse the same client token for other API requests. If you retry a request that completed successfully using the same client token and the same parameters, the retry succeeds without performing any further actions. If you retry a successful request using the same client token, but one or more of the parameters are different, the retry fails with a ValidationException error.</p>",
          "idempotencyToken" : true
        },
        "description" : {
          "shape" : "StreamingImageDescription",
          "locationName" : "description",
          "documentation" : "<p>A human-readable description of the streaming image.</p>"
        },
        "ec2ImageId" : {
          "shape" : "EC2ImageId",
          "locationName" : "ec2ImageId",
          "documentation" : "<p>The ID of an EC2 machine image with which to create this streaming image.</p>"
        },
        "name" : {
          "shape" : "StreamingImageName",
          "locationName" : "name",
          "documentation" : "<p>A friendly name for a streaming image resource.</p>"
        },
        "studioId" : {
          "shape" : "__string",
          "location" : "uri",
          "locationName" : "studioId",
          "documentation" : "<p>The studio ID.</p>"
        },
        "tags" : {
          "shape" : "Tags",
          "locationName" : "tags",
          "documentation" : "<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>"
        }
      },
      "documentation" : "<p>A collection of streaming images.</p>",
      "required" : [ "studioId", "name", "ec2ImageId" ]
    },
    "CreateStreamingImageResponse" : {
      "type" : "structure",
      "members" : {
        "streamingImage" : {
          "shape" : "StreamingImage",
          "locationName" : "streamingImage",
          "documentation" : ""
        }
      }
    },
    "CreateStreamingSessionInput" : {
      "type" : "structure",
      "members" : {
        "ec2InstanceType" : {
          "shape" : "StreamingInstanceType",
          "locationName" : "ec2InstanceType",
          "documentation" : "<p>The EC2 Instance type used for the streaming session.</p>"
        },
        "launchProfileId" : {
          "shape" : "__string",
          "locationName" : "launchProfileId",
          "documentation" : "<p>The launch profile ID.</p>"
        },
        "ownedBy" : {
          "shape" : "__string",
          "locationName" : "ownedBy",
          "documentation" : "<p>The user ID of the user that owns the streaming session.</p>"
        },
        "streamingImageId" : {
          "shape" : "StreamingImageId",
          "locationName" : "streamingImageId",
          "documentation" : "<p>The ID of the streaming image.</p>"
        },
        "tags" : {
          "shape" : "Tags",
          "locationName" : "tags",
          "documentation" : "<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>"
        }
      },
      "documentation" : ""
    },
    "CreateStreamingSessionOutput" : {
      "type" : "structure",
      "members" : {
        "session" : {
          "shape" : "StreamingSession",
          "locationName" : "session",
          "documentation" : "<p>The session.</p>"
        }
      },
      "documentation" : ""
    },
    "CreateStreamingSessionRequest" : {
      "type" : "structure",
      "members" : {
        "clientToken" : {
          "shape" : "ClientToken",
          "location" : "header",
          "locationName" : "X-Amz-Client-Token",
          "documentation" : "<p>To make an idempotent API request using one of these actions, specify a client token in the request. You should not reuse the same client token for other API requests. If you retry a request that completed successfully using the same client token and the same parameters, the retry succeeds without performing any further actions. If you retry a successful request using the same client token, but one or more of the parameters are different, the retry fails with a ValidationException error.</p>",
          "idempotencyToken" : true
        },
        "ec2InstanceType" : {
          "shape" : "StreamingInstanceType",
          "locationName" : "ec2InstanceType",
          "documentation" : "<p>The EC2 Instance type used for the streaming session.</p>"
        },
        "launchProfileId" : {
          "shape" : "__string",
          "locationName" : "launchProfileId",
          "documentation" : "<p>The launch profile ID.</p>"
        },
        "ownedBy" : {
          "shape" : "__string",
          "locationName" : "ownedBy",
          "documentation" : "<p>The user ID of the user that owns the streaming session.</p>"
        },
        "streamingImageId" : {
          "shape" : "StreamingImageId",
          "locationName" : "streamingImageId",
          "documentation" : "<p>The ID of the streaming image.</p>"
        },
        "studioId" : {
          "shape" : "__string",
          "location" : "uri",
          "locationName" : "studioId",
          "documentation" : "<p>The studio ID.</p>"
        },
        "tags" : {
          "shape" : "Tags",
[...]
