{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-11-27",
    "endpointPrefix":"comprehend",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceFullName":"Amazon Comprehend",
    "serviceId":"Comprehend",
    "signatureVersion":"v4",
    "signingName":"comprehend",
    "targetPrefix":"Comprehend_20171127",
    "uid":"comprehend-2017-11-27"
  },
  "operations":{
    "BatchDetectDominantLanguage":{
      "name":"BatchDetectDominantLanguage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDetectDominantLanguageRequest"},
      "output":{"shape":"BatchDetectDominantLanguageResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"BatchSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Determines the dominant language of the input text for a batch of documents. For a list of languages that Amazon Comprehend can detect, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>. </p>"
    },
    "BatchDetectEntities":{
      "name":"BatchDetectEntities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDetectEntitiesRequest"},
      "output":{"shape":"BatchDetectEntitiesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"BatchSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Inspects the text of a batch of documents for named entities and returns information about them. For more information about named entities, see <a>how-entities</a> </p>"
    },
    "BatchDetectKeyPhrases":{
      "name":"BatchDetectKeyPhrases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDetectKeyPhrasesRequest"},
      "output":{"shape":"BatchDetectKeyPhrasesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"BatchSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Detects the key noun phrases found in a batch of documents.</p>"
    },
    "BatchDetectSentiment":{
      "name":"BatchDetectSentiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDetectSentimentRequest"},
      "output":{"shape":"BatchDetectSentimentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"BatchSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Inspects a batch of documents and returns an inference of the prevailing sentiment, <code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>, in each one.</p>"
    },
    "BatchDetectSyntax":{
      "name":"BatchDetectSyntax",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDetectSyntaxRequest"},
      "output":{"shape":"BatchDetectSyntaxResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"BatchSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Inspects the text of a batch of documents for the syntax and part of speech of the words in the document and returns information about them. For more information, see <a>how-syntax</a>.</p>"
    },
    "ClassifyDocument":{
      "name":"ClassifyDocument",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ClassifyDocumentRequest"},
      "output":{"shape":"ClassifyDocumentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new document classification request to analyze a single document in real-time, using a previously created and trained custom model and an endpoint.</p>"
    },
    "ContainsPiiEntities":{
      "name":"ContainsPiiEntities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ContainsPiiEntitiesRequest"},
      "output":{"shape":"ContainsPiiEntitiesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Analyzes input text for the presence of personally identifiable information (PII) and returns the labels of identified PII entity types such as name, address, bank account number, or phone number.</p>"
    },
    "CreateDocumentClassifier":{
      "name":"CreateDocumentClassifier",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDocumentClassifierRequest"},
      "output":{"shape":"CreateDocumentClassifierResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceInUseException"},
        {"shape":"TooManyTagsException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new document classifier that you can use to categorize documents. To create a classifier, you provide a set of training documents that labeled with the categories that you want to use. After the classifier is trained you can use it to categorize a set of labeled documents into the categories. For more information, see <a>how-document-classification</a>.</p>"
    },
    "CreateEndpoint":{
      "name":"CreateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointRequest"},
      "output":{"shape":"CreateEndpointResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a model-specific endpoint for synchronous inference for a previously trained custom model </p>"
    },
    "CreateEntityRecognizer":{
      "name":"CreateEntityRecognizer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEntityRecognizerRequest"},
      "output":{"shape":"CreateEntityRecognizerResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceInUseException"},
        {"shape":"TooManyTagsException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates an entity recognizer using submitted files. After your <code>CreateEntityRecognizer</code> request is submitted, you can check job status using the API. </p>"
    },
    "DeleteDocumentClassifier":{
      "name":"DeleteDocumentClassifier",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDocumentClassifierRequest"},
      "output":{"shape":"DeleteDocumentClassifierResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a previously created document classifier</p> <p>Only those classifiers that are in terminated states (IN_ERROR, TRAINED) will be deleted. If an active inference job is using the model, a <code>ResourceInUseException</code> will be returned.</p> <p>This is an asynchronous action that puts the classifier into a DELETING state, and it is then removed by a background job. Once removed, the classifier disappears from your account and is no longer available for use. </p>"
    },
    "DeleteEndpoint":{
      "name":"DeleteEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointRequest"},
      "output":{"shape":"DeleteEndpointResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a model-specific endpoint for a previously-trained custom model. All endpoints must be deleted in order for the model to be deleted.</p>"
    },
    "DeleteEntityRecognizer":{
      "name":"DeleteEntityRecognizer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEntityRecognizerRequest"},
      "output":{"shape":"DeleteEntityRecognizerResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an entity recognizer.</p> <p>Only those recognizers that are in terminated states (IN_ERROR, TRAINED) will be deleted. If an active inference job is using the model, a <code>ResourceInUseException</code> will be returned.</p> <p>This is an asynchronous action that puts the recognizer into a DELETING state, and it is then removed by a background job. Once removed, the recognizer disappears from your account and is no longer available for use. </p>"
    },
    "DeleteResourcePolicy":{
      "name":"DeleteResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteResourcePolicyRequest"},
      "output":{"shape":"DeleteResourcePolicyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a resource-based policy that is attached to a custom model.</p>"
    },
    "DescribeDocumentClassificationJob":{
      "name":"DescribeDocumentClassificationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDocumentClassificationJobRequest"},
      "output":{"shape":"DescribeDocumentClassificationJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the properties associated with a document classification job. Use this operation to get the status of a classification job.</p>"
    },
    "DescribeDocumentClassifier":{
      "name":"DescribeDocumentClassifier",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDocumentClassifierRequest"},
      "output":{"shape":"DescribeDocumentClassifierResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the properties associated with a document classifier.</p>"
    },
    "DescribeDominantLanguageDetectionJob":{
      "name":"DescribeDominantLanguageDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDominantLanguageDetectionJobRequest"},
      "output":{"shape":"DescribeDominantLanguageDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the properties associated with a dominant language detection job. Use this operation to get the status of a detection job.</p>"
    },
    "DescribeEndpoint":{
      "name":"DescribeEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointRequest"},
      "output":{"shape":"DescribeEndpointResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the properties associated with a specific endpoint. Use this operation to get the status of an endpoint.</p>"
    },
    "DescribeEntitiesDetectionJob":{
      "name":"DescribeEntitiesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEntitiesDetectionJobRequest"},
      "output":{"shape":"DescribeEntitiesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the properties associated with an entities detection job. Use this operation to get the status of a detection job.</p>"
    },
    "DescribeEntityRecognizer":{
      "name":"DescribeEntityRecognizer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEntityRecognizerRequest"},
      "output":{"shape":"DescribeEntityRecognizerResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Provides details about an entity recognizer including status, S3 buckets containing training data, recognizer metadata, metrics, and so on.</p>"
    },
    "DescribeEventsDetectionJob":{
      "name":"DescribeEventsDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventsDetectionJobRequest"},
      "output":{"shape":"DescribeEventsDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the status and details of an events detection job.</p>"
    },
    "DescribeKeyPhrasesDetectionJob":{
      "name":"DescribeKeyPhrasesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeKeyPhrasesDetectionJobRequest"},
      "output":{"shape":"DescribeKeyPhrasesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the properties associated with a key phrases detection job. Use this operation to get the status of a detection job.</p>"
    },
    "DescribePiiEntitiesDetectionJob":{
      "name":"DescribePiiEntitiesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePiiEntitiesDetectionJobRequest"},
      "output":{"shape":"DescribePiiEntitiesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the properties associated with a PII entities detection job. For example, you can use this operation to get the job status.</p>"
    },
    "DescribeResourcePolicy":{
      "name":"DescribeResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeResourcePolicyRequest"},
      "output":{"shape":"DescribeResourcePolicyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the details of a resource-based policy that is attached to a custom model, including the JSON body of the policy.</p>"
    },
    "DescribeSentimentDetectionJob":{
      "name":"DescribeSentimentDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSentimentDetectionJobRequest"},
      "output":{"shape":"DescribeSentimentDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the properties associated with a sentiment detection job. Use this operation to get the status of a detection job.</p>"
    },
    "DescribeTopicsDetectionJob":{
      "name":"DescribeTopicsDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTopicsDetectionJobRequest"},
      "output":{"shape":"DescribeTopicsDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the properties associated with a topic detection job. Use this operation to get the status of a detection job.</p>"
    },
    "DetectDominantLanguage":{
      "name":"DetectDominantLanguage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectDominantLanguageRequest"},
      "output":{"shape":"DetectDominantLanguageResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Determines the dominant language of the input text. For a list of languages that Amazon Comprehend can detect, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>. </p>"
    },
    "DetectEntities":{
      "name":"DetectEntities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectEntitiesRequest"},
      "output":{"shape":"DetectEntitiesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Inspects text for named entities, and returns information about them. For more information, about named entities, see <a>how-entities</a>. </p>"
    },
    "DetectKeyPhrases":{
      "name":"DetectKeyPhrases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectKeyPhrasesRequest"},
      "output":{"shape":"DetectKeyPhrasesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Detects the key noun phrases found in the text. </p>"
    },
    "DetectPiiEntities":{
      "name":"DetectPiiEntities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectPiiEntitiesRequest"},
      "output":{"shape":"DetectPiiEntitiesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Inspects the input text for entities that contain personally identifiable information (PII) and returns information about them.</p>"
    },
    "DetectSentiment":{
      "name":"DetectSentiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectSentimentRequest"},
      "output":{"shape":"DetectSentimentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Inspects text and returns an inference of the prevailing sentiment (<code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>). </p>"
    },
    "DetectSyntax":{
      "name":"DetectSyntax",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectSyntaxRequest"},
      "output":{"shape":"DetectSyntaxResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TextSizeLimitExceededException"},
        {"shape":"UnsupportedLanguageException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Inspects text for syntax and the part of speech of words in the document. For more information, <a>how-syntax</a>.</p>"
    },
    "ImportModel":{
      "name":"ImportModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportModelRequest"},
      "output":{"shape":"ImportModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"TooManyTagsException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new custom model that replicates a source custom model that you import. The source model can be in your AWS account or another one.</p> <p>If the source model is in another AWS account, then it must have a resource-based policy that authorizes you to import it.</p> <p>The source model must be in the same AWS region that you're using when you import. You can't import a model that's in a different region.</p>"
    },
    "ListDocumentClassificationJobs":{
      "name":"ListDocumentClassificationJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDocumentClassificationJobsRequest"},
      "output":{"shape":"ListDocumentClassificationJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of the documentation classification jobs that you have submitted.</p>"
    },
    "ListDocumentClassifierSummaries":{
      "name":"ListDocumentClassifierSummaries",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDocumentClassifierSummariesRequest"},
      "output":{"shape":"ListDocumentClassifierSummariesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of summaries of the document classifiers that you have created</p>"
    },
    "ListDocumentClassifiers":{
      "name":"ListDocumentClassifiers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDocumentClassifiersRequest"},
      "output":{"shape":"ListDocumentClassifiersResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of the document classifiers that you have created.</p>"
    },
    "ListDominantLanguageDetectionJobs":{
      "name":"ListDominantLanguageDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDominantLanguageDetectionJobsRequest"},
      "output":{"shape":"ListDominantLanguageDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of the dominant language detection jobs that you have submitted.</p>"
    },
    "ListEndpoints":{
      "name":"ListEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEndpointsRequest"},
      "output":{"shape":"ListEndpointsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of all existing endpoints that you've created.</p>"
    },
    "ListEntitiesDetectionJobs":{
      "name":"ListEntitiesDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEntitiesDetectionJobsRequest"},
      "output":{"shape":"ListEntitiesDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of the entity detection jobs that you have submitted.</p>"
    },
    "ListEntityRecognizerSummaries":{
      "name":"ListEntityRecognizerSummaries",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEntityRecognizerSummariesRequest"},
      "output":{"shape":"ListEntityRecognizerSummariesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of summaries for the entity recognizers that you have created.</p>"
    },
    "ListEntityRecognizers":{
      "name":"ListEntityRecognizers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEntityRecognizersRequest"},
      "output":{"shape":"ListEntityRecognizersResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of the properties of all entity recognizers that you created, including recognizers currently in training. Allows you to filter the list of recognizers based on criteria such as status and submission time. This call returns up to 500 entity recognizers in the list, with a default number of 100 recognizers in the list.</p> <p>The results of this list are not in any particular order. Please get the list and sort locally if needed.</p>"
    },
    "ListEventsDetectionJobs":{
      "name":"ListEventsDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEventsDetectionJobsRequest"},
      "output":{"shape":"ListEventsDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of the events detection jobs that you have submitted.</p>"
    },
    "ListKeyPhrasesDetectionJobs":{
      "name":"ListKeyPhrasesDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListKeyPhrasesDetectionJobsRequest"},
      "output":{"shape":"ListKeyPhrasesDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Get a list of key phrase detection jobs that you have submitted.</p>"
    },
    "ListPiiEntitiesDetectionJobs":{
      "name":"ListPiiEntitiesDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPiiEntitiesDetectionJobsRequest"},
      "output":{"shape":"ListPiiEntitiesDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of the PII entity detection jobs that you have submitted.</p>"
    },
    "ListSentimentDetectionJobs":{
      "name":"ListSentimentDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSentimentDetectionJobsRequest"},
      "output":{"shape":"ListSentimentDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of sentiment detection jobs that you have submitted.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all tags associated with a given Amazon Comprehend resource. </p>"
    },
    "ListTopicsDetectionJobs":{
      "name":"ListTopicsDetectionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTopicsDetectionJobsRequest"},
      "output":{"shape":"ListTopicsDetectionJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidFilterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of the topic detection jobs that you have submitted.</p>"
    },
    "PutResourcePolicy":{
      "name":"PutResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutResourcePolicyRequest"},
      "output":{"shape":"PutResourcePolicyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Attaches a resource-based policy to a custom model. You can use this policy to authorize an entity in another AWS account to import the custom model, which replicates it in Amazon Comprehend in their account.</p>"
    },
    "StartDocumentClassificationJob":{
      "name":"StartDocumentClassificationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartDocumentClassificationJobRequest"},
      "output":{"shape":"StartDocumentClassificationJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts an asynchronous document classification job. Use the operation to track the progress of the job.</p>"
    },
    "StartDominantLanguageDetectionJob":{
      "name":"StartDominantLanguageDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartDominantLanguageDetectionJobRequest"},
      "output":{"shape":"StartDominantLanguageDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts an asynchronous dominant language detection job for a collection of documents. Use the operation to track the status of a job.</p>"
    },
    "StartEntitiesDetectionJob":{
      "name":"StartEntitiesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartEntitiesDetectionJobRequest"},
      "output":{"shape":"StartEntitiesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts an asynchronous entity detection job for a collection of documents. Use the operation to track the status of a job.</p> <p>This API can be used for either standard entity detection or custom entity recognition. In order to be used for custom entity recognition, the optional <code>EntityRecognizerArn</code> must be used in order to provide access to the recognizer being used to detect the custom entity.</p>"
    },
    "StartEventsDetectionJob":{
      "name":"StartEventsDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartEventsDetectionJobRequest"},
      "output":{"shape":"StartEventsDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts an asynchronous event detection job for a collection of documents.</p>"
    },
    "StartKeyPhrasesDetectionJob":{
      "name":"StartKeyPhrasesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartKeyPhrasesDetectionJobRequest"},
      "output":{"shape":"StartKeyPhrasesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts an asynchronous key phrase detection job for a collection of documents. Use the operation to track the status of a job.</p>"
    },
    "StartPiiEntitiesDetectionJob":{
      "name":"StartPiiEntitiesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartPiiEntitiesDetectionJobRequest"},
      "output":{"shape":"StartPiiEntitiesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts an asynchronous PII entity detection job for a collection of documents.</p>"
    },
    "StartSentimentDetectionJob":{
      "name":"StartSentimentDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartSentimentDetectionJobRequest"},
      "output":{"shape":"StartSentimentDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts an asynchronous sentiment detection job for a collection of documents. use the operation to track the status of a job.</p>"
    },
    "StartTopicsDetectionJob":{
      "name":"StartTopicsDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartTopicsDetectionJobRequest"},
      "output":{"shape":"StartTopicsDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"KmsKeyValidationException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts an asynchronous topic detection job. Use the <code>DescribeTopicDetectionJob</code> operation to track the status of a job.</p>"
    },
    "StopDominantLanguageDetectionJob":{
      "name":"StopDominantLanguageDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopDominantLanguageDetectionJobRequest"},
      "output":{"shape":"StopDominantLanguageDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops a dominant language detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>"
    },
    "StopEntitiesDetectionJob":{
      "name":"StopEntitiesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopEntitiesDetectionJobRequest"},
      "output":{"shape":"StopEntitiesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops an entities detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>"
    },
    "StopEventsDetectionJob":{
      "name":"StopEventsDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopEventsDetectionJobRequest"},
      "output":{"shape":"StopEventsDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops an events detection job in progress.</p>"
    },
    "StopKeyPhrasesDetectionJob":{
      "name":"StopKeyPhrasesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopKeyPhrasesDetectionJobRequest"},
      "output":{"shape":"StopKeyPhrasesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops a key phrases detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>"
    },
    "StopPiiEntitiesDetectionJob":{
      "name":"StopPiiEntitiesDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopPiiEntitiesDetectionJobRequest"},
      "output":{"shape":"StopPiiEntitiesDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops a PII entities detection job in progress.</p>"
    },
    "StopSentimentDetectionJob":{
      "name":"StopSentimentDetectionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopSentimentDetectionJobRequest"},
      "output":{"shape":"StopSentimentDetectionJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"JobNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops a sentiment detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is be stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>"
    },
    "StopTrainingDocumentClassifier":{
      "name":"StopTrainingDocumentClassifier",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTrainingDocumentClassifierRequest"},
      "output":{"shape":"StopTrainingDocumentClassifierResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops a document classifier training job while in progress.</p> <p>If the training job state is <code>TRAINING</code>, the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the training job completes before it can be stopped, it is put into the <code>TRAINED</code>; otherwise the training job is stopped and put into the <code>STOPPED</code> state and the service sends back an HTTP 200 response with an empty HTTP body. </p>"
    },
    "StopTrainingEntityRecognizer":{
      "name":"StopTrainingEntityRecognizer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTrainingEntityRecognizerRequest"},
      "output":{"shape":"StopTrainingEntityRecognizerResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops an entity recognizer training job while in progress.</p> <p>If the training job state is <code>TRAINING</code>, the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the training job completes before it can be stopped, it is put into the <code>TRAINED</code>; otherwise the training job is stopped and putted into the <code>STOPPED</code> state and the service sends back an HTTP 200 response with an empty HTTP body.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Associates a specific tag with an Amazon Comprehend resource. A tag is a key-value pair that adds as a metadata to a resource used by Amazon Comprehend. For example, a tag with \"Sales\" as the key might be added to a resource to indicate its use by the sales department. </p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"TooManyTagKeysException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes a specific tag associated with an Amazon Comprehend resource. </p>"
    },
    "UpdateEndpoint":{
      "name":"UpdateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEndpointRequest"},
      "output":{"shape":"UpdateEndpointResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates information about the specified endpoint.</p>"
    }
  },
  "shapes":{
    "AnyLengthString":{"type":"string"},
    "AttributeNamesList":{
      "type":"list",
      "member":{"shape":"AttributeNamesListItem"}
    },
    "AttributeNamesListItem":{
      "type":"string",
      "max":63,
      "min":1,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "AugmentedManifestsDocumentTypeFormat":{
      "type":"string",
      "enum":[
        "PLAIN_TEXT_DOCUMENT",
        "SEMI_STRUCTURED_DOCUMENT"
      ]
    },
    "AugmentedManifestsListItem":{
      "type":"structure",
      "required":[
        "S3Uri",
        "AttributeNames"
      ],
      "members":{
        "S3Uri":{
          "shape":"S3Uri",
          "documentation":"<p>The Amazon S3 location of the augmented manifest file.</p>"
        },
        "Split":{
          "shape":"Split",
          "documentation":"<p>The purpose of the data you've provided in the augmented manifest. You can either train or test this data. If you don't specify, the default is train.</p> <p>TRAIN - all of the documents in the manifest will be used for training. If no test documents are provided, Amazon Comprehend will automatically reserve a portion of the training documents for testing.</p> <p> TEST - all of the documents in the manifest will be used for testing.</p>"
        },
        "AttributeNames":{
          "shape":"AttributeNamesList",
          "documentation":"<p>The JSON attribute that contains the annotations for your training documents. The number of attribute names that you specify depends on whether your augmented manifest file is the output of a single labeling job or a chained labeling job.</p> <p>If your file is the output of a single labeling job, specify the LabelAttributeName key that was used when the job was created in Ground Truth.</p> <p>If your file is the output of a chained labeling job, specify the LabelAttributeName key for one or more jobs in the chain. Each LabelAttributeName key provides the annotations from an individual job.</p>"
        },
        "AnnotationDataS3Uri":{
          "shape":"S3Uri",
          "documentation":"<p>The S3 prefix to the annotation files that are referred in the augmented manifest file.</p>"
        },
        "SourceDocumentsS3Uri":{
          "shape":"S3Uri",
          "documentation":"<p>The S3 prefix to the source files (PDFs) that are referred to in the augmented manifest file.</p>"
        },
        "DocumentType":{
          "shape":"AugmentedManifestsDocumentTypeFormat",
          "documentation":"<p>The type of augmented manifest. PlainTextDocument or SemiStructuredDocument. If you don't specify, the default is PlainTextDocument. </p> <ul> <li> <p> <code>PLAIN_TEXT_DOCUMENT</code> A document type that represents any unicode text that is encoded in UTF-8.</p> </li> <li> <p> <code>SEMI_STRUCTURED_DOCUMENT</code> A document type with positional and structural context, like a PDF. For training with Amazon Comprehend, only PDFs are supported. For inference, Amazon Comprehend support PDFs, DOCX and TXT.</p> </li> </ul>"
        }
      },
      "documentation":"<p>An augmented manifest file that provides training data for your custom model. An augmented manifest file is a labeled dataset that is produced by Amazon SageMaker Ground Truth.</p>"
    },
    "BatchDetectDominantLanguageItemResult":{
      "type":"structure",
      "members":{
        "Index":{
          "shape":"Integer",
          "documentation":"<p>The zero-based index of the document in the input list.</p>"
        },
        "Languages":{
          "shape":"ListOfDominantLanguages",
          "documentation":"<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>"
        }
      },
      "documentation":"<p>The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.</p>"
    },
    "BatchDetectDominantLanguageRequest":{
      "type":"structure",
      "required":["TextList"],
      "members":{
        "TextList":{
          "shape":"CustomerInputStringList",
          "documentation":"<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>"
        }
      }
    },
    "BatchDetectDominantLanguageResponse":{
      "type":"structure",
      "required":[
        "ResultList",
        "ErrorList"
      ],
      "members":{
        "ResultList":{
          "shape":"ListOfDetectDominantLanguageResult",
          "documentation":"<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>"
        },
        "ErrorList":{
          "shape":"BatchItemErrorList",
          "documentation":"<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>"
        }
      },
      "sensitive":true
    },
    "BatchDetectEntitiesItemResult":{
      "type":"structure",
      "members":{
        "Index":{
          "shape":"Integer",
          "documentation":"<p>The zero-based index of the document in the input list.</p>"
        },
        "Entities":{
          "shape":"ListOfEntities",
          "documentation":"<p>One or more <a>Entity</a> objects, one for each entity detected in the document.</p>"
        }
      },
      "documentation":"<p>The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.</p>"
    },
    "BatchDetectEntitiesRequest":{
      "type":"structure",
      "required":[
        "TextList",
        "LanguageCode"
      ],
      "members":{
        "TextList":{
          "shape":"CustomerInputStringList",
          "documentation":"<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend. All documents must be in the same language.</p>"
        }
      }
    },
    "BatchDetectEntitiesResponse":{
      "type":"structure",
      "required":[
        "ResultList",
        "ErrorList"
      ],
      "members":{
        "ResultList":{
          "shape":"ListOfDetectEntitiesResult",
          "documentation":"<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>"
        },
        "ErrorList":{
          "shape":"BatchItemErrorList",
          "documentation":"<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>"
        }
      },
      "sensitive":true
    },
    "BatchDetectKeyPhrasesItemResult":{
      "type":"structure",
      "members":{
        "Index":{
          "shape":"Integer",
          "documentation":"<p>The zero-based index of the document in the input list.</p>"
        },
        "KeyPhrases":{
          "shape":"ListOfKeyPhrases",
          "documentation":"<p>One or more <a>KeyPhrase</a> objects, one for each key phrase detected in the document.</p>"
        }
      },
      "documentation":"<p>The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.</p>"
    },
    "BatchDetectKeyPhrasesRequest":{
      "type":"structure",
      "required":[
        "TextList",
        "LanguageCode"
      ],
      "members":{
        "TextList":{
          "shape":"CustomerInputStringList",
          "documentation":"<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend. All documents must be in the same language.</p>"
        }
      }
    },
    "BatchDetectKeyPhrasesResponse":{
      "type":"structure",
      "required":[
        "ResultList",
        "ErrorList"
      ],
      "members":{
        "ResultList":{
          "shape":"ListOfDetectKeyPhrasesResult",
          "documentation":"<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>"
        },
        "ErrorList":{
          "shape":"BatchItemErrorList",
          "documentation":"<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>"
        }
      },
      "sensitive":true
    },
    "BatchDetectSentimentItemResult":{
      "type":"structure",
      "members":{
        "Index":{
          "shape":"Integer",
          "documentation":"<p>The zero-based index of the document in the input list.</p>"
        },
        "Sentiment":{
          "shape":"SentimentType",
          "documentation":"<p>The sentiment detected in the document.</p>"
        },
        "SentimentScore":{
          "shape":"SentimentScore",
          "documentation":"<p>The level of confidence that Amazon Comprehend has in the accuracy of its sentiment detection.</p>"
        }
      },
      "documentation":"<p>The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.</p>"
    },
    "BatchDetectSentimentRequest":{
      "type":"structure",
      "required":[
        "TextList",
        "LanguageCode"
      ],
      "members":{
        "TextList":{
          "shape":"CustomerInputStringList",
          "documentation":"<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend. All documents must be in the same language.</p>"
        }
      }
    },
    "BatchDetectSentimentResponse":{
      "type":"structure",
      "required":[
        "ResultList",
        "ErrorList"
      ],
      "members":{
        "ResultList":{
          "shape":"ListOfDetectSentimentResult",
          "documentation":"<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>"
        },
        "ErrorList":{
          "shape":"BatchItemErrorList",
          "documentation":"<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>"
        }
      },
      "sensitive":true
    },
    "BatchDetectSyntaxItemResult":{
      "type":"structure",
      "members":{
        "Index":{
          "shape":"Integer",
          "documentation":"<p>The zero-based index of the document in the input list.</p>"
        },
        "SyntaxTokens":{
          "shape":"ListOfSyntaxTokens",
          "documentation":"<p>The syntax tokens for the words in the document, one token for each word.</p>"
        }
      },
      "documentation":"<p>The result of calling the operation. The operation returns one object that is successfully processed by the operation.</p>"
    },
    "BatchDetectSyntaxRequest":{
      "type":"structure",
      "required":[
        "TextList",
        "LanguageCode"
      ],
      "members":{
        "TextList":{
          "shape":"CustomerInputStringList",
          "documentation":"<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters.</p>"
        },
        "LanguageCode":{
          "shape":"SyntaxLanguageCode",
          "documentation":"<p>The language of the input documents. You can specify any of the following languages supported by Amazon Comprehend: German (\"de\"), English (\"en\"), Spanish (\"es\"), French (\"fr\"), Italian (\"it\"), or Portuguese (\"pt\"). All documents must be in the same language.</p>"
        }
      }
    },
    "BatchDetectSyntaxResponse":{
      "type":"structure",
      "required":[
        "ResultList",
        "ErrorList"
      ],
      "members":{
        "ResultList":{
          "shape":"ListOfDetectSyntaxResult",
          "documentation":"<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>"
        },
        "ErrorList":{
          "shape":"BatchItemErrorList",
          "documentation":"<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>"
        }
      },
      "sensitive":true
    },
    "BatchItemError":{
      "type":"structure",
      "members":{
        "Index":{
          "shape":"Integer",
          "documentation":"<p>The zero-based index of the document in the input list.</p>"
        },
        "ErrorCode":{
          "shape":"String",
          "documentation":"<p>The numeric error code of the error.</p>"
        },
        "ErrorMessage":{
          "shape":"String",
          "documentation":"<p>A text description of the error.</p>"
        }
      },
      "documentation":"<p>Describes an error that occurred while processing a document in a batch. The operation returns on <code>BatchItemError</code> object for each document that contained an error.</p>"
    },
    "BatchItemErrorList":{
      "type":"list",
      "member":{"shape":"BatchItemError"}
    },
    "BatchSizeLimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.</p>",
      "exception":true
    },
    "ClassifierEvaluationMetrics":{
      "type":"structure",
      "members":{
        "Accuracy":{
          "shape":"Double",
          "documentation":"<p>The fraction of the labels that were correct recognized. It is computed by dividing the number of labels in the test documents that were correctly recognized by the total number of labels in the test documents.</p>"
        },
        "Precision":{
          "shape":"Double",
          "documentation":"<p>A measure of the usefulness of the classifier results in the test data. High precision means that the classifier returned substantially more relevant results than irrelevant ones.</p>"
        },
        "Recall":{
          "shape":"Double",
          "documentation":"<p>A measure of how complete the classifier results are for the test data. High recall means that the classifier returned most of the relevant results. </p>"
        },
        "F1Score":{
          "shape":"Double",
          "documentation":"<p>A measure of how accurate the classifier results are for the test data. It is derived from the <code>Precision</code> and <code>Recall</code> values. The <code>F1Score</code> is the harmonic average of the two scores. The highest score is 1, and the worst score is 0. </p>"
        },
        "MicroPrecision":{
          "shape":"Double",
          "documentation":"<p>A measure of the usefulness of the recognizer results in the test data. High precision means that the recognizer returned substantially more relevant results than irrelevant ones. Unlike the Precision metric which comes from averaging the precision of all available labels, this is based on the overall score of all precision scores added together.</p>"
        },
        "MicroRecall":{
          "shape":"Double",
          "documentation":"<p>A measure of how complete the classifier results are for the test data. High recall means that the classifier returned most of the relevant results. Specifically, this indicates how many of the correct categories in the text that the model can predict. It is a percentage of correct categories in the text that can found. Instead of averaging the recall scores of all labels (as with Recall), micro Recall is based on the overall score of all recall scores added together.</p>"
        },
        "MicroF1Score":{
          "shape":"Double",
          "documentation":"<p>A measure of how accurate the classifier results are for the test data. It is a combination of the <code>Micro Precision</code> and <code>Micro Recall</code> values. The <code>Micro F1Score</code> is the harmonic mean of the two scores. The highest score is 1, and the worst score is 0.</p>"
        },
        "HammingLoss":{
          "shape":"Double",
          "documentation":"<p>Indicates the fraction of labels that are incorrectly predicted. Also seen as the fraction of wrong labels compared to the total number of labels. Scores closer to zero are better.</p>"
        }
      },
      "documentation":"<p>Describes the result metrics for the test data associated with an documentation classifier.</p>"
    },
    "ClassifierMetadata":{
      "type":"structure",
      "members":{
        "NumberOfLabels":{
          "shape":"Integer",
          "documentation":"<p>The number of labels in the input data. </p>"
        },
        "NumberOfTrainedDocuments":{
          "shape":"Integer",
          "documentation":"<p>The number of documents in the input data that were used to train the classifier. Typically this is 80 to 90 percent of the input documents.</p>"
        },
        "NumberOfTestDocuments":{
          "shape":"Integer",
          "documentation":"<p>The number of documents in the input data that were used to test the classifier. Typically this is 10 to 20 percent of the input documents, up to 10,000 documents.</p>"
        },
        "EvaluationMetrics":{
          "shape":"ClassifierEvaluationMetrics",
          "documentation":"<p> Describes the result metrics for the test data associated with an documentation classifier.</p>"
        }
      },
      "documentation":"<p>Provides information about a document classifier.</p>",
      "sensitive":true
    },
    "ClassifyDocumentRequest":{
      "type":"structure",
      "required":[
        "Text",
        "EndpointArn"
      ],
      "members":{
        "Text":{
          "shape":"CustomerInputString",
          "documentation":"<p>The document text to be analyzed.</p>"
        },
        "EndpointArn":{
          "shape":"DocumentClassifierEndpointArn",
          "documentation":"<p>The Amazon Resource Number (ARN) of the endpoint.</p>"
        }
      }
    },
    "ClassifyDocumentResponse":{
      "type":"structure",
      "members":{
        "Classes":{
          "shape":"ListOfClasses",
          "documentation":"<p>The classes used by the document being analyzed. These are used for multi-class trained models. Individual classes are mutually exclusive and each document is expected to have only a single class assigned to it. For example, an animal can be a dog or a cat, but not both at the same time. </p>"
        },
        "Labels":{
          "shape":"ListOfLabels",
          "documentation":"<p>The labels used the document being analyzed. These are used for multi-label trained models. Individual labels represent different categories that are related in some manner and are not mutually exclusive. For example, a movie can be just an action movie, or it can be an action movie, a science fiction movie, and a comedy, all at the same time. </p>"
        }
      },
      "sensitive":true
    },
    "ClientRequestTokenString":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"^[a-zA-Z0-9-]+$"
    },
    "ComprehendArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:[a-zA-Z0-9-]{1,64}/[a-zA-Z0-9](-*[a-zA-Z0-9])*(/version/[a-zA-Z0-9](-*[a-zA-Z0-9])*)?"
    },
    "ComprehendArnName":{
      "type":"string",
      "max":63,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
    },
    "ComprehendEndpointArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:(document-classifier-endpoint|entity-recognizer-endpoint)/[a-zA-Z0-9](-*[a-zA-Z0-9])*"
    },
    "ComprehendEndpointName":{
      "type":"string",
      "max":40,
      "pattern":"^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
    },
    "ComprehendModelArn":{
      "type":"string",
      "max":256,
      "pattern":"arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:(document-classifier|entity-recognizer)/[a-zA-Z0-9](-*[a-zA-Z0-9])*(/version/[a-zA-Z0-9](-*[a-zA-Z0-9])*)?"
    },
    "ConcurrentModificationException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>Concurrent modification of the tags associated with an Amazon Comprehend resource is not supported. </p>",
      "exception":true
    },
    "ContainsPiiEntitiesRequest":{
      "type":"structure",
      "required":[
        "Text",
        "LanguageCode"
      ],
      "members":{
        "Text":{
          "shape":"String",
          "documentation":"<p>Creates a new document classification request to analyze a single document in real-time, returning personally identifiable information (PII) entity labels.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language of the input documents.</p>"
        }
      }
    },
    "ContainsPiiEntitiesResponse":{
      "type":"structure",
      "members":{
        "Labels":{
          "shape":"ListOfEntityLabels",
          "documentation":"<p>The labels used in the document being analyzed. Individual labels represent personally identifiable information (PII) entity types.</p>"
        }
      }
    },
    "CreateDocumentClassifierRequest":{
      "type":"structure",
      "required":[
        "DocumentClassifierName",
        "DataAccessRoleArn",
        "InputDataConfig",
        "LanguageCode"
      ],
      "members":{
        "DocumentClassifierName":{
          "shape":"ComprehendArnName",
          "documentation":"<p>The name of the document classifier.</p>"
        },
        "VersionName":{
          "shape":"VersionName",
          "documentation":"<p>The version name given to the newly created classifier. Version names can have a maximum of 256 characters. Alphanumeric characters, hyphens (-) and underscores (_) are allowed. The version name must be unique among all models with the same classifier name in the account/AWS Region.</p>"
        },
        "DataAccessRoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the AWS Identity and Management (IAM) role that grants Amazon Comprehend read access to your input data.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>Tags to be associated with the document classifier being created. A tag is a key-value pair that adds as a metadata to a resource used by Amazon Comprehend. For example, a tag with \"Sales\" as the key might be added to a resource to indicate its use by the sales department. </p>"
        },
        "InputDataConfig":{
          "shape":"DocumentClassifierInputDataConfig",
          "documentation":"<p>Specifies the format and location of the input data for the job.</p>"
        },
        "OutputDataConfig":{
          "shape":"DocumentClassifierOutputDataConfig",
          "documentation":"<p>Enables the addition of output results configuration parameters for custom classifier jobs.</p>"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestTokenString",
          "documentation":"<p>A unique identifier for the request. If you don't set the client request token, Amazon Comprehend generates one.</p>",
          "idempotencyToken":true
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language of the input documents. You can specify any of the following languages supported by Amazon Comprehend: German (\"de\"), English (\"en\"), Spanish (\"es\"), French (\"fr\"), Italian (\"it\"), or Portuguese (\"pt\"). All documents must be in the same language.</p>"
        },
        "VolumeKmsKeyId":{
          "shape":"KmsKeyId",
          "documentation":"<p>ID for the AWS Key Management Service (KMS) key that Amazon Comprehend uses to encrypt data on the storage volume attached to the ML compute instance(s) that process the analysis job. The VolumeKmsKeyId can be either of the following formats:</p> <ul> <li> <p>KMS Key ID: <code>\"1234abcd-12ab-34cd-56ef-1234567890ab\"</code> </p> </li> <li> <p>Amazon Resource Name (ARN) of a KMS Key: <code>\"arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\"</code> </p> </li> </ul>"
        },
        "VpcConfig":{
          "shape":"VpcConfig",
          "documentation":"<p>Configuration parameters for an optional private Virtual Private Cloud (VPC) containing the resources you are using for your custom classifier. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/what-is-amazon-vpc.html\">Amazon VPC</a>. </p>"
        },
        "Mode":{
          "shape":"DocumentClassifierMode",
          "documentation":"<p>Indicates the mode in which the classifier will be trained. The classifier can be trained in multi-class mode, which identifies one and only one class for each document, or multi-label mode, which identifies one or more labels for each document. In multi-label mode, multiple labels for an individual document are separated by a delimiter. The default delimiter between labels is a pipe (|).</p>"
        },
        "ModelKmsKeyId":{
          "shape":"KmsKeyId",
          "documentation":"<p>ID for the AWS Key Management Service (KMS) key that Amazon Comprehend uses to encrypt trained custom models. The ModelKmsKeyId can be either of the following formats:</p> <ul> <li> <p>KMS Key ID: <code>\"1234abcd-12ab-34cd-56ef-1234567890ab\"</code> </p> </li> <li> <p>Amazon Resource Name (ARN) of a KMS Key: <code>\"arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\"</code> </p> </li> </ul>"
        },
        "ModelPolicy":{
          "shape":"Policy",
          "documentation":"<p>The resource-based policy to attach to your custom document classifier model. You can use this policy to allow another AWS account to import your custom model.</p> <p>Provide your policy as a JSON body that you enter as a UTF-8 encoded string without line breaks. To provide valid JSON, enclose the attribute names and values in double quotes. If the JSON body is also enclosed in double quotes, then you must escape the double quotes that are inside the policy:</p> <p> <code>\"{\\\"attribute\\\": \\\"value\\\", \\\"attribute\\\": [\\\"value\\\"]}\"</code> </p> <p>To avoid escaping quotes, you can use single quotes to enclose the policy and double quotes to enclose the JSON names and values:</p> <p> <code>'{\"attribute\": \"value\", \"attribute\": [\"value\"]}'</code> </p>"
        }
      }
    },
    "CreateDocumentClassifierResponse":{
      "type":"structure",
      "members":{
        "DocumentClassifierArn":{
          "shape":"DocumentClassifierArn",
          "documentation":"<p>The Amazon Resource Name (ARN) that identifies the document classifier.</p>"
        }
      }
    },
    "CreateEndpointRequest":{
      "type":"structure",
      "required":[
        "EndpointName",
        "ModelArn",
        "DesiredInferenceUnits"
      ],
      "members":{
        "EndpointName":{
          "shape":"ComprehendEndpointName",
          "documentation":"<p>This is the descriptive suffix that becomes part of the <code>EndpointArn</code> used for all subsequent requests to this resource. </p>"
        },
        "ModelArn":{
          "shape":"ComprehendModelArn",
          "documentation":"<p>The Amazon Resource Number (ARN) of the model to which the endpoint will be attached.</p>"
        },
        "DesiredInferenceUnits":{
          "shape":"InferenceUnitsInteger",
          "documentation":"<p> The desired number of inference units to be used by the model using this endpoint. Each inference unit represents of a throughput of 100 characters per second.</p>"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestTokenString",
          "documentation":"<p>An idempotency token provided by the customer. If this token matches a previous endpoint creation request, Amazon Comprehend will not return a <code>ResourceInUseException</code>. </p>",
          "idempotencyToken":true
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>Tags associated with the endpoint being created. A tag is a key-value pair that adds metadata to the endpoint. For example, a tag with \"Sales\" as the key might be added to an endpoint to indicate its use by the sales department. </p>"
        },
        "DataAccessRoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the AWS identity and Access Management (IAM) role that grants Amazon Comprehend read access to trained custom models encrypted with a customer managed key (ModelKmsKeyId).</p>"
        }
      }
    },
    "CreateEndpointResponse":{
      "type":"structure",
      "members":{
        "EndpointArn":{
          "shape":"ComprehendEndpointArn",
          "documentation":"<p>The Amazon Resource Number (ARN) of the endpoint being created.</p>"
        }
      }
    },
    "CreateEntityRecognizerRequest":{
      "type":"structure",
      "required":[
        "RecognizerName",
        "DataAccessRoleArn",
        "InputDataConfig",
        "LanguageCode"
      ],
      "members":{
        "RecognizerName":{
          "shape":"ComprehendArnName",
          "documentation":"<p>The name given to the newly created recognizer. Recognizer names can be a maximum of 256 characters. Alphanumeric characters, hyphens (-) and underscores (_) are allowed. The name must be unique in the account/region.</p>"
        },
        "VersionName":{
          "shape":"VersionName",
          "documentation":"<p>The version name given to the newly created recognizer. Version names can be a maximum of 256 characters. Alphanumeric characters, hyphens (-) and underscores (_) are allowed. The version name must be unique among all models with the same recognizer name in the account/ AWS Region.</p>"
        },
        "DataAccessRoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the AWS Identity and Management (IAM) role that grants Amazon Comprehend read access to your input data.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>Tags to be associated with the entity recognizer being created. A tag is a key-value pair that adds as a metadata to a resource used by Amazon Comprehend. For example, a tag with \"Sales\" as the key might be added to a resource to indicate its use by the sales department. </p>"
        },
        "InputDataConfig":{
          "shape":"EntityRecognizerInputDataConfig",
          "documentation":"<p>Specifies the format and location of the input data. The S3 bucket containing the input data must be located in the same region as the entity recognizer being created. </p>"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestTokenString",
          "documentation":"<p> A unique identifier for the request. If you don't set the client request token, Amazon Comprehend generates one.</p>",
          "idempotencyToken":true
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p> You can specify any of the following languages supported by Amazon Comprehend: English (\"en\"), Spanish (\"es\"), French (\"fr\"), Italian (\"it\"), German (\"de\"), or Portuguese (\"pt\"). All documents must be in the same language.</p>"
        },
        "VolumeKmsKeyId":{
          "shape":"KmsKeyId",
          "documentation":"<p>ID for the AWS Key Management Service (KMS) key that Amazon Comprehend uses to encrypt data on the storage volume attached to the ML compute instance(s) that process the analysis job. The VolumeKmsKeyId can be either of the following formats:</p> <ul> <li> <p>KMS Key ID: <code>\"1234abcd-12ab-34cd-56ef-1234567890ab\"</code> </p> </li> <li> <p>Amazon Resource Name (ARN) of a KMS Key: <code>\"arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\"</code> </p> </li> </ul>"
        },
        "VpcConfig":{
          "shape":"VpcConfig",
          "documentation":"<p>Configuration parameters for an optional private Virtual Private Cloud (VPC) containing the resources you are using for your custom entity recognizer. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/what-is-amazon-vpc.html\">Amazon VPC</a>. </p>"
        },
        "ModelKmsKeyId":{
          "shape":"KmsKeyId",
          "documentation":"<p>ID for the AWS Key Management Service (KMS) key that Amazon Comprehend uses to encrypt trained custom models. The ModelKmsKeyId can be either of the following formats</p> <ul> <li> <p>KMS Key ID: <code>\"1234abcd-12ab-34cd-56ef-1234567890ab\"</code> </p> </li> <li> <p>Amazon Resource Name (ARN) of a KMS Key: <code>\"arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\"</code> </p> </li> </ul>"
        },
        "ModelPolicy":{
          "shape":"Policy",
          "documentation":"<p>The JSON resource-based policy to attach to your custom entity recognizer model. You can use this policy to allow another AWS account to import your custom model.</p> <p>Provide your JSON as a UTF-8 encoded string without line breaks. To provide valid JSON for your policy, enclose the attribute names and values in double quotes. If the JSON body is also enclosed in double quotes, then you must escape the double quotes that are inside the policy:</p> <p> <code>\"{\\\"attribute\\\": \\\"value\\\", \\\"attribute\\\": [\\\"value\\\"]}\"</code> </p> <p>To avoid escaping quotes, you can use single quotes to enclose the policy and double quotes to enclose the JSON names and values:</p> <p> <code>'{\"attribute\": \"value\", \"attribute\": [\"value\"]}'</code> </p>"
        }
      }
    },
    "CreateEntityRecognizerResponse":{
      "type":"structure",
      "members":{
        "EntityRecognizerArn":{
          "shape":"EntityRecognizerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) that identifies the entity recognizer.</p>"
        }
      }
    },
    "CustomerInputString":{
      "type":"string",
      "min":1,
      "sensitive":true
    },
    "CustomerInputStringList":{
      "type":"list",
      "member":{"shape":"CustomerInputString"},
      "sensitive":true
    },
    "DeleteDocumentClassifierRequest":{
      "type":"structure",
      "required":["DocumentClassifierArn"],
      "members":{
        "DocumentClassifierArn":{
          "shape":"DocumentClassifierArn",
          "documentation":"<p>The Amazon Resource Name (ARN) that identifies the document classifier. </p>"
        }
      }
    },
    "DeleteDocumentClassifierResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteEndpointRequest":{
      "type":"structure",
      "required":["EndpointArn"],
      "members":{
        "EndpointArn":{
          "shape":"ComprehendEndpointArn",
          "documentation":"<p>The Amazon Resource Number (ARN) of the endpoint being deleted.</p>"
        }
      }
    },
    "DeleteEndpointResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteEntityRecognizerRequest":{
      "type":"structure",
      "required":["EntityRecognizerArn"],
      "members":{
        "EntityRecognizerArn":{
          "shape":"EntityRecognizerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) that identifies the entity recognizer.</p>"
        }
      }
    },
    "DeleteEntityRecognizerResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteResourcePolicyRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{
          "shape":"ComprehendModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the custom model version that has the policy to delete.</p>"
        },
        "PolicyRevisionId":{
          "shape":"PolicyRevisionId",
          "documentation":"<p>The revision ID of the policy to delete.</p>"
        }
      }
    },
    "DeleteResourcePolicyResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeDocumentClassificationJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{
          "shape":"JobId",
          "documentation":"<p>The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response.</p>"
        }
      }
    },
    "DescribeDocumentClassificationJobResponse":{
      "type":"structure",
      "members":{
        "DocumentClassificationJobProperties":{
          "shape":"DocumentClassificationJobProperties",
          "documentation":"<p>An object that describes the properties associated with the document classification job.</p>"
        }
      }
    },
    "DescribeDocumentClassifierRequest":{
      "type":"structure",
      "required":["DocumentClassifierArn"],
      "members":{
        "DocumentClassifierArn":{
          "shape":"DocumentClassifierArn",
          "documentation":"<p>The Amazon Resource Name (ARN) that identifies the document classifier. The operation returns this identifier in its response.</p>"
        }
      }
    },
    "DescribeDocumentClassifierResponse":{
      "type":"structure",
      "members":{
        "DocumentClassifierProperties":{
          "shape":"DocumentClassifierProperties",
          "documentation":"<p>An object that contains the properties associated with a document classifier.</p>"
        }
      }
    },
    "DescribeDominantLanguageDetectionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{
          "shape":"JobId",
          "documentation":"<p>The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response.</p>"
        }
      }
    },
    "DescribeDominantLanguageDetectionJobResponse":{
      "type":"structure",
      "members":{
        "DominantLanguageDetectionJobProperties":{
          "shape":"DominantLanguageDetectionJobProperties",
          "documentation":"<p>An object that contains the properties associated with a dominant language detection job.</p>"
        }
      }
    },
    "DescribeEndpointRequest":{
      "type":"structure",
      "required":["EndpointArn"],
      "members":{
        "EndpointArn":{
          "shape":"ComprehendEndpointArn",
          "documentation":"<p>The Amazon Resource Number (ARN) of the endpoint being described.</p>"
        }
      }
    },
    "DescribeEndpointResponse":{
      "type":"structure",
      "members":{
        "EndpointProperties":{
          "shape":"EndpointProperties",
          "documentation":"<p>Describes information associated with the specific endpoint.</p>"
        }
      }
    },
    "DescribeEntitiesDetectionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{
          "shape":"JobId",
          "documentation":"<p>The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response.</p>"
        }
      }
    },
    "DescribeEntitiesDetectionJobResponse":{
      "type":"structure",
      "members":{
        "EntitiesDetectionJobProperties":{
          "shape":"EntitiesDetectionJobProperties",
          "documentation":"<p>An object that contains the properties associated with an entities detection job.</p>"
        }
      }
    },
    "DescribeEntityRecognizerRequest":{
      "type":"structure",
      "required":["EntityRecognizerArn"],
      "members":{
        "EntityRecognizerArn":{
          "shape":"EntityRecognizerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) that identifies the entity recognizer.</p>"
        }
      }
    },
    "DescribeEntityRecognizerResponse":{
      "type":"structure",
      "members":{
        "EntityRecognizerProperties":{
          "shape":"EntityRecognizerProperties",
          "documentation":"<p>Describes information associated with an entity recognizer.</p>"
        }
      }
    },
    "DescribeEventsDetectionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{
          "shape":"JobId",
          "documentation":"<p>The identifier of the events detection job.</p>"
        }
      }
    },
    "DescribeEventsDetectionJobResponse":{
      "type":"structure",
      "members":{
        "EventsDetectionJobProperties":{
          "shape":"EventsDetectionJobProperties",
          "documentation":"<p>An object that contains the properties associated with an event detection job.</p>"
        }
      }
    },
    "DescribeKeyPhrasesDetectionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{
          "shape":"JobId",
          "documentation":"<p>The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response.</p>"
        }
      }
    },
    "DescribeKeyPhrasesDetectionJobResponse":{
      "type":"structure",
      "members":{
        "KeyPhrasesDetectionJobProperties":{
          "shape":"KeyPhrasesDetectionJobProperties",
          "documentation":"<p>An object that contains the properties associated with a key phrases detection job. </p>"
        }
      }
    },
    "DescribePiiEntitiesDetectionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{
          "shape":"JobId",
          "documentation":"<p>The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response.</p>"
        }
      }
    },
    "DescribePiiEntitiesDetectionJobResponse":{
      "type":"structure",
      "members":{
        "PiiEntitiesDetectionJobProperties":{"shape":"PiiEntitiesDetectionJobProperties"}
      }
    },
    "DescribeResourcePolicyRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{
          "shape":"ComprehendModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the policy to describe.</p>"
        }
      }
    },
    "DescribeResourcePolicyResponse":{
      "type":"structure",
      "members":{
        "ResourcePolicy":{
          "shape":"Policy",
          "documentation":"<p>The JSON body of the resource-based policy.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the policy was created.</p>"
        },
        "LastModifiedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the policy was last modified.</p>"
        },
        "PolicyRevisionId":{
          "shape":"PolicyRevisionId",
          "documentation":"<p>The revision ID of the policy. Each time you modify a policy, Amazon Comprehend assigns a new revision ID, and it deletes the prior version of the policy.</p>"
        }
      }
    },
    "DescribeSentimentDetectionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{
          "shape":"JobId",
          "documentation":"<p>The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response.</p>"
        }
      }
    },
    "DescribeSentimentDetectionJobResponse":{
      "type":"structure",
      "members":{
        "SentimentDetectionJobProperties":{
          "shape":"SentimentDetectionJobProperties",
          "documentation":"<p>An object that contains the properties associated with a sentiment detection job.</p>"
        }
      }
    },
    "DescribeTopicsDetectionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{
          "shape":"JobId",
          "documentation":"<p>The identifier assigned by the user to the detection job.</p>"
        }
      }
    },
    "DescribeTopicsDetectionJobResponse":{
      "type":"structure",
      "members":{
        "TopicsDetectionJobProperties":{
          "shape":"TopicsDetectionJobProperties",
          "documentation":"<p>The list of properties for the requested job.</p>"
        }
      }
    },
    "DetectDominantLanguageRequest":{
      "type":"structure",
      "required":["Text"],
      "members":{
        "Text":{
          "shape":"CustomerInputString",
          "documentation":"<p>A UTF-8 text string. Each string should contain at least 20 characters and must contain fewer that 5,000 bytes of UTF-8 encoded characters.</p>"
        }
      }
    },
    "DetectDominantLanguageResponse":{
      "type":"structure",
      "members":{
        "Languages":{
          "shape":"ListOfDominantLanguages",
          "documentation":"<p>The languages that Amazon Comprehend detected in the input text. For each language, the response returns the RFC 5646 language code and the level of confidence that Amazon Comprehend has in the accuracy of its inference. For more information about RFC 5646, see <a href=\"https://tools.ietf.org/html/rfc5646\">Tags for Identifying Languages</a> on the <i>IETF Tools</i> web site.</p>"
        }
      },
      "sensitive":true
    },
    "DetectEntitiesRequest":{
      "type":"structure",
      "required":["Text"],
      "members":{
        "Text":{
          "shape":"CustomerInputString",
          "documentation":"<p>A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend. All documents must be in the same language.</p> <p>If your request includes the endpoint for a custom entity recognition model, Amazon Comprehend uses the language of your custom model, and it ignores any language code that you specify here.</p>"
        },
        "EndpointArn":{
          "shape":"EntityRecognizerEndpointArn",
          "documentation":"<p>The Amazon Resource Name of an endpoint that is associated with a custom entity recognition model. Provide an endpoint if you want to detect entities by using your own custom model instead of the default model that is used by Amazon Comprehend.</p> <p>If you specify an endpoint, Amazon Comprehend uses the language of your custom model, and it ignores any language code that you provide in your request.</p>"
        }
      }
    },
    "DetectEntitiesResponse":{
      "type":"structure",
      "members":{
        "Entities":{
          "shape":"ListOfEntities",
          "documentation":"<p>A collection of entities identified in the input text. For each entity, the response provides the entity text, entity type, where the entity text begins and ends, and the level of confidence that Amazon Comprehend has in the detection. </p> <p>If your request uses a custom entity recognition model, Amazon Comprehend detects the entities that the model is trained to recognize. Otherwise, it detects the default entity types. For a list of default entity types, see <a>how-entities</a>.</p>"
        }
      },
      "sensitive":true
    },
    "DetectKeyPhrasesRequest":{
      "type":"structure",
      "required":[
        "Text",
        "LanguageCode"
      ],
      "members":{
        "Text":{
          "shape":"CustomerInputString",
          "documentation":"<p>A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend. All documents must be in the same language.</p>"
        }
      }
    },
    "DetectKeyPhrasesResponse":{
      "type":"structure",
      "members":{
        "KeyPhrases":{
          "shape":"ListOfKeyPhrases",
          "documentation":"<p>A collection of key phrases that Amazon Comprehend identified in the input text. For each key phrase, the response provides the text of the key phrase, where the key phrase begins and ends, and the level of confidence that Amazon Comprehend has in the accuracy of the detection. </p>"
        }
      },
      "sensitive":true
    },
    "DetectPiiEntitiesRequest":{
      "type":"structure",
      "required":[
        "Text",
        "LanguageCode"
      ],
      "members":{
        "Text":{
          "shape":"String",
          "documentation":"<p>A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language of the input documents.</p>"
        }
      }
    },
    "DetectPiiEntitiesResponse":{
      "type":"structure",
      "members":{
        "Entities":{
          "shape":"ListOfPiiEntities",
[...]
