{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-06-08",
    "endpointPrefix":"inspector2",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"Inspector2",
    "serviceFullName":"Inspector2",
    "serviceId":"Inspector2",
    "signatureVersion":"v4",
    "signingName":"inspector2",
    "uid":"inspector2-2020-06-08",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AssociateMember":{
      "name":"AssociateMember",
      "http":{
        "method":"POST",
        "requestUri":"/members/associate",
        "responseCode":200
      },
      "input":{"shape":"AssociateMemberRequest"},
      "output":{"shape":"AssociateMemberResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Associates an Amazon Web Services account with an Amazon Inspector delegated administrator. An HTTP 200 response indicates the association was successfully started, but doesn’t indicate whether it was completed. You can check if the association completed by using <a href=\"https://docs.aws.amazon.com/inspector/v2/APIReference/API_ListMembers.html\">ListMembers</a> for multiple accounts or <a href=\"https://docs.aws.amazon.com/inspector/v2/APIReference/API_GetMember.html\">GetMembers</a> for a single account.</p>"
    },
    "BatchGetAccountStatus":{
      "name":"BatchGetAccountStatus",
      "http":{
        "method":"POST",
        "requestUri":"/status/batch/get",
        "responseCode":200
      },
      "input":{"shape":"BatchGetAccountStatusRequest"},
      "output":{"shape":"BatchGetAccountStatusResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the Amazon Inspector status of multiple Amazon Web Services accounts within your environment.</p>"
    },
    "BatchGetCodeSnippet":{
      "name":"BatchGetCodeSnippet",
      "http":{
        "method":"POST",
        "requestUri":"/codesnippet/batchget",
        "responseCode":200
      },
      "input":{"shape":"BatchGetCodeSnippetRequest"},
      "output":{"shape":"BatchGetCodeSnippetResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves code snippets from findings that Amazon Inspector detected code vulnerabilities in.</p>"
    },
    "BatchGetFindingDetails":{
      "name":"BatchGetFindingDetails",
      "http":{
        "method":"POST",
        "requestUri":"/findings/details/batch/get",
        "responseCode":200
      },
      "input":{"shape":"BatchGetFindingDetailsRequest"},
      "output":{"shape":"BatchGetFindingDetailsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets vulnerability details for findings.</p>"
    },
    "BatchGetFreeTrialInfo":{
      "name":"BatchGetFreeTrialInfo",
      "http":{
        "method":"POST",
        "requestUri":"/freetrialinfo/batchget",
        "responseCode":200
      },
      "input":{"shape":"BatchGetFreeTrialInfoRequest"},
      "output":{"shape":"BatchGetFreeTrialInfoResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets free trial status for multiple Amazon Web Services accounts.</p>"
    },
    "BatchGetMemberEc2DeepInspectionStatus":{
      "name":"BatchGetMemberEc2DeepInspectionStatus",
      "http":{
        "method":"POST",
        "requestUri":"/ec2deepinspectionstatus/member/batch/get",
        "responseCode":200
      },
      "input":{"shape":"BatchGetMemberEc2DeepInspectionStatusRequest"},
      "output":{"shape":"BatchGetMemberEc2DeepInspectionStatusResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves Amazon Inspector deep inspection activation status of multiple member accounts within your organization. You must be the delegated administrator of an organization in Amazon Inspector to use this API.</p>"
    },
    "BatchUpdateMemberEc2DeepInspectionStatus":{
      "name":"BatchUpdateMemberEc2DeepInspectionStatus",
      "http":{
        "method":"POST",
        "requestUri":"/ec2deepinspectionstatus/member/batch/update",
        "responseCode":200
      },
      "input":{"shape":"BatchUpdateMemberEc2DeepInspectionStatusRequest"},
      "output":{"shape":"BatchUpdateMemberEc2DeepInspectionStatusResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Activates or deactivates Amazon Inspector deep inspection for the provided member accounts in your organization. You must be the delegated administrator of an organization in Amazon Inspector to use this API.</p>"
    },
    "CancelFindingsReport":{
      "name":"CancelFindingsReport",
      "http":{
        "method":"POST",
        "requestUri":"/reporting/cancel",
        "responseCode":200
      },
      "input":{"shape":"CancelFindingsReportRequest"},
      "output":{"shape":"CancelFindingsReportResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Cancels the given findings report.</p>"
    },
    "CancelSbomExport":{
      "name":"CancelSbomExport",
      "http":{
        "method":"POST",
        "requestUri":"/sbomexport/cancel",
        "responseCode":200
      },
      "input":{"shape":"CancelSbomExportRequest"},
      "output":{"shape":"CancelSbomExportResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Cancels a software bill of materials (SBOM) report.</p>",
      "idempotent":true
    },
    "CreateCisScanConfiguration":{
      "name":"CreateCisScanConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/cis/scan-configuration/create",
        "responseCode":200
      },
      "input":{"shape":"CreateCisScanConfigurationRequest"},
      "output":{"shape":"CreateCisScanConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a CIS scan configuration.</p>"
    },
    "CreateFilter":{
      "name":"CreateFilter",
      "http":{
        "method":"POST",
        "requestUri":"/filters/create",
        "responseCode":200
      },
      "input":{"shape":"CreateFilterRequest"},
      "output":{"shape":"CreateFilterResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a filter resource using specified filter criteria. When the filter action is set to <code>SUPPRESS</code> this action creates a suppression rule.</p>"
    },
    "CreateFindingsReport":{
      "name":"CreateFindingsReport",
      "http":{
        "method":"POST",
        "requestUri":"/reporting/create",
        "responseCode":200
      },
      "input":{"shape":"CreateFindingsReportRequest"},
      "output":{"shape":"CreateFindingsReportResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a finding report. By default only <code>ACTIVE</code> findings are returned in the report. To see <code>SUPRESSED</code> or <code>CLOSED</code> findings you must specify a value for the <code>findingStatus</code> filter criteria. </p>"
    },
    "CreateSbomExport":{
      "name":"CreateSbomExport",
      "http":{
        "method":"POST",
        "requestUri":"/sbomexport/create",
        "responseCode":200
      },
      "input":{"shape":"CreateSbomExportRequest"},
      "output":{"shape":"CreateSbomExportResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a software bill of materials (SBOM) report.</p>",
      "idempotent":true
    },
    "DeleteCisScanConfiguration":{
      "name":"DeleteCisScanConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/cis/scan-configuration/delete",
        "responseCode":200
      },
      "input":{"shape":"DeleteCisScanConfigurationRequest"},
      "output":{"shape":"DeleteCisScanConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a CIS scan configuration.</p>"
    },
    "DeleteFilter":{
      "name":"DeleteFilter",
      "http":{
        "method":"POST",
        "requestUri":"/filters/delete",
        "responseCode":200
      },
      "input":{"shape":"DeleteFilterRequest"},
      "output":{"shape":"DeleteFilterResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a filter resource.</p>"
    },
    "DescribeOrganizationConfiguration":{
      "name":"DescribeOrganizationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/organizationconfiguration/describe",
        "responseCode":200
      },
      "input":{"shape":"DescribeOrganizationConfigurationRequest"},
      "output":{"shape":"DescribeOrganizationConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describe Amazon Inspector configuration settings for an Amazon Web Services organization.</p>"
    },
    "Disable":{
      "name":"Disable",
      "http":{
        "method":"POST",
        "requestUri":"/disable",
        "responseCode":200
      },
      "input":{"shape":"DisableRequest"},
      "output":{"shape":"DisableResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Disables Amazon Inspector scans for one or more Amazon Web Services accounts. Disabling all scan types in an account disables the Amazon Inspector service.</p>"
    },
    "DisableDelegatedAdminAccount":{
      "name":"DisableDelegatedAdminAccount",
      "http":{
        "method":"POST",
        "requestUri":"/delegatedadminaccounts/disable",
        "responseCode":200
      },
      "input":{"shape":"DisableDelegatedAdminAccountRequest"},
      "output":{"shape":"DisableDelegatedAdminAccountResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Disables the Amazon Inspector delegated administrator for your organization.</p>"
    },
    "DisassociateMember":{
      "name":"DisassociateMember",
      "http":{
        "method":"POST",
        "requestUri":"/members/disassociate",
        "responseCode":200
      },
      "input":{"shape":"DisassociateMemberRequest"},
      "output":{"shape":"DisassociateMemberResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Disassociates a member account from an Amazon Inspector delegated administrator.</p>"
    },
    "Enable":{
      "name":"Enable",
      "http":{
        "method":"POST",
        "requestUri":"/enable",
        "responseCode":200
      },
      "input":{"shape":"EnableRequest"},
      "output":{"shape":"EnableResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Enables Amazon Inspector scans for one or more Amazon Web Services accounts.</p>"
    },
    "EnableDelegatedAdminAccount":{
      "name":"EnableDelegatedAdminAccount",
      "http":{
        "method":"POST",
        "requestUri":"/delegatedadminaccounts/enable",
        "responseCode":200
      },
      "input":{"shape":"EnableDelegatedAdminAccountRequest"},
      "output":{"shape":"EnableDelegatedAdminAccountResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Enables the Amazon Inspector delegated administrator for your Organizations organization.</p>"
    },
    "GetCisScanReport":{
      "name":"GetCisScanReport",
      "http":{
        "method":"POST",
        "requestUri":"/cis/scan/report/get",
        "responseCode":200
      },
      "input":{"shape":"GetCisScanReportRequest"},
      "output":{"shape":"GetCisScanReportResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves a CIS scan report.</p>"
    },
    "GetCisScanResultDetails":{
      "name":"GetCisScanResultDetails",
      "http":{
        "method":"POST",
        "requestUri":"/cis/scan-result/details/get",
        "responseCode":200
      },
      "input":{"shape":"GetCisScanResultDetailsRequest"},
      "output":{"shape":"GetCisScanResultDetailsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves CIS scan result details.</p>"
    },
    "GetConfiguration":{
      "name":"GetConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/configuration/get",
        "responseCode":200
      },
      "input":{"shape":"GetConfigurationRequest"},
      "output":{"shape":"GetConfigurationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves setting configurations for Inspector scans.</p>"
    },
    "GetDelegatedAdminAccount":{
      "name":"GetDelegatedAdminAccount",
      "http":{
        "method":"POST",
        "requestUri":"/delegatedadminaccounts/get",
        "responseCode":200
      },
      "input":{"shape":"GetDelegatedAdminAccountRequest"},
      "output":{"shape":"GetDelegatedAdminAccountResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves information about the Amazon Inspector delegated administrator for your organization.</p>"
    },
    "GetEc2DeepInspectionConfiguration":{
      "name":"GetEc2DeepInspectionConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/ec2deepinspectionconfiguration/get",
        "responseCode":200
      },
      "input":{"shape":"GetEc2DeepInspectionConfigurationRequest"},
      "output":{"shape":"GetEc2DeepInspectionConfigurationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the activation status of Amazon Inspector deep inspection and custom paths associated with your account. </p>"
    },
    "GetEncryptionKey":{
      "name":"GetEncryptionKey",
      "http":{
        "method":"GET",
        "requestUri":"/encryptionkey/get",
        "responseCode":200
      },
      "input":{"shape":"GetEncryptionKeyRequest"},
      "output":{"shape":"GetEncryptionKeyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets an encryption key.</p>"
    },
    "GetFindingsReportStatus":{
      "name":"GetFindingsReportStatus",
      "http":{
        "method":"POST",
        "requestUri":"/reporting/status/get",
        "responseCode":200
      },
      "input":{"shape":"GetFindingsReportStatusRequest"},
      "output":{"shape":"GetFindingsReportStatusResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the status of a findings report.</p>"
    },
    "GetMember":{
      "name":"GetMember",
      "http":{
        "method":"POST",
        "requestUri":"/members/get",
        "responseCode":200
      },
      "input":{"shape":"GetMemberRequest"},
      "output":{"shape":"GetMemberResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets member information for your organization.</p>"
    },
    "GetSbomExport":{
      "name":"GetSbomExport",
      "http":{
        "method":"POST",
        "requestUri":"/sbomexport/get",
        "responseCode":200
      },
      "input":{"shape":"GetSbomExportRequest"},
      "output":{"shape":"GetSbomExportResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets details of a software bill of materials (SBOM) report.</p>",
      "idempotent":true
    },
    "ListAccountPermissions":{
      "name":"ListAccountPermissions",
      "http":{
        "method":"POST",
        "requestUri":"/accountpermissions/list",
        "responseCode":200
      },
      "input":{"shape":"ListAccountPermissionsRequest"},
      "output":{"shape":"ListAccountPermissionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the permissions an account has to configure Amazon Inspector.</p>"
    },
    "ListCisScanConfigurations":{
      "name":"ListCisScanConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/cis/scan-configuration/list",
        "responseCode":200
      },
      "input":{"shape":"ListCisScanConfigurationsRequest"},
      "output":{"shape":"ListCisScanConfigurationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists CIS scan configurations.</p>"
    },
    "ListCisScanResultsAggregatedByChecks":{
      "name":"ListCisScanResultsAggregatedByChecks",
      "http":{
        "method":"POST",
        "requestUri":"/cis/scan-result/check/list",
        "responseCode":200
      },
      "input":{"shape":"ListCisScanResultsAggregatedByChecksRequest"},
      "output":{"shape":"ListCisScanResultsAggregatedByChecksResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists scan results aggregated by checks.</p>"
    },
    "ListCisScanResultsAggregatedByTargetResource":{
      "name":"ListCisScanResultsAggregatedByTargetResource",
      "http":{
        "method":"POST",
        "requestUri":"/cis/scan-result/resource/list",
        "responseCode":200
      },
      "input":{"shape":"ListCisScanResultsAggregatedByTargetResourceRequest"},
      "output":{"shape":"ListCisScanResultsAggregatedByTargetResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists scan results aggregated by a target resource.</p>"
    },
    "ListCisScans":{
      "name":"ListCisScans",
      "http":{
        "method":"POST",
        "requestUri":"/cis/scan/list",
        "responseCode":200
      },
      "input":{"shape":"ListCisScansRequest"},
      "output":{"shape":"ListCisScansResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns a CIS scan list.</p>"
    },
    "ListCoverage":{
      "name":"ListCoverage",
      "http":{
        "method":"POST",
        "requestUri":"/coverage/list",
        "responseCode":200
      },
      "input":{"shape":"ListCoverageRequest"},
      "output":{"shape":"ListCoverageResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists coverage details for you environment.</p>"
    },
    "ListCoverageStatistics":{
      "name":"ListCoverageStatistics",
      "http":{
        "method":"POST",
        "requestUri":"/coverage/statistics/list",
        "responseCode":200
      },
      "input":{"shape":"ListCoverageStatisticsRequest"},
      "output":{"shape":"ListCoverageStatisticsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists Amazon Inspector coverage statistics for your environment.</p>"
    },
    "ListDelegatedAdminAccounts":{
      "name":"ListDelegatedAdminAccounts",
      "http":{
        "method":"POST",
        "requestUri":"/delegatedadminaccounts/list",
        "responseCode":200
      },
      "input":{"shape":"ListDelegatedAdminAccountsRequest"},
      "output":{"shape":"ListDelegatedAdminAccountsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists information about the Amazon Inspector delegated administrator of your organization.</p>"
    },
    "ListFilters":{
      "name":"ListFilters",
      "http":{
        "method":"POST",
        "requestUri":"/filters/list",
        "responseCode":200
      },
      "input":{"shape":"ListFiltersRequest"},
      "output":{"shape":"ListFiltersResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the filters associated with your account.</p>"
    },
    "ListFindingAggregations":{
      "name":"ListFindingAggregations",
      "http":{
        "method":"POST",
        "requestUri":"/findings/aggregation/list",
        "responseCode":200
      },
      "input":{"shape":"ListFindingAggregationsRequest"},
      "output":{"shape":"ListFindingAggregationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists aggregated finding data for your environment based on specific criteria.</p>"
    },
    "ListFindings":{
      "name":"ListFindings",
      "http":{
        "method":"POST",
        "requestUri":"/findings/list",
        "responseCode":200
      },
      "input":{"shape":"ListFindingsRequest"},
      "output":{"shape":"ListFindingsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists findings for your environment.</p>"
    },
    "ListMembers":{
      "name":"ListMembers",
      "http":{
        "method":"POST",
        "requestUri":"/members/list",
        "responseCode":200
      },
      "input":{"shape":"ListMembersRequest"},
      "output":{"shape":"ListMembersResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>List members associated with the Amazon Inspector delegated administrator for your organization.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all tags attached to a given resource.</p>"
    },
    "ListUsageTotals":{
      "name":"ListUsageTotals",
      "http":{
        "method":"POST",
        "requestUri":"/usage/list",
        "responseCode":200
      },
      "input":{"shape":"ListUsageTotalsRequest"},
      "output":{"shape":"ListUsageTotalsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the Amazon Inspector usage totals over the last 30 days.</p>"
    },
    "ResetEncryptionKey":{
      "name":"ResetEncryptionKey",
      "http":{
        "method":"PUT",
        "requestUri":"/encryptionkey/reset",
        "responseCode":200
      },
      "input":{"shape":"ResetEncryptionKeyRequest"},
      "output":{"shape":"ResetEncryptionKeyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Resets an encryption key. After the key is reset your resources will be encrypted by an Amazon Web Services owned key.</p>",
      "idempotent":true
    },
    "SearchVulnerabilities":{
      "name":"SearchVulnerabilities",
      "http":{
        "method":"POST",
        "requestUri":"/vulnerabilities/search",
        "responseCode":200
      },
      "input":{"shape":"SearchVulnerabilitiesRequest"},
      "output":{"shape":"SearchVulnerabilitiesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists Amazon Inspector coverage details for a specific vulnerability.</p>"
    },
    "SendCisSessionHealth":{
      "name":"SendCisSessionHealth",
      "http":{
        "method":"PUT",
        "requestUri":"/cissession/health/send",
        "responseCode":200
      },
      "input":{"shape":"SendCisSessionHealthRequest"},
      "output":{"shape":"SendCisSessionHealthResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Sends a CIS session health. This API is used by the Amazon Inspector SSM plugin to communicate with the Amazon Inspector service. The Amazon Inspector SSM plugin calls this API to start a CIS scan session for the scan ID supplied by the service. </p>",
      "idempotent":true
    },
    "SendCisSessionTelemetry":{
      "name":"SendCisSessionTelemetry",
      "http":{
        "method":"PUT",
        "requestUri":"/cissession/telemetry/send",
        "responseCode":200
      },
      "input":{"shape":"SendCisSessionTelemetryRequest"},
      "output":{"shape":"SendCisSessionTelemetryResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Sends a CIS session telemetry. This API is used by the Amazon Inspector SSM plugin to communicate with the Amazon Inspector service. The Amazon Inspector SSM plugin calls this API to start a CIS scan session for the scan ID supplied by the service. </p>",
      "idempotent":true
    },
    "StartCisSession":{
      "name":"StartCisSession",
      "http":{
        "method":"PUT",
        "requestUri":"/cissession/start",
        "responseCode":200
      },
      "input":{"shape":"StartCisSessionRequest"},
      "output":{"shape":"StartCisSessionResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Starts a CIS session. This API is used by the Amazon Inspector SSM plugin to communicate with the Amazon Inspector service. The Amazon Inspector SSM plugin calls this API to start a CIS scan session for the scan ID supplied by the service. </p>",
      "idempotent":true
    },
    "StopCisSession":{
      "name":"StopCisSession",
      "http":{
        "method":"PUT",
        "requestUri":"/cissession/stop",
        "responseCode":200
      },
      "input":{"shape":"StopCisSessionRequest"},
      "output":{"shape":"StopCisSessionResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Stops a CIS session. This API is used by the Amazon Inspector SSM plugin to communicate with the Amazon Inspector service. The Amazon Inspector SSM plugin calls this API to start a CIS scan session for the scan ID supplied by the service. </p>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Adds tags to a resource.</p>",
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes tags from a resource.</p>"
    },
    "UpdateCisScanConfiguration":{
      "name":"UpdateCisScanConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/cis/scan-configuration/update",
        "responseCode":200
      },
      "input":{"shape":"UpdateCisScanConfigurationRequest"},
      "output":{"shape":"UpdateCisScanConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates a CIS scan configuration.</p>"
    },
    "UpdateConfiguration":{
      "name":"UpdateConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/configuration/update",
        "responseCode":200
      },
      "input":{"shape":"UpdateConfigurationRequest"},
      "output":{"shape":"UpdateConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates setting configurations for your Amazon Inspector account. When you use this API as an Amazon Inspector delegated administrator this updates the setting for all accounts you manage. Member accounts in an organization cannot update this setting.</p>"
    },
    "UpdateEc2DeepInspectionConfiguration":{
      "name":"UpdateEc2DeepInspectionConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/ec2deepinspectionconfiguration/update",
        "responseCode":200
      },
      "input":{"shape":"UpdateEc2DeepInspectionConfigurationRequest"},
      "output":{"shape":"UpdateEc2DeepInspectionConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Activates, deactivates Amazon Inspector deep inspection, or updates custom paths for your account. </p>"
    },
    "UpdateEncryptionKey":{
      "name":"UpdateEncryptionKey",
      "http":{
        "method":"PUT",
        "requestUri":"/encryptionkey/update",
        "responseCode":200
      },
      "input":{"shape":"UpdateEncryptionKeyRequest"},
      "output":{"shape":"UpdateEncryptionKeyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates an encryption key. A <code>ResourceNotFoundException</code> means that an Amazon Web Services owned key is being used for encryption.</p>",
      "idempotent":true
    },
    "UpdateFilter":{
      "name":"UpdateFilter",
      "http":{
        "method":"POST",
        "requestUri":"/filters/update",
        "responseCode":200
      },
      "input":{"shape":"UpdateFilterRequest"},
      "output":{"shape":"UpdateFilterResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Specifies the action that is to be applied to the findings that match the filter.</p>"
    },
    "UpdateOrgEc2DeepInspectionConfiguration":{
      "name":"UpdateOrgEc2DeepInspectionConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/ec2deepinspectionconfiguration/org/update",
        "responseCode":200
      },
      "input":{"shape":"UpdateOrgEc2DeepInspectionConfigurationRequest"},
      "output":{"shape":"UpdateOrgEc2DeepInspectionConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the Amazon Inspector deep inspection custom paths for your organization. You must be an Amazon Inspector delegated administrator to use this API.</p>"
    },
    "UpdateOrganizationConfiguration":{
      "name":"UpdateOrganizationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/organizationconfiguration/update",
        "responseCode":200
      },
      "input":{"shape":"UpdateOrganizationConfigurationRequest"},
      "output":{"shape":"UpdateOrganizationConfigurationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the configurations for your Amazon Inspector organization.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>You do not have sufficient access to perform this action.</p> <p> For <code>Enable</code>, you receive this error if you attempt to use a feature in an unsupported Amazon Web Services Region. </p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "Account":{
      "type":"structure",
      "required":[
        "accountId",
        "resourceStatus",
        "status"
      ],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The ID of the Amazon Web Services account.</p>"
        },
        "resourceStatus":{
          "shape":"ResourceStatus",
          "documentation":"<p>Details of the status of Amazon Inspector scans by resource type.</p>"
        },
        "status":{
          "shape":"Status",
          "documentation":"<p>The status of Amazon Inspector for the account.</p>"
        }
      },
      "documentation":"<p>An Amazon Web Services account within your environment that Amazon Inspector has been enabled for.</p>"
    },
    "AccountAggregation":{
      "type":"structure",
      "members":{
        "findingType":{
          "shape":"AggregationFindingType",
          "documentation":"<p>The type of finding.</p>"
        },
        "resourceType":{
          "shape":"AggregationResourceType",
          "documentation":"<p>The type of resource.</p>"
        },
        "sortBy":{
          "shape":"AccountSortBy",
          "documentation":"<p>The value to sort by.</p>"
        },
        "sortOrder":{
          "shape":"SortOrder",
          "documentation":"<p>The sort order (ascending or descending).</p>"
        }
      },
      "documentation":"<p>An object that contains details about an aggregation response based on Amazon Web Services accounts.</p>"
    },
    "AccountAggregationResponse":{
      "type":"structure",
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID.</p>"
        },
        "exploitAvailableCount":{
          "shape":"Long",
          "documentation":"<p> The number of findings that have an exploit available. </p>"
        },
        "fixAvailableCount":{
          "shape":"Long",
          "documentation":"<p> Details about the number of fixes. </p>"
        },
        "severityCounts":{
          "shape":"SeverityCounts",
          "documentation":"<p>The number of findings by severity.</p>"
        }
      },
      "documentation":"<p>An aggregation of findings by Amazon Web Services account ID.</p>"
    },
    "AccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"^\\d{12}$"
    },
    "AccountIdFilterList":{
      "type":"list",
      "member":{"shape":"CisStringFilter"},
      "max":10,
      "min":1
    },
    "AccountIdSet":{
      "type":"list",
      "member":{"shape":"AccountId"},
      "max":100,
      "min":0
    },
    "AccountList":{
      "type":"list",
      "member":{"shape":"Account"}
    },
    "AccountSortBy":{
      "type":"string",
      "enum":[
        "CRITICAL",
        "HIGH",
        "ALL"
      ]
    },
    "AccountState":{
      "type":"structure",
      "required":[
        "accountId",
        "resourceState",
        "state"
      ],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID.</p>"
        },
        "resourceState":{
          "shape":"ResourceState",
          "documentation":"<p>An object detailing which resources Amazon Inspector is enabled to scan for the account.</p>"
        },
        "state":{
          "shape":"State",
          "documentation":"<p>An object detailing the status of Amazon Inspector for the account.</p>"
        }
      },
      "documentation":"<p>An object with details the status of an Amazon Web Services account within your Amazon Inspector environment.</p>"
    },
    "AccountStateList":{
      "type":"list",
      "member":{"shape":"AccountState"},
      "max":100,
      "min":0
    },
    "AggCounts":{"type":"long"},
    "AggregationFindingType":{
      "type":"string",
      "enum":[
        "NETWORK_REACHABILITY",
        "PACKAGE_VULNERABILITY",
        "CODE_VULNERABILITY"
      ]
    },
    "AggregationRequest":{
      "type":"structure",
      "members":{
        "accountAggregation":{
          "shape":"AccountAggregation",
          "documentation":"<p>An object that contains details about an aggregation request based on Amazon Web Services account IDs.</p>"
        },
        "amiAggregation":{
          "shape":"AmiAggregation",
          "documentation":"<p>An object that contains details about an aggregation request based on Amazon Machine Images (AMIs).</p>"
        },
        "awsEcrContainerAggregation":{
          "shape":"AwsEcrContainerAggregation",
          "documentation":"<p>An object that contains details about an aggregation request based on Amazon ECR container images.</p>"
        },
        "ec2InstanceAggregation":{
          "shape":"Ec2InstanceAggregation",
          "documentation":"<p>An object that contains details about an aggregation request based on Amazon EC2 instances.</p>"
        },
        "findingTypeAggregation":{
          "shape":"FindingTypeAggregation",
          "documentation":"<p>An object that contains details about an aggregation request based on finding types.</p>"
        },
        "imageLayerAggregation":{
          "shape":"ImageLayerAggregation",
          "documentation":"<p>An object that contains details about an aggregation request based on container image layers.</p>"
        },
        "lambdaFunctionAggregation":{
          "shape":"LambdaFunctionAggregation",
          "documentation":"<p>Returns an object with findings aggregated by Amazon Web Services Lambda function.</p>"
        },
        "lambdaLayerAggregation":{
          "shape":"LambdaLayerAggregation",
          "documentation":"<p>Returns an object with findings aggregated by Amazon Web Services Lambda layer.</p>"
        },
        "packageAggregation":{
          "shape":"PackageAggregation",
          "documentation":"<p>An object that contains details about an aggregation request based on operating system package type.</p>"
        },
        "repositoryAggregation":{
          "shape":"RepositoryAggregation",
          "documentation":"<p>An object that contains details about an aggregation request based on Amazon ECR repositories.</p>"
        },
        "titleAggregation":{
          "shape":"TitleAggregation",
          "documentation":"<p>An object that contains details about an aggregation request based on finding title.</p>"
        }
      },
      "documentation":"<p>Contains details about an aggregation request.</p>",
      "union":true
    },
    "AggregationResourceType":{
      "type":"string",
      "enum":[
        "AWS_EC2_INSTANCE",
        "AWS_ECR_CONTAINER_IMAGE",
        "AWS_LAMBDA_FUNCTION"
      ]
    },
    "AggregationResponse":{
      "type":"structure",
      "members":{
        "accountAggregation":{
          "shape":"AccountAggregationResponse",
          "documentation":"<p>An object that contains details about an aggregation response based on Amazon Web Services account IDs.</p>"
        },
        "amiAggregation":{
          "shape":"AmiAggregationResponse",
          "documentation":"<p>An object that contains details about an aggregation response based on Amazon Machine Images (AMIs).</p>"
        },
        "awsEcrContainerAggregation":{
          "shape":"AwsEcrContainerAggregationResponse",
          "documentation":"<p>An object that contains details about an aggregation response based on Amazon ECR container images.</p>"
        },
        "ec2InstanceAggregation":{
          "shape":"Ec2InstanceAggregationResponse",
          "documentation":"<p>An object that contains details about an aggregation response based on Amazon EC2 instances.</p>"
        },
        "findingTypeAggregation":{
          "shape":"FindingTypeAggregationResponse",
          "documentation":"<p>An object that contains details about an aggregation response based on finding types.</p>"
        },
        "imageLayerAggregation":{
          "shape":"ImageLayerAggregationResponse",
          "documentation":"<p>An object that contains details about an aggregation response based on container image layers.</p>"
        },
        "lambdaFunctionAggregation":{
          "shape":"LambdaFunctionAggregationResponse",
          "documentation":"<p>An aggregation of findings by Amazon Web Services Lambda function.</p>"
        },
        "lambdaLayerAggregation":{
          "shape":"LambdaLayerAggregationResponse",
          "documentation":"<p>An aggregation of findings by Amazon Web Services Lambda layer.</p>"
        },
        "packageAggregation":{
          "shape":"PackageAggregationResponse",
          "documentation":"<p>An object that contains details about an aggregation response based on operating system package type.</p>"
        },
        "repositoryAggregation":{
          "shape":"RepositoryAggregationResponse",
          "documentation":"<p>An object that contains details about an aggregation response based on Amazon ECR repositories.</p>"
        },
        "titleAggregation":{
          "shape":"TitleAggregationResponse",
          "documentation":"<p>An object that contains details about an aggregation response based on finding title.</p>"
        }
      },
      "documentation":"<p>A structure that contains details about the results of an aggregation type.</p>",
      "union":true
    },
    "AggregationResponseList":{
      "type":"list",
      "member":{"shape":"AggregationResponse"}
    },
    "AggregationType":{
      "type":"string",
      "enum":[
        "FINDING_TYPE",
        "PACKAGE",
        "TITLE",
        "REPOSITORY",
        "AMI",
        "AWS_EC2_INSTANCE",
        "AWS_ECR_CONTAINER",
        "IMAGE_LAYER",
        "ACCOUNT",
        "AWS_LAMBDA_FUNCTION",
        "LAMBDA_LAYER"
      ]
    },
    "AmiAggregation":{
      "type":"structure",
      "members":{
        "amis":{
          "shape":"StringFilterList",
          "documentation":"<p>The IDs of AMIs to aggregate findings for.</p>"
        },
        "sortBy":{
          "shape":"AmiSortBy",
          "documentation":"<p>The value to sort results by.</p>"
        },
        "sortOrder":{
          "shape":"SortOrder",
          "documentation":"<p>The order to sort results by.</p>"
        }
      },
      "documentation":"<p>The details that define an aggregation based on Amazon machine images (AMIs).</p>"
    },
    "AmiAggregationResponse":{
      "type":"structure",
      "required":["ami"],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID for the AMI.</p>"
        },
        "affectedInstances":{
          "shape":"Long",
          "documentation":"<p>The IDs of Amazon EC2 instances using this AMI.</p>"
        },
        "ami":{
          "shape":"AmiId",
          "documentation":"<p>The ID of the AMI that findings were aggregated for.</p>"
        },
        "severityCounts":{
          "shape":"SeverityCounts",
          "documentation":"<p>An object that contains the count of matched findings per severity.</p>"
        }
      },
      "documentation":"<p>A response that contains the results of a finding aggregation by AMI.</p>"
    },
    "AmiId":{
      "type":"string",
      "pattern":"^ami-([a-z0-9]{8}|[a-z0-9]{17}|\\*)$"
    },
    "AmiSortBy":{
      "type":"string",
      "enum":[
        "CRITICAL",
        "HIGH",
        "ALL",
        "AFFECTED_INSTANCES"
      ]
    },
    "Architecture":{
      "type":"string",
      "enum":[
        "X86_64",
        "ARM64"
      ]
    },
    "ArchitectureList":{
      "type":"list",
      "member":{"shape":"Architecture"},
      "max":1,
      "min":1
    },
    "Arn":{
      "type":"string",
      "max":1011,
      "min":1
    },
    "AssociateMemberRequest":{
      "type":"structure",
      "required":["accountId"],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID of the member account to be associated.</p>"
        }
      }
    },
    "AssociateMemberResponse":{
      "type":"structure",
      "required":["accountId"],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID of the successfully associated member account.</p>"
        }
      }
    },
    "AtigData":{
      "type":"structure",
      "members":{
        "firstSeen":{
          "shape":"FirstSeen",
          "documentation":"<p>The date and time this vulnerability was first observed.</p>"
        },
        "lastSeen":{
          "shape":"LastSeen",
          "documentation":"<p>The date and time this vulnerability was last observed.</p>"
        },
        "targets":{
          "shape":"Targets",
          "documentation":"<p>The commercial sectors this vulnerability targets.</p>"
        },
        "ttps":{
          "shape":"Ttps",
          "documentation":"<p>The <a href=\"https://attack.mitre.org/\">MITRE ATT&amp;CK</a> tactics, techniques, and procedures (TTPs) associated with vulnerability.</p>"
        }
      },
      "documentation":"<p>The Amazon Web Services Threat Intel Group (ATIG) details for a specific vulnerability.</p>"
    },
    "AutoEnable":{
      "type":"structure",
      "required":[
        "ec2",
        "ecr"
      ],
      "members":{
        "ec2":{
          "shape":"Boolean",
          "documentation":"<p>Represents whether Amazon EC2 scans are automatically enabled for new members of your Amazon Inspector organization.</p>"
        },
        "ecr":{
          "shape":"Boolean",
          "documentation":"<p>Represents whether Amazon ECR scans are automatically enabled for new members of your Amazon Inspector organization.</p>"
        },
        "lambda":{
          "shape":"Boolean",
          "documentation":"<p>Represents whether Amazon Web Services Lambda standard scans are automatically enabled for new members of your Amazon Inspector organization. </p>"
        },
        "lambdaCode":{
          "shape":"Boolean",
          "documentation":"<p>Represents whether Lambda code scans are automatically enabled for new members of your Amazon Inspector organization. <pre><code> &lt;/p&gt; </code></pre>"
        }
      },
      "documentation":"<p>Represents which scan types are automatically enabled for new members of your Amazon Inspector organization.</p>"
    },
    "AwsEc2InstanceDetails":{
      "type":"structure",
      "members":{
        "iamInstanceProfileArn":{
          "shape":"NonEmptyString",
          "documentation":"<p>The IAM instance profile ARN of the Amazon EC2 instance.</p>"
        },
        "imageId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The image ID of the Amazon EC2 instance.</p>"
        },
        "ipV4Addresses":{
          "shape":"IpV4AddressList",
          "documentation":"<p>The IPv4 addresses of the Amazon EC2 instance.</p>"
        },
        "ipV6Addresses":{
          "shape":"IpV6AddressList",
          "documentation":"<p>The IPv6 addresses of the Amazon EC2 instance.</p>"
        },
        "keyName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the key pair used to launch the Amazon EC2 instance.</p>"
        },
        "launchedAt":{
          "shape":"DateTimeTimestamp",
          "documentation":"<p>The date and time the Amazon EC2 instance was launched at.</p>"
        },
        "platform":{
          "shape":"Platform",
          "documentation":"<p>The platform of the Amazon EC2 instance.</p>"
        },
        "subnetId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The subnet ID of the Amazon EC2 instance.</p>"
        },
        "type":{
          "shape":"NonEmptyString",
          "documentation":"<p>The type of the Amazon EC2 instance.</p>"
        },
        "vpcId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The VPC ID of the Amazon EC2 instance.</p>"
        }
      },
      "documentation":"<p>Details of the Amazon EC2 instance involved in a finding.</p>"
    },
    "AwsEcrContainerAggregation":{
      "type":"structure",
      "members":{
        "architectures":{
          "shape":"StringFilterList",
          "documentation":"<p>The architecture of the containers.</p>"
        },
        "imageShas":{
          "shape":"StringFilterList",
          "documentation":"<p>The image SHA values.</p>"
        },
        "imageTags":{
          "shape":"StringFilterList",
          "documentation":"<p>The image tags.</p>"
        },
        "repositories":{
          "shape":"StringFilterList",
          "documentation":"<p>The container repositories.</p>"
        },
        "resourceIds":{
          "shape":"StringFilterList",
          "documentation":"<p>The container resource IDs.</p>"
        },
        "sortBy":{
          "shape":"AwsEcrContainerSortBy",
          "documentation":"<p>The value to sort by.</p>"
        },
        "sortOrder":{
          "shape":"SortOrder",
          "documentation":"<p>The sort order (ascending or descending).</p>"
        }
      },
      "documentation":"<p>An aggregation of information about Amazon ECR containers.</p>"
    },
    "AwsEcrContainerAggregationResponse":{
      "type":"structure",
      "required":["resourceId"],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID of the account that owns the container.</p>"
        },
        "architecture":{
          "shape":"String",
          "documentation":"<p>The architecture of the container.</p>"
        },
        "imageSha":{
          "shape":"String",
          "documentation":"<p>The SHA value of the container image.</p>"
        },
        "imageTags":{
          "shape":"StringList",
          "documentation":"<p>The container image stags.</p>"
        },
        "repository":{
          "shape":"String",
          "documentation":"<p>The container repository.</p>"
        },
        "resourceId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The resource ID of the container.</p>"
        },
        "severityCounts":{
          "shape":"SeverityCounts",
          "documentation":"<p>The number of finding by severity.</p>"
        }
      },
      "documentation":"<p>An aggregation of information about Amazon ECR containers.</p>"
    },
    "AwsEcrContainerImageDetails":{
      "type":"structure",
      "required":[
        "imageHash",
        "registry",
        "repositoryName"
      ],
      "members":{
        "architecture":{
          "shape":"NonEmptyString",
          "documentation":"<p>The architecture of the Amazon ECR container image.</p>"
        },
        "author":{
          "shape":"String",
          "documentation":"<p>The image author of the Amazon ECR container image.</p>"
        },
        "imageHash":{
          "shape":"ImageHash",
          "documentation":"<p>The image hash of the Amazon ECR container image.</p>"
        },
        "imageTags":{
          "shape":"ImageTagList",
          "documentation":"<p>The image tags attached to the Amazon ECR container image.</p>"
        },
        "platform":{
          "shape":"Platform",
          "documentation":"<p>The platform of the Amazon ECR container image.</p>"
        },
        "pushedAt":{
          "shape":"DateTimeTimestamp",
          "documentation":"<p>The date and time the Amazon ECR container image was pushed.</p>"
        },
        "registry":{
          "shape":"NonEmptyString",
          "documentation":"<p>The registry for the Amazon ECR container image.</p>"
        },
        "repositoryName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the repository the Amazon ECR container image resides in.</p>"
        }
      },
      "documentation":"<p>The image details of the Amazon ECR container image.</p>"
    },
    "AwsEcrContainerSortBy":{
      "type":"string",
      "enum":[
        "CRITICAL",
        "HIGH",
        "ALL"
      ]
    },
    "AwsLambdaFunctionDetails":{
      "type":"structure",
      "required":[
        "codeSha256",
        "executionRoleArn",
        "functionName",
        "runtime",
        "version"
      ],
      "members":{
        "architectures":{
          "shape":"ArchitectureList",
          "documentation":"<p>The instruction set architecture that the Amazon Web Services Lambda function supports. Architecture is a string array with one of the valid values. The default architecture value is <code>x86_64</code>.</p>"
        },
        "codeSha256":{
          "shape":"NonEmptyString",
          "documentation":"<p>The SHA256 hash of the Amazon Web Services Lambda function's deployment package.</p>"
        },
        "executionRoleArn":{
          "shape":"ExecutionRoleArn",
          "documentation":"<p>The Amazon Web Services Lambda function's execution role.</p>"
        },
        "functionName":{
          "shape":"FunctionName",
          "documentation":"<p>The name of the Amazon Web Services Lambda function.</p>"
        },
        "lastModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that a user last updated the configuration, in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601 format</a> </p>"
        },
        "layers":{
          "shape":"LayerList",
          "documentation":"<p>The Amazon Web Services Lambda function's <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\"> layers</a>. A Lambda function can have up to five layers.</p>"
        },
        "packageType":{
          "shape":"PackageType",
          "documentation":"<p>The type of deployment package. Set to <code>Image</code> for container image and set <code>Zip</code> for .zip file archive.</p>"
        },
        "runtime":{
          "shape":"Runtime",
          "documentation":"<p>The runtime environment for the Amazon Web Services Lambda function.</p>"
        },
        "version":{
          "shape":"Version",
          "documentation":"<p>The version of the Amazon Web Services Lambda function.</p>"
        },
        "vpcConfig":{
          "shape":"LambdaVpcConfig",
          "documentation":"<p>The Amazon Web Services Lambda function's networking configuration.</p>"
        }
      },
      "documentation":"<p> A summary of information about the Amazon Web Services Lambda function.</p>"
    },
    "BadRequestException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>One or more tags submitted as part of the request is not valid.</p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "BatchGetAccountStatusRequest":{
      "type":"structure",
      "members":{
        "accountIds":{
          "shape":"AccountIdSet",
          "documentation":"<p>The 12-digit Amazon Web Services account IDs of the accounts to retrieve Amazon Inspector status for.</p>"
        }
      }
    },
    "BatchGetAccountStatusResponse":{
      "type":"structure",
      "required":["accounts"],
      "members":{
        "accounts":{
          "shape":"AccountStateList",
          "documentation":"<p>An array of objects that provide details on the status of Amazon Inspector for each of the requested accounts.</p>"
        },
        "failedAccounts":{
          "shape":"FailedAccountList",
          "documentation":"<p>An array of objects detailing any accounts that failed to enable Amazon Inspector and why.</p>"
        }
      }
    },
    "BatchGetCodeSnippetRequest":{
      "type":"structure",
      "required":["findingArns"],
      "members":{
        "findingArns":{
          "shape":"BatchGetCodeSnippetRequestFindingArnsList",
          "documentation":"<p>An array of finding ARNs for the findings you want to retrieve code snippets from.</p>"
        }
      }
    },
    "BatchGetCodeSnippetRequestFindingArnsList":{
      "type":"list",
      "member":{"shape":"FindingArn"},
      "max":10,
      "min":1
    },
    "BatchGetCodeSnippetResponse":{
      "type":"structure",
      "members":{
        "codeSnippetResults":{
          "shape":"CodeSnippetResultList",
          "documentation":"<p>The retrieved code snippets associated with the provided finding ARNs.</p>"
        },
        "errors":{
          "shape":"CodeSnippetErrorList",
          "documentation":"<p>Any errors Amazon Inspector encountered while trying to retrieve the requested code snippets.</p>"
        }
      }
    },
    "BatchGetFindingDetailsRequest":{
      "type":"structure",
      "required":["findingArns"],
      "members":{
        "findingArns":{
          "shape":"FindingArnList",
          "documentation":"<p>A list of finding ARNs.</p>"
        }
      }
    },
    "BatchGetFindingDetailsResponse":{
      "type":"structure",
      "members":{
        "errors":{
          "shape":"FindingDetailsErrorList",
          "documentation":"<p>Error information for findings that details could not be returned for.</p>"
        },
        "findingDetails":{
          "shape":"FindingDetails",
          "documentation":"<p>A finding's vulnerability details.</p>"
        }
      }
    },
    "BatchGetFreeTrialInfoRequest":{
      "type":"structure",
      "required":["accountIds"],
      "members":{
        "accountIds":{
          "shape":"BatchGetFreeTrialInfoRequestAccountIdsList",
          "documentation":"<p>The account IDs to get free trial status for.</p>"
        }
      }
    },
    "BatchGetFreeTrialInfoRequestAccountIdsList":{
      "type":"list",
      "member":{"shape":"MeteringAccountId"},
      "max":100,
      "min":1
    },
    "BatchGetFreeTrialInfoResponse":{
      "type":"structure",
      "required":[
        "accounts",
        "failedAccounts"
      ],
      "members":{
        "accounts":{
          "shape":"FreeTrialAccountInfoList",
          "documentation":"<p>An array of objects that provide Amazon Inspector free trial details for each of the requested accounts. </p>"
        },
        "failedAccounts":{
          "shape":"FreeTrialInfoErrorList",
          "documentation":"<p>An array of objects detailing any accounts that free trial data could not be returned for.</p>"
        }
      }
    },
    "BatchGetMemberEc2DeepInspectionStatusRequest":{
      "type":"structure",
      "members":{
        "accountIds":{
          "shape":"AccountIdSet",
          "documentation":"<p>The unique identifiers for the Amazon Web Services accounts to retrieve Amazon Inspector deep inspection activation status for. <pre><code> &lt;/p&gt; </code></pre>"
        }
      }
    },
    "BatchGetMemberEc2DeepInspectionStatusResponse":{
      "type":"structure",
      "members":{
        "accountIds":{
          "shape":"MemberAccountEc2DeepInspectionStatusStateList",
          "documentation":"<p>An array of objects that provide details on the activation status of Amazon Inspector deep inspection for each of the requested accounts. <pre><code> &lt;/p&gt; </code></pre>"
        },
        "failedAccountIds":{
          "shape":"FailedMemberAccountEc2DeepInspectionStatusStateList",
          "documentation":"<p>An array of objects that provide details on any accounts that failed to activate Amazon Inspector deep inspection and why. <pre><code> &lt;/p&gt; </code></pre>"
        }
      }
    },
    "BatchUpdateMemberEc2DeepInspectionStatusRequest":{
      "type":"structure",
      "required":["accountIds"],
      "members":{
        "accountIds":{
          "shape":"MemberAccountEc2DeepInspectionStatusList",
          "documentation":"<p>The unique identifiers for the Amazon Web Services accounts to change Amazon Inspector deep inspection status for.</p>"
        }
      }
    },
    "BatchUpdateMemberEc2DeepInspectionStatusResponse":{
      "type":"structure",
      "members":{
        "accountIds":{
          "shape":"MemberAccountEc2DeepInspectionStatusStateList",
          "documentation":"<p>An array of objects that provide details for each of the accounts that Amazon Inspector deep inspection status was successfully changed for. </p>"
        },
        "failedAccountIds":{
          "shape":"FailedMemberAccountEc2DeepInspectionStatusStateList",
          "documentation":"<p>An array of objects that provide details for each of the accounts that Amazon Inspector deep inspection status could not be successfully changed for. </p>"
        }
      }
    },
    "BenchmarkProfile":{
      "type":"string",
      "max":128,
      "min":0
    },
    "BenchmarkVersion":{
      "type":"string",
      "max":8,
      "min":0
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "CancelFindingsReportRequest":{
      "type":"structure",
      "required":["reportId"],
      "members":{
        "reportId":{
          "shape":"ReportId",
          "documentation":"<p>The ID of the report to be canceled.</p>"
        }
      }
    },
    "CancelFindingsReportResponse":{
      "type":"structure",
      "required":["reportId"],
      "members":{
        "reportId":{
          "shape":"ReportId",
          "documentation":"<p>The ID of the canceled report.</p>"
        }
      }
    },
    "CancelSbomExportRequest":{
      "type":"structure",
      "required":["reportId"],
      "members":{
        "reportId":{
          "shape":"ReportId",
          "documentation":"<p>The report ID of the SBOM export to cancel.</p>"
        }
      }
    },
    "CancelSbomExportResponse":{
      "type":"structure",
      "members":{
        "reportId":{
          "shape":"ReportId",
          "documentation":"<p>The report ID of the canceled SBOM export.</p>"
        }
      }
    },
    "CheckCount":{
      "type":"integer",
      "max":65536,
      "min":0
    },
    "CheckIdFilterList":{
      "type":"list",
      "member":{"shape":"CisStringFilter"},
      "max":10,
      "min":1
    },
    "CisAccountIdList":{
      "type":"list",
      "member":{"shape":"AccountId"},
      "max":10000,
      "min":1
    },
    "CisCheckAggregation":{
      "type":"structure",
      "required":["scanArn"],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The account ID for the CIS check.</p>"
        },
        "checkDescription":{
          "shape":"String",
          "documentation":"<p>The description for the CIS check.</p>"
        },
        "checkId":{
          "shape":"String",
          "documentation":"<p>The check ID for the CIS check.</p>"
        },
        "level":{
          "shape":"CisSecurityLevel",
          "documentation":"<p>The CIS check level.</p>"
        },
        "platform":{
          "shape":"String",
          "documentation":"<p>The CIS check platform.</p>"
        },
        "scanArn":{
          "shape":"CisScanArn",
          "documentation":"<p>The scan ARN for the CIS check scan ARN.</p>"
        },
        "statusCounts":{
          "shape":"StatusCounts",
          "documentation":"<p>The CIS check status counts.</p>"
        },
        "title":{
          "shape":"String",
          "documentation":"<p>The CIS check title.</p>"
        }
      },
      "documentation":"<p>A CIS check.</p>"
    },
    "CisCheckAggregationList":{
      "type":"list",
      "member":{"shape":"CisCheckAggregation"},
      "max":1000,
      "min":1
    },
    "CisDateFilter":{
      "type":"structure",
      "members":{
        "earliestScanStartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The CIS date filter's earliest scan start time.</p>"
        },
        "latestScanStartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The CIS date filter's latest scan start time.</p>"
        }
      },
      "documentation":"<p>The CIS date filter.</p>"
    },
    "CisFindingArn":{
      "type":"string",
      "pattern":"^arn:aws(-gov|-cn)?:inspector2:[-.a-z0-9]{0,20}:\\d{12}:owner/\\d{12}/cis-finding/[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
    },
    "CisFindingArnFilterList":{
      "type":"list",
      "member":{"shape":"CisStringFilter"},
      "max":10,
      "min":1
    },
    "CisFindingStatus":{
      "type":"string",
      "enum":[
        "PASSED",
        "FAILED",
        "SKIPPED"
      ]
    },
    "CisFindingStatusComparison":{
      "type":"string",
      "enum":["EQUALS"]
    },
    "CisFindingStatusFilter":{
      "type":"structure",
      "required":[
        "comparison",
        "value"
      ],
      "members":{
        "comparison":{
          "shape":"CisFindingStatusComparison",
          "documentation":"<p>The comparison value of the CIS finding status filter.</p>"
        },
        "value":{
          "shape":"CisFindingStatus",
          "documentation":"<p>The value of the CIS finding status filter.</p>"
        }
      },
      "documentation":"<p>The CIS finding status filter.</p>"
    },
    "CisFindingStatusFilterList":{
      "type":"list",
      "member":{"shape":"CisFindingStatusFilter"},
      "max":10,
      "min":1
    },
    "CisNumberFilter":{
      "type":"structure",
      "members":{
        "lowerInclusive":{
          "shape":"Integer",
          "documentation":"<p>The CIS number filter's lower inclusive.</p>"
        },
        "upperInclusive":{
          "shape":"Integer",
          "documentation":"<p>The CIS number filter's upper inclusive.</p>"
        }
      },
      "documentation":"<p>The CIS number filter.</p>"
    },
    "CisNumberFilterList":{
      "type":"list",
      "member":{"shape":"CisNumberFilter"},
      "max":10,
      "min":1
    },
    "CisOwnerId":{
      "type":"string",
      "pattern":"^\\d{12}|o-[a-z0-9]{10,32}$"
    },
    "CisReportFormat":{
      "type":"string",
      "enum":[
        "PDF",
        "CSV"
      ]
    },
    "CisReportStatus":{
      "type":"string",
      "enum":[
        "SUCCEEDED",
        "FAILED",
        "IN_PROGRESS"
      ]
    },
    "CisResultStatus":{
      "type":"string",
      "enum":[
        "PASSED",
        "FAILED",
        "SKIPPED"
      ]
    },
    "CisResultStatusComparison":{
      "type":"string",
      "enum":["EQUALS"]
    },
    "CisResultStatusFilter":{
      "type":"structure",
      "required":[
        "comparison",
        "value"
      ],
      "members":{
        "comparison":{
          "shape":"CisResultStatusComparison",
          "documentation":"<p>The comparison value of the CIS result status filter.</p>"
        },
        "value":{
          "shape":"CisResultStatus",
          "documentation":"<p>The value of the CIS result status filter.</p>"
        }
      },
      "documentation":"<p>The CIS result status filter.</p>"
    },
    "CisResultStatusFilterList":{
      "type":"list",
      "member":{"shape":"CisResultStatusFilter"},
      "max":10,
      "min":1
    },
    "CisRuleDetails":{
      "type":"blob",
      "max":1000,
      "min":0
    },
    "CisRuleStatus":{
      "type":"string",
      "enum":[
        "FAILED",
        "PASSED",
        "NOT_EVALUATED",
        "INFORMATIONAL",
        "UNKNOWN",
        "NOT_APPLICABLE",
        "ERROR"
      ]
    },
    "CisScan":{
      "type":"structure",
      "required":[
        "scanArn",
        "scanConfigurationArn"
      ],
      "members":{
        "failedChecks":{
          "shape":"Integer",
          "documentation":"<p>The CIS scan's failed checks.</p>"
        },
        "scanArn":{
          "shape":"CisScanArn",
          "documentation":"<p>The CIS scan's ARN.</p>"
        },
        "scanConfigurationArn":{
          "shape":"CisScanConfigurationArn",
          "documentation":"<p>The CIS scan's configuration ARN.</p>"
        },
        "scanDate":{
          "shape":"Timestamp",
          "documentation":"<p>The CIS scan's date.</p>"
        },
        "scanName":{
          "shape":"CisScanName",
          "documentation":"<p>The the name of the scan configuration that's associated with this scan.</p>"
        },
        "scheduledBy":{
          "shape":"String",
          "documentation":"<p>The account or organization that schedules the CIS scan.</p>"
        },
        "securityLevel":{
          "shape":"CisSecurityLevel",
          "documentation":"<p> The security level for the CIS scan. Security level refers to the Benchmark levels that CIS assigns to a profile. </p>"
        },
        "status":{
          "shape":"CisScanStatus",
          "documentation":"<p>The CIS scan's status.</p>"
        },
        "targets":{
          "shape":"CisTargets",
          "documentation":"<p>The CIS scan's targets.</p>"
        },
        "totalChecks":{
          "shape":"Integer",
          "documentation":"<p>The CIS scan's total checks.</p>"
        }
      },
      "documentation":"<p>The CIS scan.</p>"
    },
    "CisScanArn":{
      "type":"string",
      "pattern":"^arn:aws(-us-gov|-cn)?:inspector2:[-.a-z0-9]{0,20}:\\d{12}:owner/(\\d{12}|o-[a-z0-9]{10,32})/cis-scan/[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
    },
    "CisScanArnFilterList":{
      "type":"list",
      "member":{"shape":"CisStringFilter"},
      "max":10,
      "min":1
    },
    "CisScanConfiguration":{
      "type":"structure",
      "required":["scanConfigurationArn"],
      "members":{
        "ownerId":{
          "shape":"CisOwnerId",
          "documentation":"<p>The CIS scan configuration's owner ID.</p>"
        },
        "scanConfigurationArn":{
          "shape":"CisScanConfigurationArn",
          "documentation":"<p>The CIS scan configuration's scan configuration ARN.</p>"
        },
        "scanName":{
          "shape":"CisScanName",
          "documentation":"<p>The name of the CIS scan configuration.</p>"
        },
        "schedule":{
          "shape":"Schedule",
          "documentation":"<p>The CIS scan configuration's schedule.</p>"
        },
        "securityLevel":{
          "shape":"CisSecurityLevel",
          "documentation":"<p>The CIS scan configuration's security level.</p>"
        },
        "tags":{
          "shape":"CisTagMap",
          "documentation":"<p>The CIS scan configuration's tags.</p>"
        },
        "targets":{
          "shape":"CisTargets",
          "documentation":"<p>The CIS scan configuration's targets.</p>"
        }
      },
      "documentation":"<p>The CIS scan configuration.</p>"
    },
    "CisScanConfigurationArn":{
      "type":"string",
      "pattern":"^arn:aws(-us-gov|-cn)?:inspector2:[a-z]{2}(-gov)?-[a-z]+-[0-9]{1}:[0-9]{12}:owner/(o-[a-z0-9]+|[0-9]{12})/cis-configuration/[0-9a-fA-F-]+$"
    },
    "CisScanConfigurationArnFilterList":{
      "type":"list",
      "member":{"shape":"CisStringFilter"},
      "max":10,
      "min":1
    },
    "CisScanConfigurationList":{
      "type":"list",
      "member":{"shape":"CisScanConfiguration"},
      "max":100,
      "min":0
    },
    "CisScanConfigurationsSortBy":{
      "type":"string",
      "enum":[
        "SCAN_NAME",
        "SCAN_CONFIGURATION_ARN"
      ]
    },
    "CisScanDateFilterList":{
      "type":"list",
      "member":{"shape":"CisDateFilter"},
      "max":1,
      "min":1
    },
    "CisScanList":{
      "type":"list",
      "member":{"shape":"CisScan"},
      "max":50,
      "min":0
    },
    "CisScanName":{
      "type":"string",
      "max":128,
      "min":1
    },
    "CisScanNameFilterList":{
      "type":"list",
      "member":{"shape":"CisStringFilter"},
      "max":10,
      "min":1
    },
    "CisScanResultDetails":{
      "type":"structure",
      "required":["scanArn"],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The CIS scan result details' account ID.</p>"
        },
        "checkDescription":{
          "shape":"String",
          "documentation":"<p>The account ID that's associated with the CIS scan result details.</p>"
        },
        "checkId":{
          "shape":"String",
          "documentation":"<p>The CIS scan result details' check ID.</p>"
        },
        "findingArn":{
          "shape":"CisFindingArn",
          "documentation":"<p>The CIS scan result details' finding ARN.</p>"
        },
        "level":{
          "shape":"CisSecurityLevel",
          "documentation":"<p>The CIS scan result details' level.</p>"
        },
        "platform":{
          "shape":"String",
          "documentation":"<p>The CIS scan result details' platform.</p>"
        },
        "remediation":{
          "shape":"String",
          "documentation":"<p>The CIS scan result details' remediation.</p>"
        },
        "scanArn":{
          "shape":"CisScanArn",
          "documentation":"<p>The CIS scan result details' scan ARN.</p>"
        },
        "status":{
          "shape":"CisFindingStatus",
          "documentation":"<p>The CIS scan result details' status.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>The CIS scan result details' status reason.</p>"
        },
        "targetResourceId":{
          "shape":"ResourceId",
          "documentation":"<p>The CIS scan result details' target resource ID.</p>"
        },
        "title":{
          "shape":"String",
          "documentation":"<p>The CIS scan result details' title.</p>"
        }
      },
      "documentation":"<p>The CIS scan result details.</p>"
    },
    "CisScanResultDetailsFilterCriteria":{
      "type":"structure",
      "members":{
        "checkIdFilters":{
          "shape":"CheckIdFilterList",
          "documentation":"<p>The criteria's check ID filters.</p>"
        },
        "findingArnFilters":{
          "shape":"CisFindingArnFilterList",
          "documentation":"<p>The criteria's finding ARN filters.</p>"
        },
        "findingStatusFilters":{
          "shape":"CisFindingStatusFilterList",
          "documentation":"<p>The criteria's finding status filters.</p>"
        },
        "securityLevelFilters":{
          "shape":"CisSecurityLevelFilterList",
          "documentation":"<p> The criteria's security level filters. . Security level refers to the Benchmark levels that CIS assigns to a profile. </p>"
        },
        "titleFilters":{
          "shape":"TitleFilterList",
          "documentation":"<p>The criteria's title filters.</p>"
        }
      },
      "documentation":"<p>The CIS scan result details filter criteria.</p>"
    },
    "CisScanResultDetailsList":{
      "type":"list",
      "member":{"shape":"CisScanResultDetails"},
      "max":1000,
      "min":1
    },
    "CisScanResultDetailsSortBy":{
      "type":"string",
      "enum":[
        "CHECK_ID",
        "STATUS"
      ]
    },
    "CisScanResultsAggregatedByChecksFilterCriteria":{
      "type":"structure",
      "members":{
        "accountIdFilters":{
          "shape":"OneAccountIdFilterList",
          "documentation":"<p>The criteria's account ID filters.</p>"
        },
        "checkIdFilters":{
          "shape":"CheckIdFilterList",
          "documentation":"<p>The criteria's check ID filters.</p>"
        },
        "failedResourcesFilters":{
          "shape":"CisNumberFilterList",
          "documentation":"<p>The criteria's failed resources filters.</p>"
        },
        "platformFilters":{
          "shape":"PlatformFilterList",
          "documentation":"<p>The criteria's platform filters.</p>"
        },
        "securityLevelFilters":{
          "shape":"CisSecurityLevelFilterList",
          "documentation":"<p>The criteria's security level filters.</p>"
        },
        "titleFilters":{
          "shape":"TitleFilterList",
          "documentation":"<p>The criteria's title filters.</p>"
        }
      },
      "documentation":"<p>The scan results aggregated by checks filter criteria.</p>"
    },
    "CisScanResultsAggregatedByChecksSortBy":{
      "type":"string",
      "enum":[
        "CHECK_ID",
        "TITLE",
        "PLATFORM",
        "FAILED_COUNTS",
        "SECURITY_LEVEL"
      ]
    },
    "CisScanResultsAggregatedByTargetResourceFilterCriteria":{
      "type":"structure",
      "members":{
        "accountIdFilters":{
          "shape":"AccountIdFilterList",
          "documentation":"<p>The criteria's account ID filters.</p>"
        },
        "checkIdFilters":{
          "shape":"CheckIdFilterList",
          "documentation":"<p>The criteria's check ID filters.</p>"
        },
        "failedChecksFilters":{
          "shape":"CisNumberFilterList",
          "documentation":"<p>The criteria's failed checks filters.</p>"
        },
        "platformFilters":{
          "shape":"PlatformFilterList",
          "documentation":"<p>The criteria's platform filters.</p>"
        },
        "statusFilters":{
          "shape":"CisResultStatusFilterList",
          "documentation":"<p>The criteria's status filter.</p>"
        },
        "targetResourceIdFilters":{
          "shape":"ResourceIdFilterList",
          "documentation":"<p>The criteria's target resource ID filters.</p>"
        },
        "targetResourceTagFilters":{
          "shape":"ResourceTagFilterList",
          "documentation":"<p>The criteria's target resource tag filters.</p>"
        },
        "targetStatusFilters":{
          "shape":"TargetStatusFilterList",
          "documentation":"<p>The criteria's target status filters.</p>"
        },
        "targetStatusReasonFilters":{
          "shape":"TargetStatusReasonFilterList",
          "documentation":"<p>The criteria's target status reason filters.</p>"
        }
      },
      "documentation":"<p>The scan results aggregated by target resource filter criteria.</p>"
    },
    "CisScanResultsAggregatedByTargetResourceSortBy":{
      "type":"string",
      "enum":[
        "RESOURCE_ID",
        "FAILED_COUNTS",
        "ACCOUNT_ID",
        "PLATFORM",
        "TARGET_STATUS",
        "TARGET_STATUS_REASON"
      ]
    },
    "CisScanResultsMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "CisScanStatus":{
      "type":"string",
      "enum":[
        "FAILED",
        "COMPLETED",
        "CANCELLED",
        "IN_PROGRESS"
      ]
    },
    "CisScanStatusComparison":{
      "type":"string",
      "enum":["EQUALS"]
    },
    "CisScanStatusFilter":{
      "type":"structure",
      "required":[
        "comparison",
        "value"
      ],
      "members":{
        "comparison":{
          "shape":"CisScanStatusComparison",
          "documentation":"<p>The filter comparison value.</p>"
        },
        "value":{
          "shape":"CisScanStatus",
          "documentation":"<p>The filter value.</p>"
        }
      },
      "documentation":"<p>The CIS scan status filter.</p>"
    },
    "CisScanStatusFilterList":{
      "type":"list",
      "member":{"shape":"CisScanStatusFilter"},
      "max":10,
      "min":1
    },
    "CisScheduledByFilterList":{
      "type":"list",
      "member":{"shape":"CisStringFilter"},
      "max":10,
      "min":1
    },
    "CisSecurityLevel":{
      "type":"string",
      "enum":[
        "LEVEL_1",
        "LEVEL_2"
      ]
    },
    "CisSecurityLevelComparison":{
      "type":"string",
      "enum":["EQUALS"]
    },
    "CisSecurityLevelFilter":{
      "type":"structure",
      "required":[
        "comparison",
        "value"
      ],
      "members":{
        "comparison":{
          "shape":"CisSecurityLevelComparison",
          "documentation":"<p>The CIS security filter comparison value.</p>"
        },
        "value":{
          "shape":"CisSecurityLevel",
          "documentation":"<p>The CIS security filter value.</p>"
        }
      },
      "documentation":"<p> The CIS security level filter. Security level refers to the Benchmark levels that CIS assigns to a profile. </p>"
    },
    "CisSecurityLevelFilterList":{
      "type":"list",
      "member":{"shape":"CisSecurityLevelFilter"},
      "max":10,
      "min":1
    },
    "CisSessionMessage":{
      "type":"structure",
      "required":[
        "cisRuleDetails",
        "ruleId",
        "status"
      ],
      "members":{
        "cisRuleDetails":{
          "shape":"CisRuleDetails",
          "documentation":"<p>The CIS rule details for the CIS session message.</p>"
        },
        "ruleId":{
          "shape":"RuleId",
          "documentation":"<p>The rule ID for the CIS session message.</p>"
        },
        "status":{
          "shape":"CisRuleStatus",
          "documentation":"<p>The status of the CIS session message.</p>"
        }
      },
      "documentation":"<p>The CIS session message.</p>"
    },
    "CisSessionMessages":{
      "type":"list",
      "member":{"shape":"CisSessionMessage"},
      "max":150,
      "min":1
    },
    "CisSortOrder":{
      "type":"string",
      "enum":[
        "ASC",
        "DESC"
      ]
    },
    "CisStringComparison":{
      "type":"string",
      "enum":[
        "EQUALS",
        "PREFIX",
        "NOT_EQUALS"
      ]
    },
    "CisStringFilter":{
      "type":"structure",
      "required":[
        "comparison",
        "value"
      ],
      "members":{
        "comparison":{
          "shape":"CisStringComparison",
          "documentation":"<p>The comparison value of the CIS string filter.</p>"
        },
        "value":{
          "shape":"String",
          "documentation":"<p>The value of the CIS string filter.</p>"
        }
      },
      "documentation":"<p>The CIS string filter.</p>"
    },
    "CisTagMap":{
      "type":"map",
      "key":{"shape":"MapKey"},
      "value":{"shape":"MapValue"}
    },
    "CisTargetResourceAggregation":{
      "type":"structure",
      "required":["scanArn"],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The account ID for the CIS target resource.</p>"
        },
        "platform":{
          "shape":"String",
          "documentation":"<p>The platform for the CIS target resource.</p>"
        },
        "scanArn":{
          "shape":"CisScanArn",
          "documentation":"<p>The scan ARN for the CIS target resource.</p>"
        },
        "statusCounts":{
          "shape":"StatusCounts",
          "documentation":"<p>The target resource status counts.</p>"
        },
        "targetResourceId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the target resource.</p>"
        },
        "targetResourceTags":{
          "shape":"TargetResourceTags",
          "documentation":"<p>The tag for the target resource.</p>"
        },
        "targetStatus":{
          "shape":"CisTargetStatus",
          "documentation":"<p>The status of the target resource.</p>"
        },
        "targetStatusReason":{
          "shape":"CisTargetStatusReason",
          "documentation":"<p>The reason for the target resource.</p>"
        }
      },
      "documentation":"<p>The CIS target resource aggregation.</p>"
    },
    "CisTargetResourceAggregationList":{
      "type":"list",
      "member":{"shape":"CisTargetResourceAggregation"},
      "max":1000,
      "min":1
    },
    "CisTargetStatus":{
      "type":"string",
      "enum":[
        "TIMED_OUT",
        "CANCELLED",
        "COMPLETED"
      ]
    },
    "CisTargetStatusComparison":{
      "type":"string",
      "enum":["EQUALS"]
    },
    "CisTargetStatusFilter":{
      "type":"structure",
      "required":[
        "comparison",
        "value"
      ],
      "members":{
        "comparison":{
          "shape":"CisTargetStatusComparison",
          "documentation":"<p>The comparison value of the CIS target status filter.</p>"
        },
        "value":{
          "shape":"CisTargetStatus",
          "documentation":"<p>The value of the CIS target status filter.</p>"
        }
      },
      "documentation":"<p>The CIS target status filter.</p>"
    },
    "CisTargetStatusReason":{
      "type":"string",
      "enum":[
        "SCAN_IN_PROGRESS",
        "UNSUPPORTED_OS",
        "SSM_UNMANAGED"
      ]
    },
    "CisTargetStatusReasonFilter":{
      "type":"structure",
      "required":[
        "comparison",
        "value"
      ],
      "members":{
        "comparison":{
          "shape":"CisTargetStatusComparison",
          "documentation":"<p>The comparison value of the CIS target status reason filter.</p>"
        },
        "value":{
          "shape":"CisTargetStatusReason",
          "documentation":"<p>The value of the CIS target status reason filter.</p>"
        }
      },
      "documentation":"<p>The CIS target status reason filter.</p>"
    },
    "CisTargets":{
      "type":"structure",
      "members":{
        "accountIds":{
          "shape":"CisAccountIdList",
          "documentation":"<p>The CIS target account ids.</p>"
        },
        "targetResourceTags":{
          "shape":"TargetResourceTags",
          "documentation":"<p>The CIS target resource tags.</p>"
        }
      },
      "documentation":"<p>The CIS targets.</p>"
    },
    "CisaAction":{
      "type":"string",
      "min":0
    },
    "CisaData":{
      "type":"structure",
      "members":{
        "action":{
          "shape":"CisaAction",
          "documentation":"<p>The remediation action recommended by CISA for this vulnerability.</p>"
        },
        "dateAdded":{
          "shape":"CisaDateAdded",
          "documentation":"<p>The date and time CISA added this vulnerability to their catalogue.</p>"
        },
        "dateDue":{
          "shape":"CisaDateDue",
          "documentation":"<p>The date and time CISA expects a fix to have been provided vulnerability.</p>"
        }
      },
      "documentation":"<p>The Cybersecurity and Infrastructure Security Agency (CISA) details for a specific vulnerability.</p>"
    },
    "CisaDateAdded":{"type":"timestamp"},
    "CisaDateDue":{"type":"timestamp"},
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1
    },
    "CodeFilePath":{
      "type":"structure",
      "required":[
        "endLine",
        "fileName",
        "filePath",
        "startLine"
      ],
      "members":{
        "endLine":{
          "shape":"Integer",
          "documentation":"<p>The line number of the last line of code that a vulnerability was found in.</p>"
        },
        "fileName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the file the code vulnerability was found in.</p>"
        },
        "filePath":{
          "shape":"NonEmptyString",
          "documentation":"<p>The file path to the code that a vulnerability was found in.</p>"
        },
        "startLine":{
          "shape":"Integer",
          "documentation":"<p>The line number of the first line of code that a vulnerability was found in.</p>"
        }
      },
      "documentation":"<p>Contains information on where a code vulnerability is located in your Lambda function.</p>"
    },
    "CodeLine":{
      "type":"structure",
      "required":[
        "content",
        "lineNumber"
      ],
      "members":{
        "content":{
          "shape":"CodeLineContentString",
          "documentation":"<p>The content of a line of code</p>"
        },
        "lineNumber":{
          "shape":"Integer",
          "documentation":"<p>The line number that a section of code is located at.</p>"
        }
      },
      "documentation":"<p>Contains information on the lines of code associated with a code snippet.</p>"
    },
    "CodeLineContentString":{
      "type":"string",
      "max":240,
      "min":0
    },
    "CodeLineList":{
      "type":"list",
      "member":{"shape":"CodeLine"},
      "max":20,
      "min":1
    },
    "CodeSnippetError":{
      "type":"structure",
      "required":[
        "errorCode",
        "errorMessage",
        "findingArn"
      ],
      "members":{
        "errorCode":{
          "shape":"CodeSnippetErrorCode",
          "documentation":"<p>The error code for the error that prevented a code snippet from being retrieved.</p>"
        },
        "errorMessage":{
          "shape":"NonEmptyString",
          "documentation":"<p>The error message received when Amazon Inspector failed to retrieve a code snippet.</p>"
        },
        "findingArn":{
          "shape":"FindingArn",
          "documentation":"<p>The ARN of the finding that a code snippet couldn't be retrieved for.</p>"
        }
      },
      "documentation":"<p>Contains information about any errors encountered while trying to retrieve a code snippet.</p>"
    },
    "CodeSnippetErrorCode":{
      "type":"string",
      "enum":[
        "INTERNAL_ERROR",
        "ACCESS_DENIED",
        "CODE_SNIPPET_NOT_FOUND",
        "INVALID_INPUT"
      ]
    },
    "CodeSnippetErrorList":{
      "type":"list",
      "member":{"shape":"CodeSnippetError"}
    },
    "CodeSnippetResult":{
      "type":"structure",
      "members":{
        "codeSnippet":{
          "shape":"CodeLineList",
          "documentation":"<p>Contains information on the retrieved code snippet.</p>"
        },
        "endLine":{
          "shape":"Integer",
          "documentation":"<p>The line number of the last line of a code snippet.</p>"
        },
        "findingArn":{
          "shape":"FindingArn",
          "documentation":"<p>The ARN of a finding that the code snippet is associated with.</p>"
        },
        "startLine":{
          "shape":"Integer",
          "documentation":"<p>The line number of the first line of a code snippet.</p>"
        },
        "suggestedFixes":{
          "shape":"SuggestedFixes",
          "documentation":"<p>Details of a suggested code fix.</p>"
        }
      },
      "documentation":"<p>Contains information on a code snippet retrieved by Amazon Inspector from a code vulnerability finding.</p>"
    },
    "CodeSnippetResultList":{
      "type":"list",
      "member":{"shape":"CodeSnippetResult"}
    },
    "CodeVulnerabilityDetails":{
      "type":"structure",
      "required":[
        "cwes",
        "detectorId",
        "detectorName",
        "filePath"
      ],
      "members":{
        "cwes":{
          "shape":"CweList",
          "documentation":"<p>The Common Weakness Enumeration (CWE) item associated with the detected vulnerability.</p>"
        },
        "detectorId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The ID for the Amazon CodeGuru detector associated with the finding. For more information on detectors see <a href=\"https://docs.aws.amazon.com/codeguru/detector-library\">Amazon CodeGuru Detector Library</a>.</p>"
        },
        "detectorName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the detector used to identify the code vulnerability. For more information on detectors see <a href=\"https://docs.aws.amazon.com/codeguru/detector-library\">CodeGuru Detector Library</a>.</p>"
        },
        "detectorTags":{
          "shape":"DetectorTagList",
          "documentation":"<p>The detector tag associated with the vulnerability. Detector tags group related vulnerabilities by common themes or tactics. For a list of available tags by programming language, see <a href=\"https://docs.aws.amazon.com/codeguru/detector-library/java/tags/\">Java tags</a>, or <a href=\"https://docs.aws.amazon.com/codeguru/detector-library/python/tags/\">Python tags</a>. </p>"
        },
        "filePath":{
          "shape":"CodeFilePath",
          "documentation":"<p>Contains information on where the code vulnerability is located in your code.</p>"
        },
        "referenceUrls":{
          "shape":"ReferenceUrls",
          "documentation":"<p>A URL containing supporting documentation about the code vulnerability detected.</p>"
        },
        "ruleId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier for a rule that was used to detect the code vulnerability.</p>"
        },
        "sourceLambdaLayerArn":{
          "shape":"LambdaLayerArn",
[...]
