{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2013-11-01",
    "endpointPrefix":"cloudtrail",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"CloudTrail",
    "serviceFullName":"AWS CloudTrail",
    "serviceId":"CloudTrail",
    "signatureVersion":"v4",
    "targetPrefix":"com.amazonaws.cloudtrail.v20131101.CloudTrail_20131101",
    "uid":"cloudtrail-2013-11-01"
  },
  "operations":{
    "AddTags":{
      "name":"AddTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsRequest"},
      "output":{"shape":"AddTagsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"CloudTrailARNInvalidException"},
        {"shape":"ResourceTypeNotSupportedException"},
        {"shape":"TagsLimitExceededException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"InvalidTagParameterException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Adds one or more tags to a trail, up to a limit of 50. Overwrites an existing tag's value when a new value is specified for an existing tag key. Tag key names must be unique for a trail; you cannot have two keys with the same name but different values. If you specify a key without a value, the tag will be created with the specified key and a value of null. You can tag a trail that applies to all Amazon Web Services Regions only from the Region in which the trail was created (also known as its home region).</p>",
      "idempotent":true
    },
    "CancelQuery":{
      "name":"CancelQuery",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelQueryRequest"},
      "output":{"shape":"CancelQueryResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"InactiveQueryException"},
        {"shape":"InvalidParameterException"},
        {"shape":"QueryIdNotFoundException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Cancels a query if the query is not in a terminated state, such as <code>CANCELLED</code>, <code>FAILED</code> or <code>FINISHED</code>. You must specify an ARN value for <code>EventDataStore</code>. The ID of the query that you want to cancel is also required. When you run <code>CancelQuery</code>, the query status might show as <code>CANCELLED</code> even if the operation is not yet finished.</p>",
      "idempotent":true
    },
    "CreateEventDataStore":{
      "name":"CreateEventDataStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEventDataStoreRequest"},
      "output":{"shape":"CreateEventDataStoreResponse"},
      "errors":[
        {"shape":"EventDataStoreAlreadyExistsException"},
        {"shape":"EventDataStoreMaxLimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidTagParameterException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"ConflictException"},
        {"shape":"CloudTrailAccessNotEnabledException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"OrganizationsNotInUseException"},
        {"shape":"OrganizationNotInAllFeaturesModeException"}
      ],
      "documentation":"<p>Creates a new event data store.</p>"
    },
    "CreateTrail":{
      "name":"CreateTrail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrailRequest"},
      "output":{"shape":"CreateTrailResponse"},
      "errors":[
        {"shape":"MaximumNumberOfTrailsExceededException"},
        {"shape":"TrailAlreadyExistsException"},
        {"shape":"S3BucketDoesNotExistException"},
        {"shape":"InsufficientS3BucketPolicyException"},
        {"shape":"InsufficientSnsTopicPolicyException"},
        {"shape":"InsufficientEncryptionPolicyException"},
        {"shape":"InvalidS3BucketNameException"},
        {"shape":"InvalidS3PrefixException"},
        {"shape":"InvalidSnsTopicNameException"},
        {"shape":"InvalidKmsKeyIdException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"TrailNotProvidedException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"KmsKeyNotFoundException"},
        {"shape":"KmsKeyDisabledException"},
        {"shape":"KmsException"},
        {"shape":"InvalidCloudWatchLogsLogGroupArnException"},
        {"shape":"InvalidCloudWatchLogsRoleArnException"},
        {"shape":"CloudWatchLogsDeliveryUnavailableException"},
        {"shape":"InvalidTagParameterException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"CloudTrailAccessNotEnabledException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"OrganizationsNotInUseException"},
        {"shape":"OrganizationNotInAllFeaturesModeException"},
        {"shape":"CloudTrailInvalidClientTokenIdException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a trail that specifies the settings for delivery of log data to an Amazon S3 bucket. </p>",
      "idempotent":true
    },
    "DeleteEventDataStore":{
      "name":"DeleteEventDataStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEventDataStoreRequest"},
      "output":{"shape":"DeleteEventDataStoreResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"EventDataStoreTerminationProtectedException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"}
      ],
      "documentation":"<p>Disables the event data store specified by <code>EventDataStore</code>, which accepts an event data store ARN. After you run <code>DeleteEventDataStore</code>, the event data store enters a <code>PENDING_DELETION</code> state, and is automatically deleted after a wait period of seven days. <code>TerminationProtectionEnabled</code> must be set to <code>False</code> on the event data store; this operation cannot work if <code>TerminationProtectionEnabled</code> is <code>True</code>.</p> <p>After you run <code>DeleteEventDataStore</code> on an event data store, you cannot run <code>ListQueries</code>, <code>DescribeQuery</code>, or <code>GetQueryResults</code> on queries that are using an event data store in a <code>PENDING_DELETION</code> state. An event data store in the <code>PENDING_DELETION</code> state does not incur costs.</p>"
    },
    "DeleteTrail":{
      "name":"DeleteTrail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTrailRequest"},
      "output":{"shape":"DeleteTrailResponse"},
      "errors":[
        {"shape":"TrailNotFoundException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"InvalidHomeRegionException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a trail. This operation must be called from the region in which the trail was created. <code>DeleteTrail</code> cannot be called on the shadow trails (replicated trails in other regions) of a trail that is enabled in all regions.</p>",
      "idempotent":true
    },
    "DescribeQuery":{
      "name":"DescribeQuery",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeQueryRequest"},
      "output":{"shape":"DescribeQueryResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"InvalidParameterException"},
        {"shape":"QueryIdNotFoundException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Returns metadata about a query, including query run time in milliseconds, number of events scanned and matched, and query status. You must specify an ARN for <code>EventDataStore</code>, and a value for <code>QueryID</code>.</p>",
      "idempotent":true
    },
    "DescribeTrails":{
      "name":"DescribeTrails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrailsRequest"},
      "output":{"shape":"DescribeTrailsResponse"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"InvalidTrailNameException"}
      ],
      "documentation":"<p>Retrieves settings for one or more trails associated with the current region for your account.</p>",
      "idempotent":true
    },
    "GetEventDataStore":{
      "name":"GetEventDataStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEventDataStoreRequest"},
      "output":{"shape":"GetEventDataStoreResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Returns information about an event data store specified as either an ARN or the ID portion of the ARN.</p>",
      "idempotent":true
    },
    "GetEventSelectors":{
      "name":"GetEventSelectors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEventSelectorsRequest"},
      "output":{"shape":"GetEventSelectorsResponse"},
      "errors":[
        {"shape":"TrailNotFoundException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Describes the settings for the event selectors that you configured for your trail. The information returned for your event selectors includes the following:</p> <ul> <li> <p>If your event selector includes read-only events, write-only events, or all events. This applies to both management events and data events.</p> </li> <li> <p>If your event selector includes management events.</p> </li> <li> <p>If your event selector includes data events, the resources on which you are logging data events.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-management-and-data-events-with-cloudtrail.html\">Logging Data and Management Events for Trails </a> in the <i>CloudTrail User Guide</i>.</p>",
      "idempotent":true
    },
    "GetInsightSelectors":{
      "name":"GetInsightSelectors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInsightSelectorsRequest"},
      "output":{"shape":"GetInsightSelectorsResponse"},
      "errors":[
        {"shape":"TrailNotFoundException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"InsightNotEnabledException"}
      ],
      "documentation":"<p>Describes the settings for the Insights event selectors that you configured for your trail. <code>GetInsightSelectors</code> shows if CloudTrail Insights event logging is enabled on the trail, and if it is, which insight types are enabled. If you run <code>GetInsightSelectors</code> on a trail that does not have Insights events enabled, the operation throws the exception <code>InsightNotEnabledException</code> </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-insights-events-with-cloudtrail.html\">Logging CloudTrail Insights Events for Trails </a> in the <i>CloudTrail User Guide</i>.</p>",
      "idempotent":true
    },
    "GetQueryResults":{
      "name":"GetQueryResults",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetQueryResultsRequest"},
      "output":{"shape":"GetQueryResultsResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"InvalidMaxResultsException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"QueryIdNotFoundException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Gets event data results of a query. You must specify the <code>QueryID</code> value returned by the <code>StartQuery</code> operation, and an ARN for <code>EventDataStore</code>.</p>"
    },
    "GetTrail":{
      "name":"GetTrail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTrailRequest"},
      "output":{"shape":"GetTrailResponse"},
      "errors":[
        {"shape":"TrailNotFoundException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Returns settings information for a specified trail.</p>",
      "idempotent":true
    },
    "GetTrailStatus":{
      "name":"GetTrailStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTrailStatusRequest"},
      "output":{"shape":"GetTrailStatusResponse"},
      "errors":[
        {"shape":"TrailNotFoundException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Returns a JSON-formatted list of information about the specified trail. Fields include information on delivery errors, Amazon SNS and Amazon S3 errors, and start and stop logging times for each trail. This operation returns trail status from a single region. To return trail status from all regions, you must call the operation on each region.</p>",
      "idempotent":true
    },
    "ListEventDataStores":{
      "name":"ListEventDataStores",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEventDataStoresRequest"},
      "output":{"shape":"ListEventDataStoresResponse"},
      "errors":[
        {"shape":"InvalidMaxResultsException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Returns information about all event data stores in the account, in the current region.</p>",
      "idempotent":true
    },
    "ListPublicKeys":{
      "name":"ListPublicKeys",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPublicKeysRequest"},
      "output":{"shape":"ListPublicKeysResponse"},
      "errors":[
        {"shape":"InvalidTimeRangeException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"InvalidTokenException"}
      ],
      "documentation":"<p>Returns all public keys whose private keys were used to sign the digest files within the specified time range. The public key is needed to validate digest files that were signed with its corresponding private key.</p> <note> <p>CloudTrail uses different private and public key pairs per region. Each digest file is signed with a private key unique to its region. When you validate a digest file from a specific region, you must look in the same region for its corresponding public key.</p> </note>",
      "idempotent":true
    },
    "ListQueries":{
      "name":"ListQueries",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListQueriesRequest"},
      "output":{"shape":"ListQueriesResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"InvalidDateRangeException"},
        {"shape":"InvalidMaxResultsException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidQueryStatusException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Returns a list of queries and query statuses for the past seven days. You must specify an ARN value for <code>EventDataStore</code>. Optionally, to shorten the list of results, you can specify a time range, formatted as timestamps, by adding <code>StartTime</code> and <code>EndTime</code> parameters, and a <code>QueryStatus</code> value. Valid values for <code>QueryStatus</code> include <code>QUEUED</code>, <code>RUNNING</code>, <code>FINISHED</code>, <code>FAILED</code>, or <code>CANCELLED</code>.</p>",
      "idempotent":true
    },
    "ListTags":{
      "name":"ListTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsRequest"},
      "output":{"shape":"ListTagsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"CloudTrailARNInvalidException"},
        {"shape":"ResourceTypeNotSupportedException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"InvalidTokenException"}
      ],
      "documentation":"<p>Lists the tags for the trail in the current region.</p>",
      "idempotent":true
    },
    "ListTrails":{
      "name":"ListTrails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrailsRequest"},
      "output":{"shape":"ListTrailsResponse"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Lists trails that are in the current account.</p>",
      "idempotent":true
    },
    "LookupEvents":{
      "name":"LookupEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"LookupEventsRequest"},
      "output":{"shape":"LookupEventsResponse"},
      "errors":[
        {"shape":"InvalidLookupAttributesException"},
        {"shape":"InvalidTimeRangeException"},
        {"shape":"InvalidMaxResultsException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidEventCategoryException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Looks up <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-concepts.html#cloudtrail-concepts-management-events\">management events</a> or <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-concepts.html#cloudtrail-concepts-insights-events\">CloudTrail Insights events</a> that are captured by CloudTrail. You can look up events that occurred in a region within the last 90 days. Lookup supports the following attributes for management events:</p> <ul> <li> <p>Amazon Web Services access key</p> </li> <li> <p>Event ID</p> </li> <li> <p>Event name</p> </li> <li> <p>Event source</p> </li> <li> <p>Read only</p> </li> <li> <p>Resource name</p> </li> <li> <p>Resource type</p> </li> <li> <p>User name</p> </li> </ul> <p>Lookup supports the following attributes for Insights events:</p> <ul> <li> <p>Event ID</p> </li> <li> <p>Event name</p> </li> <li> <p>Event source</p> </li> </ul> <p>All attributes are optional. The default number of results returned is 50, with a maximum of 50 possible. The response includes a token that you can use to get the next page of results.</p> <important> <p>The rate of lookup requests is limited to two per second, per account, per region. If this limit is exceeded, a throttling error occurs.</p> </important>",
      "idempotent":true
    },
    "PutEventSelectors":{
      "name":"PutEventSelectors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutEventSelectorsRequest"},
      "output":{"shape":"PutEventSelectorsResponse"},
      "errors":[
        {"shape":"TrailNotFoundException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"InvalidHomeRegionException"},
        {"shape":"InvalidEventSelectorsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"}
      ],
      "documentation":"<p>Configures an event selector or advanced event selectors for your trail. Use event selectors or advanced event selectors to specify management and data event settings for your trail. By default, trails created without specific event selectors are configured to log all read and write management events, and no data events.</p> <p>When an event occurs in your account, CloudTrail evaluates the event selectors or advanced event selectors in all trails. For each trail, if the event matches any event selector, the trail processes and logs the event. If the event doesn't match any event selector, the trail doesn't log the event.</p> <p>Example</p> <ol> <li> <p>You create an event selector for a trail and specify that you want write-only events.</p> </li> <li> <p>The EC2 <code>GetConsoleOutput</code> and <code>RunInstances</code> API operations occur in your account.</p> </li> <li> <p>CloudTrail evaluates whether the events match your event selectors.</p> </li> <li> <p>The <code>RunInstances</code> is a write-only event and it matches your event selector. The trail logs the event.</p> </li> <li> <p>The <code>GetConsoleOutput</code> is a read-only event that doesn't match your event selector. The trail doesn't log the event. </p> </li> </ol> <p>The <code>PutEventSelectors</code> operation must be called from the region in which the trail was created; otherwise, an <code>InvalidHomeRegionException</code> exception is thrown.</p> <p>You can configure up to five event selectors for each trail. For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-management-and-data-events-with-cloudtrail.html\">Logging data and management events for trails </a> and <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/WhatIsCloudTrail-Limits.html\">Quotas in CloudTrail</a> in the <i>CloudTrail User Guide</i>.</p> <p>You can add advanced event selectors, and conditions for your advanced event selectors, up to a maximum of 500 values for all conditions and selectors on a trail. You can use either <code>AdvancedEventSelectors</code> or <code>EventSelectors</code>, but not both. If you apply <code>AdvancedEventSelectors</code> to a trail, any existing <code>EventSelectors</code> are overwritten. For more information about advanced event selectors, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-data-events-with-cloudtrail.html\">Logging data events for trails</a> in the <i>CloudTrail User Guide</i>.</p>",
      "idempotent":true
    },
    "PutInsightSelectors":{
      "name":"PutInsightSelectors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutInsightSelectorsRequest"},
      "output":{"shape":"PutInsightSelectorsResponse"},
      "errors":[
        {"shape":"TrailNotFoundException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"InvalidHomeRegionException"},
        {"shape":"InvalidInsightSelectorsException"},
        {"shape":"InsufficientS3BucketPolicyException"},
        {"shape":"InsufficientEncryptionPolicyException"},
        {"shape":"S3BucketDoesNotExistException"},
        {"shape":"KmsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"NotOrganizationMasterAccountException"}
      ],
      "documentation":"<p>Lets you enable Insights event logging by specifying the Insights selectors that you want to enable on an existing trail. You also use <code>PutInsightSelectors</code> to turn off Insights event logging, by passing an empty list of insight types. The valid Insights event types in this release are <code>ApiErrorRateInsight</code> and <code>ApiCallRateInsight</code>.</p>",
      "idempotent":true
    },
    "RemoveTags":{
      "name":"RemoveTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveTagsRequest"},
      "output":{"shape":"RemoveTagsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"CloudTrailARNInvalidException"},
        {"shape":"ResourceTypeNotSupportedException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"InvalidTagParameterException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"NotOrganizationMasterAccountException"}
      ],
      "documentation":"<p>Removes the specified tags from a trail.</p>",
      "idempotent":true
    },
    "RestoreEventDataStore":{
      "name":"RestoreEventDataStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreEventDataStoreRequest"},
      "output":{"shape":"RestoreEventDataStoreResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"EventDataStoreMaxLimitExceededException"},
        {"shape":"InvalidEventDataStoreStatusException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"CloudTrailAccessNotEnabledException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"},
        {"shape":"OrganizationsNotInUseException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"OrganizationNotInAllFeaturesModeException"}
      ],
      "documentation":"<p>Restores a deleted event data store specified by <code>EventDataStore</code>, which accepts an event data store ARN. You can only restore a deleted event data store within the seven-day wait period after deletion. Restoring an event data store can take several minutes, depending on the size of the event data store.</p>"
    },
    "StartLogging":{
      "name":"StartLogging",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartLoggingRequest"},
      "output":{"shape":"StartLoggingResponse"},
      "errors":[
        {"shape":"TrailNotFoundException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"InvalidHomeRegionException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"}
      ],
      "documentation":"<p>Starts the recording of Amazon Web Services API calls and log file delivery for a trail. For a trail that is enabled in all regions, this operation must be called from the region in which the trail was created. This operation cannot be called on the shadow trails (replicated trails in other regions) of a trail that is enabled in all regions.</p>",
      "idempotent":true
    },
    "StartQuery":{
      "name":"StartQuery",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartQueryRequest"},
      "output":{"shape":"StartQueryResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidQueryStatementException"},
        {"shape":"MaxConcurrentQueriesException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Starts a CloudTrail Lake query. The required <code>QueryStatement</code> parameter provides your SQL query, enclosed in single quotation marks.</p>",
      "idempotent":true
    },
    "StopLogging":{
      "name":"StopLogging",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopLoggingRequest"},
      "output":{"shape":"StopLoggingResponse"},
      "errors":[
        {"shape":"TrailNotFoundException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"InvalidHomeRegionException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"}
      ],
      "documentation":"<p>Suspends the recording of Amazon Web Services API calls and log file delivery for the specified trail. Under most circumstances, there is no need to use this action. You can update a trail without stopping it first. This action is the only way to stop recording. For a trail enabled in all regions, this operation must be called from the region in which the trail was created, or an <code>InvalidHomeRegionException</code> will occur. This operation cannot be called on the shadow trails (replicated trails in other regions) of a trail enabled in all regions.</p>",
      "idempotent":true
    },
    "UpdateEventDataStore":{
      "name":"UpdateEventDataStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEventDataStoreRequest"},
      "output":{"shape":"UpdateEventDataStoreResponse"},
      "errors":[
        {"shape":"EventDataStoreARNInvalidException"},
        {"shape":"EventDataStoreNotFoundException"},
        {"shape":"InactiveEventDataStoreException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"CloudTrailAccessNotEnabledException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"},
        {"shape":"OrganizationsNotInUseException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"OrganizationNotInAllFeaturesModeException"}
      ],
      "documentation":"<p>Updates an event data store. The required <code>EventDataStore</code> value is an ARN or the ID portion of the ARN. Other parameters are optional, but at least one optional parameter must be specified, or CloudTrail throws an error. <code>RetentionPeriod</code> is in days, and valid values are integers between 90 and 2555. By default, <code>TerminationProtection</code> is enabled. <code>AdvancedEventSelectors</code> includes or excludes management and data events in your event data store; for more information about <code>AdvancedEventSelectors</code>, see <a>PutEventSelectorsRequest$AdvancedEventSelectors</a>.</p>",
      "idempotent":true
    },
    "UpdateTrail":{
      "name":"UpdateTrail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTrailRequest"},
      "output":{"shape":"UpdateTrailResponse"},
      "errors":[
        {"shape":"S3BucketDoesNotExistException"},
        {"shape":"InsufficientS3BucketPolicyException"},
        {"shape":"InsufficientSnsTopicPolicyException"},
        {"shape":"InsufficientEncryptionPolicyException"},
        {"shape":"TrailNotFoundException"},
        {"shape":"InvalidS3BucketNameException"},
        {"shape":"InvalidS3PrefixException"},
        {"shape":"InvalidSnsTopicNameException"},
        {"shape":"InvalidKmsKeyIdException"},
        {"shape":"InvalidTrailNameException"},
        {"shape":"TrailNotProvidedException"},
        {"shape":"InvalidEventSelectorsException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"InvalidHomeRegionException"},
        {"shape":"KmsKeyNotFoundException"},
        {"shape":"KmsKeyDisabledException"},
        {"shape":"KmsException"},
        {"shape":"InvalidCloudWatchLogsLogGroupArnException"},
        {"shape":"InvalidCloudWatchLogsRoleArnException"},
        {"shape":"CloudWatchLogsDeliveryUnavailableException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"CloudTrailAccessNotEnabledException"},
        {"shape":"InsufficientDependencyServiceAccessPermissionException"},
        {"shape":"OrganizationsNotInUseException"},
        {"shape":"NotOrganizationMasterAccountException"},
        {"shape":"OrganizationNotInAllFeaturesModeException"},
        {"shape":"CloudTrailInvalidClientTokenIdException"}
      ],
      "documentation":"<p>Updates trail settings that control what events you are logging, and how to handle log files. Changes to a trail do not require stopping the CloudTrail service. Use this action to designate an existing bucket for log delivery. If the existing bucket has previously been a target for CloudTrail log files, an IAM policy exists for the bucket. <code>UpdateTrail</code> must be called from the region in which the trail was created; otherwise, an <code>InvalidHomeRegionException</code> is thrown.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AddTagsRequest":{
      "type":"structure",
      "required":[
        "ResourceId",
        "TagsList"
      ],
      "members":{
        "ResourceId":{
          "shape":"String",
          "documentation":"<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>"
        },
        "TagsList":{
          "shape":"TagsList",
          "documentation":"<p>Contains a list of tags, up to a limit of 50</p>"
        }
      },
      "documentation":"<p>Specifies the tags to add to a trail.</p>"
    },
    "AddTagsResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Returns the objects or data if successful. Otherwise, returns an error.</p>"
    },
    "AdvancedEventSelector":{
      "type":"structure",
      "required":["FieldSelectors"],
      "members":{
        "Name":{
          "shape":"SelectorName",
          "documentation":"<p>An optional, descriptive name for an advanced event selector, such as \"Log data events for only two S3 buckets\".</p>"
        },
        "FieldSelectors":{
          "shape":"AdvancedFieldSelectors",
          "documentation":"<p>Contains all selector statements in an advanced event selector.</p>"
        }
      },
      "documentation":"<p>Advanced event selectors let you create fine-grained selectors for the following CloudTrail event record ﬁelds. They help you control costs by logging only those events that are important to you. For more information about advanced event selectors, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-data-events-with-cloudtrail.html\">Logging data events for trails</a> in the <i>CloudTrail User Guide</i>.</p> <ul> <li> <p> <code>readOnly</code> </p> </li> <li> <p> <code>eventSource</code> </p> </li> <li> <p> <code>eventName</code> </p> </li> <li> <p> <code>eventCategory</code> </p> </li> <li> <p> <code>resources.type</code> </p> </li> <li> <p> <code>resources.ARN</code> </p> </li> </ul> <p>You cannot apply both event selectors and advanced event selectors to a trail.</p>"
    },
    "AdvancedEventSelectors":{
      "type":"list",
      "member":{"shape":"AdvancedEventSelector"}
    },
    "AdvancedFieldSelector":{
      "type":"structure",
      "required":["Field"],
      "members":{
        "Field":{
          "shape":"SelectorField",
          "documentation":"<p> A field in an event record on which to filter events to be logged. Supported fields include <code>readOnly</code>, <code>eventCategory</code>, <code>eventSource</code> (for management events), <code>eventName</code>, <code>resources.type</code>, and <code>resources.ARN</code>. </p> <ul> <li> <p> <b> <code>readOnly</code> </b> - Optional. Can be set to <code>Equals</code> a value of <code>true</code> or <code>false</code>. If you do not add this field, CloudTrail logs both both <code>read</code> and <code>write</code> events. A value of <code>true</code> logs only <code>read</code> events. A value of <code>false</code> logs only <code>write</code> events.</p> </li> <li> <p> <b> <code>eventSource</code> </b> - For filtering management events only. This can be set only to <code>NotEquals</code> <code>kms.amazonaws.com</code>.</p> </li> <li> <p> <b> <code>eventName</code> </b> - Can use any operator. You can use it to ﬁlter in or ﬁlter out any data event logged to CloudTrail, such as <code>PutBucket</code> or <code>GetSnapshotBlock</code>. You can have multiple values for this ﬁeld, separated by commas.</p> </li> <li> <p> <b> <code>eventCategory</code> </b> - This is required. It must be set to <code>Equals</code>, and the value must be <code>Management</code> or <code>Data</code>.</p> </li> <li> <p> <b> <code>resources.type</code> </b> - This ﬁeld is required. <code>resources.type</code> can only use the <code>Equals</code> operator, and the value can be one of the following:</p> <ul> <li> <p> <code>AWS::S3::Object</code> </p> </li> <li> <p> <code>AWS::Lambda::Function</code> </p> </li> <li> <p> <code>AWS::DynamoDB::Table</code> </p> </li> <li> <p> <code>AWS::S3Outposts::Object</code> </p> </li> <li> <p> <code>AWS::ManagedBlockchain::Node</code> </p> </li> <li> <p> <code>AWS::S3ObjectLambda::AccessPoint</code> </p> </li> <li> <p> <code>AWS::EC2::Snapshot</code> </p> </li> <li> <p> <code>AWS::S3::AccessPoint</code> </p> </li> <li> <p> <code>AWS::DynamoDB::Stream</code> </p> </li> <li> <p> <code>AWS::Glue::Table</code> </p> </li> </ul> <p> You can have only one <code>resources.type</code> ﬁeld per selector. To log data events on more than one resource type, add another selector.</p> </li> <li> <p> <b> <code>resources.ARN</code> </b> - You can use any operator with <code>resources.ARN</code>, but if you use <code>Equals</code> or <code>NotEquals</code>, the value must exactly match the ARN of a valid resource of the type you've speciﬁed in the template as the value of resources.type. For example, if resources.type equals <code>AWS::S3::Object</code>, the ARN must be in one of the following formats. To log all data events for all objects in a specific S3 bucket, use the <code>StartsWith</code> operator, and include only the bucket ARN as the matching value.</p> <p>The trailing slash is intentional; do not exclude it. Replace the text between less than and greater than symbols (&lt;&gt;) with resource-specific information. </p> <ul> <li> <p> <code>arn:&lt;partition&gt;:s3:::&lt;bucket_name&gt;/</code> </p> </li> <li> <p> <code>arn:&lt;partition&gt;:s3:::&lt;bucket_name&gt;/&lt;object_path&gt;/</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::S3::AccessPoint</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in one of the following formats. To log events on all objects in an S3 access point, we recommend that you use only the access point ARN, don’t include the object path, and use the <code>StartsWith</code> or <code>NotStartsWith</code> operators.</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:s3:&lt;region&gt;:&lt;account_ID&gt;:accesspoint/&lt;access_point_name&gt;</code> </p> </li> <li> <p> <code>arn:&lt;partition&gt;:s3:&lt;region&gt;:&lt;account_ID&gt;:accesspoint/&lt;access_point_name&gt;/object/&lt;object_path&gt;</code> </p> </li> </ul> <p>When resources.type equals <code>AWS::Lambda::Function</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:lambda:&lt;region&gt;:&lt;account_ID&gt;:function:&lt;function_name&gt;</code> </p> </li> </ul> <p>When resources.type equals <code>AWS::DynamoDB::Table</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:dynamodb:&lt;region&gt;:&lt;account_ID&gt;:table/&lt;table_name&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::S3Outposts::Object</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:s3-outposts:&lt;region&gt;:&lt;account_ID&gt;:&lt;object_path&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::ManagedBlockchain::Node</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:managedblockchain:&lt;region&gt;:&lt;account_ID&gt;:nodes/&lt;node_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::S3ObjectLambda::AccessPoint</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:s3-object-lambda:&lt;region&gt;:&lt;account_ID&gt;:accesspoint/&lt;access_point_name&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::EC2::Snapshot</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:ec2:&lt;region&gt;::snapshot/&lt;snapshot_ID&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::DynamoDB::Stream</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:dynamodb:&lt;region&gt;:&lt;account_ID&gt;:table/&lt;table_name&gt;/stream/&lt;date_time&gt;</code> </p> </li> </ul> <p>When <code>resources.type</code> equals <code>AWS::Glue::Table</code>, and the operator is set to <code>Equals</code> or <code>NotEquals</code>, the ARN must be in the following format:</p> <ul> <li> <p> <code>arn:&lt;partition&gt;:glue:&lt;region&gt;:&lt;account_ID&gt;:table/&lt;database_name&gt;/&lt;table_name&gt;</code> </p> </li> </ul> </li> </ul>"
        },
        "Equals":{
          "shape":"Operator",
          "documentation":"<p> An operator that includes events that match the exact value of the event record field specified as the value of <code>Field</code>. This is the only valid operator that you can use with the <code>readOnly</code>, <code>eventCategory</code>, and <code>resources.type</code> fields.</p>"
        },
        "StartsWith":{
          "shape":"Operator",
          "documentation":"<p>An operator that includes events that match the first few characters of the event record field specified as the value of <code>Field</code>.</p>"
        },
        "EndsWith":{
          "shape":"Operator",
          "documentation":"<p>An operator that includes events that match the last few characters of the event record field specified as the value of <code>Field</code>.</p>"
        },
        "NotEquals":{
          "shape":"Operator",
          "documentation":"<p> An operator that excludes events that match the exact value of the event record field specified as the value of <code>Field</code>. </p>"
        },
        "NotStartsWith":{
          "shape":"Operator",
          "documentation":"<p> An operator that excludes events that match the first few characters of the event record field specified as the value of <code>Field</code>. </p>"
        },
        "NotEndsWith":{
          "shape":"Operator",
          "documentation":"<p> An operator that excludes events that match the last few characters of the event record field specified as the value of <code>Field</code>. </p>"
        }
      },
      "documentation":"<p>A single selector statement in an advanced event selector.</p>"
    },
    "AdvancedFieldSelectors":{
      "type":"list",
      "member":{"shape":"AdvancedFieldSelector"},
      "min":1
    },
    "Boolean":{"type":"boolean"},
    "ByteBuffer":{"type":"blob"},
    "CancelQueryRequest":{
      "type":"structure",
      "required":[
        "EventDataStore",
        "QueryId"
      ],
      "members":{
        "EventDataStore":{
          "shape":"EventDataStoreArn",
          "documentation":"<p>The ARN (or the ID suffix of the ARN) of an event data store on which the specified query is running.</p>"
        },
        "QueryId":{
          "shape":"UUID",
          "documentation":"<p>The ID of the query that you want to cancel. The <code>QueryId</code> comes from the response of a <code>StartQuery</code> operation.</p>"
        }
      }
    },
    "CancelQueryResponse":{
      "type":"structure",
      "required":[
        "QueryId",
        "QueryStatus"
      ],
      "members":{
        "QueryId":{
          "shape":"UUID",
          "documentation":"<p>The ID of the canceled query.</p>"
        },
        "QueryStatus":{
          "shape":"QueryStatus",
          "documentation":"<p>Shows the status of a query after a <code>CancelQuery</code> request. Typically, the values shown are either <code>RUNNING</code> or <code>CANCELLED</code>.</p>"
        }
      }
    },
    "CloudTrailARNInvalidException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>This exception is thrown when an operation is called with a trail ARN that is not valid. The following is the format of a trail ARN.</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>",
      "exception":true
    },
    "CloudTrailAccessNotEnabledException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>This exception is thrown when trusted access has not been enabled between CloudTrail and Organizations. For more information, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html\">Enabling Trusted Access with Other Amazon Web Services Services</a> and <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/creating-an-organizational-trail-prepare.html\">Prepare For Creating a Trail For Your Organization</a>. </p>",
      "exception":true
    },
    "CloudTrailInvalidClientTokenIdException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>This exception is thrown when a call results in the <code>InvalidClientTokenId</code> error code. This can occur when you are creating or updating a trail to send notifications to an Amazon SNS topic that is in a suspended Amazon Web Services account.</p>",
      "exception":true
    },
    "CloudWatchLogsDeliveryUnavailableException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Cannot set a CloudWatch Logs delivery for this region.</p>",
      "exception":true
    },
    "ConflictException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>This exception is thrown when the specified resource is not ready for an operation. This can occur when you try to run an operation on a trail before CloudTrail has time to fully load the trail. If this exception occurs, wait a few minutes, and then try the operation again.</p>",
      "exception":true
    },
    "CreateEventDataStoreRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"EventDataStoreName",
          "documentation":"<p>The name of the event data store.</p>"
        },
        "AdvancedEventSelectors":{
          "shape":"AdvancedEventSelectors",
          "documentation":"<p>The advanced event selectors to use to select the events for the data store. For more information about how to use advanced event selectors, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-data-events-with-cloudtrail.html#creating-data-event-selectors-advanced\">Log events by using advanced event selectors</a> in the CloudTrail User Guide.</p>"
        },
        "MultiRegionEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the event data store includes events from all regions, or only from the region in which the event data store is created.</p>"
        },
        "OrganizationEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether an event data store collects events logged for an organization in Organizations.</p>"
        },
        "RetentionPeriod":{
          "shape":"RetentionPeriod",
          "documentation":"<p>The retention period of the event data store, in days. You can set a retention period of up to 2555 days, the equivalent of seven years.</p>"
        },
        "TerminationProtectionEnabled":{
          "shape":"TerminationProtectionEnabled",
          "documentation":"<p>Specifies whether termination protection is enabled for the event data store. If termination protection is enabled, you cannot delete the event data store until termination protection is disabled.</p>"
        },
        "TagsList":{"shape":"TagsList"}
      }
    },
    "CreateEventDataStoreResponse":{
      "type":"structure",
      "members":{
        "EventDataStoreArn":{
          "shape":"EventDataStoreArn",
          "documentation":"<p>The ARN of the event data store.</p>"
        },
        "Name":{
          "shape":"EventDataStoreName",
          "documentation":"<p>The name of the event data store.</p>"
        },
        "Status":{
          "shape":"EventDataStoreStatus",
          "documentation":"<p>The status of event data store creation.</p>"
        },
        "AdvancedEventSelectors":{
          "shape":"AdvancedEventSelectors",
          "documentation":"<p>The advanced event selectors that were used to select the events for the data store.</p>"
        },
        "MultiRegionEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the event data store collects events from all regions, or only from the region in which it was created.</p>"
        },
        "OrganizationEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether an event data store is collecting logged events for an organization in Organizations.</p>"
        },
        "RetentionPeriod":{
          "shape":"RetentionPeriod",
          "documentation":"<p>The retention period of an event data store, in days.</p>"
        },
        "TerminationProtectionEnabled":{
          "shape":"TerminationProtectionEnabled",
          "documentation":"<p>Indicates whether termination protection is enabled for the event data store.</p>"
        },
        "TagsList":{"shape":"TagsList"},
        "CreatedTimestamp":{
          "shape":"Date",
          "documentation":"<p>The timestamp that shows when the event data store was created.</p>"
        },
        "UpdatedTimestamp":{
          "shape":"Date",
          "documentation":"<p>The timestamp that shows when an event data store was updated, if applicable. <code>UpdatedTimestamp</code> is always either the same or newer than the time shown in <code>CreatedTimestamp</code>.</p>"
        }
      }
    },
    "CreateTrailRequest":{
      "type":"structure",
      "required":[
        "Name",
        "S3BucketName"
      ],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the trail. The name must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are not valid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>"
        },
        "S3BucketName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the Amazon S3 bucket designated for publishing log files. See <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon S3 Bucket Naming Requirements</a>.</p>"
        },
        "S3KeyPrefix":{
          "shape":"String",
          "documentation":"<p>Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>. The maximum length is 200 characters.</p>"
        },
        "SnsTopicName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the Amazon SNS topic defined for notification of log file delivery. The maximum length is 256 characters.</p>"
        },
        "IncludeGlobalServiceEvents":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the trail is publishing events from global services such as IAM to the log files.</p>"
        },
        "IsMultiRegionTrail":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the trail is created in the current region or in all regions. The default is false, which creates a trail only in the region where you are signed in. As a best practice, consider creating trails that log events in all regions.</p>"
        },
        "EnableLogFileValidation":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether log file integrity validation is enabled. The default is false.</p> <note> <p>When you disable log file integrity validation, the chain of digest files is broken after one hour. CloudTrail does not create digest files for log files that were delivered during a period in which log file integrity validation was disabled. For example, if you enable log file integrity validation at noon on January 1, disable it at noon on January 2, and re-enable it at noon on January 10, digest files will not be created for the log files delivered from noon on January 2 to noon on January 10. The same applies whenever you stop CloudTrail logging or delete a trail.</p> </note>"
        },
        "CloudWatchLogsLogGroupArn":{
          "shape":"String",
          "documentation":"<p>Specifies a log group name using an Amazon Resource Name (ARN), a unique identifier that represents the log group to which CloudTrail logs will be delivered. Not required unless you specify <code>CloudWatchLogsRoleArn</code>.</p>"
        },
        "CloudWatchLogsRoleArn":{
          "shape":"String",
          "documentation":"<p>Specifies the role for the CloudWatch Logs endpoint to assume to write to a user's log group.</p>"
        },
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>Specifies the KMS key ID to use to encrypt the logs delivered by CloudTrail. The value can be an alias name prefixed by \"alias/\", a fully specified ARN to an alias, a fully specified ARN to a key, or a globally unique identifier.</p> <p>CloudTrail also supports KMS multi-Region keys. For more information about multi-Region keys, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/multi-region-keys-overview.html\">Using multi-Region keys</a> in the <i>Key Management Service Developer Guide</i>.</p> <p>Examples:</p> <ul> <li> <p>alias/MyAliasName</p> </li> <li> <p>arn:aws:kms:us-east-2:123456789012:alias/MyAliasName</p> </li> <li> <p>arn:aws:kms:us-east-2:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> <li> <p>12345678-1234-1234-1234-123456789012</p> </li> </ul>"
        },
        "IsOrganizationTrail":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the trail is created for all accounts in an organization in Organizations, or only for the current Amazon Web Services account. The default is false, and cannot be true unless the call is made on behalf of an Amazon Web Services account that is the management account for an organization in Organizations.</p>"
        },
        "TagsList":{"shape":"TagsList"}
      },
      "documentation":"<p>Specifies the settings for each trail.</p>"
    },
    "CreateTrailResponse":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the trail.</p>"
        },
        "S3BucketName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the Amazon S3 bucket designated for publishing log files.</p>"
        },
        "S3KeyPrefix":{
          "shape":"String",
          "documentation":"<p>Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>.</p>"
        },
        "SnsTopicName":{
          "shape":"String",
          "documentation":"<p>This field is no longer in use. Use SnsTopicARN.</p>",
          "deprecated":true
        },
        "SnsTopicARN":{
          "shape":"String",
          "documentation":"<p>Specifies the ARN of the Amazon SNS topic that CloudTrail uses to send notifications when log files are delivered. The format of a topic ARN is:</p> <p> <code>arn:aws:sns:us-east-2:123456789012:MyTopic</code> </p>"
        },
        "IncludeGlobalServiceEvents":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the trail is publishing events from global services such as IAM to the log files.</p>"
        },
        "IsMultiRegionTrail":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the trail exists in one region or in all regions.</p>"
        },
        "TrailARN":{
          "shape":"String",
          "documentation":"<p>Specifies the ARN of the trail that was created. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>"
        },
        "LogFileValidationEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether log file integrity validation is enabled.</p>"
        },
        "CloudWatchLogsLogGroupArn":{
          "shape":"String",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the log group to which CloudTrail logs will be delivered.</p>"
        },
        "CloudWatchLogsRoleArn":{
          "shape":"String",
          "documentation":"<p>Specifies the role for the CloudWatch Logs endpoint to assume to write to a user's log group.</p>"
        },
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>Specifies the KMS key ID that encrypts the logs delivered by CloudTrail. The value is a fully specified ARN to a KMS key in the following format.</p> <p> <code>arn:aws:kms:us-east-2:123456789012:key/12345678-1234-1234-1234-123456789012</code> </p>"
        },
        "IsOrganizationTrail":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the trail is an organization trail.</p>"
        }
      },
      "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
    },
    "DataResource":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"String",
          "documentation":"<p>The resource type in which you want to log data events. You can specify the following <i>basic</i> event selector resource types:</p> <ul> <li> <p> <code>AWS::S3::Object</code> </p> </li> <li> <p> <code>AWS::Lambda::Function</code> </p> </li> <li> <p> <code>AWS::DynamoDB::Table</code> </p> </li> </ul> <p>The following resource types are also availble through <i>advanced</i> event selectors. Basic event selector resource types are valid in advanced event selectors, but advanced event selector resource types are not valid in basic event selectors. For more information, see <a>AdvancedFieldSelector$Field</a>.</p> <ul> <li> <p> <code>AWS::S3Outposts::Object</code> </p> </li> <li> <p> <code>AWS::ManagedBlockchain::Node</code> </p> </li> <li> <p> <code>AWS::S3ObjectLambda::AccessPoint</code> </p> </li> <li> <p> <code>AWS::EC2::Snapshot</code> </p> </li> <li> <p> <code>AWS::S3::AccessPoint</code> </p> </li> <li> <p> <code>AWS::DynamoDB::Stream</code> </p> </li> <li> <p> <code>AWS::Glue::Table</code> </p> </li> </ul>"
        },
        "Values":{
          "shape":"DataResourceValues",
          "documentation":"<p>An array of Amazon Resource Name (ARN) strings or partial ARN strings for the specified objects.</p> <ul> <li> <p>To log data events for all objects in all S3 buckets in your Amazon Web Services account, specify the prefix as <code>arn:aws:s3:::</code>.</p> <note> <p>This also enables logging of data event activity performed by any user or role in your Amazon Web Services account, even if that activity is performed on a bucket that belongs to another Amazon Web Services account.</p> </note> </li> <li> <p>To log data events for all objects in an S3 bucket, specify the bucket and an empty object prefix such as <code>arn:aws:s3:::bucket-1/</code>. The trail logs data events for all objects in this S3 bucket.</p> </li> <li> <p>To log data events for specific objects, specify the S3 bucket and object prefix such as <code>arn:aws:s3:::bucket-1/example-images</code>. The trail logs data events for objects in this S3 bucket that match the prefix.</p> </li> <li> <p>To log data events for all Lambda functions in your Amazon Web Services account, specify the prefix as <code>arn:aws:lambda</code>.</p> <note> <p>This also enables logging of <code>Invoke</code> activity performed by any user or role in your Amazon Web Services account, even if that activity is performed on a function that belongs to another Amazon Web Services account. </p> </note> </li> <li> <p>To log data events for a specific Lambda function, specify the function ARN.</p> <note> <p>Lambda function ARNs are exact. For example, if you specify a function ARN <i>arn:aws:lambda:us-west-2:111111111111:function:helloworld</i>, data events will only be logged for <i>arn:aws:lambda:us-west-2:111111111111:function:helloworld</i>. They will not be logged for <i>arn:aws:lambda:us-west-2:111111111111:function:helloworld2</i>.</p> </note> </li> <li> <p>To log data events for all DynamoDB tables in your Amazon Web Services account, specify the prefix as <code>arn:aws:dynamodb</code>.</p> </li> </ul>"
        }
      },
      "documentation":"<p>The Amazon S3 buckets, Lambda functions, or Amazon DynamoDB tables that you specify in your event selectors for your trail to log data events. Data events provide information about the resource operations performed on or within a resource itself. These are also known as data plane operations. You can specify up to 250 data resources for a trail.</p> <note> <p>The total number of allowed data resources is 250. This number can be distributed between 1 and 5 event selectors, but the total cannot exceed 250 across all selectors.</p> <p>If you are using advanced event selectors, the maximum total number of values for all conditions, across all advanced event selectors for the trail, is 500.</p> </note> <p>The following example demonstrates how logging works when you configure logging of all data events for an S3 bucket named <code>bucket-1</code>. In this example, the CloudTrail user specified an empty prefix, and the option to log both <code>Read</code> and <code>Write</code> data events.</p> <ol> <li> <p>A user uploads an image file to <code>bucket-1</code>.</p> </li> <li> <p>The <code>PutObject</code> API operation is an Amazon S3 object-level API. It is recorded as a data event in CloudTrail. Because the CloudTrail user specified an S3 bucket with an empty prefix, events that occur on any object in that bucket are logged. The trail processes and logs the event.</p> </li> <li> <p>A user uploads an object to an Amazon S3 bucket named <code>arn:aws:s3:::bucket-2</code>.</p> </li> <li> <p>The <code>PutObject</code> API operation occurred for an object in an S3 bucket that the CloudTrail user didn't specify for the trail. The trail doesn’t log the event.</p> </li> </ol> <p>The following example demonstrates how logging works when you configure logging of Lambda data events for a Lambda function named <i>MyLambdaFunction</i>, but not for all Lambda functions.</p> <ol> <li> <p>A user runs a script that includes a call to the <i>MyLambdaFunction</i> function and the <i>MyOtherLambdaFunction</i> function.</p> </li> <li> <p>The <code>Invoke</code> API operation on <i>MyLambdaFunction</i> is an Lambda API. It is recorded as a data event in CloudTrail. Because the CloudTrail user specified logging data events for <i>MyLambdaFunction</i>, any invocations of that function are logged. The trail processes and logs the event.</p> </li> <li> <p>The <code>Invoke</code> API operation on <i>MyOtherLambdaFunction</i> is an Lambda API. Because the CloudTrail user did not specify logging data events for all Lambda functions, the <code>Invoke</code> operation for <i>MyOtherLambdaFunction</i> does not match the function specified for the trail. The trail doesn’t log the event. </p> </li> </ol>"
    },
    "DataResourceValues":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "DataResources":{
      "type":"list",
      "member":{"shape":"DataResource"}
    },
    "Date":{"type":"timestamp"},
    "DeleteEventDataStoreRequest":{
      "type":"structure",
      "required":["EventDataStore"],
      "members":{
        "EventDataStore":{
          "shape":"EventDataStoreArn",
          "documentation":"<p>The ARN (or the ID suffix of the ARN) of the event data store to delete.</p>"
        }
      }
    },
    "DeleteEventDataStoreResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteTrailRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Specifies the name or the CloudTrail ARN of the trail to be deleted. The following is the format of a trail ARN. <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>"
        }
      },
      "documentation":"<p>The request that specifies the name of a trail to delete.</p>"
    },
    "DeleteTrailResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
    },
    "DescribeQueryRequest":{
      "type":"structure",
      "required":[
        "EventDataStore",
        "QueryId"
      ],
      "members":{
        "EventDataStore":{
          "shape":"EventDataStoreArn",
          "documentation":"<p>The ARN (or the ID suffix of the ARN) of an event data store on which the specified query was run.</p>"
        },
        "QueryId":{
          "shape":"UUID",
          "documentation":"<p>The query ID.</p>"
        }
      }
    },
    "DescribeQueryResponse":{
      "type":"structure",
      "members":{
        "QueryId":{
          "shape":"UUID",
          "documentation":"<p>The ID of the query.</p>"
        },
        "QueryString":{
          "shape":"QueryStatement",
          "documentation":"<p>The SQL code of a query.</p>"
        },
        "QueryStatus":{
          "shape":"QueryStatus",
          "documentation":"<p>The status of a query. Values for <code>QueryStatus</code> include <code>QUEUED</code>, <code>RUNNING</code>, <code>FINISHED</code>, <code>FAILED</code>, or <code>CANCELLED</code> </p>"
        },
        "QueryStatistics":{
          "shape":"QueryStatisticsForDescribeQuery",
          "documentation":"<p>Metadata about a query, including the number of events that were matched, the total number of events scanned, the query run time in milliseconds, and the query's creation time.</p>"
        },
        "ErrorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p>The error message returned if a query failed.</p>"
        }
      }
    },
    "DescribeTrailsRequest":{
      "type":"structure",
      "members":{
        "trailNameList":{
          "shape":"TrailNameList",
          "documentation":"<p>Specifies a list of trail names, trail ARNs, or both, of the trails to describe. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p> <p>If an empty list is specified, information for the trail in the current region is returned.</p> <ul> <li> <p>If an empty list is specified and <code>IncludeShadowTrails</code> is false, then information for all trails in the current region is returned.</p> </li> <li> <p>If an empty list is specified and IncludeShadowTrails is null or true, then information for all trails in the current region and any associated shadow trails in other regions is returned.</p> </li> </ul> <note> <p>If one or more trail names are specified, information is returned only if the names match the names of trails belonging only to the current region. To return information about a trail in another region, you must specify its trail ARN.</p> </note>"
        },
        "includeShadowTrails":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether to include shadow trails in the response. A shadow trail is the replication in a region of a trail that was created in a different region, or in the case of an organization trail, the replication of an organization trail in member accounts. If you do not include shadow trails, organization trails in a member account and region replication trails will not be returned. The default is true.</p>"
        }
      },
      "documentation":"<p>Returns information about the trail.</p>"
    },
    "DescribeTrailsResponse":{
      "type":"structure",
      "members":{
        "trailList":{
          "shape":"TrailList",
          "documentation":"<p>The list of trail objects. Trail objects with string values are only returned if values for the objects exist in a trail's configuration. For example, <code>SNSTopicName</code> and <code>SNSTopicARN</code> are only returned in results if a trail is configured to send SNS notifications. Similarly, <code>KMSKeyId</code> only appears in results if a trail's log files are encrypted with KMS customer managed keys.</p>"
        }
      },
      "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
    },
    "ErrorMessage":{
      "type":"string",
      "max":1000,
      "min":4,
      "pattern":".*"
    },
    "Event":{
      "type":"structure",
      "members":{
        "EventId":{
          "shape":"String",
          "documentation":"<p>The CloudTrail ID of the event returned.</p>"
        },
        "EventName":{
          "shape":"String",
          "documentation":"<p>The name of the event returned.</p>"
        },
        "ReadOnly":{
          "shape":"String",
          "documentation":"<p>Information about whether the event is a write event or a read event. </p>"
        },
        "AccessKeyId":{
          "shape":"String",
          "documentation":"<p>The Amazon Web Services access key ID that was used to sign the request. If the request was made with temporary security credentials, this is the access key ID of the temporary credentials.</p>"
        },
        "EventTime":{
          "shape":"Date",
          "documentation":"<p>The date and time of the event returned.</p>"
        },
        "EventSource":{
          "shape":"String",
          "documentation":"<p>The Amazon Web Services service to which the request was made.</p>"
        },
        "Username":{
          "shape":"String",
          "documentation":"<p>A user name or role name of the requester that called the API in the event returned.</p>"
        },
        "Resources":{
          "shape":"ResourceList",
          "documentation":"<p>A list of resources referenced by the event returned.</p>"
        },
        "CloudTrailEvent":{
          "shape":"String",
          "documentation":"<p>A JSON string that contains a representation of the event returned.</p>"
        }
      },
      "documentation":"<p>Contains information about an event that was returned by a lookup request. The result includes a representation of a CloudTrail event.</p>"
    },
    "EventCategory":{
      "type":"string",
      "enum":["insight"]
    },
    "EventDataStore":{
      "type":"structure",
      "members":{
        "EventDataStoreArn":{
          "shape":"EventDataStoreArn",
          "documentation":"<p>The ARN of the event data store.</p>"
        },
        "Name":{
          "shape":"EventDataStoreName",
          "documentation":"<p>The name of the event data store.</p>"
        },
        "TerminationProtectionEnabled":{
          "shape":"TerminationProtectionEnabled",
          "documentation":"<p>Indicates whether the event data store is protected from termination.</p>"
        },
        "Status":{
          "shape":"EventDataStoreStatus",
          "documentation":"<p>The status of an event data store. Values are <code>ENABLED</code> and <code>PENDING_DELETION</code>.</p>"
        },
        "AdvancedEventSelectors":{
          "shape":"AdvancedEventSelectors",
          "documentation":"<p>The advanced event selectors that were used to select events for the data store.</p>"
        },
        "MultiRegionEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the event data store includes events from all regions, or only from the region in which it was created.</p>"
        },
        "OrganizationEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates that an event data store is collecting logged events for an organization.</p>"
        },
        "RetentionPeriod":{
          "shape":"RetentionPeriod",
          "documentation":"<p>The retention period, in days.</p>"
        },
        "CreatedTimestamp":{
          "shape":"Date",
          "documentation":"<p>The timestamp of the event data store's creation.</p>"
        },
        "UpdatedTimestamp":{
          "shape":"Date",
          "documentation":"<p>The timestamp showing when an event data store was updated, if applicable. <code>UpdatedTimestamp</code> is always either the same or newer than the time shown in <code>CreatedTimestamp</code>.</p>"
        }
      },
      "documentation":"<p>A storage lake of event data against which you can run complex SQL-based queries. An event data store can include events that you have logged on your account from the last 90 to 2555 days (about three months to up to seven years). To select events for an event data store, use <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-data-events-with-cloudtrail.html#creating-data-event-selectors-advanced\">advanced event selectors</a>.</p>"
    },
    "EventDataStoreARNInvalidException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified event data store ARN is not valid or does not map to an event data store in your account.</p>",
      "exception":true
    },
    "EventDataStoreAlreadyExistsException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>An event data store with that name already exists.</p>",
      "exception":true
    },
    "EventDataStoreArn":{
      "type":"string",
      "max":256,
      "min":3,
      "pattern":"^[a-zA-Z0-9._/\\-:]+$"
    },
    "EventDataStoreMaxLimitExceededException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Your account has used the maximum number of event data stores.</p>",
      "exception":true
    },
    "EventDataStoreName":{
      "type":"string",
      "max":128,
      "min":3,
      "pattern":"^[a-zA-Z0-9._\\-]+$"
    },
    "EventDataStoreNotFoundException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified event data store was not found.</p>",
      "exception":true
    },
    "EventDataStoreStatus":{
      "type":"string",
      "enum":[
        "CREATED",
        "ENABLED",
        "PENDING_DELETION"
      ]
    },
    "EventDataStoreTerminationProtectedException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The event data store cannot be deleted because termination protection is enabled for it.</p>",
      "exception":true
    },
    "EventDataStores":{
      "type":"list",
      "member":{"shape":"EventDataStore"}
    },
    "EventSelector":{
      "type":"structure",
      "members":{
        "ReadWriteType":{
          "shape":"ReadWriteType",
          "documentation":"<p>Specify if you want your trail to log read-only events, write-only events, or all. For example, the EC2 <code>GetConsoleOutput</code> is a read-only API operation and <code>RunInstances</code> is a write-only API operation.</p> <p> By default, the value is <code>All</code>.</p>"
        },
        "IncludeManagementEvents":{
          "shape":"Boolean",
          "documentation":"<p>Specify if you want your event selector to include management events for your trail.</p> <p> For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-management-and-data-events-with-cloudtrail.html#logging-management-events\">Management Events</a> in the <i>CloudTrail User Guide</i>.</p> <p>By default, the value is <code>true</code>.</p> <p>The first copy of management events is free. You are charged for additional copies of management events that you are logging on any subsequent trail in the same region. For more information about CloudTrail pricing, see <a href=\"http://aws.amazon.com/cloudtrail/pricing/\">CloudTrail Pricing</a>.</p>"
        },
        "DataResources":{
          "shape":"DataResources",
          "documentation":"<p>CloudTrail supports data event logging for Amazon S3 objects, Lambda functions, and Amazon DynamoDB tables with basic event selectors. You can specify up to 250 resources for an individual event selector, but the total number of data resources cannot exceed 250 across all event selectors in a trail. This limit does not apply if you configure resource logging for all data events.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-management-and-data-events-with-cloudtrail.html#logging-data-events\">Data Events</a> and <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/WhatIsCloudTrail-Limits.html\">Limits in CloudTrail</a> in the <i>CloudTrail User Guide</i>.</p>"
        },
        "ExcludeManagementEventSources":{
          "shape":"ExcludeManagementEventSources",
          "documentation":"<p>An optional list of service event sources from which you do not want management events to be logged on your trail. In this release, the list can be empty (disables the filter), or it can filter out Key Management Service or Amazon RDS Data API events by containing <code>kms.amazonaws.com</code> or <code>rdsdata.amazonaws.com</code>. By default, <code>ExcludeManagementEventSources</code> is empty, and KMS and Amazon RDS Data API events are logged to your trail. You can exclude management event sources only in regions that support the event source.</p>"
        }
      },
      "documentation":"<p>Use event selectors to further specify the management and data event settings for your trail. By default, trails created without specific event selectors will be configured to log all read and write management events, and no data events. When an event occurs in your account, CloudTrail evaluates the event selector for all trails. For each trail, if the event matches any event selector, the trail processes and logs the event. If the event doesn't match any event selector, the trail doesn't log the event.</p> <p>You can configure up to five event selectors for a trail.</p> <p>You cannot apply both event selectors and advanced event selectors to a trail.</p>"
    },
    "EventSelectors":{
      "type":"list",
      "member":{"shape":"EventSelector"}
    },
    "EventsList":{
      "type":"list",
      "member":{"shape":"Event"}
    },
    "ExcludeManagementEventSources":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "GetEventDataStoreRequest":{
      "type":"structure",
      "required":["EventDataStore"],
      "members":{
        "EventDataStore":{
          "shape":"EventDataStoreArn",
          "documentation":"<p>The ARN (or ID suffix of the ARN) of the event data store about which you want information.</p>"
        }
      }
    },
    "GetEventDataStoreResponse":{
      "type":"structure",
      "members":{
        "EventDataStoreArn":{
          "shape":"EventDataStoreArn",
          "documentation":"<p>The event data store Amazon Resource Number (ARN).</p>"
        },
        "Name":{
          "shape":"EventDataStoreName",
          "documentation":"<p>The name of the event data store.</p>"
        },
        "Status":{
          "shape":"EventDataStoreStatus",
          "documentation":"<p>The status of an event data store. Values can be <code>ENABLED</code> and <code>PENDING_DELETION</code>.</p>"
        },
        "AdvancedEventSelectors":{
          "shape":"AdvancedEventSelectors",
          "documentation":"<p>The advanced event selectors used to select events for the data store.</p>"
        },
        "MultiRegionEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the event data store includes events from all regions, or only from the region in which it was created.</p>"
        },
        "OrganizationEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether an event data store is collecting logged events for an organization in Organizations.</p>"
        },
        "RetentionPeriod":{
          "shape":"RetentionPeriod",
          "documentation":"<p>The retention period of the event data store, in days.</p>"
        },
        "TerminationProtectionEnabled":{
          "shape":"TerminationProtectionEnabled",
          "documentation":"<p>Indicates that termination protection is enabled.</p>"
        },
        "CreatedTimestamp":{
          "shape":"Date",
          "documentation":"<p>The timestamp of the event data store's creation.</p>"
        },
        "UpdatedTimestamp":{
          "shape":"Date",
          "documentation":"<p>Shows the time that an event data store was updated, if applicable. <code>UpdatedTimestamp</code> is always either the same or newer than the time shown in <code>CreatedTimestamp</code>.</p>"
        }
      }
    },
    "GetEventSelectorsRequest":{
      "type":"structure",
      "required":["TrailName"],
      "members":{
        "TrailName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the trail or trail ARN. If you specify a trail name, the string must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are not valid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul> <p>If you specify a trail ARN, it must be in the format:</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>"
        }
      }
    },
    "GetEventSelectorsResponse":{
      "type":"structure",
      "members":{
        "TrailARN":{
          "shape":"String",
          "documentation":"<p>The specified trail ARN that has the event selectors.</p>"
        },
        "EventSelectors":{
          "shape":"EventSelectors",
          "documentation":"<p>The event selectors that are configured for the trail.</p>"
        },
        "AdvancedEventSelectors":{
          "shape":"AdvancedEventSelectors",
          "documentation":"<p> The advanced event selectors that are configured for the trail. </p>"
        }
      }
    },
    "GetInsightSelectorsRequest":{
      "type":"structure",
      "required":["TrailName"],
      "members":{
        "TrailName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the trail or trail ARN. If you specify a trail name, the string must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are not valid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul> <p>If you specify a trail ARN, it must be in the format:</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>"
        }
      }
    },
    "GetInsightSelectorsResponse":{
      "type":"structure",
      "members":{
        "TrailARN":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of a trail for which you want to get Insights selectors.</p>"
        },
        "InsightSelectors":{
          "shape":"InsightSelectors",
          "documentation":"<p>A JSON string that contains the insight types you want to log on a trail. In this release, <code>ApiErrorRateInsight</code> and <code>ApiCallRateInsight</code> are supported as insight types.</p>"
        }
      }
    },
    "GetQueryResultsRequest":{
      "type":"structure",
      "required":[
        "EventDataStore",
        "QueryId"
      ],
      "members":{
        "EventDataStore":{
          "shape":"EventDataStoreArn",
          "documentation":"<p>The ARN (or ID suffix of the ARN) of the event data store against which the query was run.</p>"
        },
        "QueryId":{
          "shape":"UUID",
          "documentation":"<p>The ID of the query for which you want to get results.</p>"
        },
        "NextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>A token you can use to get the next page of query results.</p>"
        },
        "MaxQueryResults":{
          "shape":"MaxQueryResults",
          "documentation":"<p>The maximum number of query results to display on a single page.</p>"
        }
      }
    },
    "GetQueryResultsResponse":{
      "type":"structure",
      "members":{
        "QueryStatus":{
          "shape":"QueryStatus",
          "documentation":"<p>The status of the query. Values include <code>QUEUED</code>, <code>RUNNING</code>, <code>FINISHED</code>, <code>FAILED</code>, or <code>CANCELLED</code>.</p>"
        },
        "QueryStatistics":{
          "shape":"QueryStatistics",
          "documentation":"<p>Shows the count of query results.</p>"
        },
        "QueryResultRows":{
          "shape":"QueryResultRows",
          "documentation":"<p>Contains the individual event results of the query.</p>"
        },
        "NextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>A token you can use to get the next page of query results.</p>"
        },
        "ErrorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p>The error message returned if a query failed.</p>"
        }
      }
    },
    "GetTrailRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>The name or the Amazon Resource Name (ARN) of the trail for which you want to retrieve settings information.</p>"
        }
      }
    },
    "GetTrailResponse":{
      "type":"structure",
      "members":{
        "Trail":{"shape":"Trail"}
      }
    },
    "GetTrailStatusRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Specifies the name or the CloudTrail ARN of the trail for which you are requesting status. To get the status of a shadow trail (a replication of the trail in another region), you must specify its ARN. The following is the format of a trail ARN.</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>"
        }
      },
      "documentation":"<p>The name of a trail about which you want the current status.</p>"
    },
    "GetTrailStatusResponse":{
      "type":"structure",
      "members":{
        "IsLogging":{
          "shape":"Boolean",
          "documentation":"<p>Whether the CloudTrail trail is currently logging Amazon Web Services API calls.</p>"
        },
        "LatestDeliveryError":{
          "shape":"String",
          "documentation":"<p>Displays any Amazon S3 error that CloudTrail encountered when attempting to deliver log files to the designated bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html\">Error Responses</a> in the Amazon S3 API Reference. </p> <note> <p>This error occurs only when there is a problem with the destination S3 bucket, and does not occur for requests that time out. To resolve the issue, create a new bucket, and then call <code>UpdateTrail</code> to specify the new bucket; or fix the existing objects so that CloudTrail can again write to the bucket.</p> </note>"
        },
        "LatestNotificationError":{
          "shape":"String",
          "documentation":"<p>Displays any Amazon SNS error that CloudTrail encountered when attempting to send a notification. For more information about Amazon SNS errors, see the <a href=\"https://docs.aws.amazon.com/sns/latest/dg/welcome.html\">Amazon SNS Developer Guide</a>. </p>"
        },
        "LatestDeliveryTime":{
          "shape":"Date",
          "documentation":"<p>Specifies the date and time that CloudTrail last delivered log files to an account's Amazon S3 bucket.</p>"
        },
        "LatestNotificationTime":{
          "shape":"Date",
          "documentation":"<p>Specifies the date and time of the most recent Amazon SNS notification that CloudTrail has written a new log file to an account's Amazon S3 bucket.</p>"
        },
        "StartLoggingTime":{
          "shape":"Date",
          "documentation":"<p>Specifies the most recent date and time when CloudTrail started recording API calls for an Amazon Web Services account.</p>"
        },
        "StopLoggingTime":{
          "shape":"Date",
          "documentation":"<p>Specifies the most recent date and time when CloudTrail stopped recording API calls for an Amazon Web Services account.</p>"
        },
        "LatestCloudWatchLogsDeliveryError":{
          "shape":"String",
          "documentation":"<p>Displays any CloudWatch Logs error that CloudTrail encountered when attempting to deliver logs to CloudWatch Logs.</p>"
        },
        "LatestCloudWatchLogsDeliveryTime":{
          "shape":"Date",
          "documentation":"<p>Displays the most recent date and time when CloudTrail delivered logs to CloudWatch Logs.</p>"
        },
        "LatestDigestDeliveryTime":{
          "shape":"Date",
          "documentation":"<p>Specifies the date and time that CloudTrail last delivered a digest file to an account's Amazon S3 bucket.</p>"
        },
        "LatestDigestDeliveryError":{
          "shape":"String",
          "documentation":"<p>Displays any Amazon S3 error that CloudTrail encountered when attempting to deliver a digest file to the designated bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html\">Error Responses</a> in the Amazon S3 API Reference. </p> <note> <p>This error occurs only when there is a problem with the destination S3 bucket, and does not occur for requests that time out. To resolve the issue, create a new bucket, and then call <code>UpdateTrail</code> to specify the new bucket; or fix the existing objects so that CloudTrail can again write to the bucket.</p> </note>"
        },
        "LatestDeliveryAttemptTime":{
          "shape":"String",
          "documentation":"<p>This field is no longer in use.</p>"
        },
        "LatestNotificationAttemptTime":{
          "shape":"String",
          "documentation":"<p>This field is no longer in use.</p>"
        },
        "LatestNotificationAttemptSucceeded":{
          "shape":"String",
          "documentation":"<p>This field is no longer in use.</p>"
        },
        "LatestDeliveryAttemptSucceeded":{
          "shape":"String",
          "documentation":"<p>This field is no longer in use.</p>"
        },
        "TimeLoggingStarted":{
          "shape":"String",
          "documentation":"<p>This field is no longer in use.</p>"
        },
        "TimeLoggingStopped":{
          "shape":"String",
          "documentation":"<p>This field is no longer in use.</p>"
        }
      },
      "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
    },
    "InactiveEventDataStoreException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The event data store against which you ran your query is inactive.</p>",
      "exception":true
    },
    "InactiveQueryException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The specified query cannot be canceled because it is in the <code>FINISHED</code>, <code>FAILED</code>, or <code>CANCELLED</code> state.</p>",
      "exception":true
    },
    "InsightNotEnabledException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>If you run <code>GetInsightSelectors</code> on a trail that does not have Insights events enabled, the operation throws the exception <code>InsightNotEnabledException</code>.</p>",
      "exception":true
    },
    "InsightSelector":{
      "type":"structure",
      "members":{
        "InsightType":{
          "shape":"InsightType",
          "documentation":"<p>The type of insights to log on a trail. <code>ApiCallRateInsight</code> and <code>ApiErrorRateInsight</code> are valid insight types.</p>"
        }
      },
      "documentation":"<p>A JSON string that contains a list of insight types that are logged on a trail.</p>"
    },
    "InsightSelectors":{
      "type":"list",
      "member":{"shape":"InsightSelector"}
    },
    "InsightType":{
      "type":"string",
      "enum":[
        "ApiCallRateInsight",
        "ApiErrorRateInsight"
      ]
    },
    "InsufficientDependencyServiceAccessPermissionException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>This exception is thrown when the IAM user or role that is used to create the organization trail is lacking one or more required permissions for creating an organization trail in a required service. For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/creating-an-organizational-trail-prepare.html\">Prepare For Creating a Trail For Your Organization</a>.</p>",
      "exception":true
    },
    "InsufficientEncryptionPolicyException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>This exception is thrown when the policy on the S3 bucket or KMS key is not sufficient.</p>",
      "exception":true
    },
    "InsufficientS3BucketPolicyException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>This exception is thrown when the policy on the S3 bucket is not sufficient.</p>",
      "exception":true
    },
    "InsufficientSnsTopicPolicyException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>This exception is thrown when the policy on the Amazon SNS topic is not sufficient.</p>",
      "exception":true
    },
    "Integer":{"type":"integer"},
    "InvalidCloudWatchLogsLogGroupArnException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>This exception is thrown when the provided CloudWatch Logs log group is not valid.</p>",
      "exception":true
    },
    "InvalidCloudWatchLogsRoleArnException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>This exception is thrown when the provided role is not valid.</p>",
      "exception":true
    },
    "InvalidDateRangeException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>A date range for the query was specified that is not valid. For more information about writing a query, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/query-create-edit-query.html\">Create or edit a query</a> in the <i>CloudTrail User Guide</i>.</p>",
      "exception":true
    },
    "InvalidEventCategoryException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Occurs if an event category that is not valid is specified as a value of <code>EventCategory</code>.</p>",
      "exception":true
    },
    "InvalidEventDataStoreStatusException":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The event data store is not in a status that supports the operation.</p>",
      "exception":true
    },
    "InvalidEventSelectorsException":{
      "type":"structure",
      "members":{
      },
[...]
