{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-12-15",
    "endpointPrefix":"lookoutequipment",
    "jsonVersion":"1.0",
    "protocol":"json",
    "serviceAbbreviation":"LookoutEquipment",
    "serviceFullName":"Amazon Lookout for Equipment",
    "serviceId":"LookoutEquipment",
    "signatureVersion":"v4",
    "targetPrefix":"AWSLookoutEquipmentFrontendService",
    "uid":"lookoutequipment-2020-12-15"
  },
  "operations":{
    "CreateDataset":{
      "name":"CreateDataset",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDatasetRequest"},
      "output":{"shape":"CreateDatasetResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a container for a collection of data being ingested for analysis. The dataset contains the metadata describing where the data is and what the data actually looks like. In other words, it contains the location of the data source, the data schema, and other information. A dataset also contains any tags associated with the ingested data. </p>"
    },
    "CreateInferenceScheduler":{
      "name":"CreateInferenceScheduler",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInferenceSchedulerRequest"},
      "output":{"shape":"CreateInferenceSchedulerResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Creates a scheduled inference. Scheduling an inference is setting up a continuous real-time inference plan to analyze new measurement data. When setting up the schedule, you provide an S3 bucket location for the input data, assign it a delimiter between separate entries in the data, set an offset delay if desired, and set the frequency of inferencing. You must also provide an S3 bucket location for the output data. </p>"
    },
    "CreateModel":{
      "name":"CreateModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelRequest"},
      "output":{"shape":"CreateModelResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates an ML model for data inference. </p> <p>A machine-learning (ML) model is a mathematical model that finds patterns in your data. In Amazon Lookout for Equipment, the model learns the patterns of normal behavior and detects abnormal behavior that could be potential equipment failure (or maintenance events). The models are made by analyzing normal data and abnormalities in machine behavior that have already occurred.</p> <p>Your model is trained using a portion of the data from your dataset and uses that data to learn patterns of normal behavior and abnormal patterns that lead to equipment failure. Another portion of the data is used to evaluate the model's accuracy. </p>"
    },
    "DeleteDataset":{
      "name":"DeleteDataset",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDatasetRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p> Deletes a dataset and associated artifacts. The operation will check to see if any inference scheduler or data ingestion job is currently using the dataset, and if there isn't, the dataset, its metadata, and any associated data stored in S3 will be deleted. This does not affect any models that used this dataset for training and evaluation, but does prevent it from being used in the future. </p>"
    },
    "DeleteInferenceScheduler":{
      "name":"DeleteInferenceScheduler",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInferenceSchedulerRequest"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an inference scheduler that has been set up. Already processed output results are not affected. </p>"
    },
    "DeleteModel":{
      "name":"DeleteModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an ML model currently available for Amazon Lookout for Equipment. This will prevent it from being used with an inference scheduler, even one that is already set up. </p>"
    },
    "DescribeDataIngestionJob":{
      "name":"DescribeDataIngestionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDataIngestionJobRequest"},
      "output":{"shape":"DescribeDataIngestionJobResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Provides information on a specific data ingestion job such as creation time, dataset ARN, status, and so on. </p>"
    },
    "DescribeDataset":{
      "name":"DescribeDataset",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDatasetRequest"},
      "output":{"shape":"DescribeDatasetResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Provides a JSON description of the data that is in each time series dataset, including names, column names, and data types.</p>"
    },
    "DescribeInferenceScheduler":{
      "name":"DescribeInferenceScheduler",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInferenceSchedulerRequest"},
      "output":{"shape":"DescribeInferenceSchedulerResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Specifies information about the inference scheduler being used, including name, model, status, and associated metadata </p>"
    },
    "DescribeModel":{
      "name":"DescribeModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelRequest"},
      "output":{"shape":"DescribeModelResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Provides a JSON containing the overall information about a specific ML model, including model name and ARN, dataset, training and evaluation information, status, and so on. </p>"
    },
    "ListDataIngestionJobs":{
      "name":"ListDataIngestionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDataIngestionJobsRequest"},
      "output":{"shape":"ListDataIngestionJobsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Provides a list of all data ingestion jobs, including dataset name and ARN, S3 location of the input data, status, and so on. </p>"
    },
    "ListDatasets":{
      "name":"ListDatasets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDatasetsRequest"},
      "output":{"shape":"ListDatasetsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all datasets currently available in your account, filtering on the dataset name. </p>"
    },
    "ListInferenceExecutions":{
      "name":"ListInferenceExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListInferenceExecutionsRequest"},
      "output":{"shape":"ListInferenceExecutionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Lists all inference executions that have been performed by the specified inference scheduler. </p>"
    },
    "ListInferenceSchedulers":{
      "name":"ListInferenceSchedulers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListInferenceSchedulersRequest"},
      "output":{"shape":"ListInferenceSchedulersResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves a list of all inference schedulers currently available for your account. </p>"
    },
    "ListModels":{
      "name":"ListModels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelsRequest"},
      "output":{"shape":"ListModelsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Generates a list of all models in the account, including model name and ARN, dataset, and status. </p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all the tags for a specified resource, including key and value. </p>"
    },
    "StartDataIngestionJob":{
      "name":"StartDataIngestionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartDataIngestionJobRequest"},
      "output":{"shape":"StartDataIngestionJobResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts a data ingestion job. Amazon Lookout for Equipment returns the job status. </p>"
    },
    "StartInferenceScheduler":{
      "name":"StartInferenceScheduler",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartInferenceSchedulerRequest"},
      "output":{"shape":"StartInferenceSchedulerResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts an inference scheduler. </p>"
    },
    "StopInferenceScheduler":{
      "name":"StopInferenceScheduler",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopInferenceSchedulerRequest"},
      "output":{"shape":"StopInferenceSchedulerResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops an inference scheduler. </p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Associates a given tag to a resource in your account. A tag is a key-value pair which can be added to an Amazon Lookout for Equipment resource as metadata. Tags can be used for organizing your resources as well as helping you to search and filter by tag. Multiple tags can be added to a resource, either when you create it, or later. Up to 50 tags can be associated with each resource. </p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes a specific tag from a given resource. The tag is specified by its key. </p>"
    },
    "UpdateInferenceScheduler":{
      "name":"UpdateInferenceScheduler",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateInferenceSchedulerRequest"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates an inference scheduler. </p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"BoundedLengthString"}
      },
      "documentation":"<p>The request could not be completed because you do not have access to the resource. </p>",
      "exception":true
    },
    "AmazonResourceArn":{
      "type":"string",
      "max":1011,
      "min":1
    },
    "BoundedLengthString":{
      "type":"string",
      "max":5000,
      "min":1,
      "pattern":"[\\P{M}\\p{M}]{1,5000}"
    },
    "ComponentTimestampDelimiter":{
      "type":"string",
      "max":1,
      "min":0,
      "pattern":"^(\\-|\\_|\\s)?$"
    },
    "ConflictException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"BoundedLengthString"}
      },
      "documentation":"<p> The request could not be completed due to a conflict with the current state of the target resource. </p>",
      "exception":true
    },
    "CreateDatasetRequest":{
      "type":"structure",
      "required":[
        "DatasetName",
        "DatasetSchema",
        "ClientToken"
      ],
      "members":{
        "DatasetName":{
          "shape":"DatasetName",
          "documentation":"<p>The name of the dataset being created. </p>"
        },
        "DatasetSchema":{
          "shape":"DatasetSchema",
          "documentation":"<p>A JSON description of the data that is in each time series dataset, including names, column names, and data types. </p>"
        },
        "ServerSideKmsKeyId":{
          "shape":"NameOrArn",
          "documentation":"<p>Provides the identifier of the KMS key used to encrypt dataset data by Amazon Lookout for Equipment. </p>"
        },
        "ClientToken":{
          "shape":"IdempotenceToken",
          "documentation":"<p> A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one. </p>",
          "idempotencyToken":true
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>Any tags associated with the ingested data described in the dataset. </p>"
        }
      }
    },
    "CreateDatasetResponse":{
      "type":"structure",
      "members":{
        "DatasetName":{
          "shape":"DatasetName",
          "documentation":"<p>The name of the dataset being created. </p>"
        },
        "DatasetArn":{
          "shape":"DatasetArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the dataset being created. </p>"
        },
        "Status":{
          "shape":"DatasetStatus",
          "documentation":"<p>Indicates the status of the <code>CreateDataset</code> operation. </p>"
        }
      }
    },
    "CreateInferenceSchedulerRequest":{
      "type":"structure",
      "required":[
        "ModelName",
        "InferenceSchedulerName",
        "DataUploadFrequency",
        "DataInputConfiguration",
        "DataOutputConfiguration",
        "RoleArn",
        "ClientToken"
      ],
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the previously trained ML model being used to create the inference scheduler. </p>"
        },
        "InferenceSchedulerName":{
          "shape":"InferenceSchedulerName",
          "documentation":"<p>The name of the inference scheduler being created. </p>"
        },
        "DataDelayOffsetInMinutes":{
          "shape":"DataDelayOffsetInMinutes",
          "documentation":"<p>A period of time (in minutes) by which inference on the data is delayed after the data starts. For instance, if you select an offset delay time of five minutes, inference will not begin on the data until the first data measurement after the five minute mark. For example, if five minutes is selected, the inference scheduler will wake up at the configured frequency with the additional five minute delay time to check the customer S3 bucket. The customer can upload data at the same frequency and they don't need to stop and restart the scheduler when uploading new data. </p>"
        },
        "DataUploadFrequency":{
          "shape":"DataUploadFrequency",
          "documentation":"<p> How often data is uploaded to the source S3 bucket for the input data. The value chosen is the length of time between data uploads. For instance, if you select 5 minutes, Amazon Lookout for Equipment will upload the real-time data to the source bucket once every 5 minutes. This frequency also determines how often Amazon Lookout for Equipment starts a scheduled inference on your data. In this example, it starts once every 5 minutes. </p>"
        },
        "DataInputConfiguration":{
          "shape":"InferenceInputConfiguration",
          "documentation":"<p>Specifies configuration information for the input data for the inference scheduler, including delimiter, format, and dataset location. </p>"
        },
        "DataOutputConfiguration":{
          "shape":"InferenceOutputConfiguration",
          "documentation":"<p>Specifies configuration information for the output results for the inference scheduler, including the S3 location for the output. </p>"
        },
        "RoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of a role with permission to access the data source being used for the inference. </p>"
        },
        "ServerSideKmsKeyId":{
          "shape":"NameOrArn",
          "documentation":"<p>Provides the identifier of the KMS key used to encrypt inference scheduler data by Amazon Lookout for Equipment. </p>"
        },
        "ClientToken":{
          "shape":"IdempotenceToken",
          "documentation":"<p> A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one. </p>",
          "idempotencyToken":true
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>Any tags associated with the inference scheduler. </p>"
        }
      }
    },
    "CreateInferenceSchedulerResponse":{
      "type":"structure",
      "members":{
        "InferenceSchedulerArn":{
          "shape":"InferenceSchedulerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the inference scheduler being created. </p>"
        },
        "InferenceSchedulerName":{
          "shape":"InferenceSchedulerName",
          "documentation":"<p>The name of inference scheduler being created. </p>"
        },
        "Status":{
          "shape":"InferenceSchedulerStatus",
          "documentation":"<p>Indicates the status of the <code>CreateInferenceScheduler</code> operation. </p>"
        }
      }
    },
    "CreateModelRequest":{
      "type":"structure",
      "required":[
        "ModelName",
        "DatasetName",
        "ClientToken"
      ],
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name for the ML model to be created.</p>"
        },
        "DatasetName":{
          "shape":"DatasetIdentifier",
          "documentation":"<p>The name of the dataset for the ML model being created. </p>"
        },
        "DatasetSchema":{
          "shape":"DatasetSchema",
          "documentation":"<p>The data schema for the ML model being created. </p>"
        },
        "LabelsInputConfiguration":{
          "shape":"LabelsInputConfiguration",
          "documentation":"<p>The input configuration for the labels being used for the ML model that's being created. </p>"
        },
        "ClientToken":{
          "shape":"IdempotenceToken",
          "documentation":"<p>A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one. </p>",
          "idempotencyToken":true
        },
        "TrainingDataStartTime":{
          "shape":"Timestamp",
          "documentation":"<p>Indicates the time reference in the dataset that should be used to begin the subset of training data for the ML model. </p>"
        },
        "TrainingDataEndTime":{
          "shape":"Timestamp",
          "documentation":"<p>Indicates the time reference in the dataset that should be used to end the subset of training data for the ML model. </p>"
        },
        "EvaluationDataStartTime":{
          "shape":"Timestamp",
          "documentation":"<p>Indicates the time reference in the dataset that should be used to begin the subset of evaluation data for the ML model. </p>"
        },
        "EvaluationDataEndTime":{
          "shape":"Timestamp",
          "documentation":"<p> Indicates the time reference in the dataset that should be used to end the subset of evaluation data for the ML model. </p>"
        },
        "RoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of a role with permission to access the data source being used to create the ML model. </p>"
        },
        "DataPreProcessingConfiguration":{
          "shape":"DataPreProcessingConfiguration",
          "documentation":"<p>The configuration is the <code>TargetSamplingRate</code>, which is the sampling rate of the data after post processing by Amazon Lookout for Equipment. For example, if you provide data that has been collected at a 1 second level and you want the system to resample the data at a 1 minute rate before training, the <code>TargetSamplingRate</code> is 1 minute.</p> <p>When providing a value for the <code>TargetSamplingRate</code>, you must attach the prefix \"PT\" to the rate you want. The value for a 1 second rate is therefore <i>PT1S</i>, the value for a 15 minute rate is <i>PT15M</i>, and the value for a 1 hour rate is <i>PT1H</i> </p>"
        },
        "ServerSideKmsKeyId":{
          "shape":"NameOrArn",
          "documentation":"<p>Provides the identifier of the KMS key used to encrypt model data by Amazon Lookout for Equipment. </p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p> Any tags associated with the ML model being created. </p>"
        },
        "OffCondition":{
          "shape":"OffCondition",
          "documentation":"<p>Indicates that the asset associated with this sensor has been shut off. As long as this condition is met, Lookout for Equipment will not use data from this asset for training, evaluation, or inference.</p>"
        }
      }
    },
    "CreateModelResponse":{
      "type":"structure",
      "members":{
        "ModelArn":{
          "shape":"ModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the model being created. </p>"
        },
        "Status":{
          "shape":"ModelStatus",
          "documentation":"<p>Indicates the status of the <code>CreateModel</code> operation. </p>"
        }
      }
    },
    "DataDelayOffsetInMinutes":{
      "type":"long",
      "max":60,
      "min":0
    },
    "DataIngestionJobSummaries":{
      "type":"list",
      "member":{"shape":"DataIngestionJobSummary"}
    },
    "DataIngestionJobSummary":{
      "type":"structure",
      "members":{
        "JobId":{
          "shape":"IngestionJobId",
          "documentation":"<p>Indicates the job ID of the data ingestion job. </p>"
        },
        "DatasetName":{
          "shape":"DatasetName",
          "documentation":"<p>The name of the dataset used for the data ingestion job. </p>"
        },
        "DatasetArn":{
          "shape":"DatasetArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the dataset used in the data ingestion job. </p>"
        },
        "IngestionInputConfiguration":{
          "shape":"IngestionInputConfiguration",
          "documentation":"<p> Specifies information for the input data for the data inference job, including data S3 location parameters. </p>"
        },
        "Status":{
          "shape":"IngestionJobStatus",
          "documentation":"<p>Indicates the status of the data ingestion job. </p>"
        }
      },
      "documentation":"<p>Provides information about a specified data ingestion job, including dataset information, data ingestion configuration, and status. </p>"
    },
    "DataPreProcessingConfiguration":{
      "type":"structure",
      "members":{
        "TargetSamplingRate":{
          "shape":"TargetSamplingRate",
          "documentation":"<p>The sampling rate of the data after post processing by Amazon Lookout for Equipment. For example, if you provide data that has been collected at a 1 second level and you want the system to resample the data at a 1 minute rate before training, the <code>TargetSamplingRate</code> is 1 minute.</p> <p>When providing a value for the <code>TargetSamplingRate</code>, you must attach the prefix \"PT\" to the rate you want. The value for a 1 second rate is therefore <i>PT1S</i>, the value for a 15 minute rate is <i>PT15M</i>, and the value for a 1 hour rate is <i>PT1H</i> </p>"
        }
      },
      "documentation":"<p>The configuration is the <code>TargetSamplingRate</code>, which is the sampling rate of the data after post processing by Amazon Lookout for Equipment. For example, if you provide data that has been collected at a 1 second level and you want the system to resample the data at a 1 minute rate before training, the <code>TargetSamplingRate</code> is 1 minute.</p> <p>When providing a value for the <code>TargetSamplingRate</code>, you must attach the prefix \"PT\" to the rate you want. The value for a 1 second rate is therefore <i>PT1S</i>, the value for a 15 minute rate is <i>PT15M</i>, and the value for a 1 hour rate is <i>PT1H</i> </p>"
    },
    "DataUploadFrequency":{
      "type":"string",
      "enum":[
        "PT5M",
        "PT10M",
        "PT15M",
        "PT30M",
        "PT1H"
      ]
    },
    "DatasetArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:aws(-[^:]+)?:lookoutequipment:[a-zA-Z0-9\\-]*:[0-9]{12}:dataset\\/.+"
    },
    "DatasetIdentifier":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[0-9a-zA-Z_-]{1,200}$"
    },
    "DatasetName":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[0-9a-zA-Z_-]{1,200}$"
    },
    "DatasetSchema":{
      "type":"structure",
      "members":{
        "InlineDataSchema":{
          "shape":"InlineDataSchema",
          "documentation":"<p> </p>",
          "jsonvalue":true
        }
      },
      "documentation":"<p>Provides information about the data schema used with the given dataset. </p>"
    },
    "DatasetStatus":{
      "type":"string",
      "enum":[
        "CREATED",
        "INGESTION_IN_PROGRESS",
        "ACTIVE"
      ]
    },
    "DatasetSummaries":{
      "type":"list",
      "member":{"shape":"DatasetSummary"}
    },
    "DatasetSummary":{
      "type":"structure",
      "members":{
        "DatasetName":{
          "shape":"DatasetName",
          "documentation":"<p>The name of the dataset. </p>"
        },
        "DatasetArn":{
          "shape":"DatasetArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the specified dataset. </p>"
        },
        "Status":{
          "shape":"DatasetStatus",
          "documentation":"<p>Indicates the status of the dataset. </p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the dataset was created in Amazon Lookout for Equipment. </p>"
        }
      },
      "documentation":"<p>Contains information about the specific data set, including name, ARN, and status. </p>"
    },
    "DeleteDatasetRequest":{
      "type":"structure",
      "required":["DatasetName"],
      "members":{
        "DatasetName":{
          "shape":"DatasetIdentifier",
          "documentation":"<p>The name of the dataset to be deleted. </p>"
        }
      }
    },
    "DeleteInferenceSchedulerRequest":{
      "type":"structure",
      "required":["InferenceSchedulerName"],
      "members":{
        "InferenceSchedulerName":{
          "shape":"InferenceSchedulerIdentifier",
          "documentation":"<p>The name of the inference scheduler to be deleted. </p>"
        }
      }
    },
    "DeleteModelRequest":{
      "type":"structure",
      "required":["ModelName"],
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the ML model to be deleted. </p>"
        }
      }
    },
    "DescribeDataIngestionJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{
          "shape":"IngestionJobId",
          "documentation":"<p>The job ID of the data ingestion job. </p>"
        }
      }
    },
    "DescribeDataIngestionJobResponse":{
      "type":"structure",
      "members":{
        "JobId":{
          "shape":"IngestionJobId",
          "documentation":"<p>Indicates the job ID of the data ingestion job. </p>"
        },
        "DatasetArn":{
          "shape":"DatasetArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the dataset being used in the data ingestion job. </p>"
        },
        "IngestionInputConfiguration":{
          "shape":"IngestionInputConfiguration",
          "documentation":"<p>Specifies the S3 location configuration for the data input for the data ingestion job. </p>"
        },
        "RoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of an IAM role with permission to access the data source being ingested. </p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the data ingestion job was created. </p>"
        },
        "Status":{
          "shape":"IngestionJobStatus",
          "documentation":"<p>Indicates the status of the <code>DataIngestionJob</code> operation. </p>"
        },
        "FailedReason":{
          "shape":"BoundedLengthString",
          "documentation":"<p>Specifies the reason for failure when a data ingestion job has failed. </p>"
        }
      }
    },
    "DescribeDatasetRequest":{
      "type":"structure",
      "required":["DatasetName"],
      "members":{
        "DatasetName":{
          "shape":"DatasetIdentifier",
          "documentation":"<p>The name of the dataset to be described. </p>"
        }
      }
    },
    "DescribeDatasetResponse":{
      "type":"structure",
      "members":{
        "DatasetName":{
          "shape":"DatasetName",
          "documentation":"<p>The name of the dataset being described. </p>"
        },
        "DatasetArn":{
          "shape":"DatasetArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the dataset being described. </p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>Specifies the time the dataset was created in Amazon Lookout for Equipment. </p>"
        },
        "LastUpdatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>Specifies the time the dataset was last updated, if it was. </p>"
        },
        "Status":{
          "shape":"DatasetStatus",
          "documentation":"<p>Indicates the status of the dataset. </p>"
        },
        "Schema":{
          "shape":"InlineDataSchema",
          "documentation":"<p>A JSON description of the data that is in each time series dataset, including names, column names, and data types. </p>",
          "jsonvalue":true
        },
        "ServerSideKmsKeyId":{
          "shape":"KmsKeyArn",
          "documentation":"<p>Provides the identifier of the KMS key used to encrypt dataset data by Amazon Lookout for Equipment. </p>"
        },
        "IngestionInputConfiguration":{
          "shape":"IngestionInputConfiguration",
          "documentation":"<p>Specifies the S3 location configuration for the data input for the data ingestion job. </p>"
        }
      }
    },
    "DescribeInferenceSchedulerRequest":{
      "type":"structure",
      "required":["InferenceSchedulerName"],
      "members":{
        "InferenceSchedulerName":{
          "shape":"InferenceSchedulerIdentifier",
          "documentation":"<p>The name of the inference scheduler being described. </p>"
        }
      }
    },
    "DescribeInferenceSchedulerResponse":{
      "type":"structure",
      "members":{
        "ModelArn":{
          "shape":"ModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the ML model of the inference scheduler being described. </p>"
        },
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the ML model of the inference scheduler being described. </p>"
        },
        "InferenceSchedulerName":{
          "shape":"InferenceSchedulerName",
          "documentation":"<p>The name of the inference scheduler being described. </p>"
        },
        "InferenceSchedulerArn":{
          "shape":"InferenceSchedulerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the inference scheduler being described. </p>"
        },
        "Status":{
          "shape":"InferenceSchedulerStatus",
          "documentation":"<p>Indicates the status of the inference scheduler. </p>"
        },
        "DataDelayOffsetInMinutes":{
          "shape":"DataDelayOffsetInMinutes",
          "documentation":"<p> A period of time (in minutes) by which inference on the data is delayed after the data starts. For instance, if you select an offset delay time of five minutes, inference will not begin on the data until the first data measurement after the five minute mark. For example, if five minutes is selected, the inference scheduler will wake up at the configured frequency with the additional five minute delay time to check the customer S3 bucket. The customer can upload data at the same frequency and they don't need to stop and restart the scheduler when uploading new data.</p>"
        },
        "DataUploadFrequency":{
          "shape":"DataUploadFrequency",
          "documentation":"<p>Specifies how often data is uploaded to the source S3 bucket for the input data. This value is the length of time between data uploads. For instance, if you select 5 minutes, Amazon Lookout for Equipment will upload the real-time data to the source bucket once every 5 minutes. This frequency also determines how often Amazon Lookout for Equipment starts a scheduled inference on your data. In this example, it starts once every 5 minutes. </p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>Specifies the time at which the inference scheduler was created. </p>"
        },
        "UpdatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>Specifies the time at which the inference scheduler was last updated, if it was. </p>"
        },
        "DataInputConfiguration":{
          "shape":"InferenceInputConfiguration",
          "documentation":"<p> Specifies configuration information for the input data for the inference scheduler, including delimiter, format, and dataset location. </p>"
        },
        "DataOutputConfiguration":{
          "shape":"InferenceOutputConfiguration",
          "documentation":"<p> Specifies information for the output results for the inference scheduler, including the output S3 location. </p>"
        },
        "RoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of a role with permission to access the data source for the inference scheduler being described. </p>"
        },
        "ServerSideKmsKeyId":{
          "shape":"KmsKeyArn",
          "documentation":"<p>Provides the identifier of the KMS key used to encrypt inference scheduler data by Amazon Lookout for Equipment. </p>"
        }
      }
    },
    "DescribeModelRequest":{
      "type":"structure",
      "required":["ModelName"],
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the ML model to be described. </p>"
        }
      }
    },
    "DescribeModelResponse":{
      "type":"structure",
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the ML model being described. </p>"
        },
        "ModelArn":{
          "shape":"ModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the ML model being described. </p>"
        },
        "DatasetName":{
          "shape":"DatasetName",
          "documentation":"<p>The name of the dataset being used by the ML being described. </p>"
        },
        "DatasetArn":{
          "shape":"DatasetArn",
          "documentation":"<p>The Amazon Resouce Name (ARN) of the dataset used to create the ML model being described. </p>"
        },
        "Schema":{
          "shape":"InlineDataSchema",
          "documentation":"<p>A JSON description of the data that is in each time series dataset, including names, column names, and data types. </p>",
          "jsonvalue":true
        },
        "LabelsInputConfiguration":{
          "shape":"LabelsInputConfiguration",
          "documentation":"<p>Specifies configuration information about the labels input, including its S3 location. </p>"
        },
        "TrainingDataStartTime":{
          "shape":"Timestamp",
          "documentation":"<p> Indicates the time reference in the dataset that was used to begin the subset of training data for the ML model. </p>"
        },
        "TrainingDataEndTime":{
          "shape":"Timestamp",
          "documentation":"<p> Indicates the time reference in the dataset that was used to end the subset of training data for the ML model. </p>"
        },
        "EvaluationDataStartTime":{
          "shape":"Timestamp",
          "documentation":"<p> Indicates the time reference in the dataset that was used to begin the subset of evaluation data for the ML model. </p>"
        },
        "EvaluationDataEndTime":{
          "shape":"Timestamp",
          "documentation":"<p> Indicates the time reference in the dataset that was used to end the subset of evaluation data for the ML model. </p>"
        },
        "RoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of a role with permission to access the data source for the ML model being described. </p>"
        },
        "DataPreProcessingConfiguration":{
          "shape":"DataPreProcessingConfiguration",
          "documentation":"<p>The configuration is the <code>TargetSamplingRate</code>, which is the sampling rate of the data after post processing by Amazon Lookout for Equipment. For example, if you provide data that has been collected at a 1 second level and you want the system to resample the data at a 1 minute rate before training, the <code>TargetSamplingRate</code> is 1 minute.</p> <p>When providing a value for the <code>TargetSamplingRate</code>, you must attach the prefix \"PT\" to the rate you want. The value for a 1 second rate is therefore <i>PT1S</i>, the value for a 15 minute rate is <i>PT15M</i>, and the value for a 1 hour rate is <i>PT1H</i> </p>"
        },
        "Status":{
          "shape":"ModelStatus",
          "documentation":"<p>Specifies the current status of the model being described. Status describes the status of the most recent action of the model. </p>"
        },
        "TrainingExecutionStartTime":{
          "shape":"Timestamp",
          "documentation":"<p>Indicates the time at which the training of the ML model began. </p>"
        },
        "TrainingExecutionEndTime":{
          "shape":"Timestamp",
          "documentation":"<p>Indicates the time at which the training of the ML model was completed. </p>"
        },
        "FailedReason":{
          "shape":"BoundedLengthString",
          "documentation":"<p>If the training of the ML model failed, this indicates the reason for that failure. </p>"
        },
        "ModelMetrics":{
          "shape":"ModelMetrics",
          "documentation":"<p>The Model Metrics show an aggregated summary of the model's performance within the evaluation time range. This is the JSON content of the metrics created when evaluating the model. </p>",
          "jsonvalue":true
        },
        "LastUpdatedTime":{
          "shape":"Timestamp",
          "documentation":"<p>Indicates the last time the ML model was updated. The type of update is not specified. </p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>Indicates the time and date at which the ML model was created. </p>"
        },
        "ServerSideKmsKeyId":{
          "shape":"KmsKeyArn",
          "documentation":"<p>Provides the identifier of the KMS key used to encrypt model data by Amazon Lookout for Equipment. </p>"
        },
        "OffCondition":{
          "shape":"OffCondition",
          "documentation":"<p>Indicates that the asset associated with this sensor has been shut off. As long as this condition is met, Lookout for Equipment will not use data from this asset for training, evaluation, or inference.</p>"
        }
      }
    },
    "FileNameTimestampFormat":{
      "type":"string",
      "pattern":"^EPOCH|yyyy-MM-dd-HH-mm-ss|yyyyMMddHHmmss$"
    },
    "IamRoleArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+"
    },
    "IdempotenceToken":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"\\p{ASCII}{1,256}"
    },
    "InferenceExecutionStatus":{
      "type":"string",
      "enum":[
        "IN_PROGRESS",
        "SUCCESS",
        "FAILED"
      ]
    },
    "InferenceExecutionSummaries":{
      "type":"list",
      "member":{"shape":"InferenceExecutionSummary"}
    },
    "InferenceExecutionSummary":{
      "type":"structure",
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the ML model being used for the inference execution. </p>"
        },
        "ModelArn":{
          "shape":"ModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the ML model used for the inference execution. </p>"
        },
        "InferenceSchedulerName":{
          "shape":"InferenceSchedulerName",
          "documentation":"<p>The name of the inference scheduler being used for the inference execution. </p>"
        },
        "InferenceSchedulerArn":{
          "shape":"InferenceSchedulerArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the inference scheduler being used for the inference execution. </p>"
        },
        "ScheduledStartTime":{
          "shape":"Timestamp",
          "documentation":"<p>Indicates the start time at which the inference scheduler began the specific inference execution. </p>"
        },
        "DataStartTime":{
          "shape":"Timestamp",
          "documentation":"<p>Indicates the time reference in the dataset at which the inference execution began. </p>"
        },
        "DataEndTime":{
          "shape":"Timestamp",
          "documentation":"<p>Indicates the time reference in the dataset at which the inference execution stopped. </p>"
        },
        "DataInputConfiguration":{
          "shape":"InferenceInputConfiguration",
          "documentation":"<p> Specifies configuration information for the input data for the inference scheduler, including delimiter, format, and dataset location. </p>"
        },
        "DataOutputConfiguration":{
          "shape":"InferenceOutputConfiguration",
          "documentation":"<p> Specifies configuration information for the output results from for the inference execution, including the output S3 location. </p>"
        },
        "CustomerResultObject":{
          "shape":"S3Object",
          "documentation":"<p> </p>"
        },
        "Status":{
          "shape":"InferenceExecutionStatus",
          "documentation":"<p>Indicates the status of the inference execution. </p>"
        },
        "FailedReason":{
          "shape":"BoundedLengthString",
          "documentation":"<p> Specifies the reason for failure when an inference execution has failed. </p>"
        }
      },
      "documentation":"<p>Contains information about the specific inference execution, including input and output data configuration, inference scheduling information, status, and so on. </p>"
    },
    "InferenceInputConfiguration":{
      "type":"structure",
      "members":{
        "S3InputConfiguration":{
          "shape":"InferenceS3InputConfiguration",
          "documentation":"<p> Specifies configuration information for the input data for the inference, including S3 location of input data.. </p>"
        },
        "InputTimeZoneOffset":{
          "shape":"TimeZoneOffset",
          "documentation":"<p>Indicates the difference between your time zone and Greenwich Mean Time (GMT). </p>"
        },
        "InferenceInputNameConfiguration":{
          "shape":"InferenceInputNameConfiguration",
          "documentation":"<p>Specifies configuration information for the input data for the inference, including timestamp format and delimiter. </p>"
        }
      },
      "documentation":"<p>Specifies configuration information for the input data for the inference, including S3 location of input data.. </p>"
    },
    "InferenceInputNameConfiguration":{
      "type":"structure",
      "members":{
        "TimestampFormat":{
          "shape":"FileNameTimestampFormat",
          "documentation":"<p>The format of the timestamp, whether Epoch time, or standard, with or without hyphens (-). </p>"
        },
        "ComponentTimestampDelimiter":{
          "shape":"ComponentTimestampDelimiter",
          "documentation":"<p>Indicates the delimiter character used between items in the data. </p>"
        }
      },
      "documentation":"<p>Specifies configuration information for the input data for the inference, including timestamp format and delimiter. </p>"
    },
    "InferenceOutputConfiguration":{
      "type":"structure",
      "required":["S3OutputConfiguration"],
      "members":{
        "S3OutputConfiguration":{
          "shape":"InferenceS3OutputConfiguration",
          "documentation":"<p> Specifies configuration information for the output results from for the inference, output S3 location. </p>"
        },
        "KmsKeyId":{
          "shape":"NameOrArn",
          "documentation":"<p>The ID number for the AWS KMS key used to encrypt the inference output. </p>"
        }
      },
      "documentation":"<p> Specifies configuration information for the output results from for the inference, including KMS key ID and output S3 location. </p>"
    },
    "InferenceS3InputConfiguration":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"S3Bucket",
          "documentation":"<p>The bucket containing the input dataset for the inference. </p>"
        },
        "Prefix":{
          "shape":"S3Prefix",
          "documentation":"<p>The prefix for the S3 bucket used for the input data for the inference. </p>"
        }
      },
      "documentation":"<p> Specifies configuration information for the input data for the inference, including input data S3 location. </p>"
    },
    "InferenceS3OutputConfiguration":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"S3Bucket",
          "documentation":"<p> The bucket containing the output results from the inference </p>"
        },
        "Prefix":{
          "shape":"S3Prefix",
          "documentation":"<p> The prefix for the S3 bucket used for the output results from the inference. </p>"
        }
      },
      "documentation":"<p> Specifies configuration information for the output results from the inference, including output S3 location. </p>"
    },
    "InferenceSchedulerArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:aws(-[^:]+)?:lookoutequipment:[a-zA-Z0-9\\-]*:[0-9]{12}:inference-scheduler\\/.+"
    },
    "InferenceSchedulerIdentifier":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[0-9a-zA-Z_-]{1,200}$"
    },
    "InferenceSchedulerName":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[0-9a-zA-Z_-]{1,200}$"
    },
    "InferenceSchedulerStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "RUNNING",
        "STOPPING",
        "STOPPED"
      ]
    },
    "InferenceSchedulerSummaries":{
      "type":"list",
      "member":{"shape":"InferenceSchedulerSummary"}
    },
    "InferenceSchedulerSummary":{
      "type":"structure",
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the ML model used for the inference scheduler. </p>"
        },
        "ModelArn":{
          "shape":"ModelArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the ML model used by the inference scheduler. </p>"
        },
        "InferenceSchedulerName":{
          "shape":"InferenceSchedulerName",
          "documentation":"<p>The name of the inference scheduler. </p>"
        },
        "InferenceSchedulerArn":{
          "shape":"InferenceSchedulerArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the inference scheduler. </p>"
        },
        "Status":{
          "shape":"InferenceSchedulerStatus",
          "documentation":"<p>Indicates the status of the inference scheduler. </p>"
        },
        "DataDelayOffsetInMinutes":{
          "shape":"DataDelayOffsetInMinutes",
          "documentation":"<p>A period of time (in minutes) by which inference on the data is delayed after the data starts. For instance, if an offset delay time of five minutes was selected, inference will not begin on the data until the first data measurement after the five minute mark. For example, if five minutes is selected, the inference scheduler will wake up at the configured frequency with the additional five minute delay time to check the customer S3 bucket. The customer can upload data at the same frequency and they don't need to stop and restart the scheduler when uploading new data. </p>"
        },
        "DataUploadFrequency":{
          "shape":"DataUploadFrequency",
          "documentation":"<p>How often data is uploaded to the source S3 bucket for the input data. This value is the length of time between data uploads. For instance, if you select 5 minutes, Amazon Lookout for Equipment will upload the real-time data to the source bucket once every 5 minutes. This frequency also determines how often Amazon Lookout for Equipment starts a scheduled inference on your data. In this example, it starts once every 5 minutes. </p>"
        }
      },
      "documentation":"<p>Contains information about the specific inference scheduler, including data delay offset, model name and ARN, status, and so on. </p>"
    },
    "IngestionInputConfiguration":{
      "type":"structure",
      "required":["S3InputConfiguration"],
      "members":{
        "S3InputConfiguration":{
          "shape":"IngestionS3InputConfiguration",
          "documentation":"<p>The location information for the S3 bucket used for input data for the data ingestion. </p>"
        }
      },
      "documentation":"<p> Specifies configuration information for the input data for the data ingestion job, including input data S3 location. </p>"
    },
    "IngestionJobId":{
      "type":"string",
      "max":32,
      "pattern":"[A-Fa-f0-9]{0,32}"
    },
    "IngestionJobStatus":{
      "type":"string",
      "enum":[
        "IN_PROGRESS",
        "SUCCESS",
        "FAILED"
      ]
    },
    "IngestionS3InputConfiguration":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"S3Bucket",
          "documentation":"<p>The name of the S3 bucket used for the input data for the data ingestion. </p>"
        },
        "Prefix":{
          "shape":"S3Prefix",
          "documentation":"<p>The prefix for the S3 location being used for the input data for the data ingestion. </p>"
        }
      },
      "documentation":"<p> Specifies S3 configuration information for the input data for the data ingestion job. </p>"
    },
    "InlineDataSchema":{
      "type":"string",
      "max":1000000,
      "min":1
    },
    "InternalServerException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"BoundedLengthString"}
      },
      "documentation":"<p> Processing of the request has failed because of an unknown error, exception or failure. </p>",
      "exception":true,
      "fault":true
    },
    "KmsKeyArn":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"arn:aws[a-z\\-]*:kms:[a-z0-9\\-]*:\\d{12}:[\\w\\-\\/]+"
    },
    "LabelsInputConfiguration":{
      "type":"structure",
      "required":["S3InputConfiguration"],
      "members":{
        "S3InputConfiguration":{
          "shape":"LabelsS3InputConfiguration",
          "documentation":"<p>Contains location information for the S3 location being used for label data. </p>"
        }
      },
      "documentation":"<p>Contains the configuration information for the S3 location being used to hold label data. </p>"
    },
    "LabelsS3InputConfiguration":{
      "type":"structure",
      "required":["Bucket"],
      "members":{
        "Bucket":{
          "shape":"S3Bucket",
          "documentation":"<p>The name of the S3 bucket holding the label data. </p>"
        },
        "Prefix":{
          "shape":"S3Prefix",
          "documentation":"<p> The prefix for the S3 bucket used for the label data. </p>"
        }
      },
      "documentation":"<p>The location information (prefix and bucket name) for the s3 location being used for label data. </p>"
    },
    "ListDataIngestionJobsRequest":{
      "type":"structure",
      "members":{
        "DatasetName":{
          "shape":"DatasetName",
          "documentation":"<p>The name of the dataset being used for the data ingestion job. </p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p> An opaque pagination token indicating where to continue the listing of data ingestion jobs. </p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p> Specifies the maximum number of data ingestion jobs to list. </p>"
        },
        "Status":{
          "shape":"IngestionJobStatus",
          "documentation":"<p>Indicates the status of the data ingestion job. </p>"
        }
      }
    },
    "ListDataIngestionJobsResponse":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p> An opaque pagination token indicating where to continue the listing of data ingestion jobs. </p>"
        },
        "DataIngestionJobSummaries":{
          "shape":"DataIngestionJobSummaries",
          "documentation":"<p>Specifies information about the specific data ingestion job, including dataset name and status. </p>"
        }
      }
    },
    "ListDatasetsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p> An opaque pagination token indicating where to continue the listing of datasets. </p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p> Specifies the maximum number of datasets to list. </p>"
        },
        "DatasetNameBeginsWith":{
          "shape":"DatasetName",
          "documentation":"<p>The beginning of the name of the datasets to be listed. </p>"
        }
      }
    },
    "ListDatasetsResponse":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p> An opaque pagination token indicating where to continue the listing of datasets. </p>"
        },
        "DatasetSummaries":{
          "shape":"DatasetSummaries",
          "documentation":"<p>Provides information about the specified dataset, including creation time, dataset ARN, and status. </p>"
        }
      }
    },
    "ListInferenceExecutionsRequest":{
      "type":"structure",
      "required":["InferenceSchedulerName"],
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>An opaque pagination token indicating where to continue the listing of inference executions.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>Specifies the maximum number of inference executions to list. </p>"
        },
        "InferenceSchedulerName":{
          "shape":"InferenceSchedulerIdentifier",
          "documentation":"<p>The name of the inference scheduler for the inference execution listed. </p>"
        },
        "DataStartTimeAfter":{
          "shape":"Timestamp",
          "documentation":"<p>The time reference in the inferenced dataset after which Amazon Lookout for Equipment started the inference execution. </p>"
        },
        "DataEndTimeBefore":{
          "shape":"Timestamp",
          "documentation":"<p>The time reference in the inferenced dataset before which Amazon Lookout for Equipment stopped the inference execution. </p>"
        },
        "Status":{
          "shape":"InferenceExecutionStatus",
          "documentation":"<p>The status of the inference execution. </p>"
        }
      }
    },
    "ListInferenceExecutionsResponse":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p> An opaque pagination token indicating where to continue the listing of inference executions. </p>"
        },
        "InferenceExecutionSummaries":{
          "shape":"InferenceExecutionSummaries",
          "documentation":"<p>Provides an array of information about the individual inference executions returned from the <code>ListInferenceExecutions</code> operation, including model used, inference scheduler, data configuration, and so on. </p>"
        }
      }
    },
    "ListInferenceSchedulersRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p> An opaque pagination token indicating where to continue the listing of inference schedulers. </p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p> Specifies the maximum number of inference schedulers to list. </p>"
        },
        "InferenceSchedulerNameBeginsWith":{
          "shape":"InferenceSchedulerIdentifier",
          "documentation":"<p>The beginning of the name of the inference schedulers to be listed. </p>"
        },
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the ML model used by the inference scheduler to be listed. </p>"
        }
      }
    },
    "ListInferenceSchedulersResponse":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p> An opaque pagination token indicating where to continue the listing of inference schedulers. </p>"
        },
        "InferenceSchedulerSummaries":{
          "shape":"InferenceSchedulerSummaries",
          "documentation":"<p>Provides information about the specified inference scheduler, including data upload frequency, model name and ARN, and status. </p>"
        }
      }
    },
    "ListModelsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p> An opaque pagination token indicating where to continue the listing of ML models. </p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p> Specifies the maximum number of ML models to list. </p>"
        },
        "Status":{
          "shape":"ModelStatus",
          "documentation":"<p>The status of the ML model. </p>"
        },
        "ModelNameBeginsWith":{
          "shape":"ModelName",
          "documentation":"<p>The beginning of the name of the ML models being listed. </p>"
        },
        "DatasetNameBeginsWith":{
          "shape":"DatasetName",
          "documentation":"<p>The beginning of the name of the dataset of the ML models to be listed. </p>"
        }
      }
    },
    "ListModelsResponse":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p> An opaque pagination token indicating where to continue the listing of ML models. </p>"
        },
        "ModelSummaries":{
          "shape":"ModelSummaries",
          "documentation":"<p>Provides information on the specified model, including created time, model and dataset ARNs, and status. </p>"
        }
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{
          "shape":"AmazonResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource (such as the dataset or model) that is the focus of the <code>ListTagsForResource</code> operation. </p>"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "Tags":{
          "shape":"TagList",
          "documentation":"<p> Any tags associated with the resource. </p>"
        }
      }
    },
    "MaxResults":{
      "type":"integer",
      "max":500,
      "min":1
    },
    "ModelArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:aws(-[^:]+)?:lookoutequipment:[a-zA-Z0-9\\-]*:[0-9]{12}:model\\/.+"
    },
    "ModelMetrics":{
      "type":"string",
      "max":50000,
      "min":1
    },
    "ModelName":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[0-9a-zA-Z_-]{1,200}$"
    },
    "ModelStatus":{
      "type":"string",
      "enum":[
        "IN_PROGRESS",
        "SUCCESS",
        "FAILED"
      ]
    },
    "ModelSummaries":{
      "type":"list",
      "member":{"shape":"ModelSummary"}
    },
    "ModelSummary":{
      "type":"structure",
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the ML model. </p>"
        },
        "ModelArn":{
          "shape":"ModelArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the ML model. </p>"
        },
        "DatasetName":{
          "shape":"DatasetName",
          "documentation":"<p>The name of the dataset being used for the ML model. </p>"
        },
        "DatasetArn":{
          "shape":"DatasetArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the dataset used to create the model. </p>"
        },
        "Status":{
          "shape":"ModelStatus",
          "documentation":"<p>Indicates the status of the ML model. </p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the specific model was created. </p>"
        }
      },
      "documentation":"<p>Provides information about the specified ML model, including dataset and model names and ARNs, as well as status. </p>"
    },
    "NameOrArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"^[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,2048}$"
    },
    "NextToken":{
      "type":"string",
      "max":8192,
      "pattern":"\\p{ASCII}{0,8192}"
    },
    "OffCondition":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"BoundedLengthString"}
      },
      "documentation":"<p> The resource requested could not be found. Verify the resource ID and retry your request. </p>",
      "exception":true
    },
    "S3Bucket":{
      "type":"string",
      "max":63,
      "min":3,
      "pattern":"^[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9]$"
    },
    "S3Key":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[\\P{M}\\p{M}]{1,1024}[^/]$"
    },
    "S3Object":{
      "type":"structure",
      "required":[
        "Bucket",
        "Key"
      ],
      "members":{
        "Bucket":{
          "shape":"S3Bucket",
          "documentation":"<p>The name of the specific S3 bucket. </p>"
        },
        "Key":{
          "shape":"S3Key",
          "documentation":"<p>The AWS Key Management Service (AWS KMS) key being used to encrypt the S3 object. Without this key, data in the bucket is not accessible. </p>"
        }
      },
      "documentation":"<p>Contains information about an S3 bucket. </p>"
    },
    "S3Prefix":{
      "type":"string",
      "max":1024,
      "min":0,
      "pattern":"(^$)|([\\P{M}\\p{M}]{1,1023}/$)"
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"BoundedLengthString"}
      },
      "documentation":"<p> Resource limitations have been exceeded. </p>",
      "exception":true
    },
    "StartDataIngestionJobRequest":{
      "type":"structure",
      "required":[
        "DatasetName",
        "IngestionInputConfiguration",
        "RoleArn",
        "ClientToken"
      ],
      "members":{
        "DatasetName":{
          "shape":"DatasetIdentifier",
          "documentation":"<p>The name of the dataset being used by the data ingestion job. </p>"
        },
        "IngestionInputConfiguration":{
          "shape":"IngestionInputConfiguration",
          "documentation":"<p> Specifies information for the input data for the data ingestion job, including dataset S3 location. </p>"
        },
        "RoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of a role with permission to access the data source for the data ingestion job. </p>"
        },
        "ClientToken":{
          "shape":"IdempotenceToken",
          "documentation":"<p> A unique identifier for the request. If you do not set the client request token, Amazon Lookout for Equipment generates one. </p>",
          "idempotencyToken":true
        }
      }
    },
    "StartDataIngestionJobResponse":{
      "type":"structure",
      "members":{
        "JobId":{
          "shape":"IngestionJobId",
          "documentation":"<p>Indicates the job ID of the data ingestion job. </p>"
        },
        "Status":{
          "shape":"IngestionJobStatus",
          "documentation":"<p>Indicates the status of the <code>StartDataIngestionJob</code> operation. </p>"
        }
      }
    },
    "StartInferenceSchedulerRequest":{
      "type":"structure",
      "required":["InferenceSchedulerName"],
      "members":{
        "InferenceSchedulerName":{
          "shape":"InferenceSchedulerIdentifier",
          "documentation":"<p>The name of the inference scheduler to be started. </p>"
        }
      }
    },
    "StartInferenceSchedulerResponse":{
      "type":"structure",
      "members":{
        "ModelArn":{
          "shape":"ModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the ML model being used by the inference scheduler. </p>"
        },
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the ML model being used by the inference scheduler. </p>"
        },
        "InferenceSchedulerName":{
          "shape":"InferenceSchedulerName",
          "documentation":"<p>The name of the inference scheduler being started. </p>"
        },
        "InferenceSchedulerArn":{
          "shape":"InferenceSchedulerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the inference scheduler being started. </p>"
        },
        "Status":{
          "shape":"InferenceSchedulerStatus",
          "documentation":"<p>Indicates the status of the inference scheduler. </p>"
        }
      }
    },
    "StopInferenceSchedulerRequest":{
      "type":"structure",
      "required":["InferenceSchedulerName"],
      "members":{
        "InferenceSchedulerName":{
          "shape":"InferenceSchedulerIdentifier",
          "documentation":"<p>The name of the inference scheduler to be stopped. </p>"
        }
      }
    },
    "StopInferenceSchedulerResponse":{
      "type":"structure",
      "members":{
        "ModelArn":{
          "shape":"ModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the ML model used by the inference scheduler being stopped. </p>"
        },
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the ML model used by the inference scheduler being stopped. </p>"
        },
        "InferenceSchedulerName":{
          "shape":"InferenceSchedulerName",
          "documentation":"<p>The name of the inference scheduler being stopped. </p>"
        },
        "InferenceSchedulerArn":{
          "shape":"InferenceSchedulerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the inference schedule being stopped. </p>"
        },
        "Status":{
          "shape":"InferenceSchedulerStatus",
          "documentation":"<p>Indicates the status of the inference scheduler. </p>"
        }
      }
    },
    "Tag":{
      "type":"structure",
      "required":[
        "Key",
        "Value"
      ],
      "members":{
        "Key":{
          "shape":"TagKey",
          "documentation":"<p>The key for the specified tag. </p>"
        },
        "Value":{
          "shape":"TagValue",
          "documentation":"<p>The value for the specified tag. </p>"
        }
      },
      "documentation":"<p>A tag is a key-value pair that can be added to a resource as metadata. </p>"
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^(?!aws:)[a-zA-Z+-=._:/]+$"
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "max":200,
      "min":0
    },
    "TagList":{
      "type":"list",
      "member":{"shape":"Tag"},
      "max":200,
      "min":0
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "Tags"
      ],
      "members":{
        "ResourceArn":{
          "shape":"AmazonResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the specific resource to which the tag should be associated. </p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tag or tags to be associated with a specific resource. Both the tag key and value are specified. </p>"
        }
      }
    },
    "TagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"[\\s\\w+-=\\.:/@]*"
    },
    "TargetSamplingRate":{
      "type":"string",
      "enum":[
        "PT1S",
        "PT5S",
        "PT10S",
        "PT15S",
        "PT30S",
        "PT1M",
        "PT5M",
        "PT10M",
        "PT15M",
        "PT30M",
        "PT1H"
      ]
    },
    "ThrottlingException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"BoundedLengthString"}
      },
      "documentation":"<p>The request was denied due to request throttling.</p>",
      "exception":true
    },
    "TimeZoneOffset":{
      "type":"string",
      "pattern":"^(\\+|\\-)[0-9]{2}\\:[0-9]{2}$"
    },
    "Timestamp":{"type":"timestamp"},
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "TagKeys"
      ],
      "members":{
        "ResourceArn":{
          "shape":"AmazonResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource to which the tag is currently associated. </p>"
        },
        "TagKeys":{
          "shape":"TagKeyList",
          "documentation":"<p>Specifies the key of the tag to be removed from a specified resource. </p>"
        }
      }
    },
    "UntagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateInferenceSchedulerRequest":{
      "type":"structure",
      "required":["InferenceSchedulerName"],
      "members":{
        "InferenceSchedulerName":{
          "shape":"InferenceSchedulerIdentifier",
          "documentation":"<p>The name of the inference scheduler to be updated. </p>"
        },
        "DataDelayOffsetInMinutes":{
          "shape":"DataDelayOffsetInMinutes",
          "documentation":"<p> A period of time (in minutes) by which inference on the data is delayed after the data starts. For instance, if you select an offset delay time of five minutes, inference will not begin on the data until the first data measurement after the five minute mark. For example, if five minutes is selected, the inference scheduler will wake up at the configured frequency with the additional five minute delay time to check the customer S3 bucket. The customer can upload data at the same frequency and they don't need to stop and restart the scheduler when uploading new data.</p>"
        },
        "DataUploadFrequency":{
          "shape":"DataUploadFrequency",
          "documentation":"<p>How often data is uploaded to the source S3 bucket for the input data. The value chosen is the length of time between data uploads. For instance, if you select 5 minutes, Amazon Lookout for Equipment will upload the real-time data to the source bucket once every 5 minutes. This frequency also determines how often Amazon Lookout for Equipment starts a scheduled inference on your data. In this example, it starts once every 5 minutes. </p>"
        },
        "DataInputConfiguration":{
          "shape":"InferenceInputConfiguration",
          "documentation":"<p> Specifies information for the input data for the inference scheduler, including delimiter, format, and dataset location. </p>"
        },
        "DataOutputConfiguration":{
          "shape":"InferenceOutputConfiguration",
          "documentation":"<p> Specifies information for the output results from the inference scheduler, including the output S3 location. </p>"
        },
        "RoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of a role with permission to access the data source for the inference scheduler. </p>"
        }
      }
    },
    "ValidationException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"BoundedLengthString"}
      },
      "documentation":"<p> The input fails to satisfy constraints specified by Amazon Lookout for Equipment or a related AWS service that's being utilized. </p>",
      "exception":true
    }
  },
  "documentation":"<p>Amazon Lookout for Equipment is a machine learning service that uses advanced analytics to identify anomalies in machines from sensor data for use in predictive maintenance. </p>"
}
