{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-10-26",
    "endpointPrefix":"transcribe",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceFullName":"Amazon Transcribe Service",
    "serviceId":"Transcribe",
    "signatureVersion":"v4",
    "signingName":"transcribe",
    "targetPrefix":"Transcribe",
    "uid":"transcribe-2017-10-26"
  },
  "operations":{
    "CreateCallAnalyticsCategory":{
      "name":"CreateCallAnalyticsCategory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCallAnalyticsCategoryRequest"},
      "output":{"shape":"CreateCallAnalyticsCategoryResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates an analytics category. Amazon Transcribe applies the conditions specified by your analytics categories to your call analytics jobs. For each analytics category, you specify one or more rules. For example, you can specify a rule that the customer sentiment was neutral or negative within that category. If you start a call analytics job, Amazon Transcribe applies the category to the analytics job that you've specified.</p>"
    },
    "CreateLanguageModel":{
      "name":"CreateLanguageModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLanguageModelRequest"},
      "output":{"shape":"CreateLanguageModelResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a new custom language model. Use Amazon S3 prefixes to provide the location of your input files. The time it takes to create your model depends on the size of your training data.</p>"
    },
    "CreateMedicalVocabulary":{
      "name":"CreateMedicalVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateMedicalVocabularyRequest"},
      "output":{"shape":"CreateMedicalVocabularyResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a new custom vocabulary that you can use to modify how Amazon Transcribe Medical transcribes your audio file.</p>"
    },
    "CreateVocabulary":{
      "name":"CreateVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVocabularyRequest"},
      "output":{"shape":"CreateVocabularyResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a new custom vocabulary that you can use to change the way Amazon Transcribe handles transcription of an audio file.</p>"
    },
    "CreateVocabularyFilter":{
      "name":"CreateVocabularyFilter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVocabularyFilterRequest"},
      "output":{"shape":"CreateVocabularyFilterResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a new vocabulary filter that you can use to filter words, such as profane words, from the output of a transcription job.</p>"
    },
    "DeleteCallAnalyticsCategory":{
      "name":"DeleteCallAnalyticsCategory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCallAnalyticsCategoryRequest"},
      "output":{"shape":"DeleteCallAnalyticsCategoryResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a call analytics category using its name.</p>"
    },
    "DeleteCallAnalyticsJob":{
      "name":"DeleteCallAnalyticsJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCallAnalyticsJobRequest"},
      "output":{"shape":"DeleteCallAnalyticsJobResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a call analytics job using its name.</p>"
    },
    "DeleteLanguageModel":{
      "name":"DeleteLanguageModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLanguageModelRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a custom language model using its name.</p>"
    },
    "DeleteMedicalTranscriptionJob":{
      "name":"DeleteMedicalTranscriptionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMedicalTranscriptionJobRequest"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a transcription job generated by Amazon Transcribe Medical and any related information.</p>"
    },
    "DeleteMedicalVocabulary":{
      "name":"DeleteMedicalVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMedicalVocabularyRequest"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a vocabulary from Amazon Transcribe Medical.</p>"
    },
    "DeleteTranscriptionJob":{
      "name":"DeleteTranscriptionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTranscriptionJobRequest"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a previously submitted transcription job along with any other generated results such as the transcription, models, and so on.</p>"
    },
    "DeleteVocabulary":{
      "name":"DeleteVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVocabularyRequest"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a vocabulary from Amazon Transcribe. </p>"
    },
    "DeleteVocabularyFilter":{
      "name":"DeleteVocabularyFilter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVocabularyFilterRequest"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Removes a vocabulary filter.</p>"
    },
    "DescribeLanguageModel":{
      "name":"DescribeLanguageModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLanguageModelRequest"},
      "output":{"shape":"DescribeLanguageModelResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Gets information about a single custom language model. Use this information to see details about the language model in your Amazon Web Services account. You can also see whether the base language model used to create your custom language model has been updated. If Amazon Transcribe has updated the base model, you can create a new custom language model using the updated base model. If the language model wasn't created, you can use this operation to understand why Amazon Transcribe couldn't create it. </p>"
    },
    "GetCallAnalyticsCategory":{
      "name":"GetCallAnalyticsCategory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCallAnalyticsCategoryRequest"},
      "output":{"shape":"GetCallAnalyticsCategoryResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Retrieves information about a call analytics category.</p>"
    },
    "GetCallAnalyticsJob":{
      "name":"GetCallAnalyticsJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCallAnalyticsJobRequest"},
      "output":{"shape":"GetCallAnalyticsJobResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Returns information about a call analytics job. To see the status of the job, check the <code>CallAnalyticsJobStatus</code> field. If the status is <code>COMPLETED</code>, the job is finished and you can find the results at the location specified in the <code>TranscriptFileUri</code> field. If you enable personally identifiable information (PII) redaction, the redacted transcript appears in the <code>RedactedTranscriptFileUri</code> field.</p>"
    },
    "GetMedicalTranscriptionJob":{
      "name":"GetMedicalTranscriptionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMedicalTranscriptionJobRequest"},
      "output":{"shape":"GetMedicalTranscriptionJobResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Returns information about a transcription job from Amazon Transcribe Medical. To see the status of the job, check the <code>TranscriptionJobStatus</code> field. If the status is <code>COMPLETED</code>, the job is finished. You find the results of the completed job in the <code>TranscriptFileUri</code> field.</p>"
    },
    "GetMedicalVocabulary":{
      "name":"GetMedicalVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMedicalVocabularyRequest"},
      "output":{"shape":"GetMedicalVocabularyResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Retrieves information about a medical vocabulary.</p>"
    },
    "GetTranscriptionJob":{
      "name":"GetTranscriptionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTranscriptionJobRequest"},
      "output":{"shape":"GetTranscriptionJobResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Returns information about a transcription job. To see the status of the job, check the <code>TranscriptionJobStatus</code> field. If the status is <code>COMPLETED</code>, the job is finished and you can find the results at the location specified in the <code>TranscriptFileUri</code> field. If you enable content redaction, the redacted transcript appears in <code>RedactedTranscriptFileUri</code>.</p>"
    },
    "GetVocabulary":{
      "name":"GetVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetVocabularyRequest"},
      "output":{"shape":"GetVocabularyResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Gets information about a vocabulary. </p>"
    },
    "GetVocabularyFilter":{
      "name":"GetVocabularyFilter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetVocabularyFilterRequest"},
      "output":{"shape":"GetVocabularyFilterResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Returns information about a vocabulary filter.</p>"
    },
    "ListCallAnalyticsCategories":{
      "name":"ListCallAnalyticsCategories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCallAnalyticsCategoriesRequest"},
      "output":{"shape":"ListCallAnalyticsCategoriesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides more information about the call analytics categories that you've created. You can use the information in this list to find a specific category. You can then use the operation to get more information about it.</p>"
    },
    "ListCallAnalyticsJobs":{
      "name":"ListCallAnalyticsJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCallAnalyticsJobsRequest"},
      "output":{"shape":"ListCallAnalyticsJobsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>List call analytics jobs with a specified status or substring that matches their names.</p>"
    },
    "ListLanguageModels":{
      "name":"ListLanguageModels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLanguageModelsRequest"},
      "output":{"shape":"ListLanguageModelsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides more information about the custom language models you've created. You can use the information in this list to find a specific custom language model. You can then use the operation to get more information about it.</p>"
    },
    "ListMedicalTranscriptionJobs":{
      "name":"ListMedicalTranscriptionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMedicalTranscriptionJobsRequest"},
      "output":{"shape":"ListMedicalTranscriptionJobsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists medical transcription jobs with a specified status or substring that matches their names.</p>"
    },
    "ListMedicalVocabularies":{
      "name":"ListMedicalVocabularies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMedicalVocabulariesRequest"},
      "output":{"shape":"ListMedicalVocabulariesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Returns a list of vocabularies that match the specified criteria. If you don't enter a value in any of the request parameters, returns the entire list of vocabularies.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all tags associated with a given transcription job, vocabulary, or resource.</p>"
    },
    "ListTranscriptionJobs":{
      "name":"ListTranscriptionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTranscriptionJobsRequest"},
      "output":{"shape":"ListTranscriptionJobsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists transcription jobs with the specified status.</p>"
    },
    "ListVocabularies":{
      "name":"ListVocabularies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListVocabulariesRequest"},
      "output":{"shape":"ListVocabulariesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Returns a list of vocabularies that match the specified criteria. If no criteria are specified, returns the entire list of vocabularies.</p>"
    },
    "ListVocabularyFilters":{
      "name":"ListVocabularyFilters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListVocabularyFiltersRequest"},
      "output":{"shape":"ListVocabularyFiltersResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Gets information about vocabulary filters.</p>"
    },
    "StartCallAnalyticsJob":{
      "name":"StartCallAnalyticsJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartCallAnalyticsJobRequest"},
      "output":{"shape":"StartCallAnalyticsJobResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Starts an asynchronous analytics job that not only transcribes the audio recording of a caller and agent, but also returns additional insights. These insights include how quickly or loudly the caller or agent was speaking. To retrieve additional insights with your analytics jobs, create categories. A category is a way to classify analytics jobs based on attributes, such as a customer's sentiment or a particular phrase being used during the call. For more information, see the operation. </p>"
    },
    "StartMedicalTranscriptionJob":{
      "name":"StartMedicalTranscriptionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartMedicalTranscriptionJobRequest"},
      "output":{"shape":"StartMedicalTranscriptionJobResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Starts a batch job to transcribe medical speech to text.</p>"
    },
    "StartTranscriptionJob":{
      "name":"StartTranscriptionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartTranscriptionJobRequest"},
      "output":{"shape":"StartTranscriptionJobResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Starts an asynchronous job to transcribe speech to text.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Tags an Amazon Transcribe resource with the given list of tags.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Removes specified tags from a specified Amazon Transcribe resource.</p>"
    },
    "UpdateCallAnalyticsCategory":{
      "name":"UpdateCallAnalyticsCategory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCallAnalyticsCategoryRequest"},
      "output":{"shape":"UpdateCallAnalyticsCategoryResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates the call analytics category with new values. The <code>UpdateCallAnalyticsCategory</code> operation overwrites all of the existing information with the values that you provide in the request.</p>"
    },
    "UpdateMedicalVocabulary":{
      "name":"UpdateMedicalVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateMedicalVocabularyRequest"},
      "output":{"shape":"UpdateMedicalVocabularyResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates a vocabulary with new values that you provide in a different text file from the one you used to create the vocabulary. The <code>UpdateMedicalVocabulary</code> operation overwrites all of the existing information with the values that you provide in the request.</p>"
    },
    "UpdateVocabulary":{
      "name":"UpdateVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateVocabularyRequest"},
      "output":{"shape":"UpdateVocabularyResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates an existing vocabulary with new values. The <code>UpdateVocabulary</code> operation overwrites all of the existing information with the values that you provide in the request. </p>"
    },
    "UpdateVocabularyFilter":{
      "name":"UpdateVocabularyFilter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateVocabularyFilterRequest"},
      "output":{"shape":"UpdateVocabularyFilterResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Updates a vocabulary filter with a new list of filtered words.</p>"
    }
  },
  "shapes":{
    "AbsoluteTimeRange":{
      "type":"structure",
      "members":{
        "StartTime":{
          "shape":"TimestampMilliseconds",
          "documentation":"<p>A value that indicates the beginning of the time range in seconds. To set absolute time range, you must specify a start time and an end time. For example, if you specify the following values:</p> <ul> <li> <p>StartTime - 10000</p> </li> <li> <p>Endtime - 50000</p> </li> </ul> <p>The time range is set between 10,000 milliseconds and 50,000 milliseconds into the call.</p>"
        },
        "EndTime":{
          "shape":"TimestampMilliseconds",
          "documentation":"<p>A value that indicates the end of the time range in milliseconds. To set absolute time range, you must specify a start time and an end time. For example, if you specify the following values:</p> <ul> <li> <p>StartTime - 10000</p> </li> <li> <p>Endtime - 50000</p> </li> </ul> <p>The time range is set between 10,000 milliseconds and 50,000 milliseconds into the call.</p>"
        },
        "First":{
          "shape":"TimestampMilliseconds",
          "documentation":"<p>A time range from the beginning of the call to the value that you've specified. For example, if you specify <code>100000</code>, the time range is set to the first 100,000 milliseconds of the call.</p>"
        },
        "Last":{
          "shape":"TimestampMilliseconds",
          "documentation":"<p>A time range from the value that you've specified to the end of the call. For example, if you specify <code>100000</code>, the time range is set to the last 100,000 milliseconds of the call.</p>"
        }
      },
      "documentation":"<p>A time range, set in seconds, between two points in the call.</p>"
    },
    "BadRequestException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"FailureReason"}
      },
      "documentation":"<p>Your request didn't pass one or more validation tests. For example, if the entity that you're trying to delete doesn't exist or if it is in a non-terminal state (for example, it's \"in progress\"). See the exception <code>Message</code> field for more information.</p>",
      "exception":true
    },
    "BaseModelName":{
      "type":"string",
      "enum":[
        "NarrowBand",
        "WideBand"
      ]
    },
    "Boolean":{"type":"boolean"},
    "CLMLanguageCode":{
      "type":"string",
      "enum":[
        "en-US",
        "hi-IN",
        "es-US",
        "en-GB",
        "en-AU"
      ]
    },
    "CallAnalyticsJob":{
      "type":"structure",
      "members":{
        "CallAnalyticsJobName":{
          "shape":"CallAnalyticsJobName",
          "documentation":"<p>The name of the call analytics job.</p>"
        },
        "CallAnalyticsJobStatus":{
          "shape":"CallAnalyticsJobStatus",
          "documentation":"<p>The status of the analytics job.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>If you know the language spoken between the customer and the agent, specify a language code for this field.</p> <p>If you don't know the language, you can leave this field blank, and Amazon Transcribe will use machine learning to automatically identify the language. To improve the accuracy of language identification, you can provide an array containing the possible language codes for the language spoken in your audio. Refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported languages</a> for additional information.</p>"
        },
        "MediaSampleRateHertz":{
          "shape":"MediaSampleRateHertz",
          "documentation":"<p>The sample rate, in Hertz, of the audio.</p>"
        },
        "MediaFormat":{
          "shape":"MediaFormat",
          "documentation":"<p>The format of the input audio file. Note: for call analytics jobs, only the following media formats are supported: MP3, MP4, WAV, FLAC, OGG, and WebM.</p>"
        },
        "Media":{"shape":"Media"},
        "Transcript":{"shape":"Transcript"},
        "StartTime":{
          "shape":"DateTime",
          "documentation":"<p>A timestamp that shows when the analytics job started processing.</p>"
        },
        "CreationTime":{
          "shape":"DateTime",
          "documentation":"<p>A timestamp that shows when the analytics job was created.</p>"
        },
        "CompletionTime":{
          "shape":"DateTime",
          "documentation":"<p>A timestamp that shows when the analytics job was completed.</p>"
        },
        "FailureReason":{
          "shape":"FailureReason",
          "documentation":"<p>If the <code>AnalyticsJobStatus</code> is <code>FAILED</code>, this field contains information about why the job failed.</p> <p>The <code>FailureReason</code> field can contain one of the following values:</p> <ul> <li> <p> <code>Unsupported media format</code>: The media format specified in the <code>MediaFormat</code> field of the request isn't valid. See the description of the <code>MediaFormat</code> field for a list of valid values.</p> </li> <li> <p> <code>The media format provided does not match the detected media format</code>: The media format of the audio file doesn't match the format specified in the <code>MediaFormat</code> field in the request. Check the media format of your media file and make sure the two values match.</p> </li> <li> <p> <code>Invalid sample rate for audio file</code>: The sample rate specified in the <code>MediaSampleRateHertz</code> of the request isn't valid. The sample rate must be between 8,000 and 48,000 Hertz.</p> </li> <li> <p> <code>The sample rate provided does not match the detected sample rate</code>: The sample rate in the audio file doesn't match the sample rate specified in the <code>MediaSampleRateHertz</code> field in the request. Check the sample rate of your media file and make sure that the two values match.</p> </li> <li> <p> <code>Invalid file size: file size too large</code>: The size of your audio file is larger than what Amazon Transcribe Medical can process. For more information, see <i>Guidelines and Quotas</i> in the Amazon Transcribe Medical Guide.</p> </li> <li> <p> <code>Invalid number of channels: number of channels too large</code>: Your audio contains more channels than Amazon Transcribe Medical is configured to process. To request additional channels, see Amazon Transcribe Medical Endpoints and Quotas in the <a href=\"https://docs.aws.amazon.com/general/latest/gr/Welcome.html\">Amazon Web Services General Reference</a>.</p> </li> </ul>"
        },
        "DataAccessRoleArn":{
          "shape":"DataAccessRoleArn",
          "documentation":"<p>The Amazon Resource Number (ARN) that you use to access the analytics job. ARNs have the format <code>arn:partition:service:region:account-id:resource-type/resource-id</code>.</p>"
        },
        "IdentifiedLanguageScore":{
          "shape":"IdentifiedLanguageScore",
          "documentation":"<p>A value between zero and one that Amazon Transcribe assigned to the language that it identified in the source audio. This value appears only when you don't provide a single language code. Larger values indicate that Amazon Transcribe has higher confidence in the language that it identified.</p>"
        },
        "Settings":{
          "shape":"CallAnalyticsJobSettings",
          "documentation":"<p>Provides information about the settings used to run a transcription job.</p>"
        },
        "ChannelDefinitions":{
          "shape":"ChannelDefinitions",
          "documentation":"<p>Shows numeric values to indicate the channel assigned to the agent's audio and the channel assigned to the customer's audio. </p>"
        }
      },
      "documentation":"<p>Describes an asynchronous analytics job that was created with the <code>StartAnalyticsJob</code> operation.</p>"
    },
    "CallAnalyticsJobName":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[0-9a-zA-Z._-]+"
    },
    "CallAnalyticsJobSettings":{
      "type":"structure",
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>The name of a vocabulary to use when processing the call analytics job.</p>"
        },
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "documentation":"<p>The name of the vocabulary filter to use when running a call analytics job. The filter that you specify must have the same language code as the analytics job.</p>"
        },
        "VocabularyFilterMethod":{
          "shape":"VocabularyFilterMethod",
          "documentation":"<p>Set to mask to remove filtered text from the transcript and replace it with three asterisks (\"***\") as placeholder text. Set to <code>remove</code> to remove filtered text from the transcript without using placeholder text. Set to <code>tag</code> to mark the word in the transcription output that matches the vocabulary filter. When you set the filter method to <code>tag</code>, the words matching your vocabulary filter are not masked or removed.</p>"
        },
        "LanguageModelName":{
          "shape":"ModelName",
          "documentation":"<p>The structure used to describe a custom language model.</p>"
        },
        "ContentRedaction":{"shape":"ContentRedaction"},
        "LanguageOptions":{
          "shape":"LanguageOptions",
          "documentation":"<p>When you run a call analytics job, you can specify the language spoken in the audio, or you can have Amazon Transcribe identify the language for you.</p> <p>To specify a language, specify an array with one language code. If you don't know the language, you can leave this field blank and Amazon Transcribe will use machine learning to identify the language for you. To improve the ability of Amazon Transcribe to correctly identify the language, you can provide an array of the languages that can be present in the audio. Refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported languages</a> for additional information.</p>"
        },
        "LanguageIdSettings":{
          "shape":"LanguageIdSettingsMap",
          "documentation":"<p>The language identification settings associated with your call analytics job. These settings include <code>VocabularyName</code>, <code>VocabularyFilterName</code>, and <code>LanguageModelName</code>.</p>"
        }
      },
      "documentation":"<p>Provides optional settings for the <code>CallAnalyticsJob</code> operation. </p>"
    },
    "CallAnalyticsJobStatus":{
      "type":"string",
      "enum":[
        "QUEUED",
        "IN_PROGRESS",
        "FAILED",
        "COMPLETED"
      ]
    },
    "CallAnalyticsJobSummaries":{
      "type":"list",
      "member":{"shape":"CallAnalyticsJobSummary"}
    },
    "CallAnalyticsJobSummary":{
      "type":"structure",
      "members":{
        "CallAnalyticsJobName":{
          "shape":"CallAnalyticsJobName",
          "documentation":"<p>The name of the call analytics job.</p>"
        },
        "CreationTime":{
          "shape":"DateTime",
          "documentation":"<p>A timestamp that shows when the call analytics job was created.</p>"
        },
        "StartTime":{
          "shape":"DateTime",
          "documentation":"<p>A timestamp that shows when the job began processing.</p>"
        },
        "CompletionTime":{
          "shape":"DateTime",
          "documentation":"<p>A timestamp that shows when the job was completed.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language of the transcript in the source audio file.</p>"
        },
        "CallAnalyticsJobStatus":{
          "shape":"CallAnalyticsJobStatus",
          "documentation":"<p>The status of the call analytics job.</p>"
        },
        "FailureReason":{
          "shape":"FailureReason",
          "documentation":"<p>If the <code>CallAnalyticsJobStatus</code> is <code>FAILED</code>, a description of the error.</p>"
        }
      },
      "documentation":"<p>Provides summary information about a call analytics job.</p>"
    },
    "CategoryName":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[0-9a-zA-Z._-]+"
    },
    "CategoryProperties":{
      "type":"structure",
      "members":{
        "CategoryName":{
          "shape":"CategoryName",
          "documentation":"<p>The name of the call analytics category.</p>"
        },
        "Rules":{
          "shape":"RuleList",
          "documentation":"<p>The rules used to create a call analytics category.</p>"
        },
        "CreateTime":{
          "shape":"DateTime",
          "documentation":"<p>A timestamp that shows when the call analytics category was created.</p>"
        },
        "LastUpdateTime":{
          "shape":"DateTime",
          "documentation":"<p>A timestamp that shows when the call analytics category was most recently updated.</p>"
        }
      },
      "documentation":"<p>An object that contains the rules and additional information about a call analytics category.</p>"
    },
    "CategoryPropertiesList":{
      "type":"list",
      "member":{"shape":"CategoryProperties"}
    },
    "ChannelDefinition":{
      "type":"structure",
      "members":{
        "ChannelId":{
          "shape":"ChannelId",
          "documentation":"<p>A value that indicates the audio channel.</p>"
        },
        "ParticipantRole":{
          "shape":"ParticipantRole",
          "documentation":"<p>Indicates whether the person speaking on the audio channel is the agent or customer.</p>"
        }
      },
      "documentation":"<p>For a call analytics job, an object that indicates the audio channel that belongs to the agent and the audio channel that belongs to the customer.</p>"
    },
    "ChannelDefinitions":{
      "type":"list",
      "member":{"shape":"ChannelDefinition"},
      "max":2,
      "min":2
    },
    "ChannelId":{
      "type":"integer",
      "max":1,
      "min":0
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>There is already a resource with that name.</p>",
      "exception":true
    },
    "ContentRedaction":{
      "type":"structure",
      "required":[
        "RedactionType",
        "RedactionOutput"
      ],
      "members":{
        "RedactionType":{
          "shape":"RedactionType",
          "documentation":"<p>Request parameter that defines the entities to be redacted. The only accepted value is <code>PII</code>.</p>"
        },
        "RedactionOutput":{
          "shape":"RedactionOutput",
          "documentation":"<p>The output transcript file stored in either the default S3 bucket or in a bucket you specify.</p> <p>When you choose <code>redacted</code> Amazon Transcribe outputs only the redacted transcript.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe outputs both the redacted and unredacted transcripts.</p>"
        },
        "PiiEntityTypes":{
          "shape":"PiiEntityTypes",
          "documentation":"<p>The types of personally identifiable information (PII) you want to redact in your transcript.</p>"
        }
      },
      "documentation":"<p>Settings for content redaction within a transcription job.</p>"
    },
    "CreateCallAnalyticsCategoryRequest":{
      "type":"structure",
      "required":[
        "CategoryName",
        "Rules"
      ],
      "members":{
        "CategoryName":{
          "shape":"CategoryName",
          "documentation":"<p>The name that you choose for your category when you create it. </p>"
        },
        "Rules":{
          "shape":"RuleList",
          "documentation":"<p>To create a category, you must specify between 1 and 20 rules. For each rule, you specify a filter to be applied to the attributes of the call. For example, you can specify a sentiment filter to detect if the customer's sentiment was negative or neutral.</p>"
        }
      }
    },
    "CreateCallAnalyticsCategoryResponse":{
      "type":"structure",
      "members":{
        "CategoryProperties":{
          "shape":"CategoryProperties",
          "documentation":"<p>The rules and associated metadata used to create a category.</p>"
        }
      }
    },
    "CreateLanguageModelRequest":{
      "type":"structure",
      "required":[
        "LanguageCode",
        "BaseModelName",
        "ModelName",
        "InputDataConfig"
      ],
      "members":{
        "LanguageCode":{
          "shape":"CLMLanguageCode",
          "documentation":"<p>The language of the input text you're using to train your custom language model.</p>"
        },
        "BaseModelName":{
          "shape":"BaseModelName",
          "documentation":"<p>The Amazon Transcribe standard language model, or base model used to create your custom language model.</p> <p>If you want to use your custom language model to transcribe audio with a sample rate of 16,000 Hz or greater, choose <code>Wideband</code>.</p> <p>If you want to use your custom language model to transcribe audio with a sample rate that is less than 16,000 Hz, choose <code>Narrowband</code>.</p>"
        },
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name you choose for your custom language model when you create it.</p>"
        },
        "InputDataConfig":{
          "shape":"InputDataConfig",
          "documentation":"<p>Contains the data access role and the Amazon S3 prefixes to read the required input files to create a custom language model.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>Adds one or more tags, each in the form of a key:value pair, to a new language model at the time you create this new model.</p>"
        }
      }
    },
    "CreateLanguageModelResponse":{
      "type":"structure",
      "members":{
        "LanguageCode":{
          "shape":"CLMLanguageCode",
          "documentation":"<p>The language code of the text you've used to create a custom language model.</p>"
        },
        "BaseModelName":{
          "shape":"BaseModelName",
          "documentation":"<p>The Amazon Transcribe standard language model, or base model you've used to create a custom language model.</p>"
        },
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name you've chosen for your custom language model.</p>"
        },
        "InputDataConfig":{
          "shape":"InputDataConfig",
          "documentation":"<p>The data access role and Amazon S3 prefixes you've chosen to create your custom language model.</p>"
        },
        "ModelStatus":{
          "shape":"ModelStatus",
          "documentation":"<p>The status of the custom language model. When the status is <code>COMPLETED</code> the model is ready to use.</p>"
        }
      }
    },
    "CreateMedicalVocabularyRequest":{
      "type":"structure",
      "required":[
        "VocabularyName",
        "LanguageCode",
        "VocabularyFileUri"
      ],
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>The name of the custom vocabulary. This case-sensitive name must be unique within an Amazon Web Services account. If you try to create a vocabulary with the same name as a previous vocabulary, you get a <code>ConflictException</code> error.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language code for the language used for the entries in your custom vocabulary. The language code of your custom vocabulary must match the language code of your transcription job. US English (en-US) is the only language code available for Amazon Transcribe Medical.</p>"
        },
        "VocabularyFileUri":{
          "shape":"Uri",
          "documentation":"<p>The location in Amazon S3 of the text file you use to define your custom vocabulary. The URI must be in the same Amazon Web Services Region as the resource that you're calling. Enter information about your <code>VocabularyFileUri</code> in the following format:</p> <p> <code>https://s3.&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt;</code> </p> <p>The following is an example URI for a vocabulary file that is stored in Amazon S3:</p> <p> <code>https://s3.us-east-1.amazonaws.com/AWSDOC-EXAMPLE-BUCKET/vocab.txt</code> </p> <p>For more information about Amazon S3 object names, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/vocabulary-med.html\">Medical Custom Vocabularies</a>.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>Adds one or more tags, each in the form of a key:value pair, to a new medical vocabulary at the time you create this new vocabulary.</p>"
        }
      }
    },
    "CreateMedicalVocabularyResponse":{
      "type":"structure",
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>The name of the vocabulary. The name must be unique within an Amazon Web Services account and is case sensitive.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language code for the entries in your custom vocabulary. US English (en-US) is the only valid language code for Amazon Transcribe Medical.</p>"
        },
        "VocabularyState":{
          "shape":"VocabularyState",
          "documentation":"<p>The processing state of your custom vocabulary in Amazon Transcribe Medical. If the state is <code>READY</code>, you can use the vocabulary in a <code>StartMedicalTranscriptionJob</code> request.</p>"
        },
        "LastModifiedTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time that you created the vocabulary.</p>"
        },
        "FailureReason":{
          "shape":"FailureReason",
          "documentation":"<p>If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.</p>"
        }
      }
    },
    "CreateVocabularyFilterRequest":{
      "type":"structure",
      "required":[
        "VocabularyFilterName",
        "LanguageCode"
      ],
      "members":{
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "documentation":"<p>The vocabulary filter name. The name must be unique within the account that contains it. If you try to create a vocabulary filter with the same name as another vocabulary filter, you get a <code>ConflictException</code> error.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language code of the words in the vocabulary filter. All words in the filter must be in the same language. The vocabulary filter can only be used with transcription jobs in the specified language.</p>"
        },
        "Words":{
          "shape":"Words",
          "documentation":"<p>The words to use in the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/charsets.html\">Character Sets for Custom Vocabularies</a>.</p> <p>If you provide a list of words in the <code>Words</code> parameter, you can't use the <code>VocabularyFilterFileUri</code> parameter.</p>"
        },
        "VocabularyFilterFileUri":{
          "shape":"Uri",
          "documentation":"<p>The Amazon S3 location of a text file used as input to create the vocabulary filter. Only use characters from the character set defined for custom vocabularies. For a list of character sets, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/charsets.html\">Character Sets for Custom Vocabularies</a>.</p> <p>The specified file must be less than 50 KB of UTF-8 characters.</p> <p>If you provide the location of a list of words in the <code>VocabularyFilterFileUri</code> parameter, you can't use the <code>Words</code> parameter.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>Adds one or more tags, each in the form of a key:value pair, to a new Amazon Transcribe vocabulary filter at the time you create this new vocabulary filter.</p>"
        }
      }
    },
    "CreateVocabularyFilterResponse":{
      "type":"structure",
      "members":{
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "documentation":"<p>The name of the vocabulary filter.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language code of the words in the collection.</p>"
        },
        "LastModifiedTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time that the vocabulary filter was modified.</p>"
        }
      }
    },
    "CreateVocabularyRequest":{
      "type":"structure",
      "required":[
        "VocabularyName",
        "LanguageCode"
      ],
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>The name of the vocabulary. The name must be unique within an Amazon Web Services account. The name is case sensitive. If you try to create a vocabulary with the same name as a previous vocabulary you will receive a <code>ConflictException</code> error.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language code of the vocabulary entries. For a list of languages and their corresponding language codes, see <a>table-language-matrix</a>.</p>"
        },
        "Phrases":{
          "shape":"Phrases",
          "documentation":"<p>An array of strings that contains the vocabulary entries. </p>"
        },
        "VocabularyFileUri":{
          "shape":"Uri",
          "documentation":"<p>The S3 location of the text file that contains the definition of the custom vocabulary. The URI must be in the same region as the API endpoint that you are calling. The general form is:</p> <p> <code>https://s3.&lt;Amazon Web Services-region&gt;.amazonaws.com/&lt;AWSDOC-EXAMPLE-BUCKET&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt; </code> </p> <p>For example:</p> <p> <code>https://s3.us-east-1.amazonaws.com/AWSDOC-EXAMPLE-BUCKET/vocab.txt</code> </p> <p>For more information about S3 object names, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p> <p>For more information about custom vocabularies, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/custom-vocabulary.html\">Custom vocabularies</a>.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>Adds one or more tags, each in the form of a key:value pair, to a new Amazon Transcribe vocabulary at the time you create this new vocabulary.</p>"
        }
      }
    },
    "CreateVocabularyResponse":{
      "type":"structure",
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>The name of the vocabulary.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language code of the vocabulary entries.</p>"
        },
        "VocabularyState":{
          "shape":"VocabularyState",
          "documentation":"<p>The processing state of the vocabulary. When the <code>VocabularyState</code> field contains <code>READY</code> the vocabulary is ready to be used in a <code>StartTranscriptionJob</code> request.</p>"
        },
        "LastModifiedTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time that the vocabulary was created.</p>"
        },
        "FailureReason":{
          "shape":"FailureReason",
          "documentation":"<p>If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.</p>"
        }
      }
    },
    "DataAccessRoleArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn:(aws|aws-cn|aws-us-gov|aws-iso-{0,1}[a-z]{0,1}):iam::[0-9]{0,63}:role/[A-Za-z0-9:_/+=,@.-]{0,1024}$"
    },
    "DateTime":{"type":"timestamp"},
    "DeleteCallAnalyticsCategoryRequest":{
      "type":"structure",
      "required":["CategoryName"],
      "members":{
        "CategoryName":{
          "shape":"CategoryName",
          "documentation":"<p>The name of the call analytics category that you're choosing to delete. The value is case sensitive. </p>"
        }
      }
    },
    "DeleteCallAnalyticsCategoryResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteCallAnalyticsJobRequest":{
      "type":"structure",
      "required":["CallAnalyticsJobName"],
      "members":{
        "CallAnalyticsJobName":{
          "shape":"CallAnalyticsJobName",
          "documentation":"<p>The name of the call analytics job you want to delete.</p>"
        }
      }
    },
    "DeleteCallAnalyticsJobResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteLanguageModelRequest":{
      "type":"structure",
      "required":["ModelName"],
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the model you're choosing to delete.</p>"
        }
      }
    },
    "DeleteMedicalTranscriptionJobRequest":{
      "type":"structure",
      "required":["MedicalTranscriptionJobName"],
      "members":{
        "MedicalTranscriptionJobName":{
          "shape":"TranscriptionJobName",
          "documentation":"<p>The name you provide to the <code>DeleteMedicalTranscriptionJob</code> object to delete a transcription job.</p>"
        }
      }
    },
    "DeleteMedicalVocabularyRequest":{
      "type":"structure",
      "required":["VocabularyName"],
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>The name of the vocabulary that you want to delete.</p>"
        }
      }
    },
    "DeleteTranscriptionJobRequest":{
      "type":"structure",
      "required":["TranscriptionJobName"],
      "members":{
        "TranscriptionJobName":{
          "shape":"TranscriptionJobName",
          "documentation":"<p>The name of the transcription job to be deleted.</p>"
        }
      }
    },
    "DeleteVocabularyFilterRequest":{
      "type":"structure",
      "required":["VocabularyFilterName"],
      "members":{
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "documentation":"<p>The name of the vocabulary filter to remove.</p>"
        }
      }
    },
    "DeleteVocabularyRequest":{
      "type":"structure",
      "required":["VocabularyName"],
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>The name of the vocabulary to delete. </p>"
        }
      }
    },
    "DescribeLanguageModelRequest":{
      "type":"structure",
      "required":["ModelName"],
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the custom language model you submit to get more information.</p>"
        }
      }
    },
    "DescribeLanguageModelResponse":{
      "type":"structure",
      "members":{
        "LanguageModel":{
          "shape":"LanguageModel",
          "documentation":"<p>The name of the custom language model you requested more information about.</p>"
        }
      }
    },
    "FailureReason":{"type":"string"},
    "GetCallAnalyticsCategoryRequest":{
      "type":"structure",
      "required":["CategoryName"],
      "members":{
        "CategoryName":{
          "shape":"CategoryName",
          "documentation":"<p>The name of the category you want information about. This value is case sensitive.</p>"
        }
      }
    },
    "GetCallAnalyticsCategoryResponse":{
      "type":"structure",
      "members":{
        "CategoryProperties":{
          "shape":"CategoryProperties",
          "documentation":"<p>The rules you've defined for a category.</p>"
        }
      }
    },
    "GetCallAnalyticsJobRequest":{
      "type":"structure",
      "required":["CallAnalyticsJobName"],
      "members":{
        "CallAnalyticsJobName":{
          "shape":"CallAnalyticsJobName",
          "documentation":"<p>The name of the analytics job you want information about. This value is case sensitive. </p>"
        }
      }
    },
    "GetCallAnalyticsJobResponse":{
      "type":"structure",
      "members":{
        "CallAnalyticsJob":{
          "shape":"CallAnalyticsJob",
          "documentation":"<p>An object that contains the results of your call analytics job.</p>"
        }
      }
    },
    "GetMedicalTranscriptionJobRequest":{
      "type":"structure",
      "required":["MedicalTranscriptionJobName"],
      "members":{
        "MedicalTranscriptionJobName":{
          "shape":"TranscriptionJobName",
          "documentation":"<p>The name of the medical transcription job.</p>"
        }
      }
    },
    "GetMedicalTranscriptionJobResponse":{
      "type":"structure",
      "members":{
        "MedicalTranscriptionJob":{
          "shape":"MedicalTranscriptionJob",
          "documentation":"<p>An object that contains the results of the medical transcription job.</p>"
        }
      }
    },
    "GetMedicalVocabularyRequest":{
      "type":"structure",
      "required":["VocabularyName"],
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>The name of the vocabulary that you want information about. The value is case sensitive. </p>"
        }
      }
    },
    "GetMedicalVocabularyResponse":{
      "type":"structure",
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>The name of the vocabulary returned by Amazon Transcribe Medical.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The valid language code for your vocabulary entries.</p>"
        },
        "VocabularyState":{
          "shape":"VocabularyState",
          "documentation":"<p>The processing state of the vocabulary. If the <code>VocabularyState</code> is <code>READY</code> then you can use it in the <code>StartMedicalTranscriptionJob</code> operation.</p>"
        },
        "LastModifiedTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time that the vocabulary was last modified with a text file different from the one that was previously used.</p>"
        },
        "FailureReason":{
          "shape":"FailureReason",
          "documentation":"<p>If the <code>VocabularyState</code> is <code>FAILED</code>, this field contains information about why the job failed.</p>"
        },
        "DownloadUri":{
          "shape":"Uri",
          "documentation":"<p>The location in Amazon S3 where the vocabulary is stored. Use this URI to get the contents of the vocabulary. You can download your vocabulary from the URI for a limited time.</p>"
        }
      }
    },
    "GetTranscriptionJobRequest":{
      "type":"structure",
      "required":["TranscriptionJobName"],
      "members":{
        "TranscriptionJobName":{
          "shape":"TranscriptionJobName",
          "documentation":"<p>The name of the job.</p>"
        }
      }
    },
    "GetTranscriptionJobResponse":{
      "type":"structure",
      "members":{
        "TranscriptionJob":{
          "shape":"TranscriptionJob",
          "documentation":"<p>An object that contains the results of the transcription job.</p>"
        }
      }
    },
    "GetVocabularyFilterRequest":{
      "type":"structure",
      "required":["VocabularyFilterName"],
      "members":{
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "documentation":"<p>The name of the vocabulary filter for which to return information.</p>"
        }
      }
    },
    "GetVocabularyFilterResponse":{
      "type":"structure",
      "members":{
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "documentation":"<p>The name of the vocabulary filter.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language code of the words in the vocabulary filter.</p>"
        },
        "LastModifiedTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time that the contents of the vocabulary filter were updated.</p>"
        },
        "DownloadUri":{
          "shape":"Uri",
          "documentation":"<p>The URI of the list of words in the vocabulary filter. You can use this URI to get the list of words.</p>"
        }
      }
    },
    "GetVocabularyRequest":{
      "type":"structure",
      "required":["VocabularyName"],
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>The name of the vocabulary to return information about. The name is case sensitive.</p>"
        }
      }
    },
    "GetVocabularyResponse":{
      "type":"structure",
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>The name of the vocabulary to return.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language code of the vocabulary entries.</p>"
        },
        "VocabularyState":{
          "shape":"VocabularyState",
          "documentation":"<p>The processing state of the vocabulary.</p>"
        },
        "LastModifiedTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time that the vocabulary was last modified.</p>"
        },
        "FailureReason":{
          "shape":"FailureReason",
          "documentation":"<p>If the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains information about why the job failed.</p>"
        },
        "DownloadUri":{
          "shape":"Uri",
          "documentation":"<p>The S3 location where the vocabulary is stored. Use this URI to get the contents of the vocabulary. The URI is available for a limited time.</p>"
        }
      }
    },
    "IdentifiedLanguageScore":{"type":"float"},
    "InputDataConfig":{
      "type":"structure",
      "required":[
        "S3Uri",
        "DataAccessRoleArn"
      ],
      "members":{
        "S3Uri":{
          "shape":"Uri",
          "documentation":"<p>The Amazon S3 prefix you specify to access the plain text files that you use to train your custom language model.</p>"
        },
        "TuningDataS3Uri":{
          "shape":"Uri",
          "documentation":"<p>The Amazon S3 prefix you specify to access the plain text files that you use to tune your custom language model.</p>"
        },
        "DataAccessRoleArn":{
          "shape":"DataAccessRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) that uniquely identifies the permissions you've given Amazon Transcribe to access your Amazon S3 buckets containing your media files or text data. ARNs have the format <code>arn:partition:service:region:account-id:resource-type/resource-id</code>.</p>"
        }
      },
      "documentation":"<p>The object that contains the Amazon S3 object location and access role required to train and tune your custom language model.</p>"
    },
    "InternalFailureException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>There was an internal error. Check the error message and try your request again.</p>",
      "exception":true,
      "fault":true
    },
    "InterruptionFilter":{
      "type":"structure",
      "members":{
        "Threshold":{
          "shape":"TimestampMilliseconds",
          "documentation":"<p>The duration of the interruption.</p>"
        },
        "ParticipantRole":{
          "shape":"ParticipantRole",
          "documentation":"<p>Indicates whether the caller or customer was interrupting.</p>"
        },
        "AbsoluteTimeRange":{
          "shape":"AbsoluteTimeRange",
          "documentation":"<p>An object you can use to specify a time range (in milliseconds) for when you'd want to find the interruption. For example, you could search for an interruption between the 30,000 millisecond mark and the 45,000 millisecond mark. You could also specify the time period as the first 15,000 milliseconds or the last 15,000 milliseconds.</p>"
        },
        "RelativeTimeRange":{
          "shape":"RelativeTimeRange",
          "documentation":"<p>An object that allows percentages to specify the proportion of the call where there was a interruption. For example, you can specify the first half of the call. You can also specify the period of time between halfway through to three-quarters of the way through the call. Because the length of conversation can vary between calls, you can apply relative time ranges across all calls.</p>"
        },
        "Negate":{
          "shape":"Boolean",
          "documentation":"<p>Set to <code>TRUE</code> to look for a time period where there was no interruption.</p>"
        }
      },
      "documentation":"<p>An object that enables you to configure your category to be applied to call analytics jobs where either the customer or agent was interrupted.</p>"
    },
    "JobExecutionSettings":{
      "type":"structure",
      "members":{
        "AllowDeferredExecution":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether a job should be queued by Amazon Transcribe when the concurrent execution limit is exceeded. When the <code>AllowDeferredExecution</code> field is true, jobs are queued and executed when the number of executing jobs falls below the concurrent execution limit. If the field is false, Amazon Transcribe returns a <code>LimitExceededException</code> exception.</p> <p>Note that job queuing is enabled by default for call analytics jobs.</p> <p>If you specify the <code>AllowDeferredExecution</code> field, you must specify the <code>DataAccessRoleArn</code> field.</p>"
        },
        "DataAccessRoleArn":{
          "shape":"DataAccessRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN), in the form <code>arn:partition:service:region:account-id:resource-type/resource-id</code>, of a role that has access to the S3 bucket that contains the input files. Amazon Transcribe assumes this role to read queued media files. If you have specified an output S3 bucket for the transcription results, this role should have access to the output bucket as well.</p> <p>If you specify the <code>AllowDeferredExecution</code> field, you must specify the <code>DataAccessRoleArn</code> field.</p>"
        }
      },
      "documentation":"<p>Provides information about when a transcription job should be executed.</p>"
    },
    "KMSEncryptionContextMap":{
      "type":"map",
      "key":{"shape":"NonEmptyString"},
      "value":{"shape":"NonEmptyString"},
      "max":10,
      "min":1
    },
    "KMSKeyId":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"^[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,2048}$"
    },
    "LanguageCode":{
      "type":"string",
      "enum":[
        "af-ZA",
        "ar-AE",
        "ar-SA",
        "cy-GB",
        "da-DK",
        "de-CH",
        "de-DE",
        "en-AB",
        "en-AU",
        "en-GB",
        "en-IE",
        "en-IN",
        "en-US",
        "en-WL",
        "es-ES",
        "es-US",
        "fa-IR",
        "fr-CA",
        "fr-FR",
        "ga-IE",
        "gd-GB",
        "he-IL",
        "hi-IN",
        "id-ID",
        "it-IT",
        "ja-JP",
        "ko-KR",
        "ms-MY",
        "nl-NL",
        "pt-BR",
        "pt-PT",
        "ru-RU",
        "ta-IN",
        "te-IN",
        "tr-TR",
        "zh-CN",
        "zh-TW",
        "th-TH",
        "en-ZA",
        "en-NZ"
      ]
    },
    "LanguageIdSettings":{
      "type":"structure",
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>The name of the vocabulary you want to use when processing your transcription job. The vocabulary you specify must have the same language codes as the transcription job; if the languages don't match, the vocabulary isn't applied.</p>"
        },
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "documentation":"<p>The name of the vocabulary filter you want to use when transcribing your audio. The filter you specify must have the same language codes as the transcription job; if the languages don't match, the vocabulary filter isn't be applied.</p>"
        },
        "LanguageModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the language model you want to use when transcribing your audio. The model you specify must have the same language codes as the transcription job; if the languages don't match, the language model isn't be applied.</p>"
        }
      },
      "documentation":"<p>Language-specific settings that can be specified when language identification is enabled.</p>"
    },
    "LanguageIdSettingsMap":{
      "type":"map",
      "key":{"shape":"LanguageCode"},
      "value":{"shape":"LanguageIdSettings"},
      "max":5,
      "min":1
    },
    "LanguageModel":{
      "type":"structure",
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the custom language model.</p>"
        },
        "CreateTime":{
          "shape":"DateTime",
          "documentation":"<p>The time the custom language model was created.</p>"
        },
        "LastModifiedTime":{
          "shape":"DateTime",
          "documentation":"<p>The most recent time the custom language model was modified.</p>"
        },
        "LanguageCode":{
          "shape":"CLMLanguageCode",
          "documentation":"<p>The language code you used to create your custom language model.</p>"
        },
        "BaseModelName":{
          "shape":"BaseModelName",
          "documentation":"<p>The Amazon Transcribe standard language model, or base model used to create the custom language model.</p>"
        },
        "ModelStatus":{
          "shape":"ModelStatus",
          "documentation":"<p>The creation status of a custom language model. When the status is <code>COMPLETED</code> the model is ready for use.</p>"
        },
        "UpgradeAvailability":{
          "shape":"Boolean",
          "documentation":"<p>Whether the base model used for the custom language model is up to date. If this field is <code>true</code> then you are running the most up-to-date version of the base model in your custom language model.</p>"
        },
        "FailureReason":{
          "shape":"FailureReason",
          "documentation":"<p>The reason why the custom language model couldn't be created.</p>"
        },
        "InputDataConfig":{
          "shape":"InputDataConfig",
          "documentation":"<p>The data access role and Amazon S3 prefixes for the input files used to train the custom language model.</p>"
        }
      },
      "documentation":"<p>The structure used to describe a custom language model.</p>"
    },
    "LanguageOptions":{
      "type":"list",
      "member":{"shape":"LanguageCode"},
      "min":1
    },
    "LimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>Either you have sent too many requests or your input file is too long. Wait before you resend your request, or use a smaller file and resend the request.</p>",
      "exception":true
    },
    "ListCallAnalyticsCategoriesRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>When included, <code>NextToken</code>fetches the next set of categories if the result of the previous request was truncated.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of categories to return in each page of results. If there are fewer results than the value you specify, only the actual results are returned. If you do not specify a value, the default of 5 is used.</p>"
        }
      }
    },
    "ListCallAnalyticsCategoriesResponse":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The operation returns a page of jobs at a time. The maximum size of the list is set by the <code>MaxResults</code> parameter. If there are more categories in the list than the page size, Amazon Transcribe returns the <code>NextPage</code> token. Include the token in the next request to the operation to return the next page of analytics categories.</p>"
        },
        "Categories":{
          "shape":"CategoryPropertiesList",
          "documentation":"<p>A list of objects containing information about analytics categories.</p>"
        }
      }
    },
    "ListCallAnalyticsJobsRequest":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"CallAnalyticsJobStatus",
          "documentation":"<p>When specified, returns only call analytics jobs with the specified status. Jobs are ordered by creation date, with the most recent jobs returned first. If you don't specify a status, Amazon Transcribe returns all analytics jobs ordered by creation date.</p>"
        },
        "JobNameContains":{
          "shape":"CallAnalyticsJobName",
          "documentation":"<p>When specified, the jobs returned in the list are limited to jobs whose name contains the specified string.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If you receive a truncated result in the previous request of , include <code>NextToken</code> to fetch the next set of jobs.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p> The maximum number of call analytics jobs to return in each page of results. If there are fewer results than the value you specify, only the actual results are returned. If you do not specify a value, the default of 5 is used. </p>"
        }
      }
    },
    "ListCallAnalyticsJobsResponse":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"CallAnalyticsJobStatus",
          "documentation":"<p>When specified, returns only call analytics jobs with that status. Jobs are ordered by creation date, with the most recent jobs returned first. If you don't specify a status, Amazon Transcribe returns all transcription jobs ordered by creation date.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The operation returns a page of jobs at a time. The maximum size of the page is set by the <code>MaxResults</code> parameter. If there are more jobs in the list than the page size, Amazon Transcribe returns the <code>NextPage</code> token. Include the token in your next request to the operation to return next page of jobs.</p>"
        },
        "CallAnalyticsJobSummaries":{
          "shape":"CallAnalyticsJobSummaries",
          "documentation":"<p>A list of objects containing summary information for a transcription job.</p>"
        }
      }
    },
    "ListLanguageModelsRequest":{
      "type":"structure",
      "members":{
        "StatusEquals":{
          "shape":"ModelStatus",
          "documentation":"<p>When specified, returns only custom language models with the specified status. Language models are ordered by creation date, with the newest models first. If you don't specify a status, Amazon Transcribe returns all custom language models ordered by date.</p>"
        },
        "NameContains":{
          "shape":"ModelName",
          "documentation":"<p>When specified, the custom language model names returned contain the substring you've specified.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>When included, fetches the next set of jobs if the result of the previous request was truncated.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p> The maximum number of language models to return in each page of results. If there are fewer results than the value you specify, only the actual results are returned. If you do not specify a value, the default of 5 is used.</p>"
        }
      }
    },
    "ListLanguageModelsResponse":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The operation returns a page of jobs at a time. The maximum size of the list is set by the MaxResults parameter. If there are more language models in the list than the page size, Amazon Transcribe returns the <code>NextPage</code> token. Include the token in the next request to the operation to return the next page of language models.</p>"
        },
        "Models":{
          "shape":"Models",
          "documentation":"<p>A list of objects containing information about custom language models.</p>"
        }
      }
    },
    "ListMedicalTranscriptionJobsRequest":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"TranscriptionJobStatus",
          "documentation":"<p>When specified, returns only medical transcription jobs with the specified status. Jobs are ordered by creation date, with the newest jobs returned first. If you don't specify a status, Amazon Transcribe Medical returns all transcription jobs ordered by creation date.</p>"
        },
        "JobNameContains":{
          "shape":"TranscriptionJobName",
          "documentation":"<p>When specified, the jobs returned in the list are limited to jobs whose name contains the specified string.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If you a receive a truncated result in the previous request of <code>ListMedicalTranscriptionJobs</code>, include <code>NextToken</code> to fetch the next set of jobs.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p> The maximum number of medical transcription jobs to return in each page of results. If there are fewer results than the value you specify, only the actual results are returned. If you do not specify a value, the default of 5 is used.</p>"
        }
      }
    },
    "ListMedicalTranscriptionJobsResponse":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"TranscriptionJobStatus",
          "documentation":"<p>The requested status of the medical transcription jobs returned.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The <code>ListMedicalTranscriptionJobs</code> operation returns a page of jobs at a time. The maximum size of the page is set by the <code>MaxResults</code> parameter. If the number of jobs exceeds what can fit on a page, Amazon Transcribe Medical returns the <code>NextPage</code> token. Include the token in the next request to the <code>ListMedicalTranscriptionJobs</code> operation to return in the next page of jobs.</p>"
        },
        "MedicalTranscriptionJobSummaries":{
          "shape":"MedicalTranscriptionJobSummaries",
          "documentation":"<p>A list of objects containing summary information for a transcription job.</p>"
        }
      }
    },
    "ListMedicalVocabulariesRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the result of your previous request to <code>ListMedicalVocabularies</code> was truncated, include the <code>NextToken</code> to fetch the next set of vocabularies.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of vocabularies to return in each page of results. If there are fewer results than the value you specify, only the actual results are returned. If you do not specify a value, the default of 5 is used.</p>"
        },
        "StateEquals":{
          "shape":"VocabularyState",
          "documentation":"<p>When specified, returns only vocabularies with the <code>VocabularyState</code> equal to the specified vocabulary state. Use this field to see which vocabularies are ready for your medical transcription jobs.</p>"
        },
        "NameContains":{
          "shape":"VocabularyName",
          "documentation":"<p>Returns vocabularies whose names contain the specified string. The search is not case sensitive. <code>ListMedicalVocabularies</code> returns both \"<code>vocabularyname</code>\" and \"<code>VocabularyName</code>\".</p>"
        }
      }
    },
    "ListMedicalVocabulariesResponse":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"VocabularyState",
          "documentation":"<p>The requested vocabulary state.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The <code>ListMedicalVocabularies</code> operation returns a page of vocabularies at a time. You set the maximum number of vocabularies to return on a page with the <code>MaxResults</code> parameter. If there are more jobs in the list will fit on a page, Amazon Transcribe Medical returns the <code>NextPage</code> token. To return the next page of vocabularies, include the token in the next request to the <code>ListMedicalVocabularies</code> operation .</p>"
        },
        "Vocabularies":{
          "shape":"Vocabularies",
          "documentation":"<p>A list of objects that describe the vocabularies that match your search criteria.</p>"
        }
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{
          "shape":"TranscribeArn",
          "documentation":"<p>Lists all tags associated with a given Amazon Resource Name (ARN). ARNs have the format <code>arn:partition:service:region:account-id:resource-type/resource-id</code> (for example, <code>arn:aws:transcribe:us-east-1:account-id:transcription-job/your-job-name</code>). Valid values for <code>resource-type</code> are: <code>transcription-job</code>, <code>medical-transcription-job</code>, <code>vocabulary</code>, <code>medical-vocabulary</code>, <code>vocabulary-filter</code>, and <code>language-model</code>.</p>"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "ResourceArn":{
          "shape":"TranscribeArn",
          "documentation":"<p>Lists all tags associated with the given Amazon Resource Name (ARN). </p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>Lists all tags associated with the given transcription job, vocabulary, or resource.</p>"
        }
      }
    },
    "ListTranscriptionJobsRequest":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"TranscriptionJobStatus",
          "documentation":"<p>When specified, returns only transcription jobs with the specified status. Jobs are ordered by creation date, with the newest jobs returned first. If you don’t specify a status, Amazon Transcribe returns all transcription jobs ordered by creation date.</p>"
        },
        "JobNameContains":{
          "shape":"TranscriptionJobName",
          "documentation":"<p>When specified, the jobs returned in the list are limited to jobs whose name contains the specified string.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the result of the previous request to <code>ListTranscriptionJobs</code> is truncated, include the <code>NextToken</code> to fetch the next set of jobs.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of jobs to return in each page of results. If there are fewer results than the value you specify, only the actual results are returned. If you do not specify a value, the default of 5 is used.</p>"
        }
      }
    },
    "ListTranscriptionJobsResponse":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"TranscriptionJobStatus",
          "documentation":"<p>The requested status of the jobs returned.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The <code>ListTranscriptionJobs</code> operation returns a page of jobs at a time. The maximum size of the page is set by the <code>MaxResults</code> parameter. If there are more jobs in the list than the page size, Amazon Transcribe returns the <code>NextPage</code> token. Include the token in the next request to the <code>ListTranscriptionJobs</code> operation to return in the next page of jobs.</p>"
        },
        "TranscriptionJobSummaries":{
          "shape":"TranscriptionJobSummaries",
          "documentation":"<p>A list of objects containing summary information for a transcription job.</p>"
        }
      }
    },
    "ListVocabulariesRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the result of the previous request to <code>ListVocabularies</code> was truncated, include the <code>NextToken</code> to fetch the next set of jobs.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of vocabularies to return in each page of results. If there are fewer results than the value you specify, only the actual results are returned. If you do not specify a value, the default of 5 is used.</p>"
        },
        "StateEquals":{
          "shape":"VocabularyState",
          "documentation":"<p>When specified, only returns vocabularies with the <code>VocabularyState</code> field equal to the specified state.</p>"
        },
        "NameContains":{
          "shape":"VocabularyName",
          "documentation":"<p>When specified, the vocabularies returned in the list are limited to vocabularies whose name contains the specified string. The search is not case sensitive, <code>ListVocabularies</code> returns both \"vocabularyname\" and \"VocabularyName\" in the response list.</p>"
        }
      }
    },
    "ListVocabulariesResponse":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"VocabularyState",
          "documentation":"<p>The requested vocabulary state.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The <code>ListVocabularies</code> operation returns a page of vocabularies at a time. The maximum size of the page is set in the <code>MaxResults</code> parameter. If there are more jobs in the list than will fit on the page, Amazon Transcribe returns the <code>NextPage</code> token. To return in the next page of jobs, include the token in the next request to the <code>ListVocabularies</code> operation.</p>"
        },
        "Vocabularies":{
          "shape":"Vocabularies",
          "documentation":"<p>A list of objects that describe the vocabularies that match the search criteria in the request.</p>"
        }
      }
    },
    "ListVocabularyFiltersRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If the result of the previous request to <code>ListVocabularyFilters</code> was truncated, include the <code>NextToken</code> to fetch the next set of collections.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of filters to return in each page of results. If there are fewer results than the value you specify, only the actual results are returned. If you do not specify a value, the default of 5 is used.</p>"
        },
        "NameContains":{
          "shape":"VocabularyFilterName",
          "documentation":"<p>Filters the response so that it only contains vocabulary filters whose name contains the specified string.</p>"
        }
      }
    },
    "ListVocabularyFiltersResponse":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The <code>ListVocabularyFilters</code> operation returns a page of collections at a time. The maximum size of the page is set by the <code>MaxResults</code> parameter. If there are more jobs in the list than the page size, Amazon Transcribe returns the <code>NextPage</code> token. Include the token in the next request to the <code>ListVocabularyFilters</code> operation to return in the next page of jobs.</p>"
        },
        "VocabularyFilters":{
          "shape":"VocabularyFilters",
          "documentation":"<p>The list of vocabulary filters. It contains at most <code>MaxResults</code> number of filters. If there are more filters, call the <code>ListVocabularyFilters</code> operation again with the <code>NextToken</code> parameter in the request set to the value of the <code>NextToken</code> field in the response.</p>"
        }
      }
    },
    "MaxAlternatives":{
      "type":"integer",
      "max":10,
      "min":2
    },
    "MaxResults":{
      "type":"integer",
      "max":100,
      "min":1
    },
    "MaxSpeakers":{
      "type":"integer",
      "max":10,
      "min":2
    },
    "Media":{
      "type":"structure",
      "members":{
        "MediaFileUri":{
          "shape":"Uri",
          "documentation":"<p>The S3 object location of the input media file. The URI must be in the same region as the API endpoint that you are calling. The general form is:</p> <p> <code> s3://&lt;AWSDOC-EXAMPLE-BUCKET&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt;</code> </p> <p>For example:</p> <p> <code>s3://AWSDOC-EXAMPLE-BUCKET/example.mp4</code> </p> <p> <code>s3://AWSDOC-EXAMPLE-BUCKET/mediadocs/example.mp4</code> </p> <p>For more information about S3 object names, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p>"
        },
        "RedactedMediaFileUri":{
          "shape":"Uri",
          "documentation":"<p>The S3 object location for your redacted output media file. This is only supported for call analytics jobs.</p>"
        }
      },
      "documentation":"<p>Describes the input media file in a transcription request.</p>"
    },
    "MediaFormat":{
      "type":"string",
      "enum":[
        "mp3",
        "mp4",
        "wav",
        "flac",
        "ogg",
        "amr",
        "webm"
      ]
    },
    "MediaSampleRateHertz":{
      "type":"integer",
      "max":48000,
      "min":8000
    },
    "MedicalContentIdentificationType":{
      "type":"string",
      "enum":["PHI"]
    },
    "MedicalTranscript":{
      "type":"structure",
      "members":{
        "TranscriptFileUri":{
          "shape":"Uri",
          "documentation":"<p>The S3 object location of the medical transcript.</p> <p>Use this URI to access the medical transcript. This URI points to the S3 bucket you created to store the medical transcript.</p>"
        }
      },
      "documentation":"<p>Identifies the location of a medical transcript.</p>"
    },
    "MedicalTranscriptionJob":{
      "type":"structure",
      "members":{
        "MedicalTranscriptionJobName":{
          "shape":"TranscriptionJobName",
          "documentation":"<p>The name for a given medical transcription job.</p>"
        },
        "TranscriptionJobStatus":{
          "shape":"TranscriptionJobStatus",
          "documentation":"<p>The completion status of a medical transcription job.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language code for the language spoken in the source audio file. US English (en-US) is the only supported language for medical transcriptions. Any other value you enter for language code results in a <code>BadRequestException</code> error.</p>"
        },
        "MediaSampleRateHertz":{
          "shape":"MediaSampleRateHertz",
          "documentation":"<p>The sample rate, in Hertz, of the source audio containing medical information.</p> <p>If you don't specify the sample rate, Amazon Transcribe Medical determines it for you. If you choose to specify the sample rate, it must match the rate detected by Amazon Transcribe Medical.</p>"
        },
        "MediaFormat":{
          "shape":"MediaFormat",
          "documentation":"<p>The format of the input media file.</p>"
        },
        "Media":{"shape":"Media"},
        "Transcript":{
          "shape":"MedicalTranscript",
          "documentation":"<p>An object that contains the <code>MedicalTranscript</code>. The <code>MedicalTranscript</code> contains the <code>TranscriptFileUri</code>.</p>"
        },
        "StartTime":{
          "shape":"DateTime",
          "documentation":"<p>A timestamp that shows when the job started processing.</p>"
        },
        "CreationTime":{
          "shape":"DateTime",
          "documentation":"<p>A timestamp that shows when the job was created.</p>"
        },
        "CompletionTime":{
          "shape":"DateTime",
          "documentation":"<p>A timestamp that shows when the job was completed.</p>"
        },
        "FailureReason":{
          "shape":"FailureReason",
          "documentation":"<p>If the <code>TranscriptionJobStatus</code> field is <code>FAILED</code>, this field contains information about why the job failed.</p> <p>The <code>FailureReason</code> field contains one of the following values:</p> <ul> <li> <p> <code>Unsupported media format</code>- The media format specified in the <code>MediaFormat</code> field of the request isn't valid. See the description of the <code>MediaFormat</code> field for a list of valid values.</p> </li> <li> <p> <code>The media format provided does not match the detected media format</code>- The media format of the audio file doesn't match the format specified in the <code>MediaFormat</code> field in the request. Check the media format of your media file and make sure the two values match.</p> </li> <li> <p> <code>Invalid sample rate for audio file</code>- The sample rate specified in the <code>MediaSampleRateHertz</code> of the request isn't valid. The sample rate must be between 8,000 and 48,000 Hertz.</p> </li> <li> <p> <code>The sample rate provided does not match the detected sample rate</code>- The sample rate in the audio file doesn't match the sample rate specified in the <code>MediaSampleRateHertz</code> field in the request. Check the sample rate of your media file and make sure that the two values match.</p> </li> <li> <p> <code>Invalid file size: file size too large</code>- The size of your audio file is larger than what Amazon Transcribe Medical can process. For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/limits-guidelines.html#limits\">Guidelines and Quotas</a> in the <i>Amazon Transcribe Medical Guide</i>.</p> </li> <li> <p> <code>Invalid number of channels: number of channels too large</code>- Your audio contains more channels than Amazon Transcribe Medical is configured to process. To request additional channels, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/transcribe-medical.html\">Amazon Transcribe Medical Endpoints and Quotas</a> in the <i>Amazon Web Services General Reference</i>.</p> </li> </ul>"
        },
        "Settings":{
          "shape":"MedicalTranscriptionSetting",
          "documentation":"<p>Object that contains object.</p>"
        },
        "ContentIdentificationType":{
          "shape":"MedicalContentIdentificationType",
          "documentation":"<p>Shows the type of content that you've configured Amazon Transcribe Medical to identify in a transcription job. If the value is <code>PHI</code>, you've configured the job to identify personal health information (PHI) in the transcription output.</p>"
        },
        "Specialty":{
          "shape":"Specialty",
          "documentation":"<p>The medical specialty of any clinicians providing a dictation or having a conversation. Refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/transcribe-medical-conversation.html\">Transcribing a medical conversation</a>for a list of supported specialties.</p>"
        },
        "Type":{
          "shape":"Type",
          "documentation":"<p>The type of speech in the transcription job. <code>CONVERSATION</code> is generally used for patient-physician dialogues. <code>DICTATION</code> is the setting for physicians speaking their notes after seeing a patient. For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/what-is-transcribe-med.html\">What is Amazon Transcribe Medical?</a>.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A key:value pair assigned to a given medical transcription job.</p>"
        }
      },
      "documentation":"<p>The data structure that contains the information for a medical transcription job.</p>"
    },
    "MedicalTranscriptionJobSummaries":{
      "type":"list",
      "member":{"shape":"MedicalTranscriptionJobSummary"}
    },
    "MedicalTranscriptionJobSummary":{
      "type":"structure",
      "members":{
        "MedicalTranscriptionJobName":{
          "shape":"TranscriptionJobName",
          "documentation":"<p>The name of a medical transcription job.</p>"
        },
        "CreationTime":{
          "shape":"DateTime",
          "documentation":"<p>A timestamp that shows when the medical transcription job was created.</p>"
        },
        "StartTime":{
          "shape":"DateTime",
          "documentation":"<p>A timestamp that shows when the job began processing.</p>"
        },
        "CompletionTime":{
          "shape":"DateTime",
          "documentation":"<p>A timestamp that shows when the job was completed.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language of the transcript in the source audio file.</p>"
        },
        "TranscriptionJobStatus":{
          "shape":"TranscriptionJobStatus",
          "documentation":"<p>The status of the medical transcription job.</p>"
        },
        "FailureReason":{
          "shape":"FailureReason",
[...]
