{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2023-07-26",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"bedrock-data-automation",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Data Automation for Amazon Bedrock",
    "serviceId":"Bedrock Data Automation",
    "signatureVersion":"v4",
    "signingName":"bedrock",
    "uid":"bedrock-data-automation-2023-07-26"
  },
  "operations":{
    "CopyBlueprintStage":{
      "name":"CopyBlueprintStage",
      "http":{
        "method":"PUT",
        "requestUri":"/blueprints/{blueprintArn}/copy-stage",
        "responseCode":200
      },
      "input":{"shape":"CopyBlueprintStageRequest"},
      "output":{"shape":"CopyBlueprintStageResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Copies a Blueprint from one stage to another</p>",
      "idempotent":true
    },
    "CreateBlueprint":{
      "name":"CreateBlueprint",
      "http":{
        "method":"PUT",
        "requestUri":"/blueprints/",
        "responseCode":201
      },
      "input":{"shape":"CreateBlueprintRequest"},
      "output":{"shape":"CreateBlueprintResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates an Amazon Bedrock Data Automation Blueprint</p>",
      "idempotent":true
    },
    "CreateBlueprintVersion":{
      "name":"CreateBlueprintVersion",
      "http":{
        "method":"POST",
        "requestUri":"/blueprints/{blueprintArn}/versions/",
        "responseCode":201
      },
      "input":{"shape":"CreateBlueprintVersionRequest"},
      "output":{"shape":"CreateBlueprintVersionResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates a new version of an existing Amazon Bedrock Data Automation Blueprint</p>",
      "idempotent":true
    },
    "CreateDataAutomationLibrary":{
      "name":"CreateDataAutomationLibrary",
      "http":{
        "method":"PUT",
        "requestUri":"/data-automation-libraries/",
        "responseCode":201
      },
      "input":{"shape":"CreateDataAutomationLibraryRequest"},
      "output":{"shape":"CreateDataAutomationLibraryResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates an Amazon Bedrock Data Automation Library</p>",
      "idempotent":true
    },
    "CreateDataAutomationProject":{
      "name":"CreateDataAutomationProject",
      "http":{
        "method":"PUT",
        "requestUri":"/data-automation-projects/",
        "responseCode":201
      },
      "input":{"shape":"CreateDataAutomationProjectRequest"},
      "output":{"shape":"CreateDataAutomationProjectResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates an Amazon Bedrock Data Automation Project</p>",
      "idempotent":true
    },
    "DeleteBlueprint":{
      "name":"DeleteBlueprint",
      "http":{
        "method":"DELETE",
        "requestUri":"/blueprints/{blueprintArn}/",
        "responseCode":200
      },
      "input":{"shape":"DeleteBlueprintRequest"},
      "output":{"shape":"DeleteBlueprintResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes an existing Amazon Bedrock Data Automation Blueprint</p>",
      "idempotent":true
    },
    "DeleteDataAutomationLibrary":{
      "name":"DeleteDataAutomationLibrary",
      "http":{
        "method":"DELETE",
        "requestUri":"/data-automation-libraries/{libraryArn}/",
        "responseCode":200
      },
      "input":{"shape":"DeleteDataAutomationLibraryRequest"},
      "output":{"shape":"DeleteDataAutomationLibraryResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes an existing Amazon Bedrock Data Automation Library</p>",
      "idempotent":true
    },
    "DeleteDataAutomationProject":{
      "name":"DeleteDataAutomationProject",
      "http":{
        "method":"DELETE",
        "requestUri":"/data-automation-projects/{projectArn}/",
        "responseCode":200
      },
      "input":{"shape":"DeleteDataAutomationProjectRequest"},
      "output":{"shape":"DeleteDataAutomationProjectResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes an existing Amazon Bedrock Data Automation Project</p>",
      "idempotent":true
    },
    "GetBlueprint":{
      "name":"GetBlueprint",
      "http":{
        "method":"POST",
        "requestUri":"/blueprints/{blueprintArn}/",
        "responseCode":200
      },
      "input":{"shape":"GetBlueprintRequest"},
      "output":{"shape":"GetBlueprintResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets an existing Amazon Bedrock Data Automation Blueprint</p>",
      "readonly":true
    },
    "GetBlueprintOptimizationStatus":{
      "name":"GetBlueprintOptimizationStatus",
      "http":{
        "method":"POST",
        "requestUri":"/getBlueprintOptimizationStatus/{invocationArn}",
        "responseCode":200
      },
      "input":{"shape":"GetBlueprintOptimizationStatusRequest"},
      "output":{"shape":"GetBlueprintOptimizationStatusResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>API used to get blueprint optimization status.</p>",
      "readonly":true
    },
    "GetDataAutomationLibrary":{
      "name":"GetDataAutomationLibrary",
      "http":{
        "method":"POST",
        "requestUri":"/data-automation-libraries/{libraryArn}/",
        "responseCode":200
      },
      "input":{"shape":"GetDataAutomationLibraryRequest"},
      "output":{"shape":"GetDataAutomationLibraryResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets an existing Amazon Bedrock Data Automation Library</p>",
      "readonly":true
    },
    "GetDataAutomationLibraryEntity":{
      "name":"GetDataAutomationLibraryEntity",
      "http":{
        "method":"POST",
        "requestUri":"/data-automation-libraries/{libraryArn}/entityType/{entityType}/entities/{entityId}",
        "responseCode":200
      },
      "input":{"shape":"GetDataAutomationLibraryEntityRequest"},
      "output":{"shape":"GetDataAutomationLibraryEntityResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets an existing entity based on entity type from the library</p>",
      "readonly":true
    },
    "GetDataAutomationLibraryIngestionJob":{
      "name":"GetDataAutomationLibraryIngestionJob",
      "http":{
        "method":"POST",
        "requestUri":"/data-automation-libraries/{libraryArn}/library-ingestion-jobs/{jobArn}",
        "responseCode":200
      },
      "input":{"shape":"GetDataAutomationLibraryIngestionJobRequest"},
      "output":{"shape":"GetDataAutomationLibraryIngestionJobResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>API used to get status of data automation library ingestion job</p>",
      "readonly":true
    },
    "GetDataAutomationProject":{
      "name":"GetDataAutomationProject",
      "http":{
        "method":"POST",
        "requestUri":"/data-automation-projects/{projectArn}/",
        "responseCode":200
      },
      "input":{"shape":"GetDataAutomationProjectRequest"},
      "output":{"shape":"GetDataAutomationProjectResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets an existing Amazon Bedrock Data Automation Project</p>",
      "readonly":true
    },
    "InvokeBlueprintOptimizationAsync":{
      "name":"InvokeBlueprintOptimizationAsync",
      "http":{
        "method":"POST",
        "requestUri":"/invokeBlueprintOptimizationAsync",
        "responseCode":200
      },
      "input":{"shape":"InvokeBlueprintOptimizationAsyncRequest"},
      "output":{"shape":"InvokeBlueprintOptimizationAsyncResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Invoke an async job to perform Blueprint Optimization</p>",
      "idempotent":true
    },
    "InvokeDataAutomationLibraryIngestionJob":{
      "name":"InvokeDataAutomationLibraryIngestionJob",
      "http":{
        "method":"PUT",
        "requestUri":"/data-automation-libraries/{libraryArn}/library-ingestion-jobs/",
        "responseCode":201
      },
      "input":{"shape":"InvokeDataAutomationLibraryIngestionJobRequest"},
      "output":{"shape":"InvokeDataAutomationLibraryIngestionJobResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Async API: Invoke data automation library ingestion job</p>",
      "idempotent":true
    },
    "ListBlueprints":{
      "name":"ListBlueprints",
      "http":{
        "method":"POST",
        "requestUri":"/blueprints/",
        "responseCode":200
      },
      "input":{"shape":"ListBlueprintsRequest"},
      "output":{"shape":"ListBlueprintsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists all existing Amazon Bedrock Data Automation Blueprints</p>",
      "readonly":true
    },
    "ListDataAutomationLibraries":{
      "name":"ListDataAutomationLibraries",
      "http":{
        "method":"POST",
        "requestUri":"/data-automation-libraries/",
        "responseCode":200
      },
      "input":{"shape":"ListDataAutomationLibrariesRequest"},
      "output":{"shape":"ListDataAutomationLibrariesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all existing Amazon Bedrock Data Automation Libraries</p>",
      "readonly":true
    },
    "ListDataAutomationLibraryEntities":{
      "name":"ListDataAutomationLibraryEntities",
      "http":{
        "method":"POST",
        "requestUri":"/data-automation-libraries/{libraryArn}/entityType/{entityType}/entities/",
        "responseCode":200
      },
      "input":{"shape":"ListDataAutomationLibraryEntitiesRequest"},
      "output":{"shape":"ListDataAutomationLibraryEntitiesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists all stored entities in the library</p>",
      "readonly":true
    },
    "ListDataAutomationLibraryIngestionJobs":{
      "name":"ListDataAutomationLibraryIngestionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/data-automation-libraries/{libraryArn}/library-ingestion-jobs/",
        "responseCode":200
      },
      "input":{"shape":"ListDataAutomationLibraryIngestionJobsRequest"},
      "output":{"shape":"ListDataAutomationLibraryIngestionJobsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists all data automation library ingestion jobs</p>",
      "readonly":true
    },
    "ListDataAutomationProjects":{
      "name":"ListDataAutomationProjects",
      "http":{
        "method":"POST",
        "requestUri":"/data-automation-projects/",
        "responseCode":200
      },
      "input":{"shape":"ListDataAutomationProjectsRequest"},
      "output":{"shape":"ListDataAutomationProjectsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists all existing Amazon Bedrock Data Automation Projects</p>",
      "readonly":true
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/listTagsForResource",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>List tags for an Amazon Bedrock Data Automation resource</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tagResource",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Tag an Amazon Bedrock Data Automation resource</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/untagResource",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Untag an Amazon Bedrock Data Automation resource</p>"
    },
    "UpdateBlueprint":{
      "name":"UpdateBlueprint",
      "http":{
        "method":"PUT",
        "requestUri":"/blueprints/{blueprintArn}/",
        "responseCode":200
      },
      "input":{"shape":"UpdateBlueprintRequest"},
      "output":{"shape":"UpdateBlueprintResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates an existing Amazon Bedrock Data Automation Blueprint</p>",
      "idempotent":true
    },
    "UpdateDataAutomationLibrary":{
      "name":"UpdateDataAutomationLibrary",
      "http":{
        "method":"PUT",
        "requestUri":"/data-automation-libraries/{libraryArn}/",
        "responseCode":200
      },
      "input":{"shape":"UpdateDataAutomationLibraryRequest"},
      "output":{"shape":"UpdateDataAutomationLibraryResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates an existing Amazon Bedrock Data Automation Library</p>",
      "idempotent":true
    },
    "UpdateDataAutomationProject":{
      "name":"UpdateDataAutomationProject",
      "http":{
        "method":"PUT",
        "requestUri":"/data-automation-projects/{projectArn}/",
        "responseCode":200
      },
      "input":{"shape":"UpdateDataAutomationProjectRequest"},
      "output":{"shape":"UpdateDataAutomationProjectResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates an existing Amazon Bedrock Data Automation Project</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown when a request is denied per access permissions</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AudioExtractionCategory":{
      "type":"structure",
      "required":["state"],
      "members":{
        "state":{"shape":"State"},
        "types":{"shape":"AudioExtractionCategoryTypes"},
        "typeConfiguration":{"shape":"AudioExtractionCategoryTypeConfiguration"}
      },
      "documentation":"<p>Category of Audio Extraction</p>"
    },
    "AudioExtractionCategoryType":{
      "type":"string",
      "enum":[
        "AUDIO_CONTENT_MODERATION",
        "TRANSCRIPT",
        "TOPIC_CONTENT_MODERATION"
      ]
    },
    "AudioExtractionCategoryTypeConfiguration":{
      "type":"structure",
      "members":{
        "transcript":{"shape":"TranscriptConfiguration"}
      },
      "documentation":"<p>Configuration for different audio extraction category types</p>"
    },
    "AudioExtractionCategoryTypes":{
      "type":"list",
      "member":{"shape":"AudioExtractionCategoryType"},
      "documentation":"<p>List of Audio Extraction Category Type</p>"
    },
    "AudioGenerativeOutputLanguage":{
      "type":"string",
      "documentation":"<p>Configuration for Audio output language</p>",
      "enum":[
        "DEFAULT",
        "EN"
      ]
    },
    "AudioInputLanguages":{
      "type":"list",
      "member":{"shape":"Language"},
      "documentation":"<p>List of supported audio languages</p>"
    },
    "AudioLanguageConfiguration":{
      "type":"structure",
      "members":{
        "inputLanguages":{"shape":"AudioInputLanguages"},
        "generativeOutputLanguage":{"shape":"AudioGenerativeOutputLanguage"},
        "identifyMultipleLanguages":{
          "shape":"Boolean",
          "documentation":"<p>Enable multiple language identification in audio</p>"
        }
      },
      "documentation":"<p>Optional configuration for audio language settings</p>"
    },
    "AudioOverrideConfiguration":{
      "type":"structure",
      "members":{
        "modalityProcessing":{"shape":"ModalityProcessingConfiguration"},
        "languageConfiguration":{"shape":"AudioLanguageConfiguration"},
        "sensitiveDataConfiguration":{"shape":"SensitiveDataConfiguration"}
      },
      "documentation":"<p>Override Configuration of Audio</p>"
    },
    "AudioStandardExtraction":{
      "type":"structure",
      "required":["category"],
      "members":{
        "category":{"shape":"AudioExtractionCategory"}
      },
      "documentation":"<p>Standard Extraction Configuration of Audio</p>"
    },
    "AudioStandardGenerativeField":{
      "type":"structure",
      "required":["state"],
      "members":{
        "state":{"shape":"State"},
        "types":{"shape":"AudioStandardGenerativeFieldTypes"}
      },
      "documentation":"<p>Standard Generative Field Configuration of Audio</p>"
    },
    "AudioStandardGenerativeFieldType":{
      "type":"string",
      "enum":[
        "AUDIO_SUMMARY",
        "IAB",
        "TOPIC_SUMMARY"
      ]
    },
    "AudioStandardGenerativeFieldTypes":{
      "type":"list",
      "member":{"shape":"AudioStandardGenerativeFieldType"},
      "documentation":"<p>List of Audio Standard Generative Field Type</p>"
    },
    "AudioStandardOutputConfiguration":{
      "type":"structure",
      "members":{
        "extraction":{"shape":"AudioStandardExtraction"},
        "generativeField":{"shape":"AudioStandardGenerativeField"}
      },
      "documentation":"<p>Standard Output Configuration of Audio</p>"
    },
    "Blueprint":{
      "type":"structure",
      "required":[
        "blueprintArn",
        "schema",
        "type",
        "creationTime",
        "lastModifiedTime",
        "blueprintName"
      ],
      "members":{
        "blueprintArn":{"shape":"BlueprintArn"},
        "schema":{"shape":"BlueprintSchema"},
        "type":{"shape":"Type"},
        "creationTime":{"shape":"DateTimestamp"},
        "lastModifiedTime":{"shape":"DateTimestamp"},
        "blueprintName":{"shape":"BlueprintName"},
        "blueprintVersion":{"shape":"BlueprintVersion"},
        "blueprintStage":{"shape":"BlueprintStage"},
        "kmsKeyId":{"shape":"KmsKeyId"},
        "kmsEncryptionContext":{"shape":"KmsEncryptionContext"},
        "optimizationSamples":{"shape":"BlueprintOptimizationSamples"},
        "optimizationTime":{"shape":"DateTimestamp"}
      },
      "documentation":"<p>Contains the information of a Blueprint.</p>"
    },
    "BlueprintArn":{
      "type":"string",
      "documentation":"<p>ARN of a Blueprint</p>",
      "max":128,
      "min":0,
      "pattern":"arn:aws(|-cn|-us-gov):bedrock:[a-zA-Z0-9-]*:(aws|[0-9]{12}):blueprint/(bedrock-data-automation-public-[a-zA-Z0-9-_]{1,30}|[a-zA-Z0-9-]{12,36})"
    },
    "BlueprintFilter":{
      "type":"structure",
      "required":["blueprintArn"],
      "members":{
        "blueprintArn":{"shape":"BlueprintArn"},
        "blueprintVersion":{"shape":"BlueprintVersion"},
        "blueprintStage":{"shape":"BlueprintStage"}
      },
      "documentation":"<p>Blueprint Filter</p>"
    },
    "BlueprintItem":{
      "type":"structure",
      "required":["blueprintArn"],
      "members":{
        "blueprintArn":{"shape":"BlueprintArn"},
        "blueprintVersion":{"shape":"BlueprintVersion"},
        "blueprintStage":{"shape":"BlueprintStage"}
      },
      "documentation":"<p>Blueprint Item</p>"
    },
    "BlueprintItems":{
      "type":"list",
      "member":{"shape":"BlueprintItem"},
      "documentation":"<p>List of Blueprint Item</p>"
    },
    "BlueprintName":{
      "type":"string",
      "documentation":"<p>Name of the Blueprint</p>",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9-_]+",
      "sensitive":true
    },
    "BlueprintOptimizationInvocationArn":{
      "type":"string",
      "documentation":"<p>Invocation arn.</p>",
      "max":128,
      "min":1,
      "pattern":"arn:aws(|-cn|-iso|-iso-[a-z]|-us-gov):bedrock:[a-zA-Z0-9-]*:[0-9]{12}:blueprint-optimization-invocation/[a-zA-Z0-9-_]+"
    },
    "BlueprintOptimizationJobStatus":{
      "type":"string",
      "documentation":"<p>List of status supported by optimization jobs</p>",
      "enum":[
        "Created",
        "InProgress",
        "Success",
        "ServiceError",
        "ClientError"
      ]
    },
    "BlueprintOptimizationObject":{
      "type":"structure",
      "required":["blueprintArn"],
      "members":{
        "blueprintArn":{
          "shape":"BlueprintArn",
          "documentation":"<p>Arn of blueprint.</p>"
        },
        "stage":{
          "shape":"BlueprintStage",
          "documentation":"<p>Stage of blueprint.</p>"
        }
      },
      "documentation":"<p>Structure for single blueprint entity.</p>"
    },
    "BlueprintOptimizationOutputConfiguration":{
      "type":"structure",
      "required":["s3Object"],
      "members":{
        "s3Object":{
          "shape":"S3Object",
          "documentation":"<p>S3 object.</p>"
        }
      },
      "documentation":"<p>Blueprint Optimization Output configuration.</p>"
    },
    "BlueprintOptimizationSample":{
      "type":"structure",
      "required":[
        "assetS3Object",
        "groundTruthS3Object"
      ],
      "members":{
        "assetS3Object":{
          "shape":"S3Object",
          "documentation":"<p>S3 Object of the asset</p>"
        },
        "groundTruthS3Object":{
          "shape":"S3Object",
          "documentation":"<p>Ground truth for the Blueprint and Asset combination</p>"
        }
      },
      "documentation":"<p>Blueprint Recommendation Sample</p>"
    },
    "BlueprintOptimizationSamples":{
      "type":"list",
      "member":{"shape":"BlueprintOptimizationSample"},
      "documentation":"<p>List of Blueprint Optimization Samples</p>"
    },
    "BlueprintSchema":{
      "type":"string",
      "documentation":"<p>Schema of the blueprint</p>",
      "max":100000,
      "min":1,
      "sensitive":true
    },
    "BlueprintStage":{
      "type":"string",
      "documentation":"<p>Stage of the Blueprint</p>",
      "enum":[
        "DEVELOPMENT",
        "LIVE"
      ]
    },
    "BlueprintStageFilter":{
      "type":"string",
      "documentation":"<p>Blueprint Stage filter</p>",
      "enum":[
        "DEVELOPMENT",
        "LIVE",
        "ALL"
      ]
    },
    "BlueprintSummary":{
      "type":"structure",
      "required":[
        "blueprintArn",
        "creationTime"
      ],
      "members":{
        "blueprintArn":{"shape":"BlueprintArn"},
        "blueprintVersion":{"shape":"BlueprintVersion"},
        "blueprintStage":{"shape":"BlueprintStage"},
        "blueprintName":{"shape":"BlueprintName"},
        "creationTime":{"shape":"DateTimestamp"},
        "lastModifiedTime":{"shape":"DateTimestamp"}
      },
      "documentation":"<p>Summary of a Blueprint</p>"
    },
    "BlueprintVersion":{
      "type":"string",
      "documentation":"<p>Blueprint Version</p>",
      "max":128,
      "min":1,
      "pattern":"[0-9]*"
    },
    "Blueprints":{
      "type":"list",
      "member":{"shape":"BlueprintSummary"},
      "documentation":"<p>List of Blueprints</p>"
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "ChannelLabelingConfiguration":{
      "type":"structure",
      "required":["state"],
      "members":{
        "state":{"shape":"State"}
      },
      "documentation":"<p>Channel labeling configuration</p>"
    },
    "ClientToken":{
      "type":"string",
      "documentation":"<p>Client specified token used for idempotency checks</p>",
      "max":256,
      "min":33,
      "pattern":"[a-zA-Z0-9](-*[a-zA-Z0-9]){0,256}"
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown when there is a conflict performing an operation</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CopyBlueprintStageRequest":{
      "type":"structure",
      "required":[
        "blueprintArn",
        "sourceStage",
        "targetStage"
      ],
      "members":{
        "blueprintArn":{
          "shape":"BlueprintArn",
          "documentation":"<p>Blueprint to be copied</p>",
          "location":"uri",
          "locationName":"blueprintArn"
        },
        "sourceStage":{
          "shape":"BlueprintStage",
          "documentation":"<p>Source stage to copy from</p>"
        },
        "targetStage":{
          "shape":"BlueprintStage",
          "documentation":"<p>Target stage to copy to</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Client token for idempotency</p>",
          "idempotencyToken":true
        }
      },
      "documentation":"<p>CopyBlueprintStage Request</p>"
    },
    "CopyBlueprintStageResponse":{
      "type":"structure",
      "members":{},
      "documentation":"<p>CopyBlueprintStage Response</p>"
    },
    "CreateBlueprintRequest":{
      "type":"structure",
      "required":[
        "blueprintName",
        "type",
        "schema"
      ],
      "members":{
        "blueprintName":{"shape":"BlueprintName"},
        "type":{"shape":"Type"},
        "blueprintStage":{"shape":"BlueprintStage"},
        "schema":{"shape":"BlueprintSchema"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "encryptionConfiguration":{"shape":"EncryptionConfiguration"},
        "tags":{"shape":"TagList"}
      },
      "documentation":"<p>Create Blueprint Request</p>"
    },
    "CreateBlueprintResponse":{
      "type":"structure",
      "required":["blueprint"],
      "members":{
        "blueprint":{"shape":"Blueprint"}
      },
      "documentation":"<p>Create Blueprint Response</p>"
    },
    "CreateBlueprintVersionRequest":{
      "type":"structure",
      "required":["blueprintArn"],
      "members":{
        "blueprintArn":{
          "shape":"BlueprintArn",
          "documentation":"<p>ARN generated at the server side when a Blueprint is created</p>",
          "location":"uri",
          "locationName":"blueprintArn"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      },
      "documentation":"<p>Create Blueprint Version Request</p>"
    },
    "CreateBlueprintVersionResponse":{
      "type":"structure",
      "required":["blueprint"],
      "members":{
        "blueprint":{"shape":"Blueprint"}
      },
      "documentation":"<p>Create Blueprint Version Response</p>"
    },
    "CreateDataAutomationLibraryRequest":{
      "type":"structure",
      "required":["libraryName"],
      "members":{
        "libraryName":{"shape":"DataAutomationLibraryName"},
        "libraryDescription":{"shape":"DataAutomationLibraryDescription"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "encryptionConfiguration":{"shape":"EncryptionConfiguration"},
        "tags":{"shape":"TagList"}
      },
      "documentation":"<p>Create DataAutomationLibrary Request</p>"
    },
    "CreateDataAutomationLibraryResponse":{
      "type":"structure",
      "members":{
        "libraryArn":{"shape":"DataAutomationLibraryArn"},
        "status":{"shape":"DataAutomationLibraryStatus"}
      },
      "documentation":"<p>Create DataAutomationLibrary Response</p>"
    },
    "CreateDataAutomationProjectRequest":{
      "type":"structure",
      "required":[
        "projectName",
        "standardOutputConfiguration"
      ],
      "members":{
        "projectName":{"shape":"DataAutomationProjectName"},
        "projectDescription":{"shape":"DataAutomationProjectDescription"},
        "projectStage":{"shape":"DataAutomationProjectStage"},
        "projectType":{"shape":"DataAutomationProjectType"},
        "standardOutputConfiguration":{"shape":"StandardOutputConfiguration"},
        "customOutputConfiguration":{"shape":"CustomOutputConfiguration"},
        "overrideConfiguration":{"shape":"OverrideConfiguration"},
        "dataAutomationLibraryConfiguration":{"shape":"DataAutomationLibraryConfiguration"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "encryptionConfiguration":{"shape":"EncryptionConfiguration"},
        "tags":{"shape":"TagList"}
      },
      "documentation":"<p>Create DataAutomationProject Request</p>"
    },
    "CreateDataAutomationProjectResponse":{
      "type":"structure",
      "required":["projectArn"],
      "members":{
        "projectArn":{"shape":"DataAutomationProjectArn"},
        "projectStage":{"shape":"DataAutomationProjectStage"},
        "status":{"shape":"DataAutomationProjectStatus"}
      },
      "documentation":"<p>Create DataAutomationProject Response</p>"
    },
    "CustomOutputConfiguration":{
      "type":"structure",
      "members":{
        "blueprints":{"shape":"BlueprintItems"}
      },
      "documentation":"<p>Custom output configuration</p>"
    },
    "DataAutomationLibrary":{
      "type":"structure",
      "required":[
        "libraryArn",
        "creationTime",
        "libraryName",
        "status"
      ],
      "members":{
        "libraryArn":{"shape":"DataAutomationLibraryArn"},
        "creationTime":{"shape":"DateTimestamp"},
        "libraryName":{"shape":"DataAutomationLibraryName"},
        "libraryDescription":{"shape":"DataAutomationLibraryDescription"},
        "status":{"shape":"DataAutomationLibraryStatus"},
        "entityTypes":{"shape":"EntityTypeInfoList"},
        "kmsKeyId":{"shape":"KmsKeyId"},
        "kmsEncryptionContext":{"shape":"KmsEncryptionContext"}
      },
      "documentation":"<p>Contains the information of a DataAutomationLibrary.</p>"
    },
    "DataAutomationLibraryArn":{
      "type":"string",
      "documentation":"<p>ARN generated at the server side when a DataAutomationLibrary is created</p>",
      "max":128,
      "min":0,
      "pattern":"arn:aws(|-cn|-iso|-iso-[a-z]|-us-gov):bedrock:[a-zA-Z0-9-]*:[0-9]{12}:data-automation-library/[a-zA-Z0-9-]{12,36}"
    },
    "DataAutomationLibraryConfiguration":{
      "type":"structure",
      "members":{
        "libraries":{"shape":"DataAutomationLibraryItems"}
      },
      "documentation":"<p>DataAutomation Library configuration</p>"
    },
    "DataAutomationLibraryDescription":{
      "type":"string",
      "documentation":"<p>Description of the DataAutomationLibrary</p>",
      "max":300,
      "min":0,
      "pattern":"[a-zA-Z0-9\\s!\"\\#\\$%'&\\(\\)\\*\\+\\,\\-\\./:;=\\?@\\[\\\\\\]\\^_`\\{\\|\\}~><À-ÖØ-Üßà-öø-üẞ¿¡Œ-œ°£¥₹€§©ª®™¹±-µ✓⑆-⑉฿₽₱₦₣₩₫₺]*",
      "sensitive":true
    },
    "DataAutomationLibraryEntitySummaries":{
      "type":"list",
      "member":{"shape":"DataAutomationLibraryEntitySummary"},
      "documentation":"<p>List of entity summary object</p>"
    },
    "DataAutomationLibraryEntitySummary":{
      "type":"structure",
      "members":{
        "vocabulary":{"shape":"VocabularyEntitySummary"}
      },
      "documentation":"<p>Summarized information about an entity</p>",
      "union":true
    },
    "DataAutomationLibraryFilter":{
      "type":"structure",
      "required":["libraryArn"],
      "members":{
        "libraryArn":{"shape":"DataAutomationLibraryArn"}
      },
      "documentation":"<p>Data Automation Library Filter</p>"
    },
    "DataAutomationLibraryIngestionJob":{
      "type":"structure",
      "required":[
        "jobArn",
        "creationTime",
        "entityType",
        "operationType",
        "jobStatus",
        "outputConfiguration"
      ],
      "members":{
        "jobArn":{
          "shape":"DataAutomationLibraryIngestionJobArn",
          "documentation":"<p>ARN of the DataAutomationLibraryIngestionJob</p>"
        },
        "creationTime":{
          "shape":"DateTimestamp",
          "documentation":"<p>Timestamp when the DataAutomationLibraryIngestionJob was created</p>"
        },
        "entityType":{
          "shape":"EntityType",
          "documentation":"<p>The entity type associated with DataAutomationLibraryIngestionJob</p>"
        },
        "operationType":{
          "shape":"LibraryIngestionJobOperationType",
          "documentation":"<p>The operation associated with DataAutomationLibraryIngestionJob</p>"
        },
        "jobStatus":{
          "shape":"LibraryIngestionJobStatus",
          "documentation":"<p>The status of the DataAutomationLibraryIngestionJob</p>"
        },
        "outputConfiguration":{
          "shape":"OutputConfiguration",
          "documentation":"<p>Output configuration of DataAutomationLibraryIngestionJob</p>"
        },
        "completionTime":{
          "shape":"DateTimestamp",
          "documentation":"<p>Timestamp when the DataAutomationLibraryIngestionJob was completed</p>"
        },
        "errorMessage":{
          "shape":"String",
          "documentation":"<p>Error message</p>"
        },
        "errorType":{
          "shape":"String",
          "documentation":"<p>Error type</p>"
        }
      },
      "documentation":"<p>Contains the information of a DataAutomationLibraryIngestionJob</p>"
    },
    "DataAutomationLibraryIngestionJobArn":{
      "type":"string",
      "documentation":"<p>ARN of the DataAutomationLibraryIngestionJob</p>",
      "max":128,
      "min":0,
      "pattern":"arn:aws(|-cn|-iso|-iso-[a-z]|-us-gov):bedrock:[a-zA-Z0-9-]*:[0-9]{12}:data-automation-library-ingestion-job/[a-zA-Z0-9-]{12,36}"
    },
    "DataAutomationLibraryIngestionJobSummaries":{
      "type":"list",
      "member":{"shape":"DataAutomationLibraryIngestionJobSummary"},
      "documentation":"<p>List of DataAutomationLibraryIngestionJobSummary objects</p>"
    },
    "DataAutomationLibraryIngestionJobSummary":{
      "type":"structure",
      "required":[
        "jobArn",
        "jobStatus",
        "entityType",
        "operationType",
        "creationTime"
      ],
      "members":{
        "jobArn":{"shape":"DataAutomationLibraryIngestionJobArn"},
        "jobStatus":{"shape":"LibraryIngestionJobStatus"},
        "entityType":{"shape":"EntityType"},
        "operationType":{"shape":"LibraryIngestionJobOperationType"},
        "creationTime":{"shape":"DateTimestamp"},
        "completionTime":{"shape":"DateTimestamp"}
      },
      "documentation":"<p>Summary of a DataAutomationLibraryIngestionJob</p>"
    },
    "DataAutomationLibraryItem":{
      "type":"structure",
      "required":["libraryArn"],
      "members":{
        "libraryArn":{"shape":"DataAutomationLibraryArn"}
      },
      "documentation":"<p>DataAutomationLibrary Item</p>"
    },
    "DataAutomationLibraryItems":{
      "type":"list",
      "member":{"shape":"DataAutomationLibraryItem"},
      "documentation":"<p>List of DataAutomationLibrary Items</p>",
      "max":1,
      "min":0
    },
    "DataAutomationLibraryName":{
      "type":"string",
      "documentation":"<p>Name of the DataAutomationLibrary</p>",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9-_]+",
      "sensitive":true
    },
    "DataAutomationLibraryStatus":{
      "type":"string",
      "documentation":"<p>Status of DataAutomationLibrary</p>",
      "enum":[
        "ACTIVE",
        "DELETING"
      ]
    },
    "DataAutomationLibrarySummaries":{
      "type":"list",
      "member":{"shape":"DataAutomationLibrarySummary"},
      "documentation":"<p>List of DataAutomationLibrarySummary objects</p>"
    },
    "DataAutomationLibrarySummary":{
      "type":"structure",
      "required":[
        "libraryArn",
        "creationTime"
      ],
      "members":{
        "libraryArn":{"shape":"DataAutomationLibraryArn"},
        "libraryName":{"shape":"DataAutomationLibraryName"},
        "creationTime":{"shape":"DateTimestamp"}
      },
      "documentation":"<p>Summary of a DataAutomationLibrary</p>"
    },
    "DataAutomationProfileArn":{
      "type":"string",
      "documentation":"<p>Data automation profile arn.</p>",
      "max":128,
      "min":1,
      "pattern":"arn:aws(|-cn|-us-gov):bedrock:[a-zA-Z0-9-]*:(aws|[0-9]{12}):data-automation-profile/[a-zA-Z0-9-_.]+"
    },
    "DataAutomationProject":{
      "type":"structure",
      "required":[
        "projectArn",
        "creationTime",
        "lastModifiedTime",
        "projectName",
        "status"
      ],
      "members":{
        "projectArn":{"shape":"DataAutomationProjectArn"},
        "creationTime":{"shape":"DateTimestamp"},
        "lastModifiedTime":{"shape":"DateTimestamp"},
        "projectName":{"shape":"DataAutomationProjectName"},
        "projectStage":{"shape":"DataAutomationProjectStage"},
        "projectType":{"shape":"DataAutomationProjectType"},
        "projectDescription":{"shape":"DataAutomationProjectDescription"},
        "standardOutputConfiguration":{"shape":"StandardOutputConfiguration"},
        "customOutputConfiguration":{"shape":"CustomOutputConfiguration"},
        "overrideConfiguration":{"shape":"OverrideConfiguration"},
        "dataAutomationLibraryConfiguration":{"shape":"DataAutomationLibraryConfiguration"},
        "status":{"shape":"DataAutomationProjectStatus"},
        "kmsKeyId":{"shape":"KmsKeyId"},
        "kmsEncryptionContext":{"shape":"KmsEncryptionContext"}
      },
      "documentation":"<p>Contains the information of a DataAutomationProject.</p>"
    },
    "DataAutomationProjectArn":{
      "type":"string",
      "documentation":"<p>ARN of a DataAutomationProject</p>",
      "max":128,
      "min":0,
      "pattern":"arn:aws(|-cn|-us-gov):bedrock:[a-zA-Z0-9-]*:(aws|[0-9]{12}):data-automation-project/[a-zA-Z0-9-]{12,36}"
    },
    "DataAutomationProjectDescription":{
      "type":"string",
      "documentation":"<p>Description of the DataAutomationProject</p>",
      "max":300,
      "min":0,
      "sensitive":true
    },
    "DataAutomationProjectFilter":{
      "type":"structure",
      "required":["projectArn"],
      "members":{
        "projectArn":{"shape":"DataAutomationProjectArn"},
        "projectStage":{"shape":"DataAutomationProjectStage"}
      },
      "documentation":"<p>Data Automation Project Filter</p>"
    },
    "DataAutomationProjectName":{
      "type":"string",
      "documentation":"<p>Name of the DataAutomationProject</p>",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9-_]+",
      "sensitive":true
    },
    "DataAutomationProjectStage":{
      "type":"string",
      "documentation":"<p>Stage of the Project</p>",
      "enum":[
        "DEVELOPMENT",
        "LIVE"
      ]
    },
    "DataAutomationProjectStageFilter":{
      "type":"string",
      "documentation":"<p>Project Stage filter</p>",
      "enum":[
        "DEVELOPMENT",
        "LIVE",
        "ALL"
      ]
    },
    "DataAutomationProjectStatus":{
      "type":"string",
      "documentation":"<p>Status of Data Automation Project</p>",
      "enum":[
        "COMPLETED",
        "IN_PROGRESS",
        "FAILED"
      ]
    },
    "DataAutomationProjectSummaries":{
      "type":"list",
      "member":{"shape":"DataAutomationProjectSummary"},
      "documentation":"<p>List of DataAutomationProjectSummary</p>"
    },
    "DataAutomationProjectSummary":{
      "type":"structure",
      "required":[
        "projectArn",
        "creationTime"
      ],
      "members":{
        "projectArn":{"shape":"DataAutomationProjectArn"},
        "projectStage":{"shape":"DataAutomationProjectStage"},
        "projectType":{"shape":"DataAutomationProjectType"},
        "projectName":{"shape":"DataAutomationProjectName"},
        "creationTime":{"shape":"DateTimestamp"}
      },
      "documentation":"<p>Summary of a DataAutomationProject</p>"
    },
    "DataAutomationProjectType":{
      "type":"string",
      "documentation":"<p>Type of the DataAutomationProject</p>",
      "enum":[
        "ASYNC",
        "SYNC"
      ]
    },
    "DateTimestamp":{
      "type":"timestamp",
      "documentation":"<p>Time Stamp</p>",
      "timestampFormat":"iso8601"
    },
    "DeleteBlueprintRequest":{
      "type":"structure",
      "required":["blueprintArn"],
      "members":{
        "blueprintArn":{
          "shape":"BlueprintArn",
          "documentation":"<p>ARN generated at the server side when a Blueprint is created</p>",
          "location":"uri",
          "locationName":"blueprintArn"
        },
        "blueprintVersion":{
          "shape":"BlueprintVersion",
          "documentation":"<p>Optional field to delete a specific Blueprint version</p>",
          "location":"querystring",
          "locationName":"blueprintVersion"
        }
      },
      "documentation":"<p>Delete Blueprint Request</p>"
    },
    "DeleteBlueprintResponse":{
      "type":"structure",
      "members":{},
      "documentation":"<p>Delete Blueprint Response</p>"
    },
    "DeleteDataAutomationLibraryRequest":{
      "type":"structure",
      "required":["libraryArn"],
      "members":{
        "libraryArn":{
          "shape":"DataAutomationLibraryArn",
          "documentation":"<p>ARN generated at the server side when a DataAutomationLibrary is created</p>",
          "location":"uri",
          "locationName":"libraryArn"
        }
      },
      "documentation":"<p>Delete DataAutomationLibrary Request</p>"
    },
    "DeleteDataAutomationLibraryResponse":{
      "type":"structure",
      "members":{
        "libraryArn":{"shape":"DataAutomationLibraryArn"},
        "status":{"shape":"DataAutomationLibraryStatus"}
      },
      "documentation":"<p>Delete DataAutomationLibrary Response</p>"
    },
    "DeleteDataAutomationProjectRequest":{
      "type":"structure",
      "required":["projectArn"],
      "members":{
        "projectArn":{
          "shape":"DataAutomationProjectArn",
          "documentation":"<p>ARN generated at the server side when a DataAutomationProject is created</p>",
          "location":"uri",
          "locationName":"projectArn"
        }
      },
      "documentation":"<p>Delete DataAutomationProject Request</p>"
    },
    "DeleteDataAutomationProjectResponse":{
      "type":"structure",
      "required":["projectArn"],
      "members":{
        "projectArn":{"shape":"DataAutomationProjectArn"},
        "status":{"shape":"DataAutomationProjectStatus"}
      },
      "documentation":"<p>Delete DataAutomationProject Response</p>"
    },
    "DeleteEntitiesInfo":{
      "type":"structure",
      "required":["entityIds"],
      "members":{
        "entityIds":{"shape":"EntityIdList"}
      },
      "documentation":"<p>Input for entities needed to be deleted</p>"
    },
    "DesiredModality":{
      "type":"string",
      "documentation":"<p>Desired Modality types</p>",
      "enum":[
        "IMAGE",
        "DOCUMENT",
        "AUDIO",
        "VIDEO"
      ]
    },
    "DocumentBoundingBox":{
      "type":"structure",
      "required":["state"],
      "members":{
        "state":{"shape":"State"}
      },
      "documentation":"<p>Bounding Box Configuration of Document Extraction</p>"
    },
    "DocumentExtractionGranularity":{
      "type":"structure",
      "members":{
        "types":{"shape":"DocumentExtractionGranularityTypes"}
      },
      "documentation":"<p>Granularity of Document Extraction</p>"
    },
    "DocumentExtractionGranularityType":{
      "type":"string",
      "enum":[
        "DOCUMENT",
        "PAGE",
        "ELEMENT",
        "WORD",
        "LINE"
      ]
    },
    "DocumentExtractionGranularityTypes":{
      "type":"list",
      "member":{"shape":"DocumentExtractionGranularityType"},
      "documentation":"<p>List of Document Extraction Granularity Type</p>"
    },
    "DocumentOutputAdditionalFileFormat":{
      "type":"structure",
      "required":["state"],
      "members":{
        "state":{"shape":"State"}
      },
      "documentation":"<p>Additional File Format of Document Output</p>"
    },
    "DocumentOutputFormat":{
      "type":"structure",
      "required":[
        "textFormat",
        "additionalFileFormat"
      ],
      "members":{
        "textFormat":{"shape":"DocumentOutputTextFormat"},
        "additionalFileFormat":{"shape":"DocumentOutputAdditionalFileFormat"}
      },
      "documentation":"<p>Output Format of Document</p>"
    },
    "DocumentOutputTextFormat":{
      "type":"structure",
      "members":{
        "types":{"shape":"DocumentOutputTextFormatTypes"}
      },
      "documentation":"<p>Text Format of Document Output</p>"
    },
    "DocumentOutputTextFormatType":{
      "type":"string",
      "enum":[
        "PLAIN_TEXT",
        "MARKDOWN",
        "HTML",
        "CSV"
      ]
    },
    "DocumentOutputTextFormatTypes":{
      "type":"list",
      "member":{"shape":"DocumentOutputTextFormatType"},
      "documentation":"<p>List of Document Output Text Format Type</p>"
    },
    "DocumentOverrideConfiguration":{
      "type":"structure",
      "members":{
        "splitter":{"shape":"SplitterConfiguration"},
        "modalityProcessing":{"shape":"ModalityProcessingConfiguration"},
        "sensitiveDataConfiguration":{"shape":"SensitiveDataConfiguration"}
      },
      "documentation":"<p>Override Configuration of Document</p>"
    },
    "DocumentStandardExtraction":{
      "type":"structure",
      "required":[
        "granularity",
        "boundingBox"
      ],
      "members":{
        "granularity":{"shape":"DocumentExtractionGranularity"},
        "boundingBox":{"shape":"DocumentBoundingBox"}
      },
      "documentation":"<p>Standard Extraction Configuration of Document</p>"
    },
    "DocumentStandardGenerativeField":{
      "type":"structure",
      "required":["state"],
      "members":{
        "state":{"shape":"State"}
      },
      "documentation":"<p>Standard Generative Field Configuration of Document</p>"
    },
    "DocumentStandardOutputConfiguration":{
      "type":"structure",
      "members":{
        "extraction":{"shape":"DocumentStandardExtraction"},
        "generativeField":{"shape":"DocumentStandardGenerativeField"},
        "outputFormat":{"shape":"DocumentOutputFormat"}
      },
      "documentation":"<p>Standard Output Configuration of Document</p>"
    },
    "EncryptionConfiguration":{
      "type":"structure",
      "required":["kmsKeyId"],
      "members":{
        "kmsKeyId":{"shape":"KmsKeyId"},
        "kmsEncryptionContext":{"shape":"KmsEncryptionContext"}
      },
      "documentation":"<p>KMS Encryption Configuration</p>"
    },
    "EncryptionContextKey":{
      "type":"string",
      "documentation":"<p>Encryption context key.</p>",
      "max":2000,
      "min":1,
      "pattern":".*\\S.*"
    },
    "EncryptionContextValue":{
      "type":"string",
      "documentation":"<p>Encryption context value.</p>",
      "max":2000,
      "min":1,
      "pattern":".*\\S.*"
    },
    "EntityDescription":{
      "type":"string",
      "documentation":"<p>Description of the entity</p>",
      "max":300,
      "min":0,
      "pattern":"[a-zA-Z0-9\\s!\"\\#\\$%'&\\(\\)\\*\\+\\,\\-\\./:;=\\?@\\[\\\\\\]\\^_`\\{\\|\\}~><À-ÖØ-Üßà-öø-üẞ¿¡Œ-œ°£¥₹€§©ª®™¹±-µ✓⑆-⑉฿₽₱₦₣₩₫₺]*",
      "sensitive":true
    },
    "EntityDetails":{
      "type":"structure",
      "members":{
        "vocabulary":{"shape":"VocabularyEntity"}
      },
      "documentation":"<p>Detailed information about an entity</p>",
      "union":true
    },
    "EntityId":{
      "type":"string",
      "documentation":"<p>Unique identifier for the entity</p>",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9-_]+"
    },
    "EntityIdList":{
      "type":"list",
      "member":{"shape":"EntityId"},
      "documentation":"<p>List of EntityId</p>",
      "max":1000,
      "min":1
    },
    "EntityMetadata":{
      "type":"string",
      "documentation":"<p>JSON string representing relevant metadata for the entity type</p>"
    },
    "EntityType":{
      "type":"string",
      "documentation":"<p>Entity types supported in DataAutomationLibraries</p>",
      "enum":["VOCABULARY"]
    },
    "EntityTypeInfo":{
      "type":"structure",
      "required":["entityType"],
      "members":{
        "entityType":{"shape":"EntityType"},
        "entityMetadata":{"shape":"EntityMetadata"}
      },
      "documentation":"<p>Information about an entity type in the DataAutomationLibrary</p>"
    },
    "EntityTypeInfoList":{
      "type":"list",
      "member":{"shape":"EntityTypeInfo"},
      "documentation":"<p>List of info for each entity type in the DataAutomationLibrary</p>"
    },
    "EventBridgeConfiguration":{
      "type":"structure",
      "required":["eventBridgeEnabled"],
      "members":{
        "eventBridgeEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Event bridge flag.</p>"
        }
      },
      "documentation":"<p>Event bridge configuration.</p>"
    },
    "GetBlueprintOptimizationStatusRequest":{
      "type":"structure",
      "required":["invocationArn"],
      "members":{
        "invocationArn":{
          "shape":"BlueprintOptimizationInvocationArn",
          "documentation":"<p>Invocation arn.</p>",
          "location":"uri",
          "locationName":"invocationArn"
        }
      },
      "documentation":"<p>Structure for request of GetBlueprintOptimizationStatus API.</p>"
    },
    "GetBlueprintOptimizationStatusResponse":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"BlueprintOptimizationJobStatus",
          "documentation":"<p>Job Status.</p>"
        },
        "errorType":{
          "shape":"String",
          "documentation":"<p>Error Type.</p>"
        },
        "errorMessage":{
          "shape":"String",
          "documentation":"<p>Error Message.</p>"
        },
        "outputConfiguration":{
          "shape":"BlueprintOptimizationOutputConfiguration",
          "documentation":"<p>Output configuration.</p>"
        }
      },
      "documentation":"<p>Response of GetBlueprintOptimizationStatus API.</p>"
    },
    "GetBlueprintRequest":{
      "type":"structure",
      "required":["blueprintArn"],
      "members":{
        "blueprintArn":{
          "shape":"BlueprintArn",
          "documentation":"<p>ARN generated at the server side when a Blueprint is created</p>",
          "location":"uri",
          "locationName":"blueprintArn"
        },
        "blueprintVersion":{
          "shape":"BlueprintVersion",
          "documentation":"<p>Optional field to get a specific Blueprint version</p>"
        },
        "blueprintStage":{
          "shape":"BlueprintStage",
          "documentation":"<p>Optional field to get a specific Blueprint stage</p>"
        }
      },
      "documentation":"<p>Get Blueprint Request</p>"
    },
    "GetBlueprintResponse":{
      "type":"structure",
      "required":["blueprint"],
      "members":{
        "blueprint":{"shape":"Blueprint"}
      },
      "documentation":"<p>Get Blueprint Response</p>"
    },
    "GetDataAutomationLibraryEntityRequest":{
      "type":"structure",
      "required":[
        "libraryArn",
        "entityType",
        "entityId"
      ],
      "members":{
        "libraryArn":{
          "shape":"DataAutomationLibraryArn",
          "documentation":"<p>ARN generated at the server side when a DataAutomationLibrary is created</p>",
          "location":"uri",
          "locationName":"libraryArn"
        },
        "entityType":{
          "shape":"EntityType",
          "documentation":"<p>The entity type for which the entity is requested</p>",
          "location":"uri",
          "locationName":"entityType"
        },
        "entityId":{
          "shape":"EntityId",
          "documentation":"<p>Unique identifier for the entity</p>",
          "location":"uri",
          "locationName":"entityId"
        }
      },
      "documentation":"<p>Get DataAutomationLibraryEntity Request</p>"
    },
    "GetDataAutomationLibraryEntityResponse":{
      "type":"structure",
      "members":{
        "entity":{
          "shape":"EntityDetails",
          "documentation":"<p>Detailed information about the entity</p>"
        }
      },
      "documentation":"<p>Get DataAutomationLibraryEntity Response</p>"
    },
    "GetDataAutomationLibraryIngestionJobRequest":{
      "type":"structure",
      "required":[
        "libraryArn",
        "jobArn"
      ],
      "members":{
        "libraryArn":{
          "shape":"DataAutomationLibraryArn",
          "documentation":"<p>ARN generated at the server side when a DataAutomationLibrary is created</p>",
          "location":"uri",
          "locationName":"libraryArn"
        },
        "jobArn":{
          "shape":"DataAutomationLibraryIngestionJobArn",
          "documentation":"<p>ARN of the DataAutomationLibraryIngestionJob</p>",
          "location":"uri",
          "locationName":"jobArn"
        }
      },
      "documentation":"<p>Get DataAutomationLibraryIngestionJob Request</p>"
    },
    "GetDataAutomationLibraryIngestionJobResponse":{
      "type":"structure",
      "members":{
        "job":{
          "shape":"DataAutomationLibraryIngestionJob",
          "documentation":"<p>Contains the information of a library ingestion job</p>"
        }
      },
      "documentation":"<p>Get DataAutomationLibraryIngestionJob Response</p>"
    },
    "GetDataAutomationLibraryRequest":{
      "type":"structure",
      "required":["libraryArn"],
      "members":{
        "libraryArn":{
          "shape":"DataAutomationLibraryArn",
          "documentation":"<p>ARN generated at the server side when a DataAutomationLibrary is created</p>",
          "location":"uri",
          "locationName":"libraryArn"
        }
      },
      "documentation":"<p>Get DataAutomationLibrary Request</p>"
    },
    "GetDataAutomationLibraryResponse":{
      "type":"structure",
      "members":{
        "library":{"shape":"DataAutomationLibrary"}
      },
      "documentation":"<p>Get DataAutomationLibrary Response</p>"
    },
    "GetDataAutomationProjectRequest":{
      "type":"structure",
      "required":["projectArn"],
      "members":{
        "projectArn":{
          "shape":"DataAutomationProjectArn",
          "documentation":"<p>ARN generated at the server side when a DataAutomationProject is created</p>",
          "location":"uri",
          "locationName":"projectArn"
        },
        "projectStage":{
          "shape":"DataAutomationProjectStage",
          "documentation":"<p>Optional field to delete a specific DataAutomationProject stage</p>"
        }
      },
      "documentation":"<p>Get DataAutomationProject Request</p>"
    },
    "GetDataAutomationProjectResponse":{
      "type":"structure",
      "required":["project"],
      "members":{
        "project":{"shape":"DataAutomationProject"}
      },
      "documentation":"<p>Get DataAutomationProject Response</p>"
    },
    "ImageBoundingBox":{
      "type":"structure",
      "required":["state"],
      "members":{
        "state":{"shape":"State"}
      },
      "documentation":"<p>Bounding Box Configuration of Image Extraction</p>"
    },
    "ImageExtractionCategory":{
      "type":"structure",
      "required":["state"],
      "members":{
        "state":{"shape":"State"},
        "types":{"shape":"ImageExtractionCategoryTypes"}
      },
      "documentation":"<p>Category of Image Extraction</p>"
    },
    "ImageExtractionCategoryType":{
      "type":"string",
      "enum":[
        "CONTENT_MODERATION",
        "TEXT_DETECTION",
        "LOGOS"
      ]
    },
    "ImageExtractionCategoryTypes":{
      "type":"list",
      "member":{"shape":"ImageExtractionCategoryType"},
      "documentation":"<p>List of Image Extraction Category</p>"
    },
    "ImageOverrideConfiguration":{
      "type":"structure",
      "members":{
        "modalityProcessing":{"shape":"ModalityProcessingConfiguration"},
        "sensitiveDataConfiguration":{"shape":"SensitiveDataConfiguration"}
      },
      "documentation":"<p>Override Configuration of Image</p>"
    },
    "ImageStandardExtraction":{
      "type":"structure",
      "required":[
        "category",
        "boundingBox"
      ],
      "members":{
        "category":{"shape":"ImageExtractionCategory"},
        "boundingBox":{"shape":"ImageBoundingBox"}
      },
      "documentation":"<p>Standard Extraction Configuration of Image</p>"
    },
    "ImageStandardGenerativeField":{
      "type":"structure",
      "required":["state"],
      "members":{
        "state":{"shape":"State"},
        "types":{"shape":"ImageStandardGenerativeFieldTypes"}
      },
      "documentation":"<p>Standard Generative Field Configuration of Image</p>"
    },
    "ImageStandardGenerativeFieldType":{
      "type":"string",
      "enum":[
        "IMAGE_SUMMARY",
        "IAB"
      ]
    },
    "ImageStandardGenerativeFieldTypes":{
      "type":"list",
      "member":{"shape":"ImageStandardGenerativeFieldType"},
      "documentation":"<p>List of Image Standard Generative Field Type</p>"
    },
    "ImageStandardOutputConfiguration":{
      "type":"structure",
      "members":{
        "extraction":{"shape":"ImageStandardExtraction"},
        "generativeField":{"shape":"ImageStandardGenerativeField"}
      },
      "documentation":"<p>Standard Output Configuration of Image</p>"
    },
    "InlinePayload":{
      "type":"structure",
      "members":{
        "upsertEntitiesInfo":{"shape":"UpsertEntitiesInfo"},
        "deleteEntitiesInfo":{"shape":"DeleteEntitiesInfo"}
      },
      "documentation":"<p>Input payload structure definition</p>",
      "union":true
    },
    "InputConfiguration":{
      "type":"structure",
      "members":{
        "s3Object":{
          "shape":"S3Object",
          "documentation":"<p>S3 object</p>"
        },
        "inlinePayload":{
          "shape":"InlinePayload",
          "documentation":"<p>Input Payload</p>"
        }
      },
      "documentation":"<p>Input configuration for DataAutomationLibraryIngestionJob</p>"
    },
    "InternalServerException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown if there was an unexpected error during processing of request</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "InvokeBlueprintOptimizationAsyncRequest":{
      "type":"structure",
      "required":[
        "blueprint",
        "samples",
        "outputConfiguration",
        "dataAutomationProfileArn"
      ],
      "members":{
        "blueprint":{
          "shape":"BlueprintOptimizationObject",
          "documentation":"<p>Blueprint to be optimized</p>"
        },
        "samples":{
          "shape":"BlueprintOptimizationSamples",
          "documentation":"<p>List of Blueprint Optimization Samples</p>"
        },
        "outputConfiguration":{
          "shape":"BlueprintOptimizationOutputConfiguration",
          "documentation":"<p>Output configuration where the results should be placed</p>"
        },
        "dataAutomationProfileArn":{
          "shape":"DataAutomationProfileArn",
          "documentation":"<p>Data automation profile ARN</p>"
        },
        "encryptionConfiguration":{
          "shape":"EncryptionConfiguration",
          "documentation":"<p>Encryption configuration.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>List of tags.</p>"
        }
      },
      "documentation":"<p>Invoke Blueprint Optimization Async Request</p>"
    },
    "InvokeBlueprintOptimizationAsyncResponse":{
      "type":"structure",
      "required":["invocationArn"],
      "members":{
        "invocationArn":{
          "shape":"BlueprintOptimizationInvocationArn",
          "documentation":"<p>ARN of the blueprint optimization job</p>"
        }
      },
      "documentation":"<p>Invoke Blueprint Optimization Async Response</p>"
    },
    "InvokeDataAutomationLibraryIngestionJobRequest":{
      "type":"structure",
      "required":[
        "libraryArn",
        "inputConfiguration",
        "entityType",
        "operationType",
        "outputConfiguration"
      ],
      "members":{
        "libraryArn":{
          "shape":"DataAutomationLibraryArn",
          "documentation":"<p>ARN generated at the server side when a DataAutomationLibrary is created</p>",
          "location":"uri",
          "locationName":"libraryArn"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Idempotency token</p>",
          "idempotencyToken":true
        },
        "inputConfiguration":{
          "shape":"InputConfiguration",
          "documentation":"<p>Input configuration of DataAutomationLibraryIngestionJob request</p>"
        },
        "entityType":{
          "shape":"EntityType",
          "documentation":"<p>The entity type for which DataAutomationLibraryIngestionJob is being run</p>"
        },
        "operationType":{
          "shape":"LibraryIngestionJobOperationType",
          "documentation":"<p>The operation to be performed by DataAutomationLibraryIngestionJob</p>"
        },
        "outputConfiguration":{
          "shape":"OutputConfiguration",
          "documentation":"<p>Output configuration of DataAutomationLibraryIngestionJob</p>"
        },
        "notificationConfiguration":{
          "shape":"NotificationConfiguration",
          "documentation":"<p>Notification configuration.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>List of tags</p>"
        }
      },
      "documentation":"<p>Invoke DataAutomationLibraryIngestionJob Request</p>"
    },
    "InvokeDataAutomationLibraryIngestionJobResponse":{
      "type":"structure",
      "members":{
        "jobArn":{
          "shape":"DataAutomationLibraryIngestionJobArn",
          "documentation":"<p>ARN of the DataAutomationLibraryIngestionJob</p>"
        }
      },
      "documentation":"<p>Invoke DataAutomationLibraryIngestionJob Response</p>"
    },
    "KmsEncryptionContext":{
      "type":"map",
      "key":{"shape":"EncryptionContextKey"},
      "value":{"shape":"EncryptionContextValue"},
      "documentation":"<p>KMS Encryption Context</p>",
      "min":1
    },
    "KmsKeyId":{
      "type":"string",
      "documentation":"<p>KMS Key Identifier</p>",
      "max":2048,
      "min":1,
      "pattern":"[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]+"
    },
    "Language":{
      "type":"string",
      "documentation":"<p>Supported input languages</p>",
      "enum":[
        "EN",
        "DE",
        "ES",
        "FR",
        "IT",
        "PT",
        "JA",
        "KO",
        "CN",
        "TW",
        "HK"
      ]
    },
    "LibraryIngestionJobOperationType":{
      "type":"string",
      "documentation":"<p>DataAutomationLibraryIngestionJob operation type</p>",
      "enum":[
        "UPSERT",
        "DELETE"
      ]
    },
    "LibraryIngestionJobStatus":{
      "type":"string",
      "documentation":"<p>Status of DataAutomationLibraryIngestionJob</p>",
      "enum":[
        "IN_PROGRESS",
        "COMPLETED",
        "COMPLETED_WITH_ERRORS",
        "FAILED"
      ]
    },
    "ListBlueprintsRequest":{
      "type":"structure",
      "members":{
        "blueprintArn":{"shape":"BlueprintArn"},
        "resourceOwner":{"shape":"ResourceOwner"},
        "blueprintStageFilter":{"shape":"BlueprintStageFilter"},
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{"shape":"NextToken"},
        "projectFilter":{"shape":"DataAutomationProjectFilter"}
      },
      "documentation":"<p>List Blueprint Request</p>"
    },
    "ListBlueprintsResponse":{
      "type":"structure",
      "required":["blueprints"],
      "members":{
        "blueprints":{"shape":"Blueprints"},
        "nextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>List Blueprint Response</p>"
    },
    "ListDataAutomationLibrariesRequest":{
      "type":"structure",
      "members":{
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{"shape":"NextToken"},
        "projectFilter":{"shape":"DataAutomationProjectFilter"}
      },
      "documentation":"<p>List DataAutomationLibraries Request</p>"
    },
    "ListDataAutomationLibrariesResponse":{
      "type":"structure",
      "members":{
        "libraries":{"shape":"DataAutomationLibrarySummaries"},
        "nextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>List DataAutomationLibraries Response</p>"
    },
    "ListDataAutomationLibraryEntitiesRequest":{
      "type":"structure",
      "required":[
        "libraryArn",
        "entityType"
      ],
      "members":{
        "libraryArn":{
          "shape":"DataAutomationLibraryArn",
          "documentation":"<p>ARN generated at the server side when a DataAutomationLibrary is created</p>",
          "location":"uri",
          "locationName":"libraryArn"
        },
        "entityType":{
          "shape":"EntityType",
          "documentation":"<p>The entity type for which the entity list is requested</p>",
          "location":"uri",
          "locationName":"entityType"
        },
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>Pagination token for retrieving the next set of results</p>"
        }
      },
      "documentation":"<p>List DataAutomationLibraryEntities Request</p>"
    },
    "ListDataAutomationLibraryEntitiesResponse":{
      "type":"structure",
      "members":{
        "entities":{
          "shape":"DataAutomationLibraryEntitySummaries",
          "documentation":"<p>List of entities</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>Pagination token for retrieving the next set of results</p>"
        }
      },
      "documentation":"<p>List DataAutomationLibraryEntities Response</p>"
    },
    "ListDataAutomationLibraryIngestionJobsRequest":{
      "type":"structure",
      "required":["libraryArn"],
      "members":{
        "libraryArn":{
          "shape":"DataAutomationLibraryArn",
          "documentation":"<p>ARN generated at the server side when a DataAutomationLibrary is created</p>",
          "location":"uri",
          "locationName":"libraryArn"
        },
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>Pagination token for retrieving the next set of results</p>"
        }
      },
      "documentation":"<p>List DataAutomationLibraryIngestionJobs Request</p>"
    },
    "ListDataAutomationLibraryIngestionJobsResponse":{
      "type":"structure",
      "members":{
        "jobs":{
          "shape":"DataAutomationLibraryIngestionJobSummaries",
          "documentation":"<p>List of data automation library ingestion jobs</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>Pagination token for retrieving the next set of results</p>"
        }
      },
      "documentation":"<p>List DataAutomationLibraryIngestionJobs Response</p>"
    },
    "ListDataAutomationProjectsRequest":{
      "type":"structure",
      "members":{
        "maxResults":{"shape":"MaxResults"},
        "nextToken":{"shape":"NextToken"},
        "projectStageFilter":{"shape":"DataAutomationProjectStageFilter"},
        "blueprintFilter":{"shape":"BlueprintFilter"},
        "resourceOwner":{"shape":"ResourceOwner"},
        "libraryFilter":{"shape":"DataAutomationLibraryFilter"}
      },
      "documentation":"<p>List DataAutomationProject Request</p>"
    },
    "ListDataAutomationProjectsResponse":{
      "type":"structure",
      "required":["projects"],
      "members":{
        "projects":{"shape":"DataAutomationProjectSummaries"},
        "nextToken":{"shape":"NextToken"}
      },
      "documentation":"<p>List DataAutomationProject Response</p>"
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["resourceARN"],
      "members":{
        "resourceARN":{"shape":"TaggableResourceArn"}
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "tags":{"shape":"TagList"}
      }
    },
    "MaxResults":{
      "type":"integer",
      "documentation":"<p>Max Results</p>",
      "box":true,
      "max":1000,
      "min":1
    },
    "ModalityProcessingConfiguration":{
      "type":"structure",
      "members":{
        "state":{"shape":"State"}
      },
      "documentation":"<p>Configuration to enable/disable processing of modality</p>"
    },
    "ModalityRoutingConfiguration":{
      "type":"structure",
      "members":{
        "jpeg":{"shape":"DesiredModality"},
        "png":{"shape":"DesiredModality"},
        "mp4":{"shape":"DesiredModality"},
        "mov":{"shape":"DesiredModality"}
      },
      "documentation":"<p>Configuration for routing file type to desired modality</p>"
    },
    "NextToken":{
      "type":"string",
      "documentation":"<p>Pagination token</p>",
      "max":2048,
      "min":1,
      "pattern":"\\S*"
    },
    "NonBlankString":{
      "type":"string",
      "documentation":"<p>Non Blank String</p>",
      "pattern":"[\\s\\S]+"
    },
    "NotificationConfiguration":{
      "type":"structure",
      "required":["eventBridgeConfiguration"],
      "members":{
        "eventBridgeConfiguration":{
          "shape":"EventBridgeConfiguration",
          "documentation":"<p>Event bridge configuration.</p>"
        }
      },
      "documentation":"<p>Notification configuration.</p>"
    },
    "OutputConfiguration":{
      "type":"structure",
      "required":["s3Uri"],
      "members":{
        "s3Uri":{
          "shape":"S3Uri",
          "documentation":"<p>S3 Uri</p>"
        }
      },
      "documentation":"<p>Output configuration for DataAutomationLibraryIngestionJob</p>"
    },
    "OverrideConfiguration":{
      "type":"structure",
      "members":{
        "document":{"shape":"DocumentOverrideConfiguration"},
        "image":{"shape":"ImageOverrideConfiguration"},
        "video":{"shape":"VideoOverrideConfiguration"},
        "audio":{"shape":"AudioOverrideConfiguration"},
        "modalityRouting":{"shape":"ModalityRoutingConfiguration"}
      },
      "documentation":"<p>Override configuration</p>"
    },
    "PIIEntitiesConfiguration":{
      "type":"structure",
      "members":{
        "piiEntityTypes":{
          "shape":"PIIEntityTypes",
          "documentation":"<p>Types of PII entities to detect</p>"
        },
        "redactionMaskMode":{
          "shape":"PIIRedactionMaskMode",
          "documentation":"<p>Mode for redacting detected PII</p>"
        }
      },
      "documentation":"<p>Configuration for PII entities detection and redaction</p>"
    },
    "PIIEntityType":{
      "type":"string",
      "documentation":"<p>Types of PII entities that can be detected, we will support every types that Guardrails can support</p>",
      "enum":[
        "ALL",
        "ADDRESS",
        "AGE",
        "NAME",
        "EMAIL",
        "PHONE",
        "USERNAME",
        "PASSWORD",
        "DRIVER_ID",
        "LICENSE_PLATE",
        "VEHICLE_IDENTIFICATION_NUMBER",
        "CREDIT_DEBIT_CARD_CVV",
        "CREDIT_DEBIT_CARD_EXPIRY",
        "CREDIT_DEBIT_CARD_NUMBER",
        "PIN",
        "INTERNATIONAL_BANK_ACCOUNT_NUMBER",
        "SWIFT_CODE",
        "IP_ADDRESS",
        "MAC_ADDRESS",
        "URL",
        "AWS_ACCESS_KEY",
        "AWS_SECRET_KEY",
        "US_BANK_ACCOUNT_NUMBER",
        "US_BANK_ROUTING_NUMBER",
        "US_INDIVIDUAL_TAX_IDENTIFICATION_NUMBER",
        "US_PASSPORT_NUMBER",
        "US_SOCIAL_SECURITY_NUMBER",
        "CA_HEALTH_NUMBER",
        "CA_SOCIAL_INSURANCE_NUMBER",
        "UK_NATIONAL_HEALTH_SERVICE_NUMBER",
        "UK_NATIONAL_INSURANCE_NUMBER",
        "UK_UNIQUE_TAXPAYER_REFERENCE_NUMBER"
      ]
    },
    "PIIEntityTypes":{
      "type":"list",
      "member":{"shape":"PIIEntityType"},
      "documentation":"<p>List of PII entity types</p>",
      "max":32,
      "min":1
    },
    "PIIRedactionMaskMode":{
      "type":"string",
      "documentation":"<p>Mode for redacting detected PII</p>",
      "enum":[
        "PII",
        "ENTITY_TYPE"
      ]
    },
    "Phrase":{
      "type":"structure",
      "required":["text"],
      "members":{
        "text":{"shape":"PhraseText"},
        "displayAsText":{"shape":"PhraseDisplayAsText"}
      },
      "documentation":"<p>Phrase structure for vocabulary</p>"
    },
    "PhraseDisplayAsText":{
      "type":"string",
      "documentation":"<p>Text to configure how phrase is displayed in Transcript</p>",
      "max":256,
      "min":1,
      "pattern":".*.+.*",
      "sensitive":true
    },
    "PhraseList":{
      "type":"list",
      "member":{"shape":"Phrase"},
      "documentation":"<p>List of phrases</p>",
      "min":1
    },
    "PhraseText":{
      "type":"string",
      "documentation":"<p>Text content of the phrase</p>",
      "max":256,
      "min":1,
      "pattern":".*.+.*",
      "sensitive":true
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown when a resource referenced by the operation does not exist</p>",
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ResourceOwner":{
      "type":"string",
      "documentation":"<p>Resource Owner</p>",
      "enum":[
        "SERVICE",
        "ACCOUNT"
      ]
    },
    "S3Object":{
      "type":"structure",
      "required":["s3Uri"],
      "members":{
        "s3Uri":{
          "shape":"S3Uri",
          "documentation":"<p>S3 uri.</p>"
        },
        "version":{
          "shape":"S3ObjectVersion",
          "documentation":"<p>S3 object version.</p>"
        }
      },
      "documentation":"<p>S3 object</p>"
    },
    "S3ObjectVersion":{
      "type":"string",
      "documentation":"<p>S3 object version.</p>",
      "max":1024,
      "min":1
    },
    "S3Uri":{
      "type":"string",
      "documentation":"<p>A path in S3</p>",
      "max":1024,
      "min":1,
      "pattern":"s3://[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9](/.*)?"
    },
    "SensitiveDataConfiguration":{
      "type":"structure",
      "required":["detectionMode"],
      "members":{
        "detectionMode":{
          "shape":"SensitiveDataDetectionMode",
          "documentation":"<p>Mode for sensitive data detection</p>"
        },
        "detectionScope":{
          "shape":"SensitiveDataDetectionScope",
          "documentation":"<p>Scope of detection - what types of sensitive data to detect</p>"
        },
        "piiEntitiesConfiguration":{
          "shape":"PIIEntitiesConfiguration",
          "documentation":"<p>Configuration for PII entities detection and redaction</p>"
        }
      },
      "documentation":"<p>Configuration for sensitive data detection and redaction</p>"
    },
    "SensitiveDataDetectionMode":{
      "type":"string",
      "documentation":"<p>Mode for sensitive data detection</p>",
      "enum":[
        "DETECTION",
        "DETECTION_AND_REDACTION"
      ]
    },
    "SensitiveDataDetectionScope":{
      "type":"list",
      "member":{"shape":"SensitiveDataDetectionScopeType"},
      "documentation":"<p>Scope of sensitive data detection</p>",
      "max":2,
      "min":1
    },
    "SensitiveDataDetectionScopeType":{
      "type":"string",
      "documentation":"<p>Types of sensitive data detection scope</p>",
      "enum":[
        "STANDARD",
        "CUSTOM"
      ]
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown when a request is made beyond the service quota</p>",
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "SpeakerLabelingConfiguration":{
      "type":"structure",
      "required":["state"],
      "members":{
        "state":{"shape":"State"}
      },
      "documentation":"<p>Speaker labeling configuration</p>"
    },
    "SplitterConfiguration":{
      "type":"structure",
      "members":{
        "state":{"shape":"State"}
      },
      "documentation":"<p>Configuration of Splitter</p>"
    },
    "StandardOutputConfiguration":{
      "type":"structure",
      "members":{
        "document":{"shape":"DocumentStandardOutputConfiguration"},
        "image":{"shape":"ImageStandardOutputConfiguration"},
        "video":{"shape":"VideoStandardOutputConfiguration"},
        "audio":{"shape":"AudioStandardOutputConfiguration"}
      },
      "documentation":"<p>Standard output configuration</p>"
    },
    "State":{
      "type":"string",
      "documentation":"<p>State</p>",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "String":{"type":"string"},
    "Tag":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{"shape":"TagKey"},
        "value":{"shape":"TagValue"}
      },
      "documentation":"<p>Key value pair of a tag</p>"
    },
    "TagKey":{
      "type":"string",
      "documentation":"<p>Defines the context of the tag.</p>",
      "max":128,
      "min":1
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "documentation":"<p>List of tag keys</p>",
      "max":200,
      "min":0
    },
    "TagList":{
      "type":"list",
      "member":{"shape":"Tag"},
      "documentation":"<p>List of tags</p>",
      "max":200,
      "min":0
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "resourceARN",
        "tags"
      ],
      "members":{
        "resourceARN":{"shape":"TaggableResourceArn"},
        "tags":{"shape":"TagList"}
      }
    },
    "TagResourceResponse":{
      "type":"structure",
      "members":{}
    },
    "TagValue":{
      "type":"string",
      "documentation":"<p>Defines the value within the context. e.g. &lt;key=reason, value=training&gt;.</p>",
      "max":256,
      "min":0
    },
    "TaggableResourceArn":{
      "type":"string",
      "documentation":"<p>ARN of a taggable resource</p>",
      "max":1011,
      "min":20,
      "pattern":"arn:aws(|-cn|-iso|-iso-[a-z]|-us-gov):bedrock:[a-z0-9-]*:[0-9]{12}:(blueprint|data-automation-project|blueprint-optimization-invocation|data-automation-library|data-automation-library-ingestion-job)/[a-zA-Z0-9-]{12,36}"
    },
    "ThrottlingException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>This exception is thrown when the number of requests exceeds the limit</p>",
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true
    },
    "TranscriptConfiguration":{
      "type":"structure",
      "members":{
        "speakerLabeling":{"shape":"SpeakerLabelingConfiguration"},
        "channelLabeling":{"shape":"ChannelLabelingConfiguration"}
      },
      "documentation":"<p>Configuration for transcript related features</p>"
    },
    "Type":{
      "type":"string",
      "documentation":"<p>Type</p>",
      "enum":[
        "DOCUMENT",
        "IMAGE",
        "AUDIO",
        "VIDEO"
      ]
    },
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "resourceARN",
        "tagKeys"
      ],
      "members":{
        "resourceARN":{"shape":"TaggableResourceArn"},
        "tagKeys":{"shape":"TagKeyList"}
      }
    },
    "UntagResourceResponse":{
      "type":"structure",
      "members":{}
    },
    "UpdateBlueprintRequest":{
      "type":"structure",
      "required":[
        "blueprintArn",
        "schema"
      ],
      "members":{
        "blueprintArn":{
          "shape":"BlueprintArn",
          "documentation":"<p>ARN generated at the server side when a Blueprint is created</p>",
          "location":"uri",
          "locationName":"blueprintArn"
        },
        "schema":{"shape":"BlueprintSchema"},
        "blueprintStage":{"shape":"BlueprintStage"},
        "encryptionConfiguration":{"shape":"EncryptionConfiguration"}
      },
      "documentation":"<p>Update Blueprint Request</p>"
    },
    "UpdateBlueprintResponse":{
      "type":"structure",
      "required":["blueprint"],
      "members":{
        "blueprint":{"shape":"Blueprint"}
      },
      "documentation":"<p>Update Blueprint Response</p>"
    },
    "UpdateDataAutomationLibraryRequest":{
      "type":"structure",
      "required":["libraryArn"],
      "members":{
        "libraryArn":{
          "shape":"DataAutomationLibraryArn",
          "documentation":"<p>ARN generated at the server side when a DataAutomationLibrary is created</p>",
          "location":"uri",
          "locationName":"libraryArn"
        },
        "libraryDescription":{"shape":"DataAutomationLibraryDescription"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      },
      "documentation":"<p>Update DataAutomationLibrary Request</p>"
    },
    "UpdateDataAutomationLibraryResponse":{
      "type":"structure",
      "members":{
        "libraryArn":{"shape":"DataAutomationLibraryArn"},
        "status":{"shape":"DataAutomationLibraryStatus"}
      },
      "documentation":"<p>Update DataAutomationLibrary Response</p>"
    },
    "UpdateDataAutomationProjectRequest":{
      "type":"structure",
      "required":[
        "projectArn",
        "standardOutputConfiguration"
      ],
      "members":{
        "projectArn":{
          "shape":"DataAutomationProjectArn",
          "documentation":"<p>ARN generated at the server side when a DataAutomationProject is created</p>",
          "location":"uri",
          "locationName":"projectArn"
        },
        "projectStage":{"shape":"DataAutomationProjectStage"},
        "projectDescription":{"shape":"DataAutomationProjectDescription"},
        "standardOutputConfiguration":{"shape":"StandardOutputConfiguration"},
        "customOutputConfiguration":{"shape":"CustomOutputConfiguration"},
        "overrideConfiguration":{"shape":"OverrideConfiguration"},
        "dataAutomationLibraryConfiguration":{"shape":"DataAutomationLibraryConfiguration"},
        "encryptionConfiguration":{"shape":"EncryptionConfiguration"}
      },
      "documentation":"<p>Update DataAutomationProject Request</p>"
    },
    "UpdateDataAutomationProjectResponse":{
      "type":"structure",
      "required":["projectArn"],
      "members":{
        "projectArn":{"shape":"DataAutomationProjectArn"},
        "projectStage":{"shape":"DataAutomationProjectStage"},
        "status":{"shape":"DataAutomationProjectStatus"}
      },
      "documentation":"<p>Update DataAutomationProject Response</p>"
    },
    "UpsertEntitiesInfo":{
      "type":"list",
      "member":{"shape":"UpsertEntityInfo"},
      "documentation":"<p>List of UpsertEntityInfo for upserting data in a DataAutomationLibraryIngestionJob</p>",
      "max":10,
      "min":1
    },
    "UpsertEntityInfo":{
      "type":"structure",
      "members":{
        "vocabulary":{"shape":"VocabularyEntityInfo"}
      },
      "documentation":"<p>Input configuration for upserting data in a DataAutomationLibraryIngestionJob</p>",
      "union":true
    },
    "ValidationException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"},
        "fieldList":{"shape":"ValidationExceptionFieldList"}
      },
      "documentation":"<p>This exception is thrown when the request's input validation fails</p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ValidationExceptionField":{
      "type":"structure",
      "required":[
        "name",
        "message"
      ],
      "members":{
        "name":{"shape":"NonBlankString"},
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>Stores information about a field passed inside a request that resulted in an exception</p>"
    },
    "ValidationExceptionFieldList":{
      "type":"list",
      "member":{"shape":"ValidationExceptionField"},
      "documentation":"<p>list of ValidationExceptionField</p>"
    },
    "VideoBoundingBox":{
      "type":"structure",
      "required":["state"],
      "members":{
        "state":{"shape":"State"}
      },
      "documentation":"<p>Bounding Box Configuration of Video Extraction</p>"
    },
    "VideoExtractionCategory":{
      "type":"structure",
      "required":["state"],
      "members":{
        "state":{"shape":"State"},
        "types":{"shape":"VideoExtractionCategoryTypes"}
      },
      "documentation":"<p>Category of Video Extraction</p>"
    },
    "VideoExtractionCategoryType":{
      "type":"string",
      "enum":[
        "CONTENT_MODERATION",
        "TEXT_DETECTION",
        "TRANSCRIPT",
        "LOGOS"
      ]
    },
    "VideoExtractionCategoryTypes":{
      "type":"list",
      "member":{"shape":"VideoExtractionCategoryType"},
      "documentation":"<p>List of Video Extraction Category Type</p>"
    },
    "VideoOverrideConfiguration":{
      "type":"structure",
      "members":{
        "modalityProcessing":{"shape":"ModalityProcessingConfiguration"},
        "sensitiveDataConfiguration":{"shape":"SensitiveDataConfiguration"}
      },
      "documentation":"<p>Override Configuration of Video</p>"
    },
    "VideoStandardExtraction":{
      "type":"structure",
      "required":[
        "category",
        "boundingBox"
      ],
      "members":{
        "category":{"shape":"VideoExtractionCategory"},
        "boundingBox":{"shape":"VideoBoundingBox"}
      },
      "documentation":"<p>Standard Extraction Configuration of Video</p>"
    },
    "VideoStandardGenerativeField":{
      "type":"structure",
      "required":["state"],
      "members":{
        "state":{"shape":"State"},
        "types":{"shape":"VideoStandardGenerativeFieldTypes"}
      },
      "documentation":"<p>Standard Generative Field Configuration of Video</p>"
    },
    "VideoStandardGenerativeFieldType":{
      "type":"string",
      "enum":[
        "VIDEO_SUMMARY",
        "IAB",
        "CHAPTER_SUMMARY"
      ]
    },
    "VideoStandardGenerativeFieldTypes":{
      "type":"list",
      "member":{"shape":"VideoStandardGenerativeFieldType"},
      "documentation":"<p>List of Video Standard Generative Field Type</p>"
    },
    "VideoStandardOutputConfiguration":{
      "type":"structure",
      "members":{
        "extraction":{"shape":"VideoStandardExtraction"},
        "generativeField":{"shape":"VideoStandardGenerativeField"}
      },
      "documentation":"<p>Standard Output Configuration of Video</p>"
    },
    "VocabularyEntity":{
      "type":"structure",
      "members":{
        "entityId":{"shape":"EntityId"},
        "description":{"shape":"EntityDescription"},
        "language":{"shape":"Language"},
        "phrases":{"shape":"PhraseList"},
        "lastModifiedTime":{"shape":"DateTimestamp"}
      },
      "documentation":"<p>Vocabulary entity with detailed information</p>"
    },
    "VocabularyEntityInfo":{
      "type":"structure",
      "required":[
        "language",
        "phrases"
      ],
      "members":{
        "entityId":{"shape":"EntityId"},
        "description":{"shape":"EntityDescription"},
        "language":{"shape":"Language"},
        "phrases":{"shape":"PhraseList"}
      },
      "documentation":"<p>Vocabulary entity info with detailed information</p>"
    },
    "VocabularyEntitySummary":{
      "type":"structure",
      "members":{
        "entityId":{"shape":"EntityId"},
        "description":{"shape":"EntityDescription"},
        "language":{"shape":"Language"},
        "numOfPhrases":{
          "shape":"VocabularyEntitySummaryNumOfPhrasesInteger",
          "documentation":"<p>num of phrases in the entity</p>"
        },
        "lastModifiedTime":{"shape":"DateTimestamp"}
      },
      "documentation":"<p>Summary of a Vocabulary entity</p>"
    },
    "VocabularyEntitySummaryNumOfPhrasesInteger":{
      "type":"integer",
      "box":true,
      "min":1
    }
  },
  "documentation":"<p>Amazon Bedrock Data Automation BuildTime</p>"
}
