{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2024-02-28",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"bedrock-agentcore",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Amazon Bedrock AgentCore",
    "serviceId":"Bedrock AgentCore",
    "signatureVersion":"v4",
    "signingName":"bedrock-agentcore",
    "uid":"bedrock-agentcore-2024-02-28"
  },
  "operations":{
    "BatchCreateMemoryRecords":{
      "name":"BatchCreateMemoryRecords",
      "http":{
        "method":"POST",
        "requestUri":"/memories/{memoryId}/memoryRecords/batchCreate",
        "responseCode":201
      },
      "input":{"shape":"BatchCreateMemoryRecordsInput"},
      "output":{"shape":"BatchCreateMemoryRecordsOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottledException"},
        {"shape":"ServiceException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates multiple memory records in a single batch operation for the specified memory with custom content.</p>",
      "idempotent":true
    },
    "BatchDeleteMemoryRecords":{
      "name":"BatchDeleteMemoryRecords",
      "http":{
        "method":"POST",
        "requestUri":"/memories/{memoryId}/memoryRecords/batchDelete",
        "responseCode":200
      },
      "input":{"shape":"BatchDeleteMemoryRecordsInput"},
      "output":{"shape":"BatchDeleteMemoryRecordsOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottledException"},
        {"shape":"ServiceException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes multiple memory records in a single batch operation from the specified memory.</p>"
    },
    "BatchUpdateMemoryRecords":{
      "name":"BatchUpdateMemoryRecords",
      "http":{
        "method":"POST",
        "requestUri":"/memories/{memoryId}/memoryRecords/batchUpdate",
        "responseCode":200
      },
      "input":{"shape":"BatchUpdateMemoryRecordsInput"},
      "output":{"shape":"BatchUpdateMemoryRecordsOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottledException"},
        {"shape":"ServiceException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates multiple memory records with custom content in a single batch operation within the specified memory.</p>"
    },
    "CompleteResourceTokenAuth":{
      "name":"CompleteResourceTokenAuth",
      "http":{
        "method":"POST",
        "requestUri":"/identities/CompleteResourceTokenAuth",
        "responseCode":200
      },
      "input":{"shape":"CompleteResourceTokenAuthRequest"},
      "output":{"shape":"CompleteResourceTokenAuthResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Confirms the user authentication session for obtaining OAuth2.0 tokens for a resource.</p>"
    },
    "CreateABTest":{
      "name":"CreateABTest",
      "http":{
        "method":"POST",
        "requestUri":"/ab-tests",
        "responseCode":202
      },
      "input":{"shape":"CreateABTestRequest"},
      "output":{"shape":"CreateABTestResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates an A/B test for comparing agent configurations. A/B tests split traffic between a control variant and a treatment variant through a gateway, then evaluate performance using online evaluation configurations to determine which variant performs better.</p>"
    },
    "CreateEvent":{
      "name":"CreateEvent",
      "http":{
        "method":"POST",
        "requestUri":"/memories/{memoryId}/events",
        "responseCode":201
      },
      "input":{"shape":"CreateEventInput"},
      "output":{"shape":"CreateEventOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottledException"},
        {"shape":"ServiceException"},
        {"shape":"RetryableConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates an event in an AgentCore Memory resource. Events represent interactions or activities that occur within a session and are associated with specific actors.</p> <p>To use this operation, you must have the <code>bedrock-agentcore:CreateEvent</code> permission.</p> <p>This operation is subject to request rate limiting.</p>",
      "idempotent":true
    },
    "CreatePaymentInstrument":{
      "name":"CreatePaymentInstrument",
      "http":{
        "method":"POST",
        "requestUri":"/payments/createPaymentInstrument",
        "responseCode":201
      },
      "input":{"shape":"CreatePaymentInstrumentRequest"},
      "output":{"shape":"CreatePaymentInstrumentResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Create a new payment instrument for a connector</p>",
      "idempotent":true
    },
    "CreatePaymentSession":{
      "name":"CreatePaymentSession",
      "http":{
        "method":"POST",
        "requestUri":"/payments/createPaymentSession",
        "responseCode":201
      },
      "input":{"shape":"CreatePaymentSessionRequest"},
      "output":{"shape":"CreatePaymentSessionResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Create a new payment manager session</p>",
      "idempotent":true
    },
    "DeleteABTest":{
      "name":"DeleteABTest",
      "http":{
        "method":"DELETE",
        "requestUri":"/ab-tests/{abTestId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteABTestRequest"},
      "output":{"shape":"DeleteABTestResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an A/B test and its associated gateway rules.</p>",
      "idempotent":true
    },
    "DeleteBatchEvaluation":{
      "name":"DeleteBatchEvaluation",
      "http":{
        "method":"DELETE",
        "requestUri":"/evaluations/batch-evaluate/{batchEvaluationId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteBatchEvaluationRequest"},
      "output":{"shape":"DeleteBatchEvaluationResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a batch evaluation and its associated results.</p>",
      "idempotent":true
    },
    "DeleteEvent":{
      "name":"DeleteEvent",
      "http":{
        "method":"DELETE",
        "requestUri":"/memories/{memoryId}/actor/{actorId}/sessions/{sessionId}/events/{eventId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteEventInput"},
      "output":{"shape":"DeleteEventOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottledException"},
        {"shape":"ServiceException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes an event from an AgentCore Memory resource. When you delete an event, it is permanently removed.</p> <p>To use this operation, you must have the <code>bedrock-agentcore:DeleteEvent</code> permission.</p>"
    },
    "DeleteMemoryRecord":{
      "name":"DeleteMemoryRecord",
      "http":{
        "method":"DELETE",
        "requestUri":"/memories/{memoryId}/memoryRecords/{memoryRecordId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteMemoryRecordInput"},
      "output":{"shape":"DeleteMemoryRecordOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottledException"},
        {"shape":"ServiceException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes a memory record from an AgentCore Memory resource. When you delete a memory record, it is permanently removed.</p> <p>To use this operation, you must have the <code>bedrock-agentcore:DeleteMemoryRecord</code> permission.</p>"
    },
    "DeletePaymentInstrument":{
      "name":"DeletePaymentInstrument",
      "http":{
        "method":"POST",
        "requestUri":"/payments/deletePaymentInstrument",
        "responseCode":200
      },
      "input":{"shape":"DeletePaymentInstrumentRequest"},
      "output":{"shape":"DeletePaymentInstrumentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Delete a payment instrument</p> <p>Marks a payment instrument as deleted by updating its status to DELETED. This is a soft delete operation that preserves the record in the database for audit and compliance purposes. The record remains queryable for audit purposes but is excluded from normal list and get operations.</p> <p>Deleting an already-deleted or non-existent instrument returns ResourceNotFoundException (404).</p> <p>Authorization: The caller must own the instrument (accountId, userId, and paymentManagerId must match). If authorization fails, a 403 Forbidden error is returned.</p> <p>Timestamp Management: The updatedAt timestamp is set to the current time, while createdAt is preserved. The version field is incremented for optimistic locking.</p> <p>Errors:</p> <ul> <li>ResourceNotFoundException: The instrument does not exist or is already deleted</li> <li>AccessDeniedException: The caller is not authorized to delete this instrument</li> <li>ValidationException: Required fields are missing or invalid</li> <li>InternalServerException: An unexpected server error occurred</li> </ul>",
      "idempotent":true
    },
    "DeletePaymentSession":{
      "name":"DeletePaymentSession",
      "http":{
        "method":"POST",
        "requestUri":"/payments/deletePaymentSession",
        "responseCode":200
      },
      "input":{"shape":"DeletePaymentSessionRequest"},
      "output":{"shape":"DeletePaymentSessionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Delete a payment manager session</p> <p>Permanently removes a payment session record from the database. This is a hard delete operation that removes the session completely.</p> <p>Deleting a non-existent or already-deleted session returns ResourceNotFoundException (404).</p> <p>Authorization: The caller must own the session (accountId, userId, and paymentManagerId must match). If authorization fails, a 403 Forbidden error is returned.</p> <p>Errors:</p> <ul> <li>ResourceNotFoundException: The session does not exist or has already been deleted</li> <li>AccessDeniedException: The caller is not authorized to delete this session</li> <li>ValidationException: Required fields are missing or invalid</li> <li>InternalServerException: An unexpected server error occurred</li> </ul>",
      "idempotent":true
    },
    "DeleteRecommendation":{
      "name":"DeleteRecommendation",
      "http":{
        "method":"DELETE",
        "requestUri":"/recommendations/{recommendationId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteRecommendationRequest"},
      "output":{"shape":"DeleteRecommendationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a recommendation and its associated results.</p>",
      "idempotent":true
    },
    "Evaluate":{
      "name":"Evaluate",
      "http":{
        "method":"POST",
        "requestUri":"/evaluations/evaluate/{evaluatorId}",
        "responseCode":200
      },
      "input":{"shape":"EvaluateRequest"},
      "output":{"shape":"EvaluateResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"DuplicateIdException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Performs on-demand evaluation of agent traces using a specified evaluator. This synchronous API accepts traces in OpenTelemetry format and returns immediate scoring results with detailed explanations.</p>"
    },
    "GetABTest":{
      "name":"GetABTest",
      "http":{
        "method":"GET",
        "requestUri":"/ab-tests/{abTestId}",
        "responseCode":200
      },
      "input":{"shape":"GetABTestRequest"},
      "output":{"shape":"GetABTestResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves detailed information about an A/B test, including its configuration, status, and statistical results.</p>",
      "readonly":true
    },
    "GetAgentCard":{
      "name":"GetAgentCard",
      "http":{
        "method":"GET",
        "requestUri":"/runtimes/{agentRuntimeArn}/invocations/.well-known/agent-card.json",
        "responseCode":200
      },
      "input":{"shape":"GetAgentCardRequest"},
      "output":{"shape":"GetAgentCardResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RuntimeClientError"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the A2A agent card associated with an AgentCore Runtime agent.</p>"
    },
    "GetBatchEvaluation":{
      "name":"GetBatchEvaluation",
      "http":{
        "method":"GET",
        "requestUri":"/evaluations/batch-evaluate/{batchEvaluationId}",
        "responseCode":200
      },
      "input":{"shape":"GetBatchEvaluationRequest"},
      "output":{"shape":"GetBatchEvaluationResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves detailed information about a batch evaluation, including its status, configuration, results, and any error details.</p>",
      "readonly":true
    },
    "GetBrowserSession":{
      "name":"GetBrowserSession",
      "http":{
        "method":"GET",
        "requestUri":"/browsers/{browserIdentifier}/sessions/get",
        "responseCode":200
      },
      "input":{"shape":"GetBrowserSessionRequest"},
      "output":{"shape":"GetBrowserSessionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves detailed information about a specific browser session in Amazon Bedrock AgentCore. This operation returns the session's configuration, current status, associated streams, and metadata.</p> <p>To get a browser session, you must specify both the browser identifier and the session ID. The response includes information about the session's viewport configuration, timeout settings, and stream endpoints.</p> <p>The following operations are related to <code>GetBrowserSession</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_StartBrowserSession.html\">StartBrowserSession</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_ListBrowserSessions.html\">ListBrowserSessions</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_StopBrowserSession.html\">StopBrowserSession</a> </p> </li> </ul>",
      "readonly":true
    },
    "GetCodeInterpreterSession":{
      "name":"GetCodeInterpreterSession",
      "http":{
        "method":"GET",
        "requestUri":"/code-interpreters/{codeInterpreterIdentifier}/sessions/get",
        "responseCode":200
      },
      "input":{"shape":"GetCodeInterpreterSessionRequest"},
      "output":{"shape":"GetCodeInterpreterSessionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves detailed information about a specific code interpreter session in Amazon Bedrock AgentCore. This operation returns the session's configuration, current status, and metadata.</p> <p>To get a code interpreter session, you must specify both the code interpreter identifier and the session ID. The response includes information about the session's timeout settings and current status.</p> <p>The following operations are related to <code>GetCodeInterpreterSession</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_StartCodeInterpreterSession.html\">StartCodeInterpreterSession</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_ListCodeInterpreterSessions.html\">ListCodeInterpreterSessions</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_StopCodeInterpreterSession.html\">StopCodeInterpreterSession</a> </p> </li> </ul>",
      "readonly":true
    },
    "GetEvent":{
      "name":"GetEvent",
      "http":{
        "method":"GET",
        "requestUri":"/memories/{memoryId}/actor/{actorId}/sessions/{sessionId}/events/{eventId}",
        "responseCode":200
      },
      "input":{"shape":"GetEventInput"},
      "output":{"shape":"GetEventOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottledException"},
        {"shape":"ServiceException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves information about a specific event in an AgentCore Memory resource.</p> <p>To use this operation, you must have the <code>bedrock-agentcore:GetEvent</code> permission.</p>",
      "readonly":true
    },
    "GetMemoryRecord":{
      "name":"GetMemoryRecord",
      "http":{
        "method":"GET",
        "requestUri":"/memories/{memoryId}/memoryRecord/{memoryRecordId}",
        "responseCode":200
      },
      "input":{"shape":"GetMemoryRecordInput"},
      "output":{"shape":"GetMemoryRecordOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottledException"},
        {"shape":"ServiceException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a specific memory record from an AgentCore Memory resource.</p> <p>To use this operation, you must have the <code>bedrock-agentcore:GetMemoryRecord</code> permission.</p>",
      "readonly":true
    },
    "GetPaymentInstrument":{
      "name":"GetPaymentInstrument",
      "http":{
        "method":"POST",
        "requestUri":"/payments/getPaymentInstrument",
        "responseCode":200
      },
      "input":{"shape":"GetPaymentInstrumentRequest"},
      "output":{"shape":"GetPaymentInstrumentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Get a payment instrument by ID</p>",
      "readonly":true
    },
    "GetPaymentInstrumentBalance":{
      "name":"GetPaymentInstrumentBalance",
      "http":{
        "method":"POST",
        "requestUri":"/payments/getPaymentInstrumentBalance",
        "responseCode":200
      },
      "input":{"shape":"GetPaymentInstrumentBalanceRequest"},
      "output":{"shape":"GetPaymentInstrumentBalanceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Get the balance of a payment instrument</p>",
      "readonly":true
    },
    "GetPaymentSession":{
      "name":"GetPaymentSession",
      "http":{
        "method":"POST",
        "requestUri":"/payments/getPaymentSession",
        "responseCode":200
      },
      "input":{"shape":"GetPaymentSessionRequest"},
      "output":{"shape":"GetPaymentSessionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Get a payment session</p>",
      "readonly":true
    },
    "GetRecommendation":{
      "name":"GetRecommendation",
      "http":{
        "method":"GET",
        "requestUri":"/recommendations/{recommendationId}",
        "responseCode":200
      },
      "input":{"shape":"GetRecommendationRequest"},
      "output":{"shape":"GetRecommendationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves detailed information about a recommendation, including its configuration, status, and results.</p>",
      "readonly":true
    },
    "GetResourceApiKey":{
      "name":"GetResourceApiKey",
      "http":{
        "method":"POST",
        "requestUri":"/identities/api-key",
        "responseCode":200
      },
      "input":{"shape":"GetResourceApiKeyRequest"},
      "output":{"shape":"GetResourceApiKeyResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the API key associated with an API key credential provider.</p>",
      "readonly":true
    },
    "GetResourceOauth2Token":{
      "name":"GetResourceOauth2Token",
      "http":{
        "method":"POST",
        "requestUri":"/identities/oauth2/token",
        "responseCode":200
      },
      "input":{"shape":"GetResourceOauth2TokenRequest"},
      "output":{"shape":"GetResourceOauth2TokenResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns the OAuth 2.0 token of the provided resource.</p>",
      "readonly":true
    },
    "GetResourcePaymentToken":{
      "name":"GetResourcePaymentToken",
      "http":{
        "method":"POST",
        "requestUri":"/identities/payment/token",
        "responseCode":200
      },
      "input":{"shape":"GetResourcePaymentTokenRequest"},
      "output":{"shape":"GetResourcePaymentTokenResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Generates authentication tokens for payment providers that use vendor-specific authentication mechanisms.</p>",
      "readonly":true
    },
    "GetWorkloadAccessToken":{
      "name":"GetWorkloadAccessToken",
      "http":{
        "method":"POST",
        "requestUri":"/identities/GetWorkloadAccessToken",
        "responseCode":200
      },
      "input":{"shape":"GetWorkloadAccessTokenRequest"},
      "output":{"shape":"GetWorkloadAccessTokenResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Obtains a workload access token for agentic workloads not acting on behalf of a user.</p>"
    },
    "GetWorkloadAccessTokenForJWT":{
      "name":"GetWorkloadAccessTokenForJWT",
      "http":{
        "method":"POST",
        "requestUri":"/identities/GetWorkloadAccessTokenForJWT",
        "responseCode":200
      },
      "input":{"shape":"GetWorkloadAccessTokenForJWTRequest"},
      "output":{"shape":"GetWorkloadAccessTokenForJWTResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Obtains a workload access token for agentic workloads acting on behalf of a user, using a JWT token.</p>"
    },
    "GetWorkloadAccessTokenForUserId":{
      "name":"GetWorkloadAccessTokenForUserId",
      "http":{
        "method":"POST",
        "requestUri":"/identities/GetWorkloadAccessTokenForUserId",
        "responseCode":200
      },
      "input":{"shape":"GetWorkloadAccessTokenForUserIdRequest"},
      "output":{"shape":"GetWorkloadAccessTokenForUserIdResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Obtains a workload access token for agentic workloads acting on behalf of a user, using the user's ID.</p>"
    },
    "InvokeAgentRuntime":{
      "name":"InvokeAgentRuntime",
      "http":{
        "method":"POST",
        "requestUri":"/runtimes/{agentRuntimeArn}/invocations",
        "responseCode":200
      },
      "input":{"shape":"InvokeAgentRuntimeRequest"},
      "output":{"shape":"InvokeAgentRuntimeResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RuntimeClientError"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Sends a request to an agent or tool hosted in an Amazon Bedrock AgentCore Runtime and receives responses in real-time. </p> <p>To invoke an agent, you can specify either the AgentCore Runtime ARN or the agent ID with an account ID, and provide a payload containing your request. When you use the agent ID instead of the full ARN, you don't need to URL-encode the identifier. You can optionally specify a qualifier to target a specific endpoint of the agent.</p> <p>This operation supports streaming responses, allowing you to receive partial responses as they become available. We recommend using pagination to ensure that the operation returns quickly and successfully when processing large responses.</p> <p>For example code, see <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/devguide/runtime-invoke-agent.html\">Invoke an AgentCore Runtime agent</a>. </p> <p>If you're integrating your agent with OAuth, you can't use the Amazon Web Services SDK to call <code>InvokeAgentRuntime</code>. Instead, make a HTTPS request to <code>InvokeAgentRuntime</code>. For an example, see <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/devguide/runtime-oauth.html\">Authenticate and authorize with Inbound Auth and Outbound Auth</a>.</p> <p>To use this operation, you must have the <code>bedrock-agentcore:InvokeAgentRuntime</code> permission. If you are making a call to <code>InvokeAgentRuntime</code> on behalf of a user ID with the <code>X-Amzn-Bedrock-AgentCore-Runtime-User-Id</code> header, You require permissions to both actions (<code>bedrock-agentcore:InvokeAgentRuntime</code> and <code>bedrock-agentcore:InvokeAgentRuntimeForUser</code>). </p>"
    },
    "InvokeAgentRuntimeCommand":{
      "name":"InvokeAgentRuntimeCommand",
      "http":{
        "method":"POST",
        "requestUri":"/runtimes/{agentRuntimeArn}/commands",
        "responseCode":200
      },
      "input":{"shape":"InvokeAgentRuntimeCommandRequest"},
      "output":{"shape":"InvokeAgentRuntimeCommandResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RuntimeClientError"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Executes a command in a runtime session container and streams the output back to the caller. This operation allows you to run shell commands within the agent runtime environment and receive real-time streaming responses including standard output and standard error.</p> <p>To invoke a command, you must specify the agent runtime ARN and a runtime session ID. The command execution supports streaming responses, allowing you to receive output as it becomes available through <code>contentStart</code>, <code>contentDelta</code>, and <code>contentStop</code> events.</p> <p>To use this operation, you must have the <code>bedrock-agentcore:InvokeAgentRuntimeCommand</code> permission.</p>"
    },
    "InvokeBrowser":{
      "name":"InvokeBrowser",
      "http":{
        "method":"POST",
        "requestUri":"/browsers/{browserIdentifier}/sessions/invoke",
        "responseCode":200
      },
      "input":{"shape":"InvokeBrowserRequest"},
      "output":{"shape":"InvokeBrowserResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Invokes an operating system-level action on a browser session in Amazon Bedrock AgentCore. This operation provides direct OS-level control over browser sessions, enabling mouse actions, keyboard input, and screenshots that the WebSocket-based Chrome DevTools Protocol (CDP) cannot handle — such as interacting with print dialogs, context menus, and JavaScript alerts.</p> <p>You send a request with exactly one action in the <code>BrowserAction</code> union, and receive a corresponding result in the <code>BrowserActionResult</code> union.</p> <p>The following operations are related to <code>InvokeBrowser</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_StartBrowserSession.html\">StartBrowserSession</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_GetBrowserSession.html\">GetBrowserSession</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_StopBrowserSession.html\">StopBrowserSession</a> </p> </li> </ul>"
    },
    "InvokeCodeInterpreter":{
      "name":"InvokeCodeInterpreter",
      "http":{
        "method":"POST",
        "requestUri":"/code-interpreters/{codeInterpreterIdentifier}/tools/invoke",
        "responseCode":200
      },
      "input":{"shape":"InvokeCodeInterpreterRequest"},
      "output":{"shape":"InvokeCodeInterpreterResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Executes code within an active code interpreter session in Amazon Bedrock AgentCore. This operation processes the provided code, runs it in a secure environment, and returns the execution results including output, errors, and generated visualizations.</p> <p>To execute code, you must specify the code interpreter identifier, session ID, and the code to run in the arguments parameter. The operation returns a stream containing the execution results, which can include text output, error messages, and data visualizations.</p> <p>This operation is subject to request rate limiting based on your account's service quotas.</p> <p>The following operations are related to <code>InvokeCodeInterpreter</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_StartCodeInterpreterSession.html\">StartCodeInterpreterSession</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_GetCodeInterpreterSession.html\">GetCodeInterpreterSession</a> </p> </li> </ul>"
    },
    "InvokeHarness":{
      "name":"InvokeHarness",
      "http":{
        "method":"POST",
        "requestUri":"/harnesses/invoke",
        "responseCode":200
      },
      "input":{"shape":"InvokeHarnessRequest"},
      "output":{"shape":"InvokeHarnessResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Operation to invoke a Harness.</p>"
    },
    "ListABTests":{
      "name":"ListABTests",
      "http":{
        "method":"GET",
        "requestUri":"/ab-tests",
        "responseCode":200
      },
      "input":{"shape":"ListABTestsRequest"},
      "output":{"shape":"ListABTestsResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all A/B tests in the account.</p>",
      "readonly":true
    },
    "ListActors":{
      "name":"ListActors",
      "http":{
        "method":"POST",
        "requestUri":"/memories/{memoryId}/actors",
        "responseCode":200
      },
      "input":{"shape":"ListActorsInput"},
      "output":{"shape":"ListActorsOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottledException"},
        {"shape":"ServiceException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists all actors in an AgentCore Memory resource. We recommend using pagination to ensure that the operation returns quickly and successfully.</p> <p>To use this operation, you must have the <code>bedrock-agentcore:ListActors</code> permission.</p>",
      "readonly":true
    },
    "ListBatchEvaluations":{
      "name":"ListBatchEvaluations",
      "http":{
        "method":"GET",
        "requestUri":"/evaluations/batch-evaluate",
        "responseCode":200
      },
      "input":{"shape":"ListBatchEvaluationsRequest"},
      "output":{"shape":"ListBatchEvaluationsResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all batch evaluations in the account, providing summary information about each evaluation's status and configuration.</p>",
      "readonly":true
    },
    "ListBrowserSessions":{
      "name":"ListBrowserSessions",
      "http":{
        "method":"POST",
        "requestUri":"/browsers/{browserIdentifier}/sessions/list",
        "responseCode":200
      },
      "input":{"shape":"ListBrowserSessionsRequest"},
      "output":{"shape":"ListBrowserSessionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves a list of browser sessions in Amazon Bedrock AgentCore that match the specified criteria. This operation returns summary information about each session, including identifiers, status, and timestamps.</p> <p>You can filter the results by browser identifier and session status. The operation supports pagination to handle large result sets efficiently.</p> <p>We recommend using pagination to ensure that the operation returns quickly and successfully when retrieving large numbers of sessions.</p> <p>The following operations are related to <code>ListBrowserSessions</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_StartBrowserSession.html\">StartBrowserSession</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_GetBrowserSession.html\">GetBrowserSession</a> </p> </li> </ul>",
      "readonly":true
    },
    "ListCodeInterpreterSessions":{
      "name":"ListCodeInterpreterSessions",
      "http":{
        "method":"POST",
        "requestUri":"/code-interpreters/{codeInterpreterIdentifier}/sessions/list",
        "responseCode":200
      },
      "input":{"shape":"ListCodeInterpreterSessionsRequest"},
      "output":{"shape":"ListCodeInterpreterSessionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves a list of code interpreter sessions in Amazon Bedrock AgentCore that match the specified criteria. This operation returns summary information about each session, including identifiers, status, and timestamps.</p> <p>You can filter the results by code interpreter identifier and session status. The operation supports pagination to handle large result sets efficiently.</p> <p>We recommend using pagination to ensure that the operation returns quickly and successfully when retrieving large numbers of sessions.</p> <p>The following operations are related to <code>ListCodeInterpreterSessions</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_StartCodeInterpreterSession.html\">StartCodeInterpreterSession</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_GetCodeInterpreterSession.html\">GetCodeInterpreterSession</a> </p> </li> </ul>",
      "readonly":true
    },
    "ListEvents":{
      "name":"ListEvents",
      "http":{
        "method":"POST",
        "requestUri":"/memories/{memoryId}/actor/{actorId}/sessions/{sessionId}",
        "responseCode":200
      },
      "input":{"shape":"ListEventsInput"},
      "output":{"shape":"ListEventsOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottledException"},
        {"shape":"ServiceException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists events in an AgentCore Memory resource based on specified criteria. We recommend using pagination to ensure that the operation returns quickly and successfully.</p> <p>To use this operation, you must have the <code>bedrock-agentcore:ListEvents</code> permission.</p>",
      "readonly":true
    },
    "ListMemoryExtractionJobs":{
      "name":"ListMemoryExtractionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/memories/{memoryId}/extractionJobs",
        "responseCode":200
      },
      "input":{"shape":"ListMemoryExtractionJobsInput"},
      "output":{"shape":"ListMemoryExtractionJobsOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottledException"},
        {"shape":"ServiceException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists all long-term memory extraction jobs that are eligible to be started with optional filtering.</p> <p>To use this operation, you must have the <code>bedrock-agentcore:ListMemoryExtractionJobs</code> permission.</p>"
    },
    "ListMemoryRecords":{
      "name":"ListMemoryRecords",
      "http":{
        "method":"POST",
        "requestUri":"/memories/{memoryId}/memoryRecords",
        "responseCode":200
      },
      "input":{"shape":"ListMemoryRecordsInput"},
      "output":{"shape":"ListMemoryRecordsOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottledException"},
        {"shape":"ServiceException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists memory records in an AgentCore Memory resource based on specified criteria. We recommend using pagination to ensure that the operation returns quickly and successfully.</p> <p>To use this operation, you must have the <code>bedrock-agentcore:ListMemoryRecords</code> permission.</p>",
      "readonly":true
    },
    "ListPaymentInstruments":{
      "name":"ListPaymentInstruments",
      "http":{
        "method":"POST",
        "requestUri":"/payments/listPaymentInstruments",
        "responseCode":200
      },
      "input":{"shape":"ListPaymentInstrumentsRequest"},
      "output":{"shape":"ListPaymentInstrumentsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>List payment instruments for a manager</p>",
      "readonly":true
    },
    "ListPaymentSessions":{
      "name":"ListPaymentSessions",
      "http":{
        "method":"POST",
        "requestUri":"/payments/listPaymentSessions",
        "responseCode":200
      },
      "input":{"shape":"ListPaymentSessionsRequest"},
      "output":{"shape":"ListPaymentSessionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>List payment manager sessions</p>",
      "readonly":true
    },
    "ListRecommendations":{
      "name":"ListRecommendations",
      "http":{
        "method":"GET",
        "requestUri":"/recommendations",
        "responseCode":200
      },
      "input":{"shape":"ListRecommendationsRequest"},
      "output":{"shape":"ListRecommendationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all recommendations in the account, with optional filtering by status.</p>",
      "readonly":true
    },
    "ListSessions":{
      "name":"ListSessions",
      "http":{
        "method":"POST",
        "requestUri":"/memories/{memoryId}/actor/{actorId}/sessions",
        "responseCode":200
      },
      "input":{"shape":"ListSessionsInput"},
      "output":{"shape":"ListSessionsOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottledException"},
        {"shape":"ServiceException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists sessions in an AgentCore Memory resource based on specified criteria. We recommend using pagination to ensure that the operation returns quickly and successfully.</p> <p>Empty sessions are automatically deleted after one day.</p> <p>To use this operation, you must have the <code>bedrock-agentcore:ListSessions</code> permission.</p>",
      "readonly":true
    },
    "ProcessPayment":{
      "name":"ProcessPayment",
      "http":{
        "method":"POST",
        "requestUri":"/payments/processPayment",
        "responseCode":200
      },
      "input":{"shape":"ProcessPaymentRequest"},
      "output":{"shape":"ProcessPaymentResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Process a payment transaction</p>",
      "idempotent":true
    },
    "RetrieveMemoryRecords":{
      "name":"RetrieveMemoryRecords",
      "http":{
        "method":"POST",
        "requestUri":"/memories/{memoryId}/retrieve",
        "responseCode":200
      },
      "input":{"shape":"RetrieveMemoryRecordsInput"},
      "output":{"shape":"RetrieveMemoryRecordsOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottledException"},
        {"shape":"ServiceException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Searches for and retrieves memory records from an AgentCore Memory resource based on specified search criteria. We recommend using pagination to ensure that the operation returns quickly and successfully.</p> <p>To use this operation, you must have the <code>bedrock-agentcore:RetrieveMemoryRecords</code> permission.</p>"
    },
    "SaveBrowserSessionProfile":{
      "name":"SaveBrowserSessionProfile",
      "http":{
        "method":"PUT",
        "requestUri":"/browser-profiles/{profileIdentifier}/save",
        "responseCode":200
      },
      "input":{"shape":"SaveBrowserSessionProfileRequest"},
      "output":{"shape":"SaveBrowserSessionProfileResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Saves the current state of a browser session as a reusable profile in Amazon Bedrock AgentCore. A browser profile captures persistent browser data such as cookies and local storage from an active session, enabling you to reuse this data in future browser sessions.</p> <p>To save a browser session profile, you must specify the profile identifier, browser identifier, and session ID. The session must be active when saving the profile. Once saved, the profile can be used with the <code>StartBrowserSession</code> operation to initialize new sessions with the stored browser state.</p> <p>Browser profiles are useful for scenarios that require persistent authentication, maintaining user preferences across sessions, or continuing tasks that depend on previously stored browser data.</p> <p>The following operations are related to <code>SaveBrowserSessionProfile</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_StartBrowserSession.html\">StartBrowserSession</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_GetBrowserSession.html\">GetBrowserSession</a> </p> </li> </ul>",
      "idempotent":true
    },
    "SearchRegistryRecords":{
      "name":"SearchRegistryRecords",
      "http":{
        "method":"POST",
        "requestUri":"/registry-records/search",
        "responseCode":200
      },
      "input":{"shape":"SearchRegistryRecordsRequest"},
      "output":{"shape":"SearchRegistryRecordsResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Searches for registry records using semantic, lexical, or hybrid queries. Returns metadata for matching records ordered by relevance within the specified registry.</p>"
    },
    "StartBatchEvaluation":{
      "name":"StartBatchEvaluation",
      "http":{
        "method":"POST",
        "requestUri":"/evaluations/batch-evaluate",
        "responseCode":202
      },
      "input":{"shape":"StartBatchEvaluationRequest"},
      "output":{"shape":"StartBatchEvaluationResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts a batch evaluation job that evaluates agent performance across multiple sessions. Batch evaluations pull agent traces from CloudWatch Logs or an existing online evaluation configuration and run specified evaluators and insights against them.</p>",
      "idempotent":true
    },
    "StartBrowserSession":{
      "name":"StartBrowserSession",
      "http":{
        "method":"PUT",
        "requestUri":"/browsers/{browserIdentifier}/sessions/start",
        "responseCode":200
      },
      "input":{"shape":"StartBrowserSessionRequest"},
      "output":{"shape":"StartBrowserSessionResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates and initializes a browser session in Amazon Bedrock AgentCore. The session enables agents to navigate and interact with web content, extract information from websites, and perform web-based tasks as part of their response generation.</p> <p>To create a session, you must specify a browser identifier and a name. You can also configure the viewport dimensions to control the visible area of web content. The session remains active until it times out or you explicitly stop it using the <code>StopBrowserSession</code> operation.</p> <p>The following operations are related to <code>StartBrowserSession</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_GetBrowserSession.html\">GetBrowserSession</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_UpdateBrowserStream.html\">UpdateBrowserStream</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_SaveBrowserSessionProfile.html\">SaveBrowserSessionProfile</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_StopBrowserSession.html\">StopBrowserSession</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_InvokeBrowser.html\">InvokeBrowser</a> </p> </li> </ul>",
      "idempotent":true
    },
    "StartCodeInterpreterSession":{
      "name":"StartCodeInterpreterSession",
      "http":{
        "method":"PUT",
        "requestUri":"/code-interpreters/{codeInterpreterIdentifier}/sessions/start",
        "responseCode":200
      },
      "input":{"shape":"StartCodeInterpreterSessionRequest"},
      "output":{"shape":"StartCodeInterpreterSessionResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates and initializes a code interpreter session in Amazon Bedrock AgentCore. The session enables agents to execute code as part of their response generation, supporting programming languages such as Python for data analysis, visualization, and computation tasks.</p> <p>To create a session, you must specify a code interpreter identifier and a name. The session remains active until it times out or you explicitly stop it using the <code>StopCodeInterpreterSession</code> operation.</p> <p>The following operations are related to <code>StartCodeInterpreterSession</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_InvokeCodeInterpreter.html\">InvokeCodeInterpreter</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_GetCodeInterpreterSession.html\">GetCodeInterpreterSession</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_StopCodeInterpreterSession.html\">StopCodeInterpreterSession</a> </p> </li> </ul>",
      "idempotent":true
    },
    "StartMemoryExtractionJob":{
      "name":"StartMemoryExtractionJob",
      "http":{
        "method":"POST",
        "requestUri":"/memories/{memoryId}/extractionJobs/start",
        "responseCode":200
      },
      "input":{"shape":"StartMemoryExtractionJobInput"},
      "output":{"shape":"StartMemoryExtractionJobOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottledException"},
        {"shape":"ServiceException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Starts a memory extraction job that processes events that failed extraction previously in an AgentCore Memory resource and produces structured memory records. When earlier extraction attempts have left events unprocessed, this job will pick up and extract those as well. </p> <p>To use this operation, you must have the <code>bedrock-agentcore:StartMemoryExtractionJob</code> permission.</p>",
      "idempotent":true
    },
    "StartRecommendation":{
      "name":"StartRecommendation",
      "http":{
        "method":"POST",
        "requestUri":"/recommendations",
        "responseCode":202
      },
      "input":{"shape":"StartRecommendationRequest"},
      "output":{"shape":"StartRecommendationResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts a recommendation job that analyzes agent traces and generates optimization suggestions for system prompts or tool descriptions to improve agent performance.</p>"
    },
    "StopBatchEvaluation":{
      "name":"StopBatchEvaluation",
      "http":{
        "method":"POST",
        "requestUri":"/evaluations/batch-evaluate/{batchEvaluationId}/stop",
        "responseCode":202
      },
      "input":{"shape":"StopBatchEvaluationRequest"},
      "output":{"shape":"StopBatchEvaluationResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops a running batch evaluation. Sessions that have already been evaluated retain their results.</p>"
    },
    "StopBrowserSession":{
      "name":"StopBrowserSession",
      "http":{
        "method":"PUT",
        "requestUri":"/browsers/{browserIdentifier}/sessions/stop",
        "responseCode":200
      },
      "input":{"shape":"StopBrowserSessionRequest"},
      "output":{"shape":"StopBrowserSessionResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Terminates an active browser session in Amazon Bedrock AgentCore. This operation stops the session, releases associated resources, and makes the session unavailable for further use.</p> <p>To stop a browser session, you must specify both the browser identifier and the session ID. Once stopped, a session cannot be restarted; you must create a new session using <code>StartBrowserSession</code>.</p> <p>The following operations are related to <code>StopBrowserSession</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_StartBrowserSession.html\">StartBrowserSession</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_GetBrowserSession.html\">GetBrowserSession</a> </p> </li> </ul>",
      "idempotent":true
    },
    "StopCodeInterpreterSession":{
      "name":"StopCodeInterpreterSession",
      "http":{
        "method":"PUT",
        "requestUri":"/code-interpreters/{codeInterpreterIdentifier}/sessions/stop",
        "responseCode":200
      },
      "input":{"shape":"StopCodeInterpreterSessionRequest"},
      "output":{"shape":"StopCodeInterpreterSessionResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Terminates an active code interpreter session in Amazon Bedrock AgentCore. This operation stops the session, releases associated resources, and makes the session unavailable for further use.</p> <p>To stop a code interpreter session, you must specify both the code interpreter identifier and the session ID. Once stopped, a session cannot be restarted; you must create a new session using <code>StartCodeInterpreterSession</code>.</p> <p>The following operations are related to <code>StopCodeInterpreterSession</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_StartCodeInterpreterSession.html\">StartCodeInterpreterSession</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock-agentcore/latest/APIReference/API_GetCodeInterpreterSession.html\">GetCodeInterpreterSession</a> </p> </li> </ul>",
      "idempotent":true
    },
    "StopRuntimeSession":{
      "name":"StopRuntimeSession",
      "http":{
        "method":"POST",
        "requestUri":"/runtimes/{agentRuntimeArn}/stopruntimesession",
        "responseCode":200
      },
      "input":{"shape":"StopRuntimeSessionRequest"},
      "output":{"shape":"StopRuntimeSessionResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"RuntimeClientError"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops a session that is running in an running AgentCore Runtime agent.</p>",
      "idempotent":true
    },
    "UpdateABTest":{
      "name":"UpdateABTest",
      "http":{
        "method":"PUT",
        "requestUri":"/ab-tests/{abTestId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateABTestRequest"},
      "output":{"shape":"UpdateABTestResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates an A/B test's configuration, including variants, traffic allocation, evaluation settings, or execution status.</p>",
      "idempotent":true
    },
    "UpdateBrowserStream":{
      "name":"UpdateBrowserStream",
      "http":{
        "method":"PUT",
        "requestUri":"/browsers/{browserIdentifier}/sessions/streams/update",
        "responseCode":200
      },
      "input":{"shape":"UpdateBrowserStreamRequest"},
      "output":{"shape":"UpdateBrowserStreamResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates a browser stream. To use this operation, you must have permissions to perform the bedrock:UpdateBrowserStream action.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "A2aDescriptor":{
      "type":"structure",
      "required":["agentCard"],
      "members":{
        "agentCard":{
          "shape":"AgentCardDefinition",
          "documentation":"<p> The agent card definition that describes the agent's capabilities and interface.</p>"
        }
      },
      "documentation":"<p> The A2A (Agent-to-Agent) descriptor configuration for a registry record.</p>"
    },
    "ABTestArn":{
      "type":"string",
      "pattern":"arn:aws[a-zA-Z-]*:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:ab-test/[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "ABTestDescription":{
      "type":"string",
      "max":200,
      "min":1
    },
    "ABTestEvaluationConfig":{
      "type":"structure",
      "members":{
        "onlineEvaluationConfigArn":{
          "shape":"OnlineEvaluationConfigArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of a single online evaluation configuration to use for both variants.</p>"
        },
        "perVariantOnlineEvaluationConfig":{
          "shape":"PerVariantOnlineEvaluationConfigList",
          "documentation":"<p>Per-variant online evaluation configurations, allowing different evaluation settings for each variant.</p>"
        }
      },
      "documentation":"<p>The evaluation configuration for an A/B test, specifying which online evaluation configurations to use for measuring variant performance.</p>",
      "union":true
    },
    "ABTestExecutionStatus":{
      "type":"string",
      "enum":[
        "PAUSED",
        "RUNNING",
        "STOPPED",
        "NOT_STARTED"
      ]
    },
    "ABTestId":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "ABTestName":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9_]{0,47}"
    },
    "ABTestResults":{
      "type":"structure",
      "required":["evaluatorMetrics"],
      "members":{
        "analysisTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the analysis was performed.</p>"
        },
        "evaluatorMetrics":{
          "shape":"EvaluatorMetricList",
          "documentation":"<p>The per-evaluator metrics comparing control and treatment variants.</p>"
        }
      },
      "documentation":"<p>The statistical results of an A/B test.</p>"
    },
    "ABTestStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "ACTIVE",
        "CREATE_FAILED",
        "UPDATING",
        "UPDATE_FAILED",
        "DELETING",
        "DELETE_FAILED",
        "FAILED"
      ]
    },
    "ABTestSummary":{
      "type":"structure",
      "required":[
        "abTestId",
        "abTestArn",
        "name",
        "status",
        "executionStatus",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "abTestId":{
          "shape":"ABTestId",
          "documentation":"<p>The unique identifier of the A/B test.</p>"
        },
        "abTestArn":{
          "shape":"ABTestArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the A/B test.</p>"
        },
        "name":{
          "shape":"ABTestName",
          "documentation":"<p>The name of the A/B test.</p>"
        },
        "status":{
          "shape":"ABTestStatus",
          "documentation":"<p>The current status of the A/B test.</p>"
        },
        "executionStatus":{
          "shape":"ABTestExecutionStatus",
          "documentation":"<p>The execution status of the A/B test.</p>"
        },
        "description":{
          "shape":"ABTestDescription",
          "documentation":"<p>The description of the A/B test.</p>"
        },
        "gatewayArn":{
          "shape":"GatewayArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the gateway used for traffic splitting.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the A/B test was created.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the A/B test was last updated.</p>"
        }
      },
      "documentation":"<p>Summary information about an A/B test.</p>"
    },
    "ABTestSummaryList":{
      "type":"list",
      "member":{"shape":"ABTestSummary"}
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>The exception that occurs when you do not have sufficient permissions to perform an action. Verify that your IAM policy includes the necessary permissions for the operation you are trying to perform.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccessTokenType":{
      "type":"string",
      "max":131072,
      "min":1,
      "sensitive":true
    },
    "ActorId":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[a-zA-Z0-9][a-zA-Z0-9-_/]*(?::[a-zA-Z0-9-_/]+)*[a-zA-Z0-9-_/]*"
    },
    "ActorSummary":{
      "type":"structure",
      "required":["actorId"],
      "members":{
        "actorId":{
          "shape":"ActorId",
          "documentation":"<p>The unique identifier of the actor.</p>"
        }
      },
      "documentation":"<p>Contains summary information about an actor in an AgentCore Memory resource.</p>"
    },
    "ActorSummaryList":{
      "type":"list",
      "member":{"shape":"ActorSummary"}
    },
    "AgentCard":{
      "type":"structure",
      "members":{},
      "document":true
    },
    "AgentCardDefinition":{
      "type":"structure",
      "members":{
        "schemaVersion":{
          "shape":"SchemaVersion",
          "documentation":"<p> The schema version of the agent card definition.</p>"
        },
        "inlineContent":{
          "shape":"InlineContent",
          "documentation":"<p> The inline content of the agent card definition.</p>"
        }
      },
      "documentation":"<p> The agent card definition for A2A descriptors, including the schema version and inline content that describes the agent's capabilities.</p>"
    },
    "AgentSkillsDescriptor":{
      "type":"structure",
      "required":["skillMd"],
      "members":{
        "skillMd":{
          "shape":"SkillMdDefinition",
          "documentation":"<p> The skill description in markdown format.</p>"
        },
        "skillDefinition":{
          "shape":"SkillDefinition",
          "documentation":"<p> The structured skill definition with a schema version and content.</p>"
        }
      },
      "documentation":"<p> The agent skills descriptor configuration for a registry record.</p>"
    },
    "AgentTracesConfig":{
      "type":"structure",
      "members":{
        "sessionSpans":{
          "shape":"Spans",
          "documentation":"<p>Agent traces provided as inline session spans in OpenTelemetry format.</p>"
        },
        "cloudwatchLogs":{
          "shape":"CloudWatchLogsTraceConfig",
          "documentation":"<p>Agent traces read from CloudWatch Logs.</p>"
        }
      },
      "documentation":"<p>The configuration specifying where to read agent traces from for recommendation analysis.</p>",
      "union":true
    },
    "Amount":{
      "type":"structure",
      "required":[
        "value",
        "currency"
      ],
      "members":{
        "value":{
          "shape":"String",
          "documentation":"<p>The numeric value of the amount.</p>"
        },
        "currency":{
          "shape":"Currency",
          "documentation":"<p>The currency code for this amount.</p>"
        }
      },
      "documentation":"<p>Money amount with currency</p>"
    },
    "ApiKeyArn":{
      "type":"string",
      "pattern":"arn:aws:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:token-vault/[a-zA-Z0-9-.]+/apikeycredentialprovider/[a-zA-Z0-9-.]+"
    },
    "ApiKeyType":{
      "type":"string",
      "max":65536,
      "min":1,
      "sensitive":true
    },
    "AudienceType":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "AudiencesListType":{
      "type":"list",
      "member":{"shape":"AudienceType"}
    },
    "AuthorizationUrlType":{
      "type":"string",
      "min":1,
      "sensitive":true
    },
    "AutomationStream":{
      "type":"structure",
      "required":[
        "streamEndpoint",
        "streamStatus"
      ],
      "members":{
        "streamEndpoint":{
          "shape":"BrowserStreamEndpoint",
          "documentation":"<p>The endpoint URL for the automation stream. This URL is used to establish a WebSocket connection to the stream for sending commands and receiving responses.</p>"
        },
        "streamStatus":{
          "shape":"AutomationStreamStatus",
          "documentation":"<p>The current status of the automation stream. This indicates whether the stream is available for use. Possible values include ACTIVE, CONNECTING, and DISCONNECTED.</p>"
        }
      },
      "documentation":"<p>The configuration for a stream that enables programmatic control of a browser session in Amazon Bedrock AgentCore. This stream provides a bidirectional communication channel for sending commands to the browser and receiving responses, allowing agents to automate web interactions such as navigation, form filling, and element clicking.</p>"
    },
    "AutomationStreamStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "AutomationStreamUpdate":{
      "type":"structure",
      "members":{
        "streamStatus":{
          "shape":"AutomationStreamStatus",
          "documentation":"<p>The status of the automation stream.</p>"
        }
      },
      "documentation":"<p>Contains information about an update to an automation stream.</p>"
    },
    "AvailableLimits":{
      "type":"structure",
      "members":{
        "availableSpendAmount":{
          "shape":"Amount",
          "documentation":"<p>The available spend amount for this session.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The timestamp when the available limits were last updated.</p>"
        }
      },
      "documentation":"<p>Available session limits. Currently only budget is supported.</p>"
    },
    "BasicAuth":{
      "type":"structure",
      "required":["secretArn"],
      "members":{
        "secretArn":{
          "shape":"SecretArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon Web Services Secrets Manager secret containing proxy credentials. The secret must be a JSON object with <code>username</code> and <code>password</code> string fields that meet validation requirements. The caller must have <code>secretsmanager:GetSecretValue</code> permission for this ARN. Example secret format: <code>{\"username\": \"proxy_user\", \"password\": \"secure_password\"}</code> </p>"
        }
      },
      "documentation":"<p>Configuration for HTTP Basic Authentication using credentials stored in Amazon Web Services Secrets Manager. The secret must contain a JSON object with <code>username</code> and <code>password</code> string fields. Username allows alphanumeric characters and <code>@._+=-</code> symbols (pattern: <code>^[a-zA-Z0-9@._+=\\-]+$</code>). Password allows alphanumeric characters and <code>@._+=-!#$%&amp;*</code> symbols (pattern: <code>^[a-zA-Z0-9@._+=\\-!#$%&amp;*]+$</code>). Both fields have a maximum length of 256 characters.</p>"
    },
    "BatchCreateMemoryRecordsInput":{
      "type":"structure",
      "required":[
        "memoryId",
        "records"
      ],
      "members":{
        "memoryId":{
          "shape":"MemoryId",
          "documentation":"<p>The unique ID of the memory resource where records will be created.</p>",
          "location":"uri",
          "locationName":"memoryId"
        },
        "records":{
          "shape":"MemoryRecordsCreateInputList",
          "documentation":"<p>A list of memory record creation inputs to be processed in the batch operation.</p>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>A unique, case-sensitive identifier to ensure idempotent processing of the batch request.</p>",
          "idempotencyToken":true
        }
      }
    },
    "BatchCreateMemoryRecordsOutput":{
      "type":"structure",
      "required":[
        "successfulRecords",
        "failedRecords"
      ],
      "members":{
        "successfulRecords":{
          "shape":"MemoryRecordsOutputList",
          "documentation":"<p>A list of memory records that were successfully created during the batch operation.</p>"
        },
        "failedRecords":{
          "shape":"MemoryRecordsOutputList",
          "documentation":"<p>A list of memory records that failed to be created, including error details for each failure.</p>"
        }
      }
    },
    "BatchDeleteMemoryRecordsInput":{
      "type":"structure",
      "required":[
        "memoryId",
        "records"
      ],
      "members":{
        "memoryId":{
          "shape":"MemoryId",
          "documentation":"<p>The unique ID of the memory resource where records will be deleted.</p>",
          "location":"uri",
          "locationName":"memoryId"
        },
        "records":{
          "shape":"MemoryRecordsDeleteInputList",
          "documentation":"<p>A list of memory record deletion inputs to be processed in the batch operation.</p>"
        }
      }
    },
    "BatchDeleteMemoryRecordsOutput":{
      "type":"structure",
      "required":[
        "successfulRecords",
        "failedRecords"
      ],
      "members":{
        "successfulRecords":{
          "shape":"MemoryRecordsOutputList",
          "documentation":"<p>A list of memory records that were successfully deleted during the batch operation.</p>"
        },
        "failedRecords":{
          "shape":"MemoryRecordsOutputList",
          "documentation":"<p>A list of memory records that failed to be deleted, including error details for each failure.</p>"
        }
      }
    },
    "BatchEvaluationArn":{
      "type":"string",
      "documentation":"<p>ARN for a batch evaluation</p>"
    },
    "BatchEvaluationDescription":{
      "type":"string",
      "max":200,
      "min":0
    },
    "BatchEvaluationId":{
      "type":"string",
      "documentation":"<p>Unique identifier for a batch evaluation (name-prefixed format)</p>",
      "pattern":"[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "BatchEvaluationName":{
      "type":"string",
      "documentation":"<p>Human-readable name for a batch evaluation</p>",
      "pattern":"[a-zA-Z][a-zA-Z0-9_]{0,47}"
    },
    "BatchEvaluationStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "IN_PROGRESS",
        "COMPLETED",
        "COMPLETED_WITH_ERRORS",
        "FAILED",
        "STOPPING",
        "STOPPED",
        "DELETING"
      ]
    },
    "BatchEvaluationSummary":{
      "type":"structure",
      "required":[
        "batchEvaluationId",
        "batchEvaluationArn",
        "batchEvaluationName",
        "status",
        "createdAt"
      ],
      "members":{
        "batchEvaluationId":{
          "shape":"BatchEvaluationId",
          "documentation":"<p>The unique identifier of the batch evaluation.</p>"
        },
        "batchEvaluationArn":{
          "shape":"BatchEvaluationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the batch evaluation.</p>"
        },
        "batchEvaluationName":{
          "shape":"BatchEvaluationName",
          "documentation":"<p>The name of the batch evaluation.</p>"
        },
        "status":{
          "shape":"BatchEvaluationStatus",
          "documentation":"<p>The current status of the batch evaluation.</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the batch evaluation was created.</p>"
        },
        "description":{
          "shape":"BatchEvaluationDescription",
          "documentation":"<p>The description of the batch evaluation.</p>"
        },
        "evaluators":{
          "shape":"EvaluatorList",
          "documentation":"<p>The list of evaluators applied during the batch evaluation.</p>"
        },
        "evaluationResults":{
          "shape":"EvaluationJobResults",
          "documentation":"<p>The aggregated evaluation results.</p>"
        },
        "errorDetails":{
          "shape":"ErrorDetailsList",
          "documentation":"<p>The error details if the batch evaluation encountered failures.</p>"
        },
        "updatedAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the batch evaluation was last updated.</p>"
        }
      },
      "documentation":"<p>Summary representation for list responses</p>"
    },
    "BatchEvaluationSummaryList":{
      "type":"list",
      "member":{"shape":"BatchEvaluationSummary"}
    },
    "BatchUpdateMemoryRecordsInput":{
      "type":"structure",
      "required":[
        "memoryId",
        "records"
      ],
      "members":{
        "memoryId":{
          "shape":"MemoryId",
          "documentation":"<p>The unique ID of the memory resource where records will be updated.</p>",
          "location":"uri",
          "locationName":"memoryId"
        },
        "records":{
          "shape":"MemoryRecordsUpdateInputList",
          "documentation":"<p>A list of memory record update inputs to be processed in the batch operation.</p>"
        }
      }
    },
    "BatchUpdateMemoryRecordsOutput":{
      "type":"structure",
      "required":[
        "successfulRecords",
        "failedRecords"
      ],
      "members":{
        "successfulRecords":{
          "shape":"MemoryRecordsOutputList",
          "documentation":"<p>A list of memory records that were successfully updated during the batch operation.</p>"
        },
        "failedRecords":{
          "shape":"MemoryRecordsOutputList",
          "documentation":"<p>A list of memory records that failed to be updated, including error details for each failure.</p>"
        }
      }
    },
    "Blob":{"type":"blob"},
    "BlockchainChainId":{
      "type":"string",
      "documentation":"<p>Supported blockchain chain identifiers for balance queries. Each value maps to a specific chain supported by the underlying providers (Privy, Coinbase).</p>",
      "enum":[
        "BASE",
        "BASE_SEPOLIA",
        "ETHEREUM",
        "SOLANA",
        "SOLANA_DEVNET"
      ]
    },
    "Body":{
      "type":"blob",
      "max":100000000,
      "min":0,
      "sensitive":true
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "Branch":{
      "type":"structure",
      "required":["name"],
      "members":{
        "rootEventId":{
          "shape":"EventId",
          "documentation":"<p>The identifier of the root event for this branch.</p>"
        },
        "name":{
          "shape":"BranchName",
          "documentation":"<p>The name of the branch.</p>"
        }
      },
      "documentation":"<p>Contains information about a branch in an AgentCore Memory resource. Branches allow for organizing events into different conversation threads or paths.</p>"
    },
    "BranchFilter":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"BranchName",
          "documentation":"<p>The name of the branch to filter by.</p>"
        },
        "includeParentBranches":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether to include parent branches in the results. Set to true to include parent branches, or false to exclude them.</p>"
        }
      },
      "documentation":"<p>Contains filter criteria for branches when listing events.</p>"
    },
    "BranchName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[a-zA-Z0-9][a-zA-Z0-9-_]*"
    },
    "BrowserAction":{
      "type":"structure",
      "members":{
        "mouseClick":{
          "shape":"MouseClickArguments",
          "documentation":"<p>Click at the specified coordinates.</p>"
        },
        "mouseMove":{
          "shape":"MouseMoveArguments",
          "documentation":"<p>Move the cursor to the specified coordinates.</p>"
        },
        "mouseDrag":{
          "shape":"MouseDragArguments",
          "documentation":"<p>Drag from a start position to an end position.</p>"
        },
        "mouseScroll":{
          "shape":"MouseScrollArguments",
          "documentation":"<p>Scroll at the specified position.</p>"
        },
        "keyType":{
          "shape":"KeyTypeArguments",
          "documentation":"<p>Type a string of text.</p>"
        },
        "keyPress":{
          "shape":"KeyPressArguments",
          "documentation":"<p>Press a key one or more times.</p>"
        },
        "keyShortcut":{
          "shape":"KeyShortcutArguments",
          "documentation":"<p>Press a key combination.</p>"
        },
        "screenshot":{
          "shape":"ScreenshotArguments",
          "documentation":"<p>Capture a full-screen screenshot.</p>"
        }
      },
      "documentation":"<p>The browser action to perform. Exactly one member must be set per request.</p>",
      "union":true
    },
    "BrowserActionResult":{
      "type":"structure",
      "members":{
        "mouseClick":{
          "shape":"MouseClickResult",
          "documentation":"<p>The result of a mouse click action.</p>"
        },
        "mouseMove":{
          "shape":"MouseMoveResult",
          "documentation":"<p>The result of a mouse move action.</p>"
        },
        "mouseDrag":{
          "shape":"MouseDragResult",
          "documentation":"<p>The result of a mouse drag action.</p>"
        },
        "mouseScroll":{
          "shape":"MouseScrollResult",
          "documentation":"<p>The result of a mouse scroll action.</p>"
        },
        "keyType":{
          "shape":"KeyTypeResult",
          "documentation":"<p>The result of a key type action.</p>"
        },
        "keyPress":{
          "shape":"KeyPressResult",
          "documentation":"<p>The result of a key press action.</p>"
        },
        "keyShortcut":{
          "shape":"KeyShortcutResult",
          "documentation":"<p>The result of a key shortcut action.</p>"
        },
        "screenshot":{
          "shape":"ScreenshotResult",
          "documentation":"<p>The result of a screenshot action.</p>"
        }
      },
      "documentation":"<p>The result of a browser action execution. Exactly one member is set, matching the action that was performed.</p>",
      "union":true
    },
    "BrowserActionStatus":{
      "type":"string",
      "documentation":"<p>The status of a browser action execution.</p>",
      "enum":[
        "SUCCESS",
        "FAILED"
      ]
    },
    "BrowserArn":{
      "type":"string",
      "pattern":"arn:aws(-[^:]+)?:bedrock-agentcore:[a-z0-9-]+:(aws|[0-9]{12}):browser(-custom)?/(aws\\.browser\\.v1|[a-zA-Z][a-zA-Z0-9_]{0,47}-[a-zA-Z0-9]{10})"
    },
    "BrowserEnterprisePolicies":{
      "type":"list",
      "member":{"shape":"BrowserEnterprisePolicy"},
      "max":100,
      "min":0
    },
    "BrowserEnterprisePolicy":{
      "type":"structure",
      "required":["location"],
      "members":{
        "location":{
          "shape":"ResourceLocation",
          "documentation":"<p>The location of the enterprise policy file.</p>"
        },
        "type":{
          "shape":"BrowserEnterprisePolicyType",
          "documentation":"<p>The enterprise policy type. See BrowserEnterprisePolicyType.</p>"
        }
      },
      "documentation":"<p>Browser enterprise policy configuration.</p>"
    },
    "BrowserEnterprisePolicyType":{
      "type":"string",
      "documentation":"<p>The type of browser enterprise policy. Available values are <code>MANAGED</code> and <code>RECOMMENDED</code>.</p>",
      "enum":[
        "MANAGED",
        "RECOMMENDED"
      ]
    },
    "BrowserExtension":{
      "type":"structure",
      "required":["location"],
      "members":{
        "location":{
          "shape":"ResourceLocation",
          "documentation":"<p>The location where the browser extension files are stored. This specifies the source from which the extension will be loaded and installed.</p>"
        }
      },
      "documentation":"<p>Browser extension configuration.</p>"
    },
    "BrowserExtensions":{
      "type":"list",
      "member":{"shape":"BrowserExtension"},
      "max":10,
      "min":1
    },
    "BrowserProfileConfiguration":{
      "type":"structure",
      "required":["profileIdentifier"],
      "members":{
        "profileIdentifier":{
          "shape":"BrowserProfileId",
          "documentation":"<p>The unique identifier of the browser profile. This identifier is used to reference the profile when starting new browser sessions or saving session data to the profile.</p>"
        }
      },
      "documentation":"<p>The configuration for a browser profile in Amazon Bedrock AgentCore. A browser profile contains persistent browser data such as cookies and local storage that can be saved from one browser session and reused in subsequent sessions. Browser profiles enable continuity for tasks that require authentication, maintain user preferences, or depend on previously stored browser state.</p>"
    },
    "BrowserProfileId":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9_]{0,47}-[a-zA-Z0-9]{10}"
    },
    "BrowserSessionId":{
      "type":"string",
      "pattern":"[0-9a-zA-Z]{1,40}"
    },
    "BrowserSessionStatus":{
      "type":"string",
      "enum":[
        "READY",
        "TERMINATED"
      ]
    },
    "BrowserSessionStream":{
      "type":"structure",
      "required":["automationStream"],
      "members":{
        "automationStream":{
          "shape":"AutomationStream",
          "documentation":"<p>The stream that enables programmatic control of the browser. This stream allows agents to perform actions such as navigating to URLs, clicking elements, and filling forms.</p>"
        },
        "liveViewStream":{
          "shape":"LiveViewStream",
          "documentation":"<p>The stream that provides a visual representation of the browser content. This stream allows agents to observe the current state of the browser, including rendered web pages and visual elements.</p>"
        }
      },
      "documentation":"<p>The collection of streams associated with a browser session in Amazon Bedrock AgentCore. These streams provide different ways to interact with and observe the browser session, including programmatic control and visual representation of the browser content.</p>"
    },
    "BrowserSessionSummaries":{
      "type":"list",
      "member":{"shape":"BrowserSessionSummary"}
    },
    "BrowserSessionSummary":{
      "type":"structure",
      "required":[
        "browserIdentifier",
        "sessionId",
        "status",
        "createdAt"
      ],
      "members":{
        "browserIdentifier":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the browser associated with the session. This identifier specifies which browser environment is used for the session.</p>"
        },
        "sessionId":{
          "shape":"BrowserSessionId",
          "documentation":"<p>The unique identifier of the browser session. This identifier is used in operations that interact with the session.</p>"
        },
        "name":{
          "shape":"Name",
          "documentation":"<p>The name of the browser session. This name helps identify and manage the session.</p>"
        },
        "status":{
          "shape":"BrowserSessionStatus",
          "documentation":"<p>The current status of the browser session. Possible values include ACTIVE, STOPPING, and STOPPED.</p>"
        },
        "createdAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The timestamp when the browser session was created. This value is in ISO 8601 format.</p>"
        },
        "lastUpdatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The timestamp when the browser session was last updated. This value is in ISO 8601 format.</p>"
        }
      },
      "documentation":"<p>A condensed representation of a browser session in Amazon Bedrock AgentCore. This structure contains key information about a browser session, including identifiers, status, and timestamps, without the full details of the session configuration and streams.</p>"
    },
    "BrowserSessionTimeout":{
      "type":"integer",
      "box":true,
      "max":28800,
      "min":1
    },
    "BrowserStreamEndpoint":{
      "type":"string",
      "max":512,
      "min":10
    },
    "Certificate":{
      "type":"structure",
      "required":["location"],
      "members":{
        "location":{
          "shape":"CertificateLocation",
          "documentation":"<p>The location of the certificate.</p>"
        }
      },
      "documentation":"<p>A certificate to install in the browser or code interpreter session.</p>"
    },
    "CertificateLocation":{
      "type":"structure",
      "members":{
        "secretsManager":{
          "shape":"SecretsManagerLocation",
          "documentation":"<p>The Amazon Web Services Secrets Manager location of the certificate.</p>"
        }
      },
      "documentation":"<p>The location from which to retrieve a certificate.</p>",
      "union":true
    },
    "Certificates":{
      "type":"list",
      "member":{"shape":"Certificate"},
      "max":200,
      "min":1
    },
    "ClientToken":{
      "type":"string",
      "max":256,
      "min":33,
      "pattern":"[a-zA-Z0-9](-*[a-zA-Z0-9]){0,256}"
    },
    "CloudWatchFilterConfig":{
      "type":"structure",
      "members":{
        "sessionIds":{
          "shape":"CloudWatchFilterConfigSessionIdsList",
          "documentation":"<p>A list of specific session IDs to evaluate. If specified, only these sessions are included in the evaluation.</p>"
        },
        "timeRange":{
          "shape":"SessionFilterConfig",
          "documentation":"<p>The time range filter for selecting sessions to evaluate.</p>"
        }
      },
      "documentation":"<p>Filter configuration for narrowing down CloudWatch Logs sessions for evaluation.</p>"
    },
    "CloudWatchFilterConfigSessionIdsList":{
      "type":"list",
      "member":{"shape":"String"},
      "max":500,
      "min":0
    },
    "CloudWatchLogsFilter":{
      "type":"structure",
      "required":[
        "key",
        "operator",
        "value"
      ],
      "members":{
        "key":{
          "shape":"CloudWatchLogsFilterKeyString",
          "documentation":"<p>The key or field name to filter on within the agent trace data.</p>"
        },
        "operator":{
          "shape":"CloudWatchLogsFilterOperator",
          "documentation":"<p>The comparison operator to use for filtering.</p>"
        },
        "value":{
          "shape":"FilterValue",
          "documentation":"<p>The value to compare against using the specified operator.</p>"
        }
      },
      "documentation":"<p>A filter for narrowing down agent traces from CloudWatch Logs based on key-value comparisons.</p>"
    },
    "CloudWatchLogsFilterKeyString":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9._-]+"
    },
    "CloudWatchLogsFilterList":{
      "type":"list",
      "member":{"shape":"CloudWatchLogsFilter"}
    },
    "CloudWatchLogsFilterOperator":{
      "type":"string",
      "enum":[
        "Equals",
        "NotEquals",
        "GreaterThan",
        "LessThan",
        "GreaterThanOrEqual",
        "LessThanOrEqual",
        "Contains",
        "NotContains"
      ]
    },
    "CloudWatchLogsRule":{
      "type":"structure",
      "members":{
        "filters":{
          "shape":"CloudWatchLogsFilterList",
          "documentation":"<p>The list of filters to apply when reading agent traces.</p>"
        }
      },
      "documentation":"<p>A rule configuration for filtering agent traces from CloudWatch Logs.</p>"
    },
    "CloudWatchLogsSource":{
      "type":"structure",
      "required":[
        "serviceNames",
        "logGroupNames"
      ],
      "members":{
        "serviceNames":{
          "shape":"CloudWatchLogsSourceServiceNamesList",
          "documentation":"<p>The list of agent service names to filter traces within the specified log groups.</p>"
        },
        "logGroupNames":{
          "shape":"CloudWatchLogsSourceLogGroupNamesList",
          "documentation":"<p>The list of CloudWatch log group names to read agent traces from. Maximum of 5 log groups.</p>"
        },
        "filterConfig":{
          "shape":"CloudWatchFilterConfig",
          "documentation":"<p>Optional filter configuration to narrow down which sessions to evaluate.</p>"
        }
      },
      "documentation":"<p>The configuration for reading agent traces from CloudWatch Logs.</p>"
    },
    "CloudWatchLogsSourceLogGroupNamesList":{
      "type":"list",
      "member":{"shape":"String"},
      "max":5,
      "min":1
    },
    "CloudWatchLogsSourceServiceNamesList":{
      "type":"list",
      "member":{"shape":"String"},
      "max":1,
      "min":1
    },
    "CloudWatchLogsTraceConfig":{
      "type":"structure",
      "required":[
        "logGroupArns",
        "serviceNames",
        "startTime",
        "endTime"
      ],
      "members":{
        "logGroupArns":{
          "shape":"CloudWatchLogsTraceConfigLogGroupArnsList",
          "documentation":"<p>The list of CloudWatch log group ARNs to read agent traces from.</p>"
        },
        "serviceNames":{
          "shape":"ServiceNameList",
          "documentation":"<p>The list of service names to filter traces within the specified log groups.</p>"
        },
        "startTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The start time of the time range to read traces from.</p>"
        },
        "endTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The end time of the time range to read traces from.</p>"
        },
        "rule":{
          "shape":"CloudWatchLogsRule",
          "documentation":"<p>Optional rule configuration for filtering traces.</p>"
        }
      },
      "documentation":"<p>Configuration for reading agent traces from CloudWatch Logs for recommendation analysis.</p>"
    },
    "CloudWatchLogsTraceConfigLogGroupArnsList":{
[...]
