{
  "metadata": {
    "apiVersion": "2020-11-02",
    "endpointPrefix": "route53-recovery-control-config",
    "signingName": "route53-recovery-control-config",
    "serviceFullName": "AWS Route53 Recovery Control Config",
    "serviceId": "Route53 Recovery Control Config",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "route53-recovery-control-config-2020-11-02",
    "signatureVersion": "v4"
  },
  "operations": {
    "CreateCluster": {
      "name": "CreateCluster",
      "http": {
        "method": "POST",
        "requestUri": "/cluster",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateClusterRequest"
      },
      "output": {
        "shape": "CreateClusterResponse",
        "documentation": "<p>200 response - Success.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>402 response</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>"
        }
      ],
      "documentation": "<p>Create a new cluster. A cluster is a set of redundant Regional endpoints against which you can run API calls to update or get the state of one or more routing controls. Each cluster has a name, status, Amazon Resource Name (ARN), and an array of the five cluster endpoints (one for each supported Amazon Web Services Region) that you can use with API calls to the Amazon Route 53 Application Recovery Controller cluster data plane.</p>"
    },
    "CreateControlPanel": {
      "name": "CreateControlPanel",
      "http": {
        "method": "POST",
        "requestUri": "/controlpanel",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateControlPanelRequest"
      },
      "output": {
        "shape": "CreateControlPanelResponse",
        "documentation": "<p>200 response - Success.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>402 response</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>"
        }
      ],
      "documentation": "<p>Creates a new control panel. A control panel represents a group of routing controls that can be changed together in a single transaction. You can use a control panel to centrally view the operational status of applications across your organization, and trigger multi-app failovers in a single transaction, for example, to fail over an Availability Zone or AWS Region.</p>"
    },
    "CreateRoutingControl": {
      "name": "CreateRoutingControl",
      "http": {
        "method": "POST",
        "requestUri": "/routingcontrol",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateRoutingControlRequest"
      },
      "output": {
        "shape": "CreateRoutingControlResponse",
        "documentation": "<p>200 response - Success.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>402 response</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>"
        }
      ],
      "documentation": "<p>Creates a new routing control.</p> <p>A routing control has one of two states: ON and OFF. You can map the routing control state to the state of an Amazon Route 53 health check, which can be used to control traffic routing.</p> <p>To get or update the routing control state, see the Recovery Cluster (data plane) API actions for Amazon Route 53 Application Recovery Controller.</p>"
    },
    "CreateSafetyRule": {
      "name": "CreateSafetyRule",
      "http": {
        "method": "POST",
        "requestUri": "/safetyrule",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSafetyRuleRequest"
      },
      "output": {
        "shape": "CreateSafetyRuleResponse",
        "documentation": "<p>200 response - Success.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>"
        }
      ],
      "documentation": "<p>Creates a safety rule in a control panel. Safety rules let you add safeguards around enabling and disabling routing controls, to help prevent unexpected outcomes.</p> <p>There are two types of safety rules: assertion rules and gating rules.</p> <p>Assertion rule: An assertion rule enforces that, when a routing control state is changed, the criteria set by the rule configuration is met. Otherwise, the change to the routing control is not accepted.</p> <p>Gating rule: A gating rule verifies that a set of gating controls evaluates as true, based on a rule configuration that you specify. If the gating rule evaluates to true, Amazon Route 53 Application Recovery Controller allows a set of routing control state changes to run and complete against the set of target controls.</p>"
    },
    "DeleteCluster": {
      "name": "DeleteCluster",
      "http": {
        "method": "DELETE",
        "requestUri": "/cluster/{ClusterArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteClusterRequest"
      },
      "output": {
        "shape": "DeleteClusterResponse",
        "documentation": "<p>200 response - Success.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>"
        }
      ],
      "documentation": "<p>Delete a cluster.</p>"
    },
    "DeleteControlPanel": {
      "name": "DeleteControlPanel",
      "http": {
        "method": "DELETE",
        "requestUri": "/controlpanel/{ControlPanelArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteControlPanelRequest"
      },
      "output": {
        "shape": "DeleteControlPanelResponse",
        "documentation": "<p>200 response - Success.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>"
        }
      ],
      "documentation": "<p>Deletes a control panel.</p>"
    },
    "DeleteRoutingControl": {
      "name": "DeleteRoutingControl",
      "http": {
        "method": "DELETE",
        "requestUri": "/routingcontrol/{RoutingControlArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteRoutingControlRequest"
      },
      "output": {
        "shape": "DeleteRoutingControlResponse",
        "documentation": "<p>200 response - Success.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>"
        }
      ],
      "documentation": "<p>Deletes a routing control.</p>"
    },
    "DeleteSafetyRule": {
      "name": "DeleteSafetyRule",
      "http": {
        "method": "DELETE",
        "requestUri": "/safetyrule/{SafetyRuleArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteSafetyRuleRequest"
      },
      "output": {
        "shape": "DeleteSafetyRuleResponse",
        "documentation": "<p>200 response - Success.</p>"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>"
        },
        {
          "shape": "ValidationException",
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>"
        }
      ],
      "documentation": "<p>Deletes a safety rule.</p>/&gt;"
    },
    "DescribeCluster": {
      "name": "DescribeCluster",
      "http": {
        "method": "GET",
        "requestUri": "/cluster/{ClusterArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeClusterRequest"
      },
      "output": {
        "shape": "DescribeClusterResponse",
        "documentation": "<p>200 response - Success.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>"
        }
      ],
      "documentation": "<p>Display the details about a cluster. The response includes the cluster name, endpoints, status, and Amazon Resource Name (ARN).</p>"
    },
    "DescribeControlPanel": {
      "name": "DescribeControlPanel",
      "http": {
        "method": "GET",
        "requestUri": "/controlpanel/{ControlPanelArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeControlPanelRequest"
      },
      "output": {
        "shape": "DescribeControlPanelResponse",
        "documentation": "<p>200 response - Success.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>"
        }
      ],
      "documentation": "<p>Displays details about a control panel.</p>"
    },
    "DescribeRoutingControl": {
      "name": "DescribeRoutingControl",
      "http": {
        "method": "GET",
        "requestUri": "/routingcontrol/{RoutingControlArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeRoutingControlRequest"
      },
      "output": {
        "shape": "DescribeRoutingControlResponse",
        "documentation": "<p>200 response - Success.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>"
        }
      ],
      "documentation": "<p>Displays details about a routing control. A routing control has one of two states: ON and OFF. You can map the routing control state to the state of an Amazon Route 53 health check, which can be used to control routing.</p> <p>To get or update the routing control state, see the Recovery Cluster (data plane) API actions for Amazon Route 53 Application Recovery Controller.</p>"
    },
    "DescribeSafetyRule": {
      "name": "DescribeSafetyRule",
      "http": {
        "method": "GET",
        "requestUri": "/safetyrule/{SafetyRuleArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeSafetyRuleRequest"
      },
      "output": {
        "shape": "DescribeSafetyRuleResponse",
        "documentation": "<p>200 response - Success.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>"
        }
      ],
      "documentation": "<p>Describes the safety rules (that is, the assertion rules and gating rules) for the routing controls in a control panel.</p>"
    },
    "ListAssociatedRoute53HealthChecks": {
      "name": "ListAssociatedRoute53HealthChecks",
      "http": {
        "method": "GET",
        "requestUri": "/routingcontrol/{RoutingControlArn}/associatedRoute53HealthChecks",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAssociatedRoute53HealthChecksRequest"
      },
      "output": {
        "shape": "ListAssociatedRoute53HealthChecksResponse",
        "documentation": "<p>200 response - Success.</p>"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>"
        },
        {
          "shape": "ValidationException",
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>"
        }
      ],
      "documentation": "<p>Returns an array of all Amazon Route 53 health checks associated with a specific routing control.</p>"
    },
    "ListClusters": {
      "name": "ListClusters",
      "http": {
        "method": "GET",
        "requestUri": "/cluster",
        "responseCode": 200
      },
      "input": {
        "shape": "ListClustersRequest"
      },
      "output": {
        "shape": "ListClustersResponse",
        "documentation": "<p>200 response - Success.</p>"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>"
        },
        {
          "shape": "ValidationException",
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>"
        }
      ],
      "documentation": "<p>Returns an array of all the clusters in an account.</p>"
    },
    "ListControlPanels": {
      "name": "ListControlPanels",
      "http": {
        "method": "GET",
        "requestUri": "/controlpanels",
        "responseCode": 200
      },
      "input": {
        "shape": "ListControlPanelsRequest"
      },
      "output": {
        "shape": "ListControlPanelsResponse",
        "documentation": "<p>200 response - Success.</p>"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>"
        },
        {
          "shape": "ValidationException",
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>"
        }
      ],
      "documentation": "<p>Returns an array of control panels for a cluster.</p>"
    },
    "ListRoutingControls": {
      "name": "ListRoutingControls",
      "http": {
        "method": "GET",
        "requestUri": "/controlpanel/{ControlPanelArn}/routingcontrols",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRoutingControlsRequest"
      },
      "output": {
        "shape": "ListRoutingControlsResponse",
        "documentation": "<p>200 response - Success.</p>"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>"
        },
        {
          "shape": "ValidationException",
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>"
        }
      ],
      "documentation": "<p>Returns an array of routing controls for a control panel. A routing control is an Amazon Route 53 Application Recovery Controller construct that has one of two states: ON and OFF. You can map the routing control state to the state of an Amazon Route 53 health check, which can be used to control routing.</p>"
    },
    "ListSafetyRules": {
      "name": "ListSafetyRules",
      "http": {
        "method": "GET",
        "requestUri": "/controlpanel/{ControlPanelArn}/safetyrules",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSafetyRulesRequest"
      },
      "output": {
        "shape": "ListSafetyRulesResponse",
        "documentation": "<p>200 response - Success.</p>"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>"
        },
        {
          "shape": "ValidationException",
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>"
        }
      ],
      "documentation": "<p>List the safety rules (the assertion rules and gating rules) that you've defined for the routing controls in a control panel.</p>"
    },
    "UpdateControlPanel": {
      "name": "UpdateControlPanel",
      "http": {
        "method": "PUT",
        "requestUri": "/controlpanel",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateControlPanelRequest"
      },
      "output": {
        "shape": "UpdateControlPanelResponse",
        "documentation": "<p>200 response - Success.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>"
        }
      ],
      "documentation": "<p>Updates a control panel. The only update you can make to a control panel is to change the name of the control panel.</p>"
    },
    "UpdateRoutingControl": {
      "name": "UpdateRoutingControl",
      "http": {
        "method": "PUT",
        "requestUri": "/routingcontrol",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateRoutingControlRequest"
      },
      "output": {
        "shape": "UpdateRoutingControlResponse",
        "documentation": "<p>200 response - Success.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>403 response - AccessDeniedException. You do not hace sufficient access to perform this action.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>429 response - LimitExceededException or TooManyRequestsException.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>"
        }
      ],
      "documentation": "<p>Updates a routing control. You can only update the name of the routing control. To get or update the routing control state, see the Recovery Cluster (data plane) API actions for Amazon Route 53 Application Recovery Controller.</p>"
    },
    "UpdateSafetyRule": {
      "name": "UpdateSafetyRule",
      "http": {
        "method": "PUT",
        "requestUri": "/safetyrule",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateSafetyRuleRequest"
      },
      "output": {
        "shape": "UpdateSafetyRuleResponse",
        "documentation": "<p>200 response - Success.</p>"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>"
        },
        {
          "shape": "ValidationException",
          "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>"
        }
      ],
      "documentation": "<p>Update a safety rule (an assertion rule or gating rule) for the routing controls in a control panel. You can only update the name and the waiting period for a safety rule. To make other updates, delete the safety rule and create a new safety rule.</p>"
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "type": "structure",
      "documentation": "<p>403 response - AccessDeniedException. You do not have sufficient access to perform this action.</p>",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      },
      "required": [
        "Message"
      ],
      "exception": true,
      "error": {
        "httpStatusCode": 403
      }
    },
    "AssertionRule": {
      "type": "structure",
      "members": {
        "AssertedControls": {
          "shape": "__listOf__string",
          "documentation": "<p>The routing controls that are part of transactions that are evaluated to determine if a request to change a routing control state is allowed. For example, you might include three routing controls, one for each of three Amazon Web Services Regions.</p>"
        },
        "ControlPanelArn": {
          "shape": "__string",
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>"
        },
        "Name": {
          "shape": "__stringMin1Max64PatternS",
          "documentation": "<p>Name of the assertion rule. You can use any non-white space character in the name.</p>"
        },
        "RuleConfig": {
          "shape": "RuleConfig",
          "documentation": "<p>The criteria that you set for specific assertion controls (routing controls) that designate how many controls must be enabled as the result of a transaction. For example, if you have three assertion controls, you might specify atleast 2 for your rule configuration. This means that at least two assertion controls must be enabled, so that at least two Amazon Web Services Regions are enabled.</p>"
        },
        "SafetyRuleArn": {
          "shape": "__string",
          "documentation": "<p>The Amazon Resource Name (ARN) of the assertion rule.</p>"
        },
        "Status": {
          "shape": "Status",
          "documentation": "<p>The deployment status of an assertion rule. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>"
        },
        "WaitPeriodMs": {
          "shape": "__integer",
          "documentation": "<p>An evaluation period, in milliseconds (ms), during which any request against the target routing controls will fail. This helps prevent \"flapping\" of state. The wait period is 5000 ms by default, but you can choose a custom value.</p>"
        }
      },
      "documentation": "<p>An assertion rule enforces that, when a routing control state is changed, the criteria set by the rule configuration is met. Otherwise, the change to the routing control is not accepted.</p>",
      "required": [
        "Status",
        "ControlPanelArn",
        "SafetyRuleArn",
        "AssertedControls",
        "RuleConfig",
        "WaitPeriodMs",
        "Name"
      ]
    },
    "AssertionRuleUpdate": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "__stringMin1Max64PatternS",
          "documentation": "<p>The name of the assertion rule. You can use any non-white space character in the name.</p>"
        },
        "SafetyRuleArn": {
          "shape": "__string",
          "documentation": "<p>The Amazon Resource Name (ARN) of the assertion rule.</p>"
        },
        "WaitPeriodMs": {
          "shape": "__integer",
          "documentation": "<p>An evaluation period, in milliseconds (ms), during which any request against the target routing controls will fail. This helps prevent \"flapping\" of state. The wait period is 5000 ms by default, but you can choose a custom value.</p>"
        }
      },
      "documentation": "<p>An update to an assertion rule. You can update the name or the evaluation period (wait period). If you don't specify one of the items to update, the item is unchanged.</p>",
      "required": [
        "SafetyRuleArn",
        "WaitPeriodMs",
        "Name"
      ]
    },
    "Cluster": {
      "type": "structure",
      "documentation": "<p>A cluster is a set of five consensus-forming Regional endpoints that represent the infrastructure that hosts your routing controls. Typically, you host together on one cluster all of the routing controls for your applications.</p>",
      "members": {
        "ClusterArn": {
          "shape": "__string",
          "documentation": "<p>The Amazon Resource Name (ARN) of the cluster.</p>"
        },
        "ClusterEndpoints": {
          "shape": "__listOfClusterEndpoint",
          "documentation": "<p>Endpoints for a cluster. Specify one of these endpoints when you want to set or retrieve a routing control state in the cluster.</p> <p>To get or update the routing control state, see the Amazon Route 53 Application Recovery Controller Cluster (Data Plane) Actions.</p>"
        },
        "Name": {
          "shape": "__stringMin1Max64PatternS",
          "documentation": "<p>The name of the cluster.</p>"
        },
        "Status": {
          "shape": "Status",
          "documentation": "<p>Deployment status of a resource. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>"
        }
      }
    },
    "ClusterEndpoint": {
      "type": "structure",
      "members": {
        "Endpoint": {
          "shape": "__stringMin1Max128",
          "documentation": "<p>A cluster endpoint. Specify an endpoint and Amazon Web Services Region when you want to set or retrieve a routing control state in the cluster.</p> <p>To get or update the routing control state, see the Amazon Route 53 Application Recovery Controller Cluster (Data Plane) Actions.</p>"
        },
        "Region": {
          "shape": "__stringMin1Max32",
          "documentation": "<p>The Amazon Web Services Region for a cluster endpoint.</p>"
        }
      },
      "documentation": "<p>A cluster endpoint. Specify an endpoint when you want to set or retrieve a routing control state in the cluster.</p>"
    },
    "ConflictException": {
      "type": "structure",
      "documentation": "<p>409 response - ConflictException.</p>",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      },
      "required": [
        "Message"
      ],
      "exception": true,
      "error": {
        "httpStatusCode": 409
      }
    },
    "ControlPanel": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "shape": "__string",
          "documentation": "<p>The Amazon Resource Name (ARN) of the cluster that includes the control panel.</p>"
        },
        "ControlPanelArn": {
          "shape": "__string",
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>"
        },
        "DefaultControlPanel": {
          "shape": "__boolean",
          "documentation": "<p>A flag that Amazon Route 53 Application Recovery Controller sets to true to designate the default control panel for a cluster. When you create a cluster, Amazon Route 53 Application Recovery Controller creates a control panel, and sets this flag for that control panel. If you create a control panel yourself, this flag is set to false.</p>"
        },
        "Name": {
          "shape": "__stringMin1Max64PatternS",
          "documentation": "<p>The name of the control panel. You can use any non-white space character in the name.</p>"
        },
        "RoutingControlCount": {
          "shape": "__integer",
          "documentation": "<p>The number of routing controls in the control panel.</p>"
        },
        "Status": {
          "shape": "Status",
          "documentation": "<p>The deployment status of control panel. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>"
        }
      },
      "documentation": "<p>A control panel represents a group of routing controls that can be changed together in a single transaction.</p>"
    },
    "CreateClusterRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "shape": "__stringMax64",
          "idempotencyToken": true,
          "documentation": "<p>Unique client idempotency token.</p>"
        },
        "ClusterName": {
          "shape": "__stringMin1Max64PatternS",
          "documentation": "<p>The name of the cluster.</p>"
        }
      },
      "documentation": "<p>Creates a cluster.</p>",
      "required": [
        "ClusterName"
      ]
    },
    "CreateClusterResponse": {
      "type": "structure",
      "members": {
        "Cluster": {
          "shape": "Cluster",
          "documentation": "<p>The cluster that was created.</p>"
        }
      }
    },
    "CreateControlPanelRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "shape": "__stringMax64",
          "documentation": "<p>Unique client idempotency token.</p>",
          "idempotencyToken": true
        },
        "ClusterArn": {
          "shape": "__string",
          "documentation": "<p>The Amazon Resource Name (ARN) of the cluster for the control panel.</p>"
        },
        "ControlPanelName": {
          "shape": "__stringMin1Max64PatternS",
          "documentation": "<p>The name of the control panel.</p>"
        }
      },
      "documentation": "<p>The details of the control panel that you're creating.</p>",
      "required": [
        "ClusterArn",
        "ControlPanelName"
      ]
    },
    "CreateControlPanelResponse": {
      "type": "structure",
      "members": {
        "ControlPanel": {
          "shape": "ControlPanel",
          "documentation": "<p>Information about a control panel.</p>"
        }
      }
    },
    "CreateRoutingControlRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "shape": "__stringMax64",
          "documentation": "<p>Unique client idempotency token.</p>",
          "idempotencyToken": true
        },
        "ClusterArn": {
          "shape": "__string",
          "documentation": "<p>The Amazon Resource Name (ARN) of the cluster that includes the routing control.</p>"
        },
        "ControlPanelArn": {
          "shape": "__string",
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel that includes the routing control.</p>"
        },
        "RoutingControlName": {
          "shape": "__stringMin1Max64PatternS",
          "documentation": "<p>The name of the routing control.</p>"
        }
      },
      "documentation": "<p>The details of the routing control that you're creating.</p>",
      "required": [
        "ClusterArn",
        "RoutingControlName"
      ]
    },
    "CreateRoutingControlResponse": {
      "type": "structure",
      "members": {
        "RoutingControl": {
          "shape": "RoutingControl",
          "documentation": "<p>The routing control that is created.</p>"
        }
      }
    },
    "CreateSafetyRuleRequest": {
      "type": "structure",
      "members": {
        "AssertionRule": {
          "shape": "NewAssertionRule"
        },
        "ClientToken": {
          "shape": "__stringMax64",
          "documentation": "<p>Unique client idempotency token.</p>",
          "idempotencyToken": true
        },
        "GatingRule": {
          "shape": "NewGatingRule"
        }
      },
      "documentation": "<p>The request body that you include when you create a safety rule.</p>"
    },
    "CreateSafetyRuleResponse": {
      "type": "structure",
      "members": {
        "AssertionRule": {
          "shape": "AssertionRule"
        },
        "GatingRule": {
          "shape": "GatingRule"
        }
      }
    },
    "DeleteClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "shape": "__string",
          "location": "uri",
          "locationName": "ClusterArn",
          "documentation": "<p>The Amazon Resource Name (ARN) of the cluster that you're deleting.</p>"
        }
      },
      "required": [
        "ClusterArn"
      ]
    },
    "DeleteClusterResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteControlPanelRequest": {
      "type": "structure",
      "members": {
        "ControlPanelArn": {
          "shape": "__string",
          "location": "uri",
          "locationName": "ControlPanelArn",
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel that you're deleting.</p>"
        }
      },
      "required": [
        "ControlPanelArn"
      ]
    },
    "DeleteControlPanelResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteRoutingControlRequest": {
      "type": "structure",
      "members": {
        "RoutingControlArn": {
          "shape": "__string",
          "location": "uri",
          "locationName": "RoutingControlArn",
          "documentation": "<p>The Amazon Resource Name (ARN) of the routing control that you're deleting.</p>"
        }
      },
      "required": [
        "RoutingControlArn"
      ]
    },
    "DeleteRoutingControlResponse": {
      "type": "structure",
      "members": {}
    },
    "DeleteSafetyRuleRequest": {
      "type": "structure",
      "members": {
        "SafetyRuleArn": {
          "shape": "__string",
          "location": "uri",
          "locationName": "SafetyRuleArn",
          "documentation": "<p>The request body that you include when you update a safety rule.</p>"
        }
      },
      "required": [
        "SafetyRuleArn"
      ]
    },
    "DeleteSafetyRuleResponse": {
      "type": "structure",
      "members": {}
    },
    "DescribeClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "shape": "__string",
          "location": "uri",
          "locationName": "ClusterArn",
          "documentation": "<p>The Amazon Resource Name (ARN) of the cluster that you're getting details for.</p>"
        }
      },
      "required": [
        "ClusterArn"
      ]
    },
    "DescribeClusterResponse": {
      "type": "structure",
      "members": {
        "Cluster": {
          "shape": "Cluster",
          "documentation": "<p>The cluster for the DescribeCluster request.</p>"
        }
      }
    },
    "DescribeControlPanelRequest": {
      "type": "structure",
      "members": {
        "ControlPanelArn": {
          "shape": "__string",
          "location": "uri",
          "locationName": "ControlPanelArn",
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel that you're getting details for.</p>"
        }
      },
      "required": [
        "ControlPanelArn"
      ]
    },
    "DescribeControlPanelResponse": {
      "type": "structure",
      "members": {
        "ControlPanel": {
          "shape": "ControlPanel",
          "documentation": "<p>Information about the control panel.</p>"
        }
      }
    },
    "DescribeRoutingControlRequest": {
      "type": "structure",
      "members": {
        "RoutingControlArn": {
          "shape": "__string",
          "location": "uri",
          "locationName": "RoutingControlArn",
          "documentation": "<p>The Amazon Resource Name (ARN) of the routing control that you're getting details for.</p>"
        }
      },
      "required": [
        "RoutingControlArn"
      ]
    },
    "DescribeRoutingControlResponse": {
      "type": "structure",
      "members": {
        "RoutingControl": {
          "shape": "RoutingControl",
          "documentation": "<p>Information about the routing control.</p>"
        }
      }
    },
    "DescribeSafetyRuleRequest": {
      "type": "structure",
      "members": {
        "SafetyRuleArn": {
          "shape": "__string",
          "location": "uri",
          "locationName": "SafetyRuleArn",
          "documentation": "<p>The request body that you include when you update a safety rule.</p>"
        }
      },
      "required": [
        "SafetyRuleArn"
      ]
    },
    "DescribeSafetyRuleResponse": {
      "type": "structure",
      "members": {
        "AssertionRule": {
          "shape": "AssertionRule"
        },
        "GatingRule": {
          "shape": "GatingRule"
        }
      }
    },
    "GatingRule": {
      "type": "structure",
      "members": {
        "ControlPanelArn": {
          "shape": "__string",
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>"
        },
        "GatingControls": {
          "shape": "__listOf__string",
          "documentation": "<p>The gating controls for the gating rule. That is, routing controls that are evaluated by the rule configuration that you specify.</p>"
        },
        "Name": {
          "shape": "__stringMin1Max64PatternS",
          "documentation": "<p>The name for the gating rule.</p>"
        },
        "RuleConfig": {
          "shape": "RuleConfig",
          "documentation": "<p>The criteria that you set for specific gating controls (routing controls) that designates how many controls must be enabled to allow you to change (set or unset) the target controls.</p>"
        },
        "SafetyRuleArn": {
          "shape": "__string",
          "documentation": "<p>The Amazon Resource Name (ARN) of the gating rule.</p>"
        },
        "Status": {
          "shape": "Status",
          "documentation": "<p>The deployment status of a gating rule. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>"
        },
        "TargetControls": {
          "shape": "__listOf__string",
          "documentation": "<p>Routing controls that can only be set or unset if the specified RuleConfig evaluates to true for the specified GatingControls. For example, say you have three gating controls, one for each of three Amazon Web Services Regions. Now you specify ATLEAST 2 as your RuleConfig. With these settings, you can only change (set or unset) the routing controls that you have specified as TargetControls if that rule evaluates to true.</p> <p>In other words, your ability to change the routing controls that you have specified as TargetControls is gated by the rule that you set for the routing controls in GatingControls.</p>"
        },
        "WaitPeriodMs": {
          "shape": "__integer",
          "documentation": "<p>An evaluation period, in milliseconds (ms), during which any request against the target routing controls will fail. This helps prevent \"flapping\" of state. The wait period is 5000 ms by default, but you can choose a custom value.</p>"
        }
      },
      "documentation": "<p>A gating rule verifies that a set of gating controls evaluates as true, based on a rule configuration that you specify. If the gating rule evaluates to true, Amazon Route 53 Application Recovery Controller allows a set of routing control state changes to run and complete against the set of target controls.</p>",
      "required": [
        "Status",
        "TargetControls",
        "ControlPanelArn",
        "SafetyRuleArn",
        "GatingControls",
        "RuleConfig",
        "WaitPeriodMs",
        "Name"
      ]
    },
    "GatingRuleUpdate": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "__stringMin1Max64PatternS",
          "documentation": "<p>The name for the gating rule.</p>"
        },
        "SafetyRuleArn": {
          "shape": "__string",
          "documentation": "<p>The Amazon Resource Name (ARN) of the gating rule.</p>"
        },
        "WaitPeriodMs": {
          "shape": "__integer",
          "documentation": "<p>An evaluation period, in milliseconds (ms), during which any request against the target routing controls will fail. This helps prevent \"flapping\" of state. The wait period is 5000 ms by default, but you can choose a custom value.</p>"
        }
      },
      "documentation": "<p>Update to a gating rule. You can update the name or the evaluation period (wait period). If you don't specify one of the items to update, the item is unchanged.</p>",
      "required": [
        "SafetyRuleArn",
        "WaitPeriodMs",
        "Name"
      ]
    },
    "InternalServerException": {
      "type": "structure",
      "documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      },
      "required": [
        "Message"
      ],
      "exception": true,
      "error": {
        "httpStatusCode": 500
      }
    },
    "ListAssociatedRoute53HealthChecksRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "shape": "MaxResults",
          "location": "querystring",
          "locationName": "MaxResults",
          "documentation": "<p>The number of objects that you want to return with this call.</p>"
        },
        "NextToken": {
          "shape": "__string",
          "location": "querystring",
          "locationName": "NextToken",
          "documentation": "<p>The token that identifies which batch of results you want to see.</p>"
        },
        "RoutingControlArn": {
          "shape": "__string",
          "location": "uri",
          "locationName": "RoutingControlArn",
          "documentation": "<p>The Amazon Resource Name (ARN) of the routing control that you're getting details for.</p>"
        }
      },
      "required": [
        "RoutingControlArn"
      ]
    },
    "ListAssociatedRoute53HealthChecksResponse": {
      "type": "structure",
      "members": {
        "HealthCheckIds": {
          "shape": "__listOf__string",
          "documentation": "<p>Identifiers for the health checks.</p>"
        },
        "NextToken": {
          "shape": "__stringMax8096",
          "documentation": "<p>The token that identifies which batch of results you want to see.</p>"
        }
      }
    },
    "ListClustersRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "shape": "MaxResults",
          "location": "querystring",
          "locationName": "MaxResults",
          "documentation": "<p>The number of objects that you want to return with this call.</p>"
        },
        "NextToken": {
          "shape": "__string",
          "location": "querystring",
          "locationName": "NextToken",
          "documentation": "<p>The token that identifies which batch of results you want to see.</p>"
        }
      }
    },
    "ListClustersResponse": {
      "type": "structure",
      "members": {
        "Clusters": {
          "shape": "__listOfCluster",
          "documentation": "<p>An array of the clusters in an account.</p>"
        },
        "NextToken": {
          "shape": "__stringMax8096",
          "documentation": "<p>The token that identifies which batch of results you want to see.</p>"
        }
      }
    },
    "ListControlPanelsRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "shape": "__string",
          "location": "querystring",
          "locationName": "ClusterArn",
          "documentation": "<p>The Amazon Resource Name (ARN) of a cluster.</p>"
        },
        "MaxResults": {
          "shape": "MaxResults",
          "location": "querystring",
          "locationName": "MaxResults",
          "documentation": "<p>The number of objects that you want to return with this call.</p>"
        },
        "NextToken": {
          "shape": "__string",
          "location": "querystring",
          "locationName": "NextToken",
          "documentation": "<p>The token that identifies which batch of results you want to see.</p>"
        }
      }
    },
    "ListControlPanelsResponse": {
      "type": "structure",
      "members": {
        "ControlPanels": {
          "shape": "__listOfControlPanel",
          "documentation": "<p>The result of a successful ListControlPanel request.</p>"
        },
        "NextToken": {
          "shape": "__stringMax8096",
          "documentation": "<p>The token that identifies which batch of results you want to see.</p>"
        }
      }
    },
    "ListRoutingControlsRequest": {
      "type": "structure",
      "members": {
        "ControlPanelArn": {
          "shape": "__string",
          "location": "uri",
          "locationName": "ControlPanelArn",
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel that you're getting routing control details for.</p>"
        },
        "MaxResults": {
          "shape": "MaxResults",
          "location": "querystring",
          "locationName": "MaxResults",
          "documentation": "<p>The number of objects that you want to return with this call.</p>"
        },
        "NextToken": {
          "shape": "__string",
          "location": "querystring",
          "locationName": "NextToken",
          "documentation": "<p>The token that identifies which batch of results you want to see.</p>"
        }
      },
      "required": [
        "ControlPanelArn"
      ]
    },
    "ListRoutingControlsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "shape": "__stringMax8096",
          "documentation": "<p>The token that identifies which batch of results you want to see.</p>"
        },
        "RoutingControls": {
          "shape": "__listOfRoutingControl",
          "documentation": "<p>An array of routing controls.</p>"
        }
      }
    },
    "ListSafetyRulesRequest": {
      "type": "structure",
      "members": {
        "ControlPanelArn": {
          "shape": "__string",
          "location": "uri",
          "locationName": "ControlPanelArn",
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel that you're getting details for.</p>"
        },
        "MaxResults": {
          "shape": "MaxResults",
          "location": "querystring",
          "locationName": "MaxResults",
          "documentation": "<p>The number of objects that you want to return with this call.</p>"
        },
        "NextToken": {
          "shape": "__string",
          "location": "querystring",
          "locationName": "NextToken",
          "documentation": "<p>The token that identifies which batch of results you want to see.</p>"
        }
      },
      "required": [
        "ControlPanelArn"
      ]
    },
    "ListSafetyRulesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "shape": "__stringMax8096",
          "documentation": "<p>The token that identifies which batch of results you want to see.</p>"
        },
        "SafetyRules": {
          "shape": "__listOfRule",
          "documentation": "<p>The list of safety rules in a control panel.</p>"
        }
      }
    },
    "MaxResults": {
      "type": "integer",
      "min": 1,
      "max": 1000
    },
    "NewAssertionRule": {
      "type": "structure",
      "members": {
        "AssertedControls": {
          "shape": "__listOf__string",
          "documentation": "<p>The routing controls that are part of transactions that are evaluated to determine if a request to change a routing control state is allowed. For example, you might include three routing controls, one for each of three Amazon Web Services Regions.</p>"
        },
        "ControlPanelArn": {
          "shape": "__string",
          "documentation": "<p>The Amazon Resource Name (ARN) for the control panel.</p>"
        },
        "Name": {
          "shape": "__stringMin1Max64PatternS",
          "documentation": "<p>The name of the assertion rule. You can use any non-white space character in the name.</p>"
        },
        "RuleConfig": {
          "shape": "RuleConfig",
          "documentation": "<p>The criteria that you set for specific assertion controls (routing controls) that designate how many controls must be enabled as the result of a transaction. For example, if you have three assertion controls, you might specify atleast 2 for your rule configuration. This means that at least two assertion controls must be enabled, so that at least two Amazon Web Services Regions are enabled.</p>"
        },
        "WaitPeriodMs": {
          "shape": "__integer",
          "documentation": "<p>An evaluation period, in milliseconds (ms), during which any request against the target routing controls will fail. This helps prevent \"flapping\" of state. The wait period is 5000 ms by default, but you can choose a custom value.</p>"
        }
      },
      "documentation": "<p>A new assertion rule for a control panel.</p>",
      "required": [
        "ControlPanelArn",
        "AssertedControls",
        "RuleConfig",
        "WaitPeriodMs",
        "Name"
      ]
    },
    "NewGatingRule": {
      "type": "structure",
      "members": {
        "ControlPanelArn": {
          "shape": "__string",
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>"
        },
        "GatingControls": {
          "shape": "__listOf__string",
          "documentation": "<p>The gating controls for the new gating rule. That is, routing controls that are evaluated by the rule configuration that you specify.</p>"
        },
        "Name": {
          "shape": "__stringMin1Max64PatternS",
          "documentation": "<p>The name for the new gating rule.</p>"
        },
        "RuleConfig": {
          "shape": "RuleConfig",
          "documentation": "<p>The criteria that you set for specific gating controls (routing controls) that designates how many controls must be enabled to allow you to change (set or unset) the target controls.</p>"
        },
        "TargetControls": {
          "shape": "__listOf__string",
          "documentation": "<p>Routing controls that can only be set or unset if the specified RuleConfig evaluates to true for the specified GatingControls. For example, say you have three gating controls, one for each of three Amazon Web Services Regions. Now you specify AtLeast 2 as your RuleConfig. With these settings, you can only change (set or unset) the routing controls that you have specified as TargetControls if that rule evaluates to true.</p> <p>In other words, your ability to change the routing controls that you have specified as TargetControls is gated by the rule that you set for the routing controls in GatingControls.</p>"
        },
        "WaitPeriodMs": {
          "shape": "__integer",
          "documentation": "<p>An evaluation period, in milliseconds (ms), during which any request against the target routing controls will fail. This helps prevent \"flapping\" of state. The wait period is 5000 ms by default, but you can choose a custom value.</p>"
        }
      },
      "documentation": "<p>A new gating rule for a control panel.</p>",
      "required": [
        "TargetControls",
        "ControlPanelArn",
        "GatingControls",
        "RuleConfig",
        "WaitPeriodMs",
        "Name"
      ]
    },
    "ResourceNotFoundException": {
      "type": "structure",
      "documentation": "<p>404 response - The query string contains a syntax error or resource not found.</p>",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      },
      "required": [
        "Message"
      ],
      "exception": true,
      "error": {
        "httpStatusCode": 404
      }
    },
    "RoutingControl": {
      "type": "structure",
      "members": {
        "ControlPanelArn": {
          "shape": "__string",
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel that includes the routing control.</p>"
        },
        "Name": {
          "shape": "__stringMin1Max64PatternS",
          "documentation": "<p>The name of the routing control.</p>"
        },
        "RoutingControlArn": {
          "shape": "__string",
          "documentation": "<p>The Amazon Resource Name (ARN) of the routing control.</p>"
        },
        "Status": {
          "shape": "Status",
          "documentation": "<p>The deployment status of a routing control. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>"
        }
      },
      "documentation": "<p>A routing control has one of two states: ON and OFF. You can map the routing control state to the state of an Amazon Route 53 health check, which can be used to control traffic routing.</p>"
    },
    "Rule": {
      "type": "structure",
      "members": {
        "ASSERTION": {
          "shape": "AssertionRule",
          "documentation": "<p>An assertion rule enforces that, when a routing control state is changed, the criteria set by the rule configuration is met. Otherwise, the change to the routing control is not accepted.</p>"
        },
        "GATING": {
          "shape": "GatingRule",
          "documentation": "<p>A gating rule verifies that a set of gating controls evaluates as true, based on a rule configuration that you specify. If the gating rule evaluates to true, Amazon Route 53 Application Recovery Controller allows a set of routing control state changes to run and complete against the set of target controls.</p>"
        }
      },
      "documentation": "<p>A safety rule. A safety rule can be an assertion rule or a gating rule.</p>"
    },
    "RuleConfig": {
      "type": "structure",
      "members": {
        "Inverted": {
          "shape": "__boolean",
          "documentation": "<p>Logical negation of the rule. If the rule would usually evaluate true, it's evaluated as false, and vice versa.</p>"
        },
        "Threshold": {
          "shape": "__integer",
          "documentation": "<p>The value of N, when you specify an ATLEAST rule type. That is, Threshold is the number of controls that must be set when you specify an ATLEAST type.</p>"
        },
        "Type": {
          "shape": "RuleType",
          "documentation": "<p>A rule can be one of the following: ATLEAST, AND, or OR.</p>"
        }
      },
      "documentation": "<p>The rule configuration for an assertion rule. That is, the criteria that you set for specific assertion controls (routing controls) that specify how many controls must be enabled after a transaction completes.</p>",
      "required": [
        "Type",
        "Inverted",
        "Threshold"
      ]
    },
    "RuleType": {
      "type": "string",
      "documentation": "<p>An enumerated type that determines how the evaluated rules are processed. RuleType can be one of the following:</p> <p>ATLEAST - At least N routing controls must be set. You specify N as the Threshold in the rule configuration.</p> <p>AND - All routing controls must be set. This is a shortcut for \"At least N,\" where N is the total number of controls in the rule.</p> <p>OR - Any control must be set. This is a shortcut for \"At least N,\" where N is 1.</p>",
      "enum": [
        "ATLEAST",
        "AND",
        "OR"
      ]
    },
    "ServiceQuotaExceededException": {
      "type": "structure",
      "documentation": "<p>402 response</p>",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      },
      "required": [
        "Message"
      ],
      "exception": true,
      "error": {
        "httpStatusCode": 402
      }
    },
    "Status": {
      "type": "string",
      "documentation": "<p>The deployment status of a resource. Status can be one of the following:</p> <p>PENDING: Amazon Route 53 Application Recovery Controller is creating the resource.</p> <p>DEPLOYED: The resource is deployed and ready to use.</p> <p>PENDING_DELETION: Amazon Route 53 Application Recovery Controller is deleting the resource.</p>",
      "enum": [
        "PENDING",
        "DEPLOYED",
        "PENDING_DELETION"
      ]
    },
    "ThrottlingException": {
      "type": "structure",
      "documentation": "<p>429 response - ThrottlingException.</p>",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      },
      "required": [
        "Message"
      ],
      "exception": true,
      "error": {
        "httpStatusCode": 429
      }
    },
    "UpdateControlPanelRequest": {
      "type": "structure",
      "members": {
        "ControlPanelArn": {
          "shape": "__string",
          "documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>"
        },
        "ControlPanelName": {
          "shape": "__stringMin1Max64PatternS",
          "documentation": "<p>The name of the control panel.</p>"
        }
      },
      "documentation": "<p>The details of the control panel that you're updating.</p>",
      "required": [
        "ControlPanelArn",
        "ControlPanelName"
      ]
    },
    "UpdateControlPanelResponse": {
      "type": "structure",
      "members": {
        "ControlPanel": {
          "shape": "ControlPanel",
          "documentation": "<p>The control panel to update.</p>"
        }
      }
    },
    "UpdateRoutingControlRequest": {
      "type": "structure",
      "members": {
        "RoutingControlArn": {
          "shape": "__string",
          "documentation": "<p>The Amazon Resource Name (ARN) of the routing control.</p>"
        },
        "RoutingControlName": {
          "shape": "__stringMin1Max64PatternS",
          "documentation": "<p>The name of the routing control.</p>"
        }
      },
      "documentation": "<p>The details of the routing control that you're updating.</p>",
      "required": [
        "RoutingControlName",
        "RoutingControlArn"
      ]
    },
    "UpdateRoutingControlResponse": {
      "type": "structure",
      "members": {
        "RoutingControl": {
          "shape": "RoutingControl",
          "documentation": "<p>The routing control that was updated.</p>"
        }
      }
    },
    "UpdateSafetyRuleRequest": {
      "type": "structure",
      "members": {
        "AssertionRuleUpdate": {
          "shape": "AssertionRuleUpdate"
        },
        "GatingRuleUpdate": {
          "shape": "GatingRuleUpdate"
        }
      }
    },
    "UpdateSafetyRuleResponse": {
      "type": "structure",
      "members": {
        "AssertionRule": {
          "shape": "AssertionRule"
        },
        "GatingRule": {
          "shape": "GatingRule"
        }
      }
    },
    "ValidationException": {
      "type": "structure",
      "documentation": "<p>400 response - Multiple causes. For example, you might have a malformed query string and input parameter might be out of range, or you used parameters together incorrectly.</p>",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      },
      "required": [
        "Message"
      ],
      "exception": true,
      "error": {
        "httpStatusCode": 400
      }
    },
    "__boolean": {
      "type": "boolean"
    },
    "__double": {
      "type": "double"
    },
    "__integer": {
      "type": "integer"
    },
    "__listOfCluster": {
      "type": "list",
      "member": {
        "shape": "Cluster"
      }
    },
    "__listOfClusterEndpoint": {
      "type": "list",
      "member": {
        "shape": "ClusterEndpoint"
      }
    },
    "__listOfControlPanel": {
      "type": "list",
      "member": {
        "shape": "ControlPanel"
      }
    },
    "__listOfRoutingControl": {
      "type": "list",
      "member": {
        "shape": "RoutingControl"
      }
    },
    "__listOfRule": {
      "type": "list",
      "member": {
        "shape": "Rule"
      }
    },
    "__listOf__string": {
      "type": "list",
      "member": {
        "shape": "__string"
      }
    },
    "__long": {
      "type": "long"
    },
    "__string": {
      "type": "string"
    },
    "__stringMax64": {
      "type": "string",
      "max": 64
    },
    "__stringMax8096": {
      "type": "string",
      "max": 8096
    },
    "__stringMin1Max128": {
      "type": "string",
      "min": 1,
      "max": 128
    },
    "__stringMin1Max32": {
      "type": "string",
      "min": 1,
      "max": 32
    },
    "__stringMin1Max64PatternS": {
      "type": "string",
      "min": 1,
      "max": 64,
      "pattern": "^\\S+$"
    },
    "__timestampIso8601": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "__timestampUnix": {
      "type": "timestamp",
      "timestampFormat": "unixTimestamp"
    }
  },
  "documentation": "<p>Recovery Control Configuration API Reference for Amazon Route 53 Application Recovery Controller</p>"
}
