{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-05-10",
    "endpointPrefix":"ssm-sap",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceAbbreviation":"SsmSap",
    "serviceFullName":"AWS Systems Manager for SAP",
    "serviceId":"SsmSap",
    "signatureVersion":"v4",
    "signingName":"ssm-sap",
    "uid":"ssmsap-2018-05-10"
  },
  "operations":{
    "DeleteResourcePermission":{
      "name":"DeleteResourcePermission",
      "http":{
        "method":"POST",
        "requestUri":"/delete-resource-permission",
        "responseCode":200
      },
      "input":{"shape":"DeleteResourcePermissionInput"},
      "output":{"shape":"DeleteResourcePermissionOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p/>"
    },
    "DeregisterApplication":{
      "name":"DeregisterApplication",
      "http":{
        "method":"POST",
        "requestUri":"/deregister-application",
        "responseCode":200
      },
      "input":{"shape":"DeregisterApplicationInput"},
      "output":{"shape":"DeregisterApplicationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p/>"
    },
    "GetApplication":{
      "name":"GetApplication",
      "http":{
        "method":"POST",
        "requestUri":"/get-application",
        "responseCode":200
      },
      "input":{"shape":"GetApplicationInput"},
      "output":{"shape":"GetApplicationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p/>"
    },
    "GetComponent":{
      "name":"GetComponent",
      "http":{
        "method":"POST",
        "requestUri":"/get-component",
        "responseCode":200
      },
      "input":{"shape":"GetComponentInput"},
      "output":{"shape":"GetComponentOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p/>"
    },
    "GetDatabase":{
      "name":"GetDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/get-database",
        "responseCode":200
      },
      "input":{"shape":"GetDatabaseInput"},
      "output":{"shape":"GetDatabaseOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p/>"
    },
    "GetOperation":{
      "name":"GetOperation",
      "http":{
        "method":"POST",
        "requestUri":"/get-operation",
        "responseCode":200
      },
      "input":{"shape":"GetOperationInput"},
      "output":{"shape":"GetOperationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p/>"
    },
    "GetResourcePermission":{
      "name":"GetResourcePermission",
      "http":{
        "method":"POST",
        "requestUri":"/get-resource-permission",
        "responseCode":200
      },
      "input":{"shape":"GetResourcePermissionInput"},
      "output":{"shape":"GetResourcePermissionOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p/>"
    },
    "ListApplications":{
      "name":"ListApplications",
      "http":{
        "method":"POST",
        "requestUri":"/list-applications",
        "responseCode":200
      },
      "input":{"shape":"ListApplicationsInput"},
      "output":{"shape":"ListApplicationsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p/>"
    },
    "ListComponents":{
      "name":"ListComponents",
      "http":{
        "method":"POST",
        "requestUri":"/list-components",
        "responseCode":200
      },
      "input":{"shape":"ListComponentsInput"},
      "output":{"shape":"ListComponentsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p/>"
    },
    "ListDatabases":{
      "name":"ListDatabases",
      "http":{
        "method":"POST",
        "requestUri":"/list-databases",
        "responseCode":200
      },
      "input":{"shape":"ListDatabasesInput"},
      "output":{"shape":"ListDatabasesOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p/>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p/>"
    },
    "PutResourcePermission":{
      "name":"PutResourcePermission",
      "http":{
        "method":"POST",
        "requestUri":"/put-resource-permission",
        "responseCode":200
      },
      "input":{"shape":"PutResourcePermissionInput"},
      "output":{"shape":"PutResourcePermissionOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p/>"
    },
    "RegisterApplication":{
      "name":"RegisterApplication",
      "http":{
        "method":"POST",
        "requestUri":"/register-application",
        "responseCode":200
      },
      "input":{"shape":"RegisterApplicationInput"},
      "output":{"shape":"RegisterApplicationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p/>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p/>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p/>",
      "idempotent":true
    },
    "UpdateApplicationSettings":{
      "name":"UpdateApplicationSettings",
      "http":{
        "method":"POST",
        "requestUri":"/update-application-settings",
        "responseCode":200
      },
      "input":{"shape":"UpdateApplicationSettingsInput"},
      "output":{"shape":"UpdateApplicationSettingsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p/>"
    }
  },
  "shapes":{
    "AppRegistryArn":{
      "type":"string",
      "pattern":"arn:aws:servicecatalog:[a-z0-9:\\/-]+"
    },
    "Application":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"ApplicationId",
          "documentation":"<p/>"
        },
        "Type":{
          "shape":"ApplicationType",
          "documentation":"<p/>"
        },
        "Arn":{
          "shape":"SsmSapArn",
          "documentation":"<p/>"
        },
        "AppRegistryArn":{
          "shape":"AppRegistryArn",
          "documentation":"<p/>"
        },
        "Status":{
          "shape":"ApplicationStatus",
          "documentation":"<p/>"
        },
        "Components":{
          "shape":"ComponentIdList",
          "documentation":"<p/>"
        },
        "LastUpdated":{
          "shape":"Timestamp",
          "documentation":"<p/>"
        },
        "StatusMessage":{
          "shape":"String",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "ApplicationCredential":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "CredentialType",
        "SecretId"
      ],
      "members":{
        "DatabaseName":{
          "shape":"DatabaseName",
          "documentation":"<p/>"
        },
        "CredentialType":{
          "shape":"CredentialType",
          "documentation":"<p/>"
        },
        "SecretId":{
          "shape":"SecretId",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "ApplicationCredentialList":{
      "type":"list",
      "member":{"shape":"ApplicationCredential"},
      "max":20,
      "min":1
    },
    "ApplicationId":{
      "type":"string",
      "pattern":"[\\w\\d]{1,50}"
    },
    "ApplicationStatus":{
      "type":"string",
      "enum":[
        "ACTIVATED",
        "STARTING",
        "STOPPED",
        "STOPPING",
        "FAILED",
        "REGISTERING",
        "DELETING",
        "UNKNOWN"
      ]
    },
    "ApplicationSummary":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"ApplicationId",
          "documentation":"<p/>"
        },
        "Type":{
          "shape":"ApplicationType",
          "documentation":"<p/>"
        },
        "Arn":{
          "shape":"SsmSapArn",
          "documentation":"<p/>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "ApplicationSummaryList":{
      "type":"list",
      "member":{"shape":"ApplicationSummary"}
    },
    "ApplicationType":{
      "type":"string",
      "enum":["HANA"]
    },
    "Arn":{
      "type":"string",
      "pattern":"arn:(.+:){2,4}.+$|^arn:(.+:){1,3}.+\\/.+"
    },
    "Component":{
      "type":"structure",
      "members":{
        "ComponentId":{
          "shape":"ComponentId",
          "documentation":"<p/>"
        },
        "ApplicationId":{
          "shape":"ApplicationId",
          "documentation":"<p/>"
        },
        "ComponentType":{
          "shape":"ComponentType",
          "documentation":"<p/>"
        },
        "Status":{
          "shape":"ComponentStatus",
          "documentation":"<p/>"
        },
        "Databases":{
          "shape":"DatabaseIdList",
          "documentation":"<p/>"
        },
        "Hosts":{
          "shape":"HostList",
          "documentation":"<p/>"
        },
        "PrimaryHost":{
          "shape":"String",
          "documentation":"<p/>"
        },
        "LastUpdated":{
          "shape":"Timestamp",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "ComponentId":{
      "type":"string",
      "pattern":"[\\w\\d-]+"
    },
    "ComponentIdList":{
      "type":"list",
      "member":{"shape":"ComponentId"}
    },
    "ComponentStatus":{
      "type":"string",
      "enum":["ACTIVATED"]
    },
    "ComponentSummary":{
      "type":"structure",
      "members":{
        "ApplicationId":{
          "shape":"ApplicationId",
          "documentation":"<p/>"
        },
        "ComponentId":{
          "shape":"ComponentId",
          "documentation":"<p/>"
        },
        "ComponentType":{
          "shape":"ComponentType",
          "documentation":"<p/>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "ComponentSummaryList":{
      "type":"list",
      "member":{"shape":"ComponentSummary"}
    },
    "ComponentType":{
      "type":"string",
      "enum":["HANA"]
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p/>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CredentialType":{
      "type":"string",
      "enum":["ADMIN"]
    },
    "Database":{
      "type":"structure",
      "members":{
        "ApplicationId":{
          "shape":"ApplicationId",
          "documentation":"<p/>"
        },
        "ComponentId":{
          "shape":"ComponentId",
          "documentation":"<p/>"
        },
        "Credentials":{
          "shape":"ApplicationCredentialList",
          "documentation":"<p/>"
        },
        "DatabaseId":{
          "shape":"DatabaseId",
          "documentation":"<p/>"
        },
        "DatabaseName":{
          "shape":"String",
          "documentation":"<p/>"
        },
        "DatabaseType":{
          "shape":"DatabaseType",
          "documentation":"<p/>"
        },
        "Arn":{
          "shape":"SsmSapArn",
          "documentation":"<p/>"
        },
        "Status":{
          "shape":"DatabaseStatus",
          "documentation":"<p/>"
        },
        "PrimaryHost":{
          "shape":"String",
          "documentation":"<p/>"
        },
        "SQLPort":{
          "shape":"Integer",
          "documentation":"<p/>"
        },
        "LastUpdated":{
          "shape":"Timestamp",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "DatabaseId":{
      "type":"string",
      "pattern":".*[\\w\\d]+"
    },
    "DatabaseIdList":{
      "type":"list",
      "member":{"shape":"DatabaseId"}
    },
    "DatabaseName":{
      "type":"string",
      "max":100,
      "min":1
    },
    "DatabaseStatus":{
      "type":"string",
      "enum":[
        "RUNNING",
        "STARTING",
        "STOPPED",
        "WARNING",
        "UNKNOWN"
      ]
    },
    "DatabaseSummary":{
      "type":"structure",
      "members":{
        "ApplicationId":{
          "shape":"ApplicationId",
          "documentation":"<p/>"
        },
        "ComponentId":{
          "shape":"ComponentId",
          "documentation":"<p/>"
        },
        "DatabaseId":{
          "shape":"DatabaseId",
          "documentation":"<p/>"
        },
        "DatabaseType":{
          "shape":"DatabaseType",
          "documentation":"<p/>"
        },
        "Arn":{
          "shape":"SsmSapArn",
          "documentation":"<p/>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "DatabaseSummaryList":{
      "type":"list",
      "member":{"shape":"DatabaseSummary"}
    },
    "DatabaseType":{
      "type":"string",
      "enum":[
        "SYSTEM",
        "TENANT"
      ]
    },
    "DeleteResourcePermissionInput":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ActionType":{
          "shape":"PermissionActionType",
          "documentation":"<p/>"
        },
        "SourceResourceArn":{
          "shape":"Arn",
          "documentation":"<p/>"
        },
        "ResourceArn":{
          "shape":"Arn",
          "documentation":"<p/>"
        }
      }
    },
    "DeleteResourcePermissionOutput":{
      "type":"structure",
      "members":{
        "Policy":{
          "shape":"String",
          "documentation":"<p/>"
        }
      }
    },
    "DeregisterApplicationInput":{
      "type":"structure",
      "required":["ApplicationId"],
      "members":{
        "ApplicationId":{
          "shape":"ApplicationId",
          "documentation":"<p/>"
        }
      }
    },
    "DeregisterApplicationOutput":{
      "type":"structure",
      "members":{
      }
    },
    "GetApplicationInput":{
      "type":"structure",
      "members":{
        "ApplicationId":{
          "shape":"ApplicationId",
          "documentation":"<p/>"
        },
        "ApplicationArn":{
          "shape":"SsmSapArn",
          "documentation":"<p/>"
        }
      }
    },
    "GetApplicationOutput":{
      "type":"structure",
      "members":{
        "Application":{
          "shape":"Application",
          "documentation":"<p/>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p/>"
        }
      }
    },
    "GetComponentInput":{
      "type":"structure",
      "required":[
        "ApplicationId",
        "ComponentId"
      ],
      "members":{
        "ApplicationId":{
          "shape":"ApplicationId",
          "documentation":"<p/>"
        },
        "ComponentId":{
          "shape":"ComponentId",
          "documentation":"<p/>"
        }
      }
    },
    "GetComponentOutput":{
      "type":"structure",
      "members":{
        "Component":{
          "shape":"Component",
          "documentation":"<p/>"
        }
      }
    },
    "GetDatabaseInput":{
      "type":"structure",
      "members":{
        "ApplicationId":{
          "shape":"ApplicationId",
          "documentation":"<p/>"
        },
        "ComponentId":{
          "shape":"ComponentId",
          "documentation":"<p/>"
        },
        "DatabaseId":{
          "shape":"DatabaseId",
          "documentation":"<p/>"
        },
        "DatabaseArn":{
          "shape":"SsmSapArn",
          "documentation":"<p/>"
        }
      }
    },
    "GetDatabaseOutput":{
      "type":"structure",
      "members":{
        "Database":{
          "shape":"Database",
          "documentation":"<p/>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p/>"
        }
      }
    },
    "GetOperationInput":{
      "type":"structure",
      "required":["OperationId"],
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p/>"
        }
      }
    },
    "GetOperationOutput":{
      "type":"structure",
      "members":{
        "Operation":{
          "shape":"Operation",
          "documentation":"<p/>"
        }
      }
    },
    "GetResourcePermissionInput":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ActionType":{
          "shape":"PermissionActionType",
          "documentation":"<p/>"
        },
        "ResourceArn":{
          "shape":"Arn",
          "documentation":"<p/>"
        }
      }
    },
    "GetResourcePermissionOutput":{
      "type":"structure",
      "members":{
        "Policy":{
          "shape":"String",
          "documentation":"<p/>"
        }
      }
    },
    "Host":{
      "type":"structure",
      "members":{
        "HostName":{
          "shape":"String",
          "documentation":"<p/>"
        },
        "HostRole":{
          "shape":"HostRole",
          "documentation":"<p/>"
        },
        "HostIp":{
          "shape":"String",
          "documentation":"<p/>"
        },
        "InstanceId":{
          "shape":"String",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "HostList":{
      "type":"list",
      "member":{"shape":"Host"}
    },
    "HostRole":{
      "type":"string",
      "enum":[
        "LEADER",
        "WORKER",
        "STANDBY",
        "UNKNOWN"
      ]
    },
    "InstanceId":{
      "type":"string",
      "pattern":"i-[\\w\\d]{8}$|^i-[\\w\\d]{17}"
    },
    "InstanceList":{
      "type":"list",
      "member":{"shape":"InstanceId"},
      "max":1,
      "min":1
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p/>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "ListApplicationsInput":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p/>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p/>",
          "box":true
        }
      }
    },
    "ListApplicationsOutput":{
      "type":"structure",
      "members":{
        "Applications":{
          "shape":"ApplicationSummaryList",
          "documentation":"<p/>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p/>"
        }
      }
    },
    "ListComponentsInput":{
      "type":"structure",
      "members":{
        "ApplicationId":{
          "shape":"ApplicationId",
          "documentation":"<p/>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p/>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p/>",
          "box":true
        }
      }
    },
    "ListComponentsOutput":{
      "type":"structure",
      "members":{
        "Components":{
          "shape":"ComponentSummaryList",
          "documentation":"<p/>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p/>"
        }
      }
    },
    "ListDatabasesInput":{
      "type":"structure",
      "members":{
        "ApplicationId":{
          "shape":"ApplicationId",
          "documentation":"<p/>"
        },
        "ComponentId":{
          "shape":"ComponentId",
          "documentation":"<p/>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p/>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p/>",
          "box":true
        }
      }
    },
    "ListDatabasesOutput":{
      "type":"structure",
      "members":{
        "Databases":{
          "shape":"DatabaseSummaryList",
          "documentation":"<p/>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p/>"
        }
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["resourceArn"],
      "members":{
        "resourceArn":{
          "shape":"SsmSapArn",
          "documentation":"<p/>",
          "location":"uri",
          "locationName":"resourceArn"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "tags":{
          "shape":"TagMap",
          "documentation":"<p/>"
        }
      }
    },
    "MaxResults":{
      "type":"integer",
      "max":50,
      "min":1
    },
    "NextToken":{
      "type":"string",
      "pattern":".{16,1024}"
    },
    "Operation":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"OperationId",
          "documentation":"<p/>"
        },
        "Type":{
          "shape":"OperationType",
          "documentation":"<p/>"
        },
        "Status":{
          "shape":"OperationStatus",
          "documentation":"<p/>"
        },
        "StatusMessage":{
          "shape":"String",
          "documentation":"<p/>"
        },
        "Properties":{
          "shape":"OperationProperties",
          "documentation":"<p/>"
        },
        "ResourceType":{
          "shape":"ResourceType",
          "documentation":"<p/>"
        },
        "ResourceId":{
          "shape":"ResourceId",
          "documentation":"<p/>"
        },
        "ResourceArn":{
          "shape":"Arn",
          "documentation":"<p/>"
        },
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p/>"
        },
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p/>"
        },
        "LastUpdatedTime":{
          "shape":"Timestamp",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "OperationId":{
      "type":"string",
      "pattern":"[{]?[0-9a-fA-F]{8}-([0-9a-fA-F]{4}-){3}[0-9a-fA-F]{12}[}]?"
    },
    "OperationIdList":{
      "type":"list",
      "member":{"shape":"OperationId"}
    },
    "OperationProperties":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "OperationStatus":{
      "type":"string",
      "enum":[
        "INPROGRESS",
        "SUCCESS",
        "ERROR"
      ]
    },
    "OperationType":{"type":"string"},
    "PermissionActionType":{
      "type":"string",
      "enum":["RESTORE"]
    },
    "PutResourcePermissionInput":{
      "type":"structure",
      "required":[
        "ActionType",
        "SourceResourceArn",
        "ResourceArn"
      ],
      "members":{
        "ActionType":{
          "shape":"PermissionActionType",
          "documentation":"<p/>"
        },
        "SourceResourceArn":{
          "shape":"Arn",
          "documentation":"<p/>"
        },
        "ResourceArn":{
          "shape":"Arn",
          "documentation":"<p/>"
        }
      }
    },
    "PutResourcePermissionOutput":{
      "type":"structure",
      "members":{
        "Policy":{
          "shape":"String",
          "documentation":"<p/>"
        }
      }
    },
    "RegisterApplicationInput":{
      "type":"structure",
      "required":[
        "ApplicationId",
        "ApplicationType",
        "Instances",
        "Credentials"
      ],
      "members":{
        "ApplicationId":{
          "shape":"ApplicationId",
          "documentation":"<p/>"
        },
        "ApplicationType":{
          "shape":"ApplicationType",
          "documentation":"<p/>"
        },
        "Instances":{
          "shape":"InstanceList",
          "documentation":"<p/>"
        },
        "SapInstanceNumber":{
          "shape":"SAPInstanceNumber",
          "documentation":"<p/>"
        },
        "Sid":{
          "shape":"SID",
          "documentation":"<p/>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p/>"
        },
        "Credentials":{
          "shape":"ApplicationCredentialList",
          "documentation":"<p/>"
        }
      }
    },
    "RegisterApplicationOutput":{
      "type":"structure",
      "members":{
        "Application":{
          "shape":"Application",
          "documentation":"<p/>"
        },
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p/>"
        }
      }
    },
    "ResourceId":{
      "type":"string",
      "max":64,
      "min":1
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p/>",
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ResourceType":{
      "type":"string",
      "max":64,
      "min":1
    },
    "SAPInstanceNumber":{
      "type":"string",
      "pattern":"[0-9]{2}"
    },
    "SID":{
      "type":"string",
      "pattern":"[A-Z][A-Z0-9]{2}"
    },
    "SecretId":{
      "type":"string",
      "max":100,
      "min":1,
      "sensitive":true
    },
    "SsmSapArn":{
      "type":"string",
      "pattern":"arn:(.+:){2,4}.+$|^arn:(.+:){1,3}.+\\/.+"
    },
    "String":{"type":"string"},
    "TagKey":{
      "type":"string",
      "pattern":"(?!aws:)[a-zA-Z+-=._:/]+"
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"}
    },
    "TagMap":{
      "type":"map",
      "key":{"shape":"TagKey"},
      "value":{"shape":"TagValue"}
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tags"
      ],
      "members":{
        "resourceArn":{
          "shape":"SsmSapArn",
          "documentation":"<p/>",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p/>"
        }
      }
    },
    "TagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":1
    },
    "Timestamp":{"type":"timestamp"},
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tagKeys"
      ],
      "members":{
        "resourceArn":{
          "shape":"SsmSapArn",
          "documentation":"<p/>",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tagKeys":{
          "shape":"TagKeyList",
          "documentation":"<p/>",
          "location":"querystring",
          "locationName":"tagKeys"
        }
      }
    },
    "UntagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateApplicationSettingsInput":{
      "type":"structure",
      "required":["ApplicationId"],
      "members":{
        "ApplicationId":{
          "shape":"ApplicationId",
          "documentation":"<p/>"
        },
        "CredentialsToAddOrUpdate":{
          "shape":"ApplicationCredentialList",
          "documentation":"<p/>"
        },
        "CredentialsToRemove":{
          "shape":"ApplicationCredentialList",
          "documentation":"<p/>"
        }
      }
    },
    "UpdateApplicationSettingsOutput":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"String",
          "documentation":"<p/>"
        },
        "OperationIds":{
          "shape":"OperationIdList",
          "documentation":"<p/>"
        }
      }
    },
    "ValidationException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p/>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    }
  },
  "documentation":"<p/>"
}
