{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-03-01",
    "endpointPrefix":"fsx",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceFullName":"Amazon FSx",
    "serviceId":"FSx",
    "signatureVersion":"v4",
    "signingName":"fsx",
    "targetPrefix":"AWSSimbaAPIService_v20180301",
    "uid":"fsx-2018-03-01"
  },
  "operations":{
    "AssociateFileSystemAliases":{
      "name":"AssociateFileSystemAliases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateFileSystemAliasesRequest"},
      "output":{"shape":"AssociateFileSystemAliasesResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Use this action to associate one or more Domain Name Server (DNS) aliases with an existing Amazon FSx for Windows File Server file system. A file system can have a maximum of 50 DNS aliases associated with it at any one time. If you try to associate a DNS alias that is already associated with the file system, FSx takes no action on that alias in the request. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">Working with DNS Aliases</a> and <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/walkthrough05-file-system-custom-CNAME.html\">Walkthrough 5: Using DNS aliases to access your file system</a>, including additional steps you must take to be able to access your file system using a DNS alias.</p> <p>The system response shows the DNS aliases that Amazon FSx is attempting to associate with the file system. Use the API operation to monitor the status of the aliases Amazon FSx is associating with the file system.</p>"
    },
    "CancelDataRepositoryTask":{
      "name":"CancelDataRepositoryTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelDataRepositoryTaskRequest"},
      "output":{"shape":"CancelDataRepositoryTaskResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"UnsupportedOperation"},
        {"shape":"DataRepositoryTaskNotFound"},
        {"shape":"DataRepositoryTaskEnded"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Cancels an existing Amazon FSx for Lustre data repository task if that task is in either the <code>PENDING</code> or <code>EXECUTING</code> state. When you cancel a task, Amazon FSx does the following.</p> <ul> <li> <p>Any files that FSx has already exported are not reverted.</p> </li> <li> <p>FSx continues to export any files that are \"in-flight\" when the cancel operation is received.</p> </li> <li> <p>FSx does not export any files that have not yet been exported.</p> </li> </ul>",
      "idempotent":true
    },
    "CopyBackup":{
      "name":"CopyBackup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyBackupRequest"},
      "output":{"shape":"CopyBackupResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"BackupNotFound"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"UnsupportedOperation"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidSourceKmsKey"},
        {"shape":"InvalidDestinationKmsKey"},
        {"shape":"InvalidRegion"},
        {"shape":"SourceBackupUnavailable"},
        {"shape":"IncompatibleRegionForMultiAZ"}
      ],
      "documentation":"<p>Copies an existing backup within the same Amazon Web Services account to another Amazon Web Services Region (cross-Region copy) or within the same Amazon Web Services Region (in-Region copy). You can have up to five backup copy requests in progress to a single destination Region per account.</p> <p>You can use cross-Region backup copies for cross-region disaster recovery. You periodically take backups and copy them to another Region so that in the event of a disaster in the primary Region, you can restore from backup and recover availability quickly in the other Region. You can make cross-Region copies only within your Amazon Web Services partition.</p> <p> You can also use backup copies to clone your file data set to another Region or within the same Region.</p> <p>You can use the <code>SourceRegion</code> parameter to specify the Amazon Web Services Region from which the backup will be copied. For example, if you make the call from the <code>us-west-1</code> Region and want to copy a backup from the <code>us-east-2</code> Region, you specify <code>us-east-2</code> in the <code>SourceRegion</code> parameter to make a cross-Region copy. If you don't specify a Region, the backup copy is created in the same Region where the request is sent from (in-Region copy).</p> <p>For more information on creating backup copies, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/using-backups.html#copy-backups\"> Copying backups</a> in the <i>Amazon FSx for Windows User Guide</i> and <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/using-backups-fsx.html#copy-backups\">Copying backups</a> in the <i>Amazon FSx for Lustre User Guide</i>.</p>",
      "idempotent":true
    },
    "CreateBackup":{
      "name":"CreateBackup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateBackupRequest"},
      "output":{"shape":"CreateBackupResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"UnsupportedOperation"},
        {"shape":"FileSystemNotFound"},
        {"shape":"VolumeNotFound"},
        {"shape":"BackupInProgress"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Creates a backup of an existing Amazon FSx for Windows File Server or Amazon FSx for Lustre file system, or of an Amazon FSx for NetApp ONTAP volume. Creating regular backups is a best practice, enabling you to restore a file system or volume from a backup if an issue arises with the original file system or volume.</p> <p>For Amazon FSx for Lustre file systems, you can create a backup only for file systems with the following configuration:</p> <ul> <li> <p>a Persistent deployment type</p> </li> <li> <p>is <i>not</i> linked to a data repository.</p> </li> </ul> <p>For more information about backups, see the following:</p> <ul> <li> <p>For Amazon FSx for Lustre, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/using-backups-fsx.html\">Working with FSx for Lustre backups</a>.</p> </li> <li> <p>For Amazon FSx for Windows, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/using-backups.html\">Working with FSx for Windows backups</a>.</p> </li> <li> <p>For Amazon FSx for NetApp ONTAP, see <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/using-backups.html\">Working with FSx for NetApp ONTAP backups</a>.</p> </li> </ul> <p>If a backup with the specified client request token exists, and the parameters match, this operation returns the description of the existing backup. If a backup specified client request token exists, and the parameters don't match, this operation returns <code>IncompatibleParameterError</code>. If a backup with the specified client request token doesn't exist, <code>CreateBackup</code> does the following: </p> <ul> <li> <p>Creates a new Amazon FSx backup with an assigned ID, and an initial lifecycle state of <code>CREATING</code>.</p> </li> <li> <p>Returns the description of the backup.</p> </li> </ul> <p>By using the idempotent operation, you can retry a <code>CreateBackup</code> operation without the risk of creating an extra backup. This approach can be useful when an initial call fails in a way that makes it unclear whether a backup was created. If you use the same client request token and the initial call created a backup, the operation returns a successful result because all the parameters are the same.</p> <p>The <code>CreateBackup</code> operation returns while the backup's lifecycle state is still <code>CREATING</code>. You can check the backup creation status by calling the <a>DescribeBackups</a> operation, which returns the backup state along with other information.</p>",
      "idempotent":true
    },
    "CreateDataRepositoryTask":{
      "name":"CreateDataRepositoryTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDataRepositoryTaskRequest"},
      "output":{"shape":"CreateDataRepositoryTaskResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"UnsupportedOperation"},
        {"shape":"FileSystemNotFound"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"InternalServerError"},
        {"shape":"DataRepositoryTaskExecuting"}
      ],
      "documentation":"<p>Creates an Amazon FSx for Lustre data repository task. You use data repository tasks to perform bulk operations between your Amazon FSx file system and its linked data repository. An example of a data repository task is exporting any data and metadata changes, including POSIX metadata, to files, directories, and symbolic links (symlinks) from your FSx file system to its linked data repository. A <code>CreateDataRepositoryTask</code> operation will fail if a data repository is not linked to the FSx file system. To learn more about data repository tasks, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/data-repository-tasks.html\">Data Repository Tasks</a>. To learn more about linking a data repository to your file system, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/create-fs-linked-data-repo.html\">Linking your file system to an S3 bucket</a>.</p>",
      "idempotent":true
    },
    "CreateFileSystem":{
      "name":"CreateFileSystem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFileSystemRequest"},
      "output":{"shape":"CreateFileSystemResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"ActiveDirectoryError"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InvalidImportPath"},
        {"shape":"InvalidExportPath"},
        {"shape":"InvalidNetworkSettings"},
        {"shape":"InvalidPerUnitStorageThroughput"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"InternalServerError"},
        {"shape":"MissingFileSystemConfiguration"}
      ],
      "documentation":"<p>Creates a new, empty Amazon FSx file system.</p> <p>If a file system with the specified client request token exists and the parameters match, <code>CreateFileSystem</code> returns the description of the existing file system. If a file system specified client request token exists and the parameters don't match, this call returns <code>IncompatibleParameterError</code>. If a file system with the specified client request token doesn't exist, <code>CreateFileSystem</code> does the following: </p> <ul> <li> <p>Creates a new, empty Amazon FSx file system with an assigned ID, and an initial lifecycle state of <code>CREATING</code>.</p> </li> <li> <p>Returns the description of the file system.</p> </li> </ul> <p>This operation requires a client request token in the request that Amazon FSx uses to ensure idempotent creation. This means that calling the operation multiple times with the same client request token has no effect. By using the idempotent operation, you can retry a <code>CreateFileSystem</code> operation without the risk of creating an extra file system. This approach can be useful when an initial call fails in a way that makes it unclear whether a file system was created. Examples are if a transport level timeout occurred, or your connection was reset. If you use the same client request token and the initial call created a file system, the client receives success as long as the parameters are the same.</p> <note> <p>The <code>CreateFileSystem</code> call returns while the file system's lifecycle state is still <code>CREATING</code>. You can check the file-system creation status by calling the <a>DescribeFileSystems</a> operation, which returns the file system state along with other information.</p> </note>"
    },
    "CreateFileSystemFromBackup":{
      "name":"CreateFileSystemFromBackup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFileSystemFromBackupRequest"},
      "output":{"shape":"CreateFileSystemFromBackupResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"ActiveDirectoryError"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InvalidNetworkSettings"},
        {"shape":"InvalidPerUnitStorageThroughput"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"BackupNotFound"},
        {"shape":"InternalServerError"},
        {"shape":"MissingFileSystemConfiguration"}
      ],
      "documentation":"<p>Creates a new Amazon FSx for Lustre or Amazon FSx for Windows File Server file system from an existing Amazon FSx backup.</p> <p>If a file system with the specified client request token exists and the parameters match, this operation returns the description of the file system. If a client request token specified by the file system exists and the parameters don't match, this call returns <code>IncompatibleParameterError</code>. If a file system with the specified client request token doesn't exist, this operation does the following:</p> <ul> <li> <p>Creates a new Amazon FSx file system from backup with an assigned ID, and an initial lifecycle state of <code>CREATING</code>.</p> </li> <li> <p>Returns the description of the file system.</p> </li> </ul> <p>Parameters like Active Directory, default share name, automatic backup, and backup settings default to the parameters of the file system that was backed up, unless overridden. You can explicitly supply other settings.</p> <p>By using the idempotent operation, you can retry a <code>CreateFileSystemFromBackup</code> call without the risk of creating an extra file system. This approach can be useful when an initial call fails in a way that makes it unclear whether a file system was created. Examples are if a transport level timeout occurred, or your connection was reset. If you use the same client request token and the initial call created a file system, the client receives success as long as the parameters are the same.</p> <note> <p>The <code>CreateFileSystemFromBackup</code> call returns while the file system's lifecycle state is still <code>CREATING</code>. You can check the file-system creation status by calling the <a>DescribeFileSystems</a> operation, which returns the file system state along with other information.</p> </note>"
    },
    "CreateStorageVirtualMachine":{
      "name":"CreateStorageVirtualMachine",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateStorageVirtualMachineRequest"},
      "output":{"shape":"CreateStorageVirtualMachineResponse"},
      "errors":[
        {"shape":"ActiveDirectoryError"},
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"UnsupportedOperation"}
      ],
      "documentation":"<p>Creates a storage virtual machine (SVM) for an Amazon FSx for ONTAP file system.</p>"
    },
    "CreateVolume":{
      "name":"CreateVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVolumeRequest"},
      "output":{"shape":"CreateVolumeResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"MissingVolumeConfiguration"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"StorageVirtualMachineNotFound"},
        {"shape":"UnsupportedOperation"}
      ],
      "documentation":"<p>Creates an Amazon FSx for NetApp ONTAP storage volume.</p>"
    },
    "CreateVolumeFromBackup":{
      "name":"CreateVolumeFromBackup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVolumeFromBackupRequest"},
      "output":{"shape":"CreateVolumeFromBackupResponse"},
      "errors":[
        {"shape":"BackupNotFound"},
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"MissingVolumeConfiguration"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"StorageVirtualMachineNotFound"}
      ],
      "documentation":"<p>Creates a new Amazon FSx for NetApp ONTAP volume from an existing Amazon FSx volume backup.</p>"
    },
    "DeleteBackup":{
      "name":"DeleteBackup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteBackupRequest"},
      "output":{"shape":"DeleteBackupResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"BackupInProgress"},
        {"shape":"BackupNotFound"},
        {"shape":"BackupRestoring"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"BackupBeingCopied"}
      ],
      "documentation":"<p>Deletes an Amazon FSx backup, deleting its contents. After deletion, the backup no longer exists, and its data is gone.</p> <p>The <code>DeleteBackup</code> call returns instantly. The backup will not show up in later <code>DescribeBackups</code> calls.</p> <important> <p>The data in a deleted backup is also deleted and can't be recovered by any means.</p> </important>",
      "idempotent":true
    },
    "DeleteFileSystem":{
      "name":"DeleteFileSystem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFileSystemRequest"},
      "output":{"shape":"DeleteFileSystemResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"FileSystemNotFound"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Deletes a file system, deleting its contents. After deletion, the file system no longer exists, and its data is gone. Any existing automatic backups will also be deleted.</p> <p>To delete an Amazon FSx for NetApp ONTAP file system, first delete all the volumes and SVMs on the file system. Then provide a <code>FileSystemId</code> value to the <code>DeleFileSystem</code> operation.</p> <p>By default, when you delete an Amazon FSx for Windows File Server file system, a final backup is created upon deletion. This final backup is not subject to the file system's retention policy, and must be manually deleted.</p> <p>The <code>DeleteFileSystem</code> action returns while the file system has the <code>DELETING</code> status. You can check the file system deletion status by calling the <a>DescribeFileSystems</a> action, which returns a list of file systems in your account. If you pass the file system ID for a deleted file system, the <a>DescribeFileSystems</a> returns a <code>FileSystemNotFound</code> error.</p> <note> <p>Deleting an Amazon FSx for Lustre file system will fail with a 400 BadRequest if a data repository task is in a <code>PENDING</code> or <code>EXECUTING</code> state.</p> </note> <important> <p>The data in a deleted file system is also deleted and can't be recovered by any means.</p> </important>",
      "idempotent":true
    },
    "DeleteStorageVirtualMachine":{
      "name":"DeleteStorageVirtualMachine",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteStorageVirtualMachineRequest"},
      "output":{"shape":"DeleteStorageVirtualMachineResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"StorageVirtualMachineNotFound"}
      ],
      "documentation":"<p>Deletes an existing Amazon FSx for ONTAP storage virtual machine (SVM). Prior to deleting an SVM, you must delete all non-root volumes in the SVM, otherwise the operation will fail.</p>"
    },
    "DeleteVolume":{
      "name":"DeleteVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVolumeRequest"},
      "output":{"shape":"DeleteVolumeResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"VolumeNotFound"}
      ],
      "documentation":"<p>Deletes an Amazon FSx for NetApp ONTAP volume. When deleting a volume, you have the option of creating a final backup. If you create a final backup, you have the option to apply Tags to the backup. You need to have <code>fsx:TagResource</code> permission in order to apply tags to the backup.</p>"
    },
    "DescribeBackups":{
      "name":"DescribeBackups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeBackupsRequest"},
      "output":{"shape":"DescribeBackupsResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"VolumeNotFound"},
        {"shape":"BackupNotFound"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns the description of specific Amazon FSx backups, if a <code>BackupIds</code> value is provided for that backup. Otherwise, it returns all backups owned by your Amazon Web Services account in the Amazon Web Services Region of the endpoint that you're calling.</p> <p>When retrieving all backups, you can optionally specify the <code>MaxResults</code> parameter to limit the number of backups in a response. If more backups remain, Amazon FSx returns a <code>NextToken</code> value in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response.</p> <p>This action is used in an iterative process to retrieve a list of your backups. <code>DescribeBackups</code> is called first without a <code>NextToken</code>value. Then the action continues to be called with the <code>NextToken</code> parameter set to the value of the last <code>NextToken</code> value until a response has no <code>NextToken</code>.</p> <p>When using this action, keep the following in mind:</p> <ul> <li> <p>The implementation might return fewer than <code>MaxResults</code> backup descriptions while still including a <code>NextToken</code> value.</p> </li> <li> <p>The order of backups returned in the response of one <code>DescribeBackups</code> call and the order of backups returned across the responses of a multi-call iteration is unspecified.</p> </li> </ul>"
    },
    "DescribeDataRepositoryTasks":{
      "name":"DescribeDataRepositoryTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDataRepositoryTasksRequest"},
      "output":{"shape":"DescribeDataRepositoryTasksResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"DataRepositoryTaskNotFound"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns the description of specific Amazon FSx for Lustre data repository tasks, if one or more <code>TaskIds</code> values are provided in the request, or if filters are used in the request. You can use filters to narrow the response to include just tasks for specific file systems, or tasks in a specific lifecycle state. Otherwise, it returns all data repository tasks owned by your Amazon Web Services account in the Amazon Web Services Region of the endpoint that you're calling.</p> <p>When retrieving all tasks, you can paginate the response by using the optional <code>MaxResults</code> parameter to limit the number of tasks returned in a response. If more tasks remain, Amazon FSx returns a <code>NextToken</code> value in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response.</p>"
    },
    "DescribeFileSystemAliases":{
      "name":"DescribeFileSystemAliases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFileSystemAliasesRequest"},
      "output":{"shape":"DescribeFileSystemAliasesResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns the DNS aliases that are associated with the specified Amazon FSx for Windows File Server file system. A history of all DNS aliases that have been associated with and disassociated from the file system is available in the list of <a>AdministrativeAction</a> provided in the <a>DescribeFileSystems</a> operation response.</p>"
    },
    "DescribeFileSystems":{
      "name":"DescribeFileSystems",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFileSystemsRequest"},
      "output":{"shape":"DescribeFileSystemsResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns the description of specific Amazon FSx file systems, if a <code>FileSystemIds</code> value is provided for that file system. Otherwise, it returns descriptions of all file systems owned by your Amazon Web Services account in the Amazon Web Services Region of the endpoint that you're calling.</p> <p>When retrieving all file system descriptions, you can optionally specify the <code>MaxResults</code> parameter to limit the number of descriptions in a response. If more file system descriptions remain, Amazon FSx returns a <code>NextToken</code> value in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response.</p> <p>This action is used in an iterative process to retrieve a list of your file system descriptions. <code>DescribeFileSystems</code> is called first without a <code>NextToken</code>value. Then the action continues to be called with the <code>NextToken</code> parameter set to the value of the last <code>NextToken</code> value until a response has no <code>NextToken</code>.</p> <p>When using this action, keep the following in mind:</p> <ul> <li> <p>The implementation might return fewer than <code>MaxResults</code> file system descriptions while still including a <code>NextToken</code> value.</p> </li> <li> <p>The order of file systems returned in the response of one <code>DescribeFileSystems</code> call and the order of file systems returned across the responses of a multicall iteration is unspecified.</p> </li> </ul>"
    },
    "DescribeStorageVirtualMachines":{
      "name":"DescribeStorageVirtualMachines",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStorageVirtualMachinesRequest"},
      "output":{"shape":"DescribeStorageVirtualMachinesResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"StorageVirtualMachineNotFound"}
      ],
      "documentation":"<p>Describes one or more Amazon FSx for NetApp ONTAP storage virtual machines (SVMs).</p>"
    },
    "DescribeVolumes":{
      "name":"DescribeVolumes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVolumesRequest"},
      "output":{"shape":"DescribeVolumesResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"VolumeNotFound"}
      ],
      "documentation":"<p>Describes one or more Amazon FSx for NetApp ONTAP volumes.</p>"
    },
    "DisassociateFileSystemAliases":{
      "name":"DisassociateFileSystemAliases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateFileSystemAliasesRequest"},
      "output":{"shape":"DisassociateFileSystemAliasesResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Use this action to disassociate, or remove, one or more Domain Name Service (DNS) aliases from an Amazon FSx for Windows File Server file system. If you attempt to disassociate a DNS alias that is not associated with the file system, Amazon FSx responds with a 400 Bad Request. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">Working with DNS Aliases</a>.</p> <p>The system generated response showing the DNS aliases that Amazon FSx is attempting to disassociate from the file system. Use the API operation to monitor the status of the aliases Amazon FSx is disassociating with the file system.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFound"},
        {"shape":"NotServiceResourceError"},
        {"shape":"ResourceDoesNotSupportTagging"}
      ],
      "documentation":"<p>Lists tags for an Amazon FSx file systems and backups in the case of Amazon FSx for Windows File Server.</p> <p>When retrieving all tags, you can optionally specify the <code>MaxResults</code> parameter to limit the number of tags in a response. If more tags remain, Amazon FSx returns a <code>NextToken</code> value in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response.</p> <p>This action is used in an iterative process to retrieve a list of your tags. <code>ListTagsForResource</code> is called first without a <code>NextToken</code>value. Then the action continues to be called with the <code>NextToken</code> parameter set to the value of the last <code>NextToken</code> value until a response has no <code>NextToken</code>.</p> <p>When using this action, keep the following in mind:</p> <ul> <li> <p>The implementation might return fewer than <code>MaxResults</code> file system descriptions while still including a <code>NextToken</code> value.</p> </li> <li> <p>The order of tags returned in the response of one <code>ListTagsForResource</code> call and the order of tags returned across the responses of a multi-call iteration is unspecified.</p> </li> </ul>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFound"},
        {"shape":"NotServiceResourceError"},
        {"shape":"ResourceDoesNotSupportTagging"}
      ],
      "documentation":"<p>Tags an Amazon FSx resource.</p>",
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFound"},
        {"shape":"NotServiceResourceError"},
        {"shape":"ResourceDoesNotSupportTagging"}
      ],
      "documentation":"<p>This action removes a tag from an Amazon FSx resource.</p>",
      "idempotent":true
    },
    "UpdateFileSystem":{
      "name":"UpdateFileSystem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFileSystemRequest"},
      "output":{"shape":"UpdateFileSystemResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"UnsupportedOperation"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"FileSystemNotFound"},
        {"shape":"MissingFileSystemConfiguration"},
        {"shape":"ServiceLimitExceeded"}
      ],
      "documentation":"<p>Use this operation to update the configuration of an existing Amazon FSx file system. You can update multiple properties in a single request.</p> <p>For Amazon FSx for Windows File Server file systems, you can update the following properties:</p> <ul> <li> <p>AuditLogConfiguration</p> </li> <li> <p>AutomaticBackupRetentionDays</p> </li> <li> <p>DailyAutomaticBackupStartTime</p> </li> <li> <p>SelfManagedActiveDirectoryConfiguration</p> </li> <li> <p>StorageCapacity</p> </li> <li> <p>ThroughputCapacity</p> </li> <li> <p>WeeklyMaintenanceStartTime</p> </li> </ul> <p>For Amazon FSx for Lustre file systems, you can update the following properties:</p> <ul> <li> <p>AutoImportPolicy</p> </li> <li> <p>AutomaticBackupRetentionDays</p> </li> <li> <p>DailyAutomaticBackupStartTime</p> </li> <li> <p>DataCompressionType</p> </li> <li> <p>StorageCapacity</p> </li> <li> <p>WeeklyMaintenanceStartTime</p> </li> </ul> <p>For Amazon FSx for NetApp ONTAP file systems, you can update the following properties:</p> <ul> <li> <p>AutomaticBackupRetentionDays</p> </li> <li> <p>DailyAutomaticBackupStartTime</p> </li> <li> <p>FsxAdminPassword</p> </li> <li> <p>WeeklyMaintenanceStartTime</p> </li> </ul>"
    },
    "UpdateStorageVirtualMachine":{
      "name":"UpdateStorageVirtualMachine",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateStorageVirtualMachineRequest"},
      "output":{"shape":"UpdateStorageVirtualMachineResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"StorageVirtualMachineNotFound"},
        {"shape":"UnsupportedOperation"}
      ],
      "documentation":"<p>Updates an Amazon FSx for ONTAP storage virtual machine (SVM).</p>"
    },
    "UpdateVolume":{
      "name":"UpdateVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateVolumeRequest"},
      "output":{"shape":"UpdateVolumeResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"MissingVolumeConfiguration"},
        {"shape":"VolumeNotFound"}
      ],
      "documentation":"<p>Updates an Amazon FSx for NetApp ONTAP volume's configuration.</p>"
    }
  },
  "shapes":{
    "AWSAccountId":{
      "type":"string",
      "documentation":"<p>An Amazon Web Services account ID. This ID is a 12-digit number that you use to construct Amazon Resource Names (ARNs) for resources.</p>",
      "max":12,
      "min":12,
      "pattern":"^\\d{12}$"
    },
    "ActiveDirectoryBackupAttributes":{
      "type":"structure",
      "members":{
        "DomainName":{
          "shape":"ActiveDirectoryFullyQualifiedName",
          "documentation":"<p>The fully qualified domain name of the self-managed AD directory.</p>"
        },
        "ActiveDirectoryId":{
          "shape":"DirectoryId",
          "documentation":"<p>The ID of the Amazon Web Services Managed Microsoft Active Directory instance to which the file system is joined.</p>"
        },
        "ResourceARN":{"shape":"ResourceARN"}
      },
      "documentation":"<p>The Microsoft AD attributes of the Amazon FSx for Windows File Server file system.</p>"
    },
    "ActiveDirectoryError":{
      "type":"structure",
      "required":["ActiveDirectoryId"],
      "members":{
        "ActiveDirectoryId":{
          "shape":"DirectoryId",
          "documentation":"<p>The directory ID of the directory that an error pertains to.</p>"
        },
        "Type":{
          "shape":"ActiveDirectoryErrorType",
          "documentation":"<p>The type of Active Directory error.</p>"
        },
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>An Active Directory error.</p>",
      "exception":true
    },
    "ActiveDirectoryErrorType":{
      "type":"string",
      "documentation":"<p>The type of error relating to Microsoft Active Directory. NOT_FOUND means that no directory was found by specifying the given directory. INCOMPATIBLE_MODE means that the directory specified is not a Microsoft AD directory. WRONG_VPC means that the specified directory isn't accessible from the specified VPC. WRONG_STAGE means that the specified directory isn't currently in the ACTIVE state.</p>",
      "enum":[
        "DOMAIN_NOT_FOUND",
        "INCOMPATIBLE_DOMAIN_MODE",
        "WRONG_VPC",
        "INVALID_DOMAIN_STAGE"
      ]
    },
    "ActiveDirectoryFullyQualifiedName":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{1,255}$"
    },
    "AdminPassword":{
      "type":"string",
      "max":50,
      "min":8,
      "pattern":"^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{8,50}$",
      "sensitive":true
    },
    "AdministrativeAction":{
      "type":"structure",
      "members":{
        "AdministrativeActionType":{"shape":"AdministrativeActionType"},
        "ProgressPercent":{
          "shape":"ProgressPercent",
          "documentation":"<p>Provides the percent complete of a <code>STORAGE_OPTIMIZATION</code> administrative action. Does not apply to any other administrative action type.</p>"
        },
        "RequestTime":{
          "shape":"RequestTime",
          "documentation":"<p>Time that the administrative action request was received.</p>"
        },
        "Status":{
          "shape":"Status",
          "documentation":"<p>Describes the status of the administrative action, as follows:</p> <ul> <li> <p> <code>FAILED</code> - Amazon FSx failed to process the administrative action successfully.</p> </li> <li> <p> <code>IN_PROGRESS</code> - Amazon FSx is processing the administrative action.</p> </li> <li> <p> <code>PENDING</code> - Amazon FSx is waiting to process the administrative action.</p> </li> <li> <p> <code>COMPLETED</code> - Amazon FSx has finished processing the administrative task.</p> </li> <li> <p> <code>UPDATED_OPTIMIZING</code> - For a storage capacity increase update, Amazon FSx has updated the file system with the new storage capacity, and is now performing the storage optimization process. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-storage-capacity.html\">Managing storage capacity</a> in the <i>Amazon FSx for Windows File Server User Guide</i> and <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/managing-storage-capacity.html\">Managing storage and throughput capacity</a> in the <i>Amazon FSx for Lustre User Guide</i>.</p> </li> </ul>"
        },
        "TargetFileSystemValues":{
          "shape":"FileSystem",
          "documentation":"<p>Describes the target value for the administration action, provided in the <code>UpdateFileSystem</code> operation. Returned for <code>FILE_SYSTEM_UPDATE</code> administrative actions. </p>"
        },
        "FailureDetails":{"shape":"AdministrativeActionFailureDetails"},
        "TargetVolumeValues":{"shape":"Volume"}
      },
      "documentation":"<p>Describes a specific Amazon FSx administrative action for the current Windows or Lustre file system.</p>"
    },
    "AdministrativeActionFailureDetails":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"ErrorMessage",
          "documentation":"<p>Error message providing details about the failed administrative action.</p>"
        }
      },
      "documentation":"<p>Provides information about a failed administrative action.</p>"
    },
    "AdministrativeActionType":{
      "type":"string",
      "documentation":"<p>Describes the type of administrative action, as follows:</p> <ul> <li> <p> <code>FILE_SYSTEM_UPDATE</code> - A file system update administrative action initiated by the user from the Amazon FSx console, API (UpdateFileSystem), or CLI (update-file-system).</p> </li> <li> <p> <code>STORAGE_OPTIMIZATION</code> - Once the <code>FILE_SYSTEM_UPDATE</code> task to increase a file system's storage capacity completes successfully, a <code>STORAGE_OPTIMIZATION</code> task starts. </p> <ul> <li> <p>For Windows, storage optimization is the process of migrating the file system data to the new, larger disks.</p> </li> <li> <p>For Lustre, storage optimization consists of rebalancing the data across the existing and newly added file servers.</p> </li> </ul> <p>You can track the storage optimization progress using the <code>ProgressPercent</code> property. When <code>STORAGE_OPTIMIZATION</code> completes successfully, the parent <code>FILE_SYSTEM_UPDATE</code> action status changes to <code>COMPLETED</code>. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-storage-capacity.html\">Managing storage capacity</a> in the <i>Amazon FSx for Windows File Server User Guide</i> and <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/managing-storage-capacity.html\">Managing storage and throughput capacity</a> in the <i>Amazon FSx for Lustre User Guide</i>. </p> </li> <li> <p> <code>FILE_SYSTEM_ALIAS_ASSOCIATION</code> - A file system update to associate a new DNS alias with the file system. For more information, see .</p> </li> <li> <p> <code>FILE_SYSTEM_ALIAS_DISASSOCIATION</code> - A file system update to disassociate a DNS alias from the file system. For more information, see .</p> </li> </ul>",
      "enum":[
        "FILE_SYSTEM_UPDATE",
        "STORAGE_OPTIMIZATION",
        "FILE_SYSTEM_ALIAS_ASSOCIATION",
        "FILE_SYSTEM_ALIAS_DISASSOCIATION"
      ]
    },
    "AdministrativeActions":{
      "type":"list",
      "member":{"shape":"AdministrativeAction"},
      "max":50
    },
    "Alias":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"AlternateDNSName",
          "documentation":"<p>The name of the DNS alias. The alias name has to meet the following requirements:</p> <ul> <li> <p>Formatted as a fully-qualified domain name (FQDN), <code>hostname.domain</code>, for example, <code>accounting.example.com</code>.</p> </li> <li> <p>Can contain alphanumeric characters, the underscore (_), and the hyphen (-).</p> </li> <li> <p>Cannot start or end with a hyphen.</p> </li> <li> <p>Can start with a numeric.</p> </li> </ul> <p>For DNS names, Amazon FSx stores alphabetic characters as lowercase letters (a-z), regardless of how you specify them: as uppercase letters, lowercase letters, or the corresponding letters in escape codes.</p>"
        },
        "Lifecycle":{
          "shape":"AliasLifecycle",
          "documentation":"<p>Describes the state of the DNS alias.</p> <ul> <li> <p>AVAILABLE - The DNS alias is associated with an Amazon FSx file system.</p> </li> <li> <p>CREATING - Amazon FSx is creating the DNS alias and associating it with the file system.</p> </li> <li> <p>CREATE_FAILED - Amazon FSx was unable to associate the DNS alias with the file system.</p> </li> <li> <p>DELETING - Amazon FSx is disassociating the DNS alias from the file system and deleting it.</p> </li> <li> <p>DELETE_FAILED - Amazon FSx was unable to disassociate the DNS alias from the file system.</p> </li> </ul>"
        }
      },
      "documentation":"<p>A DNS alias that is associated with the file system. You can use a DNS alias to access a file system using user-defined DNS names, in addition to the default DNS name that Amazon FSx assigns to the file system. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">DNS aliases</a> in the <i>FSx for Windows File Server User Guide</i>.</p>"
    },
    "AliasLifecycle":{
      "type":"string",
      "enum":[
        "AVAILABLE",
        "CREATING",
        "DELETING",
        "CREATE_FAILED",
        "DELETE_FAILED"
      ]
    },
    "Aliases":{
      "type":"list",
      "member":{"shape":"Alias"},
      "documentation":"<p>An array of one or more DNS aliases that are currently associated with the Amazon FSx file system. Aliases allow you to use existing DNS names to access the data in your Amazon FSx file system. You can associate up to 50 aliases with a file system at any time. You can associate additional DNS aliases after you create the file system using the AssociateFileSystemAliases operation. You can remove DNS aliases from the file system after it is created using the DisassociateFileSystemAliases operation. You only need to specify the alias name in the request payload. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">DNS aliases</a>.</p>",
      "max":50
    },
    "AlternateDNSName":{
      "type":"string",
      "max":253,
      "min":4,
      "pattern":"^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{4,253}$"
    },
    "AlternateDNSNames":{
      "type":"list",
      "member":{"shape":"AlternateDNSName"},
      "max":50
    },
    "ArchivePath":{
      "type":"string",
      "max":4357,
      "min":3,
      "pattern":"^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{3,4357}$"
    },
    "AssociateFileSystemAliasesRequest":{
      "type":"structure",
      "required":[
        "FileSystemId",
        "Aliases"
      ],
      "members":{
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        },
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>Specifies the file system with which you want to associate one or more DNS aliases.</p>"
        },
        "Aliases":{
          "shape":"AlternateDNSNames",
          "documentation":"<p>An array of one or more DNS alias names to associate with the file system. The alias name has to comply with the following formatting requirements:</p> <ul> <li> <p>Formatted as a fully-qualified domain name (FQDN), <i> <code>hostname.domain</code> </i>, for example, <code>accounting.corp.example.com</code>.</p> </li> <li> <p>Can contain alphanumeric characters and the hyphen (-).</p> </li> <li> <p>Cannot start or end with a hyphen.</p> </li> <li> <p>Can start with a numeric.</p> </li> </ul> <p>For DNS alias names, Amazon FSx stores alphabetic characters as lowercase letters (a-z), regardless of how you specify them: as uppercase letters, lowercase letters, or the corresponding letters in escape codes.</p>"
        }
      },
      "documentation":"<p>The request object specifying one or more DNS alias names to associate with an Amazon FSx for Windows File Server file system.</p>"
    },
    "AssociateFileSystemAliasesResponse":{
      "type":"structure",
      "members":{
        "Aliases":{
          "shape":"Aliases",
          "documentation":"<p>An array of the DNS aliases that Amazon FSx is associating with the file system.</p>"
        }
      },
      "documentation":"<p>The system generated response showing the DNS aliases that Amazon FSx is attempting to associate with the file system. Use the API operation to monitor the status of the aliases Amazon FSx is associating with the file system. It can take up to 2.5 minutes for the alias status to change from <code>CREATING</code> to <code>AVAILABLE</code>. </p>"
    },
    "AutoImportPolicyType":{
      "type":"string",
      "enum":[
        "NONE",
        "NEW",
        "NEW_CHANGED"
      ]
    },
    "AutomaticBackupRetentionDays":{
      "type":"integer",
      "documentation":"<p>The number of days to retain automatic backups. Setting this to 0 disables automatic backups. You can retain automatic backups for a maximum of 90 days. The default is 0.</p>",
      "max":90,
      "min":0
    },
    "Backup":{
      "type":"structure",
      "required":[
        "BackupId",
        "Lifecycle",
        "Type",
        "CreationTime",
        "FileSystem"
      ],
      "members":{
        "BackupId":{
          "shape":"BackupId",
          "documentation":"<p>The ID of the backup.</p>"
        },
        "Lifecycle":{
          "shape":"BackupLifecycle",
          "documentation":"<p>The lifecycle status of the backup.</p> <ul> <li> <p> <code>AVAILABLE</code> - The backup is fully available.</p> </li> <li> <p> <code>PENDING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx has not started creating the backup.</p> </li> <li> <p> <code>CREATING</code> - Amazon FSx is creating the backup.</p> </li> <li> <p> <code>TRANSFERRING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx is transferring the backup to S3.</p> </li> <li> <p> <code>COPYING</code> - Amazon FSx is copying the backup.</p> </li> <li> <p> <code>DELETED</code> - Amazon FSx deleted the backup and it is no longer available.</p> </li> <li> <p> <code>FAILED</code> - Amazon FSx could not complete the backup.</p> </li> </ul>"
        },
        "FailureDetails":{
          "shape":"BackupFailureDetails",
          "documentation":"<p>Details explaining any failures that occur when creating a backup.</p>"
        },
        "Type":{
          "shape":"BackupType",
          "documentation":"<p>The type of the file system backup.</p>"
        },
        "ProgressPercent":{"shape":"ProgressPercent"},
        "CreationTime":{
          "shape":"CreationTime",
          "documentation":"<p>The time when a particular backup was created.</p>"
        },
        "KmsKeyId":{
          "shape":"KmsKeyId",
          "documentation":"<p>The ID of the Key Management Service (KMS) key used to encrypt the backup of the Amazon FSx file system's data at rest. </p>"
        },
        "ResourceARN":{
          "shape":"ResourceARN",
          "documentation":"<p>The Amazon Resource Name (ARN) for the backup resource.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Tags associated with a particular file system.</p>"
        },
        "FileSystem":{
          "shape":"FileSystem",
          "documentation":"<p>Metadata of the file system associated with the backup. This metadata is persisted even if the file system is deleted.</p>"
        },
        "DirectoryInformation":{
          "shape":"ActiveDirectoryBackupAttributes",
          "documentation":"<p>The configuration of the self-managed Microsoft Active Directory (AD) to which the Windows File Server instance is joined.</p>"
        },
        "OwnerId":{"shape":"AWSAccountId"},
        "SourceBackupId":{"shape":"BackupId"},
        "SourceBackupRegion":{
          "shape":"Region",
          "documentation":"<p>The source Region of the backup. Specifies the Region from where this backup is copied.</p>"
        },
        "ResourceType":{
          "shape":"ResourceType",
          "documentation":"<p>Specifies the resource type that is backed up.</p>"
        },
        "Volume":{"shape":"Volume"}
      },
      "documentation":"<p>A backup of an Amazon FSx for Windows File Server or Amazon FSx for Lustre file system, or of an Amazon FSx for NetApp ONTAP volume.</p>"
    },
    "BackupBeingCopied":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"},
        "BackupId":{"shape":"BackupId"}
      },
      "documentation":"<p>You can't delete a backup while it's being copied.</p>",
      "exception":true
    },
    "BackupFailureDetails":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"ErrorMessage",
          "documentation":"<p>A message describing the backup creation failure.</p>"
        }
      },
      "documentation":"<p>If backup creation fails, this structure contains the details of that failure.</p>"
    },
    "BackupId":{
      "type":"string",
      "documentation":"<p>The ID of the source backup. Specifies the backup you are copying.</p>",
      "max":128,
      "min":12,
      "pattern":"^(backup-[0-9a-f]{8,})$"
    },
    "BackupIds":{
      "type":"list",
      "member":{"shape":"BackupId"},
      "documentation":"<p>A list of backup IDs.</p>",
      "max":50
    },
    "BackupInProgress":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>Another backup is already under way. Wait for completion before initiating additional backups of this file system.</p>",
      "exception":true
    },
    "BackupLifecycle":{
      "type":"string",
      "documentation":"<p>The lifecycle status of the backup.</p> <ul> <li> <p> <code>AVAILABLE</code> - The backup is fully available.</p> </li> <li> <p> <code>PENDING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx has not started creating the backup.</p> </li> <li> <p> <code>CREATING</code> - Amazon FSx is creating the new user-intiated backup</p> </li> <li> <p> <code>TRANSFERRING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx is backing up the file system.</p> </li> <li> <p> <code>COPYING</code> - Amazon FSx is copying the backup.</p> </li> <li> <p> <code>DELETED</code> - Amazon FSx deleted the backup and it is no longer available.</p> </li> <li> <p> <code>FAILED</code> - Amazon FSx could not complete the backup.</p> </li> </ul>",
      "enum":[
        "AVAILABLE",
        "CREATING",
        "TRANSFERRING",
        "DELETED",
        "FAILED",
        "PENDING",
        "COPYING"
      ]
    },
    "BackupNotFound":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>No Amazon FSx backups were found based upon the supplied parameters.</p>",
      "exception":true
    },
    "BackupRestoring":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"},
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>The ID of a file system being restored from the backup.</p>"
        }
      },
      "documentation":"<p>You can't delete a backup while it's being used to restore a file system.</p>",
      "exception":true
    },
    "BackupType":{
      "type":"string",
      "documentation":"<p>The type of the backup.</p>",
      "enum":[
        "AUTOMATIC",
        "USER_INITIATED",
        "AWS_BACKUP"
      ]
    },
    "Backups":{
      "type":"list",
      "member":{"shape":"Backup"},
      "documentation":"<p>A list of file system backups.</p>",
      "max":50
    },
    "BadRequest":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>A generic error indicating a failure with a client request.</p>",
      "exception":true
    },
    "CancelDataRepositoryTaskRequest":{
      "type":"structure",
      "required":["TaskId"],
      "members":{
        "TaskId":{
          "shape":"TaskId",
          "documentation":"<p>Specifies the data repository task to cancel.</p>"
        }
      },
      "documentation":"<p>Cancels a data repository task.</p>"
    },
    "CancelDataRepositoryTaskResponse":{
      "type":"structure",
      "members":{
        "Lifecycle":{
          "shape":"DataRepositoryTaskLifecycle",
          "documentation":"<p>The lifecycle status of the data repository task, as follows:</p> <ul> <li> <p> <code>PENDING</code> - Amazon FSx has not started the task.</p> </li> <li> <p> <code>EXECUTING</code> - Amazon FSx is processing the task.</p> </li> <li> <p> <code>FAILED</code> - Amazon FSx was not able to complete the task. For example, there may be files the task failed to process. The <a>DataRepositoryTaskFailureDetails</a> property provides more information about task failures.</p> </li> <li> <p> <code>SUCCEEDED</code> - FSx completed the task successfully.</p> </li> <li> <p> <code>CANCELED</code> - Amazon FSx canceled the task and it did not complete.</p> </li> <li> <p> <code>CANCELING</code> - FSx is in process of canceling the task.</p> </li> </ul>"
        },
        "TaskId":{
          "shape":"TaskId",
          "documentation":"<p>The ID of the task being canceled.</p>"
        }
      }
    },
    "ClientRequestToken":{
      "type":"string",
      "documentation":"<p>(Optional) An idempotency token for resource creation, in a string of up to 64 ASCII characters. This token is automatically filled on your behalf when you use the Command Line Interface (CLI) or an Amazon Web Services SDK.</p>",
      "max":63,
      "min":1,
      "pattern":"[A-za-z0-9_.-]{0,63}$"
    },
    "CompletionReport":{
      "type":"structure",
      "required":["Enabled"],
      "members":{
        "Enabled":{
          "shape":"Flag",
          "documentation":"<p>Set <code>Enabled</code> to <code>True</code> to generate a <code>CompletionReport</code> when the task completes. If set to <code>true</code>, then you need to provide a report <code>Scope</code>, <code>Path</code>, and <code>Format</code>. Set <code>Enabled</code> to <code>False</code> if you do not want a <code>CompletionReport</code> generated when the task completes.</p>"
        },
        "Path":{
          "shape":"ArchivePath",
          "documentation":"<p>Required if <code>Enabled</code> is set to <code>true</code>. Specifies the location of the report on the file system's linked S3 data repository. An absolute path that defines where the completion report will be stored in the destination location. The <code>Path</code> you provide must be located within the file system’s ExportPath. An example <code>Path</code> value is \"s3://myBucket/myExportPath/optionalPrefix\". The report provides the following information for each file in the report: FilePath, FileStatus, and ErrorCode. To learn more about a file system's <code>ExportPath</code>, see . </p>"
        },
        "Format":{
          "shape":"ReportFormat",
          "documentation":"<p>Required if <code>Enabled</code> is set to <code>true</code>. Specifies the format of the <code>CompletionReport</code>. <code>REPORT_CSV_20191124</code> is the only format currently supported. When <code>Format</code> is set to <code>REPORT_CSV_20191124</code>, the <code>CompletionReport</code> is provided in CSV format, and is delivered to <code>{path}/task-{id}/failures.csv</code>. </p>"
        },
        "Scope":{
          "shape":"ReportScope",
          "documentation":"<p>Required if <code>Enabled</code> is set to <code>true</code>. Specifies the scope of the <code>CompletionReport</code>; <code>FAILED_FILES_ONLY</code> is the only scope currently supported. When <code>Scope</code> is set to <code>FAILED_FILES_ONLY</code>, the <code>CompletionReport</code> only contains information about files that the data repository task failed to process.</p>"
        }
      },
      "documentation":"<p>Provides a report detailing the data repository task results of the files processed that match the criteria specified in the report <code>Scope</code> parameter. FSx delivers the report to the file system's linked data repository in Amazon S3, using the path specified in the report <code>Path</code> parameter. You can specify whether or not a report gets generated for a task using the <code>Enabled</code> parameter.</p>"
    },
    "CoolingPeriod":{
      "type":"integer",
      "max":183,
      "min":2
    },
    "CopyBackupRequest":{
      "type":"structure",
      "required":["SourceBackupId"],
      "members":{
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        },
        "SourceBackupId":{
          "shape":"SourceBackupId",
          "documentation":"<p>The ID of the source backup. Specifies the ID of the backup that is being copied.</p>"
        },
        "SourceRegion":{
          "shape":"Region",
          "documentation":"<p>The source Amazon Web Services Region of the backup. Specifies the Amazon Web Services Region from which the backup is being copied. The source and destination Regions must be in the same Amazon Web Services partition. If you don't specify a Region, it defaults to the Region where the request is sent from (in-Region copy).</p>"
        },
        "KmsKeyId":{"shape":"KmsKeyId"},
        "CopyTags":{
          "shape":"Flag",
          "documentation":"<p>A boolean flag indicating whether tags from the source backup should be copied to the backup copy. This value defaults to false.</p> <p>If you set <code>CopyTags</code> to true and the source backup has existing tags, you can use the <code>Tags</code> parameter to create new tags, provided that the sum of the source backup tags and the new tags doesn't exceed 50. Both sets of tags are merged. If there are tag conflicts (for example, two tags with the same key but different values), the tags created with the <code>Tags</code> parameter take precedence.</p>"
        },
        "Tags":{"shape":"Tags"}
      }
    },
    "CopyBackupResponse":{
      "type":"structure",
      "members":{
        "Backup":{"shape":"Backup"}
      }
    },
    "CreateBackupRequest":{
      "type":"structure",
      "members":{
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>The ID of the file system to back up.</p>"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "documentation":"<p>(Optional) A string of up to 64 ASCII characters that Amazon FSx uses to ensure idempotent creation. This string is automatically filled on your behalf when you use the Command Line Interface (CLI) or an Amazon Web Services SDK.</p>",
          "idempotencyToken":true
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>(Optional) The tags to apply to the backup at backup creation. The key value of the <code>Name</code> tag appears in the console as the backup name. If you have set <code>CopyTagsToBackups</code> to true, and you specify one or more tags using the <code>CreateBackup</code> action, no existing file system tags are copied from the file system to the backup.</p>"
        },
        "VolumeId":{
          "shape":"VolumeId",
          "documentation":"<p>The ID of he FSx for NetApp ONTAP volume to back up.</p>"
        }
      },
      "documentation":"<p>The request object for the <code>CreateBackup</code> operation.</p>"
    },
    "CreateBackupResponse":{
      "type":"structure",
      "members":{
        "Backup":{
          "shape":"Backup",
          "documentation":"<p>A description of the backup.</p>"
        }
      },
      "documentation":"<p>The response object for the <code>CreateBackup</code> operation.</p>"
    },
    "CreateDataRepositoryTaskRequest":{
      "type":"structure",
      "required":[
        "Type",
        "FileSystemId",
        "Report"
      ],
      "members":{
        "Type":{
          "shape":"DataRepositoryTaskType",
          "documentation":"<p>Specifies the type of data repository task to create.</p>"
        },
        "Paths":{
          "shape":"DataRepositoryTaskPaths",
          "documentation":"<p>(Optional) The path or paths on the Amazon FSx file system to use when the data repository task is processed. The default path is the file system root directory. The paths you provide need to be relative to the mount point of the file system. If the mount point is <code>/mnt/fsx</code> and <code>/mnt/fsx/path1</code> is a directory or file on the file system you want to export, then the path to provide is <code>path1</code>. If a path that you provide isn't valid, the task fails.</p>"
        },
        "FileSystemId":{"shape":"FileSystemId"},
        "Report":{
          "shape":"CompletionReport",
          "documentation":"<p>Defines whether or not Amazon FSx provides a CompletionReport once the task has completed. A CompletionReport provides a detailed report on the files that Amazon FSx processed that meet the criteria specified by the <code>Scope</code> parameter. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/task-completion-report.html\">Working with Task Completion Reports</a>.</p>"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        },
        "Tags":{"shape":"Tags"}
      }
    },
    "CreateDataRepositoryTaskResponse":{
      "type":"structure",
      "members":{
        "DataRepositoryTask":{
          "shape":"DataRepositoryTask",
          "documentation":"<p>The description of the data repository task that you just created.</p>"
        }
      }
    },
    "CreateFileSystemFromBackupRequest":{
      "type":"structure",
      "required":[
        "BackupId",
        "SubnetIds"
      ],
      "members":{
        "BackupId":{"shape":"BackupId"},
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "documentation":"<p>A string of up to 64 ASCII characters that Amazon FSx uses to ensure idempotent creation. This string is automatically filled on your behalf when you use the Command Line Interface (CLI) or an Amazon Web Services SDK.</p>",
          "idempotencyToken":true
        },
        "SubnetIds":{
          "shape":"SubnetIds",
          "documentation":"<p>Specifies the IDs of the subnets that the file system will be accessible from. For Windows <code>MULTI_AZ_1</code> file system deployment types, provide exactly two subnet IDs, one for the preferred file server and one for the standby file server. You specify one of these subnets as the preferred subnet using the <code>WindowsConfiguration &gt; PreferredSubnetID</code> property.</p> <p>For Windows <code>SINGLE_AZ_1</code> and <code>SINGLE_AZ_2</code> deployment types and Lustre file systems, provide exactly one subnet ID. The file server is launched in that subnet's Availability Zone.</p>"
        },
        "SecurityGroupIds":{
          "shape":"SecurityGroupIds",
          "documentation":"<p>A list of IDs for the security groups that apply to the specified network interfaces created for file system access. These security groups apply to all network interfaces. This value isn't returned in later DescribeFileSystem requests.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>The tags to be applied to the file system at file system creation. The key value of the <code>Name</code> tag appears in the console as the file system name.</p>"
        },
        "WindowsConfiguration":{
          "shape":"CreateFileSystemWindowsConfiguration",
          "documentation":"<p>The configuration for this Microsoft Windows file system.</p>"
        },
        "LustreConfiguration":{"shape":"CreateFileSystemLustreConfiguration"},
        "StorageType":{
          "shape":"StorageType",
          "documentation":"<p>Sets the storage type for the Windows file system you're creating from a backup. Valid values are <code>SSD</code> and <code>HDD</code>.</p> <ul> <li> <p>Set to <code>SSD</code> to use solid state drive storage. Supported on all Windows deployment types.</p> </li> <li> <p>Set to <code>HDD</code> to use hard disk drive storage. Supported on <code>SINGLE_AZ_2</code> and <code>MULTI_AZ_1</code> Windows file system deployment types. </p> </li> </ul> <p> Default value is <code>SSD</code>. </p> <note> <p>HDD and SSD storage types have different minimum storage capacity requirements. A restored file system's storage capacity is tied to the file system that was backed up. You can create a file system that uses HDD storage from a backup of a file system that used SSD storage only if the original SSD file system had a storage capacity of at least 2000 GiB. </p> </note>"
        },
        "KmsKeyId":{"shape":"KmsKeyId"},
        "FileSystemTypeVersion":{
          "shape":"FileSystemTypeVersion",
          "documentation":"<p>Sets the version for the Amazon FSx for Lustre file system you're creating from a backup. Valid values are <code>2.10</code> and <code>2.12</code>.</p> <p>You don't need to specify <code>FileSystemTypeVersion</code> because it will be applied using the backup's <code>FileSystemTypeVersion</code> setting. If you choose to specify <code>FileSystemTypeVersion</code> when creating from backup, the value must match the backup's <code>FileSystemTypeVersion</code> setting.</p>"
        }
      },
      "documentation":"<p>The request object for the <code>CreateFileSystemFromBackup</code> operation.</p>"
    },
    "CreateFileSystemFromBackupResponse":{
      "type":"structure",
      "members":{
        "FileSystem":{
          "shape":"FileSystem",
          "documentation":"<p>A description of the file system.</p>"
        }
      },
      "documentation":"<p>The response object for the <code>CreateFileSystemFromBackup</code> operation.</p>"
    },
    "CreateFileSystemLustreConfiguration":{
      "type":"structure",
      "members":{
        "WeeklyMaintenanceStartTime":{
          "shape":"WeeklyTime",
          "documentation":"<p>(Optional) The preferred start time to perform weekly maintenance, formatted d:HH:MM in the UTC time zone, where d is the weekday number, from 1 through 7, beginning with Monday and ending with Sunday.</p>"
        },
        "ImportPath":{
          "shape":"ArchivePath",
          "documentation":"<p>(Optional) The path to the Amazon S3 bucket (including the optional prefix) that you're using as the data repository for your Amazon FSx for Lustre file system. The root of your FSx for Lustre file system will be mapped to the root of the Amazon S3 bucket you select. An example is <code>s3://import-bucket/optional-prefix</code>. If you specify a prefix after the Amazon S3 bucket name, only object keys with that prefix are loaded into the file system.</p>"
        },
        "ExportPath":{
          "shape":"ArchivePath",
          "documentation":"<p>(Optional) The path in Amazon S3 where the root of your Amazon FSx file system is exported. The path must use the same Amazon S3 bucket as specified in ImportPath. You can provide an optional prefix to which new and changed data is to be exported from your Amazon FSx for Lustre file system. If an <code>ExportPath</code> value is not provided, Amazon FSx sets a default export path, <code>s3://import-bucket/FSxLustre[creation-timestamp]</code>. The timestamp is in UTC format, for example <code>s3://import-bucket/FSxLustre20181105T222312Z</code>.</p> <p>The Amazon S3 export bucket must be the same as the import bucket specified by <code>ImportPath</code>. If you only specify a bucket name, such as <code>s3://import-bucket</code>, you get a 1:1 mapping of file system objects to S3 bucket objects. This mapping means that the input data in S3 is overwritten on export. If you provide a custom prefix in the export path, such as <code>s3://import-bucket/[custom-optional-prefix]</code>, Amazon FSx exports the contents of your file system to that export prefix in the Amazon S3 bucket.</p>"
        },
        "ImportedFileChunkSize":{
          "shape":"Megabytes",
          "documentation":"<p>(Optional) For files imported from a data repository, this value determines the stripe count and maximum amount of data per file (in MiB) stored on a single physical disk. The maximum number of disks that a single file can be striped across is limited by the total number of disks that make up the file system.</p> <p>The default chunk size is 1,024 MiB (1 GiB) and can go as high as 512,000 MiB (500 GiB). Amazon S3 objects have a maximum size of 5 TB.</p>"
        },
        "DeploymentType":{
          "shape":"LustreDeploymentType",
          "documentation":"<p> Choose <code>SCRATCH_1</code> and <code>SCRATCH_2</code> deployment types when you need temporary storage and shorter-term processing of data. The <code>SCRATCH_2</code> deployment type provides in-transit encryption of data and higher burst throughput capacity than <code>SCRATCH_1</code>.</p> <p>Choose <code>PERSISTENT_1</code> deployment type for longer-term storage and workloads and encryption of data in transit. To learn more about deployment types, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/lustre-deployment-types.html\"> FSx for Lustre Deployment Options</a>.</p> <p>Encryption of data in-transit is automatically enabled when you access a <code>SCRATCH_2</code> or <code>PERSISTENT_1</code> file system from Amazon EC2 instances that <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/data- protection.html\">support this feature</a>. (Default = <code>SCRATCH_1</code>) </p> <p>Encryption of data in-transit for <code>SCRATCH_2</code> and <code>PERSISTENT_1</code> deployment types is supported when accessed from supported instance types in supported Amazon Web Services Regions. To learn more, <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/encryption-in-transit-fsxl.html\">Encrypting Data in Transit</a>.</p>"
        },
        "AutoImportPolicy":{
          "shape":"AutoImportPolicyType",
          "documentation":"<p> (Optional) When you create your file system, your existing S3 objects appear as file and directory listings. Use this property to choose how Amazon FSx keeps your file and directory listings up to date as you add or modify objects in your linked S3 bucket. <code>AutoImportPolicy</code> can have the following values:</p> <ul> <li> <p> <code>NONE</code> - (Default) AutoImport is off. Amazon FSx only updates file and directory listings from the linked S3 bucket when the file system is created. FSx does not update file and directory listings for any new or changed objects after choosing this option.</p> </li> <li> <p> <code>NEW</code> - AutoImport is on. Amazon FSx automatically imports directory listings of any new objects added to the linked S3 bucket that do not currently exist in the FSx file system. </p> </li> <li> <p> <code>NEW_CHANGED</code> - AutoImport is on. Amazon FSx automatically imports file and directory listings of any new objects added to the S3 bucket and any existing objects that are changed in the S3 bucket after you choose this option. </p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/autoimport-data-repo.html\">Automatically import updates from your S3 bucket</a>.</p>"
        },
        "PerUnitStorageThroughput":{
          "shape":"PerUnitStorageThroughput",
          "documentation":"<p> Required for the <code>PERSISTENT_1</code> deployment type, describes the amount of read and write throughput for each 1 tebibyte of storage, in MB/s/TiB. File system throughput capacity is calculated by multiplying ﬁle system storage capacity (TiB) by the PerUnitStorageThroughput (MB/s/TiB). For a 2.4 TiB ﬁle system, provisioning 50 MB/s/TiB of PerUnitStorageThroughput yields 120 MB/s of ﬁle system throughput. You pay for the amount of throughput that you provision. </p> <p>Valid values for SSD storage: 50, 100, 200. Valid values for HDD storage: 12, 40.</p>"
        },
        "DailyAutomaticBackupStartTime":{"shape":"DailyTime"},
        "AutomaticBackupRetentionDays":{"shape":"AutomaticBackupRetentionDays"},
        "CopyTagsToBackups":{
          "shape":"Flag",
          "documentation":"<p>(Optional) Not available to use with file systems that are linked to a data repository. A boolean flag indicating whether tags for the file system should be copied to backups. The default value is false. If it's set to true, all file system tags are copied to all automatic and user-initiated backups when the user doesn't specify any backup-specific tags. If this value is true, and you specify one or more backup tags, only the specified tags are copied to backups. If you specify one or more tags when creating a user-initiated backup, no tags are copied from the file system, regardless of this value.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/using-backups-fsx.html\">Working with backups</a>.</p>"
        },
        "DriveCacheType":{
          "shape":"DriveCacheType",
          "documentation":"<p>The type of drive cache used by PERSISTENT_1 file systems that are provisioned with HDD storage devices. This parameter is required when storage type is HDD. Set to <code>READ</code>, improve the performance for frequently accessed files and allows 20% of the total storage capacity of the file system to be cached. </p> <p>This parameter is required when <code>StorageType</code> is set to HDD.</p>"
        },
        "DataCompressionType":{
          "shape":"DataCompressionType",
          "documentation":"<p>Sets the data compression configuration for the file system. <code>DataCompressionType</code> can have the following values:</p> <ul> <li> <p> <code>NONE</code> - (Default) Data compression is turned off when the file system is created.</p> </li> <li> <p> <code>LZ4</code> - Data compression is turned on with the LZ4 algorithm.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/data-compression.html\">Lustre data compression</a>.</p>"
        }
      },
      "documentation":"<p>The Lustre configuration for the file system being created. </p>"
    },
    "CreateFileSystemOntapConfiguration":{
      "type":"structure",
      "required":[
        "DeploymentType",
        "ThroughputCapacity"
      ],
      "members":{
        "AutomaticBackupRetentionDays":{"shape":"AutomaticBackupRetentionDays"},
        "DailyAutomaticBackupStartTime":{"shape":"DailyTime"},
        "DeploymentType":{
          "shape":"OntapDeploymentType",
          "documentation":"<p>Specifies the ONTAP file system deployment type to use in creating the file system.</p>"
        },
        "EndpointIpAddressRange":{
          "shape":"IpAddressRange",
          "documentation":"<p>Specifies the IP address range in which the endpoints to access your file system will be created. By default, Amazon FSx selects an unused IP address range for you from the 198.19.* range.</p>"
        },
        "FsxAdminPassword":{
          "shape":"AdminPassword",
          "documentation":"<p>The ONTAP administrative password for the <code>fsxadmin</code> user that you can use to administer your file system using the ONTAP CLI and REST API.</p>"
        },
        "DiskIopsConfiguration":{
          "shape":"DiskIopsConfiguration",
          "documentation":"<p>The SSD IOPS configuration for the Amazon FSx for NetApp ONTAP file system.</p>"
        },
        "PreferredSubnetId":{"shape":"SubnetId"},
        "RouteTableIds":{
          "shape":"RouteTableIds",
          "documentation":"<p>Specifies the VPC route tables in which your file system's endpoints will be created. You should specify all VPC route tables associated with the subnets in which your clients are located. By default, Amazon FSx selects your VPC's default route table.</p>"
        },
        "ThroughputCapacity":{"shape":"MegabytesPerSecond"},
        "WeeklyMaintenanceStartTime":{"shape":"WeeklyTime"}
      },
      "documentation":"<p>The ONTAP configuration properties of the FSx for NetApp ONTAP file system that you are creating.</p>"
    },
    "CreateFileSystemRequest":{
      "type":"structure",
      "required":[
        "FileSystemType",
        "StorageCapacity",
        "SubnetIds"
      ],
      "members":{
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "documentation":"<p>A string of up to 64 ASCII characters that Amazon FSx uses to ensure idempotent creation. This string is automatically filled on your behalf when you use the Command Line Interface (CLI) or an Amazon Web Services SDK.</p>",
          "idempotencyToken":true
        },
        "FileSystemType":{
          "shape":"FileSystemType",
          "documentation":"<p>The type of Amazon FSx file system to create. Valid values are <code>WINDOWS</code>, <code>LUSTRE</code>, and <code>ONTAP</code>.</p>"
        },
        "StorageCapacity":{
          "shape":"StorageCapacity",
          "documentation":"<p>Sets the storage capacity of the file system that you're creating.</p> <p>For Lustre file systems:</p> <ul> <li> <p>For <code>SCRATCH_2</code> and <code>PERSISTENT_1 SSD</code> deployment types, valid values are 1200 GiB, 2400 GiB, and increments of 2400 GiB.</p> </li> <li> <p>For <code>PERSISTENT HDD</code> file systems, valid values are increments of 6000 GiB for 12 MB/s/TiB file systems and increments of 1800 GiB for 40 MB/s/TiB file systems.</p> </li> <li> <p>For <code>SCRATCH_1</code> deployment type, valid values are 1200 GiB, 2400 GiB, and increments of 3600 GiB.</p> </li> </ul> <p>For Windows file systems:</p> <ul> <li> <p>If <code>StorageType=SSD</code>, valid values are 32 GiB - 65,536 GiB (64 TiB).</p> </li> <li> <p>If <code>StorageType=HDD</code>, valid values are 2000 GiB - 65,536 GiB (64 TiB).</p> </li> </ul> <p>For ONTAP file systems:</p> <ul> <li> <p>Valid values are 1024 GiB - 196,608 GiB (192 TiB).</p> </li> </ul>"
        },
        "StorageType":{
          "shape":"StorageType",
          "documentation":"<p>Sets the storage type for the file system you're creating. Valid values are <code>SSD</code> and <code>HDD</code>.</p> <ul> <li> <p>Set to <code>SSD</code> to use solid state drive storage. SSD is supported on all Windows, Lustre, and ONTAP deployment types.</p> </li> <li> <p>Set to <code>HDD</code> to use hard disk drive storage. HDD is supported on <code>SINGLE_AZ_2</code> and <code>MULTI_AZ_1</code> Windows file system deployment types, and on <code>PERSISTENT</code> Lustre file system deployment types. </p> </li> </ul> <p> Default value is <code>SSD</code>. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/optimize-fsx-costs.html#storage-type-options\"> Storage Type Options</a> in the <i>Amazon FSx for Windows User Guide</i> and <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/what-is.html#storage-options\">Multiple Storage Options</a> in the <i>Amazon FSx for Lustre User Guide</i>. </p>"
        },
        "SubnetIds":{
          "shape":"SubnetIds",
          "documentation":"<p>Specifies the IDs of the subnets that the file system will be accessible from. For Windows and ONTAP <code>MULTI_AZ_1</code> file system deployment types, provide exactly two subnet IDs, one for the preferred file server and one for the standby file server. You specify one of these subnets as the preferred subnet using the <code>WindowsConfiguration &gt; PreferredSubnetID</code> or <code>OntapConfiguration &gt; PreferredSubnetID</code> properties. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/high-availability-multiAZ.html\"> Availability and durability: Single-AZ and Multi-AZ file systems</a> in the <i>Amazon FSx for Windows User Guide</i> and <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/high-availability-multiAZ.html\"> Availability and durability</a> in the <i>Amazon FSx for ONTAP User Guide</i>.</p> <p>For Windows <code>SINGLE_AZ_1</code> and <code>SINGLE_AZ_2</code> file system deployment types and Lustre file systems, provide exactly one subnet ID. The file server is launched in that subnet's Availability Zone.</p>"
        },
        "SecurityGroupIds":{
          "shape":"SecurityGroupIds",
          "documentation":"<p>A list of IDs specifying the security groups to apply to all network interfaces created for file system access. This list isn't returned in later requests to describe the file system.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>The tags to apply to the file system being created. The key value of the <code>Name</code> tag appears in the console as the file system name.</p>"
        },
        "KmsKeyId":{"shape":"KmsKeyId"},
        "WindowsConfiguration":{
          "shape":"CreateFileSystemWindowsConfiguration",
          "documentation":"<p>The Microsoft Windows configuration for the file system being created. </p>"
        },
        "LustreConfiguration":{"shape":"CreateFileSystemLustreConfiguration"},
        "OntapConfiguration":{"shape":"CreateFileSystemOntapConfiguration"},
        "FileSystemTypeVersion":{
          "shape":"FileSystemTypeVersion",
          "documentation":"<p>Sets the version of the Amazon FSx for Lustre file system you're creating. Valid values are <code>2.10</code> and <code>2.12</code>.</p> <ul> <li> <p>Set the value to <code>2.10</code> to create a Lustre 2.10 file system.</p> </li> <li> <p>Set the value to <code>2.12</code> to create a Lustre 2.12 file system.</p> </li> </ul> <p>Default value is <code>2.10</code>.</p>"
        }
      },
      "documentation":"<p>The request object used to create a new Amazon FSx file system.</p>"
    },
    "CreateFileSystemResponse":{
      "type":"structure",
      "members":{
        "FileSystem":{
          "shape":"FileSystem",
          "documentation":"<p>The configuration of the file system that was created.</p>"
        }
      },
      "documentation":"<p>The response object returned after the file system is created.</p>"
    },
    "CreateFileSystemWindowsConfiguration":{
      "type":"structure",
      "required":["ThroughputCapacity"],
      "members":{
        "ActiveDirectoryId":{
          "shape":"DirectoryId",
          "documentation":"<p>The ID for an existing Amazon Web Services Managed Microsoft Active Directory (AD) instance that the file system should join when it's created.</p>"
        },
        "SelfManagedActiveDirectoryConfiguration":{"shape":"SelfManagedActiveDirectoryConfiguration"},
        "DeploymentType":{
          "shape":"WindowsDeploymentType",
          "documentation":"<p>Specifies the file system deployment type, valid values are the following:</p> <ul> <li> <p> <code>MULTI_AZ_1</code> - Deploys a high availability file system that is configured for Multi-AZ redundancy to tolerate temporary Availability Zone (AZ) unavailability. You can only deploy a Multi-AZ file system in Amazon Web Services Regions that have a minimum of three Availability Zones. Also supports HDD storage type</p> </li> <li> <p> <code>SINGLE_AZ_1</code> - (Default) Choose to deploy a file system that is configured for single AZ redundancy.</p> </li> <li> <p> <code>SINGLE_AZ_2</code> - The latest generation Single AZ file system. Specifies a file system that is configured for single AZ redundancy and supports HDD storage type.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/high-availability-multiAZ.html\"> Availability and Durability: Single-AZ and Multi-AZ File Systems</a>.</p>"
        },
        "PreferredSubnetId":{
          "shape":"SubnetId",
          "documentation":"<p>Required when <code>DeploymentType</code> is set to <code>MULTI_AZ_1</code>. This specifies the subnet in which you want the preferred file server to be located. For in-Amazon Web Services applications, we recommend that you launch your clients in the same Availability Zone (AZ) as your preferred file server to reduce cross-AZ data transfer costs and minimize latency. </p>"
        },
        "ThroughputCapacity":{
          "shape":"MegabytesPerSecond",
          "documentation":"<p>The throughput of an Amazon FSx file system, measured in megabytes per second, in 2 to the <i>n</i>th increments, between 2^3 (8) and 2^11 (2048).</p>"
        },
        "WeeklyMaintenanceStartTime":{
          "shape":"WeeklyTime",
          "documentation":"<p>The preferred start time to perform weekly maintenance, formatted d:HH:MM in the UTC time zone, where d is the weekday number, from 1 through 7, beginning with Monday and ending with Sunday.</p>"
        },
        "DailyAutomaticBackupStartTime":{
          "shape":"DailyTime",
          "documentation":"<p>The preferred time to take daily automatic backups, formatted HH:MM in the UTC time zone.</p>"
        },
        "AutomaticBackupRetentionDays":{
          "shape":"AutomaticBackupRetentionDays",
          "documentation":"<p>The number of days to retain automatic backups. The default is to retain backups for 7 days. Setting this value to 0 disables the creation of automatic backups. The maximum retention period for backups is 90 days.</p>"
        },
        "CopyTagsToBackups":{
          "shape":"Flag",
          "documentation":"<p>A boolean flag indicating whether tags for the file system should be copied to backups. This value defaults to false. If it's set to true, all tags for the file system are copied to all automatic and user-initiated backups where the user doesn't specify tags. If this value is true, and you specify one or more tags, only the specified tags are copied to backups. If you specify one or more tags when creating a user-initiated backup, no tags are copied from the file system, regardless of this value.</p>"
        },
        "Aliases":{
          "shape":"AlternateDNSNames",
          "documentation":"<p>An array of one or more DNS alias names that you want to associate with the Amazon FSx file system. Aliases allow you to use existing DNS names to access the data in your Amazon FSx file system. You can associate up to 50 aliases with a file system at any time. You can associate additional DNS aliases after you create the file system using the AssociateFileSystemAliases operation. You can remove DNS aliases from the file system after it is created using the DisassociateFileSystemAliases operation. You only need to specify the alias name in the request payload.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">Working with DNS Aliases</a> and <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/walkthrough05-file-system-custom-CNAME.html\">Walkthrough 5: Using DNS aliases to access your file system</a>, including additional steps you must take to be able to access your file system using a DNS alias.</p> <p>An alias name has to meet the following requirements:</p> <ul> <li> <p>Formatted as a fully-qualified domain name (FQDN), <code>hostname.domain</code>, for example, <code>accounting.example.com</code>.</p> </li> <li> <p>Can contain alphanumeric characters, the underscore (_), and the hyphen (-).</p> </li> <li> <p>Cannot start or end with a hyphen.</p> </li> <li> <p>Can start with a numeric.</p> </li> </ul> <p>For DNS alias names, Amazon FSx stores alphabetic characters as lowercase letters (a-z), regardless of how you specify them: as uppercase letters, lowercase letters, or the corresponding letters in escape codes.</p>"
        },
        "AuditLogConfiguration":{
          "shape":"WindowsAuditLogCreateConfiguration",
          "documentation":"<p>The configuration that Amazon FSx for Windows File Server uses to audit and log user accesses of files, folders, and file shares on the Amazon FSx for Windows File Server file system.</p>"
        }
      },
      "documentation":"<p>The configuration object for the Microsoft Windows file system used in <code>CreateFileSystem</code> and <code>CreateFileSystemFromBackup</code> operations.</p>"
    },
    "CreateOntapVolumeConfiguration":{
      "type":"structure",
      "required":[
        "JunctionPath",
        "SizeInMegabytes",
        "StorageEfficiencyEnabled",
        "StorageVirtualMachineId"
      ],
      "members":{
        "JunctionPath":{
          "shape":"JunctionPath",
          "documentation":"<p>Specifies the location in the SVM's namespace where the volume is mounted. The <code>JunctionPath</code> must have a leading forward slash, such as <code>/vol3</code>.</p>"
        },
        "SecurityStyle":{
          "shape":"SecurityStyle",
          "documentation":"<p>The security style for the volume. Specify one of the following values:</p> <ul> <li> <p> <code>UNIX</code> if the file system is managed by a UNIX administrator, the majority of users are NFS clients, and an application accessing the data uses a UNIX user as the service account. <code>UNIX</code> is the default.</p> </li> <li> <p> <code>NTFS</code> if the file system is managed by a Windows administrator, the majority of users are SMB clients, and an application accessing the data uses a Windows user as the service account.</p> </li> <li> <p> <code>MIXED</code> if the file system is managed by both UNIX and Windows administrators and users consist of both NFS and SMB clients.</p> </li> </ul>"
        },
        "SizeInMegabytes":{
          "shape":"VolumeCapacity",
          "documentation":"<p>Specifies the size of the volume, in megabytes (MB), that you are creating.</p>"
        },
        "StorageEfficiencyEnabled":{
          "shape":"Flag",
          "documentation":"<p>Set to true to enable deduplication, compression, and compaction storage efficiency features on the volume.</p>"
        },
        "StorageVirtualMachineId":{
          "shape":"StorageVirtualMachineId",
          "documentation":"<p>Specifies the ONTAP SVM in which to create the volume.</p>"
        },
        "TieringPolicy":{"shape":"TieringPolicy"}
      },
      "documentation":"<p>Specifies the configuration of the ONTAP volume that you are creating.</p>"
    },
    "CreateStorageVirtualMachineRequest":{
      "type":"structure",
      "required":[
        "FileSystemId",
        "Name"
      ],
      "members":{
        "ActiveDirectoryConfiguration":{
          "shape":"CreateSvmActiveDirectoryConfiguration",
          "documentation":"<p>Describes the self-managed Microsoft Active Directory to which you want to join the SVM. Joining an Active Directory provides user authentication and access control for SMB clients, including Microsoft Windows and macOS client accessing the file system.</p>"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        },
        "FileSystemId":{"shape":"FileSystemId"},
        "Name":{
          "shape":"StorageVirtualMachineName",
          "documentation":"<p>The name of the SVM.</p>"
        },
        "SvmAdminPassword":{
          "shape":"AdminPassword",
          "documentation":"<p>The password to use when managing the SVM using the NetApp ONTAP CLI or REST API. If you do not specify a password, you can still use the file system's <code>fsxadmin</code> user to manage the SVM.</p>"
        },
        "Tags":{"shape":"Tags"},
        "RootVolumeSecurityStyle":{
          "shape":"StorageVirtualMachineRootVolumeSecurityStyle",
          "documentation":"<p>The security style of the root volume of the SVM. Specify one of the following values:</p> <ul> <li> <p> <code>UNIX</code> if the file system is managed by a UNIX administrator, the majority of users are NFS clients, and an application accessing the data uses a UNIX user as the service account.</p> </li> <li> <p> <code>NTFS</code> if the file system is managed by a Windows administrator, the majority of users are SMB clients, and an application accessing the data uses a Windows user as the service account.</p> </li> <li> <p> <code>MIXED</code> if the file system is managed by both UNIX and Windows administrators and users consist of both NFS and SMB clients.</p> </li> </ul>"
        }
      }
    },
    "CreateStorageVirtualMachineResponse":{
      "type":"structure",
      "members":{
        "StorageVirtualMachine":{
          "shape":"StorageVirtualMachine",
          "documentation":"<p>Returned after a successful <code>CreateStorageVirtualMachine</code> operation; describes the SVM just created.</p>"
        }
      }
    },
    "CreateSvmActiveDirectoryConfiguration":{
      "type":"structure",
      "required":["NetBiosName"],
      "members":{
        "NetBiosName":{
          "shape":"NetBiosAlias",
          "documentation":"<p>The NetBIOS name of the Active Directory computer object that will be created for your SVM.</p>"
        },
        "SelfManagedActiveDirectoryConfiguration":{"shape":"SelfManagedActiveDirectoryConfiguration"}
      },
      "documentation":"<p>The configuration that Amazon FSx uses to join the ONTAP storage virtual machine (SVM) to your self-managed (including on-premises) Microsoft Active Directory (AD) directory.</p>"
    },
    "CreateVolumeFromBackupRequest":{
      "type":"structure",
      "required":[
        "BackupId",
        "Name"
      ],
      "members":{
        "BackupId":{"shape":"BackupId"},
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        },
        "Name":{
          "shape":"VolumeName",
          "documentation":"<p>The name of the new volume you're creating.</p>"
        },
        "OntapConfiguration":{
          "shape":"CreateOntapVolumeConfiguration",
          "documentation":"<p>Specifies the configuration of the ONTAP volume that you are creating.</p>"
        },
        "Tags":{"shape":"Tags"}
      }
    },
    "CreateVolumeFromBackupResponse":{
      "type":"structure",
      "members":{
        "Volume":{
          "shape":"Volume",
          "documentation":"<p>Returned after a successful <code>CreateVolumeFromBackup</code> API operation, describing the volume just created.</p>"
        }
      }
    },
    "CreateVolumeRequest":{
      "type":"structure",
      "required":[
        "VolumeType",
        "Name"
      ],
      "members":{
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        },
        "VolumeType":{
          "shape":"VolumeType",
          "documentation":"<p>Specifies the type of volume to create; <code>ONTAP</code> is the only valid volume type.</p>"
        },
        "Name":{
          "shape":"VolumeName",
          "documentation":"<p>Specifies the name of the volume you're creating.</p>"
        },
        "OntapConfiguration":{
          "shape":"CreateOntapVolumeConfiguration",
          "documentation":"<p>Specifies the <code>ONTAP</code> configuration to use in creating the volume.</p>"
        },
        "Tags":{"shape":"Tags"}
      }
    },
    "CreateVolumeResponse":{
      "type":"structure",
      "members":{
        "Volume":{
          "shape":"Volume",
          "documentation":"<p>Returned after a successful <code>CreateVolume</code> API operation, describing the volume just created.</p>"
        }
      }
    },
    "CreationTime":{
      "type":"timestamp",
      "documentation":"<p>The time that the resource was created, in seconds (since 1970-01-01T00:00:00Z), also known as Unix time.</p>"
    },
    "DNSName":{
      "type":"string",
      "documentation":"<p>The Domain Name Service (DNS) name for the file system. You can mount your file system using its DNS name.</p>",
      "max":275,
      "min":16,
      "pattern":"^(fsi?-[0-9a-f]{8,}\\..{4,253})$"
    },
    "DailyTime":{
      "type":"string",
      "documentation":"<p>A recurring daily time, in the format <code>HH:MM</code>. <code>HH</code> is the zero-padded hour of the day (0-23), and <code>MM</code> is the zero-padded minute of the hour. For example, <code>05:00</code> specifies 5 AM daily. </p>",
      "max":5,
      "min":5,
      "pattern":"^([01]\\d|2[0-3]):?([0-5]\\d)$"
    },
    "DataCompressionType":{
      "type":"string",
      "enum":[
[...]
