{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2025-10-30",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"network-security-manager",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AWS Network Security Manager Customer API",
    "serviceId":"Network Security Manager",
    "signatureVersion":"v4",
    "signingName":"network-security-manager",
    "uid":"network-security-manager-2025-10-30"
  },
  "operations":{
    "CreateDeployment":{
      "name":"CreateDeployment",
      "http":{
        "method":"POST",
        "requestUri":"/deployments",
        "responseCode":201
      },
      "input":{"shape":"CreateDeploymentInput"},
      "output":{"shape":"CreateDeploymentOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"TagPolicyViolationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a deployment. A deployment applies one or more policies to the accounts and resources selected by a scope. Use <code>isPublished</code> to create the deployment in published (<code>ACTIVE</code>) or draft (<code>DRAFT</code>) state. The response includes coverage information and any warnings about the deployment.</p>",
      "idempotent":true
    },
    "CreateDeploymentSnapshot":{
      "name":"CreateDeploymentSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/deployments/{deploymentIdentifier}/snapshots",
        "responseCode":201
      },
      "input":{"shape":"CreateDeploymentSnapshotInput"},
      "output":{"shape":"CreateDeploymentSnapshotOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a snapshot of the current published version of the specified deployment.</p>",
      "idempotent":true
    },
    "CreatePolicy":{
      "name":"CreatePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/policies",
        "responseCode":201
      },
      "input":{"shape":"CreatePolicyInput"},
      "output":{"shape":"CreatePolicyOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"TagPolicyViolationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a policy. A policy combines templates and rules with enforcement settings for a firewall type, such as AWS WAF or AWS Shield Advanced. Use <code>isPublished</code> to create the policy in published (<code>ACTIVE</code>) or draft (<code>DRAFT</code>) state.</p>",
      "idempotent":true
    },
    "CreatePolicySnapshot":{
      "name":"CreatePolicySnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/policies/{policyIdentifier}/snapshots",
        "responseCode":201
      },
      "input":{"shape":"CreatePolicySnapshotInput"},
      "output":{"shape":"CreatePolicySnapshotOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a snapshot of the current published version of the specified policy.</p>",
      "idempotent":true
    },
    "CreateRule":{
      "name":"CreateRule",
      "http":{
        "method":"POST",
        "requestUri":"/rules",
        "responseCode":201
      },
      "input":{"shape":"CreateRuleInput"},
      "output":{"shape":"CreateRuleOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"TagPolicyViolationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a rule. A rule defines a network security configuration to enforce, such as an AWS WAF rule group or configuration data. Use <code>isPublished</code> to create the rule in published (<code>ACTIVE</code>) or draft (<code>DRAFT</code>) state.</p>",
      "idempotent":true
    },
    "CreateRuleSnapshot":{
      "name":"CreateRuleSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/rules/{ruleIdentifier}/snapshots",
        "responseCode":201
      },
      "input":{"shape":"CreateRuleSnapshotInput"},
      "output":{"shape":"CreateRuleSnapshotOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a snapshot of the current published version of the specified rule. A snapshot is an immutable, versioned copy that other resources can reference.</p>",
      "idempotent":true
    },
    "CreateScope":{
      "name":"CreateScope",
      "http":{
        "method":"POST",
        "requestUri":"/scopes",
        "responseCode":201
      },
      "input":{"shape":"CreateScopeInput"},
      "output":{"shape":"CreateScopeOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"TagPolicyViolationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a scope. A scope selects the accounts and resources that a deployment applies to. Use <code>isPublished</code> to create the scope in published (<code>ACTIVE</code>) or draft (<code>DRAFT</code>) state.</p>",
      "idempotent":true
    },
    "CreateScopeSnapshot":{
      "name":"CreateScopeSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/scopes/{scopeIdentifier}/snapshots",
        "responseCode":201
      },
      "input":{"shape":"CreateScopeSnapshotInput"},
      "output":{"shape":"CreateScopeSnapshotOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a snapshot of the current published version of the specified scope.</p>",
      "idempotent":true
    },
    "CreateTemplate":{
      "name":"CreateTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/templates",
        "responseCode":201
      },
      "input":{"shape":"CreateTemplateInput"},
      "output":{"shape":"CreateTemplateOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"TagPolicyViolationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a template. A template groups one or more rules to simplify reuse across policies. You can also associate rules with a policy directly, without a template. Use <code>isPublished</code> to create the template in published (<code>ACTIVE</code>) or draft (<code>DRAFT</code>) state.</p>",
      "idempotent":true
    },
    "CreateTemplateSnapshot":{
      "name":"CreateTemplateSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/templates/{templateIdentifier}/snapshots",
        "responseCode":201
      },
      "input":{"shape":"CreateTemplateSnapshotInput"},
      "output":{"shape":"CreateTemplateSnapshotOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a snapshot of the current published version of the specified template.</p>",
      "idempotent":true
    },
    "DeleteAdminAccount":{
      "name":"DeleteAdminAccount",
      "http":{
        "method":"DELETE",
        "requestUri":"/admin-account/{accountId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAdminAccountRequest"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Removes the specified AWS Network Security Manager administrator account.</p>",
      "idempotent":true
    },
    "DeleteDeployment":{
      "name":"DeleteDeployment",
      "http":{
        "method":"DELETE",
        "requestUri":"/deployments/{deploymentIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteDeploymentInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes the specified deployment.</p>",
      "idempotent":true
    },
    "DeletePolicy":{
      "name":"DeletePolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/policies/{policyIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeletePolicyInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes the specified policy.</p>",
      "idempotent":true
    },
    "DeleteRule":{
      "name":"DeleteRule",
      "http":{
        "method":"DELETE",
        "requestUri":"/rules/{ruleIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteRuleInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes the specified rule.</p>",
      "idempotent":true
    },
    "DeleteScope":{
      "name":"DeleteScope",
      "http":{
        "method":"DELETE",
        "requestUri":"/scopes/{scopeIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteScopeInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes the specified scope.</p>",
      "idempotent":true
    },
    "DeleteTemplate":{
      "name":"DeleteTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/templates/{templateIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteTemplateInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes the specified template.</p>",
      "idempotent":true
    },
    "GenerateRuleConfiguration":{
      "name":"GenerateRuleConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/GenerateRuleConfiguration",
        "responseCode":200
      },
      "input":{"shape":"GenerateRuleConfigurationRequest"},
      "output":{"shape":"GenerateRuleConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Generates a rule configuration from a natural-language description. Provide a prompt along with the rule's firewall type and rule type. The service returns a configuration that you can use when you create or update a rule. If you also provide an existing configuration, the service edits that configuration instead of generating a new one.</p>"
    },
    "GetAdminAccount":{
      "name":"GetAdminAccount",
      "http":{
        "method":"GET",
        "requestUri":"/admin-account/{accountId}",
        "responseCode":200
      },
      "input":{"shape":"GetAdminAccountRequest"},
      "output":{"shape":"GetAdminAccountResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the details of the specified AWS Network Security Manager administrator account.</p>",
      "readonly":true
    },
    "GetDeployment":{
      "name":"GetDeployment",
      "http":{
        "method":"GET",
        "requestUri":"/deployments/{deploymentIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetDeploymentInput"},
      "output":{"shape":"GetDeploymentOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the details of the specified deployment, including coverage information and any warnings.</p>",
      "readonly":true
    },
    "GetPolicy":{
      "name":"GetPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/policies/{policyIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetPolicyInput"},
      "output":{"shape":"GetPolicyOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the details of the specified policy.</p>",
      "readonly":true
    },
    "GetRule":{
      "name":"GetRule",
      "http":{
        "method":"GET",
        "requestUri":"/rules/{ruleIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetRuleInput"},
      "output":{"shape":"GetRuleOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the details of the specified rule.</p>",
      "readonly":true
    },
    "GetScope":{
      "name":"GetScope",
      "http":{
        "method":"GET",
        "requestUri":"/scopes/{scopeIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetScopeInput"},
      "output":{"shape":"GetScopeOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the details of the specified scope.</p>",
      "readonly":true
    },
    "GetTemplate":{
      "name":"GetTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/templates/{templateIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetTemplateInput"},
      "output":{"shape":"GetTemplateOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the details of the specified template.</p>",
      "readonly":true
    },
    "ListAdminAccounts":{
      "name":"ListAdminAccounts",
      "http":{
        "method":"GET",
        "requestUri":"/admin-accounts",
        "responseCode":200
      },
      "input":{"shape":"ListAdminAccountsRequest"},
      "output":{"shape":"ListAdminAccountsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the AWS Network Security Manager administrator accounts in the organization.</p>",
      "readonly":true
    },
    "ListAggregateResourceSynchronizationStatuses":{
      "name":"ListAggregateResourceSynchronizationStatuses",
      "http":{
        "method":"GET",
        "requestUri":"/aggregate-sync-statuses",
        "responseCode":200
      },
      "input":{"shape":"ListAggregateResourceSynchronizationStatusesInput"},
      "output":{"shape":"ListAggregateResourceSynchronizationStatusesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the aggregated synchronization statuses of resources across the deployments in your administrator account. You can filter the results by synchronization status and page through them.</p>",
      "readonly":true
    },
    "ListDeploymentSnapshots":{
      "name":"ListDeploymentSnapshots",
      "http":{
        "method":"GET",
        "requestUri":"/deployments/{deploymentIdentifier}/snapshots",
        "responseCode":200
      },
      "input":{"shape":"ListDeploymentSnapshotsInput"},
      "output":{"shape":"ListDeploymentSnapshotsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the snapshots of the specified deployment.</p>",
      "readonly":true
    },
    "ListDeployments":{
      "name":"ListDeployments",
      "http":{
        "method":"GET",
        "requestUri":"/deployments",
        "responseCode":200
      },
      "input":{"shape":"ListDeploymentsInput"},
      "output":{"shape":"ListDeploymentsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the deployments in the account. You can filter the results by status and page through them using <code>maxResults</code> and <code>nextToken</code>.</p>",
      "readonly":true
    },
    "ListPolicies":{
      "name":"ListPolicies",
      "http":{
        "method":"GET",
        "requestUri":"/policies",
        "responseCode":200
      },
      "input":{"shape":"ListPoliciesInput"},
      "output":{"shape":"ListPoliciesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the policies in the account. You can filter the results by status and page through them using <code>maxResults</code> and <code>nextToken</code>.</p>",
      "readonly":true
    },
    "ListPolicySnapshots":{
      "name":"ListPolicySnapshots",
      "http":{
        "method":"GET",
        "requestUri":"/policies/{policyIdentifier}/snapshots",
        "responseCode":200
      },
      "input":{"shape":"ListPolicySnapshotsInput"},
      "output":{"shape":"ListPolicySnapshotsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the snapshots of the specified policy.</p>",
      "readonly":true
    },
    "ListResourceAssociations":{
      "name":"ListResourceAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/resource-associations",
        "responseCode":200
      },
      "input":{"shape":"ListResourceAssociationsInput"},
      "output":{"shape":"ListResourceAssociationsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the resources associated with the specified resource.</p>",
      "readonly":true
    },
    "ListResourceSynchronizationStatuses":{
      "name":"ListResourceSynchronizationStatuses",
      "http":{
        "method":"GET",
        "requestUri":"/resource-sync-statuses",
        "responseCode":200
      },
      "input":{"shape":"ListResourceSynchronizationStatusesInput"},
      "output":{"shape":"ListResourceSynchronizationStatusesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the synchronization statuses of the resources covered by the specified deployment. You can filter the results by synchronization status and page through them.</p>",
      "readonly":true
    },
    "ListRuleSnapshots":{
      "name":"ListRuleSnapshots",
      "http":{
        "method":"GET",
        "requestUri":"/rules/{ruleIdentifier}/snapshots",
        "responseCode":200
      },
      "input":{"shape":"ListRuleSnapshotsInput"},
      "output":{"shape":"ListRuleSnapshotsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the snapshots of the specified rule.</p>",
      "readonly":true
    },
    "ListRules":{
      "name":"ListRules",
      "http":{
        "method":"GET",
        "requestUri":"/rules",
        "responseCode":200
      },
      "input":{"shape":"ListRulesInput"},
      "output":{"shape":"ListRulesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the rules in the account. You can filter the results by status and page through them using <code>maxResults</code> and <code>nextToken</code>.</p>",
      "readonly":true
    },
    "ListScopeSnapshots":{
      "name":"ListScopeSnapshots",
      "http":{
        "method":"GET",
        "requestUri":"/scopes/{scopeIdentifier}/snapshots",
        "responseCode":200
      },
      "input":{"shape":"ListScopeSnapshotsInput"},
      "output":{"shape":"ListScopeSnapshotsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the snapshots of the specified scope.</p>",
      "readonly":true
    },
    "ListScopes":{
      "name":"ListScopes",
      "http":{
        "method":"GET",
        "requestUri":"/scopes",
        "responseCode":200
      },
      "input":{"shape":"ListScopesInput"},
      "output":{"shape":"ListScopesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the scopes in the account. You can filter the results by status and page through them using <code>maxResults</code> and <code>nextToken</code>.</p>",
      "readonly":true
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceInput"},
      "output":{"shape":"ListTagsForResourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the tags associated with the specified resource.</p>",
      "readonly":true
    },
    "ListTemplateSnapshots":{
      "name":"ListTemplateSnapshots",
      "http":{
        "method":"GET",
        "requestUri":"/templates/{templateIdentifier}/snapshots",
        "responseCode":200
      },
      "input":{"shape":"ListTemplateSnapshotsInput"},
      "output":{"shape":"ListTemplateSnapshotsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the snapshots of the specified template.</p>",
      "readonly":true
    },
    "ListTemplates":{
      "name":"ListTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/templates",
        "responseCode":200
      },
      "input":{"shape":"ListTemplatesInput"},
      "output":{"shape":"ListTemplatesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the templates in the account. You can filter the results by status and page through them using <code>maxResults</code> and <code>nextToken</code>.</p>",
      "readonly":true
    },
    "PutAdminAccount":{
      "name":"PutAdminAccount",
      "http":{
        "method":"PUT",
        "requestUri":"/admin-account",
        "responseCode":200
      },
      "input":{"shape":"PutAdminAccountRequest"},
      "output":{"shape":"PutAdminAccountResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Sets the AWS account that serves as an AWS Network Security Manager administrator account, and optionally configures the scope of resources that the administrator can manage.</p> <p>You can't set an administrator account again immediately after you remove it, or while the service creates its service-linked role. Retry the request after a few minutes.</p>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"TagResourceInput"},
      "output":{"shape":"TagResourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"TagPolicyViolationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Adds or overwrites the specified tags on the given resource.</p>",
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceInput"},
      "output":{"shape":"UntagResourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"TagPolicyViolationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Removes the specified tags from the given resource.</p>",
      "idempotent":true
    },
    "UpdateDeployment":{
      "name":"UpdateDeployment",
      "http":{
        "method":"PATCH",
        "requestUri":"/deployments/{deploymentIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateDeploymentInput"},
      "output":{"shape":"UpdateDeploymentOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the specified deployment. To prevent conflicting concurrent updates, provide the current <code>updateToken</code>. Use <code>isPublished</code> to publish the update or keep the deployment as a draft.</p>",
      "idempotent":true
    },
    "UpdatePolicy":{
      "name":"UpdatePolicy",
      "http":{
        "method":"PATCH",
        "requestUri":"/policies/{policyIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdatePolicyInput"},
      "output":{"shape":"UpdatePolicyOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the specified policy. To prevent conflicting concurrent updates, provide the current <code>updateToken</code>. Use <code>isPublished</code> to publish the update or keep the policy as a draft.</p>",
      "idempotent":true
    },
    "UpdateRule":{
      "name":"UpdateRule",
      "http":{
        "method":"PATCH",
        "requestUri":"/rules/{ruleIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateRuleInput"},
      "output":{"shape":"UpdateRuleOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the specified rule. To prevent conflicting concurrent updates, provide the current <code>updateToken</code>. Use <code>isPublished</code> to publish the update or keep the rule as a draft.</p>",
      "idempotent":true
    },
    "UpdateScope":{
      "name":"UpdateScope",
      "http":{
        "method":"PATCH",
        "requestUri":"/scopes/{scopeIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateScopeInput"},
      "output":{"shape":"UpdateScopeOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the specified scope. To prevent conflicting concurrent updates, provide the current <code>updateToken</code>. Use <code>isPublished</code> to publish the update or keep the scope as a draft.</p>",
      "idempotent":true
    },
    "UpdateTemplate":{
      "name":"UpdateTemplate",
      "http":{
        "method":"PATCH",
        "requestUri":"/templates/{templateIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateTemplateInput"},
      "output":{"shape":"UpdateTemplateOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the specified template. To prevent conflicting concurrent updates, provide the current <code>updateToken</code>. Use <code>isPublished</code> to publish the update or keep the template as a draft.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>You do not have sufficient permissions to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccountFilter":{
      "type":"structure",
      "members":{
        "includeAll":{
          "shape":"Unit",
          "documentation":"<p>Includes all accounts. No account filtering is applied.</p>"
        },
        "include":{
          "shape":"AccountSet",
          "documentation":"<p>Includes only the specified accounts and organizational units.</p>"
        },
        "exclude":{
          "shape":"AccountSet",
          "documentation":"<p>Excludes the specified accounts and organizational units. All others are in scope.</p>"
        }
      },
      "documentation":"<p>Determines which accounts are in scope. Exactly one of <code>includeAll</code>, <code>include</code>, or <code>exclude</code> is set.</p>",
      "union":true
    },
    "AccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"(?:[0-9]{12})"
    },
    "AccountIdList":{
      "type":"list",
      "member":{"shape":"AccountId"},
      "max":1000,
      "min":0
    },
    "AccountList":{
      "type":"list",
      "member":{"shape":"AccountId"},
      "max":1000,
      "min":0
    },
    "AccountReference":{
      "type":"structure",
      "required":["accountId"],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The AWS account ID.</p>"
        },
        "name":{
          "shape":"SensitiveAccountName",
          "documentation":"<p>The display name of the account.</p>"
        },
        "email":{
          "shape":"SensitiveAccountEmail",
          "documentation":"<p>The email address associated with the account.</p>"
        }
      },
      "documentation":"<p>A reference to an AWS account, with optional display metadata.</p>"
    },
    "AccountReferenceList":{
      "type":"list",
      "member":{"shape":"AccountReference"},
      "max":1000,
      "min":0
    },
    "AccountSet":{
      "type":"structure",
      "members":{
        "accountIds":{
          "shape":"AccountList",
          "documentation":"<p>The list of AWS account IDs.</p>"
        },
        "organizationalUnits":{
          "shape":"OrganizationalUnitList",
          "documentation":"<p>The AWS Organizations organizational units (OUs) in the selection.</p>"
        }
      },
      "documentation":"<p>A set of AWS accounts and organizational units.</p>"
    },
    "AdminAccountDetails":{
      "type":"structure",
      "required":[
        "adminAccount",
        "priority"
      ],
      "members":{
        "adminAccount":{
          "shape":"AccountId",
          "documentation":"<p>The AWS account ID of the administrator account.</p>"
        },
        "priority":{
          "shape":"AdminPriority",
          "documentation":"<p>The priority assigned to the administrator account.</p>"
        },
        "adminScope":{
          "shape":"AdminScope",
          "documentation":"<p>The administrative scope, which defines the accounts, organizational units, and firewall types that the administrator can manage.</p>"
        },
        "status":{
          "shape":"AdminAccountStatus",
          "documentation":"<p>The status of the administrator account, either <code>ONBOARDED</code> or <code>OFFBOARDED</code>.</p>"
        }
      },
      "documentation":"<p>The details of an AWS Network Security Manager administrator account.</p>"
    },
    "AdminAccountStatus":{
      "type":"string",
      "enum":[
        "ONBOARDED",
        "OFFBOARDED"
      ]
    },
    "AdminAccountSummary":{
      "type":"structure",
      "required":["accountId"],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The AWS account ID.</p>"
        },
        "priority":{
          "shape":"AdminPriority",
          "documentation":"<p>The priority assigned to the administrator account.</p>"
        },
        "name":{
          "shape":"SensitiveName",
          "documentation":"<p>The name of the administrator account.</p>"
        },
        "email":{
          "shape":"SensitiveEmail",
          "documentation":"<p>The email address associated with the account.</p>"
        }
      },
      "documentation":"<p>Summary information about an AWS Network Security Manager administrator account.</p>"
    },
    "AdminAccountSummaryList":{
      "type":"list",
      "member":{"shape":"AdminAccountSummary"},
      "max":100,
      "min":0
    },
    "AdminFirewallTypeScope":{
      "type":"structure",
      "members":{
        "allFirewallTypesEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the administrator can manage all firewall types, except for third-party firewall types.</p>"
        },
        "firewallTypes":{
          "shape":"FirewallTypeList",
          "documentation":"<p>The list of firewall types that the administrator can manage.</p>"
        }
      },
      "documentation":"<p>Defines the firewall types that an administrator can create and manage.</p>"
    },
    "AdminPriority":{
      "type":"integer",
      "box":true,
      "max":10,
      "min":1
    },
    "AdminScope":{
      "type":"structure",
      "members":{
        "scopeFilter":{
          "shape":"AdminScopeFilter",
          "documentation":"<p>The filter that determines which accounts and organizational units are in the administrator's scope.</p>"
        },
        "firewallTypeScope":{
          "shape":"AdminFirewallTypeScope",
          "documentation":"<p>The firewall types that the administrator can create and manage.</p>"
        }
      },
      "documentation":"<p>Defines the accounts, organizational units, and firewall types that an administrator can manage.</p>"
    },
    "AdminScopeFilter":{
      "type":"structure",
      "members":{
        "includeAll":{
          "shape":"Unit",
          "documentation":"<p>All accounts and organizational units are in scope.</p>"
        },
        "includeOnly":{
          "shape":"AdminScopeSelection",
          "documentation":"<p>Only the specified accounts and organizational units are in the administrator's scope.</p>"
        },
        "excludeOnly":{
          "shape":"AdminScopeSelection",
          "documentation":"<p>The accounts and organizational units to exclude from the administrator's scope. All others are in scope.</p>"
        }
      },
      "documentation":"<p>Determines which accounts and organizational units are in an administrator's scope. This is the reference form, which includes display metadata.</p>",
      "union":true
    },
    "AdminScopeFilterInput":{
      "type":"structure",
      "members":{
        "includeAll":{
          "shape":"Unit",
          "documentation":"<p>All accounts and organizational units are in scope.</p>"
        },
        "includeOnly":{
          "shape":"AdminScopeSelectionInput",
          "documentation":"<p>Only the specified accounts and organizational units are in the administrator's scope.</p>"
        },
        "excludeOnly":{
          "shape":"AdminScopeSelectionInput",
          "documentation":"<p>The accounts and organizational units to exclude from the administrator's scope. All others are in scope.</p>"
        }
      },
      "documentation":"<p>Determines which accounts and organizational units are in an administrator's scope. This is the input form, which uses account and organizational unit IDs.</p>",
      "union":true
    },
    "AdminScopeInput":{
      "type":"structure",
      "members":{
        "scopeFilter":{
          "shape":"AdminScopeFilterInput",
          "documentation":"<p>The filter that determines which accounts and organizational units are in the administrator's scope.</p>"
        },
        "firewallTypeScope":{
          "shape":"AdminFirewallTypeScope",
          "documentation":"<p>The firewall types that the administrator can create and manage.</p>"
        }
      },
      "documentation":"<p>The administrative scope configuration provided on input, using account and organizational unit IDs.</p>"
    },
    "AdminScopeSelection":{
      "type":"structure",
      "members":{
        "accounts":{
          "shape":"AccountReferenceList",
          "documentation":"<p>The AWS accounts in the selection.</p>"
        },
        "organizationalUnits":{
          "shape":"OrganizationalUnitReferenceList",
          "documentation":"<p>The AWS Organizations organizational units (OUs) in the selection.</p>"
        }
      },
      "documentation":"<p>A selection of accounts and organizational units. This is the reference form, which includes display metadata.</p>"
    },
    "AdminScopeSelectionInput":{
      "type":"structure",
      "members":{
        "accounts":{
          "shape":"AccountIdList",
          "documentation":"<p>The AWS accounts in the selection.</p>"
        },
        "organizationalUnits":{
          "shape":"OrganizationalUnitIdList",
          "documentation":"<p>The AWS Organizations organizational units (OUs) in the selection.</p>"
        }
      },
      "documentation":"<p>A selection of accounts and organizational units. This is the input form, which uses account and organizational unit IDs.</p>"
    },
    "AlbConfiguration":{
      "type":"structure",
      "members":{
        "scheme":{
          "shape":"Scheme",
          "documentation":"<p>The scheme of the Application Load Balancer, either <code>internet-facing</code> or <code>internal</code>.</p>"
        },
        "ipAddressType":{
          "shape":"IpAddressType",
          "documentation":"<p>The IP address type of the Application Load Balancer.</p>"
        }
      },
      "documentation":"<p>Filter criteria specific to Application Load Balancers.</p>"
    },
    "Arn":{
      "type":"string",
      "max":1010,
      "min":20,
      "pattern":"arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:(.+)"
    },
    "AssociatedPolicy":{
      "type":"structure",
      "required":["policyArn"],
      "members":{
        "policyArn":{
          "shape":"PolicyArn",
          "documentation":"<p>The ARN of the associated policy, including its version qualifier when a specific published version is pinned (for example, <code>...:policy:abc123:3</code>).</p>"
        }
      },
      "documentation":"<p>An association between a deployment and a policy, as returned in outputs. The corresponding request structure is <code>PolicyReference</code>.</p>"
    },
    "AssociatedPolicyList":{
      "type":"list",
      "member":{"shape":"AssociatedPolicy"},
      "max":2,
      "min":1
    },
    "AssociatedRule":{
      "type":"structure",
      "required":["ruleArn"],
      "members":{
        "ruleArn":{
          "shape":"RuleArn",
          "documentation":"<p>The ARN of the associated rule.</p>"
        }
      },
      "documentation":"<p>An association between a template and a rule, as returned in outputs. The corresponding request structure is <code>RuleReference</code>.</p>"
    },
    "AssociatedRuleList":{
      "type":"list",
      "member":{"shape":"AssociatedRule"},
      "max":50,
      "min":1
    },
    "AssociatedScope":{
      "type":"structure",
      "required":["scopeArn"],
      "members":{
        "scopeArn":{
          "shape":"ScopeArn",
          "documentation":"<p>The ARN of the associated scope.</p>"
        }
      },
      "documentation":"<p>An association between a deployment and a scope, as returned in outputs. The corresponding request structure is <code>ScopeReference</code>.</p>"
    },
    "AssociatedScopeList":{
      "type":"list",
      "member":{"shape":"AssociatedScope"},
      "max":1,
      "min":1
    },
    "AssociatedTemplateAndRuleList":{
      "type":"list",
      "member":{"shape":"AssociatedTemplateOrRule"},
      "max":100,
      "min":0
    },
    "AssociatedTemplateOrRule":{
      "type":"structure",
      "members":{
        "templateArn":{
          "shape":"TemplateArn",
          "documentation":"<p>The ARN of the associated template.</p>"
        },
        "ruleArn":{
          "shape":"RuleArn",
          "documentation":"<p>The ARN of the associated rule.</p>"
        }
      },
      "documentation":"<p>An association between a policy and either a template or a rule, as returned in outputs. Exactly one of <code>templateArn</code> or <code>ruleArn</code> is set. The corresponding request structure is <code>TemplateOrRuleReference</code>.</p>",
      "union":true
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "ConfigurationIssue":{
      "type":"structure",
      "members":{
        "configurationName":{
          "shape":"String",
          "documentation":"<p>The name of the configuration setting that is in conflict.</p>"
        },
        "expectedValue":{
          "shape":"String",
          "documentation":"<p>The configuration value that AWS Network Security Manager expected.</p>"
        },
        "actualValue":{
          "shape":"String",
          "documentation":"<p>The configuration value that was found on the resource.</p>"
        }
      },
      "documentation":"<p>Describes a single configuration value that does not match the intended configuration.</p>"
    },
    "ConfigurationIssueList":{
      "type":"list",
      "member":{"shape":"ConfigurationIssue"},
      "max":100,
      "min":0
    },
    "ConflictException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{
          "shape":"String",
          "documentation":"<p>The ID of the resource that is in conflict with the request.</p>"
        },
        "resourceType":{
          "shape":"String",
          "documentation":"<p>The type of the resource that is in conflict with the request.</p>"
        }
      },
      "documentation":"<p>The request conflicts with the current state of the resource. For example, the resource was modified concurrently, or it is in a state that does not allow the requested operation.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CreateDeploymentInput":{
      "type":"structure",
      "required":[
        "deploymentName",
        "deploymentConfiguration",
        "associatedPolicyList",
        "associatedScopeList"
      ],
      "members":{
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive token that you provide to ensure that the operation completes no more than one time. If you retry a request with the same client token and the same parameters, the service returns the result of the original successful request.</p>",
          "idempotencyToken":true
        },
        "deploymentName":{
          "shape":"DeploymentName",
          "documentation":"<p>The name of the deployment.</p>"
        },
        "deploymentDescription":{
          "shape":"Description",
          "documentation":"<p>A description of the deployment.</p>"
        },
        "deploymentConfiguration":{
          "shape":"DeploymentConfiguration",
          "documentation":"<p>The configuration settings for the deployment.</p>"
        },
        "associatedPolicyList":{
          "shape":"PolicyReferenceList",
          "documentation":"<p>The policies associated with the deployment.</p>"
        },
        "associatedScopeList":{
          "shape":"ScopeReferenceList",
          "documentation":"<p>The scope associated with the deployment. A deployment has exactly one scope.</p>"
        },
        "isPublished":{
          "shape":"IsPublished",
          "documentation":"<p>Specifies whether to publish the resource. When <code>true</code>, the resource is saved in published (<code>ACTIVE</code>) state. When <code>false</code>, it is saved as a draft (<code>DRAFT</code>). Default: <code>true</code>.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to add to the resource when it is created.</p>"
        }
      }
    },
    "CreateDeploymentOutput":{
      "type":"structure",
      "required":[
        "deploymentId",
        "deploymentArn",
        "deploymentName",
        "status",
        "associatedPolicyList",
        "associatedScopeList",
        "version"
      ],
      "members":{
        "deploymentId":{
          "shape":"DeploymentId",
          "documentation":"<p>The service-generated id of the deployment.</p>"
        },
        "deploymentArn":{
          "shape":"DeploymentArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the deployment.</p>"
        },
        "deploymentName":{
          "shape":"DeploymentName",
          "documentation":"<p>The name of the deployment.</p>"
        },
        "deploymentDescription":{
          "shape":"Description",
          "documentation":"<p>A description of the deployment.</p>"
        },
        "status":{
          "shape":"EntityStatus",
          "documentation":"<p>The current status of the resource: <code>DRAFT</code> (unpublished, editable) or <code>ACTIVE</code> (published, in use).</p>"
        },
        "deploymentConfiguration":{
          "shape":"DeploymentConfiguration",
          "documentation":"<p>The configuration settings for the deployment.</p>"
        },
        "associatedPolicyList":{
          "shape":"AssociatedPolicyList",
          "documentation":"<p>The policies associated with the deployment.</p>"
        },
        "associatedScopeList":{
          "shape":"AssociatedScopeList",
          "documentation":"<p>The scope associated with the deployment. A deployment has exactly one scope.</p>"
        },
        "version":{
          "shape":"EntityVersion",
          "documentation":"<p>The version of the resource.</p>"
        },
        "updateToken":{
          "shape":"UpdateToken",
          "documentation":"<p>A token used for optimistic concurrency control. Each read and write returns an <code>updateToken</code>. Provide the most recent value on your next update to detect and prevent conflicting concurrent modifications.</p>"
        },
        "isSnapshot":{
          "shape":"IsSnapshot",
          "documentation":"<p>Specifies whether the resource is a snapshot of a published version.</p>"
        },
        "hasPublishedVersion":{
          "shape":"HasPublishedVersion",
          "documentation":"<p>Specifies whether a published version of the resource exists.</p>"
        },
        "deploymentCoverage":{
          "shape":"DeploymentCoverageList",
          "documentation":"<p>The coverage information for the deployment. For each firewall type, it shows which policies have that firewall type and which in-scope resource types the firewall type protects.</p>"
        },
        "warnings":{
          "shape":"DeploymentWarningList",
          "documentation":"<p>Warnings about potential issues, such as a policy that has no applicable resources in the deployment's scope.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time when the resource was last updated.</p>"
        }
      }
    },
    "CreateDeploymentSnapshotInput":{
      "type":"structure",
      "required":["deploymentIdentifier"],
      "members":{
        "deploymentIdentifier":{
          "shape":"DeploymentIdentifier",
          "documentation":"<p>The identifier of the deployment. This is the deployment's Amazon Resource Name (ARN).</p>",
          "location":"uri",
          "locationName":"deploymentIdentifier"
        },
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive token that you provide to ensure that the operation completes no more than one time. If you retry a request with the same client token and the same parameters, the service returns the result of the original successful request.</p>",
          "idempotencyToken":true
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to add to the snapshot when it is created.</p>"
        }
      }
    },
    "CreateDeploymentSnapshotOutput":{
      "type":"structure",
      "required":[
        "deploymentId",
        "deploymentArn",
        "deploymentName",
        "status",
        "associatedPolicyList",
        "associatedScopeList",
        "version"
      ],
      "members":{
        "deploymentId":{
          "shape":"DeploymentId",
          "documentation":"<p>The service-generated id of the deployment.</p>"
        },
        "deploymentArn":{
          "shape":"DeploymentArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the deployment.</p>"
        },
        "deploymentName":{
          "shape":"DeploymentName",
          "documentation":"<p>The name of the deployment.</p>"
        },
        "deploymentDescription":{
          "shape":"Description",
          "documentation":"<p>A description of the deployment.</p>"
        },
        "status":{
          "shape":"EntityStatus",
          "documentation":"<p>The current status of the resource: <code>DRAFT</code> (unpublished, editable) or <code>ACTIVE</code> (published, in use).</p>"
        },
        "deploymentConfiguration":{
          "shape":"DeploymentConfiguration",
          "documentation":"<p>The configuration settings for the deployment.</p>"
        },
        "associatedPolicyList":{
          "shape":"AssociatedPolicyList",
          "documentation":"<p>The policies associated with the deployment.</p>"
        },
        "associatedScopeList":{
          "shape":"AssociatedScopeList",
          "documentation":"<p>The scope associated with the deployment. A deployment has exactly one scope.</p>"
        },
        "version":{
          "shape":"EntityVersion",
          "documentation":"<p>The version of the resource.</p>"
        },
        "updateToken":{
          "shape":"UpdateToken",
          "documentation":"<p>A token used for optimistic concurrency control. Each read and write returns an <code>updateToken</code>. Provide the most recent value on your next update to detect and prevent conflicting concurrent modifications.</p>"
        },
        "isSnapshot":{
          "shape":"IsSnapshot",
          "documentation":"<p>Specifies whether the resource is a snapshot of a published version.</p>"
        },
        "hasPublishedVersion":{
          "shape":"HasPublishedVersion",
          "documentation":"<p>Specifies whether a published version of the resource exists.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time when the snapshot was created.</p>"
        }
      }
    },
    "CreatePolicyInput":{
      "type":"structure",
      "required":[
        "policyName",
        "priority",
        "firewallType",
        "policyConfiguration"
      ],
      "members":{
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive token that you provide to ensure that the operation completes no more than one time. If you retry a request with the same client token and the same parameters, the service returns the result of the original successful request.</p>",
          "idempotencyToken":true
        },
        "policyName":{
          "shape":"PolicyName",
          "documentation":"<p>The name of the policy.</p>"
        },
        "policyDescription":{
          "shape":"Description",
          "documentation":"<p>A description of the policy.</p>"
        },
        "priority":{
          "shape":"Priority",
          "documentation":"<p>The priority of the resource. A lower number indicates a higher priority.</p>"
        },
        "associatedTemplateAndRuleList":{
          "shape":"TemplateAndRuleReferenceList",
          "documentation":"<p>The templates and rules to associate with the policy. For AWS WAF policies, specify 1 to 100 templates or rules, of which at most 2 can be templates. For AWS Shield Advanced policies, this list must be empty.</p>"
        },
        "firewallType":{
          "shape":"PolicyFirewallType",
          "documentation":"<p>The firewall type associated with the resource.</p>"
        },
        "policyConfiguration":{
          "shape":"PolicyConfiguration",
          "documentation":"<p>The configuration settings that control the policy's behavior, including remediation and firewall-type-specific settings.</p>"
        },
        "isPublished":{
          "shape":"IsPublished",
          "documentation":"<p>Specifies whether to publish the resource. When <code>true</code>, the resource is saved in published (<code>ACTIVE</code>) state. When <code>false</code>, it is saved as a draft (<code>DRAFT</code>). Default: <code>true</code>.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to add to the resource when it is created.</p>"
        }
      }
    },
    "CreatePolicyOutput":{
      "type":"structure",
      "required":[
        "policyId",
        "policyArn",
        "policyName",
        "status",
        "priority",
        "associatedTemplateAndRuleList",
        "version",
        "firewallType"
      ],
      "members":{
        "policyId":{
          "shape":"PolicyId",
          "documentation":"<p>The service-generated id of the policy.</p>"
        },
        "policyArn":{
          "shape":"PolicyArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the policy.</p>"
        },
        "policyName":{
          "shape":"PolicyName",
          "documentation":"<p>The name of the policy.</p>"
        },
        "policyDescription":{
          "shape":"Description",
          "documentation":"<p>A description of the policy.</p>"
        },
        "status":{
          "shape":"EntityStatus",
          "documentation":"<p>The current status of the resource: <code>DRAFT</code> (unpublished, editable) or <code>ACTIVE</code> (published, in use).</p>"
        },
        "priority":{
          "shape":"Priority",
          "documentation":"<p>The priority of the resource. A lower number indicates a higher priority.</p>"
        },
        "associatedTemplateAndRuleList":{
          "shape":"AssociatedTemplateAndRuleList",
          "documentation":"<p>The templates and rules associated with the policy. For AWS WAF policies, this list contains 1 to 100 templates or rules, of which at most 2 can be templates. For AWS Shield Advanced policies, this list is empty.</p>"
        },
        "version":{
          "shape":"EntityVersion",
          "documentation":"<p>The version of the resource.</p>"
        },
        "updateToken":{
          "shape":"UpdateToken",
          "documentation":"<p>A token used for optimistic concurrency control. Each read and write returns an <code>updateToken</code>. Provide the most recent value on your next update to detect and prevent conflicting concurrent modifications.</p>"
        },
        "isSnapshot":{
          "shape":"IsSnapshot",
          "documentation":"<p>Specifies whether the resource is a snapshot of a published version.</p>"
        },
        "hasPublishedVersion":{
          "shape":"HasPublishedVersion",
          "documentation":"<p>Specifies whether a published version of the resource exists.</p>"
        },
        "firewallType":{
          "shape":"PolicyFirewallType",
          "documentation":"<p>The firewall type associated with the resource.</p>"
        },
        "policyConfiguration":{
          "shape":"PolicyConfiguration",
          "documentation":"<p>The configuration settings that control the policy's behavior, including remediation and firewall-type-specific settings.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time when the resource was last updated.</p>"
        }
      }
    },
    "CreatePolicySnapshotInput":{
      "type":"structure",
      "required":["policyIdentifier"],
      "members":{
        "policyIdentifier":{
          "shape":"PolicyIdentifier",
          "documentation":"<p>The identifier of the policy. This is the policy's Amazon Resource Name (ARN).</p>",
          "location":"uri",
          "locationName":"policyIdentifier"
        },
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive token that you provide to ensure that the operation completes no more than one time. If you retry a request with the same client token and the same parameters, the service returns the result of the original successful request.</p>",
          "idempotencyToken":true
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to add to the snapshot when it is created.</p>"
        }
      }
    },
    "CreatePolicySnapshotOutput":{
      "type":"structure",
      "required":[
        "policyId",
        "policyArn",
        "policyName",
        "status",
        "priority",
        "associatedTemplateAndRuleList",
        "version",
        "firewallType"
      ],
      "members":{
        "policyId":{
          "shape":"PolicyId",
          "documentation":"<p>The service-generated id of the policy.</p>"
        },
        "policyArn":{
          "shape":"PolicyArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the policy.</p>"
        },
        "policyName":{
          "shape":"PolicyName",
          "documentation":"<p>The name of the policy.</p>"
        },
        "policyDescription":{
          "shape":"Description",
          "documentation":"<p>A description of the policy.</p>"
        },
        "status":{
          "shape":"EntityStatus",
          "documentation":"<p>The current status of the resource: <code>DRAFT</code> (unpublished, editable) or <code>ACTIVE</code> (published, in use).</p>"
        },
        "priority":{
          "shape":"Priority",
          "documentation":"<p>The priority of the resource. A lower number indicates a higher priority.</p>"
        },
        "associatedTemplateAndRuleList":{
          "shape":"AssociatedTemplateAndRuleList",
          "documentation":"<p>The templates and rules associated with the policy. For AWS WAF policies, this list contains 1 to 100 templates or rules, of which at most 2 can be templates. For AWS Shield Advanced policies, this list is empty.</p>"
        },
        "version":{
          "shape":"EntityVersion",
          "documentation":"<p>The version of the resource.</p>"
        },
        "updateToken":{
          "shape":"UpdateToken",
          "documentation":"<p>A token used for optimistic concurrency control. Each read and write returns an <code>updateToken</code>. Provide the most recent value on your next update to detect and prevent conflicting concurrent modifications.</p>"
        },
        "isSnapshot":{
          "shape":"IsSnapshot",
          "documentation":"<p>Specifies whether the resource is a snapshot of a published version.</p>"
        },
        "hasPublishedVersion":{
          "shape":"HasPublishedVersion",
          "documentation":"<p>Specifies whether a published version of the resource exists.</p>"
        },
        "firewallType":{
          "shape":"PolicyFirewallType",
          "documentation":"<p>The firewall type associated with the resource.</p>"
        },
        "policyConfiguration":{
          "shape":"PolicyConfiguration",
          "documentation":"<p>The configuration settings that control the policy's behavior, including remediation and firewall-type-specific settings.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time when the snapshot was created.</p>"
        }
      }
    },
    "CreateRuleInput":{
      "type":"structure",
      "required":[
        "ruleName",
        "firewallType",
        "ruleType",
        "configuration"
      ],
      "members":{
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive token that you provide to ensure that the operation completes no more than one time. If you retry a request with the same client token and the same parameters, the service returns the result of the original successful request.</p>",
          "idempotencyToken":true
        },
        "ruleName":{
          "shape":"RuleName",
          "documentation":"<p>The name of the rule.</p>"
        },
        "firewallType":{
          "shape":"RuleFirewallType",
          "documentation":"<p>The firewall type associated with the resource.</p>"
        },
        "ruleType":{
          "shape":"RuleType",
          "documentation":"<p>The type of the rule. <code>CONFIGURATION</code> rules contain firewall settings, and <code>INSPECTION</code> rules contain rule groups.</p>"
        },
        "ruleDescription":{
          "shape":"Description",
          "documentation":"<p>A description of the rule.</p>"
        },
        "configuration":{
          "shape":"JsonDocument",
          "documentation":"<p>The firewall configuration for the rule, as a JSON document. The structure depends on the rule's firewall type and rule type. For an AWS WAF <code>INSPECTION</code> rule, provide an AWS WAF rule group. For an AWS WAF <code>CONFIGURATION</code> rule, provide a single web ACL setting, such as <code>DefaultAction</code> or <code>VisibilityConfig</code>; use <code>wafConfigDataType</code> to declare which setting the document contains. For the schema of each setting and complete examples, see <a href=\"https://docs.aws.amazon.com/network-security-manager/latest/devguide/what-is.html\">Writing rule configurations</a> in the <i>AWS Network Security Manager Developer Guide</i>.</p>"
        },
        "isPublished":{
          "shape":"IsPublished",
          "documentation":"<p>Specifies whether to publish the resource. When <code>true</code>, the resource is saved in published (<code>ACTIVE</code>) state. When <code>false</code>, it is saved as a draft (<code>DRAFT</code>). Default: <code>true</code>.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to add to the resource when it is created.</p>"
        }
      }
    },
    "CreateRuleOutput":{
      "type":"structure",
      "required":[
        "ruleId",
        "ruleArn",
        "ruleName",
        "firewallType",
        "configuration",
        "status",
        "version"
      ],
      "members":{
        "ruleId":{
          "shape":"RuleId",
          "documentation":"<p>The service-generated id of the rule.</p>"
        },
        "ruleArn":{
          "shape":"RuleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the rule.</p>"
        },
        "ruleName":{
          "shape":"RuleName",
          "documentation":"<p>The name of the rule.</p>"
        },
        "firewallType":{
          "shape":"RuleFirewallType",
          "documentation":"<p>The firewall type associated with the resource.</p>"
        },
        "ruleType":{
          "shape":"RuleType",
          "documentation":"<p>The type of the rule. <code>CONFIGURATION</code> rules contain firewall settings, and <code>INSPECTION</code> rules contain rule groups.</p>"
        },
        "ruleDescription":{
          "shape":"Description",
          "documentation":"<p>A description of the rule.</p>"
        },
        "configuration":{
          "shape":"JsonDocument",
          "documentation":"<p>The firewall configuration for the rule, as a JSON document. The structure depends on the rule's firewall type and rule type.</p>"
        },
        "status":{
          "shape":"EntityStatus",
          "documentation":"<p>The current status of the resource: <code>DRAFT</code> (unpublished, editable) or <code>ACTIVE</code> (published, in use).</p>"
        },
        "version":{
          "shape":"EntityVersion",
          "documentation":"<p>The version of the resource.</p>"
        },
        "updateToken":{
          "shape":"UpdateToken",
          "documentation":"<p>A token used for optimistic concurrency control. Each read and write returns an <code>updateToken</code>. Provide the most recent value on your next update to detect and prevent conflicting concurrent modifications.</p>"
        },
        "isSnapshot":{
          "shape":"IsSnapshot",
          "documentation":"<p>Specifies whether the resource is a snapshot of a published version.</p>"
        },
        "hasPublishedVersion":{
          "shape":"HasPublishedVersion",
          "documentation":"<p>Specifies whether a published version of the resource exists.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time when the resource was last updated.</p>"
        }
      }
    },
    "CreateRuleSnapshotInput":{
      "type":"structure",
      "required":["ruleIdentifier"],
      "members":{
        "ruleIdentifier":{
          "shape":"RuleIdentifier",
          "documentation":"<p>The identifier of the rule. This is the rule's Amazon Resource Name (ARN).</p>",
          "location":"uri",
          "locationName":"ruleIdentifier"
        },
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive token that you provide to ensure that the operation completes no more than one time. If you retry a request with the same client token and the same parameters, the service returns the result of the original successful request.</p>",
          "idempotencyToken":true
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to add to the snapshot when it is created.</p>"
        }
      }
    },
    "CreateRuleSnapshotOutput":{
      "type":"structure",
      "required":[
        "ruleId",
        "ruleArn",
        "ruleName",
        "firewallType",
        "configuration",
        "status",
        "version"
      ],
      "members":{
        "ruleId":{
          "shape":"RuleId",
          "documentation":"<p>The service-generated id of the rule.</p>"
        },
        "ruleArn":{
          "shape":"RuleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the rule.</p>"
        },
        "ruleName":{
          "shape":"RuleName",
          "documentation":"<p>The name of the rule.</p>"
        },
        "firewallType":{
          "shape":"RuleFirewallType",
          "documentation":"<p>The firewall type associated with the resource.</p>"
        },
        "ruleType":{
          "shape":"RuleType",
          "documentation":"<p>The type of the rule. <code>CONFIGURATION</code> rules contain firewall settings, and <code>INSPECTION</code> rules contain rule groups.</p>"
        },
        "ruleDescription":{
          "shape":"Description",
          "documentation":"<p>A description of the rule.</p>"
        },
        "configuration":{
          "shape":"JsonDocument",
          "documentation":"<p>The firewall configuration for the rule, as a JSON document. The structure depends on the rule's firewall type and rule type.</p>"
        },
        "status":{
          "shape":"EntityStatus",
          "documentation":"<p>The current status of the resource: <code>DRAFT</code> (unpublished, editable) or <code>ACTIVE</code> (published, in use).</p>"
        },
        "version":{
          "shape":"EntityVersion",
          "documentation":"<p>The version of the resource.</p>"
        },
        "updateToken":{
          "shape":"UpdateToken",
          "documentation":"<p>A token used for optimistic concurrency control. Each read and write returns an <code>updateToken</code>. Provide the most recent value on your next update to detect and prevent conflicting concurrent modifications.</p>"
        },
        "isSnapshot":{
          "shape":"IsSnapshot",
          "documentation":"<p>Specifies whether the resource is a snapshot of a published version.</p>"
        },
        "hasPublishedVersion":{
          "shape":"HasPublishedVersion",
          "documentation":"<p>Specifies whether a published version of the resource exists.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time when the snapshot was created.</p>"
        }
      }
    },
    "CreateScopeInput":{
      "type":"structure",
      "required":[
        "scopeName",
        "scopeConfiguration"
      ],
      "members":{
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive token that you provide to ensure that the operation completes no more than one time. If you retry a request with the same client token and the same parameters, the service returns the result of the original successful request.</p>",
          "idempotencyToken":true
        },
        "scopeName":{
          "shape":"ScopeName",
          "documentation":"<p>The name of the scope.</p>"
        },
        "scopeDescription":{
          "shape":"Description",
          "documentation":"<p>A description of the scope.</p>"
        },
        "scopeConfiguration":{
          "shape":"ScopeConfiguration",
          "documentation":"<p>The configuration that defines which accounts and resources are in scope.</p>"
        },
        "isPublished":{
          "shape":"IsPublished",
          "documentation":"<p>Specifies whether to publish the resource. When <code>true</code>, the resource is saved in published (<code>ACTIVE</code>) state. When <code>false</code>, it is saved as a draft (<code>DRAFT</code>). Default: <code>true</code>.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to add to the resource when it is created.</p>"
        }
      }
    },
    "CreateScopeOutput":{
      "type":"structure",
      "required":[
        "scopeId",
        "scopeArn",
        "scopeName",
        "status",
        "version"
      ],
      "members":{
        "scopeId":{
          "shape":"ScopeId",
          "documentation":"<p>The service-generated id of the scope.</p>"
        },
        "scopeArn":{
          "shape":"ScopeArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the scope.</p>"
        },
        "scopeName":{
          "shape":"ScopeName",
          "documentation":"<p>The name of the scope.</p>"
        },
        "scopeDescription":{
          "shape":"Description",
          "documentation":"<p>A description of the scope.</p>"
        },
        "scopeConfiguration":{
          "shape":"ScopeConfiguration",
          "documentation":"<p>The configuration that defines which accounts and resources are in scope.</p>"
        },
        "status":{
          "shape":"EntityStatus",
          "documentation":"<p>The current status of the resource: <code>DRAFT</code> (unpublished, editable) or <code>ACTIVE</code> (published, in use).</p>"
        },
        "version":{
          "shape":"EntityVersion",
          "documentation":"<p>The version of the resource.</p>"
        },
        "updateToken":{
          "shape":"UpdateToken",
          "documentation":"<p>A token used for optimistic concurrency control. Each read and write returns an <code>updateToken</code>. Provide the most recent value on your next update to detect and prevent conflicting concurrent modifications.</p>"
        },
        "isSnapshot":{
          "shape":"IsSnapshot",
          "documentation":"<p>Specifies whether the resource is a snapshot of a published version.</p>"
        },
        "hasPublishedVersion":{
          "shape":"HasPublishedVersion",
          "documentation":"<p>Specifies whether a published version of the resource exists.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time when the resource was last updated.</p>"
        }
      }
    },
    "CreateScopeSnapshotInput":{
      "type":"structure",
      "required":["scopeIdentifier"],
      "members":{
        "scopeIdentifier":{
          "shape":"ScopeIdentifier",
          "documentation":"<p>The identifier of the scope. This is the scope's Amazon Resource Name (ARN).</p>",
          "location":"uri",
          "locationName":"scopeIdentifier"
        },
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive token that you provide to ensure that the operation completes no more than one time. If you retry a request with the same client token and the same parameters, the service returns the result of the original successful request.</p>",
          "idempotencyToken":true
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to add to the snapshot when it is created.</p>"
        }
      }
    },
    "CreateScopeSnapshotOutput":{
      "type":"structure",
      "required":[
        "scopeId",
        "scopeArn",
        "scopeName",
        "status",
        "version"
      ],
      "members":{
        "scopeId":{
          "shape":"ScopeId",
          "documentation":"<p>The service-generated id of the scope.</p>"
        },
        "scopeArn":{
          "shape":"ScopeArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the scope.</p>"
        },
        "scopeName":{
          "shape":"ScopeName",
          "documentation":"<p>The name of the scope.</p>"
        },
        "scopeDescription":{
          "shape":"Description",
          "documentation":"<p>A description of the scope.</p>"
        },
        "scopeConfiguration":{
          "shape":"ScopeConfiguration",
          "documentation":"<p>The configuration that defines which accounts and resources are in scope.</p>"
        },
        "status":{
          "shape":"EntityStatus",
          "documentation":"<p>The current status of the resource: <code>DRAFT</code> (unpublished, editable) or <code>ACTIVE</code> (published, in use).</p>"
        },
        "version":{
          "shape":"EntityVersion",
          "documentation":"<p>The version of the resource.</p>"
        },
        "updateToken":{
          "shape":"UpdateToken",
          "documentation":"<p>A token used for optimistic concurrency control. Each read and write returns an <code>updateToken</code>. Provide the most recent value on your next update to detect and prevent conflicting concurrent modifications.</p>"
        },
        "isSnapshot":{
          "shape":"IsSnapshot",
          "documentation":"<p>Specifies whether the resource is a snapshot of a published version.</p>"
        },
        "hasPublishedVersion":{
          "shape":"HasPublishedVersion",
          "documentation":"<p>Specifies whether a published version of the resource exists.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time when the snapshot was created.</p>"
        }
      }
    },
    "CreateTemplateInput":{
      "type":"structure",
      "required":[
        "templateName",
        "associatedRuleList",
        "firewallType"
      ],
      "members":{
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive token that you provide to ensure that the operation completes no more than one time. If you retry a request with the same client token and the same parameters, the service returns the result of the original successful request.</p>",
          "idempotencyToken":true
        },
        "templateName":{
          "shape":"TemplateName",
          "documentation":"<p>The name of the template.</p>"
        },
        "templateDescription":{
          "shape":"Description",
          "documentation":"<p>A description of the template.</p>"
        },
        "associatedRuleList":{
          "shape":"RuleReferenceList",
          "documentation":"<p>The rules associated with the template.</p>"
        },
        "firewallType":{
          "shape":"TemplateFirewallType",
          "documentation":"<p>The firewall type associated with the resource.</p>"
        },
        "isPublished":{
          "shape":"IsPublished",
          "documentation":"<p>Specifies whether to publish the resource. When <code>true</code>, the resource is saved in published (<code>ACTIVE</code>) state. When <code>false</code>, it is saved as a draft (<code>DRAFT</code>). Default: <code>true</code>.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to add to the resource when it is created.</p>"
        }
      }
    },
    "CreateTemplateOutput":{
      "type":"structure",
      "required":[
        "templateId",
        "templateArn",
        "templateName",
        "status",
        "version",
        "associatedRuleList",
        "firewallType"
      ],
      "members":{
        "templateId":{
          "shape":"TemplateId",
          "documentation":"<p>The service-generated id of the template.</p>"
        },
        "templateArn":{
          "shape":"TemplateArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the template.</p>"
        },
        "templateName":{
          "shape":"TemplateName",
          "documentation":"<p>The name of the template.</p>"
        },
        "templateDescription":{
          "shape":"Description",
          "documentation":"<p>A description of the template.</p>"
        },
        "status":{
          "shape":"EntityStatus",
          "documentation":"<p>The current status of the resource: <code>DRAFT</code> (unpublished, editable) or <code>ACTIVE</code> (published, in use).</p>"
        },
        "version":{
          "shape":"EntityVersion",
          "documentation":"<p>The version of the resource.</p>"
        },
        "associatedRuleList":{
          "shape":"AssociatedRuleList",
          "documentation":"<p>The rules associated with the template.</p>"
        },
        "updateToken":{
          "shape":"UpdateToken",
          "documentation":"<p>A token used for optimistic concurrency control. Each read and write returns an <code>updateToken</code>. Provide the most recent value on your next update to detect and prevent conflicting concurrent modifications.</p>"
        },
        "isSnapshot":{
          "shape":"IsSnapshot",
          "documentation":"<p>Specifies whether the resource is a snapshot of a published version.</p>"
        },
        "hasPublishedVersion":{
          "shape":"HasPublishedVersion",
          "documentation":"<p>Specifies whether a published version of the resource exists.</p>"
        },
        "firewallType":{
          "shape":"TemplateFirewallType",
          "documentation":"<p>The firewall type associated with the resource.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time when the resource was last updated.</p>"
        }
      }
    },
    "CreateTemplateSnapshotInput":{
      "type":"structure",
      "required":["templateIdentifier"],
      "members":{
        "templateIdentifier":{
          "shape":"TemplateIdentifier",
          "documentation":"<p>The identifier of the template. This is the template's Amazon Resource Name (ARN).</p>",
          "location":"uri",
          "locationName":"templateIdentifier"
        },
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive token that you provide to ensure that the operation completes no more than one time. If you retry a request with the same client token and the same parameters, the service returns the result of the original successful request.</p>",
          "idempotencyToken":true
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to add to the snapshot when it is created.</p>"
        }
      }
    },
    "CreateTemplateSnapshotOutput":{
      "type":"structure",
      "required":[
        "templateId",
        "templateArn",
        "templateName",
        "status",
        "version",
        "associatedRuleList",
        "firewallType"
      ],
      "members":{
        "templateId":{
          "shape":"TemplateId",
          "documentation":"<p>The service-generated id of the template.</p>"
        },
        "templateArn":{
          "shape":"TemplateArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the template.</p>"
        },
        "templateName":{
          "shape":"TemplateName",
          "documentation":"<p>The name of the template.</p>"
        },
        "templateDescription":{
          "shape":"Description",
          "documentation":"<p>A description of the template.</p>"
        },
        "status":{
          "shape":"EntityStatus",
          "documentation":"<p>The current status of the resource: <code>DRAFT</code> (unpublished, editable) or <code>ACTIVE</code> (published, in use).</p>"
        },
        "version":{
          "shape":"EntityVersion",
          "documentation":"<p>The version of the resource.</p>"
        },
        "associatedRuleList":{
          "shape":"AssociatedRuleList",
          "documentation":"<p>The rules associated with the template.</p>"
        },
        "updateToken":{
          "shape":"UpdateToken",
          "documentation":"<p>A token used for optimistic concurrency control. Each read and write returns an <code>updateToken</code>. Provide the most recent value on your next update to detect and prevent conflicting concurrent modifications.</p>"
        },
        "isSnapshot":{
          "shape":"IsSnapshot",
          "documentation":"<p>Specifies whether the resource is a snapshot of a published version.</p>"
        },
        "hasPublishedVersion":{
          "shape":"HasPublishedVersion",
          "documentation":"<p>Specifies whether a published version of the resource exists.</p>"
        },
        "firewallType":{
          "shape":"TemplateFirewallType",
          "documentation":"<p>The firewall type associated with the resource.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time when the snapshot was created.</p>"
        }
      }
    },
    "DateTimestamp":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "DeleteAdminAccountRequest":{
      "type":"structure",
      "required":["accountId"],
      "members":{
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The AWS account ID of the administrator account to remove.</p>",
          "location":"uri",
          "locationName":"accountId"
        }
      }
    },
    "DeleteDeploymentInput":{
      "type":"structure",
      "required":["deploymentIdentifier"],
      "members":{
        "deploymentIdentifier":{
          "shape":"DeploymentIdentifier",
          "documentation":"<p>The identifier of the deployment. This is the deployment's Amazon Resource Name (ARN).</p>",
          "location":"uri",
          "locationName":"deploymentIdentifier"
        }
      }
    },
    "DeletePolicyInput":{
      "type":"structure",
      "required":["policyIdentifier"],
      "members":{
        "policyIdentifier":{
          "shape":"PolicyIdentifier",
          "documentation":"<p>The identifier of the policy. This is the policy's Amazon Resource Name (ARN).</p>",
          "location":"uri",
          "locationName":"policyIdentifier"
        }
      }
    },
    "DeleteRuleInput":{
      "type":"structure",
      "required":["ruleIdentifier"],
      "members":{
        "ruleIdentifier":{
          "shape":"RuleIdentifier",
          "documentation":"<p>The identifier of the rule. This is the rule's Amazon Resource Name (ARN).</p>",
          "location":"uri",
          "locationName":"ruleIdentifier"
        }
      }
    },
    "DeleteScopeInput":{
      "type":"structure",
      "required":["scopeIdentifier"],
      "members":{
        "scopeIdentifier":{
          "shape":"ScopeIdentifier",
          "documentation":"<p>The identifier of the scope. This is the scope's Amazon Resource Name (ARN).</p>",
          "location":"uri",
          "locationName":"scopeIdentifier"
        }
      }
    },
    "DeleteTemplateInput":{
      "type":"structure",
      "required":["templateIdentifier"],
      "members":{
        "templateIdentifier":{
          "shape":"TemplateIdentifier",
          "documentation":"<p>The identifier of the template. This is the template's Amazon Resource Name (ARN).</p>",
          "location":"uri",
          "locationName":"templateIdentifier"
        }
      }
    },
    "DeploymentArn":{
      "type":"string",
      "max":1010,
      "min":20,
      "pattern":"arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:(.+)"
    },
    "DeploymentConfiguration":{
      "type":"structure",
      "required":["enableCrossAccountVisibility"],
      "members":{
        "enableCrossAccountVisibility":{
          "shape":"EnableCrossAccountVisibility",
          "documentation":"<p>Specifies whether aggregate synchronization status details for the resources covered by this deployment are visible across accounts. Default: <code>false</code>.</p>"
        }
      },
      "documentation":"<p>Configuration settings that control a deployment's behavior.</p>"
    },
    "DeploymentCoverageEntry":{
      "type":"structure",
      "required":[
        "firewallType",
        "policyArns",
        "inScopeResourceTypes"
      ],
      "members":{
        "firewallType":{
          "shape":"PolicyFirewallType",
          "documentation":"<p>The firewall type that the policies in this entry share.</p>"
        },
        "policyArns":{
          "shape":"DeploymentPolicyArnList",
          "documentation":"<p>The Amazon Resource Names (ARNs) of the deployment's policies that have this firewall type.</p>"
        },
        "inScopeResourceTypes":{
          "shape":"DeploymentResourceTypeList",
          "documentation":"<p>The resource types in the deployment's scope that this firewall type protects. This list is empty if the scope does not select any resource types that the firewall type protects.</p>"
        }
      },
      "documentation":"<p>Coverage information for one firewall type within a deployment. It lists the deployment's policies that have this firewall type. It also lists the resource types in the deployment's scope that the firewall type protects.</p>"
    },
    "DeploymentCoverageList":{
      "type":"list",
      "member":{"shape":"DeploymentCoverageEntry"},
      "max":10,
      "min":0
    },
    "DeploymentId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-z0-9]{1,64}"
    },
    "DeploymentIdentifier":{
      "type":"string",
      "max":1010,
      "min":1
    },
    "DeploymentName":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9][a-zA-Z0-9 _.:/=+\\-@]*"
    },
    "DeploymentPolicyArnList":{
      "type":"list",
      "member":{"shape":"PolicyArn"},
      "max":100,
      "min":0
    },
    "DeploymentResourceTypeList":{
      "type":"list",
      "member":{"shape":"ScopeResourceType"},
      "max":50,
      "min":0
    },
    "DeploymentSummary":{
      "type":"structure",
      "required":[
        "deploymentId",
        "deploymentArn"
      ],
      "members":{
        "deploymentId":{
          "shape":"DeploymentId",
          "documentation":"<p>The service-generated id of the deployment.</p>"
        },
        "deploymentArn":{
          "shape":"DeploymentArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the deployment.</p>"
        },
        "deploymentName":{
          "shape":"DeploymentName",
          "documentation":"<p>The name of the deployment.</p>"
        },
        "status":{
          "shape":"EntityStatus",
          "documentation":"<p>The current status of the resource: <code>DRAFT</code> (unpublished, editable), <code>ACTIVE</code> (published, in use), or <code>DISABLED</code> (deactivated; changes cannot be published until the resource is re-enabled).</p>"
        },
        "version":{
          "shape":"EntityVersion",
          "documentation":"<p>The version of the resource.</p>"
        },
        "hasPublishedVersion":{
          "shape":"HasPublishedVersion",
          "documentation":"<p>Specifies whether a published version of the resource exists.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time when the resource was last updated. For a snapshot, this is the time when the snapshot was created.</p>"
        }
      },
      "documentation":"<p>Summary information about a deployment.</p>"
    },
    "DeploymentSummaryList":{
      "type":"list",
      "member":{"shape":"DeploymentSummary"},
      "max":100,
      "min":0
    },
    "DeploymentWarningEntry":{
      "type":"structure",
      "required":[
        "code",
        "policyArn",
        "message"
      ],
      "members":{
        "code":{
          "shape":"String",
          "documentation":"<p>A code that identifies the type of warning.</p>"
        },
        "policyArn":{
          "shape":"PolicyArn",
          "documentation":"<p>The ARN of the policy that the warning relates to.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>A human-readable description of the warning.</p>"
        }
      },
      "documentation":"<p>A warning about a potential issue with a deployment.</p>"
    },
    "DeploymentWarningList":{
      "type":"list",
      "member":{"shape":"DeploymentWarningEntry"},
      "max":100,
      "min":0
    },
    "Description":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"[a-zA-Z0-9 _.:/=+\\-@]*"
    },
    "EnableCrossAccountVisibility":{
      "type":"boolean",
      "box":true
    },
    "EntityStatus":{
      "type":"string",
      "enum":[
        "DRAFT",
        "ACTIVE",
        "DISABLED"
      ]
    },
    "EntityStatusFilter":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "DRAFT",
        "DISABLED"
      ]
    },
    "EntityVersion":{
      "type":"string",
      "max":10,
      "min":1,
      "pattern":"[1-9][0-9]*"
    },
    "ExistingCustomerWebACLResolution":{
      "type":"string",
      "enum":[
        "RETROFIT",
        "OVERRIDE_ASSOCIATION",
        "NO_REMEDIATION"
      ]
    },
    "FirewallSyncReason":{
      "type":"structure",
      "members":{
        "missingFirewall":{
          "shape":"String",
          "documentation":"<p>Indicates that an expected firewall is missing. The value describes the missing firewall.</p>"
        },
        "invalidFirewall":{
          "shape":"InvalidFirewallReasons",
          "documentation":"<p>Details about a firewall whose configuration does not match the intended configuration.</p>"
        }
      },
      "documentation":"<p>Describes why a firewall is out of sync. Exactly one of <code>missingFirewall</code> or <code>invalidFirewall</code> is set.</p>",
      "union":true
    },
    "FirewallTypeList":{
      "type":"list",
      "member":{"shape":"PolicyFirewallType"},
      "max":10,
      "min":0
    },
    "GenerateRuleConfigurationRequest":{
      "type":"structure",
      "required":[
        "prompt",
        "ruleFirewallType",
        "ruleType"
      ],
      "members":{
        "prompt":{
          "shape":"GenerateRuleConfigurationRequestPromptString",
          "documentation":"<p>A natural-language description of the configuration that you want to generate.</p>"
        },
        "ruleFirewallType":{
          "shape":"RuleFirewallType",
          "documentation":"<p>The firewall type of the rule.</p>"
        },
        "ruleType":{
          "shape":"RuleType",
          "documentation":"<p>The type of the rule. <code>CONFIGURATION</code> rules contain firewall settings, and <code>INSPECTION</code> rules contain rule groups.</p>"
        },
        "wafConfigDataType":{
          "shape":"WAFConfigDataType",
          "documentation":"<p>For AWS WAF configuration rules, the specific AWS WAF configuration variant to generate. This is optional; if you omit it, the service selects the variant.</p>"
        },
        "currentConfiguration":{
          "shape":"GenerateRuleConfigurationRequestCurrentConfigurationString",
          "documentation":"<p>An existing configuration to edit, as a JSON string. When you provide this value, the operation edits the configuration. When you omit it, the operation generates a new configuration.</p>"
        },
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive token that you provide to ensure that the operation completes no more than one time. If you retry a request with the same client token and the same parameters, the service returns the result of the original successful request.</p>",
          "idempotencyToken":true
        }
      }
    },
    "GenerateRuleConfigurationRequestCurrentConfigurationString":{
      "type":"string",
      "max":32768,
      "min":0
    },
    "GenerateRuleConfigurationRequestPromptString":{
      "type":"string",
      "max":2000,
      "min":1,
      "pattern":"[A-Za-z0-9.,?!@&:;()'\"\\s\\-\\/\\n_=<>+*\\#\\[\\]{}]*",
      "sensitive":true
    },
    "GenerateRuleConfigurationResponse":{
      "type":"structure",
[...]
