{
  "metadata": {
    "apiVersion": "2020-01-01",
    "endpointPrefix": "macie2",
    "signingName": "macie2",
    "serviceFullName": "Amazon Macie 2",
    "serviceId": "Macie2",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "macie2-2020-01-01",
    "signatureVersion": "v4"
  },
  "operations": {
    "AcceptInvitation": {
      "name": "AcceptInvitation",
      "http": {
        "method": "POST",
        "requestUri": "/invitations/accept",
        "responseCode": 200
      },
      "input": {
        "shape": "AcceptInvitationRequest"
      },
      "output": {
        "shape": "AcceptInvitationResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Accepts an Amazon Macie membership invitation that was received from a specific account.</p>"
    },
    "BatchGetCustomDataIdentifiers": {
      "name": "BatchGetCustomDataIdentifiers",
      "http": {
        "method": "POST",
        "requestUri": "/custom-data-identifiers/get",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchGetCustomDataIdentifiersRequest"
      },
      "output": {
        "shape": "BatchGetCustomDataIdentifiersResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about one or more custom data identifiers.</p>"
    },
    "CreateClassificationJob": {
      "name": "CreateClassificationJob",
      "http": {
        "method": "POST",
        "requestUri": "/jobs",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateClassificationJobRequest"
      },
      "output": {
        "shape": "CreateClassificationJobResponse",
        "documentation": "<p>The request succeeded. The specified job was created.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": " <p>Creates and defines the settings for a classification job.</p>"
    },
    "CreateCustomDataIdentifier": {
      "name": "CreateCustomDataIdentifier",
      "http": {
        "method": "POST",
        "requestUri": "/custom-data-identifiers",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateCustomDataIdentifierRequest"
      },
      "output": {
        "shape": "CreateCustomDataIdentifierResponse",
        "documentation": "<p>The request succeeded. The specified custom data identifier was created.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Creates and defines the criteria and other settings for a custom data identifier.</p>"
    },
    "CreateFindingsFilter": {
      "name": "CreateFindingsFilter",
      "http": {
        "method": "POST",
        "requestUri": "/findingsfilters",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateFindingsFilterRequest"
      },
      "output": {
        "shape": "CreateFindingsFilterResponse"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Creates and defines the criteria and other settings for a findings filter.</p>"
    },
    "CreateInvitations": {
      "name": "CreateInvitations",
      "http": {
        "method": "POST",
        "requestUri": "/invitations",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateInvitationsRequest"
      },
      "output": {
        "shape": "CreateInvitationsResponse",
        "documentation": "<p>The request succeeded. Processing might not be complete.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Sends an Amazon Macie membership invitation to one or more accounts.</p>"
    },
    "CreateMember": {
      "name": "CreateMember",
      "http": {
        "method": "POST",
        "requestUri": "/members",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateMemberRequest"
      },
      "output": {
        "shape": "CreateMemberResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Associates an account with an Amazon Macie administrator account.</p>"
    },
    "CreateSampleFindings": {
      "name": "CreateSampleFindings",
      "http": {
        "method": "POST",
        "requestUri": "/findings/sample",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSampleFindingsRequest"
      },
      "output": {
        "shape": "CreateSampleFindingsResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Creates sample findings.</p>"
    },
    "DeclineInvitations": {
      "name": "DeclineInvitations",
      "http": {
        "method": "POST",
        "requestUri": "/invitations/decline",
        "responseCode": 200
      },
      "input": {
        "shape": "DeclineInvitationsRequest"
      },
      "output": {
        "shape": "DeclineInvitationsResponse",
        "documentation": "<p>The request succeeded. Processing might not be complete.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Declines Amazon Macie membership invitations that were received from specific accounts.</p>"
    },
    "DeleteCustomDataIdentifier": {
      "name": "DeleteCustomDataIdentifier",
      "http": {
        "method": "DELETE",
        "requestUri": "/custom-data-identifiers/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteCustomDataIdentifierRequest"
      },
      "output": {
        "shape": "DeleteCustomDataIdentifierResponse",
        "documentation": "<p>The request succeeded. The specified custom data identifier was deleted and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Soft deletes a custom data identifier.</p>"
    },
    "DeleteFindingsFilter": {
      "name": "DeleteFindingsFilter",
      "http": {
        "method": "DELETE",
        "requestUri": "/findingsfilters/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteFindingsFilterRequest"
      },
      "output": {
        "shape": "DeleteFindingsFilterResponse",
        "documentation": "<p>The request succeeded. The specified findings filter was deleted and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Deletes a findings filter.</p>"
    },
    "DeleteInvitations": {
      "name": "DeleteInvitations",
      "http": {
        "method": "POST",
        "requestUri": "/invitations/delete",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteInvitationsRequest"
      },
      "output": {
        "shape": "DeleteInvitationsResponse",
        "documentation": "<p>The request succeeded. Processing might not be complete.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Deletes Amazon Macie membership invitations that were received from specific accounts.</p>"
    },
    "DeleteMember": {
      "name": "DeleteMember",
      "http": {
        "method": "DELETE",
        "requestUri": "/members/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteMemberRequest"
      },
      "output": {
        "shape": "DeleteMemberResponse",
        "documentation": "<p>The request succeeded. The association was deleted and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Deletes the association between an Amazon Macie administrator account and an account.</p>"
    },
    "DescribeBuckets": {
      "name": "DescribeBuckets",
      "http": {
        "method": "POST",
        "requestUri": "/datasources/s3",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeBucketsRequest"
      },
      "output": {
        "shape": "DescribeBucketsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": " <p>Retrieves (queries) statistical data and other information about one or more S3 buckets that Amazon Macie monitors and analyzes.</p>"
    },
    "DescribeClassificationJob": {
      "name": "DescribeClassificationJob",
      "http": {
        "method": "GET",
        "requestUri": "/jobs/{jobId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeClassificationJobRequest"
      },
      "output": {
        "shape": "DescribeClassificationJobResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the status and settings for a classification job.</p>"
    },
    "DescribeOrganizationConfiguration": {
      "name": "DescribeOrganizationConfiguration",
      "http": {
        "method": "GET",
        "requestUri": "/admin/configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeOrganizationConfigurationRequest"
      },
      "output": {
        "shape": "DescribeOrganizationConfigurationResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the Amazon Macie configuration settings for an Amazon Web Services organization.</p>"
    },
    "DisableMacie": {
      "name": "DisableMacie",
      "http": {
        "method": "DELETE",
        "requestUri": "/macie",
        "responseCode": 200
      },
      "input": {
        "shape": "DisableMacieRequest"
      },
      "output": {
        "shape": "DisableMacieResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Disables an Amazon Macie account and deletes Macie resources for the account.</p>"
    },
    "DisableOrganizationAdminAccount": {
      "name": "DisableOrganizationAdminAccount",
      "http": {
        "method": "DELETE",
        "requestUri": "/admin",
        "responseCode": 200
      },
      "input": {
        "shape": "DisableOrganizationAdminAccountRequest"
      },
      "output": {
        "shape": "DisableOrganizationAdminAccountResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Disables an account as the delegated Amazon Macie administrator account for an Amazon Web Services organization.</p>"
    },
    "DisassociateFromAdministratorAccount": {
      "name": "DisassociateFromAdministratorAccount",
      "http": {
        "method": "POST",
        "requestUri": "/administrator/disassociate",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateFromAdministratorAccountRequest"
      },
      "output": {
        "shape": "DisassociateFromAdministratorAccountResponse"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Disassociates a member account from its Amazon Macie administrator account.</p>"
    },
    "DisassociateFromMasterAccount": {
      "name": "DisassociateFromMasterAccount",
      "http": {
        "method": "POST",
        "requestUri": "/master/disassociate",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateFromMasterAccountRequest"
      },
      "output": {
        "shape": "DisassociateFromMasterAccountResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>(Deprecated) Disassociates a member account from its Amazon Macie administrator account. This operation has been replaced by the <link  linkend=\"DisassociateFromAdministratorAccount\">DisassociateFromAdministratorAccount</link> operation.</p>"
    },
    "DisassociateMember": {
      "name": "DisassociateMember",
      "http": {
        "method": "POST",
        "requestUri": "/members/disassociate/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateMemberRequest"
      },
      "output": {
        "shape": "DisassociateMemberResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Disassociates an Amazon Macie administrator account from a member account.</p>"
    },
    "EnableMacie": {
      "name": "EnableMacie",
      "http": {
        "method": "POST",
        "requestUri": "/macie",
        "responseCode": 200
      },
      "input": {
        "shape": "EnableMacieRequest"
      },
      "output": {
        "shape": "EnableMacieResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Enables Amazon Macie and specifies the configuration settings for a Macie account.</p>"
    },
    "EnableOrganizationAdminAccount": {
      "name": "EnableOrganizationAdminAccount",
      "http": {
        "method": "POST",
        "requestUri": "/admin",
        "responseCode": 200
      },
      "input": {
        "shape": "EnableOrganizationAdminAccountRequest"
      },
      "output": {
        "shape": "EnableOrganizationAdminAccountResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Designates an account as the delegated Amazon Macie administrator account for an Amazon Web Services organization.</p>"
    },
    "GetAdministratorAccount": {
      "name": "GetAdministratorAccount",
      "http": {
        "method": "GET",
        "requestUri": "/administrator",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAdministratorAccountRequest"
      },
      "output": {
        "shape": "GetAdministratorAccountResponse"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the Amazon Macie administrator account for an account.</p>"
    },
    "GetBucketStatistics": {
      "name": "GetBucketStatistics",
      "http": {
        "method": "POST",
        "requestUri": "/datasources/s3/statistics",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBucketStatisticsRequest"
      },
      "output": {
        "shape": "GetBucketStatisticsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": " <p>Retrieves (queries) aggregated statistical data for all the S3 buckets that Amazon Macie monitors and analyzes.</p>"
    },
    "GetClassificationExportConfiguration": {
      "name": "GetClassificationExportConfiguration",
      "http": {
        "method": "GET",
        "requestUri": "/classification-export-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetClassificationExportConfigurationRequest"
      },
      "output": {
        "shape": "GetClassificationExportConfigurationResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the configuration settings for storing data classification results.</p>"
    },
    "GetCustomDataIdentifier": {
      "name": "GetCustomDataIdentifier",
      "http": {
        "method": "GET",
        "requestUri": "/custom-data-identifiers/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCustomDataIdentifierRequest"
      },
      "output": {
        "shape": "GetCustomDataIdentifierResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the criteria and other settings for a custom data identifier.</p>"
    },
    "GetFindingStatistics": {
      "name": "GetFindingStatistics",
      "http": {
        "method": "POST",
        "requestUri": "/findings/statistics",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingStatisticsRequest"
      },
      "output": {
        "shape": "GetFindingStatisticsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": " <p>Retrieves (queries) aggregated statistical data about findings.</p>"
    },
    "GetFindings": {
      "name": "GetFindings",
      "http": {
        "method": "POST",
        "requestUri": "/findings/describe",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingsRequest"
      },
      "output": {
        "shape": "GetFindingsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the details of one or more findings.</p>"
    },
    "GetFindingsFilter": {
      "name": "GetFindingsFilter",
      "http": {
        "method": "GET",
        "requestUri": "/findingsfilters/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingsFilterRequest"
      },
      "output": {
        "shape": "GetFindingsFilterResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the criteria and other settings for a findings filter.</p>"
    },
    "GetFindingsPublicationConfiguration": {
      "name": "GetFindingsPublicationConfiguration",
      "http": {
        "method": "GET",
        "requestUri": "/findings-publication-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingsPublicationConfigurationRequest"
      },
      "output": {
        "shape": "GetFindingsPublicationConfigurationResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the configuration settings for publishing findings to Security Hub.</p>"
    },
    "GetInvitationsCount": {
      "name": "GetInvitationsCount",
      "http": {
        "method": "GET",
        "requestUri": "/invitations/count",
        "responseCode": 200
      },
      "input": {
        "shape": "GetInvitationsCountRequest"
      },
      "output": {
        "shape": "GetInvitationsCountResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the count of Amazon Macie membership invitations that were received by an account.</p>"
    },
    "GetMacieSession": {
      "name": "GetMacieSession",
      "http": {
        "method": "GET",
        "requestUri": "/macie",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMacieSessionRequest"
      },
      "output": {
        "shape": "GetMacieSessionResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the current status and configuration settings for an Amazon Macie account.</p>"
    },
    "GetMasterAccount": {
      "name": "GetMasterAccount",
      "http": {
        "method": "GET",
        "requestUri": "/master",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMasterAccountRequest"
      },
      "output": {
        "shape": "GetMasterAccountResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>(Deprecated) Retrieves information about the Amazon Macie administrator account for an account. This operation has been replaced by the <link  linkend=\"GetAdministratorAccount\">GetAdministratorAccount</link> operation.</p>"
    },
    "GetMember": {
      "name": "GetMember",
      "http": {
        "method": "GET",
        "requestUri": "/members/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMemberRequest"
      },
      "output": {
        "shape": "GetMemberResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about an account that's associated with an Amazon Macie administrator account.</p>"
    },
    "GetUsageStatistics": {
      "name": "GetUsageStatistics",
      "http": {
        "method": "POST",
        "requestUri": "/usage/statistics",
        "responseCode": 200
      },
      "input": {
        "shape": "GetUsageStatisticsRequest"
      },
      "output": {
        "shape": "GetUsageStatisticsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves (queries) quotas and aggregated usage data for one or more accounts.</p>"
    },
    "GetUsageTotals": {
      "name": "GetUsageTotals",
      "http": {
        "method": "GET",
        "requestUri": "/usage",
        "responseCode": 200
      },
      "input": {
        "shape": "GetUsageTotalsRequest"
      },
      "output": {
        "shape": "GetUsageTotalsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves (queries) aggregated usage data for an account.</p>"
    },
    "ListClassificationJobs": {
      "name": "ListClassificationJobs",
      "http": {
        "method": "POST",
        "requestUri": "/jobs/list",
        "responseCode": 200
      },
      "input": {
        "shape": "ListClassificationJobsRequest"
      },
      "output": {
        "shape": "ListClassificationJobsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves a subset of information about one or more classification jobs.</p>"
    },
    "ListCustomDataIdentifiers": {
      "name": "ListCustomDataIdentifiers",
      "http": {
        "method": "POST",
        "requestUri": "/custom-data-identifiers/list",
        "responseCode": 200
      },
      "input": {
        "shape": "ListCustomDataIdentifiersRequest"
      },
      "output": {
        "shape": "ListCustomDataIdentifiersResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves a subset of information about all the custom data identifiers for an account.</p>"
    },
    "ListFindings": {
      "name": "ListFindings",
      "http": {
        "method": "POST",
        "requestUri": "/findings",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFindingsRequest"
      },
      "output": {
        "shape": "ListFindingsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves a subset of information about one or more findings.</p>"
    },
    "ListFindingsFilters": {
      "name": "ListFindingsFilters",
      "http": {
        "method": "GET",
        "requestUri": "/findingsfilters",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFindingsFiltersRequest"
      },
      "output": {
        "shape": "ListFindingsFiltersResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves a subset of information about all the findings filters for an account.</p>"
    },
    "ListInvitations": {
      "name": "ListInvitations",
      "http": {
        "method": "GET",
        "requestUri": "/invitations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInvitationsRequest"
      },
      "output": {
        "shape": "ListInvitationsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the Amazon Macie membership invitations that were received by an account.</p>"
    },
    "ListManagedDataIdentifiers": {
      "name": "ListManagedDataIdentifiers",
      "http": {
        "method": "POST",
        "requestUri": "/managed-data-identifiers/list",
        "responseCode": 200
      },
      "input": {
        "shape": "ListManagedDataIdentifiersRequest"
      },
      "output": {
        "shape": "ListManagedDataIdentifiersResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [],
      "documentation": "<p>Retrieves information about all the managed data identifiers that Amazon Macie currently provides.</p>"
    },
    "ListMembers": {
      "name": "ListMembers",
      "http": {
        "method": "GET",
        "requestUri": "/members",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMembersRequest"
      },
      "output": {
        "shape": "ListMembersResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the accounts that are associated with an Amazon Macie administrator account.</p>"
    },
    "ListOrganizationAdminAccounts": {
      "name": "ListOrganizationAdminAccounts",
      "http": {
        "method": "GET",
        "requestUri": "/admin",
        "responseCode": 200
      },
      "input": {
        "shape": "ListOrganizationAdminAccountsRequest"
      },
      "output": {
        "shape": "ListOrganizationAdminAccountsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the delegated Amazon Macie administrator account for an Amazon Web Services organization.</p>"
    },
    "ListTagsForResource": {
      "name": "ListTagsForResource",
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "output": {
        "shape": "ListTagsForResourceResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [],
      "documentation": "<p>Retrieves the tags (keys and values) that are associated with a classification job, custom data identifier, findings filter, or member account.</p>"
    },
    "PutClassificationExportConfiguration": {
      "name": "PutClassificationExportConfiguration",
      "http": {
        "method": "PUT",
        "requestUri": "/classification-export-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "PutClassificationExportConfigurationRequest"
      },
      "output": {
        "shape": "PutClassificationExportConfigurationResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Creates or updates the configuration settings for storing data classification results.</p>"
    },
    "PutFindingsPublicationConfiguration": {
      "name": "PutFindingsPublicationConfiguration",
      "http": {
        "method": "PUT",
        "requestUri": "/findings-publication-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "PutFindingsPublicationConfigurationRequest"
      },
      "output": {
        "shape": "PutFindingsPublicationConfigurationResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Updates the configuration settings for publishing findings to Security Hub.</p>"
    },
    "SearchResources": {
      "name": "SearchResources",
      "http": {
        "method": "POST",
        "requestUri": "/datasources/search-resources",
        "responseCode": 200
      },
      "input": {
        "shape": "SearchResourcesRequest"
      },
      "output": {
        "shape": "SearchResourcesResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves (queries) statistical data and other information about Amazon Web Services resources that Amazon Macie monitors and analyzes.</p>"
    },
    "TagResource": {
      "name": "TagResource",
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "output": {
        "shape": "TagResourceResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [],
      "documentation": "<p>Adds or updates one or more tags (keys and values) that are associated with a classification job, custom data identifier, findings filter, or member account.</p>"
    },
    "TestCustomDataIdentifier": {
      "name": "TestCustomDataIdentifier",
      "http": {
        "method": "POST",
        "requestUri": "/custom-data-identifiers/test",
        "responseCode": 200
      },
      "input": {
        "shape": "TestCustomDataIdentifierRequest"
      },
      "output": {
        "shape": "TestCustomDataIdentifierResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Tests a custom data identifier.</p>"
    },
    "UntagResource": {
      "name": "UntagResource",
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "output": {
        "shape": "UntagResourceResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [],
      "documentation": "<p>Removes one or more tags (keys and values) from a classification job, custom data identifier, findings filter, or member account.</p>"
    },
    "UpdateClassificationJob": {
      "name": "UpdateClassificationJob",
      "http": {
        "method": "PATCH",
        "requestUri": "/jobs/{jobId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateClassificationJobRequest"
      },
      "output": {
        "shape": "UpdateClassificationJobResponse",
        "documentation": "<p>The request succeeded. The job's status was changed and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Changes the status of a classification job.</p>"
    },
    "UpdateFindingsFilter": {
      "name": "UpdateFindingsFilter",
      "http": {
        "method": "PATCH",
        "requestUri": "/findingsfilters/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateFindingsFilterRequest"
      },
      "output": {
        "shape": "UpdateFindingsFilterResponse",
        "documentation": "<p>The request succeeded. The specified findings filter was updated.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Updates the criteria and other settings for a findings filter.</p>"
    },
    "UpdateMacieSession": {
      "name": "UpdateMacieSession",
      "http": {
        "method": "PATCH",
        "requestUri": "/macie",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMacieSessionRequest"
      },
      "output": {
        "shape": "UpdateMacieSessionResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Suspends or re-enables an Amazon Macie account, or updates the configuration settings for a Macie account.</p>"
    },
    "UpdateMemberSession": {
      "name": "UpdateMemberSession",
      "http": {
        "method": "PATCH",
        "requestUri": "/macie/members/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMemberSessionRequest"
      },
      "output": {
        "shape": "UpdateMemberSessionResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because it contains a syntax error.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Enables an Amazon Macie administrator to suspend or re-enable a member account.</p>"
    },
    "UpdateOrganizationConfiguration": {
      "name": "UpdateOrganizationConfiguration",
      "http": {
[...]
