{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2021-05-03",
    "endpointPrefix":"ssm-contacts",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"SSM Contacts",
    "serviceFullName":"AWS Systems Manager Incident Manager Contacts",
    "serviceId":"SSM Contacts",
    "signatureVersion":"v4",
    "signingName":"ssm-contacts",
    "targetPrefix":"SSMContacts",
    "uid":"ssm-contacts-2021-05-03"
  },
  "operations":{
    "AcceptPage":{
      "name":"AcceptPage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptPageRequest"},
      "output":{"shape":"AcceptPageResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Used to acknowledge an engagement to a contact channel during an incident.</p>"
    },
    "ActivateContactChannel":{
      "name":"ActivateContactChannel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ActivateContactChannelRequest"},
      "output":{"shape":"ActivateContactChannelResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Activates a contact's contact channel. Incident Manager can't engage a contact until the contact channel has been activated.</p>"
    },
    "CreateContact":{
      "name":"CreateContact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateContactRequest"},
      "output":{"shape":"CreateContactResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"DataEncryptionException"}
      ],
      "documentation":"<p>Contacts are either the contacts that Incident Manager engages during an incident or the escalation plans that Incident Manager uses to engage contacts in phases during an incident. </p>"
    },
    "CreateContactChannel":{
      "name":"CreateContactChannel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateContactChannelRequest"},
      "output":{"shape":"CreateContactChannelResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"DataEncryptionException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>A contact channel is the method that Incident Manager uses to engage your contact.</p>"
    },
    "DeactivateContactChannel":{
      "name":"DeactivateContactChannel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeactivateContactChannelRequest"},
      "output":{"shape":"DeactivateContactChannelResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>To no longer receive Incident Manager engagements to a contact channel, you can deactivate the channel.</p>"
    },
    "DeleteContact":{
      "name":"DeleteContact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteContactRequest"},
      "output":{"shape":"DeleteContactResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>To remove a contact from Incident Manager, you can delete the contact. Deleting a contact removes them from all escalation plans and related response plans. Deleting an escalation plan removes it from all related response plans. You will have to recreate the contact and its contact channels before you can use it again.</p>"
    },
    "DeleteContactChannel":{
      "name":"DeleteContactChannel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteContactChannelRequest"},
      "output":{"shape":"DeleteContactChannelResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>To no longer receive engagements on a contact channel, you can delete the channel from a contact. Deleting the contact channel removes it from the contact's engagement plan. If you delete the only contact channel for a contact, you won't be able to engage that contact during an incident.</p>"
    },
    "DescribeEngagement":{
      "name":"DescribeEngagement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEngagementRequest"},
      "output":{"shape":"DescribeEngagementResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"DataEncryptionException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Incident Manager uses engagements to engage contacts and escalation plans during an incident. Use this command to describe the engagement that occurred during an incident.</p>"
    },
    "DescribePage":{
      "name":"DescribePage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePageRequest"},
      "output":{"shape":"DescribePageResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"DataEncryptionException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists details of the engagement to a contact channel.</p>"
    },
    "GetContact":{
      "name":"GetContact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetContactRequest"},
      "output":{"shape":"GetContactResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"DataEncryptionException"}
      ],
      "documentation":"<p>Retrieves information about the specified contact or escalation plan.</p>"
    },
    "GetContactChannel":{
      "name":"GetContactChannel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetContactChannelRequest"},
      "output":{"shape":"GetContactChannelResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"DataEncryptionException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>List details about a specific contact channel.</p>"
    },
    "GetContactPolicy":{
      "name":"GetContactPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetContactPolicyRequest"},
      "output":{"shape":"GetContactPolicyResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Retrieves the resource policies attached to the specified contact or escalation plan.</p>"
    },
    "ListContactChannels":{
      "name":"ListContactChannels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListContactChannelsRequest"},
      "output":{"shape":"ListContactChannelsResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"DataEncryptionException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all contact channels for the specified contact.</p>"
    },
    "ListContacts":{
      "name":"ListContacts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListContactsRequest"},
      "output":{"shape":"ListContactsResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all contacts and escalation plans in Incident Manager.</p>"
    },
    "ListEngagements":{
      "name":"ListEngagements",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEngagementsRequest"},
      "output":{"shape":"ListEngagementsResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all engagements that have happened in an incident.</p>"
    },
    "ListPageReceipts":{
      "name":"ListPageReceipts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPageReceiptsRequest"},
      "output":{"shape":"ListPageReceiptsResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all of the engagements to contact channels that have been acknowledged. </p>"
    },
    "ListPagesByContact":{
      "name":"ListPagesByContact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPagesByContactRequest"},
      "output":{"shape":"ListPagesByContactResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists the engagements to a contact's contact channels.</p>"
    },
    "ListPagesByEngagement":{
      "name":"ListPagesByEngagement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPagesByEngagementRequest"},
      "output":{"shape":"ListPagesByEngagementResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists the engagements to contact channels that occurred by engaging a contact.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the tags of an escalation plan or contact.</p>"
    },
    "PutContactPolicy":{
      "name":"PutContactPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutContactPolicyRequest"},
      "output":{"shape":"PutContactPolicyResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Adds a resource policy to the specified contact or escalation plan. The resource policy is used to share the contact or escalation plan using Resource Access Manager (RAM). For more information about cross-account sharing, see <a href=\"https://docs.aws.amazon.com/incident-manager/latest/userguide/xa.html\">Setting up cross-account functionality</a>.</p>"
    },
    "SendActivationCode":{
      "name":"SendActivationCode",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendActivationCodeRequest"},
      "output":{"shape":"SendActivationCodeResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"DataEncryptionException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Sends an activation code to a contact channel. The contact can use this code to activate the contact channel in the console or with the <code>ActivateChannel</code> operation. Incident Manager can't engage a contact channel until it has been activated.</p>"
    },
    "StartEngagement":{
      "name":"StartEngagement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartEngagementRequest"},
      "output":{"shape":"StartEngagementResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"DataEncryptionException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Starts an engagement to a contact or escalation plan. The engagement engages each contact specified in the incident.</p>"
    },
    "StopEngagement":{
      "name":"StopEngagement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopEngagementRequest"},
      "output":{"shape":"StopEngagementResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops an engagement before it finishes the final stage of the escalation plan or engagement plan. Further contacts aren't engaged.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Tags a contact or escalation plan. You can tag only contacts and escalation plans in the first region of your replication set. </p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes tags from the specified resource. </p>"
    },
    "UpdateContact":{
      "name":"UpdateContact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateContactRequest"},
      "output":{"shape":"UpdateContactResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"DataEncryptionException"}
      ],
      "documentation":"<p>Updates the contact or escalation plan specified. </p>"
    },
    "UpdateContactChannel":{
      "name":"UpdateContactChannel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateContactChannelRequest"},
      "output":{"shape":"UpdateContactChannelResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"DataEncryptionException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a contact's contact channel.</p>"
    }
  },
  "shapes":{
    "AcceptCode":{
      "type":"string",
      "max":10,
      "min":6,
      "pattern":"^[0-9]*$"
    },
    "AcceptCodeValidation":{
      "type":"string",
      "enum":[
        "IGNORE",
        "ENFORCE"
      ]
    },
    "AcceptPageRequest":{
      "type":"structure",
      "required":[
        "PageId",
        "AcceptType",
        "AcceptCode"
      ],
      "members":{
        "PageId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the engagement to a contact channel.</p>"
        },
        "ContactChannelId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The ARN of the contact channel.</p>"
        },
        "AcceptType":{
          "shape":"AcceptType",
          "documentation":"<p>The type indicates if the page was <code>DELIVERED</code> or <code>READ</code>.</p>"
        },
        "Note":{
          "shape":"ReceiptInfo",
          "documentation":"<p>Information provided by the user when the user acknowledges the page.</p>"
        },
        "AcceptCode":{
          "shape":"AcceptCode",
          "documentation":"<p>The accept code is a 6-digit code used to acknowledge the page.</p>"
        },
        "AcceptCodeValidation":{
          "shape":"AcceptCodeValidation",
          "documentation":"<p>An optional field that Incident Manager uses to <code>ENFORCE</code> <code>AcceptCode</code> validation when acknowledging an page. Acknowledgement can occur by replying to a page, or when entering the AcceptCode in the console. Enforcing AcceptCode validation causes Incident Manager to verify that the code entered by the user matches the code sent by Incident Manager with the page.</p> <p>Incident Manager can also <code>IGNORE</code> <code>AcceptCode</code> validation. Ignoring <code>AcceptCode</code> validation causes Incident Manager to accept any value entered for the <code>AcceptCode</code>.</p>"
        }
      }
    },
    "AcceptPageResult":{
      "type":"structure",
      "members":{
      }
    },
    "AcceptType":{
      "type":"string",
      "enum":[
        "DELIVERED",
        "READ"
      ]
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>You don't have sufficient access to perform this operation.</p>",
      "exception":true
    },
    "ActivateContactChannelRequest":{
      "type":"structure",
      "required":[
        "ContactChannelId",
        "ActivationCode"
      ],
      "members":{
        "ContactChannelId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact channel.</p>"
        },
        "ActivationCode":{
          "shape":"ActivationCode",
          "documentation":"<p>The code sent to the contact channel when it was created in the contact. </p>"
        }
      }
    },
    "ActivateContactChannelResult":{
      "type":"structure",
      "members":{
      }
    },
    "ActivationCode":{
      "type":"string",
      "max":10,
      "min":6,
      "pattern":"^[0-9]*$"
    },
    "ActivationStatus":{
      "type":"string",
      "enum":[
        "ACTIVATED",
        "NOT_ACTIVATED"
      ]
    },
    "AmazonResourceName":{
      "type":"string",
      "max":1011,
      "min":1
    },
    "ChannelName":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[\\p{L}\\p{Z}\\p{N}_.\\-]*$"
    },
    "ChannelTargetInfo":{
      "type":"structure",
      "required":["ContactChannelId"],
      "members":{
        "ContactChannelId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact channel.</p>"
        },
        "RetryIntervalInMinutes":{
          "shape":"RetryIntervalInMinutes",
          "documentation":"<p>The number of minutes to wait to retry sending engagement in the case the engagement initially fails.</p>"
        }
      },
      "documentation":"<p>Information about the contact channel that Incident Manager uses to engage the contact.</p>"
    },
    "ChannelType":{
      "type":"string",
      "enum":[
        "SMS",
        "VOICE",
        "EMAIL"
      ]
    },
    "ConflictException":{
      "type":"structure",
      "required":[
        "Message",
        "ResourceId",
        "ResourceType"
      ],
      "members":{
        "Message":{"shape":"String"},
        "ResourceId":{
          "shape":"String",
          "documentation":"Identifier of the resource in use"
        },
        "ResourceType":{
          "shape":"String",
          "documentation":"ype of the resource in use"
        }
      },
      "documentation":"<p>Updating or deleting a resource causes an inconsistent state.</p>",
      "exception":true
    },
    "Contact":{
      "type":"structure",
      "required":[
        "ContactArn",
        "Alias",
        "Type"
      ],
      "members":{
        "ContactArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>"
        },
        "Alias":{
          "shape":"ContactAlias",
          "documentation":"<p>The unique and identifiable alias of the contact or escalation plan.</p>"
        },
        "DisplayName":{
          "shape":"ContactName",
          "documentation":"<p>The full name of the contact or escalation plan.</p>"
        },
        "Type":{
          "shape":"ContactType",
          "documentation":"<p>Refers to the type of contact. A single contact is type <code>PERSONAL</code> and an escalation plan is type <code>ESCALATION</code>.</p>"
        }
      },
      "documentation":"<p>A personal contact or escalation plan that Incident Manager engages during an incident.</p>"
    },
    "ContactAlias":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[a-z0-9_\\-]*$"
    },
    "ContactChannel":{
      "type":"structure",
      "required":[
        "ContactChannelArn",
        "ContactArn",
        "Name",
        "DeliveryAddress",
        "ActivationStatus"
      ],
      "members":{
        "ContactChannelArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact channel.</p>"
        },
        "ContactArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The ARN of the contact that contains the contact channel.</p>"
        },
        "Name":{
          "shape":"ChannelName",
          "documentation":"<p>The name of the contact channel.</p>"
        },
        "Type":{
          "shape":"ChannelType",
          "documentation":"<p>The type of the contact channel. Incident Manager supports three contact methods:</p> <ul> <li> <p>SMS</p> </li> <li> <p>VOICE</p> </li> <li> <p>EMAIL</p> </li> </ul>"
        },
        "DeliveryAddress":{
          "shape":"ContactChannelAddress",
          "documentation":"<p>The details that Incident Manager uses when trying to engage the contact channel.</p>"
        },
        "ActivationStatus":{
          "shape":"ActivationStatus",
          "documentation":"<p>A Boolean value describing if the contact channel has been activated or not. If the contact channel isn't activated, Incident Manager can't engage the contact through it. </p>"
        }
      },
      "documentation":"<p>The method that Incident Manager uses to engage a contact.</p>"
    },
    "ContactChannelAddress":{
      "type":"structure",
      "members":{
        "SimpleAddress":{
          "shape":"SimpleAddress",
          "documentation":"<p>The format is dependent on the type of the contact channel. The following are the expected formats:</p> <ul> <li> <p>SMS - '+' followed by the country code and phone number</p> </li> <li> <p>VOICE - '+' followed by the country code and phone number</p> </li> <li> <p>EMAIL - any standard email format</p> </li> </ul>"
        }
      },
      "documentation":"<p>The details that Incident Manager uses when trying to engage the contact channel. </p>"
    },
    "ContactChannelList":{
      "type":"list",
      "member":{"shape":"ContactChannel"}
    },
    "ContactName":{
      "type":"string",
      "max":255,
      "min":0,
      "pattern":"^[\\p{L}\\p{Z}\\p{N}_.\\-]*$"
    },
    "ContactTargetInfo":{
      "type":"structure",
      "required":["IsEssential"],
      "members":{
        "ContactId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact.</p>"
        },
        "IsEssential":{
          "shape":"IsEssential",
          "documentation":"<p>A Boolean value determining if the contact's acknowledgement stops the progress of stages in the plan.</p>"
        }
      },
      "documentation":"<p>The contact that Incident Manager is engaging during an incident.</p>"
    },
    "ContactType":{
      "type":"string",
      "enum":[
        "PERSONAL",
        "ESCALATION"
      ]
    },
    "ContactsList":{
      "type":"list",
      "member":{"shape":"Contact"}
    },
    "Content":{
      "type":"string",
      "max":8192,
      "min":1,
      "pattern":"^[.\\s\\S]*$"
    },
    "CreateContactChannelRequest":{
      "type":"structure",
      "required":[
        "ContactId",
        "Name",
        "Type",
        "DeliveryAddress"
      ],
      "members":{
        "ContactId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact you are adding the contact channel to.</p>"
        },
        "Name":{
          "shape":"ChannelName",
          "documentation":"<p>The name of the contact channel.</p>"
        },
        "Type":{
          "shape":"ChannelType",
          "documentation":"<p>Incident Manager supports three types of contact channels:</p> <ul> <li> <p> <code>SMS</code> </p> </li> <li> <p> <code>VOICE</code> </p> </li> <li> <p> <code>EMAIL</code> </p> </li> </ul>"
        },
        "DeliveryAddress":{
          "shape":"ContactChannelAddress",
          "documentation":"<p>The details that Incident Manager uses when trying to engage the contact channel. The format is dependent on the type of the contact channel. The following are the expected formats:</p> <ul> <li> <p>SMS - '+' followed by the country code and phone number</p> </li> <li> <p>VOICE - '+' followed by the country code and phone number</p> </li> <li> <p>EMAIL - any standard email format</p> </li> </ul>"
        },
        "DeferActivation":{
          "shape":"DeferActivation",
          "documentation":"<p>If you want to activate the channel at a later time, you can choose to defer activation. Incident Manager can't engage your contact channel until it has been activated.</p>"
        },
        "IdempotencyToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A token ensuring that the operation is called only once with the specified details.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateContactChannelResult":{
      "type":"structure",
      "required":["ContactChannelArn"],
      "members":{
        "ContactChannelArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact channel.</p>"
        }
      }
    },
    "CreateContactRequest":{
      "type":"structure",
      "required":[
        "Alias",
        "Type",
        "Plan"
      ],
      "members":{
        "Alias":{
          "shape":"ContactAlias",
          "documentation":"<p>The short name to quickly identify a contact or escalation plan. The contact alias must be unique and identifiable. </p>"
        },
        "DisplayName":{
          "shape":"ContactName",
          "documentation":"<p>The full name of the contact or escalation plan. </p>"
        },
        "Type":{
          "shape":"ContactType",
          "documentation":"<p>To create an escalation plan use <code>ESCALATION</code>. To create a contact use <code>PERSONAL</code>.</p>"
        },
        "Plan":{
          "shape":"Plan",
          "documentation":"<p>A list of stages. A contact has an engagement plan with stages that contact specified contact channels. An escalation plan uses stages that contact specified contacts. </p>"
        },
        "Tags":{
          "shape":"TagsList",
          "documentation":"<p>Adds a tag to the target. You can only tag resources created in the first Region of your replication set. </p>"
        },
        "IdempotencyToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A token ensuring that the operation is called only once with the specified details.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateContactResult":{
      "type":"structure",
      "required":["ContactArn"],
      "members":{
        "ContactArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the created contact or escalation plan.</p>"
        }
      }
    },
    "DataEncryptionException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>The operation failed to due an encryption key error.</p>",
      "exception":true
    },
    "DateTime":{"type":"timestamp"},
    "DeactivateContactChannelRequest":{
      "type":"structure",
      "required":["ContactChannelId"],
      "members":{
        "ContactChannelId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact channel you're deactivating.</p>"
        }
      }
    },
    "DeactivateContactChannelResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeferActivation":{
      "type":"boolean",
      "box":true
    },
    "DeleteContactChannelRequest":{
      "type":"structure",
      "required":["ContactChannelId"],
      "members":{
        "ContactChannelId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact channel.</p>"
        }
      }
    },
    "DeleteContactChannelResult":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteContactRequest":{
      "type":"structure",
      "required":["ContactId"],
      "members":{
        "ContactId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact that you're deleting.</p>"
        }
      }
    },
    "DeleteContactResult":{
      "type":"structure",
      "members":{
      }
    },
    "DescribeEngagementRequest":{
      "type":"structure",
      "required":["EngagementId"],
      "members":{
        "EngagementId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the engagement you want the details of.</p>"
        }
      }
    },
    "DescribeEngagementResult":{
      "type":"structure",
      "required":[
        "ContactArn",
        "EngagementArn",
        "Sender",
        "Subject",
        "Content"
      ],
      "members":{
        "ContactArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The ARN of the escalation plan or contacts involved in the engagement.</p>"
        },
        "EngagementArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The ARN of the engagement.</p>"
        },
        "Sender":{
          "shape":"Sender",
          "documentation":"<p>The user that started the engagement.</p>"
        },
        "Subject":{
          "shape":"Subject",
          "documentation":"<p>The secure subject of the message that was sent to the contact. Use this field for engagements to <code>VOICE</code> and <code>EMAIL</code>.</p>"
        },
        "Content":{
          "shape":"Content",
          "documentation":"<p>The secure content of the message that was sent to the contact. Use this field for engagements to <code>VOICE</code> and <code>EMAIL</code>.</p>"
        },
        "PublicSubject":{
          "shape":"PublicSubject",
          "documentation":"<p>The insecure subject of the message that was sent to the contact. Use this field for engagements to <code>SMS</code>.</p>"
        },
        "PublicContent":{
          "shape":"PublicContent",
          "documentation":"<p>The insecure content of the message that was sent to the contact. Use this field for engagements to <code>SMS</code>.</p>"
        },
        "IncidentId":{
          "shape":"IncidentId",
          "documentation":"<p>The ARN of the incident in which the engagement occurred.</p>"
        },
        "StartTime":{
          "shape":"DateTime",
          "documentation":"<p>The time that the engagement started.</p>"
        },
        "StopTime":{
          "shape":"DateTime",
          "documentation":"<p>The time that the engagement ended.</p>"
        }
      }
    },
    "DescribePageRequest":{
      "type":"structure",
      "required":["PageId"],
      "members":{
        "PageId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The ID of the engagement to a contact channel.</p>"
        }
      }
    },
    "DescribePageResult":{
      "type":"structure",
      "required":[
        "PageArn",
        "EngagementArn",
        "ContactArn",
        "Sender",
        "Subject",
        "Content"
      ],
      "members":{
        "PageArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the engagement to a contact channel.</p>"
        },
        "EngagementArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The ARN of the engagement that engaged the contact channel.</p>"
        },
        "ContactArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The ARN of the contact that was engaged.</p>"
        },
        "Sender":{
          "shape":"Sender",
          "documentation":"<p>The user that started the engagement.</p>"
        },
        "Subject":{
          "shape":"Subject",
          "documentation":"<p>The secure subject of the message that was sent to the contact. Use this field for engagements to <code>VOICE</code> and <code>EMAIL</code>.</p>"
        },
        "Content":{
          "shape":"Content",
          "documentation":"<p>The secure content of the message that was sent to the contact. Use this field for engagements to <code>VOICE</code> and <code>EMAIL</code>.</p>"
        },
        "PublicSubject":{
          "shape":"PublicSubject",
          "documentation":"<p>The insecure subject of the message that was sent to the contact. Use this field for engagements to <code>SMS</code>.</p>"
        },
        "PublicContent":{
          "shape":"PublicContent",
          "documentation":"<p>The insecure content of the message that was sent to the contact. Use this field for engagements to <code>SMS</code>.</p>"
        },
        "IncidentId":{
          "shape":"IncidentId",
          "documentation":"<p>The ARN of the incident that engaged the contact channel.</p>"
        },
        "SentTime":{
          "shape":"DateTime",
          "documentation":"<p>The time the engagement was sent to the contact channel.</p>"
        },
        "ReadTime":{
          "shape":"DateTime",
          "documentation":"<p>The time that the contact channel acknowledged the engagement.</p>"
        },
        "DeliveryTime":{
          "shape":"DateTime",
          "documentation":"<p>The time that the contact channel received the engagement.</p>"
        }
      }
    },
    "Engagement":{
      "type":"structure",
      "required":[
        "EngagementArn",
        "ContactArn",
        "Sender"
      ],
      "members":{
        "EngagementArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the engagement.</p>"
        },
        "ContactArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The ARN of the escalation plan or contact that Incident Manager is engaging.</p>"
        },
        "Sender":{
          "shape":"Sender",
          "documentation":"<p>The user that started the engagement.</p>"
        },
        "IncidentId":{
          "shape":"IncidentId",
          "documentation":"<p>The ARN of the incident that's engaging the contact.</p>"
        },
        "StartTime":{
          "shape":"DateTime",
          "documentation":"<p>The time that the engagement began.</p>"
        },
        "StopTime":{
          "shape":"DateTime",
          "documentation":"<p>The time that the engagement ended.</p>"
        }
      },
      "documentation":"<p>Incident Manager reaching out to a contact or escalation plan to engage contact during an incident.</p>"
    },
    "EngagementsList":{
      "type":"list",
      "member":{"shape":"Engagement"}
    },
    "GetContactChannelRequest":{
      "type":"structure",
      "required":["ContactChannelId"],
      "members":{
        "ContactChannelId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact channel you want information about.</p>"
        }
      }
    },
    "GetContactChannelResult":{
      "type":"structure",
      "required":[
        "ContactArn",
        "ContactChannelArn",
        "Name",
        "Type",
        "DeliveryAddress"
      ],
      "members":{
        "ContactArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The ARN of the contact that the channel belongs to.</p>"
        },
        "ContactChannelArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The ARN of the contact channel.</p>"
        },
        "Name":{
          "shape":"ChannelName",
          "documentation":"<p>The name of the contact channel</p>"
        },
        "Type":{
          "shape":"ChannelType",
          "documentation":"<p>The type of contact channel. The type is <code>SMS</code>, <code>VOICE</code>, or <code>EMAIL</code>.</p>"
        },
        "DeliveryAddress":{
          "shape":"ContactChannelAddress",
          "documentation":"<p>The details that Incident Manager uses when trying to engage the contact channel. </p>"
        },
        "ActivationStatus":{
          "shape":"ActivationStatus",
          "documentation":"<p>A Boolean value indicating if the contact channel has been activated or not.</p>"
        }
      }
    },
    "GetContactPolicyRequest":{
      "type":"structure",
      "required":["ContactArn"],
      "members":{
        "ContactArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>"
        }
      }
    },
    "GetContactPolicyResult":{
      "type":"structure",
      "members":{
        "ContactArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The ARN of the contact or escalation plan.</p>"
        },
        "Policy":{
          "shape":"Policy",
          "documentation":"<p>Details about the resource policy attached to the contact or escalation plan.</p>"
        }
      }
    },
    "GetContactRequest":{
      "type":"structure",
      "required":["ContactId"],
      "members":{
        "ContactId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>"
        }
      }
    },
    "GetContactResult":{
      "type":"structure",
      "required":[
        "ContactArn",
        "Alias",
        "Type",
        "Plan"
      ],
      "members":{
        "ContactArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The ARN of the contact or escalation plan.</p>"
        },
        "Alias":{
          "shape":"ContactAlias",
          "documentation":"<p>The alias of the contact or escalation plan. The alias is unique and identifiable.</p>"
        },
        "DisplayName":{
          "shape":"ContactName",
          "documentation":"<p>The full name of the contact or escalation plan.</p>"
        },
        "Type":{
          "shape":"ContactType",
          "documentation":"<p>The type of contact, either <code>PERSONAL</code> or <code>ESCALATION</code>. </p>"
        },
        "Plan":{
          "shape":"Plan",
          "documentation":"<p>Details about the specific timing or stages and targets of the escalation plan or engagement plan.</p>"
        }
      }
    },
    "IdempotencyToken":{
      "type":"string",
      "max":2048,
      "pattern":"^[\\\\\\/a-zA-Z0-9_+=\\-]*$"
    },
    "IncidentId":{
      "type":"string",
      "max":1024,
      "pattern":"^[\\\\a-zA-Z0-9_@#%*+=:?.\\/!\\s-]*$"
    },
    "InternalServerException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"String"},
        "RetryAfterSeconds":{
          "shape":"RetryAfterSeconds",
          "documentation":"Advice to clients on when the call can be safely retried"
        }
      },
      "documentation":"<p>Unexpected error occurred while processing the request.</p>",
      "exception":true,
      "fault":true
    },
    "IsEssential":{
      "type":"boolean",
      "box":true
    },
    "ListContactChannelsRequest":{
      "type":"structure",
      "required":["ContactId"],
      "members":{
        "ContactId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact. </p>"
        },
        "NextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>The pagination token to continue to the next page of results.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of contact channels per page.</p>"
        }
      }
    },
    "ListContactChannelsResult":{
      "type":"structure",
      "required":["ContactChannels"],
      "members":{
        "NextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>The pagination token to continue to the next page of results.</p>"
        },
        "ContactChannels":{
          "shape":"ContactChannelList",
          "documentation":"<p>A list of contact channels related to the specified contact.</p>"
        }
      }
    },
    "ListContactsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>The pagination token to continue to the next page of results.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of contacts and escalation plans per page of results.</p>"
        },
        "AliasPrefix":{
          "shape":"ContactAlias",
          "documentation":"<p>Used to list only contacts who's aliases start with the specified prefix.</p>"
        },
        "Type":{
          "shape":"ContactType",
          "documentation":"<p>The type of contact. A contact is type <code>PERSONAL</code> and an escalation plan is type <code>ESCALATION</code>.</p>"
        }
      }
    },
    "ListContactsResult":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>The pagination token to continue to the next page of results.</p>"
        },
        "Contacts":{
          "shape":"ContactsList",
          "documentation":"<p>A list of the contacts and escalation plans in your Incident Manager account.</p>"
        }
      }
    },
    "ListEngagementsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>The pagination token to continue to the next page of results.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of engagements per page of results.</p>"
        },
        "IncidentId":{
          "shape":"IncidentId",
          "documentation":"<p>The Amazon Resource Name (ARN) of the incident you're listing engagements for.</p>"
        },
        "TimeRangeValue":{
          "shape":"TimeRange",
          "documentation":"<p>The time range to lists engagements for an incident.</p>"
        }
      }
    },
    "ListEngagementsResult":{
      "type":"structure",
      "required":["Engagements"],
      "members":{
        "NextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>The pagination token to continue to the next page of results.</p>"
        },
        "Engagements":{
          "shape":"EngagementsList",
          "documentation":"<p>A list of each engagement that occurred during the specified time range of an incident.</p>"
        }
      }
    },
    "ListPageReceiptsRequest":{
      "type":"structure",
      "required":["PageId"],
      "members":{
        "PageId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the engagement to a specific contact channel.</p>"
        },
        "NextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>The pagination token to continue to the next page of results.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of acknowledgements per page of results.</p>"
        }
      }
    },
    "ListPageReceiptsResult":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>The pagination token to continue to the next page of results.</p>"
        },
        "Receipts":{
          "shape":"ReceiptsList",
          "documentation":"<p>A list of each acknowledgement.</p>"
        }
      }
    },
    "ListPagesByContactRequest":{
      "type":"structure",
      "required":["ContactId"],
      "members":{
        "ContactId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact you are retrieving engagements for.</p>"
        },
        "NextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>The pagination token to continue to the next page of results.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of engagements to contact channels to list per page of results. </p>"
        }
      }
    },
    "ListPagesByContactResult":{
      "type":"structure",
      "required":["Pages"],
      "members":{
        "NextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>The pagination token to continue to the next page of results.</p>"
        },
        "Pages":{
          "shape":"PagesList",
          "documentation":"<p>The list of engagements to a contact's contact channel.</p>"
        }
      }
    },
    "ListPagesByEngagementRequest":{
      "type":"structure",
      "required":["EngagementId"],
      "members":{
        "EngagementId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the engagement.</p>"
        },
        "NextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>The pagination token to continue to the next page of results.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of engagements to contact channels to list per page of results.</p>"
        }
      }
    },
    "ListPagesByEngagementResult":{
      "type":"structure",
      "required":["Pages"],
      "members":{
        "NextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>The pagination token to continue to the next page of results.</p>"
        },
        "Pages":{
          "shape":"PagesList",
          "documentation":"<p>The list of engagements to contact channels.</p>"
        }
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["ResourceARN"],
      "members":{
        "ResourceARN":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>"
        }
      }
    },
    "ListTagsForResourceResult":{
      "type":"structure",
      "members":{
        "Tags":{
          "shape":"TagsList",
          "documentation":"<p>The tags related to the contact or escalation plan.</p>"
        }
      }
    },
    "MaxResults":{
      "type":"integer",
      "box":true,
      "max":1024,
      "min":0
    },
    "Page":{
      "type":"structure",
      "required":[
        "PageArn",
        "EngagementArn",
        "ContactArn",
        "Sender"
      ],
      "members":{
        "PageArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the page to the contact channel.</p>"
        },
        "EngagementArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The ARN of the engagement that this page is part of.</p>"
        },
        "ContactArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The ARN of the contact that Incident Manager is engaging.</p>"
        },
        "Sender":{
          "shape":"Sender",
          "documentation":"<p>The user that started the engagement.</p>"
        },
        "IncidentId":{
          "shape":"IncidentId",
          "documentation":"<p>The ARN of the incident that's engaging the contact channel.</p>"
        },
        "SentTime":{
          "shape":"DateTime",
          "documentation":"<p>The time that Incident Manager engaged the contact channel.</p>"
        },
        "DeliveryTime":{
          "shape":"DateTime",
          "documentation":"<p>The time the message was delivered to the contact channel.</p>"
        },
        "ReadTime":{
          "shape":"DateTime",
          "documentation":"<p>The time that the contact channel acknowledged engagement.</p>"
        }
      },
      "documentation":"<p>Incident Manager engaging a contact's contact channel.</p>"
    },
    "PagesList":{
      "type":"list",
      "member":{"shape":"Page"}
    },
    "PaginationToken":{
      "type":"string",
      "max":2048,
      "pattern":"^[\\\\\\/a-zA-Z0-9_+=\\-]*$"
    },
    "Plan":{
      "type":"structure",
      "required":["Stages"],
      "members":{
        "Stages":{
          "shape":"StagesList",
          "documentation":"<p>A list of stages that the escalation plan or engagement plan uses to engage contacts and contact methods.</p>"
        }
      },
      "documentation":"<p>The stages that an escalation plan or engagement plan engages contacts and contact methods in.</p>"
    },
    "Policy":{
      "type":"string",
      "max":395000,
      "min":1,
      "pattern":".*\\S.*"
    },
    "PublicContent":{
      "type":"string",
      "max":8192,
      "min":1,
      "pattern":"^[.\\s\\S]*$"
    },
    "PublicSubject":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"^[.\\s\\S]*$"
    },
    "PutContactPolicyRequest":{
      "type":"structure",
      "required":[
        "ContactArn",
        "Policy"
      ],
      "members":{
        "ContactArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>"
        },
        "Policy":{
          "shape":"Policy",
          "documentation":"<p>Details of the resource policy.</p>"
        }
      }
    },
    "PutContactPolicyResult":{
      "type":"structure",
      "members":{
      }
    },
    "Receipt":{
      "type":"structure",
      "required":[
        "ReceiptType",
        "ReceiptTime"
      ],
      "members":{
        "ContactChannelArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact channel Incident Manager engaged.</p>"
        },
        "ReceiptType":{
          "shape":"ReceiptType",
          "documentation":"<p>The type follows the engagement cycle, <code>SENT</code>, <code>DELIVERED</code>, and <code>READ</code>.</p>"
        },
        "ReceiptInfo":{
          "shape":"ReceiptInfo",
          "documentation":"<p>Information provided during the page acknowledgement.</p>"
        },
        "ReceiptTime":{
          "shape":"DateTime",
          "documentation":"<p>The time receipt was <code>SENT</code>, <code>DELIVERED</code>, or <code>READ</code>.</p>"
        }
      },
      "documentation":"<p>Records events during an engagement.</p>"
    },
    "ReceiptInfo":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"^[.\\s\\S]*$"
    },
    "ReceiptType":{
      "type":"string",
      "enum":[
        "DELIVERED",
        "ERROR",
        "READ",
        "SENT",
        "STOP"
      ]
    },
    "ReceiptsList":{
      "type":"list",
      "member":{"shape":"Receipt"}
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":[
        "Message",
        "ResourceId",
        "ResourceType"
      ],
      "members":{
        "Message":{"shape":"String"},
        "ResourceId":{
          "shape":"String",
          "documentation":"Hypothetical resource identifier that was not found"
        },
        "ResourceType":{
          "shape":"String",
          "documentation":"Hypothetical resource type that was not found"
        }
      },
      "documentation":"<p>Request references a resource that doesn't exist.</p>",
      "exception":true
    },
    "RetryAfterSeconds":{"type":"integer"},
    "RetryIntervalInMinutes":{
      "type":"integer",
      "box":true,
      "max":60,
      "min":0
    },
    "SendActivationCodeRequest":{
      "type":"structure",
      "required":["ContactChannelId"],
      "members":{
        "ContactChannelId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact channel.</p>"
        }
      }
    },
    "SendActivationCodeResult":{
      "type":"structure",
      "members":{
      }
    },
    "Sender":{
      "type":"string",
      "max":255,
      "pattern":"^[\\\\a-zA-Z0-9_@#%*+=:?.\\/!\\s-]*$"
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "required":[
        "Message",
        "QuotaCode",
        "ServiceCode"
      ],
      "members":{
        "Message":{"shape":"String"},
        "ResourceId":{
          "shape":"String",
          "documentation":"Identifier of the resource affected"
        },
        "ResourceType":{
          "shape":"String",
          "documentation":"Type of the resource affected"
        },
        "QuotaCode":{
          "shape":"String",
          "documentation":"Service Quotas requirement to identify originating service"
        },
        "ServiceCode":{
          "shape":"String",
          "documentation":"Service Quotas requirement to identify originating quota"
        }
      },
      "documentation":"<p>Request would cause a service quota to be exceeded.</p>",
      "exception":true
    },
    "SimpleAddress":{
      "type":"string",
      "max":320,
      "min":1
    },
    "SsmContactsArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:(aws|aws-cn|aws-us-gov):ssm-contacts:[-\\w+=\\/,.@]*:[0-9]+:([\\w+=\\/,.@:-]+)*"
    },
    "Stage":{
      "type":"structure",
      "required":[
        "DurationInMinutes",
        "Targets"
      ],
      "members":{
        "DurationInMinutes":{
          "shape":"StageDurationInMins",
          "documentation":"<p>The time to wait until beginning the next stage. The duration can only be set to 0 if a target is specified.</p>"
        },
        "Targets":{
          "shape":"TargetsList",
          "documentation":"<p>The contacts or contact methods that the escalation plan or engagement plan is engaging.</p>"
        }
      },
      "documentation":"<p>A set amount of time that an escalation plan or engagement plan engages the specified contacts or contact methods.</p>"
    },
    "StageDurationInMins":{
      "type":"integer",
      "box":true,
      "max":30,
      "min":0
    },
    "StagesList":{
      "type":"list",
      "member":{"shape":"Stage"}
    },
    "StartEngagementRequest":{
      "type":"structure",
      "required":[
        "ContactId",
        "Sender",
        "Subject",
        "Content"
      ],
      "members":{
        "ContactId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact being engaged.</p>"
        },
        "Sender":{
          "shape":"Sender",
          "documentation":"<p>The user that started the engagement.</p>"
        },
        "Subject":{
          "shape":"Subject",
          "documentation":"<p>The secure subject of the message that was sent to the contact. Use this field for engagements to <code>VOICE</code> or <code>EMAIL</code>.</p>"
        },
        "Content":{
          "shape":"Content",
          "documentation":"<p>The secure content of the message that was sent to the contact. Use this field for engagements to <code>VOICE</code> or <code>EMAIL</code>.</p>"
        },
        "PublicSubject":{
          "shape":"PublicSubject",
          "documentation":"<p>The insecure subject of the message that was sent to the contact. Use this field for engagements to <code>SMS</code>.</p>"
        },
        "PublicContent":{
          "shape":"PublicContent",
          "documentation":"<p>The insecure content of the message that was sent to the contact. Use this field for engagements to <code>SMS</code>.</p>"
        },
        "IncidentId":{
          "shape":"IncidentId",
          "documentation":"<p>The ARN of the incident that the engagement is part of.</p>"
        },
        "IdempotencyToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A token ensuring that the operation is called only once with the specified details.</p>",
          "idempotencyToken":true
        }
      }
    },
    "StartEngagementResult":{
      "type":"structure",
      "required":["EngagementArn"],
      "members":{
        "EngagementArn":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The ARN of the engagement.</p>"
        }
      }
    },
    "StopEngagementRequest":{
      "type":"structure",
      "required":["EngagementId"],
      "members":{
        "EngagementId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the engagement.</p>"
        },
        "Reason":{
          "shape":"StopReason",
          "documentation":"<p>The reason that you're stopping the engagement. </p>"
        }
      }
    },
    "StopEngagementResult":{
      "type":"structure",
      "members":{
      }
    },
    "StopReason":{
      "type":"string",
      "max":255,
      "pattern":"^[.\\s\\S]*$"
    },
    "String":{"type":"string"},
    "Subject":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"^[.\\s\\S]*$"
    },
    "Tag":{
      "type":"structure",
      "members":{
        "Key":{
          "shape":"TagKey",
          "documentation":"<p>Name of the object key.</p>"
        },
        "Value":{
          "shape":"TagValue",
          "documentation":"<p>Value of the tag.</p>"
        }
      },
      "documentation":"<p>A container of a key-value name pair.</p>"
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^[\\\\\\/a-zA-Z0-9_+=\\-]*$"
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "max":50,
      "min":0
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceARN",
        "Tags"
      ],
      "members":{
        "ResourceARN":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>"
        },
        "Tags":{
          "shape":"TagsList",
          "documentation":"<p>A list of tags that you are adding to the contact or escalation plan.</p>"
        }
      }
    },
    "TagResourceResult":{
      "type":"structure",
      "members":{
      }
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"^[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@]*$"
    },
    "TagsList":{
      "type":"list",
      "member":{"shape":"Tag"},
      "max":50,
      "min":0
    },
    "Target":{
      "type":"structure",
      "members":{
        "ChannelTargetInfo":{
          "shape":"ChannelTargetInfo",
          "documentation":"<p>Information about the contact channel Incident Manager is engaging.</p>"
        },
        "ContactTargetInfo":{
          "shape":"ContactTargetInfo",
          "documentation":"<p>Information about the contact that Incident Manager is engaging.</p>"
        }
      },
      "documentation":"<p>The contact or contact channel that's being engaged.</p>"
    },
    "TargetsList":{
      "type":"list",
      "member":{"shape":"Target"}
    },
    "ThrottlingException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"String"},
        "QuotaCode":{
          "shape":"String",
          "documentation":"Service Quotas requirement to identify originating service"
        },
        "ServiceCode":{
          "shape":"String",
          "documentation":"Service Quotas requirement to identify originating quota"
        },
        "RetryAfterSeconds":{
          "shape":"RetryAfterSeconds",
          "documentation":"Advice to clients on when the call can be safely retried"
        }
      },
      "documentation":"<p>The request was denied due to request throttling.</p>",
      "exception":true
    },
    "TimeRange":{
      "type":"structure",
      "members":{
        "StartTime":{
          "shape":"DateTime",
          "documentation":"<p>The start of the time range.</p>"
        },
        "EndTime":{
          "shape":"DateTime",
          "documentation":"<p>The end of the time range.</p>"
        }
      },
      "documentation":"<p>A range of between two set times</p>"
    },
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceARN",
        "TagKeys"
      ],
      "members":{
        "ResourceARN":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact or escalation plan.</p>"
        },
        "TagKeys":{
          "shape":"TagKeyList",
          "documentation":"<p>The key of the tag that you want to remove.</p>"
        }
      }
    },
    "UntagResourceResult":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateContactChannelRequest":{
      "type":"structure",
      "required":["ContactChannelId"],
      "members":{
        "ContactChannelId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact channel you want to update.</p>"
        },
        "Name":{
          "shape":"ChannelName",
          "documentation":"<p>The name of the contact channel.</p>"
        },
        "DeliveryAddress":{
          "shape":"ContactChannelAddress",
          "documentation":"<p>The details that Incident Manager uses when trying to engage the contact channel. </p>"
        }
      }
    },
    "UpdateContactChannelResult":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateContactRequest":{
      "type":"structure",
      "required":["ContactId"],
      "members":{
        "ContactId":{
          "shape":"SsmContactsArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the contact or escalation plan you're updating.</p>"
        },
        "DisplayName":{
          "shape":"ContactName",
          "documentation":"<p>The full name of the contact or escalation plan.</p>"
        },
        "Plan":{
          "shape":"Plan",
          "documentation":"<p>A list of stages. A contact has an engagement plan with stages for specified contact channels. An escalation plan uses these stages to contact specified contacts. </p>"
        }
      }
    },
    "UpdateContactResult":{
      "type":"structure",
      "members":{
      }
    },
    "ValidationException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"String"},
        "Reason":{
          "shape":"ValidationExceptionReason",
          "documentation":"Reason the request failed validation"
        },
        "Fields":{
          "shape":"ValidationExceptionFieldList",
          "documentation":"The fields that caused the error"
        }
      },
      "documentation":"<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
      "exception":true
    },
    "ValidationExceptionField":{
      "type":"structure",
      "required":[
        "Name",
        "Message"
      ],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the field that caused the exception.</p>"
        },
        "Message":{
          "shape":"String",
          "documentation":"<p>Information about what caused the field to cause an exception.</p>"
        }
      },
      "documentation":"<p>Provides information about which field caused the exception.</p>"
    },
    "ValidationExceptionFieldList":{
      "type":"list",
      "member":{"shape":"ValidationExceptionField"}
    },
    "ValidationExceptionReason":{
      "type":"string",
      "enum":[
        "UNKNOWN_OPERATION",
        "CANNOT_PARSE",
        "FIELD_VALIDATION_FAILED",
        "OTHER"
      ]
    }
  },
  "documentation":"<p>Systems Manager Incident Manager is an incident management console designed to help users mitigate and recover from incidents affecting their Amazon Web Services-hosted applications. An incident is any unplanned interruption or reduction in quality of services. </p> <p>Incident Manager increases incident resolution by notifying responders of impact, highlighting relevant troubleshooting data, and providing collaboration tools to get services back up and running. To achieve the primary goal of reducing the time-to-resolution of critical incidents, Incident Manager automates response plans and enables responder team escalation. </p>"
}
