{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-05-28",
    "endpointPrefix":"data-ats.iot",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AWS IoT Data Plane",
    "serviceId":"IoT Data Plane",
    "signatureVersion":"v4",
    "signingName":"iotdata",
    "uid":"iot-data-2015-05-28",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "DeleteConnection":{
      "name":"DeleteConnection",
      "http":{
        "method":"DELETE",
        "requestUri":"/connections/{clientId}"
      },
      "input":{"shape":"DeleteConnectionRequest"},
      "errors":[
        {"shape":"ForbiddenException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Disconnects a connected MQTT client from Amazon Web Services IoT Core. When you disconnect a client, Amazon Web Services IoT Core closes the client's network connection and optionally cleans the session state.</p> <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">DeleteConnection</a> action.</p>"
    },
    "DeleteThingShadow":{
      "name":"DeleteThingShadow",
      "http":{
        "method":"DELETE",
        "requestUri":"/things/{thingName}/shadow"
      },
      "input":{"shape":"DeleteThingShadowRequest"},
      "output":{"shape":"DeleteThingShadowResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalFailureException"},
        {"shape":"MethodNotAllowedException"},
        {"shape":"UnsupportedDocumentEncodingException"}
      ],
      "documentation":"<p>Deletes the shadow for the specified thing.</p> <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">DeleteThingShadow</a> action.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/iot/latest/developerguide/API_DeleteThingShadow.html\">DeleteThingShadow</a> in the IoT Developer Guide.</p>"
    },
    "GetConnection":{
      "name":"GetConnection",
      "http":{
        "method":"GET",
        "requestUri":"/connections/{clientId}"
      },
      "input":{"shape":"GetConnectionRequest"},
      "output":{"shape":"GetConnectionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Retrieves connection information for the specified MQTT client.</p> <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">GetConnection</a> action.</p>"
    },
    "GetRetainedMessage":{
      "name":"GetRetainedMessage",
      "http":{
        "method":"GET",
        "requestUri":"/retainedMessage/{topic}"
      },
      "input":{"shape":"GetRetainedMessageRequest"},
      "output":{"shape":"GetRetainedMessageResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalFailureException"},
        {"shape":"MethodNotAllowedException"}
      ],
      "documentation":"<p>Gets the details of a single retained message for the specified topic.</p> <p>This action returns the message payload of the retained message, which can incur messaging costs. To list only the topic names of the retained messages, call <a href=\"https://docs.aws.amazon.com/iot/latest/apireference/API_iotdata_ListRetainedMessages.html\">ListRetainedMessages</a>.</p> <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html\">GetRetainedMessage</a> action.</p> <p>For more information about messaging costs, see <a href=\"http://aws.amazon.com/iot-core/pricing/#Messaging\">Amazon Web Services IoT Core pricing - Messaging</a>.</p>"
    },
    "GetThingShadow":{
      "name":"GetThingShadow",
      "http":{
        "method":"GET",
        "requestUri":"/things/{thingName}/shadow"
      },
      "input":{"shape":"GetThingShadowRequest"},
      "output":{"shape":"GetThingShadowResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalFailureException"},
        {"shape":"MethodNotAllowedException"},
        {"shape":"UnsupportedDocumentEncodingException"}
      ],
      "documentation":"<p>Gets the shadow for the specified thing.</p> <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">GetThingShadow</a> action.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/iot/latest/developerguide/API_GetThingShadow.html\">GetThingShadow</a> in the IoT Developer Guide.</p>"
    },
    "ListNamedShadowsForThing":{
      "name":"ListNamedShadowsForThing",
      "http":{
        "method":"GET",
        "requestUri":"/api/things/shadow/ListNamedShadowsForThing/{thingName}"
      },
      "input":{"shape":"ListNamedShadowsForThingRequest"},
      "output":{"shape":"ListNamedShadowsForThingResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalFailureException"},
        {"shape":"MethodNotAllowedException"}
      ],
      "documentation":"<p>Lists the shadows for the specified thing.</p> <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">ListNamedShadowsForThing</a> action.</p>"
    },
    "ListRetainedMessages":{
      "name":"ListRetainedMessages",
      "http":{
        "method":"GET",
        "requestUri":"/retainedMessage"
      },
      "input":{"shape":"ListRetainedMessagesRequest"},
      "output":{"shape":"ListRetainedMessagesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalFailureException"},
        {"shape":"MethodNotAllowedException"}
      ],
      "documentation":"<p>Lists summary information about the retained messages stored for the account.</p> <p>This action returns only the topic names of the retained messages. It doesn't return any message payloads. Although this action doesn't return a message payload, it can still incur messaging costs.</p> <p>To get the message payload of a retained message, call <a href=\"https://docs.aws.amazon.com/iot/latest/apireference/API_iotdata_GetRetainedMessage.html\">GetRetainedMessage</a> with the topic name of the retained message.</p> <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html\">ListRetainedMessages</a> action.</p> <p>For more information about messaging costs, see <a href=\"http://aws.amazon.com/iot-core/pricing/#Messaging\">Amazon Web Services IoT Core pricing - Messaging</a>.</p>"
    },
    "ListSubscriptions":{
      "name":"ListSubscriptions",
      "http":{
        "method":"GET",
        "requestUri":"/connections/{clientId}/subscriptions"
      },
      "input":{"shape":"ListSubscriptionsRequest"},
      "output":{"shape":"ListSubscriptionsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Returns a list of all subscriptions for MQTT clients with active sessions, including offline clients with persistent sessions.</p> <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">ListSubscriptions</a> action.</p>"
    },
    "Publish":{
      "name":"Publish",
      "http":{
        "method":"POST",
        "requestUri":"/topics/{topic}"
      },
      "input":{"shape":"PublishRequest"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnauthorizedException"},
        {"shape":"MethodNotAllowedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Publishes an MQTT message.</p> <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">Publish</a> action.</p> <p>For more information about MQTT messages, see <a href=\"http://docs.aws.amazon.com/iot/latest/developerguide/mqtt.html\">MQTT Protocol</a> in the IoT Developer Guide.</p> <p>For more information about messaging costs, see <a href=\"http://aws.amazon.com/iot-core/pricing/#Messaging\">Amazon Web Services IoT Core pricing - Messaging</a>.</p>"
    },
    "SendDirectMessage":{
      "name":"SendDirectMessage",
      "http":{
        "method":"POST",
        "requestUri":"/connections/{clientId}/messages"
      },
      "input":{"shape":"SendDirectMessageRequest"},
      "output":{"shape":"SendDirectMessageResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ForbiddenException"},
        {"shape":"ThrottlingException"},
        {"shape":"RequestEntityTooLargeException"},
        {"shape":"GatewayTimeoutException"}
      ],
      "documentation":"<p>Sends an MQTT message directly to a specific client identified by its client ID.</p> <p> <code>SendDirectMessage</code> targets a single client ID. The receiving client does not need to subscribe to the topic, but the receiver's policy must allow <code>iot:Receive</code> on the specified topic.</p> <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">SendDirectMessage</a> action.</p> <p>For more information about messaging costs, see <a href=\"http://aws.amazon.com/iot-core/pricing/\">Amazon Web Services IoT Core pricing</a>.</p>"
    },
    "UpdateThingShadow":{
      "name":"UpdateThingShadow",
      "http":{
        "method":"POST",
        "requestUri":"/things/{thingName}/shadow"
      },
      "input":{"shape":"UpdateThingShadowRequest"},
      "output":{"shape":"UpdateThingShadowResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"RequestEntityTooLargeException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalFailureException"},
        {"shape":"MethodNotAllowedException"},
        {"shape":"UnsupportedDocumentEncodingException"}
      ],
      "documentation":"<p>Updates the shadow for the specified thing.</p> <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">UpdateThingShadow</a> action.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/iot/latest/developerguide/API_UpdateThingShadow.html\">UpdateThingShadow</a> in the IoT Developer Guide.</p>"
    }
  },
  "shapes":{
    "CleanSession":{"type":"boolean"},
    "ClientId":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^[^$].*"
    },
    "Confirmation":{"type":"boolean"},
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"errorMessage",
          "documentation":"<p>The message for the exception.</p>"
        }
      },
      "documentation":"<p>The specified version does not match the version of the document.</p>",
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "Connected":{"type":"boolean"},
    "ContentType":{"type":"string"},
    "CorrelationData":{"type":"string"},
    "DeleteConnectionRequest":{
      "type":"structure",
      "required":["clientId"],
      "members":{
        "clientId":{
          "shape":"ClientId",
          "documentation":"<p>The unique identifier of the MQTT client to disconnect. The client ID can't start with a dollar sign ($).</p> <p>MQTT client IDs must be URL encoded (percent-encoded) when they contain characters that are not valid in HTTP requests, such as spaces, forward slashes (/), and UTF-8 characters.</p>",
          "location":"uri",
          "locationName":"clientId"
        },
        "cleanSession":{
          "shape":"CleanSession",
          "documentation":"<p>Specifies whether to remove the client's persistent session state when disconnecting. Set to <code>TRUE</code> to delete all session information, including subscriptions and queued messages. Set to <code>FALSE</code> to preserve the session state for <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/mqtt.html#mqtt-persistent-sessions\">persistent sessions</a>. For clean sessions this parameter will be ignored. By default, this is set to <code>FALSE</code> (preserves the session state).</p>",
          "location":"querystring",
          "locationName":"cleanSession"
        },
        "preventWillMessage":{
          "shape":"PreventWillMessage",
          "documentation":"<p>Controls if Amazon Web Services IoT Core publishes the client's Last Will and Testament (LWT) message upon disconnection. Set to <code>TRUE</code> to prevent publishing the LWT message. Set to <code>FALSE</code> to ensure that LWT is published. By default, this is set to <code>FALSE</code> (LWT message is published).</p>",
          "location":"querystring",
          "locationName":"preventWillMessage"
        }
      }
    },
    "DeleteThingShadowRequest":{
      "type":"structure",
      "required":["thingName"],
      "members":{
        "thingName":{
          "shape":"ThingName",
          "documentation":"<p>The name of the thing.</p>",
          "location":"uri",
          "locationName":"thingName"
        },
        "shadowName":{
          "shape":"ShadowName",
          "documentation":"<p>The name of the shadow.</p>",
          "location":"querystring",
          "locationName":"name"
        }
      },
      "documentation":"<p>The input for the DeleteThingShadow operation.</p>"
    },
    "DeleteThingShadowResponse":{
      "type":"structure",
      "required":["payload"],
      "members":{
        "payload":{
          "shape":"JsonDocument",
          "documentation":"<p>The state information, in JSON format.</p>"
        }
      },
      "documentation":"<p>The output from the DeleteThingShadow operation.</p>",
      "payload":"payload"
    },
    "DisconnectReason":{"type":"string"},
    "ForbiddenException":{
      "type":"structure",
      "members":{
        "message":{"shape":"errorMessage"}
      },
      "documentation":"<p>The caller isn't authorized to make the request.</p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "GatewayTimeoutException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"errorMessage",
          "documentation":"<p>The message for the exception.</p>"
        }
      },
      "documentation":"<p>The delivery confirmation was not received from the client within the specified timeout period.</p>",
      "error":{"httpStatusCode":504},
      "exception":true
    },
    "GetConnectionRequest":{
      "type":"structure",
      "required":["clientId"],
      "members":{
        "clientId":{
          "shape":"ClientId",
          "documentation":"<p>The unique identifier of the MQTT client to retrieve connection information. The client ID can't start with a dollar sign ($).</p> <p>MQTT client IDs must be URL encoded (percent-encoded) when they contain characters that are not valid in HTTP requests, such as spaces, forward slashes (/), and UTF-8 characters.</p>",
          "location":"uri",
          "locationName":"clientId"
        },
        "includeSocketInformation":{
          "shape":"IncludeSocketInformation",
          "documentation":"<p>Specifies if socket information (sourcePort, targetPort, sourceIp, targetIp) should be included in the GetConnection response. Set to <code>TRUE</code> to include socket information. Set to <code>FALSE</code> to omit socket information. By default, this is set to <code>FALSE</code>. See the <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/mqtt.html#mqtt-client-disconnect\">developer guide</a> for how to authorize this parameter.</p>",
          "location":"querystring",
          "locationName":"includeSocketInformation"
        }
      }
    },
    "GetConnectionResponse":{
      "type":"structure",
      "members":{
        "connected":{
          "shape":"Connected",
          "documentation":"<p>The connection state of the client. Returns <code>true</code> if the client is currently connected, or <code>false</code> if the client is not connected.</p>"
        },
        "thingName":{
          "shape":"ThingName",
          "documentation":"<p>The name of the thing associated with the principal of the MQTT client, if applicable.</p>"
        },
        "cleanSession":{
          "shape":"CleanSession",
          "documentation":"<p>Indicates whether the client is using a clean session. Returns <code>true</code> for clean sessions or <code>false</code> for persistent sessions.</p>"
        },
        "sourceIp":{
          "shape":"SourceIp",
          "documentation":"<p>The IP address of the client that initiated the connection.</p>"
        },
        "sourcePort":{
          "shape":"SourcePort",
          "documentation":"<p>The client's source port.</p>"
        },
        "targetIp":{
          "shape":"TargetIp",
          "documentation":"<p>The IP address of the Amazon Web Services IoT Core endpoint that the client connected to. For clients connected to VPC endpoints, this is the private IP address of the network interface the client is connected to.</p>"
        },
        "targetPort":{
          "shape":"TargetPort",
          "documentation":"<p>The port number of the Amazon Web Services IoT Core endpoint that the client connected to.</p>"
        },
        "keepAliveDuration":{
          "shape":"KeepAliveDuration",
          "documentation":"<p>The keep-alive interval in seconds that the client specified when establishing the connection.</p>"
        },
        "connectedSince":{
          "shape":"Timestamp",
          "documentation":"<p>Unix timestamp (in milliseconds) indicating when the client connected. Present only when connected is true.</p>"
        },
        "disconnectedSince":{
          "shape":"Timestamp",
          "documentation":"<p>Unix timestamp (in milliseconds) indicating when the client disconnected. Present only when connected is false. This information is available for 30 minutes after the client disconnects.</p>"
        },
        "disconnectReason":{
          "shape":"DisconnectReason",
          "documentation":"<p>The reason for the last disconnection, if the client is currently disconnected. See the <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/life-cycle-events.html#connect-disconnect\">developer guide</a> for valid disconnect reasons.</p>"
        },
        "sessionExpiry":{
          "shape":"SessionExpiry",
          "documentation":"<p>The session expiry interval in seconds for the MQTT client connection. This is configured by the user. This value indicates how long the session will remain active after the client disconnects.</p>"
        },
        "clientId":{
          "shape":"ClientId",
          "documentation":"<p>The unique identifier of the MQTT client. This is the same client ID that was used when the client established the connection.</p>"
        },
        "vpcEndpointId":{
          "shape":"VpcEndpointId",
          "documentation":"<p>The ID of the VPC endpoint. Present for clients connected to IoT Core via a <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/IoTCore-VPC.html\">VPC endpoint</a>. </p>"
        }
      }
    },
    "GetRetainedMessageRequest":{
      "type":"structure",
      "required":["topic"],
      "members":{
        "topic":{
          "shape":"Topic",
          "documentation":"<p>The topic name of the retained message to retrieve.</p>",
          "location":"uri",
          "locationName":"topic"
        }
      },
      "documentation":"<p>The input for the GetRetainedMessage operation.</p>"
    },
    "GetRetainedMessageResponse":{
      "type":"structure",
      "members":{
        "topic":{
          "shape":"Topic",
          "documentation":"<p>The topic name to which the retained message was published.</p>"
        },
        "payload":{
          "shape":"Payload",
          "documentation":"<p>The Base64-encoded message payload of the retained message body.</p>"
        },
        "qos":{
          "shape":"Qos",
          "documentation":"<p>The quality of service (QoS) level used to publish the retained message.</p>"
        },
        "lastModifiedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The Epoch date and time, in milliseconds, when the retained message was stored by IoT.</p>"
        },
        "userProperties":{
          "shape":"UserPropertiesBlob",
          "documentation":"<p>A base64-encoded JSON string that includes an array of JSON objects, or null if the retained message doesn't include any user properties.</p> <p>The following example <code>userProperties</code> parameter is a JSON string that represents two user properties. Note that it will be base64-encoded:</p> <p> <code>[{\"deviceName\": \"alpha\"}, {\"deviceCnt\": \"45\"}]</code> </p>"
        }
      },
      "documentation":"<p>The output from the GetRetainedMessage operation.</p>"
    },
    "GetThingShadowRequest":{
      "type":"structure",
      "required":["thingName"],
      "members":{
        "thingName":{
          "shape":"ThingName",
          "documentation":"<p>The name of the thing.</p>",
          "location":"uri",
          "locationName":"thingName"
        },
        "shadowName":{
          "shape":"ShadowName",
          "documentation":"<p>The name of the shadow.</p>",
          "location":"querystring",
          "locationName":"name"
        }
      },
      "documentation":"<p>The input for the GetThingShadow operation.</p>"
    },
    "GetThingShadowResponse":{
      "type":"structure",
      "members":{
        "payload":{
          "shape":"JsonDocument",
          "documentation":"<p>The state information, in JSON format.</p>"
        }
      },
      "documentation":"<p>The output from the GetThingShadow operation.</p>",
      "payload":"payload"
    },
    "IncludeSocketInformation":{"type":"boolean"},
    "InternalFailureException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"errorMessage",
          "documentation":"<p>The message for the exception.</p>"
        }
      },
      "documentation":"<p>An unexpected error has occurred.</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "InvalidRequestException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"errorMessage",
          "documentation":"<p>The message for the exception.</p>"
        }
      },
      "documentation":"<p>The request is not valid.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "JsonDocument":{"type":"blob"},
    "KeepAliveDuration":{"type":"integer"},
    "ListNamedShadowsForThingRequest":{
      "type":"structure",
      "required":["thingName"],
      "members":{
        "thingName":{
          "shape":"ThingName",
          "documentation":"<p>The name of the thing.</p>",
          "location":"uri",
          "locationName":"thingName"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token to retrieve the next set of results.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "pageSize":{
          "shape":"PageSize",
          "documentation":"<p>The result page size.</p>",
          "location":"querystring",
          "locationName":"pageSize"
        }
      }
    },
    "ListNamedShadowsForThingResponse":{
      "type":"structure",
      "members":{
        "results":{
          "shape":"NamedShadowList",
          "documentation":"<p>The list of shadows for the specified thing.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token to use to get the next set of results, or <b>null</b> if there are no additional results.</p>"
        },
        "timestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The Epoch date and time the response was generated by IoT.</p>"
        }
      }
    },
    "ListRetainedMessagesRequest":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>To retrieve the next set of results, the <code>nextToken</code> value from a previous response; otherwise <b>null</b> to receive the first set of results.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of results to return at one time.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListRetainedMessagesResponse":{
      "type":"structure",
      "members":{
        "retainedTopics":{
          "shape":"RetainedMessageList",
          "documentation":"<p>A summary list the account's retained messages. The information returned doesn't include the message payloads of the retained messages.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token for the next set of results, or null if there are no additional results.</p>"
        }
      }
    },
    "ListSubscriptionsRequest":{
      "type":"structure",
      "required":["clientId"],
      "members":{
        "clientId":{
          "shape":"ClientId",
          "documentation":"<p>The unique identifier of the MQTT client to list subscriptions for. The client ID can't start with a dollar sign ($).</p> <p>MQTT client IDs must be URL encoded (percent-encoded) when they contain characters that are not valid in HTTP requests, such as spaces, forward slashes (/), and UTF-8 characters.</p>",
          "location":"uri",
          "locationName":"clientId"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>To retrieve the next set of results, the <code>nextToken</code> value from a previous response; otherwise <b>null</b> to receive the first set of results.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of subscriptions to return in a single request. By default, this is set to 20.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListSubscriptionsResponse":{
      "type":"structure",
      "members":{
        "subscriptions":{
          "shape":"SubscriptionList",
          "documentation":"<p>A list of topic filters and their associated Quality of Service (QoS) levels that the client is subscribed to.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token to use to get the next set of results, or <b>null</b> if there are no additional results.</p>"
        }
      }
    },
    "MaxResults":{
      "type":"integer",
      "max":200,
      "min":1
    },
    "MessageExpiry":{"type":"long"},
    "MethodNotAllowedException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"errorMessage",
          "documentation":"<p>The message for the exception.</p>"
        }
      },
      "documentation":"<p>The specified combination of HTTP verb and URI is not supported.</p>",
      "error":{"httpStatusCode":405},
      "exception":true
    },
    "NamedShadowList":{
      "type":"list",
      "member":{"shape":"ShadowName"}
    },
    "NextToken":{"type":"string"},
    "PageSize":{
      "type":"integer",
      "max":100,
      "min":1
    },
    "Payload":{"type":"blob"},
    "PayloadFormatIndicator":{
      "type":"string",
      "enum":[
        "UNSPECIFIED_BYTES",
        "UTF8_DATA"
      ]
    },
    "PayloadSize":{"type":"long"},
    "PreventWillMessage":{"type":"boolean"},
    "PublishRequest":{
      "type":"structure",
      "required":["topic"],
      "members":{
        "topic":{
          "shape":"Topic",
          "documentation":"<p>The name of the MQTT topic.</p>",
          "location":"uri",
          "locationName":"topic"
        },
        "qos":{
          "shape":"Qos",
          "documentation":"<p>The Quality of Service (QoS) level. The default QoS level is 0.</p>",
          "location":"querystring",
          "locationName":"qos"
        },
        "retain":{
          "shape":"Retain",
          "documentation":"<p>A Boolean value that determines whether to set the RETAIN flag when the message is published.</p> <p>Setting the RETAIN flag causes the message to be retained and sent to new subscribers to the topic.</p> <p>Valid values: <code>true</code> | <code>false</code> </p> <p>Default value: <code>false</code> </p>",
          "location":"querystring",
          "locationName":"retain"
        },
        "payload":{
          "shape":"Payload",
          "documentation":"<p>The message body. MQTT accepts text, binary, and empty (null) message payloads.</p> <p>Publishing an empty (null) payload with <b>retain</b> = <code>true</code> deletes the retained message identified by <b>topic</b> from Amazon Web Services IoT Core.</p>"
        },
        "userProperties":{
          "shape":"UserProperties",
          "documentation":"<p>A JSON string that contains an array of JSON objects. If you don’t use Amazon Web Services SDK or CLI, you must encode the JSON string to base64 format before adding it to the HTTP header. <code>userProperties</code> is an HTTP header value in the API.</p> <p>The following example <code>userProperties</code> parameter is a JSON string which represents two User Properties. Note that it needs to be base64-encoded:</p> <p> <code>[{\"deviceName\": \"alpha\"}, {\"deviceCnt\": \"45\"}]</code> </p>",
          "jsonvalue":true,
          "location":"header",
          "locationName":"x-amz-mqtt5-user-properties"
        },
        "payloadFormatIndicator":{
          "shape":"PayloadFormatIndicator",
          "documentation":"<p>An <code>Enum</code> string value that indicates whether the payload is formatted as UTF-8. <code>payloadFormatIndicator</code> is an HTTP header value in the API.</p>",
          "location":"header",
          "locationName":"x-amz-mqtt5-payload-format-indicator"
        },
        "contentType":{
          "shape":"ContentType",
          "documentation":"<p>A UTF-8 encoded string that describes the content of the publishing message.</p>",
          "location":"querystring",
          "locationName":"contentType"
        },
        "responseTopic":{
          "shape":"ResponseTopic",
          "documentation":"<p>A UTF-8 encoded string that's used as the topic name for a response message. The response topic is used to describe the topic which the receiver should publish to as part of the request-response flow. The topic must not contain wildcard characters.</p>",
          "location":"querystring",
          "locationName":"responseTopic"
        },
        "correlationData":{
          "shape":"CorrelationData",
          "documentation":"<p>The base64-encoded binary data used by the sender of the request message to identify which request the response message is for when it's received. <code>correlationData</code> is an HTTP header value in the API.</p>",
          "location":"header",
          "locationName":"x-amz-mqtt5-correlation-data"
        },
        "messageExpiry":{
          "shape":"MessageExpiry",
          "documentation":"<p>A user-defined integer value that represents the message expiry interval in seconds. If absent, the message doesn't expire. For more information about the limits of <code>messageExpiry</code>, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/iot-core.html#message-broker-limits\">Amazon Web Services IoT Core message broker and protocol limits and quotas </a> from the Amazon Web Services Reference Guide.</p>",
          "location":"querystring",
          "locationName":"messageExpiry"
        }
      },
      "documentation":"<p>The input for the Publish operation.</p>",
      "payload":"payload"
    },
    "Qos":{
      "type":"integer",
      "max":1,
      "min":0
    },
    "RequestEntityTooLargeException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"errorMessage",
          "documentation":"<p>The message for the exception.</p>"
        }
      },
      "documentation":"<p>The payload exceeds the maximum size allowed.</p>",
      "error":{"httpStatusCode":413},
      "exception":true
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"errorMessage",
          "documentation":"<p>The message for the exception.</p>"
        }
      },
      "documentation":"<p>The specified resource does not exist.</p>",
      "error":{"httpStatusCode":404},
      "exception":true
    },
    "ResponseMessage":{"type":"string"},
    "ResponseTopic":{"type":"string"},
    "Retain":{"type":"boolean"},
    "RetainedMessageList":{
      "type":"list",
      "member":{"shape":"RetainedMessageSummary"}
    },
    "RetainedMessageSummary":{
      "type":"structure",
      "members":{
        "topic":{
          "shape":"Topic",
          "documentation":"<p>The topic name to which the retained message was published.</p>"
        },
        "payloadSize":{
          "shape":"PayloadSize",
          "documentation":"<p>The size of the retained message's payload in bytes.</p>"
        },
        "qos":{
          "shape":"Qos",
          "documentation":"<p>The quality of service (QoS) level used to publish the retained message.</p>"
        },
        "lastModifiedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The Epoch date and time, in milliseconds, when the retained message was stored by IoT.</p>"
        }
      },
      "documentation":"<p>Information about a single retained message.</p>"
    },
    "SendDirectMessageRequest":{
      "type":"structure",
      "required":[
        "clientId",
        "topic"
      ],
      "members":{
        "clientId":{
          "shape":"ClientId",
          "documentation":"<p>The unique identifier of the MQTT client to send the message to.</p> <p>Client IDs must not exceed 128 characters and can't start with a dollar sign ($). MQTT client IDs must be URL encoded (percent-encoded) when they contain characters that are not valid in HTTP requests, such as spaces, forward slashes (/), and UTF-8 characters. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/iot-core.html#message-broker-limits\">Amazon Web Services IoT Core message broker and protocol limits and quotas</a>.</p>",
          "location":"uri",
          "locationName":"clientId"
        },
        "topic":{
          "shape":"Topic",
          "documentation":"<p>The topic of the outbound MQTT Publish message to the receiving client. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/iot-core.html#message-broker-limits\">Amazon Web Services IoT Core message broker and protocol limits and quotas</a>.</p>",
          "location":"querystring",
          "locationName":"topic"
        },
        "contentType":{
          "shape":"ContentType",
          "documentation":"<p>The MQTT5 content type property forwarded to the receiving client (for example, <code>application/json</code>).</p>",
          "location":"querystring",
          "locationName":"contentType"
        },
        "responseTopic":{
          "shape":"ResponseTopic",
          "documentation":"<p>A UTF-8 encoded string that's used as the topic name for a response message. The response topic describes the topic which the receiver should publish to as part of the request-response flow. The topic must not contain wildcard characters. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/iot-core.html#message-broker-limits\">Amazon Web Services IoT Core message broker and protocol limits and quotas</a>.</p>",
          "location":"querystring",
          "locationName":"responseTopic"
        },
        "confirmation":{
          "shape":"Confirmation",
          "documentation":"<p>A Boolean value that specifies whether to wait for delivery confirmation from the receiving client.</p> <p>When set to <code>true</code>, the API delivers the message at QoS 1 and waits for the client to send a delivery confirmation (PUBACK) before returning a successful response. If delivery confirmation is not received within the specified <code>timeout</code> period, the API returns HTTP 504.</p> <p>When set to <code>false</code>, the API delivers the message at QoS 0 and returns after Amazon Web Services IoT Core attempts to deliver the message.</p> <p>Valid values: <code>true</code> | <code>false</code> </p> <p>Default value: <code>false</code> </p>",
          "location":"querystring",
          "locationName":"confirmation"
        },
        "timeout":{
          "shape":"TimeoutInSeconds",
          "documentation":"<p>An integer that represents the maximum time, in seconds, to wait for a delivery confirmation (PUBACK) from the receiving client after the message has been delivered. This parameter is only used when <code>confirmation</code> is set to <code>true</code>. If <code>confirmation</code> is <code>false</code>, this parameter is ignored.</p> <p>The total API response time may be higher than this value due to internal processing. Set your HTTP client timeout to a value greater than this parameter.</p> <p>Valid range: 1 to 15 seconds.</p> <p>Default value: <code>5</code> seconds.</p>",
          "location":"querystring",
          "locationName":"timeout"
        },
        "payload":{
          "shape":"Payload",
          "documentation":"<p>The message body. MQTT accepts text, binary, and empty (null) message payloads.</p>"
        },
        "userProperties":{
          "shape":"UserProperties",
          "documentation":"<p>A JSON string that contains an array of JSON objects. If you don't use Amazon Web Services SDK or CLI, you must encode the JSON string to base64 format before adding it to the HTTP header. <code>userProperties</code> is an HTTP header value in the API.</p> <p>For MQTT 3.1.1 clients, user properties are silently dropped.</p> <p>The following example <code>userProperties</code> parameter is a JSON string which represents two User Properties. Note that it needs to be base64-encoded:</p> <p> <code>[{\"deviceName\": \"alpha\"}, {\"deviceCnt\": \"45\"}]</code> </p>",
          "jsonvalue":true,
          "location":"header",
          "locationName":"x-amz-mqtt5-user-properties"
        },
        "payloadFormatIndicator":{
          "shape":"PayloadFormatIndicator",
          "documentation":"<p>An <code>Enum</code> string value that indicates whether the payload is formatted as UTF-8. <code>payloadFormatIndicator</code> is an HTTP header value in the API.</p>",
          "location":"header",
          "locationName":"x-amz-mqtt5-payload-format-indicator"
        },
        "correlationData":{
          "shape":"CorrelationData",
          "documentation":"<p>The base64-encoded binary data used by the sender of the request message to identify which request the response message is for when it's received. <code>correlationData</code> is an HTTP header value in the API.</p>",
          "location":"header",
          "locationName":"x-amz-mqtt5-correlation-data"
        }
      },
      "payload":"payload"
    },
    "SendDirectMessageResponse":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"ResponseMessage",
          "documentation":"<p>The status message indicating the result of the operation.</p>"
        },
        "traceId":{
          "shape":"TraceId",
          "documentation":"<p>A unique identifier for the request. Include this value when contacting Amazon Web Services Support for troubleshooting.</p>"
        }
      },
      "documentation":"<p>The output from the SendDirectMessage operation.</p>"
    },
    "ServiceUnavailableException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"errorMessage",
          "documentation":"<p>The message for the exception.</p>"
        }
      },
      "documentation":"<p>The service is temporarily unavailable.</p>",
      "error":{"httpStatusCode":503},
      "exception":true,
      "fault":true
    },
    "SessionExpiry":{"type":"long"},
    "ShadowName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[$a-zA-Z0-9:_-]+"
    },
    "SourceIp":{"type":"string"},
    "SourcePort":{"type":"integer"},
    "SubscriptionList":{
      "type":"list",
      "member":{"shape":"SubscriptionSummary"}
    },
    "SubscriptionSummary":{
      "type":"structure",
      "required":[
        "topicFilter",
        "qos"
      ],
      "members":{
        "topicFilter":{
          "shape":"TopicFilter",
          "documentation":"<p>The topic filter pattern that the client is subscribed to. May include MQTT wildcards such as + (single-level) and # (multi-level).</p>"
        },
        "qos":{
          "shape":"Qos",
          "documentation":"<p>The Quality of Service (QoS) level for the subscription. Valid values are 0 (at most once) and 1 (at least once).</p>"
        }
      },
      "documentation":"<p>Contains information about a subscription for an MQTT client, including the topic filter and Quality of Service (QoS) level.</p>"
    },
    "TargetIp":{"type":"string"},
    "TargetPort":{"type":"integer"},
    "ThingName":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9:_-]+"
    },
    "ThrottlingException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"errorMessage",
          "documentation":"<p>The message for the exception.</p>"
        }
      },
      "documentation":"<p>The rate exceeds the limit.</p>",
      "error":{"httpStatusCode":429},
      "exception":true
    },
    "TimeoutInSeconds":{"type":"integer"},
    "Timestamp":{"type":"long"},
    "Topic":{"type":"string"},
    "TopicFilter":{"type":"string"},
    "TraceId":{"type":"string"},
    "UnauthorizedException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"errorMessage",
          "documentation":"<p>The message for the exception.</p>"
        }
      },
      "documentation":"<p>You are not authorized to perform this operation.</p>",
      "error":{"httpStatusCode":401},
      "exception":true
    },
    "UnsupportedDocumentEncodingException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"errorMessage",
          "documentation":"<p>The message for the exception.</p>"
        }
      },
      "documentation":"<p>The document encoding is not supported.</p>",
      "error":{"httpStatusCode":415},
      "exception":true
    },
    "UpdateThingShadowRequest":{
      "type":"structure",
      "required":[
        "thingName",
        "payload"
      ],
      "members":{
        "thingName":{
          "shape":"ThingName",
          "documentation":"<p>The name of the thing.</p>",
          "location":"uri",
          "locationName":"thingName"
        },
        "shadowName":{
          "shape":"ShadowName",
          "documentation":"<p>The name of the shadow.</p>",
          "location":"querystring",
          "locationName":"name"
        },
        "payload":{
          "shape":"JsonDocument",
          "documentation":"<p>The state information, in JSON format.</p>"
        }
      },
      "documentation":"<p>The input for the UpdateThingShadow operation.</p>",
      "payload":"payload"
    },
    "UpdateThingShadowResponse":{
      "type":"structure",
      "members":{
        "payload":{
          "shape":"JsonDocument",
          "documentation":"<p>The state information, in JSON format.</p>"
        }
      },
      "documentation":"<p>The output from the UpdateThingShadow operation.</p>",
      "payload":"payload"
    },
    "UserProperties":{"type":"string"},
    "UserPropertiesBlob":{"type":"blob"},
    "VpcEndpointId":{"type":"string"},
    "errorMessage":{"type":"string"}
  },
  "documentation":"<fullname>IoT data</fullname> <p>IoT data enables secure, bi-directional communication between Internet-connected things (such as sensors, actuators, embedded devices, or smart appliances) and the Amazon Web Services cloud. It implements a broker for applications and things to publish messages over HTTP (Publish) and retrieve, update, and delete shadows. A shadow is a persistent representation of your things and their state in the Amazon Web Services cloud.</p> <p>Find the endpoint address for actions in IoT data by running this CLI command:</p> <p> <code>aws iot describe-endpoint --endpoint-type iot:Data-ATS</code> </p> <p>The service name used by <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Amazon Web ServicesSignature Version 4</a> to sign requests is: <i>iotdevicegateway</i>.</p>"
}
