{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-03-31",
    "endpointPrefix":"lambda",
    "protocol":"rest-json",
    "serviceFullName":"AWS Lambda",
    "serviceId":"Lambda",
    "signatureVersion":"v4",
    "uid":"lambda-2015-03-31"
  },
  "operations":{
    "AddLayerVersionPermission":{
      "name":"AddLayerVersionPermission",
      "http":{
        "method":"POST",
        "requestUri":"/2018-10-31/layers/{LayerName}/versions/{VersionNumber}/policy",
        "responseCode":201
      },
      "input":{"shape":"AddLayerVersionPermissionRequest"},
      "output":{"shape":"AddLayerVersionPermissionResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"PolicyLengthExceededException"},
        {"shape":"PreconditionFailedException"}
      ],
      "documentation":"<p>Adds permissions to the resource-based policy of a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">Lambda layer</a>. Use this action to grant layer usage permission to other accounts. You can grant permission to a single account, all accounts in an organization, or all Amazon Web Services accounts. </p> <p>To revoke permission, call <a>RemoveLayerVersionPermission</a> with the statement ID that you specified when you added it.</p>"
    },
    "AddPermission":{
      "name":"AddPermission",
      "http":{
        "method":"POST",
        "requestUri":"/2015-03-31/functions/{FunctionName}/policy",
        "responseCode":201
      },
      "input":{"shape":"AddPermissionRequest"},
      "output":{"shape":"AddPermissionResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"PolicyLengthExceededException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"PreconditionFailedException"}
      ],
      "documentation":"<p>Grants an Amazon Web Services service, account, or organization permission to use a function. You can apply the policy at the function level, or specify a qualifier to restrict access to a single version or alias. If you use a qualifier, the invoker must use the full Amazon Resource Name (ARN) of that version or alias to invoke the function. Note: Lambda does not support adding policies to version $LATEST.</p> <p>To grant permission to another account, specify the account ID as the <code>Principal</code>. To grant permission to an organization defined in Organizations, specify the organization ID as the <code>PrincipalOrgID</code>. For Amazon Web Services services, the principal is a domain-style identifier defined by the service, like <code>s3.amazonaws.com</code> or <code>sns.amazonaws.com</code>. For Amazon Web Services services, you can also specify the ARN of the associated resource as the <code>SourceArn</code>. If you grant permission to a service principal without specifying the source, other accounts could potentially configure resources in their account to invoke your Lambda function.</p> <p>This action adds a statement to a resource-based permissions policy for the function. For more information about function policies, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/access-control-resource-based.html\">Lambda Function Policies</a>. </p>"
    },
    "CreateAlias":{
      "name":"CreateAlias",
      "http":{
        "method":"POST",
        "requestUri":"/2015-03-31/functions/{FunctionName}/aliases",
        "responseCode":201
      },
      "input":{"shape":"CreateAliasRequest"},
      "output":{"shape":"AliasConfiguration"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Creates an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a> for a Lambda function version. Use aliases to provide clients with a function identifier that you can update to invoke a different version.</p> <p>You can also map an alias to split invocation requests between two versions. Use the <code>RoutingConfig</code> parameter to specify a second version and the percentage of invocation requests that it receives.</p>"
    },
    "CreateCodeSigningConfig":{
      "name":"CreateCodeSigningConfig",
      "http":{
        "method":"POST",
        "requestUri":"/2020-04-22/code-signing-configs/",
        "responseCode":201
      },
      "input":{"shape":"CreateCodeSigningConfigRequest"},
      "output":{"shape":"CreateCodeSigningConfigResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Creates a code signing configuration. A <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-trustedcode.html\">code signing configuration</a> defines a list of allowed signing profiles and defines the code-signing validation policy (action to be taken if deployment validation checks fail). </p>"
    },
    "CreateEventSourceMapping":{
      "name":"CreateEventSourceMapping",
      "http":{
        "method":"POST",
        "requestUri":"/2015-03-31/event-source-mappings/",
        "responseCode":202
      },
      "input":{"shape":"CreateEventSourceMappingRequest"},
      "output":{"shape":"EventSourceMappingConfiguration"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates a mapping between an event source and an Lambda function. Lambda reads items from the event source and triggers the function.</p> <p>For details about how to configure different event sources, see the following topics. </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-ddb.html#services-dynamodb-eventsourcemapping\"> Amazon DynamoDB Streams</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-kinesis.html#services-kinesis-eventsourcemapping\"> Amazon Kinesis</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-sqs.html#events-sqs-eventsource\"> Amazon SQS</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-mq.html#services-mq-eventsourcemapping\"> Amazon MQ and RabbitMQ</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-msk.html\"> Amazon MSK</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/kafka-smaa.html\"> Apache Kafka</a> </p> </li> </ul> <p>The following error handling options are only available for stream sources (DynamoDB and Kinesis):</p> <ul> <li> <p> <code>BisectBatchOnFunctionError</code> - If the function returns an error, split the batch in two and retry.</p> </li> <li> <p> <code>DestinationConfig</code> - Send discarded records to an Amazon SQS queue or Amazon SNS topic.</p> </li> <li> <p> <code>MaximumRecordAgeInSeconds</code> - Discard records older than the specified age. The default value is infinite (-1). When set to infinite (-1), failed records are retried until the record expires</p> </li> <li> <p> <code>MaximumRetryAttempts</code> - Discard records after the specified number of retries. The default value is infinite (-1). When set to infinite (-1), failed records are retried until the record expires.</p> </li> <li> <p> <code>ParallelizationFactor</code> - Process multiple batches from each shard concurrently.</p> </li> </ul> <p>For information about which configuration parameters apply to each event source, see the following topics.</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-ddb.html#services-ddb-params\"> Amazon DynamoDB Streams</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-kinesis.html#services-kinesis-params\"> Amazon Kinesis</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-sqs.html#services-sqs-params\"> Amazon SQS</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-mq.html#services-mq-params\"> Amazon MQ and RabbitMQ</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-msk.html#services-msk-parms\"> Amazon MSK</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-kafka.html#services-kafka-parms\"> Apache Kafka</a> </p> </li> </ul>"
    },
    "CreateFunction":{
      "name":"CreateFunction",
      "http":{
        "method":"POST",
        "requestUri":"/2015-03-31/functions",
        "responseCode":201
      },
      "input":{"shape":"CreateFunctionRequest"},
      "output":{"shape":"FunctionConfiguration"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"CodeStorageExceededException"},
        {"shape":"CodeVerificationFailedException"},
        {"shape":"InvalidCodeSignatureException"},
        {"shape":"CodeSigningConfigNotFoundException"}
      ],
      "documentation":"<p>Creates a Lambda function. To create a function, you need a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-package.html\">deployment package</a> and an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/intro-permission-model.html#lambda-intro-execution-role\">execution role</a>. The deployment package is a .zip file archive or container image that contains your function code. The execution role grants the function permission to use Amazon Web Services services, such as Amazon CloudWatch Logs for log streaming and X-Ray for request tracing.</p> <p>You set the package type to <code>Image</code> if the deployment package is a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-images.html\">container image</a>. For a container image, the code property must include the URI of a container image in the Amazon ECR registry. You do not need to specify the handler and runtime properties. </p> <p>You set the package type to <code>Zip</code> if the deployment package is a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-package.html#gettingstarted-package-zip\">.zip file archive</a>. For a .zip file archive, the code property specifies the location of the .zip file. You must also specify the handler and runtime properties. The code in the deployment package must be compatible with the target instruction set architecture of the function (<code>x86-64</code> or <code>arm64</code>). If you do not specify the architecture, the default value is <code>x86-64</code>.</p> <p>When you create a function, Lambda provisions an instance of the function and its supporting resources. If your function connects to a VPC, this process can take a minute or so. During this time, you can't invoke or modify the function. The <code>State</code>, <code>StateReason</code>, and <code>StateReasonCode</code> fields in the response from <a>GetFunctionConfiguration</a> indicate when the function is ready to invoke. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/functions-states.html\">Function States</a>.</p> <p>A function has an unpublished version, and can have published versions and aliases. The unpublished version changes when you update your function's code and configuration. A published version is a snapshot of your function code and configuration that can't be changed. An alias is a named resource that maps to a version, and can be changed to map to a different version. Use the <code>Publish</code> parameter to create version <code>1</code> of your function from its initial configuration.</p> <p>The other parameters let you configure version-specific and function-level settings. You can modify version-specific settings later with <a>UpdateFunctionConfiguration</a>. Function-level settings apply to both the unpublished and published versions of the function, and include tags (<a>TagResource</a>) and per-function concurrency limits (<a>PutFunctionConcurrency</a>).</p> <p>You can use code signing if your deployment package is a .zip file archive. To enable code signing for this function, specify the ARN of a code-signing configuration. When a user attempts to deploy a code package with <a>UpdateFunctionCode</a>, Lambda checks that the code package has a valid signature from a trusted publisher. The code-signing configuration includes set set of signing profiles, which define the trusted publishers for this function.</p> <p>If another account or an Amazon Web Services service invokes your function, use <a>AddPermission</a> to grant permission by creating a resource-based IAM policy. You can grant permissions at the function level, on a version, or on an alias.</p> <p>To invoke your function directly, use <a>Invoke</a>. To invoke your function in response to events in other Amazon Web Services services, create an event source mapping (<a>CreateEventSourceMapping</a>), or configure a function trigger in the other service. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-invocation.html\">Invoking Functions</a>.</p>"
    },
    "DeleteAlias":{
      "name":"DeleteAlias",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-03-31/functions/{FunctionName}/aliases/{Name}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAliasRequest"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Deletes a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a>.</p>"
    },
    "DeleteCodeSigningConfig":{
      "name":"DeleteCodeSigningConfig",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-04-22/code-signing-configs/{CodeSigningConfigArn}",
        "responseCode":204
      },
      "input":{"shape":"DeleteCodeSigningConfigRequest"},
      "output":{"shape":"DeleteCodeSigningConfigResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Deletes the code signing configuration. You can delete the code signing configuration only if no function is using it. </p>"
    },
    "DeleteEventSourceMapping":{
      "name":"DeleteEventSourceMapping",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-03-31/event-source-mappings/{UUID}",
        "responseCode":202
      },
      "input":{"shape":"DeleteEventSourceMappingRequest"},
      "output":{"shape":"EventSourceMappingConfiguration"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Deletes an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/intro-invocation-modes.html\">event source mapping</a>. You can get the identifier of a mapping from the output of <a>ListEventSourceMappings</a>.</p> <p>When you delete an event source mapping, it enters a <code>Deleting</code> state and might not be completely deleted for several seconds.</p>"
    },
    "DeleteFunction":{
      "name":"DeleteFunction",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-03-31/functions/{FunctionName}",
        "responseCode":204
      },
      "input":{"shape":"DeleteFunctionRequest"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Deletes a Lambda function. To delete a specific function version, use the <code>Qualifier</code> parameter. Otherwise, all versions and aliases are deleted.</p> <p>To delete Lambda event source mappings that invoke a function, use <a>DeleteEventSourceMapping</a>. For Amazon Web Services services and resources that invoke your function directly, delete the trigger in the service where you originally configured it.</p>"
    },
    "DeleteFunctionCodeSigningConfig":{
      "name":"DeleteFunctionCodeSigningConfig",
      "http":{
        "method":"DELETE",
        "requestUri":"/2020-06-30/functions/{FunctionName}/code-signing-config",
        "responseCode":204
      },
      "input":{"shape":"DeleteFunctionCodeSigningConfigRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"CodeSigningConfigNotFoundException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Removes the code signing configuration from the function.</p>"
    },
    "DeleteFunctionConcurrency":{
      "name":"DeleteFunctionConcurrency",
      "http":{
        "method":"DELETE",
        "requestUri":"/2017-10-31/functions/{FunctionName}/concurrency",
        "responseCode":204
      },
      "input":{"shape":"DeleteFunctionConcurrencyRequest"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Removes a concurrent execution limit from a function.</p>"
    },
    "DeleteFunctionEventInvokeConfig":{
      "name":"DeleteFunctionEventInvokeConfig",
      "http":{
        "method":"DELETE",
        "requestUri":"/2019-09-25/functions/{FunctionName}/event-invoke-config",
        "responseCode":204
      },
      "input":{"shape":"DeleteFunctionEventInvokeConfigRequest"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Deletes the configuration for asynchronous invocation for a function, version, or alias.</p> <p>To configure options for asynchronous invocation, use <a>PutFunctionEventInvokeConfig</a>.</p>"
    },
    "DeleteLayerVersion":{
      "name":"DeleteLayerVersion",
      "http":{
        "method":"DELETE",
        "requestUri":"/2018-10-31/layers/{LayerName}/versions/{VersionNumber}",
        "responseCode":204
      },
      "input":{"shape":"DeleteLayerVersionRequest"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Deletes a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">Lambda layer</a>. Deleted versions can no longer be viewed or added to functions. To avoid breaking functions, a copy of the version remains in Lambda until no functions refer to it.</p>"
    },
    "DeleteProvisionedConcurrencyConfig":{
      "name":"DeleteProvisionedConcurrencyConfig",
      "http":{
        "method":"DELETE",
        "requestUri":"/2019-09-30/functions/{FunctionName}/provisioned-concurrency",
        "responseCode":204
      },
      "input":{"shape":"DeleteProvisionedConcurrencyConfigRequest"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Deletes the provisioned concurrency configuration for a function.</p>"
    },
    "GetAccountSettings":{
      "name":"GetAccountSettings",
      "http":{
        "method":"GET",
        "requestUri":"/2016-08-19/account-settings/",
        "responseCode":200
      },
      "input":{"shape":"GetAccountSettingsRequest"},
      "output":{"shape":"GetAccountSettingsResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Retrieves details about your account's <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/limits.html\">limits</a> and usage in an Amazon Web Services Region.</p>"
    },
    "GetAlias":{
      "name":"GetAlias",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/functions/{FunctionName}/aliases/{Name}",
        "responseCode":200
      },
      "input":{"shape":"GetAliasRequest"},
      "output":{"shape":"AliasConfiguration"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Returns details about a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a>.</p>"
    },
    "GetCodeSigningConfig":{
      "name":"GetCodeSigningConfig",
      "http":{
        "method":"GET",
        "requestUri":"/2020-04-22/code-signing-configs/{CodeSigningConfigArn}",
        "responseCode":200
      },
      "input":{"shape":"GetCodeSigningConfigRequest"},
      "output":{"shape":"GetCodeSigningConfigResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about the specified code signing configuration.</p>"
    },
    "GetEventSourceMapping":{
      "name":"GetEventSourceMapping",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/event-source-mappings/{UUID}",
        "responseCode":200
      },
      "input":{"shape":"GetEventSourceMappingRequest"},
      "output":{"shape":"EventSourceMappingConfiguration"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Returns details about an event source mapping. You can get the identifier of a mapping from the output of <a>ListEventSourceMappings</a>.</p>"
    },
    "GetFunction":{
      "name":"GetFunction",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/functions/{FunctionName}",
        "responseCode":200
      },
      "input":{"shape":"GetFunctionRequest"},
      "output":{"shape":"GetFunctionResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Returns information about the function or function version, with a link to download the deployment package that's valid for 10 minutes. If you specify a function version, only details that are specific to that version are returned.</p>"
    },
    "GetFunctionCodeSigningConfig":{
      "name":"GetFunctionCodeSigningConfig",
      "http":{
        "method":"GET",
        "requestUri":"/2020-06-30/functions/{FunctionName}/code-signing-config",
        "responseCode":200
      },
      "input":{"shape":"GetFunctionCodeSigningConfigRequest"},
      "output":{"shape":"GetFunctionCodeSigningConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Returns the code signing configuration for the specified function.</p>"
    },
    "GetFunctionConcurrency":{
      "name":"GetFunctionConcurrency",
      "http":{
        "method":"GET",
        "requestUri":"/2019-09-30/functions/{FunctionName}/concurrency",
        "responseCode":200
      },
      "input":{"shape":"GetFunctionConcurrencyRequest"},
      "output":{"shape":"GetFunctionConcurrencyResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Returns details about the reserved concurrency configuration for a function. To set a concurrency limit for a function, use <a>PutFunctionConcurrency</a>.</p>"
    },
    "GetFunctionConfiguration":{
      "name":"GetFunctionConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/functions/{FunctionName}/configuration",
        "responseCode":200
      },
      "input":{"shape":"GetFunctionConfigurationRequest"},
      "output":{"shape":"FunctionConfiguration"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Returns the version-specific settings of a Lambda function or version. The output includes only options that can vary between versions of a function. To modify these settings, use <a>UpdateFunctionConfiguration</a>.</p> <p>To get all of a function's details, including function-level settings, use <a>GetFunction</a>.</p>"
    },
    "GetFunctionEventInvokeConfig":{
      "name":"GetFunctionEventInvokeConfig",
      "http":{
        "method":"GET",
        "requestUri":"/2019-09-25/functions/{FunctionName}/event-invoke-config",
        "responseCode":200
      },
      "input":{"shape":"GetFunctionEventInvokeConfigRequest"},
      "output":{"shape":"FunctionEventInvokeConfig"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Retrieves the configuration for asynchronous invocation for a function, version, or alias.</p> <p>To configure options for asynchronous invocation, use <a>PutFunctionEventInvokeConfig</a>.</p>"
    },
    "GetLayerVersion":{
      "name":"GetLayerVersion",
      "http":{
        "method":"GET",
        "requestUri":"/2018-10-31/layers/{LayerName}/versions/{VersionNumber}",
        "responseCode":200
      },
      "input":{"shape":"GetLayerVersionRequest"},
      "output":{"shape":"GetLayerVersionResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">Lambda layer</a>, with a link to download the layer archive that's valid for 10 minutes.</p>"
    },
    "GetLayerVersionByArn":{
      "name":"GetLayerVersionByArn",
      "http":{
        "method":"GET",
        "requestUri":"/2018-10-31/layers?find=LayerVersion",
        "responseCode":200
      },
      "input":{"shape":"GetLayerVersionByArnRequest"},
      "output":{"shape":"GetLayerVersionResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">Lambda layer</a>, with a link to download the layer archive that's valid for 10 minutes.</p>"
    },
    "GetLayerVersionPolicy":{
      "name":"GetLayerVersionPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/2018-10-31/layers/{LayerName}/versions/{VersionNumber}/policy",
        "responseCode":200
      },
      "input":{"shape":"GetLayerVersionPolicyRequest"},
      "output":{"shape":"GetLayerVersionPolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Returns the permission policy for a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">Lambda layer</a>. For more information, see <a>AddLayerVersionPermission</a>.</p>"
    },
    "GetPolicy":{
      "name":"GetPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/functions/{FunctionName}/policy",
        "responseCode":200
      },
      "input":{"shape":"GetPolicyRequest"},
      "output":{"shape":"GetPolicyResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Returns the <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/access-control-resource-based.html\">resource-based IAM policy</a> for a function, version, or alias.</p>"
    },
    "GetProvisionedConcurrencyConfig":{
      "name":"GetProvisionedConcurrencyConfig",
      "http":{
        "method":"GET",
        "requestUri":"/2019-09-30/functions/{FunctionName}/provisioned-concurrency",
        "responseCode":200
      },
      "input":{"shape":"GetProvisionedConcurrencyConfigRequest"},
      "output":{"shape":"GetProvisionedConcurrencyConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"},
        {"shape":"ProvisionedConcurrencyConfigNotFoundException"}
      ],
      "documentation":"<p>Retrieves the provisioned concurrency configuration for a function's alias or version.</p>"
    },
    "Invoke":{
      "name":"Invoke",
      "http":{
        "method":"POST",
        "requestUri":"/2015-03-31/functions/{FunctionName}/invocations"
      },
      "input":{"shape":"InvocationRequest"},
      "output":{"shape":"InvocationResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestContentException"},
        {"shape":"RequestTooLargeException"},
        {"shape":"UnsupportedMediaTypeException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"EC2UnexpectedException"},
        {"shape":"SubnetIPAddressLimitReachedException"},
        {"shape":"ENILimitReachedException"},
        {"shape":"EFSMountConnectivityException"},
        {"shape":"EFSMountFailureException"},
        {"shape":"EFSMountTimeoutException"},
        {"shape":"EFSIOException"},
        {"shape":"EC2ThrottledException"},
        {"shape":"EC2AccessDeniedException"},
        {"shape":"InvalidSubnetIDException"},
        {"shape":"InvalidSecurityGroupIDException"},
        {"shape":"InvalidZipFileException"},
        {"shape":"KMSDisabledException"},
        {"shape":"KMSInvalidStateException"},
        {"shape":"KMSAccessDeniedException"},
        {"shape":"KMSNotFoundException"},
        {"shape":"InvalidRuntimeException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ResourceNotReadyException"}
      ],
      "documentation":"<p>Invokes a Lambda function. You can invoke a function synchronously (and wait for the response), or asynchronously. To invoke a function asynchronously, set <code>InvocationType</code> to <code>Event</code>.</p> <p>For <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-sync.html\">synchronous invocation</a>, details about the function response, including errors, are included in the response body and headers. For either invocation type, you can find more information in the <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/monitoring-functions.html\">execution log</a> and <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-x-ray.html\">trace</a>.</p> <p>When an error occurs, your function may be invoked multiple times. Retry behavior varies by error type, client, event source, and invocation type. For example, if you invoke a function asynchronously and it returns an error, Lambda executes the function up to two more times. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/retries-on-errors.html\">Retry Behavior</a>.</p> <p>For <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-async.html\">asynchronous invocation</a>, Lambda adds events to a queue before sending them to your function. If your function does not have enough capacity to keep up with the queue, events may be lost. Occasionally, your function may receive the same event multiple times, even if no error occurs. To retain events that were not processed, configure your function with a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-async.html#dlq\">dead-letter queue</a>.</p> <p>The status code in the API response doesn't reflect function errors. Error codes are reserved for errors that prevent your function from executing, such as permissions errors, <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/limits.html\">limit errors</a>, or issues with your function's code and configuration. For example, Lambda returns <code>TooManyRequestsException</code> if executing the function would cause you to exceed a concurrency limit at either the account level (<code>ConcurrentInvocationLimitExceeded</code>) or function level (<code>ReservedFunctionConcurrentInvocationLimitExceeded</code>).</p> <p>For functions with a long timeout, your client might be disconnected during synchronous invocation while it waits for a response. Configure your HTTP client, SDK, firewall, proxy, or operating system to allow for long connections with timeout or keep-alive settings.</p> <p>This operation requires permission for the <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_awslambda.html\">lambda:InvokeFunction</a> action.</p>"
    },
    "InvokeAsync":{
      "name":"InvokeAsync",
      "http":{
        "method":"POST",
        "requestUri":"/2014-11-13/functions/{FunctionName}/invoke-async/",
        "responseCode":202
      },
      "input":{"shape":"InvokeAsyncRequest"},
      "output":{"shape":"InvokeAsyncResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestContentException"},
        {"shape":"InvalidRuntimeException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<important> <p>For asynchronous function invocation, use <a>Invoke</a>.</p> </important> <p>Invokes a function asynchronously.</p>",
      "deprecated":true
    },
    "ListAliases":{
      "name":"ListAliases",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/functions/{FunctionName}/aliases",
        "responseCode":200
      },
      "input":{"shape":"ListAliasesRequest"},
      "output":{"shape":"ListAliasesResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Returns a list of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">aliases</a> for a Lambda function.</p>"
    },
    "ListCodeSigningConfigs":{
      "name":"ListCodeSigningConfigs",
      "http":{
        "method":"GET",
        "requestUri":"/2020-04-22/code-signing-configs/",
        "responseCode":200
      },
      "input":{"shape":"ListCodeSigningConfigsRequest"},
      "output":{"shape":"ListCodeSigningConfigsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Returns a list of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuring-codesigning.html\">code signing configurations</a>. A request returns up to 10,000 configurations per call. You can use the <code>MaxItems</code> parameter to return fewer configurations per call. </p>"
    },
    "ListEventSourceMappings":{
      "name":"ListEventSourceMappings",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/event-source-mappings/",
        "responseCode":200
      },
      "input":{"shape":"ListEventSourceMappingsRequest"},
      "output":{"shape":"ListEventSourceMappingsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Lists event source mappings. Specify an <code>EventSourceArn</code> to only show event source mappings for a single event source.</p>"
    },
    "ListFunctionEventInvokeConfigs":{
      "name":"ListFunctionEventInvokeConfigs",
      "http":{
        "method":"GET",
        "requestUri":"/2019-09-25/functions/{FunctionName}/event-invoke-config/list",
        "responseCode":200
      },
      "input":{"shape":"ListFunctionEventInvokeConfigsRequest"},
      "output":{"shape":"ListFunctionEventInvokeConfigsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Retrieves a list of configurations for asynchronous invocation for a function.</p> <p>To configure options for asynchronous invocation, use <a>PutFunctionEventInvokeConfig</a>.</p>"
    },
    "ListFunctions":{
      "name":"ListFunctions",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/functions/",
        "responseCode":200
      },
      "input":{"shape":"ListFunctionsRequest"},
      "output":{"shape":"ListFunctionsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Returns a list of Lambda functions, with the version-specific configuration of each. Lambda returns up to 50 functions per call.</p> <p>Set <code>FunctionVersion</code> to <code>ALL</code> to include all published versions of each function in addition to the unpublished version. </p> <note> <p>The <code>ListFunctions</code> action returns a subset of the <a>FunctionConfiguration</a> fields. To get the additional fields (State, StateReasonCode, StateReason, LastUpdateStatus, LastUpdateStatusReason, LastUpdateStatusReasonCode) for a function or version, use <a>GetFunction</a>.</p> </note>"
    },
    "ListFunctionsByCodeSigningConfig":{
      "name":"ListFunctionsByCodeSigningConfig",
      "http":{
        "method":"GET",
        "requestUri":"/2020-04-22/code-signing-configs/{CodeSigningConfigArn}/functions",
        "responseCode":200
      },
      "input":{"shape":"ListFunctionsByCodeSigningConfigRequest"},
      "output":{"shape":"ListFunctionsByCodeSigningConfigResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>List the functions that use the specified code signing configuration. You can use this method prior to deleting a code signing configuration, to verify that no functions are using it.</p>"
    },
    "ListLayerVersions":{
      "name":"ListLayerVersions",
      "http":{
        "method":"GET",
        "requestUri":"/2018-10-31/layers/{LayerName}/versions",
        "responseCode":200
      },
      "input":{"shape":"ListLayerVersionsRequest"},
      "output":{"shape":"ListLayerVersionsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Lists the versions of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">Lambda layer</a>. Versions that have been deleted aren't listed. Specify a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html\">runtime identifier</a> to list only versions that indicate that they're compatible with that runtime. Specify a compatible architecture to include only layer versions that are compatible with that architecture.</p>"
    },
    "ListLayers":{
      "name":"ListLayers",
      "http":{
        "method":"GET",
        "requestUri":"/2018-10-31/layers",
        "responseCode":200
      },
      "input":{"shape":"ListLayersRequest"},
      "output":{"shape":"ListLayersResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Lists <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-layers.html\">Lambda layers</a> and shows information about the latest version of each. Specify a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html\">runtime identifier</a> to list only layers that indicate that they're compatible with that runtime. Specify a compatible architecture to include only layers that are compatible with that <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/foundation-arch.html\">instruction set architecture</a>.</p>"
    },
    "ListProvisionedConcurrencyConfigs":{
      "name":"ListProvisionedConcurrencyConfigs",
      "http":{
        "method":"GET",
        "requestUri":"/2019-09-30/functions/{FunctionName}/provisioned-concurrency?List=ALL",
        "responseCode":200
      },
      "input":{"shape":"ListProvisionedConcurrencyConfigsRequest"},
      "output":{"shape":"ListProvisionedConcurrencyConfigsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Retrieves a list of provisioned concurrency configurations for a function.</p>"
    },
    "ListTags":{
      "name":"ListTags",
      "http":{
        "method":"GET",
        "requestUri":"/2017-03-31/tags/{ARN}"
      },
      "input":{"shape":"ListTagsRequest"},
      "output":{"shape":"ListTagsResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Returns a function's <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/tagging.html\">tags</a>. You can also view tags with <a>GetFunction</a>.</p>"
    },
    "ListVersionsByFunction":{
      "name":"ListVersionsByFunction",
      "http":{
        "method":"GET",
        "requestUri":"/2015-03-31/functions/{FunctionName}/versions",
        "responseCode":200
      },
      "input":{"shape":"ListVersionsByFunctionRequest"},
      "output":{"shape":"ListVersionsByFunctionResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Returns a list of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">versions</a>, with the version-specific configuration of each. Lambda returns up to 50 versions per call.</p>"
    },
    "PublishLayerVersion":{
      "name":"PublishLayerVersion",
      "http":{
        "method":"POST",
        "requestUri":"/2018-10-31/layers/{LayerName}/versions",
        "responseCode":201
      },
      "input":{"shape":"PublishLayerVersionRequest"},
      "output":{"shape":"PublishLayerVersionResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"CodeStorageExceededException"}
      ],
      "documentation":"<p>Creates an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">Lambda layer</a> from a ZIP archive. Each time you call <code>PublishLayerVersion</code> with the same layer name, a new version is created.</p> <p>Add layers to your function with <a>CreateFunction</a> or <a>UpdateFunctionConfiguration</a>.</p>"
    },
    "PublishVersion":{
      "name":"PublishVersion",
      "http":{
        "method":"POST",
        "requestUri":"/2015-03-31/functions/{FunctionName}/versions",
        "responseCode":201
      },
      "input":{"shape":"PublishVersionRequest"},
      "output":{"shape":"FunctionConfiguration"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"CodeStorageExceededException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Creates a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">version</a> from the current code and configuration of a function. Use versions to create a snapshot of your function code and configuration that doesn't change.</p> <p>Lambda doesn't publish a version if the function's configuration and code haven't changed since the last version. Use <a>UpdateFunctionCode</a> or <a>UpdateFunctionConfiguration</a> to update the function before publishing a version.</p> <p>Clients can invoke versions directly or with an alias. To create an alias, use <a>CreateAlias</a>.</p>"
    },
    "PutFunctionCodeSigningConfig":{
      "name":"PutFunctionCodeSigningConfig",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-06-30/functions/{FunctionName}/code-signing-config",
        "responseCode":200
      },
      "input":{"shape":"PutFunctionCodeSigningConfigRequest"},
      "output":{"shape":"PutFunctionCodeSigningConfigResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceConflictException"},
        {"shape":"CodeSigningConfigNotFoundException"}
      ],
      "documentation":"<p>Update the code signing configuration for the function. Changes to the code signing configuration take effect the next time a user tries to deploy a code package to the function. </p>"
    },
    "PutFunctionConcurrency":{
      "name":"PutFunctionConcurrency",
      "http":{
        "method":"PUT",
        "requestUri":"/2017-10-31/functions/{FunctionName}/concurrency",
        "responseCode":200
      },
      "input":{"shape":"PutFunctionConcurrencyRequest"},
      "output":{"shape":"Concurrency"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Sets the maximum number of simultaneous executions for a function, and reserves capacity for that concurrency level.</p> <p>Concurrency settings apply to the function as a whole, including all published versions and the unpublished version. Reserving concurrency both ensures that your function has capacity to process the specified number of events simultaneously, and prevents it from scaling beyond that level. Use <a>GetFunction</a> to see the current setting for a function.</p> <p>Use <a>GetAccountSettings</a> to see your Regional concurrency limit. You can reserve concurrency for as many functions as you like, as long as you leave at least 100 simultaneous executions unreserved for functions that aren't configured with a per-function limit. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/concurrent-executions.html\">Managing Concurrency</a>.</p>"
    },
    "PutFunctionEventInvokeConfig":{
      "name":"PutFunctionEventInvokeConfig",
      "http":{
        "method":"PUT",
        "requestUri":"/2019-09-25/functions/{FunctionName}/event-invoke-config",
        "responseCode":200
      },
      "input":{"shape":"PutFunctionEventInvokeConfigRequest"},
      "output":{"shape":"FunctionEventInvokeConfig"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Configures options for <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-async.html\">asynchronous invocation</a> on a function, version, or alias. If a configuration already exists for a function, version, or alias, this operation overwrites it. If you exclude any settings, they are removed. To set one option without affecting existing settings for other options, use <a>UpdateFunctionEventInvokeConfig</a>.</p> <p>By default, Lambda retries an asynchronous invocation twice if the function returns an error. It retains events in a queue for up to six hours. When an event fails all processing attempts or stays in the asynchronous invocation queue for too long, Lambda discards it. To retain discarded events, configure a dead-letter queue with <a>UpdateFunctionConfiguration</a>.</p> <p>To send an invocation record to a queue, topic, function, or event bus, specify a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-async.html#invocation-async-destinations\">destination</a>. You can configure separate destinations for successful invocations (on-success) and events that fail all processing attempts (on-failure). You can configure destinations in addition to or instead of a dead-letter queue.</p>"
    },
    "PutProvisionedConcurrencyConfig":{
      "name":"PutProvisionedConcurrencyConfig",
      "http":{
        "method":"PUT",
        "requestUri":"/2019-09-30/functions/{FunctionName}/provisioned-concurrency",
        "responseCode":202
      },
      "input":{"shape":"PutProvisionedConcurrencyConfigRequest"},
      "output":{"shape":"PutProvisionedConcurrencyConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Adds a provisioned concurrency configuration to a function's alias or version.</p>"
    },
    "RemoveLayerVersionPermission":{
      "name":"RemoveLayerVersionPermission",
      "http":{
        "method":"DELETE",
        "requestUri":"/2018-10-31/layers/{LayerName}/versions/{VersionNumber}/policy/{StatementId}",
        "responseCode":204
      },
      "input":{"shape":"RemoveLayerVersionPermissionRequest"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"PreconditionFailedException"}
      ],
      "documentation":"<p>Removes a statement from the permissions policy for a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">Lambda layer</a>. For more information, see <a>AddLayerVersionPermission</a>.</p>"
    },
    "RemovePermission":{
      "name":"RemovePermission",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-03-31/functions/{FunctionName}/policy/{StatementId}",
        "responseCode":204
      },
      "input":{"shape":"RemovePermissionRequest"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"PreconditionFailedException"}
      ],
      "documentation":"<p>Revokes function-use permission from an Amazon Web Services service or another account. You can get the ID of the statement from the output of <a>GetPolicy</a>.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/2017-03-31/tags/{ARN}",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Adds <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/tagging.html\">tags</a> to a function.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/2017-03-31/tags/{ARN}",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceRequest"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Removes <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/tagging.html\">tags</a> from a function.</p>"
    },
    "UpdateAlias":{
      "name":"UpdateAlias",
      "http":{
        "method":"PUT",
        "requestUri":"/2015-03-31/functions/{FunctionName}/aliases/{Name}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAliasRequest"},
      "output":{"shape":"AliasConfiguration"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Updates the configuration of a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a>.</p>"
    },
    "UpdateCodeSigningConfig":{
      "name":"UpdateCodeSigningConfig",
      "http":{
        "method":"PUT",
        "requestUri":"/2020-04-22/code-signing-configs/{CodeSigningConfigArn}",
        "responseCode":200
      },
      "input":{"shape":"UpdateCodeSigningConfigRequest"},
      "output":{"shape":"UpdateCodeSigningConfigResponse"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Update the code signing configuration. Changes to the code signing configuration take effect the next time a user tries to deploy a code package to the function. </p>"
    },
    "UpdateEventSourceMapping":{
      "name":"UpdateEventSourceMapping",
      "http":{
        "method":"PUT",
        "requestUri":"/2015-03-31/event-source-mappings/{UUID}",
        "responseCode":202
      },
      "input":{"shape":"UpdateEventSourceMappingRequest"},
      "output":{"shape":"EventSourceMappingConfiguration"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Updates an event source mapping. You can change the function that Lambda invokes, or pause invocation and resume later from the same location.</p> <p>For details about how to configure different event sources, see the following topics. </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-ddb.html#services-dynamodb-eventsourcemapping\"> Amazon DynamoDB Streams</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-kinesis.html#services-kinesis-eventsourcemapping\"> Amazon Kinesis</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-sqs.html#events-sqs-eventsource\"> Amazon SQS</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-mq.html#services-mq-eventsourcemapping\"> Amazon MQ and RabbitMQ</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-msk.html\"> Amazon MSK</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/kafka-smaa.html\"> Apache Kafka</a> </p> </li> </ul> <p>The following error handling options are only available for stream sources (DynamoDB and Kinesis):</p> <ul> <li> <p> <code>BisectBatchOnFunctionError</code> - If the function returns an error, split the batch in two and retry.</p> </li> <li> <p> <code>DestinationConfig</code> - Send discarded records to an Amazon SQS queue or Amazon SNS topic.</p> </li> <li> <p> <code>MaximumRecordAgeInSeconds</code> - Discard records older than the specified age. The default value is infinite (-1). When set to infinite (-1), failed records are retried until the record expires</p> </li> <li> <p> <code>MaximumRetryAttempts</code> - Discard records after the specified number of retries. The default value is infinite (-1). When set to infinite (-1), failed records are retried until the record expires.</p> </li> <li> <p> <code>ParallelizationFactor</code> - Process multiple batches from each shard concurrently.</p> </li> </ul> <p>For information about which configuration parameters apply to each event source, see the following topics.</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-ddb.html#services-ddb-params\"> Amazon DynamoDB Streams</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-kinesis.html#services-kinesis-params\"> Amazon Kinesis</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-sqs.html#services-sqs-params\"> Amazon SQS</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-mq.html#services-mq-params\"> Amazon MQ and RabbitMQ</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-msk.html#services-msk-parms\"> Amazon MSK</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-kafka.html#services-kafka-parms\"> Apache Kafka</a> </p> </li> </ul>"
    },
    "UpdateFunctionCode":{
      "name":"UpdateFunctionCode",
      "http":{
        "method":"PUT",
        "requestUri":"/2015-03-31/functions/{FunctionName}/code",
        "responseCode":200
      },
      "input":{"shape":"UpdateFunctionCodeRequest"},
      "output":{"shape":"FunctionConfiguration"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"CodeStorageExceededException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ResourceConflictException"},
        {"shape":"CodeVerificationFailedException"},
        {"shape":"InvalidCodeSignatureException"},
        {"shape":"CodeSigningConfigNotFoundException"}
      ],
      "documentation":"<p>Updates a Lambda function's code. If code signing is enabled for the function, the code package must be signed by a trusted publisher. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-trustedcode.html\">Configuring code signing</a>.</p> <p>If the function's package type is <code>Image</code>, you must specify the code package in <code>ImageUri</code> as the URI of a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-images.html\">container image</a> in the Amazon ECR registry. </p> <p>If the function's package type is <code>Zip</code>, you must specify the deployment package as a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-package.html#gettingstarted-package-zip\">.zip file archive</a>. Enter the Amazon S3 bucket and key of the code .zip file location. You can also provide the function code inline using the <code>ZipFile</code> field. </p> <p>The code in the deployment package must be compatible with the target instruction set architecture of the function (<code>x86-64</code> or <code>arm64</code>). </p> <p>The function's code is locked when you publish a version. You can't modify the code of a published version, only the unpublished version.</p> <note> <p>For a function defined as a container image, Lambda resolves the image tag to an image digest. In Amazon ECR, if you update the image tag to a new image, Lambda does not automatically update the function.</p> </note>"
    },
    "UpdateFunctionConfiguration":{
      "name":"UpdateFunctionConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/2015-03-31/functions/{FunctionName}/configuration",
        "responseCode":200
      },
      "input":{"shape":"UpdateFunctionConfigurationRequest"},
      "output":{"shape":"FunctionConfiguration"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"CodeVerificationFailedException"},
        {"shape":"InvalidCodeSignatureException"},
        {"shape":"CodeSigningConfigNotFoundException"}
      ],
      "documentation":"<p>Modify the version-specific settings of a Lambda function.</p> <p>When you update a function, Lambda provisions an instance of the function and its supporting resources. If your function connects to a VPC, this process can take a minute. During this time, you can't modify the function, but you can still invoke it. The <code>LastUpdateStatus</code>, <code>LastUpdateStatusReason</code>, and <code>LastUpdateStatusReasonCode</code> fields in the response from <a>GetFunctionConfiguration</a> indicate when the update is complete and the function is processing events with the new configuration. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/functions-states.html\">Function States</a>.</p> <p>These settings can vary between versions of a function and are locked when you publish a version. You can't modify the configuration of a published version, only the unpublished version.</p> <p>To configure function concurrency, use <a>PutFunctionConcurrency</a>. To grant invoke permissions to an account or Amazon Web Services service, use <a>AddPermission</a>.</p>"
    },
    "UpdateFunctionEventInvokeConfig":{
      "name":"UpdateFunctionEventInvokeConfig",
      "http":{
        "method":"POST",
        "requestUri":"/2019-09-25/functions/{FunctionName}/event-invoke-config",
        "responseCode":200
      },
      "input":{"shape":"UpdateFunctionEventInvokeConfigRequest"},
      "output":{"shape":"FunctionEventInvokeConfig"},
      "errors":[
        {"shape":"ServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Updates the configuration for asynchronous invocation for a function, version, or alias.</p> <p>To configure options for asynchronous invocation, use <a>PutFunctionEventInvokeConfig</a>.</p>"
    }
  },
  "shapes":{
    "AccountLimit":{
      "type":"structure",
      "members":{
        "TotalCodeSize":{
          "shape":"Long",
          "documentation":"<p>The amount of storage space that you can use for all deployment packages and layer archives.</p>"
        },
        "CodeSizeUnzipped":{
          "shape":"Long",
          "documentation":"<p>The maximum size of a function's deployment package and layers when they're extracted.</p>"
        },
        "CodeSizeZipped":{
          "shape":"Long",
          "documentation":"<p>The maximum size of a deployment package when it's uploaded directly to Lambda. Use Amazon S3 for larger files.</p>"
        },
        "ConcurrentExecutions":{
          "shape":"Integer",
          "documentation":"<p>The maximum number of simultaneous function executions.</p>"
        },
        "UnreservedConcurrentExecutions":{
          "shape":"UnreservedConcurrentExecutions",
          "documentation":"<p>The maximum number of simultaneous function executions, minus the capacity that's reserved for individual functions with <a>PutFunctionConcurrency</a>.</p>"
        }
      },
      "documentation":"<p>Limits that are related to concurrency and storage. All file and storage sizes are in bytes.</p>"
    },
    "AccountUsage":{
      "type":"structure",
      "members":{
        "TotalCodeSize":{
          "shape":"Long",
          "documentation":"<p>The amount of storage space, in bytes, that's being used by deployment packages and layer archives.</p>"
        },
        "FunctionCount":{
          "shape":"Long",
          "documentation":"<p>The number of Lambda functions.</p>"
        }
      },
      "documentation":"<p>The number of functions and amount of storage in use.</p>"
    },
    "Action":{
      "type":"string",
      "pattern":"(lambda:[*]|lambda:[a-zA-Z]+|[*])"
    },
    "AddLayerVersionPermissionRequest":{
      "type":"structure",
      "required":[
        "LayerName",
        "VersionNumber",
        "StatementId",
        "Action",
        "Principal"
      ],
      "members":{
        "LayerName":{
          "shape":"LayerName",
          "documentation":"<p>The name or Amazon Resource Name (ARN) of the layer.</p>",
          "location":"uri",
          "locationName":"LayerName"
        },
        "VersionNumber":{
          "shape":"LayerVersionNumber",
          "documentation":"<p>The version number.</p>",
          "location":"uri",
          "locationName":"VersionNumber"
        },
        "StatementId":{
          "shape":"StatementId",
          "documentation":"<p>An identifier that distinguishes the policy from others on the same layer version.</p>"
        },
        "Action":{
          "shape":"LayerPermissionAllowedAction",
          "documentation":"<p>The API action that grants access to the layer. For example, <code>lambda:GetLayerVersion</code>.</p>"
        },
        "Principal":{
          "shape":"LayerPermissionAllowedPrincipal",
          "documentation":"<p>An account ID, or <code>*</code> to grant layer usage permission to all accounts in an organization, or all Amazon Web Services accounts (if <code>organizationId</code> is not specified). For the last case, make sure that you really do want all Amazon Web Services accounts to have usage permission to this layer. </p>"
        },
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>With the principal set to <code>*</code>, grant permission to all accounts in the specified organization.</p>"
        },
        "RevisionId":{
          "shape":"String",
          "documentation":"<p>Only update the policy if the revision ID matches the ID specified. Use this option to avoid modifying a policy that has changed since you last read it.</p>",
          "location":"querystring",
          "locationName":"RevisionId"
        }
      }
    },
    "AddLayerVersionPermissionResponse":{
      "type":"structure",
      "members":{
        "Statement":{
          "shape":"String",
          "documentation":"<p>The permission statement.</p>"
        },
        "RevisionId":{
          "shape":"String",
          "documentation":"<p>A unique identifier for the current revision of the policy.</p>"
        }
      }
    },
    "AddPermissionRequest":{
      "type":"structure",
      "required":[
        "FunctionName",
        "StatementId",
        "Action",
        "Principal"
      ],
      "members":{
        "FunctionName":{
          "shape":"FunctionName",
          "documentation":"<p>The name of the Lambda function, version, or alias.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>my-function</code> (name-only), <code>my-function:v1</code> (with alias).</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p> </li> </ul> <p>You can append a version number or alias to any of the formats. The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
          "location":"uri",
          "locationName":"FunctionName"
        },
        "StatementId":{
          "shape":"StatementId",
          "documentation":"<p>A statement identifier that differentiates the statement from others in the same policy.</p>"
        },
        "Action":{
          "shape":"Action",
          "documentation":"<p>The action that the principal can use on the function. For example, <code>lambda:InvokeFunction</code> or <code>lambda:GetFunction</code>.</p>"
        },
        "Principal":{
          "shape":"Principal",
          "documentation":"<p>The Amazon Web Services service or account that invokes the function. If you specify a service, use <code>SourceArn</code> or <code>SourceAccount</code> to limit who can invoke the function through that service.</p>"
        },
        "SourceArn":{
          "shape":"Arn",
          "documentation":"<p>For Amazon Web Services services, the ARN of the Amazon Web Services resource that invokes the function. For example, an Amazon S3 bucket or Amazon SNS topic.</p> <p>Note that Lambda configures the comparison using the <code>StringLike</code> operator.</p>"
        },
        "SourceAccount":{
          "shape":"SourceOwner",
          "documentation":"<p>For Amazon S3, the ID of the account that owns the resource. Use this together with <code>SourceArn</code> to ensure that the resource is owned by the specified account. It is possible for an Amazon S3 bucket to be deleted by its owner and recreated by another account.</p>"
        },
        "EventSourceToken":{
          "shape":"EventSourceToken",
          "documentation":"<p>For Alexa Smart Home functions, a token that must be supplied by the invoker.</p>"
        },
        "Qualifier":{
          "shape":"Qualifier",
          "documentation":"<p>Specify a version or alias to add permissions to a published version of the function.</p>",
          "location":"querystring",
          "locationName":"Qualifier"
        },
        "RevisionId":{
          "shape":"String",
          "documentation":"<p>Only update the policy if the revision ID matches the ID that's specified. Use this option to avoid modifying a policy that has changed since you last read it.</p>"
        },
        "PrincipalOrgID":{
          "shape":"PrincipalOrgID",
          "documentation":"<p>The identifier for your organization in Organizations. Use this to grant permissions to all the Amazon Web Services accounts under this organization.</p>"
        }
      }
    },
    "AddPermissionResponse":{
      "type":"structure",
      "members":{
        "Statement":{
          "shape":"String",
          "documentation":"<p>The permission statement that's added to the function policy.</p>"
        }
      }
    },
    "AdditionalVersion":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[0-9]+"
    },
    "AdditionalVersionWeights":{
      "type":"map",
      "key":{"shape":"AdditionalVersion"},
      "value":{"shape":"Weight"}
    },
    "Alias":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"(?!^[0-9]+$)([a-zA-Z0-9-_]+)"
    },
    "AliasConfiguration":{
      "type":"structure",
      "members":{
        "AliasArn":{
          "shape":"FunctionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the alias.</p>"
        },
        "Name":{
          "shape":"Alias",
          "documentation":"<p>The name of the alias.</p>"
        },
        "FunctionVersion":{
          "shape":"Version",
          "documentation":"<p>The function version that the alias invokes.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>A description of the alias.</p>"
        },
        "RoutingConfig":{
          "shape":"AliasRoutingConfiguration",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-traffic-shifting-using-aliases.html\">routing configuration</a> of the alias.</p>"
        },
        "RevisionId":{
          "shape":"String",
          "documentation":"<p>A unique identifier that changes when you update the alias.</p>"
        }
      },
      "documentation":"<p>Provides configuration information about a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a>.</p>"
    },
    "AliasList":{
      "type":"list",
      "member":{"shape":"AliasConfiguration"}
    },
    "AliasRoutingConfiguration":{
      "type":"structure",
      "members":{
        "AdditionalVersionWeights":{
          "shape":"AdditionalVersionWeights",
          "documentation":"<p>The second version, and the percentage of traffic that's routed to it.</p>"
        }
      },
      "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-traffic-shifting-using-aliases.html\">traffic-shifting</a> configuration of a Lambda function alias.</p>"
    },
    "AllowedPublishers":{
      "type":"structure",
      "required":["SigningProfileVersionArns"],
      "members":{
        "SigningProfileVersionArns":{
          "shape":"SigningProfileVersionArns",
          "documentation":"<p>The Amazon Resource Name (ARN) for each of the signing profiles. A signing profile defines a trusted user who can sign a code package. </p>"
        }
      },
      "documentation":"<p>List of signing profiles that can sign a code package. </p>"
    },
    "Architecture":{
      "type":"string",
      "enum":[
        "x86_64",
        "arm64"
      ]
    },
    "ArchitecturesList":{
      "type":"list",
      "member":{"shape":"Architecture"},
      "max":1,
      "min":1
    },
    "Arn":{
      "type":"string",
      "pattern":"arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-])+:([a-z]{2}(-gov)?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)"
    },
    "BatchSize":{
      "type":"integer",
      "max":10000,
      "min":1
    },
    "BisectBatchOnFunctionError":{"type":"boolean"},
    "Blob":{
      "type":"blob",
      "sensitive":true
    },
    "BlobStream":{
      "type":"blob",
      "streaming":true
    },
    "Boolean":{"type":"boolean"},
    "CodeSigningConfig":{
      "type":"structure",
      "required":[
        "CodeSigningConfigId",
        "CodeSigningConfigArn",
        "AllowedPublishers",
        "CodeSigningPolicies",
        "LastModified"
      ],
      "members":{
        "CodeSigningConfigId":{
          "shape":"CodeSigningConfigId",
          "documentation":"<p>Unique identifer for the Code signing configuration.</p>"
        },
        "CodeSigningConfigArn":{
          "shape":"CodeSigningConfigArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Code signing configuration.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>Code signing configuration description.</p>"
        },
        "AllowedPublishers":{
          "shape":"AllowedPublishers",
          "documentation":"<p>List of allowed publishers.</p>"
        },
        "CodeSigningPolicies":{
          "shape":"CodeSigningPolicies",
          "documentation":"<p>The code signing policy controls the validation failure action for signature mismatch or expiry.</p>"
        },
        "LastModified":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the Code signing configuration was last modified, in ISO-8601 format (YYYY-MM-DDThh:mm:ss.sTZD). </p>"
        }
      },
      "documentation":"<p>Details about a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-codesigning.html\">Code signing configuration</a>. </p>"
    },
    "CodeSigningConfigArn":{
      "type":"string",
      "max":200,
      "pattern":"arn:(aws[a-zA-Z-]*)?:lambda:[a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1}:\\d{12}:code-signing-config:csc-[a-z0-9]{17}"
    },
    "CodeSigningConfigId":{
      "type":"string",
      "pattern":"csc-[a-zA-Z0-9-_\\.]{17}"
    },
    "CodeSigningConfigList":{
      "type":"list",
      "member":{"shape":"CodeSigningConfig"}
    },
    "CodeSigningConfigNotFoundException":{
      "type":"structure",
      "members":{
        "Type":{"shape":"String"},
        "Message":{"shape":"String"}
      },
      "documentation":"<p>The specified code signing configuration does not exist.</p>",
      "error":{"httpStatusCode":404},
      "exception":true
    },
    "CodeSigningPolicies":{
      "type":"structure",
      "members":{
        "UntrustedArtifactOnDeployment":{
          "shape":"CodeSigningPolicy",
          "documentation":"<p>Code signing configuration policy for deployment validation failure. If you set the policy to <code>Enforce</code>, Lambda blocks the deployment request if signature validation checks fail. If you set the policy to <code>Warn</code>, Lambda allows the deployment and creates a CloudWatch log. </p> <p>Default value: <code>Warn</code> </p>"
        }
      },
      "documentation":"<p>Code signing configuration <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-codesigning.html#config-codesigning-policies\">policies</a> specify the validation failure action for signature mismatch or expiry.</p>"
    },
    "CodeSigningPolicy":{
      "type":"string",
      "enum":[
        "Warn",
        "Enforce"
      ]
    },
    "CodeStorageExceededException":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"String",
          "documentation":"<p>The exception type.</p>"
        },
        "message":{"shape":"String"}
      },
      "documentation":"<p>You have exceeded your maximum total code size per account. <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Learn more</a> </p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "CodeVerificationFailedException":{
      "type":"structure",
      "members":{
        "Type":{"shape":"String"},
        "Message":{"shape":"String"}
      },
      "documentation":"<p>The code signature failed one or more of the validation checks for signature mismatch or expiry, and the code signing policy is set to ENFORCE. Lambda blocks the deployment. </p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "CompatibleArchitectures":{
      "type":"list",
      "member":{"shape":"Architecture"},
      "max":2
    },
    "CompatibleRuntimes":{
      "type":"list",
      "member":{"shape":"Runtime"},
      "max":15
    },
    "Concurrency":{
      "type":"structure",
      "members":{
        "ReservedConcurrentExecutions":{
          "shape":"ReservedConcurrentExecutions",
          "documentation":"<p>The number of concurrent executions that are reserved for this function. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-concurrency.html\">Managing Concurrency</a>.</p>"
        }
      }
    },
    "CreateAliasRequest":{
      "type":"structure",
      "required":[
        "FunctionName",
        "Name",
        "FunctionVersion"
      ],
      "members":{
        "FunctionName":{
          "shape":"FunctionName",
          "documentation":"<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>MyFunction</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
          "location":"uri",
          "locationName":"FunctionName"
        },
        "Name":{
          "shape":"Alias",
          "documentation":"<p>The name of the alias.</p>"
        },
        "FunctionVersion":{
          "shape":"Version",
          "documentation":"<p>The function version that the alias invokes.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>A description of the alias.</p>"
        },
        "RoutingConfig":{
          "shape":"AliasRoutingConfiguration",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-aliases.html#configuring-alias-routing\">routing configuration</a> of the alias.</p>"
        }
      }
    },
    "CreateCodeSigningConfigRequest":{
      "type":"structure",
      "required":["AllowedPublishers"],
      "members":{
        "Description":{
          "shape":"Description",
          "documentation":"<p>Descriptive name for this code signing configuration.</p>"
        },
        "AllowedPublishers":{
          "shape":"AllowedPublishers",
          "documentation":"<p>Signing profiles for this code signing configuration.</p>"
        },
        "CodeSigningPolicies":{
          "shape":"CodeSigningPolicies",
          "documentation":"<p>The code signing policies define the actions to take if the validation checks fail. </p>"
        }
      }
    },
    "CreateCodeSigningConfigResponse":{
      "type":"structure",
      "required":["CodeSigningConfig"],
      "members":{
        "CodeSigningConfig":{
          "shape":"CodeSigningConfig",
          "documentation":"<p>The code signing configuration.</p>"
        }
      }
    },
    "CreateEventSourceMappingRequest":{
      "type":"structure",
      "required":["FunctionName"],
      "members":{
        "EventSourceArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the event source.</p> <ul> <li> <p> <b>Amazon Kinesis</b> - The ARN of the data stream or a stream consumer.</p> </li> <li> <p> <b>Amazon DynamoDB Streams</b> - The ARN of the stream.</p> </li> <li> <p> <b>Amazon Simple Queue Service</b> - The ARN of the queue.</p> </li> <li> <p> <b>Amazon Managed Streaming for Apache Kafka</b> - The ARN of the cluster.</p> </li> </ul>"
        },
        "FunctionName":{
          "shape":"FunctionName",
          "documentation":"<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>MyFunction</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p> </li> <li> <p> <b>Version or Alias ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction:PROD</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it's limited to 64 characters in length.</p>"
        },
        "Enabled":{
          "shape":"Enabled",
          "documentation":"<p>When true, the event source mapping is active. When false, Lambda pauses polling and invocation.</p> <p>Default: True</p>"
        },
        "BatchSize":{
          "shape":"BatchSize",
          "documentation":"<p>The maximum number of records in each batch that Lambda pulls from your stream or queue and sends to your function. Lambda passes all of the records in the batch to the function in a single call, up to the payload limit for synchronous invocation (6 MB).</p> <ul> <li> <p> <b>Amazon Kinesis</b> - Default 100. Max 10,000.</p> </li> <li> <p> <b>Amazon DynamoDB Streams</b> - Default 100. Max 1,000.</p> </li> <li> <p> <b>Amazon Simple Queue Service</b> - Default 10. For standard queues the max is 10,000. For FIFO queues the max is 10.</p> </li> <li> <p> <b>Amazon Managed Streaming for Apache Kafka</b> - Default 100. Max 10,000.</p> </li> <li> <p> <b>Self-Managed Apache Kafka</b> - Default 100. Max 10,000.</p> </li> <li> <p> <b>Amazon MQ (ActiveMQ and RabbitMQ)</b> - Default 100. Max 10,000.</p> </li> </ul>"
        },
        "FilterCriteria":{
          "shape":"FilterCriteria",
          "documentation":"<p>(Streams and Amazon SQS) An object that defines the filter criteria that determine whether Lambda should process an event. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-eventfiltering.html\">Lambda event filtering</a>.</p>"
        },
        "MaximumBatchingWindowInSeconds":{
          "shape":"MaximumBatchingWindowInSeconds",
          "documentation":"<p>(Streams and Amazon SQS standard queues) The maximum amount of time, in seconds, that Lambda spends gathering records before invoking the function.</p> <p>Default: 0</p> <p>Related setting: When you set <code>BatchSize</code> to a value greater than 10, you must set <code>MaximumBatchingWindowInSeconds</code> to at least 1.</p>"
        },
        "ParallelizationFactor":{
          "shape":"ParallelizationFactor",
          "documentation":"<p>(Streams only) The number of batches to process from each shard concurrently.</p>"
        },
        "StartingPosition":{
          "shape":"EventSourcePosition",
          "documentation":"<p>The position in a stream from which to start reading. Required for Amazon Kinesis, Amazon DynamoDB, and Amazon MSK Streams sources. <code>AT_TIMESTAMP</code> is only supported for Amazon Kinesis streams.</p>"
        },
        "StartingPositionTimestamp":{
          "shape":"Date",
          "documentation":"<p>With <code>StartingPosition</code> set to <code>AT_TIMESTAMP</code>, the time from which to start reading.</p>"
        },
        "DestinationConfig":{
          "shape":"DestinationConfig",
          "documentation":"<p>(Streams only) An Amazon SQS queue or Amazon SNS topic destination for discarded records.</p>"
        },
        "MaximumRecordAgeInSeconds":{
          "shape":"MaximumRecordAgeInSeconds",
          "documentation":"<p>(Streams only) Discard records older than the specified age. The default value is infinite (-1).</p>"
        },
        "BisectBatchOnFunctionError":{
          "shape":"BisectBatchOnFunctionError",
          "documentation":"<p>(Streams only) If the function returns an error, split the batch in two and retry.</p>"
        },
        "MaximumRetryAttempts":{
          "shape":"MaximumRetryAttemptsEventSourceMapping",
          "documentation":"<p>(Streams only) Discard records after the specified number of retries. The default value is infinite (-1). When set to infinite (-1), failed records will be retried until the record expires.</p>"
        },
        "TumblingWindowInSeconds":{
          "shape":"TumblingWindowInSeconds",
          "documentation":"<p>(Streams only) The duration in seconds of a processing window. The range is between 1 second up to 900 seconds.</p>"
        },
        "Topics":{
          "shape":"Topics",
          "documentation":"<p>The name of the Kafka topic.</p>"
        },
        "Queues":{
          "shape":"Queues",
          "documentation":"<p> (MQ) The name of the Amazon MQ broker destination queue to consume. </p>"
        },
        "SourceAccessConfigurations":{
          "shape":"SourceAccessConfigurations",
          "documentation":"<p>An array of authentication protocols or VPC components required to secure your event source.</p>"
        },
        "SelfManagedEventSource":{
          "shape":"SelfManagedEventSource",
          "documentation":"<p>The Self-Managed Apache Kafka cluster to send records.</p>"
        },
        "FunctionResponseTypes":{
          "shape":"FunctionResponseTypeList",
          "documentation":"<p>(Streams and Amazon SQS) A list of current response type enums applied to the event source mapping.</p>"
        }
      }
    },
    "CreateFunctionRequest":{
      "type":"structure",
      "required":[
        "FunctionName",
        "Role",
        "Code"
      ],
      "members":{
        "FunctionName":{
          "shape":"FunctionName",
          "documentation":"<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>my-function</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>"
        },
        "Runtime":{
          "shape":"Runtime",
          "documentation":"<p>The identifier of the function's <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html\">runtime</a>. Runtime is required if the deployment package is a .zip file archive. </p>"
        },
        "Role":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the function's execution role.</p>"
        },
        "Handler":{
          "shape":"Handler",
          "documentation":"<p>The name of the method within your code that Lambda calls to execute your function. Handler is required if the deployment package is a .zip file archive. The format includes the file name. It can also include namespaces and other qualifiers, depending on the runtime. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/programming-model-v2.html\">Programming Model</a>.</p>"
        },
        "Code":{
          "shape":"FunctionCode",
          "documentation":"<p>The code for the function.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>A description of the function.</p>"
        },
        "Timeout":{
          "shape":"Timeout",
          "documentation":"<p>The amount of time (in seconds) that Lambda allows a function to run before stopping it. The default is 3 seconds. The maximum allowed value is 900 seconds. For additional information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/runtimes-context.html\">Lambda execution environment</a>.</p>"
        },
        "MemorySize":{
          "shape":"MemorySize",
          "documentation":"<p>The amount of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-memory.html\">memory available to the function</a> at runtime. Increasing the function memory also increases its CPU allocation. The default value is 128 MB. The value can be any multiple of 1 MB.</p>"
        },
        "Publish":{
          "shape":"Boolean",
          "documentation":"<p>Set to true to publish the first version of the function during creation.</p>"
        },
        "VpcConfig":{
          "shape":"VpcConfig",
          "documentation":"<p>For network connectivity to Amazon Web Services resources in a VPC, specify a list of security groups and subnets in the VPC. When you connect a function to a VPC, it can only access resources and the internet through that VPC. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-vpc.html\">VPC Settings</a>.</p>"
        },
        "PackageType":{
          "shape":"PackageType",
          "documentation":"<p>The type of deployment package. Set to <code>Image</code> for container image and set <code>Zip</code> for ZIP archive.</p>"
        },
        "DeadLetterConfig":{
          "shape":"DeadLetterConfig",
          "documentation":"<p>A dead letter queue configuration that specifies the queue or topic where Lambda sends asynchronous events when they fail processing. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-async.html#dlq\">Dead Letter Queues</a>.</p>"
        },
        "Environment":{
          "shape":"Environment",
          "documentation":"<p>Environment variables that are accessible from function code during execution.</p>"
        },
        "KMSKeyArn":{
          "shape":"KMSKeyArn",
          "documentation":"<p>The ARN of the Amazon Web Services Key Management Service (KMS) key that's used to encrypt your function's environment variables. If it's not provided, Lambda uses a default service key.</p>"
        },
        "TracingConfig":{
          "shape":"TracingConfig",
          "documentation":"<p>Set <code>Mode</code> to <code>Active</code> to sample and trace a subset of incoming requests with <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/services-xray.html\">X-Ray</a>.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>A list of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/tagging.html\">tags</a> to apply to the function.</p>"
        },
        "Layers":{
          "shape":"LayerList",
          "documentation":"<p>A list of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">function layers</a> to add to the function's execution environment. Specify each layer by its ARN, including the version.</p>"
        },
        "FileSystemConfigs":{
          "shape":"FileSystemConfigList",
          "documentation":"<p>Connection settings for an Amazon EFS file system.</p>"
        },
        "ImageConfig":{
          "shape":"ImageConfig",
          "documentation":"<p>Container image <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-images.html#configuration-images-settings\">configuration values</a> that override the values in the container image Dockerfile.</p>"
        },
        "CodeSigningConfigArn":{
          "shape":"CodeSigningConfigArn",
          "documentation":"<p>To enable code signing for this function, specify the ARN of a code-signing configuration. A code-signing configuration includes a set of signing profiles, which define the trusted publishers for this function.</p>"
        },
        "Architectures":{
          "shape":"ArchitecturesList",
          "documentation":"<p>The instruction set architecture that the function supports. Enter a string array with one of the valid values (arm64 or x86_64). The default value is <code>x86_64</code>.</p>"
        }
      }
    },
    "Date":{"type":"timestamp"},
    "DeadLetterConfig":{
      "type":"structure",
      "members":{
        "TargetArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of an Amazon SQS queue or Amazon SNS topic.</p>"
        }
      },
      "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-async.html#dlq\">dead-letter queue</a> for failed asynchronous invocations.</p>"
    },
    "DeleteAliasRequest":{
      "type":"structure",
      "required":[
        "FunctionName",
        "Name"
      ],
      "members":{
        "FunctionName":{
          "shape":"FunctionName",
          "documentation":"<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>MyFunction</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
          "location":"uri",
          "locationName":"FunctionName"
        },
        "Name":{
          "shape":"Alias",
          "documentation":"<p>The name of the alias.</p>",
          "location":"uri",
          "locationName":"Name"
        }
      }
    },
    "DeleteCodeSigningConfigRequest":{
      "type":"structure",
      "required":["CodeSigningConfigArn"],
      "members":{
        "CodeSigningConfigArn":{
          "shape":"CodeSigningConfigArn",
          "documentation":"<p>The The Amazon Resource Name (ARN) of the code signing configuration.</p>",
          "location":"uri",
          "locationName":"CodeSigningConfigArn"
        }
      }
    },
    "DeleteCodeSigningConfigResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteEventSourceMappingRequest":{
      "type":"structure",
      "required":["UUID"],
      "members":{
        "UUID":{
          "shape":"String",
          "documentation":"<p>The identifier of the event source mapping.</p>",
          "location":"uri",
          "locationName":"UUID"
        }
      }
    },
    "DeleteFunctionCodeSigningConfigRequest":{
      "type":"structure",
      "required":["FunctionName"],
      "members":{
        "FunctionName":{
          "shape":"FunctionName",
          "documentation":"<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>MyFunction</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
          "location":"uri",
          "locationName":"FunctionName"
        }
      }
    },
    "DeleteFunctionConcurrencyRequest":{
      "type":"structure",
      "required":["FunctionName"],
      "members":{
        "FunctionName":{
          "shape":"FunctionName",
          "documentation":"<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>my-function</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
          "location":"uri",
          "locationName":"FunctionName"
        }
      }
    },
    "DeleteFunctionEventInvokeConfigRequest":{
      "type":"structure",
      "required":["FunctionName"],
[...]
