<!DOCTYPE html>
<html>
<head></head>
<body>
  <p>This will install the AWS CLI v{version}.</p>

  <p>For more information on installing and upgrading AWS CLI, see our <a href="https://docs.aws.amazon.com/cli/latest/userguide/installing.html">Installation Guide</a>.</p>
</body>
</html>
