{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2022-11-28",
    "endpointPrefix":"omics",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"Amazon Omics",
    "serviceId":"Omics",
    "signatureVersion":"v4",
    "signingName":"omics",
    "uid":"omics-2022-11-28"
  },
  "operations":{
    "BatchDeleteReadSet":{
      "name":"BatchDeleteReadSet",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/readset/batch/delete",
        "responseCode":200
      },
      "input":{"shape":"BatchDeleteReadSetRequest"},
      "output":{"shape":"BatchDeleteReadSetResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes one or more read sets.</p>",
      "endpoint":{"hostPrefix":"control-storage-"},
      "idempotent":true
    },
    "CancelAnnotationImportJob":{
      "name":"CancelAnnotationImportJob",
      "http":{
        "method":"DELETE",
        "requestUri":"/import/annotation/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"CancelAnnotationImportRequest"},
      "output":{"shape":"CancelAnnotationImportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Cancels an annotation import job.</p>",
      "endpoint":{"hostPrefix":"analytics-"},
      "idempotent":true
    },
    "CancelRun":{
      "name":"CancelRun",
      "http":{
        "method":"POST",
        "requestUri":"/run/{id}/cancel",
        "responseCode":202
      },
      "input":{"shape":"CancelRunRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Cancels a run.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "CancelVariantImportJob":{
      "name":"CancelVariantImportJob",
      "http":{
        "method":"DELETE",
        "requestUri":"/import/variant/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"CancelVariantImportRequest"},
      "output":{"shape":"CancelVariantImportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Cancels a variant import job.</p>",
      "endpoint":{"hostPrefix":"analytics-"},
      "idempotent":true
    },
    "CreateAnnotationStore":{
      "name":"CreateAnnotationStore",
      "http":{
        "method":"POST",
        "requestUri":"/annotationStore",
        "responseCode":200
      },
      "input":{"shape":"CreateAnnotationStoreRequest"},
      "output":{"shape":"CreateAnnotationStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates an annotation store.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "CreateReferenceStore":{
      "name":"CreateReferenceStore",
      "http":{
        "method":"POST",
        "requestUri":"/referencestore",
        "responseCode":200
      },
      "input":{"shape":"CreateReferenceStoreRequest"},
      "output":{"shape":"CreateReferenceStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Creates a reference store.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "CreateRunGroup":{
      "name":"CreateRunGroup",
      "http":{
        "method":"POST",
        "requestUri":"/runGroup",
        "responseCode":201
      },
      "input":{"shape":"CreateRunGroupRequest"},
      "output":{"shape":"CreateRunGroupResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Creates a run group.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "CreateSequenceStore":{
      "name":"CreateSequenceStore",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore",
        "responseCode":200
      },
      "input":{"shape":"CreateSequenceStoreRequest"},
      "output":{"shape":"CreateSequenceStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Creates a sequence store.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "CreateVariantStore":{
      "name":"CreateVariantStore",
      "http":{
        "method":"POST",
        "requestUri":"/variantStore",
        "responseCode":200
      },
      "input":{"shape":"CreateVariantStoreRequest"},
      "output":{"shape":"CreateVariantStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a variant store.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "CreateWorkflow":{
      "name":"CreateWorkflow",
      "http":{
        "method":"POST",
        "requestUri":"/workflow",
        "responseCode":201
      },
      "input":{"shape":"CreateWorkflowRequest"},
      "output":{"shape":"CreateWorkflowResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Creates a workflow.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "DeleteAnnotationStore":{
      "name":"DeleteAnnotationStore",
      "http":{
        "method":"DELETE",
        "requestUri":"/annotationStore/{name}",
        "responseCode":200
      },
      "input":{"shape":"DeleteAnnotationStoreRequest"},
      "output":{"shape":"DeleteAnnotationStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an annotation store.</p>",
      "endpoint":{"hostPrefix":"analytics-"},
      "idempotent":true
    },
    "DeleteReference":{
      "name":"DeleteReference",
      "http":{
        "method":"DELETE",
        "requestUri":"/referencestore/{referenceStoreId}/reference/{id}",
        "responseCode":200
      },
      "input":{"shape":"DeleteReferenceRequest"},
      "output":{"shape":"DeleteReferenceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes a genome reference.</p>",
      "endpoint":{"hostPrefix":"control-storage-"},
      "idempotent":true
    },
    "DeleteReferenceStore":{
      "name":"DeleteReferenceStore",
      "http":{
        "method":"DELETE",
        "requestUri":"/referencestore/{id}",
        "responseCode":200
      },
      "input":{"shape":"DeleteReferenceStoreRequest"},
      "output":{"shape":"DeleteReferenceStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes a genome reference store.</p>",
      "endpoint":{"hostPrefix":"control-storage-"},
      "idempotent":true
    },
    "DeleteRun":{
      "name":"DeleteRun",
      "http":{
        "method":"DELETE",
        "requestUri":"/run/{id}",
        "responseCode":202
      },
      "input":{"shape":"DeleteRunRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes a workflow run.</p>",
      "endpoint":{"hostPrefix":"workflows-"},
      "idempotent":true
    },
    "DeleteRunGroup":{
      "name":"DeleteRunGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/runGroup/{id}",
        "responseCode":202
      },
      "input":{"shape":"DeleteRunGroupRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes a workflow run group.</p>",
      "endpoint":{"hostPrefix":"workflows-"},
      "idempotent":true
    },
    "DeleteSequenceStore":{
      "name":"DeleteSequenceStore",
      "http":{
        "method":"DELETE",
        "requestUri":"/sequencestore/{id}",
        "responseCode":200
      },
      "input":{"shape":"DeleteSequenceStoreRequest"},
      "output":{"shape":"DeleteSequenceStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes a sequence store.</p>",
      "endpoint":{"hostPrefix":"control-storage-"},
      "idempotent":true
    },
    "DeleteVariantStore":{
      "name":"DeleteVariantStore",
      "http":{
        "method":"DELETE",
        "requestUri":"/variantStore/{name}",
        "responseCode":200
      },
      "input":{"shape":"DeleteVariantStoreRequest"},
      "output":{"shape":"DeleteVariantStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a variant store.</p>",
      "endpoint":{"hostPrefix":"analytics-"},
      "idempotent":true
    },
    "DeleteWorkflow":{
      "name":"DeleteWorkflow",
      "http":{
        "method":"DELETE",
        "requestUri":"/workflow/{id}",
        "responseCode":202
      },
      "input":{"shape":"DeleteWorkflowRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes a workflow.</p>",
      "endpoint":{"hostPrefix":"workflows-"},
      "idempotent":true
    },
    "GetAnnotationImportJob":{
      "name":"GetAnnotationImportJob",
      "http":{
        "method":"GET",
        "requestUri":"/import/annotation/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"GetAnnotationImportRequest"},
      "output":{"shape":"GetAnnotationImportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about an annotation import job.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "GetAnnotationStore":{
      "name":"GetAnnotationStore",
      "http":{
        "method":"GET",
        "requestUri":"/annotationStore/{name}",
        "responseCode":200
      },
      "input":{"shape":"GetAnnotationStoreRequest"},
      "output":{"shape":"GetAnnotationStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about an annotation store.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "GetReadSet":{
      "name":"GetReadSet",
      "http":{
        "method":"GET",
        "requestUri":"/sequencestore/{sequenceStoreId}/readset/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReadSetRequest"},
      "output":{"shape":"GetReadSetResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"RangeNotSatisfiableException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets a file from a read set.</p>",
      "endpoint":{"hostPrefix":"storage-"}
    },
    "GetReadSetActivationJob":{
      "name":"GetReadSetActivationJob",
      "http":{
        "method":"GET",
        "requestUri":"/sequencestore/{sequenceStoreId}/activationjob/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReadSetActivationJobRequest"},
      "output":{"shape":"GetReadSetActivationJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a read set activation job.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetReadSetExportJob":{
      "name":"GetReadSetExportJob",
      "http":{
        "method":"GET",
        "requestUri":"/sequencestore/{sequenceStoreId}/exportjob/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReadSetExportJobRequest"},
      "output":{"shape":"GetReadSetExportJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a read set export job.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetReadSetImportJob":{
      "name":"GetReadSetImportJob",
      "http":{
        "method":"GET",
        "requestUri":"/sequencestore/{sequenceStoreId}/importjob/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReadSetImportJobRequest"},
      "output":{"shape":"GetReadSetImportJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a read set import job.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetReadSetMetadata":{
      "name":"GetReadSetMetadata",
      "http":{
        "method":"GET",
        "requestUri":"/sequencestore/{sequenceStoreId}/readset/{id}/metadata",
        "responseCode":200
      },
      "input":{"shape":"GetReadSetMetadataRequest"},
      "output":{"shape":"GetReadSetMetadataResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets details about a read set.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetReference":{
      "name":"GetReference",
      "http":{
        "method":"GET",
        "requestUri":"/referencestore/{referenceStoreId}/reference/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReferenceRequest"},
      "output":{"shape":"GetReferenceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"RangeNotSatisfiableException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets a reference file.</p>",
      "endpoint":{"hostPrefix":"storage-"}
    },
    "GetReferenceImportJob":{
      "name":"GetReferenceImportJob",
      "http":{
        "method":"GET",
        "requestUri":"/referencestore/{referenceStoreId}/importjob/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReferenceImportJobRequest"},
      "output":{"shape":"GetReferenceImportJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a reference import job.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetReferenceMetadata":{
      "name":"GetReferenceMetadata",
      "http":{
        "method":"GET",
        "requestUri":"/referencestore/{referenceStoreId}/reference/{id}/metadata",
        "responseCode":200
      },
      "input":{"shape":"GetReferenceMetadataRequest"},
      "output":{"shape":"GetReferenceMetadataResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a genome reference's metadata.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetReferenceStore":{
      "name":"GetReferenceStore",
      "http":{
        "method":"GET",
        "requestUri":"/referencestore/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReferenceStoreRequest"},
      "output":{"shape":"GetReferenceStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a reference store.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetRun":{
      "name":"GetRun",
      "http":{
        "method":"GET",
        "requestUri":"/run/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetRunRequest"},
      "output":{"shape":"GetRunResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a workflow run.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "GetRunGroup":{
      "name":"GetRunGroup",
      "http":{
        "method":"GET",
        "requestUri":"/runGroup/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetRunGroupRequest"},
      "output":{"shape":"GetRunGroupResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a workflow run group.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "GetRunTask":{
      "name":"GetRunTask",
      "http":{
        "method":"GET",
        "requestUri":"/run/{id}/task/{taskId}",
        "responseCode":200
      },
      "input":{"shape":"GetRunTaskRequest"},
      "output":{"shape":"GetRunTaskResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a workflow run task.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "GetSequenceStore":{
      "name":"GetSequenceStore",
      "http":{
        "method":"GET",
        "requestUri":"/sequencestore/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetSequenceStoreRequest"},
      "output":{"shape":"GetSequenceStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a sequence store.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetVariantImportJob":{
      "name":"GetVariantImportJob",
      "http":{
        "method":"GET",
        "requestUri":"/import/variant/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"GetVariantImportRequest"},
      "output":{"shape":"GetVariantImportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about a variant import job.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "GetVariantStore":{
      "name":"GetVariantStore",
      "http":{
        "method":"GET",
        "requestUri":"/variantStore/{name}",
        "responseCode":200
      },
      "input":{"shape":"GetVariantStoreRequest"},
      "output":{"shape":"GetVariantStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about a variant store.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "GetWorkflow":{
      "name":"GetWorkflow",
      "http":{
        "method":"GET",
        "requestUri":"/workflow/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetWorkflowRequest"},
      "output":{"shape":"GetWorkflowResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a workflow.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "ListAnnotationImportJobs":{
      "name":"ListAnnotationImportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/import/annotations",
        "responseCode":200
      },
      "input":{"shape":"ListAnnotationImportJobsRequest"},
      "output":{"shape":"ListAnnotationImportJobsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of annotation import jobs.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "ListAnnotationStores":{
      "name":"ListAnnotationStores",
      "http":{
        "method":"POST",
        "requestUri":"/annotationStores",
        "responseCode":200
      },
      "input":{"shape":"ListAnnotationStoresRequest"},
      "output":{"shape":"ListAnnotationStoresResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of annotation stores.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "ListReadSetActivationJobs":{
      "name":"ListReadSetActivationJobs",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/activationjobs",
        "responseCode":200
      },
      "input":{"shape":"ListReadSetActivationJobsRequest"},
      "output":{"shape":"ListReadSetActivationJobsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of read set activation jobs.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReadSetExportJobs":{
      "name":"ListReadSetExportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/exportjobs",
        "responseCode":200
      },
      "input":{"shape":"ListReadSetExportJobsRequest"},
      "output":{"shape":"ListReadSetExportJobsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of read set export jobs.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReadSetImportJobs":{
      "name":"ListReadSetImportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/importjobs",
        "responseCode":200
      },
      "input":{"shape":"ListReadSetImportJobsRequest"},
      "output":{"shape":"ListReadSetImportJobsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of read set import jobs.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReadSets":{
      "name":"ListReadSets",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/readsets",
        "responseCode":200
      },
      "input":{"shape":"ListReadSetsRequest"},
      "output":{"shape":"ListReadSetsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of read sets.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReferenceImportJobs":{
      "name":"ListReferenceImportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/referencestore/{referenceStoreId}/importjobs",
        "responseCode":200
      },
      "input":{"shape":"ListReferenceImportJobsRequest"},
      "output":{"shape":"ListReferenceImportJobsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of reference import jobs.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReferenceStores":{
      "name":"ListReferenceStores",
      "http":{
        "method":"POST",
        "requestUri":"/referencestores",
        "responseCode":200
      },
      "input":{"shape":"ListReferenceStoresRequest"},
      "output":{"shape":"ListReferenceStoresResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of reference stores.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReferences":{
      "name":"ListReferences",
      "http":{
        "method":"POST",
        "requestUri":"/referencestore/{referenceStoreId}/references",
        "responseCode":200
      },
      "input":{"shape":"ListReferencesRequest"},
      "output":{"shape":"ListReferencesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of references.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListRunGroups":{
      "name":"ListRunGroups",
      "http":{
        "method":"GET",
        "requestUri":"/runGroup",
        "responseCode":200
      },
      "input":{"shape":"ListRunGroupsRequest"},
      "output":{"shape":"ListRunGroupsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of run groups.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "ListRunTasks":{
      "name":"ListRunTasks",
      "http":{
        "method":"GET",
        "requestUri":"/run/{id}/task",
        "responseCode":200
      },
      "input":{"shape":"ListRunTasksRequest"},
      "output":{"shape":"ListRunTasksResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of tasks for a run.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "ListRuns":{
      "name":"ListRuns",
      "http":{
        "method":"GET",
        "requestUri":"/run",
        "responseCode":200
      },
      "input":{"shape":"ListRunsRequest"},
      "output":{"shape":"ListRunsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of runs.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "ListSequenceStores":{
      "name":"ListSequenceStores",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestores",
        "responseCode":200
      },
      "input":{"shape":"ListSequenceStoresRequest"},
      "output":{"shape":"ListSequenceStoresResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of sequence stores.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of tags for a resource.</p>",
      "endpoint":{"hostPrefix":"tags-"}
    },
    "ListVariantImportJobs":{
      "name":"ListVariantImportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/import/variants",
        "responseCode":200
      },
      "input":{"shape":"ListVariantImportJobsRequest"},
      "output":{"shape":"ListVariantImportJobsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of variant import jobs.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "ListVariantStores":{
      "name":"ListVariantStores",
      "http":{
        "method":"POST",
        "requestUri":"/variantStores",
        "responseCode":200
      },
      "input":{"shape":"ListVariantStoresRequest"},
      "output":{"shape":"ListVariantStoresResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of variant stores.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "ListWorkflows":{
      "name":"ListWorkflows",
      "http":{
        "method":"GET",
        "requestUri":"/workflow",
        "responseCode":200
      },
      "input":{"shape":"ListWorkflowsRequest"},
      "output":{"shape":"ListWorkflowsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of workflows.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "StartAnnotationImportJob":{
      "name":"StartAnnotationImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/import/annotation",
        "responseCode":200
      },
      "input":{"shape":"StartAnnotationImportRequest"},
      "output":{"shape":"StartAnnotationImportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Starts an annotation import job.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "StartReadSetActivationJob":{
      "name":"StartReadSetActivationJob",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/activationjob",
        "responseCode":200
      },
      "input":{"shape":"StartReadSetActivationJobRequest"},
      "output":{"shape":"StartReadSetActivationJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Starts a read set activation job.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "StartReadSetExportJob":{
      "name":"StartReadSetExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/exportjob",
        "responseCode":200
      },
      "input":{"shape":"StartReadSetExportJobRequest"},
      "output":{"shape":"StartReadSetExportJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Starts a read set export job.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "StartReadSetImportJob":{
      "name":"StartReadSetImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/importjob",
        "responseCode":200
      },
      "input":{"shape":"StartReadSetImportJobRequest"},
      "output":{"shape":"StartReadSetImportJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Starts a read set import job.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "StartReferenceImportJob":{
      "name":"StartReferenceImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/referencestore/{referenceStoreId}/importjob",
        "responseCode":200
      },
      "input":{"shape":"StartReferenceImportJobRequest"},
      "output":{"shape":"StartReferenceImportJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Starts a reference import job.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "StartRun":{
      "name":"StartRun",
      "http":{
        "method":"POST",
        "requestUri":"/run",
        "responseCode":201
      },
      "input":{"shape":"StartRunRequest"},
      "output":{"shape":"StartRunResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Starts a run.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "StartVariantImportJob":{
      "name":"StartVariantImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/import/variant",
        "responseCode":200
      },
      "input":{"shape":"StartVariantImportRequest"},
      "output":{"shape":"StartVariantImportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Starts a variant import job.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Tags a resource.</p>",
      "endpoint":{"hostPrefix":"tags-"}
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Removes tags from a resource.</p>",
      "endpoint":{"hostPrefix":"tags-"},
      "idempotent":true
    },
    "UpdateAnnotationStore":{
      "name":"UpdateAnnotationStore",
      "http":{
        "method":"POST",
        "requestUri":"/annotationStore/{name}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAnnotationStoreRequest"},
      "output":{"shape":"UpdateAnnotationStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates an annotation store.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "UpdateRunGroup":{
      "name":"UpdateRunGroup",
      "http":{
        "method":"POST",
        "requestUri":"/runGroup/{id}",
        "responseCode":202
      },
      "input":{"shape":"UpdateRunGroupRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Updates a run group.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "UpdateVariantStore":{
      "name":"UpdateVariantStore",
      "http":{
        "method":"POST",
        "requestUri":"/variantStore/{name}",
        "responseCode":200
      },
      "input":{"shape":"UpdateVariantStoreRequest"},
      "output":{"shape":"UpdateVariantStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates a variant store.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "UpdateWorkflow":{
      "name":"UpdateWorkflow",
      "http":{
        "method":"POST",
        "requestUri":"/workflow/{id}",
        "responseCode":202
      },
      "input":{"shape":"UpdateWorkflowRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Updates a workflow.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>You do not have sufficient access to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "ActivateReadSetFilter":{
      "type":"structure",
      "members":{
        "createdAfter":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The filter's start date.</p>"
        },
        "createdBefore":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The filter's end date.</p>"
        },
        "status":{
          "shape":"ReadSetActivationJobStatus",
          "documentation":"<p>The filter's status.</p>"
        }
      },
      "documentation":"<p>A read set activation job filter.</p>"
    },
    "ActivateReadSetJobItem":{
      "type":"structure",
      "required":[
        "creationTime",
        "id",
        "sequenceStoreId",
        "status"
      ],
      "members":{
        "completionTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the job completed.</p>"
        },
        "creationTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the job was created.</p>"
        },
        "id":{
          "shape":"ActivationJobId",
          "documentation":"<p>The job's ID.</p>"
        },
        "sequenceStoreId":{
          "shape":"SequenceStoreId",
          "documentation":"<p>The job's sequence store ID.</p>"
        },
        "status":{
          "shape":"ReadSetActivationJobStatus",
          "documentation":"<p>The job's status.</p>"
        }
      },
      "documentation":"<p>A read set activation job.</p>"
    },
    "ActivateReadSetJobList":{
      "type":"list",
      "member":{"shape":"ActivateReadSetJobItem"}
    },
    "ActivateReadSetSourceItem":{
      "type":"structure",
      "required":[
        "readSetId",
        "status"
      ],
      "members":{
        "readSetId":{
          "shape":"ReadSetId",
          "documentation":"<p>The source's read set ID.</p>"
        },
        "status":{
          "shape":"ReadSetActivationJobItemStatus",
          "documentation":"<p>The source's status.</p>"
        },
        "statusMessage":{
          "shape":"JobStatusMessage",
          "documentation":"<p>The source's status message.</p>"
        }
      },
      "documentation":"<p>A source for a read set activation job.</p>"
    },
    "ActivateReadSetSourceList":{
      "type":"list",
      "member":{"shape":"ActivateReadSetSourceItem"}
    },
    "ActivationJobId":{
      "type":"string",
      "max":36,
      "min":10,
      "pattern":"^[0-9]+$"
    },
    "AnnotationImportItemDetail":{
      "type":"structure",
      "required":[
        "jobStatus",
        "source"
      ],
      "members":{
        "jobStatus":{
          "shape":"JobStatus",
          "documentation":"<p>The item's job status.</p>"
        },
        "source":{
          "shape":"S3Uri",
          "documentation":"<p>The source file's location in Amazon S3.</p>"
        }
      },
      "documentation":"<p>Details about an imported annotation item.</p>"
    },
    "AnnotationImportItemDetails":{
      "type":"list",
      "member":{"shape":"AnnotationImportItemDetail"},
      "max":1,
      "min":1
    },
    "AnnotationImportItemSource":{
      "type":"structure",
      "required":["source"],
      "members":{
        "source":{
          "shape":"S3Uri",
          "documentation":"<p>The source file's location in Amazon S3.</p>"
        }
      },
      "documentation":"<p>A source for an annotation import job.</p>"
    },
    "AnnotationImportItemSources":{
      "type":"list",
      "member":{"shape":"AnnotationImportItemSource"},
      "max":1,
      "min":1
    },
    "AnnotationImportJobItem":{
      "type":"structure",
      "required":[
        "creationTime",
        "destinationName",
        "id",
        "roleArn",
        "status",
        "updateTime"
      ],
      "members":{
        "completionTime":{
          "shape":"CompletionTime",
          "documentation":"<p>When the job completed.</p>"
        },
        "creationTime":{
          "shape":"CreationTime",
          "documentation":"<p>When the job was created.</p>"
        },
        "destinationName":{
          "shape":"String",
          "documentation":"<p>The job's destination annotation store.</p>"
        },
        "id":{
          "shape":"String",
          "documentation":"<p>The job's ID.</p>"
        },
        "roleArn":{
          "shape":"Arn",
          "documentation":"<p>The job's service role ARN.</p>"
        },
        "runLeftNormalization":{
          "shape":"RunLeftNormalization",
          "documentation":"<p>The job's left normalization setting.</p>"
        },
        "status":{
          "shape":"JobStatus",
          "documentation":"<p>The job's status.</p>"
        },
        "updateTime":{
          "shape":"UpdateTime",
          "documentation":"<p>When the job was updated.</p>"
        }
      },
      "documentation":"<p>An annotation import job.</p>"
    },
    "AnnotationImportJobItems":{
      "type":"list",
      "member":{"shape":"AnnotationImportJobItem"}
    },
    "AnnotationStoreItem":{
      "type":"structure",
      "required":[
        "creationTime",
        "description",
        "id",
        "name",
        "reference",
        "sseConfig",
        "status",
        "statusMessage",
        "storeArn",
        "storeFormat",
        "storeSizeBytes",
        "updateTime"
      ],
      "members":{
        "creationTime":{
          "shape":"CreationTime",
          "documentation":"<p>The store's creation time.</p>"
        },
        "description":{
          "shape":"StoreDescription",
          "documentation":"<p>The store's description.</p>"
        },
        "id":{
          "shape":"ResourceId",
          "documentation":"<p>The store's ID.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The store's name.</p>"
        },
        "reference":{
          "shape":"ReferenceItem",
          "documentation":"<p>The store's genome reference.</p>"
        },
        "sseConfig":{
          "shape":"SseConfig",
          "documentation":"<p>The store's server-side encryption (SSE) settings.</p>"
        },
        "status":{
          "shape":"StoreStatus",
          "documentation":"<p>The store's status.</p>"
        },
        "statusMessage":{
          "shape":"StatusMessage",
          "documentation":"<p>The store's status message.</p>"
        },
        "storeArn":{
          "shape":"Arn",
          "documentation":"<p>The store's ARN.</p>"
        },
        "storeFormat":{
          "shape":"StoreFormat",
          "documentation":"<p>The store's file format.</p>"
        },
        "storeSizeBytes":{
          "shape":"Long",
          "documentation":"<p>The store's size in bytes.</p>"
        },
        "updateTime":{
          "shape":"UpdateTime",
          "documentation":"<p>When the store was updated.</p>"
        }
      },
      "documentation":"<p>An annotation store.</p>"
    },
    "AnnotationStoreItems":{
      "type":"list",
      "member":{"shape":"AnnotationStoreItem"}
    },
    "AnnotationType":{
      "type":"string",
      "enum":[
        "GENERIC",
        "CHR_POS",
        "CHR_POS_REF_ALT",
        "CHR_START_END_ONE_BASE",
        "CHR_START_END_REF_ALT_ONE_BASE",
        "CHR_START_END_ZERO_BASE",
        "CHR_START_END_REF_ALT_ZERO_BASE"
      ]
    },
    "Arn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn:([^: ]*):([^: ]*):([^: ]*):([0-9]{12}):([^: ]*)$"
    },
    "BatchDeleteReadSetRequest":{
      "type":"structure",
      "required":[
        "ids",
        "sequenceStoreId"
      ],
      "members":{
        "ids":{
          "shape":"ReadSetIdList",
          "documentation":"<p>The read sets' IDs.</p>"
        },
        "sequenceStoreId":{
          "shape":"SequenceStoreId",
          "documentation":"<p>The read sets' sequence store ID.</p>",
          "location":"uri",
          "locationName":"sequenceStoreId"
        }
      }
    },
    "BatchDeleteReadSetResponse":{
      "type":"structure",
      "members":{
        "errors":{
          "shape":"ReadSetBatchErrorList",
          "documentation":"<p>Errors returned by individual delete operations.</p>"
        }
      }
    },
    "Blob":{"type":"blob"},
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "CancelAnnotationImportRequest":{
      "type":"structure",
      "required":["jobId"],
      "members":{
        "jobId":{
          "shape":"ResourceId",
          "documentation":"<p>The job's ID.</p>",
          "location":"uri",
          "locationName":"jobId"
        }
      }
    },
    "CancelAnnotationImportResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CancelRunRequest":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{
          "shape":"RunId",
          "documentation":"<p>The run's ID.</p>",
          "location":"uri",
          "locationName":"id"
        }
      }
    },
    "CancelVariantImportRequest":{
      "type":"structure",
      "required":["jobId"],
      "members":{
        "jobId":{
          "shape":"ResourceId",
          "documentation":"<p>The job's ID.</p>",
          "location":"uri",
          "locationName":"jobId"
        }
      }
    },
    "CancelVariantImportResponse":{
      "type":"structure",
      "members":{
      }
    },
    "ClientToken":{
      "type":"string",
      "max":127,
      "min":1,
      "pattern":"^[\\p{L}||\\p{M}||\\p{Z}||\\p{S}||\\p{N}||\\p{P}]+$"
    },
    "CommentChar":{
      "type":"string",
      "max":1,
      "min":1
    },
    "CompletionTime":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "ConflictException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The request cannot be applied to the target resource in its current state.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CreateAnnotationStoreRequest":{
      "type":"structure",
      "required":["storeFormat"],
      "members":{
        "description":{
          "shape":"StoreDescription",
          "documentation":"<p>A description for the store.</p>"
        },
        "name":{
          "shape":"CreateAnnotationStoreRequestNameString",
          "documentation":"<p>A name for the store.</p>"
        },
        "reference":{
          "shape":"ReferenceItem",
          "documentation":"<p>The genome reference for the store's annotations.</p>"
        },
        "sseConfig":{
          "shape":"SseConfig",
          "documentation":"<p>Server-side encryption (SSE) settings for the store.</p>"
        },
        "storeFormat":{
          "shape":"StoreFormat",
          "documentation":"<p>The annotation file format of the store.</p>"
        },
        "storeOptions":{
          "shape":"StoreOptions",
          "documentation":"<p>File parsing options for the annotation store.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags for the store.</p>"
        }
      }
    },
    "CreateAnnotationStoreRequestNameString":{
      "type":"string",
      "pattern":"^([a-z]){1}([a-z0-9_]){2,254}$"
    },
    "CreateAnnotationStoreResponse":{
      "type":"structure",
      "required":[
        "creationTime",
        "id",
        "name",
        "status"
      ],
      "members":{
        "creationTime":{
          "shape":"CreationTime",
          "documentation":"<p>When the store was created.</p>"
        },
        "id":{
          "shape":"ResourceId",
          "documentation":"<p>The store's ID.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The store's name.</p>"
        },
        "reference":{
          "shape":"ReferenceItem",
          "documentation":"<p>The store's genome reference.</p>"
        },
        "status":{
          "shape":"StoreStatus",
          "documentation":"<p>The store's status.</p>"
        },
        "storeFormat":{
          "shape":"StoreFormat",
          "documentation":"<p>The annotation file format of the store.</p>"
        },
        "storeOptions":{
          "shape":"StoreOptions",
          "documentation":"<p>The store's file parsing options.</p>"
        }
      }
    },
    "CreateReferenceStoreRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>To ensure that requests don't run multiple times, specify a unique token for each request.</p>"
        },
        "description":{
          "shape":"ReferenceStoreDescription",
          "documentation":"<p>A description for the store.</p>"
        },
        "name":{
          "shape":"ReferenceStoreName",
          "documentation":"<p>A name for the store.</p>"
        },
        "sseConfig":{
          "shape":"SseConfig",
          "documentation":"<p>Server-side encryption (SSE) settings for the store.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags for the store.</p>"
        }
      }
    },
    "CreateReferenceStoreResponse":{
      "type":"structure",
      "required":[
        "arn",
        "creationTime",
        "id"
      ],
      "members":{
        "arn":{
          "shape":"ReferenceStoreArn",
          "documentation":"<p>The store's ARN.</p>"
        },
        "creationTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the store was created.</p>"
        },
        "description":{
          "shape":"ReferenceStoreDescription",
          "documentation":"<p>The store's description.</p>"
        },
        "id":{
          "shape":"ReferenceStoreId",
          "documentation":"<p>The store's ID.</p>"
        },
        "name":{
          "shape":"ReferenceStoreName",
          "documentation":"<p>The store's name.</p>"
        },
        "sseConfig":{
          "shape":"SseConfig",
          "documentation":"<p>The store's SSE settings.</p>"
        }
      }
    },
    "CreateRunGroupRequest":{
      "type":"structure",
      "required":["requestId"],
      "members":{
        "maxCpus":{
          "shape":"CreateRunGroupRequestMaxCpusInteger",
          "documentation":"<p>The maximum number of CPUs to use in the group.</p>"
        },
        "maxDuration":{
          "shape":"CreateRunGroupRequestMaxDurationInteger",
          "documentation":"<p>A max duration for the group.</p>"
        },
        "maxRuns":{
          "shape":"CreateRunGroupRequestMaxRunsInteger",
          "documentation":"<p>The maximum number of concurrent runs for the group.</p>"
        },
        "name":{
          "shape":"RunGroupName",
          "documentation":"<p>A name for the group.</p>"
        },
        "requestId":{
          "shape":"RunGroupRequestId",
          "documentation":"<p>A request ID for the group.</p>",
          "idempotencyToken":true
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags for the group.</p>"
        }
      }
    },
    "CreateRunGroupRequestMaxCpusInteger":{
      "type":"integer",
      "box":true,
      "max":100000,
      "min":1
    },
    "CreateRunGroupRequestMaxDurationInteger":{
      "type":"integer",
      "box":true,
      "max":100000,
      "min":1
    },
    "CreateRunGroupRequestMaxRunsInteger":{
      "type":"integer",
      "box":true,
      "max":100000,
      "min":1
    },
    "CreateRunGroupResponse":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"RunGroupArn",
          "documentation":"<p>The group's ARN.</p>"
        },
        "id":{
          "shape":"RunGroupId",
          "documentation":"<p>The group's ID.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags for the run group.</p>"
        }
      }
    },
    "CreateSequenceStoreRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>To ensure that requests don't run multiple times, specify a unique token for each request.</p>"
        },
        "description":{
          "shape":"SequenceStoreDescription",
          "documentation":"<p>A description for the store.</p>"
        },
        "name":{
          "shape":"SequenceStoreName",
          "documentation":"<p>A name for the store.</p>"
        },
        "sseConfig":{
          "shape":"SseConfig",
          "documentation":"<p>Server-side encryption (SSE) settings for the store.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags for the store.</p>"
        }
      }
    },
    "CreateSequenceStoreResponse":{
      "type":"structure",
      "required":[
        "arn",
        "creationTime",
        "id"
      ],
      "members":{
        "arn":{
          "shape":"SequenceStoreArn",
          "documentation":"<p>The store's ARN.</p>"
        },
        "creationTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the store was created.</p>"
        },
        "description":{
          "shape":"SequenceStoreDescription",
          "documentation":"<p>The store's description.</p>"
        },
        "id":{
          "shape":"SequenceStoreId",
          "documentation":"<p>The store's ID.</p>"
        },
        "name":{
          "shape":"SequenceStoreName",
          "documentation":"<p>The store's name.</p>"
        },
        "sseConfig":{
          "shape":"SseConfig",
          "documentation":"<p>The store's SSE settings.</p>"
        }
      }
    },
    "CreateVariantStoreRequest":{
      "type":"structure",
      "required":["reference"],
      "members":{
        "description":{
          "shape":"StoreDescription",
          "documentation":"<p>A description for the store.</p>"
        },
        "name":{
          "shape":"CreateVariantStoreRequestNameString",
          "documentation":"<p>A name for the store.</p>"
        },
        "reference":{
          "shape":"ReferenceItem",
          "documentation":"<p>The genome reference for the store's variants.</p>"
        },
        "sseConfig":{
          "shape":"SseConfig",
          "documentation":"<p>Server-side encryption (SSE) settings for the store.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags for the store.</p>"
        }
      }
    },
    "CreateVariantStoreRequestNameString":{
      "type":"string",
      "pattern":"^([a-z]){1}([a-z0-9_]){2,254}$"
    },
    "CreateVariantStoreResponse":{
      "type":"structure",
      "required":[
        "creationTime",
        "id",
        "name",
        "status"
      ],
      "members":{
        "creationTime":{
          "shape":"CreationTime",
          "documentation":"<p>When the store was created.</p>"
        },
        "id":{
          "shape":"ResourceId",
          "documentation":"<p>The store's ID.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The store's name.</p>"
        },
        "reference":{
          "shape":"ReferenceItem",
          "documentation":"<p>The store's genome reference.</p>"
        },
        "status":{
          "shape":"StoreStatus",
          "documentation":"<p>The store's status.</p>"
        }
      }
    },
    "CreateWorkflowRequest":{
      "type":"structure",
      "required":["requestId"],
      "members":{
        "definitionUri":{
          "shape":"WorkflowDefinition",
          "documentation":"<p>The URI of a definition for the workflow.</p>"
        },
        "definitionZip":{
          "shape":"Blob",
          "documentation":"<p>A ZIP archive for the workflow.</p>"
        },
        "description":{
          "shape":"WorkflowDescription",
          "documentation":"<p>A description for the workflow.</p>"
        },
        "engine":{
          "shape":"WorkflowEngine",
          "documentation":"<p>An engine for the workflow.</p>"
        },
        "main":{
          "shape":"WorkflowMain",
          "documentation":"<p>The path of the main definition file for the workflow.</p>"
        },
        "name":{
          "shape":"WorkflowName",
          "documentation":"<p>A name for the workflow.</p>"
        },
        "parameterTemplate":{
          "shape":"WorkflowParameterTemplate",
          "documentation":"<p>A parameter template for the workflow.</p>"
        },
        "requestId":{
          "shape":"WorkflowRequestId",
          "documentation":"<p>A request ID for the workflow.</p>",
          "idempotencyToken":true
        },
        "storageCapacity":{
          "shape":"CreateWorkflowRequestStorageCapacityInteger",
          "documentation":"<p>A storage capacity for the workflow.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags for the workflow.</p>"
        }
      }
    },
    "CreateWorkflowRequestStorageCapacityInteger":{
      "type":"integer",
      "box":true,
      "max":100000,
      "min":0
    },
    "CreateWorkflowResponse":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"WorkflowArn",
          "documentation":"<p>The workflow's ARN.</p>"
        },
        "id":{
          "shape":"WorkflowId",
          "documentation":"<p>The workflow's ID.</p>"
        },
        "status":{
          "shape":"WorkflowStatus",
          "documentation":"<p>The workflow's status.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The workflow's tags.</p>"
        }
      }
    },
    "CreationTime":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "DeleteAnnotationStoreRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "force":{
          "shape":"PrimitiveBoolean",
          "documentation":"<p>Whether to force deletion.</p>",
          "location":"querystring",
          "locationName":"force"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The store's name.</p>",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "DeleteAnnotationStoreResponse":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{
          "shape":"StoreStatus",
          "documentation":"<p>The store's status.</p>"
        }
      }
    },
    "DeleteReferenceRequest":{
      "type":"structure",
      "required":[
        "id",
        "referenceStoreId"
      ],
      "members":{
        "id":{
          "shape":"ReferenceId",
          "documentation":"<p>The reference's ID.</p>",
          "location":"uri",
          "locationName":"id"
        },
        "referenceStoreId":{
          "shape":"ReferenceStoreId",
          "documentation":"<p>The reference's store ID.</p>",
          "location":"uri",
          "locationName":"referenceStoreId"
        }
      }
    },
    "DeleteReferenceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteReferenceStoreRequest":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{
          "shape":"ReferenceStoreId",
          "documentation":"<p>The store's ID.</p>",
          "location":"uri",
          "locationName":"id"
        }
      }
    },
    "DeleteReferenceStoreResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteRunGroupRequest":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{
          "shape":"RunGroupId",
          "documentation":"<p>The run group's ID.</p>",
          "location":"uri",
          "locationName":"id"
        }
      }
    },
    "DeleteRunRequest":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{
          "shape":"RunId",
          "documentation":"<p>The run's ID.</p>",
          "location":"uri",
          "locationName":"id"
        }
      }
    },
    "DeleteSequenceStoreRequest":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{
          "shape":"SequenceStoreId",
          "documentation":"<p>The sequence store's ID.</p>",
          "location":"uri",
          "locationName":"id"
        }
      }
    },
    "DeleteSequenceStoreResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteVariantStoreRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "force":{
          "shape":"PrimitiveBoolean",
          "documentation":"<p>Whether to force deletion.</p>",
          "location":"querystring",
          "locationName":"force"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The store's name.</p>",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "DeleteVariantStoreResponse":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{
          "shape":"StoreStatus",
          "documentation":"<p>The store's status.</p>"
        }
      }
    },
    "DeleteWorkflowRequest":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{
          "shape":"WorkflowId",
          "documentation":"<p>The workflow's ID.</p>",
          "location":"uri",
          "locationName":"id"
        }
      }
    },
    "Encoding":{
      "type":"string",
      "max":20,
      "min":1
    },
    "EncryptionType":{
      "type":"string",
      "enum":["KMS"]
    },
    "EscapeChar":{
      "type":"string",
      "max":1,
      "min":1
    },
    "EscapeQuotes":{"type":"boolean"},
    "ExportJobId":{
      "type":"string",
      "max":36,
      "min":10,
      "pattern":"^[0-9]+$"
    },
    "ExportReadSet":{
      "type":"structure",
      "required":["readSetId"],
      "members":{
        "readSetId":{
          "shape":"ReadSetId",
          "documentation":"<p>The set's ID.</p>"
        }
      },
      "documentation":"<p>A read set.</p>"
    },
    "ExportReadSetDetail":{
      "type":"structure",
      "required":[
        "id",
        "status"
      ],
      "members":{
        "id":{
          "shape":"ReadSetId",
          "documentation":"<p>The set's ID.</p>"
        },
        "status":{
          "shape":"ReadSetExportJobItemStatus",
          "documentation":"<p>The set's status.</p>"
        },
        "statusMessage":{
          "shape":"JobStatusMessage",
          "documentation":"<p>The set's status message.</p>"
        }
      },
      "documentation":"<p>Details about a read set.</p>"
    },
    "ExportReadSetDetailList":{
      "type":"list",
      "member":{"shape":"ExportReadSetDetail"}
    },
    "ExportReadSetFilter":{
      "type":"structure",
      "members":{
        "createdAfter":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The filter's start date.</p>"
        },
        "createdBefore":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The filter's end date.</p>"
        },
        "status":{
          "shape":"ReadSetExportJobStatus",
          "documentation":"<p>A status to filter on.</p>"
        }
      },
      "documentation":"<p>An read set export job filter.</p>"
    },
    "ExportReadSetJobDetail":{
      "type":"structure",
      "required":[
        "creationTime",
        "destination",
        "id",
        "sequenceStoreId",
        "status"
      ],
      "members":{
        "completionTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the job completed.</p>"
        },
        "creationTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the job was created.</p>"
        },
        "destination":{
          "shape":"S3Destination",
          "documentation":"<p>The job's destination in Amazon S3.</p>"
        },
        "id":{
          "shape":"ExportJobId",
          "documentation":"<p>The job's ID.</p>"
        },
        "sequenceStoreId":{
          "shape":"SequenceStoreId",
          "documentation":"<p>The job's sequence store ID.</p>"
        },
        "status":{
          "shape":"ReadSetExportJobStatus",
          "documentation":"<p>The job's status.</p>"
        }
      },
      "documentation":"<p>Details about a read set export job.</p>"
    },
    "ExportReadSetJobDetailList":{
      "type":"list",
      "member":{"shape":"ExportReadSetJobDetail"}
    },
    "FileInformation":{
      "type":"structure",
      "members":{
        "contentLength":{
          "shape":"FileInformationContentLengthLong",
          "documentation":"<p>The file's content length.</p>"
        },
        "partSize":{
          "shape":"FileInformationPartSizeLong",
          "documentation":"<p>The file's part size.</p>"
        },
        "totalParts":{
          "shape":"FileInformationTotalPartsInteger",
          "documentation":"<p>The file's total parts.</p>"
        }
      },
      "documentation":"<p>Details about a file.</p>"
    },
    "FileInformationContentLengthLong":{
      "type":"long",
      "box":true,
      "max":5497558138880,
      "min":1
    },
    "FileInformationPartSizeLong":{
      "type":"long",
      "box":true,
      "max":5368709120,
      "min":1
    },
    "FileInformationTotalPartsInteger":{
      "type":"integer",
      "box":true,
      "max":10000,
      "min":1
    },
    "FileType":{
      "type":"string",
      "enum":[
        "FASTQ",
        "BAM",
        "CRAM"
      ]
    },
    "FormatOptions":{
      "type":"structure",
      "members":{
        "tsvOptions":{
          "shape":"TsvOptions",
          "documentation":"<p>Options for a TSV file.</p>"
        },
        "vcfOptions":{
          "shape":"VcfOptions",
          "documentation":"<p>Options for a VCF file.</p>"
        }
      },
      "documentation":"<p>Formatting options for a file.</p>",
      "union":true
    },
    "FormatToHeader":{
      "type":"map",
      "key":{"shape":"FormatToHeaderKey"},
      "value":{"shape":"FormatToHeaderValueString"}
    },
    "FormatToHeaderKey":{
      "type":"string",
      "enum":[
        "CHR",
        "START",
        "END",
        "REF",
        "ALT",
        "POS"
      ]
    },
    "FormatToHeaderValueString":{
      "type":"string",
      "max":1000,
      "min":0
    },
    "GeneratedFrom":{
      "type":"string",
      "max":127,
      "min":1,
      "pattern":"^[\\p{L}||\\p{M}||\\p{Z}||\\p{S}||\\p{N}||\\p{P}]+$"
    },
    "GetAnnotationImportRequest":{
      "type":"structure",
      "required":["jobId"],
      "members":{
        "jobId":{
          "shape":"ResourceId",
          "documentation":"<p>The job's ID.</p>",
          "location":"uri",
          "locationName":"jobId"
        }
      }
    },
    "GetAnnotationImportResponse":{
      "type":"structure",
      "required":[
        "completionTime",
        "creationTime",
        "destinationName",
        "formatOptions",
        "id",
        "items",
        "roleArn",
        "runLeftNormalization",
        "status",
        "statusMessage",
        "updateTime"
      ],
      "members":{
        "completionTime":{
          "shape":"CompletionTime",
          "documentation":"<p>When the job completed.</p>"
        },
        "creationTime":{
          "shape":"CreationTime",
          "documentation":"<p>When the job was created.</p>"
        },
        "destinationName":{
          "shape":"StoreName",
          "documentation":"<p>The job's destination annotation store.</p>"
        },
        "formatOptions":{"shape":"FormatOptions"},
        "id":{
          "shape":"ResourceId",
          "documentation":"<p>The job's ID.</p>"
        },
        "items":{
          "shape":"AnnotationImportItemDetails",
          "documentation":"<p>The job's imported items.</p>"
        },
        "roleArn":{
          "shape":"Arn",
          "documentation":"<p>The job's service role ARN.</p>"
        },
        "runLeftNormalization":{
          "shape":"RunLeftNormalization",
          "documentation":"<p>The job's left normalization setting.</p>"
        },
        "status":{
          "shape":"JobStatus",
          "documentation":"<p>The job's status.</p>"
        },
        "statusMessage":{
          "shape":"JobStatusMsg",
          "documentation":"<p>The job's status message.</p>"
        },
        "updateTime":{
          "shape":"UpdateTime",
          "documentation":"<p>When the job was updated.</p>"
        }
      }
    },
    "GetAnnotationStoreRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The store's name.</p>",
          "location":"uri",
          "locationName":"name"
        }
      }
    },
    "GetAnnotationStoreResponse":{
      "type":"structure",
      "required":[
        "creationTime",
        "description",
        "id",
        "name",
        "reference",
        "sseConfig",
        "status",
        "statusMessage",
        "storeArn",
        "storeSizeBytes",
        "tags",
        "updateTime"
      ],
      "members":{
        "creationTime":{
          "shape":"CreationTime",
          "documentation":"<p>When the store was created.</p>"
        },
        "description":{
          "shape":"StoreDescription",
          "documentation":"<p>The store's description.</p>"
        },
        "id":{
          "shape":"ResourceId",
          "documentation":"<p>The store's ID.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The store's name.</p>"
        },
        "reference":{
          "shape":"ReferenceItem",
          "documentation":"<p>The store's genome reference.</p>"
        },
        "sseConfig":{
          "shape":"SseConfig",
          "documentation":"<p>The store's server-side encryption (SSE) settings.</p>"
        },
        "status":{
          "shape":"StoreStatus",
          "documentation":"<p>The store's status.</p>"
        },
        "statusMessage":{
          "shape":"StatusMessage",
          "documentation":"<p>A status message.</p>"
        },
        "storeArn":{
          "shape":"Arn",
          "documentation":"<p>The store's ARN.</p>"
        },
        "storeFormat":{
          "shape":"StoreFormat",
          "documentation":"<p>The store's annotation file format.</p>"
        },
        "storeOptions":{
          "shape":"StoreOptions",
          "documentation":"<p>The store's parsing options.</p>"
        },
        "storeSizeBytes":{
          "shape":"Long",
          "documentation":"<p>The store's size in bytes.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The store's tags.</p>"
        },
        "updateTime":{
          "shape":"UpdateTime",
          "documentation":"<p>When the store was updated.</p>"
        }
      }
    },
    "GetReadSetActivationJobRequest":{
      "type":"structure",
      "required":[
        "id",
        "sequenceStoreId"
      ],
      "members":{
        "id":{
          "shape":"ActivationJobId",
          "documentation":"<p>The job's ID.</p>",
          "location":"uri",
          "locationName":"id"
        },
        "sequenceStoreId":{
          "shape":"SequenceStoreId",
          "documentation":"<p>The job's sequence store ID.</p>",
          "location":"uri",
          "locationName":"sequenceStoreId"
        }
      }
    },
    "GetReadSetActivationJobResponse":{
      "type":"structure",
      "required":[
        "creationTime",
        "id",
        "sequenceStoreId",
        "status"
      ],
      "members":{
        "completionTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the job completed.</p>"
        },
        "creationTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the job was created.</p>"
        },
        "id":{
          "shape":"ActivationJobId",
          "documentation":"<p>The job's ID.</p>"
        },
        "sequenceStoreId":{
          "shape":"SequenceStoreId",
          "documentation":"<p>The job's sequence store ID.</p>"
        },
        "sources":{
          "shape":"ActivateReadSetSourceList",
          "documentation":"<p>The job's sources.</p>"
        },
        "status":{
          "shape":"ReadSetActivationJobStatus",
          "documentation":"<p>The job's status.</p>"
        },
        "statusMessage":{
          "shape":"JobStatusMessage",
          "documentation":"<p>The job's status message.</p>"
        }
      }
    },
    "GetReadSetExportJobRequest":{
      "type":"structure",
      "required":[
        "id",
        "sequenceStoreId"
      ],
      "members":{
        "id":{
          "shape":"ExportJobId",
          "documentation":"<p>The job's ID.</p>",
          "location":"uri",
          "locationName":"id"
        },
        "sequenceStoreId":{
          "shape":"SequenceStoreId",
          "documentation":"<p>The job's sequence store ID.</p>",
          "location":"uri",
          "locationName":"sequenceStoreId"
        }
      }
    },
    "GetReadSetExportJobResponse":{
      "type":"structure",
      "required":[
        "creationTime",
        "destination",
        "id",
        "sequenceStoreId",
        "status"
      ],
      "members":{
        "completionTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the job completed.</p>"
        },
        "creationTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the job was created.</p>"
        },
        "destination":{
          "shape":"S3Destination",
          "documentation":"<p>The job's destination in Amazon S3.</p>"
        },
        "id":{
          "shape":"ExportJobId",
          "documentation":"<p>The job's ID.</p>"
        },
        "readSets":{
          "shape":"ExportReadSetDetailList",
          "documentation":"<p>The job's read sets.</p>"
        },
        "sequenceStoreId":{
          "shape":"SequenceStoreId",
          "documentation":"<p>The job's sequence store ID.</p>"
        },
        "status":{
          "shape":"ReadSetExportJobStatus",
          "documentation":"<p>The job's status.</p>"
        },
        "statusMessage":{
          "shape":"JobStatusMessage",
          "documentation":"<p>The job's status message.</p>"
        }
      }
    },
    "GetReadSetImportJobRequest":{
      "type":"structure",
      "required":[
        "id",
        "sequenceStoreId"
      ],
      "members":{
        "id":{
          "shape":"ImportJobId",
          "documentation":"<p>The job's ID.</p>",
          "location":"uri",
          "locationName":"id"
        },
        "sequenceStoreId":{
          "shape":"SequenceStoreId",
          "documentation":"<p>The job's sequence store ID.</p>",
          "location":"uri",
          "locationName":"sequenceStoreId"
        }
      }
    },
    "GetReadSetImportJobResponse":{
      "type":"structure",
      "required":[
        "creationTime",
        "id",
        "roleArn",
        "sequenceStoreId",
        "sources",
        "status"
      ],
      "members":{
        "completionTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the job completed.</p>"
        },
        "creationTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the job was created.</p>"
        },
        "id":{
          "shape":"ImportJobId",
          "documentation":"<p>The job's ID.</p>"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The job's service role ARN.</p>"
        },
        "sequenceStoreId":{
          "shape":"SequenceStoreId",
          "documentation":"<p>The job's sequence store ID.</p>"
        },
        "sources":{
          "shape":"ImportReadSetSourceList",
          "documentation":"<p>The job's sources.</p>"
        },
        "status":{
          "shape":"ReadSetImportJobStatus",
          "documentation":"<p>The job's status.</p>"
        },
        "statusMessage":{
          "shape":"JobStatusMessage",
          "documentation":"<p>The job's status message.</p>"
        }
      }
    },
    "GetReadSetMetadataRequest":{
      "type":"structure",
      "required":[
        "id",
        "sequenceStoreId"
      ],
      "members":{
        "id":{
          "shape":"ReadSetId",
          "documentation":"<p>The read set's ID.</p>",
          "location":"uri",
          "locationName":"id"
        },
        "sequenceStoreId":{
          "shape":"SequenceStoreId",
          "documentation":"<p>The read set's sequence store ID.</p>",
          "location":"uri",
          "locationName":"sequenceStoreId"
        }
      }
    },
    "GetReadSetMetadataResponse":{
      "type":"structure",
      "required":[
        "arn",
        "creationTime",
        "fileType",
        "id",
        "sequenceStoreId",
        "status"
      ],
      "members":{
        "arn":{
          "shape":"ReadSetArn",
          "documentation":"<p>The read set's ARN.</p>"
        },
        "creationTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the read set was created.</p>"
        },
        "description":{
          "shape":"ReadSetDescription",
          "documentation":"<p>The read set's description.</p>"
        },
        "fileType":{
          "shape":"FileType",
          "documentation":"<p>The read set's file type.</p>"
        },
        "files":{
          "shape":"ReadSetFiles",
          "documentation":"<p>The read set's files.</p>"
        },
        "id":{
          "shape":"ReadSetId",
          "documentation":"<p>The read set's ID.</p>"
        },
        "name":{
          "shape":"ReadSetName",
          "documentation":"<p>The read set's name.</p>"
        },
        "referenceArn":{
          "shape":"ReferenceArn",
          "documentation":"<p>The read set's genome reference ARN.</p>"
        },
        "sampleId":{
          "shape":"SampleId",
          "documentation":"<p>The read set's sample ID.</p>"
        },
        "sequenceInformation":{
          "shape":"SequenceInformation",
          "documentation":"<p>The read set's sequence information.</p>"
        },
        "sequenceStoreId":{
          "shape":"SequenceStoreId",
          "documentation":"<p>The read set's sequence store ID.</p>"
        },
        "status":{
          "shape":"ReadSetStatus",
          "documentation":"<p>The read set's status.</p>"
        },
        "subjectId":{
          "shape":"SubjectId",
          "documentation":"<p>The read set's subject ID.</p>"
        }
      }
    },
    "GetReadSetRequest":{
      "type":"structure",
      "required":[
        "id",
        "partNumber",
        "sequenceStoreId"
      ],
      "members":{
        "file":{
          "shape":"ReadSetFile",
          "documentation":"<p>The file to retrieve.</p>",
          "location":"querystring",
          "locationName":"file"
        },
        "id":{
          "shape":"ReadSetId",
          "documentation":"<p>The read set's ID.</p>",
          "location":"uri",
          "locationName":"id"
        },
        "partNumber":{
          "shape":"GetReadSetRequestPartNumberInteger",
          "documentation":"<p>The part number to retrieve.</p>",
          "location":"querystring",
          "locationName":"partNumber"
        },
        "sequenceStoreId":{
          "shape":"SequenceStoreId",
          "documentation":"<p>The read set's sequence store ID.</p>",
          "location":"uri",
          "locationName":"sequenceStoreId"
        }
      }
    },
    "GetReadSetRequestPartNumberInteger":{
      "type":"integer",
      "box":true,
      "max":10000,
      "min":1
    },
    "GetReadSetResponse":{
      "type":"structure",
      "members":{
        "payload":{
          "shape":"ReadSetStreamingBlob",
          "documentation":"<p>The read set file payload.</p>"
        }
      },
      "payload":"payload"
    },
    "GetReferenceImportJobRequest":{
      "type":"structure",
      "required":[
        "id",
        "referenceStoreId"
      ],
      "members":{
        "id":{
          "shape":"ImportJobId",
          "documentation":"<p>The job's ID.</p>",
          "location":"uri",
          "locationName":"id"
        },
        "referenceStoreId":{
          "shape":"ReferenceStoreId",
          "documentation":"<p>The job's reference store ID.</p>",
          "location":"uri",
          "locationName":"referenceStoreId"
        }
      }
    },
    "GetReferenceImportJobResponse":{
      "type":"structure",
      "required":[
        "creationTime",
        "id",
        "referenceStoreId",
        "roleArn",
        "sources",
        "status"
      ],
      "members":{
        "completionTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the job completed.</p>"
        },
        "creationTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the job was created.</p>"
        },
        "id":{
          "shape":"ImportJobId",
          "documentation":"<p>The job's ID.</p>"
        },
        "referenceStoreId":{
          "shape":"ReferenceStoreId",
          "documentation":"<p>The job's reference store ID.</p>"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The job's service role ARN.</p>"
        },
        "sources":{
          "shape":"ImportReferenceSourceList",
          "documentation":"<p>The job's sources.</p>"
        },
        "status":{
          "shape":"ReferenceImportJobStatus",
          "documentation":"<p>The job's status.</p>"
        },
        "statusMessage":{
          "shape":"JobStatusMessage",
          "documentation":"<p>The job's status message.</p>"
        }
      }
    },
    "GetReferenceMetadataRequest":{
      "type":"structure",
      "required":[
        "id",
        "referenceStoreId"
      ],
      "members":{
        "id":{
          "shape":"ReferenceId",
          "documentation":"<p>The reference's ID.</p>",
          "location":"uri",
          "locationName":"id"
        },
        "referenceStoreId":{
          "shape":"ReferenceStoreId",
          "documentation":"<p>The reference's reference store ID.</p>",
          "location":"uri",
          "locationName":"referenceStoreId"
        }
      }
    },
    "GetReferenceMetadataResponse":{
      "type":"structure",
      "required":[
        "arn",
        "creationTime",
        "id",
        "md5",
        "referenceStoreId",
        "updateTime"
      ],
      "members":{
        "arn":{
          "shape":"ReferenceArn",
          "documentation":"<p>The reference's ARN.</p>"
        },
        "creationTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the reference was created.</p>"
        },
        "description":{
          "shape":"ReferenceDescription",
          "documentation":"<p>The reference's description.</p>"
        },
        "files":{
          "shape":"ReferenceFiles",
          "documentation":"<p>The reference's files.</p>"
        },
        "id":{
          "shape":"ReferenceId",
          "documentation":"<p>The reference's ID.</p>"
        },
        "md5":{
          "shape":"Md5",
          "documentation":"<p>The reference's MD5 checksum.</p>"
        },
        "name":{
          "shape":"ReferenceName",
          "documentation":"<p>The reference's name.</p>"
        },
        "referenceStoreId":{
          "shape":"ReferenceStoreId",
          "documentation":"<p>The reference's reference store ID.</p>"
        },
        "status":{
          "shape":"ReferenceStatus",
          "documentation":"<p>The reference's status.</p>"
        },
        "updateTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the reference was updated.</p>"
        }
      }
    },
    "GetReferenceRequest":{
      "type":"structure",
      "required":[
        "id",
        "partNumber",
        "referenceStoreId"
      ],
      "members":{
        "file":{
          "shape":"ReferenceFile",
          "documentation":"<p>The file to retrieve.</p>",
          "location":"querystring",
          "locationName":"file"
        },
        "id":{
          "shape":"ReferenceId",
          "documentation":"<p>The reference's ID.</p>",
          "location":"uri",
          "locationName":"id"
        },
        "partNumber":{
          "shape":"GetReferenceRequestPartNumberInteger",
          "documentation":"<p>The part number to retrieve.</p>",
          "location":"querystring",
          "locationName":"partNumber"
        },
        "range":{
          "shape":"Range",
          "documentation":"<p>The range to retrieve.</p>",
          "location":"header",
          "locationName":"Range"
        },
        "referenceStoreId":{
          "shape":"ReferenceStoreId",
          "documentation":"<p>The reference's store ID.</p>",
          "location":"uri",
          "locationName":"referenceStoreId"
        }
      }
    },
    "GetReferenceRequestPartNumberInteger":{
      "type":"integer",
      "box":true,
      "max":10000,
      "min":1
    },
    "GetReferenceResponse":{
      "type":"structure",
      "members":{
        "payload":{
          "shape":"ReferenceStreamingBlob",
          "documentation":"<p>The reference file payload.</p>"
        }
      },
      "payload":"payload"
    },
    "GetReferenceStoreRequest":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{
          "shape":"ReferenceStoreId",
          "documentation":"<p>The store's ID.</p>",
          "location":"uri",
          "locationName":"id"
        }
      }
    },
    "GetReferenceStoreResponse":{
      "type":"structure",
      "required":[
        "arn",
        "creationTime",
        "id"
      ],
      "members":{
        "arn":{
          "shape":"ReferenceStoreArn",
          "documentation":"<p>The store's ARN.</p>"
        },
        "creationTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the store was created.</p>"
        },
        "description":{
          "shape":"ReferenceStoreDescription",
          "documentation":"<p>The store's description.</p>"
        },
        "id":{
          "shape":"ReferenceStoreId",
          "documentation":"<p>The store's ID.</p>"
        },
        "name":{
          "shape":"ReferenceStoreName",
          "documentation":"<p>The store's name.</p>"
        },
        "sseConfig":{
          "shape":"SseConfig",
          "documentation":"<p>The store's server-side encryption (SSE) settings.</p>"
        }
      }
    },
    "GetRunGroupRequest":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{
          "shape":"RunGroupId",
          "documentation":"<p>The group's ID.</p>",
          "location":"uri",
          "locationName":"id"
[...]
