{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-10-26",
    "endpointPrefix":"securityhub",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"AWS SecurityHub",
    "serviceId":"SecurityHub",
    "signatureVersion":"v4",
    "signingName":"securityhub",
    "uid":"securityhub-2018-10-26"
  },
  "operations":{
    "AcceptAdministratorInvitation":{
      "name":"AcceptAdministratorInvitation",
      "http":{
        "method":"POST",
        "requestUri":"/administrator"
      },
      "input":{"shape":"AcceptAdministratorInvitationRequest"},
      "output":{"shape":"AcceptAdministratorInvitationResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidAccessException"}
      ],
      "documentation":"<p>Accepts the invitation to be a member account and be monitored by the Security Hub administrator account that the invitation was sent from.</p> <p>This operation is only used by member accounts that are not added through Organizations.</p> <p>When the member account accepts the invitation, permission is granted to the administrator account to view findings generated in the member account.</p>"
    },
    "AcceptInvitation":{
      "name":"AcceptInvitation",
      "http":{
        "method":"POST",
        "requestUri":"/master"
      },
      "input":{"shape":"AcceptInvitationRequest"},
      "output":{"shape":"AcceptInvitationResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidAccessException"}
      ],
      "documentation":"<p>This method is deprecated. Instead, use <code>AcceptAdministratorInvitation</code>.</p> <p>The Security Hub console continues to use <code>AcceptInvitation</code>. It will eventually change to use <code>AcceptAdministratorInvitation</code>. Any IAM policies that specifically control access to this function must continue to use <code>AcceptInvitation</code>. You should also add <code>AcceptAdministratorInvitation</code> to your policies to ensure that the correct permissions are in place after the console begins to use <code>AcceptAdministratorInvitation</code>.</p> <p>Accepts the invitation to be a member account and be monitored by the Security Hub administrator account that the invitation was sent from.</p> <p>This operation is only used by member accounts that are not added through Organizations.</p> <p>When the member account accepts the invitation, permission is granted to the administrator account to view findings generated in the member account.</p>",
      "deprecated":true,
      "deprecatedMessage":"This API has been deprecated, use AcceptAdministratorInvitation API instead."
    },
    "BatchDisableStandards":{
      "name":"BatchDisableStandards",
      "http":{
        "method":"POST",
        "requestUri":"/standards/deregister"
      },
      "input":{"shape":"BatchDisableStandardsRequest"},
      "output":{"shape":"BatchDisableStandardsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Disables the standards specified by the provided <code>StandardsSubscriptionArns</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards.html\">Security Standards</a> section of the <i>Security Hub User Guide</i>.</p>"
    },
    "BatchEnableStandards":{
      "name":"BatchEnableStandards",
      "http":{
        "method":"POST",
        "requestUri":"/standards/register"
      },
      "input":{"shape":"BatchEnableStandardsRequest"},
      "output":{"shape":"BatchEnableStandardsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Enables the standards specified by the provided <code>StandardsArn</code>. To obtain the ARN for a standard, use the <code>DescribeStandards</code> operation.</p> <p>For more information, see the <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards.html\">Security Standards</a> section of the <i>Security Hub User Guide</i>.</p>"
    },
    "BatchImportFindings":{
      "name":"BatchImportFindings",
      "http":{
        "method":"POST",
        "requestUri":"/findings/import"
      },
      "input":{"shape":"BatchImportFindingsRequest"},
      "output":{"shape":"BatchImportFindingsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"}
      ],
      "documentation":"<p>Imports security findings generated by a finding provider into Security Hub. This action is requested by the finding provider to import its findings into Security Hub.</p> <p> <code>BatchImportFindings</code> must be called by one of the following:</p> <ul> <li> <p>The Amazon Web Services account that is associated with a finding if you are using the <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-custom-providers.html#securityhub-custom-providers-bfi-reqs\">default product ARN</a> or are a partner sending findings from within a customer's Amazon Web Services account. In these cases, the identifier of the account that you are calling <code>BatchImportFindings</code> from needs to be the same as the <code>AwsAccountId</code> attribute for the finding.</p> </li> <li> <p>An Amazon Web Services account that Security Hub has allow-listed for an official partner integration. In this case, you can call <code>BatchImportFindings</code> from the allow-listed account and send findings from different customer accounts in the same batch.</p> </li> </ul> <p>The maximum allowed size for a finding is 240 Kb. An error is returned for any finding larger than 240 Kb.</p> <p>After a finding is created, <code>BatchImportFindings</code> cannot be used to update the following finding fields and objects, which Security Hub customers use to manage their investigation workflow.</p> <ul> <li> <p> <code>Note</code> </p> </li> <li> <p> <code>UserDefinedFields</code> </p> </li> <li> <p> <code>VerificationState</code> </p> </li> <li> <p> <code>Workflow</code> </p> </li> </ul> <p>Finding providers also should not use <code>BatchImportFindings</code> to update the following attributes.</p> <ul> <li> <p> <code>Confidence</code> </p> </li> <li> <p> <code>Criticality</code> </p> </li> <li> <p> <code>RelatedFindings</code> </p> </li> <li> <p> <code>Severity</code> </p> </li> <li> <p> <code>Types</code> </p> </li> </ul> <p>Instead, finding providers use <code>FindingProviderFields</code> to provide values for these attributes.</p>"
    },
    "BatchUpdateFindings":{
      "name":"BatchUpdateFindings",
      "http":{
        "method":"PATCH",
        "requestUri":"/findings/batchupdate"
      },
      "input":{"shape":"BatchUpdateFindingsRequest"},
      "output":{"shape":"BatchUpdateFindingsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"}
      ],
      "documentation":"<p>Used by Security Hub customers to update information about their investigation into a finding. Requested by administrator accounts or member accounts. Administrator accounts can update findings for their account and their member accounts. Member accounts can update findings for their account.</p> <p>Updates from <code>BatchUpdateFindings</code> do not affect the value of <code>UpdatedAt</code> for a finding.</p> <p>Administrator and member accounts can use <code>BatchUpdateFindings</code> to update the following finding fields and objects.</p> <ul> <li> <p> <code>Confidence</code> </p> </li> <li> <p> <code>Criticality</code> </p> </li> <li> <p> <code>Note</code> </p> </li> <li> <p> <code>RelatedFindings</code> </p> </li> <li> <p> <code>Severity</code> </p> </li> <li> <p> <code>Types</code> </p> </li> <li> <p> <code>UserDefinedFields</code> </p> </li> <li> <p> <code>VerificationState</code> </p> </li> <li> <p> <code>Workflow</code> </p> </li> </ul> <p>You can configure IAM policies to restrict access to fields and field values. For example, you might not want member accounts to be able to suppress findings or change the finding severity. See <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/finding-update-batchupdatefindings.html#batchupdatefindings-configure-access\">Configuring access to BatchUpdateFindings</a> in the <i>Security Hub User Guide</i>.</p>"
    },
    "CreateActionTarget":{
      "name":"CreateActionTarget",
      "http":{
        "method":"POST",
        "requestUri":"/actionTargets"
      },
      "input":{"shape":"CreateActionTargetRequest"},
      "output":{"shape":"CreateActionTargetResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Creates a custom action target in Security Hub.</p> <p>You can use custom actions on findings and insights in Security Hub to trigger target actions in Amazon CloudWatch Events.</p>"
    },
    "CreateFindingAggregator":{
      "name":"CreateFindingAggregator",
      "http":{
        "method":"POST",
        "requestUri":"/findingAggregator/create"
      },
      "input":{"shape":"CreateFindingAggregatorRequest"},
      "output":{"shape":"CreateFindingAggregatorResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Used to enable finding aggregation. Must be called from the aggregation Region.</p> <p>For more details about cross-Region replication, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/finding-aggregation.html\">Configuring finding aggregation</a> in the <i>Security Hub User Guide</i>. </p>"
    },
    "CreateInsight":{
      "name":"CreateInsight",
      "http":{
        "method":"POST",
        "requestUri":"/insights"
      },
      "input":{"shape":"CreateInsightRequest"},
      "output":{"shape":"CreateInsightResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Creates a custom insight in Security Hub. An insight is a consolidation of findings that relate to a security issue that requires attention or remediation.</p> <p>To group the related findings in the insight, use the <code>GroupByAttribute</code>.</p>"
    },
    "CreateMembers":{
      "name":"CreateMembers",
      "http":{
        "method":"POST",
        "requestUri":"/members"
      },
      "input":{"shape":"CreateMembersRequest"},
      "output":{"shape":"CreateMembersResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Creates a member association in Security Hub between the specified accounts and the account used to make the request, which is the administrator account. If you are integrated with Organizations, then the administrator account is designated by the organization management account.</p> <p> <code>CreateMembers</code> is always used to add accounts that are not organization members.</p> <p>For accounts that are managed using Organizations, <code>CreateMembers</code> is only used in the following cases:</p> <ul> <li> <p>Security Hub is not configured to automatically add new organization accounts.</p> </li> <li> <p>The account was disassociated or deleted in Security Hub.</p> </li> </ul> <p>This action can only be used by an account that has Security Hub enabled. To enable Security Hub, you can use the <code>EnableSecurityHub</code> operation.</p> <p>For accounts that are not organization members, you create the account association and then send an invitation to the member account. To send the invitation, you use the <code>InviteMembers</code> operation. If the account owner accepts the invitation, the account becomes a member account in Security Hub.</p> <p>Accounts that are managed using Organizations do not receive an invitation. They automatically become a member account in Security Hub.</p> <ul> <li> <p>If the organization account does not have Security Hub enabled, then Security Hub and the default standards are automatically enabled. Note that Security Hub cannot be enabled automatically for the organization management account. The organization management account must enable Security Hub before the administrator account enables it as a member account.</p> </li> <li> <p>For organization accounts that already have Security Hub enabled, Security Hub does not make any other changes to those accounts. It does not change their enabled standards or controls.</p> </li> </ul> <p>A permissions policy is added that permits the administrator account to view the findings generated in the member account.</p> <p>To remove the association between the administrator and member accounts, use the <code>DisassociateFromMasterAccount</code> or <code>DisassociateMembers</code> operation.</p>"
    },
    "DeclineInvitations":{
      "name":"DeclineInvitations",
      "http":{
        "method":"POST",
        "requestUri":"/invitations/decline"
      },
      "input":{"shape":"DeclineInvitationsRequest"},
      "output":{"shape":"DeclineInvitationsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Declines invitations to become a member account.</p> <p>This operation is only used by accounts that are not part of an organization. Organization accounts do not receive invitations.</p>"
    },
    "DeleteActionTarget":{
      "name":"DeleteActionTarget",
      "http":{
        "method":"DELETE",
        "requestUri":"/actionTargets/{ActionTargetArn+}"
      },
      "input":{"shape":"DeleteActionTargetRequest"},
      "output":{"shape":"DeleteActionTargetResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes a custom action target from Security Hub.</p> <p>Deleting a custom action target does not affect any findings or insights that were already sent to Amazon CloudWatch Events using the custom action.</p>"
    },
    "DeleteFindingAggregator":{
      "name":"DeleteFindingAggregator",
      "http":{
        "method":"DELETE",
        "requestUri":"/findingAggregator/delete/{FindingAggregatorArn+}"
      },
      "input":{"shape":"DeleteFindingAggregatorRequest"},
      "output":{"shape":"DeleteFindingAggregatorResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes a finding aggregator. When you delete the finding aggregator, you stop finding aggregation.</p> <p>When you stop finding aggregation, findings that were already aggregated to the aggregation Region are still visible from the aggregation Region. New findings and finding updates are not aggregated. </p>"
    },
    "DeleteInsight":{
      "name":"DeleteInsight",
      "http":{
        "method":"DELETE",
        "requestUri":"/insights/{InsightArn+}"
      },
      "input":{"shape":"DeleteInsightRequest"},
      "output":{"shape":"DeleteInsightResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the insight specified by the <code>InsightArn</code>.</p>"
    },
    "DeleteInvitations":{
      "name":"DeleteInvitations",
      "http":{
        "method":"POST",
        "requestUri":"/invitations/delete"
      },
      "input":{"shape":"DeleteInvitationsRequest"},
      "output":{"shape":"DeleteInvitationsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidAccessException"}
      ],
      "documentation":"<p>Deletes invitations received by the Amazon Web Services account to become a member account.</p> <p>This operation is only used by accounts that are not part of an organization. Organization accounts do not receive invitations.</p>"
    },
    "DeleteMembers":{
      "name":"DeleteMembers",
      "http":{
        "method":"POST",
        "requestUri":"/members/delete"
      },
      "input":{"shape":"DeleteMembersRequest"},
      "output":{"shape":"DeleteMembersResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the specified member accounts from Security Hub.</p> <p>Can be used to delete member accounts that belong to an organization as well as member accounts that were invited manually.</p>"
    },
    "DescribeActionTargets":{
      "name":"DescribeActionTargets",
      "http":{
        "method":"POST",
        "requestUri":"/actionTargets/get"
      },
      "input":{"shape":"DescribeActionTargetsRequest"},
      "output":{"shape":"DescribeActionTargetsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns a list of the custom action targets in Security Hub in your account.</p>"
    },
    "DescribeHub":{
      "name":"DescribeHub",
      "http":{
        "method":"GET",
        "requestUri":"/accounts"
      },
      "input":{"shape":"DescribeHubRequest"},
      "output":{"shape":"DescribeHubResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns details about the Hub resource in your account, including the <code>HubArn</code> and the time when you enabled Security Hub.</p>"
    },
    "DescribeOrganizationConfiguration":{
      "name":"DescribeOrganizationConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/organization/configuration"
      },
      "input":{"shape":"DescribeOrganizationConfigurationRequest"},
      "output":{"shape":"DescribeOrganizationConfigurationResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Returns information about the Organizations configuration for Security Hub. Can only be called from a Security Hub administrator account.</p>"
    },
    "DescribeProducts":{
      "name":"DescribeProducts",
      "http":{
        "method":"GET",
        "requestUri":"/products"
      },
      "input":{"shape":"DescribeProductsRequest"},
      "output":{"shape":"DescribeProductsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Returns information about product integrations in Security Hub.</p> <p>You can optionally provide an integration ARN. If you provide an integration ARN, then the results only include that integration.</p> <p>If you do not provide an integration ARN, then the results include all of the available product integrations. </p>"
    },
    "DescribeStandards":{
      "name":"DescribeStandards",
      "http":{
        "method":"GET",
        "requestUri":"/standards"
      },
      "input":{"shape":"DescribeStandardsRequest"},
      "output":{"shape":"DescribeStandardsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"}
      ],
      "documentation":"<p>Returns a list of the available standards in Security Hub.</p> <p>For each standard, the results include the standard ARN, the name, and a description. </p>"
    },
    "DescribeStandardsControls":{
      "name":"DescribeStandardsControls",
      "http":{
        "method":"GET",
        "requestUri":"/standards/controls/{StandardsSubscriptionArn+}"
      },
      "input":{"shape":"DescribeStandardsControlsRequest"},
      "output":{"shape":"DescribeStandardsControlsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns a list of security standards controls.</p> <p>For each control, the results include information about whether it is currently enabled, the severity, and a link to remediation information.</p>"
    },
    "DisableImportFindingsForProduct":{
      "name":"DisableImportFindingsForProduct",
      "http":{
        "method":"DELETE",
        "requestUri":"/productSubscriptions/{ProductSubscriptionArn+}"
      },
      "input":{"shape":"DisableImportFindingsForProductRequest"},
      "output":{"shape":"DisableImportFindingsForProductResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Disables the integration of the specified product with Security Hub. After the integration is disabled, findings from that product are no longer sent to Security Hub.</p>"
    },
    "DisableOrganizationAdminAccount":{
      "name":"DisableOrganizationAdminAccount",
      "http":{
        "method":"POST",
        "requestUri":"/organization/admin/disable"
      },
      "input":{"shape":"DisableOrganizationAdminAccountRequest"},
      "output":{"shape":"DisableOrganizationAdminAccountResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Disables a Security Hub administrator account. Can only be called by the organization management account.</p>"
    },
    "DisableSecurityHub":{
      "name":"DisableSecurityHub",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts"
      },
      "input":{"shape":"DisableSecurityHubRequest"},
      "output":{"shape":"DisableSecurityHubResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Disables Security Hub in your account only in the current Region. To disable Security Hub in all Regions, you must submit one request per Region where you have enabled Security Hub.</p> <p>When you disable Security Hub for an administrator account, it doesn't disable Security Hub for any associated member accounts.</p> <p>When you disable Security Hub, your existing findings and insights and any Security Hub configuration settings are deleted after 90 days and cannot be recovered. Any standards that were enabled are disabled, and your administrator and member account associations are removed.</p> <p>If you want to save your existing findings, you must export them before you disable Security Hub.</p>"
    },
    "DisassociateFromAdministratorAccount":{
      "name":"DisassociateFromAdministratorAccount",
      "http":{
        "method":"POST",
        "requestUri":"/administrator/disassociate"
      },
      "input":{"shape":"DisassociateFromAdministratorAccountRequest"},
      "output":{"shape":"DisassociateFromAdministratorAccountResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Disassociates the current Security Hub member account from the associated administrator account.</p> <p>This operation is only used by accounts that are not part of an organization. For organization accounts, only the administrator account can disassociate a member account.</p>"
    },
    "DisassociateFromMasterAccount":{
      "name":"DisassociateFromMasterAccount",
      "http":{
        "method":"POST",
        "requestUri":"/master/disassociate"
      },
      "input":{"shape":"DisassociateFromMasterAccountRequest"},
      "output":{"shape":"DisassociateFromMasterAccountResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>This method is deprecated. Instead, use <code>DisassociateFromAdministratorAccount</code>.</p> <p>The Security Hub console continues to use <code>DisassociateFromMasterAccount</code>. It will eventually change to use <code>DisassociateFromAdministratorAccount</code>. Any IAM policies that specifically control access to this function must continue to use <code>DisassociateFromMasterAccount</code>. You should also add <code>DisassociateFromAdministratorAccount</code> to your policies to ensure that the correct permissions are in place after the console begins to use <code>DisassociateFromAdministratorAccount</code>.</p> <p>Disassociates the current Security Hub member account from the associated administrator account.</p> <p>This operation is only used by accounts that are not part of an organization. For organization accounts, only the administrator account can disassociate a member account.</p>",
      "deprecated":true,
      "deprecatedMessage":"This API has been deprecated, use DisassociateFromAdministratorAccount API instead."
    },
    "DisassociateMembers":{
      "name":"DisassociateMembers",
      "http":{
        "method":"POST",
        "requestUri":"/members/disassociate"
      },
      "input":{"shape":"DisassociateMembersRequest"},
      "output":{"shape":"DisassociateMembersResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Disassociates the specified member accounts from the associated administrator account.</p> <p>Can be used to disassociate both accounts that are managed using Organizations and accounts that were invited manually.</p>"
    },
    "EnableImportFindingsForProduct":{
      "name":"EnableImportFindingsForProduct",
      "http":{
        "method":"POST",
        "requestUri":"/productSubscriptions"
      },
      "input":{"shape":"EnableImportFindingsForProductRequest"},
      "output":{"shape":"EnableImportFindingsForProductResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceConflictException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Enables the integration of a partner product with Security Hub. Integrated products send findings to Security Hub.</p> <p>When you enable a product integration, a permissions policy that grants permission for the product to send findings to Security Hub is applied.</p>"
    },
    "EnableOrganizationAdminAccount":{
      "name":"EnableOrganizationAdminAccount",
      "http":{
        "method":"POST",
        "requestUri":"/organization/admin/enable"
      },
      "input":{"shape":"EnableOrganizationAdminAccountRequest"},
      "output":{"shape":"EnableOrganizationAdminAccountResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Designates the Security Hub administrator account for an organization. Can only be called by the organization management account.</p>"
    },
    "EnableSecurityHub":{
      "name":"EnableSecurityHub",
      "http":{
        "method":"POST",
        "requestUri":"/accounts"
      },
      "input":{"shape":"EnableSecurityHubRequest"},
      "output":{"shape":"EnableSecurityHubResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Enables Security Hub for your account in the current Region or the Region you specify in the request.</p> <p>When you enable Security Hub, you grant to Security Hub the permissions necessary to gather findings from other services that are integrated with Security Hub.</p> <p>When you use the <code>EnableSecurityHub</code> operation to enable Security Hub, you also automatically enable the following standards.</p> <ul> <li> <p>CIS Amazon Web Services Foundations</p> </li> <li> <p>Amazon Web Services Foundational Security Best Practices</p> </li> </ul> <p>You do not enable the Payment Card Industry Data Security Standard (PCI DSS) standard. </p> <p>To not enable the automatically enabled standards, set <code>EnableDefaultStandards</code> to <code>false</code>.</p> <p>After you enable Security Hub, to enable a standard, use the <code>BatchEnableStandards</code> operation. To disable a standard, use the <code>BatchDisableStandards</code> operation.</p> <p>To learn more, see the <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-settingup.html\">setup information</a> in the <i>Security Hub User Guide</i>.</p>"
    },
    "GetAdministratorAccount":{
      "name":"GetAdministratorAccount",
      "http":{
        "method":"GET",
        "requestUri":"/administrator"
      },
      "input":{"shape":"GetAdministratorAccountRequest"},
      "output":{"shape":"GetAdministratorAccountResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Provides the details for the Security Hub administrator account for the current member account.</p> <p>Can be used by both member accounts that are managed using Organizations and accounts that were invited manually.</p>"
    },
    "GetEnabledStandards":{
      "name":"GetEnabledStandards",
      "http":{
        "method":"POST",
        "requestUri":"/standards/get"
      },
      "input":{"shape":"GetEnabledStandardsRequest"},
      "output":{"shape":"GetEnabledStandardsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Returns a list of the standards that are currently enabled.</p>"
    },
    "GetFindingAggregator":{
      "name":"GetFindingAggregator",
      "http":{
        "method":"GET",
        "requestUri":"/findingAggregator/get/{FindingAggregatorArn+}"
      },
      "input":{"shape":"GetFindingAggregatorRequest"},
      "output":{"shape":"GetFindingAggregatorResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns the current finding aggregation configuration.</p>"
    },
    "GetFindings":{
      "name":"GetFindings",
      "http":{
        "method":"POST",
        "requestUri":"/findings"
      },
      "input":{"shape":"GetFindingsRequest"},
      "output":{"shape":"GetFindingsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Returns a list of findings that match the specified criteria.</p> <p>If finding aggregation is enabled, then when you call <code>GetFindings</code> from the aggregation Region, the results include all of the matching findings from both the aggregation Region and the linked Regions.</p>"
    },
    "GetInsightResults":{
      "name":"GetInsightResults",
      "http":{
        "method":"GET",
        "requestUri":"/insights/results/{InsightArn+}"
      },
      "input":{"shape":"GetInsightResultsRequest"},
      "output":{"shape":"GetInsightResultsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the results of the Security Hub insight specified by the insight ARN.</p>"
    },
    "GetInsights":{
      "name":"GetInsights",
      "http":{
        "method":"POST",
        "requestUri":"/insights/get"
      },
      "input":{"shape":"GetInsightsRequest"},
      "output":{"shape":"GetInsightsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists and describes insights for the specified insight ARNs.</p>"
    },
    "GetInvitationsCount":{
      "name":"GetInvitationsCount",
      "http":{
        "method":"GET",
        "requestUri":"/invitations/count"
      },
      "input":{"shape":"GetInvitationsCountRequest"},
      "output":{"shape":"GetInvitationsCountResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Returns the count of all Security Hub membership invitations that were sent to the current member account, not including the currently accepted invitation. </p>"
    },
    "GetMasterAccount":{
      "name":"GetMasterAccount",
      "http":{
        "method":"GET",
        "requestUri":"/master"
      },
      "input":{"shape":"GetMasterAccountRequest"},
      "output":{"shape":"GetMasterAccountResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>This method is deprecated. Instead, use <code>GetAdministratorAccount</code>.</p> <p>The Security Hub console continues to use <code>GetMasterAccount</code>. It will eventually change to use <code>GetAdministratorAccount</code>. Any IAM policies that specifically control access to this function must continue to use <code>GetMasterAccount</code>. You should also add <code>GetAdministratorAccount</code> to your policies to ensure that the correct permissions are in place after the console begins to use <code>GetAdministratorAccount</code>.</p> <p>Provides the details for the Security Hub administrator account for the current member account.</p> <p>Can be used by both member accounts that are managed using Organizations and accounts that were invited manually.</p>",
      "deprecated":true,
      "deprecatedMessage":"This API has been deprecated, use GetAdministratorAccount API instead."
    },
    "GetMembers":{
      "name":"GetMembers",
      "http":{
        "method":"POST",
        "requestUri":"/members/get"
      },
      "input":{"shape":"GetMembersRequest"},
      "output":{"shape":"GetMembersResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns the details for the Security Hub member accounts for the specified account IDs.</p> <p>An administrator account can be either the delegated Security Hub administrator account for an organization or an administrator account that enabled Security Hub manually.</p> <p>The results include both member accounts that are managed using Organizations and accounts that were invited manually.</p>"
    },
    "InviteMembers":{
      "name":"InviteMembers",
      "http":{
        "method":"POST",
        "requestUri":"/members/invite"
      },
      "input":{"shape":"InviteMembersRequest"},
      "output":{"shape":"InviteMembersResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Invites other Amazon Web Services accounts to become member accounts for the Security Hub administrator account that the invitation is sent from.</p> <p>This operation is only used to invite accounts that do not belong to an organization. Organization accounts do not receive invitations.</p> <p>Before you can use this action to invite a member, you must first use the <code>CreateMembers</code> action to create the member account in Security Hub.</p> <p>When the account owner enables Security Hub and accepts the invitation to become a member account, the administrator account can view the findings generated from the member account.</p>"
    },
    "ListEnabledProductsForImport":{
      "name":"ListEnabledProductsForImport",
      "http":{
        "method":"GET",
        "requestUri":"/productSubscriptions"
      },
      "input":{"shape":"ListEnabledProductsForImportRequest"},
      "output":{"shape":"ListEnabledProductsForImportResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"}
      ],
      "documentation":"<p>Lists all findings-generating solutions (products) that you are subscribed to receive findings from in Security Hub.</p>"
    },
    "ListFindingAggregators":{
      "name":"ListFindingAggregators",
      "http":{
        "method":"GET",
        "requestUri":"/findingAggregator/list"
      },
      "input":{"shape":"ListFindingAggregatorsRequest"},
      "output":{"shape":"ListFindingAggregatorsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>If finding aggregation is enabled, then <code>ListFindingAggregators</code> returns the ARN of the finding aggregator. You can run this operation from any Region.</p>"
    },
    "ListInvitations":{
      "name":"ListInvitations",
      "http":{
        "method":"GET",
        "requestUri":"/invitations"
      },
      "input":{"shape":"ListInvitationsRequest"},
      "output":{"shape":"ListInvitationsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Lists all Security Hub membership invitations that were sent to the current Amazon Web Services account.</p> <p>This operation is only used by accounts that are managed by invitation. Accounts that are managed using the integration with Organizations do not receive invitations.</p>"
    },
    "ListMembers":{
      "name":"ListMembers",
      "http":{
        "method":"GET",
        "requestUri":"/members"
      },
      "input":{"shape":"ListMembersRequest"},
      "output":{"shape":"ListMembersResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Lists details about all member accounts for the current Security Hub administrator account.</p> <p>The results include both member accounts that belong to an organization and member accounts that were invited manually.</p>"
    },
    "ListOrganizationAdminAccounts":{
      "name":"ListOrganizationAdminAccounts",
      "http":{
        "method":"GET",
        "requestUri":"/organization/admin"
      },
      "input":{"shape":"ListOrganizationAdminAccountsRequest"},
      "output":{"shape":"ListOrganizationAdminAccountsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Lists the Security Hub administrator accounts. Can only be called by the organization management account.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{ResourceArn}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns a list of tags associated with a resource.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{ResourceArn}"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Adds one or more tags to a resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{ResourceArn}"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Removes one or more tags from a resource.</p>"
    },
    "UpdateActionTarget":{
      "name":"UpdateActionTarget",
      "http":{
        "method":"PATCH",
        "requestUri":"/actionTargets/{ActionTargetArn+}"
      },
      "input":{"shape":"UpdateActionTargetRequest"},
      "output":{"shape":"UpdateActionTargetResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates the name and description of a custom action target in Security Hub.</p>"
    },
    "UpdateFindingAggregator":{
      "name":"UpdateFindingAggregator",
      "http":{
        "method":"PATCH",
        "requestUri":"/findingAggregator/update"
      },
      "input":{"shape":"UpdateFindingAggregatorRequest"},
      "output":{"shape":"UpdateFindingAggregatorResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates the finding aggregation configuration. Used to update the Region linking mode and the list of included or excluded Regions. You cannot use <code>UpdateFindingAggregator</code> to change the aggregation Region.</p> <p>You must run <code>UpdateFindingAggregator</code> from the current aggregation Region. </p>"
    },
    "UpdateFindings":{
      "name":"UpdateFindings",
      "http":{
        "method":"PATCH",
        "requestUri":"/findings"
      },
      "input":{"shape":"UpdateFindingsRequest"},
      "output":{"shape":"UpdateFindingsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> <code>UpdateFindings</code> is deprecated. Instead of <code>UpdateFindings</code>, use <code>BatchUpdateFindings</code>.</p> <p>Updates the <code>Note</code> and <code>RecordState</code> of the Security Hub-aggregated findings that the filter attributes specify. Any member account that can view the finding also sees the update to the finding.</p>"
    },
    "UpdateInsight":{
      "name":"UpdateInsight",
      "http":{
        "method":"PATCH",
        "requestUri":"/insights/{InsightArn+}"
      },
      "input":{"shape":"UpdateInsightRequest"},
      "output":{"shape":"UpdateInsightResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates the Security Hub insight identified by the specified insight ARN.</p>"
    },
    "UpdateOrganizationConfiguration":{
      "name":"UpdateOrganizationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/organization/configuration"
      },
      "input":{"shape":"UpdateOrganizationConfigurationRequest"},
      "output":{"shape":"UpdateOrganizationConfigurationResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Used to update the configuration related to Organizations. Can only be called from a Security Hub administrator account.</p>"
    },
    "UpdateSecurityHubConfiguration":{
      "name":"UpdateSecurityHubConfiguration",
      "http":{
        "method":"PATCH",
        "requestUri":"/accounts"
      },
      "input":{"shape":"UpdateSecurityHubConfigurationRequest"},
      "output":{"shape":"UpdateSecurityHubConfigurationResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates configuration options for Security Hub.</p>"
    },
    "UpdateStandardsControl":{
      "name":"UpdateStandardsControl",
      "http":{
        "method":"PATCH",
        "requestUri":"/standards/control/{StandardsControlArn+}"
      },
      "input":{"shape":"UpdateStandardsControlRequest"},
      "output":{"shape":"UpdateStandardsControlResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Used to control whether an individual security standard control is enabled or disabled.</p>"
    }
  },
  "shapes":{
    "AcceptAdministratorInvitationRequest":{
      "type":"structure",
      "required":[
        "AdministratorId",
        "InvitationId"
      ],
      "members":{
        "AdministratorId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The account ID of the Security Hub administrator account that sent the invitation.</p>"
        },
        "InvitationId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the invitation sent from the Security Hub administrator account.</p>"
        }
      }
    },
    "AcceptAdministratorInvitationResponse":{
      "type":"structure",
      "members":{
      }
    },
    "AcceptInvitationRequest":{
      "type":"structure",
      "required":[
        "MasterId",
        "InvitationId"
      ],
      "members":{
        "MasterId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The account ID of the Security Hub administrator account that sent the invitation.</p>"
        },
        "InvitationId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the invitation sent from the Security Hub administrator account.</p>"
        }
      }
    },
    "AcceptInvitationResponse":{
      "type":"structure",
      "members":{
      }
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"},
        "Code":{"shape":"NonEmptyString"}
      },
      "documentation":"<p>You don't have permission to perform the action specified in the request.</p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AccountDetails":{
      "type":"structure",
      "required":["AccountId"],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "documentation":"<p>The ID of an Amazon Web Services account.</p>"
        },
        "Email":{
          "shape":"NonEmptyString",
          "documentation":"<p>The email of an Amazon Web Services account.</p>"
        }
      },
      "documentation":"<p>The details of an Amazon Web Services account.</p>"
    },
    "AccountDetailsList":{
      "type":"list",
      "member":{"shape":"AccountDetails"}
    },
    "AccountId":{"type":"string"},
    "AccountIdList":{
      "type":"list",
      "member":{"shape":"NonEmptyString"}
    },
    "Action":{
      "type":"structure",
      "members":{
        "ActionType":{
          "shape":"NonEmptyString",
          "documentation":"<p>The type of action that was detected. The possible action types are:</p> <ul> <li> <p> <code>NETWORK_CONNECTION</code> </p> </li> <li> <p> <code>AWS_API_CALL</code> </p> </li> <li> <p> <code>DNS_REQUEST</code> </p> </li> <li> <p> <code>PORT_PROBE</code> </p> </li> </ul>"
        },
        "NetworkConnectionAction":{
          "shape":"NetworkConnectionAction",
          "documentation":"<p>Included if <code>ActionType</code> is <code>NETWORK_CONNECTION</code>. Provides details about the network connection that was detected.</p>"
        },
        "AwsApiCallAction":{
          "shape":"AwsApiCallAction",
          "documentation":"<p>Included if <code>ActionType</code> is <code>AWS_API_CALL</code>. Provides details about the API call that was detected. </p>"
        },
        "DnsRequestAction":{
          "shape":"DnsRequestAction",
          "documentation":"<p>Included if <code>ActionType</code> is <code>DNS_REQUEST</code>. Provides details about the DNS request that was detected. </p>"
        },
        "PortProbeAction":{
          "shape":"PortProbeAction",
          "documentation":"<p>Included if <code>ActionType</code> is <code>PORT_PROBE</code>. Provides details about the port probe that was detected. </p>"
        }
      },
      "documentation":"<p>Provides details about one of the following actions that affects or that was taken on a resource:</p> <ul> <li> <p>A remote IP address issued an Amazon Web Services API call</p> </li> <li> <p>A DNS request was received</p> </li> <li> <p>A remote IP address attempted to connect to an EC2 instance</p> </li> <li> <p>A remote IP address attempted a port probe on an EC2 instance</p> </li> </ul>"
    },
    "ActionLocalIpDetails":{
      "type":"structure",
      "members":{
        "IpAddressV4":{
          "shape":"NonEmptyString",
          "documentation":"<p>The IP address.</p>"
        }
      },
      "documentation":"<p>Provides information about the IP address where the scanned port is located.</p>"
    },
    "ActionLocalPortDetails":{
      "type":"structure",
      "members":{
        "Port":{
          "shape":"Integer",
          "documentation":"<p>The number of the port.</p>"
        },
        "PortName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The port name of the local connection.</p>"
        }
      },
      "documentation":"<p>For <code>NetworkConnectionAction</code> and <code>PortProbeDetails</code>, <code>LocalPortDetails</code> provides information about the local port that was involved in the action.</p>"
    },
    "ActionRemoteIpDetails":{
      "type":"structure",
      "members":{
        "IpAddressV4":{
          "shape":"NonEmptyString",
          "documentation":"<p>The IP address.</p>"
        },
        "Organization":{
          "shape":"IpOrganizationDetails",
          "documentation":"<p>The internet service provider (ISP) organization associated with the remote IP address.</p>"
        },
        "Country":{
          "shape":"Country",
          "documentation":"<p>The country where the remote IP address is located.</p>"
        },
        "City":{
          "shape":"City",
          "documentation":"<p>The city where the remote IP address is located.</p>"
        },
        "GeoLocation":{
          "shape":"GeoLocation",
          "documentation":"<p>The coordinates of the location of the remote IP address.</p>"
        }
      },
      "documentation":"<p>For <code>AwsApiAction</code>, <code>NetworkConnectionAction</code>, and <code>PortProbeAction</code>, <code>RemoteIpDetails</code> provides information about the remote IP address that was involved in the action.</p>"
    },
    "ActionRemotePortDetails":{
      "type":"structure",
      "members":{
        "Port":{
          "shape":"Integer",
          "documentation":"<p>The number of the port.</p>"
        },
        "PortName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The port name of the remote connection.</p>"
        }
      },
      "documentation":"<p>Provides information about the remote port that was involved in an attempted network connection.</p>"
    },
    "ActionTarget":{
      "type":"structure",
      "required":[
        "ActionTargetArn",
        "Name",
        "Description"
      ],
      "members":{
        "ActionTargetArn":{
          "shape":"NonEmptyString",
          "documentation":"<p>The ARN for the target action.</p>"
        },
        "Name":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the action target.</p>"
        },
        "Description":{
          "shape":"NonEmptyString",
          "documentation":"<p>The description of the target action.</p>"
        }
      },
      "documentation":"<p>An <code>ActionTarget</code> object.</p>"
    },
    "ActionTargetList":{
      "type":"list",
      "member":{"shape":"ActionTarget"}
    },
    "Adjustment":{
      "type":"structure",
      "members":{
        "Metric":{
          "shape":"NonEmptyString",
          "documentation":"<p>The metric to adjust.</p>"
        },
        "Reason":{
          "shape":"NonEmptyString",
          "documentation":"<p>The reason for the adjustment.</p>"
        }
      },
      "documentation":"<p>An adjustment to the CVSS metric.</p>"
    },
    "AdjustmentList":{
      "type":"list",
      "member":{"shape":"Adjustment"}
    },
    "AdminAccount":{
      "type":"structure",
      "members":{
        "AccountId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The Amazon Web Services account identifier of the Security Hub administrator account.</p>"
        },
        "Status":{
          "shape":"AdminStatus",
          "documentation":"<p>The current status of the Security Hub administrator account. Indicates whether the account is currently enabled as a Security Hub administrator.</p>"
        }
      },
      "documentation":"<p>Represents a Security Hub administrator account designated by an organization management account.</p>"
    },
    "AdminAccounts":{
      "type":"list",
      "member":{"shape":"AdminAccount"}
    },
    "AdminStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLE_IN_PROGRESS"
      ]
    },
    "AdminsMaxResults":{
      "type":"integer",
      "max":10,
      "min":1
    },
    "ArnList":{
      "type":"list",
      "member":{"shape":"NonEmptyString"}
    },
    "AutoEnableStandards":{
      "type":"string",
      "enum":[
        "NONE",
        "DEFAULT"
      ]
    },
    "AvailabilityZone":{
      "type":"structure",
      "members":{
        "ZoneName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the Availability Zone.</p>"
        },
        "SubnetId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The ID of the subnet. You can specify one subnet per Availability Zone.</p>"
        }
      },
      "documentation":"<p>Information about an Availability Zone.</p>"
    },
    "AvailabilityZones":{
      "type":"list",
      "member":{"shape":"AvailabilityZone"}
    },
    "AwsApiCallAction":{
      "type":"structure",
      "members":{
        "Api":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the API method that was issued.</p>"
        },
        "ServiceName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the Amazon Web Services service that the API method belongs to.</p>"
        },
        "CallerType":{
          "shape":"NonEmptyString",
          "documentation":"<p>Indicates whether the API call originated from a remote IP address (<code>remoteip</code>) or from a DNS domain (<code>domain</code>).</p>"
        },
        "RemoteIpDetails":{
          "shape":"ActionRemoteIpDetails",
          "documentation":"<p>Provided if <code>CallerType</code> is <code>remoteIp</code>. Provides information about the remote IP address that the API call originated from.</p>"
        },
        "DomainDetails":{
          "shape":"AwsApiCallActionDomainDetails",
          "documentation":"<p>Provided if <code>CallerType</code> is <code>domain</code>. Provides information about the DNS domain that the API call originated from.</p>"
        },
        "AffectedResources":{
          "shape":"FieldMap",
          "documentation":"<p>Identifies the resources that were affected by the API call.</p>"
        },
        "FirstSeen":{
          "shape":"NonEmptyString",
          "documentation":"<p>An ISO8601-formatted timestamp that indicates when the API call was first observed.</p>"
        },
        "LastSeen":{
          "shape":"NonEmptyString",
          "documentation":"<p>An ISO8601-formatted timestamp that indicates when the API call was most recently observed.</p>"
        }
      },
      "documentation":"<p>Provided if <code>ActionType</code> is <code>AWS_API_CALL</code>. It provides details about the API call that was detected.</p>"
    },
    "AwsApiCallActionDomainDetails":{
      "type":"structure",
      "members":{
        "Domain":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the DNS domain that issued the API call.</p>"
        }
      },
      "documentation":"<p>Provided if <code>CallerType</code> is <code>domain</code>. It provides information about the DNS domain that issued the API call.</p>"
    },
    "AwsApiGatewayAccessLogSettings":{
      "type":"structure",
      "members":{
        "Format":{
          "shape":"NonEmptyString",
          "documentation":"<p>A single-line format of the access logs of data, as specified by selected <code>$context</code> variables. The format must include at least <code>$context.requestId</code>.</p>"
        },
        "DestinationArn":{
          "shape":"NonEmptyString",
          "documentation":"<p>The ARN of the CloudWatch Logs log group that receives the access logs.</p>"
        }
      },
      "documentation":"<p>Contains information about settings for logging access for the stage.</p>"
    },
    "AwsApiGatewayCanarySettings":{
      "type":"structure",
      "members":{
        "PercentTraffic":{
          "shape":"Double",
          "documentation":"<p>The percentage of traffic that is diverted to a canary deployment.</p>"
        },
        "DeploymentId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The deployment identifier for the canary deployment.</p>"
        },
        "StageVariableOverrides":{
          "shape":"FieldMap",
          "documentation":"<p>Stage variables that are overridden in the canary release deployment. The variables include new stage variables that are introduced in the canary.</p> <p>Each variable is represented as a string-to-string map between the stage variable name and the variable value.</p>"
        },
        "UseStageCache":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the canary deployment uses the stage cache.</p>"
        }
      },
      "documentation":"<p>Contains information about settings for canary deployment in the stage.</p>"
    },
    "AwsApiGatewayEndpointConfiguration":{
      "type":"structure",
      "members":{
        "Types":{
          "shape":"NonEmptyStringList",
          "documentation":"<p>A list of endpoint types for the REST API.</p> <p>For an edge-optimized API, the endpoint type is <code>EDGE</code>. For a Regional API, the endpoint type is <code>REGIONAL</code>. For a private API, the endpoint type is <code>PRIVATE</code>.</p>"
        }
      },
      "documentation":"<p>Contains information about the endpoints for the API.</p>"
    },
    "AwsApiGatewayMethodSettings":{
      "type":"structure",
      "members":{
        "MetricsEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether CloudWatch metrics are enabled for the method. </p>"
        },
        "LoggingLevel":{
          "shape":"NonEmptyString",
          "documentation":"<p>The logging level for this method. The logging level affects the log entries that are pushed to CloudWatch Logs.</p> <p>If the logging level is <code>ERROR</code>, then the logs only include error-level entries.</p> <p>If the logging level is <code>INFO</code>, then the logs include both <code>ERROR</code> events and extra informational events.</p> <p>Valid values: <code>OFF</code> | <code>ERROR</code> | <code>INFO</code> </p>"
        },
        "DataTraceEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether data trace logging is enabled for the method. Data trace logging affects the log entries that are pushed to CloudWatch Logs.</p>"
        },
        "ThrottlingBurstLimit":{
          "shape":"Integer",
          "documentation":"<p>The throttling burst limit for the method.</p>"
        },
        "ThrottlingRateLimit":{
          "shape":"Double",
          "documentation":"<p>The throttling rate limit for the method.</p>"
        },
        "CachingEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether responses are cached and returned for requests. For responses to be cached, a cache cluster must be enabled on the stage.</p>"
        },
        "CacheTtlInSeconds":{
          "shape":"Integer",
          "documentation":"<p>Specifies the time to live (TTL), in seconds, for cached responses. The higher the TTL, the longer the response is cached.</p>"
        },
        "CacheDataEncrypted":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the cached responses are encrypted. </p>"
        },
        "RequireAuthorizationForCacheControl":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether authorization is required for a cache invalidation request.</p>"
        },
        "UnauthorizedCacheControlHeaderStrategy":{
          "shape":"NonEmptyString",
          "documentation":"<p>Indicates how to handle unauthorized requests for cache invalidation.</p> <p>Valid values: <code>FAIL_WITH_403</code> | <code>SUCCEED_WITH_RESPONSE_HEADER</code> | <code>SUCCEED_WITHOUT_RESPONSE_HEADER</code> </p>"
        },
        "HttpMethod":{
          "shape":"NonEmptyString",
          "documentation":"<p>The HTTP method. You can use an asterisk (*) as a wildcard to apply method settings to multiple methods.</p>"
        },
        "ResourcePath":{
          "shape":"NonEmptyString",
          "documentation":"<p>The resource path for this method. Forward slashes (/) are encoded as ~1 . The initial slash must include a forward slash.</p> <p>For example, the path value <code>/resource/subresource</code> must be encoded as <code>/~1resource~1subresource</code>.</p> <p>To specify the root path, use only a slash (/). You can use an asterisk (*) as a wildcard to apply method settings to multiple methods.</p>"
        }
      },
      "documentation":"<p>Defines settings for a method for the stage.</p>"
    },
    "AwsApiGatewayMethodSettingsList":{
      "type":"list",
      "member":{"shape":"AwsApiGatewayMethodSettings"}
    },
    "AwsApiGatewayRestApiDetails":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the REST API.</p>"
        },
        "Name":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the REST API.</p>"
        },
        "Description":{
          "shape":"NonEmptyString",
          "documentation":"<p>A description of the REST API.</p>"
        },
        "CreatedDate":{
          "shape":"NonEmptyString",
          "documentation":"<p>Indicates when the API was created.</p> <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet Date/Time Format</a>. The value cannot contain spaces. For example, <code>2020-03-22T13:22:13.933Z</code>.</p>"
        },
        "Version":{
          "shape":"NonEmptyString",
          "documentation":"<p>The version identifier for the REST API.</p>"
        },
        "BinaryMediaTypes":{
          "shape":"NonEmptyStringList",
          "documentation":"<p>The list of binary media types supported by the REST API.</p>"
        },
        "MinimumCompressionSize":{
          "shape":"Integer",
          "documentation":"<p>The minimum size in bytes of a payload before compression is enabled.</p> <p>If <code>null</code>, then compression is disabled.</p> <p>If 0, then all payloads are compressed.</p>"
        },
        "ApiKeySource":{
          "shape":"NonEmptyString",
          "documentation":"<p>The source of the API key for metering requests according to a usage plan.</p> <p> <code>HEADER</code> indicates whether to read the API key from the X-API-Key header of a request.</p> <p> <code>AUTHORIZER</code> indicates whether to read the API key from the <code>UsageIdentifierKey</code> from a custom authorizer.</p>"
        },
        "EndpointConfiguration":{
          "shape":"AwsApiGatewayEndpointConfiguration",
          "documentation":"<p>The endpoint configuration of the REST API.</p>"
        }
      },
      "documentation":"<p>Contains information about a REST API in version 1 of Amazon API Gateway.</p>"
    },
    "AwsApiGatewayStageDetails":{
      "type":"structure",
      "members":{
        "DeploymentId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the deployment that the stage points to.</p>"
        },
        "ClientCertificateId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the client certificate for the stage.</p>"
        },
        "StageName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the stage.</p>"
        },
        "Description":{
          "shape":"NonEmptyString",
          "documentation":"<p>A description of the stage.</p>"
        },
        "CacheClusterEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether a cache cluster is enabled for the stage.</p>"
        },
        "CacheClusterSize":{
          "shape":"NonEmptyString",
          "documentation":"<p>If a cache cluster is enabled, the size of the cache cluster.</p>"
        },
        "CacheClusterStatus":{
          "shape":"NonEmptyString",
          "documentation":"<p>If a cache cluster is enabled, the status of the cache cluster.</p>"
        },
        "MethodSettings":{
          "shape":"AwsApiGatewayMethodSettingsList",
          "documentation":"<p>Defines the method settings for the stage.</p>"
        },
        "Variables":{
          "shape":"FieldMap",
          "documentation":"<p>A map that defines the stage variables for the stage.</p> <p>Variable names can have alphanumeric and underscore characters.</p> <p>Variable values can contain the following characters:</p> <ul> <li> <p>Uppercase and lowercase letters</p> </li> <li> <p>Numbers</p> </li> <li> <p>Special characters -._~:/?#&amp;=,</p> </li> </ul>"
        },
        "DocumentationVersion":{
          "shape":"NonEmptyString",
          "documentation":"<p>The version of the API documentation that is associated with the stage.</p>"
        },
        "AccessLogSettings":{
          "shape":"AwsApiGatewayAccessLogSettings",
          "documentation":"<p>Settings for logging access for the stage.</p>"
        },
        "CanarySettings":{
          "shape":"AwsApiGatewayCanarySettings",
          "documentation":"<p>Information about settings for canary deployment in the stage.</p>"
        },
        "TracingEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether active tracing with X-Ray is enabled for the stage.</p>"
        },
        "CreatedDate":{
          "shape":"NonEmptyString",
          "documentation":"<p>Indicates when the stage was created.</p> <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet Date/Time Format</a>. The value cannot contain spaces. For example, <code>2020-03-22T13:22:13.933Z</code>.</p>"
        },
        "LastUpdatedDate":{
          "shape":"NonEmptyString",
          "documentation":"<p>Indicates when the stage was most recently updated.</p> <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet Date/Time Format</a>. The value cannot contain spaces. For example, <code>2020-03-22T13:22:13.933Z</code>.</p>"
        },
        "WebAclArn":{
          "shape":"NonEmptyString",
          "documentation":"<p>The ARN of the web ACL associated with the stage.</p>"
        }
      },
      "documentation":"<p>Provides information about a version 1 Amazon API Gateway stage.</p>"
    },
    "AwsApiGatewayV2ApiDetails":{
      "type":"structure",
      "members":{
        "ApiEndpoint":{
          "shape":"NonEmptyString",
          "documentation":"<p>The URI of the API. </p> <p>Uses the format <code> <i>&lt;api-id&gt;</i>.execute-api.<i>&lt;region&gt;</i>.amazonaws.com</code> </p> <p>The stage name is typically appended to the URI to form a complete path to a deployed API stage.</p>"
        },
        "ApiId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the API.</p>"
        },
        "ApiKeySelectionExpression":{
          "shape":"NonEmptyString",
          "documentation":"<p>An API key selection expression. Supported only for WebSocket APIs. </p>"
        },
        "CreatedDate":{
          "shape":"NonEmptyString",
          "documentation":"<p>Indicates when the API was created.</p> <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet Date/Time Format</a>. The value cannot contain spaces. For example, <code>2020-03-22T13:22:13.933Z</code>.</p>"
        },
        "Description":{
          "shape":"NonEmptyString",
          "documentation":"<p>A description of the API.</p>"
        },
        "Version":{
          "shape":"NonEmptyString",
          "documentation":"<p>The version identifier for the API.</p>"
        },
        "Name":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the API.</p>"
        },
        "ProtocolType":{
          "shape":"NonEmptyString",
          "documentation":"<p>The API protocol for the API.</p> <p>Valid values: <code>WEBSOCKET</code> | <code>HTTP</code> </p>"
        },
        "RouteSelectionExpression":{
          "shape":"NonEmptyString",
          "documentation":"<p>The route selection expression for the API.</p> <p>For HTTP APIs, must be <code>${request.method} ${request.path}</code>. This is the default value for HTTP APIs.</p> <p>For WebSocket APIs, there is no default value.</p>"
        },
        "CorsConfiguration":{
          "shape":"AwsCorsConfiguration",
          "documentation":"<p>A cross-origin resource sharing (CORS) configuration. Supported only for HTTP APIs.</p>"
        }
      },
      "documentation":"<p>Contains information about a version 2 API in Amazon API Gateway.</p>"
    },
    "AwsApiGatewayV2RouteSettings":{
      "type":"structure",
      "members":{
        "DetailedMetricsEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether detailed metrics are enabled.</p>"
        },
        "LoggingLevel":{
          "shape":"NonEmptyString",
          "documentation":"<p>The logging level. The logging level affects the log entries that are pushed to CloudWatch Logs. Supported only for WebSocket APIs.</p> <p>If the logging level is <code>ERROR</code>, then the logs only include error-level entries.</p> <p>If the logging level is <code>INFO</code>, then the logs include both <code>ERROR</code> events and extra informational events.</p> <p>Valid values: <code>OFF</code> | <code>ERROR</code> | <code>INFO</code> </p>"
        },
        "DataTraceEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether data trace logging is enabled. Data trace logging affects the log entries that are pushed to CloudWatch Logs. Supported only for WebSocket APIs.</p>"
        },
        "ThrottlingBurstLimit":{
          "shape":"Integer",
          "documentation":"<p>The throttling burst limit.</p>"
        },
        "ThrottlingRateLimit":{
          "shape":"Double",
          "documentation":"<p>The throttling rate limit.</p>"
        }
      },
      "documentation":"<p>Contains route settings for a stage.</p>"
    },
    "AwsApiGatewayV2StageDetails":{
      "type":"structure",
      "members":{
        "ClientCertificateId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of a client certificate for a stage. Supported only for WebSocket API calls.</p>"
        },
        "CreatedDate":{
          "shape":"NonEmptyString",
          "documentation":"<p>Indicates when the stage was created.</p> <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet Date/Time Format</a>. The value cannot contain spaces. For example, <code>2020-03-22T13:22:13.933Z</code>.</p>"
        },
        "Description":{
          "shape":"NonEmptyString",
          "documentation":"<p>The description of the stage.</p>"
        },
        "DefaultRouteSettings":{
          "shape":"AwsApiGatewayV2RouteSettings",
          "documentation":"<p>Default route settings for the stage.</p>"
        },
        "DeploymentId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the deployment that the stage is associated with. </p>"
        },
        "LastUpdatedDate":{
          "shape":"NonEmptyString",
          "documentation":"<p>Indicates when the stage was most recently updated.</p> <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet Date/Time Format</a>. The value cannot contain spaces. For example, <code>2020-03-22T13:22:13.933Z</code>.</p>"
        },
        "RouteSettings":{
          "shape":"AwsApiGatewayV2RouteSettings",
          "documentation":"<p>The route settings for the stage.</p>"
        },
        "StageName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the stage.</p>"
        },
        "StageVariables":{
          "shape":"FieldMap",
          "documentation":"<p>A map that defines the stage variables for the stage.</p> <p>Variable names can have alphanumeric and underscore characters.</p> <p>Variable values can contain the following characters:</p> <ul> <li> <p>Uppercase and lowercase letters</p> </li> <li> <p>Numbers</p> </li> <li> <p>Special characters -._~:/?#&amp;=,</p> </li> </ul>"
        },
        "AccessLogSettings":{
          "shape":"AwsApiGatewayAccessLogSettings",
          "documentation":"<p>Information about settings for logging access for the stage.</p>"
        },
        "AutoDeploy":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether updates to an API automatically trigger a new deployment.</p>"
        },
        "LastDeploymentStatusMessage":{
          "shape":"NonEmptyString",
          "documentation":"<p>The status of the last deployment of a stage. Supported only if the stage has automatic deployment enabled.</p>"
        },
        "ApiGatewayManaged":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the stage is managed by API Gateway.</p>"
        }
      },
      "documentation":"<p>Contains information about a version 2 stage for Amazon API Gateway.</p>"
    },
    "AwsAutoScalingAutoScalingGroupAvailabilityZonesList":{
      "type":"list",
      "member":{"shape":"AwsAutoScalingAutoScalingGroupAvailabilityZonesListDetails"}
    },
    "AwsAutoScalingAutoScalingGroupAvailabilityZonesListDetails":{
      "type":"structure",
      "members":{
        "Value":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the Availability Zone.</p>"
        }
      },
      "documentation":"<p>An Availability Zone for the automatic scaling group.</p>"
    },
    "AwsAutoScalingAutoScalingGroupDetails":{
      "type":"structure",
      "members":{
        "LaunchConfigurationName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the launch configuration.</p>"
        },
        "LoadBalancerNames":{
          "shape":"StringList",
          "documentation":"<p>The list of load balancers associated with the group.</p>"
        },
        "HealthCheckType":{
          "shape":"NonEmptyString",
          "documentation":"<p>The service to use for the health checks.</p>"
        },
        "HealthCheckGracePeriod":{
          "shape":"Integer",
          "documentation":"<p>The amount of time, in seconds, that Amazon EC2 Auto Scaling waits before it checks the health status of an EC2 instance that has come into service.</p>"
        },
        "CreatedTime":{
          "shape":"NonEmptyString",
          "documentation":"<p>Indicates when the auto scaling group was created.</p> <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet Date/Time Format</a>. The value cannot contain spaces. For example, <code>2020-03-22T13:22:13.933Z</code>.</p>"
        },
        "MixedInstancesPolicy":{
          "shape":"AwsAutoScalingAutoScalingGroupMixedInstancesPolicyDetails",
          "documentation":"<p>The mixed instances policy for the automatic scaling group.</p>"
        },
        "AvailabilityZones":{
          "shape":"AwsAutoScalingAutoScalingGroupAvailabilityZonesList",
          "documentation":"<p>The list of Availability Zones for the automatic scaling group.</p>"
        },
        "LaunchTemplate":{
          "shape":"AwsAutoScalingAutoScalingGroupLaunchTemplateLaunchTemplateSpecification",
          "documentation":"<p>The launch template to use.</p>"
        },
        "CapacityRebalance":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether capacity rebalancing is enabled. </p>"
        }
      },
      "documentation":"<p>Provides details about an auto scaling group.</p>"
    },
    "AwsAutoScalingAutoScalingGroupLaunchTemplateLaunchTemplateSpecification":{
      "type":"structure",
      "members":{
        "LaunchTemplateId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the launch template. You must specify either <code>LaunchTemplateId</code> or <code>LaunchTemplateName</code>.</p>"
        },
        "LaunchTemplateName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the launch template. You must specify either <code>LaunchTemplateId</code> or <code>LaunchTemplateName</code>.</p>"
        },
        "Version":{
          "shape":"NonEmptyString",
          "documentation":"<p>Identifies the version of the launch template. You can specify a version identifier, or use the values <code>$Latest</code> or <code>$Default</code>.</p>"
        }
      },
      "documentation":"<p>Details about the launch template to use.</p>"
    },
    "AwsAutoScalingAutoScalingGroupMixedInstancesPolicyDetails":{
      "type":"structure",
      "members":{
        "InstancesDistribution":{
          "shape":"AwsAutoScalingAutoScalingGroupMixedInstancesPolicyInstancesDistributionDetails",
          "documentation":"<p>The instances distribution. The instances distribution specifies the distribution of On-Demand Instances and Spot Instances, the maximum price to pay for Spot Instances, and how the Auto Scaling group allocates instance types to fulfill On-Demand and Spot capacity.</p>"
        },
        "LaunchTemplate":{
          "shape":"AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateDetails",
          "documentation":"<p>The launch template to use and the instance types (overrides) to use to provision EC2 instances to fulfill On-Demand and Spot capacities.</p>"
        }
      },
      "documentation":"<p>The mixed instances policy for the automatic scaling group.</p>"
    },
    "AwsAutoScalingAutoScalingGroupMixedInstancesPolicyInstancesDistributionDetails":{
      "type":"structure",
      "members":{
        "OnDemandAllocationStrategy":{
          "shape":"NonEmptyString",
          "documentation":"<p>How to allocate instance types to fulfill On-Demand capacity.</p>"
        },
        "OnDemandBaseCapacity":{
          "shape":"Integer",
          "documentation":"<p>The minimum amount of the Auto Scaling group's capacity that must be fulfilled by On-Demand Instances.</p>"
        },
        "OnDemandPercentageAboveBaseCapacity":{
          "shape":"Integer",
          "documentation":"<p>The percentage of On-Demand Instances and Spot Instances for additional capacity beyond <code>OnDemandBaseCapacity</code>.</p>"
        },
        "SpotAllocationStrategy":{
          "shape":"NonEmptyString",
          "documentation":"<p>How to allocate instances across Spot Instance pools.</p>"
        },
        "SpotInstancePools":{
          "shape":"Integer",
          "documentation":"<p>The number of Spot Instance pools across which to allocate your Spot Instances.</p>"
        },
        "SpotMaxPrice":{
          "shape":"NonEmptyString",
          "documentation":"<p>The maximum price per unit hour that you are willing to pay for a Spot Instance.</p>"
        }
      },
      "documentation":"<p>Information about the instances distribution.</p>"
    },
    "AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateDetails":{
      "type":"structure",
      "members":{
        "LaunchTemplateSpecification":{
          "shape":"AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateLaunchTemplateSpecification",
          "documentation":"<p>The launch template to use for a mixed instances policy.</p>"
        },
        "Overrides":{
          "shape":"AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateOverridesList",
          "documentation":"<p>Property values to use to override the values in the launch template.</p>"
        }
      },
      "documentation":"<p>Describes a launch template and overrides for a mixed instances policy.</p>"
    },
    "AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateLaunchTemplateSpecification":{
      "type":"structure",
      "members":{
        "LaunchTemplateId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the launch template. You must specify either <code>LaunchTemplateId</code> or <code>LaunchTemplateName</code>.</p>"
        },
        "LaunchTemplateName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the launch template. You must specify either <code>LaunchTemplateId</code> or <code>LaunchTemplateName</code>.</p>"
        },
        "Version":{
          "shape":"NonEmptyString",
          "documentation":"<p>Identifies the version of the launch template. You can specify a version identifier, or use the values <code>$Latest</code> or <code>$Default</code>.</p>"
        }
      },
      "documentation":"<p>Details about the launch template to use for a mixed instances policy.</p>"
    },
    "AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateOverridesList":{
      "type":"list",
      "member":{"shape":"AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateOverridesListDetails"}
    },
    "AwsAutoScalingAutoScalingGroupMixedInstancesPolicyLaunchTemplateOverridesListDetails":{
      "type":"structure",
      "members":{
        "InstanceType":{
          "shape":"NonEmptyString",
          "documentation":"<p>The instance type. For example, <code>m3.xlarge</code>.</p>"
        },
        "WeightedCapacity":{
          "shape":"NonEmptyString",
          "documentation":"<p>The number of capacity units provided by the specified instance type in terms of virtual CPUs, memory, storage, throughput, or other relative performance characteristic.</p>"
        }
      },
      "documentation":"<p>Property values to use to override the values in the launch template.</p>"
    },
    "AwsAutoScalingLaunchConfigurationBlockDeviceMappingsDetails":{
      "type":"structure",
      "members":{
        "DeviceName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The device name that is exposed to the EC2 instance. For example, <code>/dev/sdh</code> or <code>xvdh</code>.</p>"
        },
        "Ebs":{
          "shape":"AwsAutoScalingLaunchConfigurationBlockDeviceMappingsEbsDetails",
          "documentation":"<p>Parameters that are used to automatically set up Amazon EBS volumes when an instance is launched.</p>"
        },
        "NoDevice":{
          "shape":"Boolean",
          "documentation":"<p>Whether to suppress the device that is included in the block device mapping of the Amazon Machine Image (AMI).</p> <p>If <code>NoDevice</code> is <code>true</code>, then you cannot specify <code>Ebs</code>.&gt;</p>"
        },
        "VirtualName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the virtual device (for example, <code>ephemeral0</code>).</p> <p>You can provide either <code>VirtualName</code> or <code>Ebs</code>, but not both.</p>"
        }
      },
      "documentation":"<p>A block device for the instance.</p>"
    },
    "AwsAutoScalingLaunchConfigurationBlockDeviceMappingsEbsDetails":{
      "type":"structure",
      "members":{
        "DeleteOnTermination":{
          "shape":"Boolean",
          "documentation":"<p>Whether to delete the volume when the instance is terminated.</p>"
        },
        "Encrypted":{
          "shape":"Boolean",
          "documentation":"<p>Whether to encrypt the volume.</p>"
        },
        "Iops":{
          "shape":"Integer",
          "documentation":"<p>The number of input/output (I/O) operations per second (IOPS) to provision for the volume.</p> <p>Only supported for <code>gp3</code> or <code>io1</code> volumes. Required for <code>io1</code> volumes. Not used with <code>standard</code>, <code>gp2</code>, <code>st1</code>, or <code>sc1</code> volumes.</p>"
        },
        "SnapshotId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The snapshot ID of the volume to use.</p> <p>You must specify either <code>VolumeSize</code> or <code>SnapshotId</code>.</p>"
        },
        "VolumeSize":{
          "shape":"Integer",
          "documentation":"<p>The volume size, in GiBs. The following are the supported volumes sizes for each volume type:</p> <ul> <li> <p>gp2 and gp3: 1-16,384</p> </li> <li> <p>io1: 4-16,384</p> </li> <li> <p>st1 and sc1: 125-16,384</p> </li> <li> <p>standard: 1-1,024</p> </li> </ul> <p>You must specify either <code>SnapshotId</code> or <code>VolumeSize</code>. If you specify both <code>SnapshotId</code> and <code>VolumeSize</code>, the volume size must be equal or greater than the size of the snapshot.</p>"
        },
        "VolumeType":{
          "shape":"NonEmptyString",
          "documentation":"<p>The volume type.</p>"
        }
      },
      "documentation":"<p>Parameters that are used to automatically set up EBS volumes when an instance is launched.</p>"
    },
    "AwsAutoScalingLaunchConfigurationBlockDeviceMappingsList":{
      "type":"list",
      "member":{"shape":"AwsAutoScalingLaunchConfigurationBlockDeviceMappingsDetails"}
    },
    "AwsAutoScalingLaunchConfigurationDetails":{
      "type":"structure",
      "members":{
        "AssociatePublicIpAddress":{
          "shape":"Boolean",
          "documentation":"<p>For Auto Scaling groups that run in a VPC, specifies whether to assign a public IP address to the group's instances.</p>"
        },
        "BlockDeviceMappings":{
          "shape":"AwsAutoScalingLaunchConfigurationBlockDeviceMappingsList",
          "documentation":"<p>Specifies the block devices for the instance.</p>"
        },
        "ClassicLinkVpcId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of a ClassicLink-enabled VPC that EC2-Classic instances are linked to.</p>"
        },
        "ClassicLinkVpcSecurityGroups":{
          "shape":"NonEmptyStringList",
          "documentation":"<p>The identifiers of one or more security groups for the VPC that is specified in <code>ClassicLinkVPCId</code>.</p>"
        },
        "CreatedTime":{
          "shape":"NonEmptyString",
          "documentation":"<p>The creation date and time for the launch configuration.</p> <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet Date/Time Format</a>. The value cannot contain spaces. For example, <code>2020-03-22T13:22:13.933Z</code>.</p>"
        },
        "EbsOptimized":{
          "shape":"Boolean",
          "documentation":"<p>Whether the launch configuration is optimized for Amazon EBS I/O.</p>"
        },
        "IamInstanceProfile":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name or the ARN of the instance profile associated with the IAM role for the instance. The instance profile contains the IAM role.</p>"
        },
        "ImageId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the Amazon Machine Image (AMI) that is used to launch EC2 instances.</p>"
        },
        "InstanceMonitoring":{
          "shape":"AwsAutoScalingLaunchConfigurationInstanceMonitoringDetails",
          "documentation":"<p>Indicates the type of monitoring for instances in the group.</p>"
        },
        "InstanceType":{
          "shape":"NonEmptyString",
          "documentation":"<p>The instance type for the instances.</p>"
        },
        "KernelId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the kernel associated with the AMI.</p>"
        },
        "KeyName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the key pair.</p>"
        },
        "LaunchConfigurationName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the launch configuration.</p>"
        },
        "PlacementTenancy":{
          "shape":"NonEmptyString",
          "documentation":"<p>The tenancy of the instance. An instance with <code>dedicated</code> tenancy runs on isolated, single-tenant hardware and can only be launched into a VPC.</p>"
        },
        "RamdiskId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the RAM disk associated with the AMI.</p>"
        },
        "SecurityGroups":{
          "shape":"NonEmptyStringList",
          "documentation":"<p>The security groups to assign to the instances in the Auto Scaling group.</p>"
        },
        "SpotPrice":{
          "shape":"NonEmptyString",
          "documentation":"<p>The maximum hourly price to be paid for any Spot Instance that is launched to fulfill the request.</p>"
        },
        "UserData":{
          "shape":"NonEmptyString",
          "documentation":"<p>The user data to make available to the launched EC2 instances. Must be base64-encoded text.</p>"
        },
        "MetadataOptions":{
          "shape":"AwsAutoScalingLaunchConfigurationMetadataOptions",
          "documentation":"<p>The metadata options for the instances.</p>"
        }
      },
      "documentation":"<p>Details about a launch configuration.</p>"
    },
    "AwsAutoScalingLaunchConfigurationInstanceMonitoringDetails":{
      "type":"structure",
      "members":{
        "Enabled":{
          "shape":"Boolean",
          "documentation":"<p>If set to <code>true</code>, then instances in the group launch with detailed monitoring.</p> <p>If set to <code>false</code>, then instances in the group launch with basic monitoring.</p>"
        }
      },
      "documentation":"<p>Information about the type of monitoring for instances in the group.</p>"
    },
    "AwsAutoScalingLaunchConfigurationMetadataOptions":{
      "type":"structure",
      "members":{
        "HttpEndpoint":{
          "shape":"NonEmptyString",
          "documentation":"<p>Enables or disables the HTTP metadata endpoint on your instances. By default, the metadata endpoint is enabled.</p>"
        },
        "HttpPutResponseHopLimit":{
          "shape":"Integer",
          "documentation":"<p>The HTTP <code>PUT</code> response hop limit for instance metadata requests. The larger the number, the further instance metadata requests can travel.</p>"
        },
        "HttpTokens":{
          "shape":"NonEmptyString",
          "documentation":"<p>Indicates whether token usage is <code>required</code> or <code>optional</code> for metadata requests. By default, token usage is <code>optional</code>.</p>"
        }
      },
      "documentation":"<p>The metadata options for the instances.</p>"
    },
    "AwsCertificateManagerCertificateDetails":{
      "type":"structure",
      "members":{
        "CertificateAuthorityArn":{
          "shape":"NonEmptyString",
          "documentation":"<p>The ARN of the private certificate authority (CA) that will be used to issue the certificate.</p>"
        },
        "CreatedAt":{
          "shape":"NonEmptyString",
          "documentation":"<p>Indicates when the certificate was requested.</p> <p>Uses the <code>date-time</code> format specified in <a href=\"https://tools.ietf.org/html/rfc3339#section-5.6\">RFC 3339 section 5.6, Internet Date/Time Format</a>. The value cannot contain spaces. For example, <code>2020-03-22T13:22:13.933Z</code>.</p>"
        },
        "DomainName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The fully qualified domain name (FQDN), such as www.example.com, that is secured by the certificate.</p>"
        },
        "DomainValidationOptions":{
          "shape":"AwsCertificateManagerCertificateDomainValidationOptions",
          "documentation":"<p>Contains information about the initial validation of each domain name that occurs as a result of the <code>RequestCertificate</code> request.</p> <p>Only provided if the certificate type is <code>AMAZON_ISSUED</code>.</p>"
        },
        "ExtendedKeyUsages":{
          "shape":"AwsCertificateManagerCertificateExtendedKeyUsages",
          "documentation":"<p>Contains a list of Extended Key Usage X.509 v3 extension objects. Each object specifies a purpose for which the certificate public key can be used and consists of a name and an object identifier (OID).</p>"
        },
        "FailureReason":{
          "shape":"NonEmptyString",
          "documentation":"<p>For a failed certificate request, the reason for the failure.</p> <p>Valid values: <code>NO_AVAILABLE_CONTACTS</code> | <code>ADDITIONAL_VERIFICATION_REQUIRED</code> | <code>DOMAIN_NOT_ALLOWED</code> | <code>INVALID_PUBLIC_DOMAIN</code> | <code>DOMAIN_VALIDATION_DENIED</code> | <code>CAA_ERROR</code> | <code>PCA_LIMIT_EXCEEDED</code> | <code>PCA_INVALID_ARN</code> | <code>PCA_INVALID_STATE</code> | <code>PCA_REQUEST_FAILED</code> | <code>PCA_NAME_CONSTRAINTS_VALIDATION</code> | <code>PCA_RESOURCE_NOT_FOUND</code> | <code>PCA_INVALID_ARGS</code> | <code>PCA_INVALID_DURATION</code> | <code>PCA_ACCESS_DENIED</code> | <code>SLR_NOT_FOUND</code> | <code>OTHER</code> </p>"
        },
        "ImportedAt":{
          "shape":"NonEmptyString",
[...]
