{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-07-01",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"healthlake",
    "jsonVersion":"1.0",
    "protocol":"json",
    "protocols":["json"],
    "serviceAbbreviation":"HealthLake",
    "serviceFullName":"Amazon HealthLake",
    "serviceId":"HealthLake",
    "signatureVersion":"v4",
    "signingName":"healthlake",
    "targetPrefix":"HealthLake",
    "uid":"healthlake-2017-07-01"
  },
  "operations":{
    "CreateDataTransformationProfile":{
      "name":"CreateDataTransformationProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDataTransformationProfileRequest"},
      "output":{"shape":"CreateDataTransformationProfileResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a data transformation profile in DRAFT state. Specify a built-in starter profile, an existing profile version, raw profile content, or a sample data file as the source.</p>",
      "endpoint":{"hostPrefix":"datatransformation."}
    },
    "CreateFHIRDatastore":{
      "name":"CreateFHIRDatastore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFHIRDatastoreRequest"},
      "output":{"shape":"CreateFHIRDatastoreResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Create a FHIR-enabled data store.</p>"
    },
    "DeleteDataTransformationProfile":{
      "name":"DeleteDataTransformationProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDataTransformationProfileRequest"},
      "output":{"shape":"DeleteDataTransformationProfileResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a data transformation profile and all its versions, including the DRAFT and all published versions.</p>",
      "endpoint":{"hostPrefix":"datatransformation."},
      "idempotent":true
    },
    "DeleteFHIRDatastore":{
      "name":"DeleteFHIRDatastore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFHIRDatastoreRequest"},
      "output":{"shape":"DeleteFHIRDatastoreResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Delete a FHIR-enabled data store.</p>"
    },
    "DescribeDataTransformationJob":{
      "name":"DescribeDataTransformationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDataTransformationJobRequest"},
      "output":{"shape":"DescribeDataTransformationJobResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes a data transformation job, including its current status, configuration, and progress information.</p>",
      "endpoint":{"hostPrefix":"datatransformation."},
      "readonly":true
    },
    "DescribeFHIRDatastore":{
      "name":"DescribeFHIRDatastore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFHIRDatastoreRequest"},
      "output":{"shape":"DescribeFHIRDatastoreResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Get properties for a FHIR-enabled data store.</p>"
    },
    "DescribeFHIRExportJob":{
      "name":"DescribeFHIRExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFHIRExportJobRequest"},
      "output":{"shape":"DescribeFHIRExportJobResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Get FHIR export job properties.</p>"
    },
    "DescribeFHIRImportJob":{
      "name":"DescribeFHIRImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFHIRImportJobRequest"},
      "output":{"shape":"DescribeFHIRImportJobResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Get the import job properties to learn more about the job or job progress.</p>"
    },
    "GetDataTransformationProfile":{
      "name":"GetDataTransformationProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDataTransformationProfileRequest"},
      "output":{"shape":"GetDataTransformationProfileResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves a data transformation profile's metadata and profile content at a specific version. Specify version 0 to retrieve the DRAFT, a version number between 1 and 99 to retrieve a specific published version, or omit the version to retrieve the latest published version.</p>",
      "endpoint":{"hostPrefix":"datatransformation."},
      "readonly":true
    },
    "ListDataTransformationJobs":{
      "name":"ListDataTransformationJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDataTransformationJobsRequest"},
      "output":{"shape":"ListDataTransformationJobsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists data transformation jobs for your AWS account. Results can be filtered by status, job name, and submit time window. Results are paginated. Use the <code>NextToken</code> parameter to retrieve additional results.</p>",
      "endpoint":{"hostPrefix":"datatransformation."},
      "readonly":true
    },
    "ListDataTransformationProfileVersions":{
      "name":"ListDataTransformationProfileVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDataTransformationProfileVersionsRequest"},
      "output":{"shape":"ListDataTransformationProfileVersionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all versions of a specific data transformation profile (DRAFT and published), in reverse chronological order (newest first). Use <code>GetDataTransformationProfile</code> to retrieve profile content. Results are paginated. Use the <code>NextToken</code> parameter to retrieve additional results.</p>",
      "endpoint":{"hostPrefix":"datatransformation."},
      "readonly":true
    },
    "ListDataTransformationProfiles":{
      "name":"ListDataTransformationProfiles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDataTransformationProfilesRequest"},
      "output":{"shape":"ListDataTransformationProfilesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all data transformation profiles in your account, returning the latest version summary for each. Use <code>GetDataTransformationProfile</code> to retrieve profile content. Results are paginated. Use the <code>NextToken</code> parameter to retrieve additional results.</p>",
      "endpoint":{"hostPrefix":"datatransformation."},
      "readonly":true
    },
    "ListFHIRDatastores":{
      "name":"ListFHIRDatastores",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFHIRDatastoresRequest"},
      "output":{"shape":"ListFHIRDatastoresResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>List all FHIR-enabled data stores in a user’s account, regardless of data store status.</p>"
    },
    "ListFHIRExportJobs":{
      "name":"ListFHIRExportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFHIRExportJobsRequest"},
      "output":{"shape":"ListFHIRExportJobsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all FHIR export jobs associated with an account and their statuses.</p>"
    },
    "ListFHIRImportJobs":{
      "name":"ListFHIRImportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFHIRImportJobsRequest"},
      "output":{"shape":"ListFHIRImportJobsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>List all FHIR import jobs associated with an account and their statuses.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns a list of all existing tags associated with a data store.</p>"
    },
    "PublishDataTransformationProfile":{
      "name":"PublishDataTransformationProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PublishDataTransformationProfileRequest"},
      "output":{"shape":"PublishDataTransformationProfileResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Promotes the current DRAFT version of a data transformation profile to a new immutable published version. Also supports rollback by publishing from a previously published version.</p>",
      "endpoint":{"hostPrefix":"datatransformation."}
    },
    "StartDataTransformationJob":{
      "name":"StartDataTransformationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartDataTransformationJobRequest"},
      "output":{"shape":"StartDataTransformationJobResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts an asynchronous data transformation job that converts source files from Amazon Simple Storage Service (Amazon S3) and writes the output to Amazon S3 or AWS HealthLake.</p>",
      "endpoint":{"hostPrefix":"datatransformation."},
      "idempotent":true
    },
    "StartFHIRExportJob":{
      "name":"StartFHIRExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartFHIRExportJobRequest"},
      "output":{"shape":"StartFHIRExportJobResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"FailedDependencyException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Start a FHIR export job.</p>"
    },
    "StartFHIRImportJob":{
      "name":"StartFHIRImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartFHIRImportJobRequest"},
      "output":{"shape":"StartFHIRImportJobResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"FailedDependencyException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Start importing bulk FHIR data into an ACTIVE data store. The import job imports FHIR data found in the <code>InputDataConfig</code> object and stores processing results in the <code>JobOutputDataConfig</code> object.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Add a user-specifed key and value tag to a data store.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Remove a user-specifed key and value tag from a data store.</p>"
    },
    "UpdateDataTransformationProfile":{
      "name":"UpdateDataTransformationProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDataTransformationProfileRequest"},
      "output":{"shape":"UpdateDataTransformationProfileResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the DRAFT version (version 0) of a data transformation profile with new profile content. The update replaces all existing DRAFT content.</p>",
      "endpoint":{"hostPrefix":"datatransformation."},
      "idempotent":true
    },
    "UpdateFHIRDatastore":{
      "name":"UpdateFHIRDatastore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFHIRDatastoreRequest"},
      "output":{"shape":"UpdateFHIRDatastoreResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Update the properties of a FHIR-enabled data store.</p>"
    },
    "UpdateProfileWithAgent":{
      "name":"UpdateProfileWithAgent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateProfileWithAgentRequest"},
      "output":{"shape":"UpdateProfileWithAgentResponse"},
      "errors":[
        {"shape":"NotImplementedOperationException"},
        {"shape":"ConversationNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AgentMessageOutOfContextException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedMIMETypeException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Updates a data transformation profile using chat-based interaction with an agent. Supports multi-turn conversations for iteratively customizing profiles.</p>",
      "endpoint":{"hostPrefix":"datatransformation."}
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"HealthLakeString"}
      },
      "documentation":"<p>Access is denied. Your account is not authorized to perform this operation.</p>",
      "exception":true
    },
    "AgentInputMessage":{
      "type":"structure",
      "required":[
        "Body",
        "Type"
      ],
      "members":{
        "Body":{
          "shape":"AgentMessageString",
          "documentation":"<p>The text of your message to the agent.</p>"
        },
        "Type":{
          "shape":"AgentInputMessageType",
          "documentation":"<p>The type of input message, which determines how the agent processes your request. Valid values:</p> <ul> <li> <p> <code>normal</code>: A regular message to the agent.</p> </li> <li> <p> <code>confirmation_response</code>: A response to a confirmation request from the agent.</p> </li> </ul>"
        }
      },
      "documentation":"<p>Represents a message sent to the agent during chat-based profile customization.</p>"
    },
    "AgentInputMessageType":{
      "type":"string",
      "enum":[
        "normal",
        "confirmation_response"
      ]
    },
    "AgentMessageOutOfContextException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>The agent message does not fit within the current conversation context. Start a new conversation or provide a message that relates to the current profile customization session.</p>",
      "exception":true
    },
    "AgentMessageString":{
      "type":"string",
      "max":40960,
      "min":1,
      "sensitive":true
    },
    "AgentOutputMessage":{
      "type":"structure",
      "required":[
        "Body",
        "Type"
      ],
      "members":{
        "Body":{
          "shape":"AgentMessageString",
          "documentation":"<p>The text of the agent's response.</p>"
        },
        "Type":{
          "shape":"AgentOutputMessageType",
          "documentation":"<p>The type of output message, which indicates how to interpret the agent's response.</p>"
        },
        "OptionsList":{
          "shape":"DataTransformationChatOptionsList",
          "documentation":"<p>A list of selectable options presented when the response type is <code>options</code>.</p>"
        }
      },
      "documentation":"<p>Represents a response message from the agent during chat-based profile customization.</p>"
    },
    "AgentOutputMessageType":{
      "type":"string",
      "enum":[
        "INITIAL_GREETING",
        "normal",
        "confirmation",
        "complete",
        "error",
        "options",
        "choices"
      ]
    },
    "AmazonResourceName":{
      "type":"string",
      "max":1011,
      "min":1,
      "pattern":"arn:aws((-us-gov)|(-iso)|(-iso-b)|(-cn))?:healthlake:[a-z0-9-]+:\\d{12}:(datastore\\/fhir\\/.{32}|dataTransformationProfile\\/[a-f0-9]{32})"
    },
    "AnalyticsConfiguration":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"AnalyticsStatus",
          "documentation":"<p>The status of the analytics configuration.</p>"
        }
      },
      "documentation":"<p>The analytics configuration for a data store.</p>"
    },
    "AnalyticsStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "ENABLING",
        "DISABLED",
        "DISABLING",
        "PAUSING",
        "PAUSED"
      ]
    },
    "AuthorizationStrategy":{
      "type":"string",
      "enum":[
        "SMART_ON_FHIR_V1",
        "SMART_ON_FHIR",
        "AWS_AUTH"
      ]
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "BoundedLengthString":{
      "type":"string",
      "documentation":"<p>A bounded-length string value.</p>",
      "max":5000,
      "min":1,
      "pattern":"[\\P{M}\\p{M}]{1,5000}"
    },
    "BoundedString":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "ChangeDescription":{
      "type":"string",
      "max":1000,
      "min":0
    },
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "ClientTokenString":{
      "type":"string",
      "documentation":"<p>A client-provided idempotency token.</p>",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "CmkType":{
      "type":"string",
      "enum":[
        "CUSTOMER_MANAGED_KMS_KEY",
        "AWS_OWNED_KMS_KEY"
      ]
    },
    "ConfigurationMetadata":{"type":"string"},
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"HealthLakeString"}
      },
      "documentation":"<p>The data store is in a transition state and the user requested action cannot be performed.</p>",
      "exception":true
    },
    "ConversationIdString":{
      "type":"string",
      "max":36,
      "min":1
    },
    "ConversationNotFoundException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>The specified conversation identifier does not exist. Verify the conversation ID or omit it to start a new conversation.</p>",
      "exception":true
    },
    "CreateDataTransformationProfileRequest":{
      "type":"structure",
      "required":[
        "SourceFormat",
        "Source",
        "ProfileName"
      ],
      "members":{
        "SourceFormat":{
          "shape":"SourceFormat",
          "documentation":"<p>The source data format that this profile converts from (Consolidated Clinical Document Architecture (C-CDA) or Comma-separated values (CSV)).</p>"
        },
        "Source":{
          "shape":"CreateDataTransformationProfileSource",
          "documentation":"<p>The source for the initial profile content. Specify a built-in starter profile, an existing profile version to clone, raw profile content for CI/CD workflows, or a sample data file in Amazon S3.</p>"
        },
        "KmsKeyId":{
          "shape":"KmsKeyId",
          "documentation":"<p>The AWS Key Management Service (AWS KMS) key identifier used to encrypt the profile content at rest.</p>"
        },
        "ProfileDescription":{
          "shape":"ProfileDescription",
          "documentation":"<p>A human-readable description of the profile's purpose.</p>"
        },
        "ProfileName":{
          "shape":"ProfileNameString",
          "documentation":"<p>A name for the data transformation profile.</p>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to associate with the profile at creation time.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique, case-sensitive identifier to ensure that the operation completes no more than one time. If this token matches a previous request, the service ignores the request but does not return an error.</p>",
          "idempotencyToken":true
        }
      },
      "documentation":"<p>The request parameters for the <code>CreateDataTransformationProfile</code> operation.</p>"
    },
    "CreateDataTransformationProfileResponse":{
      "type":"structure",
      "required":[
        "ProfileId",
        "Version",
        "SourceFormat",
        "TargetFormat",
        "ProfileName",
        "LastUpdatedAt"
      ],
      "members":{
        "ProfileId":{
          "shape":"ProfileIdString",
          "documentation":"<p>The unique identifier of the created profile.</p>"
        },
        "Version":{
          "shape":"ProfileVersion",
          "documentation":"<p>The version number of the newly created profile. The starting version is always 0, which indicates the profile is in DRAFT state.</p>"
        },
        "SourceFormat":{
          "shape":"SourceFormat",
          "documentation":"<p>The source data format of the profile.</p>"
        },
        "TargetFormat":{
          "shape":"TargetFormat",
          "documentation":"<p>The target output format. Always <code>FHIR_R4</code>.</p>"
        },
        "ProfileName":{
          "shape":"ProfileNameString",
          "documentation":"<p>The name of the created profile.</p>"
        },
        "LastUpdatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the profile was last updated.</p>"
        }
      },
      "documentation":"<p>The response from the <code>CreateDataTransformationProfile</code> operation.</p>"
    },
    "CreateDataTransformationProfileSource":{
      "type":"structure",
      "members":{
        "StarterProfile":{
          "shape":"StarterProfileSource",
          "documentation":"<p>Creates the profile from a built-in starter profile. Valid only when the source format is Consolidated Clinical Document Architecture (C-CDA).</p>"
        },
        "ExistingVersionedProfileId":{
          "shape":"ExistingVersionedProfileSource",
          "documentation":"<p>Creates the profile by cloning an existing profile at a specific version.</p>"
        },
        "ProfileMapping":{
          "shape":"ProfileMappingSource",
          "documentation":"<p>Creates the profile from raw profile content that you provide directly. Use this variant for continuous integration and continuous delivery (CI/CD) workflows.</p>"
        },
        "SampleData":{
          "shape":"SampleDataSource",
          "documentation":"<p>Creates the profile from a sample data file stored in Amazon S3. Valid only when the source format is Comma-separated values (CSV).</p>"
        }
      },
      "documentation":"<p>The source for initial content when creating a data transformation profile. Specify exactly one variant: a built-in starter profile, an existing profile version to clone, raw profile content, or a sample data file.</p>",
      "union":true
    },
    "CreateFHIRDatastoreRequest":{
      "type":"structure",
      "required":["DatastoreTypeVersion"],
      "members":{
        "DatastoreName":{
          "shape":"DatastoreName",
          "documentation":"<p>The data store name (user-generated).</p>"
        },
        "DatastoreTypeVersion":{
          "shape":"FHIRVersion",
          "documentation":"<p>The FHIR release version supported by the data store. Current support is for version <code>R4</code>.</p>"
        },
        "SseConfiguration":{
          "shape":"SseConfiguration",
          "documentation":"<p>The server-side encryption key configuration for a customer-provided encryption key specified for creating a data store. </p>"
        },
        "PreloadDataConfig":{
          "shape":"PreloadDataConfig",
          "documentation":"<p>An optional parameter to preload (import) open source Synthea FHIR data upon creation of the data store.</p>"
        },
        "ClientToken":{
          "shape":"ClientTokenString",
          "documentation":"<p>An optional user-provided token to ensure API idempotency.</p>",
          "idempotencyToken":true
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The resource tags applied to a data store when it is created.</p>"
        },
        "IdentityProviderConfiguration":{
          "shape":"IdentityProviderConfiguration",
          "documentation":"<p>The identity provider configuration to use for the data store.</p>"
        },
        "AnalyticsConfiguration":{
          "shape":"AnalyticsConfiguration",
          "documentation":"<p>The analytics configuration for the data store.</p>"
        },
        "NlpConfiguration":{
          "shape":"NlpConfiguration",
          "documentation":"<p>The natural language processing (NLP) configuration for the data store.</p>"
        },
        "ProfileConfiguration":{
          "shape":"ProfileConfiguration",
          "documentation":"<p>The profile configuration for the data store.</p>"
        }
      }
    },
    "CreateFHIRDatastoreResponse":{
      "type":"structure",
      "required":[
        "DatastoreId",
        "DatastoreArn",
        "DatastoreStatus",
        "DatastoreEndpoint"
      ],
      "members":{
        "DatastoreId":{
          "shape":"DatastoreId",
          "documentation":"<p>The data store identifier.</p>"
        },
        "DatastoreArn":{
          "shape":"DatastoreArn",
          "documentation":"<p>The Amazon Resource Name (ARN) for the data store.</p>"
        },
        "DatastoreStatus":{
          "shape":"DatastoreStatus",
          "documentation":"<p>The data store status.</p>"
        },
        "DatastoreEndpoint":{
          "shape":"BoundedLengthString",
          "documentation":"<p>The AWS endpoint created for the data store.</p>"
        }
      }
    },
    "DataTransformationChatOptionString":{
      "type":"string",
      "max":1024,
      "min":1,
      "sensitive":true
    },
    "DataTransformationChatOptionsList":{
      "type":"list",
      "member":{"shape":"DataTransformationChatOptionString"}
    },
    "DataTransformationIamRoleArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+"
    },
    "DataTransformationJobId":{
      "type":"string",
      "max":32,
      "min":1,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "DataTransformationJobName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*"
    },
    "DataTransformationNextToken":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "DataTransformationProfileSummary":{
      "type":"structure",
      "required":[
        "ProfileId",
        "Version",
        "SourceFormat",
        "TargetFormat"
      ],
      "members":{
        "ProfileId":{
          "shape":"ProfileIdString",
          "documentation":"<p>The unique identifier of the profile.</p>"
        },
        "Version":{
          "shape":"ProfileVersion",
          "documentation":"<p>The latest version number of the profile.</p>"
        },
        "SourceFormat":{
          "shape":"SourceFormat",
          "documentation":"<p>The source data format that this profile converts from.</p>"
        },
        "TargetFormat":{
          "shape":"TargetFormat",
          "documentation":"<p>The target output format of the profile.</p>"
        },
        "ProfileName":{
          "shape":"ProfileNameString",
          "documentation":"<p>The name of the profile.</p>"
        },
        "ProfileDescription":{
          "shape":"ProfileDescription",
          "documentation":"<p>A description of the profile's purpose.</p>"
        },
        "LastUpdatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the profile was last updated.</p>"
        }
      },
      "documentation":"<p>Contains summary information about a data transformation profile. To retrieve profile content, call <code>GetDataTransformationProfile</code>.</p>"
    },
    "DataTransformationProfileSummaryList":{
      "type":"list",
      "member":{"shape":"DataTransformationProfileSummary"}
    },
    "DataTransformationProfileVersionSummary":{
      "type":"structure",
      "required":[
        "ProfileId",
        "Version",
        "SourceFormat",
        "TargetFormat"
      ],
      "members":{
        "ProfileId":{
          "shape":"ProfileIdString",
          "documentation":"<p>The unique identifier of the profile.</p>"
        },
        "Version":{
          "shape":"ProfileVersion",
          "documentation":"<p>The version number.</p>"
        },
        "SourceFormat":{
          "shape":"SourceFormat",
          "documentation":"<p>The source data format that this profile converts from.</p>"
        },
        "TargetFormat":{
          "shape":"TargetFormat",
          "documentation":"<p>The target output format of the profile.</p>"
        },
        "ProfileName":{
          "shape":"ProfileNameString",
          "documentation":"<p>The name of the profile.</p>"
        },
        "ChangeDescription":{
          "shape":"ChangeDescription",
          "documentation":"<p>A description of what changed in this version.</p>"
        },
        "LastUpdatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when this version was last updated.</p>"
        }
      },
      "documentation":"<p>Contains summary information about a specific version of a data transformation profile. To retrieve profile content, call <code>GetDataTransformationProfile</code>.</p>"
    },
    "DataTransformationProfileVersionSummaryList":{
      "type":"list",
      "member":{"shape":"DataTransformationProfileVersionSummary"}
    },
    "DataTransformationS3Configuration":{
      "type":"structure",
      "required":[
        "S3Uri",
        "KmsKeyId"
      ],
      "members":{
        "S3Uri":{
          "shape":"DataTransformationS3Uri",
          "documentation":"<p>The Amazon S3 URI where AWS HealthLake writes the converted output files.</p>"
        },
        "KmsKeyId":{
          "shape":"KmsKeyId",
          "documentation":"<p>The AWS Key Management Service (AWS KMS) key identifier used to encrypt the transformation job output written to Amazon S3.</p>"
        }
      },
      "documentation":"<p>The Amazon S3 output configuration for a data transformation job, including the output location and encryption settings.</p>"
    },
    "DataTransformationS3Uri":{
      "type":"string",
      "max":2048,
      "min":8,
      "pattern":"s3://[a-z0-9][a-z0-9.\\-]{1,61}[a-z0-9](/.+)?"
    },
    "DataTransformationTagKey":{
      "type":"string",
      "documentation":"<p>The key of the tag. Tag keys are case-sensitive and must be unique per resource.</p>",
      "max":128,
      "min":1
    },
    "DataTransformationTagValue":{
      "type":"string",
      "documentation":"<p>The value of the tag. Tag values are case-sensitive and can be empty strings.</p>",
      "max":256,
      "min":0
    },
    "DatastoreArn":{
      "type":"string",
      "documentation":"<p>The ARN of a data store.</p>",
      "pattern":"arn:aws((-us-gov)|(-iso)|(-iso-b)|(-cn))?:healthlake:[a-zA-Z0-9-]+:[0-9]{12}:datastore/.+?"
    },
    "DatastoreFilter":{
      "type":"structure",
      "members":{
        "DatastoreName":{
          "shape":"DatastoreName",
          "documentation":"<p>Filter data store results by name.</p>"
        },
        "DatastoreStatus":{
          "shape":"DatastoreStatus",
          "documentation":"<p>Filter data store results by status.</p>"
        },
        "CreatedBefore":{
          "shape":"HealthLakeTimestamp",
          "documentation":"<p>Filter to set cutoff dates for records. All data stores created before the specified date are included in the results. </p>"
        },
        "CreatedAfter":{
          "shape":"HealthLakeTimestamp",
          "documentation":"<p>Filter to set cutoff dates for records. All data stores created after the specified date are included in the results.</p>"
        }
      },
      "documentation":"<p>The filters applied to a data store query.</p>"
    },
    "DatastoreId":{
      "type":"string",
      "documentation":"<p>The identifier of a data store.</p>",
      "max":32,
      "min":1,
      "pattern":"([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)"
    },
    "DatastoreName":{
      "type":"string",
      "documentation":"<p>The name of a data store.</p>",
      "max":256,
      "min":1,
      "pattern":"([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)"
    },
    "DatastoreProperties":{
      "type":"structure",
      "required":[
        "DatastoreId",
        "DatastoreArn",
        "DatastoreStatus",
        "DatastoreTypeVersion",
        "DatastoreEndpoint"
      ],
      "members":{
        "DatastoreId":{
          "shape":"DatastoreId",
          "documentation":"<p>The data store identifier.</p>"
        },
        "DatastoreArn":{
          "shape":"DatastoreArn",
          "documentation":"<p>The Amazon Resource Name (ARN) used in the creation of the data store.</p>"
        },
        "DatastoreName":{
          "shape":"DatastoreName",
          "documentation":"<p>The data store name.</p>"
        },
        "DatastoreStatus":{
          "shape":"DatastoreStatus",
          "documentation":"<p>The data store status.</p>"
        },
        "CreatedAt":{
          "shape":"HealthLakeTimestamp",
          "documentation":"<p>The time the data store was created. </p>"
        },
        "DatastoreTypeVersion":{
          "shape":"FHIRVersion",
          "documentation":"<p>The FHIR release version supported by the data store. Current support is for version <code>R4</code>.</p>"
        },
        "DatastoreEndpoint":{
          "shape":"HealthLakeString",
          "documentation":"<p>The AWS endpoint for the data store.</p>"
        },
        "SseConfiguration":{
          "shape":"SseConfiguration",
          "documentation":"<p> The server-side encryption key configuration for a customer provided encryption key.</p>"
        },
        "PreloadDataConfig":{
          "shape":"PreloadDataConfig",
          "documentation":"<p>The preloaded Synthea data configuration for the data store.</p>"
        },
        "IdentityProviderConfiguration":{
          "shape":"IdentityProviderConfiguration",
          "documentation":"<p>The identity provider selected during data store creation.</p>"
        },
        "ErrorCause":{
          "shape":"ErrorCause",
          "documentation":"<p>The error cause for the current data store operation.</p>"
        },
        "NlpConfiguration":{
          "shape":"NlpConfiguration",
          "documentation":"<p>The natural language processing (NLP) configuration for the data store.</p>"
        },
        "AnalyticsConfiguration":{
          "shape":"AnalyticsConfiguration",
          "documentation":"<p>The analytics configuration for the data store.</p>"
        },
        "ProfileConfiguration":{
          "shape":"ProfileConfiguration",
          "documentation":"<p>The profile configuration for the data store.</p>"
        }
      },
      "documentation":"<p>The data store properties.</p>"
    },
    "DatastorePropertiesList":{
      "type":"list",
      "member":{"shape":"DatastoreProperties"}
    },
    "DatastoreStatus":{
      "type":"string",
      "documentation":"<p>The status of a data store.</p>",
      "enum":[
        "CREATING",
        "ACTIVE",
        "DELETING",
        "DELETED",
        "CREATE_FAILED",
        "UPDATING",
        "UPDATE_FAILED"
      ]
    },
    "DateTime":{"type":"timestamp"},
    "DefaultProfiles":{
      "type":"list",
      "member":{"shape":"HealthLakeString"}
    },
    "DeleteDataTransformationProfileRequest":{
      "type":"structure",
      "required":["ProfileId"],
      "members":{
        "ProfileId":{
          "shape":"ProfileIdString",
          "documentation":"<p>The unique identifier of the profile to delete.</p>"
        }
      },
      "documentation":"<p>The request parameters for the <code>DeleteDataTransformationProfile</code> operation.</p>"
    },
    "DeleteDataTransformationProfileResponse":{
      "type":"structure",
      "required":[
        "ProfileId",
        "DeletionTime"
      ],
      "members":{
        "ProfileId":{
          "shape":"ProfileIdString",
          "documentation":"<p>The unique identifier of the deleted profile.</p>"
        },
        "ProfileName":{
          "shape":"ProfileNameString",
          "documentation":"<p>The name of the deleted profile.</p>"
        },
        "DeletionTime":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the profile was deleted.</p>"
        }
      },
      "documentation":"<p>The response from the <code>DeleteDataTransformationProfile</code> operation.</p>"
    },
    "DeleteFHIRDatastoreRequest":{
      "type":"structure",
      "required":["DatastoreId"],
      "members":{
        "DatastoreId":{
          "shape":"DatastoreId",
          "documentation":"<p> The AWS-generated identifier for the data store to be deleted.</p>"
        }
      }
    },
    "DeleteFHIRDatastoreResponse":{
      "type":"structure",
      "required":[
        "DatastoreId",
        "DatastoreArn",
        "DatastoreStatus",
        "DatastoreEndpoint"
      ],
      "members":{
        "DatastoreId":{
          "shape":"DatastoreId",
          "documentation":"<p>The AWS-generated ID for the deleted data store.</p>"
        },
        "DatastoreArn":{
          "shape":"DatastoreArn",
          "documentation":"<p>The Amazon Resource Name (ARN) that grants access permission to AWS HealthLake.</p>"
        },
        "DatastoreStatus":{
          "shape":"DatastoreStatus",
          "documentation":"<p>The data store status.</p>"
        },
        "DatastoreEndpoint":{
          "shape":"BoundedLengthString",
          "documentation":"<p>The AWS endpoint of the data store to be deleted.</p>"
        }
      }
    },
    "DescribeDataTransformationJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{
          "shape":"DataTransformationJobId",
          "documentation":"<p>The unique identifier of the data transformation job to describe.</p>"
        }
      },
      "documentation":"<p>The request parameters for the <code>DescribeDataTransformationJob</code> operation.</p>"
    },
    "DescribeDataTransformationJobResponse":{
      "type":"structure",
      "required":["TransformationJobProperties"],
      "members":{
        "TransformationJobProperties":{
          "shape":"TransformationJobProperties",
          "documentation":"<p>The properties of the data transformation job, including status, configuration, and progress information.</p>"
        }
      },
      "documentation":"<p>The response from the <code>DescribeDataTransformationJob</code> operation.</p>"
    },
    "DescribeFHIRDatastoreRequest":{
      "type":"structure",
      "required":["DatastoreId"],
      "members":{
        "DatastoreId":{
          "shape":"DatastoreId",
          "documentation":"<p>The data store identifier.</p>"
        }
      }
    },
    "DescribeFHIRDatastoreResponse":{
      "type":"structure",
      "required":["DatastoreProperties"],
      "members":{
        "DatastoreProperties":{
          "shape":"DatastoreProperties",
          "documentation":"<p>The data store properties.</p>"
        }
      }
    },
    "DescribeFHIRExportJobRequest":{
      "type":"structure",
      "required":[
        "DatastoreId",
        "JobId"
      ],
      "members":{
        "DatastoreId":{
          "shape":"DatastoreId",
          "documentation":"<p>The data store identifier from which FHIR data is being exported from.</p>"
        },
        "JobId":{
          "shape":"JobId",
          "documentation":"<p>The export job identifier.</p>"
        }
      }
    },
    "DescribeFHIRExportJobResponse":{
      "type":"structure",
      "required":["ExportJobProperties"],
      "members":{
        "ExportJobProperties":{
          "shape":"ExportJobProperties",
          "documentation":"<p>The export job properties.</p>"
        }
      }
    },
    "DescribeFHIRImportJobRequest":{
      "type":"structure",
      "required":[
        "DatastoreId",
        "JobId"
      ],
      "members":{
        "DatastoreId":{
          "shape":"DatastoreId",
          "documentation":"<p>The data store identifier.</p>"
        },
        "JobId":{
          "shape":"JobId",
          "documentation":"<p>The import job identifier.</p>"
        }
      }
    },
    "DescribeFHIRImportJobResponse":{
      "type":"structure",
      "required":["ImportJobProperties"],
      "members":{
        "ImportJobProperties":{
          "shape":"ImportJobProperties",
          "documentation":"<p>The import job properties.</p>"
        }
      }
    },
    "EncryptionKeyID":{
      "type":"string",
      "documentation":"<p>The identifier of an encryption key.</p>",
      "max":400,
      "min":1,
      "pattern":"(arn:aws((-us-gov)|(-iso)|(-iso-b)|(-cn))?:kms:)?([a-z]{2}-[a-z]+(-[a-z]+)?-\\d:)?(\\d{12}:)?(((key/)?[a-zA-Z0-9-_]+)|(alias/[a-zA-Z0-9:/_-]+))"
    },
    "ErrorCategory":{
      "type":"string",
      "enum":[
        "RETRYABLE_ERROR",
        "NON_RETRYABLE_ERROR"
      ]
    },
    "ErrorCause":{
      "type":"structure",
      "members":{
        "ErrorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p>The error message text for <code>ErrorCause</code>.</p>"
        },
        "ErrorCategory":{
          "shape":"ErrorCategory",
          "documentation":"<p>The error category for <code>ErrorCause</code>.</p>"
        }
      },
      "documentation":"<p>The error information for <code>CreateFHIRDatastore</code> and <code>DeleteFHIRDatastore</code> actions.</p>"
    },
    "ErrorMessage":{
      "type":"string",
      "max":4096,
      "min":1
    },
    "ExistingVersionedProfileSource":{
      "type":"structure",
      "required":[
        "ProfileId",
        "Version"
      ],
      "members":{
        "ProfileId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the existing profile to clone from.</p>"
        },
        "Version":{
          "shape":"Integer",
          "documentation":"<p>The version number of the existing profile to clone from.</p>"
        }
      },
      "documentation":"<p>Identifies an existing data transformation profile and version to clone when creating a new profile.</p>"
    },
    "ExportJobProperties":{
      "type":"structure",
      "required":[
        "JobId",
        "JobStatus",
        "SubmitTime",
        "DatastoreId",
        "OutputDataConfig"
      ],
      "members":{
        "JobId":{
          "shape":"JobId",
          "documentation":"<p>The export job identifier.</p>"
        },
        "JobName":{
          "shape":"JobName",
          "documentation":"<p>The export job name.</p>"
        },
        "JobStatus":{
          "shape":"JobStatus",
          "documentation":"<p>The export job status.</p>"
        },
        "SubmitTime":{
          "shape":"HealthLakeTimestamp",
          "documentation":"<p>The time the export job was initiated.</p>"
        },
        "EndTime":{
          "shape":"HealthLakeTimestamp",
          "documentation":"<p>The time the export job completed.</p>"
        },
        "DatastoreId":{
          "shape":"DatastoreId",
          "documentation":"<p>The data store identifier from which files are being exported.</p>"
        },
        "OutputDataConfig":{
          "shape":"OutputDataConfig",
          "documentation":"<p>The output data configuration supplied when the export job was created.</p>"
        },
        "DataAccessRoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) used during the initiation of the export job.</p>"
        },
        "Message":{
          "shape":"Message",
          "documentation":"<p>An explanation of any errors that might have occurred during the export job.</p>"
        }
      },
      "documentation":"<p>The properties of a FHIR export job.</p>"
    },
    "ExportJobPropertiesList":{
      "type":"list",
      "member":{"shape":"ExportJobProperties"}
    },
    "FHIRVersion":{
      "type":"string",
      "documentation":"<p>The FHIR version supported by the data store.</p>",
      "enum":["R4"]
    },
    "FailedDependencyException":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"HealthLakeString",
          "documentation":"<p>A message describing the error.</p>"
        }
      },
      "documentation":"<p>A dependent service failed to fulfill the request.</p>",
      "exception":true
    },
    "GenericDouble":{
      "type":"double",
      "documentation":"<p>A double-precision floating-point number.</p>",
      "box":true
    },
    "GenericLong":{
      "type":"long",
      "documentation":"<p>A long integer value.</p>",
      "box":true
    },
    "GetDataTransformationProfileRequest":{
      "type":"structure",
      "required":["ProfileId"],
      "members":{
        "ProfileId":{
          "shape":"ProfileIdString",
          "documentation":"<p>The unique identifier of the profile to retrieve.</p>"
        },
        "ProfileVersion":{
          "shape":"ProfileVersion",
          "documentation":"<p>The version number to retrieve. Specify 0 to retrieve the DRAFT version. If you omit this parameter, the service returns the latest published version.</p>"
        }
      },
      "documentation":"<p>The request parameters for the <code>GetDataTransformationProfile</code> operation.</p>"
    },
    "GetDataTransformationProfileResponse":{
      "type":"structure",
      "required":[
        "ProfileId",
        "Version",
        "SourceFormat",
        "TargetFormat",
        "ProfileMapping",
        "LastUpdatedAt"
      ],
      "members":{
        "ProfileId":{
          "shape":"ProfileIdString",
          "documentation":"<p>The unique identifier of the profile.</p>"
        },
        "Version":{
          "shape":"ProfileVersion",
          "documentation":"<p>The version number of the retrieved profile.</p>"
        },
        "SourceFormat":{
          "shape":"SourceFormat",
          "documentation":"<p>The source data format of the profile.</p>"
        },
        "TargetFormat":{
          "shape":"TargetFormat",
          "documentation":"<p>The target output format of the profile.</p>"
        },
        "ProfileMapping":{
          "shape":"ProfileMapping",
          "documentation":"<p>The profile content as a map of file paths to content strings.</p>"
        },
        "ProfileName":{
          "shape":"ProfileNameString",
          "documentation":"<p>The name of the profile.</p>"
        },
        "ProfileDescription":{
          "shape":"ProfileDescription",
          "documentation":"<p>The description of the profile.</p>"
        },
        "ChangeDescription":{
          "shape":"ChangeDescription",
          "documentation":"<p>A description of what changed in this version.</p>"
        },
        "LastUpdatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when this version was last updated.</p>"
        }
      },
      "documentation":"<p>The response from the <code>GetDataTransformationProfile</code> operation.</p>"
    },
    "HealthLakeBoolean":{
      "type":"boolean",
      "documentation":"<p>A boolean value.</p>"
    },
    "HealthLakeString":{
      "type":"string",
      "documentation":"<p>A general-purpose string value.</p>",
      "max":10000,
      "min":0,
      "pattern":"[\\P{M}\\p{M}]{0,10000}"
    },
    "HealthLakeTimestamp":{
      "type":"timestamp",
      "documentation":"<p>A timestamp value.</p>"
    },
    "IamRoleArn":{
      "type":"string",
      "documentation":"<p>The IAM role ARN for data access.</p>",
      "max":2048,
      "min":20,
      "pattern":"arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+"
    },
    "IdentityProviderConfiguration":{
      "type":"structure",
      "required":["AuthorizationStrategy"],
      "members":{
        "AuthorizationStrategy":{
          "shape":"AuthorizationStrategy",
          "documentation":"<p>The authorization strategy selected when the HealthLake data store is created.</p> <note> <p>HealthLake provides support for both SMART on FHIR V1 and V2 as described below.</p> <ul> <li> <p> <code>SMART_ON_FHIR_V1</code> – Support for only SMART on FHIR V1, which includes <code>read</code> (read/search) and <code>write</code> (create/update/delete) permissions.</p> </li> <li> <p> <code>SMART_ON_FHIR</code> – Support for both SMART on FHIR V1 and V2, which includes <code>create</code>, <code>read</code>, <code>update</code>, <code>delete</code>, and <code>search</code> permissions.</p> </li> <li> <p> <code>AWS_AUTH</code> – The default HealthLake authorization strategy; not affiliated with SMART on FHIR.</p> </li> </ul> </note>"
        },
        "FineGrainedAuthorizationEnabled":{
          "shape":"HealthLakeBoolean",
          "documentation":"<p>The parameter to enable SMART on FHIR fine-grained authorization for the data store.</p>"
        },
        "Metadata":{
          "shape":"ConfigurationMetadata",
          "documentation":"<p>The JSON metadata elements to use in your identity provider configuration. Required elements are listed based on the launch specification of the SMART application. For more information on all possible elements, see <a href=\"https://build.fhir.org/ig/HL7/smart-app-launch/conformance.html#metadata\">Metadata</a> in SMART's App Launch specification.</p> <p> <code>authorization_endpoint</code>: The URL to the OAuth2 authorization endpoint.</p> <p> <code>grant_types_supported</code>: An array of grant types that are supported at the token endpoint. You must provide at least one grant type option. Valid options are <code>authorization_code</code> and <code>client_credentials</code>.</p> <p> <code>token_endpoint</code>: The URL to the OAuth2 token endpoint.</p> <p> <code>capabilities</code>: An array of strings of the SMART capabilities that the authorization server supports.</p> <p> <code>code_challenge_methods_supported</code>: An array of strings of supported PKCE code challenge methods. You must include the <code>S256</code> method in the array of PKCE code challenge methods.</p>"
        },
        "IdpLambdaArn":{
          "shape":"LambdaArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Lambda function to use to decode the access token created by the authorization server.</p>"
        }
      },
      "documentation":"<p>The identity provider configuration selected when the data store was created.</p>"
    },
    "ImportJobProperties":{
      "type":"structure",
      "required":[
        "JobId",
        "JobStatus",
        "SubmitTime",
        "DatastoreId",
        "InputDataConfig"
      ],
      "members":{
        "JobId":{
          "shape":"JobId",
          "documentation":"<p>The import job identifier.</p>"
        },
        "JobName":{
          "shape":"JobName",
          "documentation":"<p>The import job name.</p>"
        },
        "JobStatus":{
          "shape":"JobStatus",
          "documentation":"<p>The import job status.</p>"
        },
        "SubmitTime":{
          "shape":"HealthLakeTimestamp",
          "documentation":"<p>The time the import job was submitted for processing.</p>"
        },
        "EndTime":{
          "shape":"HealthLakeTimestamp",
          "documentation":"<p>The time the import job was completed.</p>"
        },
        "DatastoreId":{
          "shape":"DatastoreId",
          "documentation":"<p>The data store identifier. </p>"
        },
        "InputDataConfig":{
          "shape":"InputDataConfig",
          "documentation":"<p>The input data configuration supplied when the import job was created.</p>"
        },
        "JobOutputDataConfig":{"shape":"OutputDataConfig"},
        "JobProgressReport":{
          "shape":"JobProgressReport",
          "documentation":"<p>Displays the progress of the import job, including total resources scanned, total resources imported, and total size of data imported.</p>"
        },
        "DataAccessRoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) that grants AWS HealthLake access to the input data.</p>"
        },
        "Message":{
          "shape":"Message",
          "documentation":"<p>An explanation of any errors that might have occurred during the FHIR import job.</p>"
        },
        "ValidationLevel":{
          "shape":"ValidationLevel",
          "documentation":"<p>The validation level of the import job.</p>"
        }
      },
      "documentation":"<p>The import job properties.</p>"
    },
    "ImportJobPropertiesList":{
      "type":"list",
      "member":{"shape":"ImportJobProperties"}
    },
    "InputDataConfig":{
      "type":"structure",
      "members":{
        "S3Uri":{
          "shape":"S3Uri",
          "documentation":"<p>The <code>S3Uri</code> is the user-specified S3 location of the FHIR data to be imported into AWS HealthLake.</p>"
        }
      },
      "documentation":"<p> The import job input properties.</p>",
      "union":true
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"HealthLakeString"}
      },
      "documentation":"<p>An unknown internal error occurred in the service.</p>",
      "exception":true,
      "fault":true
    },
    "JobId":{
      "type":"string",
      "documentation":"<p>The unique identifier of a job.</p>",
      "max":32,
      "min":1,
      "pattern":"([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)"
    },
    "JobName":{
      "type":"string",
      "documentation":"<p>The human-readable name of a job.</p>",
      "max":64,
      "min":1,
      "pattern":"([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)"
    },
    "JobProgressReport":{
      "type":"structure",
      "members":{
        "TotalNumberOfScannedFiles":{
          "shape":"GenericLong",
          "documentation":"<p>The number of files scanned from the S3 input bucket.</p>"
        },
        "TotalSizeOfScannedFilesInMB":{
          "shape":"GenericDouble",
          "documentation":"<p>The size (in MB) of files scanned from the S3 input bucket.</p>"
        },
        "TotalNumberOfImportedFiles":{
          "shape":"GenericLong",
          "documentation":"<p>The number of files imported.</p>"
        },
        "TotalNumberOfResourcesScanned":{
          "shape":"GenericLong",
          "documentation":"<p>The number of resources scanned from the S3 input bucket.</p>"
        },
        "TotalNumberOfResourcesImported":{
          "shape":"GenericLong",
          "documentation":"<p>The number of resources imported.</p>"
        },
        "TotalNumberOfResourcesWithCustomerError":{
          "shape":"GenericLong",
          "documentation":"<p>The number of resources that failed due to customer error.</p>"
        },
        "TotalNumberOfFilesReadWithCustomerError":{
          "shape":"GenericLong",
          "documentation":"<p>The number of files that failed to be read from the S3 input bucket due to customer error.</p>"
        },
        "TotalNumberOfScannedNonFhirFiles":{
          "shape":"GenericLong",
          "documentation":"<p>The number of non-FHIR files scanned from the S3 input bucket.</p>"
        },
        "TotalSizeOfScannedNonFhirFilesInMB":{
          "shape":"GenericDouble",
          "documentation":"<p>The size (in MB) of non-FHIR files scanned from the S3 input bucket.</p>"
        },
        "TotalNumberOfImportedNonFhirFiles":{
          "shape":"GenericLong",
          "documentation":"<p>The number of non-FHIR files imported.</p>"
        },
        "TotalNumberOfNonFhirResourcesScanned":{
          "shape":"GenericLong",
          "documentation":"<p>The number of non-FHIR resources scanned from the S3 input bucket.</p>"
        },
        "TotalNumberOfNonFhirResourcesImported":{
          "shape":"GenericLong",
          "documentation":"<p>The number of non-FHIR resources imported.</p>"
        },
        "TotalNumberOfNonFhirResourcesWithCustomerError":{
          "shape":"GenericLong",
          "documentation":"<p>The number of non-FHIR resources that failed due to customer error.</p>"
        },
        "TotalNumberOfNonFhirFilesReadWithCustomerError":{
          "shape":"GenericLong",
          "documentation":"<p>The number of non-FHIR files that failed to be read from the S3 input bucket due to customer error.</p>"
        },
        "Throughput":{
          "shape":"GenericDouble",
          "documentation":"<p>The transaction rate the import job is processed at.</p>"
        },
        "TotalFilesConverted":{
          "shape":"GenericLong",
          "documentation":"<p>Number of CCDA files successfully transformed during the import's transformation phase. Populated only for import jobs that use the two-Step-Function (transformation + ingestion) flow; null for legacy single-SF imports and for pure FHIR imports that skip transformation.</p>"
        },
        "TotalResourcesGenerated":{
          "shape":"GenericLong",
          "documentation":"<p>Number of FHIR resources produced by the transformation phase. Populated only for import jobs that use the two-Step-Function flow; null for legacy single-SF imports and for pure FHIR imports.</p>"
        }
      },
      "documentation":"<p>The progress report for the import job.</p>"
    },
    "JobStatus":{
      "type":"string",
      "documentation":"<p>The status of a job.</p>",
      "enum":[
        "SUBMITTED",
        "QUEUED",
        "IN_PROGRESS",
        "COMPLETED_WITH_ERRORS",
        "COMPLETED",
        "FAILED",
        "CANCEL_SUBMITTED",
        "CANCEL_IN_PROGRESS",
        "CANCEL_COMPLETED",
        "CANCEL_FAILED"
      ]
    },
    "KmsEncryptionConfig":{
      "type":"structure",
      "required":["CmkType"],
      "members":{
        "CmkType":{
          "shape":"CmkType",
          "documentation":"<p>The type of customer-managed-key (CMK) used for encryption.</p>"
        },
        "KmsKeyId":{
          "shape":"EncryptionKeyID",
          "documentation":"<p>The Key Management Service (KMS) encryption key id/alias used to encrypt the data store contents at rest.</p>"
        }
      },
      "documentation":"<p>The customer-managed-key (CMK) used when creating a data store. If a customer-owned key is not specified, an AWS-owned key is used for encryption. </p>"
    },
    "KmsKeyId":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "LambdaArn":{
      "type":"string",
      "max":256,
      "min":49,
      "pattern":"arn:aws:lambda:[a-z]{2}-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9\\-_\\.]+(:(\\$LATEST|[a-zA-Z0-9\\-_]+))?"
    },
    "ListDataTransformationJobsRequest":{
      "type":"structure",
      "members":{
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of jobs to return per page. If you don't specify a value, the service returns up to 100 results.</p>"
        },
        "NextToken":{
          "shape":"DataTransformationNextToken",
          "documentation":"<p>The pagination token from a previous response. Pass this value to retrieve the next page of results.</p>"
        },
        "JobStatus":{
          "shape":"TransformationJobStatus",
          "documentation":"<p>Filters the results to include only jobs with the specified status.</p>"
        },
        "JobName":{
          "shape":"DataTransformationJobName",
          "documentation":"<p>Filters the results to include only jobs with the specified name.</p>"
        },
        "SubmittedAfter":{
          "shape":"DateTime",
          "documentation":"<p>Filters the results to include only jobs submitted at or after this timestamp.</p>"
        },
        "SubmittedBefore":{
          "shape":"DateTime",
          "documentation":"<p>Filters the results to include only jobs submitted at or before this timestamp.</p>"
        }
      },
      "documentation":"<p>The request parameters for the <code>ListDataTransformationJobs</code> operation.</p>"
    },
    "ListDataTransformationJobsResponse":{
      "type":"structure",
      "required":["Items"],
      "members":{
        "Items":{
          "shape":"TransformationJobSummaryList",
          "documentation":"<p>The list of data transformation job summaries.</p>"
        },
        "NextToken":{
          "shape":"DataTransformationNextToken",
          "documentation":"<p>The pagination token to use in the next request. If this value is <code>null</code>, there are no more results.</p>"
        }
      },
      "documentation":"<p>The response from the <code>ListDataTransformationJobs</code> operation.</p>"
    },
    "ListDataTransformationProfileVersionsRequest":{
      "type":"structure",
      "required":["ProfileId"],
      "members":{
        "ProfileId":{
          "shape":"ProfileIdString",
          "documentation":"<p>The unique identifier of the profile whose versions to list.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of profile versions to return per page. If you don't specify a value, the service returns up to 100 results.</p>"
        },
        "NextToken":{
          "shape":"DataTransformationNextToken",
          "documentation":"<p>The pagination token from a previous response. Pass this value to retrieve the next page of results.</p>"
        }
      },
      "documentation":"<p>The request parameters for the <code>ListDataTransformationProfileVersions</code> operation.</p>"
    },
    "ListDataTransformationProfileVersionsResponse":{
      "type":"structure",
      "required":["Items"],
      "members":{
        "Items":{
          "shape":"DataTransformationProfileVersionSummaryList",
          "documentation":"<p>The list of data transformation profile version summaries.</p>"
        },
        "NextToken":{
          "shape":"DataTransformationNextToken",
          "documentation":"<p>The pagination token to use in the next request. If this value is <code>null</code>, there are no more results.</p>"
        }
      },
      "documentation":"<p>The response from the <code>ListDataTransformationProfileVersions</code> operation.</p>"
    },
    "ListDataTransformationProfilesRequest":{
      "type":"structure",
      "required":["SourceFormat"],
      "members":{
        "SourceFormat":{
          "shape":"SourceFormat",
          "documentation":"<p>Filters the results by source data format.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of profiles to return per page. If you don't specify a value, the service returns up to 100 results.</p>"
        },
        "NextToken":{
          "shape":"DataTransformationNextToken",
          "documentation":"<p>The pagination token from a previous response. Pass this value to retrieve the next page of results.</p>"
        }
      },
      "documentation":"<p>The request parameters for the <code>ListDataTransformationProfiles</code> operation.</p>"
    },
    "ListDataTransformationProfilesResponse":{
      "type":"structure",
      "required":["Items"],
      "members":{
        "Items":{
          "shape":"DataTransformationProfileSummaryList",
          "documentation":"<p>The list of data transformation profile summaries.</p>"
        },
        "NextToken":{
          "shape":"DataTransformationNextToken",
          "documentation":"<p>The pagination token to use in the next request. If this value is <code>null</code>, there are no more results.</p>"
        }
      },
      "documentation":"<p>The response from the <code>ListDataTransformationProfiles</code> operation.</p>"
    },
    "ListFHIRDatastoresRequest":{
      "type":"structure",
      "members":{
        "Filter":{
          "shape":"DatastoreFilter",
          "documentation":"<p>List all filters associated with a FHIR data store request.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token used to retrieve the next page of data stores when results are paginated.</p>"
        },
        "MaxResults":{
          "shape":"MaxResultsInteger",
          "documentation":"<p>The maximum number of data stores returned on a page.</p>"
        }
      }
    },
    "ListFHIRDatastoresResponse":{
      "type":"structure",
      "required":["DatastorePropertiesList"],
      "members":{
        "DatastorePropertiesList":{
          "shape":"DatastorePropertiesList",
          "documentation":"<p>The properties associated with all listed data stores.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The pagination token used to retrieve the next page of results.</p>"
        }
      }
    },
    "ListFHIRExportJobsRequest":{
      "type":"structure",
      "required":["DatastoreId"],
      "members":{
        "DatastoreId":{
          "shape":"DatastoreId",
          "documentation":"<p>Limits the response to the export job with the specified data store ID. </p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>A pagination token used to identify the next page of results to return.</p>"
        },
        "MaxResults":{
          "shape":"MaxResultsInteger",
          "documentation":"<p>Limits the number of results returned for a ListFHIRExportJobs to a maximum quantity specified by the user.</p>"
        },
        "JobName":{
          "shape":"JobName",
          "documentation":"<p>Limits the response to the export job with the specified job name. </p>"
        },
        "JobStatus":{
          "shape":"JobStatus",
          "documentation":"<p>Limits the response to export jobs with the specified job status. </p>"
        },
        "SubmittedBefore":{
          "shape":"HealthLakeTimestamp",
          "documentation":"<p>Limits the response to FHIR export jobs submitted before a user- specified date.</p>"
        },
        "SubmittedAfter":{
          "shape":"HealthLakeTimestamp",
          "documentation":"<p>Limits the response to FHIR export jobs submitted after a user-specified date.</p>"
        }
      }
    },
    "ListFHIRExportJobsResponse":{
      "type":"structure",
      "required":["ExportJobPropertiesList"],
      "members":{
        "ExportJobPropertiesList":{
          "shape":"ExportJobPropertiesList",
          "documentation":"<p>The properties of listed FHIR export jobs.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The pagination token used to identify the next page of results to return.</p>"
        }
      }
    },
    "ListFHIRImportJobsRequest":{
      "type":"structure",
      "required":["DatastoreId"],
      "members":{
        "DatastoreId":{
          "shape":"DatastoreId",
          "documentation":"<p>Limits the response to the import job with the specified data store ID. </p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The pagination token used to identify the next page of results to return.</p>"
        },
        "MaxResults":{
          "shape":"MaxResultsInteger",
          "documentation":"<p>Limits the number of results returned for <code>ListFHIRImportJobs</code> to a maximum quantity specified by the user.</p>"
        },
        "JobName":{
          "shape":"JobName",
          "documentation":"<p>Limits the response to the import job with the specified job name. </p>"
        },
        "JobStatus":{
          "shape":"JobStatus",
          "documentation":"<p>Limits the response to the import job with the specified job status. </p>"
        },
        "SubmittedBefore":{
          "shape":"HealthLakeTimestamp",
          "documentation":"<p>Limits the response to FHIR import jobs submitted before a user- specified date. </p>"
        },
        "SubmittedAfter":{
          "shape":"HealthLakeTimestamp",
          "documentation":"<p>Limits the response to FHIR import jobs submitted after a user-specified date.</p>"
        }
      }
    },
    "ListFHIRImportJobsResponse":{
      "type":"structure",
      "required":["ImportJobPropertiesList"],
      "members":{
        "ImportJobPropertiesList":{
          "shape":"ImportJobPropertiesList",
          "documentation":"<p>The properties for listed import jobs.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The pagination token used to identify the next page of results to return.</p>"
        }
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["ResourceARN"],
      "members":{
        "ResourceARN":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the data store to which tags are being added.</p>"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>Returns a list of tags associated with a data store. </p>"
        }
      }
    },
    "Long":{
      "type":"long",
      "box":true
    },
    "MaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "MaxResultsInteger":{
      "type":"integer",
      "documentation":"<p>The maximum number of results to return per page.</p>",
      "box":true,
      "max":500,
      "min":1
    },
    "Message":{
      "type":"string",
      "documentation":"<p>A message associated with a job or error.</p>",
      "max":2048,
      "min":1,
      "pattern":"([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)"
    },
    "NextToken":{
      "type":"string",
      "documentation":"<p>An opaque pagination token.</p>",
      "max":8192,
      "min":0,
      "pattern":"\\p{ASCII}{0,8192}"
    },
    "NlpConfiguration":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"NlpStatus",
          "documentation":"<p>The status of the NLP configuration.</p>"
        }
      },
      "documentation":"<p>The natural language processing (NLP) configuration for a data store.</p>"
    },
    "NlpStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "ENABLING",
        "DISABLED",
        "DISABLING"
      ]
    },
    "NotImplementedOperationException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>The requested operation is not yet available. Check the service documentation for a list of supported operations.</p>",
      "exception":true,
      "fault":true
    },
    "OutputDataConfig":{
      "type":"structure",
      "members":{
        "S3Configuration":{
          "shape":"S3Configuration",
          "documentation":"<p>The output data configuration supplied when the export job was created. </p>"
        }
      },
      "documentation":"<p>The output data configuration supplied when the export job was created.</p>",
      "union":true
    },
    "PreloadDataConfig":{
      "type":"structure",
      "required":["PreloadDataType"],
      "members":{
        "PreloadDataType":{
          "shape":"PreloadDataType",
          "documentation":"<p>The type of preloaded data. Only Synthea preloaded data is supported.</p>"
        }
      },
      "documentation":"<p>The input properties for the preloaded (Synthea) data store.</p>"
    },
    "PreloadDataType":{
      "type":"string",
      "documentation":"<p>The type of preloaded data.</p>",
      "enum":["SYNTHEA"]
    },
    "ProfileConfiguration":{
      "type":"structure",
      "members":{
        "DefaultProfiles":{
          "shape":"DefaultProfiles",
          "documentation":"<p>The list of default profiles for the data store.</p>"
        }
      },
      "documentation":"<p>The profile configuration for a data store.</p>"
    },
    "ProfileDescription":{
      "type":"string",
      "max":1000,
      "min":0
    },
    "ProfileIdString":{
      "type":"string",
      "max":32,
      "min":32,
      "pattern":"[a-f0-9]{32}"
    },
    "ProfileMapping":{
      "type":"map",
      "key":{"shape":"ProfileMappingKey"},
      "value":{"shape":"ProfileMappingValue"},
      "max":500,
      "min":1,
      "sensitive":true
    },
    "ProfileMappingKey":{
      "type":"string",
      "max":500,
      "min":1
    },
    "ProfileMappingSource":{
      "type":"structure",
      "required":["ProfileMapping"],
      "members":{
        "ProfileMapping":{
          "shape":"StringMap",
          "documentation":"<p>The content as a map of file paths to profile strings.</p>"
        }
      },
      "documentation":"<p>Contains raw content to use as the source when creating a data transformation profile directly from a mapping.</p>",
      "sensitive":true
    },
    "ProfileMappingValue":{
      "type":"string",
      "max":102400,
      "min":0
    },
    "ProfileNameString":{
      "type":"string",
      "max":256,
      "min":1
    },
    "ProfileVersion":{
      "type":"integer",
      "box":true,
      "max":99,
      "min":0
    },
    "PublishDataTransformationProfileRequest":{
      "type":"structure",
      "required":[
        "ProfileId",
        "SourceFormat"
      ],
      "members":{
        "ProfileId":{
          "shape":"ProfileIdString",
          "documentation":"<p>The unique identifier of the profile to publish.</p>"
        },
        "SourceFormat":{
          "shape":"SourceFormat",
          "documentation":"<p>The source data format of the profile.</p>"
        },
        "FromExistingVersion":{
          "shape":"ProfileVersion",
          "documentation":"<p>The version number of a previously published version to republish as the new latest version. Use this parameter for rollback scenarios. If you omit this parameter, the service publishes the current DRAFT version.</p>"
        },
        "ChangeDescription":{
          "shape":"ChangeDescription",
          "documentation":"<p>A description of what changed or why this version is being published.</p>"
        }
      },
      "documentation":"<p>The request parameters for the <code>PublishDataTransformationProfile</code> operation.</p>"
    },
    "PublishDataTransformationProfileResponse":{
      "type":"structure",
      "required":[
        "ProfileId",
        "Version",
        "SourceFormat",
        "TargetFormat",
        "LastUpdatedAt"
      ],
      "members":{
        "ProfileId":{
          "shape":"ProfileIdString",
          "documentation":"<p>The unique identifier of the published profile.</p>"
        },
        "Version":{
          "shape":"ProfileVersion",
          "documentation":"<p>The new version number that was created.</p>"
        },
        "SourceFormat":{
          "shape":"SourceFormat",
          "documentation":"<p>The source data format of the profile.</p>"
        },
        "TargetFormat":{
          "shape":"TargetFormat",
          "documentation":"<p>The target output format of the profile.</p>"
        },
        "ProfileName":{
          "shape":"ProfileNameString",
          "documentation":"<p>The name of the published profile.</p>"
        },
        "LastUpdatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the profile was last updated.</p>"
        }
      },
      "documentation":"<p>The response from the <code>PublishDataTransformationProfile</code> operation.</p>"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"HealthLakeString"}
      },
      "documentation":"<p>The requested data store was not found.</p>",
      "exception":true
    },
    "S3Configuration":{
      "type":"structure",
      "required":[
        "S3Uri",
        "KmsKeyId"
      ],
      "members":{
        "S3Uri":{
          "shape":"S3Uri",
          "documentation":"<p>The <code>S3Uri</code> is the user-specified S3 location of the FHIR data to be imported into AWS HealthLake.</p>"
        },
        "KmsKeyId":{
          "shape":"EncryptionKeyID",
          "documentation":"<p>The Key Management Service (KMS) key ID used to access the S3 bucket. </p>"
        }
      },
      "documentation":"<p>The configuration of the S3 bucket for either an import or export job. This includes assigning access permissions.</p>"
    },
    "S3Uri":{
      "type":"string",
      "documentation":"<p>The S3 URI for data import or export.</p>",
      "max":1024,
      "min":0,
      "pattern":"s3://[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9](/.*)?"
    },
    "SampleDataS3Uri":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"s3://[a-z0-9][a-z0-9.\\-]{1,61}[a-z0-9](/.*)?"
    },
    "SampleDataSource":{
      "type":"structure",
      "required":["S3Uri"],
      "members":{
        "S3Uri":{
          "shape":"SampleDataS3Uri",
          "documentation":"<p>The Amazon S3 URI of the sample data file.</p>"
        }
      },
      "documentation":"<p>Identifies a sample data file in Amazon S3 to use as the source when creating a data transformation profile. Valid only when the source format is Comma-separated values (CSV).</p>"
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"HealthLakeString",
          "documentation":"<p>A message describing the error.</p>"
        }
      },
      "documentation":"<p>The request exceeds the service quota.</p>",
      "exception":true
    },
    "SourceFormat":{
      "type":"string",
      "enum":[
        "CCDA",
        "CSV"
      ]
    },
    "SseConfiguration":{
      "type":"structure",
      "required":["KmsEncryptionConfig"],
      "members":{
        "KmsEncryptionConfig":{
          "shape":"KmsEncryptionConfig",
          "documentation":"<p>The Key Management Service (KMS) encryption configuration used to provide details for data encryption.</p>"
        }
      },
      "documentation":"<p>The server-side encryption key configuration for a customer-provided encryption key.</p>"
    },
    "StartDataTransformationJobRequest":{
      "type":"structure",
      "required":[
        "InputDataConfig",
        "OutputDataConfig",
        "DataAccessRoleArn",
        "ClientToken",
        "ProfileId"
      ],
      "members":{
        "InputDataConfig":{
          "shape":"TransformationInputDataConfig",
          "documentation":"<p>The Amazon S3 location and format of the source files to transform.</p>"
        },
        "OutputDataConfig":{
          "shape":"TransformationOutputDataConfig",
          "documentation":"<p>The Amazon S3 output location and AWS Key Management Service (AWS KMS) encryption configuration.</p>"
        },
        "DataAccessRoleArn":{
          "shape":"DataTransformationIamRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role that AWS HealthLake assumes to read from and write to the specified Amazon S3 locations.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique, case-sensitive identifier to ensure that the operation completes no more than one time. If this token matches a previous request, the service ignores the request but does not return an error.</p>"
        },
        "JobName":{
          "shape":"DataTransformationJobName",
          "documentation":"<p>A descriptive name for the data transformation job.</p>"
        },
        "ProfileId":{
          "shape":"ProfileIdString",
          "documentation":"<p>The unique identifier of the data transformation profile to use for conversion.</p>"
        },
        "DriftDetectionEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether drift detection is enabled for this job. When enabled, AWS HealthLake writes a drift report to the output Amazon S3 location alongside the converted files.</p>"
        },
        "ProvenanceEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether FHIR R4 Provenance resource generation is enabled for this transformation job. When provenance is enabled, the service also generates related DocumentReference and Device resources. If you don't specify a value, the default is <code>true</code>. To disable provenance output, set this parameter to <code>false</code>.</p>"
        }
      },
      "documentation":"<p>The request parameters for the <code>StartDataTransformationJob</code> operation.</p>"
    },
    "StartDataTransformationJobResponse":{
      "type":"structure",
      "required":[
        "JobId",
        "JobStatus"
      ],
      "members":{
        "JobId":{
          "shape":"DataTransformationJobId",
          "documentation":"<p>The unique identifier assigned to the data transformation job.</p>"
        },
        "JobStatus":{
          "shape":"TransformationJobStatus",
          "documentation":"<p>The initial status of the data transformation job.</p>"
        }
      },
      "documentation":"<p>The response from the <code>StartDataTransformationJob</code> operation.</p>"
    },
    "StartFHIRExportJobRequest":{
      "type":"structure",
      "required":[
        "OutputDataConfig",
        "DatastoreId",
        "DataAccessRoleArn"
      ],
      "members":{
        "JobName":{
          "shape":"JobName",
          "documentation":"<p>The export job name.</p>"
        },
        "OutputDataConfig":{
          "shape":"OutputDataConfig",
          "documentation":"<p>The output data configuration supplied when the export job was started.</p>"
        },
        "DatastoreId":{
          "shape":"DatastoreId",
          "documentation":"<p>The data store identifier from which files are being exported.</p>"
        },
        "DataAccessRoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) used during initiation of the export job.</p>"
        },
        "ClientToken":{
          "shape":"ClientTokenString",
          "documentation":"<p>An optional user provided token used for ensuring API idempotency.</p>",
          "idempotencyToken":true
        }
      }
    },
    "StartFHIRExportJobResponse":{
      "type":"structure",
      "required":[
        "JobId",
        "JobStatus"
      ],
      "members":{
        "JobId":{
          "shape":"JobId",
          "documentation":"<p>The export job identifier.</p>"
        },
        "JobStatus":{
          "shape":"JobStatus",
          "documentation":"<p>The export job status.</p>"
        },
        "DatastoreId":{
          "shape":"DatastoreId",
          "documentation":"<p>The data store identifier from which files are being exported.</p>"
        }
      }
    },
    "StartFHIRImportJobRequest":{
      "type":"structure",
      "required":[
        "InputDataConfig",
        "JobOutputDataConfig",
        "DatastoreId",
        "DataAccessRoleArn"
      ],
      "members":{
        "JobName":{
          "shape":"JobName",
          "documentation":"<p>The import job name.</p>"
        },
        "InputDataConfig":{
          "shape":"InputDataConfig",
          "documentation":"<p>The input properties for the import job request.</p>"
        },
        "JobOutputDataConfig":{"shape":"OutputDataConfig"},
        "DatastoreId":{
          "shape":"DatastoreId",
          "documentation":"<p>The data store identifier.</p>"
        },
        "DataAccessRoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) that grants access permission to AWS HealthLake.</p>"
        },
        "ClientToken":{
          "shape":"ClientTokenString",
          "documentation":"<p>The optional user-provided token used for ensuring API idempotency.</p>",
          "idempotencyToken":true
        },
        "ValidationLevel":{
          "shape":"ValidationLevel",
          "documentation":"<p>The validation level of the import job.</p>"
        },
        "ProfileId":{"shape":"BoundedLengthString"},
        "InputFormat":{"shape":"BoundedLengthString"},
        "DriftDetectionEnabled":{"shape":"HealthLakeBoolean"}
      }
    },
    "StartFHIRImportJobResponse":{
      "type":"structure",
      "required":[
        "JobId",
        "JobStatus"
      ],
      "members":{
        "JobId":{
          "shape":"JobId",
          "documentation":"<p>The import job identifier.</p>"
        },
        "JobStatus":{
          "shape":"JobStatus",
          "documentation":"<p>The import job status.</p>"
        },
        "DatastoreId":{
          "shape":"DatastoreId",
          "documentation":"<p>The data store identifier.</p>"
        }
      }
    },
    "StarterProfileSource":{
      "type":"structure",
      "required":["StarterProfileName"],
      "members":{
        "StarterProfileName":{
          "shape":"String",
          "documentation":"<p>The name of the built-in starter profile.</p>"
        }
      },
      "documentation":"<p>Identifies a built-in starter profile to use as the source when creating a data transformation profile. Valid only when the source format is Consolidated Clinical Document Architecture (C-CDA).</p>"
    },
    "String":{"type":"string"},
    "StringMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "Tag":{
      "type":"structure",
      "required":[
        "Key",
        "Value"
      ],
      "members":{
        "Key":{
          "shape":"TagKey",
          "documentation":"<p>The key portion of a tag. Tag keys are case sensitive. </p>"
        },
        "Value":{
          "shape":"TagValue",
          "documentation":"<p> The value portion of a tag. Tag values are case-sensitive.</p>"
        }
      },
      "documentation":"<p>A label consisting of a user-defined key and value. The form for tags is {\"Key\", \"Value\"}</p>"
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)"
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "max":200,
      "min":0
    },
    "TagList":{
      "type":"list",
      "member":{"shape":"Tag"},
      "max":200,
      "min":0
    },
    "TagMap":{
      "type":"map",
      "key":{"shape":"DataTransformationTagKey"},
      "value":{"shape":"DataTransformationTagValue"},
      "documentation":"<p>A map of tag keys to tag values associated with the resource.</p>",
      "max":50,
      "min":0
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceARN",
        "Tags"
      ],
      "members":{
        "ResourceARN":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) that grants access to the data store tags are being added to.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The user-specified key and value pair tags being added to a data store.</p>"
        }
      }
    },
    "TagResourceResponse":{
      "type":"structure",
      "members":{}
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)"
    },
    "TargetFormat":{
      "type":"string",
      "enum":["FHIR_R4"]
    },
    "ThrottlingException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"HealthLakeString"}
      },
      "documentation":"<p>The user has exceeded their maximum number of allowed calls to the given API. </p>",
      "exception":true
    },
    "TransformationInputDataConfig":{
      "type":"structure",
      "required":["S3Uri"],
      "members":{
        "S3Uri":{
          "shape":"DataTransformationS3Uri",
          "documentation":"<p>The Amazon S3 URI of the input data to transform.</p>"
        },
        "SourceFormat":{
          "shape":"SourceFormat",
          "documentation":"<p>The format of the source data files (C-CDA or CSV).</p>"
        }
      },
      "documentation":"<p>The Amazon S3 location and source format configuration for input data in a transformation job.</p>"
    },
    "TransformationJobProgressReport":{
      "type":"structure",
      "required":[
        "TotalFilesScanned",
        "TotalFilesConverted",
        "TotalFilesFailed",
        "TotalResourcesGenerated"
      ],
      "members":{
        "TotalFilesScanned":{
          "shape":"Long",
          "documentation":"<p>The total number of source files scanned by the job.</p>"
        },
        "TotalFilesConverted":{
          "shape":"Long",
          "documentation":"<p>The total number of source files successfully converted.</p>"
        },
        "TotalFilesFailed":{
          "shape":"Long",
          "documentation":"<p>The total number of source files that failed conversion.</p>"
        },
        "TotalResourcesGenerated":{
          "shape":"Long",
          "documentation":"<p>The total number of FHIR R4 resources generated across all converted files.</p>"
        }
      },
      "documentation":"<p>Contains progress metrics for a data transformation job, including counts of files scanned, converted, and failed.</p>"
    },
    "TransformationJobProperties":{
      "type":"structure",
      "required":[
        "JobId",
        "JobStatus",
        "InputDataConfig",
        "OutputDataConfig",
        "DataAccessRoleArn",
        "SubmitTime"
      ],
      "members":{
        "JobId":{
          "shape":"DataTransformationJobId",
          "documentation":"<p>The unique identifier of the data transformation job.</p>"
        },
        "JobStatus":{
          "shape":"TransformationJobStatus",
          "documentation":"<p>The current status of the data transformation job.</p>"
        },
        "InputDataConfig":{
          "shape":"TransformationInputDataConfig",
          "documentation":"<p>The Amazon S3 location and format of the source files for this job.</p>"
        },
        "OutputDataConfig":{
          "shape":"TransformationOutputDataConfig",
          "documentation":"<p>The Amazon S3 location and encryption configuration for the converted output.</p>"
        },
        "DataAccessRoleArn":{
          "shape":"DataTransformationIamRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role that grants AWS HealthLake access to the specified Amazon S3 locations. AWS HealthLake assumes this role to read input files and write output files.</p>"
        },
        "SubmitTime":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the job was submitted.</p>"
        },
        "JobName":{
          "shape":"DataTransformationJobName",
          "documentation":"<p>The name of the data transformation job.</p>"
        },
        "ProfileId":{
          "shape":"ProfileIdString",
          "documentation":"<p>The unique identifier of the data transformation profile used for this job.</p>"
        },
        "ProfileName":{
          "shape":"ProfileNameString",
          "documentation":"<p>The name of the data transformation profile used for this job.</p>"
        },
        "ProfileVersion":{
          "shape":"Integer",
          "documentation":"<p>The version number of the data transformation profile used for this job.</p>"
        },
        "EndTime":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the job completed or failed.</p>"
        },
        "DriftDetectionEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether drift detection is enabled for this job. When enabled, AWS HealthLake writes a drift report to the output Amazon S3 location alongside the converted files.</p>"
        },
        "ProvenanceEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether FHIR R4 Provenance resource generation is enabled for this transformation job. When provenance is enabled, the service also generates related DocumentReference and Device resources.</p>"
        },
        "Message":{
          "shape":"BoundedString",
          "documentation":"<p>An informational message about the job, such as an error description if the job failed.</p>"
        },
        "JobProgressReport":{
          "shape":"TransformationJobProgressReport",
          "documentation":"<p>The progress report for the data transformation job, including counts of files processed and resources generated.</p>"
        }
      },
      "documentation":"<p>Contains the properties of a data transformation job, including its status, configuration, and progress information. You retrieve this structure by calling <code>DescribeDataTransformationJob</code>.</p>"
    },
    "TransformationJobStatus":{
      "type":"string",
      "enum":[
        "SUBMITTED",
        "QUEUED",
        "IN_PROGRESS",
        "COMPLETED",
        "COMPLETED_WITH_ERRORS",
        "FAILED"
      ]
    },
    "TransformationJobSummary":{
      "type":"structure",
      "required":[
        "JobId",
        "JobStatus",
        "SubmitTime"
      ],
      "members":{
        "JobId":{
          "shape":"DataTransformationJobId",
          "documentation":"<p>The unique identifier of the job.</p>"
        },
        "JobStatus":{
          "shape":"TransformationJobStatus",
          "documentation":"<p>The current status of the job.</p>"
        },
        "SubmitTime":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the job was submitted.</p>"
        },
        "JobName":{
          "shape":"DataTransformationJobName",
          "documentation":"<p>The name of the job.</p>"
        },
        "EndTime":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the job completed.</p>"
        },
        "SourceFormat":{
          "shape":"SourceFormat",
          "documentation":"<p>The source data format for this job.</p>"
        }
      },
      "documentation":"<p>Contains summary information about a data transformation job. To retrieve full job details, call <code>DescribeDataTransformationJob</code>.</p>"
    },
    "TransformationJobSummaryList":{
      "type":"list",
      "member":{"shape":"TransformationJobSummary"}
    },
    "TransformationOutputDataConfig":{
      "type":"structure",
      "required":["S3Configuration"],
      "members":{
        "S3Configuration":{
          "shape":"DataTransformationS3Configuration",
          "documentation":"<p>The Amazon S3 output location and AWS Key Management Service (AWS KMS) encryption configuration.</p>"
        }
      },
      "documentation":"<p>The Amazon S3 output location and encryption configuration for a transformation job.</p>"
    },
    "UnauthorizedException":{
      "type":"structure",
      "required":["Message"],
      "members":{
[...]
