{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-05-10",
    "endpointPrefix":"entityresolution",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"AWSEntityResolution",
    "serviceFullName":"AWS EntityResolution",
    "serviceId":"EntityResolution",
    "signatureVersion":"v4",
    "signingName":"entityresolution",
    "uid":"entityresolution-2018-05-10",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AddPolicyStatement":{
      "name":"AddPolicyStatement",
      "http":{
        "method":"POST",
        "requestUri":"/policies/{arn}/{statementId}",
        "responseCode":200
      },
      "input":{"shape":"AddPolicyStatementInput"},
      "output":{"shape":"AddPolicyStatementOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Adds a policy statement object. To retrieve a list of existing policy statements, use the <code>GetPolicy</code> API.</p>",
      "idempotent":true
    },
    "BatchDeleteUniqueId":{
      "name":"BatchDeleteUniqueId",
      "http":{
        "method":"DELETE",
        "requestUri":"/matchingworkflows/{workflowName}/uniqueids",
        "responseCode":200
      },
      "input":{"shape":"BatchDeleteUniqueIdInput"},
      "output":{"shape":"BatchDeleteUniqueIdOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes multiple unique IDs in a matching workflow.</p>"
    },
    "CreateIdMappingWorkflow":{
      "name":"CreateIdMappingWorkflow",
      "http":{
        "method":"POST",
        "requestUri":"/idmappingworkflows",
        "responseCode":200
      },
      "input":{"shape":"CreateIdMappingWorkflowInput"},
      "output":{"shape":"CreateIdMappingWorkflowOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ExceedsLimitException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Creates an <code>IdMappingWorkflow</code> object which stores the configuration of the data processing job to be run. Each <code>IdMappingWorkflow</code> must have a unique workflow name. To modify an existing workflow, use the <code>UpdateIdMappingWorkflow</code> API.</p>"
    },
    "CreateIdNamespace":{
      "name":"CreateIdNamespace",
      "http":{
        "method":"POST",
        "requestUri":"/idnamespaces",
        "responseCode":200
      },
      "input":{"shape":"CreateIdNamespaceInput"},
      "output":{"shape":"CreateIdNamespaceOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ExceedsLimitException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Creates an ID namespace object which will help customers provide metadata explaining their dataset and how to use it. Each ID namespace must have a unique name. To modify an existing ID namespace, use the <code>UpdateIdNamespace</code> API.</p>"
    },
    "CreateMatchingWorkflow":{
      "name":"CreateMatchingWorkflow",
      "http":{
        "method":"POST",
        "requestUri":"/matchingworkflows",
        "responseCode":200
      },
      "input":{"shape":"CreateMatchingWorkflowInput"},
      "output":{"shape":"CreateMatchingWorkflowOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ExceedsLimitException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Creates a <code>MatchingWorkflow</code> object which stores the configuration of the data processing job to be run. It is important to note that there should not be a pre-existing <code>MatchingWorkflow</code> with the same name. To modify an existing workflow, utilize the <code>UpdateMatchingWorkflow</code> API.</p>"
    },
    "CreateSchemaMapping":{
      "name":"CreateSchemaMapping",
      "http":{
        "method":"POST",
        "requestUri":"/schemas",
        "responseCode":200
      },
      "input":{"shape":"CreateSchemaMappingInput"},
      "output":{"shape":"CreateSchemaMappingOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ExceedsLimitException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Creates a schema mapping, which defines the schema of the input customer records table. The <code>SchemaMapping</code> also provides Entity Resolution with some metadata about the table, such as the attribute types of the columns and which columns to match on.</p>"
    },
    "DeleteIdMappingWorkflow":{
      "name":"DeleteIdMappingWorkflow",
      "http":{
        "method":"DELETE",
        "requestUri":"/idmappingworkflows/{workflowName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteIdMappingWorkflowInput"},
      "output":{"shape":"DeleteIdMappingWorkflowOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes the <code>IdMappingWorkflow</code> with a given name. This operation will succeed even if a workflow with the given name does not exist.</p>",
      "idempotent":true
    },
    "DeleteIdNamespace":{
      "name":"DeleteIdNamespace",
      "http":{
        "method":"DELETE",
        "requestUri":"/idnamespaces/{idNamespaceName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteIdNamespaceInput"},
      "output":{"shape":"DeleteIdNamespaceOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes the <code>IdNamespace</code> with a given name.</p>",
      "idempotent":true
    },
    "DeleteMatchingWorkflow":{
      "name":"DeleteMatchingWorkflow",
      "http":{
        "method":"DELETE",
        "requestUri":"/matchingworkflows/{workflowName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteMatchingWorkflowInput"},
      "output":{"shape":"DeleteMatchingWorkflowOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes the <code>MatchingWorkflow</code> with a given name. This operation will succeed even if a workflow with the given name does not exist.</p>",
      "idempotent":true
    },
    "DeletePolicyStatement":{
      "name":"DeletePolicyStatement",
      "http":{
        "method":"DELETE",
        "requestUri":"/policies/{arn}/{statementId}",
        "responseCode":200
      },
      "input":{"shape":"DeletePolicyStatementInput"},
      "output":{"shape":"DeletePolicyStatementOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes the policy statement.</p>",
      "idempotent":true
    },
    "DeleteSchemaMapping":{
      "name":"DeleteSchemaMapping",
      "http":{
        "method":"DELETE",
        "requestUri":"/schemas/{schemaName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteSchemaMappingInput"},
      "output":{"shape":"DeleteSchemaMappingOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes the <code>SchemaMapping</code> with a given name. This operation will succeed even if a schema with the given name does not exist. This operation will fail if there is a <code>MatchingWorkflow</code> object that references the <code>SchemaMapping</code> in the workflow's <code>InputSourceConfig</code>.</p>",
      "idempotent":true
    },
    "GetIdMappingJob":{
      "name":"GetIdMappingJob",
      "http":{
        "method":"GET",
        "requestUri":"/idmappingworkflows/{workflowName}/jobs/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"GetIdMappingJobInput"},
      "output":{"shape":"GetIdMappingJobOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets the status, metrics, and errors (if there are any) that are associated with a job.</p>"
    },
    "GetIdMappingWorkflow":{
      "name":"GetIdMappingWorkflow",
      "http":{
        "method":"GET",
        "requestUri":"/idmappingworkflows/{workflowName}",
        "responseCode":200
      },
      "input":{"shape":"GetIdMappingWorkflowInput"},
      "output":{"shape":"GetIdMappingWorkflowOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns the <code>IdMappingWorkflow</code> with a given name, if it exists.</p>"
    },
    "GetIdNamespace":{
      "name":"GetIdNamespace",
      "http":{
        "method":"GET",
        "requestUri":"/idnamespaces/{idNamespaceName}",
        "responseCode":200
      },
      "input":{"shape":"GetIdNamespaceInput"},
      "output":{"shape":"GetIdNamespaceOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns the <code>IdNamespace</code> with a given name, if it exists.</p>"
    },
    "GetMatchId":{
      "name":"GetMatchId",
      "http":{
        "method":"POST",
        "requestUri":"/matchingworkflows/{workflowName}/matches",
        "responseCode":200
      },
      "input":{"shape":"GetMatchIdInput"},
      "output":{"shape":"GetMatchIdOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns the corresponding Match ID of a customer record if the record has been processed.</p>"
    },
    "GetMatchingJob":{
      "name":"GetMatchingJob",
      "http":{
        "method":"GET",
        "requestUri":"/matchingworkflows/{workflowName}/jobs/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"GetMatchingJobInput"},
      "output":{"shape":"GetMatchingJobOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets the status, metrics, and errors (if there are any) that are associated with a job.</p>"
    },
    "GetMatchingWorkflow":{
      "name":"GetMatchingWorkflow",
      "http":{
        "method":"GET",
        "requestUri":"/matchingworkflows/{workflowName}",
        "responseCode":200
      },
      "input":{"shape":"GetMatchingWorkflowInput"},
      "output":{"shape":"GetMatchingWorkflowOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns the <code>MatchingWorkflow</code> with a given name, if it exists.</p>"
    },
    "GetPolicy":{
      "name":"GetPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/policies/{arn}",
        "responseCode":200
      },
      "input":{"shape":"GetPolicyInput"},
      "output":{"shape":"GetPolicyOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns the resource-based policy.</p>"
    },
    "GetProviderService":{
      "name":"GetProviderService",
      "http":{
        "method":"GET",
        "requestUri":"/providerservices/{providerName}/{providerServiceName}",
        "responseCode":200
      },
      "input":{"shape":"GetProviderServiceInput"},
      "output":{"shape":"GetProviderServiceOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns the <code>ProviderService</code> of a given name.</p>"
    },
    "GetSchemaMapping":{
      "name":"GetSchemaMapping",
      "http":{
        "method":"GET",
        "requestUri":"/schemas/{schemaName}",
        "responseCode":200
      },
      "input":{"shape":"GetSchemaMappingInput"},
      "output":{"shape":"GetSchemaMappingOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns the SchemaMapping of a given name.</p>"
    },
    "ListIdMappingJobs":{
      "name":"ListIdMappingJobs",
      "http":{
        "method":"GET",
        "requestUri":"/idmappingworkflows/{workflowName}/jobs",
        "responseCode":200
      },
      "input":{"shape":"ListIdMappingJobsInput"},
      "output":{"shape":"ListIdMappingJobsOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all ID mapping jobs for a given workflow.</p>"
    },
    "ListIdMappingWorkflows":{
      "name":"ListIdMappingWorkflows",
      "http":{
        "method":"GET",
        "requestUri":"/idmappingworkflows",
        "responseCode":200
      },
      "input":{"shape":"ListIdMappingWorkflowsInput"},
      "output":{"shape":"ListIdMappingWorkflowsOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns a list of all the <code>IdMappingWorkflows</code> that have been created for an Amazon Web Services account.</p>"
    },
    "ListIdNamespaces":{
      "name":"ListIdNamespaces",
      "http":{
        "method":"GET",
        "requestUri":"/idnamespaces",
        "responseCode":200
      },
      "input":{"shape":"ListIdNamespacesInput"},
      "output":{"shape":"ListIdNamespacesOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns a list of all ID namespaces.</p>"
    },
    "ListMatchingJobs":{
      "name":"ListMatchingJobs",
      "http":{
        "method":"GET",
        "requestUri":"/matchingworkflows/{workflowName}/jobs",
        "responseCode":200
      },
      "input":{"shape":"ListMatchingJobsInput"},
      "output":{"shape":"ListMatchingJobsOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all jobs for a given workflow.</p>"
    },
    "ListMatchingWorkflows":{
      "name":"ListMatchingWorkflows",
      "http":{
        "method":"GET",
        "requestUri":"/matchingworkflows",
        "responseCode":200
      },
      "input":{"shape":"ListMatchingWorkflowsInput"},
      "output":{"shape":"ListMatchingWorkflowsOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns a list of all the <code>MatchingWorkflows</code> that have been created for an Amazon Web Services account.</p>"
    },
    "ListProviderServices":{
      "name":"ListProviderServices",
      "http":{
        "method":"GET",
        "requestUri":"/providerservices",
        "responseCode":200
      },
      "input":{"shape":"ListProviderServicesInput"},
      "output":{"shape":"ListProviderServicesOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns a list of all the <code>ProviderServices</code> that are available in this Amazon Web Services Region.</p>"
    },
    "ListSchemaMappings":{
      "name":"ListSchemaMappings",
      "http":{
        "method":"GET",
        "requestUri":"/schemas",
        "responseCode":200
      },
      "input":{"shape":"ListSchemaMappingsInput"},
      "output":{"shape":"ListSchemaMappingsOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns a list of all the <code>SchemaMappings</code> that have been created for an Amazon Web Services account.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceInput"},
      "output":{"shape":"ListTagsForResourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Displays the tags associated with an Entity Resolution resource. In Entity Resolution, <code>SchemaMapping</code>, and <code>MatchingWorkflow</code> can be tagged.</p>"
    },
    "PutPolicy":{
      "name":"PutPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/policies/{arn}",
        "responseCode":200
      },
      "input":{"shape":"PutPolicyInput"},
      "output":{"shape":"PutPolicyOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates the resource-based policy.</p>",
      "idempotent":true
    },
    "StartIdMappingJob":{
      "name":"StartIdMappingJob",
      "http":{
        "method":"POST",
        "requestUri":"/idmappingworkflows/{workflowName}/jobs",
        "responseCode":200
      },
      "input":{"shape":"StartIdMappingJobInput"},
      "output":{"shape":"StartIdMappingJobOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ExceedsLimitException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Starts the <code>IdMappingJob</code> of a workflow. The workflow must have previously been created using the <code>CreateIdMappingWorkflow</code> endpoint.</p>"
    },
    "StartMatchingJob":{
      "name":"StartMatchingJob",
      "http":{
        "method":"POST",
        "requestUri":"/matchingworkflows/{workflowName}/jobs",
        "responseCode":200
      },
      "input":{"shape":"StartMatchingJobInput"},
      "output":{"shape":"StartMatchingJobOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ExceedsLimitException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Starts the <code>MatchingJob</code> of a workflow. The workflow must have previously been created using the <code>CreateMatchingWorkflow</code> endpoint.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceInput"},
      "output":{"shape":"TagResourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Assigns one or more tags (key-value pairs) to the specified Entity Resolution resource. Tags can help you organize and categorize your resources. You can also use them to scope user permissions by granting a user permission to access or change only resources with certain tag values. In Entity Resolution, <code>SchemaMapping</code> and <code>MatchingWorkflow</code> can be tagged. Tags don't have any semantic meaning to Amazon Web Services and are interpreted strictly as strings of characters. You can use the <code>TagResource</code> action with a resource that already has tags. If you specify a new tag key, this tag is appended to the list of tags associated with the resource. If you specify a tag key that is already associated with the resource, the new tag value that you specify replaces the previous value for that tag.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceInput"},
      "output":{"shape":"UntagResourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Removes one or more tags from the specified Entity Resolution resource. In Entity Resolution, <code>SchemaMapping</code>, and <code>MatchingWorkflow</code> can be tagged.</p>",
      "idempotent":true
    },
    "UpdateIdMappingWorkflow":{
      "name":"UpdateIdMappingWorkflow",
      "http":{
        "method":"PUT",
        "requestUri":"/idmappingworkflows/{workflowName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateIdMappingWorkflowInput"},
      "output":{"shape":"UpdateIdMappingWorkflowOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates an existing <code>IdMappingWorkflow</code>. This method is identical to <code>CreateIdMappingWorkflow</code>, except it uses an HTTP <code>PUT</code> request instead of a <code>POST</code> request, and the <code>IdMappingWorkflow</code> must already exist for the method to succeed.</p>",
      "idempotent":true
    },
    "UpdateIdNamespace":{
      "name":"UpdateIdNamespace",
      "http":{
        "method":"PUT",
        "requestUri":"/idnamespaces/{idNamespaceName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateIdNamespaceInput"},
      "output":{"shape":"UpdateIdNamespaceOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates an existing ID namespace.</p>",
      "idempotent":true
    },
    "UpdateMatchingWorkflow":{
      "name":"UpdateMatchingWorkflow",
      "http":{
        "method":"PUT",
        "requestUri":"/matchingworkflows/{workflowName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateMatchingWorkflowInput"},
      "output":{"shape":"UpdateMatchingWorkflowOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates an existing <code>MatchingWorkflow</code>. This method is identical to <code>CreateMatchingWorkflow</code>, except it uses an HTTP <code>PUT</code> request instead of a <code>POST</code> request, and the <code>MatchingWorkflow</code> must already exist for the method to succeed.</p>",
      "idempotent":true
    },
    "UpdateSchemaMapping":{
      "name":"UpdateSchemaMapping",
      "http":{
        "method":"PUT",
        "requestUri":"/schemas/{schemaName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateSchemaMappingInput"},
      "output":{"shape":"UpdateSchemaMappingOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a schema mapping.</p> <note> <p>A schema is immutable if it is being used by a workflow. Therefore, you can't update a schema mapping if it's associated with a workflow. </p> </note>",
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>You do not have sufficient access to perform this action. </p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AddPolicyStatementInput":{
      "type":"structure",
      "required":[
        "action",
        "arn",
        "effect",
        "principal",
        "statementId"
      ],
      "members":{
        "action":{
          "shape":"StatementActionList",
          "documentation":"<p>The action that the principal can use on the resource. </p> <p>For example, <code>entityresolution:GetIdMappingJob</code>, <code>entityresolution:GetMatchingJob</code>.</p>"
        },
        "arn":{
          "shape":"VeniceGlobalArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource that will be accessed by the principal.</p>",
          "location":"uri",
          "locationName":"arn"
        },
        "condition":{
          "shape":"StatementCondition",
          "documentation":"<p>A set of condition keys that you can use in key policies.</p>"
        },
        "effect":{
          "shape":"StatementEffect",
          "documentation":"<p>Determines whether the permissions specified in the policy are to be allowed (<code>Allow</code>) or denied (<code>Deny</code>).</p> <important> <p> If you set the value of the <code>effect</code> parameter to <code>Deny</code> for the <code>AddPolicyStatement</code> operation, you must also set the value of the <code>effect</code> parameter in the <code>policy</code> to <code>Deny</code> for the <code>PutPolicy</code> operation.</p> </important>"
        },
        "principal":{
          "shape":"StatementPrincipalList",
          "documentation":"<p>The Amazon Web Services service or Amazon Web Services account that can access the resource defined as ARN.</p>"
        },
        "statementId":{
          "shape":"StatementId",
          "documentation":"<p>A statement identifier that differentiates the statement from others in the same policy.</p>",
          "location":"uri",
          "locationName":"statementId"
        }
      }
    },
    "AddPolicyStatementOutput":{
      "type":"structure",
      "required":[
        "arn",
        "token"
      ],
      "members":{
        "arn":{
          "shape":"VeniceGlobalArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource that will be accessed by the principal.</p>"
        },
        "policy":{
          "shape":"PolicyDocument",
          "documentation":"<p>The resource-based policy.</p>"
        },
        "token":{
          "shape":"PolicyToken",
          "documentation":"<p>A unique identifier for the current revision of the policy.</p>"
        }
      }
    },
    "AttributeMatchingModel":{
      "type":"string",
      "enum":[
        "ONE_TO_ONE",
        "MANY_TO_MANY"
      ]
    },
    "AttributeName":{
      "type":"string",
      "max":255,
      "min":0,
      "pattern":"^[a-zA-Z_0-9- \\t]*$"
    },
    "AwsAccountId":{
      "type":"string",
      "pattern":"^\\d{12}$"
    },
    "AwsAccountIdList":{
      "type":"list",
      "member":{"shape":"AwsAccountId"}
    },
    "BatchDeleteUniqueIdInput":{
      "type":"structure",
      "required":[
        "uniqueIds",
        "workflowName"
      ],
      "members":{
        "inputSource":{
          "shape":"BatchDeleteUniqueIdInputInputSourceString",
          "documentation":"<p>The input source for the batch delete unique ID operation.</p>",
          "location":"header",
          "locationName":"inputSource"
        },
        "uniqueIds":{
          "shape":"UniqueIdList",
          "documentation":"<p>The unique IDs to delete.</p>",
          "location":"header",
          "locationName":"uniqueIds"
        },
        "workflowName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the workflow.</p>",
          "location":"uri",
          "locationName":"workflowName"
        }
      }
    },
    "BatchDeleteUniqueIdInputInputSourceString":{
      "type":"string",
      "pattern":"^arn:(aws|aws-us-gov|aws-cn):glue:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(table/[a-zA-Z_0-9-]{1,255}/[a-zA-Z_0-9-]{1,255})$"
    },
    "BatchDeleteUniqueIdOutput":{
      "type":"structure",
      "required":[
        "deleted",
        "disconnectedUniqueIds",
        "errors",
        "status"
      ],
      "members":{
        "deleted":{
          "shape":"DeletedUniqueIdList",
          "documentation":"<p>The unique IDs that were deleted.</p>"
        },
        "disconnectedUniqueIds":{
          "shape":"DisconnectedUniqueIdsList",
          "documentation":"<p>The unique IDs that were disconnected.</p>"
        },
        "errors":{
          "shape":"DeleteUniqueIdErrorsList",
          "documentation":"<p> The errors from deleting multiple unique IDs.</p>"
        },
        "status":{
          "shape":"DeleteUniqueIdStatus",
          "documentation":"<p>The status of the batch delete unique ID operation.</p>"
        }
      }
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The request could not be processed because of conflict in the current state of the resource. Example: Workflow already exists, Schema already exists, Workflow is currently running, etc. </p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "CreateIdMappingWorkflowInput":{
      "type":"structure",
      "required":[
        "idMappingTechniques",
        "inputSourceConfig",
        "workflowName"
      ],
      "members":{
        "description":{
          "shape":"Description",
          "documentation":"<p>A description of the workflow.</p>"
        },
        "idMappingTechniques":{
          "shape":"IdMappingTechniques",
          "documentation":"<p>An object which defines the ID mapping technique and any additional configurations.</p>"
        },
        "inputSourceConfig":{
          "shape":"IdMappingWorkflowInputSourceConfig",
          "documentation":"<p>A list of <code>InputSource</code> objects, which have the fields <code>InputSourceARN</code> and <code>SchemaName</code>.</p>"
        },
        "outputSourceConfig":{
          "shape":"IdMappingWorkflowOutputSourceConfig",
          "documentation":"<p>A list of <code>IdMappingWorkflowOutputSource</code> objects, each of which contains fields <code>OutputS3Path</code> and <code>Output</code>.</p>"
        },
        "roleArn":{
          "shape":"IdMappingRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role. Entity Resolution assumes this role to create resources on your behalf as part of workflow execution.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags used to organize, track, or control access for this resource.</p>"
        },
        "workflowName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the workflow. There can't be multiple <code>IdMappingWorkflows</code> with the same name.</p>"
        }
      }
    },
    "CreateIdMappingWorkflowOutput":{
      "type":"structure",
      "required":[
        "idMappingTechniques",
        "inputSourceConfig",
        "workflowArn",
        "workflowName"
      ],
      "members":{
        "description":{
          "shape":"Description",
          "documentation":"<p>A description of the workflow.</p>"
        },
        "idMappingTechniques":{
          "shape":"IdMappingTechniques",
          "documentation":"<p>An object which defines the ID mapping technique and any additional configurations.</p>"
        },
        "inputSourceConfig":{
          "shape":"IdMappingWorkflowInputSourceConfig",
          "documentation":"<p>A list of <code>InputSource</code> objects, which have the fields <code>InputSourceARN</code> and <code>SchemaName</code>.</p>"
        },
        "outputSourceConfig":{
          "shape":"IdMappingWorkflowOutputSourceConfig",
          "documentation":"<p>A list of <code>IdMappingWorkflowOutputSource</code> objects, each of which contains fields <code>OutputS3Path</code> and <code>Output</code>.</p>"
        },
        "roleArn":{
          "shape":"IdMappingRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role. Entity Resolution assumes this role to create resources on your behalf as part of workflow execution.</p>"
        },
        "workflowArn":{
          "shape":"IdMappingWorkflowArn",
          "documentation":"<p>The ARN (Amazon Resource Name) that Entity Resolution generated for the <code>IDMappingWorkflow</code>.</p>"
        },
        "workflowName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the workflow.</p>"
        }
      }
    },
    "CreateIdNamespaceInput":{
      "type":"structure",
      "required":[
        "idNamespaceName",
        "type"
      ],
      "members":{
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the ID namespace.</p>"
        },
        "idMappingWorkflowProperties":{
          "shape":"IdNamespaceIdMappingWorkflowPropertiesList",
          "documentation":"<p>Determines the properties of <code>IdMappingWorflow</code> where this <code>IdNamespace</code> can be used as a <code>Source</code> or a <code>Target</code>.</p>"
        },
        "idNamespaceName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the ID namespace.</p>"
        },
        "inputSourceConfig":{
          "shape":"IdNamespaceInputSourceConfig",
          "documentation":"<p>A list of <code>InputSource</code> objects, which have the fields <code>InputSourceARN</code> and <code>SchemaName</code>.</p>"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role. Entity Resolution assumes this role to access the resources defined in this <code>IdNamespace</code> on your behalf as part of the workflow run.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags used to organize, track, or control access for this resource.</p>"
        },
        "type":{
          "shape":"IdNamespaceType",
          "documentation":"<p>The type of ID namespace. There are two types: <code>SOURCE</code> and <code>TARGET</code>. </p> <p>The <code>SOURCE</code> contains configurations for <code>sourceId</code> data that will be processed in an ID mapping workflow. </p> <p>The <code>TARGET</code> contains a configuration of <code>targetId</code> to which all <code>sourceIds</code> will resolve to.</p>"
        }
      }
    },
    "CreateIdNamespaceOutput":{
      "type":"structure",
      "required":[
        "createdAt",
        "idNamespaceArn",
        "idNamespaceName",
        "type",
        "updatedAt"
      ],
      "members":{
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the ID namespace was created.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the ID namespace.</p>"
        },
        "idMappingWorkflowProperties":{
          "shape":"IdNamespaceIdMappingWorkflowPropertiesList",
          "documentation":"<p>Determines the properties of <code>IdMappingWorkflow</code> where this <code>IdNamespace</code> can be used as a <code>Source</code> or a <code>Target</code>.</p>"
        },
        "idNamespaceArn":{
          "shape":"IdNamespaceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the ID namespace.</p>"
        },
        "idNamespaceName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the ID namespace.</p>"
        },
        "inputSourceConfig":{
          "shape":"IdNamespaceInputSourceConfig",
          "documentation":"<p>A list of <code>InputSource</code> objects, which have the fields <code>InputSourceARN</code> and <code>SchemaName</code>.</p>"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role. Entity Resolution assumes this role to access the resources defined in <code>inputSourceConfig</code> on your behalf as part of the workflow run.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags used to organize, track, or control access for this resource.</p>"
        },
        "type":{
          "shape":"IdNamespaceType",
          "documentation":"<p>The type of ID namespace. There are two types: <code>SOURCE</code> and <code>TARGET</code>.</p> <p>The <code>SOURCE</code> contains configurations for <code>sourceId</code> data that will be processed in an ID mapping workflow. </p> <p>The <code>TARGET</code> contains a configuration of <code>targetId</code> to which all <code>sourceIds</code> will resolve to.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the ID namespace was last updated.</p>"
        }
      }
    },
    "CreateMatchingWorkflowInput":{
      "type":"structure",
      "required":[
        "inputSourceConfig",
        "outputSourceConfig",
        "resolutionTechniques",
        "roleArn",
        "workflowName"
      ],
      "members":{
        "description":{
          "shape":"Description",
          "documentation":"<p>A description of the workflow.</p>"
        },
        "incrementalRunConfig":{
          "shape":"IncrementalRunConfig",
          "documentation":"<p>An object which defines an incremental run type and has only <code>incrementalRunType</code> as a field.</p>"
        },
        "inputSourceConfig":{
          "shape":"InputSourceConfig",
          "documentation":"<p>A list of <code>InputSource</code> objects, which have the fields <code>InputSourceARN</code> and <code>SchemaName</code>.</p>"
        },
        "outputSourceConfig":{
          "shape":"OutputSourceConfig",
          "documentation":"<p>A list of <code>OutputSource</code> objects, each of which contains fields <code>OutputS3Path</code>, <code>ApplyNormalization</code>, and <code>Output</code>.</p>"
        },
        "resolutionTechniques":{
          "shape":"ResolutionTechniques",
          "documentation":"<p>An object which defines the <code>resolutionType</code> and the <code>ruleBasedProperties</code>.</p>"
        },
        "roleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role. Entity Resolution assumes this role to create resources on your behalf as part of workflow execution.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags used to organize, track, or control access for this resource.</p>"
        },
        "workflowName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the workflow. There can't be multiple <code>MatchingWorkflows</code> with the same name.</p>"
        }
      }
    },
    "CreateMatchingWorkflowOutput":{
      "type":"structure",
      "required":[
        "inputSourceConfig",
        "outputSourceConfig",
        "resolutionTechniques",
        "roleArn",
        "workflowArn",
        "workflowName"
      ],
      "members":{
        "description":{
          "shape":"Description",
          "documentation":"<p>A description of the workflow.</p>"
        },
        "incrementalRunConfig":{
          "shape":"IncrementalRunConfig",
          "documentation":"<p>An object which defines an incremental run type and has only <code>incrementalRunType</code> as a field.</p>"
        },
        "inputSourceConfig":{
          "shape":"InputSourceConfig",
          "documentation":"<p>A list of <code>InputSource</code> objects, which have the fields <code>InputSourceARN</code> and <code>SchemaName</code>.</p>"
        },
        "outputSourceConfig":{
          "shape":"OutputSourceConfig",
          "documentation":"<p>A list of <code>OutputSource</code> objects, each of which contains fields <code>OutputS3Path</code>, <code>ApplyNormalization</code>, and <code>Output</code>.</p>"
        },
        "resolutionTechniques":{
          "shape":"ResolutionTechniques",
          "documentation":"<p>An object which defines the <code>resolutionType</code> and the <code>ruleBasedProperties</code>.</p>"
        },
        "roleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role. Entity Resolution assumes this role to create resources on your behalf as part of workflow execution.</p>"
        },
        "workflowArn":{
          "shape":"MatchingWorkflowArn",
          "documentation":"<p>The ARN (Amazon Resource Name) that Entity Resolution generated for the <code>MatchingWorkflow</code>.</p>"
        },
        "workflowName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the workflow.</p>"
        }
      }
    },
    "CreateSchemaMappingInput":{
      "type":"structure",
      "required":[
        "mappedInputFields",
        "schemaName"
      ],
      "members":{
        "description":{
          "shape":"Description",
          "documentation":"<p>A description of the schema.</p>"
        },
        "mappedInputFields":{
          "shape":"SchemaInputAttributes",
          "documentation":"<p>A list of <code>MappedInputFields</code>. Each <code>MappedInputField</code> corresponds to a column the source data table, and contains column name plus additional information that Entity Resolution uses for matching.</p>"
        },
        "schemaName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the schema. There can't be multiple <code>SchemaMappings</code> with the same name.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags used to organize, track, or control access for this resource.</p>"
        }
      }
    },
    "CreateSchemaMappingOutput":{
      "type":"structure",
      "required":[
        "description",
        "mappedInputFields",
        "schemaArn",
        "schemaName"
      ],
      "members":{
        "description":{
          "shape":"Description",
          "documentation":"<p>A description of the schema.</p>"
        },
        "mappedInputFields":{
          "shape":"SchemaInputAttributes",
          "documentation":"<p>A list of <code>MappedInputFields</code>. Each <code>MappedInputField</code> corresponds to a column the source data table, and contains column name plus additional information that Entity Resolution uses for matching.</p>"
        },
        "schemaArn":{
          "shape":"SchemaMappingArn",
          "documentation":"<p>The ARN (Amazon Resource Name) that Entity Resolution generated for the <code>SchemaMapping</code>.</p>"
        },
        "schemaName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the schema.</p>"
        }
      }
    },
    "DeleteIdMappingWorkflowInput":{
      "type":"structure",
      "required":["workflowName"],
      "members":{
        "workflowName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the workflow to be deleted.</p>",
          "location":"uri",
          "locationName":"workflowName"
        }
      }
    },
    "DeleteIdMappingWorkflowOutput":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>A successful operation message.</p>"
        }
      }
    },
    "DeleteIdNamespaceInput":{
      "type":"structure",
      "required":["idNamespaceName"],
      "members":{
        "idNamespaceName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the ID namespace.</p>",
          "location":"uri",
          "locationName":"idNamespaceName"
        }
      }
    },
    "DeleteIdNamespaceOutput":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>A successful operation message.</p>"
        }
      }
    },
    "DeleteMatchingWorkflowInput":{
      "type":"structure",
      "required":["workflowName"],
      "members":{
        "workflowName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the workflow to be retrieved.</p>",
          "location":"uri",
          "locationName":"workflowName"
        }
      }
    },
    "DeleteMatchingWorkflowOutput":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>A successful operation message.</p>"
        }
      }
    },
    "DeletePolicyStatementInput":{
      "type":"structure",
      "required":[
        "arn",
        "statementId"
      ],
      "members":{
        "arn":{
          "shape":"VeniceGlobalArn",
          "documentation":"<p>The ARN of the resource for which the policy need to be deleted.</p>",
          "location":"uri",
          "locationName":"arn"
        },
        "statementId":{
          "shape":"StatementId",
          "documentation":"<p>A statement identifier that differentiates the statement from others in the same policy.</p>",
          "location":"uri",
          "locationName":"statementId"
        }
      }
    },
    "DeletePolicyStatementOutput":{
      "type":"structure",
      "required":[
        "arn",
        "token"
      ],
      "members":{
        "arn":{
          "shape":"VeniceGlobalArn",
          "documentation":"<p>The ARN of the resource for which the policy need to be deleted.</p>"
        },
        "policy":{
          "shape":"PolicyDocument",
          "documentation":"<p>The resource-based policy.</p>"
        },
        "token":{
          "shape":"PolicyToken",
          "documentation":"<p>A unique identifier for the deleted policy.</p>"
        }
      }
    },
    "DeleteSchemaMappingInput":{
      "type":"structure",
      "required":["schemaName"],
      "members":{
        "schemaName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the schema to delete.</p>",
          "location":"uri",
          "locationName":"schemaName"
        }
      }
    },
    "DeleteSchemaMappingOutput":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>A successful operation message.</p>"
        }
      }
    },
    "DeleteUniqueIdError":{
      "type":"structure",
      "required":[
        "errorType",
        "uniqueId"
      ],
      "members":{
        "errorType":{
          "shape":"DeleteUniqueIdErrorType",
          "documentation":"<p> The error type for the batch delete unique ID operation.</p>"
        },
        "uniqueId":{
          "shape":"UniqueId",
          "documentation":"<p>The unique ID that could not be deleted.</p>"
        }
      },
      "documentation":"<p>The Delete Unique Id error.</p>"
    },
    "DeleteUniqueIdErrorType":{
      "type":"string",
      "enum":[
        "SERVICE_ERROR",
        "VALIDATION_ERROR"
      ]
    },
    "DeleteUniqueIdErrorsList":{
      "type":"list",
      "member":{"shape":"DeleteUniqueIdError"}
    },
    "DeleteUniqueIdStatus":{
      "type":"string",
      "enum":[
        "COMPLETED",
        "ACCEPTED"
      ]
    },
    "DeletedUniqueId":{
      "type":"structure",
      "required":["uniqueId"],
      "members":{
        "uniqueId":{
          "shape":"UniqueId",
          "documentation":"<p> The unique ID of the deleted item.</p>"
        }
      },
      "documentation":"<p>The deleted unique ID.</p>"
    },
    "DeletedUniqueIdList":{
      "type":"list",
      "member":{"shape":"DeletedUniqueId"}
    },
    "Description":{
      "type":"string",
      "max":255,
      "min":0
    },
    "DisconnectedUniqueIdsList":{
      "type":"list",
      "member":{"shape":"UniqueId"}
    },
    "Document":{
      "type":"structure",
      "members":{
      },
      "document":true
    },
    "EntityName":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[a-zA-Z_0-9-]*$"
    },
    "EntityNameOrIdMappingWorkflowArn":{
      "type":"string",
      "pattern":"^[a-zA-Z_0-9-=+/]*$|^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(idmappingworkflow/[a-zA-Z_0-9-]{1,255})$"
    },
    "EntityNameOrIdNamespaceArn":{
      "type":"string",
      "pattern":"^[a-zA-Z_0-9-=+/]*$|^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(idnamespace/[a-zA-Z_0-9-]{1,255})$"
    },
    "ErrorDetails":{
      "type":"structure",
      "members":{
        "errorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p>The error message from the job, if there is one.</p>"
        }
      },
      "documentation":"<p>An object containing an error message, if there was an error.</p>"
    },
    "ErrorMessage":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "ExceedsLimitException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"},
        "quotaName":{
          "shape":"String",
          "documentation":"<p>The name of the quota that has been breached.</p>"
        },
        "quotaValue":{
          "shape":"Integer",
          "documentation":"<p>The current quota value for the customers.</p>"
        }
      },
      "documentation":"<p>The request was rejected because it attempted to create resources beyond the current Entity Resolution account limits. The error message describes the limit exceeded. </p>",
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "GetIdMappingJobInput":{
      "type":"structure",
      "required":[
        "jobId",
        "workflowName"
      ],
      "members":{
        "jobId":{
          "shape":"JobId",
          "documentation":"<p>The ID of the job.</p>",
          "location":"uri",
          "locationName":"jobId"
        },
        "workflowName":{
          "shape":"EntityNameOrIdMappingWorkflowArn",
          "documentation":"<p>The name of the workflow.</p>",
          "location":"uri",
          "locationName":"workflowName"
        }
      }
    },
    "GetIdMappingJobOutput":{
      "type":"structure",
      "required":[
        "jobId",
        "startTime",
        "status"
      ],
      "members":{
        "endTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the job has finished.</p>"
        },
        "errorDetails":{"shape":"ErrorDetails"},
        "jobId":{
          "shape":"JobId",
          "documentation":"<p>The ID of the job.</p>"
        },
        "metrics":{
          "shape":"IdMappingJobMetrics",
          "documentation":"<p>Metrics associated with the execution, specifically total records processed, unique IDs generated, and records the execution skipped.</p>"
        },
        "outputSourceConfig":{
          "shape":"IdMappingJobOutputSourceConfig",
          "documentation":"<p>A list of <code>OutputSource</code> objects.</p>"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the job was started.</p>"
        },
        "status":{
          "shape":"JobStatus",
          "documentation":"<p>The current status of the job.</p>"
        }
      }
    },
    "GetIdMappingWorkflowInput":{
      "type":"structure",
      "required":["workflowName"],
      "members":{
        "workflowName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the workflow.</p>",
          "location":"uri",
          "locationName":"workflowName"
        }
      }
    },
    "GetIdMappingWorkflowOutput":{
      "type":"structure",
      "required":[
        "createdAt",
        "idMappingTechniques",
        "inputSourceConfig",
        "updatedAt",
        "workflowArn",
        "workflowName"
      ],
      "members":{
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the workflow was created.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A description of the workflow.</p>"
        },
        "idMappingTechniques":{
          "shape":"IdMappingTechniques",
          "documentation":"<p>An object which defines the ID mapping technique and any additional configurations.</p>"
        },
        "inputSourceConfig":{
          "shape":"IdMappingWorkflowInputSourceConfig",
          "documentation":"<p>A list of <code>InputSource</code> objects, which have the fields <code>InputSourceARN</code> and <code>SchemaName</code>.</p>"
        },
        "outputSourceConfig":{
          "shape":"IdMappingWorkflowOutputSourceConfig",
          "documentation":"<p>A list of <code>OutputSource</code> objects, each of which contains fields <code>OutputS3Path</code> and <code>KMSArn</code>.</p>"
        },
        "roleArn":{
          "shape":"IdMappingRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role. Entity Resolution assumes this role to access Amazon Web Services resources on your behalf.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags used to organize, track, or control access for this resource.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the workflow was last updated.</p>"
        },
        "workflowArn":{
          "shape":"IdMappingWorkflowArn",
          "documentation":"<p>The ARN (Amazon Resource Name) that Entity Resolution generated for the <code>IdMappingWorkflow</code> .</p>"
        },
        "workflowName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the workflow.</p>"
        }
      }
    },
    "GetIdNamespaceInput":{
      "type":"structure",
      "required":["idNamespaceName"],
      "members":{
        "idNamespaceName":{
          "shape":"EntityNameOrIdNamespaceArn",
          "documentation":"<p>The name of the ID namespace.</p>",
          "location":"uri",
          "locationName":"idNamespaceName"
        }
      }
    },
    "GetIdNamespaceOutput":{
      "type":"structure",
      "required":[
        "createdAt",
        "idNamespaceArn",
        "idNamespaceName",
        "type",
        "updatedAt"
      ],
      "members":{
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the ID namespace was created.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the ID namespace.</p>"
        },
        "idMappingWorkflowProperties":{
          "shape":"IdNamespaceIdMappingWorkflowPropertiesList",
          "documentation":"<p>Determines the properties of <code>IdMappingWorkflow</code> where this <code>IdNamespace</code> can be used as a <code>Source</code> or a <code>Target</code>.</p>"
        },
        "idNamespaceArn":{
          "shape":"IdNamespaceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the ID namespace.</p>"
        },
        "idNamespaceName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the ID namespace.</p>"
        },
        "inputSourceConfig":{
          "shape":"IdNamespaceInputSourceConfig",
          "documentation":"<p>A list of <code>InputSource</code> objects, which have the fields <code>InputSourceARN</code> and <code>SchemaName</code>.</p>"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role. Entity Resolution assumes this role to access the resources defined in this <code>IdNamespace</code> on your behalf as part of a workflow run.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags used to organize, track, or control access for this resource.</p>"
        },
        "type":{
          "shape":"IdNamespaceType",
          "documentation":"<p>The type of ID namespace. There are two types: <code>SOURCE</code> and <code>TARGET</code>.</p> <p>The <code>SOURCE</code> contains configurations for <code>sourceId</code> data that will be processed in an ID mapping workflow. </p> <p>The <code>TARGET</code> contains a configuration of <code>targetId</code> to which all <code>sourceIds</code> will resolve to.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the ID namespace was last updated.</p>"
        }
      }
    },
    "GetMatchIdInput":{
      "type":"structure",
      "required":[
        "record",
        "workflowName"
      ],
      "members":{
        "applyNormalization":{
          "shape":"Boolean",
          "documentation":"<p>Normalizes the attributes defined in the schema in the input data. For example, if an attribute has an <code>AttributeType</code> of <code>PHONE_NUMBER</code>, and the data in the input table is in a format of 1234567890, Entity Resolution will normalize this field in the output to (123)-456-7890.</p>"
        },
        "record":{
          "shape":"RecordAttributeMap",
          "documentation":"<p>The record to fetch the Match ID for.</p>"
        },
        "workflowName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the workflow.</p>",
          "location":"uri",
          "locationName":"workflowName"
        }
      }
    },
    "GetMatchIdOutput":{
      "type":"structure",
      "members":{
        "matchId":{
          "shape":"String",
          "documentation":"<p>The unique identifiers for this group of match records.</p>"
        },
        "matchRule":{
          "shape":"String",
          "documentation":"<p>The rule the record matched on.</p>"
        }
      }
    },
    "GetMatchingJobInput":{
      "type":"structure",
      "required":[
        "jobId",
        "workflowName"
      ],
      "members":{
        "jobId":{
          "shape":"JobId",
          "documentation":"<p>The ID of the job.</p>",
          "location":"uri",
          "locationName":"jobId"
        },
        "workflowName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the workflow.</p>",
          "location":"uri",
          "locationName":"workflowName"
        }
      }
    },
    "GetMatchingJobOutput":{
      "type":"structure",
      "required":[
        "jobId",
        "startTime",
        "status"
      ],
      "members":{
        "endTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the job has finished.</p>"
        },
        "errorDetails":{
          "shape":"ErrorDetails",
          "documentation":"<p>An object containing an error message, if there was an error.</p>"
        },
        "jobId":{
          "shape":"JobId",
          "documentation":"<p>The ID of the job.</p>"
        },
        "metrics":{
          "shape":"JobMetrics",
          "documentation":"<p>Metrics associated with the execution, specifically total records processed, unique IDs generated, and records the execution skipped.</p>"
        },
        "outputSourceConfig":{
          "shape":"JobOutputSourceConfig",
          "documentation":"<p>A list of <code>OutputSource</code> objects.</p>"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the job was started.</p>"
        },
        "status":{
          "shape":"JobStatus",
          "documentation":"<p>The current status of the job.</p>"
        }
      }
    },
    "GetMatchingWorkflowInput":{
      "type":"structure",
      "required":["workflowName"],
      "members":{
        "workflowName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the workflow.</p>",
          "location":"uri",
          "locationName":"workflowName"
        }
      }
    },
    "GetMatchingWorkflowOutput":{
      "type":"structure",
      "required":[
        "createdAt",
        "inputSourceConfig",
        "outputSourceConfig",
        "resolutionTechniques",
        "roleArn",
        "updatedAt",
        "workflowArn",
        "workflowName"
      ],
      "members":{
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the workflow was created.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A description of the workflow.</p>"
        },
        "incrementalRunConfig":{
          "shape":"IncrementalRunConfig",
          "documentation":"<p>An object which defines an incremental run type and has only <code>incrementalRunType</code> as a field.</p>"
        },
        "inputSourceConfig":{
          "shape":"InputSourceConfig",
          "documentation":"<p>A list of <code>InputSource</code> objects, which have the fields <code>InputSourceARN</code> and <code>SchemaName</code>.</p>"
        },
        "outputSourceConfig":{
          "shape":"OutputSourceConfig",
          "documentation":"<p>A list of <code>OutputSource</code> objects, each of which contains fields <code>OutputS3Path</code>, <code>ApplyNormalization</code>, and <code>Output</code>.</p>"
        },
        "resolutionTechniques":{
          "shape":"ResolutionTechniques",
          "documentation":"<p>An object which defines the <code>resolutionType</code> and the <code>ruleBasedProperties</code>.</p>"
        },
        "roleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role. Entity Resolution assumes this role to access Amazon Web Services resources on your behalf.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags used to organize, track, or control access for this resource.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the workflow was last updated.</p>"
        },
        "workflowArn":{
          "shape":"MatchingWorkflowArn",
          "documentation":"<p>The ARN (Amazon Resource Name) that Entity Resolution generated for the <code>MatchingWorkflow</code>.</p>"
        },
        "workflowName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the workflow.</p>"
        }
      }
    },
    "GetPolicyInput":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"VeniceGlobalArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource for which the policy need to be returned.</p>",
          "location":"uri",
          "locationName":"arn"
        }
      }
    },
    "GetPolicyOutput":{
      "type":"structure",
      "required":[
        "arn",
        "token"
      ],
      "members":{
        "arn":{
          "shape":"VeniceGlobalArn",
          "documentation":"<p>The Entity Resolution resource ARN.</p>"
        },
        "policy":{
          "shape":"PolicyDocument",
          "documentation":"<p>The resource-based policy.</p>"
        },
        "token":{
          "shape":"PolicyToken",
          "documentation":"<p>A unique identifier for the current revision of the policy.</p>"
        }
      }
    },
    "GetProviderServiceInput":{
      "type":"structure",
      "required":[
        "providerName",
        "providerServiceName"
      ],
      "members":{
        "providerName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the provider. This name is typically the company name.</p>",
          "location":"uri",
          "locationName":"providerName"
        },
        "providerServiceName":{
          "shape":"ProviderServiceArn",
          "documentation":"<p>The ARN (Amazon Resource Name) of the product that the provider service provides.</p>",
          "location":"uri",
          "locationName":"providerServiceName"
        }
      }
    },
    "GetProviderServiceOutput":{
      "type":"structure",
      "required":[
        "anonymizedOutput",
        "providerEndpointConfiguration",
        "providerEntityOutputDefinition",
        "providerName",
        "providerServiceArn",
        "providerServiceDisplayName",
        "providerServiceName",
        "providerServiceType"
      ],
      "members":{
        "anonymizedOutput":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether output data from the provider is anonymized. A value of <code>TRUE</code> means the output will be anonymized and you can't relate the data that comes back from the provider to the identifying input. A value of <code>FALSE</code> means the output won't be anonymized and you can relate the data that comes back from the provider to your source data. </p>"
        },
        "providerComponentSchema":{
          "shape":"ProviderComponentSchema",
          "documentation":"<p>Input schema for the provider service.</p>"
        },
        "providerConfigurationDefinition":{
          "shape":"Document",
          "documentation":"<p>The definition of the provider configuration.</p>"
        },
        "providerEndpointConfiguration":{
          "shape":"ProviderEndpointConfiguration",
          "documentation":"<p>The required configuration fields to use with the provider service.</p>"
        },
        "providerEntityOutputDefinition":{
          "shape":"Document",
          "documentation":"<p>The definition of the provider entity output.</p>"
        },
        "providerIdNameSpaceConfiguration":{
          "shape":"ProviderIdNameSpaceConfiguration",
          "documentation":"<p>The provider configuration required for different ID namespace types.</p>"
        },
        "providerIntermediateDataAccessConfiguration":{
          "shape":"ProviderIntermediateDataAccessConfiguration",
          "documentation":"<p>The Amazon Web Services accounts and the S3 permissions that are required by some providers to create an S3 bucket for intermediate data storage.</p>"
        },
        "providerJobConfiguration":{
          "shape":"Document",
          "documentation":"<p>Provider service job configurations.</p>"
        },
        "providerName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the provider. This name is typically the company name.</p>"
        },
        "providerServiceArn":{
          "shape":"ProviderServiceArn",
          "documentation":"<p>The ARN (Amazon Resource Name) that Entity Resolution generated for the provider service.</p>"
        },
        "providerServiceDisplayName":{
          "shape":"ProviderServiceDisplayName",
          "documentation":"<p>The display name of the provider service.</p>"
        },
        "providerServiceName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the product that the provider service provides. </p>"
        },
        "providerServiceType":{
          "shape":"ServiceType",
          "documentation":"<p>The type of provider service.</p>"
        }
      }
    },
    "GetSchemaMappingInput":{
      "type":"structure",
      "required":["schemaName"],
      "members":{
        "schemaName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the schema to be retrieved.</p>",
          "location":"uri",
          "locationName":"schemaName"
        }
      }
    },
    "GetSchemaMappingOutput":{
      "type":"structure",
      "required":[
        "createdAt",
        "hasWorkflows",
        "mappedInputFields",
        "schemaArn",
        "schemaName",
        "updatedAt"
      ],
      "members":{
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the <code>SchemaMapping</code> was created.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A description of the schema.</p>"
        },
        "hasWorkflows":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the schema mapping has been applied to a workflow.</p>"
        },
        "mappedInputFields":{
          "shape":"SchemaInputAttributes",
          "documentation":"<p>A list of <code>MappedInputFields</code>. Each <code>MappedInputField</code> corresponds to a column the source data table, and contains column name plus additional information Venice uses for matching.</p>"
        },
        "schemaArn":{
          "shape":"SchemaMappingArn",
          "documentation":"<p>The ARN (Amazon Resource Name) that Entity Resolution generated for the SchemaMapping.</p>"
        },
        "schemaName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the schema.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags used to organize, track, or control access for this resource.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the <code>SchemaMapping</code> was last updated.</p>"
        }
      }
    },
    "IdMappingJobMetrics":{
      "type":"structure",
      "members":{
        "inputRecords":{
          "shape":"Integer",
          "documentation":"<p>The total number of records that were input for processing.</p>"
        },
        "recordsNotProcessed":{
          "shape":"Integer",
          "documentation":"<p>The total number of records that did not get processed.</p>"
        },
        "totalMappedRecords":{
          "shape":"Integer",
          "documentation":"<p> The total number of records that were mapped.</p>"
        },
        "totalMappedSourceRecords":{
          "shape":"Integer",
          "documentation":"<p> The total number of mapped source records.</p>"
        },
        "totalMappedTargetRecords":{
          "shape":"Integer",
          "documentation":"<p> The total number of distinct mapped target records.</p>"
        },
        "totalRecordsProcessed":{
          "shape":"Integer",
          "documentation":"<p>The total number of records that were processed.</p>"
        }
      },
      "documentation":"<p>An object containing <code>InputRecords</code>, <code>RecordsNotProcessed</code>, <code>TotalRecordsProcessed</code>, <code>TotalMappedRecords</code>, <code>TotalMappedSourceRecords</code>, and <code>TotalMappedTargetRecords</code>.</p>"
    },
    "IdMappingJobOutputSource":{
      "type":"structure",
      "required":[
        "outputS3Path",
        "roleArn"
      ],
      "members":{
        "KMSArn":{
          "shape":"KMSArn",
          "documentation":"<p>Customer KMS ARN for encryption at rest. If not provided, system will use an Entity Resolution managed KMS key.</p>"
        },
        "outputS3Path":{
          "shape":"S3Path",
          "documentation":"<p>The S3 path to which Entity Resolution will write the output table.</p>"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role. Entity Resolution assumes this role to access Amazon Web Services resources on your behalf as part of workflow execution.</p>"
        }
      },
      "documentation":"<p>An object containing <code>KMSArn</code>, <code>OutputS3Path</code>, and <code>RoleARN</code>.</p>"
    },
    "IdMappingJobOutputSourceConfig":{
      "type":"list",
      "member":{"shape":"IdMappingJobOutputSource"},
      "max":1,
      "min":1
    },
    "IdMappingRoleArn":{
      "type":"string",
      "max":512,
      "min":0,
      "pattern":"^$|^arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+$"
    },
    "IdMappingRuleBasedProperties":{
      "type":"structure",
      "required":[
        "attributeMatchingModel",
        "recordMatchingModel",
        "ruleDefinitionType"
      ],
      "members":{
        "attributeMatchingModel":{
          "shape":"AttributeMatchingModel",
          "documentation":"<p>The comparison type. You can either choose <code>ONE_TO_ONE</code> or <code>MANY_TO_MANY</code> as the <code>attributeMatchingModel</code>. </p> <p>If you choose <code>MANY_TO_MANY</code>, the system can match attributes across the sub-types of an attribute type. For example, if the value of the <code>Email</code> field of Profile A matches the value of the <code>BusinessEmail</code> field of Profile B, the two profiles are matched on the <code>Email</code> attribute type. </p> <p>If you choose <code>ONE_TO_ONE</code>, the system can only match attributes if the sub-types are an exact match. For example, for the <code>Email</code> attribute type, the system will only consider it a match if the value of the <code>Email</code> field of Profile A matches the value of the <code>Email</code> field of Profile B.</p>"
        },
        "recordMatchingModel":{
          "shape":"RecordMatchingModel",
          "documentation":"<p> The type of matching record that is allowed to be used in an ID mapping workflow. </p> <p>If the value is set to <code>ONE_SOURCE_TO_ONE_TARGET</code>, only one record in the source can be matched to the same record in the target.</p> <p>If the value is set to <code>MANY_SOURCE_TO_ONE_TARGET</code>, multiple records in the source can be matched to one record in the target.</p>"
        },
        "ruleDefinitionType":{
          "shape":"IdMappingWorkflowRuleDefinitionType",
          "documentation":"<p> The set of rules you can use in an ID mapping workflow. The limitations specified for the source or target to define the match rules must be compatible.</p>"
        },
        "rules":{
          "shape":"IdMappingRuleBasedPropertiesRulesList",
          "documentation":"<p> The rules that can be used for ID mapping.</p>"
        }
      },
      "documentation":"<p> An object that defines the list of matching rules to run in an ID mapping workflow.</p>"
    },
    "IdMappingRuleBasedPropertiesRulesList":{
      "type":"list",
      "member":{"shape":"Rule"},
      "max":25,
      "min":1
    },
    "IdMappingTechniques":{
      "type":"structure",
      "required":["idMappingType"],
      "members":{
        "idMappingType":{
          "shape":"IdMappingType",
          "documentation":"<p>The type of ID mapping.</p>"
        },
        "providerProperties":{
          "shape":"ProviderProperties",
          "documentation":"<p>An object which defines any additional configurations required by the provider service.</p>"
        },
        "ruleBasedProperties":{
          "shape":"IdMappingRuleBasedProperties",
          "documentation":"<p> An object which defines any additional configurations required by rule-based matching.</p>"
        }
      },
      "documentation":"<p>An object which defines the ID mapping technique and any additional configurations.</p>"
    },
    "IdMappingType":{
      "type":"string",
      "enum":[
        "PROVIDER",
        "RULE_BASED"
      ]
    },
    "IdMappingWorkflowArn":{
      "type":"string",
      "pattern":"^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(idmappingworkflow/[a-zA-Z_0-9-]{1,255})$"
    },
    "IdMappingWorkflowInputSource":{
      "type":"structure",
      "required":["inputSourceARN"],
      "members":{
        "inputSourceARN":{
          "shape":"IdMappingWorkflowInputSourceInputSourceARNString",
          "documentation":"<p>An Glue table Amazon Resource Name (ARN) or a matching workflow ARN for the input source table.</p>"
        },
        "schemaName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the schema to be retrieved.</p>"
        },
        "type":{
          "shape":"IdNamespaceType",
          "documentation":"<p>The type of ID namespace. There are two types: <code>SOURCE</code> and <code>TARGET</code>. </p> <p>The <code>SOURCE</code> contains configurations for <code>sourceId</code> data that will be processed in an ID mapping workflow. </p> <p>The <code>TARGET</code> contains a configuration of <code>targetId</code> which all <code>sourceIds</code> will resolve to.</p>"
        }
      },
      "documentation":"<p>An object containing <code>InputSourceARN</code>, <code>SchemaName</code>, and <code>Type</code>.</p>"
    },
    "IdMappingWorkflowInputSourceConfig":{
      "type":"list",
      "member":{"shape":"IdMappingWorkflowInputSource"},
      "max":20,
      "min":1
    },
    "IdMappingWorkflowInputSourceInputSourceARNString":{
      "type":"string",
      "pattern":"^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(idnamespace/[a-zA-Z_0-9-]{1,255})$|^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(matchingworkflow/[a-zA-Z_0-9-]{1,255})$|^arn:(aws|aws-us-gov|aws-cn):glue:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(table/[a-zA-Z_0-9-]{1,255}/[a-zA-Z_0-9-]{1,255})$"
    },
    "IdMappingWorkflowList":{
      "type":"list",
      "member":{"shape":"IdMappingWorkflowSummary"}
    },
    "IdMappingWorkflowOutputSource":{
      "type":"structure",
      "required":["outputS3Path"],
      "members":{
        "KMSArn":{
          "shape":"KMSArn",
          "documentation":"<p>Customer KMS ARN for encryption at rest. If not provided, system will use an Entity Resolution managed KMS key.</p>"
        },
        "outputS3Path":{
          "shape":"S3Path",
          "documentation":"<p>The S3 path to which Entity Resolution will write the output table.</p>"
        }
      },
      "documentation":"<p>The output source for the ID mapping workflow.</p>"
    },
    "IdMappingWorkflowOutputSourceConfig":{
      "type":"list",
      "member":{"shape":"IdMappingWorkflowOutputSource"},
      "max":1,
      "min":1
    },
    "IdMappingWorkflowRuleDefinitionType":{
      "type":"string",
      "enum":[
        "SOURCE",
        "TARGET"
      ]
    },
    "IdMappingWorkflowRuleDefinitionTypeList":{
      "type":"list",
      "member":{"shape":"IdMappingWorkflowRuleDefinitionType"}
    },
    "IdMappingWorkflowSummary":{
      "type":"structure",
      "required":[
        "createdAt",
        "updatedAt",
        "workflowArn",
        "workflowName"
      ],
      "members":{
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the workflow was created.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the workflow was last updated.</p>"
        },
        "workflowArn":{
          "shape":"IdMappingWorkflowArn",
          "documentation":"<p>The ARN (Amazon Resource Name) that Entity Resolution generated for the <code>IdMappingWorkflow</code>.</p>"
        },
        "workflowName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the workflow.</p>"
        }
      },
      "documentation":"<p>A list of <code>IdMappingWorkflowSummary</code> objects, each of which contain the fields <code>WorkflowName</code>, <code>WorkflowArn</code>, <code>CreatedAt</code>, and <code>UpdatedAt</code>.</p>"
    },
    "IdNamespaceArn":{
      "type":"string",
      "pattern":"^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(idnamespace/[a-zA-Z_0-9-]{1,255})$"
    },
    "IdNamespaceIdMappingWorkflowMetadata":{
      "type":"structure",
      "required":["idMappingType"],
      "members":{
        "idMappingType":{
          "shape":"IdMappingType",
          "documentation":"<p>The type of ID mapping.</p>"
        }
      },
      "documentation":"<p>The settings for the ID namespace for the ID mapping workflow job.</p>"
    },
    "IdNamespaceIdMappingWorkflowMetadataList":{
      "type":"list",
      "member":{"shape":"IdNamespaceIdMappingWorkflowMetadata"},
      "max":1,
      "min":1
    },
    "IdNamespaceIdMappingWorkflowProperties":{
      "type":"structure",
      "required":["idMappingType"],
      "members":{
        "idMappingType":{
          "shape":"IdMappingType",
          "documentation":"<p>The type of ID mapping.</p>"
        },
        "providerProperties":{
          "shape":"NamespaceProviderProperties",
          "documentation":"<p>An object which defines any additional configurations required by the provider service.</p>"
        },
        "ruleBasedProperties":{
          "shape":"NamespaceRuleBasedProperties",
          "documentation":"<p> An object which defines any additional configurations required by rule-based matching.</p>"
        }
      },
      "documentation":"<p>An object containing <code>IdMappingType</code>, <code>ProviderProperties</code>, and <code>RuleBasedProperties</code>.</p>"
    },
    "IdNamespaceIdMappingWorkflowPropertiesList":{
      "type":"list",
      "member":{"shape":"IdNamespaceIdMappingWorkflowProperties"},
      "max":1,
      "min":1
    },
    "IdNamespaceInputSource":{
      "type":"structure",
      "required":["inputSourceARN"],
      "members":{
        "inputSourceARN":{
          "shape":"IdNamespaceInputSourceInputSourceARNString",
          "documentation":"<p>An Glue table Amazon Resource Name (ARN) or a matching workflow ARN for the input source table.</p>"
        },
        "schemaName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the schema.</p>"
        }
      },
      "documentation":"<p>An object containing <code>InputSourceARN</code> and <code>SchemaName</code>.</p>"
    },
    "IdNamespaceInputSourceConfig":{
      "type":"list",
      "member":{"shape":"IdNamespaceInputSource"},
      "max":20,
      "min":0
    },
    "IdNamespaceInputSourceInputSourceARNString":{
      "type":"string",
      "pattern":"^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(idnamespace/[a-zA-Z_0-9-]{1,255})$|^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(matchingworkflow/[a-zA-Z_0-9-]{1,255})$|^arn:(aws|aws-us-gov|aws-cn):glue:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(table/[a-zA-Z_0-9-]{1,255}/[a-zA-Z_0-9-]{1,255})$"
    },
    "IdNamespaceList":{
      "type":"list",
      "member":{"shape":"IdNamespaceSummary"}
    },
    "IdNamespaceSummary":{
      "type":"structure",
      "required":[
        "createdAt",
        "idNamespaceArn",
        "idNamespaceName",
        "type",
        "updatedAt"
      ],
      "members":{
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the ID namespace was created.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the ID namespace.</p>"
        },
        "idMappingWorkflowProperties":{
          "shape":"IdNamespaceIdMappingWorkflowMetadataList",
          "documentation":"<p>An object which defines any additional configurations required by the ID mapping workflow.</p>"
        },
        "idNamespaceArn":{
          "shape":"IdNamespaceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the ID namespace.</p>"
        },
        "idNamespaceName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the ID namespace.</p>"
        },
        "type":{
          "shape":"IdNamespaceType",
          "documentation":"<p>The type of ID namespace. There are two types: <code>SOURCE</code> and <code>TARGET</code>.</p> <p>The <code>SOURCE</code> contains configurations for <code>sourceId</code> data that will be processed in an ID mapping workflow. </p> <p>The <code>TARGET</code> contains a configuration of <code>targetId</code> which all <code>sourceIds</code> will resolve to.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the ID namespace was last updated.</p>"
        }
      },
      "documentation":"<p>A summary of ID namespaces.</p>"
    },
    "IdNamespaceType":{
      "type":"string",
      "enum":[
        "SOURCE",
        "TARGET"
      ]
    },
    "IncrementalRunConfig":{
      "type":"structure",
      "members":{
        "incrementalRunType":{
          "shape":"IncrementalRunType",
          "documentation":"<p>The type of incremental run. It takes only one value: <code>IMMEDIATE</code>.</p>"
        }
      },
      "documentation":"<p>An object which defines an incremental run type and has only <code>incrementalRunType</code> as a field.</p>"
    },
    "IncrementalRunType":{
      "type":"string",
      "enum":["IMMEDIATE"]
    },
    "InputSource":{
      "type":"structure",
      "required":[
        "inputSourceARN",
        "schemaName"
      ],
      "members":{
        "applyNormalization":{
          "shape":"Boolean",
          "documentation":"<p>Normalizes the attributes defined in the schema in the input data. For example, if an attribute has an <code>AttributeType</code> of <code>PHONE_NUMBER</code>, and the data in the input table is in a format of 1234567890, Entity Resolution will normalize this field in the output to (123)-456-7890.</p>"
        },
        "inputSourceARN":{
          "shape":"InputSourceInputSourceARNString",
          "documentation":"<p>An Glue table Amazon Resource Name (ARN) for the input source table.</p>"
        },
        "schemaName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the schema to be retrieved.</p>"
        }
      },
      "documentation":"<p>An object containing <code>InputSourceARN</code>, <code>SchemaName</code>, and <code>ApplyNormalization</code>.</p>"
    },
    "InputSourceConfig":{
      "type":"list",
      "member":{"shape":"InputSource"},
      "max":20,
      "min":1
    },
    "InputSourceInputSourceARNString":{
      "type":"string",
      "pattern":"^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(idnamespace/[a-zA-Z_0-9-]{1,255})$|^arn:(aws|aws-us-gov|aws-cn):entityresolution:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(matchingworkflow/[a-zA-Z_0-9-]{1,255})$|^arn:(aws|aws-us-gov|aws-cn):glue:[a-z]{2}-[a-z]{1,10}-[0-9]:[0-9]{12}:(table/[a-zA-Z_0-9-]{1,255}/[a-zA-Z_0-9-]{1,255})$"
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "IntermediateSourceConfiguration":{
      "type":"structure",
      "required":["intermediateS3Path"],
      "members":{
        "intermediateS3Path":{
          "shape":"S3Path",
          "documentation":"<p>The Amazon S3 location (bucket and prefix). For example: <code>s3://provider_bucket/DOC-EXAMPLE-BUCKET</code> </p>"
        }
      },
      "documentation":"<p>The Amazon S3 location that temporarily stores your data while it processes. Your information won't be saved permanently.</p>"
    },
    "InternalServerException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>This exception occurs when there is an internal failure in the Entity Resolution service. </p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "JobId":{
      "type":"string",
      "pattern":"^[a-f0-9]{32}$"
    },
    "JobList":{
      "type":"list",
      "member":{"shape":"JobSummary"}
    },
    "JobMetrics":{
      "type":"structure",
      "members":{
        "inputRecords":{
          "shape":"Integer",
          "documentation":"<p>The total number of input records.</p>"
        },
        "matchIDs":{
          "shape":"Integer",
          "documentation":"<p>The total number of <code>matchID</code>s generated.</p>"
        },
        "recordsNotProcessed":{
          "shape":"Integer",
          "documentation":"<p>The total number of records that did not get processed.</p>"
        },
        "totalRecordsProcessed":{
          "shape":"Integer",
          "documentation":"<p>The total number of records processed.</p>"
        }
      },
      "documentation":"<p>An object containing <code>InputRecords</code>, <code>TotalRecordsProcessed</code>, <code>MatchIDs</code>, and <code>RecordsNotProcessed</code>.</p>"
    },
    "JobOutputSource":{
      "type":"structure",
      "required":[
        "outputS3Path",
        "roleArn"
      ],
      "members":{
        "KMSArn":{
          "shape":"KMSArn",
          "documentation":"<p>Customer KMS ARN for encryption at rest. If not provided, system will use an Entity Resolution managed KMS key.</p>"
        },
        "outputS3Path":{
          "shape":"S3Path",
          "documentation":"<p>The S3 path to which Entity Resolution will write the output table.</p>"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role. Entity Resolution assumes this role to access Amazon Web Services resources on your behalf as part of workflow execution.</p>"
        }
      },
      "documentation":"<p>An object containing <code>KMSArn</code>, <code>OutputS3Path</code>, and <code>RoleArn</code>.</p>"
    },
    "JobOutputSourceConfig":{
      "type":"list",
      "member":{"shape":"JobOutputSource"},
      "max":1,
      "min":1
    },
    "JobStatus":{
      "type":"string",
      "enum":[
        "RUNNING",
        "SUCCEEDED",
        "FAILED",
        "QUEUED"
      ]
    },
    "JobSummary":{
      "type":"structure",
      "required":[
        "jobId",
        "startTime",
        "status"
      ],
      "members":{
        "endTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the job has finished.</p>"
        },
        "jobId":{
          "shape":"JobId",
          "documentation":"<p>The ID of the job.</p>"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the job was started.</p>"
        },
        "status":{
          "shape":"JobStatus",
          "documentation":"<p>The current status of the job.</p>"
        }
      },
      "documentation":"<p>An object containing the <code>JobId</code>, <code>Status</code>, <code>StartTime</code>, and <code>EndTime</code> of a job.</p>"
    },
    "KMSArn":{
      "type":"string",
      "pattern":"^arn:aws:kms:.*:[0-9]+:.*$"
    },
    "ListIdMappingJobsInput":{
      "type":"structure",
      "required":["workflowName"],
      "members":{
        "maxResults":{
          "shape":"ListIdMappingJobsInputMaxResultsInteger",
          "documentation":"<p>The maximum number of objects returned per page.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The pagination token from the previous API call.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "workflowName":{
          "shape":"EntityNameOrIdMappingWorkflowArn",
          "documentation":"<p>The name of the workflow to be retrieved.</p>",
          "location":"uri",
          "locationName":"workflowName"
        }
      }
    },
    "ListIdMappingJobsInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":25,
      "min":1
    },
    "ListIdMappingJobsOutput":{
      "type":"structure",
      "members":{
        "jobs":{
          "shape":"JobList",
          "documentation":"<p>A list of <code>JobSummary</code> objects.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The pagination token from the previous API call.</p>"
        }
      }
    },
    "ListIdMappingWorkflowsInput":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"ListIdMappingWorkflowsInputMaxResultsInteger",
          "documentation":"<p>The maximum number of objects returned per page.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The pagination token from the previous API call.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListIdMappingWorkflowsInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":25
    },
    "ListIdMappingWorkflowsOutput":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The pagination token from the previous API call.</p>"
        },
        "workflowSummaries":{
          "shape":"IdMappingWorkflowList",
          "documentation":"<p>A list of <code>IdMappingWorkflowSummary</code> objects.</p>"
        }
      }
    },
    "ListIdNamespacesInput":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"ListIdNamespacesInputMaxResultsInteger",
          "documentation":"<p>The maximum number of <code>IdNamespace</code> objects returned per page.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The pagination token from the previous API call.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListIdNamespacesInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":25
    },
    "ListIdNamespacesOutput":{
      "type":"structure",
      "members":{
        "idNamespaceSummaries":{
          "shape":"IdNamespaceList",
          "documentation":"<p>A list of <code>IdNamespaceSummaries</code> objects.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The pagination token from the previous API call.</p>"
        }
      }
    },
    "ListMatchingJobsInput":{
      "type":"structure",
      "required":["workflowName"],
      "members":{
        "maxResults":{
          "shape":"ListMatchingJobsInputMaxResultsInteger",
          "documentation":"<p>The maximum number of objects returned per page.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The pagination token from the previous API call.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "workflowName":{
          "shape":"EntityName",
          "documentation":"<p>The name of the workflow to be retrieved.</p>",
          "location":"uri",
          "locationName":"workflowName"
        }
      }
    },
    "ListMatchingJobsInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":25,
      "min":1
    },
    "ListMatchingJobsOutput":{
      "type":"structure",
      "members":{
        "jobs":{
          "shape":"JobList",
          "documentation":"<p>A list of <code>JobSummary</code> objects, each of which contain the ID, status, start time, and end time of a job.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The pagination token from the previous API call.</p>"
        }
      }
    },
    "ListMatchingWorkflowsInput":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"ListMatchingWorkflowsInputMaxResultsInteger",
          "documentation":"<p>The maximum number of objects returned per page.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The pagination token from the previous API call.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListMatchingWorkflowsInputMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":25
    },
    "ListMatchingWorkflowsOutput":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The pagination token from the previous API call.</p>"
        },
        "workflowSummaries":{
          "shape":"MatchingWorkflowList",
[...]
