{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-02-26",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"mgn",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"mgn",
    "serviceFullName":"Application Migration Service",
    "serviceId":"mgn",
    "signatureVersion":"v4",
    "signingName":"mgn",
    "uid":"mgn-2020-02-26"
  },
  "operations":{
    "ArchiveApplication":{
      "name":"ArchiveApplication",
      "http":{
        "method":"POST",
        "requestUri":"/ArchiveApplication",
        "responseCode":200
      },
      "input":{"shape":"ArchiveApplicationRequest"},
      "output":{"shape":"Application"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Archive application.</p>"
    },
    "ArchiveWave":{
      "name":"ArchiveWave",
      "http":{
        "method":"POST",
        "requestUri":"/ArchiveWave",
        "responseCode":200
      },
      "input":{"shape":"ArchiveWaveRequest"},
      "output":{"shape":"Wave"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Archive wave.</p>"
    },
    "AssociateApplications":{
      "name":"AssociateApplications",
      "http":{
        "method":"POST",
        "requestUri":"/AssociateApplications",
        "responseCode":200
      },
      "input":{"shape":"AssociateApplicationsRequest"},
      "output":{"shape":"AssociateApplicationsResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Associate applications to wave.</p>",
      "idempotent":true
    },
    "AssociateSourceServers":{
      "name":"AssociateSourceServers",
      "http":{
        "method":"POST",
        "requestUri":"/AssociateSourceServers",
        "responseCode":200
      },
      "input":{"shape":"AssociateSourceServersRequest"},
      "output":{"shape":"AssociateSourceServersResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Associate source servers to application.</p>",
      "idempotent":true
    },
    "ChangeServerLifeCycleState":{
      "name":"ChangeServerLifeCycleState",
      "http":{
        "method":"POST",
        "requestUri":"/ChangeServerLifeCycleState",
        "responseCode":200
      },
      "input":{"shape":"ChangeServerLifeCycleStateRequest"},
      "output":{"shape":"SourceServer"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Allows the user to set the SourceServer.LifeCycle.state property for specific Source Server IDs to one of the following: READY_FOR_TEST or READY_FOR_CUTOVER. This command only works if the Source Server is already launchable (dataReplicationInfo.lagDuration is not null.)</p>"
    },
    "CreateApplication":{
      "name":"CreateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/CreateApplication",
        "responseCode":201
      },
      "input":{"shape":"CreateApplicationRequest"},
      "output":{"shape":"Application"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Create application.</p>",
      "idempotent":true
    },
    "CreateConnector":{
      "name":"CreateConnector",
      "http":{
        "method":"POST",
        "requestUri":"/CreateConnector",
        "responseCode":201
      },
      "input":{"shape":"CreateConnectorRequest"},
      "output":{"shape":"Connector"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Create Connector.</p>",
      "idempotent":true
    },
    "CreateLaunchConfigurationTemplate":{
      "name":"CreateLaunchConfigurationTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/CreateLaunchConfigurationTemplate",
        "responseCode":201
      },
      "input":{"shape":"CreateLaunchConfigurationTemplateRequest"},
      "output":{"shape":"LaunchConfigurationTemplate"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Creates a new Launch Configuration Template.</p>"
    },
    "CreateNetworkMigrationDefinition":{
      "name":"CreateNetworkMigrationDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/CreateNetworkMigrationDefinition",
        "responseCode":201
      },
      "input":{"shape":"CreateNetworkMigrationDefinitionRequest"},
      "output":{"shape":"NetworkMigrationDefinition"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a new network migration definition that specifies the source and target network configuration for a migration.</p>",
      "idempotent":true
    },
    "CreateReplicationConfigurationTemplate":{
      "name":"CreateReplicationConfigurationTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/CreateReplicationConfigurationTemplate",
        "responseCode":201
      },
      "input":{"shape":"CreateReplicationConfigurationTemplateRequest"},
      "output":{"shape":"ReplicationConfigurationTemplate"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Creates a new ReplicationConfigurationTemplate.</p>"
    },
    "CreateWave":{
      "name":"CreateWave",
      "http":{
        "method":"POST",
        "requestUri":"/CreateWave",
        "responseCode":201
      },
      "input":{"shape":"CreateWaveRequest"},
      "output":{"shape":"Wave"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Create wave.</p>",
      "idempotent":true
    },
    "DeleteApplication":{
      "name":"DeleteApplication",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteApplication",
        "responseCode":204
      },
      "input":{"shape":"DeleteApplicationRequest"},
      "output":{"shape":"DeleteApplicationResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Delete application.</p>",
      "idempotent":true
    },
    "DeleteConnector":{
      "name":"DeleteConnector",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteConnector",
        "responseCode":204
      },
      "input":{"shape":"DeleteConnectorRequest"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Delete Connector.</p>",
      "idempotent":true
    },
    "DeleteJob":{
      "name":"DeleteJob",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteJob",
        "responseCode":204
      },
      "input":{"shape":"DeleteJobRequest"},
      "output":{"shape":"DeleteJobResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a single Job by ID.</p>",
      "idempotent":true
    },
    "DeleteLaunchConfigurationTemplate":{
      "name":"DeleteLaunchConfigurationTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteLaunchConfigurationTemplate",
        "responseCode":204
      },
      "input":{"shape":"DeleteLaunchConfigurationTemplateRequest"},
      "output":{"shape":"DeleteLaunchConfigurationTemplateResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a single Launch Configuration Template by ID.</p>",
      "idempotent":true
    },
    "DeleteNetworkMigrationDefinition":{
      "name":"DeleteNetworkMigrationDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/DeleteNetworkMigrationDefinition",
        "responseCode":204
      },
      "input":{"shape":"DeleteNetworkMigrationDefinitionRequest"},
      "output":{"shape":"DeleteNetworkMigrationDefinitionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a network migration definition. This operation removes the migration definition and all associated metadata.</p>",
      "idempotent":true
    },
    "DeleteReplicationConfigurationTemplate":{
      "name":"DeleteReplicationConfigurationTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteReplicationConfigurationTemplate",
        "responseCode":204
      },
      "input":{"shape":"DeleteReplicationConfigurationTemplateRequest"},
      "output":{"shape":"DeleteReplicationConfigurationTemplateResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a single Replication Configuration Template by ID</p>",
      "idempotent":true
    },
    "DeleteSourceServer":{
      "name":"DeleteSourceServer",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteSourceServer",
        "responseCode":204
      },
      "input":{"shape":"DeleteSourceServerRequest"},
      "output":{"shape":"DeleteSourceServerResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a single source server by ID.</p>",
      "idempotent":true
    },
    "DeleteVcenterClient":{
      "name":"DeleteVcenterClient",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteVcenterClient",
        "responseCode":204
      },
      "input":{"shape":"DeleteVcenterClientRequest"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a given vCenter client by ID.</p>",
      "idempotent":true
    },
    "DeleteWave":{
      "name":"DeleteWave",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteWave",
        "responseCode":204
      },
      "input":{"shape":"DeleteWaveRequest"},
      "output":{"shape":"DeleteWaveResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Delete wave.</p>",
      "idempotent":true
    },
    "DescribeJobLogItems":{
      "name":"DescribeJobLogItems",
      "http":{
        "method":"POST",
        "requestUri":"/DescribeJobLogItems",
        "responseCode":200
      },
      "input":{"shape":"DescribeJobLogItemsRequest"},
      "output":{"shape":"DescribeJobLogItemsResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Retrieves detailed job log items with paging.</p>",
      "readonly":true
    },
    "DescribeJobs":{
      "name":"DescribeJobs",
      "http":{
        "method":"POST",
        "requestUri":"/DescribeJobs",
        "responseCode":200
      },
      "input":{"shape":"DescribeJobsRequest"},
      "output":{"shape":"DescribeJobsResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns a list of Jobs. Use the JobsID and fromDate and toData filters to limit which jobs are returned. The response is sorted by creationDataTime - latest date first. Jobs are normally created by the StartTest, StartCutover, and TerminateTargetInstances APIs. Jobs are also created by DiagnosticLaunch and TerminateDiagnosticInstances, which are APIs available only to *Support* and only used in response to relevant support tickets.</p>",
      "readonly":true
    },
    "DescribeLaunchConfigurationTemplates":{
      "name":"DescribeLaunchConfigurationTemplates",
      "http":{
        "method":"POST",
        "requestUri":"/DescribeLaunchConfigurationTemplates",
        "responseCode":200
      },
      "input":{"shape":"DescribeLaunchConfigurationTemplatesRequest"},
      "output":{"shape":"DescribeLaunchConfigurationTemplatesResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all Launch Configuration Templates, filtered by Launch Configuration Template IDs</p>",
      "readonly":true
    },
    "DescribeReplicationConfigurationTemplates":{
      "name":"DescribeReplicationConfigurationTemplates",
      "http":{
        "method":"POST",
        "requestUri":"/DescribeReplicationConfigurationTemplates",
        "responseCode":200
      },
      "input":{"shape":"DescribeReplicationConfigurationTemplatesRequest"},
      "output":{"shape":"DescribeReplicationConfigurationTemplatesResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all ReplicationConfigurationTemplates, filtered by Source Server IDs.</p>",
      "readonly":true
    },
    "DescribeSourceServers":{
      "name":"DescribeSourceServers",
      "http":{
        "method":"POST",
        "requestUri":"/DescribeSourceServers",
        "responseCode":200
      },
      "input":{"shape":"DescribeSourceServersRequest"},
      "output":{"shape":"DescribeSourceServersResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Retrieves all SourceServers or multiple SourceServers by ID.</p>",
      "readonly":true
    },
    "DescribeVcenterClients":{
      "name":"DescribeVcenterClients",
      "http":{
        "method":"GET",
        "requestUri":"/DescribeVcenterClients",
        "responseCode":200
      },
      "input":{"shape":"DescribeVcenterClientsRequest"},
      "output":{"shape":"DescribeVcenterClientsResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns a list of the installed vCenter clients.</p>",
      "readonly":true
    },
    "DisassociateApplications":{
      "name":"DisassociateApplications",
      "http":{
        "method":"POST",
        "requestUri":"/DisassociateApplications",
        "responseCode":200
      },
      "input":{"shape":"DisassociateApplicationsRequest"},
      "output":{"shape":"DisassociateApplicationsResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Disassociate applications from wave.</p>",
      "idempotent":true
    },
    "DisassociateSourceServers":{
      "name":"DisassociateSourceServers",
      "http":{
        "method":"POST",
        "requestUri":"/DisassociateSourceServers",
        "responseCode":200
      },
      "input":{"shape":"DisassociateSourceServersRequest"},
      "output":{"shape":"DisassociateSourceServersResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Disassociate source servers from application.</p>",
      "idempotent":true
    },
    "DisconnectFromService":{
      "name":"DisconnectFromService",
      "http":{
        "method":"POST",
        "requestUri":"/DisconnectFromService",
        "responseCode":200
      },
      "input":{"shape":"DisconnectFromServiceRequest"},
      "output":{"shape":"SourceServer"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Disconnects specific Source Servers from Application Migration Service. Data replication is stopped immediately. All AWS resources created by Application Migration Service for enabling the replication of these source servers will be terminated / deleted within 90 minutes. Launched Test or Cutover instances will NOT be terminated. If the agent on the source server has not been prevented from communicating with the Application Migration Service service, then it will receive a command to uninstall itself (within approximately 10 minutes). The following properties of the SourceServer will be changed immediately: dataReplicationInfo.dataReplicationState will be set to DISCONNECTED; The totalStorageBytes property for each of dataReplicationInfo.replicatedDisks will be set to zero; dataReplicationInfo.lagDuration and dataReplicationInfo.lagDuration will be nullified.</p>"
    },
    "FinalizeCutover":{
      "name":"FinalizeCutover",
      "http":{
        "method":"POST",
        "requestUri":"/FinalizeCutover",
        "responseCode":200
      },
      "input":{"shape":"FinalizeCutoverRequest"},
      "output":{"shape":"SourceServer"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Finalizes the cutover immediately for specific Source Servers. All AWS resources created by Application Migration Service for enabling the replication of these source servers will be terminated / deleted within 90 minutes. Launched Test or Cutover instances will NOT be terminated. The AWS Replication Agent will receive a command to uninstall itself (within 10 minutes). The following properties of the SourceServer will be changed immediately: dataReplicationInfo.dataReplicationState will be changed to DISCONNECTED; The SourceServer.lifeCycle.state will be changed to CUTOVER; The totalStorageBytes property fo each of dataReplicationInfo.replicatedDisks will be set to zero; dataReplicationInfo.lagDuration and dataReplicationInfo.lagDuration will be nullified.</p>"
    },
    "GetLaunchConfiguration":{
      "name":"GetLaunchConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/GetLaunchConfiguration",
        "responseCode":200
      },
      "input":{"shape":"GetLaunchConfigurationRequest"},
      "output":{"shape":"LaunchConfiguration"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists all LaunchConfigurations available, filtered by Source Server IDs.</p>",
      "readonly":true
    },
    "GetNetworkMigrationDefinition":{
      "name":"GetNetworkMigrationDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/GetNetworkMigrationDefinition",
        "responseCode":200
      },
      "input":{"shape":"GetNetworkMigrationDefinitionRequest"},
      "output":{"shape":"NetworkMigrationDefinition"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves the details of a network migration definition including source and target configurations.</p>",
      "readonly":true
    },
    "GetNetworkMigrationMapperSegmentConstruct":{
      "name":"GetNetworkMigrationMapperSegmentConstruct",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/GetNetworkMigrationMapperSegmentConstruct",
        "responseCode":200
      },
      "input":{"shape":"GetNetworkMigrationMapperSegmentConstructRequest"},
      "output":{"shape":"GetNetworkMigrationMapperSegmentConstructResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Retrieves detailed information about a specific construct within a mapper segment, including its properties and configuration data.</p>",
      "readonly":true
    },
    "GetReplicationConfiguration":{
      "name":"GetReplicationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/GetReplicationConfiguration",
        "responseCode":200
      },
      "input":{"shape":"GetReplicationConfigurationRequest"},
      "output":{"shape":"ReplicationConfiguration"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists all ReplicationConfigurations, filtered by Source Server ID.</p>",
      "readonly":true
    },
    "InitializeService":{
      "name":"InitializeService",
      "http":{
        "method":"POST",
        "requestUri":"/InitializeService",
        "responseCode":204
      },
      "input":{"shape":"InitializeServiceRequest"},
      "output":{"shape":"InitializeServiceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Initialize Application Migration Service.</p>"
    },
    "ListApplications":{
      "name":"ListApplications",
      "http":{
        "method":"POST",
        "requestUri":"/ListApplications",
        "responseCode":200
      },
      "input":{"shape":"ListApplicationsRequest"},
      "output":{"shape":"ListApplicationsResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"}
      ],
      "documentation":"<p>Retrieves all applications or multiple applications by ID.</p>",
      "readonly":true
    },
    "ListConnectors":{
      "name":"ListConnectors",
      "http":{
        "method":"POST",
        "requestUri":"/ListConnectors",
        "responseCode":200
      },
      "input":{"shape":"ListConnectorsRequest"},
      "output":{"shape":"ListConnectorsResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>List Connectors.</p>",
      "readonly":true
    },
    "ListExportErrors":{
      "name":"ListExportErrors",
      "http":{
        "method":"POST",
        "requestUri":"/ListExportErrors",
        "responseCode":200
      },
      "input":{"shape":"ListExportErrorsRequest"},
      "output":{"shape":"ListExportErrorsResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>List export errors.</p>",
      "readonly":true
    },
    "ListExports":{
      "name":"ListExports",
      "http":{
        "method":"POST",
        "requestUri":"/ListExports",
        "responseCode":200
      },
      "input":{"shape":"ListExportsRequest"},
      "output":{"shape":"ListExportsResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"}
      ],
      "documentation":"<p>List exports.</p>",
      "readonly":true
    },
    "ListImportErrors":{
      "name":"ListImportErrors",
      "http":{
        "method":"POST",
        "requestUri":"/ListImportErrors",
        "responseCode":200
      },
      "input":{"shape":"ListImportErrorsRequest"},
      "output":{"shape":"ListImportErrorsResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>List import errors.</p>",
      "readonly":true
    },
    "ListImportFileEnrichments":{
      "name":"ListImportFileEnrichments",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/ListImportFileEnrichments",
        "responseCode":200
      },
      "input":{"shape":"ListImportFileEnrichmentsRequest"},
      "output":{"shape":"ListImportFileEnrichmentsResponse"},
      "errors":[
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists import file enrichment jobs with optional filtering by job IDs.</p>",
      "readonly":true
    },
    "ListImports":{
      "name":"ListImports",
      "http":{
        "method":"POST",
        "requestUri":"/ListImports",
        "responseCode":200
      },
      "input":{"shape":"ListImportsRequest"},
      "output":{"shape":"ListImportsResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>List imports.</p>",
      "readonly":true
    },
    "ListManagedAccounts":{
      "name":"ListManagedAccounts",
      "http":{
        "method":"POST",
        "requestUri":"/ListManagedAccounts",
        "responseCode":200
      },
      "input":{"shape":"ListManagedAccountsRequest"},
      "output":{"shape":"ListManagedAccountsResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>List Managed Accounts.</p>",
      "readonly":true
    },
    "ListNetworkMigrationAnalyses":{
      "name":"ListNetworkMigrationAnalyses",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/ListNetworkMigrationAnalyses",
        "responseCode":200
      },
      "input":{"shape":"ListNetworkMigrationAnalysesRequest"},
      "output":{"shape":"ListNetworkMigrationAnalysesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists network migration analysis jobs for a specified execution. Returns information about analysis job status and results.</p>",
      "readonly":true
    },
    "ListNetworkMigrationAnalysisResults":{
      "name":"ListNetworkMigrationAnalysisResults",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/ListNetworkMigrationAnalysisResults",
        "responseCode":200
      },
      "input":{"shape":"ListNetworkMigrationAnalysisResultsRequest"},
      "output":{"shape":"ListNetworkMigrationAnalysisResultsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists the results of network migration analyses, showing connectivity and compatibility findings for migrated resources.</p>",
      "readonly":true
    },
    "ListNetworkMigrationCodeGenerationSegments":{
      "name":"ListNetworkMigrationCodeGenerationSegments",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/ListNetworkMigrationCodeGenerationSegments",
        "responseCode":200
      },
      "input":{"shape":"ListNetworkMigrationCodeGenerationSegmentsRequest"},
      "output":{"shape":"ListNetworkMigrationCodeGenerationSegmentsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists code generation segments, which represent individual infrastructure components generated as code templates.</p>",
      "readonly":true
    },
    "ListNetworkMigrationCodeGenerations":{
      "name":"ListNetworkMigrationCodeGenerations",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/ListNetworkMigrationCodeGenerations",
        "responseCode":200
      },
      "input":{"shape":"ListNetworkMigrationCodeGenerationsRequest"},
      "output":{"shape":"ListNetworkMigrationCodeGenerationsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists network migration code generation jobs, which convert network mappings into infrastructure-as-code templates.</p>",
      "readonly":true
    },
    "ListNetworkMigrationDefinitions":{
      "name":"ListNetworkMigrationDefinitions",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/ListNetworkMigrationDefinitions",
        "responseCode":200
      },
      "input":{"shape":"ListNetworkMigrationDefinitionsRequest"},
      "output":{"shape":"ListNetworkMigrationDefinitionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all network migration definitions in the account, with optional filtering.</p>",
      "readonly":true
    },
    "ListNetworkMigrationDeployedStacks":{
      "name":"ListNetworkMigrationDeployedStacks",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/ListNetworkMigrationDeployedStacks",
        "responseCode":200
      },
      "input":{"shape":"ListNetworkMigrationDeployedStacksRequest"},
      "output":{"shape":"ListNetworkMigrationDeployedStacksResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists CloudFormation stacks that have been deployed as part of the network migration.</p>",
      "readonly":true
    },
    "ListNetworkMigrationDeployments":{
      "name":"ListNetworkMigrationDeployments",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/ListNetworkMigrationDeployments",
        "responseCode":200
      },
      "input":{"shape":"ListNetworkMigrationDeploymentsRequest"},
      "output":{"shape":"ListNetworkMigrationDeployerJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists network migration deployment jobs and their current status.</p>",
      "readonly":true
    },
    "ListNetworkMigrationExecutions":{
      "name":"ListNetworkMigrationExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/ListNetworkMigrationExecutions",
        "responseCode":200
      },
      "input":{"shape":"ListNetworkMigrationExecutionsRequest"},
      "output":{"shape":"ListNetworkMigrationExecutionsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists network migration execution instances for a given definition, showing the status and progress of each execution.</p>",
      "readonly":true
    },
    "ListNetworkMigrationMapperSegmentConstructs":{
      "name":"ListNetworkMigrationMapperSegmentConstructs",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/ListNetworkMigrationMapperSegmentConstructs",
        "responseCode":200
      },
      "input":{"shape":"ListNetworkMigrationMapperSegmentConstructsRequest"},
      "output":{"shape":"ListNetworkMigrationMapperSegmentConstructsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists constructs within a mapper segment, representing individual infrastructure components like VPCs, subnets, or security groups.</p>",
      "readonly":true
    },
    "ListNetworkMigrationMapperSegments":{
      "name":"ListNetworkMigrationMapperSegments",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/ListNetworkMigrationMapperSegments",
        "responseCode":200
      },
      "input":{"shape":"ListNetworkMigrationMapperSegmentsRequest"},
      "output":{"shape":"ListNetworkMigrationMapperSegmentsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists mapper segments, which represent logical groupings of network resources to be migrated together.</p>",
      "readonly":true
    },
    "ListNetworkMigrationMappingUpdates":{
      "name":"ListNetworkMigrationMappingUpdates",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/ListNetworkMigrationMappingUpdates",
        "responseCode":200
      },
      "input":{"shape":"ListNetworkMigrationMappingUpdatesRequest"},
      "output":{"shape":"ListNetworkMigrationMappingUpdatesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists mapping update jobs, which apply customer modifications to the generated network mappings.</p>",
      "readonly":true
    },
    "ListNetworkMigrationMappings":{
      "name":"ListNetworkMigrationMappings",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/ListNetworkMigrationMappings",
        "responseCode":200
      },
      "input":{"shape":"ListNetworkMigrationMappingsRequest"},
      "output":{"shape":"ListNetworkMigrationMappingsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists network migration mapping jobs, which analyze and create relationships between source and target network resources.</p>",
      "readonly":true
    },
    "ListSourceServerActions":{
      "name":"ListSourceServerActions",
      "http":{
        "method":"POST",
        "requestUri":"/ListSourceServerActions",
        "responseCode":200
      },
      "input":{"shape":"ListSourceServerActionsRequest"},
      "output":{"shape":"ListSourceServerActionsResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>List source server post migration custom actions.</p>",
      "readonly":true
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>List all tags for your Application Migration Service resources.</p>",
      "readonly":true
    },
    "ListTemplateActions":{
      "name":"ListTemplateActions",
      "http":{
        "method":"POST",
        "requestUri":"/ListTemplateActions",
        "responseCode":200
      },
      "input":{"shape":"ListTemplateActionsRequest"},
      "output":{"shape":"ListTemplateActionsResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>List template post migration custom actions.</p>",
      "readonly":true
    },
    "ListWaves":{
      "name":"ListWaves",
      "http":{
        "method":"POST",
        "requestUri":"/ListWaves",
        "responseCode":200
      },
      "input":{"shape":"ListWavesRequest"},
      "output":{"shape":"ListWavesResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"}
      ],
      "documentation":"<p>Retrieves all waves or multiple waves by ID.</p>",
      "readonly":true
    },
    "MarkAsArchived":{
      "name":"MarkAsArchived",
      "http":{
        "method":"POST",
        "requestUri":"/MarkAsArchived",
        "responseCode":200
      },
      "input":{"shape":"MarkAsArchivedRequest"},
      "output":{"shape":"SourceServer"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Archives specific Source Servers by setting the SourceServer.isArchived property to true for specified SourceServers by ID. This command only works for SourceServers with a lifecycle. state which equals DISCONNECTED or CUTOVER.</p>"
    },
    "PauseReplication":{
      "name":"PauseReplication",
      "http":{
        "method":"POST",
        "requestUri":"/PauseReplication",
        "responseCode":200
      },
      "input":{"shape":"PauseReplicationRequest"},
      "output":{"shape":"SourceServer"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Pause Replication.</p>"
    },
    "PutSourceServerAction":{
      "name":"PutSourceServerAction",
      "http":{
        "method":"POST",
        "requestUri":"/PutSourceServerAction",
        "responseCode":200
      },
      "input":{"shape":"PutSourceServerActionRequest"},
      "output":{"shape":"SourceServerActionDocument"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Put source server post migration custom action.</p>"
    },
    "PutTemplateAction":{
      "name":"PutTemplateAction",
      "http":{
        "method":"POST",
        "requestUri":"/PutTemplateAction",
        "responseCode":200
      },
      "input":{"shape":"PutTemplateActionRequest"},
      "output":{"shape":"TemplateActionDocument"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Put template post migration custom action.</p>"
    },
    "RemoveSourceServerAction":{
      "name":"RemoveSourceServerAction",
      "http":{
        "method":"POST",
        "requestUri":"/RemoveSourceServerAction",
        "responseCode":204
      },
      "input":{"shape":"RemoveSourceServerActionRequest"},
      "output":{"shape":"RemoveSourceServerActionResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Remove source server post migration custom action.</p>"
    },
    "RemoveTemplateAction":{
      "name":"RemoveTemplateAction",
      "http":{
        "method":"POST",
        "requestUri":"/RemoveTemplateAction",
        "responseCode":204
      },
      "input":{"shape":"RemoveTemplateActionRequest"},
      "output":{"shape":"RemoveTemplateActionResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Remove template post migration custom action.</p>"
    },
    "ResumeReplication":{
      "name":"ResumeReplication",
      "http":{
        "method":"POST",
        "requestUri":"/ResumeReplication",
        "responseCode":200
      },
      "input":{"shape":"ResumeReplicationRequest"},
      "output":{"shape":"SourceServer"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Resume Replication.</p>"
    },
    "RetryDataReplication":{
      "name":"RetryDataReplication",
      "http":{
        "method":"POST",
        "requestUri":"/RetryDataReplication",
        "responseCode":200
      },
      "input":{"shape":"RetryDataReplicationRequest"},
      "output":{"shape":"SourceServer"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Causes the data replication initiation sequence to begin immediately upon next Handshake for specified SourceServer IDs, regardless of when the previous initiation started. This command will not work if the SourceServer is not stalled or is in a DISCONNECTED or STOPPED state.</p>"
    },
    "StartCutover":{
      "name":"StartCutover",
      "http":{
        "method":"POST",
        "requestUri":"/StartCutover",
        "responseCode":202
      },
      "input":{"shape":"StartCutoverRequest"},
      "output":{"shape":"StartCutoverResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Launches a Cutover Instance for specific Source Servers. This command starts a LAUNCH job whose initiatedBy property is StartCutover and changes the SourceServer.lifeCycle.state property to CUTTING_OVER.</p>"
    },
    "StartExport":{
      "name":"StartExport",
      "http":{
        "method":"POST",
        "requestUri":"/StartExport",
        "responseCode":202
      },
      "input":{"shape":"StartExportRequest"},
      "output":{"shape":"StartExportResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Start export.</p>"
    },
    "StartImport":{
      "name":"StartImport",
      "http":{
        "method":"POST",
        "requestUri":"/StartImport",
        "responseCode":202
      },
      "input":{"shape":"StartImportRequest"},
      "output":{"shape":"StartImportResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Start import.</p>"
    },
    "StartImportFileEnrichment":{
      "name":"StartImportFileEnrichment",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/StartImportFileEnrichment",
        "responseCode":202
      },
      "input":{"shape":"StartImportFileEnrichmentRequest"},
      "output":{"shape":"StartImportFileEnrichmentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Starts an import file enrichment job to process and enrich network migration import files with additional metadata and IP assignment strategies.</p>",
      "idempotent":true
    },
    "StartNetworkMigrationAnalysis":{
      "name":"StartNetworkMigrationAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/StartNetworkMigrationAnalysis",
        "responseCode":202
      },
      "input":{"shape":"StartNetworkMigrationAnalysisRequest"},
      "output":{"shape":"StartNetworkMigrationAnalysisResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Starts a network migration analysis job to evaluate connectivity and compatibility of the migration mappings.</p>",
      "idempotent":true
    },
    "StartNetworkMigrationCodeGeneration":{
      "name":"StartNetworkMigrationCodeGeneration",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/StartNetworkMigrationCodeGeneration",
        "responseCode":202
      },
      "input":{"shape":"StartNetworkMigrationCodeGenerationRequest"},
      "output":{"shape":"StartNetworkMigrationCodeGenerationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Starts a code generation job to convert network migration mappings into infrastructure-as-code templates.</p>",
      "idempotent":true
    },
    "StartNetworkMigrationDeployment":{
      "name":"StartNetworkMigrationDeployment",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/StartNetworkMigrationDeployment",
        "responseCode":202
      },
      "input":{"shape":"StartNetworkMigrationDeploymentRequest"},
      "output":{"shape":"StartNetworkMigrationDeployerJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Starts a deployment job to create the target network infrastructure based on the generated code templates.</p>",
      "idempotent":true
    },
    "StartNetworkMigrationMapping":{
      "name":"StartNetworkMigrationMapping",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/StartNetworkMigrationMapping",
        "responseCode":202
      },
      "input":{"shape":"StartNetworkMigrationMappingRequest"},
      "output":{"shape":"StartNetworkMigrationMappingResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Starts the network migration mapping process for a given network migration execution.</p>",
      "idempotent":true
    },
    "StartNetworkMigrationMappingUpdate":{
      "name":"StartNetworkMigrationMappingUpdate",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/StartNetworkMigrationMappingUpdate",
        "responseCode":202
      },
      "input":{"shape":"StartNetworkMigrationMappingUpdateRequest"},
      "output":{"shape":"StartNetworkMigrationMappingUpdateResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Starts a job to apply customer modifications to network migration mappings, such as changing properties.</p>",
      "idempotent":true
    },
    "StartReplication":{
      "name":"StartReplication",
      "http":{
        "method":"POST",
        "requestUri":"/StartReplication",
        "responseCode":200
      },
      "input":{"shape":"StartReplicationRequest"},
      "output":{"shape":"SourceServer"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Start replication for source server irrespective of its replication type.</p>"
    },
    "StartTest":{
      "name":"StartTest",
      "http":{
        "method":"POST",
        "requestUri":"/StartTest",
        "responseCode":202
      },
      "input":{"shape":"StartTestRequest"},
      "output":{"shape":"StartTestResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Launches a Test Instance for specific Source Servers. This command starts a LAUNCH job whose initiatedBy property is StartTest and changes the SourceServer.lifeCycle.state property to TESTING.</p>"
    },
    "StopReplication":{
      "name":"StopReplication",
      "http":{
        "method":"POST",
        "requestUri":"/StopReplication",
        "responseCode":200
      },
      "input":{"shape":"StopReplicationRequest"},
      "output":{"shape":"SourceServer"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Stop Replication.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Adds or overwrites only the specified tags for the specified Application Migration Service resource or resources. When you specify an existing tag key, the value is overwritten with the new value. Each resource can have a maximum of 50 tags. Each tag consists of a key and optional value.</p>",
      "idempotent":true
    },
    "TerminateTargetInstances":{
      "name":"TerminateTargetInstances",
      "http":{
        "method":"POST",
        "requestUri":"/TerminateTargetInstances",
        "responseCode":202
      },
      "input":{"shape":"TerminateTargetInstancesRequest"},
      "output":{"shape":"TerminateTargetInstancesResponse"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Starts a job that terminates specific launched EC2 Test and Cutover instances. This command will not work for any Source Server with a lifecycle.state of TESTING, CUTTING_OVER, or CUTOVER.</p>"
    },
    "UnarchiveApplication":{
      "name":"UnarchiveApplication",
      "http":{
        "method":"POST",
        "requestUri":"/UnarchiveApplication",
        "responseCode":200
      },
      "input":{"shape":"UnarchiveApplicationRequest"},
      "output":{"shape":"Application"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Unarchive application.</p>"
    },
    "UnarchiveWave":{
      "name":"UnarchiveWave",
      "http":{
        "method":"POST",
        "requestUri":"/UnarchiveWave",
        "responseCode":200
      },
      "input":{"shape":"UnarchiveWaveRequest"},
      "output":{"shape":"Wave"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Unarchive wave.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes the specified set of tags from the specified set of Application Migration Service resources.</p>",
      "idempotent":true
    },
    "UpdateApplication":{
      "name":"UpdateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateApplication",
        "responseCode":200
      },
      "input":{"shape":"UpdateApplicationRequest"},
      "output":{"shape":"Application"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Update application.</p>",
      "idempotent":true
    },
    "UpdateConnector":{
      "name":"UpdateConnector",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateConnector",
        "responseCode":200
      },
      "input":{"shape":"UpdateConnectorRequest"},
      "output":{"shape":"Connector"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Update Connector.</p>",
      "idempotent":true
    },
    "UpdateLaunchConfiguration":{
      "name":"UpdateLaunchConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateLaunchConfiguration",
        "responseCode":200
      },
      "input":{"shape":"UpdateLaunchConfigurationRequest"},
      "output":{"shape":"LaunchConfiguration"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates multiple LaunchConfigurations by Source Server ID.</p> <note> <p>bootMode valid values are <code>LEGACY_BIOS | UEFI</code> </p> </note>",
      "idempotent":true
    },
    "UpdateLaunchConfigurationTemplate":{
      "name":"UpdateLaunchConfigurationTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateLaunchConfigurationTemplate",
        "responseCode":200
      },
      "input":{"shape":"UpdateLaunchConfigurationTemplateRequest"},
      "output":{"shape":"LaunchConfigurationTemplate"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates an existing Launch Configuration Template by ID.</p>"
    },
    "UpdateNetworkMigrationDefinition":{
      "name":"UpdateNetworkMigrationDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/UpdateNetworkMigrationDefinition",
        "responseCode":200
      },
      "input":{"shape":"UpdateNetworkMigrationDefinitionRequest"},
      "output":{"shape":"NetworkMigrationDefinition"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates an existing network migration definition with new source or target configurations.</p>",
      "idempotent":true
    },
    "UpdateNetworkMigrationMapperSegment":{
      "name":"UpdateNetworkMigrationMapperSegment",
      "http":{
        "method":"POST",
        "requestUri":"/network-migration/UpdateNetworkMigrationMapperSegment",
        "responseCode":200
      },
      "input":{"shape":"UpdateNetworkMigrationMapperSegmentRequest"},
      "output":{"shape":"NetworkMigrationMapperSegment"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a mapper segment's configuration, such as changing its scope tags.</p>",
      "idempotent":true
    },
    "UpdateReplicationConfiguration":{
      "name":"UpdateReplicationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateReplicationConfiguration",
        "responseCode":200
      },
      "input":{"shape":"UpdateReplicationConfigurationRequest"},
      "output":{"shape":"ReplicationConfiguration"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Allows you to update multiple ReplicationConfigurations by Source Server ID.</p>",
      "idempotent":true
    },
    "UpdateReplicationConfigurationTemplate":{
      "name":"UpdateReplicationConfigurationTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateReplicationConfigurationTemplate",
        "responseCode":200
      },
      "input":{"shape":"UpdateReplicationConfigurationTemplateRequest"},
      "output":{"shape":"ReplicationConfigurationTemplate"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates multiple ReplicationConfigurationTemplates by ID.</p>"
    },
    "UpdateSourceServer":{
      "name":"UpdateSourceServer",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateSourceServer",
        "responseCode":200
      },
      "input":{"shape":"UpdateSourceServerRequest"},
      "output":{"shape":"SourceServer"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Update Source Server.</p>",
      "idempotent":true
    },
    "UpdateSourceServerReplicationType":{
      "name":"UpdateSourceServerReplicationType",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateSourceServerReplicationType",
        "responseCode":200
      },
      "input":{"shape":"UpdateSourceServerReplicationTypeRequest"},
      "output":{"shape":"SourceServer"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Allows you to change between the AGENT_BASED replication type and the SNAPSHOT_SHIPPING replication type. </p> <p>SNAPSHOT_SHIPPING should be used for agentless replication.</p>"
    },
    "UpdateWave":{
      "name":"UpdateWave",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateWave",
        "responseCode":200
      },
      "input":{"shape":"UpdateWaveRequest"},
      "output":{"shape":"Wave"},
      "errors":[
        {"shape":"UninitializedAccountException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Update wave.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "ARN":{
      "type":"string",
      "max":2048,
      "min":20
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"LargeBoundedString"},
        "code":{"shape":"LargeBoundedString"}
      },
      "documentation":"<p>Operating denied due to a file permission or access check error.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccountID":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":".*[0-9]{12,}.*"
    },
    "ActionCategory":{
      "type":"string",
      "enum":[
        "DISASTER_RECOVERY",
        "OPERATING_SYSTEM",
        "LICENSE_AND_SUBSCRIPTION",
        "VALIDATION",
        "OBSERVABILITY",
        "REFACTORING",
        "SECURITY",
        "NETWORKING",
        "CONFIGURATION",
        "BACKUP",
        "OTHER"
      ]
    },
    "ActionDescription":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"[0-9a-zA-Z ():/.,'-_#*; ]*"
    },
    "ActionID":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":".*[0-9a-zA-Z]"
    },
    "ActionIDs":{
      "type":"list",
      "member":{"shape":"ActionID"},
      "max":100,
      "min":0
    },
    "ActionName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[^\\s\\x00]( *[^\\s\\x00])*"
    },
    "AnalyzerType":{
      "type":"string",
      "enum":["REACHABILITY_ANALYZER"]
    },
    "Application":{
      "type":"structure",
      "members":{
        "applicationID":{
          "shape":"ApplicationID",
          "documentation":"<p>Application ID.</p>"
        },
        "arn":{
          "shape":"ARN",
          "documentation":"<p>Application ARN.</p>"
        },
        "name":{
          "shape":"ApplicationName",
          "documentation":"<p>Application name.</p>"
        },
        "description":{
          "shape":"ApplicationDescription",
          "documentation":"<p>Application description.</p>"
        },
        "isArchived":{
          "shape":"Boolean",
          "documentation":"<p>Application archival status.</p>"
        },
        "applicationAggregatedStatus":{
          "shape":"ApplicationAggregatedStatus",
          "documentation":"<p>Application aggregated status.</p>"
        },
        "creationDateTime":{
          "shape":"ISO8601DatetimeString",
          "documentation":"<p>Application creation dateTime.</p>"
        },
        "lastModifiedDateTime":{
          "shape":"ISO8601DatetimeString",
          "documentation":"<p>Application last modified dateTime.</p>"
        },
        "tags":{
          "shape":"TagsMap",
          "documentation":"<p>Application tags.</p>"
        },
        "waveID":{
          "shape":"WaveID",
          "documentation":"<p>Application wave ID.</p>"
        }
      }
    },
    "ApplicationAggregatedStatus":{
      "type":"structure",
      "members":{
        "lastUpdateDateTime":{
          "shape":"ISO8601DatetimeString",
          "documentation":"<p>Application aggregated status last update dateTime.</p>"
        },
        "healthStatus":{
          "shape":"ApplicationHealthStatus",
          "documentation":"<p>Application aggregated status health status.</p>"
        },
        "progressStatus":{
          "shape":"ApplicationProgressStatus",
          "documentation":"<p>Application aggregated status progress status.</p>"
        },
        "totalSourceServers":{
          "shape":"PositiveInteger",
          "documentation":"<p>Application aggregated status total source servers amount.</p>"
        }
      },
      "documentation":"<p>Application aggregated status.</p>"
    },
    "ApplicationDescription":{
      "type":"string",
      "max":600,
      "min":0,
      "pattern":"[^\\x00]*"
    },
    "ApplicationHealthStatus":{
      "type":"string",
      "enum":[
        "HEALTHY",
        "LAGGING",
        "ERROR"
      ]
    },
    "ApplicationID":{
      "type":"string",
      "max":21,
      "min":21,
      "pattern":"app-[0-9a-zA-Z]{17}"
    },
    "ApplicationIDs":{
      "type":"list",
      "member":{"shape":"ApplicationID"},
      "max":50,
      "min":1
    },
    "ApplicationIDsFilter":{
      "type":"list",
      "member":{"shape":"ApplicationID"},
      "max":200,
      "min":0
    },
    "ApplicationName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[^\\s\\x00]( *[^\\s\\x00])*"
    },
    "ApplicationProgressStatus":{
      "type":"string",
      "enum":[
        "NOT_STARTED",
        "IN_PROGRESS",
        "COMPLETED"
      ]
    },
    "ApplicationsList":{
      "type":"list",
      "member":{"shape":"Application"}
    },
    "ArchiveApplicationRequest":{
      "type":"structure",
      "required":["applicationID"],
      "members":{
        "applicationID":{
          "shape":"ApplicationID",
          "documentation":"<p>Application ID.</p>"
        },
        "accountID":{
          "shape":"AccountID",
          "documentation":"<p>Account ID.</p>"
        }
      }
    },
    "ArchiveWaveRequest":{
      "type":"structure",
      "required":["waveID"],
      "members":{
        "waveID":{
          "shape":"WaveID",
          "documentation":"<p>Wave ID.</p>"
        },
        "accountID":{
          "shape":"AccountID",
          "documentation":"<p>Account ID.</p>"
        }
      }
    },
    "AssociateApplicationsRequest":{
      "type":"structure",
      "required":[
        "waveID",
        "applicationIDs"
      ],
      "members":{
        "waveID":{
          "shape":"WaveID",
          "documentation":"<p>Wave ID.</p>"
        },
        "applicationIDs":{
          "shape":"ApplicationIDs",
          "documentation":"<p>Application IDs list.</p>"
        },
        "accountID":{
          "shape":"AccountID",
          "documentation":"<p>Account ID.</p>"
        }
      }
    },
    "AssociateApplicationsResponse":{
      "type":"structure",
      "members":{}
    },
    "AssociateSourceServersRequest":{
      "type":"structure",
      "required":[
        "applicationID",
        "sourceServerIDs"
      ],
      "members":{
        "applicationID":{
          "shape":"ApplicationID",
          "documentation":"<p>Application ID.</p>"
        },
        "sourceServerIDs":{
          "shape":"AssociateSourceServersRequestSourceServerIDs",
          "documentation":"<p>Source server IDs list.</p>"
        },
        "accountID":{
          "shape":"AccountID",
          "documentation":"<p>Account ID.</p>"
        }
      }
    },
    "AssociateSourceServersRequestSourceServerIDs":{
      "type":"list",
      "member":{"shape":"SourceServerID"},
      "max":50,
      "min":1
    },
    "AssociateSourceServersResponse":{
      "type":"structure",
      "members":{}
    },
    "BandwidthThrottling":{
      "type":"long",
      "max":10000,
      "min":0
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "BootMode":{
      "type":"string",
      "enum":[
        "LEGACY_BIOS",
        "UEFI",
        "USE_SOURCE"
      ]
    },
    "BoundedString":{
      "type":"string",
      "max":256,
      "min":0
    },
    "CPU":{
      "type":"structure",
      "members":{
        "cores":{
          "shape":"PositiveInteger",
          "documentation":"<p>The number of CPU cores on the source server.</p>"
        },
        "modelName":{
          "shape":"BoundedString",
          "documentation":"<p>The source server's CPU model name.</p>"
        }
      },
      "documentation":"<p>Source server CPU information.</p>"
    },
    "ChangeServerLifeCycleStateRequest":{
      "type":"structure",
      "required":[
        "sourceServerID",
        "lifeCycle"
      ],
      "members":{
        "sourceServerID":{
          "shape":"SourceServerID",
          "documentation":"<p>The request to change the source server migration lifecycle state by source server ID.</p>"
        },
        "lifeCycle":{
          "shape":"ChangeServerLifeCycleStateSourceServerLifecycle",
          "documentation":"<p>The request to change the source server migration lifecycle state.</p>"
        },
        "accountID":{
          "shape":"AccountID",
          "documentation":"<p>The request to change the source server migration account ID.</p>"
        }
      }
    },
    "ChangeServerLifeCycleStateSourceServerLifecycle":{
      "type":"structure",
      "required":["state"],
      "members":{
        "state":{
          "shape":"ChangeServerLifeCycleStateSourceServerLifecycleState",
          "documentation":"<p>The request to change the source server migration lifecycle state.</p>"
        }
      },
      "documentation":"<p>The request to change the source server migration lifecycle state.</p>"
    },
    "ChangeServerLifeCycleStateSourceServerLifecycleState":{
      "type":"string",
      "enum":[
        "READY_FOR_TEST",
        "READY_FOR_CUTOVER",
        "CUTOVER"
      ]
    },
    "Checksum":{
      "type":"structure",
      "members":{
        "encryptionAlgorithm":{
          "shape":"EncryptionAlgorithm",
          "documentation":"<p>The encryption algorithm used to generate the checksum.</p>"
        },
        "hash":{
          "shape":"Hash",
          "documentation":"<p>The hash value of the checksum.</p>"
        }
      },
      "documentation":"<p>A checksum structure used to verify data integrity.</p>"
    },
    "Cidr":{
      "type":"string",
      "max":18,
      "min":9,
      "pattern":"((25[0-4]|2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9])\\.){3}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9]?[0-9])\\/(1[6-9]|2[0-8])"
    },
    "CidrBlock":{
      "type":"string",
      "pattern":"([0-9]{1,3}\\.){3}[0-9]{1,3}/[0-9]{1,2}"
    },
    "ClientIdempotencyToken":{
      "type":"string",
      "max":64,
      "min":0
    },
    "CloudWatchLogGroupName":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"[\\.\\-_/#A-Za-z0-9]+"
    },
    "CodeGenerationOutputFormatStatus":{
      "type":"string",
      "enum":[
        "SUCCEEDED",
        "FAILED"
      ]
    },
    "CodeGenerationOutputFormatStatusDetails":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"CodeGenerationOutputFormatStatus",
          "documentation":"<p>The status of the code generation for this output format.</p>"
        },
        "statusDetailList":{
          "shape":"LargeBoundedString",
          "documentation":"<p>A list of detailed status information for the code generation.</p>"
        }
      },
      "documentation":"<p>Status details for a specific code generation output format.</p>"
    },
    "CodeGenerationOutputFormatStatusDetailsMap":{
      "type":"map",
      "key":{"shape":"CodeGenerationOutputFormatType"},
      "value":{"shape":"CodeGenerationOutputFormatStatusDetails"},
      "max":10,
      "min":0
    },
    "CodeGenerationOutputFormatType":{
      "type":"string",
      "enum":[
        "CDK_L1",
        "CDK_L2",
        "TERRAFORM",
        "LZA"
      ]
    },
    "CodeGenerationOutputFormatTypes":{
      "type":"list",
      "member":{"shape":"CodeGenerationOutputFormatType"},
      "max":10,
      "min":0
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"LargeBoundedString"},
        "code":{"shape":"LargeBoundedString"},
        "resourceId":{
          "shape":"LargeBoundedString",
          "documentation":"<p>A conflict occurred when prompting for the Resource ID.</p>"
        },
        "resourceType":{
          "shape":"LargeBoundedString",
          "documentation":"<p>A conflict occurred when prompting for resource type.</p>"
        },
        "errors":{
          "shape":"ConflictExceptionErrors",
          "documentation":"<p>Conflict Exception specific errors.</p>"
        }
      },
      "documentation":"<p>The request could not be completed due to a conflict with the current state of the target resource.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ConflictExceptionErrors":{
      "type":"list",
      "member":{"shape":"ErrorDetails"}
    },
    "Connector":{
      "type":"structure",
      "members":{
        "connectorID":{
          "shape":"ConnectorID",
          "documentation":"<p>Connector ID.</p>"
        },
        "name":{
          "shape":"ConnectorName",
          "documentation":"<p>Connector name.</p>"
        },
        "ssmInstanceID":{
          "shape":"SsmInstanceID",
          "documentation":"<p>Connector SSM instance ID.</p>"
        },
        "arn":{
          "shape":"ARN",
          "documentation":"<p>Connector arn.</p>"
        },
        "tags":{
          "shape":"TagsMap",
          "documentation":"<p>Connector tags.</p>"
        },
        "ssmCommandConfig":{
          "shape":"ConnectorSsmCommandConfig",
          "documentation":"<p>Connector SSM command config.</p>"
        }
      }
    },
    "ConnectorArn":{
      "type":"string",
      "max":100,
      "min":27,
      "pattern":"arn:[\\w-]+:mgn:([a-z]{2}-(gov-)?[a-z]+-\\d{1})?:(\\d{12})?:connector\\/(connector-[0-9a-zA-Z]{17})"
    },
    "ConnectorID":{
      "type":"string",
      "max":27,
      "min":27,
      "pattern":"connector-[0-9a-zA-Z]{17}"
    },
    "ConnectorIDsFilter":{
      "type":"list",
      "member":{"shape":"ConnectorID"},
      "max":20,
      "min":0
    },
    "ConnectorName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_-]+"
    },
    "ConnectorSsmCommandConfig":{
      "type":"structure",
      "required":[
        "s3OutputEnabled",
        "cloudWatchOutputEnabled"
      ],
      "members":{
        "s3OutputEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Connector SSM command config S3 output enabled.</p>"
        },
        "outputS3BucketName":{
          "shape":"S3BucketName",
          "documentation":"<p>Connector SSM command config output S3 bucket name.</p>"
        },
        "cloudWatchOutputEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Connector SSM command config CloudWatch output enabled.</p>"
        },
        "cloudWatchLogGroupName":{
          "shape":"CloudWatchLogGroupName",
          "documentation":"<p>Connector SSM command config CloudWatch log group name.</p>"
        }
      },
      "documentation":"<p>Connector SSM command config.</p>"
    },
    "ConnectorsList":{
      "type":"list",
      "member":{"shape":"Connector"}
    },
    "ConstructID":{
      "type":"string",
      "max":36,
      "min":36,
      "pattern":"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "ConstructProperties":{
      "type":"map",
      "key":{"shape":"ConstructPropertyKey"},
      "value":{"shape":"MarshalledResourceDefinition"},
      "max":20,
      "min":0
    },
    "ConstructPropertyKey":{
      "type":"string",
      "max":24,
      "min":0
    },
    "Cpus":{
      "type":"list",
      "member":{"shape":"CPU"},
      "max":256,
      "min":0
    },
    "CreateApplicationRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"ApplicationName",
          "documentation":"<p>Application name.</p>"
        },
        "description":{
          "shape":"ApplicationDescription",
          "documentation":"<p>Application description.</p>"
        },
        "tags":{
          "shape":"TagsMap",
          "documentation":"<p>Application tags.</p>"
        },
        "accountID":{
          "shape":"AccountID",
          "documentation":"<p>Account ID.</p>"
        }
      }
    },
    "CreateConnectorRequest":{
      "type":"structure",
      "required":[
        "name",
        "ssmInstanceID"
      ],
      "members":{
        "name":{
          "shape":"ConnectorName",
          "documentation":"<p>Create Connector request name.</p>"
        },
        "ssmInstanceID":{
          "shape":"SsmInstanceID",
          "documentation":"<p>Create Connector request SSM instance ID.</p>"
        },
        "tags":{
          "shape":"TagsMap",
          "documentation":"<p>Create Connector request tags.</p>"
        },
        "ssmCommandConfig":{
          "shape":"ConnectorSsmCommandConfig",
          "documentation":"<p>Create Connector request SSM command config.</p>"
        }
      }
    },
    "CreateLaunchConfigurationTemplateRequest":{
      "type":"structure",
      "members":{
        "postLaunchActions":{
          "shape":"PostLaunchActions",
          "documentation":"<p>Launch configuration template post launch actions.</p>"
        },
        "enableMapAutoTagging":{
          "shape":"Boolean",
          "documentation":"<p>Enable map auto tagging.</p>"
        },
        "mapAutoTaggingMpeID":{
          "shape":"TagValue",
          "documentation":"<p>Launch configuration template map auto tagging MPE ID.</p>"
        },
        "tags":{
          "shape":"TagsMap",
          "documentation":"<p>Request to associate tags during creation of a Launch Configuration Template.</p>"
        },
        "launchDisposition":{
          "shape":"LaunchDisposition",
          "documentation":"<p>Launch disposition.</p>"
        },
        "targetInstanceTypeRightSizingMethod":{
          "shape":"TargetInstanceTypeRightSizingMethod",
          "documentation":"<p>Target instance type right-sizing method.</p>"
        },
        "copyPrivateIp":{
          "shape":"Boolean",
          "documentation":"<p>Copy private Ip.</p>"
        },
        "associatePublicIpAddress":{
          "shape":"Boolean",
          "documentation":"<p>Associate public Ip address.</p>"
        },
        "copyTags":{
          "shape":"Boolean",
          "documentation":"<p>Copy tags.</p>"
        },
        "licensing":{"shape":"Licensing"},
        "bootMode":{
          "shape":"BootMode",
          "documentation":"<p>Launch configuration template boot mode.</p>"
        },
        "smallVolumeMaxSize":{
          "shape":"PositiveInteger",
          "documentation":"<p>Small volume maximum size.</p>"
        },
        "smallVolumeConf":{
          "shape":"LaunchTemplateDiskConf",
          "documentation":"<p>Small volume config.</p>"
        },
        "largeVolumeConf":{
          "shape":"LaunchTemplateDiskConf",
          "documentation":"<p>Large volume config.</p>"
        },
        "enableParametersEncryption":{
          "shape":"Boolean",
          "documentation":"<p>Enable parameters encryption.</p>"
        },
        "parametersEncryptionKey":{
          "shape":"KmsKeyArn",
          "documentation":"<p>Parameters encryption key.</p>"
        }
      }
    },
    "CreateNetworkMigrationDefinitionRequest":{
      "type":"structure",
      "required":[
        "name",
        "targetS3Configuration",
        "targetNetwork"
      ],
      "members":{
        "name":{
          "shape":"NetworkMigrationDefinitionName",
          "documentation":"<p>The name of the network migration definition.</p>"
        },
        "description":{
          "shape":"NetworkMigrationDefinitionDescription",
          "documentation":"<p>A description of the network migration definition.</p>"
        },
        "sourceConfigurations":{
          "shape":"SourceConfigurationList",
          "documentation":"<p>A list of source configurations for the network migration.</p>"
        },
        "targetS3Configuration":{
          "shape":"TargetS3Configuration",
          "documentation":"<p>The S3 configuration for storing the target network artifacts.</p>"
        },
        "targetNetwork":{
          "shape":"TargetNetwork",
          "documentation":"<p>The target network configuration including topology and CIDR ranges.</p>"
        },
        "targetDeployment":{
          "shape":"TargetDeployment",
          "documentation":"<p>The target deployment configuration for the migrated network.</p>"
        },
        "tags":{
          "shape":"TagsMap",
          "documentation":"<p>Tags to assign to the network migration definition.</p>"
        },
        "scopeTags":{
          "shape":"ScopeTagsMap",
          "documentation":"<p>Scope tags for the network migration definition to control access and organization.</p>"
        }
      }
    },
    "CreateReplicationConfigurationTemplateRequest":{
      "type":"structure",
      "required":[
        "stagingAreaSubnetId",
        "associateDefaultSecurityGroup",
        "replicationServersSecurityGroupsIDs",
        "replicationServerInstanceType",
        "useDedicatedReplicationServer",
        "defaultLargeStagingDiskType",
        "ebsEncryption",
        "bandwidthThrottling",
        "dataPlaneRouting",
        "createPublicIP",
        "stagingAreaTags"
      ],
      "members":{
        "stagingAreaSubnetId":{
          "shape":"SubnetID",
          "documentation":"<p>Request to configure the Staging Area subnet ID during Replication Settings template creation.</p>"
        },
        "associateDefaultSecurityGroup":{
          "shape":"Boolean",
          "documentation":"<p>Request to associate the default Application Migration Service Security group with the Replication Settings template.</p>"
        },
        "replicationServersSecurityGroupsIDs":{
          "shape":"ReplicationServersSecurityGroupsIDs",
          "documentation":"<p>Request to configure the Replication Server Security group ID during Replication Settings template creation.</p>"
        },
        "replicationServerInstanceType":{
          "shape":"EC2InstanceType",
          "documentation":"<p>Request to configure the Replication Server instance type during Replication Settings template creation.</p>"
        },
        "useDedicatedReplicationServer":{
          "shape":"Boolean",
          "documentation":"<p>Request to use Dedicated Replication Servers during Replication Settings template creation.</p>"
        },
        "defaultLargeStagingDiskType":{
          "shape":"ReplicationConfigurationDefaultLargeStagingDiskType",
          "documentation":"<p>Request to configure the default large staging disk EBS volume type during Replication Settings template creation.</p>"
        },
        "ebsEncryption":{
          "shape":"ReplicationConfigurationEbsEncryption",
          "documentation":"<p>Request to configure EBS encryption during Replication Settings template creation.</p>"
        },
        "ebsEncryptionKeyArn":{
          "shape":"ARN",
          "documentation":"<p>Request to configure an EBS encryption key during Replication Settings template creation.</p>"
        },
        "bandwidthThrottling":{
          "shape":"BandwidthThrottling",
          "documentation":"<p>Request to configure bandwidth throttling during Replication Settings template creation.</p>"
        },
        "dataPlaneRouting":{
          "shape":"ReplicationConfigurationDataPlaneRouting",
          "documentation":"<p>Request to configure data plane routing during Replication Settings template creation.</p>"
        },
        "createPublicIP":{
          "shape":"Boolean",
          "documentation":"<p>Request to create Public IP during Replication Settings template creation.</p>"
        },
        "stagingAreaTags":{
          "shape":"TagsMap",
          "documentation":"<p>Request to configure Staging Area tags during Replication Settings template creation.</p>"
        },
        "useFipsEndpoint":{
          "shape":"Boolean",
          "documentation":"<p>Request to use Fips Endpoint during Replication Settings template creation.</p>"
        },
        "tags":{
          "shape":"TagsMap",
          "documentation":"<p>Request to configure tags during Replication Settings template creation.</p>"
        },
        "internetProtocol":{
          "shape":"InternetProtocol",
          "documentation":"<p>Request to configure the internet protocol to IPv4 or IPv6.</p>"
        },
        "storeSnapshotOnLocalZone":{
          "shape":"Boolean",
          "documentation":"<p>Request to store snapshot on local zone during Replication Settings template creation.</p>"
        }
      }
    },
    "CreateWaveRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"WaveName",
          "documentation":"<p>Wave name.</p>"
        },
        "description":{
          "shape":"WaveDescription",
          "documentation":"<p>Wave description.</p>"
        },
        "tags":{
          "shape":"TagsMap",
          "documentation":"<p>Wave tags.</p>"
        },
        "accountID":{
          "shape":"AccountID",
          "documentation":"<p>Account ID.</p>"
        }
      }
    },
    "DataReplicationError":{
      "type":"structure",
      "members":{
        "error":{
          "shape":"DataReplicationErrorString",
          "documentation":"<p>Error in data replication.</p>"
        },
        "rawError":{
          "shape":"LargeBoundedString",
          "documentation":"<p>Error in data replication.</p>"
        }
      },
      "documentation":"<p>Error in data replication.</p>"
    },
    "DataReplicationErrorString":{
      "type":"string",
      "enum":[
        "AGENT_NOT_SEEN",
        "SNAPSHOTS_FAILURE",
        "NOT_CONVERGING",
        "UNSTABLE_NETWORK",
        "FAILED_TO_CREATE_SECURITY_GROUP",
        "FAILED_TO_LAUNCH_REPLICATION_SERVER",
        "FAILED_TO_BOOT_REPLICATION_SERVER",
        "FAILED_TO_AUTHENTICATE_WITH_SERVICE",
        "FAILED_TO_DOWNLOAD_REPLICATION_SOFTWARE",
        "FAILED_TO_CREATE_STAGING_DISKS",
        "FAILED_TO_ATTACH_STAGING_DISKS",
        "FAILED_TO_PAIR_REPLICATION_SERVER_WITH_AGENT",
        "FAILED_TO_CONNECT_AGENT_TO_REPLICATION_SERVER",
        "FAILED_TO_START_DATA_TRANSFER",
        "UNSUPPORTED_VM_CONFIGURATION",
        "LAST_SNAPSHOT_JOB_FAILED"
      ]
    },
    "DataReplicationInfo":{
      "type":"structure",
      "members":{
        "lagDuration":{
          "shape":"ISO8601DurationString",
          "documentation":"<p>Request to query data replication lag duration.</p>"
        },
        "etaDateTime":{
          "shape":"ISO8601DatetimeString",
          "documentation":"<p>Request to query the time when data replication will be complete.</p>"
        },
        "replicatedDisks":{
          "shape":"DataReplicationInfoReplicatedDisks",
          "documentation":"<p>Request to query disks replicated.</p>"
        },
        "dataReplicationState":{
          "shape":"DataReplicationState",
          "documentation":"<p>Request to query the data replication state.</p>"
        },
        "dataReplicationInitiation":{
          "shape":"DataReplicationInitiation",
          "documentation":"<p>Request to query whether data replication has been initiated.</p>"
        },
        "dataReplicationError":{
          "shape":"DataReplicationError",
          "documentation":"<p>Error in obtaining data replication info.</p>"
        },
        "lastSnapshotDateTime":{
          "shape":"ISO8601DatetimeString",
          "documentation":"<p>Request to query data replication last snapshot time.</p>"
        },
        "replicatorId":{
          "shape":"ReplicatorID",
          "documentation":"<p>Replication server instance ID.</p>"
        }
      },
      "documentation":"<p>Request data replication info.</p>"
    },
    "DataReplicationInfoReplicatedDisk":{
      "type":"structure",
      "members":{
        "deviceName":{
          "shape":"BoundedString",
          "documentation":"<p>Request to query device name.</p>"
        },
        "totalStorageBytes":{
          "shape":"PositiveInteger",
          "documentation":"<p>Request to query total amount of data replicated in bytes.</p>"
        },
        "replicatedStorageBytes":{
          "shape":"PositiveInteger",
          "documentation":"<p>Request to query amount of data replicated in bytes.</p>"
        },
        "rescannedStorageBytes":{
          "shape":"PositiveInteger",
          "documentation":"<p>Request to query amount of data rescanned in bytes.</p>"
        },
        "backloggedStorageBytes":{
          "shape":"PositiveInteger",
          "documentation":"<p>Request to query data replication backlog size in bytes.</p>"
        }
      },
      "documentation":"<p>Request to query disks replicated.</p>"
    },
    "DataReplicationInfoReplicatedDisks":{
      "type":"list",
      "member":{"shape":"DataReplicationInfoReplicatedDisk"},
      "max":60,
      "min":0
    },
    "DataReplicationInitiation":{
      "type":"structure",
      "members":{
        "startDateTime":{
          "shape":"ISO8601DatetimeString",
          "documentation":"<p>Request to query data initiation start date and time.</p>"
        },
        "nextAttemptDateTime":{
          "shape":"ISO8601DatetimeString",
          "documentation":"<p>Request to query next data initiation date and time.</p>"
        },
        "steps":{
          "shape":"DataReplicationInitiationSteps",
          "documentation":"<p>Request to query data initiation steps.</p>"
        }
      },
      "documentation":"<p>Data replication initiation.</p>"
    },
    "DataReplicationInitiationStep":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"DataReplicationInitiationStepName",
          "documentation":"<p>Request to query data initiation step name.</p>"
        },
        "status":{
          "shape":"DataReplicationInitiationStepStatus",
          "documentation":"<p>Request to query data initiation status.</p>"
        }
      },
      "documentation":"<p>Data replication initiation step.</p>"
    },
    "DataReplicationInitiationStepName":{
      "type":"string",
      "enum":[
        "WAIT",
        "CREATE_SECURITY_GROUP",
        "LAUNCH_REPLICATION_SERVER",
        "BOOT_REPLICATION_SERVER",
        "AUTHENTICATE_WITH_SERVICE",
        "DOWNLOAD_REPLICATION_SOFTWARE",
        "CREATE_STAGING_DISKS",
        "ATTACH_STAGING_DISKS",
        "PAIR_REPLICATION_SERVER_WITH_AGENT",
        "CONNECT_AGENT_TO_REPLICATION_SERVER",
        "START_DATA_TRANSFER"
      ]
    },
    "DataReplicationInitiationStepStatus":{
      "type":"string",
      "enum":[
        "NOT_STARTED",
        "IN_PROGRESS",
        "SUCCEEDED",
        "FAILED",
        "SKIPPED"
      ]
    },
    "DataReplicationInitiationSteps":{
      "type":"list",
      "member":{"shape":"DataReplicationInitiationStep"}
    },
    "DataReplicationState":{
      "type":"string",
      "enum":[
        "STOPPED",
        "INITIATING",
        "INITIAL_SYNC",
        "BACKLOG",
        "CREATING_SNAPSHOT",
        "CONTINUOUS",
        "PAUSED",
        "RESCAN",
        "STALLED",
        "DISCONNECTED",
        "PENDING_SNAPSHOT_SHIPPING",
        "SHIPPING_SNAPSHOT"
      ]
    },
    "DeleteApplicationRequest":{
      "type":"structure",
      "required":["applicationID"],
      "members":{
        "applicationID":{
          "shape":"ApplicationID",
          "documentation":"<p>Application ID.</p>"
        },
        "accountID":{
          "shape":"AccountID",
          "documentation":"<p>Account ID.</p>"
        }
      }
    },
    "DeleteApplicationResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteConnectorRequest":{
      "type":"structure",
      "required":["connectorID"],
      "members":{
        "connectorID":{
          "shape":"ConnectorID",
          "documentation":"<p>Delete Connector request connector ID.</p>"
        }
      }
    },
    "DeleteJobRequest":{
      "type":"structure",
      "required":["jobID"],
      "members":{
        "jobID":{
          "shape":"JobID",
          "documentation":"<p>Request to delete Job from service by Job ID.</p>"
        },
        "accountID":{
          "shape":"AccountID",
          "documentation":"<p>Request to delete Job from service by Account ID.</p>"
        }
      }
    },
    "DeleteJobResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteLaunchConfigurationTemplateRequest":{
      "type":"structure",
      "required":["launchConfigurationTemplateID"],
      "members":{
        "launchConfigurationTemplateID":{
          "shape":"LaunchConfigurationTemplateID",
          "documentation":"<p>ID of resource to be deleted.</p>"
        }
      }
    },
    "DeleteLaunchConfigurationTemplateResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteNetworkMigrationDefinitionRequest":{
      "type":"structure",
      "required":["networkMigrationDefinitionID"],
      "members":{
        "networkMigrationDefinitionID":{
          "shape":"NetworkMigrationDefinitionID",
          "documentation":"<p>The unique identifier of the network migration definition to delete.</p>"
        }
      }
    },
    "DeleteNetworkMigrationDefinitionResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteOperation":{
      "type":"structure",
      "members":{},
      "documentation":"<p>An operation that deletes a construct from the mapping.</p>"
    },
    "DeleteReplicationConfigurationTemplateRequest":{
      "type":"structure",
      "required":["replicationConfigurationTemplateID"],
      "members":{
        "replicationConfigurationTemplateID":{
          "shape":"ReplicationConfigurationTemplateID",
          "documentation":"<p>Request to delete Replication Configuration Template from service by Replication Configuration Template ID.</p>"
        }
      }
    },
    "DeleteReplicationConfigurationTemplateResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteSourceServerRequest":{
      "type":"structure",
      "required":["sourceServerID"],
      "members":{
        "sourceServerID":{
          "shape":"SourceServerID",
          "documentation":"<p>Request to delete Source Server from service by Server ID.</p>"
        },
        "accountID":{
          "shape":"AccountID",
          "documentation":"<p>Request to delete Source Server from service by Account ID.</p>"
        }
      }
    },
    "DeleteSourceServerResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteVcenterClientRequest":{
      "type":"structure",
      "required":["vcenterClientID"],
      "members":{
        "vcenterClientID":{
          "shape":"VcenterClientID",
          "documentation":"<p>ID of resource to be deleted.</p>"
        }
      }
    },
    "DeleteWaveRequest":{
      "type":"structure",
      "required":["waveID"],
      "members":{
        "waveID":{
          "shape":"WaveID",
          "documentation":"<p>Wave ID.</p>"
        },
        "accountID":{
          "shape":"AccountID",
          "documentation":"<p>Account ID.</p>"
        }
      }
    },
    "DeleteWaveResponse":{
      "type":"structure",
      "members":{}
    },
    "DescribeJobLogItemsRequest":{
      "type":"structure",
      "required":["jobID"],
      "members":{
        "jobID":{
          "shape":"JobID",
          "documentation":"<p>Request to describe Job log job ID.</p>"
        },
        "maxResults":{
          "shape":"MaxResultsType",
          "documentation":"<p>Request to describe Job log item maximum results.</p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Request to describe Job log next token.</p>"
        },
        "accountID":{
          "shape":"AccountID",
          "documentation":"<p>Request to describe Job log Account ID.</p>"
        }
      }
    },
    "DescribeJobLogItemsResponse":{
      "type":"structure",
      "members":{
        "items":{
          "shape":"JobLogs",
          "documentation":"<p>Request to describe Job log response items.</p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Request to describe Job log response next token.</p>"
        }
      }
    },
    "DescribeJobsRequest":{
      "type":"structure",
      "members":{
        "filters":{
          "shape":"DescribeJobsRequestFilters",
          "documentation":"<p>Request to describe Job log filters.</p>"
        },
        "maxResults":{
          "shape":"MaxResultsType",
          "documentation":"<p>Request to describe job log items by max results.</p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Request to describe job log items by next token.</p>"
        },
        "accountID":{
          "shape":"AccountID",
          "documentation":"<p>Request to describe job log items by Account ID.</p>"
        }
      }
    },
    "DescribeJobsRequestFilters":{
      "type":"structure",
      "members":{
        "jobIDs":{
          "shape":"DescribeJobsRequestFiltersJobIDs",
          "documentation":"<p>Request to describe Job log filters by job ID.</p>"
        },
        "fromDate":{
          "shape":"ISO8601DatetimeString",
          "documentation":"<p>Request to describe Job log filters by date.</p>"
        },
        "toDate":{
          "shape":"ISO8601DatetimeString",
          "documentation":"<p>Request to describe job log items by last date.</p>"
        }
      },
      "documentation":"<p>Request to describe Job log filters.</p>"
    },
    "DescribeJobsRequestFiltersJobIDs":{
      "type":"list",
      "member":{"shape":"JobID"},
      "max":1000,
      "min":0
    },
    "DescribeJobsResponse":{
      "type":"structure",
      "members":{
        "items":{
          "shape":"JobsList",
          "documentation":"<p>Request to describe Job log items.</p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Request to describe Job response by next token.</p>"
        }
      }
    },
    "DescribeLaunchConfigurationTemplatesRequest":{
      "type":"structure",
      "members":{
        "launchConfigurationTemplateIDs":{
          "shape":"LaunchConfigurationTemplateIDs",
          "documentation":"<p>Request to filter Launch Configuration Templates list by Launch Configuration Template ID.</p>"
        },
        "maxResults":{
          "shape":"MaxResultsType",
          "documentation":"<p>Maximum results to be returned in DescribeLaunchConfigurationTemplates.</p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Next pagination token returned from DescribeLaunchConfigurationTemplates.</p>"
        }
      }
    },
    "DescribeLaunchConfigurationTemplatesResponse":{
      "type":"structure",
      "members":{
        "items":{
          "shape":"LaunchConfigurationTemplates",
          "documentation":"<p>List of items returned by DescribeLaunchConfigurationTemplates.</p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Next pagination token returned from DescribeLaunchConfigurationTemplates.</p>"
        }
      }
    },
    "DescribeReplicationConfigurationTemplatesRequest":{
      "type":"structure",
      "members":{
        "replicationConfigurationTemplateIDs":{
          "shape":"ReplicationConfigurationTemplateIDs",
[...]
