{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-07-14",
    "endpointPrefix":"ivs",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceAbbreviation":"Amazon IVS",
    "serviceFullName":"Amazon Interactive Video Service",
    "serviceId":"ivs",
    "signatureVersion":"v4",
    "signingName":"ivs",
    "uid":"ivs-2020-07-14"
  },
  "operations":{
    "BatchGetChannel":{
      "name":"BatchGetChannel",
      "http":{
        "method":"POST",
        "requestUri":"/BatchGetChannel",
        "responseCode":200
      },
      "input":{"shape":"BatchGetChannelRequest"},
      "output":{"shape":"BatchGetChannelResponse"},
      "documentation":"<p>Performs <a>GetChannel</a> on multiple ARNs simultaneously.</p>"
    },
    "BatchGetStreamKey":{
      "name":"BatchGetStreamKey",
      "http":{
        "method":"POST",
        "requestUri":"/BatchGetStreamKey",
        "responseCode":200
      },
      "input":{"shape":"BatchGetStreamKeyRequest"},
      "output":{"shape":"BatchGetStreamKeyResponse"},
      "documentation":"<p>Performs <a>GetStreamKey</a> on multiple ARNs simultaneously.</p>"
    },
    "CreateChannel":{
      "name":"CreateChannel",
      "http":{
        "method":"POST",
        "requestUri":"/CreateChannel",
        "responseCode":200
      },
      "input":{"shape":"CreateChannelRequest"},
      "output":{"shape":"CreateChannelResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"PendingVerification"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a new channel and an associated stream key to start streaming.</p>"
    },
    "CreateRecordingConfiguration":{
      "name":"CreateRecordingConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/CreateRecordingConfiguration",
        "responseCode":200
      },
      "input":{"shape":"CreateRecordingConfigurationRequest"},
      "output":{"shape":"CreateRecordingConfigurationResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"PendingVerification"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a new recording configuration, used to enable recording to Amazon S3.</p> <p> <b>Known issue:</b> In the us-east-1 region, if you use the Amazon Web Services CLI to create a recording configuration, it returns success even if the S3 bucket is in a different region. In this case, the <code>state</code> of the recording configuration is <code>CREATE_FAILED</code> (instead of <code>ACTIVE</code>). (In other regions, the CLI correctly returns failure if the bucket is in a different region.)</p> <p> <b>Workaround:</b> Ensure that your S3 bucket is in the same region as the recording configuration. If you create a recording configuration in a different region as your S3 bucket, delete that recording configuration and create a new one with an S3 bucket from the correct region.</p>"
    },
    "CreateStreamKey":{
      "name":"CreateStreamKey",
      "http":{
        "method":"POST",
        "requestUri":"/CreateStreamKey",
        "responseCode":200
      },
      "input":{"shape":"CreateStreamKeyRequest"},
      "output":{"shape":"CreateStreamKeyResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"PendingVerification"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a stream key, used to initiate a stream, for the specified channel ARN.</p> <p>Note that <a>CreateChannel</a> creates a stream key. If you subsequently use CreateStreamKey on the same channel, it will fail because a stream key already exists and there is a limit of 1 stream key per channel. To reset the stream key on a channel, use <a>DeleteStreamKey</a> and then CreateStreamKey.</p>"
    },
    "DeleteChannel":{
      "name":"DeleteChannel",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteChannel",
        "responseCode":204
      },
      "input":{"shape":"DeleteChannelRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"PendingVerification"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes the specified channel and its associated stream keys.</p> <p>If you try to delete a live channel, you will get an error (409 ConflictException). To delete a channel that is live, call <a>StopStream</a>, wait for the Amazon EventBridge \"Stream End\" event (to verify that the stream's state was changed from Live to Offline), then call DeleteChannel. (See <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/eventbridge.html\"> Using EventBridge with Amazon IVS</a>.) </p>"
    },
    "DeletePlaybackKeyPair":{
      "name":"DeletePlaybackKeyPair",
      "http":{
        "method":"POST",
        "requestUri":"/DeletePlaybackKeyPair",
        "responseCode":200
      },
      "input":{"shape":"DeletePlaybackKeyPairRequest"},
      "output":{"shape":"DeletePlaybackKeyPairResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"PendingVerification"}
      ],
      "documentation":"<p>Deletes a specified authorization key pair. This invalidates future viewer tokens generated using the key pair’s <code>privateKey</code>. For more information, see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/private-channels.html\">Setting Up Private Channels</a> in the <i>Amazon IVS User Guide</i>.</p>"
    },
    "DeleteRecordingConfiguration":{
      "name":"DeleteRecordingConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteRecordingConfiguration",
        "responseCode":200
      },
      "input":{"shape":"DeleteRecordingConfigurationRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes the recording configuration for the specified ARN.</p> <p>If you try to delete a recording configuration that is associated with a channel, you will get an error (409 ConflictException). To avoid this, for all channels that reference the recording configuration, first use <a>UpdateChannel</a> to set the <code>recordingConfigurationArn</code> field to an empty string, then use DeleteRecordingConfiguration.</p>"
    },
    "DeleteStreamKey":{
      "name":"DeleteStreamKey",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteStreamKey",
        "responseCode":204
      },
      "input":{"shape":"DeleteStreamKeyRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"PendingVerification"}
      ],
      "documentation":"<p>Deletes the stream key for the specified ARN, so it can no longer be used to stream.</p>"
    },
    "GetChannel":{
      "name":"GetChannel",
      "http":{
        "method":"POST",
        "requestUri":"/GetChannel",
        "responseCode":200
      },
      "input":{"shape":"GetChannelRequest"},
      "output":{"shape":"GetChannelResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets the channel configuration for the specified channel ARN. See also <a>BatchGetChannel</a>.</p>"
    },
    "GetPlaybackKeyPair":{
      "name":"GetPlaybackKeyPair",
      "http":{
        "method":"POST",
        "requestUri":"/GetPlaybackKeyPair",
        "responseCode":200
      },
      "input":{"shape":"GetPlaybackKeyPairRequest"},
      "output":{"shape":"GetPlaybackKeyPairResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a specified playback authorization key pair and returns the <code>arn</code> and <code>fingerprint</code>. The <code>privateKey</code> held by the caller can be used to generate viewer authorization tokens, to grant viewers access to private channels. For more information, see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/private-channels.html\">Setting Up Private Channels</a> in the <i>Amazon IVS User Guide</i>.</p>"
    },
    "GetRecordingConfiguration":{
      "name":"GetRecordingConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/GetRecordingConfiguration",
        "responseCode":200
      },
      "input":{"shape":"GetRecordingConfigurationRequest"},
      "output":{"shape":"GetRecordingConfigurationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets the recording configuration for the specified ARN.</p>"
    },
    "GetStream":{
      "name":"GetStream",
      "http":{
        "method":"POST",
        "requestUri":"/GetStream",
        "responseCode":200
      },
      "input":{"shape":"GetStreamRequest"},
      "output":{"shape":"GetStreamResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ChannelNotBroadcasting"}
      ],
      "documentation":"<p>Gets information about the active (live) stream on a specified channel.</p>"
    },
    "GetStreamKey":{
      "name":"GetStreamKey",
      "http":{
        "method":"POST",
        "requestUri":"/GetStreamKey",
        "responseCode":200
      },
      "input":{"shape":"GetStreamKeyRequest"},
      "output":{"shape":"GetStreamKeyResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets stream-key information for a specified ARN.</p>"
    },
    "ImportPlaybackKeyPair":{
      "name":"ImportPlaybackKeyPair",
      "http":{
        "method":"POST",
        "requestUri":"/ImportPlaybackKeyPair",
        "responseCode":200
      },
      "input":{"shape":"ImportPlaybackKeyPairRequest"},
      "output":{"shape":"ImportPlaybackKeyPairResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"PendingVerification"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Imports the public portion of a new key pair and returns its <code>arn</code> and <code>fingerprint</code>. The <code>privateKey</code> can then be used to generate viewer authorization tokens, to grant viewers access to private channels. For more information, see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/private-channels.html\">Setting Up Private Channels</a> in the <i>Amazon IVS User Guide</i>.</p>"
    },
    "ListChannels":{
      "name":"ListChannels",
      "http":{
        "method":"POST",
        "requestUri":"/ListChannels",
        "responseCode":200
      },
      "input":{"shape":"ListChannelsRequest"},
      "output":{"shape":"ListChannelsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Gets summary information about all channels in your account, in the Amazon Web Services region where the API request is processed. This list can be filtered to match a specified name or recording-configuration ARN. Filters are mutually exclusive and cannot be used together. If you try to use both filters, you will get an error (409 ConflictException).</p>"
    },
    "ListPlaybackKeyPairs":{
      "name":"ListPlaybackKeyPairs",
      "http":{
        "method":"POST",
        "requestUri":"/ListPlaybackKeyPairs",
        "responseCode":200
      },
      "input":{"shape":"ListPlaybackKeyPairsRequest"},
      "output":{"shape":"ListPlaybackKeyPairsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets summary information about playback key pairs. For more information, see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/private-channels.html\">Setting Up Private Channels</a> in the <i>Amazon IVS User Guide</i>.</p>"
    },
    "ListRecordingConfigurations":{
      "name":"ListRecordingConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/ListRecordingConfigurations",
        "responseCode":200
      },
      "input":{"shape":"ListRecordingConfigurationsRequest"},
      "output":{"shape":"ListRecordingConfigurationsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets summary information about all recording configurations in your account, in the Amazon Web Services region where the API request is processed.</p>"
    },
    "ListStreamKeys":{
      "name":"ListStreamKeys",
      "http":{
        "method":"POST",
        "requestUri":"/ListStreamKeys",
        "responseCode":200
      },
      "input":{"shape":"ListStreamKeysRequest"},
      "output":{"shape":"ListStreamKeysResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets summary information about stream keys for the specified channel.</p>"
    },
    "ListStreams":{
      "name":"ListStreams",
      "http":{
        "method":"POST",
        "requestUri":"/ListStreams",
        "responseCode":200
      },
      "input":{"shape":"ListStreamsRequest"},
      "output":{"shape":"ListStreamsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets summary information about live streams in your account, in the Amazon Web Services region where the API request is processed.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets information about Amazon Web Services tags for the specified ARN.</p>"
    },
    "PutMetadata":{
      "name":"PutMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/PutMetadata",
        "responseCode":200
      },
      "input":{"shape":"PutMetadataRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ChannelNotBroadcasting"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Inserts metadata into the active stream of the specified channel. At most 5 requests per second per channel are allowed, each with a maximum 1 KB payload. (If 5 TPS is not sufficient for your needs, we recommend batching your data into a single PutMetadata call.) At most 155 requests per second per account are allowed. Also see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/metadata.html\">Embedding Metadata within a Video Stream</a> in the <i>Amazon IVS User Guide</i>.</p>"
    },
    "StopStream":{
      "name":"StopStream",
      "http":{
        "method":"POST",
        "requestUri":"/StopStream",
        "responseCode":200
      },
      "input":{"shape":"StopStreamRequest"},
      "output":{"shape":"StopStreamResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ChannelNotBroadcasting"},
        {"shape":"StreamUnavailable"}
      ],
      "documentation":"<p>Disconnects the incoming RTMPS stream for the specified channel. Can be used in conjunction with <a>DeleteStreamKey</a> to prevent further streaming to a channel.</p> <note> <p>Many streaming client-software libraries automatically reconnect a dropped RTMPS session, so to stop the stream permanently, you may want to first revoke the <code>streamKey</code> attached to the channel.</p> </note>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Adds or updates tags for the Amazon Web Services resource with the specified ARN.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Removes tags from the resource with the specified ARN.</p>",
      "idempotent":true
    },
    "UpdateChannel":{
      "name":"UpdateChannel",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateChannel",
        "responseCode":200
      },
      "input":{"shape":"UpdateChannelRequest"},
      "output":{"shape":"UpdateChannelResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"PendingVerification"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates a channel's configuration. This does not affect an ongoing stream of this channel. You must stop and restart the stream for the changes to take effect.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "exceptionMessage":{
          "shape":"errorMessage",
          "documentation":"<p>User does not have sufficient access to perform this action.</p>"
        }
      },
      "documentation":"<p/>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "BatchError":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"ResourceArn",
          "documentation":"<p>Channel ARN.</p>"
        },
        "code":{
          "shape":"errorCode",
          "documentation":"<p>Error code.</p>"
        },
        "message":{
          "shape":"errorMessage",
          "documentation":"<p>Error message, determined by the application.</p>"
        }
      },
      "documentation":"<p>Error related to a specific channel, specified by its ARN.</p>"
    },
    "BatchErrors":{
      "type":"list",
      "member":{"shape":"BatchError"}
    },
    "BatchGetChannelRequest":{
      "type":"structure",
      "required":["arns"],
      "members":{
        "arns":{
          "shape":"ChannelArnList",
          "documentation":"<p>Array of ARNs, one per channel.</p>"
        }
      }
    },
    "BatchGetChannelResponse":{
      "type":"structure",
      "members":{
        "channels":{
          "shape":"Channels",
          "documentation":"<p/>"
        },
        "errors":{
          "shape":"BatchErrors",
          "documentation":"<p>Each error object is related to a specific ARN in the request.</p>"
        }
      }
    },
    "BatchGetStreamKeyRequest":{
      "type":"structure",
      "required":["arns"],
      "members":{
        "arns":{
          "shape":"StreamKeyArnList",
          "documentation":"<p>Array of ARNs, one per channel.</p>"
        }
      }
    },
    "BatchGetStreamKeyResponse":{
      "type":"structure",
      "members":{
        "errors":{
          "shape":"BatchErrors",
          "documentation":"<p/>"
        },
        "streamKeys":{
          "shape":"StreamKeys",
          "documentation":"<p/>"
        }
      }
    },
    "Boolean":{"type":"boolean"},
    "Channel":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"ChannelArn",
          "documentation":"<p>Channel ARN.</p>"
        },
        "authorized":{
          "shape":"IsAuthorized",
          "documentation":"<p>Whether the channel is private (enabled for playback authorization). Default: <code>false</code>.</p>"
        },
        "ingestEndpoint":{
          "shape":"IngestEndpoint",
          "documentation":"<p>Channel ingest endpoint, part of the definition of an ingest server, used when you set up streaming software.</p>"
        },
        "latencyMode":{
          "shape":"ChannelLatencyMode",
          "documentation":"<p>Channel latency mode. Use <code>NORMAL</code> to broadcast and deliver live video up to Full HD. Use <code>LOW</code> for near-real-time interaction with viewers. Default: <code>LOW</code>. (Note: In the Amazon IVS console, <code>LOW</code> and <code>NORMAL</code> correspond to Ultra-low and Standard, respectively.)</p>"
        },
        "name":{
          "shape":"ChannelName",
          "documentation":"<p>Channel name.</p>"
        },
        "playbackUrl":{
          "shape":"PlaybackURL",
          "documentation":"<p>Channel playback URL.</p>"
        },
        "recordingConfigurationArn":{
          "shape":"ChannelRecordingConfigurationArn",
          "documentation":"<p>Recording-configuration ARN. A value other than an empty string indicates that recording is enabled. Default: \"\" (empty string, recording is disabled).</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        },
        "type":{
          "shape":"ChannelType",
          "documentation":"<p>Channel type, which determines the allowable resolution and bitrate. <i>If you exceed the allowable resolution or bitrate, the stream probably will disconnect immediately.</i> Default: <code>STANDARD</code>. Valid values:</p> <ul> <li> <p> <code>STANDARD</code>: Multiple qualities are generated from the original input, to automatically give viewers the best experience for their devices and network conditions. Resolution can be up to 1080p and bitrate can be up to 8.5 Mbps. Audio is transcoded only for renditions 360p and below; above that, audio is passed through.</p> </li> <li> <p> <code>BASIC</code>: Amazon IVS delivers the original input to viewers. The viewer’s video-quality choice is limited to the original input. Resolution can be up to 480p and bitrate can be up to 1.5 Mbps.</p> </li> </ul>"
        }
      },
      "documentation":"<p>Object specifying a channel.</p>"
    },
    "ChannelArn":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^arn:aws:[is]vs:[a-z0-9-]+:[0-9]+:channel/[a-zA-Z0-9-]+$"
    },
    "ChannelArnList":{
      "type":"list",
      "member":{"shape":"ChannelArn"},
      "max":50,
      "min":1
    },
    "ChannelLatencyMode":{
      "type":"string",
      "enum":[
        "NORMAL",
        "LOW"
      ]
    },
    "ChannelList":{
      "type":"list",
      "member":{"shape":"ChannelSummary"}
    },
    "ChannelName":{
      "type":"string",
      "max":128,
      "min":0,
      "pattern":"^[a-zA-Z0-9-_]*$"
    },
    "ChannelNotBroadcasting":{
      "type":"structure",
      "members":{
        "exceptionMessage":{
          "shape":"errorMessage",
          "documentation":"<p>The stream is offline for the given channel ARN.</p>"
        }
      },
      "documentation":"<p/>",
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ChannelRecordingConfigurationArn":{
      "type":"string",
      "max":128,
      "min":0,
      "pattern":"^$|^arn:aws:ivs:[a-z0-9-]+:[0-9]+:recording-configuration/[a-zA-Z0-9-]+$"
    },
    "ChannelSummary":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"ChannelArn",
          "documentation":"<p>Channel ARN.</p>"
        },
        "authorized":{
          "shape":"IsAuthorized",
          "documentation":"<p>Whether the channel is private (enabled for playback authorization). Default: <code>false</code>.</p>"
        },
        "latencyMode":{
          "shape":"ChannelLatencyMode",
          "documentation":"<p>Channel latency mode. Use <code>NORMAL</code> to broadcast and deliver live video up to Full HD. Use <code>LOW</code> for near-real-time interaction with viewers. Default: <code>LOW</code>. (Note: In the Amazon IVS console, <code>LOW</code> and <code>NORMAL</code> correspond to Ultra-low and Standard, respectively.)</p>"
        },
        "name":{
          "shape":"ChannelName",
          "documentation":"<p>Channel name.</p>"
        },
        "recordingConfigurationArn":{
          "shape":"ChannelRecordingConfigurationArn",
          "documentation":"<p>Recording-configuration ARN. A value other than an empty string indicates that recording is enabled. Default: \"\" (empty string, recording is disabled).</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        }
      },
      "documentation":"<p>Summary information about a channel.</p>"
    },
    "ChannelType":{
      "type":"string",
      "enum":[
        "BASIC",
        "STANDARD"
      ]
    },
    "Channels":{
      "type":"list",
      "member":{"shape":"Channel"}
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "exceptionMessage":{
          "shape":"errorMessage",
          "documentation":"<p>Updating or deleting a resource can cause an inconsistent state.</p>"
        }
      },
      "documentation":"<p/>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CreateChannelRequest":{
      "type":"structure",
      "members":{
        "authorized":{
          "shape":"Boolean",
          "documentation":"<p>Whether the channel is private (enabled for playback authorization). Default: <code>false</code>.</p>"
        },
        "latencyMode":{
          "shape":"ChannelLatencyMode",
          "documentation":"<p>Channel latency mode. Use <code>NORMAL</code> to broadcast and deliver live video up to Full HD. Use <code>LOW</code> for near-real-time interaction with viewers. (Note: In the Amazon IVS console, <code>LOW</code> and <code>NORMAL</code> correspond to Ultra-low and Standard, respectively.) Default: <code>LOW</code>.</p>"
        },
        "name":{
          "shape":"ChannelName",
          "documentation":"<p>Channel name.</p>"
        },
        "recordingConfigurationArn":{
          "shape":"ChannelRecordingConfigurationArn",
          "documentation":"<p>Recording-configuration ARN. Default: \"\" (empty string, recording is disabled).</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        },
        "type":{
          "shape":"ChannelType",
          "documentation":"<p>Channel type, which determines the allowable resolution and bitrate. <i>If you exceed the allowable resolution or bitrate, the stream probably will disconnect immediately.</i> Default: <code>STANDARD</code>. Valid values:</p> <ul> <li> <p> <code>STANDARD</code>: Multiple qualities are generated from the original input, to automatically give viewers the best experience for their devices and network conditions. Resolution can be up to 1080p and bitrate can be up to 8.5 Mbps. Audio is transcoded only for renditions 360p and below; above that, audio is passed through.</p> </li> <li> <p> <code>BASIC</code>: Amazon IVS delivers the original input to viewers. The viewer’s video-quality choice is limited to the original input. Resolution can be up to 480p and bitrate can be up to 1.5 Mbps.</p> </li> </ul>"
        }
      }
    },
    "CreateChannelResponse":{
      "type":"structure",
      "members":{
        "channel":{
          "shape":"Channel",
          "documentation":"<p/>"
        },
        "streamKey":{
          "shape":"StreamKey",
          "documentation":"<p/>"
        }
      }
    },
    "CreateRecordingConfigurationRequest":{
      "type":"structure",
      "required":["destinationConfiguration"],
      "members":{
        "destinationConfiguration":{
          "shape":"DestinationConfiguration",
          "documentation":"<p>A complex type that contains a destination configuration for where recorded video will be stored.</p>"
        },
        "name":{
          "shape":"RecordingConfigurationName",
          "documentation":"<p>Recording-configuration name. The value does not need to be unique.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        }
      }
    },
    "CreateRecordingConfigurationResponse":{
      "type":"structure",
      "members":{
        "recordingConfiguration":{
          "shape":"RecordingConfiguration",
          "documentation":"<zonbook></zonbook><xhtml></xhtml>"
        }
      }
    },
    "CreateStreamKeyRequest":{
      "type":"structure",
      "required":["channelArn"],
      "members":{
        "channelArn":{
          "shape":"ChannelArn",
          "documentation":"<p>ARN of the channel for which to create the stream key.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        }
      }
    },
    "CreateStreamKeyResponse":{
      "type":"structure",
      "members":{
        "streamKey":{
          "shape":"StreamKey",
          "documentation":"<p>Stream key used to authenticate an RTMPS stream for ingestion.</p>"
        }
      }
    },
    "DeleteChannelRequest":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"ChannelArn",
          "documentation":"<p>ARN of the channel to be deleted.</p>"
        }
      }
    },
    "DeletePlaybackKeyPairRequest":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"PlaybackKeyPairArn",
          "documentation":"<p>ARN of the key pair to be deleted.</p>"
        }
      }
    },
    "DeletePlaybackKeyPairResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteRecordingConfigurationRequest":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"RecordingConfigurationArn",
          "documentation":"<p>ARN of the recording configuration to be deleted.</p>"
        }
      }
    },
    "DeleteStreamKeyRequest":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"StreamKeyArn",
          "documentation":"<p>ARN of the stream key to be deleted.</p>"
        }
      }
    },
    "DestinationConfiguration":{
      "type":"structure",
      "members":{
        "s3":{
          "shape":"S3DestinationConfiguration",
          "documentation":"<p>An S3 destination configuration where recorded videos will be stored.</p>"
        }
      },
      "documentation":"<p>A complex type that describes a location where recorded videos will be stored. Each member represents a type of destination configuration. For recording, you define one and only one type of destination configuration.</p>"
    },
    "GetChannelRequest":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"ChannelArn",
          "documentation":"<p>ARN of the channel for which the configuration is to be retrieved.</p>"
        }
      }
    },
    "GetChannelResponse":{
      "type":"structure",
      "members":{
        "channel":{
          "shape":"Channel",
          "documentation":"<p/>"
        }
      }
    },
    "GetPlaybackKeyPairRequest":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"PlaybackKeyPairArn",
          "documentation":"<p>ARN of the key pair to be returned.</p>"
        }
      }
    },
    "GetPlaybackKeyPairResponse":{
      "type":"structure",
      "members":{
        "keyPair":{
          "shape":"PlaybackKeyPair",
          "documentation":"<zonbook></zonbook><xhtml></xhtml>"
        }
      }
    },
    "GetRecordingConfigurationRequest":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"RecordingConfigurationArn",
          "documentation":"<p>ARN of the recording configuration to be retrieved.</p>"
        }
      }
    },
    "GetRecordingConfigurationResponse":{
      "type":"structure",
      "members":{
        "recordingConfiguration":{
          "shape":"RecordingConfiguration",
          "documentation":"<zonbook></zonbook><xhtml></xhtml>"
        }
      }
    },
    "GetStreamKeyRequest":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"StreamKeyArn",
          "documentation":"<p>ARN for the stream key to be retrieved.</p>"
        }
      }
    },
    "GetStreamKeyResponse":{
      "type":"structure",
      "members":{
        "streamKey":{
          "shape":"StreamKey",
          "documentation":"<zonbook></zonbook><xhtml></xhtml>"
        }
      }
    },
    "GetStreamRequest":{
      "type":"structure",
      "required":["channelArn"],
      "members":{
        "channelArn":{
          "shape":"ChannelArn",
          "documentation":"<p>Channel ARN for stream to be accessed.</p>"
        }
      }
    },
    "GetStreamResponse":{
      "type":"structure",
      "members":{
        "stream":{
          "shape":"Stream",
          "documentation":"<p/>"
        }
      }
    },
    "ImportPlaybackKeyPairRequest":{
      "type":"structure",
      "required":["publicKeyMaterial"],
      "members":{
        "name":{
          "shape":"PlaybackKeyPairName",
          "documentation":"<p>Playback-key-pair name. The value does not need to be unique.</p>"
        },
        "publicKeyMaterial":{
          "shape":"PlaybackPublicKeyMaterial",
          "documentation":"<p>The public portion of a customer-generated key pair.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>Any tags provided with the request are added to the playback key pair tags.</p>"
        }
      }
    },
    "ImportPlaybackKeyPairResponse":{
      "type":"structure",
      "members":{
        "keyPair":{
          "shape":"PlaybackKeyPair",
          "documentation":"<p/>"
        }
      }
    },
    "IngestEndpoint":{"type":"string"},
    "InternalServerException":{
      "type":"structure",
      "members":{
        "exceptionMessage":{
          "shape":"errorMessage",
          "documentation":"<p>Unexpected error during processing of request.</p>"
        }
      },
      "documentation":"<p/>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "IsAuthorized":{"type":"boolean"},
    "ListChannelsRequest":{
      "type":"structure",
      "members":{
        "filterByName":{
          "shape":"ChannelName",
          "documentation":"<p>Filters the channel list to match the specified name.</p>"
        },
        "filterByRecordingConfigurationArn":{
          "shape":"ChannelRecordingConfigurationArn",
          "documentation":"<p>Filters the channel list to match the specified recording-configuration ARN.</p>"
        },
        "maxResults":{
          "shape":"MaxChannelResults",
          "documentation":"<p>Maximum number of channels to return. Default: 50.</p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>The first channel to retrieve. This is used for pagination; see the <code>nextToken</code> response field.</p>"
        }
      }
    },
    "ListChannelsResponse":{
      "type":"structure",
      "required":["channels"],
      "members":{
        "channels":{
          "shape":"ChannelList",
          "documentation":"<p>List of the matching channels.</p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>If there are more channels than <code>maxResults</code>, use <code>nextToken</code> in the request to get the next set.</p>"
        }
      }
    },
    "ListPlaybackKeyPairsRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"MaxPlaybackKeyPairResults",
          "documentation":"<p>The first key pair to retrieve. This is used for pagination; see the <code>nextToken</code> response field. Default: 50.</p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>Maximum number of key pairs to return.</p>"
        }
      }
    },
    "ListPlaybackKeyPairsResponse":{
      "type":"structure",
      "required":["keyPairs"],
      "members":{
        "keyPairs":{
          "shape":"PlaybackKeyPairList",
          "documentation":"<p>List of key pairs.</p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>If there are more key pairs than <code>maxResults</code>, use <code>nextToken</code> in the request to get the next set.</p>"
        }
      }
    },
    "ListRecordingConfigurationsRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"MaxRecordingConfigurationResults",
          "documentation":"<p>Maximum number of recording configurations to return. Default: 50. </p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>The first recording configuration to retrieve. This is used for pagination; see the <code>nextToken</code> response field.</p>"
        }
      }
    },
    "ListRecordingConfigurationsResponse":{
      "type":"structure",
      "required":["recordingConfigurations"],
      "members":{
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>If there are more recording configurations than <code>maxResults</code>, use <code>nextToken</code> in the request to get the next set.</p>"
        },
        "recordingConfigurations":{
          "shape":"RecordingConfigurationList",
          "documentation":"<p>List of the matching recording configurations.</p>"
        }
      }
    },
    "ListStreamKeysRequest":{
      "type":"structure",
      "required":["channelArn"],
      "members":{
        "channelArn":{
          "shape":"ChannelArn",
          "documentation":"<p>Channel ARN used to filter the list.</p>"
        },
        "maxResults":{
          "shape":"MaxStreamKeyResults",
          "documentation":"<p>Maximum number of streamKeys to return. Default: 50.</p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>The first stream key to retrieve. This is used for pagination; see the <code>nextToken</code> response field.</p>"
        }
      }
    },
    "ListStreamKeysResponse":{
      "type":"structure",
      "required":["streamKeys"],
      "members":{
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>If there are more stream keys than <code>maxResults</code>, use <code>nextToken</code> in the request to get the next set.</p>"
        },
        "streamKeys":{
          "shape":"StreamKeyList",
          "documentation":"<p>List of stream keys.</p>"
        }
      }
    },
    "ListStreamsRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"MaxStreamResults",
          "documentation":"<p>Maximum number of streams to return. Default: 50.</p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>The first stream to retrieve. This is used for pagination; see the <code>nextToken</code> response field.</p>"
        }
      }
    },
    "ListStreamsResponse":{
      "type":"structure",
      "required":["streams"],
      "members":{
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>If there are more streams than <code>maxResults</code>, use <code>nextToken</code> in the request to get the next set.</p>"
        },
        "streams":{
          "shape":"StreamList",
          "documentation":"<p>List of streams.</p>"
        }
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["resourceArn"],
      "members":{
        "resourceArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The ARN of the resource to be retrieved.</p>",
          "location":"uri",
          "locationName":"resourceArn"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "required":["tags"],
      "members":{
        "tags":{
          "shape":"Tags",
          "documentation":"<p/>"
        }
      }
    },
    "MaxChannelResults":{
      "type":"integer",
      "max":50,
      "min":1
    },
    "MaxPlaybackKeyPairResults":{
      "type":"integer",
      "max":50,
      "min":1
    },
    "MaxRecordingConfigurationResults":{
      "type":"integer",
      "max":50,
      "min":1
    },
    "MaxStreamKeyResults":{
      "type":"integer",
      "max":50,
      "min":1
    },
    "MaxStreamResults":{
      "type":"integer",
      "max":50,
      "min":1
    },
    "PaginationToken":{
      "type":"string",
      "max":1024,
      "min":0
    },
    "PendingVerification":{
      "type":"structure",
      "members":{
        "exceptionMessage":{
          "shape":"errorMessage",
          "documentation":"<p> Your account is pending verification. </p>"
        }
      },
      "documentation":"<p/>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "PlaybackKeyPair":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"PlaybackKeyPairArn",
          "documentation":"<p>Key-pair ARN.</p>"
        },
        "fingerprint":{
          "shape":"PlaybackKeyPairFingerprint",
          "documentation":"<p>Key-pair identifier.</p>"
        },
        "name":{
          "shape":"PlaybackKeyPairName",
          "documentation":"<p>Playback-key-pair name. The value does not need to be unique.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        }
      },
      "documentation":"<p>A key pair used to sign and validate a playback authorization token.</p>"
    },
    "PlaybackKeyPairArn":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^arn:aws:[is]vs:[a-z0-9-]+:[0-9]+:playback-key/[a-zA-Z0-9-]+$"
    },
    "PlaybackKeyPairFingerprint":{"type":"string"},
    "PlaybackKeyPairList":{
      "type":"list",
      "member":{"shape":"PlaybackKeyPairSummary"}
    },
    "PlaybackKeyPairName":{
      "type":"string",
      "max":128,
      "min":0,
      "pattern":"^[a-zA-Z0-9-_]*$"
    },
    "PlaybackKeyPairSummary":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"PlaybackKeyPairArn",
          "documentation":"<p>Key-pair ARN.</p>"
        },
        "name":{
          "shape":"PlaybackKeyPairName",
          "documentation":"<p>Playback-key-pair name. The value does not need to be unique.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        }
      },
      "documentation":"<p>Summary information about a playback key pair.</p>"
    },
    "PlaybackPublicKeyMaterial":{"type":"string"},
    "PlaybackURL":{"type":"string"},
    "PutMetadataRequest":{
      "type":"structure",
      "required":[
        "channelArn",
        "metadata"
      ],
      "members":{
        "channelArn":{
          "shape":"ChannelArn",
          "documentation":"<p>ARN of the channel into which metadata is inserted. This channel must have an active stream.</p>"
        },
        "metadata":{
          "shape":"StreamMetadata",
          "documentation":"<p>Metadata to insert into the stream. Maximum: 1 KB per request.</p>"
        }
      }
    },
    "RecordingConfiguration":{
      "type":"structure",
      "required":[
        "arn",
        "destinationConfiguration",
        "state"
      ],
      "members":{
        "arn":{
          "shape":"RecordingConfigurationArn",
          "documentation":"<p>Recording-configuration ARN.</p>"
        },
        "destinationConfiguration":{
          "shape":"DestinationConfiguration",
          "documentation":"<p>A complex type that contains information about where recorded video will be stored.</p>"
        },
        "name":{
          "shape":"RecordingConfigurationName",
          "documentation":"<p>Recording-configuration name. The value does not need to be unique.</p>"
        },
        "state":{
          "shape":"RecordingConfigurationState",
          "documentation":"<p>Indicates the current state of the recording configuration. When the state is <code>ACTIVE</code>, the configuration is ready for recording a channel stream.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        }
      },
      "documentation":"<p>An object representing a configuration to record a channel stream.</p>"
    },
    "RecordingConfigurationArn":{
      "type":"string",
      "max":128,
      "min":0,
      "pattern":"^arn:aws:ivs:[a-z0-9-]+:[0-9]+:recording-configuration/[a-zA-Z0-9-]+$"
    },
    "RecordingConfigurationList":{
      "type":"list",
      "member":{"shape":"RecordingConfigurationSummary"}
    },
    "RecordingConfigurationName":{
      "type":"string",
      "max":128,
      "min":0,
      "pattern":"^[a-zA-Z0-9-_]*$"
    },
    "RecordingConfigurationState":{
      "type":"string",
      "enum":[
        "CREATING",
        "CREATE_FAILED",
        "ACTIVE"
      ]
    },
    "RecordingConfigurationSummary":{
      "type":"structure",
      "required":[
        "arn",
        "destinationConfiguration",
        "state"
      ],
      "members":{
        "arn":{
          "shape":"RecordingConfigurationArn",
          "documentation":"<p>Recording-configuration ARN.</p>"
        },
        "destinationConfiguration":{
          "shape":"DestinationConfiguration",
          "documentation":"<p>A complex type that contains information about where recorded video will be stored.</p>"
        },
        "name":{
          "shape":"RecordingConfigurationName",
          "documentation":"<p>Recording-configuration name. The value does not need to be unique.</p>"
        },
        "state":{
          "shape":"RecordingConfigurationState",
          "documentation":"<p>Indicates the current state of the recording configuration. When the state is <code>ACTIVE</code>, the configuration is ready for recording a channel stream.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        }
      },
      "documentation":"<p>Summary information about a RecordingConfiguration.</p>"
    },
    "ResourceArn":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^arn:aws:[is]vs:[a-z0-9-]+:[0-9]+:[a-z-]/[a-zA-Z0-9-]+$"
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "exceptionMessage":{
          "shape":"errorMessage",
          "documentation":"<p>Request references a resource which does not exist.</p>"
        }
      },
      "documentation":"<p/>",
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "S3DestinationBucketName":{
      "type":"string",
      "max":63,
      "min":3,
      "pattern":"^[a-z0-9-.]+$"
    },
    "S3DestinationConfiguration":{
      "type":"structure",
      "required":["bucketName"],
      "members":{
        "bucketName":{
          "shape":"S3DestinationBucketName",
          "documentation":"<p>Location (S3 bucket name) where recorded videos will be stored.</p>"
        }
      },
      "documentation":"<p>A complex type that describes an S3 location where recorded videos will be stored.</p>"
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "members":{
        "exceptionMessage":{
          "shape":"errorMessage",
          "documentation":"<p>Request would cause a service quota to be exceeded.</p>"
        }
      },
      "documentation":"<p/>",
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "StopStreamRequest":{
      "type":"structure",
      "required":["channelArn"],
      "members":{
        "channelArn":{
          "shape":"ChannelArn",
          "documentation":"<p>ARN of the channel for which the stream is to be stopped.</p>"
        }
      }
    },
    "StopStreamResponse":{
      "type":"structure",
      "members":{
      }
    },
    "Stream":{
      "type":"structure",
      "members":{
        "channelArn":{
          "shape":"ChannelArn",
          "documentation":"<p>Channel ARN for the stream.</p>"
        },
        "health":{
          "shape":"StreamHealth",
          "documentation":"<p>The stream’s health.</p>"
        },
        "playbackUrl":{
          "shape":"PlaybackURL",
          "documentation":"<p>URL of the master playlist, required by the video player to play the HLS stream.</p>"
        },
        "startTime":{
          "shape":"StreamStartTime",
          "documentation":"<p>Time of the stream’s start. This is an ISO 8601 timestamp returned as a string.</p>"
        },
        "state":{
          "shape":"StreamState",
          "documentation":"<p>The stream’s state.</p>"
        },
        "viewerCount":{
          "shape":"StreamViewerCount",
          "documentation":"<p>A count of concurrent views of the stream. Typically, a new view appears in <code>viewerCount</code> within 15 seconds of when video playback starts and a view is removed from <code>viewerCount</code> within 1 minute of when video playback ends. A value of -1 indicates that the request timed out; in this case, retry.</p>"
        }
      },
      "documentation":"<p>Specifies a live video stream that has been ingested and distributed.</p>"
    },
    "StreamHealth":{
      "type":"string",
      "enum":[
        "HEALTHY",
        "STARVING",
        "UNKNOWN"
      ]
    },
    "StreamKey":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"StreamKeyArn",
          "documentation":"<p>Stream-key ARN.</p>"
        },
        "channelArn":{
          "shape":"ChannelArn",
          "documentation":"<p>Channel ARN for the stream.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        },
        "value":{
          "shape":"StreamKeyValue",
          "documentation":"<p>Stream-key value.</p>"
        }
      },
      "documentation":"<p>Object specifying a stream key.</p>"
    },
    "StreamKeyArn":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^arn:aws:[is]vs:[a-z0-9-]+:[0-9]+:stream-key/[a-zA-Z0-9-]+$"
    },
    "StreamKeyArnList":{
      "type":"list",
      "member":{"shape":"StreamKeyArn"},
      "max":50,
      "min":1
    },
    "StreamKeyList":{
      "type":"list",
      "member":{"shape":"StreamKeySummary"}
    },
    "StreamKeySummary":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"StreamKeyArn",
          "documentation":"<p>Stream-key ARN.</p>"
        },
        "channelArn":{
          "shape":"ChannelArn",
          "documentation":"<p>Channel ARN for the stream.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>.</p>"
        }
      },
      "documentation":"<p>Summary information about a stream key.</p>"
    },
    "StreamKeyValue":{
      "type":"string",
      "sensitive":true
    },
    "StreamKeys":{
      "type":"list",
      "member":{"shape":"StreamKey"}
    },
    "StreamList":{
      "type":"list",
      "member":{"shape":"StreamSummary"}
    },
    "StreamMetadata":{
      "type":"string",
      "min":1,
      "sensitive":true
    },
    "StreamStartTime":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "StreamState":{
      "type":"string",
      "enum":[
        "LIVE",
        "OFFLINE"
      ]
    },
    "StreamSummary":{
      "type":"structure",
      "members":{
        "channelArn":{
          "shape":"ChannelArn",
          "documentation":"<p>Channel ARN for the stream.</p>"
        },
        "health":{
          "shape":"StreamHealth",
          "documentation":"<p>The stream’s health.</p>"
        },
        "startTime":{
          "shape":"StreamStartTime",
          "documentation":"<p>Time of the stream’s start. This is an ISO 8601 timestamp returned as a string.</p>"
        },
        "state":{
          "shape":"StreamState",
          "documentation":"<p>The stream’s state.</p>"
        },
        "viewerCount":{
          "shape":"StreamViewerCount",
          "documentation":"<p>A count of concurrent views of the stream. Typically, a new view appears in <code>viewerCount</code> within 15 seconds of when video playback starts and a view is removed from <code>viewerCount</code> within 1 minute of when video playback ends. A value of -1 indicates that the request timed out; in this case, retry.</p>"
        }
      },
      "documentation":"<p>Summary information about a stream.</p>"
    },
    "StreamUnavailable":{
      "type":"structure",
      "members":{
        "exceptionMessage":{
          "shape":"errorMessage",
          "documentation":"<p>The stream is temporarily unavailable.</p>"
        }
      },
      "documentation":"<p/>",
      "error":{"httpStatusCode":503},
      "exception":true,
      "fault":true
    },
    "StreamViewerCount":{"type":"long"},
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "max":50,
      "min":0
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tags"
      ],
      "members":{
        "resourceArn":{
          "shape":"ResourceArn",
          "documentation":"<p>ARN of the resource for which tags are to be added or updated.</p>",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>Array of tags to be added or updated.</p>"
        }
      }
    },
    "TagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0
    },
    "Tags":{
      "type":"map",
      "key":{"shape":"TagKey"},
      "value":{"shape":"TagValue"},
      "max":50,
      "min":0
    },
    "ThrottlingException":{
      "type":"structure",
      "members":{
        "exceptionMessage":{
          "shape":"errorMessage",
          "documentation":"<p>Request was denied due to request throttling.</p>"
        }
      },
      "documentation":"<p/>",
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true
    },
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tagKeys"
      ],
      "members":{
        "resourceArn":{
          "shape":"ResourceArn",
          "documentation":"<p>ARN of the resource for which tags are to be removed.</p>",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tagKeys":{
          "shape":"TagKeyList",
          "documentation":"<p>Array of tags to be removed.</p>",
          "location":"querystring",
          "locationName":"tagKeys"
        }
      }
    },
    "UntagResourceResponse":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateChannelRequest":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"ChannelArn",
          "documentation":"<p>ARN of the channel to be updated.</p>"
        },
        "authorized":{
          "shape":"Boolean",
          "documentation":"<p>Whether the channel is private (enabled for playback authorization).</p>"
        },
        "latencyMode":{
          "shape":"ChannelLatencyMode",
          "documentation":"<p>Channel latency mode. Use <code>NORMAL</code> to broadcast and deliver live video up to Full HD. Use <code>LOW</code> for near-real-time interaction with viewers. (Note: In the Amazon IVS console, <code>LOW</code> and <code>NORMAL</code> correspond to Ultra-low and Standard, respectively.)</p>"
        },
        "name":{
          "shape":"ChannelName",
          "documentation":"<p>Channel name.</p>"
        },
        "recordingConfigurationArn":{
          "shape":"ChannelRecordingConfigurationArn",
          "documentation":"<p>Recording-configuration ARN. If this is set to an empty string, recording is disabled. A value other than an empty string indicates that recording is enabled</p>"
        },
        "type":{
          "shape":"ChannelType",
          "documentation":"<p>Channel type, which determines the allowable resolution and bitrate. <i>If you exceed the allowable resolution or bitrate, the stream probably will disconnect immediately</i>. Valid values:</p> <ul> <li> <p> <code>STANDARD</code>: Multiple qualities are generated from the original input, to automatically give viewers the best experience for their devices and network conditions. Resolution can be up to 1080p and bitrate can be up to 8.5 Mbps. Audio is transcoded only for renditions 360p and below; above that, audio is passed through.</p> </li> <li> <p> <code>BASIC</code>: Amazon IVS delivers the original input to viewers. The viewer’s video-quality choice is limited to the original input. Resolution can be up to 480p and bitrate can be up to 1.5 Mbps.</p> </li> </ul>"
        }
      }
    },
    "UpdateChannelResponse":{
      "type":"structure",
      "members":{
        "channel":{"shape":"Channel"}
      }
    },
    "ValidationException":{
      "type":"structure",
      "members":{
        "exceptionMessage":{
          "shape":"errorMessage",
          "documentation":"<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>"
        }
      },
      "documentation":"<p/>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "errorCode":{"type":"string"},
    "errorMessage":{"type":"string"}
  },
  "documentation":"<p> <b>Introduction</b> </p> <p>The Amazon Interactive Video Service (IVS) API is REST compatible, using a standard HTTP API and an Amazon Web Services EventBridge event stream for responses. JSON is used for both requests and responses, including errors.</p> <p>The API is an Amazon Web Services regional service. For a list of supported regions and Amazon IVS HTTPS service endpoints, see the <a href=\"https://docs.aws.amazon.com/general/latest/gr/ivs.html\">Amazon IVS page</a> in the <i>Amazon Web Services General Reference</i>.</p> <p> <i> <b>All API request parameters and URLs are case sensitive. </b> </i> </p> <p>For a summary of notable documentation changes in each release, see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/doc-history.html\"> Document History</a>.</p> <pre><code> &lt;p&gt; &lt;b&gt;Allowed Header Values&lt;/b&gt; &lt;/p&gt; &lt;ul&gt; &lt;li&gt; &lt;p&gt; &lt;code&gt; &lt;b&gt;Accept:&lt;/b&gt; &lt;/code&gt; application/json&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;code&gt; &lt;b&gt;Accept-Encoding:&lt;/b&gt; &lt;/code&gt; gzip, deflate&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;code&gt; &lt;b&gt;Content-Type:&lt;/b&gt; &lt;/code&gt;application/json&lt;/p&gt; &lt;/li&gt; &lt;/ul&gt; &lt;p&gt; &lt;b&gt;Resources&lt;/b&gt; &lt;/p&gt; &lt;p&gt;The following resources contain information about your IVS live stream (see &lt;a href=&quot;https://docs.aws.amazon.com/ivs/latest/userguide/getting-started.html&quot;&gt; Getting Started with Amazon IVS&lt;/a&gt;):&lt;/p&gt; &lt;ul&gt; &lt;li&gt; &lt;p&gt;Channel — Stores configuration data related to your live stream. You first create a channel and then use the channel’s stream key to start your live stream. See the Channel endpoints for more information. &lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt;Stream key — An identifier assigned by Amazon IVS when you create a channel, which is then used to authorize streaming. See the StreamKey endpoints for more information. &lt;i&gt; &lt;b&gt;Treat the stream key like a secret, since it allows anyone to stream to the channel.&lt;/b&gt; &lt;/i&gt; &lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt;Playback key pair — Video playback may be restricted using playback-authorization tokens, which use public-key encryption. A playback key pair is the public-private pair of keys used to sign and validate the playback-authorization token. See the PlaybackKeyPair endpoints for more information.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt;Recording configuration — Stores configuration related to recording a live stream and where to store the recorded content. Multiple channels can reference the same recording configuration. See the Recording Configuration endpoints for more information.&lt;/p&gt; &lt;/li&gt; &lt;/ul&gt; &lt;p&gt; &lt;b&gt;Tagging&lt;/b&gt; &lt;/p&gt; &lt;p&gt;A &lt;i&gt;tag&lt;/i&gt; is a metadata label that you assign to an Amazon Web Services resource. A tag comprises a &lt;i&gt;key&lt;/i&gt; and a &lt;i&gt;value&lt;/i&gt;, both set by you. For example, you might set a tag as &lt;code&gt;topic:nature&lt;/code&gt; to label a particular video category. See &lt;a href=&quot;https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html&quot;&gt;Tagging Amazon Web Services Resources&lt;/a&gt; for more information, including restrictions that apply to tags.&lt;/p&gt; &lt;p&gt;Tags can help you identify and organize your Amazon Web Services resources. For example, you can use the same tag for different resources to indicate that they are related. You can also use tags to manage access (see &lt;a href=&quot;https://docs.aws.amazon.com/IAM/latest/UserGuide/access_tags.html&quot;&gt; Access Tags&lt;/a&gt;). &lt;/p&gt; &lt;p&gt;The Amazon IVS API has these tag-related endpoints: &lt;a&gt;TagResource&lt;/a&gt;, &lt;a&gt;UntagResource&lt;/a&gt;, and &lt;a&gt;ListTagsForResource&lt;/a&gt;. The following resources support tagging: Channels, Stream Keys, Playback Key Pairs, and Recording Configurations.&lt;/p&gt; &lt;p&gt;At most 50 tags can be applied to a resource. &lt;/p&gt; &lt;p&gt; &lt;b&gt;Authentication versus Authorization&lt;/b&gt; &lt;/p&gt; &lt;p&gt;Note the differences between these concepts:&lt;/p&gt; &lt;ul&gt; &lt;li&gt; &lt;p&gt; &lt;i&gt;Authentication&lt;/i&gt; is about verifying identity. You need to be authenticated to sign Amazon IVS API requests.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;i&gt;Authorization&lt;/i&gt; is about granting permissions. You need to be authorized to view &lt;a href=&quot;https://docs.aws.amazon.com/ivs/latest/userguide/private-channels.html&quot;&gt;Amazon IVS private channels&lt;/a&gt;. (Private channels are channels that are enabled for &quot;playback authorization.&quot;)&lt;/p&gt; &lt;/li&gt; &lt;/ul&gt; &lt;p&gt; &lt;b&gt;Authentication&lt;/b&gt; &lt;/p&gt; &lt;p&gt;All Amazon IVS API requests must be authenticated with a signature. The Amazon Web Services Command-Line Interface (CLI) and Amazon IVS Player SDKs take care of signing the underlying API calls for you. However, if your application calls the Amazon IVS API directly, it’s your responsibility to sign the requests.&lt;/p&gt; &lt;p&gt;You generate a signature using valid Amazon Web Services credentials that have permission to perform the requested action. For example, you must sign PutMetadata requests with a signature generated from an IAM user account that has the &lt;code&gt;ivs:PutMetadata&lt;/code&gt; permission.&lt;/p&gt; &lt;p&gt;For more information:&lt;/p&gt; &lt;ul&gt; &lt;li&gt; &lt;p&gt;Authentication and generating signatures — See &lt;a href=&quot;https://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html&quot;&gt;Authenticating Requests (Amazon Web Services Signature Version 4)&lt;/a&gt; in the &lt;i&gt;Amazon Web Services General Reference&lt;/i&gt;.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt;Managing Amazon IVS permissions — See &lt;a href=&quot;https://docs.aws.amazon.com/ivs/latest/userguide/security-iam.html&quot;&gt;Identity and Access Management&lt;/a&gt; on the Security page of the &lt;i&gt;Amazon IVS User Guide&lt;/i&gt;.&lt;/p&gt; &lt;/li&gt; &lt;/ul&gt; &lt;p&gt; &lt;b&gt;Channel Endpoints&lt;/b&gt; &lt;/p&gt; &lt;ul&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;CreateChannel&lt;/a&gt; — Creates a new channel and an associated stream key to start streaming.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;GetChannel&lt;/a&gt; — Gets the channel configuration for the specified channel ARN (Amazon Resource Name).&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;BatchGetChannel&lt;/a&gt; — Performs &lt;a&gt;GetChannel&lt;/a&gt; on multiple ARNs simultaneously.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;ListChannels&lt;/a&gt; — Gets summary information about all channels in your account, in the Amazon Web Services region where the API request is processed. This list can be filtered to match a specified name or recording-configuration ARN. Filters are mutually exclusive and cannot be used together. If you try to use both filters, you will get an error (409 Conflict Exception).&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;UpdateChannel&lt;/a&gt; — Updates a channel's configuration. This does not affect an ongoing stream of this channel. You must stop and restart the stream for the changes to take effect.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;DeleteChannel&lt;/a&gt; — Deletes the specified channel.&lt;/p&gt; &lt;/li&gt; &lt;/ul&gt; &lt;p&gt; &lt;b&gt;StreamKey Endpoints&lt;/b&gt; &lt;/p&gt; &lt;ul&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;CreateStreamKey&lt;/a&gt; — Creates a stream key, used to initiate a stream, for the specified channel ARN.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;GetStreamKey&lt;/a&gt; — Gets stream key information for the specified ARN.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;BatchGetStreamKey&lt;/a&gt; — Performs &lt;a&gt;GetStreamKey&lt;/a&gt; on multiple ARNs simultaneously.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;ListStreamKeys&lt;/a&gt; — Gets summary information about stream keys for the specified channel.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;DeleteStreamKey&lt;/a&gt; — Deletes the stream key for the specified ARN, so it can no longer be used to stream.&lt;/p&gt; &lt;/li&gt; &lt;/ul&gt; &lt;p&gt; &lt;b&gt;Stream Endpoints&lt;/b&gt; &lt;/p&gt; &lt;ul&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;GetStream&lt;/a&gt; — Gets information about the active (live) stream on a specified channel.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;ListStreams&lt;/a&gt; — Gets summary information about live streams in your account, in the Amazon Web Services region where the API request is processed.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;StopStream&lt;/a&gt; — Disconnects the incoming RTMPS stream for the specified channel. Can be used in conjunction with &lt;a&gt;DeleteStreamKey&lt;/a&gt; to prevent further streaming to a channel.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;PutMetadata&lt;/a&gt; — Inserts metadata into the active stream of the specified channel. At most 5 requests per second per channel are allowed, each with a maximum 1 KB payload. (If 5 TPS is not sufficient for your needs, we recommend batching your data into a single PutMetadata call.) At most 155 requests per second per account are allowed.&lt;/p&gt; &lt;/li&gt; &lt;/ul&gt; &lt;p&gt; &lt;b&gt;PlaybackKeyPair Endpoints&lt;/b&gt; &lt;/p&gt; &lt;p&gt;For more information, see &lt;a href=&quot;https://docs.aws.amazon.com/ivs/latest/userguide/private-channels.html&quot;&gt;Setting Up Private Channels&lt;/a&gt; in the &lt;i&gt;Amazon IVS User Guide&lt;/i&gt;.&lt;/p&gt; &lt;ul&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;ImportPlaybackKeyPair&lt;/a&gt; — Imports the public portion of a new key pair and returns its &lt;code&gt;arn&lt;/code&gt; and &lt;code&gt;fingerprint&lt;/code&gt;. The &lt;code&gt;privateKey&lt;/code&gt; can then be used to generate viewer authorization tokens, to grant viewers access to private channels (channels enabled for playback authorization).&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;GetPlaybackKeyPair&lt;/a&gt; — Gets a specified playback authorization key pair and returns the &lt;code&gt;arn&lt;/code&gt; and &lt;code&gt;fingerprint&lt;/code&gt;. The &lt;code&gt;privateKey&lt;/code&gt; held by the caller can be used to generate viewer authorization tokens, to grant viewers access to private channels.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;ListPlaybackKeyPairs&lt;/a&gt; — Gets summary information about playback key pairs.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;DeletePlaybackKeyPair&lt;/a&gt; — Deletes a specified authorization key pair. This invalidates future viewer tokens generated using the key pair’s &lt;code&gt;privateKey&lt;/code&gt;.&lt;/p&gt; &lt;/li&gt; &lt;/ul&gt; &lt;p&gt; &lt;b&gt;RecordingConfiguration Endpoints&lt;/b&gt; &lt;/p&gt; &lt;ul&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;CreateRecordingConfiguration&lt;/a&gt; — Creates a new recording configuration, used to enable recording to Amazon S3.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;GetRecordingConfiguration&lt;/a&gt; — Gets the recording-configuration metadata for the specified ARN.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;ListRecordingConfigurations&lt;/a&gt; — Gets summary information about all recording configurations in your account, in the Amazon Web Services region where the API request is processed.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;DeleteRecordingConfiguration&lt;/a&gt; — Deletes the recording configuration for the specified ARN.&lt;/p&gt; &lt;/li&gt; &lt;/ul&gt; &lt;p&gt; &lt;b&gt;Amazon Web Services Tags Endpoints&lt;/b&gt; &lt;/p&gt; &lt;ul&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;TagResource&lt;/a&gt; — Adds or updates tags for the Amazon Web Services resource with the specified ARN.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;UntagResource&lt;/a&gt; — Removes tags from the resource with the specified ARN.&lt;/p&gt; &lt;/li&gt; &lt;li&gt; &lt;p&gt; &lt;a&gt;ListTagsForResource&lt;/a&gt; — Gets information about Amazon Web Services tags for the specified ARN.&lt;/p&gt; &lt;/li&gt; &lt;/ul&gt; </code></pre>"
}
