{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2025-09-06",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"securityagent",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AWS Security Agent",
    "serviceId":"SecurityAgent",
    "signatureVersion":"v4",
    "signingName":"securityagent",
    "uid":"securityagent-2025-09-06"
  },
  "operations":{
    "AddArtifact":{
      "name":"AddArtifact",
      "http":{
        "method":"POST",
        "requestUri":"/AddArtifact",
        "responseCode":201
      },
      "input":{"shape":"AddArtifactInput"},
      "output":{"shape":"AddArtifactOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Uploads an artifact to an agent space. Artifacts provide additional context for security testing, such as architecture diagrams, API specifications, or configuration files.</p>"
    },
    "BatchCreateSecurityRequirements":{
      "name":"BatchCreateSecurityRequirements",
      "http":{
        "method":"POST",
        "requestUri":"/BatchCreateSecurityRequirements",
        "responseCode":201
      },
      "input":{"shape":"BatchCreateSecurityRequirementsInput"},
      "output":{"shape":"BatchCreateSecurityRequirementsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Batch creates security requirements in a customer managed pack.</p>"
    },
    "BatchDeleteCodeReviews":{
      "name":"BatchDeleteCodeReviews",
      "http":{
        "method":"POST",
        "requestUri":"/BatchDeleteCodeReviews",
        "responseCode":200
      },
      "input":{"shape":"BatchDeleteCodeReviewsInput"},
      "output":{"shape":"BatchDeleteCodeReviewsOutput"},
      "documentation":"<p>Deletes one or more code reviews from an agent space.</p>"
    },
    "BatchDeletePentests":{
      "name":"BatchDeletePentests",
      "http":{
        "method":"POST",
        "requestUri":"/BatchDeletePentests",
        "responseCode":200
      },
      "input":{"shape":"BatchDeletePentestsInput"},
      "output":{"shape":"BatchDeletePentestsOutput"},
      "documentation":"<p>Deletes one or more pentests from an agent space.</p>"
    },
    "BatchDeleteSecurityRequirements":{
      "name":"BatchDeleteSecurityRequirements",
      "http":{
        "method":"POST",
        "requestUri":"/BatchDeleteSecurityRequirements",
        "responseCode":200
      },
      "input":{"shape":"BatchDeleteSecurityRequirementsInput"},
      "output":{"shape":"BatchDeleteSecurityRequirementsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Batch deletes security requirements from a customer managed pack.</p>"
    },
    "BatchDeleteThreatModels":{
      "name":"BatchDeleteThreatModels",
      "http":{
        "method":"POST",
        "requestUri":"/BatchDeleteThreatModels",
        "responseCode":200
      },
      "input":{"shape":"BatchDeleteThreatModelsInput"},
      "output":{"shape":"BatchDeleteThreatModelsOutput"},
      "documentation":"<p>Deletes one or more threat models from an agent space.</p>"
    },
    "BatchGetAgentSpaces":{
      "name":"BatchGetAgentSpaces",
      "http":{
        "method":"POST",
        "requestUri":"/BatchGetAgentSpaces",
        "responseCode":200
      },
      "input":{"shape":"BatchGetAgentSpacesInput"},
      "output":{"shape":"BatchGetAgentSpacesOutput"},
      "documentation":"<p>Retrieves information about one or more agent spaces.</p>",
      "readonly":true
    },
    "BatchGetArtifactMetadata":{
      "name":"BatchGetArtifactMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/BatchGetArtifactMetadata",
        "responseCode":200
      },
      "input":{"shape":"BatchGetArtifactMetadataInput"},
      "output":{"shape":"BatchGetArtifactMetadataOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves metadata for one or more artifacts in an agent space.</p>"
    },
    "BatchGetCodeReviewJobTasks":{
      "name":"BatchGetCodeReviewJobTasks",
      "http":{
        "method":"POST",
        "requestUri":"/BatchGetCodeReviewJobTasks",
        "responseCode":200
      },
      "input":{"shape":"BatchGetCodeReviewJobTasksInput"},
      "output":{"shape":"BatchGetCodeReviewJobTasksOutput"},
      "documentation":"<p>Retrieves information about one or more tasks within a code review job.</p>"
    },
    "BatchGetCodeReviewJobs":{
      "name":"BatchGetCodeReviewJobs",
      "http":{
        "method":"POST",
        "requestUri":"/BatchGetCodeReviewJobs",
        "responseCode":200
      },
      "input":{"shape":"BatchGetCodeReviewJobsInput"},
      "output":{"shape":"BatchGetCodeReviewJobsOutput"},
      "documentation":"<p>Retrieves information about one or more code review jobs in an agent space.</p>"
    },
    "BatchGetCodeReviews":{
      "name":"BatchGetCodeReviews",
      "http":{
        "method":"POST",
        "requestUri":"/BatchGetCodeReviews",
        "responseCode":200
      },
      "input":{"shape":"BatchGetCodeReviewsInput"},
      "output":{"shape":"BatchGetCodeReviewsOutput"},
      "documentation":"<p>Retrieves information about one or more code reviews in an agent space.</p>"
    },
    "BatchGetFindings":{
      "name":"BatchGetFindings",
      "http":{
        "method":"POST",
        "requestUri":"/BatchGetFindings",
        "responseCode":200
      },
      "input":{"shape":"BatchGetFindingsInput"},
      "output":{"shape":"BatchGetFindingsOutput"},
      "documentation":"<p>Retrieves information about one or more security findings in an agent space.</p>"
    },
    "BatchGetPentestJobTasks":{
      "name":"BatchGetPentestJobTasks",
      "http":{
        "method":"POST",
        "requestUri":"/BatchGetPentestJobTasks",
        "responseCode":200
      },
      "input":{"shape":"BatchGetPentestJobTasksInput"},
      "output":{"shape":"BatchGetPentestJobTasksOutput"},
      "documentation":"<p>Retrieves information about one or more tasks within a pentest job.</p>"
    },
    "BatchGetPentestJobs":{
      "name":"BatchGetPentestJobs",
      "http":{
        "method":"POST",
        "requestUri":"/BatchGetPentestJobs",
        "responseCode":200
      },
      "input":{"shape":"BatchGetPentestJobsInput"},
      "output":{"shape":"BatchGetPentestJobsOutput"},
      "documentation":"<p>Retrieves information about one or more pentest jobs in an agent space.</p>"
    },
    "BatchGetPentests":{
      "name":"BatchGetPentests",
      "http":{
        "method":"POST",
        "requestUri":"/BatchGetPentests",
        "responseCode":200
      },
      "input":{"shape":"BatchGetPentestsInput"},
      "output":{"shape":"BatchGetPentestsOutput"},
      "documentation":"<p>Retrieves information about one or more pentests in an agent space.</p>"
    },
    "BatchGetSecurityRequirements":{
      "name":"BatchGetSecurityRequirements",
      "http":{
        "method":"POST",
        "requestUri":"/BatchGetSecurityRequirements",
        "responseCode":200
      },
      "input":{"shape":"BatchGetSecurityRequirementsInput"},
      "output":{"shape":"BatchGetSecurityRequirementsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Batch retrieves security requirements from a pack.</p>",
      "readonly":true
    },
    "BatchGetTargetDomains":{
      "name":"BatchGetTargetDomains",
      "http":{
        "method":"POST",
        "requestUri":"/BatchGetTargetDomains",
        "responseCode":200
      },
      "input":{"shape":"BatchGetTargetDomainsInput"},
      "output":{"shape":"BatchGetTargetDomainsOutput"},
      "documentation":"<p>Retrieves information about one or more target domains.</p>",
      "readonly":true
    },
    "BatchGetThreatModelJobTasks":{
      "name":"BatchGetThreatModelJobTasks",
      "http":{
        "method":"POST",
        "requestUri":"/BatchGetThreatModelJobTasks",
        "responseCode":200
      },
      "input":{"shape":"BatchGetThreatModelJobTasksInput"},
      "output":{"shape":"BatchGetThreatModelJobTasksOutput"},
      "documentation":"<p>Retrieves information about one or more tasks within a threat model job.</p>",
      "readonly":true
    },
    "BatchGetThreatModelJobs":{
      "name":"BatchGetThreatModelJobs",
      "http":{
        "method":"POST",
        "requestUri":"/BatchGetThreatModelJobs",
        "responseCode":200
      },
      "input":{"shape":"BatchGetThreatModelJobsInput"},
      "output":{"shape":"BatchGetThreatModelJobsOutput"},
      "documentation":"<p>Retrieves information about one or more threat model jobs in an agent space.</p>"
    },
    "BatchGetThreatModels":{
      "name":"BatchGetThreatModels",
      "http":{
        "method":"POST",
        "requestUri":"/BatchGetThreatModels",
        "responseCode":200
      },
      "input":{"shape":"BatchGetThreatModelsInput"},
      "output":{"shape":"BatchGetThreatModelsOutput"},
      "documentation":"<p>Retrieves information about one or more threat models in an agent space.</p>"
    },
    "BatchGetThreats":{
      "name":"BatchGetThreats",
      "http":{
        "method":"POST",
        "requestUri":"/BatchGetThreats",
        "responseCode":200
      },
      "input":{"shape":"BatchGetThreatsInput"},
      "output":{"shape":"BatchGetThreatsOutput"},
      "documentation":"<p>Retrieves information about one or more threats.</p>"
    },
    "BatchUpdateSecurityRequirements":{
      "name":"BatchUpdateSecurityRequirements",
      "http":{
        "method":"POST",
        "requestUri":"/BatchUpdateSecurityRequirements",
        "responseCode":200
      },
      "input":{"shape":"BatchUpdateSecurityRequirementsInput"},
      "output":{"shape":"BatchUpdateSecurityRequirementsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Batch updates security requirements within a customer managed pack.</p>"
    },
    "CreateAgentSpace":{
      "name":"CreateAgentSpace",
      "http":{
        "method":"POST",
        "requestUri":"/CreateAgentSpace",
        "responseCode":200
      },
      "input":{"shape":"CreateAgentSpaceInput"},
      "output":{"shape":"CreateAgentSpaceOutput"},
      "documentation":"<p>Creates a new agent space. An agent space is a dedicated workspace for securing a specific application.</p>"
    },
    "CreateApplication":{
      "name":"CreateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/CreateApplication",
        "responseCode":200
      },
      "input":{"shape":"CreateApplicationRequest"},
      "output":{"shape":"CreateApplicationResponse"},
      "documentation":"<p>Creates a new application. An application is the top-level organizational unit that supports IAM Identity Center integration.</p>"
    },
    "CreateCodeReview":{
      "name":"CreateCodeReview",
      "http":{
        "method":"POST",
        "requestUri":"/CreateCodeReview",
        "responseCode":200
      },
      "input":{"shape":"CreateCodeReviewInput"},
      "output":{"shape":"CreateCodeReviewOutput"},
      "documentation":"<p>Creates a new code review configuration in an agent space. A code review defines the parameters for automated security-focused code analysis.</p>"
    },
    "CreateIntegration":{
      "name":"CreateIntegration",
      "http":{
        "method":"POST",
        "requestUri":"/CreateIntegration",
        "responseCode":201
      },
      "input":{"shape":"CreateIntegrationInput"},
      "output":{"shape":"CreateIntegrationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a new integration with a third-party provider, such as GitHub, for code review and remediation.</p>"
    },
    "CreateMembership":{
      "name":"CreateMembership",
      "http":{
        "method":"POST",
        "requestUri":"/CreateMembership",
        "responseCode":200
      },
      "input":{"shape":"CreateMembershipRequest"},
      "output":{"shape":"CreateMembershipResponse"},
      "documentation":"<p>Creates a new membership, granting a user access to an agent space within an application.</p>"
    },
    "CreatePentest":{
      "name":"CreatePentest",
      "http":{
        "method":"POST",
        "requestUri":"/CreatePentest",
        "responseCode":200
      },
      "input":{"shape":"CreatePentestInput"},
      "output":{"shape":"CreatePentestOutput"},
      "documentation":"<p>Creates a new pentest configuration in an agent space. A pentest defines the security test parameters, including target assets, risk type exclusions, and logging configuration.</p>"
    },
    "CreatePrivateConnection":{
      "name":"CreatePrivateConnection",
      "http":{
        "method":"POST",
        "requestUri":"/CreatePrivateConnection",
        "responseCode":201
      },
      "input":{"shape":"CreatePrivateConnectionInput"},
      "output":{"shape":"CreatePrivateConnectionOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a private connection for reaching a self-hosted provider instance over private networking using Amazon VPC Lattice.</p>"
    },
    "CreateSecurityRequirementPack":{
      "name":"CreateSecurityRequirementPack",
      "http":{
        "method":"POST",
        "requestUri":"/CreateSecurityRequirementPack",
        "responseCode":201
      },
      "input":{"shape":"CreateSecurityRequirementPackInput"},
      "output":{"shape":"CreateSecurityRequirementPackOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a customer managed security requirement pack.</p>"
    },
    "CreateTargetDomain":{
      "name":"CreateTargetDomain",
      "http":{
        "method":"POST",
        "requestUri":"/CreateTargetDomain",
        "responseCode":200
      },
      "input":{"shape":"CreateTargetDomainInput"},
      "output":{"shape":"CreateTargetDomainOutput"},
      "documentation":"<p>Creates a new target domain for penetration testing. A target domain is a web domain that must be registered and verified before it can be tested.</p>"
    },
    "CreateThreat":{
      "name":"CreateThreat",
      "http":{
        "method":"POST",
        "requestUri":"/CreateThreat",
        "responseCode":200
      },
      "input":{"shape":"CreateThreatInput"},
      "output":{"shape":"CreateThreatOutput"},
      "documentation":"<p>Creates a new threat under a threat model job.</p>"
    },
    "CreateThreatModel":{
      "name":"CreateThreatModel",
      "http":{
        "method":"POST",
        "requestUri":"/CreateThreatModel",
        "responseCode":200
      },
      "input":{"shape":"CreateThreatModelInput"},
      "output":{"shape":"CreateThreatModelOutput"},
      "documentation":"<p>Creates a new threat model configuration in an agent space. A threat model defines the parameters for automated threat analysis.</p>"
    },
    "DeleteAgentSpace":{
      "name":"DeleteAgentSpace",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteAgentSpace",
        "responseCode":200
      },
      "input":{"shape":"DeleteAgentSpaceInput"},
      "output":{"shape":"DeleteAgentSpaceOutput"},
      "documentation":"<p>Deletes an agent space and all of its associated resources, including pentests, findings, and artifacts.</p>",
      "idempotent":true
    },
    "DeleteApplication":{
      "name":"DeleteApplication",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteApplication",
        "responseCode":200
      },
      "input":{"shape":"DeleteApplicationRequest"},
      "documentation":"<p>Deletes an application and its associated configuration, including IAM Identity Center settings.</p>",
      "idempotent":true
    },
    "DeleteArtifact":{
      "name":"DeleteArtifact",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteArtifact",
        "responseCode":200
      },
      "input":{"shape":"DeleteArtifactInput"},
      "output":{"shape":"DeleteArtifactOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an artifact from an agent space.</p>"
    },
    "DeleteIntegration":{
      "name":"DeleteIntegration",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteIntegration",
        "responseCode":200
      },
      "input":{"shape":"DeleteIntegrationInput"},
      "output":{"shape":"DeleteIntegrationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an integration with a third-party provider.</p>",
      "idempotent":true
    },
    "DeleteMembership":{
      "name":"DeleteMembership",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteMembership",
        "responseCode":200
      },
      "input":{"shape":"DeleteMembershipRequest"},
      "output":{"shape":"DeleteMembershipResponse"},
      "documentation":"<p>Deletes a membership, revoking a user's access to an agent space.</p>"
    },
    "DeletePrivateConnection":{
      "name":"DeletePrivateConnection",
      "http":{
        "method":"POST",
        "requestUri":"/DeletePrivateConnection",
        "responseCode":200
      },
      "input":{"shape":"DeletePrivateConnectionInput"},
      "output":{"shape":"DeletePrivateConnectionOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a private connection.</p>",
      "idempotent":true
    },
    "DeleteSecurityRequirementPack":{
      "name":"DeleteSecurityRequirementPack",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteSecurityRequirementPack",
        "responseCode":200
      },
      "input":{"shape":"DeleteSecurityRequirementPackInput"},
      "output":{"shape":"DeleteSecurityRequirementPackOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a customer managed security requirement pack and all its associated security requirements.</p>",
      "idempotent":true
    },
    "DeleteTargetDomain":{
      "name":"DeleteTargetDomain",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteTargetDomain",
        "responseCode":200
      },
      "input":{"shape":"DeleteTargetDomainInput"},
      "output":{"shape":"DeleteTargetDomainOutput"},
      "documentation":"<p>Deletes a target domain registration. After deletion, the domain can no longer be used for penetration testing.</p>",
      "idempotent":true
    },
    "DescribePrivateConnection":{
      "name":"DescribePrivateConnection",
      "http":{
        "method":"POST",
        "requestUri":"/DescribePrivateConnection",
        "responseCode":200
      },
      "input":{"shape":"DescribePrivateConnectionInput"},
      "output":{"shape":"DescribePrivateConnectionOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves the details of a private connection.</p>",
      "readonly":true
    },
    "GetApplication":{
      "name":"GetApplication",
      "http":{
        "method":"POST",
        "requestUri":"/GetApplication",
        "responseCode":200
      },
      "input":{"shape":"GetApplicationRequest"},
      "output":{"shape":"GetApplicationResponse"},
      "documentation":"<p>Retrieves information about an application.</p>",
      "readonly":true
    },
    "GetArtifact":{
      "name":"GetArtifact",
      "http":{
        "method":"POST",
        "requestUri":"/GetArtifact",
        "responseCode":200
      },
      "input":{"shape":"GetArtifactInput"},
      "output":{"shape":"GetArtifactOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves an artifact from an agent space.</p>"
    },
    "GetIntegration":{
      "name":"GetIntegration",
      "http":{
        "method":"POST",
        "requestUri":"/GetIntegration",
        "responseCode":200
      },
      "input":{"shape":"GetIntegrationInput"},
      "output":{"shape":"GetIntegrationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves information about an integration.</p>",
      "readonly":true
    },
    "GetSecurityRequirementPack":{
      "name":"GetSecurityRequirementPack",
      "http":{
        "method":"POST",
        "requestUri":"/GetSecurityRequirementPack",
        "responseCode":200
      },
      "input":{"shape":"GetSecurityRequirementPackInput"},
      "output":{"shape":"GetSecurityRequirementPackOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves information about a security requirement pack.</p>",
      "readonly":true
    },
    "ImportSecurityRequirements":{
      "name":"ImportSecurityRequirements",
      "http":{
        "method":"POST",
        "requestUri":"/ImportSecurityRequirements",
        "responseCode":201
      },
      "input":{"shape":"ImportSecurityRequirementsInput"},
      "output":{"shape":"ImportSecurityRequirementsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Imports security requirements from uploaded documents into a customer managed security requirement pack. The import process asynchronously extracts and generates structured security requirements from the provided source files.</p>"
    },
    "InitiateProviderRegistration":{
      "name":"InitiateProviderRegistration",
      "http":{
        "method":"POST",
        "requestUri":"/oauth2/provider/register",
        "responseCode":200
      },
      "input":{"shape":"InitiateProviderRegistrationInput"},
      "output":{"shape":"InitiateProviderRegistrationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Initiates the OAuth registration flow with a third-party provider. Returns a redirect URL and CSRF state token for completing the authorization.</p>"
    },
    "ListAgentSpaces":{
      "name":"ListAgentSpaces",
      "http":{
        "method":"POST",
        "requestUri":"/ListAgentSpaces",
        "responseCode":200
      },
      "input":{"shape":"ListAgentSpacesInput"},
      "output":{"shape":"ListAgentSpacesOutput"},
      "documentation":"<p>Returns a paginated list of agent space summaries in your account.</p>",
      "readonly":true
    },
    "ListApplications":{
      "name":"ListApplications",
      "http":{
        "method":"POST",
        "requestUri":"/ListApplications",
        "responseCode":200
      },
      "input":{"shape":"ListApplicationsRequest"},
      "output":{"shape":"ListApplicationsResponse"},
      "documentation":"<p>Returns a paginated list of application summaries in your account.</p>",
      "readonly":true
    },
    "ListArtifacts":{
      "name":"ListArtifacts",
      "http":{
        "method":"POST",
        "requestUri":"/ListArtifacts",
        "responseCode":200
      },
      "input":{"shape":"ListArtifactsInput"},
      "output":{"shape":"ListArtifactsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns a paginated list of artifact summaries for the specified agent space.</p>",
      "readonly":true
    },
    "ListCodeReviewJobTasks":{
      "name":"ListCodeReviewJobTasks",
      "http":{
        "method":"POST",
        "requestUri":"/ListCodeReviewJobTasks",
        "responseCode":200
      },
      "input":{"shape":"ListCodeReviewJobTasksInput"},
      "output":{"shape":"ListCodeReviewJobTasksOutput"},
      "documentation":"<p>Returns a paginated list of task summaries for the specified code review job, optionally filtered by step name or category.</p>"
    },
    "ListCodeReviewJobsForCodeReview":{
      "name":"ListCodeReviewJobsForCodeReview",
      "http":{
        "method":"POST",
        "requestUri":"/ListCodeReviewJobsForCodeReview",
        "responseCode":200
      },
      "input":{"shape":"ListCodeReviewJobsForCodeReviewInput"},
      "output":{"shape":"ListCodeReviewJobsForCodeReviewOutput"},
      "documentation":"<p>Returns a paginated list of code review job summaries for the specified code review configuration.</p>"
    },
    "ListCodeReviews":{
      "name":"ListCodeReviews",
      "http":{
        "method":"POST",
        "requestUri":"/ListCodeReviews",
        "responseCode":200
      },
      "input":{"shape":"ListCodeReviewsInput"},
      "output":{"shape":"ListCodeReviewsOutput"},
      "documentation":"<p>Returns a paginated list of code review summaries for the specified agent space.</p>"
    },
    "ListDiscoveredEndpoints":{
      "name":"ListDiscoveredEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/ListDiscoveredEndpoints",
        "responseCode":200
      },
      "input":{"shape":"ListDiscoveredEndpointsInput"},
      "output":{"shape":"ListDiscoveredEndpointsOutput"},
      "documentation":"<p>Returns a paginated list of endpoints discovered during a pentest job execution.</p>"
    },
    "ListFindings":{
      "name":"ListFindings",
      "http":{
        "method":"POST",
        "requestUri":"/ListFindings",
        "responseCode":200
      },
      "input":{"shape":"ListFindingsInput"},
      "output":{"shape":"ListFindingsOutput"},
      "documentation":"<p>Lists the security findings for a pentest job.</p>"
    },
    "ListIntegratedResources":{
      "name":"ListIntegratedResources",
      "http":{
        "method":"POST",
        "requestUri":"/ListIntegratedResources",
        "responseCode":200
      },
      "input":{"shape":"ListIntegratedResourcesInput"},
      "output":{"shape":"ListIntegratedResourcesOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the integrated resources for an agent space, optionally filtered by integration or resource type.</p>"
    },
    "ListIntegrations":{
      "name":"ListIntegrations",
      "http":{
        "method":"POST",
        "requestUri":"/ListIntegrations",
        "responseCode":200
      },
      "input":{"shape":"ListIntegrationsInput"},
      "output":{"shape":"ListIntegrationsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the integrations in your account, optionally filtered by provider or provider type.</p>",
      "readonly":true
    },
    "ListMemberships":{
      "name":"ListMemberships",
      "http":{
        "method":"POST",
        "requestUri":"/ListMemberships",
        "responseCode":200
      },
      "input":{"shape":"ListMembershipsRequest"},
      "output":{"shape":"ListMembershipsResponse"},
      "documentation":"<p>Returns a paginated list of membership summaries for the specified agent space within an application.</p>"
    },
    "ListPentestJobTasks":{
      "name":"ListPentestJobTasks",
      "http":{
        "method":"POST",
        "requestUri":"/ListPentestJobTasks",
        "responseCode":200
      },
      "input":{"shape":"ListPentestJobTasksInput"},
      "output":{"shape":"ListPentestJobTasksOutput"},
      "documentation":"<p>Returns a paginated list of task summaries for the specified pentest job, optionally filtered by step name or category.</p>"
    },
    "ListPentestJobsForPentest":{
      "name":"ListPentestJobsForPentest",
      "http":{
        "method":"POST",
        "requestUri":"/ListPentestJobsForPentest",
        "responseCode":200
      },
      "input":{"shape":"ListPentestJobsForPentestInput"},
      "output":{"shape":"ListPentestJobsForPentestOutput"},
      "documentation":"<p>Returns a paginated list of pentest job summaries for the specified pentest configuration.</p>"
    },
    "ListPentests":{
      "name":"ListPentests",
      "http":{
        "method":"POST",
        "requestUri":"/ListPentests",
        "responseCode":200
      },
      "input":{"shape":"ListPentestsInput"},
      "output":{"shape":"ListPentestsOutput"},
      "documentation":"<p>Returns a paginated list of pentest summaries for the specified agent space.</p>"
    },
    "ListPrivateConnections":{
      "name":"ListPrivateConnections",
      "http":{
        "method":"POST",
        "requestUri":"/ListPrivateConnections",
        "responseCode":200
      },
      "input":{"shape":"ListPrivateConnectionsInput"},
      "output":{"shape":"ListPrivateConnectionsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the private connections in your account.</p>",
      "readonly":true
    },
    "ListSecurityRequirementPacks":{
      "name":"ListSecurityRequirementPacks",
      "http":{
        "method":"POST",
        "requestUri":"/ListSecurityRequirementPacks",
        "responseCode":200
      },
      "input":{"shape":"ListSecurityRequirementPacksInput"},
      "output":{"shape":"ListSecurityRequirementPacksOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all security requirement packs in the caller's account.</p>",
      "readonly":true
    },
    "ListSecurityRequirements":{
      "name":"ListSecurityRequirements",
      "http":{
        "method":"POST",
        "requestUri":"/ListSecurityRequirements",
        "responseCode":200
      },
      "input":{"shape":"ListSecurityRequirementsInput"},
      "output":{"shape":"ListSecurityRequirementsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists security requirements within a pack.</p>",
      "readonly":true
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceInput"},
      "output":{"shape":"ListTagsForResourceOutput"},
      "documentation":"<p>Returns the tags associated with the specified resource.</p>",
      "readonly":true
    },
    "ListTargetDomains":{
      "name":"ListTargetDomains",
      "http":{
        "method":"POST",
        "requestUri":"/ListTargetDomains",
        "responseCode":200
      },
      "input":{"shape":"ListTargetDomainsInput"},
      "output":{"shape":"ListTargetDomainsOutput"},
      "documentation":"<p>Returns a paginated list of target domain summaries in your account.</p>",
      "readonly":true
    },
    "ListThreatModelJobTasks":{
      "name":"ListThreatModelJobTasks",
      "http":{
        "method":"POST",
        "requestUri":"/ListThreatModelJobTasks",
        "responseCode":200
      },
      "input":{"shape":"ListThreatModelJobTasksInput"},
      "output":{"shape":"ListThreatModelJobTasksOutput"},
      "documentation":"<p>Returns a paginated list of task summaries for the specified threat model job.</p>",
      "readonly":true
    },
    "ListThreatModelJobs":{
      "name":"ListThreatModelJobs",
      "http":{
        "method":"POST",
        "requestUri":"/ListThreatModelJobs",
        "responseCode":200
      },
      "input":{"shape":"ListThreatModelJobsInput"},
      "output":{"shape":"ListThreatModelJobsOutput"},
      "documentation":"<p>Returns a paginated list of threat model job summaries for the specified threat model.</p>",
      "readonly":true
    },
    "ListThreatModels":{
      "name":"ListThreatModels",
      "http":{
        "method":"POST",
        "requestUri":"/ListThreatModels",
        "responseCode":200
      },
      "input":{"shape":"ListThreatModelsInput"},
      "output":{"shape":"ListThreatModelsOutput"},
      "documentation":"<p>Returns a paginated list of threat model summaries for the specified agent space.</p>",
      "readonly":true
    },
    "ListThreats":{
      "name":"ListThreats",
      "http":{
        "method":"POST",
        "requestUri":"/ListThreats",
        "responseCode":200
      },
      "input":{"shape":"ListThreatsInput"},
      "output":{"shape":"ListThreatsOutput"},
      "documentation":"<p>Returns a paginated list of threats for a threat model job.</p>",
      "readonly":true
    },
    "StartCodeRemediation":{
      "name":"StartCodeRemediation",
      "http":{
        "method":"POST",
        "requestUri":"/StartCodeRemediation",
        "responseCode":200
      },
      "input":{"shape":"StartCodeRemediationInput"},
      "output":{"shape":"StartCodeRemediationOutput"},
      "documentation":"<p>Initiates code remediation for one or more security findings. This creates pull requests in integrated repositories to fix the identified vulnerabilities.</p>"
    },
    "StartCodeReviewJob":{
      "name":"StartCodeReviewJob",
      "http":{
        "method":"POST",
        "requestUri":"/StartCodeReviewJob",
        "responseCode":200
      },
      "input":{"shape":"StartCodeReviewJobInput"},
      "output":{"shape":"StartCodeReviewJobOutput"},
      "documentation":"<p>Starts a new code review job for a code review configuration. The job executes the security-focused code analysis defined in the code review.</p>"
    },
    "StartPentestJob":{
      "name":"StartPentestJob",
      "http":{
        "method":"POST",
        "requestUri":"/StartPentestJob",
        "responseCode":200
      },
      "input":{"shape":"StartPentestJobInput"},
      "output":{"shape":"StartPentestJobOutput"},
      "documentation":"<p>Starts a new pentest job for a pentest configuration. The job executes the security tests defined in the pentest.</p>"
    },
    "StartThreatModelJob":{
      "name":"StartThreatModelJob",
      "http":{
        "method":"POST",
        "requestUri":"/StartThreatModelJob",
        "responseCode":200
      },
      "input":{"shape":"StartThreatModelJobInput"},
      "output":{"shape":"StartThreatModelJobOutput"},
      "documentation":"<p>Starts a new threat model job for a threat model configuration.</p>"
    },
    "StopCodeReviewJob":{
      "name":"StopCodeReviewJob",
      "http":{
        "method":"POST",
        "requestUri":"/StopCodeReviewJob",
        "responseCode":200
      },
      "input":{"shape":"StopCodeReviewJobInput"},
      "output":{"shape":"StopCodeReviewJobOutput"},
      "documentation":"<p>Stops a running code review job. The job transitions to a stopping state and then to stopped after cleanup completes.</p>"
    },
    "StopPentestJob":{
      "name":"StopPentestJob",
      "http":{
        "method":"POST",
        "requestUri":"/StopPentestJob",
        "responseCode":200
      },
      "input":{"shape":"StopPentestJobInput"},
      "output":{"shape":"StopPentestJobOutput"},
      "documentation":"<p>Stops a running pentest job. The job transitions to a stopping state and then to stopped after cleanup completes.</p>"
    },
    "StopThreatModelJob":{
      "name":"StopThreatModelJob",
      "http":{
        "method":"POST",
        "requestUri":"/StopThreatModelJob",
        "responseCode":200
      },
      "input":{"shape":"StopThreatModelJobInput"},
      "output":{"shape":"StopThreatModelJobOutput"},
      "documentation":"<p>Stops a running threat model job.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"TagResourceInput"},
      "output":{"shape":"TagResourceOutput"},
      "documentation":"<p>Adds tags to a resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceInput"},
      "output":{"shape":"UntagResourceOutput"},
      "documentation":"<p>Removes tags from a resource.</p>",
      "idempotent":true
    },
    "UpdateAgentSpace":{
      "name":"UpdateAgentSpace",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateAgentSpace",
        "responseCode":200
      },
      "input":{"shape":"UpdateAgentSpaceInput"},
      "output":{"shape":"UpdateAgentSpaceOutput"},
      "documentation":"<p>Updates the configuration of an existing agent space, including its name, description, AWS resources, target domains, and code review settings.</p>"
    },
    "UpdateApplication":{
      "name":"UpdateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateApplication",
        "responseCode":200
      },
      "input":{"shape":"UpdateApplicationRequest"},
      "output":{"shape":"UpdateApplicationResponse"},
      "documentation":"<p>Updates the configuration of an existing application, including the IAM role and default KMS key.</p>",
      "idempotent":true
    },
    "UpdateCodeReview":{
      "name":"UpdateCodeReview",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateCodeReview",
        "responseCode":200
      },
      "input":{"shape":"UpdateCodeReviewInput"},
      "output":{"shape":"UpdateCodeReviewOutput"},
      "documentation":"<p>Updates an existing code review configuration.</p>"
    },
    "UpdateFinding":{
      "name":"UpdateFinding",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateFinding",
        "responseCode":200
      },
      "input":{"shape":"UpdateFindingInput"},
      "output":{"shape":"UpdateFindingOutput"},
      "documentation":"<p>Updates the status or risk level of a security finding.</p>"
    },
    "UpdateIntegratedResources":{
      "name":"UpdateIntegratedResources",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateIntegratedResources",
        "responseCode":200
      },
      "input":{"shape":"UpdateIntegratedResourcesInput"},
      "output":{"shape":"UpdateIntegratedResourcesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates the integrated resources for an agent space, including their capabilities.</p>"
    },
    "UpdatePentest":{
      "name":"UpdatePentest",
      "http":{
        "method":"POST",
        "requestUri":"/UpdatePentest",
        "responseCode":200
      },
      "input":{"shape":"UpdatePentestInput"},
      "output":{"shape":"UpdatePentestOutput"},
      "documentation":"<p>Updates an existing pentest configuration.</p>"
    },
    "UpdatePrivateConnectionCertificate":{
      "name":"UpdatePrivateConnectionCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/UpdatePrivateConnectionCertificate",
        "responseCode":200
      },
      "input":{"shape":"UpdatePrivateConnectionCertificateInput"},
      "output":{"shape":"UpdatePrivateConnectionCertificateOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates the certificate associated with a private connection. Certificates can be added or replaced but not removed.</p>"
    },
    "UpdateSecurityRequirementPack":{
      "name":"UpdateSecurityRequirementPack",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateSecurityRequirementPack",
        "responseCode":200
      },
      "input":{"shape":"UpdateSecurityRequirementPackInput"},
      "output":{"shape":"UpdateSecurityRequirementPackOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates a security requirement pack. For customer managed packs, both metadata and status can be updated. For AWS managed packs, only status can be updated.</p>"
    },
    "UpdateTargetDomain":{
      "name":"UpdateTargetDomain",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateTargetDomain",
        "responseCode":200
      },
      "input":{"shape":"UpdateTargetDomainInput"},
      "output":{"shape":"UpdateTargetDomainOutput"},
      "documentation":"<p>Updates the verification method for a target domain.</p>"
    },
    "UpdateThreat":{
      "name":"UpdateThreat",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateThreat",
        "responseCode":200
      },
      "input":{"shape":"UpdateThreatInput"},
      "output":{"shape":"UpdateThreatOutput"},
      "documentation":"<p>Updates a threat.</p>"
    },
    "UpdateThreatModel":{
      "name":"UpdateThreatModel",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateThreatModel",
        "responseCode":200
      },
      "input":{"shape":"UpdateThreatModelInput"},
      "output":{"shape":"UpdateThreatModelOutput"},
      "documentation":"<p>Updates an existing threat model configuration.</p>"
    },
    "VerifyTargetDomain":{
      "name":"VerifyTargetDomain",
      "http":{
        "method":"POST",
        "requestUri":"/VerifyTargetDomain",
        "responseCode":200
      },
      "input":{"shape":"VerifyTargetDomainInput"},
      "output":{"shape":"VerifyTargetDomainOutput"},
      "documentation":"<p>Initiates verification of a target domain. This checks whether the domain ownership verification token has been properly configured.</p>"
    }
  },
  "shapes":{
    "AWSResources":{
      "type":"structure",
      "members":{
        "vpcs":{
          "shape":"VpcConfigs",
          "documentation":"<p>The VPC configurations associated with the agent space.</p>"
        },
        "logGroups":{
          "shape":"LogGroupArns",
          "documentation":"<p>The Amazon Resource Names (ARNs) of the CloudWatch log groups associated with the agent space.</p>"
        },
        "s3Buckets":{
          "shape":"S3BucketArns",
          "documentation":"<p>The Amazon Resource Names (ARNs) of the S3 buckets associated with the agent space.</p>"
        },
        "secretArns":{
          "shape":"SecretArns",
          "documentation":"<p>The Amazon Resource Names (ARNs) of the Secrets Manager secrets associated with the agent space.</p>"
        },
        "lambdaFunctionArns":{
          "shape":"LambdaFunctionArns",
          "documentation":"<p>The Amazon Resource Names (ARNs) of the Lambda functions associated with the agent space.</p>"
        },
        "iamRoles":{
          "shape":"IamRoles",
          "documentation":"<p>The IAM roles associated with the agent space.</p>"
        }
      },
      "documentation":"<p>The AWS resources associated with an agent space, including VPCs, log groups, S3 buckets, secrets, Lambda functions, and IAM roles.</p>"
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>Error description.</p>"
        }
      },
      "documentation":"<p>You do not have sufficient access to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccessToken":{
      "type":"string",
      "documentation":"<p>A GitLab access token used to authenticate with the provider.</p>",
      "sensitive":true
    },
    "AccessType":{
      "type":"string",
      "documentation":"<p>Defines the visibility level of provider resources. PRIVATE indicates restricted access, while PUBLIC indicates open access.</p>",
      "enum":[
        "PRIVATE",
        "PUBLIC"
      ]
    },
    "Actor":{
      "type":"structure",
      "members":{
        "identifier":{
          "shape":"String",
          "documentation":"<p>The unique identifier for the actor.</p>"
        },
        "uris":{
          "shape":"UriList",
          "documentation":"<p>The list of URIs that the actor targets during testing.</p>"
        },
        "authentication":{
          "shape":"Authentication",
          "documentation":"<p>The authentication configuration for the actor.</p>"
        },
        "description":{
          "shape":"String",
          "documentation":"<p>A description of the actor.</p>"
        }
      },
      "documentation":"<p>Represents an actor used during penetration testing. An actor defines a user or entity that interacts with the target application, including authentication credentials and target URIs.</p>"
    },
    "ActorList":{
      "type":"list",
      "member":{"shape":"Actor"}
    },
    "AddArtifactInput":{
      "type":"structure",
      "required":[
        "agentSpaceId",
        "artifactContent",
        "artifactType",
        "fileName"
      ],
      "members":{
        "agentSpaceId":{
          "shape":"AgentSpaceId",
          "documentation":"<p>The unique identifier of the agent space to add the artifact to.</p>"
        },
        "artifactContent":{
          "shape":"Blob",
          "documentation":"<p>The binary content of the artifact to upload.</p>"
        },
        "artifactType":{
          "shape":"ArtifactType",
          "documentation":"<p>The file type of the artifact. Valid values include TXT, PNG, JPEG, MD, PDF, DOCX, DOC, JSON, and YAML.</p>"
        },
        "fileName":{
          "shape":"String",
          "documentation":"<p>The file name of the artifact.</p>"
        }
      }
    },
    "AddArtifactOutput":{
      "type":"structure",
      "required":["artifactId"],
      "members":{
        "artifactId":{
          "shape":"ArtifactId",
          "documentation":"<p>The unique identifier assigned to the uploaded artifact.</p>"
        }
      }
    },
    "AgentName":{
      "type":"string",
      "documentation":"<p>Name of an agent space.</p>"
    },
    "AgentSpace":{
      "type":"structure",
      "required":[
        "agentSpaceId",
        "name"
      ],
      "members":{
        "agentSpaceId":{
          "shape":"AgentSpaceId",
          "documentation":"<p>The unique identifier of the agent space.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the agent space.</p>"
        },
        "description":{
          "shape":"String",
          "documentation":"<p>A description of the agent space.</p>"
        },
        "awsResources":{
          "shape":"AWSResources",
          "documentation":"<p>The AWS resources associated with the agent space.</p>"
        },
        "targetDomainIds":{
          "shape":"TargetDomainIdList",
          "documentation":"<p>The list of target domain identifiers associated with the agent space.</p>"
        },
        "codeReviewSettings":{
          "shape":"CodeReviewSettings",
          "documentation":"<p>The code review settings for the agent space.</p>"
        },
        "kmsKeyId":{
          "shape":"KmsKeyId",
          "documentation":"<p>The identifier of the AWS KMS key used to encrypt data in the agent space.</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The date and time the agent space was created, in UTC format.</p>"
        },
        "updatedAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The date and time the agent space was last updated, in UTC format.</p>"
        }
      },
      "documentation":"<p>Represents an agent space, which is a dedicated workspace for securing a specific application. An agent space contains the configuration, resources, and settings needed for security testing.</p>"
    },
    "AgentSpaceId":{
      "type":"string",
      "documentation":"<p>Unique identifier of the agent space.</p>"
    },
    "AgentSpaceIdList":{
      "type":"list",
      "member":{"shape":"AgentSpaceId"}
    },
    "AgentSpaceList":{
      "type":"list",
      "member":{"shape":"AgentSpace"}
    },
    "AgentSpaceSummary":{
      "type":"structure",
      "required":[
        "agentSpaceId",
        "name"
      ],
      "members":{
        "agentSpaceId":{
          "shape":"AgentSpaceId",
          "documentation":"<p>The unique identifier of the agent space.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the agent space.</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The date and time the agent space was created, in UTC format.</p>"
        },
        "updatedAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The date and time the agent space was last updated, in UTC format.</p>"
        }
      },
      "documentation":"<p>Contains summary information about an agent space.</p>"
    },
    "AgentSpaceSummaryList":{
      "type":"list",
      "member":{"shape":"AgentSpaceSummary"}
    },
    "ApplicationDomain":{
      "type":"string",
      "documentation":"<p>Domain where the application is available.</p>"
    },
    "ApplicationId":{
      "type":"string",
      "documentation":"<p>Application identifier.</p>"
    },
    "ApplicationSummary":{
      "type":"structure",
      "required":[
        "applicationId",
        "applicationName",
        "domain"
      ],
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The unique identifier of the application.</p>"
        },
        "applicationName":{
          "shape":"String",
          "documentation":"<p>The name of the application.</p>"
        },
        "domain":{
          "shape":"ApplicationDomain",
          "documentation":"<p>The domain associated with the application.</p>"
        },
        "defaultKmsKeyId":{
          "shape":"DefaultKmsKeyId",
          "documentation":"<p>The identifier of the default AWS KMS key used to encrypt data for the application.</p>"
        }
      },
      "documentation":"<p>Contains summary information about an application.</p>"
    },
    "ApplicationSummaryList":{
      "type":"list",
      "member":{"shape":"ApplicationSummary"},
      "documentation":"<p>List of application summaries.</p>"
    },
    "Artifact":{
      "type":"structure",
      "required":[
        "contents",
        "type"
      ],
      "members":{
        "contents":{
          "shape":"String",
          "documentation":"<p>The content of the artifact.</p>"
        },
        "type":{
          "shape":"ArtifactType",
          "documentation":"<p>The file type of the artifact.</p>"
        }
      },
      "documentation":"<p>Represents an artifact that provides context for security testing, such as documentation, diagrams, or configuration files.</p>"
    },
    "ArtifactId":{
      "type":"string",
      "documentation":"<p>The id of the artifact.</p>"
    },
    "ArtifactIds":{
      "type":"list",
      "member":{"shape":"ArtifactId"}
    },
    "ArtifactMetadataItem":{
      "type":"structure",
      "required":[
        "agentSpaceId",
        "artifactId",
        "fileName",
        "updatedAt"
      ],
      "members":{
        "agentSpaceId":{
          "shape":"AgentSpaceId",
          "documentation":"<p>The unique identifier of the agent space that contains the artifact.</p>"
        },
        "artifactId":{
          "shape":"ArtifactId",
          "documentation":"<p>The unique identifier of the artifact.</p>"
        },
        "fileName":{
          "shape":"String",
          "documentation":"<p>The file name of the artifact.</p>"
        },
        "updatedAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The date and time the artifact was last updated, in UTC format.</p>"
        }
      },
      "documentation":"<p>Contains metadata about an artifact.</p>"
    },
    "ArtifactMetadataList":{
      "type":"list",
      "member":{"shape":"ArtifactMetadataItem"},
      "documentation":"<p>List of metadata objects containing artifacts details.</p>"
    },
    "ArtifactSummary":{
      "type":"structure",
      "required":[
        "artifactId",
        "fileName",
        "artifactType"
      ],
      "members":{
        "artifactId":{
          "shape":"ArtifactId",
          "documentation":"<p>The unique identifier of the artifact.</p>"
        },
        "fileName":{
          "shape":"String",
          "documentation":"<p>The file name of the artifact.</p>"
        },
        "artifactType":{
          "shape":"ArtifactType",
          "documentation":"<p>The file type of the artifact.</p>"
        }
      },
      "documentation":"<p>Contains summary information about an artifact.</p>"
    },
    "ArtifactSummaryList":{
      "type":"list",
      "member":{"shape":"ArtifactSummary"},
      "documentation":"<p>List of artifact summaries.</p>"
    },
    "ArtifactType":{
      "type":"string",
      "documentation":"<p>Supported file extension types for artifacts.</p>",
      "enum":[
        "TXT",
        "PNG",
        "JPEG",
        "MD",
        "PDF",
        "DOCX",
        "DOC",
        "JSON",
        "YAML"
      ]
    },
    "Assets":{
      "type":"structure",
      "members":{
        "endpoints":{
          "shape":"EndpointList",
          "documentation":"<p>The list of endpoints to test during the pentest.</p>"
        },
        "actors":{
          "shape":"ActorList",
          "documentation":"<p>The list of actors used during penetration testing.</p>"
        },
        "documents":{
          "shape":"DocumentList",
          "documentation":"<p>The list of documents that provide context for the pentest.</p>"
        },
        "sourceCode":{
          "shape":"SourceCodeRepositoryList",
          "documentation":"<p>The list of source code repositories to analyze during the pentest.</p>"
        },
        "integratedRepositories":{
          "shape":"IntegratedRepositoryList",
          "documentation":"<p>The list of integrated repositories associated with the pentest.</p>"
        }
      },
      "documentation":"<p>The collection of assets used in a pentest configuration, including endpoints, actors, documents, source code repositories, and integrated repositories.</p>"
    },
    "AuthCode":{
      "type":"string",
      "documentation":"<p>Authorization code from OAuth flow.</p>"
    },
    "Authentication":{
      "type":"structure",
      "members":{
        "providerType":{
          "shape":"AuthenticationProviderType",
          "documentation":"<p>The type of authentication provider. Valid values include SECRETS_MANAGER, AWS_LAMBDA, AWS_IAM_ROLE, and AWS_INTERNAL.</p>"
        },
        "value":{
          "shape":"String",
          "documentation":"<p>The authentication value, such as a secret ARN, Lambda function ARN, or IAM role ARN, depending on the provider type.</p>"
        }
      },
      "documentation":"<p>The authentication configuration for an actor, specifying the provider type and credentials.</p>"
    },
    "AuthenticationProviderType":{
      "type":"string",
      "documentation":"<p>Type of authentication provider.</p>",
      "enum":[
        "SECRETS_MANAGER",
        "AWS_LAMBDA",
        "AWS_IAM_ROLE",
        "AWS_INTERNAL"
      ]
    },
    "BatchCreateSecurityRequirementResult":{
      "type":"structure",
      "required":[
        "packId",
        "name",
        "description",
        "domain",
        "evaluation",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "packId":{
          "shape":"SecurityRequirementPackId",
          "documentation":"<p>The unique identifier of the pack containing the security requirement.</p>"
        },
        "name":{
          "shape":"SecurityRequirementName",
          "documentation":"<p>The name of the security requirement.</p>"
        },
        "description":{
          "shape":"String",
          "documentation":"<p>A description of the security requirement.</p>"
        },
        "domain":{
          "shape":"String",
          "documentation":"<p>The security domain the requirement belongs to.</p>"
        },
        "evaluation":{
          "shape":"String",
          "documentation":"<p>The evaluation criteria used to assess compliance with this requirement.</p>"
        },
        "remediation":{
          "shape":"String",
          "documentation":"<p>The recommended remediation steps when the requirement is not met.</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The date and time the security requirement was created, in UTC format.</p>"
        },
        "updatedAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The date and time the security requirement was last updated, in UTC format.</p>"
        }
      },
      "documentation":"<p>Contains information about a successfully created security requirement.</p>"
    },
    "BatchCreateSecurityRequirementResultList":{
      "type":"list",
      "member":{"shape":"BatchCreateSecurityRequirementResult"},
      "documentation":"<p>List of successfully created security requirements.</p>"
    },
    "BatchCreateSecurityRequirementsInput":{
      "type":"structure",
      "required":[
        "packId",
        "securityRequirements"
      ],
      "members":{
        "packId":{
          "shape":"SecurityRequirementPackId",
          "documentation":"<p>The unique identifier of the security requirement pack to add requirements to.</p>"
        },
        "securityRequirements":{
          "shape":"CreateSecurityRequirementEntryList",
          "documentation":"<p>The list of security requirements to create.</p>"
        }
      }
    },
    "BatchCreateSecurityRequirementsOutput":{
      "type":"structure",
      "required":[
        "securityRequirements",
        "errors"
      ],
      "members":{
        "securityRequirements":{
          "shape":"BatchCreateSecurityRequirementResultList",
          "documentation":"<p>The list of security requirements that were successfully created.</p>"
        },
        "errors":{
          "shape":"BatchSecurityRequirementErrors",
          "documentation":"<p>The list of errors for security requirements that failed to be created.</p>"
        }
      }
    },
    "BatchDeleteCodeReviewsInput":{
      "type":"structure",
      "required":[
        "codeReviewIds",
        "agentSpaceId"
      ],
      "members":{
        "codeReviewIds":{
          "shape":"CodeReviewIdList",
          "documentation":"<p>The list of code review identifiers to delete.</p>"
        },
        "agentSpaceId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the agent space that contains the code reviews to delete.</p>"
        }
      },
      "documentation":"<p>Input for deleting multiple code reviews.</p>"
    },
    "BatchDeleteCodeReviewsOutput":{
      "type":"structure",
      "members":{
        "deleted":{
          "shape":"CodeReviewIdList",
          "documentation":"<p>The list of identifiers of the code reviews that were successfully deleted.</p>"
        },
        "failed":{
          "shape":"DeleteCodeReviewFailureList",
          "documentation":"<p>The list of code reviews that failed to delete, including the reason for each failure.</p>"
        }
      },
      "documentation":"<p>Output for the BatchDeleteCodeReviews operation.</p>"
    },
    "BatchDeletePentestsInput":{
      "type":"structure",
      "required":[
        "pentestIds",
        "agentSpaceId"
      ],
      "members":{
        "pentestIds":{
          "shape":"PentestIdList",
          "documentation":"<p>The list of pentest identifiers to delete.</p>"
        },
        "agentSpaceId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the agent space that contains the pentests to delete.</p>"
        }
      },
      "documentation":"<p>Input for deleting multiple pentests.</p>"
    },
    "BatchDeletePentestsOutput":{
      "type":"structure",
      "members":{
        "deleted":{
          "shape":"PentestList",
          "documentation":"<p>The list of pentests that were successfully deleted.</p>"
        },
        "failed":{
          "shape":"DeletePentestFailureList",
          "documentation":"<p>The list of pentests that failed to delete, including the reason for each failure.</p>"
        }
      },
      "documentation":"<p>Output for the BatchDeletePentests operation.</p>"
    },
    "BatchDeleteSecurityRequirementsInput":{
      "type":"structure",
      "required":[
        "packId",
        "securityRequirementNames"
      ],
      "members":{
        "packId":{
          "shape":"SecurityRequirementPackId",
          "documentation":"<p>The unique identifier of the security requirement pack to remove requirements from.</p>"
        },
        "securityRequirementNames":{
          "shape":"SecurityRequirementNameList",
          "documentation":"<p>The list of security requirement names to delete.</p>"
        }
      }
    },
    "BatchDeleteSecurityRequirementsOutput":{
      "type":"structure",
      "required":[
        "deletedSecurityRequirementNames",
        "errors"
      ],
      "members":{
        "deletedSecurityRequirementNames":{
          "shape":"SecurityRequirementNameList",
          "documentation":"<p>The list of security requirement names that were successfully deleted.</p>"
        },
        "errors":{
          "shape":"BatchSecurityRequirementErrors",
          "documentation":"<p>The list of errors for security requirements that failed to be deleted.</p>"
        }
      }
    },
    "BatchDeleteThreatModelsInput":{
      "type":"structure",
      "required":[
        "threatModelIds",
        "agentSpaceId"
      ],
      "members":{
        "threatModelIds":{
          "shape":"ThreatModelIdList",
          "documentation":"<p>The list of threat model identifiers to delete.</p>"
        },
        "agentSpaceId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the agent space that contains the threat models to delete.</p>"
        }
      },
      "documentation":"<p>Input for deleting multiple threat models.</p>"
    },
    "BatchDeleteThreatModelsOutput":{
      "type":"structure",
      "members":{
        "deleted":{
          "shape":"ThreatModelIdList",
          "documentation":"<p>The list of threat model identifiers that were successfully deleted.</p>"
        },
        "failed":{
          "shape":"DeleteThreatModelFailureList",
          "documentation":"<p>The list of threat models that failed to delete, including the reason for each failure.</p>"
        }
      },
      "documentation":"<p>Output for the BatchDeleteThreatModels operation.</p>"
    },
    "BatchGetAgentSpacesInput":{
      "type":"structure",
      "required":["agentSpaceIds"],
      "members":{
        "agentSpaceIds":{
          "shape":"AgentSpaceIdList",
          "documentation":"<p>The list of agent space identifiers to retrieve.</p>"
        }
      },
      "documentation":"<p>Input for batch retrieving agent spaces.</p>"
    },
    "BatchGetAgentSpacesOutput":{
      "type":"structure",
      "members":{
        "agentSpaces":{
          "shape":"AgentSpaceList",
          "documentation":"<p>The list of agent spaces that were found.</p>"
        },
        "notFound":{
          "shape":"AgentSpaceIdList",
          "documentation":"<p>The list of agent space identifiers that were not found.</p>"
        }
      },
      "documentation":"<p>Output for the BatchGetAgentSpaces operation.</p>"
    },
    "BatchGetArtifactMetadataInput":{
      "type":"structure",
      "required":[
        "agentSpaceId",
        "artifactIds"
      ],
      "members":{
        "agentSpaceId":{
          "shape":"AgentSpaceId",
          "documentation":"<p>The unique identifier of the agent space that contains the artifacts.</p>"
        },
        "artifactIds":{
          "shape":"ArtifactIds",
          "documentation":"<p>The list of artifact identifiers to retrieve metadata for.</p>"
        }
      }
    },
    "BatchGetArtifactMetadataOutput":{
      "type":"structure",
      "required":["artifactMetadataList"],
      "members":{
        "artifactMetadataList":{
          "shape":"ArtifactMetadataList",
          "documentation":"<p>The list of artifact metadata items that were found.</p>"
        }
      }
    },
    "BatchGetCodeReviewJobTasksInput":{
      "type":"structure",
      "required":[
        "agentSpaceId",
        "codeReviewJobTaskIds"
      ],
      "members":{
        "agentSpaceId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the agent space that contains the tasks.</p>"
        },
        "codeReviewJobTaskIds":{
          "shape":"TaskIdList",
          "documentation":"<p>The list of task identifiers to retrieve.</p>"
        }
      },
      "documentation":"<p>Input for retrieving multiple tasks associated with a code review job.</p>"
    },
    "BatchGetCodeReviewJobTasksOutput":{
      "type":"structure",
      "members":{
        "codeReviewJobTasks":{
          "shape":"CodeReviewJobTaskList",
          "documentation":"<p>The list of code review job tasks that were found.</p>"
        },
        "notFound":{
          "shape":"TaskIdList",
          "documentation":"<p>The list of task identifiers that were not found.</p>"
        }
      },
      "documentation":"<p>Output for the BatchGetCodeReviewJobTasks operation.</p>"
    },
    "BatchGetCodeReviewJobsInput":{
      "type":"structure",
      "required":[
        "codeReviewJobIds",
        "agentSpaceId"
      ],
      "members":{
        "codeReviewJobIds":{
          "shape":"CodeReviewJobIdList",
          "documentation":"<p>The list of code review job identifiers to retrieve.</p>"
        },
        "agentSpaceId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the agent space that contains the code review jobs.</p>"
        }
      },
      "documentation":"<p>Input for BatchGetCodeReviewJobs operation.</p>"
    },
    "BatchGetCodeReviewJobsOutput":{
      "type":"structure",
      "members":{
        "codeReviewJobs":{
          "shape":"CodeReviewJobList",
          "documentation":"<p>The list of code review jobs that were found.</p>"
        },
        "notFound":{
          "shape":"CodeReviewJobIdList",
          "documentation":"<p>The list of code review job identifiers that were not found.</p>"
        }
      },
      "documentation":"<p>Output for the BatchGetCodeReviewJobs operation.</p>"
    },
    "BatchGetCodeReviewsInput":{
      "type":"structure",
      "required":[
        "codeReviewIds",
        "agentSpaceId"
      ],
      "members":{
        "codeReviewIds":{
          "shape":"CodeReviewIdList",
          "documentation":"<p>The list of code review identifiers to retrieve.</p>"
        },
        "agentSpaceId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the agent space that contains the code reviews.</p>"
        }
      },
      "documentation":"<p>Input for retrieving multiple code reviews by their IDs.</p>"
    },
    "BatchGetCodeReviewsOutput":{
      "type":"structure",
      "members":{
        "codeReviews":{
          "shape":"CodeReviewList",
          "documentation":"<p>The list of code reviews that were found.</p>"
        },
        "notFound":{
          "shape":"CodeReviewIdList",
          "documentation":"<p>The list of code review identifiers that were not found.</p>"
        }
      },
      "documentation":"<p>Output for the BatchGetCodeReviews operation.</p>"
    },
    "BatchGetFindingsInput":{
      "type":"structure",
      "required":[
        "findingIds",
        "agentSpaceId"
      ],
      "members":{
        "findingIds":{
          "shape":"FindingIdList",
          "documentation":"<p>The list of finding identifiers to retrieve.</p>"
        },
        "agentSpaceId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the agent space that contains the findings.</p>"
        }
      },
      "documentation":"<p>Input for BatchGetFindings operation.</p>"
    },
    "BatchGetFindingsOutput":{
      "type":"structure",
      "members":{
        "findings":{
          "shape":"FindingList",
          "documentation":"<p>The list of findings that were found.</p>"
        },
        "notFound":{
          "shape":"FindingIdList",
          "documentation":"<p>The list of finding identifiers that were not found.</p>"
        }
      },
      "documentation":"<p>Output for the BatchGetFindings operation.</p>"
    },
    "BatchGetPentestJobTasksInput":{
      "type":"structure",
      "required":[
        "agentSpaceId",
        "taskIds"
      ],
      "members":{
        "agentSpaceId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the agent space that contains the tasks.</p>"
        },
        "taskIds":{
          "shape":"TaskIdList",
          "documentation":"<p>The list of task identifiers to retrieve.</p>"
        }
      },
      "documentation":"<p>Input for retrieving multiple tasks associated with a pentest job.</p>"
    },
    "BatchGetPentestJobTasksOutput":{
      "type":"structure",
      "members":{
        "tasks":{
          "shape":"TaskList",
          "documentation":"<p>The list of tasks that were found.</p>"
        },
        "notFound":{
          "shape":"TaskIdList",
          "documentation":"<p>The list of task identifiers that were not found.</p>"
        }
      },
      "documentation":"<p>Output for the BatchGetPentestJobTasks operation.</p>"
    },
    "BatchGetPentestJobsInput":{
      "type":"structure",
      "required":[
        "pentestJobIds",
        "agentSpaceId"
      ],
      "members":{
        "pentestJobIds":{
          "shape":"PentestJobIdList",
          "documentation":"<p>The list of pentest job identifiers to retrieve.</p>"
        },
        "agentSpaceId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the agent space that contains the pentest jobs.</p>"
        }
      },
      "documentation":"<p>Input for BatchGetPentestJobs operation.</p>"
    },
    "BatchGetPentestJobsOutput":{
      "type":"structure",
      "members":{
        "pentestJobs":{
          "shape":"PentestJobList",
          "documentation":"<p>The list of pentest jobs that were found.</p>"
        },
        "notFound":{
          "shape":"PentestJobIdList",
          "documentation":"<p>The list of pentest job identifiers that were not found.</p>"
        }
      },
      "documentation":"<p>Output for the BatchGetPentestJobs operation.</p>"
    },
    "BatchGetPentestsInput":{
      "type":"structure",
      "required":[
        "pentestIds",
        "agentSpaceId"
      ],
      "members":{
        "pentestIds":{
          "shape":"PentestIdList",
          "documentation":"<p>The list of pentest identifiers to retrieve.</p>"
        },
        "agentSpaceId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the agent space that contains the pentests.</p>"
        }
      },
      "documentation":"<p>Input for retrieving multiple pentests by their IDs.</p>"
    },
    "BatchGetPentestsOutput":{
      "type":"structure",
      "members":{
        "pentests":{
          "shape":"PentestList",
          "documentation":"<p>The list of pentests that were found.</p>"
        },
        "notFound":{
          "shape":"PentestIdList",
          "documentation":"<p>The list of pentest identifiers that were not found.</p>"
        }
      },
      "documentation":"<p>Output for the BatchGetPentests operation.</p>"
    },
    "BatchGetSecurityRequirementResult":{
      "type":"structure",
      "required":[
        "packId",
        "name",
        "description",
        "domain",
        "evaluation",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "packId":{
          "shape":"SecurityRequirementPackId",
          "documentation":"<p>The unique identifier of the pack containing the security requirement.</p>"
        },
        "name":{
          "shape":"SecurityRequirementName",
          "documentation":"<p>The name of the security requirement.</p>"
        },
        "description":{
          "shape":"String",
          "documentation":"<p>A description of the security requirement.</p>"
        },
        "domain":{
          "shape":"String",
          "documentation":"<p>The security domain the requirement belongs to.</p>"
        },
        "evaluation":{
          "shape":"String",
          "documentation":"<p>The evaluation criteria used to assess compliance with this requirement.</p>"
        },
        "remediation":{
          "shape":"String",
          "documentation":"<p>The recommended remediation steps when the requirement is not met.</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The date and time the security requirement was created, in UTC format.</p>"
        },
        "updatedAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The date and time the security requirement was last updated, in UTC format.</p>"
        }
      },
      "documentation":"<p>Contains information about a successfully retrieved security requirement.</p>"
    },
    "BatchGetSecurityRequirementResultList":{
      "type":"list",
      "member":{"shape":"BatchGetSecurityRequirementResult"},
      "documentation":"<p>List of successfully retrieved security requirements.</p>"
    },
    "BatchGetSecurityRequirementsInput":{
      "type":"structure",
      "required":[
        "packId",
        "securityRequirementNames"
      ],
      "members":{
        "packId":{
          "shape":"SecurityRequirementPackId",
          "documentation":"<p>The unique identifier of the security requirement pack to retrieve requirements from.</p>"
        },
        "securityRequirementNames":{
          "shape":"SecurityRequirementNameList",
          "documentation":"<p>The list of security requirement names to retrieve.</p>"
        }
      }
    },
    "BatchGetSecurityRequirementsOutput":{
      "type":"structure",
      "required":[
        "securityRequirements",
        "errors"
      ],
      "members":{
        "securityRequirements":{
          "shape":"BatchGetSecurityRequirementResultList",
          "documentation":"<p>The list of security requirements that were successfully retrieved.</p>"
        },
        "errors":{
          "shape":"BatchSecurityRequirementErrors",
          "documentation":"<p>The list of errors for security requirements that failed to be retrieved.</p>"
        }
      }
    },
    "BatchGetTargetDomainsInput":{
      "type":"structure",
      "required":["targetDomainIds"],
      "members":{
        "targetDomainIds":{
          "shape":"TargetDomainIdList",
          "documentation":"<p>The list of target domain identifiers to retrieve.</p>"
        }
      },
      "documentation":"<p>Input for batch retrieving target domains.</p>"
    },
    "BatchGetTargetDomainsOutput":{
      "type":"structure",
      "members":{
        "targetDomains":{
          "shape":"TargetDomainList",
          "documentation":"<p>The list of target domains that were found.</p>"
        },
        "notFound":{
          "shape":"TargetDomainIdList",
          "documentation":"<p>The list of target domain identifiers that were not found.</p>"
        }
      },
      "documentation":"<p>Output for the BatchGetTargetDomains operation.</p>"
    },
    "BatchGetThreatModelJobTasksInput":{
      "type":"structure",
      "required":[
        "agentSpaceId",
        "threatModelJobTaskIds"
      ],
      "members":{
        "agentSpaceId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the agent space that contains the tasks.</p>"
        },
        "threatModelJobTaskIds":{
          "shape":"TaskIdList",
          "documentation":"<p>The list of task identifiers to retrieve.</p>"
        }
      },
      "documentation":"<p>Input for retrieving multiple tasks associated with a threat model job.</p>"
    },
    "BatchGetThreatModelJobTasksOutput":{
      "type":"structure",
      "members":{
        "threatModelJobTasks":{
          "shape":"ThreatModelJobTaskList",
          "documentation":"<p>The list of threat model job tasks that were found.</p>"
        },
        "notFound":{
          "shape":"TaskIdList",
          "documentation":"<p>The list of task identifiers that were not found.</p>"
        }
      },
      "documentation":"<p>Output for the BatchGetThreatModelJobTasks operation.</p>"
    },
    "BatchGetThreatModelJobsInput":{
      "type":"structure",
      "required":[
        "threatModelJobIds",
        "agentSpaceId"
      ],
      "members":{
        "threatModelJobIds":{
          "shape":"ThreatModelJobIdList",
          "documentation":"<p>The list of threat model job identifiers to retrieve.</p>"
        },
        "agentSpaceId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the agent space that contains the threat model jobs.</p>"
        }
      },
      "documentation":"<p>Input for BatchGetThreatModelJobs operation.</p>"
    },
    "BatchGetThreatModelJobsOutput":{
      "type":"structure",
      "members":{
        "threatModelJobs":{
          "shape":"ThreatModelJobList",
          "documentation":"<p>The list of threat model jobs that were found.</p>"
        },
        "notFound":{
          "shape":"ThreatModelJobIdList",
          "documentation":"<p>The list of threat model job identifiers that were not found.</p>"
        }
      },
      "documentation":"<p>Output for the BatchGetThreatModelJobs operation.</p>"
    },
    "BatchGetThreatModelsInput":{
      "type":"structure",
      "required":[
        "threatModelIds",
        "agentSpaceId"
      ],
      "members":{
        "threatModelIds":{
          "shape":"ThreatModelIdList",
          "documentation":"<p>The list of threat model identifiers to retrieve.</p>"
        },
        "agentSpaceId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the agent space that contains the threat models.</p>"
        }
      },
      "documentation":"<p>Input for retrieving multiple threat models by their IDs.</p>"
    },
    "BatchGetThreatModelsOutput":{
      "type":"structure",
      "members":{
        "threatModels":{
          "shape":"ThreatModelList",
          "documentation":"<p>The list of threat models that were found.</p>"
        },
        "notFound":{
          "shape":"ThreatModelIdList",
          "documentation":"<p>The list of threat model identifiers that were not found.</p>"
        }
      },
      "documentation":"<p>Output for the BatchGetThreatModels operation.</p>"
    },
    "BatchGetThreatsInput":{
      "type":"structure",
      "required":[
        "threatIds",
        "agentSpaceId"
      ],
      "members":{
        "threatIds":{
          "shape":"ThreatIdList",
          "documentation":"<p>The list of threat identifiers to retrieve.</p>"
        },
        "agentSpaceId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the agent space.</p>"
        }
      },
      "documentation":"<p>Input for retrieving multiple threats.</p>"
    },
    "BatchGetThreatsOutput":{
      "type":"structure",
      "members":{
        "threats":{
          "shape":"ThreatList",
          "documentation":"<p>The list of threats that were found.</p>"
        },
        "notFound":{
          "shape":"ThreatIdList",
          "documentation":"<p>The list of threat identifiers that were not found.</p>"
        }
      },
      "documentation":"<p>Output for the BatchGetThreats operation.</p>"
    },
    "BatchSecurityRequirementError":{
      "type":"structure",
      "required":[
        "securityRequirementName",
        "code",
        "message"
      ],
      "members":{
        "securityRequirementName":{
          "shape":"SecurityRequirementName",
          "documentation":"<p>The name of the security requirement that caused the error.</p>"
        },
        "code":{
          "shape":"String",
          "documentation":"<p>The error code.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>The error message.</p>"
        }
      },
      "documentation":"<p>Contains information about an error that occurred for a specific security requirement during a batch operation.</p>"
    },
    "BatchSecurityRequirementErrors":{
      "type":"list",
      "member":{"shape":"BatchSecurityRequirementError"},
      "documentation":"<p>List of errors from a batch security requirement operation.</p>"
    },
    "BatchUpdateSecurityRequirementsInput":{
      "type":"structure",
      "required":[
        "packId",
        "securityRequirements"
      ],
      "members":{
        "packId":{
          "shape":"SecurityRequirementPackId",
          "documentation":"<p>The unique identifier of the security requirement pack containing the requirements to update.</p>"
        },
        "securityRequirements":{
          "shape":"UpdateSecurityRequirementEntryList",
          "documentation":"<p>The list of security requirement updates to apply.</p>"
        }
      }
    },
    "BatchUpdateSecurityRequirementsOutput":{
      "type":"structure",
      "required":[
        "updatedSecurityRequirementNames",
        "errors"
      ],
      "members":{
        "updatedSecurityRequirementNames":{
          "shape":"SecurityRequirementNameList",
          "documentation":"<p>The list of security requirement names that were successfully updated.</p>"
        },
        "errors":{
          "shape":"BatchSecurityRequirementErrors",
          "documentation":"<p>The list of errors for security requirements that failed to be updated.</p>"
        }
      }
    },
    "BitbucketInstallationId":{
      "type":"string",
      "documentation":"<p>An Atlassian installation identifier for a Bitbucket integration.</p>"
    },
    "BitbucketIntegrationInput":{
      "type":"structure",
      "required":[
        "installationId",
        "workspace",
        "code",
        "state"
      ],
      "members":{
        "installationId":{
          "shape":"BitbucketInstallationId",
          "documentation":"<p>The Atlassian installation identifier, available from the Atlassian administration console.</p>"
        },
        "workspace":{
          "shape":"BitbucketWorkspace",
          "documentation":"<p>The Bitbucket workspace slug that identifies the workspace to integrate, for example acme-corp.</p>"
        },
        "code":{
          "shape":"AuthCode",
          "documentation":"<p>The OAuth 2.0 authorization code returned from the consent redirect.</p>"
        },
        "state":{
          "shape":"CsrfState",
          "documentation":"<p>The CSRF state token echoed back from the OAuth redirect.</p>"
        }
      },
      "documentation":"<p>The configuration for creating a Bitbucket integration.</p>"
    },
    "BitbucketRepositoryMetadata":{
      "type":"structure",
      "required":[
        "name",
        "providerResourceId",
        "workspace"
      ],
      "members":{
        "name":{"shape":"ProviderResourceName"},
        "providerResourceId":{"shape":"ProviderResourceId"},
        "workspace":{
          "shape":"BitbucketWorkspace",
          "documentation":"<p>The workspace slug that owns the repository.</p>"
        },
        "accessType":{"shape":"AccessType"}
      },
      "documentation":"<p>Metadata for an integrated Bitbucket repository.</p>"
    },
    "BitbucketRepositoryResource":{
      "type":"structure",
      "required":[
        "name",
        "workspace"
      ],
      "members":{
        "name":{"shape":"ProviderResourceName"},
        "workspace":{
          "shape":"BitbucketWorkspace",
          "documentation":"<p>The workspace slug that owns the repository.</p>"
        }
      },
      "documentation":"<p>A Bitbucket repository integrated as a resource.</p>"
    },
    "BitbucketResourceCapabilities":{
      "type":"structure",
      "members":{
        "leaveComments":{
          "shape":"Boolean",
          "documentation":"<p>Whether to post code review comments on pull requests.</p>"
        },
        "remediateCode":{
          "shape":"Boolean",
          "documentation":"<p>Whether to create pull requests with automated fixes.</p>"
        }
      },
      "documentation":"<p>Capabilities for an integrated Bitbucket repository.</p>"
    },
    "BitbucketWorkspace":{
      "type":"string",
      "documentation":"<p>A Bitbucket workspace slug that identifies a workspace.</p>"
    },
    "Blob":{"type":"blob"},
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "Category":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the category.</p>"
        },
        "isPrimary":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether this is the primary category for the task.</p>"
        }
      },
      "documentation":"<p>Represents a category assigned to a security testing task.</p>"
    },
    "CategoryList":{
      "type":"list",
      "member":{"shape":"Category"}
    },
    "CertificateChain":{
      "type":"string",
      "documentation":"<p>A PEM-encoded certificate chain for a private connection.</p>",
      "sensitive":true
    },
    "CleanUpStrategy":{
      "type":"string",
      "documentation":"<p>Strategy for handling resources created during a pentest.</p>",
      "enum":[
        "BEST_EFFORT_DELETE",
        "RETAIN_ALL"
      ]
    },
    "CloudWatchLog":{
      "type":"structure",
      "members":{
        "logGroup":{
          "shape":"String",
          "documentation":"<p>The name of the CloudWatch log group.</p>"
        },
        "logStream":{
          "shape":"String",
          "documentation":"<p>The name of the CloudWatch log stream.</p>"
        }
      },
      "documentation":"<p>The Amazon CloudWatch Logs configuration for pentest job logging.</p>"
    },
    "CodeLocation":{
      "type":"structure",
      "required":["filePath"],
      "members":{
        "filePath":{
          "shape":"String",
          "documentation":"<p>The absolute path to the file containing the code location.</p>"
        },
        "lineStart":{
          "shape":"Integer",
          "documentation":"<p>The starting line number of the code location.</p>"
        },
        "lineEnd":{
          "shape":"Integer",
          "documentation":"<p>The ending line number of the code location.</p>"
        },
        "label":{
          "shape":"String",
          "documentation":"<p>The role of this location in the vulnerability, such as source or sink.</p>"
        }
      },
      "documentation":"<p>Represents a location in source code associated with a security finding.</p>"
    },
    "CodeLocationList":{
      "type":"list",
      "member":{"shape":"CodeLocation"},
      "documentation":"<p>List of code locations.</p>"
    },
    "CodeRemediationStrategy":{
      "type":"string",
      "documentation":"<p>Strategy for automated code remediation.</p>",
      "enum":[
        "AUTOMATIC",
        "DISABLED"
      ]
    },
    "CodeRemediationTask":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{
          "shape":"CodeRemediationTaskStatus",
          "documentation":"<p>The current status of the code remediation task.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>The reason for the current status of the code remediation task.</p>"
        },
        "taskDetails":{
          "shape":"CodeRemediationTaskDetailsList",
          "documentation":"<p>The list of details for the code remediation task, including repository name, code diff link, and pull request link.</p>"
        }
      },
      "documentation":"<p>Represents a code remediation task that was initiated to fix a security finding.</p>"
    },
    "CodeRemediationTaskDetails":{
      "type":"structure",
      "members":{
        "repoName":{
          "shape":"String",
          "documentation":"<p>The name of the repository where the remediation was applied.</p>"
        },
        "codeDiffLink":{
          "shape":"String",
          "documentation":"<p>The link to the code diff for the remediation.</p>"
        },
        "pullRequestLink":{
          "shape":"String",
          "documentation":"<p>The link to the pull request created for the remediation.</p>"
        }
      },
      "documentation":"<p>Contains details about a code remediation task, including links to the code diff and pull request.</p>"
    },
    "CodeRemediationTaskDetailsList":{
      "type":"list",
      "member":{"shape":"CodeRemediationTaskDetails"}
    },
    "CodeRemediationTaskStatus":{
      "type":"string",
      "documentation":"<p>Code remediation task status.</p>",
      "enum":[
        "IN_PROGRESS",
        "COMPLETED",
        "FAILED"
      ]
    },
    "CodeReview":{
      "type":"structure",
      "required":[
        "codeReviewId",
        "agentSpaceId",
        "title",
        "assets"
      ],
      "members":{
        "codeReviewId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the code review.</p>"
        },
        "agentSpaceId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the agent space that contains the code review.</p>"
        },
        "title":{
          "shape":"String",
          "documentation":"<p>The title of the code review.</p>"
        },
        "assets":{
          "shape":"Assets",
          "documentation":"<p>The assets included in the code review.</p>"
        },
        "serviceRole":{
          "shape":"ServiceRole",
          "documentation":"<p>The IAM service role used for the code review.</p>"
        },
        "logConfig":{
          "shape":"CloudWatchLog",
          "documentation":"<p>The CloudWatch Logs configuration for the code review.</p>"
        },
        "codeRemediationStrategy":{
          "shape":"CodeRemediationStrategy",
          "documentation":"<p>The code remediation strategy for the code review.</p>"
        },
        "validationMode":{
          "shape":"ValidationMode",
          "documentation":"<p>The validation mode for the code review. Valid values are SIMULATED and DISABLED.</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The date and time the code review was created, in UTC format.</p>"
        },
        "updatedAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The date and time the code review was last updated, in UTC format.</p>"
        }
      },
      "documentation":"<p>Represents a code review configuration that defines the parameters for automated security-focused code analysis, including target assets and logging configuration.</p>"
    },
    "CodeReviewIdList":{
      "type":"list",
      "member":{"shape":"String"},
      "documentation":"<p>List of code review IDs.</p>"
    },
    "CodeReviewJob":{
      "type":"structure",
      "members":{
        "codeReviewJobId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the code review job.</p>"
        },
        "codeReviewId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the code review associated with the job.</p>"
        },
        "title":{
          "shape":"String",
          "documentation":"<p>The title of the code review job.</p>"
        },
        "overview":{
          "shape":"String",
          "documentation":"<p>An overview of the code review job results.</p>"
        },
        "status":{
          "shape":"JobStatus",
          "documentation":"<p>The current status of the code review job.</p>"
        },
        "documents":{
          "shape":"DocumentList",
          "documentation":"<p>The list of documents providing context for the code review job.</p>"
        },
        "sourceCode":{
          "shape":"SourceCodeRepositoryList",
          "documentation":"<p>The list of source code repositories analyzed during the code review job.</p>"
        },
        "steps":{
          "shape":"StepList",
          "documentation":"<p>The list of steps in the code review job execution.</p>"
        },
        "executionContext":{
          "shape":"ExecutionContextList",
          "documentation":"<p>The execution context messages for the code review job.</p>"
        },
        "serviceRole":{
          "shape":"ServiceRole",
          "documentation":"<p>The IAM service role used for the code review job.</p>"
        },
        "logConfig":{
          "shape":"CloudWatchLog",
          "documentation":"<p>The CloudWatch Logs configuration for the code review job.</p>"
        },
        "errorInformation":{
          "shape":"ErrorInformation",
          "documentation":"<p>Error information if the code review job encountered an error.</p>"
        },
        "integratedRepositories":{
          "shape":"IntegratedRepositoryList",
          "documentation":"<p>The list of integrated repositories associated with the code review job.</p>"
        },
        "codeRemediationStrategy":{
          "shape":"CodeRemediationStrategy",
          "documentation":"<p>The code remediation strategy for the code review job.</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The date and time the code review job was created, in UTC format.</p>"
        },
        "updatedAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The date and time the code review job was last updated, in UTC format.</p>"
        }
      },
      "documentation":"<p>Represents a code review job, which is an execution instance of a code review. A code review job progresses through preflight, static analysis, and finalizing steps.</p>"
    },
    "CodeReviewJobIdList":{
      "type":"list",
      "member":{"shape":"String"},
      "documentation":"<p>List of code review job IDs.</p>"
    },
    "CodeReviewJobList":{
      "type":"list",
      "member":{"shape":"CodeReviewJob"},
      "documentation":"<p>List of code review jobs.</p>"
    },
    "CodeReviewJobSummary":{
      "type":"structure",
      "required":[
        "codeReviewJobId",
        "codeReviewId"
      ],
      "members":{
        "codeReviewJobId":{
          "shape":"String",
[...]
