{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-05-10",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"artifact",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AWS Artifact",
    "serviceId":"Artifact",
    "signatureVersion":"v4",
    "signingName":"artifact",
    "uid":"artifact-2018-05-10"
  },
  "operations":{
    "CreateComplianceInquiry":{
      "name":"CreateComplianceInquiry",
      "http":{
        "method":"POST",
        "requestUri":"/v1/compliance-inquiry/create",
        "responseCode":202
      },
      "input":{"shape":"CreateComplianceInquiryRequest"},
      "output":{"shape":"CreateComplianceInquiryResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Create a new compliance inquiry.</p>"
    },
    "ExportComplianceInquiry":{
      "name":"ExportComplianceInquiry",
      "http":{
        "method":"POST",
        "requestUri":"/v1/compliance-inquiry/export",
        "responseCode":200
      },
      "input":{"shape":"ExportComplianceInquiryRequest"},
      "output":{"shape":"ExportComplianceInquiryResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Export a compliance inquiry report.</p>"
    },
    "GetAccountSettings":{
      "name":"GetAccountSettings",
      "http":{
        "method":"GET",
        "requestUri":"/v1/account-settings/get",
        "responseCode":200
      },
      "input":{"shape":"GetAccountSettingsRequest"},
      "output":{"shape":"GetAccountSettingsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Get the account settings for Artifact.</p>",
      "readonly":true
    },
    "GetComplianceInquiryMetadata":{
      "name":"GetComplianceInquiryMetadata",
      "http":{
        "method":"GET",
        "requestUri":"/v1/compliance-inquiry/getMetadata",
        "responseCode":200
      },
      "input":{"shape":"GetComplianceInquiryMetadataRequest"},
      "output":{"shape":"GetComplianceInquiryMetadataResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Get the metadata for a single compliance inquiry.</p>",
      "readonly":true
    },
    "GetReport":{
      "name":"GetReport",
      "http":{
        "method":"GET",
        "requestUri":"/v1/report/get",
        "responseCode":200
      },
      "input":{"shape":"GetReportRequest"},
      "output":{"shape":"GetReportResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Get the content for a single report.</p>",
      "readonly":true
    },
    "GetReportMetadata":{
      "name":"GetReportMetadata",
      "http":{
        "method":"GET",
        "requestUri":"/v1/report/getMetadata",
        "responseCode":200
      },
      "input":{"shape":"GetReportMetadataRequest"},
      "output":{"shape":"GetReportMetadataResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Get the metadata for a single report.</p>",
      "readonly":true
    },
    "GetTermForReport":{
      "name":"GetTermForReport",
      "http":{
        "method":"GET",
        "requestUri":"/v1/report/getTermForReport",
        "responseCode":200
      },
      "input":{"shape":"GetTermForReportRequest"},
      "output":{"shape":"GetTermForReportResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Get the Term content associated with a single report.</p>",
      "readonly":true
    },
    "ListComplianceInquiries":{
      "name":"ListComplianceInquiries",
      "http":{
        "method":"GET",
        "requestUri":"/v1/compliance-inquiry/list",
        "responseCode":200
      },
      "input":{"shape":"ListComplianceInquiriesRequest"},
      "output":{"shape":"ListComplianceInquiriesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>List available compliance inquiries.</p>",
      "readonly":true
    },
    "ListComplianceInquiryQueries":{
      "name":"ListComplianceInquiryQueries",
      "http":{
        "method":"GET",
        "requestUri":"/v1/compliance-inquiry/listQueries",
        "responseCode":200
      },
      "input":{"shape":"ListComplianceInquiryQueriesRequest"},
      "output":{"shape":"ListComplianceInquiryQueriesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>List queries within a compliance inquiry.</p>",
      "readonly":true
    },
    "ListCustomerAgreements":{
      "name":"ListCustomerAgreements",
      "http":{
        "method":"GET",
        "requestUri":"/v1/customer-agreement/list",
        "responseCode":200
      },
      "input":{"shape":"ListCustomerAgreementsRequest"},
      "output":{"shape":"ListCustomerAgreementsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>List active customer-agreements applicable to calling identity.</p>",
      "readonly":true
    },
    "ListReportVersions":{
      "name":"ListReportVersions",
      "http":{
        "method":"GET",
        "requestUri":"/v1/report/listVersions",
        "responseCode":200
      },
      "input":{"shape":"ListReportVersionsRequest"},
      "output":{"shape":"ListReportVersionsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>List available report versions for a given report.</p>",
      "readonly":true
    },
    "ListReports":{
      "name":"ListReports",
      "http":{
        "method":"GET",
        "requestUri":"/v1/report/list",
        "responseCode":200
      },
      "input":{"shape":"ListReportsRequest"},
      "output":{"shape":"ListReportsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>List available reports.</p>",
      "readonly":true
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>List tags for a resource.</p>",
      "readonly":true
    },
    "PutAccountSettings":{
      "name":"PutAccountSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/account-settings/put",
        "responseCode":200
      },
      "input":{"shape":"PutAccountSettingsRequest"},
      "output":{"shape":"PutAccountSettingsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Put the account settings for Artifact.</p>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Add tags to a resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Remove tags from a resource.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AcceptanceType":{
      "type":"string",
      "enum":[
        "PASSTHROUGH",
        "EXPLICIT"
      ]
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>User does not have sufficient access to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccountSettings":{
      "type":"structure",
      "members":{
        "notificationSubscriptionStatus":{
          "shape":"NotificationSubscriptionStatus",
          "documentation":"<p>Notification subscription status of the customer.</p>"
        }
      },
      "documentation":"<p>Account settings for the customer.</p>"
    },
    "AgreementTerms":{
      "type":"list",
      "member":{"shape":"LongStringAttribute"},
      "max":10,
      "min":0
    },
    "AgreementType":{
      "type":"string",
      "enum":[
        "CUSTOM",
        "DEFAULT",
        "MODIFIED"
      ]
    },
    "Blob":{"type":"blob"},
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "Citation":{
      "type":"structure",
      "members":{
        "sourceLabel":{
          "shape":"ShortStringAttribute",
          "documentation":"<p>Label identifying the compliance source.</p>"
        },
        "sourceContent":{
          "shape":"LongStringAttribute",
          "documentation":"<p>Content text from the compliance source.</p>"
        },
        "sourceLink":{
          "shape":"LongStringAttribute",
          "documentation":"<p>Link to the compliance source.</p>"
        }
      },
      "documentation":"<p>Citation information for AI-generated responses.</p>"
    },
    "CitationList":{
      "type":"list",
      "member":{"shape":"Citation"}
    },
    "ConflictException":{
      "type":"structure",
      "required":[
        "message",
        "resourceId",
        "resourceType"
      ],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{
          "shape":"String",
          "documentation":"<p>Identifier of the affected resource.</p>"
        },
        "resourceType":{
          "shape":"String",
          "documentation":"<p>Type of the affected resource.</p>"
        }
      },
      "documentation":"<p>Request to create/modify content would result in a conflict.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CreateComplianceInquiryRequest":{
      "type":"structure",
      "required":[
        "name",
        "inquiryContent"
      ],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>Title of the inquiry.</p>"
        },
        "inquiryContent":{
          "shape":"InquiryContent",
          "documentation":"<p>Content for creating a compliance inquiry - either a single query or file content.</p>"
        },
        "clientToken":{
          "shape":"IdempotentClientToken",
          "documentation":"<p>Idempotency token for the request.</p>",
          "idempotencyToken":true
        },
        "supportMode":{
          "shape":"InquirySupportMode",
          "documentation":"<p>Support mode for inquiry processing. Only supported for file upload mode. Defaults to AI_ONLY if not specified.</p>"
        },
        "tags":{
          "shape":"TagsMap",
          "documentation":"<p>Tags to associate with the compliance inquiry resource.</p>"
        }
      }
    },
    "CreateComplianceInquiryResponse":{
      "type":"structure",
      "members":{
        "complianceInquirySummary":{
          "shape":"InquirySummary",
          "documentation":"<p>Summary information about the created compliance inquiry.</p>"
        },
        "tags":{
          "shape":"TagsMap",
          "documentation":"<p>Tags associated with the compliance inquiry resource.</p>"
        }
      }
    },
    "CustomerAgreementIdAttribute":{
      "type":"string",
      "pattern":"customer-agreement-[a-zA-Z0-9]{16}"
    },
    "CustomerAgreementList":{
      "type":"list",
      "member":{"shape":"CustomerAgreementSummary"}
    },
    "CustomerAgreementState":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "CUSTOMER_TERMINATED",
        "AWS_TERMINATED"
      ]
    },
    "CustomerAgreementSummary":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"LongStringAttribute",
          "documentation":"<p>Name of the customer-agreement resource.</p>"
        },
        "arn":{
          "shape":"LongStringAttribute",
          "documentation":"<p>ARN of the customer-agreement resource.</p>"
        },
        "id":{
          "shape":"CustomerAgreementIdAttribute",
          "documentation":"<p>Identifier of the customer-agreement resource.</p>"
        },
        "agreementArn":{
          "shape":"LongStringAttribute",
          "documentation":"<p>ARN of the agreement resource the customer-agreement resource represents.</p>"
        },
        "awsAccountId":{
          "shape":"ShortStringAttribute",
          "documentation":"<p>AWS account Id that owns the resource.</p>"
        },
        "organizationArn":{
          "shape":"LongStringAttribute",
          "documentation":"<p>ARN of the organization that owns the resource.</p>"
        },
        "effectiveStart":{
          "shape":"TimestampAttribute",
          "documentation":"<p>Timestamp indicating when the agreement became effective.</p>"
        },
        "effectiveEnd":{
          "shape":"TimestampAttribute",
          "documentation":"<p>Timestamp indicating when the agreement was terminated.</p>"
        },
        "state":{
          "shape":"CustomerAgreementState",
          "documentation":"<p>State of the resource.</p>"
        },
        "description":{
          "shape":"LongStringAttribute",
          "documentation":"<p>Description of the resource.</p>"
        },
        "acceptanceTerms":{
          "shape":"AgreementTerms",
          "documentation":"<p>Terms required to accept the agreement resource.</p>"
        },
        "terminateTerms":{
          "shape":"AgreementTerms",
          "documentation":"<p>Terms required to terminate the customer-agreement resource.</p>"
        },
        "type":{
          "shape":"AgreementType",
          "documentation":"<p>Type of the customer-agreement resource.</p>"
        }
      },
      "documentation":"<p>Summary for customer-agreement resource.</p>"
    },
    "ExportComplianceInquiryRequest":{
      "type":"structure",
      "required":["complianceInquiryId"],
      "members":{
        "complianceInquiryId":{
          "shape":"InquiryId",
          "documentation":"<p>Unique resource ID for the compliance inquiry.</p>"
        },
        "queryIdentifiers":{
          "shape":"QueryIdentifiersList",
          "documentation":"<p>List of query identifiers to include in the export.</p>"
        },
        "includeCitations":{
          "shape":"Boolean",
          "documentation":"<p>When true, include citations in the exported document.</p>"
        }
      }
    },
    "ExportComplianceInquiryResponse":{
      "type":"structure",
      "members":{
        "documentPresignedUrl":{
          "shape":"PresignedUrl",
          "documentation":"<p>Presigned S3 URL to access the exported compliance inquiry report.</p>"
        },
        "tags":{
          "shape":"TagsMap",
          "documentation":"<p>Tags associated with the compliance inquiry resource.</p>"
        }
      }
    },
    "GetAccountSettingsRequest":{
      "type":"structure",
      "members":{}
    },
    "GetAccountSettingsResponse":{
      "type":"structure",
      "members":{
        "accountSettings":{"shape":"AccountSettings"}
      }
    },
    "GetComplianceInquiryMetadataRequest":{
      "type":"structure",
      "required":["complianceInquiryId"],
      "members":{
        "complianceInquiryId":{
          "shape":"InquiryId",
          "documentation":"<p>Unique resource ID for the compliance inquiry.</p>",
          "location":"querystring",
          "locationName":"complianceInquiryId"
        }
      }
    },
    "GetComplianceInquiryMetadataResponse":{
      "type":"structure",
      "members":{
        "complianceInquiryDetail":{
          "shape":"InquiryDetail",
          "documentation":"<p>Detailed information about the compliance inquiry.</p>"
        },
        "tags":{
          "shape":"TagsMap",
          "documentation":"<p>Tags associated with the compliance inquiry resource.</p>"
        }
      }
    },
    "GetReportMetadataRequest":{
      "type":"structure",
      "required":["reportId"],
      "members":{
        "reportId":{
          "shape":"ReportId",
          "documentation":"<p>Unique resource ID for the report resource.</p>",
          "location":"querystring",
          "locationName":"reportId"
        },
        "reportVersion":{
          "shape":"VersionAttribute",
          "documentation":"<p>Version for the report resource.</p>",
          "location":"querystring",
          "locationName":"reportVersion"
        }
      }
    },
    "GetReportMetadataResponse":{
      "type":"structure",
      "members":{
        "reportDetails":{
          "shape":"ReportDetail",
          "documentation":"<p>Report resource detail.</p>"
        }
      }
    },
    "GetReportRequest":{
      "type":"structure",
      "required":[
        "reportId",
        "termToken"
      ],
      "members":{
        "reportId":{
          "shape":"ReportId",
          "documentation":"<p>Unique resource ID for the report resource.</p>",
          "location":"querystring",
          "locationName":"reportId"
        },
        "reportVersion":{
          "shape":"VersionAttribute",
          "documentation":"<p>Version for the report resource.</p>",
          "location":"querystring",
          "locationName":"reportVersion"
        },
        "termToken":{
          "shape":"ShortStringAttribute",
          "documentation":"<p>Unique download token provided by GetTermForReport API.</p>",
          "location":"querystring",
          "locationName":"termToken"
        }
      }
    },
    "GetReportResponse":{
      "type":"structure",
      "members":{
        "documentPresignedUrl":{
          "shape":"GetReportResponseDocumentPresignedUrlString",
          "documentation":"<p>Presigned S3 url to access the report content.</p>"
        }
      }
    },
    "GetReportResponseDocumentPresignedUrlString":{
      "type":"string",
      "max":10240,
      "min":1
    },
    "GetTermForReportRequest":{
      "type":"structure",
      "required":["reportId"],
      "members":{
        "reportId":{
          "shape":"ReportId",
          "documentation":"<p>Unique resource ID for the report resource.</p>",
          "location":"querystring",
          "locationName":"reportId"
        },
        "reportVersion":{
          "shape":"VersionAttribute",
          "documentation":"<p>Version for the report resource.</p>",
          "location":"querystring",
          "locationName":"reportVersion"
        }
      }
    },
    "GetTermForReportResponse":{
      "type":"structure",
      "members":{
        "documentPresignedUrl":{
          "shape":"GetTermForReportResponseDocumentPresignedUrlString",
          "documentation":"<p>Presigned S3 url to access the term content.</p>"
        },
        "termToken":{
          "shape":"String",
          "documentation":"<p>Unique token representing this request event.</p>"
        }
      }
    },
    "GetTermForReportResponseDocumentPresignedUrlString":{
      "type":"string",
      "max":10240,
      "min":1
    },
    "IdempotentClientToken":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\w\\-]+"
    },
    "InputSource":{
      "type":"string",
      "enum":[
        "TEXT",
        "FILE"
      ]
    },
    "InquiriesList":{
      "type":"list",
      "member":{"shape":"InquirySummary"}
    },
    "InquiryContent":{
      "type":"structure",
      "members":{
        "query":{
          "shape":"LongStringAttribute",
          "documentation":"<p>Single text query for AI-generated answer.</p>"
        },
        "fileContent":{
          "shape":"InquiryFileContent",
          "documentation":"<p>File content with multiple questions.</p>"
        }
      },
      "documentation":"<p>Content for creating a compliance inquiry - either a single query or file content.</p>",
      "sensitive":true,
      "union":true
    },
    "InquiryDetail":{
      "type":"structure",
      "required":[
        "arn",
        "name",
        "id",
        "status",
        "statusMessage",
        "inputSource",
        "createdAt"
      ],
      "members":{
        "arn":{
          "shape":"String",
          "documentation":"<p>ARN of the compliance inquiry resource.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>Title of the inquiry.</p>"
        },
        "id":{
          "shape":"InquiryId",
          "documentation":"<p>Unique resource ID for the compliance inquiry.</p>"
        },
        "status":{
          "shape":"InquiryStatus",
          "documentation":"<p>Current processing status of the inquiry.</p>"
        },
        "statusMessage":{
          "shape":"InquiryStatusMessage",
          "documentation":"<p>Status message providing additional context.</p>"
        },
        "inputSource":{
          "shape":"InputSource",
          "documentation":"<p>Type of inquiry content (text or file).</p>"
        },
        "createdAt":{
          "shape":"TimestampAttribute",
          "documentation":"<p>Timestamp indicating when the resource was created.</p>"
        },
        "updatedAt":{
          "shape":"TimestampAttribute",
          "documentation":"<p>Timestamp indicating when the resource was last modified.</p>"
        },
        "supportMode":{
          "shape":"InquirySupportMode",
          "documentation":"<p>Support mode for this inquiry. AI_ONLY provides AI-generated responses. FULL_SUPPORT includes human expert review.</p>"
        }
      },
      "documentation":"<p>Detailed information about a compliance inquiry.</p>"
    },
    "InquiryFileContent":{
      "type":"structure",
      "required":["content"],
      "members":{
        "fileSections":{
          "shape":"InquiryFileContentFileSectionsList",
          "documentation":"<p>List of file sections/sheets to process.</p>"
        },
        "content":{
          "shape":"Blob",
          "documentation":"<p>Binary content of the uploaded file.</p>"
        }
      },
      "documentation":"<p>File content structure for compliance inquiry uploads.</p>"
    },
    "InquiryFileContentFileSectionsList":{
      "type":"list",
      "member":{"shape":"ShortStringAttribute"},
      "max":30,
      "min":0
    },
    "InquiryId":{
      "type":"string",
      "pattern":"compliance-inquiry-[a-zA-Z0-9]{16}"
    },
    "InquiryStatus":{
      "type":"string",
      "enum":[
        "PROCESSING",
        "HUMAN_REVIEW",
        "COMPLETED",
        "FAILED"
      ]
    },
    "InquiryStatusMessage":{
      "type":"string",
      "enum":[
        "Compliance inquiry processing is complete.",
        "Malware was detected on the file. Provide a new file and try again.",
        "Compliance inquiry processing is in-progress.",
        "An internal error occurred while processing the inquiry. Try again at a later time.",
        "Human review is in progress.",
        "Compliance inquiry processing is complete. One or more queries encountered errors during processing."
      ]
    },
    "InquirySummary":{
      "type":"structure",
      "required":[
        "arn",
        "name",
        "id",
        "status",
        "statusMessage",
        "inputSource",
        "createdAt"
      ],
      "members":{
        "arn":{
          "shape":"String",
          "documentation":"<p>ARN of the compliance inquiry resource.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>Title of the inquiry.</p>"
        },
        "id":{
          "shape":"InquiryId",
          "documentation":"<p>Unique resource ID for the compliance inquiry.</p>"
        },
        "status":{
          "shape":"InquiryStatus",
          "documentation":"<p>Current processing status of the inquiry.</p>"
        },
        "statusMessage":{
          "shape":"InquiryStatusMessage",
          "documentation":"<p>Status message providing additional context.</p>"
        },
        "inputSource":{
          "shape":"InputSource",
          "documentation":"<p>Type of inquiry content (text or file).</p>"
        },
        "createdAt":{
          "shape":"TimestampAttribute",
          "documentation":"<p>Timestamp indicating when the resource was created.</p>"
        }
      },
      "documentation":"<p>Summary information about a compliance inquiry.</p>"
    },
    "InquirySupportMode":{
      "type":"string",
      "enum":[
        "AI_ONLY",
        "FULL_SUPPORT"
      ]
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "retryAfterSeconds":{
          "shape":"Integer",
          "documentation":"<p>Number of seconds in which the caller can retry the request.</p>",
          "location":"header",
          "locationName":"Retry-After"
        }
      },
      "documentation":"<p>An unknown server exception has occurred.</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "ListComplianceInquiriesRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"MaxResultsAttribute",
          "documentation":"<p>Maximum number of resources to return in the paginated response.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextTokenAttribute",
          "documentation":"<p>Pagination token to request the next page of resources.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListComplianceInquiriesResponse":{
      "type":"structure",
      "members":{
        "complianceInquiries":{
          "shape":"InquiriesList",
          "documentation":"<p>List of compliance inquiry resources.</p>"
        },
        "nextToken":{
          "shape":"NextTokenAttribute",
          "documentation":"<p>Pagination token to request the next page of resources.</p>"
        }
      }
    },
    "ListComplianceInquiryQueriesRequest":{
      "type":"structure",
      "required":["complianceInquiryId"],
      "members":{
        "complianceInquiryId":{
          "shape":"InquiryId",
          "documentation":"<p>Unique resource ID for the compliance inquiry.</p>",
          "location":"querystring",
          "locationName":"complianceInquiryId"
        },
        "maxResults":{
          "shape":"MaxResultsAttribute",
          "documentation":"<p>Maximum number of resources to return in the paginated response.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextTokenAttribute",
          "documentation":"<p>Pagination token to request the next page of resources.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListComplianceInquiryQueriesResponse":{
      "type":"structure",
      "members":{
        "queries":{
          "shape":"QueriesList",
          "documentation":"<p>List of compliance query summaries.</p>"
        },
        "nextToken":{
          "shape":"NextTokenAttribute",
          "documentation":"<p>Pagination token to request the next page of resources.</p>"
        }
      }
    },
    "ListCustomerAgreementsRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"MaxResultsAttribute",
          "documentation":"<p>Maximum number of resources to return in the paginated response.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextTokenAttribute",
          "documentation":"<p>Pagination token to request the next page of resources.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListCustomerAgreementsResponse":{
      "type":"structure",
      "required":["customerAgreements"],
      "members":{
        "customerAgreements":{
          "shape":"CustomerAgreementList",
          "documentation":"<p>List of customer-agreement resources.</p>"
        },
        "nextToken":{
          "shape":"NextTokenAttribute",
          "documentation":"<p>Pagination token to request the next page of resources.</p>"
        }
      }
    },
    "ListReportVersionsRequest":{
      "type":"structure",
      "required":["reportId"],
      "members":{
        "reportId":{
          "shape":"ReportId",
          "documentation":"<p>Unique resource ID for the report resource.</p>",
          "location":"querystring",
          "locationName":"reportId"
        },
        "maxResults":{
          "shape":"MaxResultsAttribute",
          "documentation":"<p>Maximum number of resources to return in the paginated response.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextTokenAttribute",
          "documentation":"<p>Pagination token to request the next page of resources.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListReportVersionsResponse":{
      "type":"structure",
      "required":["reports"],
      "members":{
        "reports":{
          "shape":"ReportsList",
          "documentation":"<p>List of report resources.</p>"
        },
        "nextToken":{
          "shape":"NextTokenAttribute",
          "documentation":"<p>Pagination token to request the next page of resources.</p>"
        }
      }
    },
    "ListReportsRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"MaxResultsAttribute",
          "documentation":"<p>Maximum number of resources to return in the paginated response.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextTokenAttribute",
          "documentation":"<p>Pagination token to request the next page of resources.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListReportsResponse":{
      "type":"structure",
      "members":{
        "reports":{
          "shape":"ReportsList",
          "documentation":"<p>List of report resources.</p>"
        },
        "nextToken":{
          "shape":"NextTokenAttribute",
          "documentation":"<p>Pagination token to request the next page of resources.</p>"
        }
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["resourceArn"],
      "members":{
        "resourceArn":{
          "shape":"LongStringAttribute",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource.</p>",
          "location":"uri",
          "locationName":"resourceArn"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "tags":{
          "shape":"TagsMap",
          "documentation":"<p>Tags associated with the resource.</p>"
        }
      }
    },
    "LongStringAttribute":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"[^<>]*"
    },
    "MaxResultsAttribute":{
      "type":"integer",
      "box":true,
      "max":300,
      "min":1
    },
    "NextTokenAttribute":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "NotificationSubscriptionStatus":{
      "type":"string",
      "enum":[
        "SUBSCRIBED",
        "NOT_SUBSCRIBED"
      ]
    },
    "PresignedUrl":{
      "type":"string",
      "documentation":"<p>A pre-signed URL for accessing content.</p>",
      "sensitive":true
    },
    "PublishedState":{
      "type":"string",
      "enum":[
        "PUBLISHED",
        "UNPUBLISHED"
      ]
    },
    "PutAccountSettingsRequest":{
      "type":"structure",
      "members":{
        "notificationSubscriptionStatus":{
          "shape":"NotificationSubscriptionStatus",
          "documentation":"<p>Desired notification subscription status.</p>"
        }
      }
    },
    "PutAccountSettingsResponse":{
      "type":"structure",
      "members":{
        "accountSettings":{"shape":"AccountSettings"}
      }
    },
    "QueriesList":{
      "type":"list",
      "member":{"shape":"QuerySummary"}
    },
    "QueryIdentifiersList":{
      "type":"list",
      "member":{"shape":"Integer"}
    },
    "QueryStatus":{
      "type":"string",
      "enum":[
        "PROCESSING",
        "COMPLETED",
        "FAILED"
      ]
    },
    "QueryStatusMessage":{
      "type":"string",
      "enum":[
        "Query processing is complete.",
        "Query processing is in-progress.",
        "An internal error occurred while processing the query. Try again at a later time.",
        "Query is pending human review.",
        "Query contains restricted or unsupported content."
      ]
    },
    "QuerySummary":{
      "type":"structure",
      "required":[
        "queryIdentifier",
        "query",
        "status",
        "statusMessage",
        "createdAt"
      ],
      "members":{
        "queryIdentifier":{
          "shape":"Integer",
          "documentation":"<p>Sequential identifier of the query within the inquiry.</p>"
        },
        "query":{
          "shape":"LongStringAttribute",
          "documentation":"<p>The actual query text.</p>"
        },
        "response":{
          "shape":"LongStringAttribute",
          "documentation":"<p>Generated response to the query.</p>"
        },
        "reviewType":{
          "shape":"ReviewType",
          "documentation":"<p>Type of review for the response.</p>"
        },
        "citations":{
          "shape":"CitationList",
          "documentation":"<p>Supporting citations for the response.</p>"
        },
        "status":{
          "shape":"QueryStatus",
          "documentation":"<p>Current processing status of the query.</p>"
        },
        "statusMessage":{
          "shape":"QueryStatusMessage",
          "documentation":"<p>Descriptive status message.</p>"
        },
        "createdAt":{
          "shape":"TimestampAttribute",
          "documentation":"<p>Timestamp when the query was created.</p>"
        },
        "updatedResponseVersions":{
          "shape":"ResponseVersionList",
          "documentation":"<p>Ordered list of response version history entries, oldest first.</p>"
        }
      },
      "documentation":"<p>Summary information about a single query within a compliance inquiry.</p>"
    },
    "ReportDetail":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"ReportId",
          "documentation":"<p>Unique resource ID for the report resource.</p>"
        },
        "name":{
          "shape":"ShortStringAttribute",
          "documentation":"<p>Name for the report resource.</p>"
        },
        "description":{
          "shape":"LongStringAttribute",
          "documentation":"<p>Description for the report resource.</p>"
        },
        "periodStart":{
          "shape":"TimestampAttribute",
          "documentation":"<p>Timestamp indicating the report resource effective start.</p>"
        },
        "periodEnd":{
          "shape":"TimestampAttribute",
          "documentation":"<p>Timestamp indicating the report resource effective end.</p>"
        },
        "createdAt":{
          "shape":"TimestampAttribute",
          "documentation":"<p>Timestamp indicating when the report resource was created.</p>"
        },
        "lastModifiedAt":{
          "shape":"TimestampAttribute",
          "documentation":"<p>Timestamp indicating when the report resource was last modified.</p>"
        },
        "deletedAt":{
          "shape":"TimestampAttribute",
          "documentation":"<p>Timestamp indicating when the report resource was deleted.</p>"
        },
        "state":{
          "shape":"PublishedState",
          "documentation":"<p>Current state of the report resource</p>"
        },
        "arn":{
          "shape":"LongStringAttribute",
          "documentation":"<p>ARN for the report resource.</p>"
        },
        "series":{
          "shape":"ShortStringAttribute",
          "documentation":"<p>Series for the report resource.</p>"
        },
        "category":{
          "shape":"ShortStringAttribute",
          "documentation":"<p>Category for the report resource.</p>"
        },
        "companyName":{
          "shape":"ShortStringAttribute",
          "documentation":"<p>Associated company name for the report resource.</p>"
        },
        "productName":{
          "shape":"ShortStringAttribute",
          "documentation":"<p>Associated product name for the report resource.</p>"
        },
        "termArn":{
          "shape":"LongStringAttribute",
          "documentation":"<p>Unique resource ARN for term resource.</p>"
        },
        "version":{
          "shape":"VersionAttribute",
          "documentation":"<p>Version for the report resource.</p>"
        },
        "acceptanceType":{
          "shape":"AcceptanceType",
          "documentation":"<p>Acceptance type for report.</p>"
        },
        "sequenceNumber":{
          "shape":"SequenceNumberAttribute",
          "documentation":"<p>Sequence number to enforce optimistic locking.</p>"
        },
        "uploadState":{
          "shape":"UploadState",
          "documentation":"<p>The current state of the document upload.</p>"
        },
        "statusMessage":{
          "shape":"StatusMessage",
          "documentation":"<p>The message associated with the current upload state.</p>"
        }
      },
      "documentation":"<p>Full detail for report resource metadata.</p>"
    },
    "ReportId":{
      "type":"string",
      "pattern":"report-[a-zA-Z0-9]{16}"
    },
    "ReportSummary":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"ReportId",
          "documentation":"<p>Unique resource ID for the report resource.</p>"
        },
        "name":{
          "shape":"ShortStringAttribute",
          "documentation":"<p>Name for the report resource.</p>"
        },
        "state":{
          "shape":"PublishedState",
          "documentation":"<p>Current state of the report resource.</p>"
        },
        "arn":{
          "shape":"LongStringAttribute",
          "documentation":"<p>ARN for the report resource.</p>"
        },
        "version":{
          "shape":"VersionAttribute",
          "documentation":"<p>Version for the report resource.</p>"
        },
        "uploadState":{
          "shape":"UploadState",
          "documentation":"<p>The current state of the document upload.</p>"
        },
        "description":{
          "shape":"LongStringAttribute",
          "documentation":"<p>Description for the report resource.</p>"
        },
        "periodStart":{
          "shape":"TimestampAttribute",
          "documentation":"<p>Timestamp indicating the report resource effective start.</p>"
        },
        "periodEnd":{
          "shape":"TimestampAttribute",
          "documentation":"<p>Timestamp indicating the report resource effective end.</p>"
        },
        "series":{
          "shape":"ShortStringAttribute",
          "documentation":"<p>Series for the report resource.</p>"
        },
        "category":{
          "shape":"ShortStringAttribute",
          "documentation":"<p>Category for the report resource.</p>"
        },
        "companyName":{
          "shape":"ShortStringAttribute",
          "documentation":"<p>Associated company name for the report resource.</p>"
        },
        "productName":{
          "shape":"ShortStringAttribute",
          "documentation":"<p>Associated product name for the report resource.</p>"
        },
        "statusMessage":{
          "shape":"StatusMessage",
          "documentation":"<p>The message associated with the current upload state.</p>"
        },
        "acceptanceType":{
          "shape":"AcceptanceType",
          "documentation":"<p>Acceptance type for report.</p>"
        }
      },
      "documentation":"<p>Summary for report resource.</p>"
    },
    "ReportsList":{
      "type":"list",
      "member":{"shape":"ReportSummary"}
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":[
        "message",
        "resourceId",
        "resourceType"
      ],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{
          "shape":"String",
          "documentation":"<p>Identifier of the affected resource.</p>"
        },
        "resourceType":{
          "shape":"String",
          "documentation":"<p>Type of the affected resource.</p>"
        }
      },
      "documentation":"<p>Request references a resource which does not exist.</p>",
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ResponseVersion":{
      "type":"structure",
      "required":[
        "responseText",
        "timestamp"
      ],
      "members":{
        "responseText":{
          "shape":"LongStringAttribute",
          "documentation":"<p>The response text for this version.</p>"
        },
        "timestamp":{
          "shape":"TimestampAttribute",
          "documentation":"<p>ISO 8601 timestamp of when this edit was made.</p>"
        }
      },
      "documentation":"<p>A versioned snapshot of a response edit.</p>"
    },
    "ResponseVersionList":{
      "type":"list",
      "member":{"shape":"ResponseVersion"}
    },
    "ReviewType":{
      "type":"string",
      "enum":[
        "HUMAN",
        "AI"
      ]
    },
    "SequenceNumberAttribute":{
      "type":"long",
      "box":true,
      "min":1
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "required":[
        "message",
        "resourceId",
        "resourceType",
        "serviceCode",
        "quotaCode"
      ],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{
          "shape":"String",
          "documentation":"<p>Identifier of the affected resource.</p>"
        },
        "resourceType":{
          "shape":"String",
          "documentation":"<p>Type of the affected resource.</p>"
        },
        "serviceCode":{
          "shape":"String",
          "documentation":"<p>Code for the affected service.</p>"
        },
        "quotaCode":{
          "shape":"String",
          "documentation":"<p>Code for the affected quota.</p>"
        }
      },
      "documentation":"<p>Request would cause a service quota to be exceeded.</p>",
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "ShortStringAttribute":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9_\\-\\s]*"
    },
    "StatusMessage":{"type":"string"},
    "String":{"type":"string"},
    "TagKey":{
      "type":"string",
      "documentation":"<p>A tag key.</p>",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9\\s_.:/=+\\-@]*"
    },
    "TagKeys":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "documentation":"<p>A list of tag keys.</p>",
      "max":50,
      "min":1
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tags"
      ],
      "members":{
        "resourceArn":{
          "shape":"LongStringAttribute",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource.</p>",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tags":{
          "shape":"TagsMap",
          "documentation":"<p>Tags to add to the resource.</p>"
        }
      }
    },
    "TagResourceResponse":{
      "type":"structure",
      "members":{}
    },
    "TagValue":{
      "type":"string",
      "documentation":"<p>A tag value.</p>",
      "max":256,
      "min":0,
      "pattern":"[a-zA-Z0-9\\s_.:/=+\\-@]*"
    },
    "TagsMap":{
      "type":"map",
      "key":{"shape":"TagKey"},
      "value":{"shape":"TagValue"},
      "documentation":"<p>A map of tag keys to tag values.</p>",
      "max":50,
      "min":0
    },
    "ThrottlingException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "serviceCode":{
          "shape":"String",
          "documentation":"<p>Code for the affected service.</p>"
        },
        "quotaCode":{
          "shape":"String",
          "documentation":"<p>Code for the affected quota.</p>"
        },
        "retryAfterSeconds":{
          "shape":"Integer",
          "documentation":"<p>Number of seconds in which the caller can retry the request.</p>",
          "location":"header",
          "locationName":"Retry-After"
        }
      },
      "documentation":"<p>Request was denied due to request throttling.</p>",
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true,
      "retryable":{"throttling":true}
    },
    "TimestampAttribute":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "resourceArn",
        "tagKeys"
      ],
      "members":{
        "resourceArn":{
          "shape":"LongStringAttribute",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource.</p>",
          "location":"uri",
          "locationName":"resourceArn"
        },
        "tagKeys":{
          "shape":"TagKeys",
          "documentation":"<p>Tag keys to remove from the resource.</p>",
          "location":"querystring",
          "locationName":"tagKeys"
        }
      }
    },
    "UntagResourceResponse":{
      "type":"structure",
      "members":{}
    },
    "UploadState":{
      "type":"string",
      "enum":[
        "PROCESSING",
        "COMPLETE",
        "FAILED",
        "FAULT"
      ]
    },
    "ValidationException":{
      "type":"structure",
      "required":[
        "message",
        "reason"
      ],
      "members":{
        "message":{"shape":"String"},
        "reason":{
          "shape":"ValidationExceptionReason",
          "documentation":"<p>Reason the request failed validation.</p>"
        },
        "fieldList":{
          "shape":"ValidationExceptionFieldList",
          "documentation":"<p>The field that caused the error, if applicable.</p>"
        }
      },
      "documentation":"<p>Request fails to satisfy the constraints specified by an AWS service.</p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ValidationExceptionField":{
      "type":"structure",
      "required":[
        "name",
        "message"
      ],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>Name of validation exception.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>Message describing why the field failed validation.</p>"
        }
      },
      "documentation":"<p>Validation exception message and name.</p>"
    },
    "ValidationExceptionFieldList":{
      "type":"list",
      "member":{"shape":"ValidationExceptionField"}
    },
    "ValidationExceptionReason":{
      "type":"string",
      "enum":[
        "unknownOperation",
        "cannotParse",
        "fieldValidationFailed",
        "invalidToken",
        "other"
      ]
    },
    "VersionAttribute":{
      "type":"long",
      "box":true,
      "min":1
    }
  },
  "documentation":"<p>This reference provides descriptions of the low-level AWS Artifact Service API.</p>"
}
