{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2019-12-02",
    "endpointPrefix":"route53-recovery-cluster",
    "jsonVersion":"1.0",
    "protocol":"json",
    "serviceFullName":"Route53 Recovery Cluster",
    "serviceId":"Route53 Recovery Cluster",
    "signatureVersion":"v4",
    "signingName":"route53-recovery-cluster",
    "targetPrefix":"ToggleCustomerAPI",
    "uid":"route53-recovery-cluster-2019-12-02"
  },
  "operations":{
    "GetRoutingControlState":{
      "name":"GetRoutingControlState",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRoutingControlStateRequest"},
      "output":{"shape":"GetRoutingControlStateResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"EndpointTemporarilyUnavailableException"}
      ],
      "documentation":"<p>Get the state for a routing control. A routing control is a simple on/off switch that you can use to route traffic to cells. When the state is On, traffic flows to a cell. When it's Off, traffic does not flow. </p> <p>Before you can create a routing control, you must first create a cluster to host the control in a control panel. For more information, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.create.html\"> Create routing control structures</a> in the Amazon Route 53 Application Recovery Controller Developer Guide. Then you access one of the endpoints for the cluster to get or update the routing control state to redirect traffic. </p> <p> <i>You must specify Regional endpoints when you work with API cluster operations to get or update routing control states in Application Recovery Controller.</i> </p> <p>To see a code example for getting a routing control state, including accessing Regional cluster endpoints in sequence, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/service_code_examples_actions.html\">API examples</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p> <p>Learn more about working with routing controls in the following topics in the Amazon Route 53 Application Recovery Controller Developer Guide:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.update.html\"> Viewing and updating routing control states</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.html\">Working with routing controls overall</a> </p> </li> </ul>"
    },
    "UpdateRoutingControlState":{
      "name":"UpdateRoutingControlState",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateRoutingControlStateRequest"},
      "output":{"shape":"UpdateRoutingControlStateResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"EndpointTemporarilyUnavailableException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Set the state of the routing control to reroute traffic. You can set the value to be On or Off. When the state is On, traffic flows to a cell. When it's Off, traffic does not flow.</p> <p>With Application Recovery Controller, you can add safety rules for routing controls, which are safeguards for routing control state updates that help prevent unexpected outcomes, like fail open traffic routing. However, there are scenarios when you might want to bypass the routing control safeguards that are enforced with safety rules that you've configured. For example, you might want to fail over quickly for disaster recovery, and one or more safety rules might be unexpectedly preventing you from updating a routing control state to reroute traffic. In a \"break glass\" scenario like this, you can override one or more safety rules to change a routing control state and fail over your application.</p> <p>The <code>SafetyRulesToOverride</code> property enables you override one or more safety rules and update routing control states. For more information, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.override-safety-rule.html\"> Override safety rules to reroute traffic</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p> <p> <i>You must specify Regional endpoints when you work with API cluster operations to get or update routing control states in Application Recovery Controller.</i> </p> <p>To see a code example for getting a routing control state, including accessing Regional cluster endpoints in sequence, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/service_code_examples_actions.html\">API examples</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.update.html\"> Viewing and updating routing control states</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.html\">Working with routing controls overall</a> </p> </li> </ul>"
    },
    "UpdateRoutingControlStates":{
      "name":"UpdateRoutingControlStates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateRoutingControlStatesRequest"},
      "output":{"shape":"UpdateRoutingControlStatesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"EndpointTemporarilyUnavailableException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Set multiple routing control states. You can set the value for each state to be On or Off. When the state is On, traffic flows to a cell. When it's Off, traffic does not flow.</p> <p>With Application Recovery Controller, you can add safety rules for routing controls, which are safeguards for routing control state updates that help prevent unexpected outcomes, like fail open traffic routing. However, there are scenarios when you might want to bypass the routing control safeguards that are enforced with safety rules that you've configured. For example, you might want to fail over quickly for disaster recovery, and one or more safety rules might be unexpectedly preventing you from updating a routing control state to reroute traffic. In a \"break glass\" scenario like this, you can override one or more safety rules to change a routing control state and fail over your application.</p> <p>The <code>SafetyRulesToOverride</code> property enables you override one or more safety rules and update routing control states. For more information, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.override-safety-rule.html\"> Override safety rules to reroute traffic</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p> <p> <i>You must specify Regional endpoints when you work with API cluster operations to get or update routing control states in Application Recovery Controller.</i> </p> <p>To see a code example for getting a routing control state, including accessing Regional cluster endpoints in sequence, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/service_code_examples_actions.html\">API examples</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.update.html\"> Viewing and updating routing control states</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.html\">Working with routing controls overall</a> </p> </li> </ul>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>You don't have sufficient permissions to query the routing control state.</p>",
      "exception":true
    },
    "Arn":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[A-Za-z0-9:.\\/_-]*$"
    },
    "Arns":{
      "type":"list",
      "member":{"shape":"Arn"}
    },
    "ConflictException":{
      "type":"structure",
      "required":[
        "message",
        "resourceId",
        "resourceType"
      ],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"Description of the ConflictException error"
        },
        "resourceId":{
          "shape":"String",
          "documentation":"Identifier of the resource in use"
        },
        "resourceType":{
          "shape":"String",
          "documentation":"Type of the resource in use"
        }
      },
      "documentation":"<p>There was a conflict with this request. Try again.</p>",
      "exception":true
    },
    "EndpointTemporarilyUnavailableException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The cluster endpoint isn't available. Try another cluster endpoint.</p>",
      "exception":true
    },
    "GetRoutingControlStateRequest":{
      "type":"structure",
      "required":["RoutingControlArn"],
      "members":{
        "RoutingControlArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Number (ARN) for the routing control that you want to get the state for.</p>"
        }
      }
    },
    "GetRoutingControlStateResponse":{
      "type":"structure",
      "required":[
        "RoutingControlArn",
        "RoutingControlState"
      ],
      "members":{
        "RoutingControlArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Number (ARN) of the response.</p>"
        },
        "RoutingControlState":{
          "shape":"RoutingControlState",
          "documentation":"<p>The state of the routing control.</p>"
        }
      }
    },
    "InternalServerException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "retryAfterSeconds":{"shape":"RetryAfterSeconds"}
      },
      "documentation":"<p>There was an unexpected error during processing of the request.</p>",
      "exception":true,
      "fault":true
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "required":[
        "message",
        "resourceId",
        "resourceType"
      ],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{
          "shape":"String",
          "documentation":"Hypothetical resource identifier that was not found"
        },
        "resourceType":{
          "shape":"String",
          "documentation":"Hypothetical resource type that was not found"
        }
      },
      "documentation":"<p>The request references a routing control that was not found.</p>",
      "exception":true
    },
    "RetryAfterSeconds":{
      "type":"integer",
      "documentation":"Advice to clients on when the call can be safely retried"
    },
    "RoutingControlState":{
      "type":"string",
      "enum":[
        "On",
        "Off"
      ]
    },
    "String":{"type":"string"},
    "ThrottlingException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "retryAfterSeconds":{"shape":"RetryAfterSeconds"}
      },
      "documentation":"<p>The request was denied because of request throttling.</p>",
      "exception":true
    },
    "UpdateRoutingControlStateEntries":{
      "type":"list",
      "member":{"shape":"UpdateRoutingControlStateEntry"}
    },
    "UpdateRoutingControlStateEntry":{
      "type":"structure",
      "required":[
        "RoutingControlArn",
        "RoutingControlState"
      ],
      "members":{
        "RoutingControlArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Number (ARN) for a routing control state entry.</p>"
        },
        "RoutingControlState":{
          "shape":"RoutingControlState",
          "documentation":"<p>The routing control state in a set of routing control state entries.</p>"
        }
      },
      "documentation":"<p>A routing control state entry.</p>"
    },
    "UpdateRoutingControlStateRequest":{
      "type":"structure",
      "required":[
        "RoutingControlArn",
        "RoutingControlState"
      ],
      "members":{
        "RoutingControlArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Number (ARN) for the routing control that you want to update the state for.</p>"
        },
        "RoutingControlState":{
          "shape":"RoutingControlState",
          "documentation":"<p>The state of the routing control. You can set the value to be On or Off.</p>"
        },
        "SafetyRulesToOverride":{
          "shape":"Arns",
          "documentation":"<p>The Amazon Resource Numbers (ARNs) for the safety rules that you want to override when you're updating the state of a routing control. You can override one safety rule or multiple safety rules by including one or more ARNs, separated by commas.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.override-safety-rule.html\"> Override safety rules to reroute traffic</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p>"
        }
      }
    },
    "UpdateRoutingControlStateResponse":{
      "type":"structure",
      "members":{
      }
    },
    "UpdateRoutingControlStatesRequest":{
      "type":"structure",
      "required":["UpdateRoutingControlStateEntries"],
      "members":{
        "UpdateRoutingControlStateEntries":{
          "shape":"UpdateRoutingControlStateEntries",
          "documentation":"<p>A set of routing control entries that you want to update.</p>"
        },
        "SafetyRulesToOverride":{
          "shape":"Arns",
          "documentation":"<p>The Amazon Resource Numbers (ARNs) for the safety rules that you want to override when you're updating routing control states. You can override one safety rule or multiple safety rules by including one or more ARNs, separated by commas.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.override-safety-rule.html\"> Override safety rules to reroute traffic</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p>"
        }
      }
    },
    "UpdateRoutingControlStatesResponse":{
      "type":"structure",
      "members":{
      }
    },
    "ValidationException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "reason":{"shape":"ValidationExceptionReason"},
        "fields":{"shape":"ValidationExceptionFieldList"}
      },
      "documentation":"<p>There was a validation error on the request.</p>",
      "exception":true
    },
    "ValidationExceptionField":{
      "type":"structure",
      "required":[
        "name",
        "message"
      ],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The field that had the validation exception.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>Information about the validation exception.</p>"
        }
      },
      "documentation":"<p>There was a validation error on the request.</p>"
    },
    "ValidationExceptionFieldList":{
      "type":"list",
      "member":{"shape":"ValidationExceptionField"},
      "documentation":"The fields that caused the error, if applicable"
    },
    "ValidationExceptionReason":{
      "type":"string",
      "documentation":"Reason the request failed validation",
      "enum":[
        "unknownOperation",
        "cannotParse",
        "fieldValidationFailed",
        "other"
      ]
    }
  },
  "documentation":"<p>Welcome to the Routing Control (Recovery Cluster) API Reference Guide for Amazon Route 53 Application Recovery Controller.</p> <p>With Amazon Route 53 Application Recovery Controller, you can use routing control with extreme reliability to recover applications by rerouting traffic across Availability Zones or AWS Regions. Routing controls are simple on/off switches hosted on a highly available cluster in Application Recovery Controller. A cluster provides a set of five redundant Regional endpoints against which you can run API calls to get or update the state of routing controls. To implement failover, you set one routing control on and another one off, to reroute traffic from one Availability Zone or Amazon Web Services Region to another. </p> <p> <i>Be aware that you must specify the Regional endpoints for a cluster when you work with API cluster operations to get or update routing control states in Application Recovery Controller.</i> In addition, you must specify the US West (Oregon) Region for Application Recovery Controller API calls. For example, use the parameter <code>region us-west-2</code> with AWS CLI commands. For more information, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.update.api.html\"> Get and update routing control states using the API</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p> <p>This API guide includes information about the API operations for how to get and update routing control states in Application Recovery Controller. You also must set up the structures to support routing controls: clusters and control panels.</p> <p>For more information about working with routing control in Application Recovery Controller, see the following:</p> <ul> <li> <p>To create clusters, routing controls, and control panels by using the control plane API for routing control, see the <a href=\"https://docs.aws.amazon.com/recovery-cluster/latest/api/\">Recovery Control Configuration API Reference Guide for Amazon Route 53 Application Recovery Controller</a>.</p> </li> <li> <p>Learn about the components in recovery control configuration, including clusters, routing controls, and control panels. For more information, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/introduction-components.html#introduction-components-routing\"> Recovery control components</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p> </li> <li> <p>Application Recovery Controller also provides readiness checks that run continually to help make sure that your applications are scaled and ready to handle failover traffic. For more information about the related API actions, see the <a href=\"https://docs.aws.amazon.com/recovery-readiness/latest/api/\">Recovery Readiness API Reference Guide for Amazon Route 53 Application Recovery Controller</a>.</p> </li> <li> <p>For more information about creating resilient applications and preparing for recovery readiness with Application Recovery Controller, see the <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/\">Amazon Route 53 Application Recovery Controller Developer Guide</a>.</p> </li> </ul>"
}
