{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2024-02-01",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"admin.wickr",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AWS Wickr Admin API",
    "serviceId":"Wickr",
    "signatureVersion":"v4",
    "signingName":"wickr",
    "uid":"wickr-2024-02-01"
  },
  "operations":{
    "BatchCreateUser":{
      "name":"BatchCreateUser",
      "http":{
        "method":"POST",
        "requestUri":"/networks/{networkId}/users",
        "responseCode":200
      },
      "input":{"shape":"BatchCreateUserRequest"},
      "output":{"shape":"BatchCreateUserResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Creates multiple users in a specified Wickr network. This operation allows you to provision multiple user accounts simultaneously, optionally specifying security groups, and validation requirements for each user.</p> <note> <p> <code>codeValidation</code>, <code>inviteCode</code>, and <code>inviteCodeTtl</code> are restricted to networks under preview only.</p> </note>"
    },
    "BatchDeleteUser":{
      "name":"BatchDeleteUser",
      "http":{
        "method":"POST",
        "requestUri":"/networks/{networkId}/users/batch-delete",
        "responseCode":200
      },
      "input":{"shape":"BatchDeleteUserRequest"},
      "output":{"shape":"BatchDeleteUserResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Deletes multiple users from a specified Wickr network. This operation permanently removes user accounts and their associated data from the network.</p>",
      "idempotent":true
    },
    "BatchLookupUserUname":{
      "name":"BatchLookupUserUname",
      "http":{
        "method":"POST",
        "requestUri":"/networks/{networkId}/users/uname-lookup",
        "responseCode":200
      },
      "input":{"shape":"BatchLookupUserUnameRequest"},
      "output":{"shape":"BatchLookupUserUnameResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Looks up multiple user usernames from their unique username hashes (unames). This operation allows you to retrieve the email addresses associated with a list of username hashes.</p>"
    },
    "BatchReinviteUser":{
      "name":"BatchReinviteUser",
      "http":{
        "method":"PATCH",
        "requestUri":"/networks/{networkId}/users/re-invite",
        "responseCode":200
      },
      "input":{"shape":"BatchReinviteUserRequest"},
      "output":{"shape":"BatchReinviteUserResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Resends invitation codes to multiple users who have pending invitations in a Wickr network. This operation is useful when users haven't accepted their initial invitations or when invitations have expired.</p>"
    },
    "BatchResetDevicesForUser":{
      "name":"BatchResetDevicesForUser",
      "http":{
        "method":"PATCH",
        "requestUri":"/networks/{networkId}/users/{userId}/devices",
        "responseCode":200
      },
      "input":{"shape":"BatchResetDevicesForUserRequest"},
      "output":{"shape":"BatchResetDevicesForUserResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Resets multiple devices for a specific user in a Wickr network. This operation forces the selected devices to log out and requires users to re-authenticate, which is useful for security purposes or when devices need to be revoked.</p>",
      "idempotent":true
    },
    "BatchToggleUserSuspendStatus":{
      "name":"BatchToggleUserSuspendStatus",
      "http":{
        "method":"PATCH",
        "requestUri":"/networks/{networkId}/users/toggleSuspend",
        "responseCode":200
      },
      "input":{"shape":"BatchToggleUserSuspendStatusRequest"},
      "output":{"shape":"BatchToggleUserSuspendStatusResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Suspends or unsuspends multiple users in a Wickr network. Suspended users cannot access the network until they are unsuspended. This operation is useful for temporarily restricting access without deleting user accounts.</p>",
      "idempotent":true
    },
    "CreateBot":{
      "name":"CreateBot",
      "http":{
        "method":"POST",
        "requestUri":"/networks/{networkId}/bots",
        "responseCode":200
      },
      "input":{"shape":"CreateBotRequest"},
      "output":{"shape":"CreateBotResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Creates a new bot in a specified Wickr network. Bots are automated accounts that can send and receive messages, enabling integration with external systems and automation of tasks.</p>"
    },
    "CreateDataRetentionBot":{
      "name":"CreateDataRetentionBot",
      "http":{
        "method":"POST",
        "requestUri":"/networks/{networkId}/data-retention-bots",
        "responseCode":200
      },
      "input":{"shape":"CreateDataRetentionBotRequest"},
      "output":{"shape":"CreateDataRetentionBotResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Creates a data retention bot in a Wickr network. Data retention bots are specialized bots that handle message archiving and compliance by capturing and storing messages for regulatory or organizational requirements.</p>"
    },
    "CreateDataRetentionBotChallenge":{
      "name":"CreateDataRetentionBotChallenge",
      "http":{
        "method":"POST",
        "requestUri":"/networks/{networkId}/data-retention-bots/challenge",
        "responseCode":200
      },
      "input":{"shape":"CreateDataRetentionBotChallengeRequest"},
      "output":{"shape":"CreateDataRetentionBotChallengeResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Creates a new challenge password for the data retention bot. This password is used for authentication when the bot connects to the network.</p>"
    },
    "CreateNetwork":{
      "name":"CreateNetwork",
      "http":{
        "method":"POST",
        "requestUri":"/networks",
        "responseCode":200
      },
      "input":{"shape":"CreateNetworkRequest"},
      "output":{"shape":"CreateNetworkResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Creates a new Wickr network with specified access level and configuration. This operation provisions a new communication network for your organization.</p>",
      "idempotent":true
    },
    "CreateSecurityGroup":{
      "name":"CreateSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/networks/{networkId}/security-groups",
        "responseCode":200
      },
      "input":{"shape":"CreateSecurityGroupRequest"},
      "output":{"shape":"CreateSecurityGroupResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Creates a new security group in a Wickr network. Security groups allow you to organize users and control their permissions, features, and security settings.</p>",
      "idempotent":true
    },
    "DeleteBot":{
      "name":"DeleteBot",
      "http":{
        "method":"DELETE",
        "requestUri":"/networks/{networkId}/bots/{botId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteBotRequest"},
      "output":{"shape":"DeleteBotResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Deletes a bot from a specified Wickr network. This operation permanently removes the bot account and its associated data from the network.</p>",
      "idempotent":true
    },
    "DeleteDataRetentionBot":{
      "name":"DeleteDataRetentionBot",
      "http":{
        "method":"DELETE",
        "requestUri":"/networks/{networkId}/data-retention-bots",
        "responseCode":200
      },
      "input":{"shape":"DeleteDataRetentionBotRequest"},
      "output":{"shape":"DeleteDataRetentionBotResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Deletes the data retention bot from a Wickr network. This operation permanently removes the bot and all its associated data from the database.</p>",
      "idempotent":true
    },
    "DeleteNetwork":{
      "name":"DeleteNetwork",
      "http":{
        "method":"DELETE",
        "requestUri":"/networks/{networkId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteNetworkRequest"},
      "output":{"shape":"DeleteNetworkResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Deletes a Wickr network and all its associated resources, including users, bots, security groups, and settings. This operation is permanent and cannot be undone.</p>",
      "idempotent":true
    },
    "DeleteSecurityGroup":{
      "name":"DeleteSecurityGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/networks/{networkId}/security-groups/{groupId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteSecurityGroupRequest"},
      "output":{"shape":"DeleteSecurityGroupResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Deletes a security group from a Wickr network. This operation cannot be performed on the default security group.</p>",
      "idempotent":true
    },
    "GetBot":{
      "name":"GetBot",
      "http":{
        "method":"GET",
        "requestUri":"/networks/{networkId}/bots/{botId}",
        "responseCode":200
      },
      "input":{"shape":"GetBotRequest"},
      "output":{"shape":"GetBotResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Retrieves detailed information about a specific bot in a Wickr network, including its status, group membership, and authentication details.</p>",
      "readonly":true
    },
    "GetBotsCount":{
      "name":"GetBotsCount",
      "http":{
        "method":"GET",
        "requestUri":"/networks/{networkId}/bots/count",
        "responseCode":200
      },
      "input":{"shape":"GetBotsCountRequest"},
      "output":{"shape":"GetBotsCountResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Retrieves the count of bots in a Wickr network, categorized by their status (pending, active, and total).</p>",
      "readonly":true
    },
    "GetDataRetentionBot":{
      "name":"GetDataRetentionBot",
      "http":{
        "method":"GET",
        "requestUri":"/networks/{networkId}/data-retention-bots",
        "responseCode":200
      },
      "input":{"shape":"GetDataRetentionBotRequest"},
      "output":{"shape":"GetDataRetentionBotResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Retrieves information about the data retention bot in a Wickr network, including its status and whether the data retention service is enabled.</p>",
      "readonly":true
    },
    "GetGuestUserHistoryCount":{
      "name":"GetGuestUserHistoryCount",
      "http":{
        "method":"GET",
        "requestUri":"/networks/{networkId}/guest-users/count",
        "responseCode":200
      },
      "input":{"shape":"GetGuestUserHistoryCountRequest"},
      "output":{"shape":"GetGuestUserHistoryCountResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Retrieves historical guest user count data for a Wickr network, showing the number of guest users per billing period over the past 90 days.</p>",
      "readonly":true
    },
    "GetNetwork":{
      "name":"GetNetwork",
      "http":{
        "method":"GET",
        "requestUri":"/networks/{networkId}",
        "responseCode":200
      },
      "input":{"shape":"GetNetworkRequest"},
      "output":{"shape":"GetNetworkResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Retrieves detailed information about a specific Wickr network, including its configuration, access level, and status.</p>",
      "readonly":true
    },
    "GetNetworkSettings":{
      "name":"GetNetworkSettings",
      "http":{
        "method":"GET",
        "requestUri":"/networks/{networkId}/settings",
        "responseCode":200
      },
      "input":{"shape":"GetNetworkSettingsRequest"},
      "output":{"shape":"GetNetworkSettingsResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Retrieves all network-level settings for a Wickr network, including client metrics, data retention, and other configuration options.</p>",
      "readonly":true
    },
    "GetOidcInfo":{
      "name":"GetOidcInfo",
      "http":{
        "method":"GET",
        "requestUri":"/networks/{networkId}/oidc",
        "responseCode":200
      },
      "input":{"shape":"GetOidcInfoRequest"},
      "output":{"shape":"GetOidcInfoResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Retrieves the OpenID Connect (OIDC) configuration for a Wickr network, including SSO settings and optional token information if access token parameters are provided.</p>",
      "readonly":true
    },
    "GetSecurityGroup":{
      "name":"GetSecurityGroup",
      "http":{
        "method":"GET",
        "requestUri":"/networks/{networkId}/security-groups/{groupId}",
        "responseCode":200
      },
      "input":{"shape":"GetSecurityGroupRequest"},
      "output":{"shape":"GetSecurityGroupResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Retrieves detailed information about a specific security group in a Wickr network, including its settings, member counts, and configuration.</p>",
      "readonly":true
    },
    "GetUser":{
      "name":"GetUser",
      "http":{
        "method":"GET",
        "requestUri":"/networks/{networkId}/users/{userId}",
        "responseCode":200
      },
      "input":{"shape":"GetUserRequest"},
      "output":{"shape":"GetUserResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Retrieves detailed information about a specific user in a Wickr network, including their profile, status, and activity history.</p>",
      "readonly":true
    },
    "GetUsersCount":{
      "name":"GetUsersCount",
      "http":{
        "method":"GET",
        "requestUri":"/networks/{networkId}/users/count",
        "responseCode":200
      },
      "input":{"shape":"GetUsersCountRequest"},
      "output":{"shape":"GetUsersCountResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Retrieves the count of users in a Wickr network, categorized by their status (pending, active, rejected) and showing how many users can still be added.</p>",
      "readonly":true
    },
    "ListBlockedGuestUsers":{
      "name":"ListBlockedGuestUsers",
      "http":{
        "method":"GET",
        "requestUri":"/networks/{networkId}/guest-users/blocklist",
        "responseCode":200
      },
      "input":{"shape":"ListBlockedGuestUsersRequest"},
      "output":{"shape":"ListBlockedGuestUsersResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Retrieves a paginated list of guest users who have been blocked from a Wickr network. You can filter and sort the results.</p>",
      "readonly":true
    },
    "ListBots":{
      "name":"ListBots",
      "http":{
        "method":"GET",
        "requestUri":"/networks/{networkId}/bots",
        "responseCode":200
      },
      "input":{"shape":"ListBotsRequest"},
      "output":{"shape":"ListBotsResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Retrieves a paginated list of bots in a specified Wickr network. You can filter and sort the results based on various criteria.</p>",
      "readonly":true
    },
    "ListDevicesForUser":{
      "name":"ListDevicesForUser",
      "http":{
        "method":"GET",
        "requestUri":"/networks/{networkId}/users/{userId}/devices",
        "responseCode":200
      },
      "input":{"shape":"ListDevicesForUserRequest"},
      "output":{"shape":"ListDevicesForUserResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Retrieves a paginated list of devices associated with a specific user in a Wickr network. This operation returns information about all devices where the user has logged into Wickr.</p>",
      "readonly":true
    },
    "ListGuestUsers":{
      "name":"ListGuestUsers",
      "http":{
        "method":"GET",
        "requestUri":"/networks/{networkId}/guest-users",
        "responseCode":200
      },
      "input":{"shape":"ListGuestUsersRequest"},
      "output":{"shape":"ListGuestUsersResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Retrieves a paginated list of guest users who have communicated with your Wickr network. Guest users are external users from federated networks who can communicate with network members.</p>",
      "readonly":true
    },
    "ListNetworks":{
      "name":"ListNetworks",
      "http":{
        "method":"GET",
        "requestUri":"/networks",
        "responseCode":200
      },
      "input":{"shape":"ListNetworksRequest"},
      "output":{"shape":"ListNetworksResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Retrieves a paginated list of all Wickr networks associated with your Amazon Web Services account. You can sort the results by network ID or name.</p>",
      "readonly":true
    },
    "ListSecurityGroupUsers":{
      "name":"ListSecurityGroupUsers",
      "http":{
        "method":"GET",
        "requestUri":"/networks/{networkId}/security-groups/{groupId}/users",
        "responseCode":200
      },
      "input":{"shape":"ListSecurityGroupUsersRequest"},
      "output":{"shape":"ListSecurityGroupUsersResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Retrieves a paginated list of users who belong to a specific security group in a Wickr network.</p>",
      "readonly":true
    },
    "ListSecurityGroups":{
      "name":"ListSecurityGroups",
      "http":{
        "method":"GET",
        "requestUri":"/networks/{networkId}/security-groups",
        "responseCode":200
      },
      "input":{"shape":"ListSecurityGroupsRequest"},
      "output":{"shape":"ListSecurityGroupsResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Retrieves a paginated list of security groups in a specified Wickr network. You can sort the results by various criteria.</p>",
      "readonly":true
    },
    "ListUsers":{
      "name":"ListUsers",
      "http":{
        "method":"GET",
        "requestUri":"/networks/{networkId}/users",
        "responseCode":200
      },
      "input":{"shape":"ListUsersRequest"},
      "output":{"shape":"ListUsersResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Retrieves a paginated list of users in a specified Wickr network. You can filter and sort the results based on various criteria such as name, status, or security group membership.</p>",
      "readonly":true
    },
    "RegisterOidcConfig":{
      "name":"RegisterOidcConfig",
      "http":{
        "method":"POST",
        "requestUri":"/networks/{networkId}/oidc/save",
        "responseCode":200
      },
      "input":{"shape":"RegisterOidcConfigRequest"},
      "output":{"shape":"RegisterOidcConfigResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Registers and saves an OpenID Connect (OIDC) configuration for a Wickr network, enabling Single Sign-On (SSO) authentication through an identity provider.</p>"
    },
    "RegisterOidcConfigTest":{
      "name":"RegisterOidcConfigTest",
      "http":{
        "method":"POST",
        "requestUri":"/networks/{networkId}/oidc/test",
        "responseCode":200
      },
      "input":{"shape":"RegisterOidcConfigTestRequest"},
      "output":{"shape":"RegisterOidcConfigTestResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Tests an OpenID Connect (OIDC) configuration for a Wickr network by validating the connection to the identity provider and retrieving its supported capabilities.</p>"
    },
    "UpdateBot":{
      "name":"UpdateBot",
      "http":{
        "method":"PATCH",
        "requestUri":"/networks/{networkId}/bots/{botId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateBotRequest"},
      "output":{"shape":"UpdateBotResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Updates the properties of an existing bot in a Wickr network. This operation allows you to modify the bot's display name, security group, password, or suspension status.</p>",
      "idempotent":true
    },
    "UpdateDataRetention":{
      "name":"UpdateDataRetention",
      "http":{
        "method":"PATCH",
        "requestUri":"/networks/{networkId}/data-retention-bots",
        "responseCode":200
      },
      "input":{"shape":"UpdateDataRetentionRequest"},
      "output":{"shape":"UpdateDataRetentionResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Updates the data retention bot settings, allowing you to enable or disable the data retention service, or acknowledge the public key message.</p>",
      "idempotent":true
    },
    "UpdateGuestUser":{
      "name":"UpdateGuestUser",
      "http":{
        "method":"PATCH",
        "requestUri":"/networks/{networkId}/guest-users/{usernameHash}",
        "responseCode":200
      },
      "input":{"shape":"UpdateGuestUserRequest"},
      "output":{"shape":"UpdateGuestUserResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Updates the block status of a guest user in a Wickr network. This operation allows you to block or unblock a guest user from accessing the network.</p>"
    },
    "UpdateNetwork":{
      "name":"UpdateNetwork",
      "http":{
        "method":"PATCH",
        "requestUri":"/networks/{networkId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateNetworkRequest"},
      "output":{"shape":"UpdateNetworkResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Updates the properties of an existing Wickr network, such as its name or encryption key configuration.</p>",
      "idempotent":true
    },
    "UpdateNetworkSettings":{
      "name":"UpdateNetworkSettings",
      "http":{
        "method":"PATCH",
        "requestUri":"/networks/{networkId}/settings",
        "responseCode":200
      },
      "input":{"shape":"UpdateNetworkSettingsRequest"},
      "output":{"shape":"UpdateNetworkSettingsResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Updates network-level settings for a Wickr network. You can modify settings such as client metrics, data retention, and other network-wide options.</p>",
      "idempotent":true
    },
    "UpdateSecurityGroup":{
      "name":"UpdateSecurityGroup",
      "http":{
        "method":"PATCH",
        "requestUri":"/networks/{networkId}/security-groups/{groupId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateSecurityGroupRequest"},
      "output":{"shape":"UpdateSecurityGroupResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Updates the properties of an existing security group in a Wickr network, such as its name or settings.</p>",
      "idempotent":true
    },
    "UpdateUser":{
      "name":"UpdateUser",
      "http":{
        "method":"PATCH",
        "requestUri":"/networks/{networkId}/users",
        "responseCode":200
      },
      "input":{"shape":"UpdateUserRequest"},
      "output":{"shape":"UpdateUserResponse"},
      "errors":[
        {"shape":"ValidationError"},
        {"shape":"BadRequestError"},
        {"shape":"ResourceNotFoundError"},
        {"shape":"ForbiddenError"},
        {"shape":"UnauthorizedError"},
        {"shape":"InternalServerError"},
        {"shape":"RateLimitError"}
      ],
      "documentation":"<p>Updates the properties of an existing user in a Wickr network. This operation allows you to modify the user's name, password, security group membership, and invite code settings.</p> <note> <p> <code>codeValidation</code>, <code>inviteCode</code>, and <code>inviteCodeTtl</code> are restricted to networks under preview only.</p> </note>",
      "idempotent":true
    }
  },
  "shapes":{
    "AccessLevel":{
      "type":"string",
      "enum":[
        "STANDARD",
        "PREMIUM"
      ]
    },
    "AppIds":{
      "type":"list",
      "member":{"shape":"GenericString"}
    },
    "BadRequestError":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"GenericString",
          "documentation":"<p>A detailed message explaining what was wrong with the request and how to correct it.</p>"
        }
      },
      "documentation":"<p>The request was invalid or malformed. This error occurs when the request parameters do not meet the API requirements, such as invalid field values, missing required parameters, or improperly formatted data.</p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "BasicDeviceObject":{
      "type":"structure",
      "members":{
        "appId":{
          "shape":"GenericString",
          "documentation":"<p>The unique application ID for the Wickr app on this device.</p>"
        },
        "created":{
          "shape":"GenericString",
          "documentation":"<p>The timestamp when the device first appeared in the Wickr database.</p>"
        },
        "lastLogin":{
          "shape":"GenericString",
          "documentation":"<p>The timestamp when the device last successfully logged into Wickr. This is also used to determine SSO idle time.</p>"
        },
        "statusText":{
          "shape":"GenericString",
          "documentation":"<p>The current status of the device, either 'Active' or 'Reset' depending on whether the device is currently active or has been marked for reset.</p>"
        },
        "suspend":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the device is suspended.</p>"
        },
        "type":{
          "shape":"GenericString",
          "documentation":"<p>The operating system of the device (e.g., 'MacOSX', 'Windows', 'iOS', 'Android').</p>"
        }
      },
      "documentation":"<p>Represents a device where a user has logged into Wickr, containing information about the device's type, status, and login history.</p>"
    },
    "BatchCreateUserRequest":{
      "type":"structure",
      "required":[
        "networkId",
        "users"
      ],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network where users will be created.</p>",
          "location":"uri",
          "locationName":"networkId"
        },
        "users":{
          "shape":"BatchCreateUserRequestItems",
          "documentation":"<p>A list of user objects containing the details for each user to be created, including username, name, security groups, and optional invite codes. Maximum 50 users per batch request.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique identifier for this request to ensure idempotency. If you retry a request with the same client token, the service will return the same response without creating duplicate users.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Client-Token"
        }
      }
    },
    "BatchCreateUserRequestItem":{
      "type":"structure",
      "required":[
        "securityGroupIds",
        "username"
      ],
      "members":{
        "firstName":{
          "shape":"SensitiveString",
          "documentation":"<p>The first name of the user.</p>"
        },
        "lastName":{
          "shape":"SensitiveString",
          "documentation":"<p>The last name of the user.</p>"
        },
        "securityGroupIds":{
          "shape":"SecurityGroupIdList",
          "documentation":"<p>A list of security group IDs to which the user should be assigned.</p>"
        },
        "username":{
          "shape":"GenericString",
          "documentation":"<p>The email address or username for the user. Must be unique within the network.</p>"
        },
        "inviteCode":{
          "shape":"GenericString",
          "documentation":"<p>A custom invite code for the user. If not provided, one will be generated automatically.</p>"
        },
        "inviteCodeTtl":{
          "shape":"Integer",
          "documentation":"<p>The time-to-live for the invite code in days. After this period, the invite code will expire.</p>"
        },
        "codeValidation":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the user can be verified through a custom invite code.</p>"
        }
      },
      "documentation":"<p>Contains the details for a single user to be created in a batch user creation request.</p> <note> <p>A user can only be assigned to a single security group. Attempting to add a user to multiple security groups is not supported and will result in an error.</p> </note> <note> <p> <code>codeValidation</code>, <code>inviteCode</code>, and <code>inviteCodeTtl</code> are restricted to networks under preview only.</p> </note>"
    },
    "BatchCreateUserRequestItems":{
      "type":"list",
      "member":{"shape":"BatchCreateUserRequestItem"}
    },
    "BatchCreateUserResponse":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"GenericString",
          "documentation":"<p>A message indicating the overall result of the batch operation.</p>"
        },
        "successful":{
          "shape":"Users",
          "documentation":"<p>A list of user objects that were successfully created, including their assigned user IDs and invite codes.</p>"
        },
        "failed":{
          "shape":"BatchUserErrorResponseItems",
          "documentation":"<p>A list of user creation attempts that failed, including error details explaining why each user could not be created.</p>"
        }
      }
    },
    "BatchDeleteUserRequest":{
      "type":"structure",
      "required":[
        "networkId",
        "userIds"
      ],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network from which users will be deleted.</p>",
          "location":"uri",
          "locationName":"networkId"
        },
        "userIds":{
          "shape":"UserIds",
          "documentation":"<p>A list of user IDs identifying the users to be deleted from the network. Maximum 50 users per batch request.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique identifier for this request to ensure idempotency. If you retry a request with the same client token, the service will return the same response without attempting to delete users again.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Client-Token"
        }
      }
    },
    "BatchDeleteUserResponse":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"GenericString",
          "documentation":"<p>A message indicating the overall result of the batch deletion operation.</p>"
        },
        "successful":{
          "shape":"BatchUserSuccessResponseItems",
          "documentation":"<p>A list of user IDs that were successfully deleted from the network.</p>"
        },
        "failed":{
          "shape":"BatchUserErrorResponseItems",
          "documentation":"<p>A list of user deletion attempts that failed, including error details explaining why each user could not be deleted.</p>"
        }
      }
    },
    "BatchDeviceErrorResponseItem":{
      "type":"structure",
      "required":["appId"],
      "members":{
        "field":{
          "shape":"GenericString",
          "documentation":"<p>The field that caused the error.</p>"
        },
        "reason":{
          "shape":"GenericString",
          "documentation":"<p>A description of why the device operation failed.</p>"
        },
        "appId":{
          "shape":"GenericString",
          "documentation":"<p>The application ID of the device that failed to be processed.</p>"
        }
      },
      "documentation":"<p>Contains error information for a device operation that failed in a batch device request.</p>"
    },
    "BatchDeviceErrorResponseItems":{
      "type":"list",
      "member":{"shape":"BatchDeviceErrorResponseItem"}
    },
    "BatchDeviceSuccessResponseItem":{
      "type":"structure",
      "required":["appId"],
      "members":{
        "appId":{
          "shape":"GenericString",
          "documentation":"<p>The application ID of the device that was successfully processed.</p>"
        }
      },
      "documentation":"<p>Contains information about a device that was successfully processed in a batch device operation.</p>"
    },
    "BatchDeviceSuccessResponseItems":{
      "type":"list",
      "member":{"shape":"BatchDeviceSuccessResponseItem"}
    },
    "BatchLookupUserUnameRequest":{
      "type":"structure",
      "required":[
        "networkId",
        "unames"
      ],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network where the users will be looked up.</p>",
          "location":"uri",
          "locationName":"networkId"
        },
        "unames":{
          "shape":"Unames",
          "documentation":"<p>A list of username hashes (unames) to look up. Each uname is a unique identifier for a user's username. Maximum 50 unames per batch request.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique identifier for this request to ensure idempotency.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Client-Token"
        }
      }
    },
    "BatchLookupUserUnameResponse":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"GenericString",
          "documentation":"<p>A message indicating the overall result of the batch lookup operation.</p>"
        },
        "successful":{
          "shape":"BatchUnameSuccessResponseItems",
          "documentation":"<p>A list of successfully resolved username hashes with their corresponding email addresses.</p>"
        },
        "failed":{
          "shape":"BatchUnameErrorResponseItems",
          "documentation":"<p>A list of username hash lookup attempts that failed, including error details explaining why each lookup failed.</p>"
        }
      }
    },
    "BatchReinviteUserRequest":{
      "type":"structure",
      "required":[
        "networkId",
        "userIds"
      ],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network where users will be reinvited.</p>",
          "location":"uri",
          "locationName":"networkId"
        },
        "userIds":{
          "shape":"UserIds",
          "documentation":"<p>A list of user IDs identifying the users to be reinvited to the network. Maximum 50 users per batch request.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique identifier for this request to ensure idempotency.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Client-Token"
        }
      }
    },
    "BatchReinviteUserResponse":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"GenericString",
          "documentation":"<p>A message indicating the overall result of the batch reinvitation operation.</p>"
        },
        "successful":{
          "shape":"BatchUserSuccessResponseItems",
          "documentation":"<p>A list of user IDs that were successfully reinvited.</p>"
        },
        "failed":{
          "shape":"BatchUserErrorResponseItems",
          "documentation":"<p>A list of reinvitation attempts that failed, including error details explaining why each user could not be reinvited.</p>"
        }
      }
    },
    "BatchResetDevicesForUserRequest":{
      "type":"structure",
      "required":[
        "networkId",
        "userId",
        "appIds"
      ],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network containing the user whose devices will be reset.</p>",
          "location":"uri",
          "locationName":"networkId"
        },
        "userId":{
          "shape":"UserId",
          "documentation":"<p>The ID of the user whose devices will be reset.</p>",
          "location":"uri",
          "locationName":"userId"
        },
        "appIds":{
          "shape":"AppIds",
          "documentation":"<p>A list of application IDs identifying the specific devices to be reset for the user. Maximum 50 devices per batch request.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique identifier for this request to ensure idempotency.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Client-Token"
        }
      }
    },
    "BatchResetDevicesForUserResponse":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"GenericString",
          "documentation":"<p>A message indicating the overall result of the batch device reset operation.</p>"
        },
        "successful":{
          "shape":"BatchDeviceSuccessResponseItems",
          "documentation":"<p>A list of application IDs that were successfully reset.</p>"
        },
        "failed":{
          "shape":"BatchDeviceErrorResponseItems",
          "documentation":"<p>A list of device reset attempts that failed, including error details explaining why each device could not be reset.</p>"
        }
      }
    },
    "BatchToggleUserSuspendStatusRequest":{
      "type":"structure",
      "required":[
        "networkId",
        "suspend",
        "userIds"
      ],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network where users will be suspended or unsuspended.</p>",
          "location":"uri",
          "locationName":"networkId"
        },
        "suspend":{
          "shape":"Boolean",
          "documentation":"<p>A boolean value indicating whether to suspend (true) or unsuspend (false) the specified users.</p>",
          "location":"querystring",
          "locationName":"suspend"
        },
        "userIds":{
          "shape":"UserIds",
          "documentation":"<p>A list of user IDs identifying the users whose suspend status will be toggled. Maximum 50 users per batch request.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique identifier for this request to ensure idempotency.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Client-Token"
        }
      }
    },
    "BatchToggleUserSuspendStatusResponse":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"GenericString",
          "documentation":"<p>A message indicating the overall result of the batch suspend status toggle operation.</p>"
        },
        "successful":{
          "shape":"BatchUserSuccessResponseItems",
          "documentation":"<p>A list of user IDs whose suspend status was successfully toggled.</p>"
        },
        "failed":{
          "shape":"BatchUserErrorResponseItems",
          "documentation":"<p>A list of suspend status toggle attempts that failed, including error details explaining why each user's status could not be changed.</p>"
        }
      }
    },
    "BatchUnameErrorResponseItem":{
      "type":"structure",
      "required":["uname"],
      "members":{
        "field":{
          "shape":"GenericString",
          "documentation":"<p>The field that caused the error.</p>"
        },
        "reason":{
          "shape":"GenericString",
          "documentation":"<p>A description of why the username hash lookup failed.</p>"
        },
        "uname":{
          "shape":"Uname",
          "documentation":"<p>The username hash that failed to be looked up.</p>"
        }
      },
      "documentation":"<p>Contains error information for a username hash lookup that failed in a batch uname lookup request.</p>"
    },
    "BatchUnameErrorResponseItems":{
      "type":"list",
      "member":{"shape":"BatchUnameErrorResponseItem"}
    },
    "BatchUnameSuccessResponseItem":{
      "type":"structure",
      "required":[
        "uname",
        "username"
      ],
      "members":{
        "uname":{
          "shape":"Uname",
          "documentation":"<p>The username hash that was successfully resolved.</p>"
        },
        "username":{
          "shape":"GenericString",
          "documentation":"<p>The email address or username corresponding to the username hash.</p>"
        }
      },
      "documentation":"<p>Contains information about a username hash that was successfully resolved in a batch uname lookup operation.</p>"
    },
    "BatchUnameSuccessResponseItems":{
      "type":"list",
      "member":{"shape":"BatchUnameSuccessResponseItem"}
    },
    "BatchUserErrorResponseItem":{
      "type":"structure",
      "required":["userId"],
      "members":{
        "field":{
          "shape":"GenericString",
          "documentation":"<p>The field that caused the error.</p>"
        },
        "reason":{
          "shape":"GenericString",
          "documentation":"<p>A description of why the user operation failed.</p>"
        },
        "userId":{
          "shape":"UserId",
          "documentation":"<p>The user ID associated with the failed operation.</p>"
        }
      },
      "documentation":"<p>Contains error information for a user operation that failed in a batch user request.</p>"
    },
    "BatchUserErrorResponseItems":{
      "type":"list",
      "member":{"shape":"BatchUserErrorResponseItem"}
    },
    "BatchUserSuccessResponseItem":{
      "type":"structure",
      "required":["userId"],
      "members":{
        "userId":{
          "shape":"UserId",
          "documentation":"<p>The user ID that was successfully processed.</p>"
        }
      },
      "documentation":"<p>Contains information about a user that was successfully processed in a batch user operation.</p>"
    },
    "BatchUserSuccessResponseItems":{
      "type":"list",
      "member":{"shape":"BatchUserSuccessResponseItem"}
    },
    "BlockedGuestUser":{
      "type":"structure",
      "required":[
        "username",
        "admin",
        "modified",
        "usernameHash"
      ],
      "members":{
        "username":{
          "shape":"GenericString",
          "documentation":"<p>The username of the blocked guest user.</p>"
        },
        "admin":{
          "shape":"GenericString",
          "documentation":"<p>The username of the administrator who blocked this guest user.</p>"
        },
        "modified":{
          "shape":"GenericString",
          "documentation":"<p>The timestamp when the guest user was blocked or last modified.</p>"
        },
        "usernameHash":{
          "shape":"GenericString",
          "documentation":"<p>The unique username hash identifier for the blocked guest user.</p>"
        }
      },
      "documentation":"<p>Represents a guest user who has been blocked from accessing a Wickr network.</p>"
    },
    "BlockedGuestUserList":{
      "type":"list",
      "member":{"shape":"BlockedGuestUser"}
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "Bot":{
      "type":"structure",
      "members":{
        "botId":{
          "shape":"GenericString",
          "documentation":"<p>The unique identifier of the bot.</p>"
        },
        "displayName":{
          "shape":"GenericString",
          "documentation":"<p>The display name of the bot that is visible to users.</p>"
        },
        "username":{
          "shape":"GenericString",
          "documentation":"<p>The username of the bot.</p>"
        },
        "uname":{
          "shape":"GenericString",
          "documentation":"<p>The unique username hash identifier for the bot.</p>"
        },
        "pubkey":{
          "shape":"GenericString",
          "documentation":"<p>The public key of the bot used for encryption.</p>"
        },
        "status":{
          "shape":"BotStatus",
          "documentation":"<p>The current status of the bot (1 for pending, 2 for active).</p>"
        },
        "groupId":{
          "shape":"GenericString",
          "documentation":"<p>The ID of the security group to which the bot belongs.</p>"
        },
        "hasChallenge":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the bot has a password set.</p>"
        },
        "suspended":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the bot is currently suspended.</p>"
        },
        "lastLogin":{
          "shape":"GenericString",
          "documentation":"<p>The timestamp of the bot's last login.</p>"
        }
      },
      "documentation":"<p>Represents a bot account in a Wickr network with all its informational fields.</p>"
    },
    "BotId":{
      "type":"string",
      "max":10,
      "min":1,
      "pattern":"[0-9]+"
    },
    "BotStatus":{
      "type":"integer",
      "box":true
    },
    "Bots":{
      "type":"list",
      "member":{"shape":"Bot"}
    },
    "CallingSettings":{
      "type":"structure",
      "members":{
        "canStart11Call":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether users can start one-to-one calls.</p>"
        },
        "canVideoCall":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether users can make video calls (as opposed to audio-only calls). Valid only when audio call(canStart11Call) is enabled.</p>"
        },
        "forceTcpCall":{
          "shape":"Boolean",
          "documentation":"<p>When enabled, forces all calls to use TCP protocol instead of UDP for network traversal.</p>"
        }
      },
      "documentation":"<p>Defines the calling feature permissions and settings for users in a security group, controlling what types of calls users can initiate and participate in.</p>"
    },
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9-_:]+"
    },
    "CreateBotRequest":{
      "type":"structure",
      "required":[
        "networkId",
        "username",
        "groupId",
        "challenge"
      ],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network where the bot will be created.</p>",
          "location":"uri",
          "locationName":"networkId"
        },
        "username":{
          "shape":"GenericString",
          "documentation":"<p>The username for the bot. This must be unique within the network and follow the network's naming conventions.</p>"
        },
        "displayName":{
          "shape":"GenericString",
          "documentation":"<p>The display name for the bot that will be visible to users in the network.</p>"
        },
        "groupId":{
          "shape":"GenericString",
          "documentation":"<p>The ID of the security group to which the bot will be assigned.</p>"
        },
        "challenge":{
          "shape":"SensitiveString",
          "documentation":"<p>The password for the bot account.</p>"
        }
      }
    },
    "CreateBotResponse":{
      "type":"structure",
      "required":["botId"],
      "members":{
        "message":{
          "shape":"GenericString",
          "documentation":"<p>A message indicating the result of the bot creation operation.</p>"
        },
        "botId":{
          "shape":"BotId",
          "documentation":"<p>The unique identifier assigned to the newly created bot.</p>"
        },
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the network where the bot was created.</p>"
        },
        "username":{
          "shape":"GenericString",
          "documentation":"<p>The username of the newly created bot.</p>"
        },
        "displayName":{
          "shape":"GenericString",
          "documentation":"<p>The display name of the newly created bot.</p>"
        },
        "groupId":{
          "shape":"GenericString",
          "documentation":"<p>The ID of the security group to which the bot was assigned.</p>"
        }
      }
    },
    "CreateDataRetentionBotChallengeRequest":{
      "type":"structure",
      "required":["networkId"],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network containing the data retention bot.</p>",
          "location":"uri",
          "locationName":"networkId"
        }
      }
    },
    "CreateDataRetentionBotChallengeResponse":{
      "type":"structure",
      "required":["challenge"],
      "members":{
        "challenge":{
          "shape":"SensitiveString",
          "documentation":"<p>The newly generated challenge password for the data retention bot.</p>"
        }
      }
    },
    "CreateDataRetentionBotRequest":{
      "type":"structure",
      "required":["networkId"],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network where the data retention bot will be created.</p>",
          "location":"uri",
          "locationName":"networkId"
        }
      }
    },
    "CreateDataRetentionBotResponse":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"GenericString",
          "documentation":"<p>A message indicating that the data retention bot was successfully provisioned.</p>"
        }
      }
    },
    "CreateNetworkRequest":{
      "type":"structure",
      "required":[
        "networkName",
        "accessLevel"
      ],
      "members":{
        "networkName":{
          "shape":"GenericString",
          "documentation":"<p>The name for the new network. Must be between 1 and 20 characters.</p>"
        },
        "accessLevel":{
          "shape":"AccessLevel",
          "documentation":"<p>The access level for the network. Valid values are STANDARD or PREMIUM, which determine the features and capabilities available to network members.</p>"
        },
        "enablePremiumFreeTrial":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether to enable a premium free trial for the network. It is optional and has a default value as false. When set to true, the network starts with premium features for a limited trial period. </p>"
        },
        "encryptionKeyArn":{
          "shape":"GenericString",
          "documentation":"<p>The ARN of the Amazon Web Services KMS customer managed key to use for encrypting sensitive data in the network.</p>"
        }
      }
    },
    "CreateNetworkResponse":{
      "type":"structure",
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The unique identifier assigned to the newly created network.</p>"
        },
        "networkName":{
          "shape":"GenericString",
          "documentation":"<p>The name of the newly created network.</p>"
        },
        "encryptionKeyArn":{
          "shape":"GenericString",
          "documentation":"<p>The ARN of the KMS key being used to encrypt sensitive data in the network.</p>"
        }
      }
    },
    "CreateSecurityGroupRequest":{
      "type":"structure",
      "required":[
        "networkId",
        "name",
        "securityGroupSettings"
      ],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network where the security group will be created.</p>",
          "location":"uri",
          "locationName":"networkId"
        },
        "name":{
          "shape":"GenericString",
          "documentation":"<p>The name for the new security group.</p>"
        },
        "securityGroupSettings":{
          "shape":"SecurityGroupSettingsRequest",
          "documentation":"<p>The configuration settings for the security group, including permissions, federation settings, and feature controls.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique identifier for this request to ensure idempotency.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Client-Token"
        }
      }
    },
    "CreateSecurityGroupResponse":{
      "type":"structure",
      "required":["securityGroup"],
      "members":{
        "securityGroup":{
          "shape":"SecurityGroup",
          "documentation":"<p>The details of the newly created security group, including its ID, name, and settings.</p>"
        }
      }
    },
    "DataRetentionActionType":{
      "type":"string",
      "enum":[
        "ENABLE",
        "DISABLE",
        "PUBKEY_MSG_ACK"
      ]
    },
    "DeleteBotRequest":{
      "type":"structure",
      "required":[
        "networkId",
        "botId"
      ],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network from which the bot will be deleted.</p>",
          "location":"uri",
          "locationName":"networkId"
        },
        "botId":{
          "shape":"BotId",
          "documentation":"<p>The unique identifier of the bot to be deleted.</p>",
          "location":"uri",
          "locationName":"botId"
        }
      }
    },
    "DeleteBotResponse":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"GenericString",
          "documentation":"<p>A message indicating the result of the bot deletion operation.</p>"
        }
      }
    },
    "DeleteDataRetentionBotRequest":{
      "type":"structure",
      "required":["networkId"],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network from which the data retention bot will be deleted.</p>",
          "location":"uri",
          "locationName":"networkId"
        }
      }
    },
    "DeleteDataRetentionBotResponse":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"GenericString",
          "documentation":"<p>A message indicating that the data retention bot and all associated data were successfully deleted.</p>"
        }
      }
    },
    "DeleteNetworkRequest":{
      "type":"structure",
      "required":["networkId"],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network to delete.</p>",
          "location":"uri",
          "locationName":"networkId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique identifier for this request to ensure idempotency. If you retry a request with the same client token, the service will return the same response without attempting to delete the network again.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"X-Client-Token"
        }
      }
    },
    "DeleteNetworkResponse":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"GenericString",
          "documentation":"<p>A message indicating that the network deletion has been initiated successfully.</p>"
        }
      }
    },
    "DeleteSecurityGroupRequest":{
      "type":"structure",
      "required":[
        "networkId",
        "groupId"
      ],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network from which the security group will be deleted.</p>",
          "location":"uri",
          "locationName":"networkId"
        },
        "groupId":{
          "shape":"GenericString",
          "documentation":"<p>The unique identifier of the security group to delete.</p>",
          "location":"uri",
          "locationName":"groupId"
        }
      }
    },
    "DeleteSecurityGroupResponse":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"GenericString",
          "documentation":"<p>A message indicating the result of the security group deletion operation.</p>"
        },
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the network from which the security group was deleted.</p>"
        },
        "groupId":{
          "shape":"GenericString",
          "documentation":"<p>The ID of the security group that was deleted.</p>"
        }
      }
    },
    "Devices":{
      "type":"list",
      "member":{"shape":"BasicDeviceObject"}
    },
    "ErrorDetail":{
      "type":"structure",
      "members":{
        "field":{
          "shape":"GenericString",
          "documentation":"<p>The name of the field that contains an error or warning.</p>"
        },
        "reason":{
          "shape":"GenericString",
          "documentation":"<p>A detailed description of the error or warning.</p>"
        }
      },
      "documentation":"<p>Contains detailed error information explaining why an operation failed, including which field caused the error and the reason for the failure.</p>"
    },
    "ErrorDetailList":{
      "type":"list",
      "member":{"shape":"ErrorDetail"}
    },
    "ForbiddenError":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"GenericString",
          "documentation":"<p>A message explaining why access was denied and what permissions are required.</p>"
        }
      },
      "documentation":"<p>Access to the requested resource is forbidden. This error occurs when the authenticated user does not have the necessary permissions to perform the requested operation, even though they are authenticated.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "GenericString":{
      "type":"string",
      "pattern":"[\\S\\s]*"
    },
    "GetBotRequest":{
      "type":"structure",
      "required":[
        "networkId",
        "botId"
      ],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network containing the bot.</p>",
          "location":"uri",
          "locationName":"networkId"
        },
        "botId":{
          "shape":"BotId",
          "documentation":"<p>The unique identifier of the bot to retrieve.</p>",
          "location":"uri",
          "locationName":"botId"
        }
      }
    },
    "GetBotResponse":{
      "type":"structure",
      "members":{
        "botId":{
          "shape":"GenericString",
          "documentation":"<p>The unique identifier of the bot.</p>"
        },
        "displayName":{
          "shape":"GenericString",
          "documentation":"<p>The display name of the bot that is visible to users.</p>"
        },
        "username":{
          "shape":"GenericString",
          "documentation":"<p>The username of the bot.</p>"
        },
        "uname":{
          "shape":"GenericString",
          "documentation":"<p>The unique username hash identifier for the bot.</p>"
        },
        "pubkey":{
          "shape":"GenericString",
          "documentation":"<p>The public key of the bot used for encryption.</p>"
        },
        "status":{
          "shape":"BotStatus",
          "documentation":"<p>The current status of the bot (1 for pending, 2 for active).</p>"
        },
        "groupId":{
          "shape":"GenericString",
          "documentation":"<p>The ID of the security group to which the bot belongs.</p>"
        },
        "hasChallenge":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the bot has a password set.</p>"
        },
        "suspended":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the bot is currently suspended.</p>"
        },
        "lastLogin":{
          "shape":"GenericString",
          "documentation":"<p>The timestamp of the bot's last login.</p>"
        }
      }
    },
    "GetBotsCountRequest":{
      "type":"structure",
      "required":["networkId"],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network for which to retrieve bot counts.</p>",
          "location":"uri",
          "locationName":"networkId"
        }
      }
    },
    "GetBotsCountResponse":{
      "type":"structure",
      "required":[
        "pending",
        "active",
        "total"
      ],
      "members":{
        "pending":{
          "shape":"Integer",
          "documentation":"<p>The number of bots with pending status (invited but not yet activated).</p>"
        },
        "active":{
          "shape":"Integer",
          "documentation":"<p>The number of bots with active status.</p>"
        },
        "total":{
          "shape":"Integer",
          "documentation":"<p>The total number of bots in the network (active and pending).</p>"
        }
      }
    },
    "GetDataRetentionBotRequest":{
      "type":"structure",
      "required":["networkId"],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network containing the data retention bot.</p>",
          "location":"uri",
          "locationName":"networkId"
        }
      }
    },
    "GetDataRetentionBotResponse":{
      "type":"structure",
      "members":{
        "botName":{
          "shape":"GenericString",
          "documentation":"<p>The name of the data retention bot.</p>"
        },
        "botExists":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether a data retention bot exists in the network.</p>"
        },
        "isBotActive":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the data retention bot is active and operational.</p>"
        },
        "isDataRetentionBotRegistered":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the data retention bot has been registered with the network.</p>"
        },
        "isDataRetentionServiceEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the data retention service is enabled for the network.</p>"
        },
        "isPubkeyMsgAcked":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the public key message has been acknowledged by the bot.</p>"
        }
      }
    },
    "GetGuestUserHistoryCountRequest":{
      "type":"structure",
      "required":["networkId"],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network for which to retrieve guest user history.</p>",
          "location":"uri",
          "locationName":"networkId"
        }
      }
    },
    "GetGuestUserHistoryCountResponse":{
      "type":"structure",
      "required":["history"],
      "members":{
        "history":{
          "shape":"GuestUserHistoryCountList",
          "documentation":"<p>A list of historical guest user counts, organized by month and billing period.</p>"
        }
      }
    },
    "GetNetworkRequest":{
      "type":"structure",
      "required":["networkId"],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network to retrieve.</p>",
          "location":"uri",
          "locationName":"networkId"
        }
      }
    },
    "GetNetworkResponse":{
      "type":"structure",
      "required":[
        "networkId",
        "networkName",
        "accessLevel",
        "awsAccountId",
        "networkArn"
      ],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The unique identifier of the network.</p>"
        },
        "networkName":{
          "shape":"GenericString",
          "documentation":"<p>The name of the network.</p>"
        },
        "accessLevel":{
          "shape":"AccessLevel",
          "documentation":"<p>The access level of the network (STANDARD or PREMIUM), which determines available features and capabilities.</p>"
        },
        "awsAccountId":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Web Services account ID that owns the network.</p>"
        },
        "networkArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the network.</p>"
        },
        "standing":{
          "shape":"Integer",
          "documentation":"<p>The current standing or status of the network.</p>"
        },
        "freeTrialExpiration":{
          "shape":"GenericString",
          "documentation":"<p>The expiration date and time for the network's free trial period, if applicable.</p>"
        },
        "migrationState":{
          "shape":"Integer",
          "documentation":"<p>The SSO redirect URI migration state, managed by the SSO redirect migration wizard. Values: 0 (not started), 1 (in progress), or 2 (completed).</p>"
        },
        "encryptionKeyArn":{
          "shape":"GenericString",
          "documentation":"<p>The ARN of the Amazon Web Services KMS customer managed key used for encrypting sensitive data in the network.</p>"
        }
      }
    },
    "GetNetworkSettingsRequest":{
      "type":"structure",
      "required":["networkId"],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network whose settings will be retrieved.</p>",
          "location":"uri",
          "locationName":"networkId"
        }
      }
    },
    "GetNetworkSettingsResponse":{
      "type":"structure",
      "required":["settings"],
      "members":{
        "settings":{
          "shape":"SettingsList",
          "documentation":"<p>A list of network settings, where each setting includes a name, value, and type.</p>"
        }
      }
    },
    "GetOidcInfoRequest":{
      "type":"structure",
      "required":["networkId"],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network whose OIDC configuration will be retrieved.</p>",
          "location":"uri",
          "locationName":"networkId"
        },
        "clientId":{
          "shape":"GenericString",
          "documentation":"<p>The OAuth client ID for retrieving access tokens (optional).</p>",
          "location":"querystring",
          "locationName":"clientId"
        },
        "code":{
          "shape":"GenericString",
          "documentation":"<p>The authorization code for retrieving access tokens (optional).</p>",
          "location":"querystring",
          "locationName":"code"
        },
        "grantType":{
          "shape":"GenericString",
          "documentation":"<p>The OAuth grant type for retrieving access tokens (optional).</p>",
          "location":"querystring",
          "locationName":"grantType"
        },
        "redirectUri":{
          "shape":"GenericString",
          "documentation":"<p>The redirect URI for the OAuth flow (optional).</p>",
          "location":"querystring",
          "locationName":"redirectUri"
        },
        "url":{
          "shape":"GenericString",
          "documentation":"<p>The URL for the OIDC provider (optional).</p>",
          "location":"querystring",
          "locationName":"url"
        },
        "clientSecret":{
          "shape":"SensitiveString",
          "documentation":"<p>The OAuth client secret for retrieving access tokens (optional).</p>",
          "location":"querystring",
          "locationName":"clientSecret"
        },
        "codeVerifier":{
          "shape":"GenericString",
          "documentation":"<p>The PKCE code verifier for enhanced security in the OAuth flow (optional).</p>",
          "location":"querystring",
          "locationName":"codeVerifier"
        },
        "certificate":{
          "shape":"GenericString",
          "documentation":"<p>The CA certificate for secure communication with the OIDC provider (optional).</p>",
          "location":"querystring",
          "locationName":"certificate"
        }
      }
    },
    "GetOidcInfoResponse":{
      "type":"structure",
      "members":{
        "openidConnectInfo":{
          "shape":"OidcConfigInfo",
          "documentation":"<p>The OpenID Connect configuration information for the network, including issuer, client ID, scopes, and other SSO settings.</p>"
        },
        "tokenInfo":{
          "shape":"OidcTokenInfo",
          "documentation":"<p>OAuth token information including access token, refresh token, and expiration details (only present if token parameters were provided in the request).</p>"
        }
      }
    },
    "GetSecurityGroupRequest":{
      "type":"structure",
      "required":[
        "networkId",
        "groupId"
      ],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network containing the security group.</p>",
          "location":"uri",
          "locationName":"networkId"
        },
        "groupId":{
          "shape":"GenericString",
          "documentation":"<p>The unique identifier of the security group to retrieve.</p>",
          "location":"uri",
          "locationName":"groupId"
        }
      }
    },
    "GetSecurityGroupResponse":{
      "type":"structure",
      "required":["securityGroup"],
      "members":{
        "securityGroup":{
          "shape":"SecurityGroup",
          "documentation":"<p>The detailed information about the security group, including all its settings and member counts.</p>"
        }
      }
    },
    "GetUserRequest":{
      "type":"structure",
      "required":[
        "networkId",
        "userId"
      ],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network containing the user.</p>",
          "location":"uri",
          "locationName":"networkId"
        },
        "userId":{
          "shape":"UserId",
          "documentation":"<p>The unique identifier of the user to retrieve.</p>",
          "location":"uri",
          "locationName":"userId"
        },
        "startTime":{
          "shape":"SyntheticTimestamp_epoch_seconds",
          "documentation":"<p>The start time for filtering the user's last activity. Only activity after this timestamp will be considered. Time is specified in epoch seconds.</p>",
          "location":"querystring",
          "locationName":"startTime"
        },
        "endTime":{
          "shape":"SyntheticTimestamp_epoch_seconds",
          "documentation":"<p>The end time for filtering the user's last activity. Only activity before this timestamp will be considered. Time is specified in epoch seconds.</p>",
          "location":"querystring",
          "locationName":"endTime"
        }
      }
    },
    "GetUserResponse":{
      "type":"structure",
      "required":["userId"],
      "members":{
        "userId":{
          "shape":"UserId",
          "documentation":"<p>The unique identifier of the user.</p>"
        },
        "firstName":{
          "shape":"SensitiveString",
          "documentation":"<p>The first name of the user.</p>"
        },
        "lastName":{
          "shape":"SensitiveString",
          "documentation":"<p>The last name of the user.</p>"
        },
        "username":{
          "shape":"GenericString",
          "documentation":"<p>The email address or username of the user.</p>"
        },
        "isAdmin":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the user has administrator privileges in the network.</p>"
        },
        "suspended":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the user is currently suspended.</p>"
        },
        "status":{
          "shape":"Integer",
          "documentation":"<p>The current status of the user (1 for pending, 2 for active).</p>"
        },
        "lastActivity":{
          "shape":"Integer",
          "documentation":"<p>The timestamp of the user's last activity in the network, specified in epoch seconds.</p>"
        },
        "lastLogin":{
          "shape":"Integer",
          "documentation":"<p>The timestamp of the user's last login to the network, specified in epoch seconds.</p>"
        },
        "securityGroupIds":{
          "shape":"SecurityGroupIdList",
          "documentation":"<p>A list of security group IDs to which the user belongs.</p>"
        }
      }
    },
    "GetUsersCountRequest":{
      "type":"structure",
      "required":["networkId"],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network for which to retrieve user counts.</p>",
          "location":"uri",
          "locationName":"networkId"
        }
      }
    },
    "GetUsersCountResponse":{
      "type":"structure",
      "required":[
        "pending",
        "active",
        "rejected",
        "remaining",
        "total"
      ],
      "members":{
        "pending":{
          "shape":"Integer",
          "documentation":"<p>The number of users with pending status (invited but not yet accepted).</p>"
        },
        "active":{
          "shape":"Integer",
          "documentation":"<p>The number of users with active status in the network.</p>"
        },
        "rejected":{
          "shape":"Integer",
          "documentation":"<p>The number of users who have rejected network invitations.</p>"
        },
        "remaining":{
          "shape":"Integer",
          "documentation":"<p>The number of additional users that can be added to the network while maintaining premium free trial eligibility.</p>"
        },
        "total":{
          "shape":"Integer",
          "documentation":"<p>The total number of users in the network (active and pending combined).</p>"
        }
      }
    },
    "GuestUser":{
      "type":"structure",
      "required":[
        "billingPeriod",
        "username",
        "usernameHash"
      ],
      "members":{
        "billingPeriod":{
          "shape":"GenericString",
          "documentation":"<p>The billing period when this guest user accessed the network (e.g., '2024-01').</p>"
        },
        "username":{
          "shape":"GenericString",
          "documentation":"<p>The username of the guest user.</p>"
        },
        "usernameHash":{
          "shape":"GenericString",
          "documentation":"<p>The unique username hash identifier for the guest user.</p>"
        }
      },
      "documentation":"<p>Represents a guest user who has accessed the network from a federated Wickr network.</p>"
    },
    "GuestUserHistoryCount":{
      "type":"structure",
      "required":[
        "month",
        "count"
      ],
      "members":{
        "month":{
          "shape":"GenericString",
          "documentation":"<p>The month and billing period in YYYY_MM format (e.g., '2024_01').</p>"
        },
        "count":{
          "shape":"GenericString",
          "documentation":"<p>The number of guest users who have communicated with your Wickr network during this billing period.</p>"
        }
      },
      "documentation":"<p>Contains the count of guest users for a specific billing period, used for tracking historical guest user activity.</p>"
    },
    "GuestUserHistoryCountList":{
      "type":"list",
      "member":{"shape":"GuestUserHistoryCount"}
    },
    "GuestUserList":{
      "type":"list",
      "member":{"shape":"GuestUser"}
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerError":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{
          "shape":"GenericString",
          "documentation":"<p>A message describing the internal server error that occurred.</p>"
        }
      },
      "documentation":"<p>An unexpected error occurred on the server while processing the request. This indicates a problem with the Wickr service itself rather than with the request. If this error persists, contact Amazon Web Services Support.</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "ListBlockedGuestUsersRequest":{
      "type":"structure",
      "required":["networkId"],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network from which to list blocked guest users.</p>",
          "location":"uri",
          "locationName":"networkId"
        },
        "maxResults":{
          "shape":"Integer",
          "documentation":"<p>The maximum number of blocked guest users to return in a single page. Valid range is 1-100. Default is 10.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "sortDirection":{
          "shape":"SortDirection",
          "documentation":"<p>The direction to sort results. Valid values are 'ASC' (ascending) or 'DESC' (descending). Default is 'DESC'.</p>",
          "location":"querystring",
          "locationName":"sortDirection"
        },
        "sortFields":{
          "shape":"GenericString",
          "documentation":"<p>The field to sort blocked guest users by. Accepted values include 'username', 'admin', and 'modified'.</p>",
          "location":"querystring",
          "locationName":"sortFields"
        },
        "username":{
          "shape":"GenericString",
          "documentation":"<p>Filter results to only include blocked guest users with usernames matching this value.</p>",
          "location":"querystring",
          "locationName":"username"
        },
        "admin":{
          "shape":"GenericString",
          "documentation":"<p>Filter results to only include blocked guest users that were blocked by this administrator.</p>",
          "location":"querystring",
          "locationName":"admin"
        },
        "nextToken":{
          "shape":"GenericString",
          "documentation":"<p>The token for retrieving the next page of results. This is returned from a previous request when there are more results available.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListBlockedGuestUsersResponse":{
      "type":"structure",
      "required":["blocklist"],
      "members":{
        "nextToken":{
          "shape":"GenericString",
          "documentation":"<p>The token to use for retrieving the next page of results. If this is not present, there are no more results.</p>"
        },
        "blocklist":{
          "shape":"BlockedGuestUserList",
          "documentation":"<p>A list of blocked guest user objects within the current page.</p>"
        }
      }
    },
    "ListBotsRequest":{
      "type":"structure",
      "required":["networkId"],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network from which to list bots.</p>",
          "location":"uri",
          "locationName":"networkId"
        },
        "nextToken":{
          "shape":"GenericString",
          "documentation":"<p>The token for retrieving the next page of results. This is returned from a previous request when there are more results available.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"Integer",
          "documentation":"<p>The maximum number of bots to return in a single page. Valid range is 1-100. Default is 10.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "sortFields":{
          "shape":"GenericString",
          "documentation":"<p>The fields to sort bots by. Multiple fields can be specified by separating them with '+'. Accepted values include 'username', 'firstName', 'displayName', 'status', and 'groupId'.</p>",
          "location":"querystring",
          "locationName":"sortFields"
        },
        "sortDirection":{
          "shape":"SortDirection",
          "documentation":"<p>The direction to sort results. Valid values are 'ASC' (ascending) or 'DESC' (descending). Default is 'DESC'.</p>",
          "location":"querystring",
          "locationName":"sortDirection"
        },
        "displayName":{
          "shape":"GenericString",
          "documentation":"<p>Filter results to only include bots with display names matching this value.</p>",
          "location":"querystring",
          "locationName":"displayName"
        },
        "username":{
          "shape":"GenericString",
          "documentation":"<p>Filter results to only include bots with usernames matching this value.</p>",
          "location":"querystring",
          "locationName":"username"
        },
        "status":{
          "shape":"BotStatus",
          "documentation":"<p>Filter results to only include bots with this status (1 for pending, 2 for active).</p>",
          "location":"querystring",
          "locationName":"status"
        },
        "groupId":{
          "shape":"GenericString",
          "documentation":"<p>Filter results to only include bots belonging to this security group.</p>",
          "location":"querystring",
          "locationName":"groupId"
        }
      }
    },
    "ListBotsResponse":{
      "type":"structure",
      "required":["bots"],
      "members":{
        "bots":{
          "shape":"Bots",
          "documentation":"<p>A list of bot objects matching the specified filters and within the current page.</p>"
        },
        "nextToken":{
          "shape":"GenericString",
          "documentation":"<p>The token to use for retrieving the next page of results. If this is not present, there are no more results.</p>"
        }
      }
    },
    "ListDevicesForUserRequest":{
      "type":"structure",
      "required":[
        "networkId",
        "userId"
      ],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network containing the user.</p>",
          "location":"uri",
          "locationName":"networkId"
        },
        "userId":{
          "shape":"UserId",
          "documentation":"<p>The unique identifier of the user whose devices will be listed.</p>",
          "location":"uri",
          "locationName":"userId"
        },
        "nextToken":{
          "shape":"GenericString",
          "documentation":"<p>The token for retrieving the next page of results. This is returned from a previous request when there are more results available.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"Integer",
          "documentation":"<p>The maximum number of devices to return in a single page. Valid range is 1-100. Default is 10.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "sortFields":{
          "shape":"GenericString",
          "documentation":"<p>The fields to sort devices by. Multiple fields can be specified by separating them with '+'. Accepted values include 'lastlogin', 'type', 'suspend', and 'created'.</p>",
          "location":"querystring",
          "locationName":"sortFields"
        },
        "sortDirection":{
          "shape":"SortDirection",
          "documentation":"<p>The direction to sort results. Valid values are 'ASC' (ascending) or 'DESC' (descending). Default is 'DESC'.</p>",
          "location":"querystring",
          "locationName":"sortDirection"
        }
      }
    },
    "ListDevicesForUserResponse":{
      "type":"structure",
      "required":["devices"],
      "members":{
        "nextToken":{
          "shape":"GenericString",
          "documentation":"<p>The token to use for retrieving the next page of results. If this is not present, there are no more results.</p>"
        },
        "devices":{
          "shape":"Devices",
          "documentation":"<p>A list of device objects associated with the user within the current page.</p>"
        }
      }
    },
    "ListGuestUsersRequest":{
      "type":"structure",
      "required":["networkId"],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network from which to list guest users.</p>",
          "location":"uri",
          "locationName":"networkId"
        },
        "maxResults":{
          "shape":"Integer",
          "documentation":"<p>The maximum number of guest users to return in a single page. Valid range is 1-100. Default is 10.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "sortDirection":{
          "shape":"SortDirection",
          "documentation":"<p>The direction to sort results. Valid values are 'ASC' (ascending) or 'DESC' (descending). Default is 'DESC'.</p>",
          "location":"querystring",
          "locationName":"sortDirection"
        },
        "sortFields":{
          "shape":"GenericString",
          "documentation":"<p>The field to sort guest users by. Accepted values include 'username' and 'billingPeriod'.</p>",
          "location":"querystring",
          "locationName":"sortFields"
        },
        "username":{
          "shape":"GenericString",
          "documentation":"<p>Filter results to only include guest users with usernames matching this value.</p>",
          "location":"querystring",
          "locationName":"username"
        },
        "billingPeriod":{
          "shape":"GenericString",
          "documentation":"<p>Filter results to only include guest users from this billing period (e.g., '2024-01').</p>",
          "location":"querystring",
          "locationName":"billingPeriod"
        },
        "nextToken":{
          "shape":"GenericString",
          "documentation":"<p>The token for retrieving the next page of results. This is returned from a previous request when there are more results available.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListGuestUsersResponse":{
      "type":"structure",
      "required":["guestlist"],
      "members":{
        "nextToken":{
          "shape":"GenericString",
          "documentation":"<p>The token to use for retrieving the next page of results. If this is not present, there are no more results.</p>"
        },
        "guestlist":{
          "shape":"GuestUserList",
          "documentation":"<p>A list of guest user objects within the current page.</p>"
        }
      }
    },
    "ListNetworksRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"Integer",
          "documentation":"<p>The maximum number of networks to return in a single page. Valid range is 1-100. Default is 10.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "sortFields":{
          "shape":"GenericString",
          "documentation":"<p>The field to sort networks by. Accepted values are 'networkId' and 'networkName'. Default is 'networkId'.</p>",
          "location":"querystring",
          "locationName":"sortFields"
        },
        "sortDirection":{
          "shape":"SortDirection",
          "documentation":"<p>The direction to sort results. Valid values are 'ASC' (ascending) or 'DESC' (descending). Default is 'DESC'.</p>",
          "location":"querystring",
          "locationName":"sortDirection"
        },
        "nextToken":{
          "shape":"GenericString",
          "documentation":"<p>The token for retrieving the next page of results. This is returned from a previous request when there are more results available.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListNetworksResponse":{
      "type":"structure",
      "required":["networks"],
      "members":{
        "networks":{
          "shape":"NetworkList",
          "documentation":"<p>A list of network objects for the Amazon Web Services account.</p>"
        },
        "nextToken":{
          "shape":"GenericString",
          "documentation":"<p>The token to use for retrieving the next page of results. If this is not present, there are no more results.</p>"
        }
      }
    },
    "ListSecurityGroupUsersRequest":{
      "type":"structure",
      "required":[
        "networkId",
        "groupId"
      ],
      "members":{
        "networkId":{
          "shape":"NetworkId",
          "documentation":"<p>The ID of the Wickr network containing the security group.</p>",
          "location":"uri",
          "locationName":"networkId"
        },
        "groupId":{
          "shape":"GenericString",
          "documentation":"<p>The unique identifier of the security group whose users will be listed.</p>",
          "location":"uri",
          "locationName":"groupId"
        },
        "nextToken":{
          "shape":"GenericString",
[...]
