{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-01-04",
    "endpointPrefix":"ram",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceAbbreviation":"RAM",
    "serviceFullName":"AWS Resource Access Manager",
    "serviceId":"RAM",
    "signatureVersion":"v4",
    "uid":"ram-2018-01-04"
  },
  "operations":{
    "AcceptResourceShareInvitation":{
      "name":"AcceptResourceShareInvitation",
      "http":{
        "method":"POST",
        "requestUri":"/acceptresourceshareinvitation"
      },
      "input":{"shape":"AcceptResourceShareInvitationRequest"},
      "output":{"shape":"AcceptResourceShareInvitationResponse"},
      "errors":[
        {"shape":"MalformedArnException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceShareInvitationArnNotFoundException"},
        {"shape":"ResourceShareInvitationAlreadyAcceptedException"},
        {"shape":"ResourceShareInvitationAlreadyRejectedException"},
        {"shape":"ResourceShareInvitationExpiredException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidClientTokenException"},
        {"shape":"IdempotentParameterMismatchException"}
      ],
      "documentation":"<p>Accepts an invitation to a resource share from another Amazon Web Services account. After you accept the invitation, the resources included in the resource share are available to interact with in the relevant Amazon Web Services Management Consoles and tools.</p>"
    },
    "AssociateResourceShare":{
      "name":"AssociateResourceShare",
      "http":{
        "method":"POST",
        "requestUri":"/associateresourceshare"
      },
      "input":{"shape":"AssociateResourceShareRequest"},
      "output":{"shape":"AssociateResourceShareResponse"},
      "errors":[
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"UnknownResourceException"},
        {"shape":"InvalidStateTransitionException"},
        {"shape":"ResourceShareLimitExceededException"},
        {"shape":"MalformedArnException"},
        {"shape":"InvalidStateTransitionException"},
        {"shape":"InvalidClientTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"UnknownResourceException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Adds the specified list of principals and list of resources to a resource share. Principals that already have access to this resource share immediately receive access to the added resources. Newly added principals immediately receive access to the resources shared in this resource share. </p>"
    },
    "AssociateResourceSharePermission":{
      "name":"AssociateResourceSharePermission",
      "http":{
        "method":"POST",
        "requestUri":"/associateresourcesharepermission"
      },
      "input":{"shape":"AssociateResourceSharePermissionRequest"},
      "output":{"shape":"AssociateResourceSharePermissionResponse"},
      "errors":[
        {"shape":"MalformedArnException"},
        {"shape":"UnknownResourceException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidClientTokenException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Adds or replaces the RAM permission for a resource type included in a resource share. You can have exactly one permission associated with each resource type in the resource share. You can add a new RAM permission only if there are currently no resources of that resource type currently in the resource share.</p>"
    },
    "CreateResourceShare":{
      "name":"CreateResourceShare",
      "http":{
        "method":"POST",
        "requestUri":"/createresourceshare"
      },
      "input":{"shape":"CreateResourceShareRequest"},
      "output":{"shape":"CreateResourceShareResponse"},
      "errors":[
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"InvalidStateTransitionException"},
        {"shape":"UnknownResourceException"},
        {"shape":"MalformedArnException"},
        {"shape":"InvalidClientTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceShareLimitExceededException"},
        {"shape":"TagPolicyViolationException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Creates a resource share. You can provide a list of the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> for the resources that you want to share, a list of principals you want to share the resources with, and the permissions to grant those principals.</p> <note> <p>Sharing a resource makes it available for use by principals outside of the Amazon Web Services account that created the resource. Sharing doesn't change any permissions or quotas that apply to the resource in the account that created it.</p> </note>"
    },
    "DeleteResourceShare":{
      "name":"DeleteResourceShare",
      "http":{
        "method":"DELETE",
        "requestUri":"/deleteresourceshare"
      },
      "input":{"shape":"DeleteResourceShareRequest"},
      "output":{"shape":"DeleteResourceShareResponse"},
      "errors":[
        {"shape":"OperationNotPermittedException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"InvalidStateTransitionException"},
        {"shape":"UnknownResourceException"},
        {"shape":"MalformedArnException"},
        {"shape":"InvalidClientTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Deletes the specified resource share. This doesn't delete any of the resources that were associated with the resource share; it only stops the sharing of those resources outside of the Amazon Web Services account that created them.</p>"
    },
    "DisassociateResourceShare":{
      "name":"DisassociateResourceShare",
      "http":{
        "method":"POST",
        "requestUri":"/disassociateresourceshare"
      },
      "input":{"shape":"DisassociateResourceShareRequest"},
      "output":{"shape":"DisassociateResourceShareResponse"},
      "errors":[
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ResourceShareLimitExceededException"},
        {"shape":"MalformedArnException"},
        {"shape":"InvalidStateTransitionException"},
        {"shape":"InvalidClientTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"UnknownResourceException"}
      ],
      "documentation":"<p>Disassociates the specified principals or resources from the specified resource share.</p>"
    },
    "DisassociateResourceSharePermission":{
      "name":"DisassociateResourceSharePermission",
      "http":{
        "method":"POST",
        "requestUri":"/disassociateresourcesharepermission"
      },
      "input":{"shape":"DisassociateResourceSharePermissionRequest"},
      "output":{"shape":"DisassociateResourceSharePermissionResponse"},
      "errors":[
        {"shape":"MalformedArnException"},
        {"shape":"UnknownResourceException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidClientTokenException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"InvalidStateTransitionException"}
      ],
      "documentation":"<p>Disassociates an RAM permission from a resource share. Permission changes take effect immediately. You can remove a RAM permission from a resource share only if there are currently no resources of the relevant resource type currently attached to the resource share.</p>"
    },
    "EnableSharingWithAwsOrganization":{
      "name":"EnableSharingWithAwsOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/enablesharingwithawsorganization"
      },
      "input":{"shape":"EnableSharingWithAwsOrganizationRequest"},
      "output":{"shape":"EnableSharingWithAwsOrganizationResponse"},
      "errors":[
        {"shape":"OperationNotPermittedException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Enables resource sharing within your organization in Organizations. Calling this operation enables RAM to retrieve information about the organization and its structure. This lets you share resources with all of the accounts in an organization by specifying the organization's ID, or all of the accounts in an organizational unit (OU) by specifying the OU's ID. Until you enable sharing within the organization, you can specify only individual Amazon Web Services accounts, or for supported resource types, IAM users and roles.</p> <p>You must call this operation from an IAM user or role in the organization's management account.</p>"
    },
    "GetPermission":{
      "name":"GetPermission",
      "http":{
        "method":"POST",
        "requestUri":"/getpermission"
      },
      "input":{"shape":"GetPermissionRequest"},
      "output":{"shape":"GetPermissionResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"MalformedArnException"},
        {"shape":"UnknownResourceException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Gets the contents of an RAM permission in JSON format.</p>"
    },
    "GetResourcePolicies":{
      "name":"GetResourcePolicies",
      "http":{
        "method":"POST",
        "requestUri":"/getresourcepolicies"
      },
      "input":{"shape":"GetResourcePoliciesRequest"},
      "output":{"shape":"GetResourcePoliciesResponse"},
      "errors":[
        {"shape":"MalformedArnException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceArnNotFoundException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Retrieves the resource policies for the specified resources that you own and have shared.</p>"
    },
    "GetResourceShareAssociations":{
      "name":"GetResourceShareAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/getresourceshareassociations"
      },
      "input":{"shape":"GetResourceShareAssociationsRequest"},
      "output":{"shape":"GetResourceShareAssociationsResponse"},
      "errors":[
        {"shape":"UnknownResourceException"},
        {"shape":"MalformedArnException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Retrieves the resource and principal associations for resource shares that you own.</p>"
    },
    "GetResourceShareInvitations":{
      "name":"GetResourceShareInvitations",
      "http":{
        "method":"POST",
        "requestUri":"/getresourceshareinvitations"
      },
      "input":{"shape":"GetResourceShareInvitationsRequest"},
      "output":{"shape":"GetResourceShareInvitationsResponse"},
      "errors":[
        {"shape":"ResourceShareInvitationArnNotFoundException"},
        {"shape":"InvalidMaxResultsException"},
        {"shape":"MalformedArnException"},
        {"shape":"UnknownResourceException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Retrieves details about invitations that you have received for resource shares.</p>"
    },
    "GetResourceShares":{
      "name":"GetResourceShares",
      "http":{
        "method":"POST",
        "requestUri":"/getresourceshares"
      },
      "input":{"shape":"GetResourceSharesRequest"},
      "output":{"shape":"GetResourceSharesResponse"},
      "errors":[
        {"shape":"UnknownResourceException"},
        {"shape":"MalformedArnException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Retrieves details about the resource shares that you own or that are shared with you.</p>"
    },
    "ListPendingInvitationResources":{
      "name":"ListPendingInvitationResources",
      "http":{
        "method":"POST",
        "requestUri":"/listpendinginvitationresources"
      },
      "input":{"shape":"ListPendingInvitationResourcesRequest"},
      "output":{"shape":"ListPendingInvitationResourcesResponse"},
      "errors":[
        {"shape":"MalformedArnException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceShareInvitationArnNotFoundException"},
        {"shape":"MissingRequiredParameterException"},
        {"shape":"ResourceShareInvitationAlreadyRejectedException"},
        {"shape":"ResourceShareInvitationExpiredException"}
      ],
      "documentation":"<p>Lists the resources in a resource share that is shared with you but for which the invitation is still <code>PENDING</code>. That means that you haven't accepted or rejected the invitation and the invitation hasn't expired.</p>"
    },
    "ListPermissionVersions":{
      "name":"ListPermissionVersions",
      "http":{
        "method":"POST",
        "requestUri":"/listpermissionversions"
      },
      "input":{"shape":"ListPermissionVersionsRequest"},
      "output":{"shape":"ListPermissionVersionsResponse"},
      "errors":[
        {"shape":"MalformedArnException"},
        {"shape":"UnknownResourceException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Lists the available versions of the specified RAM permission.</p>"
    },
    "ListPermissions":{
      "name":"ListPermissions",
      "http":{
        "method":"POST",
        "requestUri":"/listpermissions"
      },
      "input":{"shape":"ListPermissionsRequest"},
      "output":{"shape":"ListPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Retrieves a list of available RAM permissions that you can use for the supported resource types. </p>"
    },
    "ListPrincipals":{
      "name":"ListPrincipals",
      "http":{
        "method":"POST",
        "requestUri":"/listprincipals"
      },
      "input":{"shape":"ListPrincipalsRequest"},
      "output":{"shape":"ListPrincipalsResponse"},
      "errors":[
        {"shape":"MalformedArnException"},
        {"shape":"UnknownResourceException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Lists the principals that you are sharing resources with or that are sharing resources with you.</p>"
    },
    "ListResourceSharePermissions":{
      "name":"ListResourceSharePermissions",
      "http":{
        "method":"POST",
        "requestUri":"/listresourcesharepermissions"
      },
      "input":{"shape":"ListResourceSharePermissionsRequest"},
      "output":{"shape":"ListResourceSharePermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"MalformedArnException"},
        {"shape":"UnknownResourceException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Lists the RAM permissions that are associated with a resource share.</p>"
    },
    "ListResourceTypes":{
      "name":"ListResourceTypes",
      "http":{
        "method":"POST",
        "requestUri":"/listresourcetypes"
      },
      "input":{"shape":"ListResourceTypesRequest"},
      "output":{"shape":"ListResourceTypesResponse"},
      "errors":[
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Lists the resource types that can be shared by RAM.</p>"
    },
    "ListResources":{
      "name":"ListResources",
      "http":{
        "method":"POST",
        "requestUri":"/listresources"
      },
      "input":{"shape":"ListResourcesRequest"},
      "output":{"shape":"ListResourcesResponse"},
      "errors":[
        {"shape":"InvalidResourceTypeException"},
        {"shape":"UnknownResourceException"},
        {"shape":"MalformedArnException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Lists the resources that you added to a resource shares or the resources that are shared with you.</p>"
    },
    "PromoteResourceShareCreatedFromPolicy":{
      "name":"PromoteResourceShareCreatedFromPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/promoteresourcesharecreatedfrompolicy"
      },
      "input":{"shape":"PromoteResourceShareCreatedFromPolicyRequest"},
      "output":{"shape":"PromoteResourceShareCreatedFromPolicyResponse"},
      "errors":[
        {"shape":"MalformedArnException"},
        {"shape":"ResourceShareLimitExceededException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MissingRequiredParameterException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"UnknownResourceException"}
      ],
      "documentation":"<p>When you attach a resource-based permission policy to a resource, it automatically creates a resource share. However, resource shares created this way are visible only to the resource share owner, and the resource share can't be modified in RAM.</p> <p>You can use this operation to promote the resource share to a full RAM resource share. When you promote a resource share, you can then manage the resource share in RAM and it becomes visible to all of the principals you shared it with.</p>"
    },
    "RejectResourceShareInvitation":{
      "name":"RejectResourceShareInvitation",
      "http":{
        "method":"POST",
        "requestUri":"/rejectresourceshareinvitation"
      },
      "input":{"shape":"RejectResourceShareInvitationRequest"},
      "output":{"shape":"RejectResourceShareInvitationResponse"},
      "errors":[
        {"shape":"MalformedArnException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceShareInvitationArnNotFoundException"},
        {"shape":"ResourceShareInvitationAlreadyAcceptedException"},
        {"shape":"ResourceShareInvitationAlreadyRejectedException"},
        {"shape":"ResourceShareInvitationExpiredException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidClientTokenException"},
        {"shape":"IdempotentParameterMismatchException"}
      ],
      "documentation":"<p>Rejects an invitation to a resource share from another Amazon Web Services account.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tagresource"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"MalformedArnException"},
        {"shape":"UnknownResourceException"},
        {"shape":"TagLimitExceededException"},
        {"shape":"ResourceArnNotFoundException"},
        {"shape":"TagPolicyViolationException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Adds the specified tag keys and values to the specified resource share. The tags are attached only to the resource share, not to the resources that are in the resource share.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/untagresource"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Removes the specified tag key and value pairs from the specified resource share.</p>"
    },
    "UpdateResourceShare":{
      "name":"UpdateResourceShare",
      "http":{
        "method":"POST",
        "requestUri":"/updateresourceshare"
      },
      "input":{"shape":"UpdateResourceShareRequest"},
      "output":{"shape":"UpdateResourceShareResponse"},
      "errors":[
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"MissingRequiredParameterException"},
        {"shape":"UnknownResourceException"},
        {"shape":"MalformedArnException"},
        {"shape":"InvalidClientTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"ServerInternalException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Modifies some of the properties of the specified resource share.</p>"
    }
  },
  "shapes":{
    "AcceptResourceShareInvitationRequest":{
      "type":"structure",
      "required":["resourceShareInvitationArn"],
      "members":{
        "resourceShareInvitationArn":{
          "shape":"String",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the invitation that you want to accept.</p>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>"
        }
      }
    },
    "AcceptResourceShareInvitationResponse":{
      "type":"structure",
      "members":{
        "resourceShareInvitation":{
          "shape":"ResourceShareInvitation",
          "documentation":"<p>An object that contains information about the specified invitation.</p>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>The idempotency identifier associated with this request. If you want to repeat the same operation in an idempotent manner then you must include this value in the <code>clientToken</code> request parameter of that later call. All other parameters must also have the same values that you used in the first call.</p>"
        }
      }
    },
    "AssociateResourceSharePermissionRequest":{
      "type":"structure",
      "required":[
        "resourceShareArn",
        "permissionArn"
      ],
      "members":{
        "resourceShareArn":{
          "shape":"String",
          "documentation":"<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share to which you want to add or replace permissions.</p>"
        },
        "permissionArn":{
          "shape":"String",
          "documentation":"<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the RAM permission to associate with the resource share. To find the ARN for a permission, use either the <a>ListPermissions</a> operation or go to the <a href=\"https://console.aws.amazon.com/ram/home#Permissions:\">Permissions library</a> page in the RAM console and then choose the name of the permission. The ARN is displayed on the detail page.</p>"
        },
        "replace":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the specified permission should replace or add to the existing permission associated with the resource share. Use <code>true</code> to replace the current permissions. Use <code>false</code> to add the permission to the current permission. The default value is <code>false</code>.</p> <note> <p>A resource share can have only one permission per resource type. If a resource share already has a permission for the specified resource type and you don't set <code>replace</code> to <code>true</code> then the operation returns an error. This helps prevent accidental overwriting of a permission.</p> </note>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>"
        },
        "permissionVersion":{
          "shape":"Integer",
          "documentation":"<p>Specifies the version of the RAM permission to associate with the resource share. If you don't specify this parameter, the operation uses the version designated as the default. You can use the <a>ListPermissionVersions</a> operation to discover the available versions of a permission.</p>"
        }
      }
    },
    "AssociateResourceSharePermissionResponse":{
      "type":"structure",
      "members":{
        "returnValue":{
          "shape":"Boolean",
          "documentation":"<p>A return value of <code>true</code> indicates that the request succeeded. A value of <code>false</code> indicates that the request failed.</p>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>The idempotency identifier associated with this request. If you want to repeat the same operation in an idempotent manner then you must include this value in the <code>clientToken</code> request parameter of that later call. All other parameters must also have the same values that you used in the first call.</p>"
        }
      }
    },
    "AssociateResourceShareRequest":{
      "type":"structure",
      "required":["resourceShareArn"],
      "members":{
        "resourceShareArn":{
          "shape":"String",
          "documentation":"<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share that you want to add principals or resources to.</p>"
        },
        "resourceArns":{
          "shape":"ResourceArnList",
          "documentation":"<p>Specifies a list of <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> of the resources that you want to share. This can be <code>null</code> if you want to add only principals.</p>"
        },
        "principals":{
          "shape":"PrincipalArnOrIdList",
          "documentation":"<p>Specifies a list of principals to whom you want to the resource share. This can be <code>null</code> if you want to add only resources.</p> <p>What the principals can do with the resources in the share is determined by the RAM permissions that you associate with the resource share. See <a>AssociateResourceSharePermission</a>.</p> <p>You can include the following values:</p> <ul> <li> <p>An Amazon Web Services account ID, for example: <code>123456789012</code> </p> </li> <li> <p>An <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of an organization in Organizations, for example: <code>organizations::123456789012:organization/o-exampleorgid</code> </p> </li> <li> <p>An ARN of an organizational unit (OU) in Organizations, for example: <code>organizations::123456789012:ou/o-exampleorgid/ou-examplerootid-exampleouid123</code> </p> </li> <li> <p>An ARN of an IAM role, for example: <code>iam::123456789012:role/rolename</code> </p> </li> <li> <p>An ARN of an IAM user, for example: <code>iam::123456789012user/username</code> </p> </li> </ul> <note> <p>Not all resource types can be shared with IAM roles and users. For more information, see <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/permissions.html#permissions-rbp-supported-resource-types\">Sharing with IAM roles and users</a> in the <i>Resource Access Manager User Guide</i>.</p> </note>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>"
        }
      }
    },
    "AssociateResourceShareResponse":{
      "type":"structure",
      "members":{
        "resourceShareAssociations":{
          "shape":"ResourceShareAssociationList",
          "documentation":"<p>An array of objects that contain information about the associations.</p>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>The idempotency identifier associated with this request. If you want to repeat the same operation in an idempotent manner then you must include this value in the <code>clientToken</code> request parameter of that later call. All other parameters must also have the same values that you used in the first call.</p>"
        }
      }
    },
    "Boolean":{"type":"boolean"},
    "CreateResourceShareRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the resource share.</p>"
        },
        "resourceArns":{
          "shape":"ResourceArnList",
          "documentation":"<p>Specifies a list of one or more ARNs of the resources to associate with the resource share.</p>"
        },
        "principals":{
          "shape":"PrincipalArnOrIdList",
          "documentation":"<p>Specifies a list of one or more principals to associate with the resource share.</p> <p>You can include the following values:</p> <ul> <li> <p>An Amazon Web Services account ID, for example: <code>123456789012</code> </p> </li> <li> <p>An <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of an organization in Organizations, for example: <code>organizations::123456789012:organization/o-exampleorgid</code> </p> </li> <li> <p>An ARN of an organizational unit (OU) in Organizations, for example: <code>organizations::123456789012:ou/o-exampleorgid/ou-examplerootid-exampleouid123</code> </p> </li> <li> <p>An ARN of an IAM role, for example: <code>iam::123456789012:role/rolename</code> </p> </li> <li> <p>An ARN of an IAM user, for example: <code>iam::123456789012user/username</code> </p> </li> </ul> <note> <p>Not all resource types can be shared with IAM roles and users. For more information, see <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/permissions.html#permissions-rbp-supported-resource-types\">Sharing with IAM roles and users</a> in the <i>Resource Access Manager User Guide</i>.</p> </note>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>Specifies one or more tags to attach to the resource share itself. It doesn't attach the tags to the resources associated with the resource share.</p>"
        },
        "allowExternalPrincipals":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether principals outside your organization in Organizations can be associated with a resource share. A value of <code>true</code> lets you share with individual Amazon Web Services accounts that are <i>not</i> in your organization. A value of <code>false</code> only has meaning if your account is a member of an Amazon Web Services Organization. The default value is <code>true</code>.</p>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>"
        },
        "permissionArns":{
          "shape":"PermissionArnList",
          "documentation":"<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> of the RAM permission to associate with the resource share. If you do not specify an ARN for the permission, RAM automatically attaches the default version of the permission for each resource type. You can associate only one permission with each resource type included in the resource share.</p>"
        }
      }
    },
    "CreateResourceShareResponse":{
      "type":"structure",
      "members":{
        "resourceShare":{
          "shape":"ResourceShare",
          "documentation":"<p>An object with information about the new resource share.</p>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>The idempotency identifier associated with this request. If you want to repeat the same operation in an idempotent manner then you must include this value in the <code>clientToken</code> request parameter of that later call. All other parameters must also have the same values that you used in the first call.</p>"
        }
      }
    },
    "DateTime":{"type":"timestamp"},
    "DeleteResourceShareRequest":{
      "type":"structure",
      "required":["resourceShareArn"],
      "members":{
        "resourceShareArn":{
          "shape":"String",
          "documentation":"<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share to delete.</p>",
          "location":"querystring",
          "locationName":"resourceShareArn"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>",
          "location":"querystring",
          "locationName":"clientToken"
        }
      }
    },
    "DeleteResourceShareResponse":{
      "type":"structure",
      "members":{
        "returnValue":{
          "shape":"Boolean",
          "documentation":"<p>A return value of <code>true</code> indicates that the request succeeded. A value of <code>false</code> indicates that the request failed.</p>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>The idempotency identifier associated with this request. If you want to repeat the same operation in an idempotent manner then you must include this value in the <code>clientToken</code> request parameter of that later call. All other parameters must also have the same values that you used in the first call.</p>"
        }
      }
    },
    "DisassociateResourceSharePermissionRequest":{
      "type":"structure",
      "required":[
        "resourceShareArn",
        "permissionArn"
      ],
      "members":{
        "resourceShareArn":{
          "shape":"String",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share from which you want to disassociate a permission.</p>"
        },
        "permissionArn":{
          "shape":"String",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the permission to disassociate from the resource share. Changes to permissions take effect immediately.</p>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>"
        }
      }
    },
    "DisassociateResourceSharePermissionResponse":{
      "type":"structure",
      "members":{
        "returnValue":{
          "shape":"Boolean",
          "documentation":"<p>A return value of <code>true</code> indicates that the request succeeded. A value of <code>false</code> indicates that the request failed.</p>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>The idempotency identifier associated with this request. If you want to repeat the same operation in an idempotent manner then you must include this value in the <code>clientToken</code> request parameter of that later call. All other parameters must also have the same values that you used in the first call.</p>"
        }
      }
    },
    "DisassociateResourceShareRequest":{
      "type":"structure",
      "required":["resourceShareArn"],
      "members":{
        "resourceShareArn":{
          "shape":"String",
          "documentation":"<p>Specifies <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share that you want to remove resources from.</p>"
        },
        "resourceArns":{
          "shape":"ResourceArnList",
          "documentation":"<p>Specifies a list of <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> for one or more resources that you want to remove from the resource share. After the operation runs, these resources are no longer shared with principals outside of the Amazon Web Services account that created the resources.</p>"
        },
        "principals":{
          "shape":"PrincipalArnOrIdList",
          "documentation":"<p>Specifies a list of one or more principals that no longer are to have access to the resources in this resource share.</p> <p>You can include the following values:</p> <ul> <li> <p>An Amazon Web Services account ID, for example: <code>123456789012</code> </p> </li> <li> <p>An <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of an organization in Organizations, for example: <code>organizations::123456789012:organization/o-exampleorgid</code> </p> </li> <li> <p>An ARN of an organizational unit (OU) in Organizations, for example: <code>organizations::123456789012:ou/o-exampleorgid/ou-examplerootid-exampleouid123</code> </p> </li> <li> <p>An ARN of an IAM role, for example: <code>iam::123456789012:role/rolename</code> </p> </li> <li> <p>An ARN of an IAM user, for example: <code>iam::123456789012user/username</code> </p> </li> </ul> <note> <p>Not all resource types can be shared with IAM roles and users. For more information, see <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/permissions.html#permissions-rbp-supported-resource-types\">Sharing with IAM roles and users</a> in the <i>Resource Access Manager User Guide</i>.</p> </note>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>"
        }
      }
    },
    "DisassociateResourceShareResponse":{
      "type":"structure",
      "members":{
        "resourceShareAssociations":{
          "shape":"ResourceShareAssociationList",
          "documentation":"<p>An array of objects that contain information about the updated associations for this resource share.</p>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>The idempotency identifier associated with this request. If you want to repeat the same operation in an idempotent manner then you must include this value in the <code>clientToken</code> request parameter of that later call. All other parameters must also have the same values that you used in the first call.</p>"
        }
      }
    },
    "EnableSharingWithAwsOrganizationRequest":{
      "type":"structure",
      "members":{
      }
    },
    "EnableSharingWithAwsOrganizationResponse":{
      "type":"structure",
      "members":{
        "returnValue":{
          "shape":"Boolean",
          "documentation":"<p>A return value of <code>true</code> indicates that the request succeeded. A value of <code>false</code> indicates that the request failed.</p>"
        }
      }
    },
    "GetPermissionRequest":{
      "type":"structure",
      "required":["permissionArn"],
      "members":{
        "permissionArn":{
          "shape":"String",
          "documentation":"<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the permission whose contents you want to retrieve. To find the ARN for a permission, use either the <a>ListPermissions</a> operation or go to the <a href=\"https://console.aws.amazon.com/ram/home#Permissions:\">Permissions library</a> page in the RAM console and then choose the name of the permission. The ARN is displayed on the detail page.</p>"
        },
        "permissionVersion":{
          "shape":"Integer",
          "documentation":"<p>Specifies identifier for the version of the RAM permission to retrieve. If you don't specify this parameter, the operation retrieves the default version.</p>"
        }
      }
    },
    "GetPermissionResponse":{
      "type":"structure",
      "members":{
        "permission":{
          "shape":"ResourceSharePermissionDetail",
          "documentation":"<p>An object that contains information about the permission.</p>"
        }
      }
    },
    "GetResourcePoliciesRequest":{
      "type":"structure",
      "required":["resourceArns"],
      "members":{
        "resourceArns":{
          "shape":"ResourceArnList",
          "documentation":"<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> of the resources whose policies you want to retrieve.</p>"
        },
        "principal":{
          "shape":"String",
          "documentation":"<p>Specifies the principal.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>"
        }
      }
    },
    "GetResourcePoliciesResponse":{
      "type":"structure",
      "members":{
        "policies":{
          "shape":"PolicyList",
          "documentation":"<p>An array of resource policy documents in JSON format.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>"
        }
      }
    },
    "GetResourceShareAssociationsRequest":{
      "type":"structure",
      "required":["associationType"],
      "members":{
        "associationType":{
          "shape":"ResourceShareAssociationType",
          "documentation":"<p>Specifies whether you want to retrieve the associations that involve a specified resource or principal.</p> <ul> <li> <p> <code>PRINCIPAL</code> – list the principals that are associated with the specified resource share.</p> </li> <li> <p> <code>RESOURCE</code> – list the resources that are associated with the specified resource share.</p> </li> </ul>"
        },
        "resourceShareArns":{
          "shape":"ResourceShareArnList",
          "documentation":"<p>Specifies a list of <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> of the resource share whose associations you want to retrieve.</p>"
        },
        "resourceArn":{
          "shape":"String",
          "documentation":"<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource whose resource shares you want to retrieve.</p> <p>You cannot specify this parameter if the association type is <code>PRINCIPAL</code>.</p>"
        },
        "principal":{
          "shape":"String",
          "documentation":"<p>Specifies the ID of the principal whose resource shares you want to retrieve. This can be an Amazon Web Services account ID, an organization ID, an organizational unit ID, or the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of an individual IAM user or role.</p> <p>You cannot specify this parameter if the association type is <code>RESOURCE</code>.</p>"
        },
        "associationStatus":{
          "shape":"ResourceShareAssociationStatus",
          "documentation":"<p>Specifies that you want to retrieve only associations with this status.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>"
        }
      }
    },
    "GetResourceShareAssociationsResponse":{
      "type":"structure",
      "members":{
        "resourceShareAssociations":{
          "shape":"ResourceShareAssociationList",
          "documentation":"<p>An array of objects that contain the details about the associations.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>"
        }
      }
    },
    "GetResourceShareInvitationsRequest":{
      "type":"structure",
      "members":{
        "resourceShareInvitationArns":{
          "shape":"ResourceShareInvitationArnList",
          "documentation":"<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> of the resource share invitations you want information about.</p>"
        },
        "resourceShareArns":{
          "shape":"ResourceShareArnList",
          "documentation":"<p>Specifies that you want details about invitations only for the resource shares described by this list of <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> </p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>"
        }
      }
    },
    "GetResourceShareInvitationsResponse":{
      "type":"structure",
      "members":{
        "resourceShareInvitations":{
          "shape":"ResourceShareInvitationList",
          "documentation":"<p>An array of objects that contain the details about the invitations.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>"
        }
      }
    },
    "GetResourceSharesRequest":{
      "type":"structure",
      "required":["resourceOwner"],
      "members":{
        "resourceShareArns":{
          "shape":"ResourceShareArnList",
          "documentation":"<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> of individual resource shares that you want information about.</p>"
        },
        "resourceShareStatus":{
          "shape":"ResourceShareStatus",
          "documentation":"<p>Specifies that you want to retrieve details of only those resource shares that have this status.</p>"
        },
        "resourceOwner":{
          "shape":"ResourceOwner",
          "documentation":"<p>Specifies that you want to retrieve details of only those resource shares that match the following:</p> <ul> <li> <p> <b> <code>SELF</code> </b> – resources that you are sharing</p> </li> <li> <p> <b> <code>OTHER-ACCOUNTS</code> </b> – resources that other accounts share with you</p> </li> </ul>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>Specifies the name of an individual resource share that you want to retrieve details about.</p>"
        },
        "tagFilters":{
          "shape":"TagFilters",
          "documentation":"<p>Specifies that you want to retrieve details of only those resource shares that match the specified tag keys and values.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>"
        },
        "permissionArn":{
          "shape":"String",
          "documentation":"<p>Specifies that you want to retrieve details of only those resource shares that use the RAM permission with this <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a>.</p>"
        }
      }
    },
    "GetResourceSharesResponse":{
      "type":"structure",
      "members":{
        "resourceShares":{
          "shape":"ResourceShareList",
          "documentation":"<p>An array of objects that contain the information about the resource shares.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>"
        }
      }
    },
    "IdempotentParameterMismatchException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The client token input parameter was matched one used with a previous call to the operation, but at least one of the other input parameters is different from the previous call.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "Integer":{"type":"integer"},
    "InvalidClientTokenException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The client token is not valid.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "InvalidMaxResultsException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The specified value for <code>MaxResults</code> is not valid.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "InvalidNextTokenException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The specified value for <code>NextToken</code> is not valid.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "InvalidParameterException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>A parameter is not valid.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "InvalidResourceTypeException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The specified resource type is not valid.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "InvalidStateTransitionException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The requested state transition is not valid.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "ListPendingInvitationResourcesRequest":{
      "type":"structure",
      "required":["resourceShareInvitationArn"],
      "members":{
        "resourceShareInvitationArn":{
          "shape":"String",
          "documentation":"<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the invitation. You can use <a>GetResourceShareInvitations</a> to find the ARN of the invitation.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>"
        },
        "resourceRegionScope":{
          "shape":"ResourceRegionScopeFilter",
          "documentation":"<p>Specifies that you want the results to include only resources that have the specified scope.</p> <ul> <li> <p> <code>ALL</code> – the results include both global and regional resources or resource types.</p> </li> <li> <p> <code>GLOBAL</code> – the results include only global resources or resource types.</p> </li> <li> <p> <code>REGIONAL</code> – the results include only regional resources or resource types.</p> </li> </ul> <p>The default value is <code>ALL</code>.</p>"
        }
      }
    },
    "ListPendingInvitationResourcesResponse":{
      "type":"structure",
      "members":{
        "resources":{
          "shape":"ResourceList",
          "documentation":"<p>An array of objects that contain the information about the resources included the specified resource share.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>"
        }
      }
    },
    "ListPermissionVersionsRequest":{
      "type":"structure",
      "required":["permissionArn"],
      "members":{
        "permissionArn":{
          "shape":"String",
          "documentation":"<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the RAM permission whose versions you want to list. You can use the <code>permissionVersion</code> parameter on the <a>AssociateResourceSharePermission</a> operation to specify a non-default version to attach.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>"
        }
      }
    },
    "ListPermissionVersionsResponse":{
      "type":"structure",
      "members":{
        "permissions":{
          "shape":"ResourceSharePermissionList",
          "documentation":"<p>An array of objects that contain details for each of the available versions.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>"
        }
      }
    },
    "ListPermissionsRequest":{
      "type":"structure",
      "members":{
        "resourceType":{
          "shape":"String",
          "documentation":"<p>Specifies that you want to list permissions for only the specified resource type. For example, to list only permissions that apply to EC2 subnets, specify <code>ec2:Subnet</code>. You can use the <a>ListResourceTypes</a> operation to get the specific string required.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>"
        }
      }
    },
    "ListPermissionsResponse":{
      "type":"structure",
      "members":{
        "permissions":{
          "shape":"ResourceSharePermissionList",
          "documentation":"<p>An array of objects with information about the permissions.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>"
        }
      }
    },
    "ListPrincipalsRequest":{
      "type":"structure",
      "required":["resourceOwner"],
      "members":{
        "resourceOwner":{
          "shape":"ResourceOwner",
          "documentation":"<p>Specifies that you want to list information for only resource shares that match the following:</p> <ul> <li> <p> <b> <code>SELF</code> </b> – resources that you are sharing</p> </li> <li> <p> <b> <code>OTHER-ACCOUNTS</code> </b> – resources that other accounts share with you</p> </li> </ul>"
        },
        "resourceArn":{
          "shape":"String",
          "documentation":"<p>Specifies that you want to list principal information for the resource share with the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a>.</p>"
        },
        "principals":{
          "shape":"PrincipalArnOrIdList",
          "documentation":"<p>Specifies that you want to list information for only the listed principals.</p> <p>You can include the following values:</p> <ul> <li> <p>An Amazon Web Services account ID, for example: <code>123456789012</code> </p> </li> <li> <p>An <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of an organization in Organizations, for example: <code>organizations::123456789012:organization/o-exampleorgid</code> </p> </li> <li> <p>An ARN of an organizational unit (OU) in Organizations, for example: <code>organizations::123456789012:ou/o-exampleorgid/ou-examplerootid-exampleouid123</code> </p> </li> <li> <p>An ARN of an IAM role, for example: <code>iam::123456789012:role/rolename</code> </p> </li> <li> <p>An ARN of an IAM user, for example: <code>iam::123456789012user/username</code> </p> </li> </ul> <note> <p>Not all resource types can be shared with IAM roles and users. For more information, see <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/permissions.html#permissions-rbp-supported-resource-types\">Sharing with IAM roles and users</a> in the <i>Resource Access Manager User Guide</i>.</p> </note>"
        },
        "resourceType":{
          "shape":"String",
          "documentation":"<p>Specifies that you want to list information for only principals associated with resource shares that include the specified resource type.</p> <p>For a list of valid values, query the <a>ListResourceTypes</a> operation.</p>"
        },
        "resourceShareArns":{
          "shape":"ResourceShareArnList",
          "documentation":"<p>Specifies that you want to list information for only principals associated with the resource shares specified by a list the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>"
        }
      }
    },
    "ListPrincipalsResponse":{
      "type":"structure",
      "members":{
        "principals":{
          "shape":"PrincipalList",
          "documentation":"<p>An array of objects that contain the details about the principals.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>"
        }
      }
    },
    "ListResourceSharePermissionsRequest":{
      "type":"structure",
      "required":["resourceShareArn"],
      "members":{
        "resourceShareArn":{
          "shape":"String",
          "documentation":"<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share for which you want to retrieve the associated permissions.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>"
        }
      }
    },
    "ListResourceSharePermissionsResponse":{
      "type":"structure",
      "members":{
        "permissions":{
          "shape":"ResourceSharePermissionList",
          "documentation":"<p>An array of objects that describe the permissions associated with the resource share.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>"
        }
      }
    },
    "ListResourceTypesRequest":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"String",
          "documentation":"<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>"
        },
        "resourceRegionScope":{
          "shape":"ResourceRegionScopeFilter",
          "documentation":"<p>Specifies that you want the results to include only resources that have the specified scope.</p> <ul> <li> <p> <code>ALL</code> – the results include both global and regional resources or resource types.</p> </li> <li> <p> <code>GLOBAL</code> – the results include only global resources or resource types.</p> </li> <li> <p> <code>REGIONAL</code> – the results include only regional resources or resource types.</p> </li> </ul> <p>The default value is <code>ALL</code>.</p>"
        }
      }
    },
    "ListResourceTypesResponse":{
      "type":"structure",
      "members":{
        "resourceTypes":{
          "shape":"ServiceNameAndResourceTypeList",
          "documentation":"<p>An array of objects that contain information about the resource types that can be shared using RAM.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>"
        }
      }
    },
    "ListResourcesRequest":{
      "type":"structure",
      "required":["resourceOwner"],
      "members":{
        "resourceOwner":{
          "shape":"ResourceOwner",
          "documentation":"<p>Specifies that you want to list only the resource shares that match the following:</p> <ul> <li> <p> <b> <code>SELF</code> </b> – resources that you are sharing</p> </li> <li> <p> <b> <code>OTHER-ACCOUNTS</code> </b> – resources that other accounts share with you</p> </li> </ul>"
        },
        "principal":{
          "shape":"String",
          "documentation":"<p>Specifies that you want to list only the resource shares that are associated with the specified principal.</p>"
        },
        "resourceType":{
          "shape":"String",
          "documentation":"<p>Specifies that you want to list only the resource shares that include resources of the specified resource type.</p> <p>For valid values, query the <a>ListResourceTypes</a> operation.</p>"
        },
        "resourceArns":{
          "shape":"ResourceArnList",
          "documentation":"<p>Specifies that you want to list only the resource shares that include resources with the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>"
        },
        "resourceShareArns":{
          "shape":"ResourceShareArnList",
          "documentation":"<p>Specifies that you want to list only resources in the resource shares identified by the specified <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>NextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>NextToken</code> response to request the next page of results.</p>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>Specifies the total number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value that is specific to the operation. If additional items exist beyond the number you specify, the <code>NextToken</code> response element is returned with a value (not null). Include the specified value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results. Note that the service might return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>"
        },
        "resourceRegionScope":{
          "shape":"ResourceRegionScopeFilter",
          "documentation":"<p>Specifies that you want the results to include only resources that have the specified scope.</p> <ul> <li> <p> <code>ALL</code> – the results include both global and regional resources or resource types.</p> </li> <li> <p> <code>GLOBAL</code> – the results include only global resources or resource types.</p> </li> <li> <p> <code>REGIONAL</code> – the results include only regional resources or resource types.</p> </li> </ul> <p>The default value is <code>ALL</code>.</p>"
        }
      }
    },
    "ListResourcesResponse":{
      "type":"structure",
      "members":{
        "resources":{
          "shape":"ResourceList",
          "documentation":"<p>An array of objects that contain information about the resources.</p>"
        },
        "nextToken":{
          "shape":"String",
          "documentation":"<p>If present, this value indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. This indicates that this is the last page of results.</p>"
        }
      }
    },
    "MalformedArnException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "MaxResults":{
      "type":"integer",
      "max":500,
      "min":1
    },
    "MissingRequiredParameterException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>A required input parameter is missing.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "OperationNotPermittedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The requested operation is not permitted.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "PermissionArnList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "Policy":{"type":"string"},
    "PolicyList":{
      "type":"list",
      "member":{"shape":"Policy"}
    },
    "Principal":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"String",
          "documentation":"<p>The ID of the principal.</p>"
        },
        "resourceShareArn":{
          "shape":"String",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of a resource share the principal is associated with.</p>"
        },
        "creationTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time when the principal was associated with the resource share.</p>"
        },
        "lastUpdatedTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time when the association was last updated.</p>"
        },
        "external":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the principal belongs to the same organization in Organizations as the Amazon Web Services account that owns the resource share.</p>"
        }
      },
      "documentation":"<p>Describes a principal for use with Resource Access Manager.</p>"
    },
    "PrincipalArnOrIdList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "PrincipalList":{
      "type":"list",
      "member":{"shape":"Principal"}
    },
    "PromoteResourceShareCreatedFromPolicyRequest":{
      "type":"structure",
      "required":["resourceShareArn"],
      "members":{
        "resourceShareArn":{
          "shape":"String",
          "documentation":"<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share to promote.</p>",
          "location":"querystring",
          "locationName":"resourceShareArn"
        }
      }
    },
    "PromoteResourceShareCreatedFromPolicyResponse":{
      "type":"structure",
      "members":{
        "returnValue":{
          "shape":"Boolean",
          "documentation":"<p>A return value of <code>true</code> indicates that the request succeeded. A value of <code>false</code> indicates that the request failed.</p>"
        }
      }
    },
    "RejectResourceShareInvitationRequest":{
      "type":"structure",
      "required":["resourceShareInvitationArn"],
      "members":{
        "resourceShareInvitationArn":{
          "shape":"String",
          "documentation":"<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the invitation that you want to reject.</p>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p>"
        }
      }
    },
    "RejectResourceShareInvitationResponse":{
      "type":"structure",
      "members":{
        "resourceShareInvitation":{
          "shape":"ResourceShareInvitation",
          "documentation":"<p>An object that contains the details about the rejected invitation.</p>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>The idempotency identifier associated with this request. If you want to repeat the same operation in an idempotent manner then you must include this value in the <code>clientToken</code> request parameter of that later call. All other parameters must also have the same values that you used in the first call.</p>"
        }
      }
    },
    "Resource":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"String",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource.</p>"
        },
        "type":{
          "shape":"String",
          "documentation":"<p>The resource type. This takes the form of: <code>service-code</code>:<code>resource-code</code> </p>"
        },
        "resourceShareArn":{
          "shape":"String",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share this resource is associated with.</p>"
        },
        "resourceGroupArn":{
          "shape":"String",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource group. This value is available only if the resource is part of a resource group.</p>"
        },
        "status":{
          "shape":"ResourceStatus",
          "documentation":"<p>The current status of the resource.</p>"
        },
        "statusMessage":{
          "shape":"String",
          "documentation":"<p>A message about the status of the resource.</p>"
        },
        "creationTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time when the resource was associated with the resource share.</p>"
        },
        "lastUpdatedTime":{
          "shape":"DateTime",
          "documentation":"<p>The date an time when the association was last updated.</p>"
        },
        "resourceRegionScope":{
          "shape":"ResourceRegionScope",
          "documentation":"<p>Specifies the scope of visibility of this resource:</p> <ul> <li> <p> <b>REGIONAL</b> – The resource can be accessed only by using requests that target the Amazon Web Services Region in which the resource exists.</p> </li> <li> <p> <b>GLOBAL</b> – The resource can be accessed from any Amazon Web Services Region.</p> </li> </ul>"
        }
      },
      "documentation":"<p>Describes a resource associated with a resource share in RAM.</p>"
    },
    "ResourceArnList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "ResourceArnNotFoundException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The specified Amazon Resource Name (ARN) was not found.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "ResourceList":{
      "type":"list",
      "member":{"shape":"Resource"}
    },
    "ResourceOwner":{
      "type":"string",
      "enum":[
        "SELF",
        "OTHER-ACCOUNTS"
      ]
    },
    "ResourceRegionScope":{
      "type":"string",
      "enum":[
        "REGIONAL",
        "GLOBAL"
      ]
    },
    "ResourceRegionScopeFilter":{
      "type":"string",
      "enum":[
        "ALL",
        "REGIONAL",
        "GLOBAL"
      ]
    },
    "ResourceShare":{
      "type":"structure",
      "members":{
        "resourceShareArn":{
          "shape":"String",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the resource share.</p>"
        },
        "owningAccountId":{
          "shape":"String",
          "documentation":"<p>The ID of the Amazon Web Services account that owns the resource share.</p>"
        },
        "allowExternalPrincipals":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether principals outside your organization in Organizations can be associated with a resource share.</p>"
        },
        "status":{
          "shape":"ResourceShareStatus",
          "documentation":"<p>The current status of the resource share.</p>"
        },
        "statusMessage":{
          "shape":"String",
          "documentation":"<p>A message about the status of the resource share.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>The tag key and value pairs attached to the resource share.</p>"
        },
        "creationTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time when the resource share was created.</p>"
        },
        "lastUpdatedTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time when the resource share was last updated.</p>"
        },
        "featureSet":{
          "shape":"ResourceShareFeatureSet",
          "documentation":"<p>Indicates how the resource share was created. Possible values include:</p> <ul> <li> <p> <code>CREATED_FROM_POLICY</code> - Indicates that the resource share was created from an Identity and Access Management (IAM) resource-based permission policy attached to the resource. This type of resource share is visible only to the Amazon Web Services account that created it. You can't modify it in RAM unless you promote it. For more information, see <a>PromoteResourceShareCreatedFromPolicy</a>.</p> </li> <li> <p> <code>PROMOTING_TO_STANDARD</code> - The resource share is in the process of being promoted. For more information, see <a>PromoteResourceShareCreatedFromPolicy</a>.</p> </li> <li> <p> <code>STANDARD</code> - Indicates that the resource share was created in RAM using the console or APIs. These resource shares are visible to all principals you share the resource share with. You can modify these resource shares in RAM using the console or APIs.</p> </li> </ul>"
        }
      },
      "documentation":"<p>Describes a resource share in RAM.</p>"
    },
    "ResourceShareArnList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "ResourceShareAssociation":{
      "type":"structure",
      "members":{
        "resourceShareArn":{
          "shape":"String",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share.</p>"
        },
        "resourceShareName":{
          "shape":"String",
          "documentation":"<p>The name of the resource share.</p>"
        },
        "associatedEntity":{
          "shape":"String",
          "documentation":"<p>The associated entity. This can be either of the following:</p> <ul> <li> <p>For a resource association, this is the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource.</p> </li> <li> <p>For principal associations, this is one of the following:</p> <ul> <li> <p>The ID of an Amazon Web Services account</p> </li> <li> <p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of an organization in Organizations</p> </li> <li> <p>The ARN of an organizational unit (OU) in Organizations</p> </li> <li> <p>The ARN of an IAM role</p> </li> <li> <p>The ARN of an IAM user</p> </li> </ul> </li> </ul>"
        },
        "associationType":{
          "shape":"ResourceShareAssociationType",
          "documentation":"<p>The type of entity included in this association.</p>"
        },
        "status":{
          "shape":"ResourceShareAssociationStatus",
          "documentation":"<p>The current status of the association.</p>"
        },
        "statusMessage":{
          "shape":"String",
          "documentation":"<p>A message about the status of the association.</p>"
        },
        "creationTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time when the association was created.</p>"
        },
        "lastUpdatedTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time when the association was last updated.</p>"
        },
        "external":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the principal belongs to the same organization in Organizations as the Amazon Web Services account that owns the resource share.</p>"
        }
      },
      "documentation":"<p>Describes an association with a resource share and either a principal or a resource.</p>"
    },
    "ResourceShareAssociationList":{
      "type":"list",
      "member":{"shape":"ResourceShareAssociation"}
    },
    "ResourceShareAssociationStatus":{
      "type":"string",
      "enum":[
        "ASSOCIATING",
        "ASSOCIATED",
        "FAILED",
        "DISASSOCIATING",
        "DISASSOCIATED"
      ]
    },
    "ResourceShareAssociationType":{
      "type":"string",
      "enum":[
        "PRINCIPAL",
        "RESOURCE"
      ]
    },
    "ResourceShareFeatureSet":{
      "type":"string",
      "enum":[
        "CREATED_FROM_POLICY",
        "PROMOTING_TO_STANDARD",
        "STANDARD"
      ]
    },
    "ResourceShareInvitation":{
      "type":"structure",
      "members":{
        "resourceShareInvitationArn":{
          "shape":"String",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the invitation.</p>"
        },
        "resourceShareName":{
          "shape":"String",
          "documentation":"<p>The name of the resource share.</p>"
        },
        "resourceShareArn":{
          "shape":"String",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share</p>"
        },
        "senderAccountId":{
          "shape":"String",
          "documentation":"<p>The ID of the Amazon Web Services account that sent the invitation.</p>"
        },
        "receiverAccountId":{
          "shape":"String",
          "documentation":"<p>The ID of the Amazon Web Services account that received the invitation.</p>"
        },
        "invitationTimestamp":{
          "shape":"DateTime",
          "documentation":"<p>The date and time when the invitation was sent.</p>"
        },
        "status":{
          "shape":"ResourceShareInvitationStatus",
          "documentation":"<p>The current status of the invitation.</p>"
        },
        "resourceShareAssociations":{
          "shape":"ResourceShareAssociationList",
          "documentation":"<p>To view the resources associated with a pending resource share invitation, use <a>ListPendingInvitationResources</a>.</p>",
          "deprecated":true,
          "deprecatedMessage":"This member has been deprecated. Use ListPendingInvitationResources."
        },
        "receiverArn":{
          "shape":"String",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the IAM user or role that received the invitation.</p>"
        }
      },
[...]
