{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2026-01-01",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"aidevops",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AWS DevOps Agent Service",
    "serviceId":"DevOps Agent",
    "signatureVersion":"v4",
    "signingName":"aidevops",
    "uid":"devops-agent-2026-01-01"
  },
  "operations":{
    "AssociateService":{
      "name":"AssociateService",
      "http":{
        "method":"POST",
        "requestUri":"/v1/agentspaces/{agentSpaceId}/associations",
        "responseCode":201
      },
      "input":{"shape":"AssociateServiceInput"},
      "output":{"shape":"AssociateServiceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Adds a specific service association to an AgentSpace. It overwrites the existing association of the same service. Returns 201 Created on success.</p>",
      "endpoint":{"hostPrefix":"cp."}
    },
    "CreateAgentSpace":{
      "name":"CreateAgentSpace",
      "http":{
        "method":"POST",
        "requestUri":"/v1/agentspaces",
        "responseCode":201
      },
      "input":{"shape":"CreateAgentSpaceInput"},
      "output":{"shape":"CreateAgentSpaceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates a new AgentSpace with the specified name and description. Duplicate space names are allowed.</p>",
      "endpoint":{"hostPrefix":"cp."},
      "idempotent":true
    },
    "CreateBacklogTask":{
      "name":"CreateBacklogTask",
      "http":{
        "method":"POST",
        "requestUri":"/backlog/agent-space/{agentSpaceId}/tasks",
        "responseCode":201
      },
      "input":{"shape":"CreateBacklogTaskRequest"},
      "output":{"shape":"CreateBacklogTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Creates a new backlog task in the specified agent space</p>",
      "endpoint":{"hostPrefix":"dp."},
      "idempotent":true
    },
    "CreateChat":{
      "name":"CreateChat",
      "http":{
        "method":"POST",
        "requestUri":"/agents/agent-space/{agentSpaceId}/chat/create",
        "responseCode":200
      },
      "input":{"shape":"CreateChatRequest"},
      "output":{"shape":"CreateChatResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Creates a new chat execution in the specified agent space</p>",
      "endpoint":{"hostPrefix":"dp."}
    },
    "CreatePrivateConnection":{
      "name":"CreatePrivateConnection",
      "http":{
        "method":"POST",
        "requestUri":"/v1/private-connections",
        "responseCode":200
      },
      "input":{"shape":"CreatePrivateConnectionInput"},
      "output":{"shape":"CreatePrivateConnectionOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Creates a Private Connection to a target resource.</p>",
      "endpoint":{"hostPrefix":"cp."},
      "idempotent":true
    },
    "DeleteAgentSpace":{
      "name":"DeleteAgentSpace",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/agentspaces/{agentSpaceId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAgentSpaceInput"},
      "output":{"shape":"DeleteAgentSpaceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Deletes an AgentSpace. This operation is idempotent and returns a 204 No Content response on success.</p>",
      "endpoint":{"hostPrefix":"cp."},
      "idempotent":true
    },
    "DeletePrivateConnection":{
      "name":"DeletePrivateConnection",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/private-connections/{name}",
        "responseCode":200
      },
      "input":{"shape":"DeletePrivateConnectionInput"},
      "output":{"shape":"DeletePrivateConnectionOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Deletes a Private Connection. The deletion is asynchronous and returns DELETE_IN_PROGRESS status.</p>",
      "endpoint":{"hostPrefix":"cp."},
      "idempotent":true
    },
    "DeregisterService":{
      "name":"DeregisterService",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/services/{serviceId}",
        "responseCode":200
      },
      "input":{"shape":"DeregisterServiceInput"},
      "output":{"shape":"DeregisterServiceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Deregister a service</p>",
      "endpoint":{"hostPrefix":"cp."},
      "idempotent":true
    },
    "DescribePrivateConnection":{
      "name":"DescribePrivateConnection",
      "http":{
        "method":"GET",
        "requestUri":"/v1/private-connections/{name}",
        "responseCode":200
      },
      "input":{"shape":"DescribePrivateConnectionInput"},
      "output":{"shape":"DescribePrivateConnectionOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Retrieves details of an existing Private Connection.</p>",
      "endpoint":{"hostPrefix":"cp."},
      "readonly":true
    },
    "DisableOperatorApp":{
      "name":"DisableOperatorApp",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/agentspaces/{agentSpaceId}/operator",
        "responseCode":200
      },
      "input":{"shape":"DisableOperatorAppInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"IdentityCenterServiceException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Disable the Operator App for the specified AgentSpace</p>",
      "endpoint":{"hostPrefix":"cp."},
      "idempotent":true
    },
    "DisassociateService":{
      "name":"DisassociateService",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/agentspaces/{agentSpaceId}/associations/{associationId}",
        "responseCode":204
      },
      "input":{"shape":"DisassociateServiceInput"},
      "output":{"shape":"DisassociateServiceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Deletes a specific service association from an AgentSpace. This operation is idempotent and returns a 204 No Content response on success.</p>",
      "endpoint":{"hostPrefix":"cp."},
      "idempotent":true
    },
    "EnableOperatorApp":{
      "name":"EnableOperatorApp",
      "http":{
        "method":"POST",
        "requestUri":"/v1/agentspaces/{agentSpaceId}/operator",
        "responseCode":200
      },
      "input":{"shape":"EnableOperatorAppInput"},
      "output":{"shape":"EnableOperatorAppOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"IdentityCenterServiceException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Enable the Operator App to access the given AgentSpace</p>",
      "endpoint":{"hostPrefix":"cp."}
    },
    "GetAccountUsage":{
      "name":"GetAccountUsage",
      "http":{
        "method":"GET",
        "requestUri":"/usage/account",
        "responseCode":200
      },
      "input":{"shape":"GetAccountUsageInput"},
      "output":{"shape":"GetAccountUsageOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Retrieves monthly account usage metrics and limits for the AWS account.</p>",
      "endpoint":{"hostPrefix":"dp."},
      "readonly":true
    },
    "GetAgentSpace":{
      "name":"GetAgentSpace",
      "http":{
        "method":"GET",
        "requestUri":"/v1/agentspaces/{agentSpaceId}",
        "responseCode":200
      },
      "input":{"shape":"GetAgentSpaceInput"},
      "output":{"shape":"GetAgentSpaceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Retrieves detailed information about a specific AgentSpace.</p>",
      "endpoint":{"hostPrefix":"cp."},
      "readonly":true
    },
    "GetAssociation":{
      "name":"GetAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/v1/agentspaces/{agentSpaceId}/associations/{associationId}",
        "responseCode":200
      },
      "input":{"shape":"GetAssociationInput"},
      "output":{"shape":"GetAssociationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Retrieves given associations configured for a specific AgentSpace.</p>",
      "endpoint":{"hostPrefix":"cp."},
      "readonly":true
    },
    "GetBacklogTask":{
      "name":"GetBacklogTask",
      "http":{
        "method":"GET",
        "requestUri":"/backlog/agent-space/{agentSpaceId}/tasks/{taskId}",
        "responseCode":200
      },
      "input":{"shape":"GetBacklogTaskRequest"},
      "output":{"shape":"GetBacklogTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Gets a backlog task for the specified agent space and task id</p>",
      "endpoint":{"hostPrefix":"dp."},
      "readonly":true
    },
    "GetOperatorApp":{
      "name":"GetOperatorApp",
      "http":{
        "method":"GET",
        "requestUri":"/v2/agentspaces/{agentSpaceId}/operator",
        "responseCode":200
      },
      "input":{"shape":"GetOperatorAppInput"},
      "output":{"shape":"GetOperatorAppOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Get the full auth configuration of operator including any enabled auth flow</p>",
      "endpoint":{"hostPrefix":"cp."},
      "readonly":true
    },
    "GetRecommendation":{
      "name":"GetRecommendation",
      "http":{
        "method":"GET",
        "requestUri":"/backlog/agent-space/{agentSpaceId}/recommendations/{recommendationId}",
        "responseCode":200
      },
      "input":{"shape":"GetRecommendationRequest"},
      "output":{"shape":"GetRecommendationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Retrieves a specific recommendation by its ID</p>",
      "endpoint":{"hostPrefix":"dp."},
      "readonly":true
    },
    "GetService":{
      "name":"GetService",
      "http":{
        "method":"GET",
        "requestUri":"/v1/services/{serviceId}",
        "responseCode":200
      },
      "input":{"shape":"GetServiceInput"},
      "output":{"shape":"GetServiceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Retrieves given service by it's unique identifier</p>",
      "endpoint":{"hostPrefix":"cp."},
      "readonly":true
    },
    "ListAgentSpaces":{
      "name":"ListAgentSpaces",
      "http":{
        "method":"POST",
        "requestUri":"/v1/agentspaces/list",
        "responseCode":200
      },
      "input":{"shape":"ListAgentSpacesInput"},
      "output":{"shape":"ListAgentSpacesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Lists all AgentSpaces with optional pagination.</p>",
      "endpoint":{"hostPrefix":"cp."},
      "readonly":true
    },
    "ListAssociations":{
      "name":"ListAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/v1/agentspaces/{agentSpaceId}/associations/list",
        "responseCode":200
      },
      "input":{"shape":"ListAssociationsInput"},
      "output":{"shape":"ListAssociationsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>List all associations for given AgentSpace</p>",
      "endpoint":{"hostPrefix":"cp."},
      "readonly":true
    },
    "ListBacklogTasks":{
      "name":"ListBacklogTasks",
      "http":{
        "method":"POST",
        "requestUri":"/backlog/agent-space/{agentSpaceId}/tasks/list",
        "responseCode":200
      },
      "input":{"shape":"ListBacklogTasksRequest"},
      "output":{"shape":"ListBacklogTasksResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Lists backlog tasks in the specified agent space with optional filtering and sorting</p>",
      "endpoint":{"hostPrefix":"dp."}
    },
    "ListChats":{
      "name":"ListChats",
      "http":{
        "method":"GET",
        "requestUri":"/agents/agent-space/{agentSpaceId}/chat/list",
        "responseCode":200
      },
      "input":{"shape":"ListChatsRequest"},
      "output":{"shape":"ListChatsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Retrieves a paginated list of the user's recent chat executions</p>",
      "endpoint":{"hostPrefix":"dp."}
    },
    "ListExecutions":{
      "name":"ListExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/journal/agent-space/{agentSpaceId}/executions",
        "responseCode":200
      },
      "input":{"shape":"ListExecutionsRequest"},
      "output":{"shape":"ListExecutionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>List executions</p>",
      "endpoint":{"hostPrefix":"dp."}
    },
    "ListGoals":{
      "name":"ListGoals",
      "http":{
        "method":"POST",
        "requestUri":"/backlog/agent-space/{agentSpaceId}/goals/list",
        "responseCode":200
      },
      "input":{"shape":"ListGoalsRequest"},
      "output":{"shape":"ListGoalsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Lists goals in the specified agent space with optional filtering</p>",
      "endpoint":{"hostPrefix":"dp."}
    },
    "ListJournalRecords":{
      "name":"ListJournalRecords",
      "http":{
        "method":"POST",
        "requestUri":"/journal/agent-space/{agentSpaceId}/journalRecords",
        "responseCode":200
      },
      "input":{"shape":"ListJournalRecordsRequest"},
      "output":{"shape":"ListJournalRecordsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>List journal records for a specific execution</p>",
      "endpoint":{"hostPrefix":"dp."}
    },
    "ListPendingMessages":{
      "name":"ListPendingMessages",
      "http":{
        "method":"POST",
        "requestUri":"/agents/agent-space/{agentSpaceId}/pendingMessages",
        "responseCode":200
      },
      "input":{"shape":"ListPendingMessagesRequest"},
      "output":{"shape":"ListPendingMessagesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>List pending messages for a specific execution.</p>",
      "endpoint":{"hostPrefix":"dp."}
    },
    "ListPrivateConnections":{
      "name":"ListPrivateConnections",
      "http":{
        "method":"GET",
        "requestUri":"/v1/private-connections",
        "responseCode":200
      },
      "input":{"shape":"ListPrivateConnectionsInput"},
      "output":{"shape":"ListPrivateConnectionsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Lists all Private Connections in the caller's account.</p>",
      "endpoint":{"hostPrefix":"cp."},
      "readonly":true
    },
    "ListRecommendations":{
      "name":"ListRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/backlog/agent-space/{agentSpaceId}/recommendations/list",
        "responseCode":200
      },
      "input":{"shape":"ListRecommendationsRequest"},
      "output":{"shape":"ListRecommendationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Lists recommendations for the specified agent space</p>",
      "endpoint":{"hostPrefix":"dp."}
    },
    "ListServices":{
      "name":"ListServices",
      "http":{
        "method":"POST",
        "requestUri":"/v1/services/list",
        "responseCode":200
      },
      "input":{"shape":"ListServicesInput"},
      "output":{"shape":"ListServicesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>List a list of registered service on the account level.</p>",
      "endpoint":{"hostPrefix":"cp."},
      "readonly":true
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Lists tags for the specified AWS DevOps Agent resource.</p>",
      "endpoint":{"hostPrefix":"cp."},
      "readonly":true
    },
    "ListWebhooks":{
      "name":"ListWebhooks",
      "http":{
        "method":"POST",
        "requestUri":"/v1/agentspaces/{agentSpaceId}/associations/{associationId}/webhooks/list",
        "responseCode":200
      },
      "input":{"shape":"ListWebhooksInput"},
      "output":{"shape":"ListWebhooksOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>List all webhooks for given Association</p>",
      "endpoint":{"hostPrefix":"cp."},
      "readonly":true
    },
    "RegisterService":{
      "name":"RegisterService",
      "http":{
        "method":"POST",
        "requestUri":"/v1/register/{service}",
        "responseCode":201
      },
      "input":{"shape":"RegisterServiceInput"},
      "output":{"shape":"RegisterServiceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This operation registers the specified service</p>",
      "endpoint":{"hostPrefix":"cp."}
    },
    "SendMessage":{
      "name":"SendMessage",
      "http":{
        "method":"POST",
        "requestUri":"/agents/agent-space/{agentSpaceId}/chat/sendMessage",
        "responseCode":200
      },
      "input":{"shape":"SendMessageRequest"},
      "output":{"shape":"SendMessageResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Sends a chat message and streams the response for the specified agent space execution</p>",
      "endpoint":{"hostPrefix":"dp."}
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Adds or overwrites tags for the specified AWS DevOps Agent resource.</p>",
      "endpoint":{"hostPrefix":"cp."},
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Removes tags from the specified AWS DevOps Agent resource.</p>",
      "endpoint":{"hostPrefix":"cp."},
      "idempotent":true
    },
    "UpdateAgentSpace":{
      "name":"UpdateAgentSpace",
      "http":{
        "method":"PATCH",
        "requestUri":"/v1/agentspaces/{agentSpaceId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAgentSpaceInput"},
      "output":{"shape":"UpdateAgentSpaceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Updates the information of an existing AgentSpace.</p>",
      "endpoint":{"hostPrefix":"cp."}
    },
    "UpdateAssociation":{
      "name":"UpdateAssociation",
      "http":{
        "method":"PATCH",
        "requestUri":"/v1/agentspaces/{agentSpaceId}/associations/{associationId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAssociationInput"},
      "output":{"shape":"UpdateAssociationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Partially updates the configuration of an existing service association for an AgentSpace. Present fields are fully replaced; absent fields are left unchanged. Returns 200 OK on success.</p>",
      "endpoint":{"hostPrefix":"cp."}
    },
    "UpdateBacklogTask":{
      "name":"UpdateBacklogTask",
      "http":{
        "method":"PATCH",
        "requestUri":"/backlog/agent-space/{agentSpaceId}/tasks/{taskId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateBacklogTaskRequest"},
      "output":{"shape":"UpdateBacklogTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Update an existing backlog task.</p>",
      "endpoint":{"hostPrefix":"dp."}
    },
    "UpdateGoal":{
      "name":"UpdateGoal",
      "http":{
        "method":"PATCH",
        "requestUri":"/backlog/agent-space/{agentSpaceId}/goals/{goalId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateGoalRequest"},
      "output":{"shape":"UpdateGoalResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Update an existing goal</p>",
      "endpoint":{"hostPrefix":"dp."}
    },
    "UpdateOperatorAppIdpConfig":{
      "name":"UpdateOperatorAppIdpConfig",
      "http":{
        "method":"PATCH",
        "requestUri":"/v1/agentspaces/{agentSpaceId}/operator/idp",
        "responseCode":200
      },
      "input":{"shape":"UpdateOperatorAppIdpConfigInput"},
      "output":{"shape":"UpdateOperatorAppIdpConfigOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Update the external Identity Provider configuration for the Operator App</p>"
    },
    "UpdatePrivateConnectionCertificate":{
      "name":"UpdatePrivateConnectionCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/v1/private-connections/{name}/certificate",
        "responseCode":200
      },
      "input":{"shape":"UpdatePrivateConnectionCertificateInput"},
      "output":{"shape":"UpdatePrivateConnectionCertificateOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Updates the certificate associated with a Private Connection.</p>",
      "endpoint":{"hostPrefix":"cp."}
    },
    "UpdateRecommendation":{
      "name":"UpdateRecommendation",
      "http":{
        "method":"PATCH",
        "requestUri":"/backlog/agent-space/{agentSpaceId}/recommendations/{recommendationId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateRecommendationRequest"},
      "output":{"shape":"UpdateRecommendationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Updates an existing recommendation with new content, status, or metadata</p>",
      "endpoint":{"hostPrefix":"dp."},
      "idempotent":true
    },
    "ValidateAwsAssociations":{
      "name":"ValidateAwsAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/v1/agentspaces/{agentSpaceId}/associations/validate",
        "responseCode":204
      },
      "input":{"shape":"ValidateAwsAssociationsInput"},
      "output":{"shape":"ValidateAwsAssociationsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ContentSizeExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Validates an aws association and set status and returns a 204 No Content response on success.</p>",
      "endpoint":{"hostPrefix":"cp."},
      "idempotent":true
    }
  },
  "shapes":{
    "AWSConfiguration":{
      "type":"structure",
      "required":[
        "assumableRoleArn",
        "accountId",
        "accountType"
      ],
      "members":{
        "assumableRoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>Role ARN to be assumed by AIDevOps to operate on behalf of customer.</p>"
        },
        "accountId":{
          "shape":"AWSConfigurationAccountIdString",
          "documentation":"<p>AWS Account Id corresponding to provided resources.</p>"
        },
        "accountType":{
          "shape":"MonitorAccountType",
          "documentation":"<p>Account Type 'monitor' for AIDevOps monitoring.</p>"
        }
      },
      "documentation":"<p>Configuration for AWS monitor account integration, allowing AIDevOps to monitor AWS resources.</p>"
    },
    "AWSConfigurationAccountIdString":{
      "type":"string",
      "pattern":"\\d{12}"
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>Detailed error message describing why access was denied.</p>"
        }
      },
      "documentation":"<p>Access to the requested resource is denied due to insufficient permissions.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AdditionalServiceDetails":{
      "type":"structure",
      "members":{
        "github":{
          "shape":"RegisteredGithubServiceDetails",
          "documentation":"<p>GitHub-specific service details.</p>"
        },
        "slack":{
          "shape":"RegisteredSlackServiceDetails",
          "documentation":"<p>Slack-specific service details.</p>"
        },
        "mcpserverdatadog":{
          "shape":"RegisteredMCPServerDetails",
          "documentation":"<p>Datadog MCP server-specific service details.</p>"
        },
        "mcpserver":{
          "shape":"RegisteredMCPServerDetails",
          "documentation":"<p>MCP server-specific service details.</p>"
        },
        "servicenow":{
          "shape":"RegisteredServiceNowDetails",
          "documentation":"<p>ServiceNow-specific service details.</p>"
        },
        "gitlab":{
          "shape":"RegisteredGitLabServiceDetails",
          "documentation":"<p>GitLab-specific service details.</p>"
        },
        "mcpserversplunk":{
          "shape":"RegisteredMCPServerDetails",
          "documentation":"<p>Splunk MCP server-specific service details.</p>"
        },
        "mcpservernewrelic":{
          "shape":"RegisteredNewRelicDetails",
          "documentation":"<p>New Relic MCP server-specific service details.</p>"
        },
        "azuredevops":{
          "shape":"RegisteredAzureDevOpsServiceDetails",
          "documentation":"<p>Azure DevOps specific service details.</p>"
        },
        "azureidentity":{
          "shape":"RegisteredAzureIdentityDetails",
          "documentation":"<p>Azure identity details for services using Azure authentication.</p>"
        },
        "mcpservergrafana":{
          "shape":"RegisteredGrafanaServerDetails",
          "documentation":"<p>Grafana MCP server-specific service details.</p>"
        },
        "pagerduty":{
          "shape":"RegisteredPagerDutyDetails",
          "documentation":"<p>Pagerduty service details.</p>"
        }
      },
      "documentation":"<p>Union of service-specific details for different service types.</p>",
      "union":true
    },
    "AdditionalServiceRegistrationStep":{
      "type":"structure",
      "members":{
        "oauth":{
          "shape":"OAuthAdditionalStepDetails",
          "documentation":"<p>OAuth authorization step required.</p>"
        }
      },
      "documentation":"<p>Additional steps required to complete service registration.</p>",
      "union":true
    },
    "AgentSpace":{
      "type":"structure",
      "required":[
        "name",
        "createdAt",
        "updatedAt",
        "agentSpaceId"
      ],
      "members":{
        "name":{
          "shape":"AgentSpaceName",
          "documentation":"<p>The name of the AgentSpace.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the AgentSpace.</p>"
        },
        "locale":{
          "shape":"Locale",
          "documentation":"<p>The locale for the AgentSpace, which determines the language used in agent responses.</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the resource was created.</p>"
        },
        "updatedAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the resource was last updated.</p>"
        },
        "kmsKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The ARN of the AWS Key Management Service (AWS KMS) customer managed key that's used to encrypt resources.</p>"
        },
        "agentSpaceId":{
          "shape":"AgentSpaceId",
          "documentation":"<p>The unique identifier of the AgentSpace</p>"
        }
      },
      "documentation":"<p>Represents a complete AgentSpace with all its properties, timestamps, encryption settings, and unique identifier.</p>"
    },
    "AgentSpaceId":{
      "type":"string",
      "documentation":"<p>Unique identifier for an agent space (allows alphanumeric characters and hyphens; 1-64 characters)</p>",
      "pattern":"[a-zA-Z0-9-]{1,64}"
    },
    "AgentSpaceList":{
      "type":"list",
      "member":{"shape":"AgentSpace"},
      "documentation":"<p>A list of AgentSpace resources.</p>"
    },
    "AgentSpaceName":{
      "type":"string",
      "documentation":"<p>Agent space name field</p>",
      "max":255,
      "min":1,
      "pattern":"[\\p{L}\\p{N}\\p{P}\\p{S}\\p{Z}]+"
    },
    "ApiKeyValue":{
      "type":"string",
      "documentation":"<p>API Key Value for service.</p>",
      "min":1,
      "sensitive":true
    },
    "AssistantMessage":{
      "type":"list",
      "member":{"shape":"AssistantMessageBlock"}
    },
    "AssistantMessageBlock":{
      "type":"structure",
      "members":{
        "text":{
          "shape":"String",
          "documentation":"<p>Text content from the assistant.</p>"
        },
        "toolUse":{
          "shape":"Document",
          "documentation":"<p>Tool use request from the assistant.</p>"
        }
      },
      "documentation":"<p>A block of content in an assistant message.</p>",
      "union":true
    },
    "AssociateServiceInput":{
      "type":"structure",
      "required":[
        "agentSpaceId",
        "serviceId",
        "configuration"
      ],
      "members":{
        "agentSpaceId":{
          "shape":"AgentSpaceId",
          "documentation":"<p>The unique identifier of the AgentSpace</p>",
          "location":"uri",
          "locationName":"agentSpaceId"
        },
        "serviceId":{
          "shape":"ServiceId",
          "documentation":"<p>The unique identifier of the service.</p>"
        },
        "configuration":{
          "shape":"ServiceConfiguration",
          "documentation":"<p>The configuration that directs how AgentSpace interacts with the given service.</p>"
        }
      },
      "documentation":"<p>Input for creating a new service association within an AgentSpace.</p>"
    },
    "AssociateServiceOutput":{
      "type":"structure",
      "required":["association"],
      "members":{
        "association":{"shape":"Association"},
        "webhook":{
          "shape":"GenericWebhook",
          "documentation":"<p>Generic webhook configuration</p>"
        }
      },
      "documentation":"<p>Output containing the newly created association and optional webhook configuration.</p>"
    },
    "Association":{
      "type":"structure",
      "required":[
        "agentSpaceId",
        "createdAt",
        "updatedAt",
        "associationId",
        "serviceId",
        "configuration"
      ],
      "members":{
        "agentSpaceId":{
          "shape":"AgentSpaceId",
          "documentation":"<p>The unique identifier of the AgentSpace</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the resource was created.</p>"
        },
        "updatedAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the resource was last updated.</p>"
        },
        "status":{
          "shape":"ValidationStatus",
          "documentation":"<p>Validation status</p>"
        },
        "associationId":{
          "shape":"AssociationId",
          "documentation":"<p>The unique identifier of the given association.</p>"
        },
        "serviceId":{
          "shape":"ServiceId",
          "documentation":"<p>The identifier for associated service</p>"
        },
        "configuration":{
          "shape":"ServiceConfiguration",
          "documentation":"<p>The configuration that directs how AgentSpace interacts with the given service.</p>"
        }
      },
      "documentation":"<p>Represents a service association within an AgentSpace, defining how the agent interacts with external services.</p>"
    },
    "AssociationId":{
      "type":"string",
      "documentation":"<p>Unique identifier for a service association within an AgentSpace</p>",
      "max":255,
      "min":1,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "AssociationsList":{
      "type":"list",
      "member":{"shape":"Association"},
      "documentation":"<p>A list of service associations.</p>"
    },
    "AuthFlow":{
      "type":"string",
      "documentation":"<p>Authentication flow type for operator app.</p>",
      "enum":[
        "iam",
        "idc",
        "idp"
      ]
    },
    "AzureConfiguration":{
      "type":"structure",
      "required":["subscriptionId"],
      "members":{
        "subscriptionId":{
          "shape":"String",
          "documentation":"<p>Azure subscription ID corresponding to provided resources.</p>"
        }
      },
      "documentation":"<p>Configuration for Azure subscription integration.</p>"
    },
    "AzureDevOpsConfiguration":{
      "type":"structure",
      "required":[
        "organizationName",
        "projectId",
        "projectName"
      ],
      "members":{
        "organizationName":{
          "shape":"String",
          "documentation":"<p>Azure DevOps organization name.</p>"
        },
        "projectId":{
          "shape":"String",
          "documentation":"<p>Azure DevOps project ID.</p>"
        },
        "projectName":{
          "shape":"String",
          "documentation":"<p>Azure DevOps project name.</p>"
        }
      },
      "documentation":"<p>Configuration for Azure DevOps project integration.</p>"
    },
    "BackLogTimestamp":{
      "type":"timestamp",
      "documentation":"<p>Timestamp format used for backlog operations</p>",
      "timestampFormat":"iso8601"
    },
    "BacklogTaskDescription":{
      "type":"string",
      "documentation":"<p>Description for a backlog task (allows printable ASCII characters, tabs, and newlines; up to 10000 characters)</p>",
      "max":10000,
      "min":0
    },
    "BacklogTaskTitle":{
      "type":"string",
      "documentation":"<p>Title for a backlog task (allows printable ASCII characters, tabs, and newlines; 1-400 characters)</p>",
      "max":400,
      "min":1
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "CertificateString":{
      "type":"string",
      "documentation":"<p>String type for certificate or certificate chain.</p>",
      "max":32768,
      "min":1
    },
    "ChatExecution":{
      "type":"structure",
      "required":[
        "executionId",
        "createdAt"
      ],
      "members":{
        "executionId":{
          "shape":"ResourceId",
          "documentation":"<p>The unique identifier for the execution</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>Timestamp when the chat was created</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>Timestamp when the chat was last updated</p>"
        },
        "summary":{
          "shape":"String",
          "documentation":"<p>Summary or title of the chat</p>"
        }
      },
      "documentation":"<p>A single chat execution summary</p>"
    },
    "ChatExecutionList":{
      "type":"list",
      "member":{"shape":"ChatExecution"}
    },
    "ClientId":{
      "type":"string",
      "documentation":"<p>Client ID for service authentication.</p>",
      "max":255,
      "min":1,
      "pattern":"[a-zA-Z0-9._-]+",
      "sensitive":true
    },
    "ClientSecret":{
      "type":"string",
      "documentation":"<p>Client secret for service authentication.</p>",
      "max":512,
      "min":1,
      "pattern":"[\\S]+",
      "sensitive":true
    },
    "ConflictException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>Detailed error message describing the conflict.</p>"
        }
      },
      "documentation":"<p>The request conflicts with the current state of the resource.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ContentSizeExceededException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>This exception is thrown when the content size exceeds the allowed limit.</p>",
      "error":{
        "httpStatusCode":413,
        "senderFault":true
      },
      "exception":true
    },
    "CreateAgentSpaceInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"AgentSpaceName",
          "documentation":"<p>The name of the AgentSpace.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the AgentSpace.</p>"
        },
        "locale":{
          "shape":"Locale",
          "documentation":"<p>The locale for the AgentSpace, which determines the language used in agent responses.</p>"
        },
        "kmsKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The ARN of the AWS Key Management Service (AWS KMS) customer managed key that's used to encrypt resources.</p>"
        },
        "clientToken":{
          "shape":"CreateAgentSpaceInputClientTokenString",
          "documentation":"<p>Client-provided token to ensure request idempotency. When the same token is provided in subsequent calls, the same response is returned within a 8-hour window.</p>",
          "idempotencyToken":true
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>Tags to add to the AgentSpace at creation time.</p>"
        }
      },
      "documentation":"<p>Input for creating a new AgentSpace.</p>"
    },
    "CreateAgentSpaceInputClientTokenString":{
      "type":"string",
      "max":64,
      "min":0,
      "pattern":"[!-~]+"
    },
    "CreateAgentSpaceOutput":{
      "type":"structure",
      "required":["agentSpace"],
      "members":{
        "agentSpace":{"shape":"AgentSpace"},
        "tags":{
          "shape":"Tags",
          "documentation":"<p>Tags associated with the created AgentSpace.</p>"
        }
      },
      "documentation":"<p>Output containing the newly created AgentSpace.</p>"
    },
    "CreateBacklogTaskRequest":{
      "type":"structure",
      "required":[
        "agentSpaceId",
        "taskType",
        "title",
        "priority"
      ],
      "members":{
        "agentSpaceId":{
          "shape":"AgentSpaceId",
          "documentation":"<p>The unique identifier for the agent space where the task will be created</p>",
          "location":"uri",
          "locationName":"agentSpaceId"
        },
        "reference":{
          "shape":"ReferenceInput",
          "documentation":"<p>Optional reference information for the task</p>"
        },
        "taskType":{
          "shape":"TaskType",
          "documentation":"<p>The type of task being created</p>"
        },
        "title":{
          "shape":"BacklogTaskTitle",
          "documentation":"<p>The title of the backlog task</p>"
        },
        "description":{
          "shape":"BacklogTaskDescription",
          "documentation":"<p>Optional detailed description of the task</p>"
        },
        "priority":{
          "shape":"Priority",
          "documentation":"<p>The priority level of the task</p>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>Client-provided token for idempotent operations</p>",
          "idempotencyToken":true
        }
      },
      "documentation":"<p>Request structure for creating a new backlog task</p>"
    },
    "CreateBacklogTaskResponse":{
      "type":"structure",
      "required":["task"],
      "members":{
        "task":{
          "shape":"Task",
          "documentation":"<p>The newly created task object</p>"
        }
      },
      "documentation":"<p>Response structure containing the created backlog task</p>"
    },
    "CreateChatRequest":{
      "type":"structure",
      "required":["agentSpaceId"],
      "members":{
        "agentSpaceId":{
          "shape":"AgentSpaceId",
          "location":"uri",
          "locationName":"agentSpaceId"
        },
        "userId":{
          "shape":"ResourceId",
          "documentation":"<p>The user identifier for the chat. This field is deprecated and will be ignored — the service resolves user identity from the authenticated session.</p>",
          "deprecated":true,
          "deprecatedMessage":"userId is managed by the service and should not be provided by the caller",
          "deprecatedSince":"2026-04-15",
          "location":"querystring",
          "locationName":"userId"
        },
        "userType":{
          "shape":"UserType",
          "documentation":"<p>The authentication type of the user</p>",
          "location":"querystring",
          "locationName":"userType"
        }
      },
      "documentation":"<p>Request structure for creating a new chat</p>"
    },
    "CreateChatResponse":{
      "type":"structure",
      "required":[
        "executionId",
        "createdAt"
      ],
      "members":{
        "executionId":{
          "shape":"ResourceId",
          "documentation":"<p>The unique identifier for the created execution</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>Timestamp when the chat was created</p>"
        }
      },
      "documentation":"<p>Response structure for creating a new chat</p>"
    },
    "CreatePrivateConnectionInput":{
      "type":"structure",
      "required":[
        "name",
        "mode"
      ],
      "members":{
        "name":{
          "shape":"PrivateConnectionName",
          "documentation":"<p>Unique name for this Private Connection within the account.</p>"
        },
        "mode":{
          "shape":"PrivateConnectionMode",
          "documentation":"<p>Private Connection mode configuration.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>Tags to add to the Private Connection at creation time.</p>"
        }
      },
      "documentation":"<p>Input for creating a new Private Connection.</p>"
    },
    "CreatePrivateConnectionOutput":{
      "type":"structure",
      "required":[
        "name",
        "type",
        "status"
      ],
      "members":{
        "name":{
          "shape":"PrivateConnectionName",
          "documentation":"<p>The name of the Private Connection.</p>"
        },
        "type":{
          "shape":"PrivateConnectionType",
          "documentation":"<p>The type of the Private Connection.</p>"
        },
        "resourceGatewayId":{
          "shape":"ResourceGatewayArn",
          "documentation":"<p>The service-managed Resource Gateway ARN. Only present for service-managed Private Connections.</p>"
        },
        "hostAddress":{
          "shape":"IpAddressOrDnsName",
          "documentation":"<p>IP address or DNS name of the target resource. Only present for service-managed Private Connections.</p>"
        },
        "vpcId":{
          "shape":"VpcId",
          "documentation":"<p>VPC identifier of the service-managed Resource Gateway. Only present for service-managed Private Connections.</p>"
        },
        "resourceConfigurationId":{
          "shape":"ResourceConfigurationArn",
          "documentation":"<p>The Resource Configuration ARN. Only present for self-managed Private Connections.</p>"
        },
        "status":{
          "shape":"PrivateConnectionStatus",
          "documentation":"<p>The status of the Private Connection.</p>"
        },
        "certificateExpiryTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The expiry time of the certificate associated with the Private Connection. Only present when a certificate is associated.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>Tags associated with the created Private Connection.</p>"
        }
      },
      "documentation":"<p>Output containing the newly created Private Connection summary.</p>"
    },
    "DatadogAuthorizationConfig":{
      "type":"structure",
      "members":{
        "authorizationDiscovery":{
          "shape":"MCPServerAuthorizationDiscoveryConfig",
          "documentation":"<p>Datadog MCP server authorization discovery configuration.</p>"
        }
      },
      "documentation":"<p>Authorization configuration for Datadog MCP server (uses authorization discovery only).</p>",
      "union":true
    },
    "DatadogServiceDetails":{
      "type":"structure",
      "required":[
        "name",
        "endpoint",
        "authorizationConfig"
      ],
      "members":{
        "name":{
          "shape":"DatadogServiceDetailsNameString",
          "documentation":"<p>MCP server name.</p>"
        },
        "endpoint":{
          "shape":"DatadogServiceDetailsEndpointString",
          "documentation":"<p>MCP server endpoint URL.</p>"
        },
        "description":{
          "shape":"DatadogServiceDetailsDescriptionString",
          "documentation":"<p>Optional description for the MCP server.</p>"
        },
        "authorizationConfig":{
          "shape":"DatadogAuthorizationConfig",
          "documentation":"<p>Datadog MCP server authorization configuration (only authorization discovery is supported).</p>"
        }
      },
      "documentation":"<p>Complete service details for Datadog MCP server integration.</p>"
    },
    "DatadogServiceDetailsDescriptionString":{
      "type":"string",
      "documentation":"<p>Description field</p>",
      "max":500,
      "min":0,
      "pattern":"[\\p{L}\\p{N}\\p{P}\\p{S}\\p{Z}]+",
      "sensitive":true
    },
    "DatadogServiceDetailsEndpointString":{
      "type":"string",
      "pattern":"https://[a-zA-Z0-9.-]+(?::[0-9]+)?(?:/.*)?"
    },
    "DatadogServiceDetailsNameString":{
      "type":"string",
      "pattern":"[a-zA-Z0-9_-]+"
    },
    "DateTime":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "DeleteAgentSpaceInput":{
      "type":"structure",
      "required":["agentSpaceId"],
      "members":{
        "agentSpaceId":{
          "shape":"AgentSpaceId",
          "documentation":"<p>The unique identifier of the AgentSpace</p>",
          "location":"uri",
          "locationName":"agentSpaceId"
        }
      },
      "documentation":"<p>Input for deleting an AgentSpace.</p>"
    },
    "DeleteAgentSpaceOutput":{
      "type":"structure",
      "members":{},
      "documentation":"<p>Empty output for successful AgentSpace deletion.</p>"
    },
    "DeletePrivateConnectionInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"PrivateConnectionName",
          "documentation":"<p>The name of the Private Connection.</p>",
          "location":"uri",
          "locationName":"name"
        }
      },
      "documentation":"<p>Input for deleting an existing Private Connection.</p>"
    },
    "DeletePrivateConnectionOutput":{
      "type":"structure",
      "required":[
        "name",
        "status"
      ],
      "members":{
        "name":{
          "shape":"PrivateConnectionName",
          "documentation":"<p>The name of the Private Connection.</p>"
        },
        "status":{
          "shape":"PrivateConnectionStatus",
          "documentation":"<p>The status of the Private Connection.</p>"
        }
      },
      "documentation":"<p>Output containing the status of the Private Connection deletion.</p>"
    },
    "DeregisterServiceInput":{
      "type":"structure",
      "required":["serviceId"],
      "members":{
        "serviceId":{
          "shape":"ServiceId",
          "documentation":"<p>The service id to deregister. A service can only be deregistered if it is not associated with any AgentSpace.</p>",
          "location":"uri",
          "locationName":"serviceId"
        }
      },
      "documentation":"<p>Input for deregistering a service.</p>"
    },
    "DeregisterServiceOutput":{
      "type":"structure",
      "members":{},
      "documentation":"<p>Empty output for successful service deregistration.</p>"
    },
    "DescribePrivateConnectionInput":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"PrivateConnectionName",
          "documentation":"<p>The name of the Private Connection.</p>",
          "location":"uri",
          "locationName":"name"
        }
      },
      "documentation":"<p>Input for describing an existing Private Connection.</p>"
    },
    "DescribePrivateConnectionOutput":{
      "type":"structure",
      "required":[
        "name",
        "type",
        "status"
      ],
      "members":{
        "name":{
          "shape":"PrivateConnectionName",
          "documentation":"<p>The name of the Private Connection.</p>"
        },
        "type":{
          "shape":"PrivateConnectionType",
          "documentation":"<p>The type of the Private Connection.</p>"
        },
        "resourceGatewayId":{
          "shape":"ResourceGatewayArn",
          "documentation":"<p>The service-managed Resource Gateway ARN. Only present for service-managed Private Connections.</p>"
        },
        "hostAddress":{
          "shape":"IpAddressOrDnsName",
          "documentation":"<p>IP address or DNS name of the target resource. Only present for service-managed Private Connections.</p>"
        },
        "vpcId":{
          "shape":"VpcId",
          "documentation":"<p>VPC identifier of the service-managed Resource Gateway. Only present for service-managed Private Connections.</p>"
        },
        "resourceConfigurationId":{
          "shape":"ResourceConfigurationArn",
          "documentation":"<p>The Resource Configuration ARN. Only present for self-managed Private Connections.</p>"
        },
        "status":{
          "shape":"PrivateConnectionStatus",
          "documentation":"<p>The status of the Private Connection.</p>"
        },
        "certificateExpiryTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The expiry time of the certificate associated with the Private Connection. Only present when a certificate is associated.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>Tags associated with the Private Connection.</p>"
        }
      },
      "documentation":"<p>Output containing the Private Connection details.</p>"
    },
    "Description":{
      "type":"string",
      "documentation":"<p>Description field</p>",
      "max":1000,
      "min":1,
      "pattern":"[\\p{L}\\p{N}\\p{P}\\p{S}\\p{Z}]+",
      "sensitive":true
    },
    "DisableOperatorAppInput":{
      "type":"structure",
      "required":["agentSpaceId"],
      "members":{
        "agentSpaceId":{
          "shape":"AgentSpaceId",
          "documentation":"<p>The unique identifier of the AgentSpace</p>",
          "location":"uri",
          "locationName":"agentSpaceId"
        },
        "authFlow":{
          "shape":"AuthFlow",
          "documentation":"<p>The authentication flow configured for the operator App. e.g. idc</p>",
          "location":"header",
          "locationName":"x-amzn-app-auth-flow"
        }
      },
      "documentation":"<p>Input for disabling the Operator App for an AgentSpace.</p>"
    },
    "DisassociateServiceInput":{
      "type":"structure",
      "required":[
        "agentSpaceId",
        "associationId"
      ],
      "members":{
        "agentSpaceId":{
          "shape":"AgentSpaceId",
          "documentation":"<p>The unique identifier of the AgentSpace</p>",
          "location":"uri",
          "locationName":"agentSpaceId"
        },
        "associationId":{
          "shape":"AssociationId",
          "documentation":"<p>The unique identifier of the given association.</p>",
          "location":"uri",
          "locationName":"associationId"
        }
      },
      "documentation":"<p>Input for removing a service association from an AgentSpace.</p>"
    },
    "DisassociateServiceOutput":{
      "type":"structure",
      "members":{},
      "documentation":"<p>Empty output for successful service disassociation.</p>"
    },
    "Document":{
      "type":"structure",
      "members":{},
      "document":true
    },
    "DocumentList":{
      "type":"list",
      "member":{"shape":"Document"},
      "documentation":"<p>Generic list of document objects for flexible data structures.</p>"
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "DynatraceConfiguration":{
      "type":"structure",
      "required":["envId"],
      "members":{
        "envId":{
          "shape":"String",
          "documentation":"<p>Dynatrace environment id</p>"
        },
        "resources":{
          "shape":"DynatraceResourceList",
          "documentation":"<p>List of Dynatrace resources to monitor</p>"
        }
      },
      "documentation":"<p>Configuration for Dynatrace monitoring integration.</p>"
    },
    "DynatraceOAuthClientCredentialsConfig":{
      "type":"structure",
      "required":[
        "clientId",
        "clientSecret"
      ],
      "members":{
        "clientName":{
          "shape":"DynatraceOAuthClientCredentialsConfigClientNameString",
          "documentation":"<p>User friendly OAuth client name specified by end user.</p>"
        },
        "clientId":{
          "shape":"ClientId",
          "documentation":"<p>OAuth client ID for authenticating with the service.</p>"
        },
        "exchangeParameters":{
          "shape":"ExchangeParameters",
          "documentation":"<p>OAuth token exchange parameters for authenticating with the service.</p>"
        },
        "clientSecret":{
          "shape":"ClientSecret",
          "documentation":"<p>OAuth client secret for authenticating with the service.</p>"
        }
      },
      "documentation":"<p>OAuth client credentials configuration for Dynatrace.</p>"
    },
    "DynatraceOAuthClientCredentialsConfigClientNameString":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[\\p{L}\\p{N}\\p{Z}._-]+"
    },
    "DynatraceResourceList":{
      "type":"list",
      "member":{"shape":"String"},
      "documentation":"<p>List of Dynatrace resources to monitor.</p>"
    },
    "DynatraceServiceAuthorizationConfig":{
      "type":"structure",
      "members":{
        "oAuthClientCredentials":{
          "shape":"DynatraceOAuthClientCredentialsConfig",
          "documentation":"<p>OAuth client credentials configuration.</p>"
        }
      },
      "documentation":"<p>Authorization configuration options for Dynatrace service.</p>",
      "sensitive":true,
      "union":true
    },
    "DynatraceServiceDetails":{
      "type":"structure",
      "required":["accountUrn"],
      "members":{
        "accountUrn":{
          "shape":"DynatraceServiceDetailsAccountUrnString",
          "documentation":"<p>Dynatrace resource account urn.</p>"
        },
        "authorizationConfig":{
          "shape":"DynatraceServiceAuthorizationConfig",
          "documentation":"<p>Dynatrace OAuth client credentials configuration. Use this when registering with OAuth client credentials flow.</p>"
        }
      },
      "documentation":"<p>Complete service details for Dynatrace integration.</p>"
    },
    "DynatraceServiceDetailsAccountUrnString":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"urn:dtaccount:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "EmailAddress":{
      "type":"string",
      "documentation":"<p>Email address</p>",
      "pattern":"[a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,}",
      "sensitive":true
    },
    "EnableOperatorAppInput":{
      "type":"structure",
      "required":[
        "agentSpaceId",
        "authFlow",
        "operatorAppRoleArn"
      ],
      "members":{
        "agentSpaceId":{
          "shape":"AgentSpaceId",
          "documentation":"<p>The unique identifier of the AgentSpace</p>",
          "location":"uri",
          "locationName":"agentSpaceId"
        },
        "authFlow":{
          "shape":"AuthFlow",
          "documentation":"<p>The authentication flow configured for the operator App. e.g. iam or idc</p>"
        },
        "operatorAppRoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The IAM role end users assume to access AIDevOps APIs</p>"
        },
        "idcInstanceArn":{
          "shape":"String",
          "documentation":"<p>The IdC instance Arn used to create an IdC auth application</p>"
        },
        "issuerUrl":{
          "shape":"String",
          "documentation":"<p>The OIDC issuer URL of the external Identity Provider</p>"
        },
        "idpClientId":{
          "shape":"IdpClientId",
          "documentation":"<p>The OIDC client ID for the IdP application</p>"
        },
        "idpClientSecret":{
          "shape":"IdpClientSecret",
          "documentation":"<p>The OIDC client secret for the IdP application</p>"
        },
        "provider":{
          "shape":"String",
          "documentation":"<p>The Identity Provider name (e.g., Entra, Okta, Google)</p>"
        }
      },
      "documentation":"<p>Input for enabling the Operator App for an AgentSpace.</p>"
    },
    "EnableOperatorAppOutput":{
      "type":"structure",
      "required":["agentSpaceId"],
      "members":{
        "agentSpaceId":{
          "shape":"AgentSpaceId",
          "documentation":"<p>The unique identifier of the AgentSpace</p>"
        },
        "iam":{"shape":"IamAuthConfiguration"},
        "idc":{"shape":"IdcAuthConfiguration"},
        "idp":{"shape":"IdpAuthConfiguration"}
      },
      "documentation":"<p>Output containing the enabled Operator App configuration.</p>"
    },
    "EventChannelConfiguration":{
      "type":"structure",
      "members":{},
      "documentation":"<p>Configuration for Event Channel integration.</p>"
    },
    "EventChannelDetails":{
      "type":"structure",
      "members":{
        "type":{
          "shape":"EventChannelType",
          "documentation":"<p>The type of event channel</p>"
        }
      },
      "documentation":"<p>Service details for Event Channel integration.</p>"
    },
    "EventChannelType":{
      "type":"string",
      "documentation":"<p>Event Channel type</p>",
      "enum":["webhook"]
    },
    "ExchangeParameterValue":{
      "type":"string",
      "documentation":"<p>Exchange Parameter value for MCP authentication</p>",
      "sensitive":true
    },
    "ExchangeParameters":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"ExchangeParameterValue"},
      "documentation":"<p>Exchange Parameter Map for MCP authentication.</p>"
    },
    "Execution":{
      "type":"structure",
      "required":[
        "agentSpaceId",
        "executionId",
        "agentSubTask",
        "createdAt",
        "updatedAt",
        "executionStatus"
      ],
      "members":{
        "agentSpaceId":{
          "shape":"String",
          "documentation":"<p>The unique identifier for the agent space containing this execution</p>"
        },
        "executionId":{
          "shape":"String",
          "documentation":"<p>The unique identifier for this execution</p>"
        },
        "parentExecutionId":{
          "shape":"String",
          "documentation":"<p>The identifier of the parent execution, if this is a child execution</p>"
        },
        "agentSubTask":{
          "shape":"String",
          "documentation":"<p>The specific subtask being executed by the agent</p>"
        },
        "createdAt":{
          "shape":"JournalTimestamp",
          "documentation":"<p>Timestamp when this execution was created</p>"
        },
        "updatedAt":{
          "shape":"JournalTimestamp",
          "documentation":"<p>Timestamp when this execution was last updated</p>"
        },
        "executionStatus":{
          "shape":"ExecutionStatus",
          "documentation":"<p>The current status of this execution</p>"
        },
        "agentType":{
          "shape":"String",
          "documentation":"<p>The type of agent that performed this execution.</p>"
        },
        "uid":{
          "shape":"String",
          "documentation":"<p>The unique identifier for the user session associated with this execution</p>"
        }
      },
      "documentation":"<p>Represents an execution instance with its lifecycle information</p>"
    },
    "ExecutionList":{
      "type":"list",
      "member":{"shape":"Execution"},
      "documentation":"<p>List of execution instances</p>"
    },
    "ExecutionStatus":{
      "type":"string",
      "documentation":"<p>Possible states of an execution</p>",
      "enum":[
        "FAILED",
        "RUNNING",
        "STOPPED",
        "CANCELED",
        "TIMED_OUT"
      ]
    },
    "GenericWebhook":{
      "type":"structure",
      "members":{
        "webhookUrl":{
          "shape":"String",
          "documentation":"<p>The webhook URL endpoint</p>"
        },
        "webhookId":{
          "shape":"String",
          "documentation":"<p>The unique webhook identifier</p>"
        },
        "webhookType":{
          "shape":"WebhookType",
          "documentation":"<p>The webhook authentication type</p>"
        },
        "webhookSecret":{
          "shape":"WebhookSecret",
          "documentation":"<p>The webhook secret for authentication</p>"
        },
        "apiKey":{
          "shape":"ApiKeyValue",
          "documentation":"<p>API Key for API Key webhook authentication</p>"
        }
      },
      "documentation":"<p>Generic webhook configuration for services that support webhook notifications.</p>"
    },
    "GetAccountUsageInput":{
      "type":"structure",
      "members":{}
    },
    "GetAccountUsageOutput":{
      "type":"structure",
      "required":[
        "usagePeriodStartTime",
        "usagePeriodEndTime"
      ],
      "members":{
        "monthlyAccountInvestigationHours":{
          "shape":"UsageMetric",
          "documentation":"<p>Monthly investigation hours usage and limit for an account</p>"
        },
        "monthlyAccountEvaluationHours":{
          "shape":"UsageMetric",
          "documentation":"<p>Monthly evaluation hours usage and limit for an account</p>"
        },
        "monthlyAccountSystemLearningHours":{
          "shape":"UsageMetric",
          "documentation":"<p>Monthly system learning hours usage and limit for an account</p>"
        },
        "monthlyAccountOnDemandHours":{
          "shape":"UsageMetric",
          "documentation":"<p>Monthly on-demand hours usage and limit for an account</p>"
        },
        "usagePeriodStartTime":{
          "shape":"DateTime",
          "documentation":"<p>The start time of the usage tracking period</p>"
        },
        "usagePeriodEndTime":{
          "shape":"DateTime",
          "documentation":"<p>The end time of the usage tracking period</p>"
        }
      }
    },
    "GetAgentSpaceInput":{
      "type":"structure",
      "required":["agentSpaceId"],
      "members":{
        "agentSpaceId":{
          "shape":"AgentSpaceId",
          "documentation":"<p>The unique identifier of the AgentSpace</p>",
          "location":"uri",
          "locationName":"agentSpaceId"
        }
      },
      "documentation":"<p>Input for retrieving a specific AgentSpace by ID.</p>"
    },
    "GetAgentSpaceOutput":{
      "type":"structure",
      "required":["agentSpace"],
      "members":{
        "agentSpace":{"shape":"AgentSpace"},
        "tags":{
          "shape":"Tags",
          "documentation":"<p>Tags associated with the AgentSpace.</p>"
        }
      },
      "documentation":"<p>Output containing the requested AgentSpace details.</p>"
    },
    "GetAssociationInput":{
      "type":"structure",
      "required":[
        "agentSpaceId",
        "associationId"
      ],
      "members":{
        "agentSpaceId":{
          "shape":"AgentSpaceId",
          "documentation":"<p>The unique identifier of the AgentSpace</p>",
          "location":"uri",
          "locationName":"agentSpaceId"
        },
        "associationId":{
          "shape":"AssociationId",
          "documentation":"<p>The unique identifier of the given association.</p>",
          "location":"uri",
          "locationName":"associationId"
        }
      },
      "documentation":"<p>Input for retrieving a specific service association.</p>"
    },
    "GetAssociationOutput":{
      "type":"structure",
      "required":["association"],
      "members":{
        "association":{"shape":"Association"}
      },
      "documentation":"<p>Output containing the requested association details.</p>"
    },
    "GetBacklogTaskRequest":{
      "type":"structure",
      "required":[
        "agentSpaceId",
        "taskId"
      ],
      "members":{
        "agentSpaceId":{
          "shape":"AgentSpaceId",
          "documentation":"<p>The unique identifier for the agent space containing the task</p>",
          "location":"uri",
          "locationName":"agentSpaceId"
        },
        "taskId":{
          "shape":"ResourceId",
          "documentation":"<p>The unique identifier of the task to retrieve</p>",
          "location":"uri",
          "locationName":"taskId"
        }
      },
      "documentation":"<p>Request structure for retrieving a specific backlog task</p>"
    },
    "GetBacklogTaskResponse":{
      "type":"structure",
      "required":["task"],
      "members":{
        "task":{
          "shape":"Task",
          "documentation":"<p>The requested task object</p>"
        }
      },
      "documentation":"<p>Response structure containing the requested backlog task</p>"
    },
    "GetOperatorAppInput":{
      "type":"structure",
      "required":["agentSpaceId"],
      "members":{
        "agentSpaceId":{
          "shape":"AgentSpaceId",
          "documentation":"<p>The unique identifier of the AgentSpace</p>",
          "location":"uri",
          "locationName":"agentSpaceId"
        }
      },
      "documentation":"<p>Input for retrieving Operator App configuration.</p>"
    },
    "GetOperatorAppOutput":{
      "type":"structure",
      "members":{
        "iam":{"shape":"IamAuthConfiguration"},
        "idc":{"shape":"IdcAuthConfiguration"},
        "idp":{"shape":"IdpAuthConfiguration"}
      },
      "documentation":"<p>Output containing the Operator App configuration including authentication details.</p>"
    },
    "GetRecommendationRequest":{
      "type":"structure",
      "required":[
        "agentSpaceId",
        "recommendationId"
      ],
      "members":{
        "agentSpaceId":{
          "shape":"AgentSpaceId",
          "documentation":"<p>The unique identifier for the agent space containing the recommendation</p>",
          "location":"uri",
          "locationName":"agentSpaceId"
        },
        "recommendationId":{
          "shape":"ResourceId",
          "documentation":"<p>The unique identifier for the recommendation to retrieve</p>",
          "location":"uri",
          "locationName":"recommendationId"
        },
        "recommendationVersion":{
          "shape":"Long",
          "documentation":"<p>Specific version of the recommendation to retrieve. If not specified, returns the latest version.</p>",
          "location":"querystring",
          "locationName":"recommendationVersion"
        }
      },
      "documentation":"<p>Request structure for retrieving a specific recommendation</p>"
    },
    "GetRecommendationResponse":{
      "type":"structure",
      "required":["recommendation"],
      "members":{
        "recommendation":{
          "shape":"Recommendation",
          "documentation":"<p>The requested recommendation</p>"
        }
      },
      "documentation":"<p>Response structure containing the requested recommendation</p>"
    },
    "GetServiceInput":{
      "type":"structure",
      "required":["serviceId"],
      "members":{
        "serviceId":{
          "shape":"ServiceId",
          "documentation":"<p>The unique identifier of the given service.</p>",
          "location":"uri",
          "locationName":"serviceId"
        }
      },
      "documentation":"<p>Input for retrieving a specific service association.</p>"
    },
    "GetServiceOutput":{
      "type":"structure",
      "required":["service"],
      "members":{
        "service":{"shape":"RegisteredService"},
        "tags":{
          "shape":"Tags",
          "documentation":"<p>Tags associated with the Service.</p>"
        }
      },
      "documentation":"<p>Output containing the requested service details.</p>"
    },
    "GitHubConfiguration":{
      "type":"structure",
      "required":[
        "repoName",
        "repoId",
        "owner",
        "ownerType"
      ],
      "members":{
        "repoName":{
          "shape":"String",
          "documentation":"<p>Associated Github repo name</p>"
        },
        "repoId":{
          "shape":"String",
          "documentation":"<p>Associated Github repo ID</p>"
        },
        "owner":{
          "shape":"String",
          "documentation":"<p>The GitHub repository owner name.</p>"
        },
        "ownerType":{"shape":"GithubRepoOwnerType"},
        "instanceIdentifier":{
          "shape":"String",
          "documentation":"<p>GitHub instance identifier (e.g., github.com or github.enterprise.com)</p>"
        }
      },
      "documentation":"<p>Configuration for GitHub repository integration.</p>"
    },
    "GitLabConfiguration":{
      "type":"structure",
      "required":[
        "projectId",
        "projectPath"
      ],
      "members":{
        "projectId":{
          "shape":"String",
          "documentation":"<p>GitLab numeric project ID.</p>"
        },
        "projectPath":{
          "shape":"String",
          "documentation":"<p>Full GitLab project path (e.g., namespace/project-name).</p>"
        },
        "instanceIdentifier":{
          "shape":"String",
          "documentation":"<p>GitLab instance identifier (e.g., gitlab.com or e2e.gamma.dev.us-east-1.gitlab.falco.ai.aws.dev)</p>"
        }
      },
      "documentation":"<p>Configuration for GitLab project integration.</p>"
    },
    "GitLabDetails":{
      "type":"structure",
      "required":[
        "targetUrl",
        "tokenType",
        "tokenValue"
      ],
      "members":{
        "targetUrl":{
          "shape":"GitLabDetailsTargetUrlString",
          "documentation":"<p>GitLab instance URL (e.g., https://gitlab.com or self-hosted instance).</p>"
        },
        "tokenType":{
          "shape":"GitLabTokenType",
          "documentation":"<p>Type of GitLab access token</p>"
        },
        "tokenValue":{
          "shape":"GitLabDetailsTokenValueString",
          "documentation":"<p>GitLab access token value</p>"
        },
        "groupId":{
          "shape":"String",
          "documentation":"<p>Optional GitLab group ID for group-level access tokens</p>"
        }
      },
      "documentation":"<p>Service details for GitLab integration.</p>"
    },
    "GitLabDetailsTargetUrlString":{
      "type":"string",
      "pattern":"https://[a-zA-Z0-9]([a-zA-Z0-9.-]*[a-zA-Z0-9])?(?::[0-9]{1,5})?/?"
    },
    "GitLabDetailsTokenValueString":{
      "type":"string",
      "documentation":"<p>Token value for authentication.</p>",
      "pattern":"[a-zA-Z0-9._-]+",
      "sensitive":true
    },
    "GitLabTokenType":{
      "type":"string",
      "documentation":"<p>Type of GitLab access token.</p>",
      "enum":[
        "personal",
        "group"
      ]
    },
    "GithubRepoOwnerType":{
      "type":"string",
      "documentation":"<p>Type of GitHub repository owner.</p>",
      "enum":[
        "organization",
        "user"
      ]
    },
    "Goal":{
      "type":"structure",
      "required":[
        "agentSpaceArn",
        "goalId",
        "title",
        "content",
        "status",
        "goalType",
        "createdAt",
        "updatedAt",
        "version"
      ],
      "members":{
        "agentSpaceArn":{
          "shape":"String",
          "documentation":"<p>The unique identifier for the agent space containing this goal</p>"
        },
        "goalId":{
          "shape":"String",
          "documentation":"<p>The unique identifier for this goal</p>"
        },
        "title":{
          "shape":"String",
          "documentation":"<p>The title of the goal</p>"
        },
        "content":{
          "shape":"GoalContent",
          "documentation":"<p>Content of the goal</p>"
        },
        "status":{
          "shape":"GoalStatus",
          "documentation":"<p>Current status of the goal itself</p>"
        },
        "goalType":{
          "shape":"GoalType",
          "documentation":"<p>Type of goal based on its origin</p>"
        },
        "createdAt":{
          "shape":"BackLogTimestamp",
          "documentation":"<p>Timestamp when this goal was created</p>"
        },
        "updatedAt":{
          "shape":"BackLogTimestamp",
          "documentation":"<p>Timestamp when this goal was last updated</p>"
        },
        "lastEvaluatedAt":{
          "shape":"BackLogTimestamp",
          "documentation":"<p>Timestamp when the goal was last evaluated</p>"
        },
        "lastTaskId":{
          "shape":"String",
          "documentation":"<p>ID of the most recent task associated with this goal</p>"
        },
        "lastSuccessfulTaskId":{
          "shape":"String",
          "documentation":"<p>ID of the most recent successful task associated with this goal</p>"
        },
        "version":{
          "shape":"Integer",
          "documentation":"<p>Version number for optimistic locking</p>"
        },
        "evaluationSchedule":{
          "shape":"GoalSchedule",
          "documentation":"<p>Goal Schedule. Allows to schedule the goal to run periodically, as well as disable a goal temporarily</p>"
        }
      },
      "documentation":"<p>Represents a goal with all its properties and metadata</p>"
    },
    "GoalContent":{
      "type":"structure",
      "required":[
        "description",
        "objectives"
      ],
      "members":{
        "description":{
          "shape":"String",
          "documentation":"<p>A detailed description of the goal.</p>"
        },
        "objectives":{
          "shape":"String",
          "documentation":"<p>The objectives to be achieved for this goal.</p>"
        }
      },
      "documentation":"<p>Content of a goal</p>"
    },
    "GoalList":{
      "type":"list",
      "member":{"shape":"Goal"},
      "documentation":"<p>List of goals</p>"
    },
    "GoalSchedule":{
      "type":"structure",
      "required":["state"],
      "members":{
        "state":{
          "shape":"SchedulerState",
          "documentation":"<p>Whether the schedule is enabled or disabled</p>"
        },
        "expression":{
          "shape":"String",
          "documentation":"<p>Schedule expression (e.g., 'rate(7 days)')</p>"
        }
      },
      "documentation":"<p>Schedule configuration for goal evaluations</p>"
    },
    "GoalScheduleInput":{
      "type":"structure",
      "required":["state"],
      "members":{
        "state":{
          "shape":"SchedulerState",
          "documentation":"<p>Whether the schedule is enabled or disabled</p>"
        }
      },
      "documentation":"<p>Schedule configuration for updating goal evaluations</p>"
    },
    "GoalStatus":{
      "type":"string",
      "documentation":"<p>Possible states of a goal throughout its lifecycle</p>",
      "enum":[
        "ACTIVE",
        "PAUSED",
        "COMPLETE"
      ]
    },
    "GoalType":{
      "type":"string",
      "documentation":"<p>Type of goal based on its origin</p>",
      "enum":[
        "CUSTOMER_DEFINED",
        "ONCALL_REPORT"
      ]
    },
    "GrafanaServiceDetails":{
      "type":"structure",
      "required":[
        "name",
        "endpoint",
        "authorizationConfig"
      ],
      "members":{
        "name":{
          "shape":"GrafanaServiceDetailsNameString",
          "documentation":"<p>MCP server name.</p>"
        },
        "endpoint":{
          "shape":"GrafanaServiceDetailsEndpointString",
          "documentation":"<p>MCP server endpoint URL.</p>"
        },
        "description":{
          "shape":"GrafanaServiceDetailsDescriptionString",
          "documentation":"<p>Optional description for the MCP server.</p>"
        },
        "authorizationConfig":{
          "shape":"MCPServerAuthorizationConfig",
          "documentation":"<p>Grafana MCP server authorization configuration (experimental).</p>"
        }
      },
      "documentation":"<p>Complete service details for Grafana MCP server integration.</p>"
    },
    "GrafanaServiceDetailsDescriptionString":{
      "type":"string",
      "documentation":"<p>Description field</p>",
      "max":500,
      "min":0,
      "pattern":"[\\p{L}\\p{N}\\p{P}\\p{S}\\p{Z}]+",
      "sensitive":true
    },
    "GrafanaServiceDetailsEndpointString":{
      "type":"string",
      "pattern":"https://[a-zA-Z0-9.-]+(?::[0-9]+)?(?:/.*)?"
    },
    "GrafanaServiceDetailsNameString":{
      "type":"string",
      "pattern":"[a-zA-Z0-9_-]+"
    },
    "Guid":{
      "type":"string",
      "documentation":"<p>Globally Unique Identifier (GUID) in standard format.</p>",
      "max":36,
      "min":0,
      "pattern":"[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"
    },
    "IamAuthConfiguration":{
      "type":"structure",
      "required":[
        "operatorAppRoleArn",
        "createdAt"
      ],
      "members":{
        "operatorAppRoleArn":{
          "shape":"String",
          "documentation":"<p>The IAM role end users assume to access AIDevOps APIs</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the Operator App IAM auth flow was enabled.</p>"
        },
        "updatedAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the Operator App IAM auth flow was updated.</p>"
        }
      },
      "documentation":"<p>Configuration for IAM-based authentication flow for the Operator App.</p>"
    },
    "IdcAuthConfiguration":{
      "type":"structure",
      "required":[
        "operatorAppRoleArn",
        "idcInstanceArn",
        "createdAt"
      ],
      "members":{
        "operatorAppRoleArn":{
          "shape":"String",
          "documentation":"<p>The IAM role end users assume to access AIDevOps APIs</p>"
        },
        "idcInstanceArn":{
          "shape":"String",
          "documentation":"<p>The IdC instance Arn used to create an IdC auth application</p>"
        },
        "idcApplicationArn":{
          "shape":"String",
          "documentation":"<p>The IdC application Arn created for IdC auth</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the Operator App IdC auth flow was enabled.</p>"
        },
        "updatedAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the Operator App IdC auth flow was updated.</p>"
        }
      },
      "documentation":"<p>Configuration for AWS Identity Center (IdC) authentication flow for the Operator App.</p>"
    },
    "IdentityCenterServiceException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>Detailed error message describing why the call fails</p>"
        },
        "underlyingErrorCode":{
          "shape":"String",
          "documentation":"<p>The Idc error code</p>"
        }
      },
      "documentation":"<p>Calls to the customer Identity Center have failed</p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "IdpAuthConfiguration":{
      "type":"structure",
      "required":[
        "issuerUrl",
        "clientId",
        "operatorAppRoleArn",
        "provider",
        "createdAt"
      ],
      "members":{
        "issuerUrl":{
          "shape":"String",
          "documentation":"<p>The OIDC issuer URL of the external Identity Provider</p>"
        },
        "clientId":{
          "shape":"String",
          "documentation":"<p>The OIDC client ID for the IdP application</p>"
        },
        "operatorAppRoleArn":{
          "shape":"String",
          "documentation":"<p>The IAM role end users assume to access AIDevOps APIs</p>"
        },
        "provider":{
          "shape":"String",
          "documentation":"<p>The Identity Provider name (e.g., Entra, Okta, Google)</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the Operator App IdP auth flow was enabled.</p>"
        },
        "updatedAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The timestamp when the Operator App IdP auth flow was updated.</p>"
        }
      },
      "documentation":"<p>Configuration for external Identity Provider OIDC authentication flow for the Operator App.</p>"
    },
    "IdpClientId":{
      "type":"string",
      "documentation":"<p>Client ID for IdP OIDC authentication.</p>",
      "max":512,
      "min":1
    },
    "IdpClientSecret":{
      "type":"string",
      "documentation":"<p>Client secret for IdP OIDC authentication.</p>",
      "max":1024,
      "min":1,
      "sensitive":true
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>This exception is thrown when an unexpected error occurs in the processing of a request.</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "InvalidParameterException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>Detailed error message describing which parameter is invalid and why.</p>"
        }
      },
      "documentation":"<p>One or more parameters provided in the request are invalid.</p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "IpAddressOrDnsName":{
      "type":"string",
      "documentation":"<p>IP address or DNS name of a target resource.</p>",
      "max":255,
      "min":3,
      "pattern":"[a-zA-Z0-9.:\\-]+"
    },
    "IpAddressType":{
      "type":"string",
      "documentation":"<p>IP address type for a Resource Gateway.</p>",
      "enum":[
[...]
