{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-07-25",
    "endpointPrefix":"auditmanager",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"AWS Audit Manager",
    "serviceId":"AuditManager",
    "signatureVersion":"v4",
    "signingName":"auditmanager",
    "uid":"auditmanager-2017-07-25"
  },
  "operations":{
    "AssociateAssessmentReportEvidenceFolder":{
      "name":"AssociateAssessmentReportEvidenceFolder",
      "http":{
        "method":"PUT",
        "requestUri":"/assessments/{assessmentId}/associateToAssessmentReport"
      },
      "input":{"shape":"AssociateAssessmentReportEvidenceFolderRequest"},
      "output":{"shape":"AssociateAssessmentReportEvidenceFolderResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Associates an evidence folder to the specified assessment report in Audit Manager. </p>"
    },
    "BatchAssociateAssessmentReportEvidence":{
      "name":"BatchAssociateAssessmentReportEvidence",
      "http":{
        "method":"PUT",
        "requestUri":"/assessments/{assessmentId}/batchAssociateToAssessmentReport"
      },
      "input":{"shape":"BatchAssociateAssessmentReportEvidenceRequest"},
      "output":{"shape":"BatchAssociateAssessmentReportEvidenceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Associates a list of evidence to an assessment report in an Audit Manager assessment. </p>"
    },
    "BatchCreateDelegationByAssessment":{
      "name":"BatchCreateDelegationByAssessment",
      "http":{
        "method":"POST",
        "requestUri":"/assessments/{assessmentId}/delegations"
      },
      "input":{"shape":"BatchCreateDelegationByAssessmentRequest"},
      "output":{"shape":"BatchCreateDelegationByAssessmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Create a batch of delegations for a specified assessment in Audit Manager. </p>"
    },
    "BatchDeleteDelegationByAssessment":{
      "name":"BatchDeleteDelegationByAssessment",
      "http":{
        "method":"PUT",
        "requestUri":"/assessments/{assessmentId}/delegations"
      },
      "input":{"shape":"BatchDeleteDelegationByAssessmentRequest"},
      "output":{"shape":"BatchDeleteDelegationByAssessmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Deletes the delegations in the specified Audit Manager assessment. </p>"
    },
    "BatchDisassociateAssessmentReportEvidence":{
      "name":"BatchDisassociateAssessmentReportEvidence",
      "http":{
        "method":"PUT",
        "requestUri":"/assessments/{assessmentId}/batchDisassociateFromAssessmentReport"
      },
      "input":{"shape":"BatchDisassociateAssessmentReportEvidenceRequest"},
      "output":{"shape":"BatchDisassociateAssessmentReportEvidenceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Disassociates a list of evidence from the specified assessment report in Audit Manager. </p>"
    },
    "BatchImportEvidenceToAssessmentControl":{
      "name":"BatchImportEvidenceToAssessmentControl",
      "http":{
        "method":"POST",
        "requestUri":"/assessments/{assessmentId}/controlSets/{controlSetId}/controls/{controlId}/evidence"
      },
      "input":{"shape":"BatchImportEvidenceToAssessmentControlRequest"},
      "output":{"shape":"BatchImportEvidenceToAssessmentControlResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Uploads one or more pieces of evidence to the specified control in the assessment in Audit Manager. </p>"
    },
    "CreateAssessment":{
      "name":"CreateAssessment",
      "http":{
        "method":"POST",
        "requestUri":"/assessments"
      },
      "input":{"shape":"CreateAssessmentRequest"},
      "output":{"shape":"CreateAssessmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Creates an assessment in Audit Manager. </p>"
    },
    "CreateAssessmentFramework":{
      "name":"CreateAssessmentFramework",
      "http":{
        "method":"POST",
        "requestUri":"/assessmentFrameworks"
      },
      "input":{"shape":"CreateAssessmentFrameworkRequest"},
      "output":{"shape":"CreateAssessmentFrameworkResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Creates a custom framework in Audit Manager. </p>"
    },
    "CreateAssessmentReport":{
      "name":"CreateAssessmentReport",
      "http":{
        "method":"POST",
        "requestUri":"/assessments/{assessmentId}/reports"
      },
      "input":{"shape":"CreateAssessmentReportRequest"},
      "output":{"shape":"CreateAssessmentReportResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Creates an assessment report for the specified assessment. </p>"
    },
    "CreateControl":{
      "name":"CreateControl",
      "http":{
        "method":"POST",
        "requestUri":"/controls"
      },
      "input":{"shape":"CreateControlRequest"},
      "output":{"shape":"CreateControlResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Creates a new custom control in Audit Manager. </p>"
    },
    "DeleteAssessment":{
      "name":"DeleteAssessment",
      "http":{
        "method":"DELETE",
        "requestUri":"/assessments/{assessmentId}"
      },
      "input":{"shape":"DeleteAssessmentRequest"},
      "output":{"shape":"DeleteAssessmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Deletes an assessment in Audit Manager. </p>"
    },
    "DeleteAssessmentFramework":{
      "name":"DeleteAssessmentFramework",
      "http":{
        "method":"DELETE",
        "requestUri":"/assessmentFrameworks/{frameworkId}"
      },
      "input":{"shape":"DeleteAssessmentFrameworkRequest"},
      "output":{"shape":"DeleteAssessmentFrameworkResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Deletes a custom framework in Audit Manager. </p>"
    },
    "DeleteAssessmentReport":{
      "name":"DeleteAssessmentReport",
      "http":{
        "method":"DELETE",
        "requestUri":"/assessments/{assessmentId}/reports/{assessmentReportId}"
      },
      "input":{"shape":"DeleteAssessmentReportRequest"},
      "output":{"shape":"DeleteAssessmentReportResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Deletes an assessment report from an assessment in Audit Manager. </p>"
    },
    "DeleteControl":{
      "name":"DeleteControl",
      "http":{
        "method":"DELETE",
        "requestUri":"/controls/{controlId}"
      },
      "input":{"shape":"DeleteControlRequest"},
      "output":{"shape":"DeleteControlResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Deletes a custom control in Audit Manager. </p>"
    },
    "DeregisterAccount":{
      "name":"DeregisterAccount",
      "http":{
        "method":"POST",
        "requestUri":"/account/deregisterAccount"
      },
      "input":{"shape":"DeregisterAccountRequest"},
      "output":{"shape":"DeregisterAccountResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Deregisters an account in Audit Manager. </p>"
    },
    "DeregisterOrganizationAdminAccount":{
      "name":"DeregisterOrganizationAdminAccount",
      "http":{
        "method":"POST",
        "requestUri":"/account/deregisterOrganizationAdminAccount"
      },
      "input":{"shape":"DeregisterOrganizationAdminAccountRequest"},
      "output":{"shape":"DeregisterOrganizationAdminAccountResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Removes the specified member account as a delegated administrator for Audit Manager. </p> <important> <p>When you remove a delegated administrator from your Audit Manager settings, or when you deregister a delegated administrator from Organizations, you continue to have access to the evidence that you previously collected under that account. However, Audit Manager will stop collecting and attaching evidence to that delegated administrator account moving forward.</p> </important>"
    },
    "DisassociateAssessmentReportEvidenceFolder":{
      "name":"DisassociateAssessmentReportEvidenceFolder",
      "http":{
        "method":"PUT",
        "requestUri":"/assessments/{assessmentId}/disassociateFromAssessmentReport"
      },
      "input":{"shape":"DisassociateAssessmentReportEvidenceFolderRequest"},
      "output":{"shape":"DisassociateAssessmentReportEvidenceFolderResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Disassociates an evidence folder from the specified assessment report in Audit Manager. </p>"
    },
    "GetAccountStatus":{
      "name":"GetAccountStatus",
      "http":{
        "method":"GET",
        "requestUri":"/account/status"
      },
      "input":{"shape":"GetAccountStatusRequest"},
      "output":{"shape":"GetAccountStatusResponse"},
      "errors":[
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns the registration status of an account in Audit Manager. </p>"
    },
    "GetAssessment":{
      "name":"GetAssessment",
      "http":{
        "method":"GET",
        "requestUri":"/assessments/{assessmentId}"
      },
      "input":{"shape":"GetAssessmentRequest"},
      "output":{"shape":"GetAssessmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns an assessment from Audit Manager. </p>"
    },
    "GetAssessmentFramework":{
      "name":"GetAssessmentFramework",
      "http":{
        "method":"GET",
        "requestUri":"/assessmentFrameworks/{frameworkId}"
      },
      "input":{"shape":"GetAssessmentFrameworkRequest"},
      "output":{"shape":"GetAssessmentFrameworkResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns a framework from Audit Manager. </p>"
    },
    "GetAssessmentReportUrl":{
      "name":"GetAssessmentReportUrl",
      "http":{
        "method":"GET",
        "requestUri":"/assessments/{assessmentId}/reports/{assessmentReportId}/url"
      },
      "input":{"shape":"GetAssessmentReportUrlRequest"},
      "output":{"shape":"GetAssessmentReportUrlResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Returns the URL of a specified assessment report in Audit Manager. </p>"
    },
    "GetChangeLogs":{
      "name":"GetChangeLogs",
      "http":{
        "method":"GET",
        "requestUri":"/assessments/{assessmentId}/changelogs"
      },
      "input":{"shape":"GetChangeLogsRequest"},
      "output":{"shape":"GetChangeLogsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns a list of changelogs from Audit Manager. </p>"
    },
    "GetControl":{
      "name":"GetControl",
      "http":{
        "method":"GET",
        "requestUri":"/controls/{controlId}"
      },
      "input":{"shape":"GetControlRequest"},
      "output":{"shape":"GetControlResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns a control from Audit Manager. </p>"
    },
    "GetDelegations":{
      "name":"GetDelegations",
      "http":{
        "method":"GET",
        "requestUri":"/delegations"
      },
      "input":{"shape":"GetDelegationsRequest"},
      "output":{"shape":"GetDelegationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns a list of delegations from an audit owner to a delegate. </p>"
    },
    "GetEvidence":{
      "name":"GetEvidence",
      "http":{
        "method":"GET",
        "requestUri":"/assessments/{assessmentId}/controlSets/{controlSetId}/evidenceFolders/{evidenceFolderId}/evidence/{evidenceId}"
      },
      "input":{"shape":"GetEvidenceRequest"},
      "output":{"shape":"GetEvidenceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns evidence from Audit Manager. </p>"
    },
    "GetEvidenceByEvidenceFolder":{
      "name":"GetEvidenceByEvidenceFolder",
      "http":{
        "method":"GET",
        "requestUri":"/assessments/{assessmentId}/controlSets/{controlSetId}/evidenceFolders/{evidenceFolderId}/evidence"
      },
      "input":{"shape":"GetEvidenceByEvidenceFolderRequest"},
      "output":{"shape":"GetEvidenceByEvidenceFolderResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns all evidence from a specified evidence folder in Audit Manager. </p>"
    },
    "GetEvidenceFolder":{
      "name":"GetEvidenceFolder",
      "http":{
        "method":"GET",
        "requestUri":"/assessments/{assessmentId}/controlSets/{controlSetId}/evidenceFolders/{evidenceFolderId}"
      },
      "input":{"shape":"GetEvidenceFolderRequest"},
      "output":{"shape":"GetEvidenceFolderResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns an evidence folder from the specified assessment in Audit Manager. </p>"
    },
    "GetEvidenceFoldersByAssessment":{
      "name":"GetEvidenceFoldersByAssessment",
      "http":{
        "method":"GET",
        "requestUri":"/assessments/{assessmentId}/evidenceFolders"
      },
      "input":{"shape":"GetEvidenceFoldersByAssessmentRequest"},
      "output":{"shape":"GetEvidenceFoldersByAssessmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns the evidence folders from a specified assessment in Audit Manager. </p>"
    },
    "GetEvidenceFoldersByAssessmentControl":{
      "name":"GetEvidenceFoldersByAssessmentControl",
      "http":{
        "method":"GET",
        "requestUri":"/assessments/{assessmentId}/evidenceFolders-by-assessment-control/{controlSetId}/{controlId}"
      },
      "input":{"shape":"GetEvidenceFoldersByAssessmentControlRequest"},
      "output":{"shape":"GetEvidenceFoldersByAssessmentControlResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns a list of evidence folders associated with a specified control of an assessment in Audit Manager. </p>"
    },
    "GetOrganizationAdminAccount":{
      "name":"GetOrganizationAdminAccount",
      "http":{
        "method":"GET",
        "requestUri":"/account/organizationAdminAccount"
      },
      "input":{"shape":"GetOrganizationAdminAccountRequest"},
      "output":{"shape":"GetOrganizationAdminAccountResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Returns the name of the delegated Amazon Web Services administrator account for the organization. </p>"
    },
    "GetServicesInScope":{
      "name":"GetServicesInScope",
      "http":{
        "method":"GET",
        "requestUri":"/services"
      },
      "input":{"shape":"GetServicesInScopeRequest"},
      "output":{"shape":"GetServicesInScopeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns a list of the in-scope Amazon Web Services services for the specified assessment. </p>"
    },
    "GetSettings":{
      "name":"GetSettings",
      "http":{
        "method":"GET",
        "requestUri":"/settings/{attribute}"
      },
      "input":{"shape":"GetSettingsRequest"},
      "output":{"shape":"GetSettingsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns the settings for the specified account. </p>"
    },
    "ListAssessmentFrameworks":{
      "name":"ListAssessmentFrameworks",
      "http":{
        "method":"GET",
        "requestUri":"/assessmentFrameworks"
      },
      "input":{"shape":"ListAssessmentFrameworksRequest"},
      "output":{"shape":"ListAssessmentFrameworksResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns a list of the frameworks available in the Audit Manager framework library. </p>"
    },
    "ListAssessmentReports":{
      "name":"ListAssessmentReports",
      "http":{
        "method":"GET",
        "requestUri":"/assessmentReports"
      },
      "input":{"shape":"ListAssessmentReportsRequest"},
      "output":{"shape":"ListAssessmentReportsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns a list of assessment reports created in Audit Manager. </p>"
    },
    "ListAssessments":{
      "name":"ListAssessments",
      "http":{
        "method":"GET",
        "requestUri":"/assessments"
      },
      "input":{"shape":"ListAssessmentsRequest"},
      "output":{"shape":"ListAssessmentsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns a list of current and past assessments from Audit Manager. </p>"
    },
    "ListControls":{
      "name":"ListControls",
      "http":{
        "method":"GET",
        "requestUri":"/controls"
      },
      "input":{"shape":"ListControlsRequest"},
      "output":{"shape":"ListControlsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns a list of controls from Audit Manager. </p>"
    },
    "ListKeywordsForDataSource":{
      "name":"ListKeywordsForDataSource",
      "http":{
        "method":"GET",
        "requestUri":"/dataSourceKeywords"
      },
      "input":{"shape":"ListKeywordsForDataSourceRequest"},
      "output":{"shape":"ListKeywordsForDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns a list of keywords that pre-mapped to the specified control data source. </p>"
    },
    "ListNotifications":{
      "name":"ListNotifications",
      "http":{
        "method":"GET",
        "requestUri":"/notifications"
      },
      "input":{"shape":"ListNotificationsRequest"},
      "output":{"shape":"ListNotificationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns a list of all Audit Manager notifications. </p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Returns a list of tags for the specified resource in Audit Manager. </p>"
    },
    "RegisterAccount":{
      "name":"RegisterAccount",
      "http":{
        "method":"POST",
        "requestUri":"/account/registerAccount"
      },
      "input":{"shape":"RegisterAccountRequest"},
      "output":{"shape":"RegisterAccountResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Enables Audit Manager for the specified account. </p>"
    },
    "RegisterOrganizationAdminAccount":{
      "name":"RegisterOrganizationAdminAccount",
      "http":{
        "method":"POST",
        "requestUri":"/account/registerOrganizationAdminAccount"
      },
      "input":{"shape":"RegisterOrganizationAdminAccountRequest"},
      "output":{"shape":"RegisterOrganizationAdminAccountResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Enables an account within the organization as the delegated administrator for Audit Manager. </p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Tags the specified resource in Audit Manager. </p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Removes a tag from a resource in Audit Manager. </p>"
    },
    "UpdateAssessment":{
      "name":"UpdateAssessment",
      "http":{
        "method":"PUT",
        "requestUri":"/assessments/{assessmentId}"
      },
      "input":{"shape":"UpdateAssessmentRequest"},
      "output":{"shape":"UpdateAssessmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Edits an Audit Manager assessment. </p>"
    },
    "UpdateAssessmentControl":{
      "name":"UpdateAssessmentControl",
      "http":{
        "method":"PUT",
        "requestUri":"/assessments/{assessmentId}/controlSets/{controlSetId}/controls/{controlId}"
      },
      "input":{"shape":"UpdateAssessmentControlRequest"},
      "output":{"shape":"UpdateAssessmentControlResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Updates a control within an assessment in Audit Manager. </p>"
    },
    "UpdateAssessmentControlSetStatus":{
      "name":"UpdateAssessmentControlSetStatus",
      "http":{
        "method":"PUT",
        "requestUri":"/assessments/{assessmentId}/controlSets/{controlSetId}/status"
      },
      "input":{"shape":"UpdateAssessmentControlSetStatusRequest"},
      "output":{"shape":"UpdateAssessmentControlSetStatusResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Updates the status of a control set in an Audit Manager assessment. </p>"
    },
    "UpdateAssessmentFramework":{
      "name":"UpdateAssessmentFramework",
      "http":{
        "method":"PUT",
        "requestUri":"/assessmentFrameworks/{frameworkId}"
      },
      "input":{"shape":"UpdateAssessmentFrameworkRequest"},
      "output":{"shape":"UpdateAssessmentFrameworkResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Updates a custom framework in Audit Manager. </p>"
    },
    "UpdateAssessmentStatus":{
      "name":"UpdateAssessmentStatus",
      "http":{
        "method":"PUT",
        "requestUri":"/assessments/{assessmentId}/status"
      },
      "input":{"shape":"UpdateAssessmentStatusRequest"},
      "output":{"shape":"UpdateAssessmentStatusResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Updates the status of an assessment in Audit Manager. </p>"
    },
    "UpdateControl":{
      "name":"UpdateControl",
      "http":{
        "method":"PUT",
        "requestUri":"/controls/{controlId}"
      },
      "input":{"shape":"UpdateControlRequest"},
      "output":{"shape":"UpdateControlResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Updates a custom control in Audit Manager. </p>"
    },
    "UpdateSettings":{
      "name":"UpdateSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/settings"
      },
      "input":{"shape":"UpdateSettingsRequest"},
      "output":{"shape":"UpdateSettingsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Updates Audit Manager settings for the current user account. </p>"
    },
    "ValidateAssessmentReportIntegrity":{
      "name":"ValidateAssessmentReportIntegrity",
      "http":{
        "method":"POST",
        "requestUri":"/assessmentReports/integrity"
      },
      "input":{"shape":"ValidateAssessmentReportIntegrityRequest"},
      "output":{"shape":"ValidateAssessmentReportIntegrityResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Validates the integrity of an assessment report in Audit Manager. </p>"
    }
  },
  "shapes":{
    "AWSAccount":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"AccountId",
          "documentation":"<p> The identifier for the specified account. </p>"
        },
        "emailAddress":{
          "shape":"EmailAddress",
          "documentation":"<p> The email address associated with the specified account. </p>"
        },
        "name":{
          "shape":"AccountName",
          "documentation":"<p> The name of the specified account. </p>"
        }
      },
      "documentation":"<p> The wrapper of account details, such as account ID, email address, and so on. </p>"
    },
    "AWSAccounts":{
      "type":"list",
      "member":{"shape":"AWSAccount"}
    },
    "AWSService":{
      "type":"structure",
      "members":{
        "serviceName":{
          "shape":"AWSServiceName",
          "documentation":"<p> The name of the Amazon Web Service. </p>"
        }
      },
      "documentation":"<p> An Amazon Web Service such as Amazon S3, CloudTrail, and so on. </p>"
    },
    "AWSServiceName":{
      "type":"string",
      "max":40,
      "min":1,
      "pattern":"^[a-zA-Z0-9-\\s().]+$"
    },
    "AWSServices":{
      "type":"list",
      "member":{"shape":"AWSService"}
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p> Your account is not registered with Audit Manager. Check the delegated administrator setup on the Audit Manager settings page, and try again. </p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"^[0-9]{12}$"
    },
    "AccountName":{
      "type":"string",
      "max":50,
      "min":1,
      "pattern":"^[\\u0020-\\u007E]+$"
    },
    "AccountStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "INACTIVE",
        "PENDING_ACTIVATION"
      ]
    },
    "ActionEnum":{
      "type":"string",
      "enum":[
        "CREATE",
        "UPDATE_METADATA",
        "ACTIVE",
        "INACTIVE",
        "DELETE",
        "UNDER_REVIEW",
        "REVIEWED",
        "IMPORT_EVIDENCE"
      ]
    },
    "ActionPlanInstructions":{
      "type":"string",
      "max":1000,
      "pattern":"^[\\w\\W\\s\\S]*$"
    },
    "ActionPlanTitle":{
      "type":"string",
      "max":300,
      "pattern":"^[\\w\\W\\s\\S]*$"
    },
    "Assessment":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"AuditManagerArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the assessment. </p>"
        },
        "awsAccount":{
          "shape":"AWSAccount",
          "documentation":"<p> The account associated with the assessment. </p>"
        },
        "metadata":{
          "shape":"AssessmentMetadata",
          "documentation":"<p> The metadata for the specified assessment. </p>"
        },
        "framework":{
          "shape":"AssessmentFramework",
          "documentation":"<p> The framework from which the assessment was created. </p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p> The tags associated with the assessment. </p>"
        }
      },
      "documentation":"<p> An entity that defines the scope of audit evidence collected by Audit Manager. An Audit Manager assessment is an implementation of an Audit Manager framework. </p>"
    },
    "AssessmentControl":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified control. </p>"
        },
        "name":{
          "shape":"ControlName",
          "documentation":"<p> The name of the specified control. </p>"
        },
        "description":{
          "shape":"ControlDescription",
          "documentation":"<p> The description of the specified control. </p>"
        },
        "status":{
          "shape":"ControlStatus",
          "documentation":"<p> The status of the specified control. </p>"
        },
        "response":{
          "shape":"ControlResponse",
          "documentation":"<p> The response of the specified control. </p>"
        },
        "comments":{
          "shape":"ControlComments",
          "documentation":"<p> The list of comments attached to the specified control. </p>"
        },
        "evidenceSources":{
          "shape":"EvidenceSources",
          "documentation":"<p> The list of data sources for the specified evidence. </p>"
        },
        "evidenceCount":{
          "shape":"Integer",
          "documentation":"<p> The amount of evidence generated for the control. </p>"
        },
        "assessmentReportEvidenceCount":{
          "shape":"Integer",
          "documentation":"<p> The amount of evidence in the assessment report. </p>"
        }
      },
      "documentation":"<p> The control entity that represents a standard or custom control used in an Audit Manager assessment. </p>"
    },
    "AssessmentControlSet":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"ControlSetId",
          "documentation":"<p> The identifier of the control set in the assessment. This is the control set name in a plain string format. </p>"
        },
        "description":{
          "shape":"NonEmptyString",
          "documentation":"<p> The description for the control set. </p>"
        },
        "status":{
          "shape":"ControlSetStatus",
          "documentation":"<p> Specifies the current status of the control set. </p>"
        },
        "roles":{
          "shape":"Roles",
          "documentation":"<p> The roles associated with the control set. </p>"
        },
        "controls":{
          "shape":"AssessmentControls",
          "documentation":"<p> The list of controls contained with the control set. </p>"
        },
        "delegations":{
          "shape":"Delegations",
          "documentation":"<p> The delegations associated with the control set. </p>"
        },
        "systemEvidenceCount":{
          "shape":"Integer",
          "documentation":"<p> The total number of evidence objects retrieved automatically for the control set. </p>"
        },
        "manualEvidenceCount":{
          "shape":"Integer",
          "documentation":"<p> The total number of evidence objects uploaded manually to the control set. </p>"
        }
      },
      "documentation":"<p> Represents a set of controls in an Audit Manager assessment. </p>"
    },
    "AssessmentControlSets":{
      "type":"list",
      "member":{"shape":"AssessmentControlSet"}
    },
    "AssessmentControls":{
      "type":"list",
      "member":{"shape":"AssessmentControl"}
    },
    "AssessmentDescription":{
      "type":"string",
      "max":1000,
      "pattern":"^[\\w\\W\\s\\S]*$"
    },
    "AssessmentEvidenceFolder":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"AssessmentEvidenceFolderName",
          "documentation":"<p> The name of the specified evidence folder. </p>"
        },
        "date":{
          "shape":"Timestamp",
          "documentation":"<p> The date when the first evidence was added to the evidence folder. </p>"
        },
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified assessment. </p>"
        },
        "controlSetId":{
          "shape":"ControlSetId",
          "documentation":"<p> The identifier for the control set. </p>"
        },
        "controlId":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the specified control. </p>"
        },
        "id":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the folder in which evidence is stored. </p>"
        },
        "dataSource":{
          "shape":"String",
          "documentation":"<p> The Amazon Web Service from which the evidence was collected. </p>"
        },
        "author":{
          "shape":"String",
          "documentation":"<p> The name of the user who created the evidence folder. </p>"
        },
        "totalEvidence":{
          "shape":"Integer",
          "documentation":"<p> The total amount of evidence in the evidence folder. </p>"
        },
        "assessmentReportSelectionCount":{
          "shape":"Integer",
          "documentation":"<p> The total count of evidence included in the assessment report. </p>"
        },
        "controlName":{
          "shape":"ControlName",
          "documentation":"<p> The name of the control. </p>"
        },
        "evidenceResourcesIncludedCount":{
          "shape":"Integer",
          "documentation":"<p> The amount of evidence included in the evidence folder. </p>"
        },
        "evidenceByTypeConfigurationDataCount":{
          "shape":"Integer",
          "documentation":"<p> The number of evidence that falls under the configuration data category. This evidence is collected from configuration snapshots of other Amazon Web Services services such as Amazon EC2, Amazon S3, or IAM. </p>"
        },
        "evidenceByTypeManualCount":{
          "shape":"Integer",
          "documentation":"<p> The number of evidence that falls under the manual category. This evidence is imported manually. </p>"
        },
        "evidenceByTypeComplianceCheckCount":{
          "shape":"Integer",
          "documentation":"<p> The number of evidence that falls under the compliance check category. This evidence is collected from Config or Security Hub. </p>"
        },
        "evidenceByTypeComplianceCheckIssuesCount":{
          "shape":"Integer",
          "documentation":"<p> The total number of issues that were reported directly from Security Hub, Config, or both. </p>"
        },
        "evidenceByTypeUserActivityCount":{
          "shape":"Integer",
          "documentation":"<p> The number of evidence that falls under the user activity category. This evidence is collected from CloudTrail logs. </p>"
        },
        "evidenceAwsServiceSourceCount":{
          "shape":"Integer",
          "documentation":"<p> The total number of Amazon Web Services resources assessed to generate the evidence. </p>"
        }
      },
      "documentation":"<p> The folder in which Audit Manager stores evidence for an assessment. </p>"
    },
    "AssessmentEvidenceFolderName":{
      "type":"string",
      "max":300,
      "min":1,
      "pattern":"^[\\w\\W\\s\\S]*$"
    },
    "AssessmentEvidenceFolders":{
      "type":"list",
      "member":{"shape":"AssessmentEvidenceFolder"}
    },
    "AssessmentFramework":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the framework. </p>"
        },
        "arn":{
          "shape":"AuditManagerArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the specified framework. </p>"
        },
        "metadata":{"shape":"FrameworkMetadata"},
        "controlSets":{
          "shape":"AssessmentControlSets",
          "documentation":"<p> The control sets associated with the framework. </p>"
        }
      },
      "documentation":"<p> The file used to structure and automate Audit Manager assessments for a given compliance standard. </p>"
    },
    "AssessmentFrameworkDescription":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[\\w\\W\\s\\S]*$"
    },
    "AssessmentFrameworkMetadata":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"AuditManagerArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the framework. </p>"
        },
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identified for the specified framework. </p>"
        },
        "type":{
          "shape":"FrameworkType",
          "documentation":"<p> The framework type, such as standard or custom. </p>"
        },
        "name":{
          "shape":"FrameworkName",
          "documentation":"<p> The name of the specified framework. </p>"
        },
        "description":{
          "shape":"FrameworkDescription",
          "documentation":"<p> The description of the specified framework. </p>"
        },
        "logo":{
          "shape":"Filename",
          "documentation":"<p> The logo associated with the framework. </p>"
        },
        "complianceType":{
          "shape":"ComplianceType",
          "documentation":"<p> The compliance type that the new custom framework supports, such as CIS or HIPAA. </p>"
        },
        "controlsCount":{
          "shape":"ControlsCount",
          "documentation":"<p> The number of controls associated with the specified framework. </p>"
        },
        "controlSetsCount":{
          "shape":"ControlSetsCount",
          "documentation":"<p> The number of control sets associated with the specified framework. </p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p> Specifies when the framework was created. </p>"
        },
        "lastUpdatedAt":{
          "shape":"Timestamp",
          "documentation":"<p> Specifies when the framework was most recently updated. </p>"
        }
      },
      "documentation":"<p> The metadata associated with a standard or custom framework. </p>"
    },
    "AssessmentMetadata":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"AssessmentName",
          "documentation":"<p> The name of the assessment. </p>"
        },
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the assessment. </p>"
        },
        "description":{
          "shape":"AssessmentDescription",
          "documentation":"<p> The description of the assessment. </p>"
        },
        "complianceType":{
          "shape":"ComplianceType",
          "documentation":"<p> The name of a compliance standard related to the assessment, such as PCI-DSS. </p>"
        },
        "status":{
          "shape":"AssessmentStatus",
          "documentation":"<p> The overall status of the assessment. </p>"
        },
        "assessmentReportsDestination":{
          "shape":"AssessmentReportsDestination",
          "documentation":"<p> The destination in which evidence reports are stored for the specified assessment. </p>"
        },
        "scope":{
          "shape":"Scope",
          "documentation":"<p> The wrapper of accounts and services in scope for the assessment. </p>"
        },
        "roles":{
          "shape":"Roles",
          "documentation":"<p> The roles associated with the assessment. </p>"
        },
        "delegations":{
          "shape":"Delegations",
          "documentation":"<p> The delegations associated with the assessment. </p>"
        },
        "creationTime":{
          "shape":"Timestamp",
          "documentation":"<p> Specifies when the assessment was created. </p>"
        },
        "lastUpdated":{
          "shape":"Timestamp",
          "documentation":"<p> The time of the most recent update. </p>"
        }
      },
      "documentation":"<p> The metadata associated with the specified assessment. </p>"
    },
    "AssessmentMetadataItem":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"AssessmentName",
          "documentation":"<p> The name of the assessment. </p>"
        },
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the assessment. </p>"
        },
        "complianceType":{
          "shape":"ComplianceType",
          "documentation":"<p> The name of the compliance standard related to the assessment, such as PCI-DSS. </p>"
        },
        "status":{
          "shape":"AssessmentStatus",
          "documentation":"<p> The current status of the assessment. </p>"
        },
        "roles":{
          "shape":"Roles",
          "documentation":"<p> The roles associated with the assessment. </p>"
        },
        "delegations":{
          "shape":"Delegations",
          "documentation":"<p> The delegations associated with the assessment. </p>"
        },
        "creationTime":{
          "shape":"Timestamp",
          "documentation":"<p> Specifies when the assessment was created. </p>"
        },
        "lastUpdated":{
          "shape":"Timestamp",
          "documentation":"<p> The time of the most recent update. </p>"
        }
      },
      "documentation":"<p> A metadata object associated with an assessment in Audit Manager. </p>"
    },
    "AssessmentName":{
      "type":"string",
      "max":300,
      "min":1,
      "pattern":"^[^\\\\]*$"
    },
    "AssessmentReport":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the specified assessment report. </p>"
        },
        "name":{
          "shape":"AssessmentReportName",
          "documentation":"<p> The name given to the assessment report. </p>"
        },
        "description":{
          "shape":"AssessmentReportDescription",
          "documentation":"<p> The description of the specified assessment report. </p>"
        },
        "awsAccountId":{
          "shape":"AccountId",
          "documentation":"<p> The identifier for the specified account. </p>"
        },
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified assessment. </p>"
        },
        "assessmentName":{
          "shape":"AssessmentName",
          "documentation":"<p> The name of the associated assessment. </p>"
        },
        "author":{
          "shape":"Username",
          "documentation":"<p> The name of the user who created the assessment report. </p>"
        },
        "status":{
          "shape":"AssessmentReportStatus",
          "documentation":"<p> The current status of the specified assessment report. </p>"
        },
        "creationTime":{
          "shape":"Timestamp",
          "documentation":"<p> Specifies when the assessment report was created. </p>"
        }
      },
      "documentation":"<p> A finalized document generated from an Audit Manager assessment. These reports summarize the relevant evidence collected for your audit, and link to the relevant evidence folders which are named and organized according to the controls specified in your assessment. </p>"
    },
    "AssessmentReportDescription":{
      "type":"string",
      "max":1000,
      "pattern":"^[\\w\\W\\s\\S]*$"
    },
    "AssessmentReportDestinationType":{
      "type":"string",
      "enum":["S3"]
    },
    "AssessmentReportEvidenceError":{
      "type":"structure",
      "members":{
        "evidenceId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the evidence. </p>"
        },
        "errorCode":{
          "shape":"ErrorCode",
          "documentation":"<p> The error code returned by the <code>AssessmentReportEvidence</code> API. </p>"
        },
        "errorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p> The error message returned by the <code>AssessmentReportEvidence</code> API. </p>"
        }
      },
      "documentation":"<p> An error entity for the <code>AssessmentReportEvidence</code> API. This is used to provide more meaningful errors than a simple string message. </p>"
    },
    "AssessmentReportEvidenceErrors":{
      "type":"list",
      "member":{"shape":"AssessmentReportEvidenceError"}
    },
    "AssessmentReportMetadata":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the assessment report. </p>"
        },
        "name":{
          "shape":"AssessmentReportName",
          "documentation":"<p> The name of the assessment report. </p>"
        },
        "description":{
          "shape":"AssessmentReportDescription",
          "documentation":"<p> The description of the specified assessment report. </p>"
        },
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the associated assessment. </p>"
        },
        "assessmentName":{
          "shape":"AssessmentName",
          "documentation":"<p>The name of the associated assessment. </p>"
        },
        "author":{
          "shape":"Username",
          "documentation":"<p> The name of the user who created the assessment report. </p>"
        },
        "status":{
          "shape":"AssessmentReportStatus",
          "documentation":"<p> The current status of the assessment report. </p>"
        },
        "creationTime":{
          "shape":"Timestamp",
          "documentation":"<p> Specifies when the assessment report was created. </p>"
        }
      },
      "documentation":"<p> The metadata objects associated with the specified assessment report. </p>"
    },
    "AssessmentReportName":{
      "type":"string",
      "max":300,
      "min":1,
      "pattern":"^[a-zA-Z0-9-_\\.]+$"
    },
    "AssessmentReportStatus":{
      "type":"string",
      "enum":[
        "COMPLETE",
        "IN_PROGRESS",
        "FAILED"
      ]
    },
    "AssessmentReportsDestination":{
      "type":"structure",
      "members":{
        "destinationType":{
          "shape":"AssessmentReportDestinationType",
          "documentation":"<p> The destination type, such as Amazon S3. </p>"
        },
        "destination":{
          "shape":"S3Url",
          "documentation":"<p> The destination of the assessment report. </p>"
        }
      },
      "documentation":"<p> The location in which Audit Manager saves assessment reports for the given assessment. </p>"
    },
    "AssessmentReportsMetadata":{
      "type":"list",
      "member":{"shape":"AssessmentReportMetadata"}
    },
    "AssessmentStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "INACTIVE"
      ]
    },
    "AssociateAssessmentReportEvidenceFolderRequest":{
      "type":"structure",
      "required":[
        "assessmentId",
        "evidenceFolderId"
      ],
      "members":{
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified assessment. </p>",
          "location":"uri",
          "locationName":"assessmentId"
        },
        "evidenceFolderId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the folder in which evidence is stored. </p>"
        }
      }
    },
    "AssociateAssessmentReportEvidenceFolderResponse":{
      "type":"structure",
      "members":{
      }
    },
    "AuditManagerArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn:.*:auditmanager:.*"
    },
    "BatchAssociateAssessmentReportEvidenceRequest":{
      "type":"structure",
      "required":[
        "assessmentId",
        "evidenceFolderId",
        "evidenceIds"
      ],
      "members":{
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the specified assessment. </p>",
          "location":"uri",
          "locationName":"assessmentId"
        },
        "evidenceFolderId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the folder in which the evidence is stored. </p>"
        },
        "evidenceIds":{
          "shape":"EvidenceIds",
          "documentation":"<p> The list of evidence identifiers. </p>"
        }
      }
    },
    "BatchAssociateAssessmentReportEvidenceResponse":{
      "type":"structure",
      "members":{
        "evidenceIds":{
          "shape":"EvidenceIds",
          "documentation":"<p> The identifier for the evidence. </p>"
        },
        "errors":{
          "shape":"AssessmentReportEvidenceErrors",
          "documentation":"<p> A list of errors returned by the <code>BatchAssociateAssessmentReportEvidence</code> API. </p>"
        }
      }
    },
    "BatchCreateDelegationByAssessmentError":{
      "type":"structure",
      "members":{
        "createDelegationRequest":{
          "shape":"CreateDelegationRequest",
          "documentation":"<p> The API request to batch create delegations in Audit Manager. </p>"
        },
        "errorCode":{
          "shape":"ErrorCode",
          "documentation":"<p> The error code returned by the <code>BatchCreateDelegationByAssessment</code> API. </p>"
        },
        "errorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p> The error message returned by the <code>BatchCreateDelegationByAssessment</code> API. </p>"
        }
      },
      "documentation":"<p> An error entity for the <code>BatchCreateDelegationByAssessment</code> API. This is used to provide more meaningful errors than a simple string message. </p>"
    },
    "BatchCreateDelegationByAssessmentErrors":{
      "type":"list",
      "member":{"shape":"BatchCreateDelegationByAssessmentError"}
    },
    "BatchCreateDelegationByAssessmentRequest":{
      "type":"structure",
      "required":[
        "createDelegationRequests",
        "assessmentId"
      ],
      "members":{
        "createDelegationRequests":{
          "shape":"CreateDelegationRequests",
          "documentation":"<p> The API request to batch create delegations in Audit Manager. </p>"
        },
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified assessment. </p>",
          "location":"uri",
          "locationName":"assessmentId"
        }
      }
    },
    "BatchCreateDelegationByAssessmentResponse":{
      "type":"structure",
      "members":{
        "delegations":{
          "shape":"Delegations",
          "documentation":"<p> The delegations associated with the assessment. </p>"
        },
        "errors":{
          "shape":"BatchCreateDelegationByAssessmentErrors",
          "documentation":"<p> A list of errors returned by the <code>BatchCreateDelegationByAssessment</code> API. </p>"
        }
      }
    },
    "BatchDeleteDelegationByAssessmentError":{
      "type":"structure",
      "members":{
        "delegationId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified delegation. </p>"
        },
        "errorCode":{
          "shape":"ErrorCode",
          "documentation":"<p> The error code returned by the <code>BatchDeleteDelegationByAssessment</code> API. </p>"
        },
        "errorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p> The error message returned by the <code>BatchDeleteDelegationByAssessment</code> API. </p>"
        }
      },
      "documentation":"<p> An error entity for the <code>BatchDeleteDelegationByAssessment</code> API. This is used to provide more meaningful errors than a simple string message. </p>"
    },
    "BatchDeleteDelegationByAssessmentErrors":{
      "type":"list",
      "member":{"shape":"BatchDeleteDelegationByAssessmentError"}
    },
    "BatchDeleteDelegationByAssessmentRequest":{
      "type":"structure",
      "required":[
        "delegationIds",
        "assessmentId"
      ],
      "members":{
        "delegationIds":{
          "shape":"DelegationIds",
          "documentation":"<p> The identifiers for the specified delegations. </p>"
        },
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified assessment. </p>",
          "location":"uri",
          "locationName":"assessmentId"
        }
      }
    },
    "BatchDeleteDelegationByAssessmentResponse":{
      "type":"structure",
      "members":{
        "errors":{
          "shape":"BatchDeleteDelegationByAssessmentErrors",
          "documentation":"<p> A list of errors returned by the <code>BatchDeleteDelegationByAssessment</code> API. </p>"
        }
      }
    },
    "BatchDisassociateAssessmentReportEvidenceRequest":{
      "type":"structure",
      "required":[
        "assessmentId",
        "evidenceFolderId",
        "evidenceIds"
      ],
      "members":{
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified assessment. </p>",
          "location":"uri",
          "locationName":"assessmentId"
        },
        "evidenceFolderId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the folder in which evidence is stored. </p>"
        },
        "evidenceIds":{
          "shape":"EvidenceIds",
          "documentation":"<p> The list of evidence identifiers. </p>"
        }
      }
    },
    "BatchDisassociateAssessmentReportEvidenceResponse":{
      "type":"structure",
      "members":{
        "evidenceIds":{
          "shape":"EvidenceIds",
          "documentation":"<p> The identifier for the evidence. </p>"
        },
        "errors":{
          "shape":"AssessmentReportEvidenceErrors",
          "documentation":"<p> A list of errors returned by the <code>BatchDisassociateAssessmentReportEvidence</code> API. </p>"
        }
      }
    },
    "BatchImportEvidenceToAssessmentControlError":{
      "type":"structure",
      "members":{
        "manualEvidence":{
          "shape":"ManualEvidence",
          "documentation":"<p> Manual evidence that cannot be collected automatically by Audit Manager. </p>"
        },
        "errorCode":{
          "shape":"ErrorCode",
          "documentation":"<p> The error code returned by the <code>BatchImportEvidenceToAssessmentControl</code> API. </p>"
        },
        "errorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p> The error message returned by the <code>BatchImportEvidenceToAssessmentControl</code> API. </p>"
        }
      },
      "documentation":"<p> An error entity for the <code>BatchImportEvidenceToAssessmentControl</code> API. This is used to provide more meaningful errors than a simple string message. </p>"
    },
    "BatchImportEvidenceToAssessmentControlErrors":{
      "type":"list",
      "member":{"shape":"BatchImportEvidenceToAssessmentControlError"}
    },
    "BatchImportEvidenceToAssessmentControlRequest":{
      "type":"structure",
      "required":[
        "assessmentId",
        "controlSetId",
        "controlId",
        "manualEvidence"
      ],
      "members":{
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified assessment. </p>",
          "location":"uri",
          "locationName":"assessmentId"
        },
        "controlSetId":{
          "shape":"ControlSetId",
          "documentation":"<p> The identifier for the specified control set. </p>",
          "location":"uri",
          "locationName":"controlSetId"
        },
        "controlId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified control. </p>",
          "location":"uri",
          "locationName":"controlId"
        },
        "manualEvidence":{
          "shape":"ManualEvidenceList",
          "documentation":"<p> The list of manual evidence objects. </p>"
        }
      }
    },
    "BatchImportEvidenceToAssessmentControlResponse":{
      "type":"structure",
      "members":{
        "errors":{
          "shape":"BatchImportEvidenceToAssessmentControlErrors",
          "documentation":"<p> A list of errors returned by the <code>BatchImportEvidenceToAssessmentControl</code> API. </p>"
        }
      }
    },
    "Boolean":{"type":"boolean"},
    "ChangeLog":{
      "type":"structure",
      "members":{
        "objectType":{
          "shape":"ObjectTypeEnum",
          "documentation":"<p> The changelog object type, such as an assessment, control, or control set. </p>"
        },
        "objectName":{
          "shape":"NonEmptyString",
          "documentation":"<p> The name of the changelog object. </p>"
        },
        "action":{
          "shape":"ActionEnum",
          "documentation":"<p> The action performed. </p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p> The time of creation for the changelog object. </p>"
        },
        "createdBy":{
          "shape":"IamArn",
          "documentation":"<p> The IAM user or role that performed the action. </p>"
        }
      },
      "documentation":"<p> The record of a change within Audit Manager, such as a modified assessment, a delegated control set, and so on. </p>"
    },
    "ChangeLogs":{
      "type":"list",
      "member":{"shape":"ChangeLog"}
    },
    "ComplianceType":{
      "type":"string",
      "max":100,
      "pattern":"^[\\w\\W\\s\\S]*$"
    },
    "Control":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"AuditManagerArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the specified control. </p>"
        },
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the control. </p>"
        },
        "type":{
          "shape":"ControlType",
          "documentation":"<p> The type of control, such as custom or standard. </p>"
        },
        "name":{
          "shape":"ControlName",
          "documentation":"<p> The name of the specified control. </p>"
        },
        "description":{
          "shape":"ControlDescription",
          "documentation":"<p> The description of the specified control. </p>"
        },
        "testingInformation":{
          "shape":"TestingInformation",
          "documentation":"<p> The steps to follow to determine if the control has been satisfied. </p>"
        },
        "actionPlanTitle":{
          "shape":"ActionPlanTitle",
          "documentation":"<p> The title of the action plan for remediating the control. </p>"
        },
        "actionPlanInstructions":{
          "shape":"ActionPlanInstructions",
          "documentation":"<p> The recommended actions to carry out if the control is not fulfilled. </p>"
        },
        "controlSources":{
          "shape":"ControlSources",
          "documentation":"<p> The data source that determines from where Audit Manager collects evidence for the control. </p>"
        },
        "controlMappingSources":{
          "shape":"ControlMappingSources",
          "documentation":"<p> The data mapping sources for the specified control. </p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p> Specifies when the control was created. </p>"
        },
        "lastUpdatedAt":{
          "shape":"Timestamp",
          "documentation":"<p> Specifies when the control was most recently updated. </p>"
        },
        "createdBy":{
          "shape":"CreatedBy",
          "documentation":"<p> The IAM user or role that created the control. </p>"
        },
        "lastUpdatedBy":{
          "shape":"LastUpdatedBy",
          "documentation":"<p> The IAM user or role that most recently updated the control. </p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p> The tags associated with the control. </p>"
        }
      },
      "documentation":"<p> A control in Audit Manager. </p>"
    },
    "ControlComment":{
      "type":"structure",
      "members":{
        "authorName":{
          "shape":"Username",
          "documentation":"<p> The name of the user who authored the comment. </p>"
        },
        "commentBody":{
          "shape":"ControlCommentBody",
          "documentation":"<p> The body text of a control comment. </p>"
        },
        "postedDate":{
          "shape":"Timestamp",
          "documentation":"<p> The time when the comment was posted. </p>"
        }
      },
      "documentation":"<p> A comment posted by a user on a control. This includes the author's name, the comment text, and a timestamp. </p>"
    },
    "ControlCommentBody":{
      "type":"string",
      "max":500,
      "pattern":"^[\\w\\W\\s\\S]*$"
    },
    "ControlComments":{
      "type":"list",
      "member":{"shape":"ControlComment"}
    },
    "ControlDescription":{
      "type":"string",
      "max":1000,
      "pattern":"^[\\w\\W\\s\\S]*$"
    },
    "ControlMappingSource":{
      "type":"structure",
      "members":{
        "sourceId":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the specified source. </p>"
        },
        "sourceName":{
          "shape":"SourceName",
          "documentation":"<p> The name of the specified source. </p>"
        },
        "sourceDescription":{
          "shape":"SourceDescription",
          "documentation":"<p> The description of the specified source. </p>"
        },
        "sourceSetUpOption":{
          "shape":"SourceSetUpOption",
          "documentation":"<p> The setup option for the data source, which reflects if the evidence collection is automated or manual. </p>"
        },
        "sourceType":{
          "shape":"SourceType",
          "documentation":"<p> Specifies one of the five types of data sources for evidence collection. </p>"
        },
        "sourceKeyword":{"shape":"SourceKeyword"},
        "sourceFrequency":{
          "shape":"SourceFrequency",
          "documentation":"<p> The frequency of evidence collection for the specified control mapping source. </p>"
        },
        "troubleshootingText":{
          "shape":"TroubleshootingText",
          "documentation":"<p> The instructions for troubleshooting the specified control. </p>"
        }
      },
      "documentation":"<p> The data source that determines from where Audit Manager collects evidence for the control. </p>"
    },
    "ControlMappingSources":{
      "type":"list",
      "member":{"shape":"ControlMappingSource"},
      "min":1
    },
    "ControlMetadata":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"AuditManagerArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the specified control. </p>"
        },
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the specified control. </p>"
        },
        "name":{
          "shape":"ControlName",
          "documentation":"<p> The name of the specified control. </p>"
        },
        "controlSources":{
          "shape":"ControlSources",
          "documentation":"<p> The data source that determines from where Audit Manager collects evidence for the control. </p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p> Specifies when the control was created. </p>"
        },
        "lastUpdatedAt":{
          "shape":"Timestamp",
          "documentation":"<p> Specifies when the control was most recently updated. </p>"
        }
      },
      "documentation":"<p> The metadata associated with the specified standard or custom control. </p>"
    },
    "ControlMetadataList":{
      "type":"list",
      "member":{"shape":"ControlMetadata"}
    },
    "ControlName":{
      "type":"string",
      "max":300,
      "min":1,
      "pattern":"^[^\\\\]*$"
    },
    "ControlResponse":{
      "type":"string",
      "enum":[
        "MANUAL",
        "AUTOMATE",
        "DEFER",
        "IGNORE"
      ]
    },
    "ControlSet":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"UUID",
          "documentation":"<p> The identifier of the control set in the assessment. This is the control set name in a plain string format. </p>"
        },
        "name":{
          "shape":"ControlSetName",
          "documentation":"<p> The name of the control set. </p>"
        },
        "controls":{
          "shape":"Controls",
          "documentation":"<p> The list of controls within the control set. </p>"
        }
      },
      "documentation":"<p> A set of controls in Audit Manager. </p>"
    },
    "ControlSetId":{
      "type":"string",
      "max":300,
      "min":1,
      "pattern":"^[\\w\\W\\s\\S]*$"
    },
    "ControlSetName":{
      "type":"string",
      "max":300,
      "min":1,
      "pattern":"^[^\\_]*$"
    },
    "ControlSetStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "UNDER_REVIEW",
        "REVIEWED"
      ]
    },
    "ControlSets":{
      "type":"list",
      "member":{"shape":"ControlSet"},
      "min":1
    },
    "ControlSetsCount":{"type":"integer"},
    "ControlSources":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^[a-zA-Z_0-9-\\s.,]+$"
    },
    "ControlStatus":{
      "type":"string",
      "enum":[
        "UNDER_REVIEW",
        "REVIEWED",
        "INACTIVE"
      ]
    },
    "ControlType":{
      "type":"string",
      "enum":[
        "Standard",
        "Custom"
      ]
    },
    "Controls":{
      "type":"list",
      "member":{"shape":"Control"},
      "min":1
    },
    "ControlsCount":{"type":"integer"},
    "CreateAssessmentFrameworkControl":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier of the control. </p>"
        }
      },
      "documentation":"<p> Control entity attributes that uniquely identify an existing control to be added to a framework in Audit Manager. </p>"
    },
    "CreateAssessmentFrameworkControlSet":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"ControlSetName",
          "documentation":"<p> The name of the specified control set. </p>"
        },
        "controls":{
          "shape":"CreateAssessmentFrameworkControls",
          "documentation":"<p> The list of controls within the control set. This does not contain the control set ID. </p>"
        }
      },
      "documentation":"<p> A <code>controlSet</code> entity that represents a collection of controls in Audit Manager. This does not contain the control set ID. </p>"
    },
    "CreateAssessmentFrameworkControlSets":{
      "type":"list",
      "member":{"shape":"CreateAssessmentFrameworkControlSet"},
      "min":1
    },
    "CreateAssessmentFrameworkControls":{
      "type":"list",
      "member":{"shape":"CreateAssessmentFrameworkControl"},
      "min":1
    },
    "CreateAssessmentFrameworkRequest":{
      "type":"structure",
      "required":[
        "name",
        "controlSets"
      ],
      "members":{
        "name":{
          "shape":"FrameworkName",
          "documentation":"<p> The name of the new custom framework. </p>"
        },
        "description":{
          "shape":"FrameworkDescription",
          "documentation":"<p> An optional description for the new custom framework. </p>"
        },
        "complianceType":{
          "shape":"ComplianceType",
          "documentation":"<p> The compliance type that the new custom framework supports, such as CIS or HIPAA. </p>"
        },
        "controlSets":{
          "shape":"CreateAssessmentFrameworkControlSets",
          "documentation":"<p> The control sets to be associated with the framework. </p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p> The tags associated with the framework. </p>"
        }
      }
    },
    "CreateAssessmentFrameworkResponse":{
      "type":"structure",
      "members":{
        "framework":{
          "shape":"Framework",
          "documentation":"<p> The name of the new framework returned by the <code>CreateAssessmentFramework</code> API. </p>"
        }
      }
    },
    "CreateAssessmentReportRequest":{
      "type":"structure",
      "required":[
        "name",
        "assessmentId"
      ],
      "members":{
        "name":{
          "shape":"AssessmentReportName",
          "documentation":"<p> The name of the new assessment report. </p>"
        },
        "description":{
          "shape":"AssessmentReportDescription",
          "documentation":"<p> The description of the assessment report. </p>"
        },
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified assessment. </p>",
          "location":"uri",
          "locationName":"assessmentId"
        }
      }
    },
    "CreateAssessmentReportResponse":{
      "type":"structure",
      "members":{
        "assessmentReport":{
          "shape":"AssessmentReport",
          "documentation":"<p> The new assessment report returned by the <code>CreateAssessmentReport</code> API. </p>"
        }
      }
    },
    "CreateAssessmentRequest":{
      "type":"structure",
      "required":[
        "name",
        "assessmentReportsDestination",
        "scope",
        "roles",
        "frameworkId"
      ],
      "members":{
        "name":{
          "shape":"AssessmentName",
          "documentation":"<p> The name of the assessment to be created. </p>"
        },
        "description":{
          "shape":"AssessmentDescription",
          "documentation":"<p> The optional description of the assessment to be created. </p>"
        },
        "assessmentReportsDestination":{
          "shape":"AssessmentReportsDestination",
          "documentation":"<p> The assessment report storage destination for the specified assessment that is being created. </p>"
        },
        "scope":{"shape":"Scope"},
        "roles":{
          "shape":"Roles",
          "documentation":"<p> The list of roles for the specified assessment. </p>"
        },
        "frameworkId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified framework. </p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p> The tags associated with the assessment. </p>"
        }
      }
    },
    "CreateAssessmentResponse":{
      "type":"structure",
      "members":{
        "assessment":{"shape":"Assessment"}
      }
    },
    "CreateControlMappingSource":{
      "type":"structure",
      "members":{
        "sourceName":{
          "shape":"SourceName",
          "documentation":"<p> The name of the control mapping data source. </p>"
        },
        "sourceDescription":{
          "shape":"SourceDescription",
          "documentation":"<p> The description of the data source that determines from where Audit Manager collects evidence for the control. </p>"
        },
        "sourceSetUpOption":{
          "shape":"SourceSetUpOption",
          "documentation":"<p> The setup option for the data source, which reflects if the evidence collection is automated or manual. </p>"
        },
        "sourceType":{
          "shape":"SourceType",
          "documentation":"<p> Specifies one of the five types of data sources for evidence collection. </p>"
        },
        "sourceKeyword":{"shape":"SourceKeyword"},
        "sourceFrequency":{
          "shape":"SourceFrequency",
          "documentation":"<p> The frequency of evidence collection for the specified control mapping source. </p>"
        },
        "troubleshootingText":{
          "shape":"TroubleshootingText",
          "documentation":"<p> The instructions for troubleshooting the specified control. </p>"
        }
      },
      "documentation":"<p> Control mapping fields that represent the source for evidence collection, along with related parameters and metadata. This does not contain <code>mappingID</code>. </p>"
    },
    "CreateControlMappingSources":{
      "type":"list",
      "member":{"shape":"CreateControlMappingSource"},
      "min":1
    },
    "CreateControlRequest":{
      "type":"structure",
      "required":[
        "name",
        "controlMappingSources"
      ],
      "members":{
        "name":{
          "shape":"ControlName",
          "documentation":"<p> The name of the control. </p>"
        },
        "description":{
          "shape":"ControlDescription",
          "documentation":"<p> The description of the control. </p>"
        },
        "testingInformation":{
          "shape":"TestingInformation",
          "documentation":"<p> The steps to follow to determine if the control has been satisfied. </p>"
        },
        "actionPlanTitle":{
          "shape":"ActionPlanTitle",
          "documentation":"<p> The title of the action plan for remediating the control. </p>"
        },
        "actionPlanInstructions":{
          "shape":"ActionPlanInstructions",
          "documentation":"<p> The recommended actions to carry out if the control is not fulfilled. </p>"
        },
        "controlMappingSources":{
          "shape":"CreateControlMappingSources",
          "documentation":"<p> The data mapping sources for the specified control. </p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p> The tags associated with the control. </p>"
        }
      }
    },
    "CreateControlResponse":{
      "type":"structure",
      "members":{
        "control":{
          "shape":"Control",
          "documentation":"<p> The new control returned by the <code>CreateControl</code> API. </p>"
        }
      }
    },
    "CreateDelegationRequest":{
      "type":"structure",
      "members":{
        "comment":{
          "shape":"DelegationComment",
          "documentation":"<p> A comment related to the delegation request. </p>"
        },
        "controlSetId":{
          "shape":"ControlSetId",
          "documentation":"<p> The unique identifier for the control set. </p>"
        },
        "roleArn":{
          "shape":"IamArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the IAM role. </p>"
        },
        "roleType":{
          "shape":"RoleType",
          "documentation":"<p> The type of customer persona. </p> <note> <p>In <code>CreateAssessment</code>, <code>roleType</code> can only be <code>PROCESS_OWNER</code>. </p> <p>In <code>UpdateSettings</code>, <code>roleType</code> can only be <code>PROCESS_OWNER</code>.</p> <p>In <code>BatchCreateDelegationByAssessment</code>, <code>roleType</code> can only be <code>RESOURCE_OWNER</code>.</p> </note>"
        }
      },
      "documentation":"<p> A collection of attributes used to create a delegation for an assessment in Audit Manager. </p>"
    },
    "CreateDelegationRequests":{
      "type":"list",
      "member":{"shape":"CreateDelegationRequest"},
      "max":50,
      "min":1
    },
    "CreatedBy":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^[a-zA-Z0-9\\s-_()\\[\\]]+$"
    },
    "Delegation":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the delegation. </p>"
        },
        "assessmentName":{
          "shape":"AssessmentName",
          "documentation":"<p> The name of the associated assessment. </p>"
        },
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the associated assessment. </p>"
        },
        "status":{
          "shape":"DelegationStatus",
          "documentation":"<p> The status of the delegation. </p>"
        },
        "roleArn":{
          "shape":"IamArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the IAM role. </p>"
        },
        "roleType":{
          "shape":"RoleType",
          "documentation":"<p> The type of customer persona. </p> <note> <p>In <code>CreateAssessment</code>, <code>roleType</code> can only be <code>PROCESS_OWNER</code>. </p> <p>In <code>UpdateSettings</code>, <code>roleType</code> can only be <code>PROCESS_OWNER</code>.</p> <p>In <code>BatchCreateDelegationByAssessment</code>, <code>roleType</code> can only be <code>RESOURCE_OWNER</code>.</p> </note>"
        },
        "creationTime":{
          "shape":"Timestamp",
          "documentation":"<p> Specifies when the delegation was created. </p>"
        },
        "lastUpdated":{
          "shape":"Timestamp",
          "documentation":"<p> Specifies when the delegation was last updated. </p>"
        },
        "controlSetId":{
          "shape":"ControlSetId",
          "documentation":"<p> The identifier for the associated control set. </p>"
        },
        "comment":{
          "shape":"DelegationComment",
          "documentation":"<p> The comment related to the delegation. </p>"
        },
        "createdBy":{
          "shape":"CreatedBy",
          "documentation":"<p> The IAM user or role that created the delegation. </p>"
        }
      },
      "documentation":"<p> The assignment of a control set to a delegate for review. </p>"
    },
    "DelegationComment":{
      "type":"string",
      "max":350,
      "pattern":"^[\\w\\W\\s\\S]*$"
    },
    "DelegationIds":{
      "type":"list",
      "member":{"shape":"UUID"},
      "max":50,
      "min":1
    },
    "DelegationMetadata":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the delegation. </p>"
        },
        "assessmentName":{
          "shape":"AssessmentName",
          "documentation":"<p> The name of the associated assessment. </p>"
        },
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the specified assessment. </p>"
        },
        "status":{
          "shape":"DelegationStatus",
          "documentation":"<p> The current status of the delgation. </p>"
        },
        "roleArn":{
          "shape":"IamArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the IAM role. </p>"
        },
        "creationTime":{
          "shape":"Timestamp",
          "documentation":"<p> Specifies when the delegation was created. </p>"
        },
        "controlSetName":{
          "shape":"NonEmptyString",
          "documentation":"<p> Specifies the name of the control set delegated for review. </p>"
        }
      },
      "documentation":"<p> The metadata associated with the specified delegation. </p>"
    },
    "DelegationMetadataList":{
      "type":"list",
      "member":{"shape":"DelegationMetadata"}
    },
    "DelegationStatus":{
      "type":"string",
      "enum":[
        "IN_PROGRESS",
        "UNDER_REVIEW",
        "COMPLETE"
      ]
    },
    "Delegations":{
      "type":"list",
      "member":{"shape":"Delegation"}
    },
    "DeleteAssessmentFrameworkRequest":{
      "type":"structure",
      "required":["frameworkId"],
      "members":{
        "frameworkId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified framework. </p>",
          "location":"uri",
          "locationName":"frameworkId"
        }
      }
    },
    "DeleteAssessmentFrameworkResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteAssessmentReportRequest":{
      "type":"structure",
      "required":[
        "assessmentId",
        "assessmentReportId"
      ],
      "members":{
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified assessment. </p>",
          "location":"uri",
          "locationName":"assessmentId"
        },
        "assessmentReportId":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the assessment report. </p>",
          "location":"uri",
          "locationName":"assessmentReportId"
        }
      }
    },
    "DeleteAssessmentReportResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteAssessmentRequest":{
      "type":"structure",
      "required":["assessmentId"],
      "members":{
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified assessment. </p>",
          "location":"uri",
          "locationName":"assessmentId"
        }
      }
    },
    "DeleteAssessmentResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteControlRequest":{
      "type":"structure",
      "required":["controlId"],
      "members":{
        "controlId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified control. </p>",
          "location":"uri",
          "locationName":"controlId"
        }
      }
    },
    "DeleteControlResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeregisterAccountRequest":{
      "type":"structure",
      "members":{
      }
    },
    "DeregisterAccountResponse":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"AccountStatus",
          "documentation":"<p> The registration status of the account. </p>"
        }
      }
    },
    "DeregisterOrganizationAdminAccountRequest":{
      "type":"structure",
      "members":{
        "adminAccountId":{
          "shape":"AccountId",
          "documentation":"<p> The identifier for the specified administrator account. </p>"
        }
      }
    },
    "DeregisterOrganizationAdminAccountResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DisassociateAssessmentReportEvidenceFolderRequest":{
      "type":"structure",
      "required":[
        "assessmentId",
        "evidenceFolderId"
      ],
      "members":{
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified assessment. </p>",
          "location":"uri",
          "locationName":"assessmentId"
        },
        "evidenceFolderId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the folder in which evidence is stored. </p>"
        }
      }
    },
    "DisassociateAssessmentReportEvidenceFolderResponse":{
      "type":"structure",
      "members":{
      }
    },
    "EmailAddress":{
      "type":"string",
      "max":320,
      "min":1,
      "pattern":"^.*@.*$"
    },
    "ErrorCode":{
      "type":"string",
      "max":3,
      "min":3,
      "pattern":"[0-9]{3}"
    },
    "ErrorMessage":{
      "type":"string",
      "max":300,
      "pattern":"^[\\w\\W\\s\\S]*$"
    },
    "EventName":{
      "type":"string",
      "max":100,
      "pattern":"^[\\w\\W\\s\\S]*$"
    },
    "Evidence":{
      "type":"structure",
      "members":{
        "dataSource":{
          "shape":"String",
          "documentation":"<p> The data source from which the specified evidence was collected. </p>"
        },
        "evidenceAwsAccountId":{
          "shape":"AccountId",
          "documentation":"<p> The identifier for the specified account. </p>"
        },
        "time":{
          "shape":"Timestamp",
          "documentation":"<p> The timestamp that represents when the evidence was collected. </p>"
        },
        "eventSource":{
          "shape":"AWSServiceName",
          "documentation":"<p> The Amazon Web Service from which the evidence is collected. </p>"
        },
        "eventName":{
          "shape":"EventName",
          "documentation":"<p> The name of the specified evidence event. </p>"
        },
        "evidenceByType":{
          "shape":"String",
          "documentation":"<p> The type of automated evidence. </p>"
        },
        "resourcesIncluded":{
          "shape":"Resources",
          "documentation":"<p> The list of resources assessed to generate the evidence. </p>"
        },
        "attributes":{
          "shape":"EvidenceAttributes",
          "documentation":"<p> The names and values used by the evidence event, including an attribute name (such as <code>allowUsersToChangePassword</code>) and value (such as <code>true</code> or <code>false</code>). </p>"
        },
        "iamId":{
          "shape":"IamArn",
          "documentation":"<p> The unique identifier for the IAM user or role associated with the evidence. </p>"
        },
        "complianceCheck":{
          "shape":"String",
          "documentation":"<p> The evaluation status for evidence that falls under the compliance check category. For evidence collected from Security Hub, a <i>Pass</i> or <i>Fail</i> result is shown. For evidence collected from Config, a <i>Compliant</i> or <i>Noncompliant</i> result is shown. </p>"
        },
        "awsOrganization":{
          "shape":"String",
          "documentation":"<p> The account from which the evidence is collected, and its organization path. </p>"
        },
        "awsAccountId":{
          "shape":"AccountId",
          "documentation":"<p> The identifier for the specified account. </p>"
        },
        "evidenceFolderId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the folder in which the evidence is stored. </p>"
        },
        "id":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the evidence. </p>"
        },
        "assessmentReportSelection":{
          "shape":"String",
          "documentation":"<p> Specifies whether the evidence is included in the assessment report. </p>"
        }
      },
      "documentation":"<p> A record that contains the information needed to demonstrate compliance with the requirements specified by a control. Examples of evidence include change activity triggered by a user, or a system configuration snapshot. </p>"
    },
    "EvidenceAttributeKey":{
      "type":"string",
      "max":100,
      "pattern":"^[\\w\\W\\s\\S]*$"
    },
    "EvidenceAttributeValue":{
      "type":"string",
      "max":200,
      "pattern":"^[\\w\\W\\s\\S]*$"
    },
    "EvidenceAttributes":{
      "type":"map",
      "key":{"shape":"EvidenceAttributeKey"},
      "value":{"shape":"EvidenceAttributeValue"}
    },
    "EvidenceIds":{
      "type":"list",
      "member":{"shape":"UUID"},
      "max":50,
      "min":0
    },
    "EvidenceList":{
      "type":"list",
      "member":{"shape":"Evidence"}
    },
    "EvidenceSources":{
      "type":"list",
      "member":{"shape":"NonEmptyString"}
    },
    "Filename":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[\\w,\\s-]+\\.[A-Za-z]+$"
    },
    "Framework":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"AuditManagerArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the specified framework. </p>"
        },
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the specified framework. </p>"
        },
        "name":{
          "shape":"FrameworkName",
          "documentation":"<p> The name of the specified framework. </p>"
        },
        "type":{
          "shape":"FrameworkType",
          "documentation":"<p> The framework type, such as custom or standard. </p>"
        },
        "complianceType":{
          "shape":"ComplianceType",
          "documentation":"<p> The compliance type that the new custom framework supports, such as CIS or HIPAA. </p>"
        },
        "description":{
          "shape":"FrameworkDescription",
          "documentation":"<p> The description of the specified framework. </p>"
        },
        "logo":{
          "shape":"Filename",
          "documentation":"<p> The logo associated with the framework. </p>"
        },
        "controlSources":{
          "shape":"ControlSources",
          "documentation":"<p> The sources from which Audit Manager collects evidence for the control. </p>"
        },
        "controlSets":{
          "shape":"ControlSets",
          "documentation":"<p> The control sets associated with the framework. </p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p> Specifies when the framework was created. </p>"
        },
        "lastUpdatedAt":{
          "shape":"Timestamp",
          "documentation":"<p> Specifies when the framework was most recently updated. </p>"
        },
        "createdBy":{
          "shape":"CreatedBy",
          "documentation":"<p> The IAM user or role that created the framework. </p>"
        },
        "lastUpdatedBy":{
          "shape":"LastUpdatedBy",
          "documentation":"<p> The IAM user or role that most recently updated the framework. </p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p> The tags associated with the framework. </p>"
        }
      },
      "documentation":"<p> The file used to structure and automate Audit Manager assessments for a given compliance standard. </p>"
    },
    "FrameworkDescription":{
      "type":"string",
      "max":1000,
      "min":1,
      "pattern":"^[\\w\\W\\s\\S]*$"
    },
    "FrameworkMetadata":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"AssessmentName",
          "documentation":"<p> The name of the framework. </p>"
        },
        "description":{
          "shape":"AssessmentFrameworkDescription",
          "documentation":"<p> The description of the framework. </p>"
        },
        "logo":{
          "shape":"Filename",
          "documentation":"<p> The logo associated with the framework. </p>"
        },
        "complianceType":{
          "shape":"ComplianceType",
          "documentation":"<p> The compliance standard associated with the framework, such as PCI-DSS or HIPAA. </p>"
        }
      },
      "documentation":"<p> The metadata of a framework, such as the name, ID, description, and so on. </p>"
    },
    "FrameworkMetadataList":{
      "type":"list",
      "member":{"shape":"AssessmentFrameworkMetadata"}
    },
    "FrameworkName":{
      "type":"string",
      "max":300,
      "min":1,
      "pattern":"^[^\\\\]*$"
    },
    "FrameworkType":{
      "type":"string",
      "enum":[
        "Standard",
        "Custom"
      ]
    },
    "GenericArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn:.*"
    },
    "GetAccountStatusRequest":{
      "type":"structure",
      "members":{
      }
    },
    "GetAccountStatusResponse":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"AccountStatus",
          "documentation":"<p> The status of the specified account. </p>"
        }
      }
    },
    "GetAssessmentFrameworkRequest":{
      "type":"structure",
      "required":["frameworkId"],
      "members":{
        "frameworkId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified framework. </p>",
          "location":"uri",
          "locationName":"frameworkId"
        }
      }
    },
    "GetAssessmentFrameworkResponse":{
      "type":"structure",
      "members":{
        "framework":{
          "shape":"Framework",
          "documentation":"<p> The framework returned by the <code>GetAssessmentFramework</code> API. </p>"
        }
      }
    },
    "GetAssessmentReportUrlRequest":{
      "type":"structure",
      "required":[
        "assessmentReportId",
        "assessmentId"
      ],
      "members":{
        "assessmentReportId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the assessment report. </p>",
          "location":"uri",
          "locationName":"assessmentReportId"
        },
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified assessment. </p>",
          "location":"uri",
          "locationName":"assessmentId"
        }
      }
    },
    "GetAssessmentReportUrlResponse":{
      "type":"structure",
      "members":{
        "preSignedUrl":{"shape":"URL"}
      }
    },
    "GetAssessmentRequest":{
      "type":"structure",
      "required":["assessmentId"],
      "members":{
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified assessment. </p>",
          "location":"uri",
          "locationName":"assessmentId"
        }
      }
    },
    "GetAssessmentResponse":{
      "type":"structure",
      "members":{
        "assessment":{"shape":"Assessment"},
        "userRole":{"shape":"Role"}
      }
    },
    "GetChangeLogsRequest":{
      "type":"structure",
      "required":["assessmentId"],
      "members":{
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified assessment. </p>",
          "location":"uri",
          "locationName":"assessmentId"
        },
        "controlSetId":{
          "shape":"ControlSetId",
          "documentation":"<p> The identifier for the specified control set. </p>",
          "location":"querystring",
          "locationName":"controlSetId"
        },
        "controlId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified control. </p>",
          "location":"querystring",
          "locationName":"controlId"
        },
        "nextToken":{
          "shape":"Token",
          "documentation":"<p> The pagination token used to fetch the next set of results. </p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p> Represents the maximum number of results per page, or per API request call. </p>",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "GetChangeLogsResponse":{
      "type":"structure",
      "members":{
        "changeLogs":{
          "shape":"ChangeLogs",
[...]
