{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2025-01-01",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"cloudwatch-omni",
    "protocol":"smithy-rpc-v2-cbor",
    "protocols":["smithy-rpc-v2-cbor"],
    "serviceFullName":"CloudWatch Omni",
    "serviceId":"CloudWatchOmni",
    "signatureVersion":"v4",
    "signingName":"cloudwatch",
    "targetPrefix":"CloudWatchOmniFrontend",
    "uid":"cloudwatchomni-2025-01-01"
  },
  "operations":{
    "CreateAccessGrant":{
      "name":"CreateAccessGrant",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAccessGrantInput"},
      "output":{"shape":"CreateAccessGrantOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an AccessGrant that authorizes a principal to perform a set of actions on resources in a space.</p> <p>Optionally narrow the grant with scoped actions that limit it to specific resources and fields. Use ListAccessGrants and GetAccessGrant to retrieve grants, and DeleteAccessGrant to remove them.</p>"
    },
    "CreateAccessProfile":{
      "name":"CreateAccessProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAccessProfileInput"},
      "output":{"shape":"CreateAccessProfileOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an access profile in a space.</p> <p>Use GetAccessProfile and ListAccessProfiles to retrieve profiles, and UpdateAccessProfile to modify one.</p>"
    },
    "CreateAlert":{
      "name":"CreateAlert",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAlertInput"},
      "output":{"shape":"CreateAlertOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a new alert within a space.</p> <p>Use GetAlert and ListAlerts to retrieve alerts, UpdateAlert to modify one, and DeleteAlert to remove it.</p>"
    },
    "CreateDomain":{
      "name":"CreateDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDomainInput"},
      "output":{"shape":"CreateDomainOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a domain with identity provider configuration.</p> <p>Use GetDomain to retrieve the domain, UpdateDomain to change its configuration, and CreateSpace to add spaces within it.</p>"
    },
    "CreateDomainAccessGrantForOrganization":{
      "name":"CreateDomainAccessGrantForOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDomainAccessGrantForOrganizationInput"},
      "output":{"shape":"CreateDomainAccessGrantForOrganizationOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an AccessGrant that authorizes a principal to administer an organization domain.</p>"
    },
    "CreateDomainForOrganization":{
      "name":"CreateDomainForOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDomainForOrganizationInput"},
      "output":{"shape":"CreateDomainForOrganizationOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates an organization-scoped domain for the caller's AWS Organization. Only the organization's management account can call this operation.</p>"
    },
    "CreateIntegration":{
      "name":"CreateIntegration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateIntegrationInput"},
      "output":{"shape":"CreateIntegrationOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates an integration with a third-party provider. Returns the integration identifier and its initial status; when the provider requires interactive consent, an authorization URL is returned for the user to complete setup.</p>"
    },
    "CreateOmniDashboard":{
      "name":"CreateOmniDashboard",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateOmniDashboardInput"},
      "output":{"shape":"CreateOmniDashboardOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a new dashboard within a space.</p> <p>Use GetOmniDashboard and ListOmniDashboards to retrieve dashboards, UpdateOmniDashboard to modify one, and DeleteOmniDashboard to remove it.</p>"
    },
    "CreateOneTimeDeepLinkCode":{
      "name":"CreateOneTimeDeepLinkCode",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateOneTimeDeepLinkCodeInput"},
      "output":{"shape":"CreateOneTimeDeepLinkCodeOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Generates a one-time code for deep-link authentication.</p> <p>Direct the user's browser to the returned deepLinkUrl before it expires. The code is exchanged for an authenticated, domain-scoped session and can be used only once.</p>"
    },
    "CreateSpace":{
      "name":"CreateSpace",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSpaceInput"},
      "output":{"shape":"CreateSpaceOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a space in a domain.</p> <p>Use GetSpace to retrieve the space, ListSpaces to enumerate spaces, UpdateSpace to modify it, and DeleteSpace to remove it.</p>"
    },
    "CreateView":{
      "name":"CreateView",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateViewRequest"},
      "output":{"shape":"CreateViewResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a new SQL view.</p> <p>A view is a named, reusable SQL query that can be referenced from telemetry queries. View names must be unique within the account and region. Only USER views can be created — MANAGED views are provisioned by AWS.</p>"
    },
    "DeleteAccessGrant":{
      "name":"DeleteAccessGrant",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAccessGrantInput"},
      "output":{"shape":"DeleteAccessGrantOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Removes an existing AccessGrant, revoking the access it granted.</p> <p>A service-managed grant cannot be deleted.</p>",
      "idempotent":true
    },
    "DeleteAccessProfile":{
      "name":"DeleteAccessProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAccessProfileInput"},
      "output":{"shape":"DeleteAccessProfileOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Removes an access profile.</p> <p>An access profile cannot be deleted while access grants reference it.</p>",
      "idempotent":true
    },
    "DeleteAlert":{
      "name":"DeleteAlert",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAlertInput"},
      "output":{"shape":"DeleteAlertOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an alert by its identifier.</p> <p>Idempotent: deleting an alert that has already been removed succeeds without error.</p>",
      "idempotent":true
    },
    "DeleteDomain":{
      "name":"DeleteDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDomainInput"},
      "output":{"shape":"DeleteDomainOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Removes a domain and all of its resources. Call this operation in the Region where the domain was created.</p> <p>A domain cannot be deleted while it contains spaces.</p>",
      "idempotent":true
    },
    "DeleteDomainAccessGrantForOrganization":{
      "name":"DeleteDomainAccessGrantForOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDomainAccessGrantForOrganizationInput"},
      "output":{"shape":"DeleteDomainAccessGrantForOrganizationOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Removes an existing organization access grant, revoking the access it granted.</p> <p>A service-managed grant cannot be deleted.</p>",
      "idempotent":true
    },
    "DeleteDomainForOrganization":{
      "name":"DeleteDomainForOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDomainForOrganizationInput"},
      "output":{"shape":"DeleteDomainForOrganizationOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Removes an organization domain and all of its resources. Call this operation in the Region where the domain was created.</p> <p>A domain cannot be deleted while it contains spaces.</p>",
      "idempotent":true
    },
    "DeleteIntegration":{
      "name":"DeleteIntegration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteIntegrationInput"},
      "output":{"shape":"DeleteIntegrationOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an integration. Returns the resulting status.</p>",
      "idempotent":true
    },
    "DeleteOmniDashboard":{
      "name":"DeleteOmniDashboard",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteOmniDashboardInput"},
      "output":{"shape":"DeleteOmniDashboardOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes a dashboard from a space.</p>",
      "idempotent":true
    },
    "DeleteSpace":{
      "name":"DeleteSpace",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSpaceInput"},
      "output":{"shape":"DeleteSpaceOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes a space and all of its resources.</p>",
      "idempotent":true
    },
    "DeleteView":{
      "name":"DeleteView",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteViewRequest"},
      "output":{"shape":"DeleteViewResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes the specified view.</p> <p>Queries that reference the view fail after it is deleted. Managed views cannot be deleted.</p>",
      "idempotent":true
    },
    "GetAccessGrant":{
      "name":"GetAccessGrant",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAccessGrantInput"},
      "output":{"shape":"GetAccessGrantOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the full detail of a single AccessGrant by ID.</p>",
      "readonly":true
    },
    "GetAccessProfile":{
      "name":"GetAccessProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAccessProfileInput"},
      "output":{"shape":"GetAccessProfileOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves an access profile by ID.</p> <p>The response indicates whether the calling principal is currently allowed to assume the profile.</p>",
      "readonly":true
    },
    "GetAlert":{
      "name":"GetAlert",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAlertInput"},
      "output":{"shape":"GetAlertOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves a single alert by its identifier.</p> <p>Use ListAlerts to enumerate alerts in the space.</p>",
      "readonly":true
    },
    "GetContextGraph":{
      "name":"GetContextGraph",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetContextGraphInput"},
      "output":{"shape":"GetContextGraphOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Queries the context graph with filtering, traversal, and pagination support.</p> <p>Pagination note: nodes and edges are returned together as a coherent subgraph. Pagination cursors advance over nodes (the primary collection); each page includes all edges connecting nodes within that page. Callers should treat nodes as the paginated collection and edges as supplementary relationship data attached to those nodes.</p>",
      "readonly":true
    },
    "GetDomain":{
      "name":"GetDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDomainInput"},
      "output":{"shape":"GetDomainOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the details of a domain by ID.</p>",
      "readonly":true
    },
    "GetDomainAccessGrantForOrganization":{
      "name":"GetDomainAccessGrantForOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDomainAccessGrantForOrganizationInput"},
      "output":{"shape":"GetDomainAccessGrantForOrganizationOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the full detail of a single organization access grant by ID.</p>",
      "readonly":true
    },
    "GetDomainForOrganization":{
      "name":"GetDomainForOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDomainForOrganizationInput"},
      "output":{"shape":"GetDomainForOrganizationOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the details of an organization domain by ID.</p>",
      "readonly":true
    },
    "GetIntegration":{
      "name":"GetIntegration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetIntegrationInput"},
      "output":{"shape":"GetIntegrationOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns the details of a single integration, identified by its identifier, Amazon Resource Name, or name.</p>",
      "readonly":true
    },
    "GetIntelligenceConfiguration":{
      "name":"GetIntelligenceConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetIntelligenceConfigurationInput"},
      "output":{"shape":"GetIntelligenceConfigurationOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the intelligence configuration for the calling account. Account is identified via FAS (caller identity). Returns the default configuration if none exists yet.</p>",
      "readonly":true
    },
    "GetOmniDashboard":{
      "name":"GetOmniDashboard",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOmniDashboardInput"},
      "output":{"shape":"GetOmniDashboardOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves a dashboard by ID within a space.</p>",
      "readonly":true
    },
    "GetSpace":{
      "name":"GetSpace",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSpaceInput"},
      "output":{"shape":"GetSpaceOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the details of a space by ID.</p>",
      "readonly":true
    },
    "GetSpaceCredentialsForOrganization":{
      "name":"GetSpaceCredentialsForOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSpaceCredentialsForOrganizationInput"},
      "output":{"shape":"GetSpaceCredentialsForOrganizationOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns temporary credentials for a space in an organization member account. The credentials are valid for one hour.</p> <p>The caller must be the organization's management account or a delegated administrator with access to the target space. The target account must be an active member of the same organization as the domain, and the space must already exist.</p>"
    },
    "GetTelemetryQueryResults":{
      "name":"GetTelemetryQueryResults",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTelemetryQueryResultsRequest"},
      "output":{"shape":"GetTelemetryQueryResultsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns the results for the specified query.</p>"
    },
    "GetView":{
      "name":"GetView",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetViewRequest"},
      "output":{"shape":"GetViewResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns the definition and metadata of the specified view.</p>",
      "readonly":true
    },
    "ListAccessGrants":{
      "name":"ListAccessGrants",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAccessGrantsInput"},
      "output":{"shape":"ListAccessGrantsOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns AccessGrants, with optional filtering by domain, space, principal, or permission. A grant is returned only when it matches every filter supplied. With no filters, returns the grants for the current account and Region.</p>",
      "readonly":true
    },
    "ListAccessProfiles":{
      "name":"ListAccessProfiles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAccessProfilesInput"},
      "output":{"shape":"ListAccessProfilesOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns the access profiles in a space.</p>",
      "readonly":true
    },
    "ListAlerts":{
      "name":"ListAlerts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAlertsInput"},
      "output":{"shape":"ListAlertsOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists alerts within a space, optionally filtered by exact name(s), a single name prefix, or exact alertId(s), with pagination.</p> <p>Use GetAlert to retrieve a single alert's full detail.</p>",
      "readonly":true
    },
    "ListDomainAccessGrantsForOrganization":{
      "name":"ListDomainAccessGrantsForOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDomainAccessGrantsForOrganizationInput"},
      "output":{"shape":"ListDomainAccessGrantsForOrganizationOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns organization-level domain access grants, with optional filtering by domain, principal, or permission. A grant is returned only when it matches every filter supplied. With no filters, returns the grants for the caller's organization.</p>",
      "readonly":true
    },
    "ListDomains":{
      "name":"ListDomains",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDomainsInput"},
      "output":{"shape":"ListDomainsOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns the caller's domains: the account-scoped domain and the organization-scoped domain, if either exists. At most two domains are returned.</p>",
      "readonly":true
    },
    "ListIntegrations":{
      "name":"ListIntegrations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListIntegrationsInput"},
      "output":{"shape":"ListIntegrationsOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the integrations in the account, optionally filtered by type, status, or name. Results are paginated.</p>",
      "readonly":true
    },
    "ListOmniDashboards":{
      "name":"ListOmniDashboards",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListOmniDashboardsInput"},
      "output":{"shape":"ListOmniDashboardsOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns the dashboards in a space, optionally filtered by name prefix.</p>",
      "readonly":true
    },
    "ListSpaces":{
      "name":"ListSpaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSpacesInput"},
      "output":{"shape":"ListSpacesOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns the spaces in the account, optionally filtered by domain.</p>",
      "readonly":true
    },
    "ListSpacesForOrganization":{
      "name":"ListSpacesForOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSpacesForOrganizationInput"},
      "output":{"shape":"ListSpacesForOrganizationOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns the spaces across all member accounts in the organization.</p>",
      "readonly":true
    },
    "ListTelemetryFields":{
      "name":"ListTelemetryFields",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTelemetryFieldsRequest"},
      "output":{"shape":"ListTelemetryFieldsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists fields available for telemetry queries.</p> <p>Returns a list of fields included in the specified dataset, granular to telemetry type. Returned field names reflect the exact stored casing and are case-sensitive when referenced in query expressions; the query engine does not normalize identifier case.</p>"
    },
    "ListTelemetryQuerySessions":{
      "name":"ListTelemetryQuerySessions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTelemetryQuerySessionsRequest"},
      "output":{"shape":"ListTelemetryQuerySessionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists telemetry query sessions.</p> <p>Returns a list of telemetry query sessions owned by the caller.</p>"
    },
    "ListViews":{
      "name":"ListViews",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListViewsRequest"},
      "output":{"shape":"ListViewsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the views in the caller's account and region.</p> <p>Returns a summary for each view, optionally filtered by view type. View definitions are not included — use GetView to retrieve them.</p>",
      "readonly":true
    },
    "PutIntelligenceConfiguration":{
      "name":"PutIntelligenceConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutIntelligenceConfigurationInput"},
      "output":{"shape":"PutIntelligenceConfigurationOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates or updates the intelligence configuration for the calling account. Account is identified via FAS (caller identity).</p>",
      "idempotent":true
    },
    "SearchPrincipals":{
      "name":"SearchPrincipals",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SearchPrincipalsInput"},
      "output":{"shape":"SearchPrincipalsOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Searches Identity Center for users and groups in a domain. The domain must be configured with Identity Center.</p> <p>To grant access to a result, pass its principalId to CreateAccessGrant with a principalType of IDC_USER for a user or IDC_GROUP for a group.</p>",
      "readonly":true
    },
    "StartTelemetryQuery":{
      "name":"StartTelemetryQuery",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartTelemetryQueryRequest"},
      "output":{"shape":"StartTelemetryQueryResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts a telemetry query within a session.</p> <p>Submits the provided query string for execution in the specified session. Use GetTelemetryQueryResults to poll for results and check query status.</p>"
    },
    "StartTelemetryQuerySession":{
      "name":"StartTelemetryQuerySession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartTelemetryQuerySessionRequest"},
      "output":{"shape":"StartTelemetryQuerySessionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Starts a new telemetry query session.</p> <p>A session provides a logical grouping for one or more telemetry queries. The returned session ID is required when starting queries via StartTelemetryQuery.</p>"
    },
    "StopTelemetryQuery":{
      "name":"StopTelemetryQuery",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTelemetryQueryRequest"},
      "output":{"shape":"StopTelemetryQueryResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops a running telemetry query.</p>",
      "idempotent":true
    },
    "StopTelemetryQuerySession":{
      "name":"StopTelemetryQuerySession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopTelemetryQuerySessionRequest"},
      "output":{"shape":"StopTelemetryQuerySessionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stops a telemetry query session.</p> <p>Terminates the specified session. After a session is stopped it cannot be reused.</p>",
      "idempotent":true
    },
    "UpdateAccessProfile":{
      "name":"UpdateAccessProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAccessProfileInput"},
      "output":{"shape":"UpdateAccessProfileOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates the name or description of an access profile.</p> <p>Only the provided fields are changed; omitted fields are left unchanged.</p>",
      "idempotent":true
    },
    "UpdateAlert":{
      "name":"UpdateAlert",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAlertInput"},
      "output":{"shape":"UpdateAlertOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates an existing alert.</p> <p>Only non-null fields overwrite existing values.</p>",
      "idempotent":true
    },
    "UpdateDomain":{
      "name":"UpdateDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDomainInput"},
      "output":{"shape":"UpdateDomainOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates a domain's name or identity provider configuration.</p> <p>Only the provided fields are changed; omitted fields are left unchanged. Renaming a domain also changes the endpoint URLs derived from its name.</p>",
      "idempotent":true
    },
    "UpdateDomainForOrganization":{
      "name":"UpdateDomainForOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDomainForOrganizationInput"},
      "output":{"shape":"UpdateDomainForOrganizationOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates an organization domain's name or identity provider configuration. Call this operation in the Region where the domain was created.</p> <p>Only the provided fields are changed; omitted fields are left unchanged. Renaming a domain also changes the endpoint URLs derived from its name.</p>",
      "idempotent":true
    },
    "UpdateIntegration":{
      "name":"UpdateIntegration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateIntegrationInput"},
      "output":{"shape":"UpdateIntegrationOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates an existing integration, identified by its id, ARN, or name. Only the fields you provide are changed.</p>",
      "idempotent":true
    },
    "UpdateOmniDashboard":{
      "name":"UpdateOmniDashboard",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateOmniDashboardInput"},
      "output":{"shape":"UpdateOmniDashboardOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates an existing dashboard within a space.</p> <p>Only the provided fields are changed; omitted fields are left unchanged.</p>",
      "idempotent":true
    },
    "UpdateSpace":{
      "name":"UpdateSpace",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateSpaceInput"},
      "output":{"shape":"UpdateSpaceOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates a space.</p> <p>Only the provided fields are changed; omitted fields are left unchanged.</p>",
      "idempotent":true
    },
    "UpdateView":{
      "name":"UpdateView",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateViewRequest"},
      "output":{"shape":"UpdateViewResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates an existing view's definition and/or description.</p> <p>Only the fields you provide are changed. Managed views cannot be updated.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The caller is not authorized to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccessGrant":{
      "type":"structure",
      "required":[
        "grantId",
        "grantArn",
        "accountId",
        "domainId",
        "principal",
        "permission",
        "grantType",
        "createdBy",
        "createdAt",
        "updatedAt",
        "spaceId"
      ],
      "members":{
        "grantId":{
          "shape":"GrantId",
          "documentation":"<p>The unique ID of the access grant.</p>"
        },
        "grantArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the access grant.</p>"
        },
        "name":{
          "shape":"AccessGrantNameString",
          "documentation":"<p>A name that identifies the access grant.</p>"
        },
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The AWS account ID that owns the grant.</p>"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The ID of the domain the grant belongs to.</p>"
        },
        "principal":{
          "shape":"AccessGrantPrincipal",
          "documentation":"<p>The principal receiving the grant.</p>"
        },
        "permission":{
          "shape":"AccessGrantPermission",
          "documentation":"<p>The permission granted.</p>"
        },
        "grantType":{
          "shape":"AccessGrantType",
          "documentation":"<p>Who manages the grant.</p>"
        },
        "createdBy":{
          "shape":"String",
          "documentation":"<p>The principal that created the grant.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the grant was created.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the grant was last updated.</p>"
        },
        "spaceId":{
          "shape":"SpaceId",
          "documentation":"<p>The space this grant applies to. Domain-scoped grants are returned by ListDomainAccessGrantsForOrganization instead.</p>"
        },
        "scopedActions":{
          "shape":"ScopedActionsList",
          "documentation":"<p>Groups of actions allowed by the grant, each with the resource scopes and conditions that limit those actions.</p>"
        }
      },
      "documentation":"<p>Full AccessGrant structure returned by API operations.</p>"
    },
    "AccessGrantNameString":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9_-]+"
    },
    "AccessGrantPermission":{
      "type":"string",
      "documentation":"<p>Permission levels for AccessGrants. SPACE_ADMIN can manage grants within a space but cannot create spaces.</p>",
      "enum":[
        "SPACE_ADMIN",
        "READ",
        "READ_WRITE_DELETE",
        "CUSTOM"
      ]
    },
    "AccessGrantPrincipal":{
      "type":"structure",
      "required":["principalType"],
      "members":{
        "principalType":{
          "shape":"AccessGrantPrincipalType",
          "documentation":"<p>The type of principal receiving the grant.</p>"
        },
        "principalId":{
          "shape":"PrincipalId",
          "documentation":"<p>The ID of the principal receiving the grant.</p>"
        },
        "principalAttributes":{
          "shape":"AccessGrantPrincipalAttributeList",
          "documentation":"<p>Attribute conditions for attribute-based access. When provided, the grant targets any principal matching all specified conditions. Supported only for IDC_USER principals.</p>"
        }
      },
      "documentation":"<p>The principal receiving the grant. Specify principalId, principalAttributes, or both.</p>"
    },
    "AccessGrantPrincipalAttribute":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{
          "shape":"AccessGrantPrincipalAttributeKeyString",
          "documentation":"<p>The Identity Center user attribute to match on. One of userName, active, userStatus, displayName, email, name.givenName, name.familyName, enterprise.department, enterprise.division, enterprise.organization, enterprise.costCenter, or enterprise.employeeNumber. Each key may appear only once per grant.</p>"
        },
        "value":{
          "shape":"AccessGrantPrincipalAttributeValueString",
          "documentation":"<p>The attribute value.</p>"
        }
      },
      "documentation":"<p>A single attribute condition used to match principals for attribute-based access.</p>"
    },
    "AccessGrantPrincipalAttributeKeyString":{
      "type":"string",
      "max":128,
      "min":1
    },
    "AccessGrantPrincipalAttributeList":{
      "type":"list",
      "member":{"shape":"AccessGrantPrincipalAttribute"},
      "documentation":"<p>List of principal attribute conditions.</p>",
      "max":10,
      "min":0
    },
    "AccessGrantPrincipalAttributeValueString":{
      "type":"string",
      "max":512,
      "min":1
    },
    "AccessGrantPrincipalType":{
      "type":"string",
      "documentation":"<p>Type of principal receiving the grant.</p>",
      "enum":[
        "IDC_USER",
        "IDC_GROUP",
        "IAM_USER",
        "IAM_ROLE",
        "IAM_ROOT",
        "ACCESS_PROFILE",
        "ALERT",
        "AGENT"
      ]
    },
    "AccessGrantSummary":{
      "type":"structure",
      "required":[
        "grantId",
        "grantArn",
        "domainId",
        "principal",
        "permission",
        "grantType",
        "spaceId"
      ],
      "members":{
        "grantId":{
          "shape":"GrantId",
          "documentation":"<p>The unique ID of the access grant.</p>"
        },
        "grantArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the access grant.</p>"
        },
        "name":{
          "shape":"AccessGrantSummaryNameString",
          "documentation":"<p>A name that identifies the access grant.</p>"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The ID of the domain the grant belongs to.</p>"
        },
        "principal":{
          "shape":"AccessGrantPrincipal",
          "documentation":"<p>The principal receiving the grant.</p>"
        },
        "permission":{
          "shape":"AccessGrantPermission",
          "documentation":"<p>The permission granted.</p>"
        },
        "grantType":{
          "shape":"AccessGrantType",
          "documentation":"<p>Who manages the grant.</p>"
        },
        "spaceId":{
          "shape":"SpaceId",
          "documentation":"<p>The space this grant applies to. Domain-scoped grants are returned by ListDomainAccessGrantsForOrganization instead.</p>"
        }
      },
      "documentation":"<p>Summary of an AccessGrant. Call GetAccessGrant for the full grant.</p>"
    },
    "AccessGrantSummaryList":{
      "type":"list",
      "member":{"shape":"AccessGrantSummary"},
      "documentation":"<p>List of AccessGrant summaries.</p>"
    },
    "AccessGrantSummaryNameString":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9_-]+"
    },
    "AccessGrantType":{
      "type":"string",
      "documentation":"<p>Who manages an access grant.</p>",
      "enum":[
        "SERVICE_MANAGED",
        "CUSTOMER_MANAGED"
      ]
    },
    "AccessKeyId":{
      "type":"string",
      "documentation":"<p>An AWS access key ID.</p>",
      "sensitive":true
    },
    "AccessProfile":{
      "type":"structure",
      "required":[
        "profileId",
        "spaceId",
        "arn",
        "name",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "profileId":{
          "shape":"ProfileId",
          "documentation":"<p>The unique ID of the access profile.</p>"
        },
        "spaceId":{
          "shape":"SpaceId",
          "documentation":"<p>The ID of the space the profile belongs to.</p>"
        },
        "arn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of this access profile.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>A name that identifies the access profile.</p>"
        },
        "description":{
          "shape":"String",
          "documentation":"<p>An optional description of the access profile.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the access profile was created.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the access profile was last updated.</p>"
        },
        "assumeStatus":{
          "shape":"AssumeStatus",
          "documentation":"<p>The calling principal's authorization to assume this access profile.</p>"
        },
        "profileType":{
          "shape":"AccessProfileType",
          "documentation":"<p>Who manages the access profile.</p>"
        }
      },
      "documentation":"<p>An Access Profile.</p>"
    },
    "AccessProfileName":{
      "type":"string",
      "documentation":"<p>A name that identifies an access profile. Must be 1-256 characters: letters, numbers, spaces, and the characters _ . : / = + @ -</p>",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9 _.:/=+@-]+"
    },
    "AccessProfileSummary":{
      "type":"structure",
      "required":[
        "profileId",
        "arn",
        "name"
      ],
      "members":{
        "profileId":{
          "shape":"ProfileId",
          "documentation":"<p>The unique ID of the access profile.</p>"
        },
        "arn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of this access profile.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>A name that identifies the access profile.</p>"
        },
        "description":{
          "shape":"String",
          "documentation":"<p>An optional description of the access profile.</p>"
        },
        "profileType":{
          "shape":"AccessProfileType",
          "documentation":"<p>Who manages the access profile.</p>"
        }
      },
      "documentation":"<p>Summary of an access profile. Call GetAccessProfile for the full profile.</p>"
    },
    "AccessProfileSummaryList":{
      "type":"list",
      "member":{"shape":"AccessProfileSummary"},
      "documentation":"<p>List of Access Profile summaries.</p>"
    },
    "AccessProfileType":{
      "type":"string",
      "documentation":"<p>Who manages an access profile.</p>",
      "enum":[
        "SERVICE_MANAGED",
        "CUSTOMER_MANAGED"
      ]
    },
    "AccountId":{
      "type":"string",
      "documentation":"<p>12-digit AWS account id.</p>",
      "max":12,
      "min":12,
      "pattern":"[0-9]{12}"
    },
    "Alert":{
      "type":"structure",
      "required":[
        "name",
        "accountId",
        "rule",
        "createdAt",
        "updatedAt",
        "alertArn"
      ],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the alert.</p>"
        },
        "alertId":{
          "shape":"AlertId",
          "documentation":"<p>The stable alert identifier (see {@link AlertId}), minted on create and immutable across updates. Use it (not {@code name}) to address the alert on GetAlert/UpdateAlert/DeleteAlert; it is also the ARN's resource id.</p>"
        },
        "description":{
          "shape":"String",
          "documentation":"<p>An optional description of the alert.</p>"
        },
        "accountId":{
          "shape":"AccountId",
          "documentation":"<p>The AWS account ID that owns the alert.</p>"
        },
        "spaceId":{
          "shape":"SpaceId",
          "documentation":"<p>The ID of the space the alert belongs to.</p>"
        },
        "profileId":{
          "shape":"ProfileId",
          "documentation":"<p>The ID of the access profile associated with the alert.</p>"
        },
        "rule":{
          "shape":"Rule",
          "documentation":"<p>The rule that defines how the alert is evaluated.</p>"
        },
        "notificationStatus":{
          "shape":"NotificationStatus",
          "documentation":"<p>Whether notifications are enabled.</p>"
        },
        "state":{
          "shape":"AlertStateInfo",
          "documentation":"<p>Live evaluation state (read-only, system-managed). Populated by GetAlert. ListAlerts reports state on <code>AlertSummary</code> instead, where it stays required.</p> <p>Absent on CreateAlert: a newly created alert has never been evaluated, so any state reported there would be a default rather than an observation. Call GetAlert for live state. Not @required for that reason — GetAlert always populates it.</p> <p><code>contributorSummary</code> is nested inside this member, so it too is absent on CreateAlert.</p>"
        },
        "notificationRules":{
          "shape":"NotificationRuleList",
          "documentation":"<p>The notification rules for the alert.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the alert was created.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the alert was last updated.</p>"
        },
        "alertArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the alert.</p>"
        }
      },
      "documentation":"<p>Full alert entity, returned by both CreateAlert and GetAlert. A create and a read of the same alert describe it identically except for {@code state}, which only the read paths populate. UpdateAlert returns an empty response.</p>"
    },
    "AlertCondition":{
      "type":"structure",
      "members":{
        "thresholdMode":{
          "shape":"ThresholdMode",
          "documentation":"<p>How the threshold is applied to query results.</p>"
        },
        "thresholdField":{
          "shape":"AlertConditionThresholdFieldString",
          "documentation":"<p>The field the threshold is evaluated against.</p>"
        },
        "comparator":{
          "shape":"Comparator",
          "documentation":"<p>The comparison operator applied to the threshold.</p>"
        },
        "warningThreshold":{
          "shape":"Double",
          "documentation":"<p>The value at which the alert enters the WARNING state.</p>"
        },
        "criticalThreshold":{
          "shape":"Double",
          "documentation":"<p>The value at which the alert enters the CRITICAL state.</p>"
        }
      },
      "documentation":"<p>The condition that determines when the alert fires.</p> <p>On UpdateAlert a supplied condition is replaced whole, not merged: an omitted {@code warningThreshold} or {@code criticalThreshold} removes that tier, and an omitted {@code thresholdField} clears it. A condition must keep at least one tier. {@code thresholdMode} and {@code comparator} are optional at the Smithy level (so a single-tier condition is expressible) but are required whenever a threshold is present; enforced by the service-side validator.</p>"
    },
    "AlertConditionThresholdFieldString":{
      "type":"string",
      "max":256,
      "min":0
    },
    "AlertEvaluation":{
      "type":"structure",
      "required":["intervalSeconds"],
      "members":{
        "intervalSeconds":{
          "shape":"Integer",
          "documentation":"<p>The interval between evaluations, in seconds.</p>"
        },
        "pendingDurationSeconds":{
          "shape":"Integer",
          "documentation":"<p>The duration a breach must persist before the alert fires, in seconds.</p>"
        },
        "recoveryDurationSeconds":{
          "shape":"Integer",
          "documentation":"<p>The duration a recovery must persist before the alert clears, in seconds.</p>"
        }
      },
      "documentation":"<p>Evaluation cadence. {@code intervalSeconds} must be one of {30, 60, 120, 300, 600, 900, 1800, 3600}; {@code pendingDurationSeconds} and {@code recoveryDurationSeconds} must be multiples of {@code intervalSeconds}. A duration of 0 means fire/clear immediately with no delay.</p> <p>On UpdateAlert a supplied evaluation block is replaced whole, not merged: an omitted {@code pendingDurationSeconds} or {@code recoveryDurationSeconds} is cleared to unset (no such duration), not preserved and not defaulted to 0. {@code intervalSeconds} is required whenever the block is present. All enforced server-side / by the front-door validator.</p>"
    },
    "AlertFilterCriteria":{
      "type":"structure",
      "members":{
        "names":{
          "shape":"AlertNameFilterList",
          "documentation":"<p>Filter to alerts whose name exactly matches any entry (OR semantics). Mutually exclusive with {@code namePrefix} and {@code ids}.</p>"
        },
        "namePrefix":{
          "shape":"AlertFilterCriteriaNamePrefixString",
          "documentation":"<p>Filter to alerts whose name starts with this prefix. Mutually exclusive with {@code names} and {@code ids}.</p>"
        },
        "ids":{
          "shape":"AlertIdFilterList",
          "documentation":"<p>Filter to alerts whose {@link AlertId} exactly matches any entry (OR semantics). Mutually exclusive with {@code names} and {@code namePrefix}.</p>"
        },
        "stateValue":{
          "shape":"AlertStateList",
          "documentation":"<p>Filter to alerts currently in any of these states (OR semantics).</p>"
        },
        "notificationsEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Filter to alerts by whether notifications are enabled.</p>"
        }
      },
      "documentation":"<p>Filter criteria for ListAlerts. All members are optional; each omitted member is unconstrained. At most one of {@code names}, {@code namePrefix}, {@code ids} may be provided (mutually exclusive; the service rejects more than one). The remaining members combine with AND.</p>"
    },
    "AlertFilterCriteriaNamePrefixString":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9_.@~()-]+"
    },
    "AlertId":{
      "type":"string",
      "documentation":"<p>The stable alert identifier: a 32-character lowercase hex uuid, minted by the backend on create and immutable across updates.</p> <p>It deliberately carries no name, so that a future rename cannot change an alert's identity and break the ARNs, saved links and IAM policies pointing at it. Use {@code name} to display an alert and {@code alertId} to address one.</p>",
      "max":32,
      "min":32,
      "pattern":"[0-9a-f]{32}"
    },
    "AlertIdFilterList":{
      "type":"list",
      "member":{"shape":"AlertId"},
      "documentation":"<p>Exact alertId match list. Members reuse the {@link AlertId} type so the charset/cap stay in sync with it.</p>",
      "max":50,
      "min":1
    },
    "AlertNameFilterList":{
      "type":"list",
      "member":{"shape":"AlertNameFilterListMemberString"},
      "documentation":"<p>List of exact alert names to filter by.</p>",
      "max":50,
      "min":1
    },
    "AlertNameFilterListMemberString":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9_.@~()-]+"
    },
    "AlertRuleQuery":{
      "type":"structure",
      "required":[
        "language",
        "expression"
      ],
      "members":{
        "language":{
          "shape":"QueryLanguage",
          "documentation":"<p>The query language of the expression.</p>"
        },
        "expression":{
          "shape":"AlertRuleQueryExpressionString",
          "documentation":"<p>The query expression to evaluate.</p>"
        }
      },
      "documentation":"<p>Query expression and the language it's written in.</p>"
    },
    "AlertRuleQueryExpressionString":{
      "type":"string",
      "max":10000,
      "min":1
    },
    "AlertSortField":{
      "type":"string",
      "documentation":"<p>Field by which alerts can be sorted.</p>",
      "enum":[
        "NAME",
        "STATE"
      ]
    },
    "AlertSortOrder":{
      "type":"string",
      "documentation":"<p>Sort order for list results.</p>",
      "enum":[
        "ASC",
        "DESC"
      ]
    },
    "AlertState":{
      "type":"string",
      "documentation":"<p>Flat alert state. Severity is folded in: a WARNING/CRITICAL alert reports that state directly. {@code NODATA} indicates the evaluation produced no data (subject to the rule's noData.treatAs handling).</p>",
      "enum":[
        "OK",
        "WARNING",
        "CRITICAL",
        "NODATA"
      ]
    },
    "AlertStateData":{
      "type":"structure",
      "members":{
        "thresholdBreached":{
          "shape":"Double",
          "documentation":"<p>For COUNT_OF_RESULTS alerts, the row count that breached; null for FIELD_VALUE (multi-contributor) alerts.</p>"
        }
      },
      "documentation":"<p>Structured detail about the current evaluation.</p>"
    },
    "AlertStateInfo":{
      "type":"structure",
      "required":["value"],
      "members":{
        "value":{
          "shape":"AlertState",
          "documentation":"<p>Current flat state.</p>"
        },
        "transitionedAt":{
          "shape":"Timestamp",
          "documentation":"<p>When the alert transitioned to its current state.</p>"
        },
        "contributorSummary":{
          "shape":"ContributorSummary",
          "documentation":"<p>Counts of contributors currently breaching each severity threshold. Present only when contributor-level tracking is active; absent until the first contributor breaches a {@code WARNING} or {@code CRITICAL} threshold.</p>"
        },
        "data":{
          "shape":"AlertStateData",
          "documentation":"<p>Structured detail about why the alert is in its current state.</p>"
        }
      },
      "documentation":"<p>Live evaluation state for an alert. Read-only, system-managed.</p>"
    },
    "AlertStateList":{
      "type":"list",
      "member":{"shape":"AlertState"},
      "documentation":"<p>List of alert states.</p>",
      "max":4,
      "min":0
    },
    "AlertSummary":{
      "type":"structure",
      "required":[
        "name",
        "state",
        "createdAt",
        "updatedAt",
        "alertArn"
      ],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the alert.</p>"
        },
        "alertId":{
          "shape":"AlertId",
          "documentation":"<p>The stable alert identifier (see {@link Alert#alertId}). Use it to address the alert; it is also the ARN's resource id.</p>"
        },
        "spaceId":{
          "shape":"SpaceId",
          "documentation":"<p>The ID of the space the alert belongs to.</p>"
        },
        "profileId":{
          "shape":"ProfileId",
          "documentation":"<p>The ID of the access profile associated with the alert.</p>"
        },
        "notificationStatus":{
          "shape":"NotificationStatus",
          "documentation":"<p>Whether notifications are enabled.</p>"
        },
        "state":{
          "shape":"AlertStateInfo",
          "documentation":"<p>Live evaluation state (read-only, system-managed).</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the alert was created.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the alert was last updated.</p>"
        },
        "alertArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the alert.</p>"
        }
      },
      "documentation":"<p>Summary representation of an alert used in list responses.</p>"
    },
    "AlertSummaryList":{
      "type":"list",
      "member":{"shape":"AlertSummary"},
      "documentation":"<p>List of alert summaries.</p>"
    },
    "ApiKeyCredential":{
      "type":"structure",
      "required":["apiKeyValue"],
      "members":{
        "apiKeyValue":{
          "shape":"ApiKeyCredentialApiKeyValueString",
          "documentation":"<p>The API key value used to authenticate with the external system.</p>"
        }
      },
      "documentation":"<p>An API key used to authenticate an integration with its external system.</p>",
      "sensitive":true
    },
    "ApiKeyCredentialApiKeyValueString":{
      "type":"string",
      "min":1,
      "sensitive":true
    },
    "Arn":{
      "type":"string",
      "documentation":"<p>An Amazon Resource Name (ARN).</p>",
      "max":2048,
      "min":1,
      "pattern":"arn:.+"
    },
    "AssumeStatus":{
      "type":"string",
      "documentation":"<p>The calling principal's authorization to assume an access profile.</p>",
      "enum":[
        "ALLOWED",
        "DENIED"
      ]
    },
    "AuthType":{
      "type":"string",
      "documentation":"<p>The authentication method that an integration uses to connect to its external system.</p>",
      "enum":[
        "NONE",
        "OAUTH2",
        "API_KEY"
      ]
    },
    "AwsCredentials":{
      "type":"structure",
      "required":[
        "accessKeyId",
        "secretAccessKey",
        "sessionToken",
        "expiration"
      ],
      "members":{
        "accessKeyId":{
          "shape":"AccessKeyId",
          "documentation":"<p>The AWS access key ID.</p>"
        },
        "secretAccessKey":{
          "shape":"SecretAccessKey",
          "documentation":"<p>The AWS secret access key.</p>"
        },
        "sessionToken":{
          "shape":"SessionToken",
          "documentation":"<p>The AWS session token.</p>"
        },
        "expiration":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the credentials expire.</p>"
        }
      },
      "documentation":"<p>A set of temporary AWS credentials.</p>",
      "sensitive":true
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "ClientToken":{
      "type":"string",
      "documentation":"<p>Idempotency token for safe retries. Repeated requests with the same token return the original result instead of creating a duplicate.</p>",
      "max":64,
      "min":1,
      "pattern":"[!-~]+"
    },
    "Comparator":{
      "type":"string",
      "documentation":"<p>Comparison operator for a threshold.</p>",
      "enum":[
        "GT",
        "LT",
        "GTE",
        "LTE"
      ]
    },
    "ConflictException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>A human-readable description of the conflict.</p>"
        },
        "conflictType":{
          "shape":"String",
          "documentation":"<p>The type of conflict that caused the request to fail. Not always present.</p>"
        },
        "resourceId":{
          "shape":"String",
          "documentation":"<p>The identifier of the resource that is in conflict. Not always present.</p>"
        },
        "resourceType":{
          "shape":"String",
          "documentation":"<p>The type of the resource that is in conflict. Not always present.</p>"
        },
        "errorCode":{
          "shape":"String",
          "documentation":"<p>The error code associated with the conflict. Not always present.</p>"
        }
      },
      "documentation":"<p>The operation could not be completed because of a conflict with the current state of the resource.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ContextConditionsMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"StringList"},
      "documentation":"<p>Map of context condition keys to lists of allowed values. Used for fine-grained access control on integrations.</p>",
      "max":10,
      "min":0
    },
    "ContextGraphAttributeMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"},
      "documentation":"<p>Attribute map for the unpromoted tail on a context graph node or edge. Holds only the keys that did not land on a typed properties member, so a value is never reported in two places.</p>",
      "max":100,
      "min":0
    },
    "ContextGraphId":{
      "type":"string",
      "documentation":"<p>Context graph node identifier.</p>",
      "max":256,
      "min":1
    },
    "ContextGraphName":{
      "type":"string",
      "documentation":"<p>Context graph node name.</p>",
      "max":512,
      "min":1
    },
    "ContributorSummary":{
      "type":"structure",
      "members":{
        "warningCount":{
          "shape":"Integer",
          "documentation":"<p>Number of contributors currently breaching the warning threshold.</p>"
        },
        "criticalCount":{
          "shape":"Integer",
          "documentation":"<p>Number of contributors currently breaching the critical threshold.</p>"
        }
      },
      "documentation":"<p>Counts of contributors currently breaching each severity threshold.</p>"
    },
    "CreateAccessGrantInput":{
      "type":"structure",
      "required":[
        "domainId",
        "spaceId",
        "name",
        "principal",
        "permission"
      ],
      "members":{
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The ID of the domain that contains the space.</p>"
        },
        "spaceId":{
          "shape":"SpaceId",
          "documentation":"<p>The ID of the space to scope the grant to.</p>"
        },
        "name":{
          "shape":"CreateAccessGrantInputNameString",
          "documentation":"<p>A name that identifies the access grant.</p>"
        },
        "principal":{
          "shape":"AccessGrantPrincipal",
          "documentation":"<p>The principal receiving the grant.</p>"
        },
        "permission":{
          "shape":"AccessGrantPermission",
          "documentation":"<p>The permission to grant. Exactly one permission is granted per request.</p>"
        },
        "scopedActions":{
          "shape":"ScopedActionsList",
          "documentation":"<p>Groups of actions to allow, each with the resource scopes and conditions that limit those actions.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to associate with the access grant.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Idempotency token for safe retries. Repeated requests with the same token return the original result instead of creating a duplicate.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateAccessGrantInputNameString":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9_-]+"
    },
    "CreateAccessGrantOutput":{
      "type":"structure",
      "required":["accessGrant"],
      "members":{
        "accessGrant":{
          "shape":"AccessGrant",
          "documentation":"<p>The details of the created access grant.</p>"
        }
      }
    },
    "CreateAccessProfileInput":{
      "type":"structure",
      "required":[
        "spaceId",
        "name"
      ],
      "members":{
        "spaceId":{
          "shape":"SpaceId",
          "documentation":"<p>The unique ID of the space to create the profile in.</p>"
        },
        "name":{
          "shape":"AccessProfileName",
          "documentation":"<p>A name that identifies the access profile.</p>"
        },
        "description":{
          "shape":"CreateAccessProfileInputDescriptionString",
          "documentation":"<p>An optional description of the access profile.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to associate with the access profile.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Idempotency token for safe retries. Repeated requests with the same token return the original result instead of creating a duplicate.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateAccessProfileInputDescriptionString":{
      "type":"string",
      "max":1024,
      "min":0
    },
    "CreateAccessProfileOutput":{
      "type":"structure",
      "required":["accessProfile"],
      "members":{
        "accessProfile":{
          "shape":"AccessProfile",
          "documentation":"<p>The access profile.</p>"
        }
      }
    },
    "CreateAlertInput":{
      "type":"structure",
      "required":[
        "spaceId",
        "profileId",
        "name",
        "rule"
      ],
      "members":{
        "spaceId":{
          "shape":"SpaceId",
          "documentation":"<p>The unique ID of the space to create the alert in.</p>"
        },
        "profileId":{
          "shape":"ProfileId",
          "documentation":"<p>The ID of the access profile the alert uses to evaluate its query and execute notifications. The caller supplies it: there is no managed alert profile, and the service does not pick one on the caller's behalf.</p>"
        },
        "name":{
          "shape":"CreateAlertInputNameString",
          "documentation":"<p>Alert name, for display. Max 256 (the AlarmName budget). Not the alert's identity: the backend mints a separate uuid as the {@link AlertId}, so the name need not be unique within a space and addressing an alert never depends on it. UpdateAlert accepts a new name to rename the alert.</p>"
        },
        "description":{
          "shape":"CreateAlertInputDescriptionString",
          "documentation":"<p>An optional description of the alert.</p>"
        },
        "rule":{
          "shape":"Rule",
          "documentation":"<p>The rule that defines how the alert is evaluated.</p>"
        },
        "notificationsEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Whether actions (notifications) are enabled for this alert. Defaults to true when omitted.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to associate with the alert.</p>"
        },
        "notificationRules":{
          "shape":"NotificationRuleList",
          "documentation":"<p>The notification rules that determine when and where notifications are sent.</p>"
        },
        "clientToken":{
          "shape":"CreateAlertInputClientTokenString",
          "documentation":"<p>Idempotency token for safe retries. Retrying with the same token within the idempotency window returns the original alert instead of creating a duplicate.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateAlertInputClientTokenString":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[\\u0021-\\u007E]+"
    },
    "CreateAlertInputDescriptionString":{
      "type":"string",
      "max":1024,
      "min":0
    },
    "CreateAlertInputNameString":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9_.@~()-]+"
    },
    "CreateAlertOutput":{
      "type":"structure",
      "required":["alert"],
      "members":{
        "alertArn":{
          "shape":"Arn",
          "documentation":"<p>Deprecated. Use <code>alert.alertArn</code>, which carries the same value. Kept so an existing caller keeps working while it moves to <code>alert</code>.</p>"
        },
        "alert":{
          "shape":"Alert",
          "documentation":"<p>The alert that was created. The same <code>Alert</code> shape GetAlert returns, so a caller need not read the alert back to learn its timestamps or its minted alert id.</p> <p>{@code alert.state} is absent here — see the <code>state</code> member of <code>Alert</code>. Every other member is populated exactly as GetAlert populates it.</p>"
        }
      }
    },
    "CreateDomainAccessGrantForOrganizationInput":{
      "type":"structure",
      "required":[
        "domainId",
        "name",
        "principal",
        "permission"
      ],
      "members":{
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The ID of the organization domain to create the grant on.</p>"
        },
        "name":{
          "shape":"CreateDomainAccessGrantForOrganizationInputNameString",
          "documentation":"<p>A name that identifies the access grant.</p>"
        },
        "principal":{
          "shape":"OrganizationAccessGrantPrincipal",
          "documentation":"<p>The principal receiving the grant.</p>"
        },
        "permission":{
          "shape":"OrganizationGrantPermission",
          "documentation":"<p>The permission to grant.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to associate with the access grant.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Idempotency token for safe retries. Repeated requests with the same token return the original result instead of creating a duplicate.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateDomainAccessGrantForOrganizationInputNameString":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9_-]+"
    },
    "CreateDomainAccessGrantForOrganizationOutput":{
      "type":"structure",
      "required":["accessGrant"],
      "members":{
        "accessGrant":{
          "shape":"OrganizationAccessGrant",
          "documentation":"<p>The details of the created organization access grant.</p>"
        }
      }
    },
    "CreateDomainForOrganizationInput":{
      "type":"structure",
      "required":[
        "name",
        "identityProviders",
        "domainAccessRoleArn"
      ],
      "members":{
        "name":{
          "shape":"CreateDomainForOrganizationInputNameString",
          "documentation":"<p>A name that identifies the organization domain. Must be 3-63 characters: lowercase letters, numbers, and hyphens. It must begin and end with a letter or number and cannot contain consecutive hyphens.</p>"
        },
        "identityProviders":{
          "shape":"IdentityProviderList",
          "documentation":"<p>The identity providers to configure for the domain.</p>"
        },
        "identityProviderConfiguration":{
          "shape":"IdentityProviderConfiguration",
          "documentation":"<p>Identity provider configuration for the domain.</p>"
        },
        "domainAccessRoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The ARN of an IAM role in the management account used for domain access. You must create this role, and its trust policy must allow the service principal to assume it.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to associate with the domain.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Idempotency token for safe retries. Repeated requests with the same token return the original result instead of creating a duplicate.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateDomainForOrganizationInputNameString":{
      "type":"string",
      "max":63,
      "min":3,
      "pattern":"[a-z0-9]+(-[a-z0-9]+)*"
    },
    "CreateDomainForOrganizationOutput":{
      "type":"structure",
      "required":["organizationDomain"],
      "members":{
        "organizationDomain":{
          "shape":"OrganizationDomain",
          "documentation":"<p>The details of the created organization domain.</p>"
        }
      }
    },
    "CreateDomainInput":{
      "type":"structure",
      "required":[
        "name",
        "identityProviders"
      ],
      "members":{
        "name":{
          "shape":"CreateDomainInputNameString",
          "documentation":"<p>A name that identifies the domain. Must be 3-63 characters: lowercase letters, numbers, and hyphens. It must begin and end with a letter or number and cannot contain consecutive hyphens.</p>"
        },
        "identityProviders":{
          "shape":"IdentityProviderList",
          "documentation":"<p>The identity providers to configure for the domain.</p>"
        },
        "identityProviderConfiguration":{
          "shape":"IdentityProviderConfiguration",
          "documentation":"<p>Identity provider configuration for the domain.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to associate with the domain.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Idempotency token for safe retries. Repeated requests with the same token return the original result instead of creating a duplicate.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateDomainInputNameString":{
      "type":"string",
      "max":63,
      "min":3,
      "pattern":"[a-z0-9]+(-[a-z0-9]+)*"
    },
    "CreateDomainOutput":{
      "type":"structure",
      "required":["domain"],
      "members":{
        "domain":{
          "shape":"Domain",
          "documentation":"<p>The details of the created domain.</p>"
        }
      }
    },
    "CreateIntegrationInput":{
      "type":"structure",
      "required":[
        "integrationType",
        "name"
      ],
      "members":{
        "integrationType":{
          "shape":"IntegrationType",
          "documentation":"<p>The type of third-party provider to integrate with.</p>"
        },
        "name":{
          "shape":"CreateIntegrationInputNameString",
          "documentation":"<p>The name for the new integration; unique within the account.</p>"
        },
        "credential":{
          "shape":"IntegrationCredential",
          "documentation":"<p>The credential used to authenticate with the third-party provider.</p>"
        },
        "integrationAttributes":{
          "shape":"CreateIntegrationInputIntegrationAttributesMap",
          "documentation":"<p>Provider-specific attributes to associate with the integration.</p>"
        },
        "roleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name of the IAM role assumed to access the integration.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags to apply to the integration at creation time (Tagris tag-on-create).</p>"
        },
        "clientToken":{
          "shape":"CreateIntegrationInputClientTokenString",
          "documentation":"<p>Idempotency token for safe retries. Retrying with the same token returns the original integration instead of creating a duplicate.</p>",
          "idempotencyToken":true
        }
      },
      "documentation":"<p>The request for creating an integration with a third-party provider.</p>"
    },
    "CreateIntegrationInputClientTokenString":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[!-~]+"
    },
    "CreateIntegrationInputIntegrationAttributesMap":{
      "type":"map",
      "key":{"shape":"CreateIntegrationInputIntegrationAttributesMapKeyString"},
      "value":{"shape":"CreateIntegrationInputIntegrationAttributesMapValueString"},
      "max":50,
      "min":0
    },
    "CreateIntegrationInputIntegrationAttributesMapKeyString":{
      "type":"string",
      "max":128,
      "min":0
    },
    "CreateIntegrationInputIntegrationAttributesMapValueString":{
      "type":"string",
      "max":4096,
      "min":0
    },
    "CreateIntegrationInputNameString":{
      "type":"string",
      "max":256,
      "min":1
    },
    "CreateIntegrationOutput":{
      "type":"structure",
      "required":["integration"],
      "members":{
        "integration":{
          "shape":"Integration",
          "documentation":"<p>The details of the created integration. This is the same object returned by GetIntegration and UpdateIntegration.</p>"
        }
      },
      "documentation":"<p>The response from creating an integration.</p>"
    },
    "CreateOmniDashboardInput":{
      "type":"structure",
      "required":[
        "spaceId",
        "name",
        "body"
      ],
      "members":{
        "spaceId":{
          "shape":"SpaceId",
          "documentation":"<p>The unique ID of the space to create the dashboard in.</p>"
        },
        "name":{
          "shape":"CreateOmniDashboardInputNameString",
          "documentation":"<p>A name that identifies the dashboard.</p>"
        },
        "body":{
          "shape":"CreateOmniDashboardInputBodyString",
          "documentation":"<p>The dashboard definition, as a JSON document. Maximum 1 MiB.</p>"
        },
        "description":{
          "shape":"CreateOmniDashboardInputDescriptionString",
          "documentation":"<p>An optional description of the dashboard.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to associate with the dashboard.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Idempotency token for safe retries. Repeated requests with the same token return the original result instead of creating a duplicate.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateOmniDashboardInputBodyString":{
      "type":"string",
      "max":1048576,
      "min":1
    },
    "CreateOmniDashboardInputDescriptionString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "CreateOmniDashboardInputNameString":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9_.@~()-]+"
    },
    "CreateOmniDashboardOutput":{
      "type":"structure",
      "required":["omniDashboard"],
      "members":{
        "omniDashboard":{
          "shape":"OmniDashboard",
          "documentation":"<p>The dashboard.</p>"
        }
      }
    },
    "CreateOneTimeDeepLinkCodeInput":{
      "type":"structure",
      "required":["domainId"],
      "members":{
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The ID of the domain to generate the code for.</p>"
        },
        "ttlSeconds":{
          "shape":"CreateOneTimeDeepLinkCodeInputTtlSecondsInteger",
          "documentation":"<p>How long the code remains valid, in seconds. Defaults to 300.</p>"
        },
        "redirectUrl":{
          "shape":"String",
          "documentation":"<p>The URL to redirect to after the deep-link code is used. Must be an HTTPS URL in the domain with a path of /auth/callback, and cannot include a query string or fragment. If omitted, no redirect is applied.</p>"
        }
      }
    },
    "CreateOneTimeDeepLinkCodeInputTtlSecondsInteger":{
      "type":"integer",
      "box":true,
      "max":600,
      "min":60
    },
    "CreateOneTimeDeepLinkCodeOutput":{
      "type":"structure",
      "required":[
        "code",
        "deepLinkUrl",
        "expiresAt"
      ],
      "members":{
        "code":{
          "shape":"DeepLinkCode",
          "documentation":"<p>The one-time deep-link code.</p>"
        },
        "deepLinkUrl":{
          "shape":"DeepLinkUrl",
          "documentation":"<p>The deep-link URL containing the one-time code.</p>"
        },
        "expiresAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the code expires.</p>"
        }
      }
    },
    "CreateSpaceInput":{
      "type":"structure",
      "required":[
        "name",
        "domainId",
        "dataAccessRoleArn"
      ],
      "members":{
        "name":{
          "shape":"CreateSpaceInputNameString",
          "documentation":"<p>A name that identifies the space. Must be 3-64 characters: lowercase letters, numbers, and hyphens. It must begin and end with a letter or number and cannot contain consecutive hyphens.</p>"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The ID of the domain to create the space in.</p>"
        },
        "dataAccessRoleArn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the IAM role used for data access. The role must be in the caller's account.</p>"
        },
        "agentCoreEvaluationRoleArn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the IAM role used by AgentCore online evaluation. Must be in the caller's account. Omit if the space does not use AgentCore online evaluation.</p>"
        },
        "encryptionConfiguration":{
          "shape":"EncryptionConfiguration",
          "documentation":"<p>How to encrypt the space's data at rest. Omit for service owned encryption, which is equivalent to passing <code>encryptionStrategy</code> AWS_OWNED.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to associate with the space.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Idempotency token for safe retries. Repeated requests with the same token return the original result instead of creating a duplicate.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateSpaceInputNameString":{
      "type":"string",
      "max":64,
      "min":3,
      "pattern":"[a-z0-9]+(-[a-z0-9]+)*"
    },
    "CreateSpaceOutput":{
      "type":"structure",
      "required":["space"],
      "members":{
        "space":{
          "shape":"Space",
          "documentation":"<p>The details of the created space.</p>"
        }
      }
    },
    "CreateViewRequest":{
      "type":"structure",
      "required":[
        "name",
        "definition"
      ],
      "members":{
        "name":{
          "shape":"ViewName",
          "documentation":"<p>The name of the view. Must begin with the &quot;view.&quot; prefix. View names must be unique within the account and region.</p>"
        },
        "definition":{
          "shape":"ViewDefinition",
          "documentation":"<p>The SQL query that defines the view.</p>"
        },
        "description":{
          "shape":"ViewDescription",
          "documentation":"<p>A description of the view.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Resource tags.</p>"
        },
        "clientToken":{
          "shape":"CreateViewRequestClientTokenString",
          "documentation":"<p>Idempotency token for safe retries. Retrying with the same token returns the original view instead of creating a duplicate.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateViewRequestClientTokenString":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[!-~]+"
    },
    "CreateViewResponse":{
      "type":"structure",
      "required":[
        "name",
        "type",
        "definition",
        "createdAt",
        "updatedAt",
        "arn"
      ],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the view.</p>"
        },
        "type":{
          "shape":"ViewType",
          "documentation":"<p>The ownership category of the view.</p>"
        },
        "description":{
          "shape":"String",
          "documentation":"<p>The description of the view.</p>"
        },
        "definition":{
          "shape":"String",
          "documentation":"<p>The SQL query that defines the view.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the view was created.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the view was last updated.</p>"
        },
        "arn":{
          "shape":"String",
          "documentation":"<p>The ARN of the view.</p>"
        }
      }
    },
    "DashboardId":{
      "type":"string",
      "documentation":"<p>Dashboard identifier — a lowercase v4 UUID assigned when the dashboard is created.</p>",
      "max":36,
      "min":36,
      "pattern":"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "DeepLinkCode":{
      "type":"string",
      "documentation":"<p>A one-time deep-link code exchanged for a domain-scoped session. Sensitive: it can be redeemed for a session token, so it is redacted from request logs and CloudTrail.</p>",
      "sensitive":true
    },
    "DeepLinkUrl":{
      "type":"string",
      "documentation":"<p>A deep-link URL that embeds the one-time deep-link code. Sensitive: it carries the same redeemable code, so it is redacted from request logs and CloudTrail.</p>",
      "sensitive":true
    },
    "DeleteAccessGrantInput":{
      "type":"structure",
      "required":["grantId"],
      "members":{
        "grantId":{
          "shape":"GrantId",
          "documentation":"<p>The ID of the access grant to delete.</p>"
        }
      }
    },
    "DeleteAccessGrantOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteAccessProfileInput":{
      "type":"structure",
      "required":[
        "spaceId",
        "profileId"
      ],
      "members":{
        "spaceId":{
          "shape":"SpaceId",
          "documentation":"<p>The unique ID of the space.</p>"
        },
        "profileId":{
          "shape":"ProfileId",
          "documentation":"<p>The unique ID of the access profile to delete.</p>"
        }
      }
    },
    "DeleteAccessProfileOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteAlertInput":{
      "type":"structure",
      "required":[
        "spaceId",
        "alertId"
      ],
      "members":{
        "spaceId":{
          "shape":"SpaceId",
          "documentation":"<p>The unique ID of the space.</p>"
        },
        "alertId":{
          "shape":"AlertId",
          "documentation":"<p>The alert to delete.</p>"
        }
      }
    },
    "DeleteAlertOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteDomainAccessGrantForOrganizationInput":{
      "type":"structure",
      "required":["grantId"],
      "members":{
        "grantId":{
          "shape":"GrantId",
          "documentation":"<p>The ID of the access grant to delete.</p>"
        }
      }
    },
    "DeleteDomainAccessGrantForOrganizationOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteDomainForOrganizationInput":{
      "type":"structure",
      "required":["domainId"],
      "members":{
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The ID of the organization domain to delete.</p>"
        }
      }
    },
    "DeleteDomainForOrganizationOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteDomainInput":{
      "type":"structure",
      "required":["domainId"],
      "members":{
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique ID of the domain to delete.</p>"
        }
      }
    },
    "DeleteDomainOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteIntegrationInput":{
      "type":"structure",
      "required":["identifier"],
      "members":{
        "identifier":{
          "shape":"IntegrationIdentifier",
          "documentation":"<p>Identifies the integration to delete — exactly one of integrationId, integrationArn, or integrationName.</p>"
        }
      },
      "documentation":"<p>The request for deleting an integration.</p>"
    },
    "DeleteIntegrationOutput":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The response from deleting an integration. Empty by contract — a successful call indicates the deletion was accepted (DeleteIntegration is idempotent).</p>"
    },
    "DeleteOmniDashboardInput":{
      "type":"structure",
      "required":[
        "spaceId",
        "dashboardId"
      ],
      "members":{
        "spaceId":{
          "shape":"SpaceId",
          "documentation":"<p>The unique ID of the space.</p>"
        },
        "dashboardId":{
          "shape":"DashboardId",
          "documentation":"<p>The unique ID of the dashboard.</p>"
        }
      }
    },
    "DeleteOmniDashboardOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteSpaceInput":{
      "type":"structure",
      "required":["spaceId"],
      "members":{
        "spaceId":{
          "shape":"SpaceId",
          "documentation":"<p>The unique ID of the space to delete.</p>"
        }
      }
    },
    "DeleteSpaceOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteViewRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"ViewName",
          "documentation":"<p>The name of the view to delete.</p>"
        }
      }
    },
    "DeleteViewResponse":{
      "type":"structure",
      "members":{}
    },
    "Domain":{
      "type":"structure",
      "required":[
        "domainId",
        "domainArn",
        "identityProviders",
        "domainEndpointUrl",
        "region",
        "createdAt",
        "updatedAt",
        "status"
      ],
      "members":{
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique ID of the domain.</p>"
        },
        "domainArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the domain.</p>"
        },
        "name":{
          "shape":"DomainNameString",
[...]
