permissions:
  contents: read
  pages: write
  # Required per the following GH issue:
  # https://github.com/actions/deploy-pages/issues/9#issuecomment-1009157118
  # More details at:
  # https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/about-security-hardening-with-openid-connect#adding-permissions-settings
  id-token: write

name: Sphinx build

on:
  push:
    branches:
    - gh-pages

jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # version 4.2.2
    - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # version 5.6.0
      with:
        python-version: "3.12"
        cache: pip
    - name: Install dependencies
      run: make install
    - name: Build docs
      run: make html
    - name: Upload artifact
      uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # version 3.0.1
      with:
        path: _build/html
  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: 'Deploy to GitHub Pages'
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # version 4.0.5     
