name: Sphinx check

on:
  pull_request:
    branches:
    - gh-pages

jobs:
  check:
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # version 6.0.0
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # version 6.1.0
      with:
        python-version: "3.12"
        cache: pip
    - name: Install dependencies
      run: make install
    - name: Build HTML
      run: make html
    - name: Run checks
      run: make prcheck
